[2019-06-24 03:50] masashioms opened #2367 "Azure SQLDB does not support this event in the xevents."
We can't capture this event and Plan Guide Unsuccessful Event on Azure SQLDB. As we can use plan guide feature on SQLDB, it should be able to be captured those events as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a74d539-30f2-315f-f99f-53aaf8a4d3d1
* Version Independent ID: 5e956f35-1f10-4607-9cd8-e25f1a36fd

[2019-06-24 07:43] kristofzerbe opened #2368 "SSMS Update don't show latest download"
The builtin SSMS update dialog is always nagging me with new versions of SSMS, like today: "Updates are available to SQL Server Management Studio. Installed: 15.0.18118.0 - Latest: 15.0.18131.0" and the UPDATE button is leading me to the download page. But there is NO download of the latest version, because it shows me always the German page (last update 25.04.2019), which is always way behind the

[2019-06-24 08:29] fsackur opened #2369 "Document missing values for SQLServiceType enum"
Reddit user CobbITGuy has found and identified further possible values for this enum:

8   &lt;AD Helper Service?? or Notification Services??&gt;
9   &lt;SQL Full-text Filter Daemon Launcher W10/SQL2017&gt; (Service to launch full-text filter daemon process which will perform document filtering and word breaking for SQL Server full-text search. Disabling this service will make full-text search fea

[2019-06-24 09:05] MightyPen commented on #2364
@markingmyname  (Issue 2364)  Hi Mark, This is at least the second customer to notify us about an SSMS 18.1 problem.  Can you please look into this.

[2019-06-24 09:11] MightyPen commented on #2368
@markingmyname  (Issue 2368)  Hi Mark, can you please look into this SSMS concern.  Thanks.

[2019-06-24 09:40] BachNgX commented on #2364
Yesterday, I had deleted and uninstalled all component of SQL, then I downloaded SQL server again and SSMS 18.1 still blocked.
![setup](https://user-images.githubusercontent.com/34470659/60008718-bfe58500-969e-11e9-9999-4078a070b526.png)

[2019-06-24 12:12] BrianKrohn commented on #2358
If it helps, I followed the instructions in the link below to add the Linux software repo for Microsoft products after PolyBase failed to install the first time.  Adding the repo did not resolve the issue.
https://docs.microsoft.com/en-us/windows-server/administration/linux-package-repository-for-microsoft-software

[2019-06-24 14:12] hsalama1 opened #2370 "SQL recovery model is not set to Full after server upgrade from W2008 R2 to W2012 R2"
After a server upgrade from  W2008 R2 to W2012 R2, recovery model is set to full however backup is not working successfully...each time it makes full backup instead of incremental

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3d152c1-49ed-9263-75c0-4cd738582f50
* Version Independent ID: d2ead26c-c016-a9f2-b6ad-bc4653

[2019-06-24 14:43] markingmyname commented on #2273
Thank you, @pensivebrian.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-06-24 14:43] #2273 closed

[2019-06-24 14:48] Anmolgan81 opened #2371 "Can I store txt files inside azure sql database?"
Can I store txt files inside azure sql database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf421288-ba40-3904-72d1-07de1c69e211
* Version Independent ID: f388925a-a573-65ab-e0db-fe61245df123
* Content: [char and varchar (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/data-types/char-and-var

[2019-06-24 15:59] markingmyname commented on #2315
Thank you, @ite-klass, for your feedback.

The article will be updated with updated changes by the end of the week.

thank you.

[2019-06-24 15:59] markingmyname commented on #2315
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-06-24 15:59] #2315 closed

[2019-06-24 16:03] markingmyname commented on #2322
@anuraj,

Are you referring to the screenshots or the commands?

Please let us know.

Thank you.

[2019-06-24 16:24] MashaMSFT commented on #2343
Hi @dcallagh , Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

Thanks again fo

[2019-06-24 16:30] aminechafai opened #2372 "Detach/Attach consideration"
Since scenario 2 above will cause a down time, isn't better to use the detach/attach method instead of backup/restore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aae7da-b3c2-a0df-cdac-2ea7dd3adc82
* Version Independent ID: aed47ec8-1a51-b2b7-c6ed-dd82061cb23c
* Content: [Upgrade SQL Server instances running on Wi

[2019-06-24 16:52] MashaMSFT commented on #2361
Hi @yogigollapudi , thanks for contacting Microsoft! You can disable DTC with the same command, just setting DTC = none like so:

ALTER AVAILABILITY GROUP MyaAG
   SET (
      DTC_SUPPORT = NONE
      );

I've submitted a PR that includes this change in the documentation, it should be live later today.

Thanks!

[2019-06-24 16:58] MashaMSFT commented on #2364
Hi @BachNgX , can you please try downloading SSMS from this link? https://go.microsoft.com/fwlink/?linkid=2094583
Do you still see the same error?

If you do still see the error,  would you mind providing a screenshot indicating the preferred language for your system? You can find that setting with these steps:
1. Open Settings.
2. Click on Time & Language.
3. Click on Language.

Thanks!

[2019-06-24 17:00] MashaMSFT commented on #2370
Hi @hsalama1 , thanks for contacting Microsoft! This sounds like a support issue, and not an issue with the documentation, but I can try to provide some preliminary assistance. Can you please provide steps or scripts, for how you're taking the backup?

Thanks!

[2019-06-24 17:06] MashaMSFT commented on #2372
Hi @aminechafai , thanks for contacting Microsoft! Actually, restoring a backup rather than detaching is the safer method, and allows for an easier rollback path. What if, for some reason, you can no longer attach the database? At least, if you take a back up and restore, you can easily go back if necessary.

I hope that helps and please let me know if we can be of further assistance! If not, we'l

[2019-06-24 17:19] WilliamAntonRohm commented on #2372
@MashaMSFT -- thank for your replying, I have assigned this issue to you.  Going forward, please assign such issues to yourself.

[2019-06-24 17:29] WilliamAntonRohm commented on #2371
@Anmolgan81 -- you can store text in an Azure SQL Database as a varchar field, up to 2GB in length.  The top of the article indicates that it applies to Azure SQL Database, and other products as well.

The article you mention indicates that a varchar field can be defined with either 1) a number indicating the length up to 8,000 characters, or 2) a literal **max** for a length up to 2 GB.

I am clo

[2019-06-24 17:29] #2371 closed

[2019-06-24 17:35] allanhirt commented on #2343
This is incorrect. A Workgroup Cluster (the variant of a WSFC that does not require AD DS) is meant to be used with DNS. DNS is often independent of AD in many organizations and not even MS-based. Therefore not requiring AD DS doesn't mean no DNS, and the Workgroup Cluster variant in Windows AFAIK is not tested with local DNS to each node so you most likely have an unsupported configuration.

Sinc

[2019-06-24 17:38] WilliamAntonRohm commented on #2369
@CarlRabeler -- the customer has determined there may be additional, undocumented, enum values -- I don't know how to verify these new values -- please process this issue 2369.

[2019-06-24 17:50] allanhirt commented on #2343
Also, please remember to configure DNS suffix to be the same on each node.
https://techcommunity.microsoft.com/t5/Failover-Clustering/Workgroup-and-Multi-domain-clusters-in-Windows-Server-2016/ba-p/372059

"Primary DNS Suffix Requirements

        Each cluster node needs to have a primary DNS suffix."

[2019-06-24 17:52] WilliamAntonRohm commented on #2367
@stevestein -- SQL Server Profiler appears to be deprecated, per https://docs.microsoft.com/en-us/sql/tools/sql-server-profiler/sql-server-profiler?view=sql-server-2017:

Please finish processing this issue 2367.

[2019-06-24 17:55] MashaMSFT commented on #2301
Hi @graystormtrooper ,

Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!

[2019-06-24 17:59] MashaMSFT commented on #2258
Hi @steveculshaw ,
Unfortunately, we were  unable to reproduce the issue :( At this point, we would recommend either opening a case up with support, or submitting a [bug](https://aka.ms/sqlfeedback) with repro instructions and environment details (like OS, SQL, version of BCP etc).

My apologies that the SQL Docs team was unable to assist you further with your issue, but please let us know if ther

[2019-06-24 18:03] Anmolgan81 commented on #2371
Hi William, can I store .txt files in azure sql database??

Regards
Anmol Ganju

________________________________
From: William Anton Rohm <notifications@github.com>
Sent: Monday, June 24, 2019 10:59:15 PM
To: MicrosoftDocs/sql-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/sql-docs] Can I store txt files inside azure sql database? (#2371)

@Anmolgan81<https://github.com/Anmolgan81> --

[2019-06-24 18:03] Anmolgan81 commented on #2371
I am talking about .txt files and not the text data type.

Regards
Anmol Ganju

________________________________
From: William Anton Rohm <notifications@github.com>
Sent: Monday, June 24, 2019 10:59:15 PM
To: MicrosoftDocs/sql-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/sql-docs] Can I store txt files inside azure sql database? (#2371)

@Anmolgan81<https://github.com/Anmolgan81> -- y

[2019-06-24 18:08] WilliamAntonRohm commented on #2089
@thebruuu -- as this issue 2089 seems dormant, I am closing it now.  If you have further questions, feel free to @ mention to continue this conversation.

CC: @pmasl  @MikeRayMSFT (ms.reviewer)

[2019-06-24 18:08] #2089 closed

[2019-06-24 18:10] MashaMSFT commented on #2294
Hi @bkscharf ,

Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!

[2019-06-24 18:23] msebolt commented on #2340
@danobri Thank you for the feedback!

The documentation has been updated.

[2019-06-24 18:23] #2340 closed

[2019-06-24 18:34] CarlRabeler commented on #2369
@WilliamAntonRohm I do not know either - will investigate

[2019-06-24 18:57] HJToland3 commented on #2352
#please-close

[2019-06-24 18:57] #2352 closed

[2019-06-24 18:58] noamo48 commented on #2352
@HJToland3  thank you!!!

[2019-06-24 19:59] fsackur commented on #2369
After logging this, I discovered a class in the same namespace called `RegServices`, which may hold the answer.

I ran this snippet on a SQL 2017 RTM installation:

[code]

I'm ready to bet that this is the full and complete answer, until vNext, anyway.

[2019-06-24 20:05] msebolt commented on #2066
@MightyPen @mburbea  I think this refers to accessing the key column while in explicit mode (using a schema) to which you can use a `JOIN` statement:

[code]

...and gain access to the key column.

[2019-06-24 20:20] mburbea commented on #2065
@MightyPen , thanks for the partial fix.
Unfortunately there is still this section in the article that claims that it is an int :(
![image](https://user-images.githubusercontent.com/213233/60049279-fa99ee00-969b-11e9-99e8-192876541bb9.png)

[2019-06-24 20:22] mburbea commented on #2066
Yeah, but you're basically doing the work twice. So with a schema it is impossible to get access to the `[key]` column. If that's the case it should be documented explicitly, as it is for the `type` column. Or `type` should remove this bit of language, as it makes it appear that `[key]` could be available.

[2019-06-24 20:26] MashaMSFT commented on #2339
Hi @LonnyNiederstadt ,

Thanks again for contacting Microsoft! The 50ms throttling is only applicable to automatic checkpointing. Indirect checkpoints are not throttled. The sqlcat article is referring to automatic checkpointing when it's discussing the throttling, they just didn't state it explicitly.

I hope that helps and please let me know if we could be of further assistance? If not, we will

[2019-06-24 21:23] dcallagh commented on #2343
Ahh well, the WSFC appears to 'expect' to be able to update DNS. Scenario:  we use non AD integrated, primary-secondary  DNS, and practice a failover of the cluster role node. The cluster throws an error (as opposed to the warning about dual subnet IP resources) . It fails to update the secondary read only DNS end with the new cluster role owner.  While this can be done manually it still shows the

[2019-06-24 21:31] allanhirt commented on #2343
So you have a WSFC problem, not an AG one.

Plenty of people deploy WSFCs where no automatic updates are allowed (AD integrated or not). This is why when you have multiple IP addresses, you put BOTH in DNS in this case, or have a process of dealing with it. It’s a choice, but it sounds like you’re not going to put both IP addresses in there, which means that until you manually update DNS with the

[2019-06-24 22:15] msebolt commented on #2066
@mburbea Sounds good, the document has been updated.

Please refer to the [forum](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/home) for product suggestions.

[2019-06-24 23:40] fpugh opened #2374 "Specify Join Keys please"
I PRESUME that you mean that sysjobactivity.job_history_id = sysjobhistory.instance_id

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42860196-2454-45d2-f2a8-760cf0a0f9cd
* Version Independent ID: 85b49171-3e96-6779-33df-7d0fd7c65919
* Content: [dbo.sysjobactivity (Transact-SQL) - SQL Server](https://docs.microsoft.com

[2019-06-25 00:10] rgwood opened #2375 "New features link is wrong"
Specifically this bit: "For information about the new features in In-Memory OLTP, see Columnstore indexes - what's new"

The linked page lists new features for columnstore indexes, nearly all of which are not related to in-memory OLTP. I'm guessing this was supposed to link somewhere else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-06-25 00:20] dcallagh commented on #2343
Alreadydone as per existing instructionsSent from my Samsung Galaxy smartphone.
-------- Original message --------From: Allan Hirt <notifications@github.com> Date: 25/6/19  3:50 am  (GMT+10:00) To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com> Cc: dcallagh <dcallagh@iname.com>, Mention <mention@noreply.github.com> Subject: Re: [MicrosoftDocs/sql-docs] Incomplete process (#2343) Also, please

[2019-06-25 00:22] dcallagh commented on #2343
Secondaries, in multi site non AD are the normSent from my Samsung Galaxy smartphone.
-------- Original message --------From: Allan Hirt <notifications@github.com> Date: 25/6/19  7:31 am  (GMT+10:00) To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com> Cc: dcallagh <dcallagh@iname.com>, Mention <mention@noreply.github.com> Subject: Re: [MicrosoftDocs/sql-docs] Incomplete process (#2343) So you

[2019-06-25 00:25] dcallagh commented on #2343
This and was a request to have this process updated WRT mirror steps. And to address that error, which will apply to the ag listener as well. Simply saying a manual dns update is required would address the issue.Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Allan Hirt <notifications@github.com> Date: 25/6/19  7:31 am  (GMT+10:00) To: MicrosoftDocs/sql-docs <sql-do

[2019-06-25 01:19] stevestein commented on #2175
@nahk-ivanov - the updated article is live.

Thanks again!

[2019-06-25 01:19] #2175 closed

[2019-06-25 01:34] graystormtrooper commented on #2301
Great. That's all, thanks.

[2019-06-25 01:52] #2301 closed

[2019-06-25 02:12] markingmyname commented on #2355
Hi @piersmyers,

 Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2019-06-25 02:20] WilliamAntonRohm commented on #2346
Steve -- please process this issue 2346 -- see related internal PR https://github.com/MicrosoftDocs/sql-docs-pr/pull/10768

[2019-06-25 02:21] WilliamAntonRohm commented on #2347
Steve -- please process this issue 2347 -- see related internal PR MicrosoftDocs/sql-docs-pr#10768

[2019-06-25 02:22] WilliamAntonRohm commented on #2348
Steve -- please process this issue 2348 -- see related internal PR MicrosoftDocs/sql-docs-pr#10768

[2019-06-25 02:46] WilliamAntonRohm commented on #2350
@markingmyname (Issue 2350) Hi Mark, please look into this SSMS 18.1 issue.

[2019-06-25 02:49] markingmyname commented on #2350
Hi @mr2001,

We are aware of this regression and there will be a message in the release notes specifying this regression planned to be posted live this week.

The product fix is planned for the next release.

We apologize for any inconvenience this has caused.

[2019-06-25 02:50] markingmyname commented on #2350
@dnethi and @Matteo-T for awareness.

[2019-06-25 02:51] markingmyname commented on #2350
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-06-25 02:51] #2350 closed

[2019-06-25 03:01] WilliamAntonRohm commented on #2092
@CarlRabeler -- please process this issue 2092.

[2019-06-25 03:04] WilliamAntonRohm commented on #2125
@rothja -- please process this aging issue 2125.

[2019-06-25 03:04] BachNgX commented on #2364
I downloaded SSMS from the link and I see the same error
Here is the screenshot for the system's language
![sl](https://user-images.githubusercontent.com/34470659/60066207-a260fb80-9730-11e9-9b87-cbe729895a95.png)

[2019-06-25 03:06] MashaMSFT commented on #2364
Hi @BachNgX , interesting, in that case, that installation should work. Is it possible that it's being blocked by some kind of security settings? Would you be able to test on a different machine?

Thanks!

[2019-06-25 03:19] stevestein commented on #2199
@SnowLeopard71 - Thanks for raising this issue. The article has been updated and should be live with the PERSISTED snippet within the next few days.

Thanks!

[2019-06-25 03:31] #2199 closed

[2019-06-25 03:34] BachNgX commented on #2364
Hi @MashaMSFT , Can you check the log file for me, please? I don't have another machine. Sorry.

Thanks!
[logfile.txt](https://github.com/MicrosoftDocs/sql-docs/files/3323435/logfile.txt)

[2019-06-25 05:01] thuannguy opened #2376 ""Allow Enclave Computations" option is missing"
I did all steps successfully until "Step 5: Provision enclave-enabled keys" where the "Allow Enclave Computations" option doesn't show up for me. Are there some missing steps that I need to do?

OS: Windows Server 2019 data center.
SQL Server 2019 CTP3 Eval - Developer version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-06-25 06:56] ALZDBA opened #2377 "fails on SSMS 18.1"
This fails first time with SSMS 18.1 !  ( Getting the list of objects from 'dbname' produces error and scripting stops )
Clicking "previous" and "next" again produces the script !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 222643c9-2ac1-11f6-4913-5e2e5216dfe6
* Version Independent ID: 7bb94693-57be-7775-0f40-ce7681

[2019-06-25 08:23] MightyPen commented on #2375
@rgwood Fixed, by private repo PR #10773.  The fix should be live on Docs website by late Tuesday June/25.
Thank you for submitting this Issue 2375. We hope to hear from you again.

I am now Closing this Issue 2375.
The @ notification mechanism continues to work even after an item is Closed, in case further communication is needed.

A very effective option that many customers like is to edit our d

[2019-06-25 08:23] #2375 closed

[2019-06-25 08:38] thuannguy commented on #2376
I got this very same error: https://social.msdn.microsoft.com/Forums/en-US/e5fd5f37-077d-4460-9d79-c663ad6f714f/sql-2019-missing-quotallow-enclave-computationsquot-amp-no-enclave-provider-found-for?forum=sqlsecurity

Information of my environment:
SQL Server Management Studio						15.0.18131.0 (v18.1)
Microsoft Analysis Services Client Tools						15.0.1347.0
Microsoft Data Access Components (MDAC)

[2019-06-25 09:19] fsackur commented on #2369
@CarlRabeler thank you for the merge! Should this be live yet?

[2019-06-25 10:56] yuharucan opened #2378 "Time rag after ALTER LOGIN xxx disable"
After "ALTER LOGIN xxx disable" on SQL Data Warehouse is executed, there is a few time rag until the login can not login. On my env. the time rag is 5 min. On SQL Server, there is no time rag.  How shoul we do if we want to apply "disable" immediately?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c6745ad-4152-28f8-0

[2019-06-25 14:32] markingmyname commented on #2368
Hi, @kristofzerbe,

The localized pages are always a bit behind, sometimes several weeks -- so while the bits are out there, we simply need to wait until the other locales pick up the new article changes and updates the different language versions to match the English version.

However, I can say this is a concern we are looking into to see how we can better direct non-English locales to the Engli

[2019-06-25 14:36] markingmyname commented on #2368
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-06-25 14:36] #2368 closed

[2019-06-25 15:00] VanMSFT commented on #2093
Thanks @ronitr! I added the supported SSMS version to the doc, and changed the author to Michal.

https://github.com/MicrosoftDocs/sql-docs-pr/pull/10775

@sqlchicken - Please let us know if you have any concerns. If this issue has been answered, I will go ahead and close this thread. Thanks for the doc suggestion!

[2019-06-25 15:45] CarlRabeler commented on #2369
should be live within a couple of hours

[2019-06-25 15:53] rothja commented on #2125
@WilliamAntonRohm @aldelar Sorry for the delay on this one. I'll try to get this fixed and closed out by the end of the week.

[2019-06-25 15:53] jaszymas commented on #2376
You have mostly likely encountered the bug, which is documented in the release notes at: https://docs.microsoft.com/en-us/sql/sql-server/sql-server-ver15-release-notes?view=sqlallproducts-allversions#loading-enclave-fails. The bug causes a failure when loading the enclave library. The checkbox does not appear in SSMS, because the server does not have an active enclave (due to the bug).

We have fi

[2019-06-25 16:03] CarlRabeler commented on #2092
This was addressed on 5/22/2019
#please-close

[2019-06-25 16:03] #2092 closed

[2019-06-25 16:07] rothja commented on #2349
@bricrsa Thanks for the feedback. I'll look at adding this soon.

[2019-06-25 16:42] MashaMSFT commented on #2364
Hi @BachNgX , unfortunately, if we're not able to rule out your machine / settings as the culprit, there is little more that I can do from the documentation perspective to help you, I am just a simple technical writer :( The log file just states that the installation was blocked. I tried installing with the same installation file, and it worked for me, which is why I suspect something in your envi

[2019-06-25 16:52] WilliamAntonRohm commented on #2311
@RachelAmbler thank you for your feedback.  We have updated the documentation and the change should be live tomorrow.

[2019-06-25 16:52] #2311 closed

[2019-06-25 17:16] MightyPen commented on #2376
The fine answer provided by jaszymas constitutes a Fix for this Issue 2376. Closing now.

@thuannguy  Thank you for submitting this Issue. We hope to hear from you again.

The @ notification mechanism continues to work even after an item is Closed, in case further communication is needed.

[2019-06-25 17:23] MightyPen commented on #2377
@markingmyname Hi Mark, can you please process this Issue 2377, about SSMS 18.1.  Thanks.

[2019-06-25 17:31] MightyPen commented on #2378
@yuharucan Thank you for bringing this to our attention. This Issues website is only able to handle shortcomings in our documentation. For concerns about the product itself, you can click the other button that is also at the bottom of the documentation article: click the button labeled "**This product**".

Also for general use, here is a list of links that some customers find useful:

- [UserVoice

[2019-06-25 17:31] #2378 closed

[2019-06-25 17:36] WilliamAntonRohm commented on #2369
@fsackur Thank you for your feedback.  This issue has been fixed and so I am now closing this issue 2369.

[2019-06-25 17:36] #2369 closed

[2019-06-25 17:52] WilliamAntonRohm commented on #2309
@mllab-nl Thank you for your feedback.  We have fixed this in the documentation and it should be live tomorrow.  I am closing this issue now.

[2019-06-25 17:52] #2309 closed

[2019-06-25 18:19] MashaMSFT commented on #2343
Hi @dcallagh, thanks again for reaching out! Sorry, would you mind clarifying what change you're suggesting?

There's a section here that states you need DNS:
A common DNS suffix is necessary for a Domain Independent Availability Group's Workgroup Cluster. To set and verify the DNS suffix on each Windows Server that will host a replica for the availability group, follow these instructions

Does th

[2019-06-25 18:24] allanhirt commented on #2343
He's talking more of adding something to the effect that if you have static DNS (whether it is write or read, which is updated from a writeable DNS server), you need to have a process to update it before you do a failover otherwise the network name isn't coming online. This isn't specific fo domain independent AGs, though. It's a general WSFC thing.

[2019-06-25 18:30] CarlRabeler commented on #2203
fixed
#please-close

[2019-06-25 18:30] #2203 closed

[2019-06-25 18:32] WilliamAntonRohm commented on #2338
@dimitri-furman Thank you for your feedback.  We have fixed this issue in the documentation, and it should be live tomorrow, so I am closing this Issue 2338 now.

[2019-06-25 18:32] #2338 closed

[2019-06-25 18:34] WilliamAntonRohm commented on #2345
@LuisGonzalezLT Thank you for your feedback.  We have fixed the documentation, and it should be live tomorrow, so I am closing this Issue 2345 now.

[2019-06-25 18:34] #2345 closed

[2019-06-25 19:27] MashaMSFT commented on #2361
Hi @yogigollapudi ,

Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!
Masha from SQL Docs team

[2019-06-25 19:41] MashaMSFT commented on #2343
would something like the below work?

If you have a static DNS that is being updated by a writeable DNS server, you will need to have a process in place to update the static DNS server before you perform a failover as otherwise the network name will not come online.

[2019-06-25 19:48] allanhirt commented on #2343
Not totally. Static DNS can be readable and/or writeable. His scenario is one writeable and one readable.

If you have a static DNS, you will need to have a process in place to update the DNS record associated with the listener or WSFC if you are using multiple subnets server before you perform a failover as otherwise the network name will not come online.

[2019-06-25 19:57] MashaMSFT commented on #2343
got it! Thanks Allan :)

[2019-06-26 01:00] jaszymas commented on #1957
We have updated the docs (the last paragraph in this section: https://docs.microsoft.com/en-us/sql/relational-databases/security/encryption/always-encrypted-cryptography?view=sqlallproducts-allversions#keys-key-stores-and-key-encryption-algorithms) to address this issue.

[2019-06-26 02:18] Matteo-T commented on #2364
Hi folks,
Yes, this is indeed a known issue that I'm investigating (see https://feedback.azure.com/forums/908035/suggestions/37483594/, which, by the way, is the best way to report issues/ideas/etc that are not documentation-specific)

In the interim, in order to get yourself unblocked, could you do this:
1) Close any SSMS you may be running
2) Run regedit.exe and delete this entire key:
    HKLM\

[2019-06-26 03:29] stevestein commented on #2155
@Piquet65 - Thanks for raising this issue!

The documentation was incorrect and has been updated.

[2019-06-26 03:29] stevestein commented on #2155
#please-close

[2019-06-26 03:29] #2155 closed

[2019-06-26 03:40] stevestein commented on #2230
@rbonomo - Thanks for raising this issue. I'm looking into the details and will reply when I

[2019-06-26 03:58] stevestein commented on #2321
@Chaz6 - Thanks for raising this issue!

There's no single reason to stop a LocalDB, and there's no requirement that you ever stop it. Because it's designed for small-scale applications and may not need to be running full time, you may, for example, want to stop the db to free up resources.

I'm going to go ahead and close this one. Thanks!

[2019-06-26 03:58] #2321 closed

[2019-06-26 04:13] stevestein commented on #2346
@WilliamAntonRohm - I'm not seeing this article update in [PR #10768](https://github.com/MicrosoftDocs/sql-docs-pr/pull/10768 )?

[2019-06-26 04:15] stevestein commented on #2347
@WilliamAntonRohm - I'm not seeing this article update in [PR #10768](https://github.com/MicrosoftDocs/sql-docs-pr/pull/10768 ) and the live article still doesn't say it applies to Azure SQL Database.

[2019-06-26 04:16] stevestein commented on #2348
@WilliamAntonRohm - I'm not seeing this article update in [PR #10768](https://github.com/MicrosoftDocs/sql-docs-pr/pull/10768 ) and the live article still doesn't say it applies to Azure SQL Database.

[2019-06-26 04:48] thuannguy commented on #2376
@MightyPen
https://github.com/MicrosoftDocs/sql-docs/commit/419f46ae2012bce65d670e40457aeb77256307a8#diff-171b0d35ed7df7953cc87e9c7b78bd08
It seems that the release note was updated yesterday and the part about that security enclave loading bug was removed. Is it still included in CTP 3.1?

[2019-06-26 05:47] MightyPen commented on #2376
@thuannguy I am unsure what you meant by the word "it".  But our proper practice is the treat the Release Notes as true, partly because they are well scrutinized before being published.

In this particular case, the previous text about the bug was deliberately removed.  Personally I take that to mean that the bug is fixed in CTP 3.1. It would be unusual for us to keep a list of old fixed bugs from

[2019-06-26 06:54] #2364 closed

[2019-06-26 08:59] dcallagh commented on #2343
Can the non domain joined primary DNS be made a role?Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Allan Hirt <notifications@github.com> Date: 26/6/19  5:49 am  (GMT+10:00) To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com> Cc: dcallagh <dcallagh@iname.com>, Mention <mention@noreply.github.com> Subject: Re: [MicrosoftDocs/sql-docs] Incomplete process (#2343)

[2019-06-26 15:43] jaszymas commented on #2376
Yes, the bug was fixed in CTP 3.1 (as I indicated earlier), and that's why the corresponding entry was removed from the release notes.

[2019-06-26 16:19] WilliamAntonRohm commented on #2196
@VanMSFT -- please process this aging Issue 2196.

[2019-06-26 16:45] viskri-msft opened #2382 "Bit -> Date, DateTime2"
SQL seems to allow bit to Date and DateTime2 conversions but the page says otherwise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84062379-c6f2-2af3-b1dd-560101d1fc0a
* Version Independent ID: 9c05fb90-d5ea-c494-e446-cd78a70a9785
* Content: [Data type conversion (Database Engine) - SQL Server](https://docs.microsoft

[2019-06-26 17:20] #2382 closed

[2019-06-26 17:24] WilliamAntonRohm commented on #2382
@viskri-msft -- thank you for your feedback. Technically, you are correct.  This is unlikely to arise, and we've decided to leave the article unchanged.

[2019-06-26 17:52] CarlRabeler commented on #2341
@gwalkey there are reasons to temporarily turn off and then turn back on temporal tables - if you turn them off and intend to remove them completely, it is your responsibility to remove those columns if you do not need them - as well as to design your application such that it does not care that these columns remain.

[2019-06-26 18:03] msebolt commented on #2158
Taking a look at the issue.

[2019-06-26 18:07] msebolt commented on #2163
Hi @MashaMSFT What is the item number created?

Since there is a work item created for this, the issue should be closed.  Gene, has made the request.

[2019-06-26 18:07] #2163 closed

[2019-06-26 19:19] MCTSQL opened #2383 "Documentation / Functionality Mismatch"
The documentation states that "A single credential can be mapped to multiple SQL Server logins."
However, current SQL Server 2017 (14.0.3076.1) functionality contradicts that statement:
Test:
1. Map credential C to SQL login L -Result: success
2. Map credential C to SQL login L2 -Result: Cannot add credential because it is already mapped to a login.

Error Details:
Add Credential failed for Login

[2019-06-26 19:38] MightyPen commented on #2267
@sudeepku Hi Sudeep, Last week this Issue 2267 had screenshots added to explain suggestions for how the TOC Search textbox feature might be changed.  The screenshots build on the points made by the original poster.
You may like to consider these ideas.

@rlhane @RegexPro

I am now Closing this Issue 2267, as a successful Issue. These ideas are interesting, and they have been communicated to the pr

[2019-06-26 19:38] #2267 closed

[2019-06-26 20:12] markingmyname commented on #2355
Hi @piersmyers,

We did notice a regression with this feature and are working on correcting it.

We've added this information to the [release notes article](https://docs.microsoft.com/en-us/sql/ssms/release-notes-ssms?view=sql-server-2017#known-issues-181).

We apologize for any inconvenience and are working on correcting it.

[2019-06-26 20:15] markingmyname commented on #2355
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-06-26 20:15] #2355 closed

[2019-06-26 20:15] Cornan opened #2384 "Include reference to view or procedure that will show these properties"
Please add references to any stored procedures or "system" views that will allow these properties to be retrieved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cd48b72-0326-a279-7ff4-f0ddad982d88
* Version Independent ID: 9af67e3e-4851-82d6-636d-573308d86f56
* Content: [SQL Server Agent Properties (History Page) - S

[2019-06-26 22:42] markingmyname commented on #2377
HI @ALZDBA,

Can I ask if this has happened to you more than once?  For Example, does this happen every time you try and generate scripts from eth wizard?

I was unable to repro the issue in my 18.1 SSMS version.

Please let me know.

Thank you.

[2019-06-27 02:59] thuannguy commented on #2376
thank you for your swift response. I can confirm that CTP 3.1 fixes my issue 😄

[2019-06-27 04:44] anuraj commented on #2322
@markingmyname Both or the document is not in sync with the screenshots.

[2019-06-27 07:03] MightyPen commented on #2267
Related:
- AzBoards > CeApex > Engineering > 92405

[2019-06-27 07:19] ktaranov opened #2385 "KB832524 no longer available"
https://support.microsoft.com/en-us/help/832524

Try searching Microsoft Support to find a solution

This KB refer in https://docs.microsoft.com/en-us/sql/t-sql/database-console-commands/dbcc-traceon-trace-flags-transact-sql?view=sql-server-2017 for **trace flag 1201**

Please return it.

[2019-06-27 09:15] FYfrog opened #2386 "CommonAncestor correctness"
Is CommonAncestor method supposed to work correctly?
The classical algorithm looks something like this

<pre><code>CREATE FUNCTION CommonAncestor
(
  @h1 hierarchyid,
  @h2 hierarchyid
)
RETURNS hierarchyid
AS
BEGIN
  DECLARE @h1Level smallint = @h1.GetLevel();
  DECLARE @h2Level smallint = @h2.GetLevel();

  WHILE @h1Level &gt; @h2Level
  BEGIN
    SET @h1 = @h1.GetAncestor(1);
    SET @h1Level =

[2019-06-27 10:21] Talon9 opened #2387 "Spelling"
I believe that it is STIsValid instead of STIsValida

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 234035e0-bedc-773c-b12d-4a4304eeba03
* Version Independent ID: 0c647683-e848-6d95-cbe4-68ea9c67ad6d
* Content: [OGC Methods on Geography Instances - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/spatial-geograph

[2019-06-27 11:33] jensenjk opened #2388 "SSMS 18.1 fails to install"
SSMS Install Error Code: A certificate was explicitly revoked by its issuer (0x800B010C)

received when installing ssms 18 or 18.1

[2019-06-27 12:47] marcusteh1238 opened #2389 "Config provided for SQL authentication through Node.js is wrong"
sql-docs/docs/connect/node-js/step-3-proof-of-concept-connecting-to-sql-using-node-js.md
In the above document, the config is written as
[code]
where it should be like
[code]
like in the doc provided for [Azure.](https://docs.microsoft.com/en-sg/azure/sql-database/sql-database-connect-query-nodejs)

[2019-06-27 13:23] MladjoA commented on #2387
Thanks @Talon9
FIx is on its way to prod docs

[2019-06-27 13:30] asmialoski commented on #2026
Hello,

I had the same issue. I was able to install SSMS after delete the key "HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\Microsoft SQL Server Management Studio" and the folder "C:\Program Files (x86)\Microsoft SQL Server Management Studio 18".

Regards,

[2019-06-27 15:10] jadarnel27 opened #2391 "Automatic seeding DMVs are not documented"
Hello!  I noticed that the following DMVs related to automatic seeding don't have dedicated documentation pages (that describe the different columns and their meanings / possible values) with the other AG-related DMVs:

[code]

It seems like they would would be linked from this page, but they are not:

[Always On Availability Groups Dynamic Management Views - Functions](https://docs.microsoft.com/

[2019-06-27 16:52] WilliamAntonRohm commented on #2196
@KalleOlaviNiemitalo -- thank you again for this information.  We have incorporated your feedback into the documentation and it should be live tomorrow.  I am closing this issue 2196 now.

[2019-06-27 16:52] #2196 closed

[2019-06-27 17:27] MightyPen commented on #2391
@MikeRayMSFT Hi Mike, I do not see that we have any reference articles dedicated to these two DMVs. Josh is offering to create the necessary PR for these two articles. I am inclined to say - "Yes thanks, please do!".
.
If you have concerns, please chime in today.  Else _Josh, yes please go ahead now and do create the PR_. In the PR, please @ notify both Mike and me.

CC: @jadarnel27

[2019-06-27 17:29] MightyPen commented on #2388
@markingmyname Hi Mark, please process this Issue 2388.

[2019-06-27 17:41] WilliamAntonRohm commented on #2383
https://github.com/MicrosoftDocs/sql-docs-pr/pull/10837

[2019-06-27 17:53] MightyPen commented on #2385
@ktaranov Hi Konstantin, We do not know why the KB832524 webpage was removed, but it was removed intentionally.  I will make one inquiry to try learning why it was removed, and I will send further @ notifications to you if I am successful.

I must now close this Issue 2385.

Thank you for submitting this Issue. We hope to hear from you again.

[2019-06-27 17:53] #2385 closed

[2019-06-27 17:58] MightyPen commented on #2385
@WilliamAntonRohm Hi William, can you please fix/remove the broken link, and then paste the PR number/link in here.  Thanks.

[2019-06-27 18:55] dphansen commented on #2207
@hfleitas Apologies for the delay. We are still investigating the issue.

[2019-06-27 19:26] MightyPen commented on #2385
Note: I sent email to Edison D. inquiring about the old KB 832524 webpage.

[2019-06-27 19:35] rdicroce opened #2394 "DATEDIFF does consider time zone"
The docs for DATEDIFF say:

This is demonstrably untrue. I am in the eastern US, so currently my timezone is UTC-4. On SQL Server 2017, executing `SELECT datediff(hour, GETDATE(), SYSDATETIMEOFFSET())` yields 4.

The docs should be fixed to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 340056a9-0593-4289

[2019-06-27 19:56] MashaMSFT commented on #2343
[edited comment to remove PII - MSFT]

[2019-06-27 20:00] #2258 closed

[2019-06-27 20:00] #2294 closed

[2019-06-27 20:01] #2339 closed

[2019-06-27 20:04] #2361 closed

[2019-06-27 20:09] MashaMSFT commented on #2370
Hi @hsalama1 , hope you're doing well! I wanted to follow up with you and see if you had the chance to grab the steps or script for taking the backup?

Thanks!
Masha from SQL Docs team

[2019-06-27 20:09] #2372 closed

[2019-06-27 20:39] dnethi commented on #2355
hi folks

thanks for reporting this issue. We have the fix and it will be in the next release, likely next month.

thanks,
Dinakar

[2019-06-27 20:54] VanMSFT commented on #2323
Closing this for now. Our Product Team is already working on a fix, and we'll update the documentation when it's ready. Please let us know if there are any further concerns.

[2019-06-27 20:54] #2323 closed

[2019-06-28 08:19] dakrdakr opened #2397 "Are you sure? - "As the source database is updated, the database snapshot is updated.""
Is following sentence (from first paragraph on this page) really correct?: "As the source database is updated, the database snapshot is updated.". I expected: "As the source database is updated, the database snapshot is NOT updated.".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2bcf755-2d2d-23bd-d4dc-0e0f2971f3df
*

[2019-06-28 10:41] xbcratos opened #2398 "Incorrect link"
The link for CTP 3.1 is not working. The current link is: pip3 install -r  https://private-repo.microsoft.com/python/ctp-3.1/mssqlctl/requirements.txt --user and the correct link is pip3 install -r  https://private-repo.microsoft.com/python/ctp3.1/mssqlctl/requirements.txt --user

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-06-28 13:04] SimonHellings opened #2400 "Incorrect remarks"
The remarks state:

sp_replrestart is used when the highest log sequence number (LSN) value at the Distributor **does match** the highest LSN value at the Publisher.

Should this read:
sp_replrestart is used when the highest log sequence number (LSN) value at the Distributor does **not** match the highest LSN value at the Publisher.

Kind regards

Simon

---
#### Document Details

⚠ *Do not edit t

[2019-06-28 14:02] rothja commented on #2398
@xbcratos I apologize for this error, and thanks for posting the correct link. I'll get this fixed immediately.

[2019-06-28 14:20] #2398 closed

[2019-06-28 14:27] gwalkey commented on #2341
Agreed.
although Entity Framework was the one throwing a rod as it pertains to
"as well as to design your application such that it does not care that these columns remain."

Also, adding a Temporal On/off feature to SSMS or ADS in the right-click Table context menu would be nice too , used more often than Stretch
:)

thanks again guys!

[2019-06-28 14:27] #2341 closed

[2019-06-28 15:22] markingmyname commented on #2388
Hi @jensenjk,

Have you come across this [thread](https://github.com/Aftnet/RetriX/issues/38) or this [thread](https://social.msdn.microsoft.com/Forums/en-US/9fad8d58-09fc-4143-95ee-0538a9373818/ssms-install-error-code-a-certificate-was-explicitly-revoked-by-its-issuer-0x800b010c?forum=sqltools)?

[2019-06-28 15:57] jensenjk commented on #2388
Have tried both - can't still install.

[2019-06-28 16:49] rothja commented on #2358
@BrianKrohn Sorry for the delayed response! I'm going to try this out and let you know if I can reproduce. BTW, are you installing SQL Server 2019 preview on your machine? I'm not sure this will work to add the package to SQL Server 2017 at this time. I'll investigate that part too. Thanks for your patience.

[2019-06-28 16:53] rothja commented on #2342
@msebolt @epretorious-work Thanks for your work on this and for finding a work around. Unfortunately, the earliest version of RHEL on Linux that we support is 7.3. See [https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup?view=sql-server-2017#system](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup?view=sql-server-2017#system). So I don't think we can add a note about

[2019-06-28 16:53] #2342 closed

[2019-06-28 16:54] rothja commented on #2279
@CeciAc Yes, I think wee need to close this unless there is any further data for the repository differences from our tests or the article. Thank you!

[2019-06-28 16:54] #2279 closed

[2019-06-28 16:57] WilliamAntonRohm commented on #2383
@MCTSQL Thank you for your feedback.  We have incorporated it into the documentation and it should be live by tomorrow.

I am closing this Issue 2383 now.

[2019-06-28 16:57] #2383 closed

[2019-06-28 17:02] rothja commented on #2017
@CeciAc @aversag I apologize for the very long delay in replying. I have created a content work item to track this request. We appreciate you responding as the article requested. We will triage this and consider adding this to the article in the future. Thanks, again!

[2019-06-28 17:02] #2017 closed

[2019-06-28 17:06] MightyPen commented on #2386
@rothja Hi Jason, can you please process this Issue #2386.  Thanks.

[2019-06-28 17:09] dphansen commented on #2207
@hfleitas The product team is currently working on an update of the **Install-MLModels.ps1** script to support SQL Server 2019. When ready, it will be available on the docs article mentioned in this GitHub issue. Thank you for your feedback. It is really appreciated.

[2019-06-28 17:09] #2207 closed

[2019-06-28 17:10] MightyPen commented on #2387
This seems to refer to PR:
https://github.com/Potapy4/sql-docs/pull/286

I am now closing this fixed/successful Issue #2387.
Thank you for submitting this Issue. We hope to hear from you again.

[2019-06-28 17:10] #2387 closed

[2019-06-28 17:16] MightyPen commented on #2394
@WilliamAntonRohm Hi William, can you please process this Issue #2394.  Thanks.

Ideally this Issue will not need to be assigned to ms.author MikeRayMSFT.

[2019-06-28 17:19] MightyPen commented on #2397
@WilliamAntonRohm you know the drill !

[2019-06-28 17:40] WilliamAntonRohm commented on #2209
@VanMSFT -- I am closing this aging issue now.  I've created a followup task https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1564567.

@ricoisme -- you are welcome to follow up with us as needed, please just @ mention one of us.

[2019-06-28 17:40] #2209 closed

[2019-06-28 17:43] WilliamAntonRohm commented on #2093
@VanMSFT -- I am closing this Issue #2093 now as it has been addressed.

[2019-06-28 17:43] #2093 closed

[2019-06-28 18:25] rayjohnson529 opened #2402 "STContains Red Squiggly When Checking a Polygon contained within Another"
I noticed that when using STContains on SSMS with SQL Server 2019

Not sure if this is an SSMS/SQL/etc. issue.

The function operates perfectly normal, but it always has a red squiggly with "Could not find method 'STContains' for type 'Microsoft.SqlServer.Types.SqlGeography' in assembly 'MicrosoftSqlServer.Types'.
on hover.

**Here are Specs**
SQL Server Management Studio						15.0.18131.0
Microso

[2019-06-28 20:00] sneevand opened #2403 "SQL 2019 on permise"
external table wizard do not work for sql server 2019 3.1 ctp

[2019-06-28 20:09] sneevand commented on #2403
fresh install resolved.

[2019-06-28 20:10] #2403 closed

[2019-06-28 20:48] swbhartims opened #2404 "Clarification required for Step 3.1 -- non-leaf level calculations log base (e or 10?)"
Calculate the number of non-leaf levels in the index:

Non-leaf Levels = 1 + log( Index_Rows_Per_Page) (Num_Leaf_Pages / Index_Rows_Per_Page)

It is unclear if the base is 10 or e.
Please refactor this line to indicate this value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acd0f89f-5bd7-5332-fbb5-2c362d9da599
* Ver

[2019-06-28 23:23] reggaeguitar opened #2405 "Links to keywords"
This page would be 10 times more useful if each keyword was a link to a documentation page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f79ec4df-5309-60fc-1c20-f32b219fb9b9
* Version Independent ID: 6ee85c34-9a2c-e007-dcda-fb6016b98119
* Content: [Reserved Keywords (Transact-SQL) - SQL Server](https://docs.microsoft.

[2019-06-29 02:25] azumbro opened #2406 "Possible Incorrect Wording"
Under the "Selecting Deterministic or Randomized Encryption" section, there is a sentence that says "However, but may also allow unauthorized users to guess information about encrypted values by examining patterns in the encrypted column, especially if there is a small set of possible encrypted values, such as True/False, or North/South/East/West region". I believe the second word in this sentence

[2019-06-29 08:24] slepmog opened #2407 "ACTIVESCRIPTING is removed in 2016, should reflect that"
Documentation for `sp_add_job` (https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-add-jobstep-transact-sql?view=sql-server-2017) should be fixed to reflect the fact that the `ACTIVESCRIPTING` option was actually [removed](https://docs.microsoft.com/en-us/sql/database-engine/discontinued-database-engine-functionality-in-sql-server-2016?view=sql-server-2017#discon

[2019-06-29 23:30] StingyJack opened #2408 "SSMS: How exactly can one do this?"
&gt; Use SSMS to query, design, and manage your databases and data warehouses, wherever they are - on your local computer, or in the cloud.

WHEN SSMS 18.1 CANNOT CONNECT TO SSIS SERVICES?????????????
THIS WAS BROKEN IN 18.0, AND STILL NOT FIXED IN 18.1???????????

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0

[2019-06-29 23:31] StingyJack commented on #2302
You Sir, are a gentleman and a scholar!

[2019-06-30 08:00] hfleitas opened #2410 "404"
I am looking for these droids.

https://github.com/microsoft/sql-server-samples/blob/master/samples/features/sql-big-data-cluster/spark/sparklm/mssql-mleap-app

https://github.com/microsoft/sql-server-samples/blob/master/samples/features/sql-big-data-cluster/spark/sparklm/mleap_sql_test/mleap_sql_tests.py

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-06-30 14:02] jensenjk commented on #2388
After adding the certificate as described in the first thread , i didn't work but after a reboot problem was solved..

[2019-06-30 14:03] jensenjk commented on #2388
Sorry, mixed up ´two servers - still cant install on the one server.
Still get the certificata revoked error

[2019-07-01 15:24] watfordgnf opened #2414 "Steps do not work on Windows 10 1809 and Docker 18.X LCOW or 19.X LCOW"
These steps are not possible to follow on Windows 10 1809 and Docker 18.X LCOW or 19.X LCOW. Under prerequisites it notes:
"...on any supported Linux distribution or **Docker for Mac/Windows**..."

1. You cannot follow these steps on Windows 10 1809 with Docker 18.X LCOW because you cannot launch Linux containers with the `-m` flag. You then install Docker Engine 19.X (edge).
2. You cannot follow

[2019-07-01 17:18] WilliamAntonRohm commented on #2404
@kfarlee -- Kevin, can you please determine the base for this logarithm, is it 10 or e?

[2019-07-01 17:22] WilliamAntonRohm commented on #2405
@reggaeguitar -- thank you for your feedback.  In many cases, these keywords depend on context.  I will pass along your suggestion.

I am closing this issue now.  You are welcome to @ mention me for any followup.

[2019-07-01 17:22] #2405 closed

[2019-07-01 17:30] WilliamAntonRohm commented on #2406
@azumbro -- thank you for your suggestion.  I will fix it, and it should be live tomorrow.

One option for any future issues you may find is to update the published documentation by using a pull request.  Use the edit pencil in the upper right of any article, then click the pencil on the GitHub page.

[2019-07-01 17:37] WilliamAntonRohm commented on #2407
@msebolt -- please look into this issue 2407.  Minor FYI, this article is owned by SteveStein.  However, this item might be resolvable in the triage stage.

[2019-07-01 17:40] WilliamAntonRohm commented on #2408
@StingyJack -- thank you for your feedback.  We are aware of this issue and are working on it.

CC: @markingmyname

[2019-07-01 17:43] WilliamAntonRohm commented on #2410
@hfleitas -- thank you for your inquiry.

@lgongmsft -- can you please help answer this Issue 2410.

CC: @rothja

[2019-07-01 17:46] WilliamAntonRohm commented on #2414
@watfordgnf -- thank you for your feedback.  We will look into this issue.

@rothja -- please process this Issue 2414.

[2019-07-01 17:52] watfordgnf commented on #2414
For point (2) above I'm unable to copy out the core dumps because the container never finishes writing them before stopping. I've added what details I do have to https://github.com/microsoft/mssql-docker/issues/441

[2019-07-01 17:52] WilliamAntonRohm commented on #2145
@rothja -- sys.server_triggers was not found on Azure when I tested it.

[2019-07-01 18:34] reggaeguitar opened #2416 "Possible typo"
In this sentence "In the following example, the CustomerID column in the WHERE clause of the outer query is implicitly qualified by the table name in the outer query FROM clause (Sales.Store)" should "CustomerID" say "BusinessEntityID" instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b727c932-4a39-5272-80cd-1a5e

[2019-07-01 18:41] MightyPen commented on #2403
@sneevand Glad it worked out for you.  :-)

[2019-07-01 19:05] julieMSFT commented on #2416
@reggaeguitar
thanks for bringing this to our attention! You are correct. I have made the upset to the document and you should see it later today. I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-07-01 19:05] julieMSFT commented on #2416
#10885

[2019-07-01 19:37] julieMSFT commented on #2416
#please-close

[2019-07-01 19:37] #2416 closed

[2019-07-01 19:49] StingyJack commented on #2408
@WilliamAntonRohm - are you also aware of how SSMS decides to hang for 10-20 seconds when I close a query tab?  And how it sometimes destroys the connections other query tabs have open, rendering the table unable to reconnect?

If you had a place to log issues other than Docs or devcomm, the drop in program reliability and quality would probably be clearer.   All you have though, is the MSDN forum

[2019-07-01 20:46] WilliamAntonRohm commented on #2406
@azumbro -- I am closing this issue now.  You are welcome to @ mention me for any followup.

[2019-07-01 20:46] #2406 closed

[2019-07-01 20:53] WilliamAntonRohm commented on #2416
@julieMSFT -- thank you for addressing and closing this Issue 2416.  I assigned you as author just for bookkeeping purposes; apologies for these superfluous GitHub notifications.

[2019-07-01 20:53] julieMSFT commented on #2416
Thanks William.

[2019-07-01 21:37] ibTnJohn opened #2417 "Ownership chain?"
We discovered that in a stored proc, Update Statistics will not execute unless the caller or "execute as" user has Alter Table, even if the ownership chain is not broken.  We did not see that explicitly spelled out in documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e28c075d-4756-d41f-7ef2-56bee48deaf1
* V

[2019-07-01 22:56] SQLAdrian opened #2418 "[Suggestion] Guarantees for Compatibility Level during upgrades"
I cannot find words around a guarantee on application behavior when upgrading from one server to another while retaining compatibility level.

Query plan protection only gives a guarantee on in-engine behavior, and not on the expected client behavior.

**Scenario:**
Assuming we have DB1 living on Server1(2008) on compat 100 and DMA comes back clear, we move DB1 to Server2(2017).

**Questions**

Wh

[2019-07-02 14:01] rothja commented on #2414
@watfordgnf Thank you for this feedback. I'll see if I can reproduce this. We want the documentation to be accurate. I'll try to get back to you within a few business days. Thank you for your patience.

[2019-07-02 14:41] kaesaecracker opened #2420 "Example is at the wrong position in the text"
This is in the text:

[code]

The example should be after the last sentence in Remarks. It has nothing to do with Permissions and should be moved up two paragraphs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 960815fc-a05d-b887-e5a8-e4aef6761000
* Version Independent ID: 4af0d0ae-c858-9b92-3058-a2e43f60bd8d
* Conten

[2019-07-02 15:33] AngryRhetoric opened #2421 "Spelling correction and a bit more details on loopback servers."
Well-written documentation!

However, the first note marked as "important" has a small typo.
Original message:
When an OLE DB provider is used, the account under which the SQL Server service runs must have read and execute permissions for the directory, and all subdirectories, in which the provider is installed. This includes Microsoft released provider, and any thirtd-party providers.

New messag

[2019-07-02 16:42] mikejwhitty opened #2422 "How does docs.ms rendering for GH Markdown?"
I came across the page: [HASHBYTES (Transact-SQL)](https://docs.microsoft.com/en-us/sql/t-sql/functions/hashbytes-transact-sql?view=sql-server-2017)

I noticed some odd formatting around the description of parameters (particularly the _@input_ bit) so I thought I'd try and do my bit to fix it.

so I went to the md file at: https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/t-sql/functions/ha

[2019-07-02 17:15] srutzky commented on #2417
Hi there, @ibTnJohn . What you are experiencing is the expected behavior. This is due to ownership chaining only implying permissions for `SELECT`, `INSERT`, `UPDATE`, `DELETE`, `MERGE`, and `EXEC(UTE)` statements. Hence you would run into the same situation if you were trying to issue `TRUNCATE TABLE` on a table having the same owner as the owner of the stored procedure.

To address this security

[2019-07-02 17:20] MightyPen commented on #2417
@srutzky Thank you very much for your in-depth answer.

@julieMSFT Julie, fyi you might want to consider whether to edit the article based on some of this information.

@ibTnJohn
Thank you for submitting this Issue. We hope to hear from you again.
The @ notification mechanism continues to work even after an item is Closed, in case further communication is needed.

[2019-07-02 17:20] #2417 closed

[2019-07-02 17:28] srutzky commented on #2417
@ibTnJohn (and others): Actually, I just noticed that I recently answered a related question on DBA.StackExchange, and that scenario required an additional step (the server-level piece) as it required giving permissions within `[tempdb]`. However, the extra step seems to be required only due to the use of the `WITH ROWCOUNT` clause. If you are not using that, then you might could get away with the

[2019-07-02 17:32] MightyPen commented on #2418
@SQLAdrian Thank you for your inquiry. The following ALTER DATABASE article does a reasonable job of explaining what customers can expect from the Compatibility Level settings.  If there is an advanced scenario that is not precisely described in the article, then testing of the scenario on the upgrade version might be advisable.

- https://docs.microsoft.com/sql/t-sql/statements/alter-database-tra

[2019-07-02 17:32] #2418 closed

[2019-07-02 17:47] Punk500 commented on #2302
18.0 has a launch issue.  18.1 crashes if you drag & drop anything.  Highly recommend 17.9.1!!! https://feedback.azure.com/forums/908035/suggestions/37887988

[2019-07-02 17:55] MightyPen commented on #2422
@mikejwhitty Thank you so much for bringing this formatting Issue 2422 to our attention.  We have cleaned up several articles that have a similar problem (leftover from an automated conversion to markdown).
Normally I would love to encourage you to create a Pull Request to fix this, as you volunteered. But this is a tricky case, partly because the editing system we offer does Not provide good feed

[2019-07-02 18:12] ronascentes opened #2423 "Incorrect syntax near 'WAIT_STATS_CAPTURE_MODE'."
This command could have a sintax error since it is not parsed:

ALTER DATABASE <database name>
SET QUERY_STORE (
    OPERATION_MODE = READ_WRITE,
    CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30),
    DATA_FLUSH_INTERVAL_SECONDS = 3000,
    MAX_STORAGE_SIZE_MB = 500,
    INTERVAL_LENGTH_MINUTES = 15,
    SIZE_BASED_CLEANUP_MODE = AUTO,
    QUERY_CAPTURE_MODE = AUTO,
    MAX_PLANS_PER_QUERY =

[2019-07-02 18:13] MightyPen commented on #2422
Fixed by 10898.
https://github.com/MicrosoftDocs/sql-docs-pr/pull/10898

@mikejwhitty I am now Closing this fixed Issue 2422.
The @ notification mechanism continues to work even after an item is Closed, in case further communication is needed.
Thank you for submitting this Issue. We hope to hear from you again.

[2019-07-02 18:13] #2422 closed

[2019-07-02 18:34] ibTnJohn commented on #2417
@srutzky I actually have referenced your Module Signing post in the past -- and thank you for your detailed answer here.  My main reason for posting was that I do not recall seeing in any documentation this nugget from your response: "This is due to ownership chaining only implying permissions for SELECT, INSERT, UPDATE, DELETE, MERGE, and EXEC(UTE) statements."   I have noted that behavior and th

[2019-07-02 18:45] srutzky commented on #2417
@ibTnJohn:

You are quite welcome. And I'm glad that my Module Signing post(s) has been helpful 😺 .

Really? I could have sworn that I read it somewhere and didn't just infer it from observed behavior. I will take a look to see if I can find it.

[2019-07-02 19:02] ibTnJohn commented on #2417
@srutzky  A Safari search shows It's in a few MSPress books (Itzik Ben-Gan is so thorough) and I see it on RedGate's site -- now that I made my search very specific.  But I don't see it in the MS documentation.  I could be missing it, or maybe it used to be there. Again, thanks for your help.

[2019-07-02 21:18] RexfelisLOC commented on #2408
No longer able to connect to any Azure SQL Database.  I receive the following error on all computers in my office:

"A connection was successfully established with the server; but then an error occurred during the pre-login handshake"

It's like a recent Windows 10 update which is causing this issue.

OS Version
10.0.18362 Build 18362

[2019-07-02 23:14] WilliamAntonRohm commented on #2402
@rayjohnson529 -- thank you for your feedback.

@MladjoA -- please look into this issue 2402.

[2019-07-03 01:04] KathiKellenberger opened #2424 "Conversion table is misleading"
There are too many implicit conversion symbols in this table. For example, varchar in the FROM lined up with int in the TO shows the implicit conversion symbol as expected. If you look at int in FROM and line it up with varchar in TO, it also shows the implicit conversion symbol which is not correct. I've always found the information in this page https://docs.microsoft.com/en-us/sql/t-sql/data-typ

[2019-07-03 02:09] srutzky commented on #2417
@ibTnJohn: the info must have been on an old MSDN or TechNet page that is no longer accessible. I found it here:

[SQL Server: Exploring Cross-Database Ownership Chaining](https://social.technet.microsoft.com/wiki/contents/articles/52875.sql-server-exploring-cross-database-ownership-chaining.aspx#Limitations)

That page was created not even 60 days ago, yet the "Limitations" section contains the f

[2019-07-03 02:12] Nubestic opened #2425 "Error on Creating Session"
Following all instruction and created credentials

CREATE EVENT SESSION [session2] ON DATABASE
ADD EVENT sqlserver.sql_statement_completed(
    ACTION(sqlserver.client_app_name,sqlserver.client_connection_id,sqlserver.client_hostname,sqlserver.client_pid,sqlserver.database_id,sqlserver.database_name,sqlserver.session_id,sqlserver.sql_text,sqlserver.username))
ADD TARGET package0.event_file(SET fil

[2019-07-03 06:02] anddrzejb opened #2426 "Powershell registration returns me a bunch of errors"
( https://docs.microsoft.com/en-us/sql/relational-databases/data-tier-applications/register-a-database-as-a-dac?view=sql-server-2017#RegisterDACPowerShell )

Trying to execute the script given in the manual, my powershell fails on first line:
`CD SQLSERVER:\SQL\localhost\DEFAULT`
with a message
[code]

I managed to solve this once I run
`invoke-sqlcmd`
and then
`CD SQLSERVER:\SQL\localhost\DEFAULT

[2019-07-03 11:12] jtpower opened #2427 "mssql-java:ctp3.1 not found"
Error response from daemon: manifest for private-repo.microsoft.com/mssql-private-preview/mssql-java:ctp3.1 not found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b19e2a7b-c117-a829-8fa1-8169eebf07ea
* Version Independent ID: 09c0053c-7966-9be0-2aec-09155189c482
* Content: [Deploy offline - SQL Server big data cluste

[2019-07-03 11:15] jtpower commented on #2427
#!/bin/bash
set -e

SQL_BDC_VERSION=ctp3.1

MICROSOFT_SQLBDC_PRIVATE_URL=private-repo.microsoft.com/mssql-private-preview
PRIVATE_URL=docker-private.com/private-sql-bdc-${SQL_BDC_VERSION}

images=(mssql-appdeploy-init:${SQL_BDC_VERSION}
mssql-monitor-fluentbit:${SQL_BDC_VERSION}
mssql-monitor-collectd:${SQL_BDC_VERSION}
mssql-server-data:${SQL_BDC_VERSION}
mssql-hadoop:${SQL_BDC_VERSION}
mssql-jav

[2019-07-03 12:03] MladjoA commented on #2402
@WilliamAntonRohm Ack.
@rayjohnson529 - thanks for reporting this. I have a repro and a new bug filed. We will keep you posted on progress.

[2019-07-03 15:47] jhays-nhaschools opened #2429 ""left over" > "leftover""
On the page described below, make the following typo correction:
"left over" > "leftover"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45eba8b0-0c31-d65b-f1ca-0ed260eb2f14
* Version Independent ID: fe2a79c1-6512-36f6-3118-cda7d18531de
* Content: [Using PIVOT and UNPIVOT - SQL Server](https://docs.microsoft.com/en-us/

[2019-07-03 16:01] rothja commented on #2427
@jtpower Thanks for letting us know about this error. @mihaelablendea, I've assigned this git issue to you to take a look at and see if you can help identify the solution. I'm including @MikeRayMSFT as well. Thank you!

[2019-07-03 16:38] IvanAlekseev opened #2430 "Sql Package doesn't override all connection string properties when username and password are set"
Regarding that page - https://docs.microsoft.com/en-us/sql/tools/sqlpackage

Looks like a bug was introduced in one of the recent versions of sqlpackage.exe
I am trying to publish a dacpac to azure database and previously when I set `TargetUser` and `TargetPassword` the whole connection string properties were overridden. But with the more recent version the publish command it still gets some bits

[2019-07-03 17:18] MashaMSFT commented on #2370
Hi @hsalama1 , hope your day is going well! I wanted to follow up with you once more and see if you had the chance to grab the scripts for taking the backup? Please note, if we don't hear back from you in a few business days, we'll be closing out this Git Issue.

Thanks!
Masha from the SQL Docs team

[2019-07-03 17:23] MightyPen commented on #2423
@ronascentes Hi Rodrigo, I am not convinced there is anything wrong with the documentation and this code example. In the doc, the database name is represented by a placeholder `<database name>`. But the copy of the example pasted in your original comment has neither the placeholder nor a database name.
When I test the code example with an actual database name, it works fine, in SQL Server **2017**

[2019-07-03 17:23] #2423 closed

[2019-07-03 17:34] MightyPen commented on #2429
Fixing this Issue 2429 with PR 10912.
`https://github.com/MicrosoftDocs/sql-docs-pr/pull/10912`

[2019-07-03 17:49] msebolt commented on #2424
@KathiKellenberger @MikeRayMSFT Can you address this concern for a change to graphic?

[2019-07-03 17:59] WilliamAntonRohm commented on #2425
@MsSQLGirl  Hi Julie -- GeneMi says you used to work on extended events.  If you are still working in this area, please advise on the following, or please let me know who is now working on it:

Using SQL Server 2017 on-premises, the customer's example code works when I code `ON SERVER`.  With an Azure SQL Database, I get the same error when I code `ON DATABASE` that they encountered.

Why is this

[2019-07-03 18:22] MightyPen commented on #2429
@jhays-nhaschools Thank you for bringing this mistake to our attention. This Issue 2429 is now fixed. The fix should be live on Docs by tomorrow afternoon (or maybe sooner).

A very effective option that many customers like is to - directly edit Microsoft's documentation article, to fix or update as you see fit.  We then review the proposed change, and hopefully we approve the update to go live.
T

[2019-07-03 18:22] #2429 closed

[2019-07-03 18:52] eric-impact opened #2432 "Query Function Request: REPLACE_COLUMN(col_list, col_name, replace_value)"
If you ever have a table with like 25 columns and you want to be able to insert those values into another table, but modify one of the column values on the way you have to type out the names of each column until you get to the column you want to change and then follow the remaining. This can be annoying from a dev maintenance perspective because you have to change this logic every time a column is

[2019-07-03 19:49] AlexC84 opened #2433 "SysEndTime in the CurrentTable"
Why does the 'Current' table need a SysEndTime field if it always has the same value stored in it? Every record in the 'Current' table is live so there is no need for SysEndTime in the 'Current' table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f9c244b-870b-737f-6f6d-db9675179427
* Version Independent ID: 3dde09ff-

[2019-07-03 20:04] binki opened #2434 "What is Informatica and why is it mentioned in this documentation?"
It seems like this is documentation for SQL Server, not Informatica. Why is Informatica’s lack of support for seconds mentioned here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae4b3aeb-9874-c8a2-980d-9bdbbea8fdf3
* Version Independent ID: 41808935-91fb-6f3a-db0f-6d7193123e33
* Content: [datetimeoffset (Transact-SQ

[2019-07-03 20:11] binki opened #2435 "What are the precision ranges for?"
The precision/scale table documents `DATETIMEOFFSET` as `DATETIMEOFFSET(34,7)` with a precision of 7 but documents `DATETIMEOFFSET(7)` as `DATETIMEOFFSET(34,7)` with a precision of 5–7. I want to know what 5–7 means versus 7. Are there certain date/year values where only 5 digits of a fractional second can be kept when using a precision of 7? Why is this different from `DATETIMEFOFSET` (where I di

[2019-07-03 20:22] ShawnPOWER opened #2436 "What about the .NDF file?"
I don't see any mention here of the .NDF file(s). Should the .NDF file(s) also move along with the .MDF and .LDF of the TempDB to a new location? Or should they be left behind on the OS drive?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9423e4-0573-7564-3f58-2a8df9a11d9f
* Version Independent ID: 5b88aa32-b6f7-e8e

[2019-07-04 08:30] jtpower opened #2437 "Change tar.gz to tar"
-- Not work
tar zxvf python-3.6.6-linux-x64-0.0.1.tar.gz

gzip: stdin: not in gzip format
tar: Child returned status 1
tar: Error is not recoverable: exiting now

-- Work
tar xvf python-3.6.6-linux-x64-0.0.1.tar.gz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b19e2a7b-c117-a829-8fa1-8169eebf07ea
* Version Independent

[2019-07-04 08:33] LowerKees opened #2438 "Only works when using SQL Authentication?"
Currently, we're facing problems using the import from flat file wizard when connecting using MFA and an AAD account. When using Sql Authentication, the problem does not occur. I could not find any limitations on the login type in the documentation. Could you clarify on this issue?

Short error message: Login failed for user ''. (.Net SqlClient Data Provider)
Long error message:
==================

[2019-07-04 09:21] piotrkwiatek commented on #2302
Everyday I am dealing with another bug in 18.0. Thanks for the  link!

[2019-07-04 14:23] arnoschuring opened #2439 "should specify that contained users in master cannot create databases"
The documentation on the dbmanager role states (correctly) that members of this role can create databases, and also states (correctly) that contained users in master can be added to this role. However, a contained user cannot create databases even if they are a member of the dbmanager role (they will get permission denied)!

I suspect that this is related to the explanation below that the user the

[2019-07-04 14:43] davidgeary commented on #2377
Running SSMS 15.0.18131.0 here (against SQL Express 2014) and getting the same issue here consistently when the `Save Scripts` page is reached.  No error details are given, other than the message at the top:

Clicking Help opens the MS Docs (https://docs.microsoft.com/en-us/sql/ssms/scripting/generate-and-publish-scripts-wizard?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3

[2019-07-05 14:41] mburbea commented on #2432
This repository is for documentation, not for Sql server features. That said, while this in theory could be useful, production quality code should never really use *. SSMS has handy shortcuts like dragging the columns of a table, will produce the column list for you.

[2019-07-05 14:49] mburbea commented on #2402
Sadly there are many errors like this in SSMS :(
![image](https://user-images.githubusercontent.com/213233/60730203-959f8d00-9f12-11e9-9250-a6ee10fb2677.png)

[2019-07-05 15:41] SH2015 opened #2441 "No enough information about performance"
We need more info about how the performance will be optimized if Graph table used over standard tables .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53c2f087-f138-201e-bdfe-e1531c142ecc
* Version Independent ID: 19979d62-c13f-fbaf-ec80-21f47a20a009
* Content: [SQL Graph Architecture - SQL Server](https://docs.micros

[2019-07-05 16:13] msebolt commented on #2426
@anddrzejb Thank you for the feedback!  Can you point to the specific reference point?

[2019-07-05 16:40] msebolt commented on #2432
@eric-impact Thank you for your feedback.

Please submit your request via the [SQL Server forum](https://feedback.azure.com/forums/908035-sql-server).

[2019-07-05 16:40] #2432 closed

[2019-07-05 16:45] msebolt commented on #2433
@AlexC84 Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation.

Please feel free to submit your idea to the [Sql Server forums](https://feedback.azure.com/forums/908035-sql-server).

[2019-07-05 16:45] #2433 closed

[2019-07-05 16:51] msebolt commented on #2435
@binki Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation.

Please use the [SQL Server forums](https://feedback.azure.com/forums/908035-sql-server) for answers to product-releated questions.

[2019-07-05 17:00] msebolt commented on #2436
@ShawnPOWER Thanks for your question. It looks like you're having an issue with the product itself, rather than an issue with the documentation.

Please refer to the following for product support:

- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-sql-server)

- [Setup and Upgrade -  MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=sqls

[2019-07-05 17:02] excelosaurus opened #2442 "ENABLE_PARALLEL_PLAN_PREFERENCE"
Add info about ENABLE_PARALLEL_PLAN_PREFERENCE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33da0c41-feb0-82a9-0ce9-9e2dbe58a1c4
* Version Independent ID: 4a97457a-c149-3c41-b78a-5b4e3869f078
* Content: [Query Hints (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/queries/hints-transact-sql-qu

[2019-07-05 17:05] ShawnPOWER commented on #2436
@msebolt The documentation doesn't mention what to do with the .NDF files. This question is specifically related to the documentation and not the product itself. I apologize if that wasn't clear.

[2019-07-05 19:17] anddrzejb commented on #2426
Don't really know how to do that. I mean this [link](https://docs.microsoft.com/en-us/sql/relational-databases/data-tier-applications/register-a-database-as-a-dac?view=sql-server-2017#RegisterDACPowerShell) will take you to the exact section that I was trying to recreate, but failed.

[2019-07-05 22:48] binki commented on #2435
I expected the documentation to document the meaning behind the ranges. Am I looking in the wrong place for the documentation?

[2019-07-06 11:56] andrewtobin opened #2443 "Strange text inclusion - Planned Relocation step 5"
The following text is included in the document, under step 5. It feels misplaced.

“We are listening: If you find something outdated or incorrect in this article, such as a step or a code example, please tell us. You can click the This page button in the Feedback section at the bottom of this page. We read every item of feedback about SQL, typically the next day. Thanks.“

---
#### Document Detail

[2019-07-06 13:35] pantonis opened #2444 "Import data disabled in SSMS18.1"
Tasks => Import data option is disabled in SSMS 18.1

[2019-07-06 23:09] cheenamalhotra opened #2445 "yum check-update fails on RHEL"
Running on RHEL 7.4 image:

$ sudo yum check-update
Loaded plugins: langpacks, product-id, search-disabled-repos
Repository packages-microsoft-com-mssql-server-2017 is listed more than once in the configuration

kernel.x86_64                                 3.10.0-693.50.3.el7                       rhui-rhel-7-server-rhui-eus-rpms
kernel-tools.x86_64                           3.10.0-693.50.3.el7

[2019-07-08 07:23] nabilahmed739 opened #2453 "Select output as a JSON array (Single column list. Ex: List of IDs)"
I'm trying to find a way to get a simple JSON array as the output of the Select query.

**Example:** `Select ID from Employee where <SomeCondition> FOR JSON AUTO`
**Actual Output:**

**Expected Output:**

[2019-07-08 09:32] MightyPen commented on #2444
@pantonis Hello, yes unfortunately we have received several reports from customers that SSMS 18.1 has some problems. The Development team is focused on fixing these problems, and it hopes to release an updated version of SSMS in the near future.

I am Closing this Issue 2444. The @ notification mechanism continues to work even after an item is Closed, in case further communication is needed.
Thank

[2019-07-08 09:32] #2444 closed

[2019-07-08 09:33] pantonis commented on #2444
@MightyPen Thanks for your reply.
Any workaround on this until bug is fixed?

[2019-07-08 09:42] kdefilip opened #2454 "No mention of large heap tables"
I believe there is an issue with auto-update stats on large 5M+ row Heap tables.  Trying to investigate but no mention of Heap tables in this otherwise excellent document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82e5062c-ab80-eace-5cbb-8868c17014c3
* Version Independent ID: 7bcb85b7-ee68-ae1c-5385-91f6db828c06
*

[2019-07-08 09:45] MightyPen commented on #2445
@cheenamalhotra Hello Cheena, Is there a specific article, in GitHub repo= 'sql-docs-pr', under `https://docs.microsoft.com/sql/` or `https://docs.microsoft.com/sql/linux/`, that is closely associated with your product bug report here in Issue 2445?
If yes, I am guessing the article might be the following?:

- H1 Title: "Create and configure an availability group for SQL Server on Linux"
   - GitH

[2019-07-08 09:54] MightyPen commented on #2453
@nabilahmed739 Hello, we have at least two documentation articles on FOR JSON AUTO that you can look at:

- https://docs.microsoft.com/sql/relational-databases/json/format-query-results-as-json-with-for-json-sql-server
- https://docs.microsoft.com/sql/relational-databases/json/format-json-output-automatically-with-auto-mode-sql-server

If the documentation is in error, this Issues website can assi

[2019-07-08 09:54] #2453 closed

[2019-07-08 10:14] MightyPen commented on #2443
@andrewtobin Hello Andrew, By "misplaced" do you mean the cited text should moved to a different location in the article? Or do you mean the text should not be in the article at all? Or that the text is strangely worded and should be better written or rephrased or just shortened? Or is the text interlude annoying?

Our goal is to encourage a higher percentage of customers who read our documentatio

[2019-07-08 10:22] MightyPen commented on #2438
@markingmyname Hi Mark, can you please process this Issue #2438.
This involves Security. Specifically, it involves Multi-Factor Authentication (MFA) and Azure Active Directory (AAD), in the context of the SSMS Object Explorer being used to import a flat .csv or .txt file into a table.

CC: @VanMSFT Hi Van, this is an advance Security issue, so perhaps you might be interested too.

CC: @yualan

[2019-07-08 10:29] MightyPen commented on #2454
@kdefilip Hello, can you provide more specificity about what the issue/concern is? Do the stats stop getting updated and become outdated? Are they updated frequently but inaccurately? Or...?
If we can receive something specific, we might be able to take corrective action.
Thanks a lot.

@julieMSFT Hi, can you please process this Issue #2454. Perhaps there will be more detail in a day or two. Thank

[2019-07-08 10:37] MightyPen commented on #2426
@stevestein Hi Steve, you are the owner of record for the cited article, so can you please process this PowerShell Issue #2426.

[2019-07-08 10:48] MightyPen commented on #2444
@pantonis No work-around that I know of off the top of my head.
I often presume that the SSMS UI just builds Transact-SQL commands that a human can writer on his/her own, and could then submit through a plain Query pane in the SSMS UI, or through osql.exe.

I am just wildly speculating, but I wonder whether the problem you encountered is because the Object Explorer in SSMS 18.1 is building or subm

[2019-07-08 10:53] JeffModen opened #2455 "Always post results!"
It would be nice if you'd take the extra bit of time to post the results of the demo query especially when people avoid such sample databases as AdventureWorks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4313ba5-7e1a-acd8-9e58-3e90d040b181
* Version Independent ID: 9b6dff50-023a-b158-983f-3c6daa6adc28
* Content: [

[2019-07-08 11:00] MightyPen commented on #2430
@pensivebrian Hi Brian, can you please look at the Issue #2430 that @IvanAlekseev has encountered with 'SqlPackage.exe'.
@yualan You are listed inside the article as another person who might have knowledge in this area and be able to help.

@stevestein Hi Steve, I am co-assigning this Issue 2430 to you, as the only Writer assigned. If necessary, please assist or prompt Brian and Alan. The eventual

[2019-07-08 13:46] LuisGonzalezLT opened #2456 "This is available in Azure SQL DB but is marked as not available."
see title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c718b068-b22a-9770-2b72-68acce9cac7b
* Version Independent ID: a5d656c5-3772-04e5-9a4f-831b58e12d02
* Content: [sp_server_info (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-server-info-transact-

[2019-07-08 13:47] LuisGonzalezLT opened #2457 "This is available in Azure SQL DB but is marked as not available."
See title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f98aac8-e0fc-6983-df52-20ce2f1ccd48
* Version Independent ID: c1187ebc-eb02-ddc3-1cb8-c7de9495d5ba
* Content: [sp_stored_procedures (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-stored-procedu

[2019-07-08 13:48] LuisGonzalezLT opened #2458 "This is available in Azure SQL DB but is marked as not available."
See title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b68d236e-10a5-95a3-bb8d-e2829a0b7229
* Version Independent ID: 6dee421e-98a7-8645-381f-81f959a0ee4f
* Content: [sp_table_privileges (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-table-privilege

[2019-07-08 14:20] NicoBoey opened #2459 "Didactics"
It is confusing to start a tutorial about hierarchyid by 'flattening' an existing hierarchical table first, in order to explain how to get from the flattened table to a hierarchical table.
IMHO it would be better to start from a script that creates and populates a 'flat' table, and then explain how to get to a hierarchical table.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-07-08 17:07] MightyPen commented on #2455
@JeffModen Hi Jeff, I agree with you. We do not have a formal policy on this, and sometimes it is impractical to provide the output. But generally you are right.
I will mention this situation to the SQL Writing team.

I am now Closing this Issue 2455.
The @ notification mechanism continues to work even after an item is Closed, in case further communication is needed. Thank you for submitting this

[2019-07-08 17:07] #2455 closed

[2019-07-08 17:22] MightyPen commented on #2459
@msebolt Hi Matthew, If you decide a change is important enough here, you might consider ending the article's use of AdventureWorks2017 entirely. There may be other options too.

[2019-07-08 17:29] msebolt commented on #2066
#please-close

[2019-07-08 17:29] #2066 closed

[2019-07-08 17:31] WilliamAntonRohm commented on #2125
@rothja I am looking into this issue 2125 today.

[2019-07-08 17:41] MightyPen commented on #1979
https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1568010

@MashaMSFT Hi Masha, I have created work item 1568010 to track the unresolved status of this aging Issue 1979.

I am now closing this Issue.  See 1568010.

[2019-07-08 17:41] #1979 closed

[2019-07-08 18:18] cheenamalhotra commented on #2445
I was running commands from here: https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-tools?view=sql-server-2017#install-tools-on-rhel-7

![image](https://user-images.githubusercontent.com/13396919/60832794-a0a42880-a171-11e9-835c-a26462866810.png)

Also I don't think @David-Engel is the right person to contact as we are in the same (SQL Client Drivers) team, whereas this seems to be

[2019-07-08 18:38] markingmyname commented on #2322
@VasuBhog for awareness

[2019-07-08 18:57] JeffModen commented on #2455
Thanks for the quick response and the feedback, Gene.
--Jeff Moden

    On Monday, July 8, 2019, 1:07:33 PM EDT, Gene Milener <notifications@github.com> wrote:

@JeffModen Hi Jeff, I agree with you. We do not have a formal policy on this, and sometimes it is impractical to provide the output. But generally you are right.
I will mention this situation to the SQL Writing team.

I am now Closing this

[2019-07-08 21:44] MashaMSFT commented on #2343
Hi @dcallagh, sorry, would you mind clarifying by what you mean "made a role"? Thanks!

[2019-07-08 21:46] allanhirt commented on #2343
I'm confused by that comment as well.

[2019-07-08 21:46] MashaMSFT commented on #2370
Hi @hsalama1 , hope you're enjoying your Monday! Since it's been some time since we've heard from you, we'll assume that you were able to get incremental backups working and will proceed with closing out this Git Issue. Please feel free to respond should you need anything further. Thanks!

[2019-07-08 21:46] #2370 closed

[2019-07-08 22:37] databoxinsights opened #2469 "Active Directory - Integrated Not Supported"
This connection option does not appear to be supported in vscode. Could you provide an example or please add this feature? Thanks.

[2019-07-08 23:55] dcallagh commented on #2343
Ahh - ok, we install DNS as a role in windows, it can either be AD integrated, or not.

In this case it is not as there is no AD, which also means no multimaster, with a primary (dynamic update=yes) and secondary(updates not allowed).

This means when you failover, you cannot update the secondary DNS.

 

So, can we make the Primary DNS service in this case a cluster role?

This effectively gives

[2019-07-09 00:28] allanhirt commented on #2343
No, you cannot cluster DNS on Windows Server.

From: dcallagh <notifications@github.com>
Sent: Monday, July 8, 2019 7:56 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Allan Hirt <allan.hirt@sqlha.com>; Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs] Incomplete process (#2343)

Ahh - ok, we install DNS as a role in windows, it can either be AD integrated

[2019-07-09 01:05] MightyPen commented on #1979
https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1565276

..... is the AzBoards item 1565276 that is actually address this Issue 1979.  This belated link is crucial to our Audit Trail functionality.

[2019-07-09 01:57] dcallagh commented on #2343
Thats a shame.
 

Sent: Tuesday, July 09, 2019 at 10:28 AM
From: "Allan Hirt" <notifications@github.com>
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: dcallagh <dcallagh@iname.com>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs] Incomplete process (#2343)

No, you cannot cluster DNS on Windows Server.

From: dcallagh <notifications@github.com>
Sent: Monda

[2019-07-09 05:36] rsocol opened #2470 "Stored procedure accessing more than 64 databases"
The page contains the following statement: "If a stored procedure accesses more than 64 databases, or more than 2 databases in interleaving, you will receive an error." This statement seems to be outdated or unclear, because I have tried to create a stored procedure that contains a SELECT query with UNION ALL accessing 100 databases and it works fine.

---
#### Document Details

⚠ *Do not edit thi

[2019-07-09 06:48] therealjawss commented on #2302
thank you! 18.1 also now keeps crashing on me.

[2019-07-09 08:50] kierenj opened #2471 ""The Docker image""
https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-tools?view=sql-server-2017#docker - which docker image is "the" docker image? I came here from googling how to grab the tools...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39bb4ba1-ae62-07a3-f79a-138f14cf2f10
* Version Independent ID: beaa4e7d-e771-c

[2019-07-09 10:23] kdefilip commented on #2454
Hello Gene and Julie
My comment was specifically related to the document and lack of discussion
re auto-gen stats(AGS) and HEAP tables.
Due to an issue we are having I am on a quest to learn how AGS, and stats
in general are hare handled on HEAP tablees.

Since you asked, the issue I am facing is a vendor supplied DB that solely
uses HEAP tables, some very large at >250M rows.  Of course I realize

[2019-07-09 16:39] MashaMSFT commented on #2459
Hi @NicoBoey ,

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

If you're sugg

[2019-07-09 18:54] WilliamAntonRohm commented on #2470
@rsocol -- thank you for your feedback; we appreciate it.

@MikeRayMSFT -- please look into this Issue 2470.

[2019-07-09 19:00] WilliamAntonRohm commented on #2471
@kierenj -- Kieren, thank you for asking this clarifying question.

@rothja -- Jason, please process this Issue 2471.

[2019-07-09 19:51] MashaMSFT commented on #2163
Hi @EnjoyinMoss , thanks again for bringing this to our attention! My apologies for the delay :) This issue has now been fixed!

Thanks again and hope you have a wonderful rest of your day :)
Masha from the SQL Docs team

[2019-07-09 20:15] MikeRayMSFT commented on #2459
Hi @NicoBoey - Thank you for your comment. I agree that if the document began with a flattened table, instead of flattening a hierarchical table, it could simplify the tutorial. We are not currently planning to update the tutorial, but your point is valid.

Thank you.

[2019-07-09 20:15] #2459 closed

[2019-07-09 21:54] sahaj08 opened #2473 "Incorrect hyperlink for ODBC Generic Types"
ODBC Generic Types link leads to polybase installation page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ebefef-f8c5-e429-269e-1ef7a96264fd
* Version Independent ID: a8009495-9bb9-87f4-85af-0ac0074749e7
* Content: [What is PolyBase? - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/polybase/po

[2019-07-09 22:49] WilliamAntonRohm commented on #2249
@MashaMSFT -- please close this issue 2249 when the hub page preview is over.

[2019-07-10 01:43] Datachick opened #2475 "Credit Card Function not included"
The Function of "Credit Card" is missing from the Functions table under Defining a Dynamic Data Mask.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b9408bf-18b5-339f-cd25-6a3024be3243
* Version Independent ID: eea4b8dc-5598-b7e6-e01a-902d5ca1f96d
* Content: [Dynamic Data Masking - SQL Server](https://docs.microsoft.c

[2019-07-10 02:36] stevestein commented on #2317
@J0nKn1ght - thanks for raising the issue. I added your example to the article.

Thanks!

[2019-07-10 02:36] stevestein commented on #2317
#please-close

[2019-07-10 02:36] #2317 closed

[2019-07-10 02:46] Datachick commented on #2475
And I do realize that it really is just a drop down to get to a custom string.  But it's an option in the portal, so I should be discussed here.

[2019-07-10 15:50] estimpson opened #2478 "SchemaID is a valid property and isn't defined in the list of properties but is used in an example."
Furthermore, in previous versions of SQL owner_name(object_property(@id, 'OwnerID')) reliably returned the schema.  Now you would need to use schema_name(object_property(@id, 'SchemaID)).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce794da2-d198-5e15-22f4-39d65cbd933b
* Version Independent ID: c5c04b03-3250-498a-7d5

[2019-07-10 16:22] WilliamAntonRohm commented on #2478
@estimpson Hi Eric, thank you for your feedback.

@MikeRayMSFT Hi Mike, please process this Issue 2478.

[2019-07-10 16:26] WilliamAntonRohm commented on #2475
@Datachick Hi Karen, thank you for your feedback.

@VanMSFT Hi Van, please process this Issue 2475.

[2019-07-10 17:00] msebolt commented on #2158
Sorry for the delay, the article's example shows how to display run duration as days, hours, minutes, seconds, all of which are supported.

[2019-07-10 17:00] #2158 closed

[2019-07-10 18:27] Infinitism opened #2481 "Enabling TDE for Availability Groups"
Hi,

It'd be great if you could add a section on enabling TDE for Always On Availability Group with multiple nodes.

[2019-07-10 19:02] stevestein commented on #2367
@masashioms - thanks for raising this issue.  I'm investigating the details on this. Thanks!

[2019-07-10 19:25] WilliamAntonRohm commented on #2421
@AngryRhetoric -- thank you Kevin for your compliment and for your attention to detail.  I have fixed the typos in that article and those corrections are now live.

@stevestein -- Steve, can you provide additional information or links for "loopback linked servers"?

[2019-07-10 19:38] WilliamAntonRohm commented on #2394
@rdicroce -- Rich, thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

I am closing this issue 2394 now.  You are welcome to @ mention me for any followup.

[2019-07-10 19:38] #2394 closed

[2019-07-10 19:56] lichasu opened #2483 "datetime2中文页面的存储大小有误"
@airaou commented on [Wed Jul 10 2019](https://github.com/MicrosoftDocs/sql-docs.zh-cn/issues/114)

应为
精度小于 3 的 6 个字节。
精度为 3 和 4 的 7 个字节。
所有其他精度则需要 8 个字节。

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: be8724bf-416a-437b-158c-a1f94019a36c
* Version Independent ID: 3b055d34-8d37-cca3-a916-caa43b69af6a
* Content: [datetime2 (Transact-SQL) - SQL Server](https://docs.mi

[2019-07-10 19:57] lichasu commented on #2483
Hi team, please check this issue. Rough translation:

Thanks!

[2019-07-10 20:08] stevestein commented on #2421
@AngryRhetoric - thanks for raising this issue. For linked servers that link to themselves, did you have a specific question? There's a note at the bottom of the article that explains what they are and why to use for testing only:

_**Linked servers can be defined to point back (loop back) to the server on which they are defined.** Loopback servers are most useful when testing an application that

[2019-07-10 21:04] WilliamAntonRohm commented on #2469
@databoxinsights -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-07-10 21:35] WilliamAntonRohm commented on #2125
@julieMSFT -- Julie, should this command apply to SQL DW?  Please add your answer here in Issue 2125. Thanks.

[2019-07-10 21:36] WilliamAntonRohm commented on #2125
@mzaman1 -- Murshed, should this command apply to APS PDW?  Please add your answer here in Issue 2125.  Thanks.

[2019-07-10 21:47] mzaman1 commented on #2125
@WilliamAntonRohm for APS/PDW the type is Hadoop. APS has the capability to also read from blob storage but the type still is Hadoop. I feel like this is one of the pages that can benefit from having tabs for different products to clarify for the customer. Let me know if I can clarify anything else.

[2019-07-10 21:50] WilliamAntonRohm commented on #2421
@AngryRhetoric -- thank you for contacting us.  I believe Steve has answered your question.

I am closing this issue 2421 now.  You are welcome to @ mention me for any followup.

We hope to hear from you again.

[2019-07-10 21:50] #2421 closed

[2019-07-10 22:39] RobWoods-CPG opened #2485 "SSMS 18.1 locks when trying to restore a database with no backup"
When I try to restore a database from a file (click the device button) where there is no active backup for the database, the screen locks.

steps to reproduce.
1. Create new database
2. Right click on database and select restore
3. Try to restore from a file.

[2019-07-10 23:19] nprieto95 opened #2488 "Azure SQL Server as CMS"
This page says it applies to Azure SQL Database. However, when I try to configure an Azure SQL Server as a CMS from SSMS following the instructions of this page, I get this error: "Azure SQL Database cannot be used as a Central Management Server." This is confusing to me, am I doing something wrong or do these instructions not apply for Azure?

---
#### Document Details

⚠ *Do not edit this sectio

[2019-07-11 00:53] CarlRabeler commented on #2425
@MsSQLGirl see this article https://docs.microsoft.com/azure/sql-database/sql-database-xevent-code-event-file#transact-sql-code
Updating the article you referenced to point to this example for SQL Database. Thanks for your question.
Carl

[2019-07-11 08:22] GaborInancsi opened #2489 "Typo?"
Option 1: Using UPN to configure the keytab
point 4:
"Delete all the entries by their slot number that are not the UPN. Do this one at a time by repeating the following command:

delent &lt;slot num&gt;"

is there really a "delent" command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd6e9f1-17ab-7aea-818e-d2ab416e

[2019-07-11 09:38] paulmchenry opened #2490 "Required Permissions are incorrect on Azure SQL Database."
The required permissions section says that INSERT, UPDATE, and DELETE permissions are required on the query store catalog views, however, these cannot be changed in Azure SQL Database. Attempting to do so returns the following error:
`Msg 4629, Level 16, State 10, Line 19
Permissions on server scoped catalog views or system stored procedures or extended stored procedures can be granted only when t

[2019-07-11 09:50] chandansj opened #2491 "SSMS 18 temp table select statement does not return data in order"
Hi,
I am not getting the ordered data which used to work in older version.

for eg: Student table:
                                  Id Name
                                   1  xyz
                                   2  abc
                                   3  yax
select Id, Name into #temp from student
select *from #temp

will return data

Id Name
2   abc
1   xyz
3  yax

[2019-07-11 10:39] skoppineni opened #2492 "Incremental population based on a timestamp"
Creating jobs for performing incremental population is not currently available in 2017

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038a7fc7-30a0-397d-f880-94471ecb8932
* Version Independent ID: 198aaa1e-23e4-1cb9-f658-d8f624b5b0d6
* Content: [Populate Full-Text Indexes - SQL Server](https://do

[2019-07-11 11:23] KalleOlaviNiemitalo opened #2493 "Document that either CR or LF ends a -- comment"
The page says that "Comments inserted with -- are terminated by the newline character." Please document more specifically that the first U+000D (carriage return, \r) or U+000A (line feed, \n) terminates the comment, and that other characters such as U+0085 (next line) or U+2028 (line separator) do not terminate the comment. This information is useful for writing a T-SQL parser.

(It does not matte

[2019-07-11 11:34] KalleOlaviNiemitalo opened #2494 "Document that backslash line continuation applies to LF or CR LF, but not to a sole CR"
Please document that the line continuation feature of SQL Server deletes only these character sequences from the string literal:

* U+005C (backslash), U+000D (carriage return), U+000A (line feed)
* U+005C (backslash), U+000A (line feed)

In particular, it does not delete U+005C U+000D when the next character is not U+000A.  This information is useful for writing a T-SQL parser.

Testable with var

[2019-07-11 11:35] mkxml opened #2495 "Backslash escaping"
The doc is stating that in order to escape the backslash you need ``\|`` when you actually need ``\\``

Please take a look.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56b615ec-8726-dcaf-9009-c0193aacc430
* Version Independent ID: 5d2a5218-d935-7b70-6fdb-10b80d163010
* Content: [How FOR JSON escapes spec

[2019-07-11 14:26] Dylan-MSFT commented on #2489
Yes, there is a delent command. You have to be inside ktutil though. It would look like this:

[2019-07-11 15:13] rothja commented on #2471
@kierenj Thank you for asking this. This is just referring to running SQL Server docker containers. The image used for the container contains the tools. There is a quickstart on how to run SQL Server in a container here: https://docs.microsoft.com/en-us/sql/linux/quickstart-install-connect-docker?view=sql-server-2017&pivots=cs1-bash.

@WilliamAntonRohm can you please change this paragraph:

[code]

[2019-07-11 15:21] rothja commented on #2437
@jtpower Thanks for the feedback. In this article, we don't specify how to extract the linux tar.gz file. Are you suggesting that we put the example on how to do this for Linux with the command you provided? Thank you!

[2019-07-11 15:33] stevestein commented on #2346
@LuisGonzalezLT - Thanks for pointing this out. The article has been updated to say it applies to SQL DB.

Thanks!

[2019-07-11 15:33] stevestein commented on #2347
@LuisGonzalezLT - Thanks for pointing this out. The article has been updated to say it applies to SQL DB.

Thanks!

[2019-07-11 15:33] stevestein commented on #2348
@LuisGonzalezLT - Thanks for pointing this out. The article has been updated to say it applies to SQL DB.

Thanks!

[2019-07-11 15:34] #2346 closed

[2019-07-11 15:34] #2347 closed

[2019-07-11 15:34] #2348 closed

[2019-07-11 15:39] johnmreynolds opened #2497 "This page says nothing about how to use the scripts generated"
This page tells you how to generate scripts from the trivial example databases, but a non-trivial database is likely to generate scripts which are far too big to open in ssms.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b9e9e24-0d85-b45b-21c1-65281538bfd4
* Version Independent ID: f26c593a-d399-b37e-244f-64c28a8285

[2019-07-11 15:52] kierenj commented on #2471
Can I suggest that the problem is the words, "the docker image". I was googling how to run sql tools in docker, and came across a page which said "the docker image".

As a guess, maybe a good thing would be to say, the "the SQL Server Linux docker image, called `mcr.microsoft.com/mssql`" (or whatever it is)?

[2019-07-11 16:00] CarlRabeler commented on #2425
#please-close

[2019-07-11 16:00] #2425 closed

[2019-07-11 16:32] MashaMSFT commented on #2497
Hi @johnmreynolds , thank  you for contacting Microsoft! That is a possibility - if that's the case, you can always select a subset of objects to script, instead of scripting out the whole database, and then do this several times. Did you have a suggestion for improving the documentation? What would be your expectation for documenting a use for a script?

How big of a database are you scripting ou

[2019-07-11 16:44] johnmreynolds commented on #2497
This is a fairly small database, with only around 50MB of actual data.

Unfortunately this turns into 1.1GB of SQL. This is too big to run from
SSMS which runs out of memory. Running it from the command line with sqlcmd
looks like it will work, but will take more than a day to run as it's
really slow.

What I was trying to do is export data for a client, so they can build a
clone of the database,

[2019-07-11 16:59] MashaMSFT commented on #2497
Hi @johnmreynolds , if you're trying to export data for a client,  scripting out the database using SSMS may not be the best method, as you yourself noticed. It's not really intended for that, it's more intended for scripting out the schema and such. The best method to export data is to use to use the import/export wizard - you can find more information about that here: [Import & export wizard](ht

[2019-07-11 17:01] stevestein commented on #2426
@anddrzejb - thanks for raising this issue. I ran into the same error.

@MSraye - Can you take a look at this one. I can register fine in SSMS, but it fails with the PowerShell script in this article. Thanks!

[2019-07-11 17:12] jtpower commented on #2437
Use the file suffix have some confuse, normally, extract Type tar.gz files use parameter zxvf, Type tar use xvf to extract.
Suggest:
Modify the package file suffix from tar.gz to tar, or provide command that work fine. Our most customer been Windows-Based, At Linux platform maybe need we do more.

Personal experience:

  *   The Python package for offline deploy SQL BDC, have two core work items:

[2019-07-11 17:18] jtpower commented on #2437
* Use the file suffix have some confuse, normally, extract Type tar.gz files use parameter zxvf, Type tar use xvf to extract.

* Suggest:
Modify the package file suffix from tar.gz to tar, or provide command that work fine. Our most customer been Windows-Based, At Linux platform maybe need we do more.

[2019-07-11 17:19] jtpower commented on #2437
Personal experience:
* The Python package for offline deploy SQL BDC, have two core work items:
1.	Download file “requirements.txt”
2.	Install mssqlctl tool
* I have three experience：
1.	The basic Python Package too large.
2.	Our requirements.txt by https provide, Need to configure openssl for python; if just extract current package files and run:
pip download -r https://private-repo.microsoft.com

[2019-07-11 17:26] iLikeAzureSQL commented on #2425
Please clarify if the issue is resolved and we can create external storage for Azure SQL DB extended events.

[2019-07-11 17:37] stevestein commented on #2436
@ShawnPOWER - Thanks for raising this issue. Yes, if you use an .ndf file it should move with the other files as it's just another data file.

[2019-07-11 17:48] stevestein commented on #2374
@fpugh - Thanks for opening this issue.  The query is joining sysjobs.job_id = sysjobactivity.job_id and runs as expected in my quick test. Are you seeing incorrect results?

[2019-07-11 17:51] tnbarkhouse opened #2498 "How do we create the [sales].[dbo].[web_clickstreams_hdfs_parquet] table?"
In Step 1. of the "Load data" section, the INSERT INTO...SELECT statement fails with the following error message:

    Msg 208, Level 16, State 1, Line 1
    Invalid object name 'sales.dbo.web_clickstreams_hdfs_parquet'.

I don't see where this external table gets created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-07-11 17:54] ChuckEzell commented on #2397
@dakrdakr you are correct - as far as I've experienced the snapshots are "static" and are NOT updated... I think the copy must be wrong.

[2019-07-11 17:59] CarlRabeler commented on #2425
referenced article shows how to store extended events to blob storage

[2019-07-11 18:34] stevestein commented on #2230
@rbonomo - I couldn't track down a specific example, but as the note says: _certain objects have a default containment setting of NONE_  - so in this case, if the object is in a contained database, it can appear in the results of the uncontained entities view.

Hope that helps.

[2019-07-11 18:34] #2230 closed

[2019-07-11 18:40] ShawnPOWER commented on #2436
I appreciate it @stevestein, makes total sense.

[2019-07-11 18:40] #2436 closed

[2019-07-11 18:42] #2330 closed

[2019-07-11 18:45] msebolt commented on #2337
@svaneyck Thank you for the feedback!  Your change has been made and merged.

[2019-07-11 18:45] #2337 closed

[2019-07-11 18:45] WilliamAntonRohm commented on #2272
@joesackmsft -- please look into this aging issue 2272.

@stevestein, @VanMSFT -- please consider a documentation update.

[2019-07-11 19:09] WilliamAntonRohm commented on #2489
@GaborInancsi -- thank you for your question.

@Dylan-MSFT -- thanks for answering it.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-07-11 19:09] #2489 closed

[2019-07-11 19:26] VanMSFT commented on #2439
Hi @arnoschuring! Thank you for bringing this feedback to us. I have verified, and made the changes to our documentation to reflect that contained database users added to the dbmanager role cannot create new databases. This should go live shortly. We appreciate your assistance with making our documentation better!

https://github.com/MicrosoftDocs/sql-docs-pr/pull/11004

#please-close

[2019-07-11 19:26] #2439 closed

[2019-07-11 19:32] msebolt commented on #2407
@slepmog Thank for the feedback!

The changes have been made and merged.

[2019-07-11 19:32] #2407 closed

[2019-07-11 19:56] stevestein commented on #2367
@masashioms - I just updated the article to show that these two events are not currently available in SQL DB.

Thanks again for pointing this out.

[2019-07-11 19:59] WilliamAntonRohm commented on #2488
@markingmyname Hi Mark, can you please process this Issue 2488? Thanks.

[2019-07-11 20:01] #2367 closed

[2019-07-11 20:04] WilliamAntonRohm commented on #2493
@KalleOlaviNiemitalo -- thank you for your feedback and your research.

@rothja -- Jason, please look into this Issue 2493.  If you can provide updated wording, I will make the change in the documentation.

[2019-07-11 20:04] stevestein commented on #2374
I am closing this issue now. You are welcome to @ mention me for any followup.

Thanks!

[2019-07-11 20:04] #2374 closed

[2019-07-11 20:06] WilliamAntonRohm commented on #2495
@mkxml -- Matheus, thank you for bringing this to our attention.  I am updating the documentation accordingly.

[2019-07-11 20:09] WilliamAntonRohm commented on #2498
@tnbarkhouse -- thank you Trevor for your feedback.

@MikeRayMSFT -- Mike, please process this Issue 2498.

[2019-07-11 20:43] WilliamAntonRohm commented on #2494
@KalleOlaviNiemitalo -- thank you for your feedback and your research.

@rothja -- Jason, please look into this Issue 2494. If you can provide updated wording, I will make the change in the documentation.

Similar issue:  #2493

[2019-07-11 20:57] msebolt commented on #2491
@chandansj Thank you for the feedback.

Since this is product-related, please post the issue in the [SQL Server forums](https://social.msdn.microsoft.com/Forums/sqlserver/home?category=sqlserver).

In the meantime, please refer to [ORDER BY](https://docs.microsoft.com/sql/t-sql/queries/select-order-by-clause-transact-sql] to order your queries.

[2019-07-11 20:57] #2491 closed

[2019-07-11 21:06] KalleOlaviNiemitalo commented on #2497
It's still visible in the edit history, though.

[2019-07-11 21:08] WilliamAntonRohm commented on #2483
@lichasu -- thank you for bringing this to our attention.  The distinction in this case appears to be between the current documentation with "3 or 4" and your suggestion of "3 and 4" -- in English, these are equivalent in this case.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-07-11 21:08] #2483 closed

[2019-07-11 21:12] WilliamAntonRohm commented on #2492
@skoppineni  Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please provide more context around the general task.

[2019-07-11 21:20] msebolt commented on #2420
@kaesaecracker Thank you for the feedback.

The change has been made and merged.

[2019-07-11 21:20] #2420 closed

[2019-07-11 21:57] VanMSFT commented on #2272
Hi @tbolon, thank you for bringing this issue to our attention. Since this DMV is scoped for the server level, it requires the VIEW SERVER STATE permission on the server when using SQL Database Standard or Basic Tiers. Since you are not able to grant this permission to users in the **master** database, only server admins are able to query server level DMVs.

On Premium Tiers, you would be able to

[2019-07-11 21:58] MightyPen commented on #2438
@LowerKees Hello, A person more knowledgeable in the area of Security has provided the following answer for this Issue #2438.

(from 'VanMSFT', sent in email (Thur 2019/07/11 13:02pm), for this Issue #2438:

_This is a Support Request. The error “Login failed for user ''. (.Net SqlClient Data Provider)” suggests that the user is connecting from a client machine, to a remote SQL Server, and not pas

[2019-07-11 21:58] #2438 closed

[2019-07-11 22:11] MightyPen commented on #2438
@LowerKees Oops, I forgot to provide the following list of alternative links that might be helpful in your support request.    Thanks.

- [Support options for business users](https://support.microsoft.com/gp/support-options-for-business)
- [Contact Microsoft](https://support.microsoft.com/gp/contactus81?Audience=Commercial)

---

- [UserVoice - Suggestion to improve SQL Server?](https://feedback.a

[2019-07-11 23:21] trstringer commented on #2249
Test comment for @MashaMSFT.

[2019-07-11 23:30] yg-rater8 opened #2499 "What is the purpose of the double colon?"
grant alter on schema :: whatever to whomever

I was able to get my work done by following the documentation example, but I completely don't understand the function of the :: other than empirically observing that the command works with it, but fails without it.

Can someone please explain what this does?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-07-12 06:08] HenrikNM opened #2503 "Drag Drop from Object Explorer"
Dragging and dropping a tabel name or other from the object explorer onto a query windows does not work

[2019-07-12 07:02] LowerKees commented on #2438
Hi Gene,

Thank you so much for feeding this back to me. Appreciate it!

Kind regards,

Martijn

Op vr 12 jul. 2019 00:12 schreef Gene Milener <notifications@github.com>:

[2019-07-12 08:08] tgburgin commented on #2377
Getting the same issue on 18.1 against SQL Server 12.0.6205.1. Clicking back then next fixes it as per @ALZDBA

[2019-07-12 10:44] kamisamanome opened #2504 "Mistake (hh 00-14 ?)"
In ISO 8601 part, "hh is two digits, ranging from 0 to 14," is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ca577f7-34cc-52c9-a960-d81efdc9c46e
* Version Independent ID: eed233e6-4695-b583-2e95-12f77866ff6f
* Content: [time (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/data-types/tim

[2019-07-12 14:05] rothja commented on #2493
@KalleOlaviNiemitalo Thank you for this feedback. I agree this is useful information to put into the article.

@WilliamAntonRohm Here is my suggested re-write in the article:

[code]

[2019-07-12 14:21] rothja commented on #2494
@KalleOlaviNiemitalo Again, thanks for making our docs more clear on this subject. I've verified your findings as well.

@WilliamAntonRohm Could you please make the following rewording the remarks section:

[code]
In addition, one of the samples has extra spaces after the backslash. @WilliamAntonRohm could you fix that too. It results in breaking the sample. Here is the fix:

[code]
SELECT 0xabc\

[2019-07-12 14:25] rothja commented on #2494
#assign @WilliamAntonRohm

[2019-07-12 14:26] rothja commented on #2493
#assign @WilliamAntonRohm

[2019-07-12 14:47] JonWiles-Smarsh opened #2505 "Incorrect last_run_duration definition"
Actually, last_run_duration is in hhmmss, not in seconds.  And if it exceeds 99 hours it is hhhmmss.  It is defined correctly here: https://docs.microsoft.com/en-us/sql/relational-databases/system-tables/dbo-sysjobsteps-transact-sql?view=sql-server-2017

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b21265d7-1a33-8c2e-

[2019-07-12 16:12] dylanetaft commented on #2302
Seriously, do not install 18.0 or 18.1.
18.1 crashes dragging\dropping tables into a query window.
I somehow just corrupted 18.1 too installing SSDT for VS 17.  Side-by-side configuration is incorrect.  Trying to uninstall 18.1 results in an installer hang - "Loading packages - please wait"
17.9 is fine.

[2019-07-12 17:20] msebolt commented on #2503
@HenrikNM Thank you for the feedback.

Please refer to issue https://github.com/MicrosoftDocs/sql-docs/issues/2350 if you'd like this issue to be re-opened.

[2019-07-12 17:20] #2503 closed

[2019-07-12 19:54] Scott123456 opened #2507 "SSMS 18.1 -- Doesn't work with Azure Servers"
When right-clicking a SQL Azure server I am already connected to there is no "Register" option. SSMS 18.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0674489e-3a2d-7898-5580-2a74b13f1a6a
* Version Independent ID: f380aa34-fe92-b756-9777-f39125616fb2
* Content: [Register a Connected Server (SQL Server Management Stud

[2019-07-12 20:25] WilliamAntonRohm commented on #2507
@markingmyname Hi Mark, please process this Issue 2507.

[2019-07-12 20:54] WilliamAntonRohm commented on #2145
@langstonj -- thank you for bringing this to our attention.  I have updated the documentation and it should be live by tomorrow.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-07-12 20:54] #2145 closed

[2019-07-12 21:05] elbertlumenier opened #2508 "NOTRUNCATE is applicable only to data files. NONTRUNCATE doesn't affect the log file."
There is a typo in the Arguments paragraph of the documentation:
NOTRUNCATE is applicable only to data files. NONTRUNCATE doesn't affect the log file. =&gt; should be NOTRUNCATE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87349f50-5751-68c4-df29-90c1c7c151d9
* Version Independent ID: bb82dc63-23ec-eda3-0200-88c4748e

[2019-07-12 21:32] MightyPen commented on #2498
@WilliamAntonRohm
Perhaps the earlier H2 section named "Create an external table in the data pool" is the answer?

- https://docs.microsoft.com/en-us/sql/big-data-cluster/tutorial-data-pool-ingest-sql?view=sqlallproducts-allversions#create-an-external-table-in-the-data-pool

[2019-07-12 21:46] msebolt commented on #2508
@elbertlumenier Thank you for the feedback.

The change has been made.

[2019-07-12 21:46] #2508 closed

[2019-07-12 21:48] msebolt commented on #2505
@JonWiles-Smarsh Thank you for the feedback.

The change has been made.

[2019-07-12 21:48] #2505 closed

[2019-07-12 22:03] msebolt commented on #2504
@kamisamanome Thank you for the feedback.

The change has been made.

#please-close

[2019-07-12 22:03] #2504 closed

[2019-07-12 23:11] LindaLF opened #2509 "On using multiple versions of SQLCMD"
1. I don't like that this page does not list which versions of SQL it pertains to, and instead had a link to the same command for prior to SQL2014.
2. I don't like that I can't tell which specific version of SQLCMD will be downloaded when I click on the download link.
3. I don't like the fact that I cannot easily tell by running the latest installation for SQLCMD that I am unable to determine wher

[2019-07-13 16:13] p4lpsk commented on #2156
I had the same problem. Found a temporary solution by using keyboard shortcut CTRL + TAB to switch between the tabs.

[2019-07-14 03:23] jigarce commented on #2156
Thanks buddy!
Its working!

[2019-07-14 13:44] iamjakkie opened #2511 "Lacking closing parentheses"
Hello,

in code example 'CONTAINS(column_name, 'NEAR((A,AA),2, TRUE')  ' there is a lacking parentheses after 'TRUE'.

Best wishes,
Jakub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a763c6f-f4f6-2bbe-841a-46f8afd25e8b
* Version Independent ID: 7c12c524-fe1a-9327-30c3-c9cb55037892
* Content: [Search for Words Close

[2019-07-14 19:46] pvmraghunandan opened #2512 "Issue with the logic of finding different between dates logic"
For the logic in the Section finding-difference-between-startdate-and-enddate-as-date-parts-strings,

Let's consider below input

SET @date1 = '2019-11-29 00:00:00.000'
SET @date2 = '2020-01-31 00:00:00.000'

The output is showing as 2 Months 1 Day instead of 2 Months 2 Days. Also Output is 2 Months 1 Day for

SET @date1 = '2019-11-29 00:00:00.000'
SET @date2 = '2020-01-30 00:00:00.000'

Scenario

[2019-07-15 01:04] dallen66 opened #2516 "Documentation for cascaded delete"
I know its a new feature but are there an documentation on cascaded delete,
it was introduce in CTP 2.3.

Below is the release statement.
Extending this feature further, you can define cascaded delete actions on an edge constraint. You can define the actions that the database engine takes when a user deletes the node(s), that a given edge connects.

---
#### Document Details

⚠ *Do not edit this s

[2019-07-15 02:10] MSraye commented on #2426
@stevestein Hi Steve, seems you reach out to the wrong contact. DAC isn't under the scope of SSIS.

[2019-07-15 13:54] AngryRhetoric commented on #2421
@WilliamAntonRohm and @stevestein
Thank you both for the updated article and the mention of the comment.  I did read that, and it helps a bit...but I was hoping to know why it's not supported for many operations such as distributed transactions.  I believe our product is using it in production and it would be nice if the article detailed why this is a bad idea.

Take care,

-Kevin

[2019-07-15 16:46] rothja commented on #2414
@watfordgnf Thanks for reporting this. I just went through the steps on my Windows 10 machines with the latest 18 version of LCOW, and it worked without any errors. I'm not sure what the difference might be. At this point, the best course of action might be to open a support case with Microsoft to investigate. I'm sorry I can't reproduce, and I apologize for the delay in my test and response. At t

[2019-07-15 17:07] watfordgnf commented on #2414
Alright, I'll follow https://github.com/microsoft/mssql-docker/issues/441 for the fix then I guess. Thanks.

[2019-07-15 17:12] rothja commented on #2414
@watfordgnf It does look to be an issue, so my configuration must not be right for reproducing. I'll forward this to our product team directly as well. Sorry that I don't have an answer right now for you.

[2019-07-15 18:04] msebolt commented on #2512
@pvmraghunandan Thank you for the feedback!

The sample you describe appears to be removing the year data, before calculating months, days, etc. and that is what is causing the discrepancy.

I will add a note to the sample addressing the concern and mention the author for future update.

FYI @MikeRayMSFT

[2019-07-15 21:13] MashaMSFT commented on #2343
Hi @dcallagh , thanks again for your suggestions for improving our documentation! Is there anything further we can assist you with from the documentation perspective? If not, we will proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2019-07-15 21:19] WilliamAntonRohm commented on #2516
@shkale-msft -- please look into this feedback.

cc: @stevestein @markingmyname

[2019-07-15 21:24] MashaMSFT commented on #2497
Hi @johnmreynolds , is there anything further we can assist you with from the documentation perspective? If not, we will proceed with closing out this Git Issue in a few business days.

Thanks and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2019-07-15 23:30] msebolt commented on #2512
#please-close

[2019-07-15 23:30] #2512 closed

[2019-07-16 05:25] HairyDrumroll opened #2524 "Specify a default collation"
Someone has gone to the trouble of adding a note to say "Instead of changing the default collation of an instance of SQL Server, you can specify a default collation for each new database you create."
It would be useful to include a link or text explaining how to do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3

[2019-07-16 08:03] johnmreynolds commented on #2497
Having looked into it a bit more, I don't think this is really a documentation issue as such. It's more a functionality issue that all of the built-in import/export options for SQL Server and Azure are terrible.

It's doable manually with a script (there are plenty of examples on the web of for instance powershell scripts). Though this isn't straightforward to explain to less technical clients, an

[2019-07-16 09:50] pvmraghunandan commented on #2512
@msebolt Thanks for the update. Is the logic going to be fixed?

[2019-07-16 13:26] VanMSFT commented on #2499
Hi @yg-rater8! Thanks for your question. The double colon represents a scope qualifier. In this instance, users are able to GRANT permission to objects like SCHEMA, LOGIN, ect. The double colon tells SQL Server that SCHEMA is the class. Please see the following for more information: https://docs.microsoft.com/en-us/sql/t-sql/statements/grant-transact-sql?view=sql-server-2017

I hope that helps! If

[2019-07-16 13:26] #2499 closed

[2019-07-16 14:12] VanMSFT commented on #2209
I added a simple data classification, and was able to get results:

![image](https://user-images.githubusercontent.com/40007119/61301594-0491a700-a799-11e9-8446-ce33e9cb30e5.png)

The query is working

[2019-07-16 14:17] Corendiel opened #2528 "-P option not working or no longer available"
[-P password]
Password when connecting with 'SQL Authentication' or 'Active Directory - Password'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 179d9df0-cfc8-d9f2-babc-e9b7d0732d87
* Version Independent ID: c458bccb-8bba-f94c-658c-5d35eab7cdc7
* Content: [Ssms Utility - SQL Server](https://docs.microsoft.com/en-us/sql

[2019-07-16 14:27] VanMSFT commented on #2272
https://github.com/MicrosoftDocs/sql-docs-pr/pull/11064

[2019-07-16 14:33] zrhpwr opened #2529 "Codesnippet not shown"
The codesnipped below the section "To modify an index" is not shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8c5faa8-7453-9431-7aaf-d5df162f4635
* Version Independent ID: a5c6cef3-c5b8-9ad7-c10c-3f0e5d067d1b
* Content: [Modify an Index - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/inde

[2019-07-16 14:33] mco100 opened #2530 "Error "External data sources are not supported with type GENERIC""
Hi,
I get above error msg with this t-SQL statement :
CREATE EXTERNAL DATA SOURCE My1stDataSource WITH (LOCATION = 'sqlserver://xxx:1433',CREDENTIAL = SQLServerCredentials);
Master key + Credentials created successfully....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23b43af9-7da3-819b-d4f6-0e39f24f5f75
* Version In

[2019-07-16 14:50] VanMSFT commented on #2272
Docs should go live soon with changes to permission. Closing.

[2019-07-16 14:50] #2272 closed

[2019-07-16 15:29] stevestein commented on #2426
@MSraye - Thanks Ran.

I started an internal thread to locate someone who can assist on this.

[2019-07-16 15:36] kfeit opened #2531 "Incorrect "Applies To""
The content on this page actually applies to SQL Server, but it is tagged as Azure SQL Database.
Please also add a section on rotating keys for SQL Server TDE encrypted databases using Azure Key Vault.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 561a78d9-5662-287c-2599-a36b2102b8d5
* Version Independent ID: 9820cfde

[2019-07-16 16:29] MashaMSFT commented on #2497
Hi @johnmreynolds , thank you for your feedback and I'm sorry to hear you did not find the solution you were looking for. I would encourage you to share your feedback directly with the product group so that we can improve the experience for you, and for other customers. You can do so at [https://aka.ms/sqlfeedback](https://aka.ms/sqlfeedback), where the product group directly takes feedback.

I wi

[2019-07-16 16:29] #2497 closed

[2019-07-16 17:03] pensivebrian commented on #2430
This looks like a sqlpackage bug. We're looking into it. @IvanAlekseev - it would be helpful to know which connection string name/values are specified in the profile.xml. Are you setting the user id and password in the profile.xml in addition to command line?

[2019-07-16 18:11] jzabroski opened #2533 "Bad link in Always Encrypted enclave docs"
https://docs.microsoft.com/en-us/windows/desktop/seccrypto/managing-certificates-with-certificate-stores/ 404 - does not exist

in https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/relational-databases/security/encryption/configure-always-encrypted-enclaves.md

[2019-07-16 18:28] binki opened #2534 "Formatting symbols appear in the document."
For example, “\*@variable\*” and lots of “\*\*.\*\*WRITE”. I.e., the asterisk appears to show up in the document in places where it was meant to be transformed using the markdown parser but appears in the webpage as asterisks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc5aa35c-e2c9-1cce-0026-6aae93b30504
* Version

[2019-07-16 18:29] binki commented on #2534
Some examples as seen in my browser:

![image](https://user-images.githubusercontent.com/82626/61319840-1d6c7d80-a7d6-11e9-9cc7-1aac8fb52e21.png)
![image](https://user-images.githubusercontent.com/82626/61319845-23faf500-a7d6-11e9-962d-a2e16701b7e1.png)
![image](https://user-images.githubusercontent.com/82626/61319847-29f0d600-a7d6-11e9-9982-ecfd757c47f5.png)

[2019-07-16 19:24] LindaLF opened #2535 "Default Policy Location Error"
The sentence "By default, these policies are not installed on the SQL Server Database Engine, but they can be imported from the default location of C:\Program Files\Microsoft SQL Server###\Tools\Policies\DatabaseEngine\1033 or C:\Program Files (x86)\Microsoft SQL Server###\Tools\Policies\DatabaseEngine\1033 on 64-bit installs." appears to list the wrong location for default policies.  I have SQL20

[2019-07-16 19:59] WilliamAntonRohm commented on #2251
https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1571847

@julieMSFT Hi Julie, I have created work item 1571847 to track the unresolved status of this aging Issue 2251.
I am now closing this Issue.

[2019-07-16 19:59] #2251 closed

[2019-07-16 20:10] ableji opened #2536 "AND operator do now work as expected with OPENJSON()"
This query execute successfully

[code]

when I append an **AND** operator to the query

[code]
it returns nothing/empty result.

but its ok with OR operator and return some data.

I wana know whats wrong with AND operator ?
and is there any better way to write this query ?

[2019-07-16 20:42] WilliamAntonRohm commented on #2283
@VanMSFT -- please look into this aging issue 2283.

[2019-07-16 20:51] razgrim opened #2537 "Server object browsing dies on periods"
If the path has a period in it, this CMDLET dies.
"dir SQLSERVER:\SQL\$servername\DEFAULT\Databases\testDB" will work great.
"dir SQLSERVER:\SQL\$servername\DEFAULT\Databases\test.DB" errors out wildly:
"Cannot retrieve the dynamic parameters for the cmdlet. SQL Server PowerShell provider error: The number of keys specified does not match the number of keys required to
address this object. The num

[2019-07-16 20:56] razgrim commented on #2537
The following script demonstrates the issue well:

$servername="dev-sql01"
$databases=Get-ChildItem -Path "SQLSERVER:\SQL\$servername\DEFAULT\Databases"

foreach ($db in $databases){
    echo "-----$db-----"
    Get-ChildItem $db
}

![image](https://user-images.githubusercontent.com/43814950/61329131-9bd31a80-a7ea-11e9-9384-d6a8057e9328.png)

[2019-07-16 21:47] WilliamAntonRohm commented on #2329
@MikeRayMSFT -- Mike, please look into this aging issue 2329.

[2019-07-16 21:50] WilliamAntonRohm commented on #2333
@TrayceJ -- Hi Trayce.  Thank you for your feedback.  I believe Gene's comment above answers your question.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-07-17 00:11] stevestein commented on #2426
@anddrzejb - Dac registration is an older feature that is no longer working/supported and is in the process of being deprecated. I created an internal work item (1571961) to add info to the relevant articles.

[2019-07-17 00:13] stevestein commented on #2426
We're going to go ahead and close this issue. Feel free to provide additional comments.

Thanks again for raising this issue.

[2019-07-17 00:13] #2426 closed

[2019-07-17 01:55] Daemach commented on #2150
I am having this same problem trying to restore from Azure into a linux docker container.  Is there a fix coming soon and when?

[2019-07-17 05:00] MightyPen commented on #2302
@MrM40 The SSMS team is focused on fixing the bugs that are in SSMS 18.1.  Your points are noted and are well-taken. It is time to Close this Issue 2302.
Thank you for submitting this Issue. We hope to hear from you again.

CC: @WilliamAntonRohm

[2019-07-17 05:00] #2302 closed

[2019-07-17 05:34] MrM40 commented on #2302
The problem is not that 18.0  and 18.1 have bugs, all software has bugs, that's okay.
The problem is your attitude and decisions which seems to be highly influence by a political marketing agenda that has no place for a product like SSMS (and if it's not, that makes your decisions look even worse).
The real issues are:
1: That you release 18.0 and 18.1 as production ready. It is very obvious at be

[2019-07-17 05:44] stevestein commented on #2524
@CarlRabeler - can you provide additional info on this?

[2019-07-17 05:52] sam-s4s opened #2539 "Version Requirement"
How are you supposed to know which versions of SQL Server things are supported in, if the pages don't tell you?

ie. I have a minimum requirement of 2008 R2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a29ea4d1-a927-9870-e19e-4e82a8078099
* Version Independent ID: ff446beb-d8ce-21b4-f6ab-cf5980b2df25
* Content: [~ (

[2019-07-17 09:03] wangyum opened #2540 "Improve decimal precision with cast"
For the following case:
[code]

Could we optimize the `decimal(p1, s1) * decimal(p2, s2)`'s result type to `DECIMAL(p3, s3)` and remove `CAST`? This can improve performance and  precision.

Example:
[code]
The result type of `cast(-34338492.215397047 as decimal(38, 18)) *  cast(-34338492.215397047 as decimal(38, 18))`  is `decimal(38, 6)`:
[code]
Then cast the result from `decimal(38, 6`) to `deci

[2019-07-17 09:06] mco100 commented on #2530
fixed issue by running below command
exec sp_configure @configname = 'polybase enabled', @configvalue = 1;
RECONFIGURE WITH OVERRIDE   ;

[2019-07-17 10:05] rl-msft opened #2541 "installation of kubeadm and kubelet are failing with : Depends: kubernetes-cni (= 0.6.0) but 0.7.5-00 is to be installed"
when following Step 4  and executing this command

KUBE_DPKG_VERSION=1.11.3-00
sudo apt-get update && /
sudo apt-get install -y ebtables ethtool && /
sudo apt-get install -y docker.io && /
sudo apt-get install -y apt-transport-https && /
sudo apt-get install -y kubelet=$KUBE_DPKG_VERSION kubeadm=$KUBE_DPKG_VERSION kubectl=$KUBE_DPKG_VERSION && /
curl https://raw.githubusercontent.com/kubernetes/he

[2019-07-17 10:19] Loves2Code opened #2542 "Windows Server 2019"
Windows Server 2019 is NOT listed as a "Supported Operating System."
I'm assuming it should be listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811ed1f4-1c78-aa1b-e752-307250ca8eb7
* Version Independent ID: f36629bf-b2e6-4993-7c77-32fa311ea942
* Content: [Download and install - Azure Data Studio](https://docs.mic

[2019-07-17 10:51] orastarter opened #2543 "offset, row, rows?"
Hi, according this article https://docs.microsoft.com/en-us/sql/t-sql/queries/select-order-by-clause-transact-sql?view=sql-server-2017 i don't see "offset", "row", "rows" etc in this list. Is it correct? Are they also keywords?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f79ec4df-5309-60fc-1c20-f32b219fb9b9
* Versio

[2019-07-17 11:26] sqlenders opened #2544 "The behavior of FOR XML AUTO is different when compatibility level is less then 90"
The behavior of FOR XML AUTO is different when compatibility level is less then 90

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 252ab2db-6a09-17d5-b082-c369f06028ec
* Version Independent ID: 3e6521e3-565a-9a30-b17d-49254c22569d
* Content: [Use AUTO Mode with FOR XML - SQL Server](https://docs.microsoft.com/en-us/sql/

[2019-07-17 16:09] CarlRabeler commented on #2524
you can set the collation for a new database in a managed instance - see https://docs.microsoft.com/en-us/sql/relational-databases/collations/set-or-change-the-database-collation

[2019-07-17 16:40] WilliamAntonRohm commented on #2421
@stevestein -- please look into adding this information to that article.

[2019-07-17 17:09] WilliamAntonRohm commented on #2400
@SimonHellings -- thank you Simon for your feedback.  I updated the documentation and it should be live by tomorrow.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-07-17 17:09] #2400 closed

[2019-07-17 17:11] WilliamAntonRohm commented on #2397
@dakrdakr -- David, thank you for your feedback.  I updated the documentation and it should be live by tomorrow.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-07-17 17:11] #2397 closed

[2019-07-17 17:41] msebolt commented on #2528
@Corendiel Thank you for the feedback.

What version of SSMS are you using?

The removal of the -P option is listed as part of the features list for version 18 (see [SSMS 18 Release Notes](https://cloudblogs.microsoft.com/sqlserver/2019/04/24/sql-server-management-studio-ssms-18-0-released-for-general-availability/)).

[2019-07-17 18:02] aliceku commented on #2531
@VanMSFT, can you help to fix the moniker, this is wrong and was added in error:  monikerRange: "= azuresqldb-current || = sqlallproducts-allversions"

[2019-07-17 18:05] #2343 closed

[2019-07-17 18:10] msebolt commented on #2530
@mco100 Thank you for the feedback.

Your fix is located in the [PolyBase installation](https://docs.microsoft.com/sql/relational-databases/polybase/polybase-installation?view=sql-server-ver15#enable) article, so to clarify I updated the **Prerequisites** section.

[2019-07-17 18:10] #2530 closed

[2019-07-17 18:12] dphansen commented on #2207
@hfleitas A new version of the script can now be found at https://aka.ms/mlm4sql (also linked from the [docs article](https://docs.microsoft.com/en-us/sql/advanced-analytics/install/sql-pretrained-models-install?view=sql-server-ver15)).

[2019-07-17 18:42] Corendiel commented on #2528
Hi Matt,

I'm using the most recent version of SSMS. Thanks for pointing out the
Release Notes with the reason of that change. However, I still believe this
page need to be updated. The -P option is still referenced and mentioned in
relation to other options. Lot of the features are no longer working
properly with a guarantied failed authentication.

I don't know if you have a diferent version of

[2019-07-17 18:46] msebolt commented on #2528
Hi Yann,

Sounds good, I'll assign to the author for an update on how/when the article will be changed to reflect this issue.

[2019-07-17 18:47] msebolt commented on #2528
@markingmyname Any guidance on how documentation is updated to reflect GA releases?

[2019-07-17 18:48] msebolt commented on #2533
@jzabroski Thank you for the feedback.

The article has been updated.

[2019-07-17 18:48] #2533 closed

[2019-07-17 19:19] MightyPen commented on #2544
@sqlenders Your statement is probably correct. Yet the particular article. "Use AUTO Mode with FOR XML", only claims to cover SQL Server versions 2016 and later (at least through SQL Server 2019). Compatibility Level 90 refers to SQL Server 2005 (I think), and the effect of Compat 90 on AUTO is covered in documentation between 2008-2014 (inclusive). At some point it becomes necessary to remove his

[2019-07-17 19:19] #2544 closed

[2019-07-17 19:22] msebolt commented on #2535
@LindaLF Thank you for the feedback.

I think the article meant to use:
`C:\Program Files (x86)\Microsoft SQL Server\###\Tools\Policies\DatabaseEngine\1033`

Are you able to locate the `Tools` folder?

I have SQL Server 2017 running with policies located here:
`C:\Program Files (x86)\Microsoft SQL Server\140\Tools\Policies\DatabaseEngine\1033`

...though note the policies could be in any version's

[2019-07-17 19:56] msebolt commented on #2536
@ableji Thank you for the question.

The **CROSS APPLY** will flatten your JSON data and then when you try to apply the **AND** to a single column of data, it returns nothing because both `1111` and `2222` are in separate rows.  You should instead use the **OR**.

Observe this when you run the first part of your statement:

[code]

...and note the flattened nature of the JSON values.  Moving forwa

[2019-07-17 19:56] #2536 closed

[2019-07-17 20:17] freemanjr opened #2545 "The "Microsoft Knowledge Base article 329204" doesn't exist"
The link behind "Microsoft Knowledge Base article 329204" does not exist.

https://go.microsoft.com/fwlink/?linkid=117786

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a7dcdd-802d-d1c8-ddde-4a06d553bfc4
* Version Independent ID: 6cf27ff6-23be-179d-479a-fca388049ed4
* Content: [Set the Max Degree of Parallelism Optio

[2019-07-17 20:36] markingmyname commented on #2377
Hello, everyone.

I apologize for the delayed response.

Thank you for your suggestion and request. We're on it. This will be discussed with the parties involved.

In the meantime, can you please visit [UserVoice](https://feedback.azure.com/forums/908035-sql-server) to submit your issue?

[2019-07-17 20:37] markingmyname commented on #2388
Hello, everyone.

I apologize for the delayed response.

Thank you for your suggestion and request. We're on it. This will be discussed with the parties involved.

In the meantime, can you please visit UserVoice to submit your issue?

[2019-07-17 20:37] msebolt commented on #2537
@razgrim Thank you for the feedback.

This definitely constitutes a product bug.

@markingmyname Do you have a reference for SQL Server Powershell issues?

[2019-07-17 20:39] markingmyname commented on #2388
Do you have a Kerberos setup?

[2019-07-17 20:41] markingmyname commented on #2388
Hi, @jensenjk,

Sorry for the delayed response.

This looks like a support request rather than documentation feedback – you can get support by going to https://support.powerbi.com. You might find a solution in the Power BI Community, found at https://community.powerbi.com.

[2019-07-17 20:41] markingmyname commented on #2388
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-07-17 20:41] #2388 closed

[2019-07-17 20:55] markingmyname commented on #2408
Thanks for the feedback! However, this area is primarily for doc issues. To report product issues, the best way to reach out to the SSMS Team is at [UserVoice](https://feedback.azure.com/forums/908035-sql-server).

[2019-07-17 20:57] markingmyname commented on #2408
Thank you for your suggestion and request. We're on it. This will be discussed with the parties involved.

In the meantime, can you please visit [UserVoice](https://feedback.azure.com/forums/908035-sql-server) to submit your issue?

[2019-07-17 21:02] StingyJack commented on #2408
@markingmyname - I hope you making a funny?

[2019-07-17 21:30] cconrado opened #2546 "RSS Feed?"
Is there a rss feed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Management Studio (SSMS) - SQL Server](https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-s

[2019-07-17 23:02] markingmyname commented on #2485
Thanks for the feedback! However, this area is primarily for doc issues. To report product issues, the best way to reach out to the SSMS Team is at [UserVoice](https://feedback.azure.com/forums/908035-sql-server).

[2019-07-17 23:05] markingmyname commented on #2408
hi @StingyJack,

I wasn't, but I was able to reproduce the issue.

That's why I am in discussion with our engineers to see what is going on.

I will keep you all posted.

To be clear, I am talking about not being able to connect to SSIS.

[2019-07-18 00:13] MashaMSFT commented on #2249
Thanks for contacting Microsoft with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We’ll contact you if we need further information, and you’ll receive an email message each time we “@mention” you in a comment.
If you're suggesting a simple change to the document

[2019-07-18 00:16] markingmyname commented on #2488
@nprieto95,

Did you mean from this [article](https://docs.microsoft.com/en-us/sql/ssms/register-servers/create-a-central-management-server-and-server-group?view=sql-server-2017#SSMSProcedure)?

[2019-07-18 00:26] markingmyname commented on #2488
Also, I was able to make it work with an Azure SQL Database following the instructions.

Can you copy the link from the exact section of the article you are trying to follow, please?

thank you.

[2019-07-18 00:30] HairyDrumroll commented on #2524
But what about the default collation for new databases on a SQL Server. That is what the note is referring to, but there is no instruction or link to instructions on how to do this.

[2019-07-18 01:06] sam-s4s opened #2548 "What is a "blank"?"
You state: "LEN excludes trailing blanks"... but what is a blank defined as? Just a CHAR(32)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ff0d040-6a32-aa7f-0b6e-91a392a1e4e0
* Version Independent ID: 5560f1d4-948f-e5de-738b-5950000505a1
* Content: [LEN (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/s

[2019-07-18 01:07] MashaMSFT commented on #2249
Thanks for contacting Microsoft with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. Weâ€™ll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

If you're suggesting a simple change to the docum

[2019-07-18 06:58] VanMSFT commented on #2531
@aliceku - Hey Alice! I fixed the moniker and the **Applies to**. Monikers are not needed in this instance.

I'm assigning this issue back to you for any comments or closure. Thanks!

https://github.com/MicrosoftDocs/sql-docs-pr/pull/11100

[2019-07-18 07:17] VanMSFT commented on #2545
@freemanjr - Hi Jonathan! Thank you for letting us know! We appreciate your contribution on helping us with the documentation. I have updated the link, and it should go live tomorrow. If there are any questions, please feel free to let us know. I'll go ahead and close this issue for now.

https://github.com/MicrosoftDocs/sql-docs-pr/pull/11101

[2019-07-18 07:17] #2545 closed

[2019-07-18 07:24] VanMSFT commented on #2283
Looking into it.

[2019-07-18 08:58] tomas-weir opened #2549 "Getting SQL80001: Incorrect syntax near '[CredentialName]'. Expecting '='."
Using SSDT:

CREATE DATABASE SCOPED CREDENTIAL [CredentialName] WITH IDENTITY = 'Something',
    SECRET = '&lt;EnterStrongPasswordHere&gt;';
GO

I get error: "SQL80001: Incorrect syntax near '[CredentialName]'.  Expecting '='."

Intellisence in SSMS shows the same syntax issue but then executes the command successfully.

Environment:
- Microsoft SQL Azure (RTM) - 12.0.2000.8
- Microsoft Visual Stu

[2019-07-18 09:03] unlucky-cat opened #2550 "Suggestion to add a version restriction tip to the working-with-kpis-in-reporting-services page"
It should be worth mentioning that KPI feature is accessible only in Enterprise (Developer) editions of the SSRS portal.

I personally tried and failed to find out why I cant see the KPI option in the SSRS portal menu and it could save me some time if there was for example a tip that this feature is only available in the Enterprise edition

[2019-07-18 11:16] tomas-weir commented on #2549
Probably no issue with the docs. It's a VS issue. Upgraded to latest 2019 but having the same issue. I can see people have been reporting that same issue since 2016...

[2019-07-18 13:24] Guillaume-Fourrat opened #2551 "Requires refresh for SQL Server Box"
* Should specify SQL2019 / vNext as minimum version for Server (the metadata is included in header, which will make the page content unavailable if SQL 2017 or older is selected, but this information doesn't actually appear on the doc itself).
* Description of resultset not in line with 2019 CTP3 : some columns are missing from docs (eg checksum), some columns are documented and don't exist (eg to

[2019-07-18 14:55] Guillaume-Fourrat opened #2552 "extended_properties storage seems to be valid up to SQL 2017 only"
extended_properties is used as storage of sensitivity metadata, as per current doc, up to SQL 2017.
SQL 2019 (as of CTP3) seems to use sys.sensitivity_classifications instead (not a mere wrapper since extended_properties is empty when sys.sensitivity_classifications is populated. Appears extended_properties exposes raw data from sysxprops when sensitivity_classifications uses sysobjvalues).

(I ju

[2019-07-18 15:02] CeciAc opened #2553 "There is a problem with the docker startup command."
Hi team,
I'm copying this from here: https://github.com/MicrosoftDocs/sql-docs.zh-tw/issues/112
since the sure is making a suggestion on the code example

@f22520779 commented 13 hours ago
(Translated)
Docker run -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=&lt;YourStrong!Passw0rd&gt;' ...

Should be docker run -e "ACCEPT_EULA=Y" -e "SA_PASSWORD=YourStrong!Passw0rd" ...

Single quotes are wrong

---
#### Do

[2019-07-18 15:10] kfeit opened #2554 "Incorrect formatting at end of Part II"
The formatting of the text after "Important" at the end of Part II appears to be incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4997f245-c966-51a3-34c7-705c3cfbd4b0
* Version Independent ID: 129fbe40-3b02-f2c1-ef13-b42d86ffdb77
* Content: [SQL Server TDE Extensible Key Management Using Azure Key Vault - Setu

[2019-07-18 15:17] kfeit opened #2556 "Clarify Part IV Step 5"
Please clarify Part IV Step 5.  When it states "if you imported...", does that mean this step is not required if you created a new key directly in key vault?  If so, please state it explicitly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4997f245-c966-51a3-34c7-705c3cfbd4b0
* Version Independent ID: 129fbe40-3b02-f2

[2019-07-18 15:28] kfeit opened #2557 "Add information on Key Rotation"
In the "Transparent Data Encryption by using an Asymmetric Key from Azure Key Vault" can you please describe the process for rotating keys.  For example, do you need to turn off encryption on the database and then perform steps 1 through 4 or is there another approach to handle key rotation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-07-18 16:28] msebolt commented on #2529
@zrhpwr Thank you for the feedback.

The change has been made.

[2019-07-18 16:28] #2529 closed

[2019-07-18 16:36] msebolt commented on #2534
@binki  Thank you for the feedback.

The changes have been made to the documentation.

[2019-07-18 16:36] #2534 closed

[2019-07-18 17:05] aliceku commented on #2557
@VanMSFT can you help with this?

[2019-07-18 17:05] aliceku commented on #2556
@VanMSFT

[2019-07-18 17:10] msebolt commented on #2546
@cconrado Thank you for the question.

You can use RSS feeds in Microsoft Docs search, just search for the article or general topic using the **Search** bar and select **RSS** in the top right corner.

See the feature's [Twitter post](https://twitter.com/docsmsft/status/914964358601625605?lang=en).

[2019-07-18 17:10] #2546 closed

[2019-07-18 17:15] msebolt commented on #2554
@kfeit  Thank you for the feedback.

The change has been made.

[2019-07-18 17:15] #2554 closed

[2019-07-18 17:34] VanMSFT commented on #2549
@tomas-weir - Thanks for bringing this issue up! Yes, this is a Product/Support issue and I would advise that you look through the following channels for support if you haven't already done so. Thanks!

- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Setup and Upgrade -  MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=

[2019-07-18 17:34] #2549 closed

[2019-07-18 17:39] msebolt commented on #2548
@sam-s4s Thank you for the feedback.

Blanks are generally defined as spaces and tabs.

Since the **LEN** function registers tabs in the count I've updated the article to specify space.

[2019-07-18 17:39] #2548 closed

[2019-07-18 17:45] msebolt commented on #2553
@CeciAc The changes have been made.

[2019-07-18 17:45] #2553 closed

[2019-07-18 18:00] msebolt commented on #2539
@sam-s4s Please take a look a the [previous versions](https://docs.microsoft.com/en-us/sql/toc/previous-versions-sql-server?view=sql-server-2017) article for links to previous version documentation.

[2019-07-18 19:00] RachelAmbler opened #2558 "Documentation incomplete"
Permission type XU (Unsafe Assembly) is missing for starters. Unsure if any other permission type is also not documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d84ff1d-3f92-6ac7-662c-c4f25a2fff8b
* Version Independent ID: fa9a8131-2155-644a-9474-94b749b2fd0e
* Content: [sys.server_permissions (Transact-S

[2019-07-18 19:28] msebolt commented on #2125
@aldelar This issue has been resolved.

@mzaman1 Good idea, though this would be a separate issue marked as the need to replace current version markers.

[2019-07-18 19:28] #2125 closed

[2019-07-18 19:50] StingyJack opened #2559 "This list is not correct and contains values that are not available."
The available choices for the `[Microsoft.Azure.Commands.Sql.Auditing.Model.AuditActionGroups]` enum are...
- APPLICATION_ROLE_CHANGE_PASSWORD_GROUP
- BACKUP_RESTORE_GROUP
- BATCH_COMPLETED_GROUP
- BATCH_STARTED_GROUP
- DATABASE_LOGOUT_GROUP
- DATABASE_OBJECT_CHANGE_GROUP
- DATABASE_OBJECT_OWNERSHIP_CHANGE_GROUP
 - DATABASE_OBJECT_PERMISSION_CHANGE_GROUP
 - DATABASE_OPERATION_GROUP
 - DATABASE_PER

[2019-07-18 20:08] StingyJack commented on #2408
If it were still in use and usable, Uservoice would have been for new feature requests, not for reporting issues or bugs.

Issues and bugs used to be the realm of Connect, until someone decided that a digital book burning was in order and they could somehow make the bugs that were reported in there vanish along with the reports of the bugs.

I'm an MSDN enterprise subscription holder, but aint no

[2019-07-18 20:27] WilliamAntonRohm commented on #2280
@MikeRayMSFT -- please review the duplicated changes in https://github.com/MicrosoftDocs/sql-docs-pr/pull/11115

cc:  @pmasl

[2019-07-18 20:48] WilliamAntonRohm commented on #2322
@markingmyname -- Mark, please look into this aging issue 2322.

[2019-07-18 20:50] msebolt commented on #2550
@unlucky-cat Thank you for the feedback.

A note has been added to the article.

[2019-07-18 20:50] #2550 closed

[2019-07-18 20:58] WilliamAntonRohm commented on #2524
@HairyDrumroll -- if I understand you correctly, the information you are looking for is in [this related article](https://docs.microsoft.com/en-us/sql/relational-databases/collations/set-or-change-the-database-collation?view=sql-server-2017).

I will update that Note to include a link the related article.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to h

[2019-07-18 20:58] #2524 closed

[2019-07-18 20:58] dnethi commented on #2408
hey @StingyJack  -
I am the PM for SSMS.
As suggested, please use UserVoice for reporting both new features as well as bugs. Contrary to what you believe, we do have teams working on SSDT and other client tools. Chris's response in your other thread still holds true.

thanks,
Dinakar

[2019-07-18 21:18] pmasl commented on #2280
Do not merge the PR. Most of the PR is code embellishment, but introduces docs formatting errors (code syntax is NOT marked as tsql because its not executable, like examples are) and the additional comments added are extraneous.

I’ve slightly reworded some of the content in PR 11116 and merging those. Also found that datediff_big already had the docs formatting error that I’m reverting too.

Than

[2019-07-18 21:21] msebolt commented on #2546
@cconrado  I don't see an RSS feed readily available for the SSMS downloads.

@markingmyname Customers may be interested in an RSS feed for newly available downloads of SSMS.

[2019-07-18 21:28] pmasl commented on #2280
Addressed in PR #11116. This can be closed

[2019-07-18 21:29] msebolt commented on #2546
The alternative in the meantime is to watch for article updates with:

`https://docs.microsoft.com/api/search/rss?search=%22Download+SQL+Server+Management+Studio+%28SSMS%29%22&locale=en-us&%24filter=scopes%2Fany%28t%3A+t+eq+%27sql%27%29`

The search returns multiple results so you would need a way to only watch the first result.

[2019-07-18 21:35] JediSQL opened #2560 "Deferred Name Resolution"
This page should have content-about/link-to Deferred Name Resolution information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c31cc40b-000d-cfc3-4e59-7d829ea1b488
* Version Independent ID: e5c40e50-8ca3-f0bd-8f29-f3e8f566a0f3
* Content: [Stored Procedures (Database Engine) - SQL Server](https://docs.microsoft.com/en

[2019-07-18 22:01] msebolt commented on #2559
@StingyJack Thank you for the feedback.

@VanMSFT The attached file shows PowerShell documentation of recent command types to update the article.  In the attached file, `FAILED_LOGIN_GROUP` is not present though present in the article.

[powershell_output.txt](https://github.com/MicrosoftDocs/sql-docs/files/3408593/powershell_output.txt)

[2019-07-18 22:02] msebolt commented on #2559
@markingmyname FYI

[2019-07-18 23:01] sam-s4s commented on #2548
Perfect, thank you :)

[2019-07-18 23:06] sam-s4s commented on #2539
Hmmm, I thought I remembered a past version of the docs listing the version that the feature was available in. Seems like something that should be present, for example...

TRIM (SQL Server 2017)

But the docs don't mention which versions things are in at all, which seems like a pretty big omission! Then we have to go hunting to old docco. And even the version selector (top-right) is broken, and wh

[2019-07-18 23:52] VanMSFT commented on #2475
@Datachick - Hi Karen! Are you talking about Azure SQL Server? If so, it's already listed here: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-dynamic-data-masking-get-started

If you are talking about the page that is linked to this issue, masking a credit card number is done with "partial", and already discussed:

ADD MASKED WITH (FUNCTION = 'partial...

Please let me know if I

[2019-07-19 00:14] tom-boardman opened #2562 "Italics missing from one parameter in Syntax section"
In the Syntax section, the word 'role' should be in italics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 416c8b0e-11c0-dea7-fcbf-8b893a1bf41c
* Version Independent ID: 613a1373-016f-ece2-0843-2acc80d48d4c
* Content: [sp_helpdbfixedrole (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-data

[2019-07-19 08:34] kevchant opened #2563 "Support"
Just to check, are we still covered by Microsoft support if we use this method to change server collation here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ca70403-237f-0160-7d1f-5817e40b5d25
* Version Independent ID: 9993116a-bcec-e054-1cbe-82c3ad603ef6
* Content: [Set or Change the Server Collation - SQL Server](

[2019-07-19 11:13] deanveggy opened #2564 "ambiguous and misleading definition of varchar size"
it states "varchar [ ( n | max ) ] Variable-length string data. n defines the string length in bytes and can be a value from 1 through 8,000". that was not telling me if n should be the minimum, average or max size of my intended data. i had to google blogs to get the much better definition, that n should be the column's constraint max size.

---
#### Document Details

⚠ *Do not edit this section.

[2019-07-19 17:36] erdinccolak opened #2567 "SQL Server Agent - Schedule - One Time Run"
Hi

set one time run working no problem
 but reconfig one time run schedule not working.

**Sample:**

Create Job  Set 19.07.2019 19:40  -One Time Run
**<<<>>> RUN NO PROBLEM <<<>>>**
job complete then

Edit "One time Run" Set new time--> 20.07.2019 19:40
**<<<>>> NOT RUN <<<>>>**

[2019-07-19 17:51] WilliamAntonRohm commented on #2567
@erdinccolak Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-07-19 18:19] StingyJack commented on #2408
@dnethi - Then perhaps you can speak to why SSMS 17+ has been so unstable, with new regressions after every release?  Have you forgone some part of the testing? I really cant afford to have a key tool that I need to use all the time be in this kind of bugged state.  There is a memory dump of SSMS.exe going non-responsive when I am in the middle of typing and switching tabs from an hour or so ago t

[2019-07-19 21:16] WilliamAntonRohm commented on #2334
@MashaMSFT -- please add a link to your work item.  When you create a work item, please close the related issue.

cc:  @MightyPen

[2019-07-19 21:19] #2280 closed

[2019-07-19 21:19] WilliamAntonRohm commented on #2280
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-07-20 01:40] fred339 opened #2568 "spins errors"
one would expect given code to  be error free.

PS C:\WINDOWS\system32&gt; import-Module "sqlps"
WARNING: The names of some imported commands from the module 'sqlps' include unapproved verbs t
hat might make them less discoverable. To find the commands with unapproved verbs, run the Impo
rt-Module command again with the Verbose parameter. For a list of approved verbs, type Get-Verb
.

PS SQLSERVER

[2019-07-20 19:48] InteXX opened #2569 "Looking for checksums"
Are you able to publish hashes for these downloads, so we can validate accuracy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Management Studio (SSMS) - SQL Server](https://docs.microsof

[2019-07-20 20:20] mco100 opened #2570 "SSIS 2019 and Microsoft connector for Oracle (v5.0)"
After installation of SQL Server 2019 with SSIS service and SSDT, during installation of Microsoft connector for Oracle v5.0, there is an error message "Microsoft SQL Server is not installed. The English version of the Connector will be installed". Is there any planned update of this connector for SQL Server 2019 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-07-21 20:37] WannaKatana opened #2571 "Unclear"
where did the 14 come from??  "COLUMNS_UPDATED() & 14"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52d12681-a6f1-258a-d25a-b47741883a88
* Version Independent ID: 72ad45a0-a3d2-1b62-d7c5-2237909d4f4a
* Content: [COLUMNS_UPDATED (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/functions/columns-

[2019-07-22 07:17] jacob-displayr opened #2573 "Incorrect code snippet"
The snippet:
SELECT 'language_id' AS "LCID" FROM sys.fulltext_index_columns;
doesn't work when run. It should be:
SELECT language_id AS "LCID" FROM sys.fulltext_index_columns;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b1f8df8-6e72-0cf8-1f0c-4b5a609d680a
* Version Independent ID: 33fe7c44-6a47-4729-eab6-e9455f31b1

[2019-07-22 09:27] aawood opened #2574 "Slight typo"
In 'Limiting the number of rows returned' section E 'Running multiple queries in a single transaction', the third comment in the example has a small typo. It reads "-- Beging the transaction"; the first word should be "Begin".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e30064c-9e16-640d-19ce-4b62c4cee65b
* Version

[2019-07-22 15:44] rothja commented on #2543
@orastarter Thanks for the question. I can see from the article why we would think that these should be listed as reserved keywords. But they don't quite behave the same. Note the qualification "Although it is syntactically possible to use SQL Server reserved keywords as identifiers and object names in Transact-SQL scripts, you can do this only by using delimited identifiers." So you can't do this

[2019-07-22 15:46] rothja commented on #2543
@orastarter I'm going to close this issue, but please feel free to continue the conversation. Thanks, again!

[2019-07-22 15:49] rothja commented on #2543
#please-close

[2019-07-22 15:54] rothja commented on #2494
@WilliamAntonRohm Just to avoid confusion, I'm reassigning this back to you to complete the change. Let me know if that works for you. Thank you! #reassign @WilliamAntonRohm

[2019-07-22 15:54] PRMerger19 commented on #2494
WilliamAntonRohm is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-07-22 15:55] rothja commented on #2494
@WilliamAntonRohm Just to avoid confusion, I'm reassigning this back to you to complete the change. Let me know if that works for you. Thank you! #reassign:@WilliamAntonRohm

[2019-07-22 15:55] PRMerger19 commented on #2494
WilliamAntonRohm is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-07-22 15:56] rothja commented on #2493
@WilliamAntonRohm I'm assigning this solely to you to avoid any confusion. Let me know if you have any questions about the fix. Thanks!

[2019-07-22 16:02] rothja commented on #2471
@kierenj Thanks for the additional clarification. I think you're right about the wording not being quite right around "the docker image". @WilliamAntonRohm, here is my new suggested edit. @kierenj let me know what you think;

[code]

[2019-07-22 16:19] rothja commented on #2437
@jtpower Thank you for your detailed feedback and suggestions. We need to probably review and update this article using this feedback. I have created a work item internally to track this request, and we will get to this as soon as we can. Thank you, again!

[2019-07-22 16:19] #2437 closed

[2019-07-22 16:20] rothja commented on #2494
#reassign:@WilliamAntonRohm

[2019-07-22 16:20] rothja commented on #2543
#please-close

[2019-07-22 16:20] #2543 closed

[2019-07-22 16:24] rothja commented on #2410
@hfleitas Thank you for letting us know of these broken links, and I apologize for the long delay. I'll work on researching why these sample files are not at this location and get back to you.

[2019-07-22 16:36] rothja commented on #2386
@FYfrog Thanks for contacting us, and so sorry for the long delay. For the function you provided here, are you saying that it should work but doesn't? I'm trying to understand if the content is wrong in some way on this page. Although, I do see that we provide a CLR example for common ancestor and not a T-SQL example.

[2019-07-22 16:50] orastarter commented on #2543
Thank you, rothja. Why does this work `SELECT 'hi' as int`? INT is reserved keyword.

[2019-07-22 16:50] rothja commented on #2358
@BrianKrohn I tested this, and it works with the SQL Server 2019 preview installation. So I think the problem is that the article does not mention this 2019 requirement. I will fix the article and then this git issue will automatically close. I am very sorry for the confusion! Thanks!

[2019-07-22 16:51] pmasl commented on #2573
Will get it fixed. Thanks

[2019-07-22 17:54] dmarlow opened #2576 "Refreshing all things"
I tried to use the wizard to enable always encrypted and it didn't work. So, I set things manually, but the "Edit top 200 rows" shows the values of the encrypted column as &lt;Binary data&gt; instead of the actual decrypted value. This works fine in another database, so I'm thinking something else needs to be refreshed using this SP, but I'm not sure what. Is that documented somewhere?

Edit: yes,

[2019-07-22 19:42] kisantia commented on #2430
@IvanAlekseev we have fixed the bug. The fix will be in the DacFx 18.3 release in a month or two.

[2019-07-22 20:06] dmarlow commented on #2576
Looks like restarting SSMS was needed to make it work properly.

[2019-07-22 20:06] #2576 closed

[2019-07-22 20:08] chipplyman opened #2577 "Why is BEGIN THROW considered invalid syntax?"
"The statement before the THROW statement must be followed by the semicolon (;) statement terminator."

"BEGIN and END are control-of-flow language keywords." (https://docs.microsoft.com/en-us/sql/t-sql/language-elements/begin-end-transact-sql?view=sql-server-2017)

If BEGIN is a control-of-flow language keyword and not a statement, why does
[code]
result in error Msg 102 "Incorrect syntax near 'T

[2019-07-22 20:50] MariannaAtPlay opened #2578 "More examples would be helpful"
Thank you for these examples.

I am wondering how I could match a substring of more than one character in a row matching the range in brackets.... Can I use a * or + ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471411d8-4c8d-84f8-cb37-28593b50b046
* Version Independent ID: f68c0d0b-bc9b-6f83-89bc-49ee3f99b715
* Con

[2019-07-22 21:21] MightyPen commented on #2563
@kevchant Hello, I cannot be sure about what thing specifically your message refers to when asking whether the thing is "covered" by MS support. Assuming the question does not involve improperly exported data, or improperly stored safe copies of all CREATE statements for table and procs etc, I see no change in MS support.

The documented process involves exporting your data before then dropping yo

[2019-07-22 21:21] #2563 closed

[2019-07-22 21:41] MightyPen commented on #2568
@MikeRayMSFT Hi, when you return from vacation, can you please process this GutHub Issue, about PowerShell,

[code]

&nbsp;

@stevestein Steve, you might know whether Step_3 above is out-of-date?  The customer is reporting that the following PowerShell command suffered lots of errors when he ran it:

- `Import-Module "sqlps";`

I get the following error:

[code]

[2019-07-22 21:50] MightyPen commented on #2569
@dnethi Hi Dinakar, My understand is the answer is - _"No, we do not have checksums that we provide to the public, for SSMS setup.exe files."_
But please enter another Comment here if I am mistaken about that, or if there is more to day.

@InteXX With the above answer, and the opportunity for dnethi to tell us in case my answer is wrong (and use @ notifications in your new comment), I am now Closi

[2019-07-22 21:50] #2569 closed

[2019-07-22 21:53] InteXX commented on #2569
OK...  _would_ you add checksums? They're pretty easy to create as part of your pipeline, as I'm sure you know.

[2019-07-22 21:58] MightyPen commented on #2570
@mco100 Hello, This GitHub Issues website can help only with shortcoming of our documentation. Product bugs, or product release schedules, must be handled elsewhere. Perhaps one of the following links could be useful for this?:

- [Setup and Upgrade -  MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=sqlsetupandupgrade&filter=alltypes&sort=lastpostdesc)
- [Support options for

[2019-07-22 21:58] #2570 closed

[2019-07-22 22:28] MightyPen commented on #2571
@wannakatana Hello Joel, The following snippet from the article explains how each column number is convert into part of the overall bit mask that can identify columns in a bitwise operation.

[code]

- bitmask is: `power(2, (2-1)) + power(2, (3-1)) + power(2, (4-1)) = 14`

- Translating the bitmask nodes into direct base_10, we get: `1 + 4 + 9 = 14`

I am adding the bitmask translation statement i

[2019-07-22 22:28] #2571 closed

[2019-07-22 22:44] dnethi commented on #2569
hi InteXX
SSMS is windows only client tool, and we publish signed binaries. So I dont see any reason to also provide the hash.

[2019-07-22 22:54] InteXX commented on #2569
Very well.

[2019-07-23 01:15] CastleArg opened #2579 "Secret must be entire query string of SAS"
The current example implies just the 'sig' query param is needed.
In fact the entire query string including expiry dates etc is needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b7a6124-86bc-bd57-88c6-7c4334c49cd5
* Version Independent ID: 1598c673-fb85-3cf7-4ff9-8fdc0e384c68
* Content: [Examples of Bulk Access t

[2019-07-23 04:21] MightyPen commented on #2573
Thanks Pedro. (Issue 2573)

@jacob-displayr Hi Jacob, just as an fyi, a very effective option that many customers like is to edit our documentation directly through a Pull Request (PR), instead of describing the fix in an Issue. If you are ever interested, you can click the Edit-pencil icon at the top-right on the article's webpage, and then click the pencil icon on the GitHub webpage.

Pedro is p

[2019-07-23 04:35] MightyPen commented on #2574
@aawood Hello Adrian,  This issue 2574 is being fixed by PR 11168.  The fix should be visible in 24 hours.
Thank you for bringing this error to our attention.

A very effective option that many customers like is to - edit our documentation directly through a Pull Request (PR), instead of describing the fix in an Issue. If you are ever interested, you can click the Edit-pencil icon at the top-right

[2019-07-23 04:35] #2574 closed

[2019-07-23 04:49] MightyPen commented on #2577
@chipplyman Hello, The original Transact-SQL syntax did not even allow a terminator character (;), decades ago. I remember during the dev cycle for SQL 7.0 that my teammate wanted to add a particular keyword or phrase, but found that doing so would create an unforeseen ambiguity, if no terminator was used. By this time the SQL Server team had decided it was necessary to add a ';' terminator, and t

[2019-07-23 04:49] #2577 closed

[2019-07-23 05:10] pmasl commented on #2573
Please close, it's fixed now

[2019-07-23 05:11] MightyPen commented on #2578
@MariannaAtPlay Hello Marianna, I doubt that the `[ ]` syntax supports embedded wildcard characters.

Maybe the following Regular Expression (SSMS) article might be of interest to you:
- https://docs.microsoft.com/sql/ssms/scripting/search-text-with-regular-expressions
    - `https://docs.microsoft.com/sql/ssms/scripting/search-text-with-regular-expressions`

I assume you already know about LIKE a

[2019-07-23 05:11] #2578 closed

[2019-07-23 05:16] MightyPen commented on #2579
@MashaMSFT Hi Masha, Can you please process this Issue 2579. CastleArg believes a code example is incorrect.

[2019-07-23 05:18] MightyPen commented on #2576
@dmarlow Hello Daniel, I'm glad the oldest trick in the book, reboot the application, worked. When the next version of SSMS becomes available (a version later than 18.1), a prompt upgrade would be a good idea.  Thanks.

[2019-07-23 05:21] MightyPen commented on #2389
@David-Engel Hi David, Do you know someone who works with Node.js enough who can assess whether this customer suggestion is something we want to implement in our Docs documentation?

[2019-07-23 06:11] sansmash opened #2580 "How will i know if this command works on SQL 2008?"
Earlier there use to be part on the header it was showing the versions it is compatible with. In this case, CONCAT command is not supported in SQL 2008.
Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a6598dc-e3b2-c92a-0be0-759ba1d21d61
* Version Independent ID: b978a25d-36ea-00cb-9a8e-90e8fa3c6f70
* Conte

[2019-07-23 07:19] FYfrog commented on #2386
I apologize for the ambiguity and for providing unnecessary T-SQL code. Let me be straightforward. Script with 'CommonAncestor' function (in CLR, from MSDN page) returns empty set, not '/1/1/'. And probably there is a typo in function definition: should be SqlHierarchyId instead of HierarchyId (return type of function, type of h2).

[2019-07-23 08:26] MightyPen commented on #2384
@Cornan Hello, You can probably discover this information by using the the extended event (XEvent) that is described in the following How-To article, namely 'sql_statement_completed'. Establish and activate the xevent, and then operate the SQL Agent.  Then go see what the xevent captured.

- `https://docs.microsoft.com/sql/relational-databases/extended-events/quick-start-extended-events-in-sql-ser

[2019-07-23 08:26] #2384 closed

[2019-07-23 08:28] MightyPen commented on #2443
Closing this settled Issue 2443.

[2019-07-23 08:28] #2443 closed

[2019-07-23 13:08] HakuAnnaruto opened #2581 "Honorable Mention?"
Before you set the database to SINGLE_USER, verify the AUTO_UPDATE_STATISTICS_ASYNC option is set to OFF. When set to ON, the background thread used to update statistics takes a connection against the database, and you will be unable to access the database in single-user mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-07-23 14:07] rothja commented on #2410
@hfleitas Good news. We have the sample published now, but the links in the article are still wrong. I'm fixing those and this git issue will close when they merge. But you can find the sample here: [https://github.com/microsoft/sql-server-samples/tree/master/samples/features/sql-big-data-cluster/spark/sparkml](https://github.com/microsoft/sql-server-samples/tree/master/samples/features/sql-big-da

[2019-07-23 15:47] David-Engel commented on #2389
@MightyPen The customer is correct. Tedious changed config options last year and deprecated the old ones, which were subsequently removed earlier this year. I'll submit a PR for the doc change.

[2019-07-23 15:52] David-Engel commented on #2389
PR #2585 created.

[2019-07-23 16:32] rothja commented on #2386
@FYfrog No need to apologize. Thank you for clarifying. So the code sample on the CLR example is wrong and might need fixing (or there is a bug in SQL Server). I'll take another look at this. Thank you.

[2019-07-23 16:47] rothja commented on #2543
@orastarter To be honest, I'm not sure why this would work. I'm guessing it has to do with how the parser works that they allow this. But I think for the same reasons that this works, it is not listed on the list of terms to avoid as "reserved words". Sorry I can't provide a better answer than that. Thanks!

[2019-07-23 17:23] MightyPen commented on #2389
@marcusteh1238 The fix for the outdated Node.js code, that you brought to our attention here with Issue 2389, is presently being built (PR 11187).  The fix should be live on Docs before the sun sets this evening.

- https://github.com/MicrosoftDocs/sql-docs-pr/pull/11187

Thank you very much for bringing the the problem of this outdated code to our attention. We are very glad to fix these types of

[2019-07-23 17:23] #2389 closed

[2019-07-23 17:38] mirsaeedi commented on #2414
I have this problem too with **_mcr.microsoft.com/mssql/server:2017-latest_** and **_mcr.microsoft.com/mssql/server:2019-CTP3.1-ubuntu_** on Windows Server 2019 version 1809.

I cannot mount a data volume using the -v flag. docker logs give me following error:

[code]

[2019-07-23 17:41] MightyPen commented on #2580
@sansmash Hello Sandeep, The "Applies To" line that you are referring to is supposed to list _Product_ information only. It was recently edited/updated to remove the improper version info (about 2008). It should not also list _Version_ information within Product, because.....

..... Please notice the _Versioning_ dropdown list, that is at the top-left of the article, and is just above the Table of

[2019-07-23 17:41] #2580 closed

[2019-07-23 18:35] sansmash commented on #2580
@MightyPen Hi Gene, I've already checked the versioning drop down. But whenever i click on 'older' version of SQL Server, it throws an error like "The requested page is not available for SQL Server previous versions. You have been redirected to the newest product version this page is available for."
Is it because documentation is incomplete.?

This is important to me because, i needed to make sure

[2019-07-23 18:41] MightyPen commented on #2580
@sansmash The 'older' version, under SQL Server, is an attempt by us to make it easier to learn about the existence of previous-versions/sql/. But maybe 'older' is not working very well in practice.

The bottom line is - use the previous-versions/sql/ web address for learn about SQL 2008.

This is the second article in our main TOC:

- `https://docs.microsoft.com/sql/toc/previous-versions-sql-serv

[2019-07-23 18:46] sansmash commented on #2580
Thanks Gene.

[2019-07-23 19:52] MashaMSFT commented on #2334
User Story [1558194](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1558194).

[2019-07-23 19:52] #2334 closed

[2019-07-24 10:53] rl-msft commented on #2541
looking at https://github.com/microsoft/sql-server-samples/blob/master/samples/features/sql-big-data-cluster/deployment/kubeadm/ubuntu/setup-k8s-prereqs.sh see we are asking for higher version :

UBE_DPKG_VERSION=1.15.0-00
apt-get update
apt-get install -y ebtables ethtool
apt-get install -y docker.io
apt-get install -y apt-transport-https
apt-get install -y kubelet=$KUBE_DPKG_VERSION kubeadm=$KUB

[2019-07-24 12:00] deanmresource opened #2587 "An example of each might be nice"
possibly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea37453c-53c6-056d-46de-b53660afc859
* Version Independent ID: d2aa0683-f65f-7808-7667-8b8e2e90f78d
* Content: [Mathematical Functions (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/functions/mathematical-functions-transact-sql?view=sql-s

[2019-07-24 17:07] MashaMSFT commented on #2579
Hi @CastleArg ,

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

If you're sug

[2019-07-24 18:23] MisiekBest opened #2588 "Cdc vs standard version"
CDC is supported in SQL Server Standard since 2016 SP1 version. Does it mean that following issue still exists there? If not, please update the documemtation.

Qutoe from the docs:
If a database is attached or restored with the KEEP_CDC option to any edition other than Enterprise, the operation is blocked because change data capture requires SQL Server Enterprise.

---
#### Document Details

⚠ *Do

[2019-07-24 18:24] ShayanZafar opened #2589 "UNION introduction/synopsis needs to state that the final result set from UNION will contain distinct rows"
The main introduction/synopsis should mention the fact that the final result set of a UNION will reconcile duplicate rows returned in each query with only distinct values

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f0be71d-df4c-6e45-3fec-557b3da486b0
* Version Independent ID: a92cbde6-cb56-c585-334d-875c8efb4fdb
*

[2019-07-24 20:41] stevestein commented on #2430
@IvanAlekseev - thanks for reporting this. We're going to go ahead and close this issue. Feel free to reach out if needed.

Thanks!

[2019-07-24 20:41] #2430 closed

[2019-07-24 21:27] stevestein commented on #2516
@dallen66 - Thanks for the feedback!

@shkale-msft - Hi Shreya, is there any information we can provide here? Anything we need to add to the doc?

Thanks!

[2019-07-24 21:44] ryanmajidi opened #2590 "Embedded link directs to wrong page on DQS tutorial page, for SQL 2014"
**Submitted to [site feedback](https://github.com/MicrosoftDocs/feedback/issues/1653) by @Xceptions **

A wrong link was inserted in a page for learning how to automate DQS cleansing with SSIS.
In this page [1], the link inserted at the bottom is supposed to take us to the next item on the list of learning which is this [2], but it instead, leads to here [3].
Please correct it

[2019-07-24 21:49] WilliamAntonRohm commented on #2402
@MladjoA -- Mladen, please look into this aging issue 2402.

[2019-07-24 21:50] WilliamAntonRohm commented on #2404
@kfarlee -- Kevin, please look into this aging issue 2404.

[2019-07-25 01:25] WilliamAntonRohm commented on #2469
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-07-25 01:25] #2469 closed

[2019-07-25 01:48] WilliamAntonRohm commented on #2473
I've updated the documentation, and it should be live by tomorrow.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-07-25 01:48] #2473 closed

[2019-07-25 01:51] PERTOCK opened #2591 "alexisjulian0509@hotmail.com"
[alexisjulian0509@hotmail.com]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05f3c988-2e10-aa6c-521f-fb59d991091f
* Version Independent ID: e9545dc2-4a58-9558-4af1-f16d7d7102cb
* Content: [Database Mail - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/database-mail/database-mail?view=sql-server-

[2019-07-25 01:53] WilliamAntonRohm commented on #2471
@rothja -- Jason, I've created the above [sql-docs-pr PR 11241](https://github.com/MicrosoftDocs/sql-docs-pr/pull/11241) with your suggested change.  If you're satisfied with the wording, please let me know & I'll auto-merge that paragraph.

[2019-07-25 02:02] WilliamAntonRohm commented on #2481
@Infinitism -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-07-25 08:38] MightyPen commented on #2591
This is almost certainly junk spam. Closing.

[2019-07-25 08:38] #2591 closed

[2019-07-25 08:46] MightyPen commented on #2590
Helpfully, here are the hidden link Https URLs:

- [1] = `https://docs.microsoft.com/en-us/sql/tutorials/task-6-adding-excel-source-to-the-data-flow?view=sql-server-2014`

- [2] = `https://docs.microsoft.com/en-us/sql/tutorials/task-7-adding-dqs-cleansing-transform-to-the-data-flow?view=sql-server-2014`

- [3] = `https://docs.microsoft.com/en-us/sql/integration-services/data-flow/data-flow?view=sq

[2019-07-25 08:49] MightyPen commented on #2590
@msebolt Hi Matthew, For this Issue 2590, would you please fix the errant link, by creating a private repo PR.

[2019-07-25 08:51] MightyPen commented on #2588
@rothja Hi Jason, Can you please process this Issue 2588. This issue seems like a Freshness concern.
Thanks, G.

[2019-07-25 09:49] MightyPen commented on #2589
@ShayanZafar Hello Shayan, We have just now fixed with Issue #2589, with our private repo PR #11245 .

Thank you for bringing this shortcoming to our attention. We hope to hear from you again.

Closing 2589 now.

Customers like you have the option of directly editing Microsoft's documentation article, to fix or update as you see fit.  We then review the proposed change, and hopefully we approve th

[2019-07-25 09:49] #2589 closed

[2019-07-25 09:51] MightyPen commented on #2590
@ryanmajidi Hello Ryan, This Issue #2590 is now fixed by our private repo PR #11245.

Thank you for bringing this documentation shortcoming to our attention. We hope to hear from you again.

I am now Closing this Issue, as fixed.

[2019-07-25 09:51] #2590 closed

[2019-07-25 13:51] AlainBorletHote opened #2592 "Wrong example"
The path of the Json variable is wrong in the sample of
Import JSON data into SQL Server tables

See the right path below.

SELECT SalesOrderJsonData.*
FROM OPENJSON (@jsonVariable, N'$')
           WITH (
              Number   varchar(200) N'$.Order.Number',
              Date     datetime     N'$.Order.Date',
              Customer varchar(200) N'$.AccountNumber',
              Quantity int

[2019-07-25 14:34] rdicroce opened #2593 "Better explanation of when recompilation will occur"
The docs for sp_recompile currently say this:

This statement is vague and meaningless because the docs do not explain what conditions are "advantageous". The docs should be improved to precisely list what conditions will trigger recompilation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09d36edc-871a-1f9f-3fbe-7e3e

[2019-07-25 14:35] CundyTech opened #2594 "Error in query example"
Query should be

"SELECT * FROM sys.dm_operation_status
   WHERE major_resource_id = 'myddb'
   ORDER BY start_time DESC; "

Currently there is white space in the query which I've marked with an "*" below.

"SELECT * FROM sys.dm_*operation_status
   WHERE major_resource_id = 'myddb'
   ORDER BY start_time DESC; "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-07-25 16:16] WilliamAntonRohm commented on #2492
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-07-25 16:16] #2492 closed

[2019-07-25 16:44] WilliamAntonRohm commented on #2494
I have made these updates to the documentation, and they should be live by tomorrow.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-07-25 16:44] #2494 closed

[2019-07-25 16:45] WilliamAntonRohm commented on #2493
I have made this update to the documentation, and it should be live by tomorrow.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-07-25 16:45] #2493 closed

[2019-07-25 19:19] markingmyname commented on #2377
Hello all,

18.2 was released today that addressed a lot of the issues 18.0 and 18.1 are having.

Can you [download](https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-2017) that version and let me know if you are still experiencing this?

[2019-07-25 19:49] rothja commented on #2588
@MisiekBest Thanks for pointing this out. I am going to investigate and update the doc if needed.

[2019-07-25 19:52] rothja commented on #2471
@WilliamAntonRohm This looks great. Please sign off on the other PR to address this git issue. Thank you!

[2019-07-25 20:52] WilliamAntonRohm commented on #2593
@rdicroce -- Rich, thank you for your feedback.

@stevestein -- Steve, please look into this issue 2593.

[2019-07-25 20:54] WilliamAntonRohm commented on #2594
@CundyTech -- Dan, thank you for bringing this to our attention.  I will make this change shortly.

[2019-07-25 21:08] WilliamAntonRohm commented on #2471
@rothja -- thank you for confirming.

@kierenj -- I have made this update to the documentation and it should be live by tomorrow.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-07-25 21:08] #2471 closed

[2019-07-25 21:18] WilliamAntonRohm commented on #2592
@AlainBorletHote -- thank you for your feedback.  We are looking into this now.

[2019-07-25 21:22] WilliamAntonRohm commented on #2404
@CarlRabeler -- can you help get this issue 2404 processed?  Thank you.

[2019-07-25 21:24] stevestein commented on #2560
@JediSQL - Thanks for opening this issue! A link was added to the related info section that points to a short explanation of what deferred name resolution is. The link should appear within the next day or so.

I'm not sure which version of SQL you're using but there's an archived article here: https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/ms190686(v=sql.105)

[2019-07-25 21:25] WilliamAntonRohm commented on #2408
@StingyJack -- thank you for your feedback.  The next release of SSMS is in the works and should address your concerns.

cc: @markingmyname

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.