[2020-01-30 08:19] MisterY commented on #4042
This is what I get when using `2019-latest`:

![image](https://user-images.githubusercontent.com/462445/73431873-ae094600-4341-11ea-8922-9cddf4d9e6b5.png)

[2020-01-30 08:42] slepmog opened #4051 "STRING_SPLIT does not document that it doesn't handle CHAR(0)"
`STRING_SPLIT` does not handle `CHAR(0)` as a delimiter.

E.g. `select count(*) from string_split ('1' + char(0) + '2' + char(0) + '3', char(0))` incorrectly returns 1, whereas `select count(*) from string_split ('1' + char(1) + '2' + char(1) + '3', char(1));` correctly returns 3.

It would appear this is due to `CHAR(0)` being invalid, which is documented in the [`CHARINDEX` function](https://doc

[2020-01-30 10:56] stoycqs opened #4052 "Removing permissions"
Please put the following in a red square:

If the target entity is not a database and the entity is being transferred to a new owner, all permissions on the target will be dropped.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5946ab8c-cab3-ba01-90f7-86210517d518
* Version Independent ID: d346ffc0-29ff-8ffa-d9b5-ad0ea

[2020-01-30 11:37] nishant-udgaonkar opened #4053 "Information about python version"
I would be helpful if the version of Python assumed is mentioned, since `str` is bytes in Python 2 but unicode in Python 3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ea22367-9924-edb3-c65a-66a1cb4181fa
* Version Independent ID: cef2a17a-d363-3042-e585-4c9184637eb4
* Content: [Convert Python and SQL data types - S

[2020-01-30 12:05] rsocol commented on #3328
Thank you very much for the additional information.

Getting back to the subject of the original issue, the page https://portal.msrc.microsoft.com/en-US/security-guidance/advisory/CVE-2019-1313 still seems unclear (not specifying which are the affected versions and which are the fixed versions). I understood now (from this discussion) that 18.3 is the first fixed version, and anything less may be

[2020-01-30 12:35] LeonSweden opened #4054 "Syntax clarification"
It would be good if syntax was more clearer like:
expression1 &= expression2

and simple example like:
DECLARE @HasBeenDelivered int = 8;
DECLARE @DeliveryStatus int = 1;

-- check if delivered
SELECT @DeliveryStatus &= @HasBeenDelivered

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5601c74-4ee4-bc90-c633-e970862bca7

[2020-01-30 13:15] wgutierrezr opened #4055 "Version 18.4 crashes when open a diagram"
I created a diagram with my version 18.4. I turned off my computer and when trying to open the diagram it crashes.

[2020-01-30 14:11] sgiovinetti opened #4056 "Please specify that select statements are not allowed in Azure DW UDF"
There no mention in the doc that select statements are not allowed in Azure DW UDF.
If they are you have an issue because I'm not able to create an UDF that contains SELECT statements even doing DECLARE @var [vartype] = SELECT()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae4c2020-39b8-ac93-1780-211b289125a0
* Versi

[2020-01-30 18:15] msebolt commented on #4047
@ErikEJ  Thank  you for the feedback.

Assigning this to the author for further review.

In the meantime, please refer to the [Data Migration Assistant overview](https://docs.microsoft.com/sql/dma/dma-overview).

[2020-01-30 18:44] markingmyname commented on #4038
@dbamaster

We did not have a Jan 2020 release for Azure Data Studio.

However, we are currently working on the next release. No ETA as of yet.

[2020-01-30 18:59] jelutz77 opened #4058 "What about available drives?"
This page does not even mention which drives may or not be available for cluster instances. I'm trying to figure out why my drive is not available to choose for backup!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3c56a92-e7d8-5763-d187-9e611ad2f35c
* Version Independent ID: 5982d698-75cc-e7f8-9112-1c0ec1e568de
* Co

[2020-01-30 19:01] jelutz77 opened #4059 "Available drives?"
Why can't I save to the drive that has space?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cf4d073-76da-d1ec-20e6-f52188c8e846
* Version Independent ID: 545d5a71-3ebe-42b6-bab5-d76a35711a77
* Content: [Define logical backup device - disk - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/backup-

[2020-01-30 19:31] ESTOCKY opened #4060 "Does not apply to Azure Synapse Analytics (SQL DW)"
Does not apply to Azure Synapse Analytics (SQL DW)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfe9cad3-2e7d-a426-43ff-1347937dc291
* Version Independent ID: 6b04557f-6331-609e-5e80-6b3663495bd7
* Content: [View the Dependencies of a Stored Procedure - SQL Server](https://docs.microsoft.com/en-us/sql/relational-data

[2020-01-30 20:20] jayfiled commented on #3825
I think you may have already added a row with Primary Key value = 1.

I've just completed this page as per the instructions and didn't get an error.

Run
SELECT * FROM Products

To see if there is already a row with PK = 1, or try entering another value that definitely hasn't been used before, or start again with a new DB?

[2020-01-30 22:15] heresabya opened #4063 "How to store audit information in Extended Log file (.XEL) in Azure VM SQL Server on hourly basis."
Here SQL Server instance installed in Azure VM . (So its not a Managed Instance / Azure SQL Database ---Its most like a on premise )

I have enabled the Auditing using Extended Event .Now auditing is stored in a .XEL file .

My requirement is like -

I want to move auditing information in some azure blob location /event hub (as a json) . Every one hour one job will be invoked and take last hours d

[2020-01-30 22:49] MightyPen commented on #4063
Hello @heresabya , I do not have the time to put together and test a working example, but one strategy you might try is to - use PowerShell to manipulate the XEvent system, as part of your hourly batch run to grab all the XEL data.  Something like the following numbered steps each hourly run:

1. Copy the XEL contents to a blob, as you currently do.
2. PowerShell to stop the event. (Then maybe del

[2020-01-30 22:49] #4063 closed

[2020-01-31 02:36] heresabya commented on #4063
Thanks for this ..@MightyPen

[2020-01-31 14:50] Liturgist opened #4064 "Configure firewall for SQL Server using PowerShell"
[Enter feedback here]
SQL Server installation refers to this page describing use of the `netsh` command.

Is this page available describing the use of PowerShell for setting SQL Server firewall requirements? If so, where?

The `netsh` command reports:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3bdfbfc-233e-7

[2020-01-31 15:01] estensen opened #4065 "Image of table is not very readable using dark theme"
The text is black and the background color is black

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b26df5c-92a8-91e4-3fd1-e90d28157778
* Version Independent ID: ee0fa626-9318-7cf6-e27d-66d512fc2ee3
* Content: [Work with Change Tracking - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/track-chang

[2020-01-31 15:07] estensen opened #4066 "Table is unnecessarily indented"
The SQL in the first table in [Obtaining Initial Data](https://docs.microsoft.com/en-us/sql/relational-databases/track-changes/work-with-change-tracking-sql-server?view=sql-server-ver15#obtaining-initial-data) could be un-indented

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b26df5c-92a8-91e4-3fd1-e90d28157778
* Ver

[2020-01-31 16:38] msebolt commented on #4050
@mrdenny  Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-31 16:40] msebolt commented on #4051
@slepmog  Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-31 16:42] msebolt commented on #4052
@stoycqs Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-31 16:43] msebolt commented on #4053
@nishant-udgaonkar Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-31 16:47] msebolt commented on #4055
@wgutierrezr Thank you for the feedback.

Please refer to [this post](https://feedback.azure.com/forums/908035-sql-server/suggestions/38712874-fix-ssms-open-diagram-crash) or start a new thread in the [SQL Server feedback](https://feedback.azure.com/forums/908035-sql-server) for product team involvement.

[2020-01-31 16:49] msebolt commented on #4056
@sgiovinetti Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-31 17:06] dphansen commented on #4053
@nishant-udgaonkar Thank you for the feedback. I will look into it and get back to you.

[2020-01-31 17:15] MashaMSFT commented on #4064
Hi @Liturgist , thanks for contacting Microsoft! Just to make sure I understand correctly -  you're looking for PowerShell scripts to open the firewall ports, is that correct?

Thanks!
Masha from the SQL Docs team

[2020-01-31 17:32] Liturgist commented on #4064
Masha,

Yes. The SQL Server 2019 install process points to the document describing
the use of netsh.

It would be good if it pointed to a document about using PowerShell
commands; either instead or in addition to netsh.

I found information about using Azure PowerShell commands, but not for
locally installed SQL Server.

[2020-01-31 17:42] yualan commented on #4038
My suggestion is to close this issue since we did not have a January release, but will have one soon for Feb :)

[2020-01-31 17:51] MashaMSFT commented on #4064
Hi @Liturgist , thanks for confirming! Is this what you're looking for?

https://docs.microsoft.com/en-us/powershell/module/netsecurity/new-netfirewallrule?view=win10-ps

Thanks!
Masha from the SQL Docs team

[2020-01-31 17:58] Liturgist commented on #4064
Masha,

Thank you for sending a link to New-NetFirewallRule.

The SQL Server install should point to a page about configuring ports
with New-NetFirewallRule. It should be specific to the ports used by
SQL Server.

On Fri, Jan 31, 2020 at 11:51 AM Masha at MSFT <notifications@github.com> wrote:

[2020-01-31 18:06] msebolt commented on #4060
@ESTOCKY Thank you for the feedback.

Assigning this to the author for review.

[2020-01-31 18:37] dphansen commented on #4053
@nishant-udgaonkar We will add this information to the documentation. Will let you know once it has been added.

[2020-01-31 20:14] msebolt commented on #4058
@jelutz77 Thank you for the feedback.

Assigning this to the author for further review.

A similar issue was raised earlier in https://github.com/MicrosoftDocs/azure-docs/issues/46970.

[2020-01-31 20:16] msebolt commented on #4059
@jelutz77 Thank you for the feedback.

This issue is being addressed in https://github.com/MicrosoftDocs/sql-docs/issues/4058.

Please refer there for further details on the resolution status.

[2020-01-31 20:16] #4059 closed

[2020-01-31 21:55] markingmyname commented on #4038
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit Azure Data Studio repo(https://github.com/microsoft/azuredatastudio)

[2020-01-31 21:55] #4038 closed

[2020-01-31 22:18] maggiesMSFT commented on #2938
Hi, @bluey47 -- updating the article today. Thanks!
#please-close

[2020-01-31 22:18] #2938 closed

[2020-01-31 22:23] maggiesMSFT commented on #3625
Hi, @DeanGross -- added the link. Thanks again!
#please-close

[2020-01-31 22:23] #3625 closed

[2020-01-31 22:28] maggiesMSFT commented on #3632
Hi, @tseward -- good points! Moved the web part articles out of the SharePoint section of the TOC. Checking on version support.
Thanks!

[2020-01-31 22:40] WilliamAntonRohm commented on #3408
@maggiesMSFT -- please let me know if there is a preferred author to make this change.

[2020-01-31 22:47] maggiesMSFT commented on #3981
Hi, @Duncan-Howe -- good catch. The info in the rest of the article is complete. That sentence fragment just needed to go away. It's gone now. Thanks!
#please-close

[2020-01-31 22:47] #3981 closed

[2020-01-31 23:45] dphansen commented on #4053
@nishant-udgaonkar I have updated the [What is SQL Server Machine Learning Services (Python and R)?](https://docs.microsoft.com/en-us/sql/advanced-analytics/what-is-sql-server-machine-learning?view=sql-server-ver15#versions) article to include the Python and R version information in our private repo. The update will be published next week.

Thank you again for your valuable feedback and have a gre

[2020-01-31 23:45] #4053 closed

[2020-02-01 00:44] WilliamAntonRohm commented on #4014
@stevestein -- Steve, please review the above-mentioned PR.

[2020-02-01 01:53] maggiesMSFT commented on #4006
Hi, @mjcarrabine - thanks for the feedback! I'm adding the screen shot and the mention to the article today.
#please-close

[2020-02-01 01:53] #4006 closed

[2020-02-02 07:35] srutzky commented on #4051
I would expect that most string functions do not handle U+0000 / `NCHAR(0)`. However, there is a very simple method to get any string function to recognize any code point: use a binary collation (one ending in `_BIN2`, not `_BIN`). For example:

[code]

However, even though using a binary collation allows `STRING_SPLIT` to work with U+0000, I would recommend against using that code point as it is

[2020-02-02 10:53] dqaudithillstone opened #4068 "how and which tool can i need for output a scatterplot"
[ If your code generates visual output like a scatterplot or histogram, you need a tool or end-user application that can render the image

which  tool  it means ,how to do ?
]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6825b235-0949-0488-d8b2-3af7f071d462
* Version Independent ID: faf4b2bd-ce94-b9d0-98d7-12c84e09e9

[2020-02-03 13:04] estensen opened #4071 "Incomplete examples"
Running the example to get initial data I get the error `Must declare the scalar variable "@synchronization_version".`

Not being very familiar with SQL it took me some time to figure out that I have to declare the var first: `declare @synchronization_version bigint;`

You also have to declare `@last_synchronization_version` before the third example when you join tables.

I think examples should b

[2020-02-03 16:32] LeAnneJergensen opened #4072 "Better code for: Delete ad-hoc queries"
The code in "Delete ad-hoc queries" is not really the best way to remove ad-hoc queries.  This is because what is in that code would actually delete queries that are procedures/triggers/functions if they only ran once during a 24 hour time period.  We have bunches of these because we have a nightly process as well as a month end process.  The following is the better way as it only targets those re

[2020-02-03 17:41] MashaMSFT commented on #4064
Hi @Liturgist , okay perfect, thanks for confirming that's what you were looking for :) I've created an internal work item ([1672151](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1672151)) to update this article and track this work. I'll close the Git Issue in the meantime but you'll be notified once the changes have been made.

Thank you so much for helping improve the document

[2020-02-03 17:41] #4064 closed

[2020-02-03 18:50] dphansen commented on #4068
@dqaudithillstone Thank you for your feedback. We are looking into it and will get back to you.

[2020-02-03 19:35] garyericson commented on #4068
@dqaudithillstone - This comment in the article is just clarifying that a SQL stored procedure is not able to display visual output. So if you have Python code that includes statements to generate visual output, those statements will not be usable if you embed that code in a stored procedure. If you need the visual output, you will need to find a way to generate it outside of the stored procedure,

[2020-02-03 19:35] garyericson commented on #4068
#please-close

[2020-02-03 19:36] #4068 closed

[2020-02-03 19:54] garyericson commented on #4068
Added some clarification to the article.  PR [13676](https://github.com/MicrosoftDocs/sql-docs-pr/pull/13676)

[2020-02-03 21:45] pedro-bonilla opened #4073 "Very helpful!"
Very helpful for some maintenance jobs!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a829c6f-c86c-403b-67ae-3bbfffa59f45
* Version Independent ID: 1a67ec64-9d25-93e6-b021-56103b4399c2
* Content: [sys.fn_hadr_is_primary_replica (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/sys

[2020-02-03 23:40] bluey47 commented on #2938
Thanks @maggiesMSFT, much better now. ;-)

[2020-02-04 00:22] WilliamAntonRohm commented on #4071
@estensen -- Håvard, thank you for your feedback and solutions.  I am looking into this document.

[2020-02-04 00:24] WilliamAntonRohm commented on #4072
@LeAnneJergensen -- LeAnne, thank you for your detailed feedback.

@julieMSFT -- Julie, please look into this issue #4072.

[2020-02-04 00:27] WilliamAntonRohm commented on #4073
@pedro-bonilla -- thank you Pedro for your positive feedback; it is much appreciated.

cc @MikeRayMSFT @MightyPen

[2020-02-04 00:27] #4073 closed

[2020-02-04 01:39] binki opened #4075 "How do I update a cell to the value 4-char string NULL or 6-char string 'NULL'?"
The documentation for the Results editor does describe how to update a cell to `NULL`: by simply entering `NULL` literally. However, it doesn’t specify how to set a stringish column to the literal value `'NULL'` (i.e., the four character string with characters capital N, capital U, capital L, and capital L, respsectively) or `'''NULL'''` (i.e., the six character string with characters single quote

[2020-02-04 05:54] PrometheusRising1 commented on #3633
No, this is going through the normal GUI installer - double click on it and UAC pops up.  The UAC prompt indicates the RTM is CTP 2.3.  Just double click on the installer and look at the prompt when it asks you to elevate.

[2020-02-04 08:57] JakubW88 opened #4076 "Files & Files group availabe in Azure PaaS ?"
Hi There,
I have application with Database who requirement created files group and we want to implement it on Azure but Azure SQL Database hasn't option create files group. Do we can use SQL Managed Instance to implementation this option to create files group in sql ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b1f

[2020-02-04 11:38] brunomartinspro opened #4077 "Action Script: Property CommentOutSetVarDeclarations does not comment every setvar"
Running the command with the property CommentOutSetVarDeclarations in the Script action does not comment out all the setvars.

Example of setvar not being commented out:

[code]

Also adding a property for generating a pure sql server script would be awesome

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac30c0

[2020-02-04 12:17] rezasoltanirezvandeh opened #4078 "Creating External Data Source to Azure Blob Storage with VNet"
I am struggling with using External Data Source when the Blob Storage has got a VNet. I have assigned same VNet to my Azure SQL Server and also created Private endpoint connection for both SQL Server and Blob storage but still I get the Access denied. As soon as I remove the VNet from the Storage the external data source works and the openrowset query returns the result..

There is no error in the

[2020-02-04 13:38] PrometheusRising1 opened #4079 "DecryptByPassphrase Does not work when database is restored to another server"
Please update documentation to address this common scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc9c48d3-9c69-6897-c547-d0e7b4a76126
* Version Independent ID: cb28d268-9d47-c049-229f-23591dc69c1b
* Content: [DECRYPTBYPASSPHRASE (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/function

[2020-02-04 13:48] GourdJ opened #4080 "This article has an UNPIVOT example but the Table of Contents doesn't have it listed"
This article has an UNPIVOT example but the Table of Contents doesn't have it listed - only PIVOT examples are listed in the TOC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45eba8b0-0c31-d65b-f1ca-0ed260eb2f14
* Version Independent ID: fe2a79c1-6512-36f6-3118-cda7d18531de
* Content: [Using PIVOT and UNPIVOT - SQL S

[2020-02-04 14:37] johndeighan opened #4081 "Worse than rubbish. It doesn't work"
(1 row affected)

(1 row affected)
Msg 207, Level 16, State 1, Line 13
Invalid column name 'myTS'.

Completion time: 2020-02-04T09:36:29.0545960-05:00

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21550d41-12b6-37f6-0cd0-9212e0529d9d
* Version Independent ID: 2949dbcd-13bd-8777-0e85-6845726aa6e7
* Content: [rowversion

[2020-02-04 14:42] siddudubey opened #4082 "Incorrect information"
The page says "The SQL Server Browser does not return port information for the default instance."; however, I just captured the UDP packets coming from 1434 and verified that the Browser returns the port number for default instance as well. I am using SQL Server 2016.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9864

[2020-02-04 15:08] nickstocker commented on #3969
Hi, @MashaMSFT  have you had chance to look at this yet?
Many Thanks.
Nick

[2020-02-04 16:14] LeAnneJergensen opened #4083 ""Number of executions for each query" question"
If an object (procedure/trigger/function) has multiple queries in it, I need to make sure that I wrote the code below correctly.  It takes the code in "Number of executions for each query" and hopefully, correctly comes up with the "Number of executions for each object".  Can you please confirm that all I needed to do is a MAX on the count for each query?

;WITH cte_Counts_By_Query_in_Code AS
(SEL

[2020-02-04 16:17] egoryainova-spr opened #4084 "Some page headers are shown as UIElement List"
I noticed that some article headers on this page are displaying incorrectly and showing UIElement List word instead. In addition to that, the entire page name is "Manage Partition Wizard F1 Help" which seems like a blend of name "Manage Partition Wizard" with additional metadata information. Hope this can be fixed in the future versions. Thank you!

---
#### Document Details

⚠ *Do not edit this s

[2020-02-04 16:22] LeAnneJergensen opened #4085 "Is there a column that indicates Query 1, Query 2, Query 3 for an object"
The big difference I  found between the execution plan stored in Cached Queries vs Query Store is that for an object (procedure/trigger/function) that contains more than one query, the Cached Queries plan only has one execution plan for ALL queries with the queries in order specifying Query 1, Query 2, Query 3 etc.  Whereas, Query Store has a separate execution plan for each query in the object.

[2020-02-04 17:15] brunomartinspro commented on #4077
When combining with SqlCmd this is not a problem. Closing..

[2020-02-04 17:15] #4077 closed

[2020-02-04 17:26] PrometheusRising1 commented on #2866
In addition to cunnpole's comment, there should be a list or easy link to the types of symmetric key algorithms available.  It is not clear which ones are available for use outside of the sample/example code.

[2020-02-04 17:42] rrg92 commented on #4079
Which the SQL version (complete build number) used to test?

[2020-02-04 18:15] markingmyname commented on #4047
@ErikEJ

Thank you for bringing this to our attention. The overview article will be updated with the data migration tool by the end of the week.

[2020-02-04 18:16] markingmyname commented on #4047
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-02-04 18:16] #4047 closed

[2020-02-04 18:25] kfarlee commented on #3969
In step 3, you are preparing the database which had been the primary, to be in the secondary role.  In the secondary role, the database is not accessible to users.  The tail-log backup is used to harvest all of the updates fro the old primary so that it can be applied to the new secondary with no data loss.
The tail-log backup WITH NORECOVERY is used to both take the database offline in preparatio

[2020-02-04 18:42] WongSSJ opened #4086 "Issue completing the virtualization"
I'm having a lot of issues when trying to create the external table via the wizard on the sales test DB when trying to expand the "Tables" node it just times out. I've been trying this out several days, I even tried uploading an AdventureWork2017 DB and doing the virtualization with that DB with no luck.

Error during the wizard:
Error: Timeout expired.  The timeout period elapsed prior to complet

[2020-02-04 19:37] nickstocker commented on #3969
Thanks yes that is something I plan to do next time by putting the database into single user mode first. Hopefully that is all that was missing from my plan and from the original online recommended steps.

[2020-02-04 22:12] WilliamAntonRohm commented on #4075
@binki -- Nathan, thank you for your detailed feedback.

@markingmyname -- Mark, please look into this issue #4075.

[2020-02-04 22:18] WilliamAntonRohm commented on #4076
@JakubW88 -- Jacob, thank you for your question from Bialystok.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@stevestein -- Steve, please look into this issue #4076.

[2020-02-04 22:20] WilliamAntonRohm commented on #4078
@rezasoltanirezvandeh -- thank you for your feedback.  You may find answers here:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

Do you have a particular docs.microsoft.com topic page in mind?

[2020-02-04 22:30] bdcoder2 opened #4087 "How to change from Windows only to SQL Server and Windows authentication mode"
The article shows how to change the authentication mode to Windows only - but what T-SQL command and magic value is used to change the authentication mode to "SQL Server and Windows authentication mode".

All combinations should be documented.

Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e9b632d-

[2020-02-04 23:12] PrometheusRising1 commented on #4079
15.0.4003.23

[2020-02-05 00:02] WilliamAntonRohm commented on #4080
@GourdJ -- thank you for your feedback.  I am looking into this document.

[2020-02-05 00:05] WilliamAntonRohm commented on #4081
@johndeighan -- John, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue #4081.

[2020-02-05 00:07] WilliamAntonRohm commented on #4082
@siddudubey -- thank you for your feedback and your research.

@MikeRayMSFT -- please look into this issue #4082.

[2020-02-05 00:10] WilliamAntonRohm commented on #4083
@LeAnneJergensen -- LeAnne, thank you for your question.  This is a documentation repo and we don't have resources to answer such a detailed implementation question.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am closing this issue now.  You are welcome to

[2020-02-05 00:10] #4083 closed

[2020-02-05 00:12] WilliamAntonRohm commented on #4084
@egoryainova-spr -- thank you for your feedback.

@julieMSFT -- please look into this issue #4084.

[2020-02-05 00:17] WilliamAntonRohm commented on #4085
@LeAnneJergensen -- LeAnne, thank you for your questions.

@julieMSFT -- Julie, please look into this issue #4085.

[2020-02-05 00:42] WilliamAntonRohm commented on #4087
@bdcoder2 -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue #4087.

[2020-02-05 05:00] LukeChung opened #4088 "Step 1: Full-Text index is disabled"
Stuck on step 1. Do I need to configure something before the Full-Text index menu item is available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f93a20fd-da4f-3ff2-621d-287ede243c60
* Version Independent ID: ac616d5b-64fd-d736-6550-ea5be8664ef4
* Content: [Use the Full-Text Indexing Wizard - SQL Server](https://docs

[2020-02-05 13:18] joselameira opened #4089 "C. Producing a moving average and cumulative total"
Applies to: SQL Server 2012 (11.x) and later.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81477bb5-e2f4-dd0b-b025-19a30041622e
* Version Independent ID: 482fcc64-0e86-3cac-7c5a-1a312d4ba088
* Content: [OVER Clause (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/queries/select-over-clause-tran

[2020-02-05 14:13] cdawson1971 opened #4090 "^ field terminator"
To specify a field terminator of ^ using the -t switch you use an escape chararcter of ^ so the switch looks like -t^^. That is not documented on this page or on the referenced "Specify Field and Row Terminators (SQL Server)" page. It took me an hour of scouring the internet to discover this. Please update the doc to include the need for the escape character.

---
#### Document Details

⚠ *Do not

[2020-02-05 15:57] grahambunce commented on #2024
@rothja If you check the original question you'll notice it wasn't about whether you can do this, the question was that you should document this as it's a basic requirement needed for any kind of data persistence. What is the paths that should be mapped and can you provide an example in the documentation? I'm coming from Windows SQL Server and I have no idea where SQL Server linux stores it's data

[2020-02-05 16:07] rothja commented on #2024
@grahambunce I re-read the question and see your point. We talk about persisting data outside the container in a separate article [here](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-configure-docker?view=sql-server-ver15#persist). We provide an example there too. I wonder if we should more clearly link to that section? Another thought would be to break this section out into its own

[2020-02-05 18:52] #4020 closed

[2020-02-05 18:54] #4017 closed

[2020-02-05 19:43] Bliyaal opened #4091 "DacFramework.msi for Windows 2019"
I'm trying to install SqlPackage on self hosted Azure DevOps agent and since Azure creates all new databases with compatibility level at 150 I also need the tools for it. The link here seems to use a Windows Server 2012 version. When installing it on my agent it doesn't create a C:\Program Files (x86)\Microsoft SQL Server\150 directory.

Is the link out of date or am I doing something wrong?

---

[2020-02-05 23:37] wyattroberts opened #4093 "Error in Arguments section"
In the Arguments section, you have "other_geometry Is another geometry instance in addition to the instance on which *STSymDistance() *is being invoked." That should be STSymDifference().

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00236ad3-0321-19b3-c975-ca4ab3326e29
* Version Independent ID: 37e3bcd4-7ed7-88ec-42d

[2020-02-05 23:39] WilliamAntonRohm commented on #4049
@BrentOzar -- Brent, thank you for bringing this to our attention.

@MikeRayMSFT -- Mike, I can't find a new target for this link.  Please advise.

See [Database Engine](../database-engine/configure-windows/what-s-new-in-sql-server-2016-database-engine.md).

[2020-02-06 00:01] MladjoA commented on #4093
Thanks for reporting @wyattroberts. PR with the fix is on its way.

[2020-02-06 00:49] WilliamAntonRohm commented on #4088
@LukeChung -- thank you for your question.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@pmasl -- please look into this potential documentation issue #4088.

[2020-02-06 00:51] WilliamAntonRohm commented on #4089
@joselameira -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please provide more context around your general task or concern.

[2020-02-06 00:53] WilliamAntonRohm commented on #4090
@cdawson1971 -- thank you for your feedback.

@markingmyname -- please look into this issue 4090.

[2020-02-06 01:48] PrometheusRising1 opened #4094 "General Feedback: Version in first paragraph does not change when version drop down is changed"
I have noticed this on multiple pages now: when the version is selected in the drop down over the navigation pane, the first paragraph still states information concerning SQL Server 2019:
"This topic describes how to configure SQL Server Agent to use Database Mail to send notification and alerts in SQL Server 2019 (15.x) by using SQL Server Management Studio."

This is not affected unless one goes

[2020-02-06 05:41] simeyla commented on #2789
Such a shame!
@bradzelenak did you ever find a way to see query tags in the query store.

[2020-02-06 08:35] JakubW88 commented on #4076
Hi WilliamAntonRohm
I tested on my private account if I can create "Filin Managed Instance and is possible. So sorry for the problem!

[2020-02-06 09:07] tangzhengyue opened #4097 "sys.fn_xe_telemetry_blob_target_read_file running too long"
sys.fn_xe_telemetry_blob_target_read_file running too long, seems never end.
Is there any other way to get the latest deadlock details?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d71f365f-4e11-b725-1911-b1e71ae8ae9d
* Version Independent ID: e9363ba6-e6ec-d7ee-48f0-b5286b3d3151
* Content: [sys.event_log (Azure SQL

[2020-02-06 12:58] stefanschulingkamp commented on #3831
-- This example works fine.
EXECUTE sp_execute_external_script @language = N'Python', @script =
N'import pkg_resources
import pandas as pd
dists = [str(d) for d in pkg_resources.working_set]
OutputDataSet = pd.DataFrame(dists)
'
WITH RESULT SETS(([Package] NVARCHAR(max)))
GO

[2020-02-06 16:29] dnishimoto opened #4098 "allowing multiple value parameter passing causes report corruption onload"
My Shared Dataset tsql contains a field in(@Parameter1) where @Parameter1 is set to "allow nulls" and "allow multiple values" in the dataset.   When I create the ssrs mobile report and bind the parameter as selectitems the report returns data in the active data sheet.  Great!  However, after saving the report and attempting to open it again the mobile report publisher throws and error message stat

[2020-02-06 17:08] WongSSJ opened #4099 "Error 500 while using the curl commands"
Hello, I'm getting error 500 while trying out these commands.

HTTP/1.1 500 Server Error
Date: Thu, 06 Feb 2020 16:50:42 GMT
Set-Cookie: JSESSIONID=1dex7scqkp5lmpd36y5wgs2ua;Path=/gateway/default;Secure;HttpOnly
Set-Cookie: rememberMe=deleteMe; Path=/gateway/default; Max-Age=0; Expires=Wed, 05-Feb-2020 16:50:42 GMT
Content-Type: text/html; charset=ISO-8859-1
Cache-Control: must-revalidate,no-cache

[2020-02-06 18:33] WilliamAntonRohm commented on #4076
Hi Jacob -- glad to hear that, and no problem at all!

[2020-02-06 18:33] #4076 closed

[2020-02-06 21:10] LaurenceWelch opened #4100 "tier parameter is case sensitive for 'Standard' tier"
Not a huge deal, but should 'standard' always be listed as 'Standard' in this doc?(and perhaps 'basic' and 'premium' as well) I started using the EFCore function HasServiceTier('Standard') to ensure my db doesn't default to VCores. At first I tried using 'standard' and it defaulted to VCores. Once I used 'Standard', it worked like a charm. This doc lists it as 'standard' in some places and 'Standa

[2020-02-06 21:59] WilliamAntonRohm commented on #4086
@WongSSJ -- thank you for your feedback.  You may find answers here:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

And you are welcome to leave [SQL Server Feedback](https://aka.ms/sqlfeedback).

I am closing this issue now.  Please @ mention me for any followup.
We hope to hear from you

[2020-02-06 21:59] #4086 closed

[2020-02-06 23:59] WilliamAntonRohm commented on #4091
@Bliyaal -- Michel, thank you for your feedback.  I found [this link](https://www.microsoft.com/en-us/download/details.aspx?id=42293) to a 2014 version of DacFramework.msi.  That version creates a `C:\Program Files\Microsoft SQL Server\150` folder but that folder does not in turn have a `\DAC` subfolder.

@pensivebrian -- Brian, please look into these instructions.

[2020-02-07 00:05] WilliamAntonRohm commented on #4094
@PrometheusRising1 -- thank you for your feedback. You can submit issues related to overall site experience, or suggestions for improved site functionality or design, at [https://aka.ms/sitefeedback/](https://aka.ms/sitefeedback).

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

@MightyPen fyi

[2020-02-07 00:05] #4094 closed

[2020-02-07 00:08] WilliamAntonRohm commented on #4097
@tangzhengyue -- thank you for your feedback.  You may find answers here:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-02-07 00:08] #4097 closed

[2020-02-07 00:11] WilliamAntonRohm commented on #4098
@dnishimoto -- David, thanks for your feedback; we appreciate it. To make sure we have all the information needed to address your issue, please let us know which topic you’re referencing, or provide more context around your general task.

[2020-02-07 00:13] WilliamAntonRohm commented on #4099
@WongSSJ -- thank you for your question.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-02-07 00:13] #4099 closed

[2020-02-07 00:14] WilliamAntonRohm commented on #4100
@LaurenceWelch -- Laurence, thank you for your feedback.

@CarlRabeler -- Carl, please look into this issue 4100.

[2020-02-07 01:08] srutzky commented on #4090
@cdawson1971 and others:

To be clear, the issue here of needing to escape a `^` character as `^^` is a DOS / Command Prompt issue. The carrot character is used for line-continuation. This has nothing to do with `BCP` (nor `SQLCMD` or any other command-line utility).

Run the following in a command prompt window to see:

[code]

I'm not saying that it wouldn't be helpful to document this since not

[2020-02-07 02:54] CarlRabeler commented on #4100
@LaurenceWelch thanks - PR pending to fix this today.

[2020-02-07 02:54] #4100 closed

[2020-02-07 10:49] siddudubey commented on #4082
Just to add more details, my client is written in Java and it uses the  jTDS driver (http://jtds.sourceforge.net), I went through the source code of the driver to find out why am I getting default instance port number from the Browser, and now I know.  jTDS driver sends UDP message 0x02 to the browser service, which is CLNT_BCAST_EX message of SQL Server Resolution Protocol (see here https://docs.

[2020-02-07 10:54] HuubvdP opened #4102 "bcp -G Option not working as described"
For Azure Active Directory Integrated authentication, provide the -G option without a user name or password. This configuration assumes that the current Windows user account (the account the bcp command is running under) is federated with Azure AD.

This is not working. If you don't provide a username: you get the error:

SQLState = FA004, NativeError = 0
Error = [Microsoft][ODBC Driver 17 for SQL

[2020-02-07 12:39] IanKemp opened #4103 "Is the default server-level collation specific to the locale settings on that machine?"
However, as per https://www.sqlservercentral.com/forums/topic/default-server-collation-for-sql-does-it-depend-on-the-os-version-standard-vs-enterprise it appears the actual default collation on install depends on the locale on the machine that MSSQL is being installed. **I know the above pertains to SQL 2008 and is probably out of date**, but I just wanted to confirm that the behaviour documented

[2020-02-07 13:11] bdcoder2 commented on #4087
Suggested rewrite:

- LoginMode: 1  (Windows authentication only)
- LoginMode: 2  (SQL Server and Windows Authentication)

**To set mode to “Windows Authentication only”:**

[code]

**To set mode to “SQL Server and Windows Authentication mode” (mixed mode):**

[code]
**NOTE: Restart the SQL Server after the above commands are executed.**

Other suggestion:

- Include a list of the various registry

[2020-02-07 14:26] cdawson1971 commented on #4090
Fair enough, srutzky. It's not a blame game; it just needs to be documented for practical purposes. See, for example, https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/set_1 where they include this blurb:

    Using special characters

    The characters <, >, |, &, ^ are special command shell characters, and they must be preceded by the escape character (^) ...

Than

[2020-02-07 17:17] SO-MECA opened #4105 "wrong value in example - max degree of parallelism option"
The example show the wrong value.
The text says:
"... This example shows how to use sp_configure to configure the max degree of parallelism option to 8."

The example code shows:
"...
EXEC sp_configure 'max degree of parallelism', 16;
..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e3528c6-06d5-aaef-58ac-a4426ca2a

[2020-02-07 17:48] rrg92 commented on #4079
Testing on same Version!

I build two Virtual Machines on Azures, each one with SQL Server 2019 15.0.4003.23 runing on Windows Server 2019 1809 17763.973

On first VM, I generated a test encrypted data:
![image](https://user-images.githubusercontent.com/16887793/74052264-5cebf880-49b8-11ea-870b-c63c1268c786.png)

Then, on second VM, I restored the encrypted database and decrypt the data:
![image](

[2020-02-07 18:06] pensivebrian commented on #4091
We stopped shipping the x86 version of sqlpackage. The install should place x64 version of sqlpackage in the `C:\Program Files\Microsoft SQL Server\150\DAC\bin` folder.

[2020-02-07 19:34] rrg92 commented on #4087
I guess that original doc dont speicfy T-SQL because it uses undocumented xp_regwrite* procedures.

Maybe, Product Team want not encourage users to use this procedure due to side effects that it can cause on environment.

I dont know why Microsoft not use the "sys.configurations" to store it. This would can a better place and all interfaces to change it already documented.

[2020-02-07 21:24] garyericson commented on #4068
#assign:garyericson

[2020-02-07 22:01] garyericson commented on #4068
#assign:garyericson

[2020-02-07 22:04] garyericson commented on #4068
#assign:garyericson

[2020-02-07 23:01] WilliamAntonRohm commented on #4102
@HuubvdP -- thank you for your feedback.  Please file this as a product issue at [SQL Server Feedback](https://aka.ms/sqlfeedback).

@markingmyname -- please look into this issue #4102.

[2020-02-07 23:03] WilliamAntonRohm commented on #4103
@IanKemp -- Ian, thank you for your feedback.

@stevestein -- Steve, please look into this issue #4103.

[2020-02-07 23:04] WilliamAntonRohm commented on #4105
@SO-MECA -- MECA, thank you for catching this.  I am looking into the document.

[2020-02-07 23:06] WilliamAntonRohm commented on #3408
cc @MightyPen for suggested assignee

[2020-02-08 13:01] bthakks opened #4110 "Reference Data Services in DQS"
The document still referring to creating the account on the site that cannot be reachable. Also there is no example around how it can be integrated with Azure marketplace

https://docs.microsoft.com/en-us/sql/data-quality-services/reference-data-services-in-dqs?view=sql-server-ver15

[2020-02-08 14:21] jdavisp3 opened #4111 "Unable to install msodbcsql17 on Ubuntu 14"
Installing this package on Ubuntu 14 gives:

[code]

I don't believe that version of `libc6` is available.

[2020-02-08 15:28] PrometheusRising1 opened #4112 "An Extra Paragraph to Elaborate on What Can/Can't be Done with SAS Tokens?"
Not to bloat the article, but maybe give a couple of examples of what the SAS token can/can't do and some scenarios for use?  When people are reading up on Azure capabilities, they say you need a SAS token added to a database scoped credential to access the other Azure resources.  At the same time, you are stating here that there are limitations (i.e. with Polybase, which is supposed to act as a u

[2020-02-08 18:00] StingyJack opened #4113 "Invalid object name 'sys.dm_xe_session_targets'."
This object does not exist for Azure SQL database.  Please advise on how to read the data from a trace without having to double click through SSMS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 923bd786-410a-0e1c-6519-4971035a9dbd
* Version Independent ID: 4142e15a-1b9e-f4ae-86eb-46871fb8aa72
* Content: [Targets for Ex

[2020-02-09 03:46] shivtorov opened #4114 "upgrade SQL Eval with AlwaysOn AG to SQL Ent"
article says "Upgrading from Evaluation (a free edition) to any of the paid editions is supported for stand-alone installations, but is not supported for clustered installations."

I guess "clustered installations" means SQL AlwaysOn FCI instances.

What about upgrade of a pair of SQL Eval instances configured with AlwaysOn AG ?
In this scenario, we have *standalone* SQL instances running on  Wind

[2020-02-09 10:08] jovton opened #4115 "keytab secrets for sql server on docker container in linux"
hi. how would I manage SQL Server keytab secrets for an instance running in a docker container in Linux (Ubuntu 18.04)? SQL server is not currently installed as stand-alone (deb / apt). the documentation assumes that, and says nothing about docker containers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd6e9f1-17ab

[2020-02-09 11:41] jovton commented on #4115
I found the documentation for docker data volumes for SQL Server: [Configure SQL Server container images on Docker](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-configure-docker?view=sql-server-ver15#mount-a-host-directory-as-data-volume)

It may be helpful to link to this in the documentation for people who may want to know where to put their keytabs for sql running in docker conta

[2020-02-09 13:55] jovton opened #4116 "ktpass and keytab file example"
hi. please tell people not to include the stars ( ** ) in the ktpass commands as per your example. thanks. this really tripped me up.  :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd6e9f1-17ab-7aea-818e-d2ab416e3891
* Version Independent ID: 3b789cdc-ca6c-4aca-ae01-b094926dbd7c
* Content: [Tutorial: Use AD authen

[2020-02-09 20:27] MightyPen commented on #3408
@markingmyname Hi Mark, I kinda remember that you are the SSRS writer (it is no longer Maggie).
But if I am wrong about who, then can you and @rothja figure out who the SSRS writer is these days, so that writer can have this Issue #3408 assigned to them.

- `https://docs.microsoft.com/en-us/sql/reporting-services/report-server/register-a-service-principal-name-spn-for-a-report-server?view=sql-serv

[2020-02-10 00:57] maggiesMSFT commented on #3408
Hi, @MightyPen -- nope, other way around. Used to be @markingmyname , now it's me. So you have to assign it to me. Thx
cc @rothja

[2020-02-10 01:42] StingyJack commented on #4113
This document should have the contents of https://docs.microsoft.com/en-us/azure/sql-database/sql-database-xevent-code-ring-buffer incorporated, as its more correct than this one.

[2020-02-10 07:37] HuubvdP commented on #4102
I've filed it there:

https://feedback.azure.com/forums/908035-sql-server/suggestions/39643693-bcp-g-option-not-working-as-described

[2020-02-10 11:13] nicolaibaralmueller commented on #2150
What is the status here. We are testing SQL Server 2017 on Ubuntu in Azure and we are not able to restore from azure storage. As soon as we select the storage container in SSMS an error is returned:
The remote server returned an error: (403) Forbidden.

[2020-02-10 12:36] adamrobinson361 opened #4119 "olapR on CRAN"
Hi,

Just getting in touch to understand if there is any possibility of olapR being published on CRAN/ available for the regular R going forward rather than just Microsoft specific?

In an organisation that uses tabular, power bi and R this would be a great feature as it would allow us to call tabular and power bi models directly from R. This is already very easy for SQL Server via RODBC, odbc etc

[2020-02-10 17:47] MightyPen commented on #3975
@gojanpaolo Hello, it is time now to close this Issue #3975.  We know of no way to configure this as a default.

Thank you for submitting this Issue. We hope to hear from you again.

cc: @jovanpop-msft

[2020-02-10 17:47] #3975 closed

[2020-02-10 18:00] nickstocker opened #4120 "Is WSFC a requirement of DAGs?"
I'm considering altering a design from using standard always on availability groups to distributed availability groups but it looks like it will need twice as much hardware with two WSFCs each containing minimum of two VMs. Do you actually have to have a WSFC on each side or could you just have standalone VMs (built on HA hardware) - one on each side rather than two ?

---
#### Document Details

⚠

[2020-02-10 18:32] MightyPen commented on #4041
@ananth3010 Hello, This article's AppliesTo, and it Versioning configuration, have been fixed to now include Azure SQL Database.

- `https://github.com/MicrosoftDocs/sql-docs-pr/pull/13725`

Thanks for bringing this problem to our attention.
Thank you for submitting this Issue. We hope to hear from you again.

[2020-02-10 18:32] #4041 closed

[2020-02-10 18:47] tphillipvidea opened #4121 "Please add note about truncation"
Please add to note in example C:  As a default Results to Text are truncated to 256 characters.  To change this setting select Tools -&gt; Options -&gt; Query Results -&gt; SQL Server -&gt; Results to Text and change "Maximum number of characters displayed in each column".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-02-10 18:59] gojanpaolo commented on #3975
@MightyPen alright! thank you!

[2020-02-10 19:29] Bliyaal commented on #4091
@pensivebrian -- You're right! It was there all allong. Stupid me. Thanks!

[2020-02-10 20:52] MashaMSFT commented on #4114
Hi @shivtorov , thank you so much for your feedback! A SQL Server instance in an AG, but not clustered, sounds like it should be fine to me, but let me confirm.

Thanks!
Masha from the SQL Docs team

[2020-02-10 20:56] yualan commented on #4037
Hi @brunomartinspro, my name is Alan Yu, a PM on the SQL Tools team. I have discussed this with Brian O'Neill, the tech lead for sqlpackage.

On the current roadmap, we don't plan to create an official NuGet Package onthe NuGet marketplace. We encourage unofficial maintainers to direct customers to the official docs package, which includes the bits for all platforms.

...that said, we are looking

[2020-02-10 21:07] #4037 closed

[2020-02-10 21:47] WilliamAntonRohm commented on #4111
@jdavisp3 -- Dave, thank you for your feedback.  Do you have a particular docs.microsoft.com article in mind?

[2020-02-10 22:28] WilliamAntonRohm commented on #4112
@PrometheusRising1 -- thank you for your feedback.

@VanMSFT -- please look into this issue #4112.

[2020-02-10 22:30] WilliamAntonRohm commented on #4113
@StingyJack -- Andrew, thank you for your feedback.

@MightyPen -- Gene, please look into this issue #4113.

[2020-02-10 22:35] WilliamAntonRohm commented on #4115
@jovton -- thank you for your question and research.

@Dylan-MSFT -- please look into this issue #4115.

cc @MightyPen as a writer

[2020-02-10 22:36] WilliamAntonRohm commented on #4116
@jovton -- thank you for your feedback.  I am looking into this document.

[2020-02-11 00:22] WilliamAntonRohm commented on #4121
@tphillipvidea -- Tom, thank you for your feedback.  I am looking into this article.

[2020-02-11 00:23] WilliamAntonRohm commented on #4119
@adamrobinson361 -- Adam, thank you for your question.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-02-11 00:23] #4119 closed

[2020-02-11 01:01] MashaMSFT commented on #4120
Hi @nickstocker , thanks for contacting Microsoft! Are you asking if it's possible to create a distributed availability group when the underlying source availability groups were deployed [without a cluster](https://docs.microsoft.com/en-us/sql/database-engine/availability-groups/windows/read-scale-availability-groups?view=sql-server-ver15#read-scale-availability-groups-without-cluster)?

Thanks!
M

[2020-02-11 01:21] jdavisp3 commented on #4111
Whoops, sorry, it is this one:

https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-ver15

[2020-02-11 02:17] MashaMSFT commented on #3327
Hello! @BIGabor and @tussosedan ,

Thank you so much for bringing this to our attention, and for being patient while we updated the documentation. A number of steps were rewritten to address the concerns mentioned in this article.

I hope that helps and please leave a comment should you need anything further from us.

Thanks and hope you all have a wonderful rest of your day!
Masha from the SQL Do

[2020-02-11 02:17] #3327 closed

[2020-02-11 02:19] MashaMSFT commented on #3941
Hi @Ken-DBA , thank you for bringing this to our attention! While this list is not meant to be exhaustive, such a disclaimer was missing from the documentation. We added the disclaimer, along with a query you can use to get the full list from the system engine.

As a courtesy, however, we did add the error message that you pointed out was missing, along with a few others.

I hope that helps, and p

[2020-02-11 02:19] #3941 closed

[2020-02-11 02:20] MashaMSFT commented on #3942
Hi @Ken-DBA , thank you for bringing this to our attention! While this list is not meant to be exhaustive, such a disclaimer was missing from the documentation. We added the disclaimer, along with a query you can use to get the full list from the system engine.

As a courtesy, however, we did add the error message that you pointed out was missing, along with a few others.

I hope that helps, and p

[2020-02-11 02:20] #3942 closed

[2020-02-11 02:21] MashaMSFT commented on #3982
Hi @Typhoon87 , thanks for bringing this to our attention! I've added this error state to the doc.

Hope that helps and please leave us a comment should you need anything further from us.

Thanks and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2020-02-11 02:21] #3982 closed

[2020-02-11 02:21] MashaMSFT commented on #4036
Hi @torjo2k  , thank you for bringing this to our attention! While this list is not meant to be exhaustive, such a disclaimer was missing from the documentation. We added the disclaimer, along with a query you can use to get the full list from the system engine.

As a courtesy, however, we did add the error message that you pointed out was missing, along with a few others.

I hope that helps, and

[2020-02-11 02:21] #4036 closed

[2020-02-11 07:55] mbedded opened #4124 "Issue in this documentation: CURSOR with an @ is invalid"
The documentation above says:

When i am using the following SQL-Command i get a syntax error and the code to create a stored procedure cannot be executed:

[code]

The following code is working without any issues:
[code]

I assume there is a error in the documentation? I tested it with a SQL-Server 2016 Express (local installed) and 2019-latest (docker image). Both with the same result, that a cu

[2020-02-11 08:23] Duduar commented on #3327
Hi Masha,

What were the documentation changes? It seems that the relevant Step4 lsn part remained as it was.

Git history doesn't show changes were made as well.

Thanks,
Dudu

[2020-02-11 08:25] adamrobinson361 commented on #4119
@WilliamAntonRohm - thanks for your reply.

I’m specifically asking if the olapR package built by Microsoft and only currently available for Microsoft’s version of R would ever be available for mainstream R.

I don’t think the forums you link will put me directly in touch with the leads on the package. Any chance you can pass message to the leading team?

[2020-02-11 09:30] nickstocker commented on #4120
Hi @MashaMSFT Sorry for not being clear. My question is whether with a distributed availability group it is mandatory to sit it on WSFCs or can you just have two standalone Virtual servers within the DAG?

[2020-02-11 13:51] TomLitt opened #4126 "Incorrect result set definition"
Hi,
I had some code putting the result set of sp_who into a temporary table, which started throwing a "string or binary data would be truncated" error on upgrade to SQL Server 2019.

The column definition now has the cmd column as nvarchar(26).

According the output of this statement, the other columns are correct:
SELECT * FROM sys.dm_exec_describe_first_result_set_for_object(object_id('sp_who'),

[2020-02-11 16:33] vijaykvs opened #4127 "Sort Order on Non-Key columns in Index"
Under "Index Sort Order Design Guidelines" section it was mentioned that SORT order for indexes can be created only on key columns. However, in the Adventure Works example provided, sort order was mentioned on "RejectedQty" which is not a key column in the table. Please check this and let me know if I am missing something.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-02-11 16:52] WilliamAntonRohm commented on #4124
@mbedded -- Matthias, thank you for your feedback.

@rothja -- Jason, please look into this issue #4124.

[2020-02-11 16:59] WilliamAntonRohm commented on #4126
@TomLitt -- thank you for your feedback.

@VanMSFT -- please look into this issue #4126.

[2020-02-11 17:01] WilliamAntonRohm commented on #4127
@vijaykvs -- thank you for your feedback.

@rothja -- please look into this issue #4127.

[2020-02-11 17:19] DaveBoltman commented on #4081
@johndeighan, @TDK1964,
Please read the notes below the code snippet you are referring to. You'll realise that they are not rubbish, although they do require some thinking on the part of the reader!
`myRv` is the rowversion column value for the row that indicates the last time that you read the row. **This value must be replaced by the actual rowversion value**. An example of the actual rowversion

[2020-02-11 17:19] MashaMSFT commented on #4120
Hi @nickstocker, thanks for the clarification! Although it may be technologically possible, I am not sure I understand the intent of doing so. The idea of a distributed availability group is to have two availability groups that are synchronized, so an availability group in one data center, and an availability group in another data center, for example. It sounds like you're suggesting to create an

[2020-02-11 19:04] nickstocker commented on #4120
Hi @MashaMSFT the initial proposal is to have an always on availability group with a primary and a secodary but spread across locations. I realise that might have problems synchronising effectively over a long distance so was considering DAG which I read works better over large distances however I now understand that DAG requires more than one availability group rather than simply more than one se

[2020-02-11 19:49] #3431 closed

[2020-02-11 23:22] yertle983 opened #4128 "RANK & DENSE_RANK??"
"Deterministic functions always return the same result any time they are called with a specific set of input values and given the same state of the database. Nondeterministic functions may return different results each time they are called with a specific set of input values even if the database state that they access remains the same. For example, the function AVG always returns the same result g

[2020-02-11 23:48] MashaMSFT commented on #3327
Hi @duduar, so sorry about that! I thought the changes were already live, but they weren't :) I see them live now though.

Thanks for the validation!
Masha from the SQL Docs team

[2020-02-12 03:29] maggiesMSFT commented on #3632
Hi, @tseward -- updating the version support. Thanks!

[2020-02-12 07:28] tussosedan commented on #3327
@MashaMSFT @zhensun-sql These changes are shocking. Suddenly it's required to stop all transactions?! This was never mentioned ANYWHERE before, and we would never have chosen this technology if this was the case.

And what happened to what @zhensun-sql wrote above "And lsn could be different if there is heavy workload going on at the same time. But it is still safe to failover as long as you did a

[2020-02-12 09:50] GITAhmad123 opened #4130 "Do document needs update for Availability Group Databases?"
Do document needs update for Availability Group Databases?
Kindly share the process or at least warnings only!

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81b4b8ea-3a1e-8e54-210d-1366b5d30556
* Version Independent ID: 9cc8729d-6289-7043-156e-d1051a7d02c0
* Content: [Database Detach and Attach (SQL Server) -

[2020-02-12 12:22] Cobi911 opened #4131 "Missing Object Type 'SO'"
which is a Sequence Object (SEQUENCE_OBJECT in sys.objects).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 119f0d2e-697f-c218-40ef-c1a0c05cdf9e
* Version Independent ID: 69e49c79-1f35-3e66-ef57-ebcb19d90b02
* Content: [sys.all_objects (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databas

[2020-02-12 12:43] dakrdakr opened #4132 "Database Locks"
What types of Locks will be created during execution of "CREATE TRIGGER"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d8add50-414a-a033-6fc0-84de1c7735f2
* Version Independent ID: 8f2f3149-7035-b3d4-6f09-a6eadd015e24
* Content: [CREATE TRIGGER (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/

[2020-02-12 17:22] rothja commented on #4028
I asked Brian to review the changes in the PR. @brunomartinspro Thanks for your patience!

[2020-02-12 18:26] CeciAc opened #4134 "Update documentation for RHEL 8"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/sql-docs.es-es/issues/74

@sirio3mil commented 9 hours ago — with docs.microsoft.com
This are more accurate commands for RHEL 8 using dnf instead of yum

dnf -y install dnf-plugins-core
dnf config-manager --add-repo https://packages.microsoft.com/config/rhel/8/mssql-server-2019.repo
dnf config-manager --add-repo https://packages.mic

[2020-02-12 18:50] rothja commented on #2830
@EamonNerbonne Again, sorry for the long delay. I tested this today and found the behavior to be as you describe. I also found that if the user had VIEW DEFINITION permission in addition to select permission on the table, that they can see the filter definition. I'll make a change in the article to address what you found here. Thank you.

[2020-02-12 18:54] MikeRayMSFT commented on #4087
@bdcoder2  thanks for the submission, and writing up a way to accomplish the task. I'm reviewing your suggestion with engineering.

Your call out helps me identify that this doc could be improved to clarify what you can  & can't do with T-SQL.

After I review, we'll update.

Thanks!
Mike

[2020-02-12 18:54] ruifcg commented on #3812
Any updates on this issue?
I'm facing the same problem @cdotzenrod reported in the exact same step.
My knox psw also has a $.
Tried PySpark and Scale code and returns the same error.

[2020-02-12 18:56] MikeRayMSFT commented on #4134
@sirio3mil
Thank you for the submission. We're reviewing.

@CeciAc  thank you for moving it int our queue

[2020-02-12 19:02] MikeRayMSFT commented on #4082
Thank you @siddudubey

I'm reviewing this and will update.

[2020-02-12 19:09] binki commented on #3376
But SQL Server says “Cannot recover the master database. SQL Server is unable to run. Restore master from a full backup, repair it, or rebuild it. For more information about how to rebuild the master database, see SQL Server Books Online.”. So the rebuild or repair **is** the step I need to complete prior to starting the rebuild process…? “Repair” seems to be a substep of “Rebuild”…? I might be mi

[2020-02-12 19:34] MashaMSFT commented on #4058
Hi @jelutz77 , thanks for contacting Microsoft! Would you mind clarifying what you're doing when you can't see the drive? Are you just taking a backup using the GUI, or are you using T-SQL, or are you specifying a default back up drive?

Thanks!
Masha from the SQL Docs team

[2020-02-12 19:46] MikeRayMSFT commented on #4032
Hi @MikeGriffinReborn

I see what you're saying, the Syntax Diagrams for some analytic functions include window frame syntax, but some of the functions (especially the older functions like `SUM` do not.

The [Aggregate Functions](https://docs.microsoft.com/en-us/sql/t-sql/functions/aggregate-functions-transact-sql) article says:
"The OVER clause may follow all aggregate functions, except the STRIN

[2020-02-12 19:46] #4032 closed

[2020-02-12 19:51] MikeRayMSFT commented on #4051
Thank you for the submission. We're updating our documentation.

CC: @pmasl

[2020-02-12 19:51] #4051 closed

[2020-02-12 20:07] MikeRayMSFT commented on #4081
In order to address the concerns raised here and in #3829, I want to update the T-SQL so that it's clear where you need to manually define the specific rowversion or timestamp.

Would the update below help?

[code]

You can then use the following sample [!INCLUDE[tsql](../../includes/tsql-md.md)] statements to implement optimistic concurrency control on the `MyTest` table during the update. The sc

[2020-02-12 20:21] #2830 closed

[2020-02-12 21:00] rothja commented on #3394
@lukos I sincerely apologize for the time it took me to run the test. I went through the article with an Azure VM SQL Server 2017 on Ubuntu successfully. It's possible that I didn't have the exact same configuration, but I'm unable to reproduce the crash. I would suggest (if you haven't tried this) that you do the backup using the SSMS UI instead of T-SQL. See if that works. There is a script opti

[2020-02-12 21:00] #3394 closed

[2020-02-12 22:08] #4028 closed

[2020-02-12 22:09] #4081 closed

[2020-02-12 23:53] WilliamAntonRohm commented on #4128
@yertle983 -- thank you for your well-reasoned feedback.

@rothja -- please look into this issue #4128.

[2020-02-12 23:54] WilliamAntonRohm commented on #4130
@GITAhmad123 -- thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please provide more context around your general task.

[2020-02-12 23:56] WilliamAntonRohm commented on #4131
@Cobi911 -- thank you for catching this.

@stevestein -- please look into this issue #4131.

[2020-02-13 00:14] WilliamAntonRohm commented on #4132
@dakrdakr -- David, thank you for your question.  [This TechNet post](https://social.technet.microsoft.com/Forums/en-US/924a976f-66f7-48b4-9eab-e033c407c7bf/what-types-of-locks-will-be-created-during-execution-of-quotcreate-triggerquot-statement?forum=transactsql) may help you.  You may also find additional information here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql

[2020-02-13 02:21] msebolt commented on #4031
@LifeRyuto Sounds good, we'll get an update to this documentation out shortly.

[2020-02-13 08:34] semcha commented on #4049
@WilliamAntonRohm link doesn't work.

[2020-02-13 08:35] semcha opened #4135 "Incorrect page link"
In the "SQL Server 2017 Database Engine" section on this page, the "see What's New in Integration Services in SQL Server 2017" redirects back to this page itself: https://docs.microsoft.com/en-us/sql/database-engine/configure-windows/what-s-new-in-sql-server-2017-database-engine?view=sql-server-ver15

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-02-13 09:00] ashamrai opened #4136 "The TargetFile option is not applied to the Script Parameters and Properties section"
I`ve tested this in pipeline with the following cmd:

`"C:/Program Files (x86)/Microsoft Visual Studio/2017/Enterprise/Common7/IDE/Extensions/Microsoft/SQLDB/DAC/130/sqlpackage.exe" /action:script  /outputpath:$(build.artifactstagingdirectory)\db-rollback.sql /SourceConnectionString:"Server=tcp:myazuresqlserver,1433;Initial Catalog=mydb;Persist Security Info=False;User ID=useradmin;Password=$(pass

[2020-02-13 09:21] semcha commented on #4049
@MikeRayMSFT https://github.com/MicrosoftDocs/sql-docs/commit/e9d80a0befa48d06805bae8015779d3f6bd87711

[2020-02-13 09:22] semcha commented on #4135
This commit: https://github.com/MicrosoftDocs/sql-docs/commit/e9d80a0befa48d06805bae8015779d3f6bd87711

[2020-02-13 15:13] rothja commented on #3696
@srutzky Thanks, again, for submitting the PR with the suggested changes. I've reached out to Pedro yesterday to ask him to review your suggestions, as we need his input. Thanks for your patience.

[2020-02-13 16:01] rothja commented on #3792
@pcand01 I got a chance to try some of these out to see if I could dig into this problem a bit more. When I ran the wrapper functions, they did create a column named __#command_id. Is it possible that this bug has been fixed in a recent cumulative update? Here is the full text for the generated wrapper where you can see __#command_id:

[code]

I tried this on SQL Server 2019 and 2017 (latest CUs).

[2020-02-13 17:15] PhilippeCand commented on #3792
@rothja I created a variant and tested it successfully. I am fine, I just wanted to report a bug to save others some time.

[2020-02-13 17:50] pensivebrian commented on #4136
I think you want use the `/SourceFile` parameter instead of the `/TargetFile` parameter. The `/TargetFile` parameter is for generating the target file, which isn't the case for the `/Action:Script` action. Can you try something like:

`sqlpackage /action:script /sf:"D:\Crap\AW.dacpac" /outputpath:deploy.sql /TargetConnectionString:"server=server2017;database=AW;integrated security=true"
`
The sqlp

[2020-02-13 18:09] rothja commented on #3792
@PhilippeCand Thanks for letting me know. I'm hoping this is fixed now, but if not, someone else can add more info in this thread and/or the [user voice forum](https://feedback.azure.com/forums/908035-sql-server?query=cdc) to vote for improvements in this area. Thanks for reporting it!

[2020-02-13 18:19] shawnnesser opened #4138 "Examples for various databases"
It would be nice to have specific examples for the major databases such as SAP, DB2 etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dad6b54f-7b8d-0d9b-0ece-815b8874f751
* Version Independent ID: dee28cea-a153-0d80-b3f1-982aa4d16a87
* Content: [Access external data: ODBC generic types - PolyBase - SQL Server](https:

[2020-02-13 18:50] rothja commented on #3854
@Phylum123 Thanks for your patience. I believe these steps must have been written for a much earlier version of Visual Studio. I found the following stack overflow thread for how to debug a CLR procedure from Visual Studio: [https://stackoverflow.com/questions/45301151/how-to-debug-a-clr-stored-procedure-in-vs-2013/45305204#45305204](https://stackoverflow.com/questions/45301151/how-to-debug-a-clr-

[2020-02-13 19:01] WilliamAntonRohm commented on #4135
@semcha -- Alexey, thank you for your feedback.

@MikeRayMSFT -- Mike, this link and "What's new in SQL Server 2017 Database Engine" (https://github.com/MicrosoftDocs/sql-docs/issues/4049) both redirect to their own page.  Please let me know the correct destination links and I will update the document.

[2020-02-13 19:09] csb1582 opened #4140 "should not be a deployment"
I have found on k8s 1.15.x that deployments can sometimes run on top of each other, even when strategy is set to Recreate. Specifically, if a pod is running from a deployment, and is then manually deleted, the new pod will spin up before the old terminates.

This could be dangerous for SQL server if new pod starts on same node; both containers may try to read/write from same data and could potenti

[2020-02-13 20:52] baodad opened #4141 "Is there no way to use T-SQL to check if SQL Server Agent mail profile is enabled?"
The step that bites so many of us if that, in SSMS, right-clicking on SQL Server Agent &gt; Properties &gt; Alert System &gt; Mail session &gt; Enable mail profile is not checked.  I wish we had T-SQL code that could check for this particular setting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e146ff3-268e-5025-e6

[2020-02-13 20:55] rothja commented on #4124
@mbedded Thanks for this good question. You are right that in your example, you do not need the @ symbol and, in fact, you get an error. The way you are using cursors is actually described in this article on [DECLARE CURSOR](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/declare-cursor-transact-sql?view=sql-server-ver15). The article you are referring to here is about declaring a cur

[2020-02-13 20:55] #4124 closed

[2020-02-13 23:28] rajmera3 commented on #3812
@cdotzenrod @kenakamu I deployed a BDC with a "$" in the password (using a mac) on AKS. I have no issues running SQL nor Spark commands.

Are you deploying using a Windows machine? Perhaps the $ needs to be escaped somehow?

If you can provide any more information that would be great

[2020-02-14 00:08] kreely opened #4142 "Implicit conversion matrix says it should download as a PDF, but downloads as a PNG."
Small issue. Just letting you know.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f56efc1-e90f-68dd-cb02-2f2ba21373fd
* Version Independent ID: aa110136-4520-ed90-97fe-1fdedd1863ad
* Content: [CAST and CONVERT (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/functions/cast-and-convert-transact-

[2020-02-14 04:01] CarlRabeler commented on #4132
@dakrdakr the type of lock depends upon what you are doing within the trigger. The action requested within the trigger will determine that type of lock required. Everything within the trigger is part of a transaction.

[2020-02-14 04:13] maggiesMSFT commented on #3632
Hi, @tseward -- the update should be live tomorrow. Thanks again!
#please-close

[2020-02-14 04:13] #3632 closed

[2020-02-14 04:15] maggiesMSFT commented on #3408
Hi, @Teutenberg -- thanks for your detailed request. After conferring with the product team, I've updated the article. Per their advice, I haven't included the PowerShell. The update will be live tomorrow.
Thanks again!
#please-close

[2020-02-14 04:15] #3408 closed

[2020-02-14 08:40] BIGabor opened #4143 "This doesn't belongs to Transaction log management."
How is this related to Transaction logs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 613b4ce1-07b4-4dfd-9dc9-26767af1a619
* Version Independent ID: 9944943b-72ef-278a-8afe-0595c49e42e6
* Content: [Log File Viewer - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/logs/log-file-viewer?view=sql-se

[2020-02-14 09:14] mbedded commented on #4124
@rothja Thank you very much for your explanation. Do you think it would make sense to point this difference out with one sentence to make it clear for other people as well?

On the other hand: It seems noone (except me) ran into this confusin :laughing:

[2020-02-14 13:54] Ray0305 opened #4144 "Layout cannot display"
Try to reinstall but still fail.
Different problems occur every time.

![image](https://user-images.githubusercontent.com/14798066/74537106-65be6a80-4f74-11ea-8995-79657ee77bf4.png)
![image](https://user-images.githubusercontent.com/14798066/74537348-df565880-4f74-11ea-975f-d2c4afe8c804.png)
![image](https://user-images.githubusercontent.com/14798066/74537363-e4b3a300-4f74-11ea-86cc-3407082ed3b2.p

[2020-02-14 13:54] Phylum123 commented on #3854
I found a pretty simple work around. I created a test project and referenced the original project. I then just rum the method of the clr stored proc. I can debug, etc without issues. It's not running it on the sql server, but should work in 99% of cases.

[2020-02-14 14:09] rothja commented on #4128
@yertle983 Thank you for this feedback and question. I don't have an immediate answer for you, but I will investigate and see if I can get some details (and also see if the doc needs to be clarified). Thank you!

[2020-02-14 14:25] rothja commented on #4124
@mbedded I'm *sure* that you're not the only one. And, yes, a sentence to this effect might be helpful. I'll try to add that soon. Or, if you'd like, you can edit the topic, add the sentence where you think it makes sense, and submit it to us. If you want to contribute to the article, let me know. Otherwise, I'll try to do this within a week or two as I have time. Thank you!

[2020-02-14 14:28] rothja commented on #3854
@Phylum123 That's clever. So is the stored procedure running in the local db that visual studio sets up for the project? Thanks!

[2020-02-14 16:14] VanMSFT commented on #4031
Thanks @LifeRyuto! I've fixed the doc, and it should go live shortly. Thanks again for helping us on this!

[2020-02-14 16:17] #4031 closed

[2020-02-14 16:24] Phylum123 commented on #3854
In a CLR stored proc, you still use a SQL connection, and can specify which SQL server to connect to. What I meant about it not running on the SQL server is that the actual C# code isn't running on the SQL server, so the only real issues are, performance will be a little slower and context connections.  [https://docs.microsoft.com/en-us/sql/relational-databases/clr-integration/data-access/context-

[2020-02-14 16:47] WilliamAntonRohm commented on #4071
@rothja -- Jason, please review the above-mentioned PR 13784.

[2020-02-14 16:52] VanMSFT commented on #4033
Thanks for the feedback, @barryblessing! I've added a link to our Joins page that explains the different joins. The doc should be updated later today.

[2020-02-14 16:53] #4033 closed

[2020-02-14 16:54] LarnuUK opened #4145 "Parameters are not permitted in Azure SQL Server"
This document makes no mention that the parameters (*login* and poorly name *Param2*) are not permitted when using Azure SQL Server.

If you attempt to use the function on Azure with a parameter you get an error:
[code]

The documentation should reflect this, so that readers know they would need a different method to obtain the `sid` of a different login (for example by use of `sys.database_princi

[2020-02-14 16:59] #4080 closed

[2020-02-14 17:31] WilliamAntonRohm commented on #3906
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-02-14 17:31] #3906 closed

[2020-02-14 17:41] #4105 closed

[2020-02-14 17:43] WilliamAntonRohm commented on #4020
@dfhampshire -- Thank you for your feedback.  I have updated the documentation.

[2020-02-14 17:44] WilliamAntonRohm commented on #4080
@GourdJ -- Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2020-02-14 17:44] WilliamAntonRohm commented on #4105
@SO-MECA -- Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2020-02-14 18:13] WilliamAntonRohm commented on #4111
@jdavisp3 -- Dave, thank you for clarifying.

@MightyPen -- Gene, please look into this issue #4111.

[2020-02-14 18:26] #4116 closed

[2020-02-14 18:29] WilliamAntonRohm commented on #4121
@MikeRayMSFT -- Mike, please look into this issue #4121.

[2020-02-14 18:31] nickstocker commented on #3969
Hi @MashaMSFT am I correct in suggesting that the only thing I need to do different is:
USE master;
GO
ALTER DATABASE <db name>
SET SINGLE_USER
WITH ROLLBACK IMMEDIATE;
GO

before I backup the log with
BACKUP LOG <db name>
TO <destination>
WITH NORECOVERY;
GO

??
TIA.

[2020-02-14 18:34] rothja commented on #4071
@WilliamAntonRohm Looks great. Thank you!

[2020-02-14 18:58] ashamrai commented on #4136
Yes, your suggestion works as a direct deployment. However, my goal here to get a rollback script.

[2020-02-14 19:21] WilliamAntonRohm commented on #4138
@shawnnesser -- thank you for your feedback.  You may some examples here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to raise this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-02-14 19:21] #4138 closed

[2020-02-14 19:25] WilliamAntonRohm commented on #4140
@csb1582 -- thank you for your feedback.  You are welcome to raise this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-02-14 19:25] #4140 closed

[2020-02-14 20:16] mrlife opened #4146 "Misplaced hyphen?"
Here is the sentence from the docs, with the area in question bolded.

Here is the proposed update to the bolded section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c5b4585-159a-6472-140f-8e9439222ab7
* Version Independent ID: 03a14cb4-5589-1156-5a4e-938665968ebb
* Content: [What is an Always On availability group

[2020-02-14 22:52] WilliamAntonRohm commented on #4142
@kreely -- Dave, thank you for your keen eye.  I am looking into this document.

[2020-02-14 22:56] WilliamAntonRohm commented on #4141
@baodad -- thank you for your question.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

And you are welcome to file this as an issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any f

[2020-02-14 22:56] #4141 closed

[2020-02-14 23:02] WilliamAntonRohm commented on #4143
@BIGabor -- Bilicz, thank you for your question.  I as well do not see Transaction logs in the list of logs that can be viewed.

@MashaMSFT -- Masha, please clarify.

[2020-02-14 23:03] WilliamAntonRohm commented on #4144
@Ray0305 -- Ray, thank you for your feedback; we appreciate it. To make sure we have all the information needed to address your issue, please let us know which topic you’re referencing, or provide more context around your general task.

[2020-02-14 23:05] WilliamAntonRohm commented on #4145
@LarnuUK -- Thom, thank you for your feedback.

@VanMSFT -- Van, please look into this issue #4145.

[2020-02-15 00:36] ticianaciminari opened #4148 "Registry error"
@SecureString commented on [Fri Feb 14 2020](https://github.com/MicrosoftDocs/sql-docs.de-de/issues/115)

When using the DSC Resource SQL Setup I get a lot of registry errors in the form:
Cannot find path 'HKLM: \ SOFTWARE \ Microsoft \ Microsoft SQL Server \ Instance Names \ SQL' because it does not exist.
What could be the cause?
Thanks for any idea

---
#### Dokumentdetails

⚠ *Bearbeiten Sie d

[2020-02-15 00:37] ticianaciminari commented on #4148
Hi Team,

Could you please check issue from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-15 09:24] Ray0305 commented on #4144
It happen when I try to use SQL Query.

https://streamable.com/xmrbz

[2020-02-16 04:25] rrg92 commented on #4079
@PrometheusRising1 did you see the tests above? can you provide additional details about to we check if doc is correct?

[2020-02-16 22:59] aaronlabeau opened #4151 "Mac OS X versions supported"
The current versions of Mac OS X supported are really old:

macOS 10.13 High Sierra
macOS 10.12 Sierra

Is this a typo or are 10.14 and 10.15 not supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811ed1f4-1c78-aa1b-e752-307250ca8eb7
* Version Independent ID: f36629bf-b2e6-4993-7c77-32fa311ea942
* Content: [Down

[2020-02-17 05:51] srutzky commented on #3763
@LuisGonzalezLT (and @WilliamAntonRohm and @VanMSFT ): I just ran into this myself and here is what I discovered.

This is not a SQL Server issue. This is a Windows issue. The `AT TIME ZONE` functionality is actually coming from .NET (similar to `FORMAT`, `COMPRESS`, etc), and .NET gets its [Time Zone Info](https://docs.microsoft.com/en-us/dotnet/api/system.timezoneinfo) from Windows (Registry Key

[2020-02-17 06:29] srutzky commented on #3758
@LuisGonzalezLT Please see the comment I left on the related issue:

https://github.com/MicrosoftDocs/sql-docs/issues/3763#issuecomment-586828742

[2020-02-17 10:47] GITAhmad123 opened #4152 "Primary and Secondary Replica SQL Server Error Logs"
Hi All,
If at primary replica the business continues; then the SQL Server error log on secondary server is also synchronized with primary? Both Servers have different physical machines! In both case why and why not?
Does it should be part of this page as well ?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 154a

[2020-02-17 10:51] GITAhmad123 commented on #4130
Thank you, William
Actually in case of SQL Server AG, the attach and detach constraints with respect to AG should also be added in this article?
I am hopeful that any warning; which may come up while we attach/detach databases of AG should be added in this article.
Thanks

[2020-02-17 14:32] LuisGonzalezLT commented on #3758
That kind of stinks for anyone working with dates < 1987 needing to do reliable time zone conversions where being an hour off could hurt. Fortunately it doesn’t affect my current dataset as we don’t deal with years that old but if it was a problem with current date conversions we could be in hot water since we have specific regulations we have to follow that are hour sensitive. It was just somethi

[2020-02-17 15:11] srutzky commented on #3758
@LuisGonzalezLT Hi. Something happened with your reply and it contains your email address. I suggested deleting the comment on issue 3758 and adding it to issue 3763 via the UI instead of a reply email. Take care, solomon...

[2020-02-17 15:15] srutzky commented on #3763
For historical accuracy, I believe your best option at the moment is using Matt Johnson's open source [SQL Server Time Zone Support project](https://github.com/mj1856/SqlServerTimeZoneSupport).

[2020-02-17 20:11] mbedded commented on #4124
To be honest i am unsure how to phrase it specific enough so everybody can understand it. I needed a moment to understand the difference but i can't point it out specific enough. I see a different syntax but maybe i miss some background information. For me, we use DECLARE in both cases. In one of them its directly combined with "cursor for" and the other one does it separately.

So i would appreci

[2020-02-17 21:13] ticianaciminari opened #4154 "The "SQL Server Express" download link is wrong"
@doggy8088 commented 2 days ago — with docs.microsoft.com
It should be a link to SQL Server 2019 page: https://docs.microsoft.com/zh-tw/sql/sql-server/editions-and-components-of-sql-server-version-15?view=sql-server-ver15

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d663fffb-d444-59c0-714f-433cf91980c4
* Version Inde

[2020-02-17 21:13] ticianaciminari commented on #4154
Hi Team,

Could you please check the issue from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-17 21:21] ticianaciminari opened #4155 "LocalDB is an option when installing SQL Server 2016 Express."
@doggy8088 commented yesterday — with docs.microsoft.com
LocalDB on this page is an option when installing SQL Server 2016 Express. It should be modified to LocalDB is an option when installing SQL Server 2017 Express.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea66ca27-e0b1-cd1e-a8ef-55911169c71a
* Version Indepen

[2020-02-17 21:22] ticianaciminari commented on #4155
Hi Team,

Could you please check the suggestion from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-17 21:32] ticianaciminari opened #4156 "The iPython notebook file is not found"
@VioletVivirand commented 21 hours ago — with docs.microsoft.com
The iPython notebook file at https://raw.githubusercontent.com/microsoft/sql-server-samples/master/samples/features/sql-big-data-cluster/spark/data-virtualization/mssql_spark_connector.ipynb is not found, please update the hyperlink of the file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-02-17 21:32] ticianaciminari commented on #4156
Hi Team,

Could you please check issue from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-17 22:05] WilliamAntonRohm commented on #4148
@ticianaciminari -- Ticiana, thank you for passing along this question.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

And you're welcome to provide feedback here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

@randomnote1 -- Dan, can you shed some light

[2020-02-17 22:10] WilliamAntonRohm commented on #4151
@aaronlabeau -- Aaron, thank you for your question.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You're welcome to provide feedback here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

@markingmyname -- Mark, please look into this issue #4151.

[2020-02-17 22:24] WilliamAntonRohm commented on #4155
@doggy8088, @ticianaciminari -- Will, Ticiana -- thank you for your feedback.  I am looking into this issue.

[2020-02-17 22:24] WilliamAntonRohm commented on #4154
@doggy8088, @ticianaciminari -- Will, Ticiana -- thank you for your feedback.  I am looking into this issue.

[2020-02-17 22:27] WilliamAntonRohm commented on #4156
@VioletVivirand, @ticianaciminari -- Chung-Ping, Ticiana, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue #4156.

[2020-02-17 23:22] theGerk opened #4157 "Infinity litteral"
I'm trying to run some testing where I need a float argument to a stored procedure with values of positive and negative infinity. I can't figure out how to do this.

[2020-02-18 00:49] #4142 closed

[2020-02-18 00:54] #4146 closed

[2020-02-18 00:55] WilliamAntonRohm commented on #4146
@mrlife -- thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2020-02-18 00:55] WilliamAntonRohm commented on #4142
@kreely -- Dave, thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2020-02-18 01:01] WilliamAntonRohm commented on #4144
@Ray0305 -- Ray, thank you for clarifying.  Do you have a specific docs.microsoft.com article in mind?

[2020-02-18 01:03] WilliamAntonRohm commented on #4130
@GITAhmad123 -- thank you for clarifying.

@stevestein -- please look into this issue #4130.

[2020-02-18 02:51] CarlRabeler commented on #4056
@msebolt please assign to @julieMSFT

[2020-02-18 03:00] CarlRabeler commented on #4050
@mrdenny all of the SET options are documented in this article: https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-database-transact-sql-set-options

[2020-02-18 03:01] CarlRabeler commented on #3783
PR merger pending

[2020-02-18 03:01] #3783 closed

[2020-02-18 03:02] #4132 closed

[2020-02-18 05:26] jsantosh14 commented on #4154
Even the SQL Developer Edition 2019 is downloading the 2017 version. "https://www.microsoft.com/en-in/sql-server/sql-server-downloads#"

[2020-02-18 06:32] marasinghe82 commented on #3836
Once deploy
azdata bdc create --config-profile custom --accept-eula yes

Pod Name: mgmtproxy-7jk75 event log displays following. Please let me know how to resolve this issue

Readiness probe failed: cat: /var/run/container.ready: No such file or directory

[2020-02-18 06:33] marasinghe82 opened #4158 "Readiness probe failed: cat: /var/run/container.ready: No such file or directory"
Once deploy azdata bdc create --config-profile custom --accept-eula yes

Pod Name: mgmtproxy-7jk75 event log displays following. Please let me know how to resolve this issue

Readiness probe failed: cat: /var/run/container.ready: No such file or directory

[2020-02-18 06:37] marasinghe82 opened #4159 "Readiness probe failed: cat: /var/run/container.ready: No such file or directory"
Once deploy azdata bdc create --config-profile custom --accept-eula yes

Pod Name: mgmtproxy-7jk75 event log displays following. Please let me know how to resolve this issue

Readiness probe failed: cat: /var/run/container.ready: No such file or directory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc8bb827-4819-7b2

[2020-02-18 06:41] marasinghe82 opened #4160 "Readiness probe failed: cat: /var/run/container.ready: No such file or directory"
Once deploy azdata bdc create --config-profile custom --accept-eula yes

Pod Name: mgmtproxy-7jk75 event log displays following.
Readiness probe failed: cat: /var/run/container.ready: No such file or directory

Please let me know how to resolve this issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f789883-5a24-a04

[2020-02-18 11:55] randomnote1 commented on #4148
@SecureString, it looks like you have an issue ([1469](https://github.com/dsccommunity/SqlServerDsc/issues/1469)) open with the SqlServerDsc repo. Make sure to provide the version of SqlServerDsc you are using and @johlju and the team will help you figure this out.

[2020-02-18 11:59] ashamrai commented on #4136
I see that behavior is by design, but documentation is not aligned with it. Therefore, I spent my time to detect possible cases. I think, if documentation will contain something like "TargetFile is not supported by Script action" other developers will save their time in the future.

[2020-02-18 13:10] martinsmith123456 opened #4162 "Azure SQL Database is ticked but..."
The xEventProfiler node does not show in SSMS when connected to Azure SQL Database (using most up-to-date version of SSMS - v.18.4)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c84f914-e1fc-5cfe-e56e-74aefaf9a5ba
* Version Independent ID: d56b9604-2dc1-9f97-ae79-0a9039eeec45
* Content: [Use the SSMS XEvent Profiler

[2020-02-18 13:30] DaveBoltman opened #4163 "Does not convert to local time"
The query under the heading [Query Temporal Tables using local time zone](https://docs.microsoft.com/en-us/sql/t-sql/queries/at-time-zone-transact-sql?view=sql-server-ver15#c-query-temporal-tables-using-local-time-zone) always returns the time in Pacific Standard Time instead of Local Time, as advertised. Since an estimated [1% of people live in the Pacific Standard Time zone](https://blog.cybercl

[2020-02-18 13:58] cdotzenrod commented on #3812
I'm now able to run spark code on my cluster.  I ended up tearing down the 3 instance environment and building a new 1 instance environment with similar cores and memory to the 3 instance environment I used to have.  This simpler config seems to be having less challenges.  I would like to go back and make a multi instance env and see if I run into the same issues again at some point.

[2020-02-18 14:02] emadfalsafi1 opened #4164 "'e' character in 5. is too much"
End of number 5. is only an 'e' character.
I think it shouldn't be here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61fcc05d-fb57-f09e-21f2-f248fba6f23f
* Version Independent ID: 51fd5fd6-d538-4fc2-cce0-c766bc5a4c06
* Content: [Configure availability group in SSMS - SQL Server Always On](https://docs.microsoft.com/

[2020-02-18 14:31] dineshaj10 opened #4165 "uncomment the phrase "CREATE DATABASE SCOPED CREDENTIAL MyCredentials ""
-- Create a db master key if one does not already exist, using your own password.
CREATE MASTER KEY ENCRYPTION BY PASSWORD='&lt;EnterStrongPasswordHere&gt;';

-- Create a database scoped credential.CREATE DATABASE SCOPED CREDENTIAL MyCredentials
WITH IDENTITY = 'SHARED ACCESS SIGNATURE',
SECRET = 'QLYMgmSXMklt%2FI1U6DcVrQixnlU5Sgbtk1qDRakUBGs%3D';

syntax error in the "Create database scoped crede

[2020-02-18 16:36] SecureString commented on #4148
Hi
i used:
Import-DscResource -ModuleName "SqlServerDsc"          -ModuleVersion 12.1.0.0
is this not the correct Version ?

[2020-02-18 17:10] Thraka opened #4166 "SQUARE and SQRT function issue (SSMS)"
This issue was created in the dotnet docs repo by error. I've moved it here.

---

_From @Zyean on Friday, February 14, 2020 7:08:01 PM_

Hello, I'm noticing an issue in SQL server where

Squaring 2147483647 using the SQUARE function returns 4611686014132420608
However, 2147483647 * 2147483647 = 4611686014132420609

[code]

Could this be an issue related to how the SQUARE function returns a float?

[2020-02-18 17:10] Thraka commented on #4166
_From @BillWagner on Tuesday, February 18, 2020 3:14:57 PM_

@mikeRayMSFT Should this issue be in a different repository? I'm not sure how it found its way to .NET docs.

[2020-02-18 17:15] SecureString commented on #4148
i have updated my module to Version 13, but still thos error:
![image](https://user-images.githubusercontent.com/61046650/74760412-a7079080-527a-11ea-8827-c91fba7f7e3f.png)

[2020-02-18 18:08] WilliamAntonRohm commented on #4155
@MikeRayMSFT -- Mike, "SQL Server 2016 Express" comes from includes/ssexpcurrent-md.md -- should ssexpcurrent be "...2017..." now?

[2020-02-18 19:06] rothja commented on #4124
@mbedded Thanks. I'll try to work on adding this soon.

[2020-02-18 19:21] johlju commented on #4148
This is being tracked in the issue https://github.com/dsccommunity/SqlServerDsc/issues/1469 and it is not an issue with the documentation. I suggest closing this issue.

[2020-02-18 19:24] MightyPen commented on #4148
Closing this Issue #4148 now, on advice from @johlju who says this problem is not the fault of the documentation.

@ticianaciminari Thank you for reporting this Issue and bringing it to our attention. The underlying problem has been traced beyond the documentation, so going forward this problem will be tracked in another system. The problem now has our attention.

Thank you for submitting this Iss

[2020-02-18 19:24] #4148 closed

[2020-02-18 19:40] ticianaciminari commented on #4148
@SecureString  FYI

[2020-02-18 19:42] MikeRayMSFT commented on #4156
The article was updated on January 24 with a new link.

The link may not have been updated on all localized versions. What locale is being used?

Here's the updated content:

## Run the sample notebook

To demonstrate the use of the MSSQL Spark Connector with this data, you can download a sample notebook, open it in Azure Data Studio, and run each code block. For more information about working wit

[2020-02-18 19:43] MikeRayMSFT commented on #4156
@RyanKing77 - can we follow up on this as a possible localization error?

[2020-02-18 19:57] MikeRayMSFT commented on #4121
@tphillipvidea - thank you for the submission. Will respond shortly.

[2020-02-18 21:42] MashaMSFT commented on #3969
@kfarlee , can you please confirm?

Thank you!
Masha from the SQL Docs team

[2020-02-18 21:52] MashaMSFT commented on #4143
Hi @BIGabor, thanks for contacting Microsoft! You're right, this collection of articles does not belong in the transaction log manager section. Thanks for bringing this to our attention! I have created an internal tracking item to resolve this ([1678606](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1678606)). I will close this Git Issue out in the meantime but will update it onc

[2020-02-18 21:52] #4143 closed

[2020-02-18 21:55] MashaMSFT commented on #4146
Hi @mrlife,  thank you so much for improving our documentation! I just wanted to let you know that you have the ability to make these changes yourself, if you were interested in doing so :) Not only will this help improve our documentation, but you'll be listed as a contributor to the article!

If this is something you'd like to do, here are the steps:
1. Navigate to the page of interest
2. Select

[2020-02-18 21:56] MashaMSFT commented on #4164
Hi @emadfalsafi1 , thank you for contacting Microsoft! You're right, that e is not meant to be there :)

Would you be interested in submitting the change yourself? Not only does this help improve our documentation, but you'll be listed as a contributor to the article!

If you'd like to do so, here are the steps:
1. Navigate to the page of interest
2. Select the "Edit" button at the top right of th

[2020-02-18 22:16] MashaMSFT commented on #4058
Hi @jelutz77 , it's been some time since we've heard from you and I wanted to follow up to see if you still need assistance?

Thanks!
Masha from the SQL Docs team

[2020-02-18 22:54] MikeRayMSFT commented on #4156
@ticianaciminari and @VioletVivirand, I've confirmed that this is in fact being corrected in the localized paths. It should be done in a week or so. In the mean time the correct path is in my previous comment.

[2020-02-18 22:54] #4156 closed

[2020-02-18 23:06] MikeRayMSFT commented on #4155
IMO we should remove the version, number. includes/ssexpcurrent-md.md should just be SQL Server.

[2020-02-18 23:07] MikeRayMSFT commented on #4155
@doggy8088, @ticianaciminari -

Thanks for this submission, because the information applies equally to SQL Server 2016, 2017, and 2019, we're going to remove the version specific information.

I appreciate your attention to detail.

[2020-02-18 23:52] pmasl commented on #4121
Addressed with PR 13823

[2020-02-19 01:14] sidesw1pe opened #4170 "Missing column information"
I can see the following columns, which are not described in this article, when I select from sys.external_data_sources:
1. connection_options
2. pushdown

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd8614c9-679c-a0d9-719e-9cb63e5d81bb
* Version Independent ID: 3193d7a4-387b-b9bb-60b1-f5c066fd1358
* Content: [sys.ext

[2020-02-19 01:21] #4155 closed

[2020-02-19 01:35] MikeRayMSFT commented on #4049
We did a bit of re-organizing and this link is no longer necessary.

Removing the redundant link.

Thanks @BrentOzar

[2020-02-19 01:39] #4135 closed

[2020-02-19 01:39] #4049 closed

[2020-02-19 03:20] MikeRayMSFT commented on #4087
@bdcoder2 thanks for the submission.

We've reviewed the article and are updating it to clarify what the different steps do. We are not explicitly describing how to use T-SQL XPs to change the authentication mode beyond what it currently describes. The manual steps described manually modify the registry. This task is very high-risk and not advised.

If you would like to submit a feature request to

[2020-02-19 03:20] #4087 closed

[2020-02-19 03:36] MikeRayMSFT commented on #3960
@tejasaks and @VanMSFT would you please look at this?

[2020-02-19 03:37] #3938 closed

[2020-02-19 04:34] MikeRayMSFT commented on #3861
@brettshearer,

Thank you for the submission. At this time we are not documenting the currently undocumented trace flags.

[2020-02-19 04:34] #3861 closed

[2020-02-19 05:03] WilliamAntonRohm commented on #4157
@theGerk -- Benji, thank you for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2020-02-19 05:08] WilliamAntonRohm commented on #4160
@marasinghe82 -- Jinesh, thank you for your feedback.  To make sure we have all the information needed to process your issue, please provide more context around your general task.  Meanwhile, you may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

Duplicate of closed issu

[2020-02-19 05:08] WilliamAntonRohm commented on #4158
See duplicate #4160.

[2020-02-19 05:08] #4158 closed

[2020-02-19 05:09] WilliamAntonRohm commented on #4159
See duplicate #4160.

[2020-02-19 05:09] #4159 closed

[2020-02-19 05:11] pmasl commented on #3861
@brettshearer to give you some additional context, while the product behavior is documented, implementation details are not. Trace flags are documented on a need to know basis, either as bug fix enablers, or as non standard perf/scale enablers that we recommend customers to use in specific scenarios (and retire once said behavior is made default into the product). Many trace flags you mention and

[2020-02-19 05:18] #4078 closed

[2020-02-19 05:38] ahmedifhaam opened #4171 "KeyProtection wont be enabled"
Following the same procedures mentioned here keyprotection was not enabled until i setup encryption and signing certificates on the HGS server. Following this article i was able to start the hgs server perfectly https://argonsys.com/microsoft-cloud/library/step-by-step-configuring-the-host-guardian-service-in-windows-server-2016/

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-02-19 05:40] ahmedifhaam opened #4172 "Ambiguous Step"
Point number 4 on step 2 is ambiguous since for the first time users. All the other points explicitly mention which server to execute what except this point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f498ebf8-8cda-7e68-c70c-9ecd0e7bd7df
* Version Independent ID: b710fea4-0d4e-5fdd-03e8-ce2679fa18c2
* Content: [Tut

[2020-02-19 07:12] SQLBigEyesDad opened #4173 "USE HINT('DISALLOW_BATCH_MODE')"
It's supported from SQL Server 2019 not SQL Server 2017

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33da0c41-feb0-82a9-0ce9-9e2dbe58a1c4
* Version Independent ID: 4a97457a-c149-3c41-b78a-5b4e3869f078
* Content: [Query Hints (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/queries/hints-transac

[2020-02-19 08:42] mansakerlund opened #4174 "Clarification"
Suggest that the "Only one BDC per domain is allowed at this time" text is changed "Only one BDC per domain (Active Directory) is allowed at this time"  or similar to clarify the meaning of the word domain as we have had several discussion within the organisation where this wording have been misinterpreted and misunderstood.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-02-19 11:06] drk-mtr opened #4176 "Help"
There is no "Object Explorer". There is a "SQL Server Object Explorer" under the view menu. Is that what you mean? Because when I go there the folders are "SQL Server" and (for example) "Projects - ConsoleApp1". There is no "Database Diagrams" folder or "New Database Diagram" link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-02-19 11:32] bitcloud opened #4177 "update bundeled runtime in linux package"
Could you please update the bundeled runtime version in the sqlpackage linux zip file? It currently uses a outdated libssl version e.g. only found in debian oldoldstable anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf3df6af-9ac8-bc57-93dc-29ff713c1d3b
* Version Independent ID: 7624e2cc-7aa9-40dd-4015-3371ea2

[2020-02-19 14:01] piotrek-k opened #4178 "Adding volume breaks SQL Server container on linux"
Referring to "Persisting your data" section: Is anyone encountering such problem? I'm trying to run sqlserver container on Linux machine. Using volume to persist database contents outside of container results with some strange errors.

Here is docker-compose output of sqlserver container called `db`:
[code]

Here is my docker-compose:
[code]

Database works fine if I comment out 2 last lines (remo

[2020-02-19 17:36] WilliamAntonRohm commented on #4163
@DaveBoltman -- thank you for your feedback.

@VanMSFT -- please look into this issue #4163.

[2020-02-19 17:40] WilliamAntonRohm commented on #4165
@dineshaj10 -- thank you for your feedback and correction.

@Potapy4 -- thank you for creating that PR.

@VanMSFT -- please review the above-mentioned PR 4175.

[2020-02-19 17:44] WilliamAntonRohm commented on #4166
@Thraka -- Andy, thank you for your feedback and for creating both issues.  Please file a bug for this at [SQL Server Feedback](https://aka.ms/sqlfeedback).

[2020-02-19 17:44] #4166 closed

[2020-02-19 17:45] WilliamAntonRohm commented on #4170
@sidesw1pe -- thank you for your feedback.

@stevestein -- please look into this issue #4170.

[2020-02-19 18:11] andgarz opened #4180 "Missing information SSIS Master / SSIS Worker"
There is not reference in documentation about SSIS Master / SSIS Worker services. Also there are no reference about privileges required for this services concerning certificate access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b3831a3-6c86-243c-4b07-8960e4d06d7b
* Version Independent ID: dfd7599d-88eb-99f2-c227-0

[2020-02-19 18:19] andgarz opened #4181 "Bug when synchronizing a SSAS Database"
In SSMS 18.4 there is an error when synchronizing SSAS Databases:

![image](https://user-images.githubusercontent.com/61247035/74862345-fb158200-5319-11ea-97e4-13f92c82a492.png)

When I click previously in attach button and after I try again Sync Databases, the wizard works fine.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-19 19:12] WilliamAntonRohm commented on #4171
@ahmedifhaam -- Ahmed, thank you for your feedback and a solution.

@jaszymas -- please look into this issue #4171.

cc @MightyPen as a writer

[2020-02-19 19:14] WilliamAntonRohm commented on #4172
@ahmedifhaam -- Ahmed, thank you for your feedback.

@jaszymas -- please look into this issue #4172.

cc @MightyPen as a writer

[2020-02-19 19:15] WilliamAntonRohm commented on #4173
@SQLBigEyesDad -- Jungsun, thank you for your feedback.  I am looking into this document.

[2020-02-19 19:16] WilliamAntonRohm commented on #4174
@mansakerlund -- thank you for your feedback.  I am looking into this document.

[2020-02-19 19:18] WilliamAntonRohm commented on #4176
@drk-mtr -- thank you for your feedback and questions.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-02-19 19:20] pmasl commented on #4173
Hello,
This is likely a copy past issue. Will correct

[2020-02-19 19:22] drk-mtr commented on #4176
Glad I took the time to provide feedback ha.

[2020-02-19 19:38] WilliamAntonRohm commented on #4177
@bitcloud -- Jan, thank you for your feedback and a solution.

@pensivebrian -- please look into this issue #4177.

cc @MightyPen as a writer

[2020-02-19 19:39] WilliamAntonRohm commented on #4180
@andgarz -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue #4180.

[2020-02-19 19:41] WilliamAntonRohm commented on #4181
@andgarz -- thank you for uncovering this behavior.  Please file a bug at [SQL Server Feedback](https://aka.ms/sqlfeedback).

[2020-02-19 19:41] #4181 closed

[2020-02-19 19:41] harshbangad commented on #2896
Hi, I am getting the same error. I have SQL Server 2017 installed on the machine
"Error: The package management feature is not enabled for the current user or not supported on SQL Server version 14.0.3223.3"

[2020-02-19 19:43] pensivebrian commented on #4177
Thanks for reporting @bitcloud. We'll get the runtime updated in one of the next upcoming releases. Is the tool not working for you as is due to this issue?

[2020-02-19 21:33] #3936 closed

[2020-02-19 22:15] CHDAFNI-MSFT opened #4183 "SQL Agent Extension actually still in preview?"
This page still marks the agent as being in preview.... I don't believe that's the case anymore (but I can't quote an authoritative source)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbdd7165-e41d-4643-67b8-04a1fa83a21d
* Version Independent ID: 82da58fe-125e-1870-1935-34f5a8b536f4
* Content: [SQL Server Agent exte

[2020-02-19 22:35] AJ37z opened #4184 "great"
amazing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2d04ee6-6c35-a50f-2b95-1ab707143fa6
* Version Independent ID: 5d4ae5ce-40e8-b180-6e49-685e2e1a8878
* Content: [sp_executesql (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-executesql-transact-sql?

[2020-02-19 22:38] MashaMSFT commented on #4114
Hi @shivtorov , thank you for your patience while I confirmed! Yes, it is possible to upgrade the edition from evaluation for a standalone instance that is installed to a Windows Failover Cluster and is used as a replica for an availability group. This instance is _not_ a failover cluster instance, and thus, this limitation does not apply.

I hope that helps and please let us know if there is anyt

[2020-02-19 22:43] shivtorov commented on #4114
Hi @MashaMSFT
Thank you for the confirmation. I did the upgrade a couple of days ago and it all went well.
It would be nice if you could update the article with the clarifications you provided here.

Thanks!
Misha from Generation-e Pty Ltd team

[2020-02-20 00:04] markingmyname commented on #4151
@aaronlabeau

Thank you for bringing this to our attention.

The article will be updated with the newer versions of the macOS by the end of the week.

Thank you.

[2020-02-20 00:05] markingmyname commented on #4151
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit Azure Data Studio repo(https://github.com/microsoft/azuredatastudio)

[2020-02-20 00:05] #4151 closed

[2020-02-20 00:28] dphansen commented on #2896
@harshbangad and @stefan-oppliger: `sqlmlutils` is not supported in SQL Server 2017. For how to install R packages, see [Install packages with R tools](https://docs.microsoft.com/en-us/sql/advanced-analytics/package-management/install-r-packages-standard-tools?view=sql-server-2017) and [Use T-SQL (CREATE EXTERNAL LIBRARY) to install R packages on SQL Server](https://docs.microsoft.com/en-us/sql/ad

[2020-02-20 01:27] #4121 closed

[2020-02-20 01:35] Thraka commented on #4166
@WilliamAntonRohm The user reporting the issue is @Zyean

[2020-02-20 01:36] MikeRayMSFT commented on #4180
@andgarz - thank you for the feeback. I'm reviewing with the engineering team.

[2020-02-20 02:17] markingmyname commented on #4075
@binki

Please excuse the delayed response.

Thank you for your feedback! We will investigate and get back to you with the relevant info.

However, please add your experience in [UserVoice](https://feedback.azure.com/forums/908035-sql-server) to find if you see more people experience the same situation.

[2020-02-20 02:29] MikeRayMSFT commented on #3868
I've verified that the correct way to prevent log backups is to set the value to one of the following:
 '0:00', '0:0', '00:0', '00:00'

When any of these zero values are passed, Managed Backup will not take log backups. If the database is in FULL or BULK_LOGGED recovery model the user will need to handle log backups themselves or they will eventually run into log full issues or out of disk space i

[2020-02-20 04:00] markingmyname commented on #4090
@cdawson1971

Thank you for your feedback! We will investigate and get back to you with the relevant info.

However, please add your experience in [UserVoice](https://feedback.azure.com/forums/908035-sql-server) to find if you see more people experience the same situation.

[2020-02-20 04:01] markingmyname commented on #4102
@HuubvdP

Thank you for your feedback! We will investigate and get back to you with the relevant info.

Thank you for adding your experience in [UserVoice](https://feedback.azure.com/forums/908035-sql-server) to find for others.

[2020-02-20 04:45] markingmyname commented on #4075
@binki

What version of SSMS are you using because it works in version 18.4 (newest)?

Please let me know if this works with that version for you.

[2020-02-20 05:03] markingmyname commented on #4075
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-02-20 05:03] #4075 closed

[2020-02-20 05:37] emadfalsafi1 commented on #4164
Hi Masha

Yes I did'nt know that I can do it.
I will be very Happy to try this.

Your Dokumentation is our very Important, we work based on Microsoft.

Thanks
Best regards
Emad

________________________________
From: Masha at MSFT <notifications@github.com>
Sent: Tuesday, February 18, 2020 10:56:42 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Emad Falsafi <falsafi@live.de>; Ment

[2020-02-20 05:46] binki commented on #4075
@markingmyname

18.4. I find it impossible to enter the 6-character literal `'NULL'` through the Results pane. I don’t see how it’s “working”.

@markingmyname Where is this behavior documented? Shouldn’t it be documented?

[2020-02-20 06:17] #3868 closed

[2020-02-20 06:30] MikeRayMSFT commented on #3786
@m60freeman -- Sorry about the delayed response. We've done a little internal testing.

Are all of the vCore databases still returning null?

[2020-02-20 07:53] MikeRayMSFT commented on #3825
Hi @richardck

I've gone through the steps to validate and they all work.

As @jayfiled mentioned, the steps will fail if a row with the same primary key is inserted.

We're considering adding a step at the end to reset everything if a reader needs to reset.
## Delete test database

If the steps before this section failed, you can drop the database, and then start over at [Create a database](#crea

[2020-02-20 12:31] bitcloud commented on #4177
I'm currently building a docker container for backup tasks. The issue is, that I need to downgrade openssl and ca-certificates to a version from 2014. But there is also the azure-cli part of the container which needs an update version of the ca-certificate because the current Root CA Microsoft is using (Baltimore Root CA) was not part of the 2014 bundle. So i needed to add that manually.

Long sto

[2020-02-20 13:47] m60freeman commented on #3786
@MikeRayMSFT Two issues: 1) Documentation; the page lists 7 values that can be returned. Presumably, those only apply for databases in the DTU model, and even for those, there are many more valid values depending on which Edition applies. For example, in Standard Edition, the values could be any of the following (in GB):

2
5
10
20
30
40
50
100
150
200
250
500

vCore databases are not restricted t

[2020-02-20 14:44] laurentiupetre1 opened #4187 "wrong repository for RedHat7"
Hi,
In step 1 the repository is for RedHat 8 even if in the begining of the article is specified that the article aims version 7 also.
Using this will generate the following error during setup, after entering the password:

/opt/mssql/bin/sqlservr: /lib64/libc.so.6: version `GLIBC_2.18' not found (required by /opt/mssql/bin/../lib/libc++abi.so.1)

Just like in this article:
https://docs.microsoft.

[2020-02-20 14:51] VanMSFT commented on #4187
Hi @laurentiupetre1! Thanks for the suggestion. I added the note to the doc. It will go live later today. Thanks for your feedback.

[2020-02-20 14:58] #4187 closed

[2020-02-20 15:03] VanMSFT commented on #4163
Hi @DaveBoltman! Thank you so much for the feedback. I have changed the heading in the doc, and it should go live later today. We very much appreciate your suggestion.

[2020-02-20 15:16] #4163 closed

[2020-02-20 15:25] VanMSFT commented on #4165
Thanks @dineshaj10 and @Potapy4! I've approved the changes.

[2020-02-20 16:04] LarnuUK opened #4188 "Is the "Do not use INFORMATION_SCHEMA views to determine the schema of an object." warning still true?"
In the `INFORMATION_SCHEMA` documentation (such as this one), they all have a warning:

Note that they specifically state that you should use the `sys.objects` view.

If you consult `sys.sp_helptext` however, you'll note that it is does indeed use `sys.objects`.

[code]
And the relevant snippets from the output :
[code]
This output (or at least the relevant parts) are the same on SQL Server 2012-2

[2020-02-20 16:08] VanMSFT commented on #3960
Hi @av1nash! Have you tried to enable SQL Agent through command?

https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-sql-agent?view=sql-server-ver15#EnableAgentAfterCU4

[code]

[2020-02-20 16:17] CarlRabeler commented on #4188
@LarnuUK  there are some cases where the information schema views are incomplete and that can lead to semantically broken applications if you are unaware

[2020-02-20 16:21] LarnuUK commented on #4188
@CarlRabeler I'm aware that there is a "known" problem, but the there's no information on the "why". The warning says *"to query the sys.objects catalog view", however, `INFORMATION_SCHEMA.COLUMNS` *uses* `sys.objects` according to `sp_helptext`. If `sys.objects` is correct, and the value of `SCHEMA_NAME` is wrong in `INFORMATION_SCHEMA.COLUMNS`, which is derived from `SCHEMA_NAME(o.schema_id)	` t

[2020-02-20 16:22] #4165 closed

[2020-02-20 16:34] markingmyname commented on #4102
I reworked the "Remarks" section a bit.

I made it more of a bulleted section, and I added an extra note of using special characters from the article you mentioned in this Issue.

I also added how to determine where to see where the bcp utility is installed.

By the end of the week, the article will show the changes.

[2020-02-20 16:34] markingmyname commented on #4102
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-02-20 16:36] markingmyname commented on #4090
I reworked the "Remarks" section a bit.

I made it more of a bulleted section, and I added an extra note of using special characters from the article you mentioned in this Issue.

I also added how to determine where to see where the bcp utility is installed.

By the end of the week, the article will show the changes.

[2020-02-20 16:36] markingmyname commented on #4090
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the UserVoice site.

[2020-02-20 16:36] #4090 closed

[2020-02-20 16:44] markingmyname commented on #3328
We are working on contacting the parties involved who manage that site.  To be clear, that site should have 18.4 listed there.

Since this particular question is related to another article, we will move forward to closing this issue.

Thank you.

[2020-02-20 16:44] markingmyname commented on #3328
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-02-20 16:44] #3328 closed

[2020-02-20 16:56] #3853 closed

[2020-02-20 17:08] WilliamAntonRohm commented on #4162
@martinsmith123456 -- thank you for your feedback.

@markingmyname -- please look into this issue #4162.

fyi @yualan

[2020-02-20 17:10] WilliamAntonRohm commented on #4184
@AJ37z -- thank you for your positive feedback!  I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2020-02-20 17:10] #4184 closed

[2020-02-20 17:27] #4050 closed

[2020-02-20 18:11] CarlRabeler commented on #4188
INFORMATION_SCHEMA  does not represent every possible state of the objects in SQL.  For example, filtered indexes.  The information_schema are incomplete.

[2020-02-20 18:13] LarnuUK commented on #4188
This isn't about the incompleteness of the objects, it's specifically about the warning about `TABLE_SCHEMA` having the possibility of being wrong, @CarlRabeler . As I've outlined.

[2020-02-20 21:31] dnethi commented on #2930
Not sure how it works from SCCM, but as long as you can run the script with elevated permissions it should succeed. I was able to run "SSMS-Setup-ENU.exe /install /quiet /norestart" via elevated command prompt and successfully installed SSMS 18.4.
you can also run SSMS-Setup-ENU.exe /help to see available options.

[2020-02-20 21:46] stephenc01 opened #4189 "ARM CPU or 32bit Version"
There is no compatible version for the Surface X. I would prefer Arm64 but settle for 32bit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811ed1f4-1c78-aa1b-e752-307250ca8eb7
* Version Independent ID: f36629bf-b2e6-4993-7c77-32fa311ea942
* Content: [Download and install - Azure Data Studio](https://docs.microsoft.com

[2020-02-20 22:28] pensivebrian commented on #4177
Thanks for the explanation. sqlpackage was built with a fairly recent (within 6 months) version of the dotnet 2.2 sdk. The dotnet sdk is the one doing the hard work of packaging all dependencies. I plan on upgrading to the dotnet 3.1 sdk soon for future sqlpackage releases, so hopefully that will resolve this issue. I'll make sure note this update in the release notes.

[2020-02-21 00:34] WilliamAntonRohm commented on #4183
@CHDAFNI-MSFT -- Chase, thank you for your feedback.

@yualan -- Alan, please look into this issue #4183.

cc @MightyPen as a writer

[2020-02-21 00:36] WilliamAntonRohm commented on #4189
@stephenc01 -- thank you for your feedback.  Please file an issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-02-21 00:36] #4189 closed

[2020-02-21 01:02] WilliamAntonRohm commented on #4089
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-02-21 01:02] #4089 closed

[2020-02-21 01:03] WilliamAntonRohm commented on #4098
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-02-21 01:03] #4098 closed

[2020-02-21 01:03] MightyPen commented on #4183
@CHDAFNI-MSFT Hello, this feature _**is**_ still in preview.    Don't feel bad, I would have guess it was no longer in preview too!

Closing this Issue #4183 now.

cc: @yualan @WilliamAntonRohm

[2020-02-21 01:03] #4183 closed

[2020-02-21 01:47] Matteo-T commented on #2930
@keanankruse: error 1603, unfortunately, is a super generic one. You would have to look ath the setup logs (%TEMP%\SSMSSetup) and see what went wrong. If you can't make sense of what you see, can  you share the content of that folder with us (OneDrive, etc...)?

[2020-02-21 06:58] DaveBoltman opened #4192 "No INLINE scalar UDFs for SQL 2016"
This page (https://docs.microsoft.com/en-us/sql/t-sql/statements/create-function-transact-sql?view=sql-server-2016) speaks about inline scalar UDFs which are actually only available from SQL 2019. Possibly the page was just copied and pasted from the 2019 version, but is not correct for SQL 2016:

![image](https://user-images.githubusercontent.com/8627894/75011387-2fa74c00-5488-11ea-98d9-5fb785a86

[2020-02-21 10:10] rysalah opened #4194 "Incorrect statement about database snapshot"
https://docs.microsoft.com/en-us/sql/relational-databases/in-memory-oltp/unsupported-sql-server-features-for-in-memory-oltp?view=sql-server-ver15#scenarios-not-supported

Since SQL Server 2019, database snapshots are supported for databases that have a MEMORY_OPTIMIZED_DATA filegroup.

[2020-02-21 11:04] mstavrev opened #4195 "Deployment's yaml contains wrong environment variable name for the SA's password"
The deployment has wrong name for the SA's password environment variable.
It is using:
 - name: MSSQL_SA_PASSWORD

however, the 2017 image expects the variable to be named SA_PASSWORD. Without this change the server terminates with the error:

ERROR: Unable to set system administrator password: Password validation failed. The password does not meet SQL Server password policy requirements because i

[2020-02-21 12:20] kamilk opened #4196 "XACT_ABORT does not always roll back the transaction on error. The page does not explain why"
I believe the documentation is missing some detail on what conditions need to be met for the transaction to be rolled back when a runtime error is raised and this option is ON. I have just posted this question on StackOverflow: https://stackoverflow.com/questions/60338489

Clarification of the documentation would be appreciated.
- Is this true the severity level must be 16 or greater? (Like sugges

[2020-02-21 13:04] bitcloud commented on #4177
Then I have to excuse myself. I just dug a little deeper into the code and found this:

https://github.com/dotnet/corefx/commit/901ff58aee521984e8791f9f7d51fabfd31f910e#diff-beb297cd7d8c3c9c24b7cb07ff5bd6f8

So the support for 1.1 was introduced in Sep 4, 2018.
The issue is that support for 1.0.* got removed in the current debian stable which was released July 6th, 2019.

https://packages.debian.o

[2020-02-21 15:48] ndiaz-addepar opened #4198 "bulkadmin permissions are not allowed on Linux"
This is a very undocumented issue.
It is impossible to run BULK INSERT from anything but the sysadmin (or sa) account.
running : " ALTER SERVER ROLE [bulkadmin] ADD MEMBER [regularlogin];"
results in:
"Msg 16202, Level 15, State 1, Line 1
Keyword or statement option 'bulkadmin' is not supported on the 'Linux' platform.
"
Alternatively running:
"GRANT ADMINISTER BULK OPERATIONS TO [regularlogin];"

[2020-02-21 16:09] drk-mtr commented on #4176
@WilliamAntonRohm If you're not interested in feedback, why not remove the feedback link from that page and replace it with a statement that says "If you need further assistance or find incorrect information on this page, please refer to DBA Stack Exchange or Stack Overflow"?

[2020-02-21 16:36] CarlRabeler commented on #4196
Please review this post: https://dba.stackexchange.com/questions/233079/best-practices-for-committing-a-transaction-in-sql-server-where-try-catch-is-use/233129#233129

From: Kamil Kaczmarczyk <notifications@github.com>
Sent: Friday, February 21, 2020 7:21 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>

[2020-02-21 17:09] jxfreeman opened #4199 "NULL! NULL! NULL!"
The article fails to address NULLs in columns for Unique constraints.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3709c36d-5f11-41b8-0926-e4549bd2b78e
* Version Independent ID: cff4179f-03c9-bba8-b87b-a4e13fb3e919
* Content: [Unique Constraints and Check Constraints - SQL Server](https://docs.microsoft.com/en-us/sql

[2020-02-21 19:30] WilliamAntonRohm commented on #4192
@DaveBoltman -- thank you for your feedback.

@CarlRabeler -- please look into this issue #4192.

[2020-02-21 19:32] WilliamAntonRohm commented on #4194
@rysalah -- thank you for your feedback.

@MightyPen -- please look into this issue #4194.

[2020-02-21 19:33] WilliamAntonRohm commented on #4195
@mstavrev -- thank you for your feedback.  I am looking into this document.

[2020-02-21 19:34] WilliamAntonRohm commented on #4198
@ndiaz-addepar -- Noel, thank you for your feedback.

@CarlRabeler -- Carl, please look into this issue #4198.

[2020-02-21 19:36] WilliamAntonRohm commented on #4199
@jxfreeman -- Jason, thank you for your feedback.

@stevestein -- Steve, please look into this issue #4199.

[2020-02-21 20:03] CarlRabeler commented on #4198
@ndiaz-addepar - Please assign to @VanMSFT

[2020-02-21 20:06] ndiaz-addepar commented on #4198
@CarlRabeler I don't think I have permissions to assign PRs in a MS repo :)

[2020-02-21 20:09] VanMSFT commented on #4198
@tejasaks - Hey Tejas, do you mind confirming if altering bulkadmin is unsupported on Linux?

[2020-02-21 20:33] tejasaks commented on #4198
Bulkadmin role is unsupported on Linux for the moment. Users require sysadmin privileges to perform bulk insert. If it is not documented today, we should document it.

@Mike<mailto:mikehab@microsoft.com>,
Additional proof for the bulk insert impersonation improvement.

~Tejas Shah | Principal Program Manager | Data Platform – SQL Server

From: Van To <notifications@github.com>
Sent: Saturday, Febr

[2020-02-21 21:00] VanMSFT commented on #4198
Thanks, @tejasaks! I'm adding this information under the Permissions section. Should go live later today.

Thanks @ndiaz-addepar for bringing this up! We appreciate your help on our documentation!

[2020-02-21 21:25] #4198 closed

[2020-02-21 21:44] MightyPen commented on #4194
Today, I fixed this Issue #4194, with internal repo PR #13886.
- `https://github.com/MicrosoftDocs/sql-docs-pr/pull/13886`
  - https://github.com/MicrosoftDocs/sql-docs-pr/pull/13886

@rysalah Thank you for submitting this Issue. We hope to hear from you again.

I am now Closing this Issue #4194, as fixed and completed.  The fix should be visible / live on Docs before Tuesday 2020/Feb/25.

(GeneMi

[2020-02-21 21:44] #4194 closed

[2020-02-21 21:51] kfarlee commented on #3327
I will be updating the docs later today.  I think that the update could be clearer on what the issue is, and how it should be handled.
The issue is that there is a small window when Global primary and secondaries could get out of sync in the simpler failover sequence.  Specifically, between the time that you observe that everything is in the SYNCHRONIZED state, and the time that the Global Primary

[2020-02-21 22:05] WilliamAntonRohm commented on #4174
@NelGson -- please review the above-mentioned PR 13890.

cc @MightyPen as a writer

[2020-02-21 22:50] pensivebrian commented on #4177
No worries. Glad to hear you got to the bottom of this. And thanks for using sqlpackage!

[2020-02-21 22:52] WilliamAntonRohm commented on #4154
@ticianaciminari -- Ticiana, after further research, I'm unsure of the issue here.  There is no "SQL Server Express download link" on that page (English version is https://docs.microsoft.com/en-us/sql/sql-server/editions-and-components-of-sql-server-version-15?view=sql-server-ver15), only "Download SQL Server 2019 (15.x) from the Evaluation Center".  Is the originator referring to a different sour

[2020-02-21 22:58] WilliamAntonRohm commented on #4195
@MikeRayMSFT -- Mike, please review the above-mentioned PR 13894.

[2020-02-22 03:26] kenakamu commented on #3812
I have changed my password and recreated the environment. It still had issue for the first time but when I re-run the notebook by opening new one again, it did goes through.

[2020-02-23 12:15] Peled-Zohar opened #4202 "Is this a mistake in documentation?"
In this part:
[code]
I think the order is reversed and should be

      INDEX index_name [ UNIQUE ] [ CLUSTERED | NONCLUSTERED ]

At least on my SSMS version 14.0.17230.0 the way it's currently documented was marked as wrong (with the red squiggly line)
and my server (2016 (SP1-CU15-GDR) (KB4505221) - 13.0.4604.0 (X64)) accepted the second version (with `unique` before `clustered`)

---
#### Docum

[2020-02-23 18:15] tussosedan commented on #3327
@kfarlee thanks for the clarification! It's still shocking to me that such an important part was left out of the original documentation. Honestly, it reinforces the feeling that this feature is "half-baked". Will MS be investing in improving it -- for example [like this](https://feedback.azure.com/forums/908035-sql-server/suggestions/38875411-allow-failover-for-distributed-availability-groups) --

[2020-02-23 22:17] kfarlee commented on #3327
Yes, last_hardened_lsn is the proper column.
The timing window is small enough that it seemed unlikely that anyone would hit it, however for completeness, and to be abundantly cautious, we have included it.
There is a fundamental difference between the Availability Groups you're used to and Distributed Availability Groups, and that is that there is no common clustering infrastructure to coordinate

[2020-02-24 04:59] marasinghe82 commented on #4160
Dear Wiliam,

I have setup 3 node cluster using following guideline and it's working   as required
https://docs.microsoft.com/en-us/sql/big-data-cluster/deploy-with-kubeadm?view=sql-server-ver15

After have created custom config using following script
azdata bdc config init --source aks-dev-test --target custom

default Storage clasee
cat > storage-class.yml <<EOF
kind: StorageClass
apiVersion: st

[2020-02-24 06:26] dhanajipatil opened #4203 "Figure doesn't display all objects"
Figure doesn't show all the objects, e.g. CircularString, CompoundCurve etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2797e2b3-62ca-d4f9-c36f-31d77358deda
* Version Independent ID: 0e1e4a3a-2bcb-97e1-94ac-98be1bfbda97
* Content: [Spatial Data Types Overview - SQL Server](https://docs.microsoft.com/en-us/sql/relat

[2020-02-24 06:36] Peled-Zohar opened #4204 "Possible mistake in this page:"
The sentence "Note that this example does not allow for multirow data modifications." is referring to the first code example on this page (it's the one-before-last sentence of the last paragraph before the code example). However, the code example itself seems to have no problem with multirow inserts - in fact, it should perform the same with one or many inserted rows.

---
#### Document Details

⚠

[2020-02-24 07:17] HenrikStaunPoulsen commented on #3712
well, this is still not fixed properly.
If I run this procedure:

[code]
Then I get the error:
Msg 40529, Level 16, State 1, Procedure dbo.testhsp, Line 4 [Batch Start Line 14]
Built-in function 'SUSER_SNAME' in impersonation context is not supported in this version of SQL Server.
I have also tested this on Microsoft SQL Server 2019 (RTM-CU1), where it works fine.

I think you need to update the d

[2020-02-24 07:45] HenrikStaunPoulsen commented on #3712
also, please see https://docs.microsoft.com/en-us/sql/t-sql/functions/original-login-transact-sql?view=sql-server-ver15 for the correct explanation.

[2020-02-24 08:09] SQLDTAIT opened #4205 "SQL Server"
Hi - the functionality is available in SQL Server now with the 2019 release, page says just Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7199df2d-4950-2533-791c-4fc134ce8eed
* Version Independent ID: 0b52e407-d9be-0ebd-2414-6a2478d999c3
* Content: [sys.sensitivity_classifications (Transact-SQL) - SQL Server](h

[2020-02-24 08:46] BrilliantTechie opened #4206 "Possible Trigger improvement"
I wonder why the example inner joined the inserted table with Purchasing.PurchaseOrderHeader table and then join the vendor table.

I believe we can get the same result using only the inserted table inner joining the vendor table directly without joining with Purchasing.PurchaseOrderHeader table?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-02-24 11:03] CarlRabeler commented on #4202
Yes – it is wrong here. Fixing now. I is correct in the CREATE INDEX article.
Thanks for pointing this out.
Carl

From: Zohar Peled <notifications@github.com>
Sent: Sunday, February 23, 2020 7:16 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/sql-docs] Is this a mistake in docum

[2020-02-24 12:02] dinesh1440 opened #4207 "MAXDOP is set per Processor not Task"
Hi,
Through my experience I have seen MAXDOP is set per processor.  A SQL Server with 8 Schedulers can have 32 child tasks and one parent tasks, which will mean 33 tasks across 8 schedulers With Maxdop set to 8.
So I feel that the statement, MAXDop is set per task is incorrect. Please let me know if the understanding is correct

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-02-24 12:13] ChloeWilliams1112 opened #4208 "Using imported modules in SQL Server Agent causing issues"
I have executed powershell within SQL Server Agent for many years using the methods you describe above. However, when I try to use an imported module (ImportExcel.psm1) and use the cmdlet Send-SQLDataToExcel, the cmdlet takes a -Path parameter and passes it to a function Export_Excel. The script that works when run in the powershell ISE fails when run in the SQL Server Agent because it does not re

[2020-02-24 12:54] hugobarona commented on #2921
Hi there. I noticed exactly the same as @EikisteinS, and i would say it is the user database and not the master database, since this key is stored in the database user, since it is the only database with access to the external EKM/HSM module, as stated here - https://docs.microsoft.com/en-us/sql/relational-databases/security/encryption/extensible-key-management-ekm?view=sql-server-ver15.

"SQL Ser

[2020-02-24 14:45] fatherjack opened #4209 "Viewing sqlaudit files"
The suggestion that Log Viewer from SSMS can be used to read .sqlaudit files it incorrect, it doesnt do a very good job at all.
1 - you have to locate the log file / browse to it rather than have an option to open it from the audits that are on the active instance in SSMS
2 - once opened the content is broken and includes file read errors and ascii characters.

I'd suggest removing this suggestion

[2020-02-24 15:03] StingyJack opened #4210 "This page lists ALTER ANY EVENT SESSION but the docs page for that says it doesnt support Azure SQL"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e18242cc-01df-27ba-a2cc-0f73e20c27d0
* Version Independent ID: af3f329d-8374-9093-ac64-75ad95aa2b57
* Content: [Quickstart: Extended events in SQL Server - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/extended-events/quick-start-extended-events-i

[2020-02-24 16:02] tussosedan commented on #3327
@kfarlee hmm then what about how it's done for [clusterless read-scale Availability Groups](https://docs.microsoft.com/en-us/sql/database-engine/availability-groups/windows/perform-a-planned-manual-failover-of-an-availability-group-sql-server?view=sql-server-2017#manual-failover-without-data-loss)?

[2020-02-24 16:36] Peled-Zohar commented on #4202
Glad I could help :-)

[2020-02-24 18:17] robertgale opened #4211 "SQL Azure DB and XE Profiler"
The "Azure SQL Database" is ticked at the top of this page, but XE Profiler is not present when attached to a SQL Azure DB. I can see it there for on-premise servers, but not for any SQL Azure DB servers. Is this a mistake or is there some other configuration required for SSMS (18.0+) to see XE Profiler against a Azure DB server.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-02-24 22:05] WilliamAntonRohm commented on #4208
@ChloeWilliams1112 -- thank you for your feedback.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@markingmyname -- please look into this issue #4208.

[2020-02-24 22:09] WilliamAntonRohm commented on #4203
@dhanajipatil -- thank you for your feedback.

@MladjoA -- please look into this issue #4203.

cc @MightyPen as a writer

[2020-02-24 22:10] WilliamAntonRohm commented on #4204
@Peled-Zohar -- Zohar, thank you for your feedback.  I am looking into this document.

[2020-02-24 22:27] WilliamAntonRohm commented on #4205
@SQLDTAIT -- David, thank you for your feedback.  I am looking into this document.

[2020-02-24 22:30] WilliamAntonRohm commented on #4207
@dinesh1440 -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue #4207.

[2020-02-24 22:34] WilliamAntonRohm commented on #4209
@fatherjack -- thank you for your documentation feedback.  For Log Viewer changes, you are welcome to add a suggestion here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

@VanMSFT -- please look into this issue #4209.

[2020-02-24 22:36] WilliamAntonRohm commented on #4210
@StingyJack -- thank you for your feedback.

@MightyPen -- please look into this issue #4210.

[2020-02-24 22:38] WilliamAntonRohm commented on #4211
@robertgale -- thank you for your feedback.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@yualan -- please look into this potential documentation issue #4211.

cc @MightyPen as a writer

[2020-02-25 04:26] #4202 closed

[2020-02-25 07:56] devudu opened #4212 "ROUND(123.456,0) resulting incorrect results"
If we round off 123.456 to the whole number by applying math rules, the result should be 124. However, ROUND(123.456,0) is resulting in 123. Isn't this buggy?

[2020-02-25 17:21] pmasl commented on #4173
@WilliamAntonRohm please close this

[2020-02-25 17:33] WilliamAntonRohm commented on #4212
@devudu -- thank you for your feedback.  To make sure we have all the information needed to triage your issue, please let us know which docs.microsoft.com article you’re referencing.

It looks like 123.456 is less than 123.5, and so the rounding is correct.

[2020-02-25 18:05] dnethi commented on #2930
We have updated the SSMS download page to include the command line install instructions.

[2020-02-25 18:32] markingmyname commented on #4102
@HuubvdP

I was able to test this issue.

When testing on my machine, it did not work.  I got the error stated in this issue.  However, when I built a new clean VM, it did work.  Please make sure you are using the latest version of the BCP utility tool.

The bottom line of my finding is that this issue is generally due to an environmental issue.

Here are the steps and tools I used to make it work

[2020-02-25 18:32] markingmyname commented on #4102
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-02-25 18:34] markingmyname commented on #2930
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-02-25 18:34] #2930 closed

[2020-02-25 19:19] mverbaas opened #4213 "Double entry in SQL Agent file permissions"
There seems to be a duplicate entry in the SQL Agent file system permissions. The first and SQL line are equal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b3831a3-6c86-243c-4b07-8960e4d06d7b
* Version Independent ID: dfd7599d-88eb-99f2-c227-0c9dc82bfd87
* Content: [Configure Windows Service Accounts and Permission

[2020-02-25 19:22] mverbaas commented on #4213
Line 321 and 322 for extra clearity.

[2020-02-25 19:27] VanMSFT commented on #4209
Hi @fatherjack! Thanks for the suggestion. It sounds to me like you are experiencing a product issue, and not a documentation issue. Log Viewer is appropriate to view SQL Server audits, and if you are experiencing an issue with the product, please feel free to submit a Product Feedback. Thanks for your time and input on our docs!

[2020-02-25 19:27] #4209 closed

[2020-02-25 19:43] github859 opened #4214 "How Can I Create a Custom Information Protection Policy"
In SQL Server Management Studio (SSMS) I can select the option to Export Information Protection Policy.  This downloads a default Information Protection Policy in JSON format.

Another SSMS option is Set Information Protection Policy, which permits me to upload a JSON file that defines an information protection policy.

It seems that I should be able to use the "Export" command to download the def

[2020-02-25 20:55] WilliamAntonRohm commented on #4214
@github859 -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which docs.microsoft.com topic you’re referencing.

Meanwhile, you may find answers to your questions here:

- [Azure DevOps Support Bot](https://azuredevopsvirtualagent.azurewebsites.net/)
- [Azure DevOps on Stack Overflow](https://stackoverflow.com/qu

[2020-02-25 20:57] #4173 closed

[2020-02-25 21:06] WilliamAntonRohm commented on #4213
@mverbaas -- Mark, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue #4213.

[2020-02-25 21:57] bkwdesign commented on #3933
datetimeoffset definitely works better for greenfield projects, especially if you're creating new OData style Web API's and exposing those via OpenAPI (aka swagger) - much of which can be scaffolded into existence from an Entity Framework-based data-access-layer

[2020-02-25 23:32] srutzky opened #4215 "Missing datatypes from 'BaseType', 'Precision', and 'Scale' options of SQL_VARIANT_PROPERTY"
Under **BaseType**

1. `BIT`

Under **Precision**

1. `DATE`
2. `DATETIME2(s)`
3. `DATETIMEOFFSET`
4. `DATETIMEOFFSET(s)`
5. `DECIMAL / NUMERIC`
6. `TIME`
7. `TIME(s)`

Under **Scale**

1. `DATETIME2(s)`
2. `DATETIMEOFFSET`
3. `DATETIMEOFFSET(s)`
4. `DECIMAL / NUMERIC`
5. `TIME`
6. `TIME(s)`

&nbsp;
_Please note:_ all of the datatypes noted above that do not have an `(s)` at the end are ones that

[2020-02-25 23:37] github859 commented on #4214
https://docs.microsoft.com/en-us/sql/relational-databases/security/sql-data-discovery-and-classification?view=sql-server-ver15&tabs=t-sql

Docs / SQL / Security / How-to / Secure SQL Server / Data discovery & Classification

[2020-02-26 00:39] WilliamAntonRohm commented on #4214
@github859 -- thank you for clarifying.

@barmichal -- please look into this issue #4214.

cc @MightyPen as a writer

[2020-02-26 00:43] WilliamAntonRohm commented on #4160
@marasinghe82 -- Jinesh, thank you for clarifying.  This repo is for documentation issues, with limited technical support.  Please try the following:
- [All the ways to get help](https://docs.microsoft.com/sql/sql-server/sql-server-get-help)

I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2020-02-26 00:43] #4160 closed

[2020-02-26 01:10] WilliamAntonRohm commented on #4215
@srutzky -- Solomon, thank you for your detailed feedback.

@MikeRayMSFT -- Mike, please look into this issue #4215.

[2020-02-26 05:04] melknothink opened #4216 "Example E Typo"
TYPE = HADOOP, should be TYPE = BLOB_STORAGE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e450abc6-2dbd-8f6c-423c-52aca37a2b06
* Version Independent ID: 4aff678a-6db1-a438-9aca-bb4b4d49bc27
* Content: [CREATE EXTERNAL DATA SOURCE (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/statements/creat

[2020-02-26 06:14] MightyPen commented on #4214
Switching assigned writer, who can assist the primary assignee BarMichal, from MightyPen to @VanMSFT , because Van works a lot in areas related to Security.

I feel this Issue #4214 is saying that the Data & Classification Task user interface (UI) is not sufficiently self-explanatory or self-documenting.  Typically we do not write documentation articles for UI's, because typically the UI's are sel

[2020-02-26 08:05] stevef51 opened #4217 "sqlpackage RegisterDataTierApplication errors with Azure SQL Database"
I am trying to run sqlpackage from an locally hosted Azure Function inside a Docker container (so Linux), I have downloaded the latest 18.4.1 sqlpackage and running the following :-

`
sqlpackage /a:publish /sf:./mydb.dacpac /tcs:<my azure connection string> /p:RegisterDataTierApplication=true
`
which proceeds to connect and upgrade the db (in this case the db is already upgraded) but when it goes

[2020-02-26 08:35] srutzky commented on #4215
@MikeRayMSFT Please see PR #4218 .

Full test script can be found on PasteBin (relevant queries copied to the PR):
https://pastebin.com/3RAFxLbH

[2020-02-26 08:57] CarlRabeler commented on #4216
@melknothink Thank you for pointing out this error - fixing now.
Carl

[2020-02-26 12:44] Bartolomeus-649 opened #4219 "READONLY: Definition and explanation is misslading"
READONLY  for a parameter in the function prototype can only be used for table value parameters.

The documentation as it is now, both in the syntax of how to define the prototype of the function and in the explanation of READONLY, gives no info that READONLY can only be used with table value parameters. On the contrary, the text in the explanation of READONLY  indicate that it can be used for oth

[2020-02-26 13:08] Bartolomeus-649 opened #4220 "Scope?"
What is the scope of this? Server? Database? User? Connection? Batch? Transaction? or what?

It say: "Causes SQL Server to stop processing the query after the specified number of rows are returned.", which kind of indicate this is a server wide setting....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f02b86d1-c201-42

[2020-02-26 13:44] Peled-Zohar commented on #3933
Oh I know it's not deprecated now, I was merely wondering if there are any plans to deprecate it in the near future. Thanks for responding!

[2020-02-26 14:28] Bartolomeus-649 opened #4221 "Remove confusing text about control flow after CATCH-statement"
In the fourth paragraph under the Remarks header, remove the last sentence since its content is confusing and it is better explained in the leading sentence of the following paragraph.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5733f776-615e-9e0e-7df2-8adacf4c3b09
* Version Independent ID: 2f6cc6e5-8479-87d1-de8d-9

[2020-02-26 14:36] Prof-hu opened #4222 "Please add information on what privileges are needed to query these tables."
Please add information on what privileges are needed to query these tables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311319ea-7b5d-3c12-aec2-72e400ae6d76
* Version Independent ID: 6a57fb1b-adcf-aa6f-b0bb-d42a71d96246
* Content: [System Tables (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relat

[2020-02-26 15:16] srutzky commented on #4219
Not only is that misleading and incorrect, but the current wording for `READONLY` also implies that it's optional for TVPs, and that's also provably false.

I'm submitting a PR for this.

[2020-02-26 15:29] LowerKees opened #4223 "Azure SQL Server compatible?"
When looking at the Azure SQL Server auditing settings, at least some of the audit action groups from the above article and the Azure SQL Server seem to overlap. The same goes for Azure SQL Database audit action groups. Still, this article indicates that it's only applicable to SQL Server. Is there a specific Azure SQL Server/SQL Database article that I'm missing?

---
#### Document Details

⚠ *Do

[2020-02-26 16:06] srutzky commented on #4219
@Bartolomeus-649 and @CarlRabeler Please see PR #4224

[2020-02-26 17:04] theblair opened #4225 "ERROR in bootstrap-sample-db.cmd"
Hi there is an error in the cmd file linked from the page https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/big-data-cluster/tutorial-load-sample-data.md

there is a line in the batch file which reads

if DEFINED AZDATA_PASSWORD set set KNOX_PASSWORD=%AZDATA_PASSWORD%

I'm pretty sure this should be:
if DEFINED AZDATA_PASSWORD set KNOX_PASSWORD=%AZDATA_PASSWORD%

[2020-02-26 17:14] theblair commented on #4225
I have raised this issue in microsoft/sql-server-samples

[2020-02-26 17:14] #4225 closed

[2020-02-26 17:46] MightyPen commented on #3933
@Peled-Zohar @bkwdesign
With each new release of SQL Server, Microsoft never creates any _Backward Incompatibility_ in SQL Server unless there is a strongly compelling reason.
When a B.I. seems truly necessary and unavoidable, even then we add an sp_configure setting that can refuse the changes that create the B.I.

Thanks.

[2020-02-26 18:52] Bartolomeus-649 opened #4227 "Complete re-write needed."
There are so many problems with this I can't list them all, but here are a few of them.
You really need to check with the developers to make sure you get this stuff correct.
* Is binary really supported, or is any binary data just converted to varchar/nvarchar?
* What about Unicode support with binary data?
* The initial description is very clear and good, don't make it more complicated in other p

[2020-02-26 21:06] WilliamAntonRohm commented on #4217
@stevef51 -- Steve, thank you for your feedback.  You may find assistance here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

Do you have a particular docs.microsoft.com article in mind?

[2020-02-26 21:11] WilliamAntonRohm commented on #4220
@Bartolomeus-649 -- thank you for your question.  You may find an answer here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@CarlRabeler -- please look into this issue #4220.

[2020-02-26 21:12] WilliamAntonRohm commented on #4221
@Bartolomeus-649 -- thank you for your feedback.  I am looking into this document.

[2020-02-26 21:14] WilliamAntonRohm commented on #4222
@Prof-hu -- thank you for your feedback.

@stevestein -- please look into this issue #4222.

[2020-02-26 21:16] WilliamAntonRohm commented on #4227
@Bartolomeus-649 -- thank you for your detailed feedback.

@MikeRayMSFT -- please look into this issue #4227.

[2020-02-26 21:40] narayan4all opened #4229 "SQLPackage is not supporting filtered indexes"
when we create a filtered index in a table and try to deploy using the dacpac publish, getting an unrelated error like below.

*** Could not deploy package. Error SQL72014: .Net SqlClient Data Provider: Msg 1935, Level 16, State 1, Line 1 Cannot create index. Object 'SomeTableName' was created with the following SET options off: 'ANSI_NULLS'.

[2020-02-26 21:43] narayan4all commented on #4229
followed the below document to create the filtered index.

https://docs.microsoft.com/en-us/sql/relational-databases/indexes/create-filtered-indexes?view=sql-server-ver15

but trying to deploy the dacpac is failing.

[2020-02-26 21:53] WilliamAntonRohm commented on #3390
@VanMSFT, @vin-yu -- Van, Vin, please look into this [PR 12703](https://github.com/MicrosoftDocs/sql-docs-pr/pull/12703) and PR #3913.

[2020-02-26 22:00] github859 commented on #4214
Also, just an FYI, I have seen this page on how to customize the information protection policy **_that applies to Azure only._**:  https://docs.microsoft.com/en-us/azure/security-center/security-center-info-protection-policy

The above link describes exactly what I want to do, but _**it applies to Azure only**_.  My company **_does not use Azure_**.  We use _**SQL Server**_.  So I must edit the in

[2020-02-26 22:10] #3869 closed

[2020-02-26 22:19] WilliamAntonRohm commented on #4204
@rothja -- Jason, please look into this issue #4204.

[2020-02-26 23:21] pmasl commented on #4227
@Bartolomeus-649 please clarify what you mean by "What about Unicode support with binary data". If using a bin2 UTF8 collation? Or are you referring to something else?

[2020-02-26 23:32] Bartolomeus-649 commented on #4227
Since you can mix data types for the first and last arguments, then it is possible to insert an nvarchar into binary data, or the other way around.

[2020-02-27 00:03] stevef51 opened #4230 "sqlpackage RegisterDataTierApplication errors with Azure SQL Database"
I am trying to run sqlpackage from an locally hosted Azure Function inside a Docker container (so Linux), I have downloaded the latest 18.4.1 sqlpackage and running the following :-

sqlpackage /a:publish /sf:./mydb.dacpac /tcs:&lt;my azure connection string&gt; /p:RegisterDataTierApplication=true

which proceeds to connect and upgrade the db (in this case the db is already upgraded) but when it g

[2020-02-27 00:59] WilliamAntonRohm commented on #4221
@Bartolomeus-649 -- after investigation, I think the existing sentence should stay, as it clarifies a particular case.

I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2020-02-27 00:59] #4221 closed

[2020-02-27 01:09] RTTrickster opened #4233 "'Create Login' command is incorrect"
The command;

_CREATE LOGIN [mygroup] FROM EXTERNAL PROVIDER
GO_

Does not work - it produces error;
_Msg 102, Level 15, State 48, Line 1
Incorrect syntax near 'PROVIDER'._

The correct syntax appears to be;

_CREATE **USER** [mygroup] FROM EXTERNAL PROVIDER_

As indicated here: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-manage-logins

[2020-02-27 02:00] MashaMSFT commented on #3904
Hi @mmmiller60, thank you for your patience! We were able to confirm that a secondary replica does not need to be readable for a backup to succeed on it.

I've added a note to the article that should be live tomorrow. I'll proceed with closing out this Git issue but please feel free to comment should you need anything else.

I hope that helps and please let us know if we can be of further assistan

[2020-02-27 02:00] #3904 closed

[2020-02-27 02:02] mmmiller60 commented on #3904
Thanks for the help!

Thanks
Sam

-------- Original message --------
From: Masha at MSFT <notifications@github.com>
Date: 2/26/20 9:00 PM (GMT-05:00)
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: "Miller, Sam" <smiller@ceiwc.com>, Mention <mention@noreply.github.com>
Subject: EXTERNAL: Re: [MicrosoftDocs/sql-docs] Readable seconday (#3904)

Hi @mmmiller60<https://nam02.safelinks.pro

[2020-02-27 03:52] #4216 closed

[2020-02-27 03:57] #4219 closed

[2020-02-27 04:04] CarlRabeler commented on #4220
scope is statement

[2020-02-27 08:50] MightyPen commented on #4205
@WilliamAntonRohm Hi William,  please create the necessary PR, and use the following revised markdown lines to replace the current lines, to correct the AppliesTo / Versioning situation in the indicated article.

[code]

Thanks.  (GeneMi)

cc: @barmichal (just fyi)

[2020-02-27 09:44] TheConstructor opened #4234 "Behavior of ERROR_PROCEDURE() changed between SQL Server 2016 and SQL Server 2019"
Hi,

I just realized that the behavior of `ERROR_PROCEDURE()` is different between SQL Server 2016 and SQL Server 2019. I am not sure if it changed in 2017 or 2019, this probably needs clarification. In the end I would like the documentation to state the change in behavior.

Statements to show the behavior change:
[code]

So it seems that in SQL Server 2019 `ERROR_PROCEDURE()` returns the name as

[2020-02-27 10:13] RodEdwards999 opened #4235 "Implies gMSAs not supported in SQL 2014. Whereas the SQL 2014 documentation states that they are."
Group Managed Service Accounts

A Group Managed Service Account is an MSA for multiple servers. Windows manages a service account for services running on a group of servers. Active Directory automatically updates the group managed service account password without restarting services. You can configure SQL Server services to use a group managed service account principal. Beginning with SQL Server 2

[2020-02-27 12:59] Jhunter1 opened #4236 "Buffer cache hit ratio"
"Buffer cache hit ratio - Indicates the percentage of pages found in the buffer cache without having to read from disk...". This value is often over 100 so I am wondering how can it be a percentage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20bbd3bb-9820-ed3e-20e5-46708940a9dc
* Version Independent ID: 8f62a995-ec

[2020-02-27 15:37] rothja commented on #4204
@Peled-Zohar Thank you. I'll look into this and get back to you.

[2020-02-27 15:39] rothja commented on #4206
@BrilliantTechie Thank you for the feedback and suggestion. I'm going to find some time to take a closer look and get back to you. If you have the time to write out the statement as you think it should be that might help. Otherwise, I'll investigate with your description.

[2020-02-27 16:10] rrg92 commented on #4236
This can be due rounds by performance counter math.

[2020-02-27 16:37] Bartolomeus-649 opened #4237 "Statement, confusing and lacks definition"
### There is no clear definition of the term "**statment**".

Here are a few things that needs to be clarified...
1. How does "statement" relate to ...
   1. transactions
    2. batches

2. There is no mention of SELECT in the list of "statements" here on this page, why?
    1. Is SELECT (SELECT * FROM MyTable) not a statement?
    2. On the reference page "[**SELECT (Transact-SQL)**](https://docs

[2020-02-27 16:44] Bartolomeus-649 commented on #4220
@CarlRabeler SET ROWCOUNT is a statement, right?  So do you mean the following statement?

[2020-02-27 17:28] ChipDale66 opened #4238 "Ranking Functions - applies to is wrong"
The APPLIES TO on this Ranking Functions page says it only applies to SQL Server, yet the 4 functions listed have their own pages which all say they apply to all 4 environments - SQL Server - Azure SQL Database - Azure Synapse Analytics (SQL DW) -  Parallel Data Warehouse. Which is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-02-27 17:38] Bartolomeus-649 commented on #4221
@WilliamAntonRohm It might clarify one particular case, but at the same time it directly raises the issue abut  what happens when this is not the case. It's normally best when explaining something to  give the generic, broad picture of how something work first, and then, if there are special circumstances which require further explanation, you do them afterwards.
So, if you want to keep it, then i

[2020-02-27 17:59] PrometheusRising1 opened #4239 "Differences Among SQL Database, Managed Instance, SQL Server"
This page does not seem to differentiate between what is available in Azure SQL Database, Managed Instance, and SQL Server, even when the nav dropdown is set to one of these options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f33f7c8-745d-bdd0-fe14-2c1dac6875de
* Version Independent ID: 6db1bff2-e212-3337-7599-ea2

[2020-02-27 20:14] RA-Work-A commented on #3968
@ferronsw, any update on this?

[2020-02-27 22:07] #4205 closed

[2020-02-27 22:09] WilliamAntonRohm commented on #4221
@Bartolomeus-649 -- you make a good point.  I've updated the document and it should be live by tomorrow.

[2020-02-27 22:15] WilliamAntonRohm commented on #4223
@LowerKees -- thank you for your question.

@VanMSFT -- please look into this issue #4223.

[2020-02-27 22:22] WilliamAntonRohm commented on #4229
@narayan4all -- thank you for your feedback.  You may find answers regarding an `ANSI_NULLS` setting here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@MikeRayMSFT -- please look into this issue #4229.

[2020-02-27 22:28] WilliamAntonRohm commented on #4230
@stevef51 -- Steve, thank you for your feedback.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@pensivebrian -- Brian, please look into this issue #4230.

cc @stevestein as a writer

[2020-02-27 22:36] WilliamAntonRohm commented on #4233
@RTTrickster -- thank you for your feedback.  Please provide more context around your general task.

[2020-02-27 22:38] WilliamAntonRohm commented on #4234
@TheConstructor -- Matthias, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue #4234.

[2020-02-27 22:39] WilliamAntonRohm commented on #4235
@RodEdwards999 -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue #4235.

[2020-02-27 22:42] WilliamAntonRohm commented on #4236
@Jhunter1, @rrg92 -- thank you for your feedback.

@julieMSFT -- please look into this issue #4236.

cc @MightyPen as a writer

[2020-02-27 22:45] WilliamAntonRohm commented on #4237
@Bartolomeus-649 -- thank you for your questions.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@CarlRabeler -- please look into this issue #4237.

[2020-02-27 22:48] WilliamAntonRohm commented on #4238
@ChipDale66 -- thank you for your feedback.

@MikeRayMSFT -- please let me know if this article's APPLIES TO should instead show all four products, and assign this issue back to & I will update the document.

[2020-02-27 23:07] MightyPen commented on #4236
@Jhunter1 Hello, @rrg92 gave a well-explained answer.
There are no specific numbers in the original description. Unless you are seeing values so high that they cannot be explained by rrg92's answer, we should consider this Issue #4236 answered, and to now be close-able.

I am now Closing this Issue.  Thank you very much @rrg92 !

If this Issue needs to be reOpened, the @ notification approach stil

[2020-02-27 23:07] #4236 closed

[2020-02-28 00:23] WilliamAntonRohm commented on #4239
@PrometheusRising1 -- thank you for your feedback.

@VanMSFT -- please look into this issue #4239.

[2020-02-28 00:24] RTTrickster commented on #4233
I had an Azure SQL instance that was originally only setup with a SQL administrator password. I needed to get an AD group a Role within the Database.

1. I added an Active Directory Administrator in Azure
2. I connected to the Azure SQL instance with SSMS
3. I started a new query against the target database with the 'create login' command, which failed with the error in OP.
4. I found alternate ar

[2020-02-28 00:28] #3230 closed

[2020-02-28 00:36] #4071 closed

[2020-02-28 01:49] MashaMSFT commented on #4058
Hi @jelutz77 , since we haven't heard from you, we're going to assume that your issue has been resolved, and close out this Git Issue.

However, please feel free to comment should you need anything further :)

Thanks!
Masha from the SQL Docs team

[2020-02-28 01:49] #4058 closed

[2020-02-28 02:54] msebolt commented on #4042
@MisterY Apologies, I wasn't aware you were using Docker and was referring to the Azure Ubuntu image.

Please refer to [this post](https://stackoverflow.com/questions/25845538/how-to-use-sudo-inside-a-docker-container/49529946) for possible options and I'll assign this the author for further review.

[2020-02-28 04:42] dhamacher opened #4243 "UOM"
What is the unit of measure for the distance argument?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4238e773-b14a-ab3e-59fc-7b2ab038c0f6
* Version Independent ID: ef528a38-8f23-d76d-6b1b-d977bae597c9
* Content: [STBuffer (geometry Data Type) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/spatial-geometry/st

[2020-02-28 05:03] wetnurseyang opened #4244 "guidline of dealing with builtin\administrators login"
builtin\administrators login come back as a default login in SQL on Linux. Since removing "builtin\administrators" login is one of the most common security hardening activity in older versions of SQL on windows. Better to document how DBA should handle this login and whether it is officially supported to drop this login

[2020-02-28 05:28] NelGson commented on #4174
Looks good to me @WilliamAntonRohm

[2020-02-28 06:22] jude-dsouza opened #4245 "Syntax for Azure SQL Database is misleading"
-- Syntax for Azure SQL Database, Azure SQL Data Warehouse, Parallel Data Warehouse
  LOG ( float_expression )

I have verified that the  Syntax for Azure SQL Database is the same as the syntax for SQL Server. That is, Azure SQL Database accepts the syntax
LOG ( float_expression [, base ] )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-02-28 07:29] ferronsw commented on #3968
@RA-Work-A It only works for .Net Core 3.0 and higher, because of the new Microsoft.Data.SqlClient.

[2020-02-28 09:05] zikato opened #4246 "Error in sample query."
The second sample query has extra paranthesis in SUBSTRING.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fec72919-9f99-9718-91d4-c1ca59d95106
* Version Independent ID: 89df21bb-925f-e3be-b00e-a1f2bfcf76cc
* Content: [Monitor performance of natively compiled stored procedures - SQL Server](https://docs.microsoft.com/e

[2020-02-28 09:22] Jhunter1 commented on #4236
I'm not quite getting this. rrg92 has said the field [Buffer cache hit ratio] is not actually the percentage value and you need to perform a calculation (100*[Buffer cache hit ratio]/[Buffer cache hit ratio base]).

That is fair enough, but Microsoft's documentation does not reflect this information. Instead they are saying the percentage is already there ready for you in the field [Buffer cache h

[2020-02-28 09:49] Jhunter1 commented on #4236
I'm not the only one finding this confusing.. https://dba.stackexchange.com/questions/88784/what-does-a-buffer-cache-hit-ratio-of-9990-mean

[2020-02-28 15:06] rrg92 commented on #4236
I agree with @Jhunter1  about more clarification. I submitted a PR to keep doc about SQL Server Objects a little more clear, because this fact can occurs to another counters, not only Buffer cache hit ratio.

[2020-02-28 16:46] RA-Work-A commented on #3968
@ferronsw & @msebolt , what's odd about this, is that I can get the reads to work just fine in 2.1. However, it's the inserts that just outright fail to work.

[2020-02-28 17:23] VanMSFT commented on #4239
Hi @PrometheusRising1! Thanks for your feedback. Currently, managed instance falls under the umbrella of Azure SQL Database. All of the System Stored Procedure listed on that page should pertain to Azure SQL Database and SQL Server. Thanks!

[2020-02-28 17:23] #4239 closed

[2020-02-28 17:43] VanMSFT commented on #4223
Hi @LowerKees - Thanks for your inquiry. Here's our document on auditing for Azure SQL Database: <https://docs.microsoft.com/azure/sql-database/sql-database-auditing>

There are some overlaps for Azure SQL Database in the document for [SQL Server Audit Action Groups and Actions](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions?v

[2020-02-28 17:56] VanMSFT commented on #4042
Hi @MisterY! Are you using Docker? If so, you will likely need to use the publish flag to open ports: https://docs.docker.com/config/containers/container-networking/

[2020-02-28 17:56] #4042 closed

[2020-02-28 18:15] #3828 closed

[2020-02-28 18:36] CarlRabeler commented on #4246
@zikato fixed - thanks

[2020-02-28 18:36] #4246 closed

[2020-02-28 18:53] #3541 closed

[2020-02-28 19:22] WilliamAntonRohm commented on #4233
@RTTrickster -- thank you for your detailed clarification.

@VanMSFT -- please look into this issue #4233.

[2020-02-28 19:37] WilliamAntonRohm commented on #4243
@dhamacher -- Daniel, please see [this article](https://docs.microsoft.com/en-us/sql/relational-databases/spatial/spatial-data-types-overview?view=sql-server-ver15#measurements-in-spatial-data-types).

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-02-28 19:37] #4243 closed

[2020-02-28 19:41] VanMSFT commented on #4233
Hi @RTTrickster! Thanks for the inquiry.  The T-SQL `CREATE LOGIN [mygroup] FROM EXTERNAL PROVIDER` is a valid command in *managed instance*. If you are having issues and want to troubleshoot the problem, please contact Microsoft Support. Thanks!

[2020-02-28 19:41] #4233 closed

[2020-02-28 19:54] WilliamAntonRohm commented on #4245
@jude-dsouza -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue #4245.

[2020-02-28 19:59] MightyPen commented on #4174
Fixed, with PR #13967 .

- `https://github.com/MicrosoftDocs/sql-docs-pr/pull/13967`

@mansakerlund Thank you for submitting this Issue. We hope to hear from you again. I am now Closing this Issue #4174 .

@WilliamAntonRohm MikeRayMSFT is the Writer, not me.  Check 'ms.reviewer' in these cases, for a Writer, when ms.author is a non-Writer.

@MikeRayMSFT Feel free to improve the phrasing of the alt

[2020-02-28 19:59] #4174 closed

[2020-02-28 21:46] awilbert opened #4248 "Error in setwd(mainDir) : cannot change working directory"
Having issues setting the output folder for images generated by the RPlotHist stored procedure. I've created C:\temp\plots on my computer. Does the error have something to do with isolation level changes in SQL Server 2019? (https://docs.microsoft.com/en-us/sql/advanced-analytics/install/sql-server-machine-learning-services-2019?view=sql-server-ver15)

---
#### Document Details

⚠ *Do not edit thi

[2020-02-28 22:01] dphansen commented on #4248
@awilbert Thank you for opening a GitHub issue. Would you be able to provide us with the error/output message that you get? Thanks.

[2020-02-28 22:06] awilbert commented on #4248
**Error returned in messages window:**
Msg 39004, Level 16, State 20, Line 1
A 'R' script error occurred during execution of 'sp_execute_external_script' with HRESULT 0x80004004.
Msg 39019, Level 16, State 2, Line 1
An external script error occurred:
Error in setwd(mainDir) : cannot change working directory
Calls: source -> withVisible -> eval -> eval -> setwd

Error in execution.  Check the outpu

[2020-02-28 22:26] rschiefer opened #4249 "dacfx on Windows Server Core 2019?"
Is it possible to install dacfx on Windows Server Core 2019?  If so, how?

[2020-02-28 22:45] WilliamAntonRohm commented on #4249
@rschiefer -- Robb, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around your general task.

[2020-02-28 22:48] msebolt commented on #4054
@LeonSweden Thank you for the feedback and apologies for the delay.

Adding an example to this means adding examples to each bitwise operation and will take some time depending on the priority.

Assigning this to the author for further review and consideration.

[2020-02-28 22:49] rschiefer commented on #4249
https://docs.microsoft.com/en-us/sql/tools/release-notes-sqlpackage?view=sql-server-ver15

[2020-02-28 22:50] dphansen commented on #4248
@awilbert Thanks. We will investigate and get back to you.

[2020-02-28 22:51] msebolt commented on #4055
Closing issue now.

[2020-02-28 22:51] #4055 closed

[2020-02-29 18:11] jovton opened #4250 "LDAP"
Hi. In the doc you state ... "If disablesssd is set to true along with forcesecureldap being set to true, then it will use LDAPS protocol over openldap library calls made by SQL Server." ...

I have a few questions on that, because I'd like to try it. In such a scenario, does that mean any of openldap packages have to installed beforehand, such as libnss-ldap, libpam-ldap, ldap-utils? If it makes

[2020-02-29 22:14] rrg92 commented on #4079
I guess that issue can be closed. According with test above, the product is working like documentation describes.

[2020-02-29 23:05] mdhruv1 opened #4251 "The documentation is incomplete"
I am looking at the documentation
I would expect a sample of what the csv file should look like
The syntax and details of the format fit file.

That way I can walk through the whole example.

I don’t see the details. This would be awesome that shows clearly
For csv File a format file so we can replicate the steps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-03-01 03:01] Susanthab commented on #4134
Python2 reached EOL on 31st Jan, 2020. So still SQL Server needs Python2? When it will be switched to Python3?

[2020-03-01 07:23] DavidTrigano commented on #4223
Hi @LowerKees,

The available Audit Action Groups available for Azure SQL server are listed under our reference documentation: https://docs.microsoft.com/en-us/powershell/module/az.sql/set-azsqlserveraudit?view=azps-3.5.0#parameters

Best,
D.

[2020-03-01 11:23] mdhruv1 opened #4252 "Incomplete documentation"
I am trying to get a csv file with a header or a file using as a pipe delimiter using
Say utf8  please can we add how we can do this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb964ca8-e683-9fab-1933-a12ec6e50a05
* Version Independent ID: 8d024f19-8ce5-5bc4-d45a-5bf39e17a6d7
* Content: [Create a Format File (SQL Se

[2020-03-01 13:06] Bartolomeus-649 opened #4253 "IsPrecise: Really about "involving" imprecise computations?"
### Re: [SqlFunctionAttribute.IsPrecise Property](https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.server.sqlfunctionattribute.isprecise?view=netframework-4.8&source=docs)

Please elaborate and confirm that this really is about if _"the function involves precise computations"_, or if it really is about if the result (returned data) is imprecise?

Also please elaborate how **IsPrecis

[2020-03-01 14:40] erikdarlingdata opened #4254 "missing columns details"
I believe these showed up in SQL Server 2016, but don't recall exactly:
 * reserved_worker_count,
 * used_worker_count,
 * max_used_worker_count,
 * reserved_node_bitmap

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 059c6a91-de0e-fcbf-824a-f324119158f8
* Version Independent ID: 55c8ca7c-eb90-6831-c52a-c11c476f7d36
* C

[2020-03-01 15:19] #4115 closed

[2020-03-01 16:42] JpsKaGitHub opened #4255 "Use New INSERT INTO ... VALUES syntax"
Why do Microsoft developers continue to use the OLD INSERT INTO .... VALUE SYNTAX, instead of using the NEW INSERT INTO ... VALUES Syntax introduced in SQL Server 2008 (or even earlier)?
INSERT INTO Person VALUES (1,'John');
INSERT INTO Person VALUES (2,'Mary');
....
could have been coded as:
INSERT INTO Person
VALUES ( (1, 'John')
                (2, 'Mary'),
                (....          ) );

[2020-03-01 17:34] ntorvik opened #4256 "typo in document."
The first instance of "database_name" has a typo as indicated below, the "d-" should be "-d":

Current: You can also explicitly specify the database name with d-.
Change to: You can also explicitly specify the database name with -d.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86bd520a-7468-fd55-c357-b0f645a917ef
* V

[2020-03-02 10:21] mrezalamei opened #4258 "can not install sql server 2017 on fedora 31"
i downloaded rpm file sql server 2017.
When I install the rpm file Returns this Error at the output
error: Failed dependencies:
        openssl < 1:1.1.0 is needed by mssql-server-14.0.3257.3-13.x86_64

[2020-03-02 12:19] LarnuUK commented on #4258
Fedora isn't one of the supported Distributions for SQL Server on Linux. per [Supported platforms](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup?view=sql-server-ver15#supportedplatforms) SQL Server on Linux is only supported on Redhat, SUSE, Ubuntu and Docker.

[2020-03-02 12:44] Tim-Bijnens opened #4259 "Provide Docs for Azure SQL Server Always Encrypted with Entity Framework Core on .Net Core 3+"
I find it hard to implement the above. Always Encrypted keys are stored in Azure KeyVault (not in secrets in my case)
Documentation on how to accomplish this in an official way would be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fb15ed8-749c-6cba-49d4-31f173644f73
* Version Independent ID: 4c3f1eb6-9d

[2020-03-02 15:04] ghotz opened #4260 "Side-by-side support for SQL Server 2019"
I think the side-by-side support for SQL Server 2019 list is missing SQL Server 2017.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c5b2d5d-0a6b-46e2-cb87-be75e37c538f
* Version Independent ID: 66e80689-5e06-fd53-bfdd-75058533df10
* Content: [Work with multiple versions and instances - SQL Server](https://docs.micros

[2020-03-02 15:25] Dylan-MSFT commented on #4250
Hey! The LDAP packages needed by SQL Server are dependencies of the package you download, so they get installed automatically by your packages manager (apt, yum, etc). There are no extra install steps.

[2020-03-02 15:59] dphansen commented on #4248
@awilbert You are correct. This is due to the isolation level changes in SQL Server 2019.

The issue can be resolved by granting **Read & execute** permissions to **ALL APPLICATION PACKGES** to the folder you are trying to change their working directory to:

1. In File Explorer, right click on the folder you want to use as working directory, and select **Properties**.
1. Select **Security** and cl

[2020-03-02 15:59] #4248 closed

[2020-03-02 16:23] rothja commented on #4054
@LeonSweden Thank you for the suggestion. I will look at your idea and the article more closely and get back to you.

[2020-03-02 17:01] #4223 closed

[2020-03-02 18:03] VanMSFT commented on #4079
Thanks @rrg92! We really appreciate the help!

[2020-03-02 18:03] #4079 closed

[2020-03-02 19:12] mrezalamei commented on #4258
Base Fedora is redhat Linux .
I can install SQL server 2019 on Fedora But I couldn't installed SQL server 2017 on Fedora

[2020-03-02 19:50] MikeRayMSFT commented on #2150
Reopening this issue because there's still confusion. Will track down straightway.

[2020-03-02 21:12] WilliamAntonRohm commented on #4250
@jovton -- thank you for your questions.

@Dylan-MSFT -- thank you for your answers.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-03-02 21:12] #4250 closed

[2020-03-02 21:15] WilliamAntonRohm commented on #4251
@mdhruv1 -- thank you for your feedback.

@MashaMSFT -- please look into this issue #4151.

[2020-03-02 21:21] WilliamAntonRohm commented on #4254
@erikdarlingdata -- Erik, thank you for your feedback.

@stevestein -- Steve, please look into this issue #4254.

[2020-03-02 21:22] WilliamAntonRohm commented on #4256
@ntorvik -- thank you for your keen eye.  I am looking into this document.

[2020-03-02 21:33] WilliamAntonRohm commented on #4260
@ghotz -- Gianluca, thank you for your feedback.

@MashaMSFT -- Masha, please look into this issue #4260.

[2020-03-02 21:35] WilliamAntonRohm commented on #4252
@mdhruv1 -- thank you for your feedback.  You may find an answer here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@MashaMSFT -- please look into this potential documentation issue #4252.

[2020-03-02 21:47] WilliamAntonRohm commented on #4255
@JpsKaGitHub -- thank you for your feedback.  Please add your suggestion here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-03-02 21:47] #4255 closed

[2020-03-02 21:53] WilliamAntonRohm commented on #4258
@mrezalamei -- thank you for describing your issue.  This repo is for documentation feedback, with limited support options.  You may find answers here:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are also welcome to add your issue here:
- [SQL Server Feedback](https://aka.ms/sqlfee

[2020-03-02 21:56] WilliamAntonRohm commented on #4259
@Tim-Bijnens -- thank you for your feedback.

@jaszymas -- please look into this issue #4259.

cc @MightyPen as a writer

[2020-03-02 22:39] matt-k11 opened #4261 "Basic Availability Group for non prod"
For licensing purposes, is there a way to create a Basic Availability Group using Developer Edition for non prod instances/envrionments?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32bb0e7a-a91c-6ccd-bf16-5118801d5612
* Version Independent ID: 84eb1614-0e30-e116-9dd2-34a3db7c6b5d
* Content: [Basic availability group

[2020-03-02 23:06] WilliamAntonRohm commented on #4261
@matt-k11 -- thank you for your question.  Please refer to [Microsoft SQL Server License Terms and Information](https://www.microsoft.com/download/details.aspx?id=39299).

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-03-02 23:35] matt-k11 commented on #4261
Thank you for the feedback.  Let's take the licensing piece out for clarity.  Is there a way to create a Basic Availability Group using Developer Edition?

[2020-03-02 23:37] WilliamAntonRohm commented on #4253
@Bartolomeus-649 -- thank you for your questions.

@stevestein -- please look into this issue #4253.

[2020-03-03 01:39] msebolt commented on #4066
@estensen  Thank you for the feedback and please consider [becoming a contributor](https://docs.microsoft.com/en-us/contribute/).

The documentation has been updated and is pending review.

[2020-03-03 01:48] MashaMSFT commented on #4164
Hi @emadfalsafi1 , just wanted to check in - did you get a chance to submit a public PR? If not, I am happy to do so for you! Please let me know what you prefer :)

Thanks!
Masha from the SQL Docs team

[2020-03-03 01:52] msebolt commented on #4065
@estensen  Thank you for the feedback, please consider [becoming a contributor](https://docs.microsoft.com/en-us/contribute/).

The documentation has been updated and is pending review.

[2020-03-03 02:00] koatsush opened #4262 "Documents are not displayed in local languages."
[フィードバックをこちらに入力してください]
All SQL Server related documents are written in English. Documents are not displayed in local languages such as Japanese, are there any plans to fix this?

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 06ed8fd8-016f-7779-ed08-462f505c5f3e
* Version Independent ID: af26e293-4d4c-3810-b350-6dfab61a6161
* Content: [blocked process

[2020-03-03 04:12] CarlRabeler commented on #4220
"Setting the SET ROWCOUNT option causes most Transact-SQL statements to stop processing when they have been affected by the specified number of rows."

[2020-03-03 04:26] CarlRabeler commented on #4237
@Bartolomeus-649
1. A transaction or a batch can have 1 or more statements
2. SELECT (SELECT * FROM MyTable) is a partial statement - it is incomplete and will not execute as written
3. one statement
4. a statement is terminated by a semi-colon, so two statements

[2020-03-03 04:27] CarlRabeler commented on #4192
@DaveBoltman thanks - i have added this to my honeydew list

[2020-03-03 04:46] srizwanhms opened #4263 "Update automatic tuning options document"
Please update this document to reflect new desired_states, reason, and actual_state as they are different in Azure SQL DB and Azure SQL MI

https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/sys-database-automatic-tuning-options-transact-sql?view=sql-server-ver15

Thanks!

[2020-03-03 11:04] HuubvdP commented on #4102
@markingmyname I've tested thes steps but still didn't get this working. Can you confirm that you tested bcp with only -G option (NO -U and-P) and that you get data back from a Azure sql server?

[2020-03-03 12:13] stephenc01 commented on #4189
If you end up here. Please vote for arm support

https://feedback.azure.com/forums/908035-sql-server/suggestions/39175228-sql-server-management-studio-for-windows-on-arm-a

[2020-03-03 12:45] LifeRyuto opened #4264 "日本語が表示されない"
英語が表示されてしまいます

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f7ac2fe2-31da-7db6-2d5f-5091022f41d2
* Version Independent ID: bbf07c2c-7006-7b94-f12f-800fa7bc67e4
* Content: [CREATE EXTERNAL TABLE (Transact-SQL) - SQL Server](https://docs.microsoft.com/ja-jp/sql/t-sql/statements/create-external-table-transact-sql?view=sql-server-ver15#feedback)
* Conte

[2020-03-03 14:37] cbigenwald-edt opened #4265 "Note on this page to update"
The note about the Session Monitor should read "and current date" not "and current data".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6210c109-cc8c-3516-65f0-ba165d891f8c
* Version Independent ID: 2affb6d6-6b5c-02a2-50f7-d4b609599168
* Content: [Basic navigation in DTA - SQL Server](https://docs.microsoft.com/en-us/

[2020-03-03 17:15] #4066 closed

[2020-03-03 17:16] MikeRayMSFT commented on #2150
Thanks all for monitoring this thread - I recognize it's old, but I want to make sure the issues are resolved.

1. I went through the steps in the tutorial with success on a (Ubuntu 16.04 with SQL Server 2017 from Azure marketplace to a storage account in a different resource group.) My storage account was in the same region with the default configuration. I had the latest (SSMS v 18.4).

2. Resto

[2020-03-03 17:17] #4065 closed

[2020-03-03 17:30] MashaMSFT commented on #4251
Hi @mdhruv1, thanks for contacting Microsoft and providing your feedback! Let me see what our options are for you. Stay tuned :)

Thanks!
Masha from the SQL Docs team

[2020-03-03 17:34] MashaMSFT commented on #4260
Hi @ghotz, thanks for contacting Microsoft and providing your feedback! Let me do a little research.

Thanks!
Masha from the SQL Docs team

[2020-03-03 17:39] MashaMSFT commented on #4252
Hi @mdhruv1 , thanks for providing Microsoft your feedback! Just to make sure I understand, you're looking for instructions on how to create a format file in the utf8 format? Is that correct?

Thanks!
Masha from the SQL Docs team

[2020-03-03 17:40] MashaMSFT commented on #4261
Hi @matt-k11, thanks for contacting Microsoft! I don't believe you can, but let me double check to confirm.

Thanks!
Masha from the SQL Docs team

[2020-03-03 17:48] mdhruv1 commented on #4252
I would like to have an end to end documentation which I can follow with the steps

This will help every one else too

Thanks

Dhruv

Sent from my iPad

[2020-03-03 18:07] MashaMSFT commented on #4252
Hi @mdhruv1 , thanks for the clarification! Does this suit your needs in the meantime? https://bobsql.com/using-sqlbcp-native-format-file-vs-text-file-and-the-bom/

Thanks!
Masha from the SQL Docs team

[2020-03-03 18:09] WilliamAntonRohm commented on #4263
@srizwanhms -- thank you for your feedback.

@jovanpop-msft -- please look into this issue #4263.

cc @MightyPen as a writer

[2020-03-03 18:10] WilliamAntonRohm commented on #4265
@cbigenwald-edt -- thank you for letting us know.  I am looking into this document.

[2020-03-03 18:35] WilliamAntonRohm commented on #4262
@koatsush -- Thanks for your feedback; we appreciate it. You can submit issues related to overall site experience, or suggestions for improved site functionality or design, at [https://aka.ms/sitefeedback/](https://aka.ms/sitefeedback).

You are also welcome to add your suggestion here:
- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [SQL Se

[2020-03-03 18:44] Daemach commented on #2150
Are you saying that we can backup to and restore from Azure using SQLS for Linux?  I gave up and started using S3 because I could never get it to work.  Which tutorial are you referencing?