[2019-08-30 20:21] MladjoA commented on #2838
@WilliamAntonRohm -- William, it should be 2012 and 2008 respectively. Thanks!

[2019-08-30 20:58] WilliamAntonRohm commented on #2839
@jpomfret -- Jess, I have updated the documentation and it should be live by tomorrow.

[2019-08-30 20:58] #2839 closed

[2019-08-30 21:09] msebolt commented on #2856
@JediSQL  Thank you for the feedback.

The documentation has been updated.

[2019-08-30 21:09] #2856 closed

[2019-08-30 21:35] WilliamAntonRohm commented on #2838
@CarrieAnne -- I have updated the documentation and it should be live by tomorrow.

@MladjoA -- you're welcome.

[2019-08-30 21:35] #2838 closed

[2019-08-30 21:40] WilliamAntonRohm commented on #2840
@mezankhaja --  I have updated the documentation and it should be live by tomorrow.

[2019-08-30 21:40] #2840 closed

[2019-08-30 21:44] rgward opened #2857 "Typo in this sentence"
Similarly for changing the settings of a signle service within a specific resource

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6f46cd1-caaa-99ac-1098-f15552369f22
* Version Independent ID: 34ec4839-afba-f57e-1a6d-bc453e70b9ce
* Content: [Configure deployments - SQL Server big data clusters](https://docs.microsoft.c

[2019-08-31 09:04] Hong-Revo commented on #2826
Whether or not `rxExec` parallelises is determined by the compute context. The `RxInSqlServer` context doesn’t, by itself, enable parallelisation; it merely shifts the compute to the server. Adding `timesToRun=20` just means that the same code is executed sequentially 20 times.

To enable parallelisation on your local machine, run `rxSetComputeContext("localpar")` before calling `rxExec`.

If you

[2019-09-01 11:06] jacodegrootoodle commented on #2689
BCP has a bug concerning empty (NULL) values in the last column that effects both the export and the import.

https://stackoverflow.com/questions/48446315/bcp-error-if-last-column-is-empty?rq=1

As a work around, you could add a dummy string at the end of your CSV file, e.g. "dummy" and then drop that column after the bcp import has completed.

[2019-09-01 21:55] binki opened #2859 "Attempt at formatting bleeds through into rendered document"
There are a number of places where there has been an attempt to use markdown formatting to display identifiers and variable names in a particular way. However, the rendered document shows things like

&gt; \_@variable\\_name\_

instead of

&gt; _@variable\_name_

. I see this mostly in the documentation for `OPTIMIZE FOR` on this page, but the entire page probably could use a formatting audit.

--

[2019-09-01 21:57] binki commented on #2859
Since https://github.com/MicrosoftDocs/sql-docs/blob/00350f6ffb73c2c0d99beeded61c5b9baa63d171/docs/t-sql/queries/hints-transact-sql-query.md seems to render things correctly, perhaps the markdown renderer used by the publishing process to docs.microsoft.com itself is broken.

[2019-09-02 06:36] kazshi commented on #2848
@CarlRabeler Thank you for the update. I checked the PR #11788. Closing.

[2019-09-02 06:36] #2848 closed

[2019-09-02 18:05] ma17961363 opened #2865 "View with stored data"
I think it was better to have a view that stores its query result to access quickly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7bfcbf2-4dbb-6a41-4390-40d6bc076606
* Version Independent ID: 2992dd77-8134-c2ea-8957-3a696583a2c4
* Content: [Views - SQL Server](https://docs.microsoft.com/en-us/sql/relational-database

[2019-09-02 22:21] cunnpole opened #2866 "Deprecated option use in examples"
The article references deprecated SHA1 and also could do with a sentence that describes  why you would want an authenticating hash. Various articles state that "a random salt value is always applied to the encryption" so this should also be clearly stated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cd3dba3-ebd8-342

[2019-09-03 09:03] bak3r opened #2876 "The length of the encrypted field used in example is wrong."
CardNumber_Encrypted should be 160 bits not 128 bits if you are using SHA1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cd3dba3-ebd8-342e-fce9-af4c5ce39324
* Version Independent ID: f9725f20-7bdd-2e6c-f5db-957c00771d27
* Content: [Encrypt a Column of Data - SQL Server](https://docs.microsoft.com/en-us/sql/relationa

[2019-09-03 12:52] stevenluda commented on #2826
Thank you for the clarification, Hong. How about other high performance
analytic functions, e.g. rxPredict, rxLinMod, rxDForest etc.? Any example
showing they run parallel in local or RxInSqlServer context? I'm
reproducing the example in this post
https://nielsberglund.com/2018/03/21/microsoft-sql-server-r-services---sp_execute_external_script---iii/
,
which attempts to show the internals of R ser

[2019-09-03 14:16] VanMSFT commented on #2859
@binki - Thanks Nathan!

@MightyPen - Hey Gene, do you know why this might be broken on the live page?

[2019-09-03 14:21] dphansen commented on #2826
@hong-revo and @stevenluda - I am closing this GitHub issue, as this is not relevant to the documentation article.

For help with this issue, I recommend that you take the issue to any of the places listed below.

- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Setup and Upgrade -  MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/

[2019-09-03 14:21] #2826 closed

[2019-09-03 15:13] MightyPen commented on #2859
@VanMSFT Van, I too am surprised to see that ` _@variable\_name_ ` does not render to look like simply italicized.

- _@variable\_name_  &nbsp; ` _@variable\_name_ `

- *@variable_name* &nbsp; `*@variable_name*`

I will assign this Issue 2859 to myself.
Thanks. G
 . .

[2019-09-03 15:27] MightyPen commented on #2859
Testing with new PR #11850.

- `https://github.com/MicrosoftDocs/sql-docs-pr/pull/11850`

[2019-09-03 16:53] iuriivaschuk opened #2883 "Missing RC1 new custom features details"
"security": {
        "ouDistinguishedName": "",
        "dnsIpAddresses": [],
        "domainControllerFullyQualifiedDns": [],
        "realm": "",
        "domainDnsName": "",
        "bdcAdminPrincipals": [],
        "bdcUserPrincipals": []
DOMAIN_SERVICE_ACCOUNT_PASSWORD
DOMAIN_SERVICE_ACCOUNT_USERNAME
dnsName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-09-03 17:23] MightyPen commented on #2859
Fixed, for this article, by PR 11850.
The gist is that now the AT-SIGN `@` must also be escaped (with a backslash) in some cases.
Or `@` can be HTML encoded as `&#x40;`.

I will mention this Issue #2859 to Tami_F, so that she can convey to her people.
Thanks. G.

---

@binki Hi Nathan, I am now Closing this Issue #2859.
The @ notification mechanism continues to work even after an item is Closed, i

[2019-09-03 17:23] #2859 closed

[2019-09-03 17:29] vin-yu commented on #2855
It is possible to set up SQL Server containers with AD set up and we'll update these docs in the future with instructions on how you could set this up but this configuration is not supported for production use cases yet.

[2019-09-03 19:50] WilliamAntonRohm commented on #2857
@rgward -- Bob, thank you for your feedback.  I am looking into it.

[2019-09-03 19:51] WilliamAntonRohm commented on #2865
@ma17961363 -- thank you for your feedback.  Can you please give us more information about your task or issue?

[2019-09-03 19:54] WilliamAntonRohm commented on #2866
@cunnpole -- Stewart, thank you for your feedback.

@aliceku -- Alice, please look into this issue 2866.

[2019-09-03 19:55] WilliamAntonRohm commented on #2876
@bak3r -- thank you for your feedback.  I am looking into it.

[2019-09-03 19:57] WilliamAntonRohm commented on #2883
@iuriivaschuk -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue 2883.

[2019-09-03 21:16] joelangell commented on #2156
Thanks @oppositive!

[2019-09-03 22:09] #2690 closed

[2019-09-04 01:49] #2249 closed

[2019-09-04 05:43] OzBob opened #2885 "General query - unsupported functions"
Where is a complete synchronized list of all functions that do not have 'Azure SQL Database' ticked?
or is there a data source I could generated one from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 051788f8-a729-7a59-8b2f-5e2ba2cf62c2
* Version Independent ID: 30b9fe82-bc80-cf19-6ee3-7ce45a826975
* Content: [sp_add

[2019-09-04 07:23] OzBob commented on #2885
I made a list:
https://medium.com/@obobwa/azure-sql-snapshot-of-supported-system-procedures-84747c324e2a

Any suggestions on where to find a list of all the tSQL keywords like URL that the .bacpac wizard complains about if they are not surrounded by []? e.g. bacpac fails if a View has a column called URL but passes if it is [URL]

[2019-09-04 12:25] Sandmaann opened #2887 "Deployment of Apps"
There is no help regarding the deployment of applications using SMO libraries. Apparently there are major complications with the deployment of such apps while delivering the dlls without installing SMO libs on the client.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7a39ec0-ba64-4084-aaed-e632d4238859
* Version Inde

[2019-09-04 14:25] degrover-cn opened #2888 "Statement to disable for a single database throws an argument exception"
EXEC msdb.managed_backup.sp_backup_config_basic
                @database_name = 'MyDB'
                ,@enable_backup = 0;

SQL Server Managed Backup to Microsoft Azure cannot configure the database  'MyDB' because a container URL was either not provided or invalid. It is also possible that your SAS credential is invalid.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-09-04 16:20] rothja commented on #2785
@tomuxmon Hello. Thank you for the feedback, and apologies for the long delay. This is good feedback, but at this time we don't have the resources to researching and updating the event mapping as you suggest. However, it is good that you opened this up to track the request. Can you tell me a little bit more about how you use that information in your scenario? Thank you!

[2019-09-04 16:27] rothja commented on #2794
@EnjoyinMoss Hello, and apologies for the delay. The definition of a reserved keyword on this page is one that cannot be used in Transact-SQL statements except with a delimiter. So the following fails:

[code]

But you can use URL in this example:

[code]

So it would appear from testing that URL is not a reserved keyword in the same way. I'm not sure why it is getting flagged. But you could put d

[2019-09-04 16:27] #2794 closed

[2019-09-04 17:13] msebolt commented on #2885
@OzBob  Thank you for the question.

Currently the SQL Server and Azure SQL database reference is categorized by functionality as opposed to database type, so you would need to browse each functionality manually.

Assigning to author for comment.

[2019-09-04 17:35] msebolt commented on #2887
@Sandmann  We're sorry you're experiencing issues.

This sounds like a product issue, do either of these pending SMO issues describe the problem?

- https://feedback.azure.com/forums/908035-sql-server/suggestions/32898796-smo-nuget-packages-do-not-work-reliably-due-to-a-g

- https://stackoverflow.com/questions/52768629/deploying-c-sharp-sql-server-smo-application

Assigning author.

[2019-09-04 17:57] atwebb opened #2890 "VSIX Download 0.15"
The VSIX download contains the manifest and other items but not the VSIX file. The readme also stops at 0.14 and does not include 0.15. Is there a way to manually install the VSIX by copying the folder to %appdata%\programs\Azure Data Studio?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 773ddfb4-b8ec-9707-1390-15bd34

[2019-09-04 18:00] atwebb commented on #2890
Looks like it's been updated to return a VSIX now and not a Zip, thanks!

[2019-09-04 18:00] #2890 closed

[2019-09-04 18:00] mrlife opened #2891 "In-place upgrade wording"
This sentence is worded in a confusing way:

Should it be?

Also, should the docs mention to prospective previewers whether the RC is upgradeable to the final version once it's released? If it does, I apologize for missing it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d27f9e6d-face-26a5-c6a6-28c7b3df73f1
* Version

[2019-09-04 18:07] msebolt commented on #2888
@degrover-cn  Thank you for the question.

Was this backup previously enabled using a storage container?

If so, please try using the `@container_url` parameter listed [here](https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/managed-backup-sp-backup-config-basic-transact-sql?view=sql-server-2017) to set the container.

[2019-09-04 18:14] degrover-cn commented on #2888
That's helpful, thank you. I do recommend updating the document I submitted this ticket from.

[2019-09-04 18:14] #2888 closed

[2019-09-04 18:39] msebolt commented on #2891
@mrlife  Thank you for the feedback.

The documentation has been updated.

[2019-09-04 18:39] #2891 closed

[2019-09-04 20:33] binki opened #2892 "Missing an algorithmic/pseudocode description of recursive CTEs"
In the previous version of documentation at https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/ms175972%28v%3dsql.105%29 there is a link to [Recursive Queries Using Common Table Exprssions](https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/ms186243%28v%3dsql.105%29). It provides a helpful description/pseudocode/algorithm description of how recursive C

[2019-09-04 21:19] msebolt commented on #2888
You're welcome.  A note has been added.

[2019-09-04 21:49] WilliamAntonRohm commented on #2857
Thank you for your keen eye.  I have updated the documentation and it should be live by tomorrow.

[2019-09-04 21:49] #2857 closed

[2019-09-04 22:01] stevethresh opened #2893 "TABLOCK"
Which API do you use to enable TABLOCK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 769b52a9-d98c-7848-6140-3de5e33076ef
* Version Independent ID: 6f17664b-b940-2244-03e7-8abb75eaaeda
* Content: [Managing Bulk Copy Batch Sizes - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/native-client-odbc

[2019-09-04 22:26] JeffModen opened #2894 "How to determine SRID?"
It would be real handy if you included a link specifically to how to determine what value for SRID should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd5d5523-6420-23c6-88a0-fe4557ec1a28
* Version Independent ID: 5352029c-f717-cb65-185f-b5326acca049
* Content: [Point (geography Data Type) - SQL Server](http

[2019-09-05 00:18] WilliamAntonRohm commented on #2876
Thank you for your keen eye.  I have updated the documentation and it should be live by tomorrow.

[2019-09-05 00:18] #2876 closed

[2019-09-05 00:28] MightyPen commented on #2893
@David-Engel Hi David, Do you know the "API" that a program can use to "enable TABLOCK"?

I gather that having the program simply issue a T-SQL statement to gain the table lock is insufficient, perhaps because the lock would belong to another session?

@stevethresh Hello Steve, we have begun to process your new Issue #2893. Thanks.

[2019-09-05 02:32] msebolt commented on #2828
@MightyPen  Sounds good, a note has been added to the documentation.

[2019-09-05 02:32] #2828 closed

[2019-09-05 03:42] stevenluda opened #2896 "Error: The package management feature is not enabled for the current user or not supported on SQL Server version"
Using the code sample:

library(sqlmlutils)
connection &lt;- connectionInfo(
  server= "yourserver",
  database = "yourdatabase",
  uid = "yoursqluser",
  pwd = "yoursqlpassword")

sql_install.packages(connectionString = connection, pkgs = "glue", verbose = TRUE, scope = "PUBLIC")

Any thought?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-09-05 04:05] msebolt commented on #2896
@stevenluda We're sorry you're experiencing issues.

Some things to check:

- make sure the R option is selected from the installation wizard

![Capture](https://user-images.githubusercontent.com/6675884/64310758-4992b800-cf56-11e9-9d2c-079cba5d9d2c.PNG)

  ...or check installation via [command line](https://docs.microsoft.com/sql/advanced-analytics/install/sql-ml-component-commandline-install?vie

[2019-09-05 09:10] stevethresh commented on #2893
Found it! Call bcp_control() and use the BCPHINTS option. https://stackoverflow.com/questions/57690444/howto-specify-tablock-with-the-odbc-api

[2019-09-05 09:10] #2893 closed

[2019-09-05 13:20] stevenluda commented on #2896
I can confirm that R services is installed on the SQL server instance. I found one resource here https://renenyffenegger.ch/notes/Windows/dirs/Program-Files/Microsoft-SQL-Server/version/R_SERVER/library/RevoScaleR/rxLibs/x64/RegisterRExt_exe saying RegisterRext.exe /installpkgmgmt has to be ran first. When I ran it, I got the following error:

Source directory to pick the RExtension binaries deter

[2019-09-05 14:22] ChristosMonogios opened #2903 "Missing parameter in text"
On the first Parameter/Description table:

mcr.microsoft.com/mssql/server:2017-latest - The SQL Server 2017 Linux container image.

the -d is missing in front of the image name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b152444b-dfb8-5cbe-cf45-9830bd085a68
* Version Independent ID: 31719660-d4d0-7f63-efcc-846c822a6

[2019-09-05 14:35] awbloss opened #2904 "Excellently written. Thank you."
Very helpful and very well written. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d550c681-67e1-78a3-119e-a46b30821d99
* Version Independent ID: 64d394ce-e80f-72c9-0590-4dd8a8801d0c
* Content: [Atomic Blocks - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/in-memory-oltp/atomic-blocks

[2019-09-05 14:38] stevenluda commented on #2896
RegisterRext.exe /installpkgmgmt went through successfully. It turned out /instance has to be specified. Also, enable pkg mgmt at database level. Tried sql_install.packages(connectionString = connection, pkgs = "glue", verbose = TRUE, scope = "public") again, still giving same error:
Error: The package management feature is not enabled for the current user or not supported on SQL Server version 13

[2019-09-05 14:48] msebolt commented on #2904
@awbloss  Thank you for the feedback.  It's nice to know we can help.

Including @CarlRabeler

[2019-09-05 14:48] #2904 closed

[2019-09-05 14:59] msebolt commented on #2896
Thank you for your efforts, this is good information for the product team.

I'll assign this over to the author now.

[2019-09-05 15:01] msebolt commented on #2903
@ChristosMonogios Thank you for the feedback.

The documentation has been updated.

[2019-09-05 15:01] #2903 closed

[2019-09-05 16:52] dphansen commented on #2739
@dun-edwards My apologies for the delay. Columnstore indexes are supported in SQL Server 2016 SP1 and later. Please apply the latest service pack to your SQL Server and it should work. For more information, see the [RDBMS Scalability and Performance section in Editions and supported features of SQL Server 2016](https://docs.microsoft.com/en-us/sql/sql-server/editions-and-components-of-sql-server-2

[2019-09-05 16:52] #2739 closed

[2019-09-05 17:03] dphansen commented on #2850
@stevenluda Thank you for your doc idea. We are looking into if/how we can document this for SQL Server Machine Learning Services. In the meantime, please have a look at the [reference documentation for RevoScaleR](https://docs.microsoft.com/en-us/machine-learning-server/r-reference/revoscaler/revoscaler) for Machine Learning Server, which is also used for SQL Server.

[2019-09-05 17:03] #2850 closed

[2019-09-05 17:20] haveyoumetcp opened #2906 "Typo"
"Use an external table toc reate an external table for use with an elastic query."

Should be:

"Use an external table to create an external table for use with an elastic query."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7ac2fe2-31da-7db6-2d5f-5091022f41d2
* Version Independent ID: bbf07c2c-7006-7b94-f12f-800fa7b

[2019-09-05 17:35] WilliamAntonRohm commented on #2906
@haveyoumetcp -- thank you for letting us know.

[2019-09-05 17:50] WilliamAntonRohm commented on #2906
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2019-09-05 17:50] #2906 closed

[2019-09-05 18:21] MatthewERossi opened #2907 "Documentation incorrectly indicates SQL DW supports Try_Cast"
At the time of this issue 9/5/2019 Try_Cast is not supported by SQL DW but the site indicates that it is at the top.

[2019-09-05 19:23] WilliamAntonRohm commented on #2907
@MatthewERossi  Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-09-05 19:45] jschmidt0723 opened #2908 "Failover Cluster possible owners"
Do not use the Failover Cluster Manager to manipulate availability groups:

For example:

Do not change any availability group properties, such as the possible owners.

--

Can there be any note or reason why we cannot change possible owners for a failover cluster in a SQL AG?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-09-05 20:16] MashaMSFT commented on #2908
Hi @jschmidt0723 , thanks for contacting Microsoft! Let me investigate this a bit and get back to you :)

Thanks!
Masha from the SQL Docs team

[2019-09-05 22:32] MashaMSFT commented on #2755
Hi @ma17961363 , thank you for patience as I researched this for you!

This is an expected limitation of the availability group infrastructure. If there is a disconnection between the primary and secondary replica, then changes will not propagate, and therefore data will not be synchronized. This is documented here: https://docs.microsoft.com/en-us/sql/database-engine/availability-groups/windows/a

[2019-09-05 23:22] garyericson commented on #2896
@stevenluda - Thanks for filing this issue with all the detail. It turns out that the sqlmlutils package doesn't work with 2016, it only works with SQL 2017 or later. We'll work on correcting the versioning of the article and then document an alternative for 2016. At this point it looks like the alternative for 2016 is to either run install.packages from within the SQL instance folder (e.g., `C:\P

[2019-09-05 23:59] dlieser opened #2911 "Microsoft Sync Framework"
Sync Framework is mentioned on this page, but is sunsetting, with no apparent direct replacement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c051760-30c7-a96c-f4f2-db49a468b432
* Version Independent ID: f5426e86-2456-8231-5fea-d856bae84e83
* Content: [SQL Server Replication - SQL Server](https://docs.microsoft.com

[2019-09-06 00:15] werebear73 opened #2912 "apt-get update failing"
I'm getting the following error when trying to update before the install.

E: Some index files failed to download. They have been ignored, or old ones used instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41654ae8-cbd1-c5dd-f15a-69466a765fda
* Version Independent ID: 94311dce-80f0-b8ce-7296-b595ff50d640
* Conten

[2019-09-06 01:26] MashaMSFT commented on #2911
Hi @dlieser , thanks for bringing this to our attention! Let me do a bit of research and get back to you :) Thanks!

Masha from the SQL Docs team

[2019-09-06 02:31] ivanlopezmolina commented on #2608
I was having issues with the same ! on Mac but the problem was the double quotation (") I replaced them by single and worked.

[2019-09-06 03:30] lmil10 commented on #2851
I had the same issue.  I didn't have the latest azdata build.  Once I uninstalled and reinstalled azdata, I got the bdc.json file.

[2019-09-06 09:41] chainhead opened #2913 "Proxy server"
Is there a proxy server solution that has Azure SQL DB as the back-end? Consider ProxySQL - it is a MySQL proxy - https://proxysql.com/#features . Which features of ProxySQL are similarly supported natively with Azure SQL DB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16d91022-0ff5-2a0e-4711-217fd9568018
* Version

[2019-09-06 10:49] macarv-ms opened #2914 "Typo in this sentence (on each host int he Kubernetes)"
Important

We recommend as a best practice to manually update the max_map_count setting manually on each host int he Kubernetes cluster as per instructions in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6f46cd1-caaa-99ac-1098-f15552369f22
* Version Independent ID: 34ec4839-afba-f57e-1a6d-bc453e70b9ce

[2019-09-06 10:53] macarv-ms opened #2915 "Typo in this sentence (same same)"
For example, if you would like to set same same settings for Spark across

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6f46cd1-caaa-99ac-1098-f15552369f22
* Version Independent ID: 34ec4839-afba-f57e-1a6d-bc453e70b9ce
* Content: [Configure deployments - SQL Server big data clusters](https://docs.microsoft.com/en-us/

[2019-09-06 11:04] macarv-ms opened #2916 "The following deploy sequence can be improved (--patch-file patch.json to --patch-file ha-patch.json)."
Despite not wrong, I believe the following example can be improved in order to avoid misleading interpretations.

1. Create a ha-patch.json file
...

2. Clone your targeted profile
azdata config init --source aks-dev-test --target custom-aks

3 .Apply the patch file to your custom profile
azdata bdc config patch -c custom-aks/bdc.json --patch-file patch.json

---
#### Document Details

⚠ *Do not e

[2019-09-06 15:01] rob-smartspace opened #2918 "No detail on what version of SQL Server this was supported from"
I would like to see what version first supported this function (or any function for that matter) and be able to see the differences either in the doc or by being able to navigate to different versions of this doc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5e0826e-9a72-d26c-e82a-2ebc0dc41e62
* Version Independent I

[2019-09-06 15:53] msebolt commented on #2912
@werebear73 Thank you for the feedback.

It's likely certain repositories will be down at any given time during the update.  Do the installation steps fail or are enough repos still available?

[2019-09-06 16:01] msebolt commented on #2916
@macarv-ms  Thank you for the feedback.

Did you have issues during the deploy?  What misleading interpretation are you referring to?

[2019-09-06 16:30] markingmyname commented on #2740
Hi, @W0GER.

Apologize for the delayed response.

With VS 2019, the old SSDT tools such as SSRS, SSAS, and SSIS are now installed through what they call VSIX now.  Microsoft devided to go this route to eliminate the confusion between using the separate SSDT install and VSIX which caused install and uninstall issues with VS 2017 and earlier.

So to answer your direct question about do you need to i

[2019-09-06 16:32] msebolt commented on #2918
@rob-smartspace Thank you for the feedback.

With the version selector this should be possible.

![Capture](https://user-images.githubusercontent.com/6675884/64444224-7f37be00-d088-11e9-9f36-e96e351d4b3c.PNG)

Are there omissions from these versions in the stated article, or are you looking for something older than 2014?

Older archived documentation can be found in [previous versions](https://doc

[2019-09-06 16:51] macarv-ms commented on #2916
Honestly I haven't tried to deploy this way.. my fault and sorry if this is some misleading from my end. Anyway, should't we have the following script for step 3:

azdata bdc config patch -c custom-aks/bdc.json --patch-file ha-patch.json

instead of

azdata bdc config patch -c custom-aks/bdc.json --patch-file patch.json

Once in step 1 we have created ha-patch.json and not patch.json?

Thanks!

[2019-09-06 16:53] msebolt commented on #2916
No worries, I should have caught that.  We'll get the documentation updated.

[2019-09-06 17:09] EikisteinS opened #2921 "In picture EKH with AKV - master ou user database?"
Can you confirm whether in the picture that compares EKH (traditional) and EKH with AKV, the bottom right green (SQL Server instance) is indeed to be master database and not user database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8a49313-385a-3f77-5468-f6b5c631adcb
* Version Independent ID: 913fde38-b0c6-6abc-1a

[2019-09-06 17:22] perennialmind opened #2922 "Suggestion: call input range disparity between CHAR() and NCHAR()"
Given that the `NCHAR` function was extended to support non-BMP/supplementary codepoints with adequate storage for UTF-16 surrogate pairs, changing the return type to`NVARCHAR(2)`, one might reasonably expect the `CHAR` function to likewise support UTF-8 collations by returning `VARCHAR(4)`. As this is not the case, please consider updating the "non-European character set" note which references th

[2019-09-06 17:25] msebolt commented on #2914
@macarv-ms  Thank you for the feedback.

The documentation has been updated.

[2019-09-06 17:25] #2914 closed

[2019-09-06 17:25] msebolt commented on #2915
@macarv-ms  Thank you for the feedback.

The documentation has been updated.

[2019-09-06 17:25] #2915 closed

[2019-09-06 17:28] msebolt commented on #2916
Documentation has been updated, please comment below if there are further issues.

[2019-09-06 17:28] #2916 closed

[2019-09-06 17:35] msebolt commented on #2608
Also noticed `!` in password needs to be replaced throughout.

[2019-09-06 17:38] markingmyname commented on #2805
@ma17961363,

Sorry for the delayed response.

I am not 100% sure what you are referencing.  In the article, it does not reference a "service."

Is this message coming from a popup on your machine?

[2019-09-06 17:42] markingmyname commented on #2887
@Sandmaann,

Do @msebolt's suggestions address your question?

[2019-09-06 18:09] MashaMSFT commented on #2689
Hi @jacodegrootoodle , thanks for contacting Microsoft and bringing this to our attention! Since this forum is intended for doc bugs, would you mind submitting a bug report directly to the product group so that it hits their radar, if it's not already? You can do so at [https://aka.ms/sqlfeedback](https://aka.ms/sqlfeedback).

Thanks!
Masha from the SQL Docs team

[2019-09-06 18:31] jacodegrootoodle commented on #2689
Masha,

I recommend you explicitly describe this bug in your documentation as a known issue. This bug has been around for many years and is unlikely going to be fixed as it would break backwards compatibility.

[2019-09-06 21:15] srutzky commented on #2922
@perennialmind Yes, this is a confusion caused by the current wording of the doc. Please see the UTF-8 specific feedback I opened because this behavior wasn't more obvious and not well documented:

[UTF-8 in SQL 2019: CHAR() function broken in databases with "_UTF8" default Collation](https://feedback.azure.com/forums/908035-sql-server/suggestions/35587813-utf-8-in-sql-2019-char-function-broken-in

[2019-09-06 21:22] srutzky commented on #2846
FYI, regarding getting instance-level permissions, please see:

[Safely and Easily Use High-Level Permissions Without Granting Them to Anyone: Server-level](https://sqlquantumleap.com/2018/02/15/safely-and-easily-use-high-level-permissions-without-granting-them-to-anyone-server-level/)

Take care,
Solomon...
https://SqlQuantumLeap.com/

[2019-09-06 21:36] perennialmind commented on #2922
@srutzky Thank for calling that out. I was thinking of "surrogate pairs", as amended.

As for the uservoice suggestion: I wholeheartedly agree that extending parity to CHAR() would be ideal. (I chimed in on that on back in January). Absent that sensible change, our best bet is to be precise and advertise the rough edges.

[2019-09-06 21:42] mdell-seradex commented on #2846
I don't really understand how that is a solution.  That is more a workaround to what appears to be an undocumented bug.
The documentation says it works for the less privileged users as long as they only access their information, but the error being thrown basically means that this is untrue in any useful automated way.
It does NOT say that users can really only do this within management studio bec

[2019-09-06 22:43] WilliamAntonRohm commented on #2764
@MikeRayMSFT -- please process this aging issue 2764.

[2019-09-07 07:45] DumboJetEngine opened #2926 "This does not work in my case"
I have written this script to enable protocols:

[code]
I always get an error saying:
[code]

I have tried running it with the 32 bit version of powershell and still nothing.
Using the exact code that the docs propose fails as well:

[code]

I have a named instance and I run the script on the computer where the instance is running.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-09-07 10:03] ph3ll3r opened #2927 "Installing SSIS in docker microsoft/mssql-server-linux failed"
What do I need to add to the docker OS Ubuntu to successfully add to install SSIS?  Are there suggested links ?

sudo /opt/ssis/bin/ssis-conf setup
The license terms for this product can be downloaded from:
https://go.microsoft.com/fwlink/?LinkId=855862

The privacy statement can be viewed at:
https://go.microsoft.com/fwlink/?LinkId=853010

### **Failed to connect to bus: No such file or directory

[2019-09-07 17:23] DumboJetEngine commented on #2926
Found it!
I had to remove the `MSSQL$` part from the instance name.
The docs where misleading on this...

[code]

[2019-09-08 09:12] djpirra opened #2930 "Installation instructions"
It should contain information here about installation from command line with possible arguments list etc...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Management Studio (SSMS) - SQL Se

[2019-09-09 12:46] andrewdmay opened #2932 "Are Environment Variables supported for Configuration?"
The documentation notes that Environment Variables are not resolved in a file path, but are they supported for configuration?

We have this in a package:
[code]

This works on Windows when calling dtexec, but on Linux we get this error:

Description: The configuration environment variable was not found.  The environment variable was: "ENVIRONMENT". This occurs when a package specifies an environme

[2019-09-09 13:30] stevestein commented on #2743
@abowen - thanks for raising this issue. I'm investigating your query and will reply when I have some info.

Thanks!

[2019-09-09 13:38] user186 opened #2933 "Tutorial Lesson 2-3 step 2 failed to work"
I'm new to SSIS and just started to learn by following the tutorial.

I have MSSQL 2017 server, SSMT, Visual Studio 2017 (SSDT) installed.

Everything was fine until I reached step 2 in https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/integration-services/lesson-2-3-modifying-the-flat-file-connection-manager.md

There is no "PackagePath" nor "Expressions" properties within the Properties w

[2019-09-09 14:21] stevestein commented on #2745
@brikken - thanks for raising this issue. We've created an internal work item (1595947) to investigate and potentially update the article.

We're going to close to this item and track with our internal work item. Feel free to continue to add any additional info or comments here.

Thanks again for pointing this out.

[2019-09-09 14:21] #2745 closed

[2019-09-09 14:27] rothja commented on #2764
@gitegite @WilliamAntonRohm @MikeRayMSFT Thanks for the correction. I reviewed the PR, merged it, and will now close this git issue. Thank you!

[2019-09-09 14:27] #2764 closed

[2019-09-09 14:41] user186 commented on #2933
Here's the screen capture for reference, it' seems very difficult from what the documentation describes.

![ssis-problem](https://user-images.githubusercontent.com/55093944/64540502-eab4b080-d352-11e9-98c7-ad28f1c6de57.png)

[2019-09-09 15:02] stevestein commented on #2817
@erickson55345 - thanks for opening this issue. I added info to the rename db article per your suggestion. The update should appear in the live article later today.

Thanks!

[2019-09-09 15:02] #2817 closed

[2019-09-09 15:22] stevestein commented on #2846
@mdell-seradex - thanks for raising this issue. We're currently investigating...

[2019-09-09 15:25] mdell-seradex commented on #2846
Thank you very much.

[2019-09-09 15:27] stevestein commented on #2847
@kazshi - thanks for opening this issue. This entire article is related to SQL Database managed instance. Can you clarify your question or what you're running into?

Thanks!

[2019-09-09 16:00] stevestein commented on #2847
@kazshi - to clarify, while you can set the collation at the time of creation, for a SQL database, or SQL Database managed instance, you cannot change the collation after creation. The same restriction applies.

[2019-09-09 16:07] stevestein commented on #2849
@kazshi - thanks for opening this issue. We've added a note to the article where changing collations is mentioned.

Thanks!

[2019-09-09 16:07] #2849 closed

[2019-09-09 16:20] EricF14 opened #2934 "unclear requirements."
There are multiple cases of the word "should" being used in places where the word "must" seems more appropriate. The word "should" implies a best practice but not a requirement. If these are best practices then an explanation should be given as to the alternative and reason for the preference. If these are absolute requirements in order for success then the use of the word "must" is required to en

[2019-09-09 16:30] stevestein commented on #2516
@dallen66 - Thanks again for the feedback. Documentation will be updated with additional information. If there's a specific question or clarification we could address prior to the docs getting updated feel free to provide additional comments.

Thanks.

[2019-09-09 16:30] #2516 closed

[2019-09-09 16:41] joesackmsft commented on #2913
@chainhead In most cases, we cannot add links to third-party products from our SQL documentation. I’m closing this now, but let me know if you have any questions.

[2019-09-09 16:41] joesackmsft commented on #2913
#please-close

[2019-09-09 16:41] #2913 closed

[2019-09-09 17:15] garyericson commented on #2896
#please-close

[2019-09-09 17:15] #2896 closed

[2019-09-09 17:44] phantomflash47 opened #2935 "What about editing a plan?"
You give instructions on creating a maintenance plan, but it seems in practice the time you'd use the design surface is when EDITING a plan. But there's no information about how to do that. If you're editing, how the heck do you get to that "Toolbox?" It seems that's the key, and one is stuck without it, but this page has no clue!

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-09-09 18:22] markingmyname commented on #2740
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-09-09 18:22] #2740 closed

[2019-09-09 18:23] markingmyname commented on #2758
Thank you for your suggestion and request. We're on it. This will be discussed with the parties involved.

In the meantime, please visit [UserVoice](https://feedback.azure.com/forums/908035-sql-server) to see if this issue was already submitted to the product group.

[2019-09-09 19:48] srutzky commented on #2846
@mdell-seradex Ah, sorry. I misunderstood the context. Yes, you are correct. I can reproduce the issue using the following T-SQL:

[code]

Given that `DBCC INPUTBUFFER` does work, that implies that `sys.dm_exec_input_buffer()` should also work for a User to see their own data (which is what you are saying), so it appears that the documentation is correct, but there is a bug in `sys.dm_exec_input_b

[2019-09-09 20:22] mdell-seradex commented on #2846
Interesting, I thought that DBCC INPUTBUFFER previously could not be run by those that did not have high level privileges, such as sysadmin or VIEW SERVER STATE.  Perhaps this has changed or the documentation has, or our understanding of them...
DBCC INPUTBUFFER also has a size limitation.  Hopefully sys.dm_exec_input_buffer() does not have that same limitation.

[2019-09-09 20:34] WilliamAntonRohm commented on #2926
@DumboJetEngine -- thank you for your thorough feedback.

@MikeRayMSFT -- please look into this issue 2926.

[2019-09-09 20:42] WilliamAntonRohm commented on #2930
@djpirra -- Luis, thank you for your suggestions.

@dnethi -- Dinakar, please look into this issue 2930.

[2019-09-09 20:46] WilliamAntonRohm commented on #2933
@user186 -- thank you for your feedback.

@janinezhang -- Janine, please investigate this issue 2933.

[2019-09-09 20:46] msebolt commented on #2927
@ph3ll3r Thank you for the feedback.  We're sorry you're experiencing issues.

SSIS in Docker is not yet supported, however some users have found a way to get it working.

Please refer to issue https://github.com/Microsoft/mssql-docker/issues/213.

[2019-09-09 21:13] mrdenny opened #2936 "Code isn't T-SQL"
That code example is C# not T-SQL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a42662ed-e2f2-18f7-037e-c06c62ef4fcc
* Version Independent ID: 3020bedc-7401-7111-50ad-b35474701781
* Content: [sp_changedistributor_password (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/system-st

[2019-09-09 21:21] dnethi commented on #2930
I don’t think we have an official doc page for cmdline installation of SSMS.
@Matteo Taveggia<mailto:matteot@microsoft.com> – do you have any instructions and all the cmdline options that go with the setup?

Thanks,
Dinakar

From: William Anton Rohm <notifications@github.com>
Sent: Monday, September 9, 2019 1:43 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Dinakar Nethi <Dinakar

[2019-09-09 21:44] markingmyname commented on #2758
@iampeterdaniels

The wording is correct. You can query multi-server via local server group OR CMS.  Don't need both.

[2019-09-09 21:44] markingmyname commented on #2758
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-09-09 21:44] #2758 closed

[2019-09-09 21:46] WilliamAntonRohm commented on #2932
@andrewdmay -- Andrew, thank you for your feedback.

@lrtoyou1223 -- Leo, please look into this issue 2932.

[2019-09-09 21:48] markingmyname commented on #2747
@RyanTaite

We have created a docs item internally to update all the ADS tutorial articles.

We realized their screenshots are a bit out of date, so we will work on updating all of them.

No planned ETA about when this will be completed, but we do have it on our radar.

Thank you.

[2019-09-09 21:48] markingmyname commented on #2747
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-09-09 21:48] #2747 closed

[2019-09-09 22:56] markingmyname commented on #2805
@ma17961363

You can open the SQL Server Configuration Manager and see the SQL Native Client 11.0 Configuration option.  Is this what you are trying to get to?

Please let us know.

[2019-09-09 23:13] WilliamAntonRohm commented on #2935
@phantomflash47 -- thank you for your feedback.  You may find an answer here:
- [Support for on premises products](https://support.microsoft.com/en-us/supportforbusiness/productselection)
- [Support for SQL on Azure](https://ms.portal.azure.com)
- [DBA Stack Exchange (tag sql-server) - ask SQL Server questions](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow (tag sql-s

[2019-09-09 23:18] WilliamAntonRohm commented on #2936
@mrdenny -- thank you for your feedback, and can you please provide me with some additional details.  The only example I found on that page is SQL:

[code]

[2019-09-09 23:20] mrdenny commented on #2936
$(Password) isn’t a T-SQL variable.  It should look something like this.

USE master

DECLARE @password nvarchar(50) = “YourLongP@$$w0rdHere”

EXEC sp_changedistributor_password @password

GO

Thank You,
Denny Cherry
Owner & Principal Consultant
Denny Cherry & Associates Consulting, an Inc. 5000 company
denny@dcac.com<mailto:denny@dcac.com>
(o) +1 (323) 686-1478<tel:3236861478> | (d) +1 (213) 973-

[2019-09-09 23:34] KrystinaWoelkers opened #2937 "Update your version of SQL Server"
Hello! I was wondering if security updates are also included in the latest CU. I know that the previous CU fixes are included in the most recent, but I wasn't 100% sure about security updates!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39949710-4382-6df8-9f49-91cc87e2f3e8
* Version Independent ID: a1ceff32-9f8e-5c1

[2019-09-10 00:16] MashaMSFT commented on #2678
Hi @HakuAnnaruto , just wanted to give you an update and let you know I'm still researching this.

Thanks!
Masha from the SQL Docs team

[2019-09-10 02:24] bluey47 opened #2938 "Issue with SSRS Mobile reports custom Map Instructions"
Hi,

https://docs.microsoft.com/en-us/sql/reporting-services/mobile-reports/add-a-custom-map-to-a-reporting-services-mobile-report?view=sql-server-2017

The above page contains incorrect information and I have spent several days trying to get my custom map to work.

It turns out it doesnt use the "NAME" field from the DBF File to match with the key data. It uses the first column in the DBF file re

[2019-09-10 03:47] markingmyname commented on #2747
This particular article should be updated by the end of the week.

thank you again for bringing this to our attention.

[2019-09-10 04:18] #2755 closed

[2019-09-10 05:46] srutzky commented on #2846
I haven't tested prior versions to see if permissions behavior is the same or different, but I did test max length and yes, `DBCC INPUTBUFFER` is limited to `NVARCHAR(4000)` while `sys.dm_exec_input_buffer` is `NVARCHAR(MAX)`. I was able to get a batch fully returned from `sys.dm_exec_input_buffer` that was > 6000 character / 12k bytes.

[2019-09-10 06:06] omnimose opened #2940 "incorrect cmd: azdata config init --source aks-dev-test --target custom-aks"
azdata config init --source aks-dev-test --target custom-aks

This is incorrect, should be:
azdata bdc config init --source aks-dev-test --target custom-aks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7a52d6b-4d65-8e74-78f0-51387397ae21
* Version Independent ID: 576d9270-ad4c-bedf-cce9-a3b260183f0d
* Content: [Depl

[2019-09-10 06:21] kazshi commented on #2847
@stevestein
1) I was not sure if the the entire article is related to SQL Database managed instance since Azure SQL Managed Instance is not listed in the APPLIES TO: (top of the page).
2) The Note says "Collation cannot be changed after database has been created on Azure SQL Database." (I assume it's about database, not server or instance) however actually Azure SQL Database collation can be chang

[2019-09-10 06:34] valerymoskalenko opened #2941 "misspelling of directorya"
Looks like a misspelling. Instead of "and select the target directorya." should be "and select the target directory."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf3df6af-9ac8-bc57-93dc-29ff713c1d3b
* Version Independent ID: 7624e2cc-7aa9-40dd-4015-3371ea2ea0a2
* Content: [Download and install sqlpackage - SQL Serve

[2019-09-10 08:04] d3katja opened #2942 "The wizard has changed since the article was written"
In Visual Studio 2017, 15.9.11, there is no item called Tasks in the context menu. "Extract Data-tier Application..." is placed directly in the menu. The wizard is not looking the same as described in the article. It would be helpful to have a note reading "this article applies to version x, but you can follow it anyway" so you don't wonder if you are in the right place or not.

---
#### Document

[2019-09-10 08:52] t104 opened #2943 "Link "Redistribution License for Microsoft JDBC Driver 4.0 for SQL Server" is broken"
Link "Redistribution License for Microsoft JDBC Driver 4.0 for SQL Server" is broken.
The link is in this doc (https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/connect/jdbc/redistributing-the-microsoft-jdbc-driver.md).
It is linked to "https://msdn.microsoft.com/sqlserver/jj589698", but redirected to "https://docs.microsoft.com/en-us/sql/sql-server/sql-server-technical-documentation?view=s

[2019-09-10 11:40] mco100 opened #2944 "$sqlpsreg"
incorrect value for registry key on Windows system hosting SQL Server 2019 instance ?
I had to change key name to
HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.SqlServer.Management.PowerShell.sqlps150

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca91cbd9-efe5-1de5-7da6-6137b0437a3d
* Version I

[2019-09-10 12:38] HakuAnnaruto commented on #2678
Thanks for the update. Somebody sent me an email and said it was already done?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Masha at MSFT <notifications@github.com>
Sent: Monday, September 9, 2019 8:16:41 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Haku <thewonderofit@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Mic

[2019-09-10 15:35] maadityo commented on #2109
hi, may i know what is the impact of "sp_query_store_consistency_check" ? does it will block the transaction or what is the impact? i have search but found nothing.
thanks

[2019-09-10 16:07] msebolt commented on #2937
@KrystinaWoelkers Thank you for the question.

The SQL Server CU update will bring your version to the latest stable release and includes fixes and security updates.

The list of fixes is included [with the CU release info](https://support.microsoft.com/en-us/help/4508218/cumulative-update-16-for-sql-server-2017) and security information is included with the issue itself.  For example, [this secur

[2019-09-10 16:13] rothja commented on #2855
@danvalero Thank you for your question. Per @vin-yu 's response, we'll be providing more guidance soon, but we don't have the steps documented just yet. For now, we will close the git issue, but I will try to remember to post back here when we have documentation available on this. Thank you!

[2019-09-10 16:13] #2855 closed

[2019-09-10 16:15] rothja commented on #2775
@baleng At this time, I don't think that there is anything we can do from a documentation standpoint. And it looks like @msebolt added this as a bug/feedback-item. I am going to close the issue at this time. I apologize you ran into this experience, and please let me know if you have any other questions. Thank you!

[2019-09-10 16:15] #2775 closed

[2019-09-10 16:26] MashaMSFT commented on #2678
@HakuAnnaruto , I am not sure what the context of that email is... It did not come from this Git Issue conversation, so I am not sure who emailed what. Sorry about that!

Thanks!
Masha from the SQL Docs team

[2019-09-10 16:27] msebolt commented on #2943
@t104  Thank you for the feedback.

Assigning this to the author for confirmation.

[2019-09-10 16:37] maggiesMSFT commented on #2938
Thanks for letting us know, @bluey47 ! I'll update the docs to reflect that.

[2019-09-10 16:43] #2918 closed

[2019-09-10 16:48] PratikSawalkar opened #2948 "getting problem while setting password"
I am not able to set my password.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5634d572-0020-808b-693a-13addc8861d9
* Version Independent ID: 136bab7d-d4d1-1e82-ba89-be2020bc784b
* Content: [Get started with SQL Server on Ubuntu - SQL Server](https://docs.microsoft.com/en-us/sql/linux/quickstart-install-connect-ubunt

[2019-09-10 17:01] msebolt commented on #2608
@ivanlopezmolina Can you reference a command in particular?  The double quotes seem to be working for me on Mac.

[2019-09-10 17:02] VanMSFT commented on #2948
Hello @PratikSawalkar! Thanks for submitting this issue. Unfortunately, this forum is for reporting any documentation issues. Please contact Microsoft Support, or use the following links to help with your issue:

- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Setup and Upgrade -  MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/h

[2019-09-10 17:04] #2948 closed

[2019-09-10 17:05] #2940 closed

[2019-09-10 17:06] msebolt commented on #2941
@valerymoskalenko Thank you for the feedback.

The documentation has been updated.

[2019-09-10 17:06] #2941 closed

[2019-09-10 17:10] msebolt commented on #2776
There is nothing further that can be done with the documentation.

Please direct feedback to the link posted above.

[2019-09-10 17:10] #2776 closed

[2019-09-10 17:24] MikeRayMSFT commented on #2661
@Guillaume-Fourrat - thank you for the recommendation. This is not a capability we currently plan on supporting. #please-close

[2019-09-10 17:24] #2661 closed

[2019-09-10 17:39] srutzky commented on #2827
@victren , @msebolt , @MikeRayMSFT : it appears that this behavior changed in SQL Server 2016. Until that version, the behavior matches the documentation (and to be clear, based on "Converting float and real data" section on the "float \& real" page, this only ever affected float literals expressed in scientific notation):

[code]
The results in the T-SQL comments above were based on testing in SQ

[2019-09-10 18:22] srutzky commented on #2827
Actually, my first test for "Decimal notation" is flawed as that is converting a Decimal literal to `DECIMAL`. I re-did the test using a `FLOAT` datatype (just like @victren 's original test) and found the true nuance:

[code]

The final two cases both show `5E-18` as the float value, but clearly the underlying value is not identical as one of them converts to 0 and the other converts to a non-zer

[2019-09-10 19:12] srutzky commented on #2827
Updated both pages via PR #2951 .

Take care,
Solomon...
https://SqlQuantumLeap.com/

[2019-09-10 20:17] phantomflash47 commented on #2935
I finally figured out, no thanks to the Microsoft instructions, that there’s a menu selection View – Toolbox. But it’s up in the main menu, not in the maintenance plan design space where everyone would look for it.

          -- Warren

From: William Anton Rohm <notifications@github.com>
Sent: Monday, September 09, 2019 6:14 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Warren Od

[2019-09-10 20:45] shkale-msft commented on #2516
Documentation has been updated. Thanks!

[2019-09-11 02:14] simonpinn commented on #2414
+1 same issue here Windows 10 1803 docker desktop 2.1.2.0

[2019-09-11 03:22] julieMSFT commented on #2109
@TwoUnder Matt, can you comment on this customer question?

[2019-09-11 06:00] srutzky commented on #2922
@perennialmind / @xemed-ahope : No problem. And thanks for your input on that FeedBack item. I now see the connection between the usernames and the avatar.

I see that you updated the main post here, but also that you used "supplementary characters" in your comment on that FeedBack item. I think that "supplementary characters" is more accurate than "surrogate pairs" because technically speaking, c

[2019-09-11 09:41] MightyPen commented on #2943
@David-Engel Hi David, Can you find a link that should replace the lost link (jj589698) discovered by the customer.

- _Article containing the bad link to the license:_ &nbsp;  `https://docs.microsoft.com/sql/connect/jdbc/redistributing-the-microsoft-jdbc-driver`

- _Another loosely related article, to JDBC licenses:_ &nbsp; `https://docs.microsoft.com/sql/connect/jdbc/frequently-asked-questions-f

[2019-09-11 12:06] victren commented on #2827
thanks, this change will have effect on code migration from old version to SQL2016, cheers

[2019-09-11 12:06] #2827 closed

[2019-09-11 13:26] tomgilmour opened #2955 "dbo.agent_datetime(run_date, run_time)"
As a suggestion: https://www.mssqltips.com/sqlservertip/2850/querying-sql-server-agent-job-history-data/ mentions using the agent_datetime() scalar function to convert the run_date and run_time into a single datetime format, which may be more useful in some situations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f11

[2019-09-11 14:15] rothja commented on #2414
@mirsaeedi @simonpinn Thanks for the additional configuration details. I'll try to look into this more and reply on this thread.

[2019-09-11 15:07] srutzky commented on #2827
@victren You're welcome 😺 .

[2019-09-11 15:50] perennialmind commented on #2922
@srutzky : Comments like yours have value for posterity, preserving clarifications and perspectives, and for me personally, just not. It wouldn't occur to individually address and fabricate surrogate code units with a UTF-16 type. I tend to forget that `NCHAR` was a UCS2 type until relatively recently. That's exactly the sort of intermixing of abstractions that's prohibited for DBCS character sets

[2019-09-11 18:23] adamdes opened #2956 "Syntax for Step 3 under 'Manual failover without data loss' is not correct"
The syntax for Step 3 under 'Manual failover without data loss' is not correct.

It should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e357702e-ddfb-eb9c-d6a5-a5274d87b320
* Version Independent ID: a809b6ec-7bf2-4cce-b4af-c06fdd1b00bd
* Content: [Configure read-scale for an availability group - SQL Server

[2019-09-11 19:36] WilliamAntonRohm commented on #2955
@tomgilmour -- Tom, thank you for your feedback.  I am looking into it.

[2019-09-11 19:37] WilliamAntonRohm commented on #2956
@adamdes -- thank you for your feedback.  I am looking into it.

[2019-09-11 19:59] WilliamAntonRohm commented on #2756
@MladjoA -- please review.

[2019-09-11 20:17] WilliamAntonRohm commented on #2934
@EricF14 -- thank you for your feedback.  I have updated the documentation accordingly and it is pending review.

[2019-09-11 21:16] blin4444 opened #2957 ""Microsoft Edge constraints" navigation entry under SQL Server 2017/Database design/Tables"
Perhaps the title should be "Graph edge constraints" instead of "Microsoft Edge constraints"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0840e04-b52d-2c5f-197d-26bec998fcaa
* Version Independent ID: 40ca3965-4f80-cbb3-839c-3244a536675e
* Content: [Graph edge constraints - SQL Server](https://docs.microsoft.com/en-

[2019-09-11 21:54] calabast opened #2958 "Index/Table wording swap"
In the opening paragraph, the last sentence says "...an index on a memory-optimized index differs..."

I believe it should read "...an index on a memory-optimized table differs..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a9c5960-23d2-409d-1899-9bd8e079c217
* Version Independent ID: 5626e74a-6059-ab65-5564-cf182

[2019-09-11 21:55] rootsmusic opened #2959 "AdventureWorks Installation and configuration"
Under the section ["Install to Azure SQL Database"](https://docs.microsoft.com/en-us/sql/samples/adventureworks-install-configure?view=sql-server-2017#install-to-azure-sql-database), please add instructions for other sample versions (which are still used by some courseware).

[2019-09-11 23:50] WilliamAntonRohm commented on #2956
@adamdes, I have updated the documentation and it should be live by tomorrow.  Thank you for your keen eye.

[2019-09-11 23:50] #2956 closed

[2019-09-12 00:04] rootsmusic opened #2960 "[Question] docs for Express edition"
Where can I find your [docs](https://docs.microsoft.com/en-us/sql/) for the Express edition?  Thanks.

[2019-09-12 00:37] mdell-seradex opened #2961 "Requirements conflict between this page and the download page for SQL 2016 Express"
The download page ([Download Microsoft® SQL Server® 2016 Service Pack 2 Express](https://www.microsoft.com/en-us/download/details.aspx?id=56840&WT.mc_id=rss_alldownloads_all&wa=wsignin1.0&lc=1033)) says SQL 2016 Express is supported on Windows Server 2008 R2, but this page does not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-09-12 00:53] simonpinn commented on #2414
@rothja I had some success changing the volume mount to include */data* so:
[code]
However this only mounts the data dir, which as it happens is enough for me, as I want to persist the *mdf/*.ldf's - however it isn't as describe in documentation, and logs etc are not mounted.

thanks

[2019-09-12 02:13] MightyPen commented on #2958
@calabast Hello, The fix for this Issue #2958 will be merged in tomorrow, with private repo #12018.

- `https://github.com/MicrosoftDocs/sql-docs-pr/pull/12018`

Thank you for submitting this Issue. We hope to hear from you again.

By the way, customers like you have the option of directly editing Microsoft's documentation article, to fix or update as you see fit.  We then review the proposed chan

[2019-09-12 02:14] MightyPen commented on #2958
Oops, closing now.

[2019-09-12 02:14] #2958 closed

[2019-09-12 03:32] #2960 closed

[2019-09-12 08:38] cvereker opened #2962 "FIRST_NONNULL_VALUE"
It would be hugely helpful to have an inbuilt first non-null value function, rather than having to build our own in C# CLR!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35f79de5-2cb7-ad78-ae1e-0dc617b027c6
* Version Independent ID: e633d0e5-9bd0-5e07-2698-ca1f4475abcf
* Content: [FIRST_VALUE (Transact-SQL) - SQL Serv

[2019-09-12 12:28] JoelMacKenzie opened #2964 "Where can I find out what the number returned means?"
I have error 547.  What did I do wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6493c898-6f12-f44f-26df-28864300c101
* Version Independent ID: 9c3a6e72-7f63-7e73-722c-433e43715770
* Content: [ERROR_NUMBER (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/functions/error-number-transact-sql?

[2019-09-13 01:51] sahmed257 opened #2971 "Installation"
When I am trying to install SSMS its splashing and do nothing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Management Studio (SSMS) - SQL Server](https://docs.microsoft.com/en-us/sql/ss

[2019-09-13 05:45] iuriivaschuk opened #2972 "Incorrect application name"
Incorrect application name addpy.
Must be add-app

azdata app describe --name addpy --version v1
"app": "https://10.1.1.3:30080/app/addpy/v1",
"swagger": "https://10.1.1.3:30080/app/addpy/v1/swagger.json"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8546addb-1209-b474-62c8-3efe0967739f
* Version Independent ID: cc463

[2019-09-13 14:13] kae36 opened #2973 "Need another example of how to read an array of JSON objects"
All the JSON object examples in the documentation of JSON_VALUE and JSON_QUERY seem to only show examples of how to handle a single root JSON object, but there are no examples of how to handle an array of JSON Objects at the root level.   For example, consider these arrays of JSON objects.

First Example, Where the Array is an array of a JSON object (type, name, value).
`
DECLARE @json NVARCHAR(MA

[2019-09-13 14:37] msebolt commented on #2972
@iuriivaschuk Thank you for the feedback.

The documentation has been updated.

[2019-09-13 14:37] #2972 closed

[2019-09-13 14:42] jovanpop-msft commented on #2973
JSON_VALUE can reference a value in the JSON array but you would need to explicitly hardcode the index for every path, like: `SELECT JSON_VALUE(@json, '$[2].key')`

In this case it is better to use OPENJSON because it is designed to process array and return table as result.

[2019-09-13 14:46] msebolt commented on #2957
@blin4444  Thank you for the feedback.

The documentation has been updated.

[2019-09-13 14:46] #2957 closed

[2019-09-13 16:50] Ditronian opened #2974 "Files still in use."
After closing the solution, Visual Studio keeps using it for a prolonged period of time, making it un-deletable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd2c8cc5-dfd5-bcf8-cb75-e0d44ffe13bf
* Version Independent ID: d2af2fb6-203c-87d7-e8eb-151a9c46af29
* Content: [Delete a Solution - SQL Server](https://docs.mic

[2019-09-13 16:51] RobAshton-IM opened #2975 ""sysmail_add_principalprofile_sp" introduction uses the term "role" incorrectly"
The introduction paragraph to the "sysmail_add_principalprofile_sp" stored procedure uses the term "role". This can lead the reader to imply that it is possible to associate either Application Roles or Database Roles in the msdb database to a Database Mail profile.

This is incorrect; the "sysmail_add_principalprofile_sp" stored procedure internally calls the "sysmail_verify_principal_sp" stored p

[2019-09-13 18:36] MarkB-Dansko opened #2976 "Need more complete info"
The example powershell script under "Starting and stopping a service in PowerShell"
Does not show how to connect the ManagedComputer instance to a different (remote) SQLServer machine. Can this be enhanced to show that (rather significant) detail?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c80d6fd-2aa6-ddb6-1184-4

[2019-09-13 20:01] WilliamAntonRohm commented on #2974
@Ditronian -- thank you for your feedback.  Please see [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-sql-server).

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-09-13 20:01] #2974 closed

[2019-09-13 20:03] WilliamAntonRohm commented on #2976
@MarkB-Dansko -- thank you for your suggestion.

@markingmyname -- please look into adding this information.

[2019-09-13 20:38] markingmyname commented on #2805
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-09-13 20:38] #2805 closed

[2019-09-13 20:39] markingmyname commented on #2887
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-09-13 20:39] #2887 closed

[2019-09-14 03:07] davepend commented on #2785
@tomuxmon, what you are looking for is here:

https://docs.microsoft.com/en-us/sql/relational-databases/triggers/ddl-event-groups?view=sql-server-2017

[2019-09-15 07:02] jaimeres opened #2982 "SQLSRV_CONNECT NO REGRESA TODOS LOS REGISTROS DEL QUERY"
Hola tengo un problema con sqlsrv_connect en PHP

Me conecto desde php Ubuntu por medio de SQLSRV_CONNECT a SQL, hasta ahora todo bien, el detalle es que al consultar bastante información y solo esta regresando 13846, el mismo query lo ejecuto en Server 2014 Management Studio y regresa casi 30000 registros.

`$resOC=$objCon->ejecutar($query);
$con=0;
while($c= sqlsrv_fetch_array($resOC))
{
$con++;

[2019-09-15 20:28] GeorgeJahad opened #2983 "openssl not "openssql""
openssl not "openssql"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8029b968-0ef5-a3a0-050f-a0b0189e5984
* Version Independent ID: 2ffb6a1e-5672-7742-d685-1d418c24f29c
* Content: [Encrypting Connections to SQL Server on Linux - SQL Server](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-encrypted-connecti

[2019-09-16 02:14] griffinator76 opened #2984 "TABLE_SCHEMA reliability warning - is this still valid?"
As raised years ago on Connect (https://web.archive.org/web/20121126175858/http://connect.microsoft.com/SQLServer/feedback/details/686118/doc-information-schema-tables-gives-improper-warning-about-schema) the INFORMATION_SCHEMA definition uses the same underlying schema_id as sys.objects so there doesn't appear to be any possible way it could show a different schema to the one in the sys catalog v

[2019-09-16 06:53] demokert commented on #2668
Is it possible to give an example for Group Managed accounts as well ? I'm using this on our SQL Servers. When I generate the setspn commands for them with this tool: [Microsoft® Kerberos Configuration Manager for SQL Server® ](https://www.microsoft.com/en-us/download/details.aspx?id=39046)

It says misplaced SPN afterwards.. so any advice or even an update for this tool would be highly appreciate

[2019-09-16 06:57] iuriivaschuk opened #2986 "Incorrect master service url"
mssql_spark_connector.ipynb contain incorrect master service url

servername = "jdbc:sqlserver://master-0.master-svc"
master-0 - not service name

servername = "jdbc:sqlserver://master-svc"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a9e7588-f740-33b4-303b-e927f3400414
* Version Independent ID: 186607e3-fd55-5d9b-2

[2019-09-16 07:56] #2756 closed

[2019-09-16 08:00] WilliamAntonRohm commented on #2955
@stevestein -- Steve, please look into this issue 2955.

[2019-09-16 10:18] feO2x opened #2987 "How to properly close and deallocate a cursor?"
While the docs for TSQL cursors explain how to they can be [closed](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/close-transact-sql?view=sql-server-2017) and [deallocated](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/deallocate-transact-sql?redirectedfrom=MSDN&view=sql-server-2017), there is no coherent example where a cursor is declared, opened, used, and then clos

[2019-09-16 10:48] rkhjjs opened #2988 "Error after following instructions"
I followed the instructions and examples on this page and on running the script I got this error:

`All files must be specified for database snapshot creation. Missing the file "ggc".`

The article needs a note saying the `NAME` parameter must be the same as the logical name of the data file, otherwise error 5127 is shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-09-16 16:13] msebolt commented on #2986
@iuriivaschuk Thank you for the feedback.

This is a product issue as opposed to documentation.

Can you move the issue to the [sql-server-samples](https://github.com/microsoft/sql-server-samples/issues) issues?

[2019-09-16 16:35] #2983 closed

[2019-09-16 17:26] g-kannan opened #2989 "Section 4.a threshold option is set to 0"
Should the vaule for "@threshold_alert_enabled" to be 1 in 4.a "On the new primary server"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea474667-7ade-302f-1906-695a8f86b122
* Version Independent ID: 17205b9e-5555-1ff8-cca6-2689b9c54aaa
* Content: [Change Roles Between Primary and Secondary Log Shipping Servers (SQL

[2019-09-16 17:46] ameert opened #2990 "Doesn't work in Azure SQL Data Warehouse"
Document says it applies to SQL Data Warehouse, but I get
Msg 104162, Level 16, State 1
'FORMAT' is not a recognized built-in function name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f019407-5787-6f54-1027-084e817b6b8e
* Version Independent ID: a92541d0-b63a-9603-2a1f-18e210be89e4
* Content: [FORMAT (Transact-SQL

[2019-09-16 19:13] MarkB-Dansko commented on #2976
@Mark Ghanayem / @markingmyname :

I suggest that the following answers the question I posited:
"#Get a managed computer instance
$mc = New-Object -TypeName Microsoft.SqlServer.Management.Smo.Wmi.ManagedComputer  "
- will retrieve the ManagedComputer instance for the local computer
"#Get a managed computer instance
$mc = New-Object -TypeName Microsoft.SqlServer.Management.Smo.Wmi.ManagedComputer

[2019-09-16 21:03] WilliamAntonRohm commented on #2936
@stevestein -- Steve, please review the changes in the above PR.

[2019-09-16 21:55] WilliamAntonRohm commented on #2934
@EricF14 -- Thank you for your feedback.  The documentation should be live by tomorrow.

[2019-09-16 21:55] #2934 closed

[2019-09-16 21:56] WilliamAntonRohm commented on #2934
@CarlRabeler -- Carl, thank you for your review.

[2019-09-17 03:45] msebolt commented on #2988
@rkhjjs  Thank you for the feedback.

The documentation has been updated.

[2019-09-17 03:45] #2988 closed

[2019-09-17 04:22] msebolt commented on #2982
@jaimeres Gracias por la pregunta. Lamentamos que tengas problemas.

Pruebe una muestra más simple según [este artículo](https://docs.microsoft.com/sql/connect/php/sqlsrv-fetch-array?view=sql-server-2017#example) y vea si los resultados coinciden.

[2019-09-17 06:26] ahdung opened #2991 "Need "Applies to" section"
I want to know what version of sqlsrv support this function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8471b5d7-c6c9-c158-c57e-341683a0fc36
* Version Independent ID: 50e18725-91d2-21b7-864e-8b6432ad342b
* Content: [STRING_AGG (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/functions/string-

[2019-09-17 07:49] feO2x commented on #2987
I've just read "Error and Transaction Handling in SQL Server" by Erland Sommarskog ([Part 1](http://sommarskog.se/error_handling/Part1.html), [Part 2](http://sommarskog.se/error_handling/Part2.html), and [Part 3](http://sommarskog.se/error_handling/Part3.html)). In Part 2 Chapter 5, he talks about different behavior when a transaction is involved as well as when `SET XACT_ABORT` is set to ON or OF

[2019-09-17 08:05] MichaelFirsov opened #2992 "Database audit"
"Audit - The name of an existing database audit." - the words "database audit" may be misleading here because all audits can be created only on server level - there's no such term as "Database audit". In the beginning of the article you write "To create a server audit ..." and later refer to that audit object as "database audit".

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-09-17 12:28] Ventilios opened #2993 "AG Per Database DTC Availability modes"
There is no mention about the Availability Group Availability Modes. Is it possible to use Asynchronous commit and if that's the case what are possible considerations in terms of failing over and clustered DTC?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4525f922-c768-bb9c-fc93-4a3b790c03fb
* Version Independent ID:

[2019-09-17 12:44] Ventilios opened #2994 "Syntax errors in example script to create AG with dtc_support"
The script to create an Availability Group with DTC Support contains syntax errors.
1. Server1 and Server2 need to be enclosed by single quotes.
2. Missing comma between the specified replica's.
CREATE AVAILABILITY GROUP MyAG
   WITH (
      DTC_SUPPORT = PER_DB
      )
   FOR DATABASE DB1, DB2
   REPLICA ON
      'Server1' WITH (
         ENDPOINT_URL = 'TCP://SERVER1.corp.com:5022',
         AVA

[2019-09-17 12:55] VanMSFT commented on #2992
Hello @MichaelFirsov! Thanks for the feedback. We appreciate the input. I changed the wording to specify "existing server audit object" instead of "database audit". These changes should reflect later today. Again, we appreciate your help on our documentation.

https://github.com/MicrosoftDocs/sql-docs-pr/pull/12066

#please-close

[2019-09-17 12:55] #2992 closed

[2019-09-17 13:41] MichaelFirsov commented on #2992
Thank you all!

[2019-09-17 16:15] rothja commented on #2987
@feO2x Thank you for these questions. I will try to find someone internally who can answer some of these questions. We might not be able to address everything here in the git issue, as this question is more in line with a forum question (which I see you've already posted on Stack Overflow, thanks!). However, from a documentation perspective, I can see how you are pointing to holes in how we docume

[2019-09-17 16:30] WilliamAntonRohm commented on #2991
@ahdung -- thank you for your question.

@MikeRayMSFT -- please look into this issue 2991.

[2019-09-17 16:54] rothja commented on #2386
@FYfrog I have been unable to get the time to recreate and test/fix this CommonAncestor function at the moment. I have created an internal work item to track this (1600197) and we will try to investigate and correct this in the future. I really apologize for the long delay and for this response on the issue. I hope that you found a way to get around the documentation problem here in your solution.

[2019-09-17 16:54] #2386 closed

[2019-09-17 16:55] rothja commented on #2608
@ivanlopezmolina Thanks, again, for reaching out. As @msebolt can not reproduce, we'll close this for issue for now. However, if you can provide more information that would help us recreated the problem, we might be able to figure out what the caveats are to put in the documentation to address the issue you're seeing. Thank you!!

[2019-09-17 16:55] #2608 closed

[2019-09-17 16:57] rothja commented on #2785
@davepend Thank you for the additional link! @tomuxmon, does this help?

[2019-09-17 17:00] rothja commented on #2845
@zerg2k I apologize that you've run into this problem with aggregates and the CLR. Can you provide a little more information? This only apples to Managed Instance? Can you give me an example for reference? Thank you for sharing this if it helps others, but I'd like to research and put a note in the article if possible to make this even more clear (or find another solution that we could document to

[2019-09-17 17:09] CeciAc opened #2995 "Different case of letter"
@IgorProjects commented on [Tue Sep 17 2019](https://github.com/MicrosoftDocs/sql-docs.ru-ru/issues/56)

Title and article: STEndpoint
Code sample: STEndPoint

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: f568804a-7d09-883f-1dce-01c61cbe49a1
* Version Independent ID: a18d033f-976c-c1

[2019-09-17 17:09] CeciAc opened #2996 "Different case of letter"
@IgorProjects commented on [Tue Sep 17 2019](https://github.com/MicrosoftDocs/sql-docs.ru-ru/issues/56)

Title and article: STEndpoint
Code sample: STEndPoint

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: f568804a-7d09-883f-1dce-01c61cbe49a1
* Version Independent ID: a18d033f-976c-c1

[2019-09-17 17:10] CeciAc commented on #2996
Hi team
I moved this here because the issue is also present in the the en-us version
best

[2019-09-17 17:11] CeciAc commented on #2995
Duplicated it by mistake, please disregard

[2019-09-17 17:11] #2995 closed

[2019-09-17 17:16] VanMSFT commented on #2283
Hello @iSatishYadav! Thanks for submitting this feedback. I can reproduce your error, and will work with our Product Team on updating the documentation with permissions. Since we are tracking this internally, I will close this GitHub Issue. Please feel free to let us know if you have any concerns. Thanks again!

User Story 1600211

#please-close

[2019-09-17 17:16] #2283 closed

[2019-09-17 18:53] WilliamAntonRohm commented on #2996
@CeciAc -- thank you for bringing this to our attention.

[2019-09-17 19:02] syedcit01 opened #2998 "External tables on Azure SQL Managed Instance"
Can I create external tables on Azure SQL Managed Instance for on-premise SQL Server as a data source ? (Such as LOCATION = '<prefix>://<path[:port]>).
The Microsoft doc are available only for SQLdb, SQL Server and SQLDW.

Below I test to create on premise SQL Server External table on Azure SQL Managed Instance.

My firewall and ports are open.

Error:
Msg 46823, Level 16, State 1, Line 2
Error re

[2019-09-17 19:16] WilliamAntonRohm commented on #2994
@Ventilios -- Ymer, thank you for your feedback.  I am updating the documentation.

[2019-09-17 19:17] WilliamAntonRohm commented on #2989
@g-kannan -- Kannan, thank you for your feedback.

@MashaMSFT -- please look into this issue 2989.

[2019-09-17 19:18] WilliamAntonRohm commented on #2984
@griffinator76 -- thank you for your feedback.

@CarlRabeler -- please look into this issue 2984.

[2019-09-17 19:19] WilliamAntonRohm commented on #2990
@ameert -- Alan, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue 2990.

[2019-09-17 19:23] WilliamAntonRohm commented on #2993
@Ventilios -- Ymer, please try the following for an answer:

- [DBA Stack Exchange (tag sql-server) - ask SQL Server questions](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow (tag sql-server) - also has some answers about SQL development](https://stackoverflow.com/questions/tagged/sql-server)

@MashaMSFT -- Masha, please look into this issue 2993.

[2019-09-17 19:25] WilliamAntonRohm commented on #2998
@syedcit01 -- thank you for your feedback.  Please tell us the URL of the article you're reading, if any.

Meanwhile, you may find these links useful:
- [DBA Stack Exchange (tag sql-server) - ask SQL Server questions](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow (tag sql-server) - also has some answers about SQL development](https://stackoverflow.com/questions/tagge

[2019-09-17 19:27] WilliamAntonRohm commented on #2865
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-09-17 19:27] #2865 closed

[2019-09-17 19:28] syedcit01 commented on #2998
Hi William,

I am following the below documentation

https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-data-source-transact-sql?view=sql-server-2017

https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-table-transact-sql?view=sql-server-2017

Thanks,
Syed

[2019-09-17 20:03] DougBernhardt opened #3000 "Step 2 contains extra "-""
On step 2, there is an extra "-" at the end, correct?  Should read: wget -qO- https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7b2f07a-852d-01b7-95b5-4e292cae2878
* Version Independent ID: 27712e05-1f53-3286-c78c-cb0623e53dfb
* Content: [Install azdata

[2019-09-17 20:15] majormfa32 opened #3001 "Error Code 3106"
This error code is missing from the list above. It's been called out in numerous social.msdn.microsoft.com blogs and readers of docs.microsoft.com could benefit from adding a description of the error code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248641a9-2364-dcbf-b071-6df585b05bba
* Version Independent ID: bd00

[2019-09-17 21:26] WilliamAntonRohm commented on #2936
@mrdenny -- thank you again for your feedback.  I have updated the documentation and it should be live by tomorrow.

@stevestein -- thanks for your review.

[2019-09-17 21:26] #2936 closed

[2019-09-17 22:01] WilliamAntonRohm commented on #2975
@RobAshton-IM -- thank you for your feedback.  I've updated that article and it is in review.

[2019-09-17 23:11] MashaMSFT commented on #2959
Hi @rootsmusic,  thanks again for reaching out, and I appreciate the link to the courseware, it helps clarify.

Let me take a minute to explain - there are three editions of the AdventureWorks database: OLTP, Data warehouse, and LT. The LT is just a pared down version of the OLTP database, with a number of objects removed.

You may be able to get away with running the OLTP courseware examples agai

[2019-09-17 23:12] #2911 closed

[2019-09-17 23:12] #2790 closed

[2019-09-17 23:22] WilliamAntonRohm commented on #2994
@Ventilios -- Ymer, thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2019-09-17 23:22] #2994 closed

[2019-09-17 23:31] MikeRayMSFT commented on #2989
@pmasl or @bluefooted  - this submission looks correct, so we're going to proceed and accept the submission. Including you for visibility.

@g-kannan  thank you for your feedback.

[2019-09-17 23:39] MashaMSFT commented on #2993
Hi @ventilios, thanks for contacting Microsoft! Let me do some research and get back to you :) Please note that depending on the complexity, this process may take a few weeks.

Thanks!
Masha from the SQL Docs team

[2019-09-17 23:39] rootsmusic commented on #2959
Yes Masha, you may close this case.  I opened [issue #572](https://github.com/microsoft/sql-server-samples/issues/572) to suggest making SQL sample databases readily accessible to data connections, without everyone needing to install individual instances.

Besides courseware, recent publications from MS Press (e.g. [p.5](https://www.microsoftpressstore.com/content/images/9781509308040/samplepages/

[2019-09-17 23:57] #2959 closed

[2019-09-18 00:32] MashaMSFT commented on #2959
Hi @rootsmusic, I was doing some additional research and realized that when you deploy an Azure Data Warehouse, the sample database available is the AdventureWorks DW edition :) So you can use that for the courseware, and try the LT database for the other part of the course.

![image](https://user-images.githubusercontent.com/32783170/65090192-16e2b980-d971-11e9-97e3-49e06287763a.png)

Hope that h

[2019-09-18 07:08] feO2x commented on #2987
@rothja Thanks for the info. @srutzky [answered the StackOverflow question](https://stackoverflow.com/a/57986098/1560623) and pointed out that `DEALLOCATE` implicitly calls `CLOSE` when the the cursor is not used by any other piece of code. I think this should be part of the [DEALLOCATE docs](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/deallocate-transact-sql).

[2019-09-18 10:25] ceka opened #3007 "typo in f-import-data-from-hadoop-into-a-sql-table"
https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-table-transact-sql?view=sql-server-2017#f-import-data-from-hadoop-into-a-sql-table

line 5:
) AS ms_user
should be
) AS ms

before:
SELECT DISTINCT user.FirstName, user.LastName
INTO ms_user
FROM user INNER JOIN (
    SELECT * FROM ClickStream WHERE cs.url = 'www.microsoft.com'
    ) AS ms_user
ON user.user_ip = ms.user_ip
;
aft

[2019-09-18 11:29] Willem-J-an opened #3008 "Escaping in Azure SQL DW"
Soo.. how do I escape stuff in Azure SQL DW?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5353a04-2e20-ae05-2004-6fd8a19c440a
* Version Independent ID: 382b0acd-1e14-c7fd-bf92-c3e09ccdf4fa
* Content: [LIKE (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/like-transact-sql?vie

[2019-09-18 12:58] fredobas opened #3009 "upgrade without Failover Cluster"
In the section of this page, "Steps for side-by-side migration of the Distributor to Windows Server 2012 R2", about the case "current OS is Windows 2008", you say that need to perform a side-by side upgrade of the OS to Windows Server 2012 R2 or greater.
You explain on of the reason is "Windows Server 2008/20008 R2 does not in-place upgrades for Failover Clusters.
My question: what about the case

[2019-09-18 15:25] CarlRabeler commented on #2984
it is true there are some cases where the information schema views are incomplete and that can lead to semantically broken applications if you are unaware.

[2019-09-18 15:33] bluefooted commented on #2989
Shouldn't this be 1 for both statements? One statement turns on the backup threshold alert and the other statement turns on the restore threshold alert. If the premise is that monitoring was enabled before and we want to keep it enabled, both of these should be 1.

[2019-09-18 15:34] bluefooted commented on #2989
Adding @kfarlee to see if he has any insight, my log shipping knowledge is pretty rusty.

[2019-09-18 16:04] msebolt commented on #3000
@DougBernhardt  Thank you for the question.

The dash in this case refers to the file downloaded, see [this post](https://stackoverflow.com/questions/8045479/whats-the-magic-of-a-dash-in-command-line-parameters) for more information.

[2019-09-18 16:17] msebolt commented on #3008
@Willem-J-an Thank you for the question.

Please try using the [SQL Server escape character](https://stackoverflow.com/questions/5139770/escape-character-in-sql-server).

It seems odd there's no official documentation on this, assigning to the author for further feedback.

[2019-09-18 16:43] RyanTaite commented on #2747
Sorry this is a such a late reply, but wanted to say that I see the changes now and I appreciate it! Thank you!

[2019-09-18 18:31] MashaMSFT commented on #3009
Hi @fredobas , thanks for contacting Microsoft! Let me investigate this for you. Please note that, depending on the complexity, this process might take a few weeks.

Thanks!
Masha from the SQL Docs team

[2019-09-18 19:36] abair34 opened #3010 "Change Tracking with Clustered Columnstore Indexing"
Above you note:

"SQL Server 2014 (12.x) specific limitations
These limitations apply only to SQL Server 2014 (12.x). In this release, we introduced updateable clustered columnstore indexes. Nonclustered columnstore indexes were still read-only.

Change tracking. You cannot use change tracking with nonclustered columnstore indexes (NCCI) because they are read-only. It does work for clustered colum

[2019-09-18 19:52] WilliamAntonRohm commented on #2998
@syedcit01 -- thank you for clarifying.

@CarlRabeler -- Carl, please look into this issue 2998.

[2019-09-18 20:21] JediSQL opened #3011 "Multiple Queue Reader - Activation Procedure Spawning"
While I imagine it is probably true, it would be good if this topic had some explicit details about, or references to, how activated store procedure calls are spawned when MAX_QUEUE_READERS is greater than 1. Does each one get its own SPID? If my internal activation stored procedure creates a #Temp table, will each parallel executing copy of the proc get its own #Temp table without cross-talk?

--

[2019-09-18 20:40] JediSQL commented on #3011
I found the "Internal Activation Context" topic at
https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/ms171585%28v%3dsql.105%29
In the "Session Settings" section, it says "Service Broker executes internally activated service programs on a background session distinct from the connection that created the message." It is not explicit whether parallel activated procs are on sepa

[2019-09-18 22:29] zerg2k commented on #2845
How about this post:
[CLR on SQL2017](https://joeydantoni.com/2017/04/19/sqlclr-in-sql-server-2017/)

Or how about a "series"

[“SQLCLR vs. SQL Server 2017” Series](https://sqlquantumleap.com/2017/08/07/sqlclr-vs-sql-server-2017-part-1-clr-strict-security/)

Or how about [Amazon response and silent Azure drop out of the feature](https://stackoverflow.com/questions/57162012/sqlclr-support-on-aws-sq

[2019-09-18 22:30] Willem-J-an commented on #3008
The linked page I assume would work to escape single quotes, but not wildcards such as _ or %, might have to verify that assumption.

[2019-09-18 23:23] WilliamAntonRohm commented on #2996
@CeciAc -- Cecelia, I have updated the documentation and it should be live by tomorrow.

[2019-09-18 23:23] #2996 closed

[2019-09-19 05:44] srutzky commented on #2987
@feO2x and @rothja : I don't think I said anything about "when the cursor is not used by any other piece of code". If anything, I was saying that no other code is truly connected to a cursor, so there shouldn't be any reason that could cause a `CLOSE` or `DEALLOCATE` to error. The docs do mention something about using a cursor variable and "if there are no other references, then `DEALLOCATE` will

[2019-09-19 05:57] aayush3667 opened #3012 "Viewing Transaction Logs in Azure Portal"
Hi,

I was viewing the transaction logs in SQL server.
My question is Can we see the transaction logs in Azure Portal or using Azure PowerShell?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea2ebe6c-220c-c582-6259-6b3867cc6d99
* Version Independent ID: 8cd2d494-c723-f4b7-4dc4-4809196d6579
* Content: [The Tran

[2019-09-19 13:03] rothja commented on #2987
@srutzky Thanks for the detailed reply and thanks to you both for pointing me to the discussion in StackOverflow. At this point, it sounds like there is not enough conclusive evidence on exactly how the docs should be changed until we get more data. I will also try to reach out internally to see if I can find someone that knows this area well and would be able to explain how we can improve the doc

[2019-09-19 13:34] IgorProjects commented on #2996
Sorry, but in the menu on the left there is a lowercase letter:
![image](https://user-images.githubusercontent.com/26750611/65248660-3279cb80-dafb-11e9-9a09-087a8d344b0a.png)

[2019-09-19 15:13] msebolt commented on #3010
@abair34  Thank you for the feedback, assigning the author now.

[2019-09-19 15:15] msebolt commented on #3011
@JediSQL Thank you for the feedback.

This has been assigned to the author.

[2019-09-19 15:38] NuNn-DaDdY opened #3015 "Typo"
Rolling Upgrade - Missing space (SQL Serverinstance) in 2nd sentence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916e128d-19fd-1f7d-8285-6313c4419710
* Version Independent ID: 8402af42-fdd1-2f3b-7c6a-8759e90e115f
* Content: [Choose a database engine upgrade method - SQL Server](https://docs.microsoft.com/en-us/sql/

[2019-09-19 17:00] MashaMSFT commented on #3012
Hi @aayush3667 , thanks for contacting Microsoft! Let me check for you. Please note that, depending on complexity, this may take some time.

Thanks!
Masha from the SQL Docs team

[2019-09-19 17:10] MashaMSFT commented on #3015
Hi @NuNn-DaDdY , thanks for contacting Microsoft and finding this typo! Did you want to make this change yourself? This will add you as a contributor to the article, and it's a very simple process.

To do so, please do the following:

1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil" icon on the right
4. Modify the text within the t

[2019-09-19 17:36] NuNn-DaDdY commented on #3015
Good Afternoon Masha,

Sure - I'd be happy to create a pull request.  This has been completed and
a pull request has been created.  Thank you very much for the instructions
as well. Have a great day!

Best Regards,
Corey Nunnery

On Thu, Sep 19, 2019 at 1:11 PM Masha at MSFT <notifications@github.com>
wrote:

[2019-09-19 19:17] MashaMSFT commented on #3015
Hi @NuNn-DaDdY , awesome, thank you so much! I've signed off on the PR and you should see the change live in the next two business days :) Thanks again for making our documentation better! I will proceed with closing out this Git Issue but please feel free to reply should you need anything further.

Thanks!
Masha from the SQL Docs team

[2019-09-19 19:17] #3015 closed

[2019-09-19 21:25] ParimaldPatel opened #3018 "Issue with E/e charecter"
if there are any E charecter in my check this function returns true (1), E.X. select isnumeric(20121E) ;select isnumeric(2E0121); select isnumeric(201e21) ;select isnumeric(2012e1) ;select isnumeric(20121e) return true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d033792-b9dc-3d69-1020-8e0c295b9d3c
* Version Indepen

[2019-09-19 21:58] WilliamAntonRohm commented on #3018
@ParimaldPatel -- thank you for your feedback.  Please clarify the nature of this issue.  Do you mean the ISNUMERIC function is incorrectly parsing number strings that include an e or E?

[2019-09-20 01:45] sandys21 opened #3020 "SQLXML 4.0 SP1 and MSXML"
On this page, it has been mentioned that SQLXML uses MSXML 6.0, whereas the installation document of SqlXml 4.0 Service Pack 1 (SP1) at https://www.microsoft.com/en-us/download/details.aspx?id=30403 mentions that SQLXml has a dependency on MSXML version 4.0 SP2. This version of MSXML is included with the download.

Please let me know the current version of MSXML that SQLXML 4.0 SP1 needs.

---
###

[2019-09-20 05:37] pmasl commented on #2109
@maadityo this is a recovery sp and can only execute against a database that has the Query Store feature disabled, so shouldn't affect user workload.

[2019-09-20 07:56] SuperSing opened #3023 "Connect to Azure Data Lake using Polybase"
Is it possible to connect to Azure Data Lake Gen2 ( or Gen1)  using Polybase in SQL Server ? Thanks !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94ab99ca-282b-6ace-6354-09a0d3ad97ad
* Version Independent ID: 7448fdc3-2a74-1811-38c5-aafcef2630e7
* Content: [Configure PolyBase to access external data in Azure Blob St

[2019-09-20 09:45] Guillaume-Fourrat commented on #3000
Well @msebolt perhaps that if @DougBernhardt reported this, there was an issue to begin with ? =)
I had reported it as well in PR https://github.com/MicrosoftDocs/sql-docs/pull/2901. On the basis that the current cmdline is NOT working (with error "gpg: can't open '–': No such file or directory"), and removing the dash IS working (returns "OK", and I double checked the key is added to the list).
S

[2019-09-20 14:49] markingmyname commented on #2976
@MarkB-Dansko,

Thank you for your comment.

Are you suggesting we add this info to the article?

[2019-09-20 15:15] djwarsop opened #3025 "The document states that current_timezone() is available in SQL Server 2017 (and Azure SQL Database) but on SQL Server 2017 it results in an error"
On SQL Server 2017 (developer edition):

begin
	select @@version;
end;
go
begin
	select CURRENT_TIMEZONE();
end;
go

Results in:

Microsoft SQL Server 2017 (RTM-CU15-GDR) (KB4505225) - 14.0.3192.2 (X64)
	Jun 15 2019 00:45:05
	Copyright (C) 2017 Microsoft Corporation
	Developer Edition (64-bit) on Windows Server 2012 R2 Standard 6.3 &lt;X64&gt; (Build 9600: )

(1 row affected)

Msg 195, Level 15, S

[2019-09-20 15:25] VanMSFT commented on #2558
Table has been updated and should go live in a few hours. Thank you for your feedback! We really appreciate your help on updating our documentation.

https://github.com/MicrosoftDocs/sql-docs-pr/pull/12119

#please-close

[2019-09-20 15:25] #2558 closed

[2019-09-20 16:26] msebolt commented on #3020
@sandys21 Thank you for the question.

Assigning this to the author for further clarification.

[2019-09-20 17:24] WilliamAntonRohm commented on #2907
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-09-20 17:24] #2907 closed

[2019-09-20 17:25] MisinformedDNA opened #3026 "Does not address Azure SQL"
This article should either contain or link to information about using this command with Azure SQL Databases. Is it even possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4d7aeba-7fae-3de0-74b3-2c5705ed664c
* Version Independent ID: ce019d19-6617-737f-ccd7-65d77047a7fc
* Content: [Specify Instances in the SQL Se

[2019-09-20 18:47] ParimaldPatel commented on #3018
Thank you, William!
I have a legacy system where numeric data was stored in varchar field, as the field is varchar there are some row that has nonnumeric values, we do not want to select those rows where column A has nonnumeric value in it , so we have used isnumeric() function, but any time it comes across the values which have only one "E" in it (ex. 1E234) then the isnumeric() function  returns

[2019-09-20 19:47] WilliamAntonRohm commented on #3018
You're welcome!  I believe that is the correct behavior, as ISNUMERIC() implicitly casts such values into [real or float](https://docs.microsoft.com/en-us/sql/t-sql/data-types/data-types-transact-sql?view=sql-server-2017#approximate-numerics).

[This article](https://www.sqlservercentral.com/articles/why-doesn%e2%80%99t-isnumeric-work-correctly-sql-spackle) tested the characters for which ISNUMERI

[2019-09-20 19:47] #3018 closed

[2019-09-20 19:52] ParimaldPatel commented on #3018
yes, that is what I think.

[2019-09-20 23:08] msebolt commented on #3023
@SuperSing Thank you for the question, assigning this to the author now.

[2019-09-21 21:51] paramda opened #3028 "DACPAC for SQL Server 2014?"
URL says 2017 but the Note says this:
 Important
This article is valid for SQL Server 2012, but not for SQL Server 2014 or later. For DAC articles about SQL 2012 and earlier, see the following links:
https://docs.microsoft.com/previous-versions/sql/sql-server-2008-r2/ee240739(v=sql.105)
https://docs.microsoft.com/previous-versions/sql/sql-server-2012/hh753459(v=sql.110)

Where is the page for 2014

[2019-09-22 14:50] vic-t opened #3029 "Added @CONTOSO.COM in several commands seems to be unnecessary"
It seems to me that a few commands have @CONTOSO.COM added to them without good reason. For example, the command

kvno MSSQLSvc/**&lt;fully qualified domain name of host machine&gt;**:**&lt;tcp port&gt;**@CONTOSO.COM

Does not work for me. But if I leave out @CONTOSO.COM (which anyway is already part of the fully qualified domain name), it works.

I guess the same goes for other commands on this p

[2019-09-23 15:10] untilted-document commented on #2705
I agree with the point raised by mcb2k3 - this advice about length being zero is confusing and wrong. If length is zero, no deletion of source string characters occurs. Insertion occurs at the index indicated by start. It's almost as though the person writing the doc thought "start position" meant "the beginning of the string" not "the index specified in the start argument"

[2019-09-23 15:41] msebolt commented on #2982
@jaimeras Closing issue, please comment below if you have any questions.

[2019-09-23 15:41] #2982 closed

[2019-09-23 16:41] WilliamAntonRohm commented on #3025
@djwarsop -- thank you for your feedback.

@MladjoA -- please look into this issue 3025.

[2019-09-23 16:43] WilliamAntonRohm commented on #3026
@MisinformedDNA -- Dan, thank you for your question.

@markingmyname -- Mark, please look into this issue 3026.

[2019-09-23 16:44] WilliamAntonRohm commented on #3028
@paramda -- thank you for your question.

@stevestein -- please look into this issue 3028.

[2019-09-23 16:45] MladjoA commented on #3025
CURRENT_TIMEZONE actually hasn't been ported to previous versions of SQL Server yet.
I will make correction in the function availability statement and let you know once published.

[2019-09-23 16:46] WilliamAntonRohm commented on #3029
@vic-t -- Vic, thank you for your feedback.

@Dylan-MSFT -- Dylan, please look into this issue 3029.

[2019-09-23 19:00] NuNn-DaDdY opened #3030 "Default Encryption Algorithm"
Note - If using two different versions of SQL Server, you may want to explicitly state the encryption algorithm in case the servers use different algorithms as their default.  Otherwise, you'll end up with the following error message that doesn't state the culprit being the different algorithms:

The server network address “TCP://foo.bar:5022” cannot be reached or does not exist. Check the network

[2019-09-23 20:57] ivanzinhoa opened #3032 "Version availability"
Please, we need to know which version of SQL Server this function is available at, these date functions are not simple, I first research whether in stackoverflow.com or whatever other site and then I run a query where I just get frustrated because the solution found is not compatible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-09-23 21:39] MikeRayMSFT commented on #2329
Taking internal documentation item for review.

[2019-09-23 21:39] #2329 closed

[2019-09-23 21:44] MikeRayMSFT commented on #2427
Article has been updated with more current instructions.

https://docs.microsoft.com/en-us/sql/big-data-cluster/deploy-offline?view=sqlallproducts-allversions

[2019-09-23 21:44] #2427 closed

[2019-09-23 21:49] MikeRayMSFT commented on #2445
I haven't been able to repro. Checking.

[2019-09-23 21:54] MikeRayMSFT commented on #2445
This seems to be more of a RHUI (red hat licensing service) issue. Please contact Red Hat support for assistance.

[2019-09-23 21:54] #2445 closed

[2019-09-23 21:55] MikeRayMSFT commented on #2470
-	The limitation of accessing more than 64 databases applies if such accesses take place on different levels of nesting in the chain of stored procedure calls. It does not apply to the number of database references made at the same nested level.

[2019-09-23 21:55] #2470 closed

[2019-09-23 22:00] MikeRayMSFT commented on #2682
Verifying.

[2019-09-23 22:08] MikeRayMSFT commented on #2697
@MightyPen - can you look at this - I'm not 100% sure what our options are with our versioning infrastructure?

[2019-09-23 23:17] MikeRayMSFT commented on #2700
Reviewing with PM team

[2019-09-23 23:28] VanMSFT commented on #3030
@NuNn-DaDdY - Thanks, Corey! We'll look into adding additional clarification in the documentation.

[2019-09-23 23:47] WilliamAntonRohm commented on #3032
@ivanzinhoa -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue 3032.

[2019-09-24 03:13] sqlserverexpert commented on #2700
Thank you.

While this information might be available from system views, system views require extra permission reducing the ability to run scripts under least privileges.  Also, this function offers greater simplicity.  Case in point:

Dm_server_registry

Negates need for xp reg read, but still complex query to parse out domain.

Default domain function has been around decades, discoverable in man

[2019-09-24 05:24] msebolt commented on #2912
Closing this now, please comment below if there are any further issues.

[2019-09-24 05:24] #2912 closed

[2019-09-24 05:27] #2927 closed

[2019-09-24 05:27] #2937 closed

[2019-09-24 05:33] #2962 closed

[2019-09-24 05:34] msebolt commented on #2964
Closing this now, please comment below if there are further issues.

[2019-09-24 05:34] #2964 closed

[2019-09-24 05:38] #2971 closed

[2019-09-24 05:38] #2986 closed

[2019-09-24 05:58] msebolt commented on #3000
@DougBernhardt @Guillaume-Fourrat  Sorry, I'm not actually versed with the content, only the basics.  :)

Thank you for your resolution, assigning this to the author.

[2019-09-24 06:24] msebolt commented on #3007
@ceka  Thank you for the feedback.

The documentation has been updated.

[2019-09-24 06:24] #3007 closed

[2019-09-24 08:05] MightyPen commented on #2933
@WilliamAntonRohm Hi William, Janine Zhang is *not* a member of the distlist Rogue1, so she cannot be the only Assignee of this Issue #2933.
And in Janine's case, she can almost never work on GitHub Issues.

SSIS documentation has no one clear Writer assigned presently, so I am co-Assigning @rothja  (manager of the SQL Server documentation team).

[2019-09-24 08:20] MightyPen commented on #2697
@bonskijr Hello, There was a big change between the documentation for SQL Server 2014 and 2016.  Among many other changes, we implemented Versioning within single article files, starting in SQL 2016.
Overall the changes bring many benefits, and the ratio of benefits -to- drawbacks is nicely increasing as time moves ever forward. But for now the big changes that started for SQL 2016 documentation d

[2019-09-24 08:20] MightyPen commented on #2697
closing.

[2019-09-24 08:20] #2697 closed

[2019-09-24 08:58] boneill81 opened #3034 "Documentation incorrect for Point"
I noticed a fairly serious documentation issue with the Point documentation. Following the documentation's instructions would result in any points generated being far out of their intended positions.

The documentation is incorrect for Point it lists the following:

This should read:

Point ( **Long, Lat**, SRID )

**Long**
Is a float expression representing the **x-coordinate** of the Point being

[2019-09-24 16:57] msebolt commented on #3034
@boneill81 Thank you for the feedback.

The example seems to check out.  Is this because the x and y coordinates are reversed?

If so, there is a note later in the article that states:

```Arguments for the Point (geography Data Type) method have coordinates reversed compared to WKT.```

[2019-09-24 20:31] MikeRayMSFT commented on #2700
@sqlserverexpert - thanks for the comment, and please accept my personal apology for the late reply. During summer vacation I fell a bit behind on the issues I was tracking.

We reviewed the request and have decided not to document it at this time, but I recommend submitting the reasons you cite above at our product feedback site [https://feedback.azure.com/forums/908035-sql-server](https://feedba

[2019-09-24 20:31] #2700 closed

[2019-09-24 20:36] MikeRayMSFT commented on #3032
@ivanzinhoa - can you point me to an example of a script that doesn't work on your version, and tell me what version you're running it on?

[2019-09-24 20:41] MikeRayMSFT commented on #3023
@uc-msft - do you have any comment on this?

[2019-09-24 20:43] MashaMSFT commented on #2908
Hi @jschmidt0723 , thank you for patience as I researched this.

The state of a SQL Failover Cluster Instance (FCI) is shared between SQL and the Windows Failover Cluster (WSFC), with SQL keeping some more detailed state information on the instances than the cluster cares about.  The management model is that SQL must drive the transactions, and is responsible for keeping the cluster’s view of the

[2019-09-24 20:54] ivanzinhoa commented on #3032
it was just an example, let's suppose I'm running SQL Server 2008 R2, I found a site|blog|whatever that advises that I can use DATEFROMPARTS, I write happily the code just to find this function is not available, now I want to see what SQL Server version this function is available at in order to determine a workaround.

[2019-09-24 21:09] MikeRayMSFT commented on #2682
Updating in a pull request as cited. Thank you @markg4030.

[2019-09-24 21:09] #2682 closed

[2019-09-24 21:19] MikeRayMSFT commented on #2757
@SQLKiwi - thanks for the submission. Reviewing with @pmasl

[2019-09-24 21:34] MikeRayMSFT commented on #2760
Hi @Morshedk - The column names clearly changed between versions. I've created an item to track (Internal User Story 1605487).
Thank you for the submission.

[2019-09-24 21:34] #2760 closed

[2019-09-24 21:43] MikeRayMSFT commented on #3000
Thanks for the submission. We're going to update in https://github.com/MicrosoftDocs/sql-docs/pull/2901

[2019-09-24 21:43] #3000 closed

[2019-09-24 21:56] MikeRayMSFT commented on #2990
@ameert - thanks for the feedback. We're checking.

[2019-09-24 22:00] MikeRayMSFT commented on #2935
@phantomflash47  - thank you for the feedback. I've created internal reference item 1605511 to review this content, and linked to this issue so we can include your feedback when we do.

Mike

[2019-09-24 22:00] #2935 closed

[2019-09-24 22:20] vu-dang opened #3039 "Approximation?"
There is a note on STDistance method stating that the result is an approximation.  Is the result from this function also an approximation?  and does the accuracy also fall within 0.25% of the shortest line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf5b517d-c3a0-08d0-197f-dd2d6b7036db
* Version Independent ID: 964

[2019-09-24 23:21] MikeRayMSFT commented on #2883
@iuriivaschuk - thank you. Reviewing.

[2019-09-24 23:41] MikeRayMSFT commented on #2922
@perennialmind - I'm working to validate https://github.com/MicrosoftDocs/sql-docs/pull/2925 - also reviewing this content. Thanks for the spirited discussion.

[2019-09-25 00:29] jschmidt0723 commented on #2908
This is awesome! Thank you so much!!!

Jake

On Tue, Sep 24, 2019, 3:43 PM Masha at MSFT <notifications@github.com>
wrote:

[2019-09-25 00:46] MikeRayMSFT commented on #2990
@ameert - FORMAT() appears to work on SQL Data Warehouse.

![format](https://user-images.githubusercontent.com/15928587/65560373-3f2f6280-def3-11e9-9d78-42911d6e5149.png)

[2019-09-25 01:33] MikeRayMSFT commented on #3032
@ivanzinhoa - I've created a work item (internal tracking number 1605663) to allow us to further analyze this problem. Thank you for raising the issue.

[2019-09-25 01:33] #3032 closed

[2019-09-25 01:45] igor63132 opened #3040 "Can't find Sql Management Studio 2017 download"
As usual MS won't allow to find anything besides the latest and greatest version 18. The problem with it is that it doesn't support Reporting project created in VS 2019 using reporting tools based on previous versions. So I have on my desktop VS solution working but on my laptop with newest software it won't load reporting project. How do I upgrade it?

[2019-09-25 04:47] MikeRayMSFT commented on #2990
@ameert - can you verify if the function now works for you? If it does not, can you tell me what region your Azure SQL DB is in?

[2019-09-25 04:58] MikeRayMSFT commented on #2796
Thanks @MartinLBuchanan - due to a recent redesign the specific versions were removed. We're working on finding the right way to call this out across the documentation set. (Internal issue: 1605663)

[2019-09-25 04:58] #2796 closed

[2019-09-25 05:06] MightyPen commented on #3040
@igor63132 Hello, your Issue #3040 has been recognized, and processing has begun.

@markingmyname Hi Mark, Can you please process this Issue #3040. Does our documentation provide links to install somewhat older versions of SSMS?

[2019-09-25 05:09] MightyPen commented on #2697
@bonskijr Hi, A bit of follow-up on your Issue #2697. We recommend that SQL Server 2014 customers use the SQL Server 2016 documentation for Transact-SQL statement information.  Thanks.

- `https://docs.microsoft.com/sql/t-sql/language-reference?view=sql-server-2016`

cc: @MikeRayMSFT

[2019-09-25 08:42] MightyPen commented on #2991
@ahdung  @MikeRayMSFT Hello Ahdung and MikeRayMSFT,.....
The following links about our Versioning system, and its drop-down list above the leftNav TOC, might be helpful for questions like the question here in Issue #2991 :

- `https://docs.microsoft.com/esql/sql-server/sql-docs-navigation-guide?view=sql-server-2017#version-filter`

- `https://docs.microsoft.com/sql/sql-server/versioning-system-mon

[2019-09-25 10:56] dawoodjee opened #3043 "Does this need correction?"
The link to Configure IIS refers to to SSMS:

SQL Server Management Studio: Configure IIS for Web Synchronization

I think there might be a mistake

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd4250e7-f6ac-470a-208f-fcf30da67b91
* Version Independent ID: c5533837-b491-8802-1eaf-cfa1e72a3f5c
* Content: [Configure Web

[2019-09-25 11:02] dawoodjee opened #3044 "The tutorials are jumbled"
All the tutorials are very long and cross-reference each other in a way which can be quite confusing. Its quite frustrating.

For example:

Between configure Web Synchronization (not 10 minutes) and Configure IIS for Web Synchronization (this article). The link Configure IIS for Web Synchronization is placed before Publication Configuration but the second sentence says the Publication agent must b

[2019-09-25 15:02] msebolt commented on #3039
@vu-dang  Thank you for the question, assigning this to the author.

[2019-09-25 16:06] ameert commented on #2990
Hi,

This worked for me today without issue.

Thanks,
Alan

On Wed, Sep 25, 2019, 12:47 AM Mike Ray <notifications@github.com> wrote:

[2019-09-25 16:17] MikeRayMSFT commented on #2990
Thanks @ameert - I have confirmed that the feature roll-out is very recent. Glad it worked for your.

[2019-09-25 16:17] #2990 closed

[2019-09-25 16:17] keandersen opened #3045 "Maximum columns per view"
Using Microsoft SQL Server 2016 (SP2-GDR) (KB4505220) - 13.0.5101.9 (X64)   Jun 15 2019 23:15:58   Copyright (c) Microsoft Corporation  Enterprise Edition (64-bit) on Windows Server 2016 Standard 10.0 &lt;X64&gt; (Build 14393: )
I received Msg 4505, Level 16, State 1, Procedure ...snipped...
CREATE VIEW failed because column '...snipped...' in view '...snipped...' exceeds the maximum of 1024 colum

[2019-09-25 16:26] NelGson commented on #2883
@iuriivaschuk Tye security feature in big data clusters is not yet public and is only in private preview at the moment. We will make it documented on the Docs once it is public.

[2019-09-25 16:38] NelGson commented on #2883
@iuriivaschuk  Let me know if you want to participate in the private preview or have questions. Here is a pointer to some private docs: https://aka.ms/bdc-eap-security-docs

The script to deploy in AD mode is also available here: https://github.com/microsoft/sql-server-samples/tree/master/samples/features/sql-big-data-cluster/deployment/kubeadm/ubuntu-single-node-vm-ad

[2019-09-25 16:40] #2883 closed

[2019-09-25 17:14] MashaMSFT commented on #2908
glad we could help :) We'll close out the Git Issue now. Thanks for making docs better!

[2019-09-25 17:14] #2908 closed

[2019-09-25 17:14] dawoodjee opened #3046 "The tutorial is not friendly to new users"
The statement below refers to a publication that we haven't yet setup.

"Expand the Local Publications folder, right-click the publication, and then click Configure Web Synchronization."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13046ce7-e06c-ffaa-59b8-c6dc0ecdebd8
* Version Independent ID: 81ca8e84-2d41-2159-4bfb

[2019-09-25 17:22] MashaMSFT commented on #2678
Hi @HakuAnnaruto , Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!
Masha from SQL Docs team

[2019-09-25 17:30] MashaMSFT commented on #3046
Hi @dawoodjee, thank  you so much for your feedback! I have created an internal work item [1605936](https://mseng.visualstudio.com/TechnicalContent/SQL/_dashboards/SQL/e6c08d9e-8daa-49bc-92c4-b65995f06307) to review this tutorial for opportunities for improvement.

Since we're tracking this work internally, I will close out this Git Issue, but please feel free to reach out should you need anything

[2019-09-25 17:30] #3046 closed

[2019-09-25 17:30] MashaMSFT commented on #3044
Hi @dawoodjee, thank  you so much for your feedback! I have created an internal work item [1605936](https://mseng.visualstudio.com/TechnicalContent/SQL/_dashboards/SQL/e6c08d9e-8daa-49bc-92c4-b65995f06307) to review this tutorial for opportunities for improvement.

Since we're tracking this work internally, I will close out this Git Issue, but please feel free to reach out should you need anything

[2019-09-25 17:30] #3044 closed

[2019-09-25 17:30] MashaMSFT commented on #3043
Hi @dawoodjee, thank  you so much for your feedback! I have created an internal work item [1605936](https://mseng.visualstudio.com/TechnicalContent/SQL/_dashboards/SQL/e6c08d9e-8daa-49bc-92c4-b65995f06307) to review this tutorial for opportunities for improvement.

Since we're tracking this work internally, I will close out this Git Issue, but please feel free to reach out should you need anything

[2019-09-25 17:30] #3043 closed

[2019-09-25 18:43] MikeRayMSFT commented on #2800
Thank you for pointing this out @Peter-Msft  - the correct link is: https://raw.githubusercontent.com/kubernetes/dashboard/v1.10.1/src/deploy/recommended/kubernetes-dashboard.yaml

[2019-09-25 18:43] #2800 closed

[2019-09-25 18:53] MikeRayMSFT commented on #2991
@ahdung - thank you for the submission. I'm going to close this issue but I've logged your comment at internally (1605663).

`STRING_AGG` was extended in SQL Server 2017 but it also applies to SQL Server 2016.

[2019-09-25 18:53] #2991 closed

[2019-09-25 19:40] MikeRayMSFT commented on #2991
@ahdung by way of follow-up - `STRING-AGG` was introduced in SQL Server 2017. Thanks for letting me know @bluefooted

[2019-09-25 19:50] MikeRayMSFT commented on #2926
@DumboJetEngine  - is there a specific update to the [Enable or Disable a Server Network Protocol](http://docs.microsoft.com/sql/database-engine/configure-windows/enable-or-disable-a-server-network-protocol?view=sql-server-2017) article that would clarify this for you?

Adding @MightyPen and @VanMSFT  for extra insight

[2019-09-25 19:54] MikeRayMSFT commented on #2922
@pmasl - this is related to https://github.com/MicrosoftDocs/sql-docs/pull/2925/files - thanks.

[2019-09-25 20:00] MikeRayMSFT commented on #2841
@softwarecraft - I'm still following up on this. Will get back to you soon.

[2019-09-25 20:06] MikeRayMSFT commented on #2851
@chrisadkin  - I'm trying to repro. Is this still an issue (assuming you're on the latest azdata). Thanks for submitting.

[2019-09-25 20:20] MikeRayMSFT commented on #2799
@Peter-Msft - thank you. Investigating

[2019-09-25 20:26] MikeRayMSFT commented on #2926
Closing for the time being.

[2019-09-25 20:26] #2926 closed

[2019-09-25 21:06] MikeRayMSFT commented on #2851
I've verified with the product group that bdc.json and config.json are the correct file names. If you have other file names, there is an older version of azdata.

[2019-09-25 21:06] #2851 closed

[2019-09-25 21:09] lmil10 commented on #2851
I can confirm this also. Had the same issue, but after upgrading azdata, I received the expected files

[2019-09-25 21:44] WilliamAntonRohm commented on #3045
@keandersen -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue 3045.

[2019-09-25 22:28] MightyPen commented on #2926
This Issue #2926 is more of a request for Support service, than it is a note about Documentation.
These GitHub Issues cannot provide Support services.

[2019-09-25 22:29] Dylan-MSFT commented on #3029
In my testing on several systems, the final @CONTOSO.COM does not make a difference. If it is omitted, the kvno implementation appends it anyways, so it does not make a difference

[2019-09-26 00:56] ahdung commented on #2991
@MightyPen First of all, thank you for your description, but in your opinion this seems to be a complicated question, is it? Come on, I just want to know a function available on which version, is this difficult to know?? Why are .net documents can? eg [https://docs.microsoft.com/en-us/dotnet/api/system.text.stringbuilder?view=netframework-4.8#applies-to](https://docs.microsoft.com/en-us/dotnet/api

[2019-09-26 02:52] thecosmictrickster opened #3048 "Missing information regarding private key permissions"
I had one extra step to do that I did not see any any official documentation or in several pundit articles: if you're running SQL Server using a [non-privileged] domain account, you will need to grant read access to the certificate private key. If you don't do this, the SQL Server service will not start. I found this information at https://nickstips.wordpress.com/2010/09/08/sql-ssl-and-sql-server-

[2019-09-26 06:19] iuriivaschuk commented on #2883
Thank.

You are the only one who could help me with bdc.

What is necessary from me to take part in a private preview?

Perhaps you can help me with this issue.
https://social.msdn.microsoft.com/Forums/sqlserver/en-US/c395e067-1c7c-4d5a-a275-85cfaa455dd0/bdc-2019-rc1-gateway-does-not-work?forum=sqlgetstarted

ср, 25 сент. 2019 г. в 19:40, Mike Ray <notifications@github.com>:

[2019-09-26 07:18] nickolay commented on #2580
Here are the links to "String Functions (Transact-SQL)" located by browsing the previous-versions/sql/ documentation for versions 2008-2012: [2012](https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2012/ms181984%28v%3dsql.110%29), [2008R2](https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/ms181984%28v%3dsql.105%29), [2008](https://docs.microsoft.com/en-us/pr

[2019-09-26 14:56] VanMSFT commented on #3048
Hi @thecosmictrickster - Thank you for the feedback. I will add clarity to the documentation, and note that the service account needs read permissions on the certificate. We appreciate your help on our documentation.

https://github.com/MicrosoftDocs/sql-docs-pr/pull/12173

#please-close

[2019-09-26 14:56] #3048 closed

[2019-09-26 16:21] WilliamAntonRohm commented on #3029
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-09-26 16:21] #3029 closed

[2019-09-26 16:22] DumboJetEngine commented on #2926
@MikeRayMSFT I think this part:
[code]
..causes confusion, because the WMI code below uses the name 'MSSQLSERVER' as well. And if you use the 'MSSQL$<instance_name>' in the WMI code, it will fail (based on my experience at least).

Notice the difference between:
[code]
...and :
[code]
...in my PowerShell script above. This is what made it work. Using `MSSQL$<instanceName>` in both places causes fa

[2019-09-26 16:50] MikeRayMSFT commented on #2705
@mcb2k3 - thanks for raising this issue. We're updating the article.

[2019-09-26 16:53] #2705 closed

[2019-09-26 17:03] VanMSFT commented on #2926
The only line in the documentation that notates replacing 'MSSQLSERVER' with 'MSSQL$<instance_name>' is for the following code block:

`$DfltInstance = $Wmi.Services['MSSQLSERVER']`

Are you saying that this fails? MSSQL$<instance_name> does not equate to the Instance Name of a SQL Server Instance. MSSQL$ is not a part of the Instance Name and that's why your PS script fails. We specifically state

[2019-09-26 17:24] bluefooted commented on #2991
@ahdung We do agree that this is an issue which really should be addressed, it should be much easier to see which version the function applies to. Unfortunately fixing this across all our documentation is not as simple as it may seem. We have taken this as an action item to hopefully address in the near future.

[2019-09-26 17:35] Elaskanator opened #3059 "Why must an explicit value for the identity column be specified?"
If I have a verbatim copy of a table and wish to do a simple INSERT ... SELECT * statement, why must I explicitly specify the identity column? I get the following error otherwise:
"An explicit value for the identity column in table '...' can only be specified when a column list is used and IDENTITY_INSERT is ON."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-09-26 19:20] DumboJetEngine commented on #2926
OK. :)

[2019-09-26 19:20] CarlRabeler commented on #3011
This question is answered here: https://stackoverflow.com/questions/44116727/does-service-broker-use-the-same-session-for-stored-procedure-exec-risk-of-tem/44126719#44126719

[2019-09-26 19:32] CarlRabeler commented on #3010
fixing now - thanks for submitting this issue.
#please-close

[2019-09-26 19:32] #3010 closed

[2019-09-26 19:32] CarlRabeler commented on #3011
#please-close

[2019-09-26 19:32] #3011 closed

[2019-09-26 19:40] CarlRabeler commented on #2998
researching

[2019-09-26 19:41] CarlRabeler commented on #2984
#please-close

[2019-09-26 19:41] #2984 closed

[2019-09-26 19:53] griffinator76 commented on #2984
What specifically are "the cases" though? Without further information this is not helpful and renders the information schemas basically useless.

[2019-09-26 19:54] CarlRabeler commented on #2885
I am not aware of any such list. We will add this request to our backlog of work items. Thanks for your inquiry.
Carl

[2019-09-26 19:54] CarlRabeler commented on #2885
#please-close

[2019-09-26 19:54] #2885 closed

[2019-09-26 20:02] CarlRabeler commented on #2404
@RobAshton-IM Hi Rob - have you made any progress in updating the page? Thanks, Carl

[2019-09-26 21:32] MikeRayMSFT commented on #2989
We have updated the article in https://github.com/MicrosoftDocs/sql-docs-pr/commit/09fe2f89fbe61cbb763ea29572f533814690ea7e

[2019-09-26 21:37] CarlRabeler commented on #2998
The short answer is no. See CREATE EXTERNAL DATA SOURCE https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-data-source-transact-sql?view=azuresqldb-current and CREATE EXTERNAL TABLE https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-table-transact-sql?view=azuresqldb-current.
Longer answer is that on-premises, the syntax is used for Polybase, which is not supp

[2019-09-26 21:37] CarlRabeler commented on #2998
#please-close

[2019-09-26 21:37] #2998 closed

[2019-09-26 23:34] msebolt commented on #3059
@Elaskanator Thank you for the question.

You shouldn't have to explicitly specify the identity unless `IDENTITY_INSERT` is turned ON and by default, it should be turned OFF.

If ON, it's somewhat cumbersome to specify column names as mentioned in [this post](https://stackoverflow.com/questions/2005437/an-explicit-value-for-the-identity-column-in-table-can-only-be-specified-when-a), but the work-a

[2019-09-27 03:07] thecosmictrickster opened #3060 "SQL Server Configuration Manager unable to see certificates"
I'm not sure this is the best place to put this, but it helps having things in one place.

An issue I came across was after importing a certificate, it did not appear in the drop-down list of available certificates in SQL Server Configuration Manager. This was due to a missing value in the registry under key  HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Tcpip\Parameters; the [Domain] value

[2019-09-27 03:32] srutzky opened #3061 "Include files for SQL Server version name & number are inconsistent"
Going through the various include files for "**SQL Server versionName (versionNumber.x)**" you can see that there is no consistency to the file naming convention. For each file I show the content below the URL for the file, and then below that I note, based on the content of the file, whether the filename is referencing the version _Name_ (e.g. "2017") or the version _Number_ (e.g. "14.x").

At th

[2019-09-27 03:53] MikeRayMSFT commented on #3045
https://github.com/MicrosoftDocs/sql-docs/issues/3045

[2019-09-27 03:57] MikeRayMSFT commented on #2793
@minetokusaltug  - any thoughts on this one?

[2019-09-27 03:58] MikeRayMSFT commented on #2841
@minetokusaltug - any comments on this?

[2019-09-27 04:42] OzBob opened #3062 "Some seed values gives predictable/same result of RAND"
Setting the Seed with max smallint returns the same non-random result.

select RAND(32767)

consistently returns:
0.324119942249554

but, Select RAND() on it's own run several times works as expected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f43f1f35-c57f-379a-7117-5ba1ec7ddb7a
* Version Independent ID: a16ea319-

[2019-09-27 05:56] OzBob commented on #2885
@CarlRabeler
here is the list of currently supported functions
generated from the GitHub repository on the 1st of the September:
https://medium.com/@obobwa/azure-sql-snapshot-of-supported-system-procedures-84747c324e2a

[2019-09-27 09:41] aisbergde opened #3063 "How to reinstall / repair R or Phyton, if the first setup was not successful?"
I can't find any documentation or help how to repair a wrong setup. Could you add some instruction how to repair a wrong R or Python installation?

This is the output from the setup program, when I execute the "repair":
Error description:             The SQL Server feature 'sql_inst_mpy' is not in a supported state for repair, as it was never successfully configured. Only features from successful

[2019-09-27 13:47] markingmyname commented on #3040
@igor63132 Have you looked at the Release Notes to download older versions?

https://docs.microsoft.com/en-us/sql/ssms/release-notes-ssms?view=sql-server-2017#download-ssms-1791

[2019-09-27 13:49] markingmyname commented on #3026
@MisinformedDNA MisinformedDNA

Are you looking for a specific scenario or just that Azure SQL is mentioned?  Because if so, then there is information about Azure SQL.  It is at the top of the article where it states what this article applies to.

[2019-09-27 14:25] festivus opened #3064 "Azure Storage Connection Manager"
I'm trying to use the Azure Blob Download SSIS task. When creating the connection the Azure Storage Connection Manager has an option for ServicePrincipal. A Service Principal can be secured with a certificate. Does the Azure Storage Connection Manager support connecting via a certificate?

[2019-09-27 14:49] igor63132 commented on #3040
I just realized I have to click on a link for the particular language to get it.Not really obvious it's a link to download.For the latest version it shows as :
SSMS 18.3

Download: Download SSMS 18.3
 It's obvious, right? I expected similar for everythnig else as it used to be on product download pages before.Well, at the end my issue wasn't really with version of SSRS but rather  the way how some

[2019-09-27 15:39] msebolt commented on #3060
@thecosmictrickster Thank you for the feedback.

Assigning this to the author for review.

[2019-09-27 15:58] msebolt commented on #3061
@srutzky Thank you for the feedback.

The new versioning syntax used in Microsoft Docs (see below) allows multiple versions to be included in the same document.

![Capture](https://user-images.githubusercontent.com/6675884/65782620-e9310980-e102-11e9-81b6-88599ff10b46.PNG)

...so at some point the .md files referenced above should be condensed into a single sssql or ssversion document.  The image

[2019-09-27 16:02] msebolt commented on #3062
@OzBob  Thank you for the feedback.

This is the expected behavior and is stated in the article as such.

Is this a suggestion to change the function?

[2019-09-27 16:25] JediSQL opened #3065 "FK Not Backwards"
SQL Server has a requirement for creating foreign key constraints that is not documented in this topic.
For a mulitple column foreign key, the "( ref_column [ ,...n ] )" reference column specification must list the columns in the order they were listed to create the referenced primary key on the primary key table.

The script below gets an error in the "backwards key" batch. However, the sp_help o

[2019-09-27 16:25] JediSQL opened #3066 "FK Not Backwards"
SQL Server has a requirement for creating foreign key constraints that is not documented in this topic.
For a mulitple column foreign key, the "( ref_column [ ,...n ] )" reference column specification must list the columns in the order they were listed to create the referenced primary key on the primary key table.

The script below gets an error in the "backwards key" batch. However, the sp_help o

[2019-09-27 16:30] selangley-wa opened #3067 "Repeated sentences"
In this section:

https://docs.microsoft.com/en-us/sql/relational-databases/databases/tempdb-database?view=sql-server-ver15#memory-optimized-tempdb-metadata

The below sentences appear twice in the same paragraph:

SQL Server 2019 introduces a new feature that is part of the In-Memory Database feature family, memory-optimized tempdb metadata, which effectively removes this bottleneck and unlocks a

[2019-09-27 16:40] CarlRabeler commented on #2885
@OzBob - your list is relying on a metadata tag that is not guaranteed to be up-to-date and reliable. This metadata tag was added at one time for internal reporting purposes by the content team - but is not currently being used. As the 1000's of articles are updated by 100's of different PMs and Devs, there is no requirement that this tag be updated. A more reliable indicator is the moniker tag on

[2019-09-27 16:42] MikeRayMSFT commented on #3045
The update to the documentation is en-route.
To request an update to the feature (i.e. to ask to raise the maximum columns in a view), use https://aka.ms/sqlfeedback.

Thank you @keandersen for submitting this comment.

[2019-09-27 16:42] #3045 closed

[2019-09-27 18:42] tmmueller opened #3069 "Azure AD support in SSDT: How?"
The documentation on [Azure Active Directory support in SQL Server Data Tools (SSDT)](https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/ssdt/azure-active-directory.md) does not describe how to create a connection. Specifically, how do I connect a local SSIS package (_not_ using Azure Data Factory) to an Azure SQL Database instance using Azure AD and MFA? I haven't been able to find anything

[2019-09-27 19:49] MisinformedDNA commented on #3026
Awesome, it applies. So now how would you connect? Do I enter the full server URL for the computer name? Do I need to specify TCP and post? What about the Database Engine? What would I put there?
There are no examples of how/what needs to change with an Azure SQL DB.

[2019-09-27 22:42] genuinefafa opened #3070 "Update link to enable-in-memory-oltp.sql script"
In [here](https://docs.microsoft.com/en-us/sql/relational-databases/in-memory-oltp/survey-of-initial-areas-in-in-memory-oltp?view=sql-server-2017#2-elevate-to-snapshot)

link is oudated, updated is [this](https://github.com/microsoft/sql-server-samples/raw/master/samples/features/in-memory-database/in-memory-oltp/t-sql-scripts/enable-in-memory-oltp.sql)

---
#### Document Details

⚠ *Do not edit t

[2019-09-27 23:06] MightyPen commented on #3070
@genuinefafa Hello Facundo, I am grateful for your report to us about this bad link, and for finding the correct link. Very cool.
Fixing with PR 12209. The fix should be live on Docs sometime on Monday Sept/30.

- `https://github.com/MicrosoftDocs/sql-docs-pr/pull/12209`

I am now Closing this Issue #3070 as fixed.
Thank you for submitting this Issue. We hope to hear from you again.

[2019-09-27 23:06] #3070 closed

[2019-09-27 23:20] WilliamAntonRohm commented on #3063
@aisbergde -- Germo, thank you for your feedback.  You may find more information here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)
- [All the ways to get help](https://docs.microsoft.com/sql/sql-server/sql-server-get-help)

@dphansen -- David, please look into updating the documentation.

[2019-09-27 23:23] WilliamAntonRohm commented on #3064
@festivus -- thank you for your feedback.  You may find additional information here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)
- [All the ways to get help](https://docs.microsoft.com/sql/sql-server/sql-server-get-help)

If you're referencing a particular article, please add its URL as

[2019-09-27 23:30] WilliamAntonRohm commented on #3066
@JediSQL -- Dan, thank you for your feedback.

@CarlRabeler -- Carl, please look into updating the documentation.

Related issue https://github.com/MicrosoftDocs/sql-docs/issues/3065

[2019-09-27 23:31] WilliamAntonRohm commented on #3065
@JediSQL -- Dan, thank you for your feedback.

@CarlRabeler -- Carl, please look into updating the documentation.

Related issue https://github.com/MicrosoftDocs/sql-docs/issues/3066

[2019-09-27 23:33] WilliamAntonRohm commented on #3069
@tmmueller -- Thomas, thank you for your feedback.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@stevestein -- Steve, please look into updating the documentation.

[2019-09-28 09:18] aisbergde commented on #3063
Not helpful. It is an real issue and I spent hours to find a solution and did not find. If the setup of Python was not successful because of blocked download there seams to be no way to solve it.

[2019-09-30 01:53] alebrozzoamz opened #3072 "When not to use it?"
I think there would be much value if a section of this page explained what a filtered index is NOT good for. Particularly, I was interested in whether to add WHERE IsDeleted = 0 (record not soft deleted) in my particular index, for a table where most of the values will be 0 (not soft deleted). My guess is it would not be useful but wanted to go to the source.

---
#### Document Details

⚠ *Do not

[2019-09-30 06:48] WilliamAntonRohm commented on #2975
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2019-09-30 06:48] #2975 closed

[2019-09-30 10:08] modest opened #3073 "Mystery column in SQL edition comparison"
"RDBMS manageability" and "Programmability" tables contain an unlabeled column with some values filled in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93d8379a-9079-2ff1-b9c9-594116fe8367
* Version Independent ID: 1fda1b0c-fea1-ae35-c3a2-34c214bf1570
* Content: [Editions and supported features of SQL Server 2017 ~ L

[2019-09-30 11:38] m-brooks opened #3074 "Past versions?"
Given that the ability to restore databases depends upon matching the correct version of SSMS to the backup file, it is important that we can still download and install past versions of SSMS. I don't see any link on this page to allow us to do that though.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-33

[2019-09-30 11:47] MichaelBrooks-Version1 commented on #3074
OK, forget that - the link is there I just failed to spot it. Apologies.

[2019-09-30 12:39] HenrikStaunPoulsen commented on #2631
thank you very much

[2019-09-30 15:14] blakemcneill opened #3075 "Nested Groups"
Please add info on how to create nested groups. E.g. GroupA/SubGroupA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26c39cc5-33c8-c13d-0dd0-a3a8841d78de
* Version Independent ID: da1d4d25-546f-4748-6c6b-1ac9d0565783
* Content: [Server groups - Azure Data Studio](https://docs.microsoft.com/en-us/sql/azure-data-studio/

[2019-09-30 15:31] dphansen commented on #3063
@aisbergde Thank you for opening a GitHub issue. I am investigating and see if this is something we need to document. Please beware that if we choose to document it, it will take some time to do so.

Which version, build, and edition of SQL Server are you using?

I would recommend that you open a ticket with Microsoft Support, as described in [SQL Server help and feedback
](https://docs.microsoft.

[2019-09-30 15:56] Aniruddh25 commented on #3063
Setup logs in "C:\Program Files\Microsoft SQL Server\130\Setup Bootstrap\Log" might help further troubleshoot. If its a problem of blocked download, may be this article regarding offline install will help [https://docs.microsoft.com/en-us/sql/advanced-analytics/install/sql-ml-component-install-without-internet-access?view=sql-server-2016](https://docs.microsoft.com/en-us/sql/advanced-analytics/ins

[2019-09-30 17:18] samrueby opened #3078 "Not enough info: types of locks, Shared, Update, IntentShared, IntentExclusive, or Exclusive"
There is not enough information on the types of locks that can be acquired or where to learn more about them and their pros and cons. Please link to the exact meaning of Shared, Update, IntentShared, IntentExclusive, or Exclusive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bfc5142-4589-ac67-69c2-65d7760719e4
* Ver

[2019-09-30 17:20] #2678 closed

[2019-09-30 17:22] dphansen commented on #3063
@Aniruddh25 Thank you for the information.

@aisbergde Please see if the information that @Aniruddh25 can be used to resolve the issue. If not, please open a ticket with Microsoft Support, as mentioned above.

I am closing this issue as this is not a general issue, but something that needs troubleshooting either by the customer or by Microsoft Support. It is therefore not something we can document

[2019-09-30 17:22] #3063 closed

[2019-09-30 17:35] msebolt commented on #3034
Closing the issue now.

[2019-09-30 17:35] #3034 closed

[2019-09-30 17:40] #3059 closed

[2019-09-30 17:42] msebolt commented on #3061
Closing the issue now, please comment below if there are any questions.

[2019-09-30 17:42] #3061 closed

[2019-09-30 17:42] msebolt commented on #3062
Closing the issue now, please comment below if there are any questions.

[2019-09-30 17:42] #3062 closed

[2019-09-30 17:46] msebolt commented on #3072
@alebrozzoamz Thank you for the feedback.

Assigning this to the author for review.

[2019-09-30 18:02] RussellRClark opened #3080 "Install SQL Server on Ubuntu 18.04"
Install fails as shown below: Hardware: Ubuntu VirtualBoxVM on Ubuntu Host. Zeon processor

sudo add-apt-repository "$(wget -qO- https://packages.microsoft.com/config/ubuntu/16.04/mssql-server-2017.list)"
Hit:1 http://ppa.launchpad.net/notepadqq-team/notepadqq/ubuntu bionic InRelease
Ign:2 http://dl.google.com/linux/chrome/deb stable InRelease
Ign:3 http://ppa.launchpad.net/nvbn-rm/ppa/ubuntu bion

[2019-09-30 18:09] VanMSFT commented on #3080
Hi @RussellRClark - Thank you for submitting this feedback. This forum is only for discussing documentation issues, and not for requesting support. Please utilize the following channels to get help on your installation issues:

- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Setup and Upgrade -  MSDN Forum](https://social.msdn.microsoft.com

[2019-09-30 18:09] #3080 closed

[2019-09-30 18:17] aisbergde commented on #3063
Python is not part of SQL Server 2016, but it is included only in 2017. The issue happens when an anti-virus program blocks the download of Python resources. The issue now is, that the sql server installer will not mark the Python part as not installed but it is marked as installed and can't be removed, and it can't be repaired. I think this is a serious issue and it should be fixed in the install

[2019-09-30 18:19] ghost opened #3081 "CROSS APPLY OPENJSON examples are hard to understand and to reproduce if the content of the JSON strings is unknown"
@aisbergde commented on [Sun Sep 29 2019](https://github.com/MicrosoftDocs/sql-docs.de-de/issues/102)

On this site are some examples for the usage of CROSS APPLY.
But these examples are very hard to understand and can't be reproduced if the content of the JSON is unknown.
Please consider to add the content of the used JSON strings to enable a user to understand examples.

---
#### Dokumentdetails

[2019-09-30 18:19] lichasu commented on #3081
Hi, please check the issue above.

Thanks!

[2019-09-30 18:22] aisbergde commented on #3081
You find good and understandable examples of the usage of CROSS APPLY OPENJSON outside the Microsoft documentation. It would be fine to get this easy to understand examples inside the Microsoft documentation.

[2019-09-30 18:40] dphansen commented on #3063
@aisbergde I will send your feedback back to the product team. Please contact Microsoft Support to open a ticket for your issue. The process is described in [SQL Server help and feedback](https://docs.microsoft.com/sql/advanced-analytics/package-management/r-package-information).

[2019-09-30 18:53] lichasu opened #3082 "Programmability table has unlabelled columns"
@swsch commented on [Mon Sep 30 2019](https://github.com/MicrosoftDocs/sql-docs.de-de/issues/103)

The table in the section Programmability has 1+4 = 5 headings but 6 columns in a few rows towards the bottom with contradicting values in the final columns of two of them.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub

[2019-09-30 18:53] lichasu commented on #3082
Hi team,

Please check this issue.

Thanks!

[2019-09-30 18:53] lichasu commented on #3082
Hi team,

Please check this issue.

Thanks!

[2019-09-30 19:02] swsch commented on #3082
seems to be the same as #3073 ?

[2019-09-30 19:47] msebolt commented on #3074
No worries, thank you for the update.

[2019-09-30 19:47] #3074 closed

[2019-09-30 19:48] msebolt commented on #3075
@blakemcneill Thank you for the feedback.

Assigning this to the author for review.

[2019-09-30 19:53] msebolt commented on #3078
@samrueby Thank you for the feedback, assigning this to the author.

In the meantime, please refer to the [Lock Compatibility matrix](https://docs.microsoft.com/previous-versions/sql/sql-server-2008-r2/ms186396(v=sql.105)?redirectedfrom=MSDN).

[2019-09-30 19:59] msebolt commented on #3082
@swsch You're correct, please refer there for further updates.

[2019-09-30 19:59] #3082 closed

[2019-09-30 20:01] #3073 closed

[2019-09-30 20:47] peeryw opened #3083 "database drop-down list"
You tell us to change to TutorialDB and that we can just append the new code to the end of the code we already have. Issue is that the first line refers to "master" so the appended code will not create a table in the TutorialDB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eda8bfc9-3c56-6087-891b-aaa6ddcad7f9
* Versio

[2019-09-30 21:56] FlavioDiasPs opened #3084 "Giving names to a table during delete is not supported"
The following code doesn't work:

DELETE FROM Sales.SalesPersonQuotaHistory
FROM Sales.SalesPersonQuotaHistory AS spqh

It gives me the exception below:

Msg 100029, Level 16, State 1, Line 11
A FROM clause is currently not supported in a DELETE statement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b21fe0c8-0242-d9

[2019-09-30 21:56] msebolt commented on #3073
@modest  Thank you for the feedback.

The documentation has been updated.

[2019-09-30 22:14] RussellRClark commented on #3080
thanks for nothing

[2019-09-30 22:31] WilliamAntonRohm commented on #3067
@selangley-wa -- Scott, thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2019-09-30 22:31] #3067 closed

[2019-09-30 22:32] kfarlee commented on #2993
DTC is not involved in Availability Group processing unless a database is also a member of a Failover Cluster.  Within an AG, the consistency between replicas is maintained by the AG logic:  The primary will not complete the commit and acknowledge the commit to the caller until the secondary has acknowledged that it has persisted the log records in durable storage.  Only then does the Primary decl

[2019-09-30 22:34] MashaMSFT commented on #2993
Hi @Ventilios , please let us know if you have any other questions? If not, I will proceed with closing out this Git Issue in a few business days.

Thanks for contacting Microsoft and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2019-09-30 22:42] CarlRabeler commented on #3084
@FlavioDiasPs I just ran this statement in Azure using the AdventureWorks LT database and it works fine - same syntax

DELETE FROM SalesLT.SalesOrderDetail
FROM SalesLT.SalesOrderHeader AS spqh
INNER JOIN SalesLT.Customer AS sp
ON spqh.CustomerID = sp.CustomerID
WHERE spqh.status = 5;
GO

[2019-10-01 00:40] MashaMSFT commented on #3083
Hi @peeryw, thank you for contacting Microsoft! I've modified the text to provide more clarity and it should be live by tomorrow. Please let us know if we can  be of further assistance? Otherwise, I will proceed with closing out this Git Issue in a few business days.

Thanks and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2019-10-01 07:14] TheConstructor opened #3085 "Make "Event Notifications" a distinct group from "Service Broker""
Currently `docs/relational-databases/service-broker/index.md` redirects to `/sql/relational-databases/service-broker/event-notifications` and all the pages inside the folder add to this topic. While it does utilize service broker, it may not be the primary use-case.

I would like to propose creating a new `event-notifications` folder & group, and have a page for "Service Broker" that directs peopl

[2019-10-01 11:26] mdsyslab opened #3086 "Is there a permanent link to the latest stable version of SSMS?"
The SQL 2017 docs at https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?redirectedfrom=MSDN&view=sql-server-2017 point to https://go.microsoft.com/fwlink/?linkid=2104251 for the download of the latest SSMS.

Will this link change when a newer version is SSMS is released, or is that a permanent link that will always point to the latest release?

I am asking as I wo

[2019-10-01 12:06] Karl-WE opened #3087 "Supported Scenarios Server OS is incomplete"
https://docs.microsoft.com/de-de/sql/database-engine/install-windows/install-sql-server-on-server-core?view=sql-server-2017#supported-scenarios OR
https://docs.microsoft.com/en-us/sql/database-engine/install-windows/install-sql-server-on-server-core?view=sql-server-2017#supported-scenarios

does not match with supported Windows Core Installation matrix as listed on:
https://docs.microsoft.com/de-d

[2019-10-01 12:58] VanMSFT commented on #3060
Hi @thecosmictrickster - Thanks! I added text to the doc to clarify that the certificate must contain the DNS suffix if only the host name is used. We appreciate your feedback on our documentation.

https://github.com/MicrosoftDocs/sql-docs-pr/pull/12238

If there are any concerns, please let us know.

#please-close

[2019-10-01 12:58] #3060 closed

[2019-10-01 17:02] MashaMSFT commented on #3087
Hi @Karl-WE , thanks for contacting Microsoft, and bringing this to our attention! You're right it looks like there are some version mismatches here. We'll get this fixed in a bit :)

Thanks!
Masha from the SQL Docs team

[2019-10-01 18:41] Ventilios commented on #2993
Yes, thank you and please process the information from Kevin in the docs article.

[2019-10-01 19:15] MashaMSFT commented on #2993
@ventilios, this has been added and will be live later today :) Thanks again for helping improve our documentation!

[2019-10-01 19:15] #2993 closed

[2019-10-01 19:24] davisnw opened #3090 "blocking_session_id is 0, never null, contrary to documentation?"
The documentation for sys.dm_exec_requests says:

"blocking_session_id	smallint	ID of the session that is blocking the request. If this column is NULL, the request is not blocked, or the session information of the blocking session is not available (or cannot be identified)."

However my experience shows that `blocking_session_id` is never `null`, instead it appears to be `0` for non-blocked reques

[2019-10-01 20:48] WilliamAntonRohm commented on #3085
@TheConstructor -- Matthias, thank you for your feedback.

@MashaMSFT -- Masha, please look into adding this information.

[2019-10-01 20:53] WilliamAntonRohm commented on #3086
@mdsyslab -- thank you for your question.

@dnethi -- Dinakar, is this fwlink to the latest version?

cc:  @MightyPen

[2019-10-01 20:55] WilliamAntonRohm commented on #3090
@davisnw -- thank you for your feedback.

@pmasl -- please look into updating the documentation.

cc; @MightyPen

[2019-10-01 21:07] dnethi commented on #3086
Currently, the ID at the end is generated each time and hence, will be different.

[2019-10-01 21:43] MashaMSFT commented on #3085
Hi @TheConstructor , thank  you very much for providing your feedback to our docs :) This is a good suggestion, I've created an internal work item ([1608985](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1608985)) to track it further.

I will proceed with closing out this Git Issue in the meantime, but please feel free to reach out should you need anything further.

Thanks!
Masha

[2019-10-01 21:43] #3085 closed

[2019-10-02 00:09] MikeRayMSFT commented on #3072
@alebrozzoamz - thank you for the suggestion. I've filed internal doc work item (1609076) and will review with PM.

[2019-10-02 00:09] #3072 closed

[2019-10-02 03:15] aneame opened #3093 "Example B"
Example B does not work for me.
I get the error "Invalid column name 'blocked'"
However this succeeds: "select blocking_session_id from sys.dm_exec_requests where blocking_session_id &lt;&gt; 0"
I am using SQL Server 2016 SP2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57bb7336-951e-cab7-522e-abb98e7f7a54
* Version

[2019-10-02 04:20] brubakerjeff opened #3094 "This content has been retired - How to: Automate Package Execution"
Hi,

I'm reading this document https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/integration-services/packages/sql-server-agent-jobs-for-packages.md with the objective of learning how to configure SSIS packages to run with SQL Server Agent on an on premise installation.

The reference I feel most relevant is the following:
Video, How to: Automate Package Execution by Using the SQL Server Ag

[2019-10-02 04:35] MightyPen commented on #3086
@markingmyname Hi Mark, Can you please take over this Issue #3086 , because it needs your SSMS expertise.
@dnethi Has provided some info in a Comment.

[2019-10-02 06:16] MightyPen commented on #3090
This attached MS Word .docx file is an email I sent to Pedro Lopes, asking him to enter a Comment to the PR12275:

- `https://github.com/MicrosoftDocs/sql-docs-pr/pull/12275`

[Email.Issue-3090.PR-12275.GeneMi.Pedro agree with fix for Issue 3090 blocking_session_id 0.msg.docx](https://github.com/MicrosoftDocs/sql-docs/files/3679697/Email.Issue-3090.PR-12275.GeneMi.Pedro.agree.with.fix.for.Issue.30

[2019-10-02 07:00] IanKemp opened #3095 "Does not appear to handle Z and M values"
Input:

`select geometry::STLineFromText('LINESTRING ZM (1 2 0 0,3 4 0 0)', 0)`

Result:

[code]

Occurs on both SQL Azure and SQL 2016 LocalDB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffb8630f-fe2c-f388-f2a7-1aca2a1a6a65
* Version Independent ID: 1d4dda34-e068-0735-d405-70a7ac88ee34
* Content: [STLineFromText (

[2019-10-02 12:50] devale opened #3097 "select statement should be in parenthesis"
the select statements in the examples dont have parentheses.

documentation says: " If the Boolean expression contains a SELECT statement, **the SELECT statement must be enclosed in parentheses.**"

example says:
IF DATENAME(weekday, GETDATE()) IN (N'Saturday', N'Sunday')
       **SELECT 'Weekend';**
ELSE
       **SELECT 'Weekday';**

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-10-02 13:16] StingyJack opened #3098 "This page should not list any download link for this program."
It has been so broken since 17.x that every little thing (dragging from object explorer to the editor, changing the active db, simply typing, etc) causes it to go Not Responding for long periods of time, sometimes never coming back and losing the work in progress.

It does this like 2-5 times a day during light use. How has this hot mess been allowed to pass any kind of QA testing? Versions before

[2019-10-02 14:35] brentcarlson opened #3100 "64-Bit Machines"
When following these steps on a 64-bit machine, you must run mmc.exe /32 in order for the SQL Configuration Manager extension to show up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f80bfb4b-10e3-5341-5010-f9020acb91a6
* Version Independent ID: 8caf8830-7425-512f-b32a-6f6bca44310c
* Content: [Connect to Another Comp

[2019-10-02 16:09] #3093 closed

[2019-10-02 16:10] msebolt commented on #3093
@aneame Thank you for the feedback.

The documentation has been updated.

[2019-10-02 16:15] msebolt commented on #3094
@brubakerjeff Thank you for the feedback.

This is a good question if the video is still relevant for current installations, assigning the author.

[2019-10-02 16:29] msebolt commented on #3095
@IanKemp  Thank you for the question.

Does this work if you remove the `ZM`?

```select geometry::STLineFromText('LINESTRING (1 2 0 0,3 4 0 0)', 0)```

[2019-10-02 17:14] msebolt commented on #3097
@devale  Thank you for the feedback.

The term Boolean expression refers only to `SELECT` statements used in the logic.

However, since the examples are misleading, I've updated the documentation accordingly.

[2019-10-02 17:17] gaelj opened #3101 "SSMS 18.x ? No thanks"
DB diagrams were removed without valid reason or notice from 18.0.
They put it back in 18.1 after user backlash.
But in 18.1 editing a schema will randomly break it, especially when other people are still using 17.x. You end up re-creating your whole schema from scratch, only to find it broken again 2 days later.
My schemas are too precious to take that risk again.
I'm sticking with 17.9.1.

---
#

[2019-10-02 17:20] msebolt commented on #3098
@StingyJack  Thank you for the feedback, we're sorry your experiencing issues.

This issue in particular (referenced [here](https://feedback.azure.com/forums/908035-sql-server/suggestions/37887988-ssms-crash-when-dragging-table-from-object-explore)) has been addressed and will be released in the next update.

Please refer to the [SQL Server forums](https://feedback.azure.com/forums/908035-sql-serv

[2019-10-02 17:23] msebolt commented on #3100
@brentcarlson Thank you for the feedback.

This has been assigned to the author for review.

[2019-10-02 17:27] emad-almousa opened #3102 "procedure in the document"
I think there is a mistake in this guide, here we are tackling stored procedure where the code is "dynamic SQL". the procedure in this guide is not using dynamic SQL !?

Regards,
Emad Al-Mousa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ca807e0-3f89-1a14-86af-d2d1b463ab1d
* Version Independent ID: 9e9ba593-b9e6-6cb

[2019-10-02 18:12] dnethi commented on #3086
@mdsyslab ; @WilliamAntonRohm  - you can use https://aka.ms/ssmsfullsetup to download the latest version of SSMS. Do know that we typically wait for a couple of days after a release to update this link just in case we find any high priority issues immediately post release.

[2019-10-02 18:25] jeroenhabets opened #3103 "Debug on Azure SQL Database?"
If I switch to Azure SQL Database the "How to: Debug Stored Procedures" still explains how to debug. Not a single warning about this not supported on Azure.

docs/ssdt/how-to-debug-stored-procedures.md

[2019-10-02 18:28] StingyJack commented on #3098
@msebolt - yeah, yeah, I know its a product issue. (but think of how many of your users you can help by altering the doc in the way that I mentioned =P )

[2019-10-02 18:28] #3098 closed

[2019-10-02 18:32] StingyJack commented on #3098
@msebolt - i think part of the problem with this is that there is a Check for Updates menu option that lies like a rug

[2019-10-02 18:56] #3097 closed

[2019-10-02 19:16] msebolt commented on #3101
@gaelj  Thank you for the feedback, we're sorry you're experiencing issues.

Unfortunately, this is a topic that can only be addressed by the product team.

Please move the issue to the [SQL Server forums](https://feedback.azure.com/forums/908035-sql-server).

[2019-10-02 19:21] msebolt commented on #3102
@emad-almousa Thank you for the feedback.

Apologies in that I see no reference to **dynamic sql** used in the article.

Is this referenced as dynamic from another article?

[2019-10-02 20:11] bdcoder2 opened #3104 "Is there any way to add a column AFTER or BEFORE an existing column? ..."
Hello,

Is there any way to ADD a column to a table and specify its position?  Something like:

`ALTER TABLE my_table ADD new_column VARCHAR(10) NULL AFTER existing_column_name;`

Would be nice, rather than having to create a new table with the columns, copy data from existing table, and then drop the old table and rename the new table.

If not, the docs should be updated to at least indicate that

[2019-10-02 20:31] CarlRabeler commented on #3104
@bdcoder2 Thanks for your question. The new column is added at the end of this existing set of columns. I am updating the docs to make this clear.
Carl

[2019-10-02 20:31] #3104 closed

[2019-10-02 22:57] isaac-dasan opened #3105 "Examples: Azure SQL Data Warehouse and Parallel Data Warehouse -> seems like it's in the wrong place"
The heading -&gt; Examples: Azure SQL Data Warehouse and Parallel Data Warehouse

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ef56d2d-d84f-9c9d-7c59-d53f9bb3e32e
* Version Independent ID: 7291bb23-ac58-4e43-8a46-27e0a86926db
* Content: [PERCENTILE_CONT (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sq

[2019-10-02 23:19] mdsyslab commented on #3086
@dnethi Awesome, thank you!

Sorry, I'm not sure what the etiquette on GitHub is regarding closing issues, whether I'm ok to do it, or if I should leave it for you guys, so I'll leave it for you guys :)

[2019-10-03 03:24] aayush3667 commented on #3012
Hi,

still waiting for the solution.

Thanks

[2019-10-03 07:57] branko-d opened #3107 "XACT_ABORT is ON in triggers"
As far as I have tested, XACT_ABORT is ON in triggers, even when it's OFF in the calling code.

If this is always the case, that should be documented., If there are exceptions, they should be documented. If this is intended (or not) to stay that way in future versions of SQL Server, that should also be documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-10-03 08:51] dllmr opened #3108 "Broken link to Linux download"
The link to the .tar.gz download for Azure Data Studio 1.12.0 currently gives the .deb file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811ed1f4-1c78-aa1b-e752-307250ca8eb7
* Version Independent ID: f36629bf-b2e6-4993-7c77-32fa311ea942
* Content: [Download and install - Azure Data Studio](https://docs.microsoft.com

[2019-10-03 11:39] airbreather commented on #3095
SQL Server seems to read WKT with Z/M/ZM data differently than the OGC WKT standard.  See NetTopologySuite/NetTopologySuite#324 for when I first discovered this.

If the WKT is coming from NetTopologySuite, then you can use`WKTWriter.ForMicrosoftSqlServer()` (as of NTS 2.0.0) to get an instance of `WKTWriter` that writes out WKT in the format that SQL Server expects.

[2019-10-03 11:57] VanMSFT commented on #3001
Thanks for the suggestion, @ermajor32! We will investigate this feedback.

[2019-10-03 13:38] mloskot opened #3110 "OLE DB or ODBC connection string allow curly braces"
Currently, on this page https://docs.microsoft.com/en-us/sql/relational-databases/security/strong-passwords, there is this note:

![image](https://user-images.githubusercontent.com/80741/66129891-12fd9b00-e5f1-11e9-94ab-d5c5ef6e17f9.png)

I have successfully connected to`Microsoft SQL Server 2017 (14.0.2027.2)` using the password `AbC23=$dEfG'+}`, where the last `}` character is part of the passwo

[2019-10-03 14:54] DmitryVakhrushev opened #3111 "Slow download"
Could you provide an alternative download link? I am trying for several days and it shows me 5 hours as an approximate download time. To compare, I just downloaded another piece of software (200Mb) and it took about 3 minutes. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
*

[2019-10-03 17:14] karldodd opened #3112 "Hybrid Buffer Pool and 'enlightenment'"
A bit confused about the difference between Hybrid Buffer Pool and 'enlightenment'. Are they two different things?

I read a quite good article (http://nedotter.com/archive/2019/06/sql-2019-pmem-enlightenment-and-the-hybrid-buffer-pool/) which tells HBP and enlightenment are different. It says HBP is just PMEM extension of normal buffer pool and enlightment is putting data file on PMEM. Is this ri

[2019-10-03 17:16] WilliamAntonRohm commented on #3105
@isaac-dasan -- Isaac, thank you for your feedback.  I'll update this article.

[2019-10-03 17:17] WilliamAntonRohm commented on #3107
@branko-d -- thank you for your feedback.

@CarlRabeler -- please look into this issue 3107.

[2019-10-03 17:19] WilliamAntonRohm commented on #3108
@dllmr -- Mike, thank you for your feedback.  I'm looking into this link.

[2019-10-03 17:21] WilliamAntonRohm commented on #3110
@mloskot -- Mateusz, thank you for your feedback.

@VanMSFT -- Van, please look into this issue 3110.

[2019-10-03 17:36] CarlRabeler commented on #3107
@branko-d Thanks for submitting this issue. Can you please provide some sample code showing your testing / so I can reproduce it? Meanwhile, I am researching.
Carl

[2019-10-03 18:23] breenb opened #3113 "Example doesn't work for schema_option > than an int"
The schema_option cannot be cast to an int correctly if the number is &gt; that what an int can hold. Casting it to a bigint produces the correct number, but passing a number that large to the value in the SP doesn't convert it correctly to a varbinary(8) for the article being updated. The SP appears to take varbinary(8) values fine, so not sure why the example doesn't just do it that way. I am wo

[2019-10-03 18:32] suedeyloh opened #3114 "CREATE DATABASE SCOPED CREDENTIAL secret string - is it right?"
My storage account SAS string looks similar to the example used here, but when I run my CREATE DATABASE SCOPED CREDENTIAL code, I get an error: "The identifier that starts with '<blah>' is too long. Maximum length is 128."  The example here is also longer than 128.  It's not clear how to proceed.

[2019-10-03 19:09] jbolduc81 opened #3115 "EncryptByPassphrase"
The fact that Sql Server 2017 now uses SHA2 algorithm instead of SHA1 in the process of encrypting data by passphrase should in my opinion be listed in the breaking changes as it has broken our application which exchanges encrypted data between different sql server versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-10-03 20:44] suedeyloh commented on #3114
Finally got past this.  The problem wasn't the length.  I needed to create a master key first.  You should probably add this to the example.

[code]

[2019-10-03 20:44] #3114 closed

[2019-10-03 21:27] WilliamAntonRohm commented on #3111
@DmitryVakhrushev -- Dmitry, I am unable to replicate your issue, as my estimated download time is 9 minutes.  There are many factors at work and from here I cannot determine where the slowdown is occurring.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-03 21:27] #3111 closed

[2019-10-03 21:30] WilliamAntonRohm commented on #3113
@breenb -- thank you for your feedback.

@stevestein -- please look into this issue 3113.

[2019-10-03 21:31] WilliamAntonRohm commented on #3115
@jbolduc81 -- thank you for your feedback.

@MikeRayMSFT -- please look into updating this article.

[2019-10-03 21:33] WilliamAntonRohm commented on #3112
@karldodd -- thank you for your feedback.

@briancarrig -- please look into updating the documentation.

cc: @MightyPen

[2019-10-03 23:02] MikeRayMSFT commented on #2793
@rajeshsetlem

[2019-10-04 09:11] IanKemp commented on #3095
Sadly I am stuck on Core 2.2 / NTS 1.15 as our company has some pressing deadlines coming up and they don't want to risk anything by migrating to 3.0 / NTS 2.0 until after said deadlines have been met.

Since MSSQL doesn't fully implement OGC 06-103r4, a note should be added to the docs of the `geometry::ST*FromText` methods to state that certain WKT geometries aren't supported.

[2019-10-04 09:12] branko-d commented on #3107
@CarlRabeler Sure, you can just use the code that detects the current XACT_ABORT value (as documented in the linked doc page itself), and put it inside the trigger:

[code]

Which prints the following under my SQL Server 2017 Developer:

[code]

[2019-10-04 10:58] vinothrao commented on #3028
I do not understand. I have Azure SQL database. I am trying to generate bacpac through code and saving it in a Azure Storage. But getting the error "database source is not a supported version of sql server". I really do not understand why. If it is local then  i could update. But this is Azure sql. Please help.

[2019-10-04 16:19] msebolt commented on #3095
Assigning this to the author for review.

[2019-10-04 17:25] MikeRayMSFT commented on #3023
Hi @SuperSing - apologies for the delay. Currently here is the answer:

- Connection to ADLS Gen 1 is not supported.
- Connection to ADLS Gen 2 may be supported if the ADLS does not use a hierarchical namespace. To connect, create an external data source that connects to Azure Blob Storage with a `wasb` location prefix. See CREATE EXTERNAL DATA SOURCE (Transact-SQL).
- Additional connection scenar

[2019-10-04 17:25] #3023 closed

[2019-10-04 17:44] rothja commented on #2717
@CeciAc Hello. I have not been able to test and validate this yet. I have opened a work item to track this work internally (1610832) and I will try to update this git issue when it is verified/resolved. Thank you for your patience.

[2019-10-04 17:44] #2717 closed

[2019-10-04 17:49] #2698 closed

[2019-10-04 17:50] rothja commented on #2698
@NicoBoey Thanks for your patience. I've made the change you suggested and it should appear in a few days. Please check back later and let me know if there are any issues. Here is a copy of the change:

#### Example Using a Serializable Transaction
The **Org_BreadthFirst** index ensures that determining **@last_child** uses a range seek. In addition to other error cases an application might want t

[2019-10-04 17:52] rothja commented on #2785
@tomuxmon I'm going to close this issue per the previous thread. But please feel free to add more feedback or suggestions on how we can improve this experience. Thank you!

[2019-10-04 17:52] #2785 closed

[2019-10-04 17:52] MashaMSFT commented on #3012
Hi @aayush3667 , thank  you for patience :) I am still investigating, but I do apologize for the delay.

Thanks!
Masha from the SQL Docs team

[2019-10-04 17:54] rothja commented on #2987
Apologies for the delay, but per my previous comment, I'm not sure exactly how to proceed. For that reason, I'll close this git issue, but feel free to provide more comments on any specific change you recommend based on this discussion. I believe that @srutzky has made direct edits to the content with the edit button on the articles, so that is another route for suggestions/fixes. Thank you!

[2019-10-04 17:54] #2987 closed

[2019-10-04 17:59] rothja commented on #2933
@chugugrace Hello. Could you please help me take a look at this issue?

@user186 Thank you for your patience, and we apologize for the long delay!

[2019-10-04 18:35] mlbuie commented on #2026
This solution worked for me

[2019-10-04 18:51] ghost opened #3120 "Pratice Examples"
Hi team, I'm moving this issue from https://github.com/MicrosoftDocs/sql-docs.pt-br/issues/26.

Please check it. Thanks!!

Notes from @leoTotvs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9027fbf7-358e-f42f-91e3-5dd316bd68a1
* Version Independent ID: 8751863c-1c8f-fe89-11be-e66ebc8416fa
* Content: [Search Text with

[2019-10-04 19:40] leoTotvs commented on #3120
Thanks to received my suggestions.
I hope this help the microsoft community and their users.

[2019-10-05 00:59] bdcoder2 commented on #3025
Using:
Microsoft SQL Server 2016 (RTM) - 13.0.1601.5 (X64) Apr 29 2016 23:23:58 Copyright (c) Microsoft Corporation Standard Edition (64-bit) on Windows Server 2012 R2 Standard 6.3 (Build 9600: ) (Hypervisor)

When I issue:
SELECT CURRENT_TIMEZONE();

System responds with:
'CURRENT_TIMEZONE' is not a recognized built-in function name.

[2019-10-05 13:30] JeffSkyrunner opened #3122 "Cannot download SSMS 18.3"
The link https://go.microsoft.com/fwlink/?linkid=2104251 from page https://docs.microsoft.com/it-it/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-2017 doesn't allow to open the correct page, so I cannot download the update

[2019-10-05 23:01] FlavioDiasPs commented on #3084
Hello!

The doc says that it works for data warehouse, but I couldn't manage to
achieve this on my attempts.

You probably tried this with Sql Server, am I right?

I don't know if I have done something wrong, I will retry this just to be
100% sure, but I am pretty certain that I have done it right and DW doesn't
support it.

Have a nice day!

On Mon, Sep 30, 2019, 19:42 Carl Rabeler <notifications

[2019-10-06 12:52] banzaisi opened #3128 "CREATE DATABASE ON <url>"
The following page describes the concept of storing database files in Azure using blob storage: https://docs.microsoft.com/en-gb/sql/relational-databases/databases/sql-server-data-files-in-microsoft-azure

However, the syntax of CREATE DATABASE does not apparently allow for specifying a URL.
Can this page be updated with the valid syntax and an example, and also a reference to the concept page men

[2019-10-06 12:54] banzaisi opened #3129 "Blob lease"
The section on troubleshooting says for Lease blob errors, you can explicitly "break" the lease on a blob to free it up for another client (another SQL Server instance) to attach to the blob.
However, the correct terminology is to "release" the blob lease.
"Breaking" a lease does NOT release it for use by another client:
https://docs.microsoft.com/en-us/rest/api/storageservices/lease-blob

---
###

[2019-10-06 12:58] banzaisi opened #3130 "Step 1 - spelling error"
"2. Edit and then execute the b script:"

should be:

"Edit and then execute the below script:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15e8e46c-01f3-a76a-761f-5206e6d878e9
* Version Independent ID: 3945290e-ef38-b04c-9ee6-d3889b4b94e4
* Content: [Tutorial: Use Azure Blob storage service with SQL Server 2016 - S

[2019-10-06 14:30] banzaisi opened #3133 "Step 1 - typo"
$subscriptionID=='&lt;your subscription ID&gt;'   # the ID  of subscription name you will use

There is an extra equals sign that is not required on this line

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15e8e46c-01f3-a76a-761f-5206e6d878e9
* Version Independent ID: 3945290e-ef38-b04c-9ee6-d3889b4b94e4
* Content: [Tu

[2019-10-06 22:34] Dean-McMillan opened #3137 "Alias on table prevents SYSTEM_TIME from working - is this intentional?"
Example:

	select
		e.Column1
		,e.Column2
	from
		dbo.tbl_Example e
	for SYSTEM_TIME between '2001-01-01' and '2020-01-01'

-&gt; causes the error "Incorrect syntax near 'for'."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 751e374d-cd64-1de5-c1d2-5c426c9534c9
* Version Independent ID: 2c62a70f-cd2e-bf40-5974-dde1b5a

[2019-10-07 08:00] imba-tjd commented on #3122
This has been fixed in https://github.com/MicrosoftDocs/sql-docs/commit/816648720165343d7f830b0a8c428bbb743945b2. The localized page will be synced in a few days. You can use those links in the en-us page before that.

[2019-10-07 08:54] K232 opened #3143 "Text wrong or code missing"
I'm not sure whether the text is wrong or the example code is missing. Step 3 in [To recompile a stored procedure by using the WITH RECOMPILE option](https://docs.microsoft.com/en-us/sql/relational-databases/stored-procedures/recompile-a-stored-procedure?view=sql-server-2017#to-recompile-a-stored-procedure-by-using-the-with-recompile-option-1) says that the first example creates a stored procedure

[2019-10-07 08:59] K232 opened #3144 "Text wrong or code missing"
I've just seen that [To recompile a stored procedure by using sp_recompile](https://docs.microsoft.com/en-us/sql/relational-databases/stored-procedures/recompile-a-stored-procedure?view=sql-server-2017#to-recompile-a-stored-procedure-by-using-sp_recompile) has the same wrong text / missing code problem as already reported in #3143 for another chapter: Step 3 contains info about a stored procedure

[2019-10-07 15:58] msebolt commented on #3102
Closing this issue now, please comment below if there are any questions.

[2019-10-07 15:58] #3102 closed

[2019-10-07 15:58] msebolt commented on #3101
Closing this issue now, please comment below if there are any questions.

[2019-10-07 15:58] #3101 closed

[2019-10-07 16:43] MashaMSFT commented on #3133
Hi @banzaisi , you're right, that's not supposed to be there :) Did you want to remove it yourself and be added as a contributor to the doc?

To do so, please do the following:

1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil" icon on the right
4. Modify the text within the text box in markdown format - more info: https://github.co

[2019-10-07 16:45] MashaMSFT commented on #3130
Hi @banzaisi , thanks for noticing this typo as well! Same comment as for the other one - did you want to edit this yourself, or did you want us to process the change?

I'll include the steps once more for your reference so you don't have to go looking for them - and so that others can see them as well!

To do so, please do the following:

1. Navigate to the page of interest
2. Select the "Edit" b

[2019-10-07 17:02] msebolt commented on #3120
@leoTotvs You're welcome, assigning this to the author now.

[2019-10-07 17:06] msebolt commented on #3122
@JeffSkyrunner Thank you for the feedback.

Closing the issue now, please comment below if there issues with the fix.

[2019-10-07 17:06] #3122 closed

[2019-10-07 17:09] msebolt commented on #3128
@banzaisi  Thank you for the feedback.

Assigning this to the author for review.

[2019-10-07 17:10] MashaMSFT commented on #2961
Hi @mdell-seradex , just wanted to let you know I'm still looking into updating this :)

Thanks!
Masha from the SQL Docs team

[2019-10-07 17:10] msebolt commented on #3129
@banzaisi Thank you for the feedback.

Assigning this to the author for review.

[2019-10-07 17:15] #3083 closed

[2019-10-07 17:22] msebolt commented on #3137
@Dean-McMillan Thank you for the feedback.

The example is incorrect, refer to [this post](https://stackoverflow.com/questions/44337046/why-does-the-for-clause-not-work-with-an-alias-in-sql-server-2016-with-temporal) and either remove or restructure the alias.

Assigning this to the author for review.

[2019-10-07 17:29] msebolt commented on #3143
@K232  Thank you for the feedback, assigning this to the author for review.

@stevestein Please note this issue occurs twice in the article in both the **To recompile a stored procedure by using the WITH RECOMPILE option** and **To recompile a stored procedure by using sp_recompile** sections.

[2019-10-07 17:31] msebolt commented on #3144
@K232  Thank you for the feedback.

Since this issue is now included in https://github.com/MicrosoftDocs/sql-docs/issues/3143 I'm closing this as a duplicate.

[2019-10-07 17:31] #3144 closed

[2019-10-07 18:35] Dean-McMillan commented on #3137
Many thanks.

[2019-10-07 18:37] Dean-McMillan commented on #3137
Closing issue as there are alias examples present.

[2019-10-07 18:37] #3137 closed

[2019-10-07 18:40] MashaMSFT commented on #3009
Hi @fredobas, thank you for your patience as we continue investigating your issue! [Upgrading Windows 2008 and 2008 R2 directly to Windows 2016 is not supported](https://docs.microsoft.com/en-us/windows-server/get-started/modernize-windows-server-2008) whether or not the failover cluster installation feature is installed. I've updated the documentation to reflect this, removing the mention of the

[2019-10-07 21:54] MashaMSFT commented on #2989
Hi @g-kannan, thanks again for bringing this to our attention and for making our docs better :) We've updated the documentation to set the enable the alert for both the primary and secondary servers, and this change should be live tomorrow.

Please let us know if anything further is needed? If not, we will proceed with closing out this Git Issue in a few business days if we don't hear back from yo

[2019-10-08 02:58] chugugrace commented on #2933
@user186 sorry for the long delay.
The properties window shows up when you right click connection managers in the middle frame of the canvas, check red box in below screen shot.
![image](https://user-images.githubusercontent.com/53034637/66363880-5c1b6980-e9ba-11e9-8ed1-9a7bb2ac1379.png)

[2019-10-08 09:26] mco100 opened #3147 "Dac supported objects list"
Hi,
Include Sequences in the list of objects supported by DAC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f0297c-1e1f-fe6e-4b0f-9fd5d2cebfd8
* Version Independent ID: 55771482-ffea-379b-8f32-11ddd69bb301
* Content: [DAC Support For SQL Server Objects and Versions - SQL Server](https://docs.microsoft.com/en-us/sql/

[2019-10-08 14:41] CeciAc opened #3151 "HYPERVISOR"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/sql-docs.ru-ru/issues/61
The comments refer to the original documentation

@MichaelFirsov commented 8 hours ago — with docs.microsoft.com
Hello!
"HYPERVISOR = SQL Server is running inside a hypervisor, which implies a hardware-assisted virtualization. When the Hyper_V role is installed, the hypervisor hosts the OS, so an instance ru

[2019-10-08 16:25] msebolt commented on #3147
@mco100  Thank you for the feedback, assigning the author for review.

[2019-10-08 16:37] msebolt commented on #3151
@MichaelFirsov  Thank you for the questions, we're sorry you're experiencing issues.

Unfortunately issues here are used for changes to the documentation, for product questions please consider moving the issue to either:

- [SQL Server forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=sqldocumentation%2Csqldatabaseengine)
- [SQL Server on StackOverflow](https://stackoverflow.com/qu

[2019-10-08 17:11] markingmyname commented on #2944
@mco100,

Apologizes for the delayed response.

We are looking into this.

[2019-10-08 17:14] ghost opened #3152 "The download icon looks strange under the dark theme"
@Hawkeyes0 commented on Tue Oct 08 2019

看起来好像抠图失败的样子，而且图标的颜色与暗色的背景太相似了，以至于我专门切换到亮色主题才知道那是个下载图标😂

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [下载 SQL Server Management Studio (SSMS) - SQL Server](https://docs.microsoft.com/zh-cn/sql/ssms/download-sql-serv

[2019-10-08 17:14] markingmyname commented on #2976
Closing due to no response.

[2019-10-08 17:14] #2976 closed

[2019-10-08 17:15] lichasu commented on #3152
Hi team, please check this issue. The download icon is not displaying properly in the dark theme.

Thanks!

[2019-10-08 17:22] markingmyname commented on #3026
@MisinformedDNA,

I am still working with the engineering group to get these details.

Thank you.

[2019-10-08 17:26] markingmyname commented on #3040
@igor63132,

Glad I could help.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-10-08 17:26] #3040 closed

[2019-10-08 17:32] markingmyname commented on #3086
@mdsyslab,

If you feel your issue is addressed, then you can close the issue yourself. :)

However, I will go ahead and do it for this one.

Thank you for your comment.

[2019-10-08 17:32] markingmyname commented on #3086
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-10-08 17:32] #3086 closed

[2019-10-08 17:36] CeciAc opened #3153 "Missing a small step"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/sql-docs.zh-tw/issues/113
The user is making a suggestion to add a step to the documentation
*The comment below was machine translation*

@lovepm860524 commented 19 days ago — with docs.microsoft.com

"Judge the Database Engine to execute the name of the individual" block,
4. ...right-click [Local Server Group], point to [Work], and

[2019-10-08 17:37] markingmyname commented on #3103
@jeroenhabets

Thank you for your feedback! We will investigate and get back to you with the relevant info.

However, please add your experience in [UserVoice](https://feedback.azure.com/forums/908035-sql-server) to find if you see more people experience the same situation.

[2019-10-08 17:47] markingmyname commented on #3120
@lichasu,

Are you suggesting we add the "examples" you are listing in the article?

If so, we do appreciate it, I just want to make sure I understand your request.

[2019-10-08 17:49] MashaMSFT commented on #3153
Hi @lovepm860524, thank you so much for your feedback! I modified the text a bit to highlight expanding the security group as suggested. Thank  you so much for making our docs better! This change will be live later today.

Is there anything else we can assist you with? If not, we will proceed with closing out this Git Issue in a few business days.

Thanks!
Masha from the SQL Docs team

[2019-10-08 20:38] markingmyname commented on #3075
@blakemcneill,

Thanks for your comment.

Your contribution is much appreciated.

However, our team can only answer feedback related to the documentation. Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page or visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) page. If you have any feedback related to the docume

[2019-10-08 20:39] markingmyname commented on #3075
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-10-08 20:39] #3075 closed

[2019-10-08 21:37] oalexrivas commented on #2014
What is the solution to this issue ?

CC: @jovanpop-msft @MashaMSFT @msebolt

[2019-10-08 21:44] msebolt commented on #2014
Apologies, I misinterpreted this as product-feedback opposed to doc-bug.

[2019-10-08 23:18] #3105 closed

[2019-10-09 06:31] kazshi opened #3158 "Cannot check/remove index fragmentation using SSMS for Azure SQL Database"
Looks like checking/removing index fragmentation using SSMS is not available for Azure SQL Database since Properties/Reorganize context menu command is not available, but I cannot find any information about the restriction. Would you please add information if we don't have it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-10-09 06:37] gintarasg opened #3159 "If the query can be parallelized, rows are distributed according to the MAXDOP setting"
Could you please clarify which MAXDOP you're referring to? Is it the server level, database level, or (input) query level MAXDOP?
This article implies that the MAXDOP of the input query is used: https://nielsberglund.com/2018/03/21/microsoft-sql-server-r-services---sp_execute_external_script---iii/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-10-09 06:48] MichaelFirsov commented on #3151
"Unfortunately issues here are used for changes to the documentation, for product questions please consider moving the issue to either:" - please excuse me but I didn't understand it: my question does pertain to "changes to the documentation" - I didn't say SQL Server works incorrectly, it's definitely just a documentation issue!

[2019-10-09 11:13] LarnuUK commented on #3108
The `.deb` link also takes you to then 1.11 `.deb` file. Looks like a "simple" case of wrong links updated. Also note that the `.tar.gz` has also been incorrect updated (again) to now take you to the 1.12.1 `.deb` file.

[2019-10-09 14:20] JohnKNess opened #3165 "Analyze an Actual Execution Plan - Missing option in context menu"
Even though I have filtered on SQL Server 2016 and accessed the page "Analyze an Actual Execution Plan" via https://docs.microsoft.com/en-us/sql/relational-databases/performance/analyze-an-actual-execution-plan?view=sql-server-2016 this option is not available to me on a SQL Server 2016 Service Pack 2 instance running SSMS 16.5. Is this feature only available in SQL Server 2017 and/or SSMS 17.x?

[2019-10-09 15:02] seamonkey420 commented on #2930
+1 to this. first thing in this doc should be how to install via commandline ie deploy to users silently.

[2019-10-09 15:26] msebolt commented on #3151
I see the misunderstanding, assigning to the author now.

[2019-10-09 15:41] keanankruse commented on #2930
As Seamonkey said we need info on the silent install, im trying to use SCCM and the code im using is:
SSMS-Setup-ENU.exe /install /quiet /norestart

But this fails with 1603... does anyone know  if there is anything different for this version of SQL 18.3.1 in regards to command line?

[2019-10-09 16:27] mco100 opened #3167 ""Custom" option for capture mode is missing"
SQL Server version : Microsoft SQL Server 2019 (CTP3.2) - 15.0.1800.32 (X64)   Jul 17 2019 21:29:33   Copyright (C) 2019 Microsoft Corporation  Developer Edition (64-bit) on Linux (CentOS Linux 7 (Core)) &lt;X64&gt;
Issue : "Custom" option for capture mode is missing in SSMS drop down list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-10-09 16:27] pmasl commented on #3165
You need at least SSMS v17.4. SSMS release cycle has been decouple from SQL Server for a few years. You should always plan to use the latest version, which can connect to previous engine versions as well.

[2019-10-09 16:30] #3108 closed

[2019-10-09 16:31] WilliamAntonRohm commented on #3108
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2019-10-09 17:38] datcodeboy opened #3168 "Setup Blocked"
i download the SSMS 18.3.1 release from the officail link i got from google but i keep getting this error
```This version of windows 10 or windiows server 2016 is not supported. Please upgrade to version 1607 or greater.```
need direction on what to do

[2019-10-09 19:40] WilliamAntonRohm commented on #3159
@gintarasg -- thank you for your feedback.

@stevestein -- please look into this issue 3159.

[2019-10-09 19:42] WilliamAntonRohm commented on #3165
@pmasl -- Pedro, thank you for that information.

@JohnKNess -- John, I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2019-10-09 20:25] WilliamAntonRohm commented on #3168
@datcodeboy -- it seems you need to update your operating system to a newer version.  You may also find an answer here:
- [Setup and Upgrade - MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=sqlsetupandupgrade&filter=alltypes&sort=lastpostdesc)
- [Reddit - general discussion about SQL Server](https://www.reddit.com/r/SQLServer/)

I am closing this issue now.  You are welcome

[2019-10-09 20:25] #3168 closed

[2019-10-09 22:41] SgtSpamCan opened #3171 "Please update this document to reflect the new support in .Net Core 3.0"
.Net Core 3.0 release now supports Always Encrypted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fb15ed8-749c-6cba-49d4-31f173644f73
* Version Independent ID: 4c3f1eb6-9db7-b056-d170-cdad560281df
* Content: [Always Encrypted (client development) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-database

[2019-10-10 08:22] JohnKNess commented on #3165
@WilliamAntonRohm Thank your for the follow up. It just isn't apparent from the page itself, that version SSMS 17.4 is required in order to use this feature. I am aware that SSMS has been decoupled from SQL Server development and after looking through the release notes of older SSMS versions I couldn't find a reference to "Analyze an Actual Execution Plan", that's why I raised an issue. Any chance

[2019-10-10 09:52] mariomuja opened #3210 "return data type not clear"
"Returns character data"

this is not very specific - can you please update the documentation for the STUFF function to be more clear about which result data type (varchar/nvarchar/text, length?) is returned by this function in all possible execution paths?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6b3f468-5782-d

[2019-10-10 13:43] camillagaardsted opened #3218 "An inline scalar function has a body"
Hi microsoft,

I read this sentence: "For an inline scalar function, there is no function body; the scalar value is the result of a single statement."

As far as I can see in the documentation for a scalar inline function and also during my test samples, I have concluded that it can have a body and you can use if statements and also have more than one return statement in the body. So an inline sca