[2019-10-10 14:02] rothja commented on #3128
@banzaisi Thank you for your question. @CarlRabeler is currently out of the office. @MashaMSFT can you please take a look at this suggestion.

@banzaisi Can I ask a few questions? So you're saying that the article shows using CREATE DATABASE with a URL to blob storage, but when you do this it does not work? Do you have an error you could share? So you're asking us to verify that the article works

[2019-10-10 14:05] rothja commented on #3107
@branko-d Thanks for the question. @CarlRabeler is out of the office for the next few weeks. @VanMSFT could you please continue to look into this and see if we need a doc change and/or further investigation. Thank you!

[2019-10-10 14:07] rothja commented on #3084
@FlavioDiasPs Thanks for your feedback. Have you had a chance to run the test again? @CarlRabeler is out of the office for the next few weeks. @julieMSFT can you please take a look at this on SQL Data Warehouse depending on the results of @FlavioDiasPs 's tests? Thank you!

[2019-10-10 14:11] rothja commented on #3066
@JediSQL Thank you for this feedback and for the test code. @CarlRabeler is out of the office for the next few weeks. @VanMSFT can you please take a look at this feedback and see if we need to clarify the article? Thank you! #reassign:@vanmsft

[2019-10-10 14:12] rothja commented on #3066
#reassign:vanmsft

[2019-10-10 14:16] mco100 opened #3219 "Missing Arguments"
Hi,
please add below arguments :
-k MaxTotalIndexes
-K MaxIndexesPerTable
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18f86c62-487c-303e-bee9-d9de8da391e7
* Version Independent ID: 7efab1d1-e562-37f8-8be4-ba13edfcbb81
* Content: [dta Utility - SQL Server](https://docs.microsoft.com/en-us/sql/tools/dta/dta-uti

[2019-10-10 14:17] rothja commented on #2404
@RobAshton-IM Thanks, again, for your input. Did you create an update to the page? Let me know how we can help. @CarlRabeler is out of the office for the next few weeks, but I will take over this and help out as needed. @swbhartims Thanks for your question and your patience as we look into the right next steps.

[2019-10-10 14:23] mco100 commented on #3219
SSMS 18.2 offers many other arguments for dta
Could you update documentation accordingly ?

[2019-10-10 14:30] VanMSFT commented on #3107
Following up with engineering.

[2019-10-10 14:31] VanMSFT commented on #3066
Following up with engineering.

[2019-10-10 16:12] g-kannan commented on #2989
Thanks everyone for the updates and great work..  Happy to work with MS & its products..

[2019-10-10 16:12] #2989 closed

[2019-10-10 16:29] #3009 closed

[2019-10-10 16:30] #3153 closed

[2019-10-10 16:35] msebolt commented on #3167
@mco100  Thank you for the feedback, assigning this to the author for review.

If this involves a local configuration issues you will need to create a support ticket in the [SQL Server forum](https://feedback.azure.com/forums/908035-sql-server).

[2019-10-10 16:37] msebolt commented on #3171
@SgtSpamCan Thank you for the feedback, assigning this to the author for review.

[2019-10-10 16:38] msebolt commented on #3210
@mariomuja Thank you for the feedback, assigning this to the author for comment.

[2019-10-10 16:38] ghost opened #3221 "instruction or link: how to clone an existing Git-Repo which is not yet cloned to a local directory, using Azure Data Studio"
@aisbergde commented on [Thu Oct 10 2019](https://github.com/MicrosoftDocs/sql-docs.de-de/issues/105)

I miss information how to clone an existing Git-Repository (for example on dev.azure.com, on github, ...) using only Azure Data Studio. Or if this is not possible with Azure Data Studio: A link or some instructions how to start.
Normally I use Visual Studio to clone and manage Git-Repos, but ther

[2019-10-10 16:39] lichasu commented on #3221
Hi team, please check this issue.

Thanks!

[2019-10-10 16:41] MashaMSFT commented on #3128
Hi @banzaisi , thank you for contacting Microsoft! Sorry, would you mind clarifying your question? The [doc ](https://docs.microsoft.com/en-gb/sql/relational-databases/databases/sql-server-data-files-in-microsoft-azure?view=sql-server-2017) you mention has this code sample:

[code]

Is that different than what you were looking for?

Thanks!
Masha from the SQL Docs team

[2019-10-10 16:44] MashaMSFT commented on #3128
@banzaisi , oh, I just reread your question :) Are you asking to have the above example added to the [CREATE DATABASE](https://docs.microsoft.com/en-gb/sql/t-sql/statements/create-database-transact-sql?view=sql-server-2017) article?

Thanks!
Masha from the SQL Docs team

[2019-10-10 16:57] msebolt commented on #3218
@camillagaardsted Thank you for the feedback.

Multiple return statements would still be considered returning a single value, perhaps this is being confused with a **multistatement scaler function** as described in the next sentence?

Apologies for any confusion.

[2019-10-10 16:58] msebolt commented on #3219
@mco100 Thank you for the feedback, assigning the author for review.

[2019-10-10 17:06] banzaisi commented on #3128
@MashaMSFT , yes, exactly. Does the main syntax for CREATE DATABASE also need clarifying to say that Azure blob URLs are also allowed, per below?
Are all the other options like SIZE, MAXSIZE and FILEGROWTH also supported for Azure blobs?

<filespec> ::=
{
(
    NAME = logical_file_name ,
    FILENAME = { 'os_file_name' | 'filestream_path' | 'azure_blob_url' }
    [ , SIZE = size [ KB | MB | GB | T

[2019-10-10 17:10] mco100 commented on #3219
could you tell what are values for -cl argument ?

[2019-10-10 19:55] MashaMSFT commented on #3128
Hi @banzaisi , thanks for the confirmation! Let me verify that the other options are supported, and then I'll update the doc :) Thanks again for helping improve our documentation!

Masha from the SQL Docs team

[2019-10-10 22:18] MladjoA commented on #2791
@gguille077 , thanks for reporting this issue.
I tried to repro it, but had no luck.
Would it be possible to share some obfuscated/depersonalized data set with us where repro is possible?

Thanks

[2019-10-10 23:57] MladjoA commented on #3095
@IanKemp , thanks for bringing up this issue.
geometry::STLineFromText article is being updated with the remarks and examples for three-dimension and measured geometry WKT format as we speak. The rest of the related articles will be updated in the following days.

[2019-10-11 01:02] droessmj opened #3222 ".NET Core (preview)"
We have a working deployment using the Windows sqlpackage.exe which authenticates using the AccessToken parameter. When using the .NET Core version of the tool, we see an error indicating which shows user as '' (empty). Is AccessToken expected to work with the .NET Core versions, or is that still in flight? If so, is this potentially just a quirk of CLI parameter parsing for the .NET Core version(

[2019-10-11 01:03] droessmj commented on #3222
For context, we'd love to be OS agnostic with our tools, but this specific item will require an asterisk for "do this thing only from Windows hosts". Thanks!

[2019-10-11 01:32] RichardMooreClear opened #3223 "SQL Server Version feature was implemented in"
Can't see what SQL Server Version feature was implemented in

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f019407-5787-6f54-1027-084e817b6b8e
* Version Independent ID: a92541d0-b63a-9603-2a1f-18e210be89e4
* Content: [FORMAT (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/functions/format-tran

[2019-10-11 06:31] camillagaardsted commented on #3218
Hi Matthew,

It's probably easier to understand what I mean if I provide an example. The
scalar function below is inlineable and it contains a body and not just one
statement, so the sentence I don't like in the article is this " For an
inline scalar function, there is no function body; the scalar value is the
result of a single statement.":

CREATE FUNCTION [dbo].FuncWithIF
(
    @param1 int,

[2019-10-11 06:34] tjmk40040 commented on #2961
Is this just a matter of updating the document that SQL 2016 Standard is supported on Server 2008 R2, or is that not confirmed yet?

[2019-10-11 08:27] baatch opened #3230 "Question regarding Publish action"
Question regarding Publish action in Sqlpackage.exe documentation, https://docs.microsoft.com/en-us/sql/tools/sqlpackage?view=sql-server-2017

is it possible to not deploy database if it does not exist in the target server?

[2019-10-11 08:45] msebolt commented on #3221
@srvbpigh  Thank you for the question, assigning this to the author for review.

[2019-10-11 11:44] Bart76 opened #3239 "ALTER TABLE (Transact-SQL): "The requested page is not available for SQL Server 2014. You have been redirected to the newest product version this page is available for.""
"The requested page is not available for SQL Server 2014. You have been redirected to the newest product version this page is available for."

WTF!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abcca5d2-d433-96cc-930e-4de020c5785d
* Version Independent ID: fde147ff-b157-502c-276a-d3a2bf9bb3c7
* Content: [ALTER TABLE (

[2019-10-11 12:10] luomoyuyi opened #3240 "Error in Syntax ?"
is "OPTION &lt;query_hint&gt; " optional ?
And for the &lt;query_hint&gt; clause,  is
"&lt;query_hint&gt; ::=
    {
        MAXDOP
    }
"
correct ?
How about the statement :
"CREATE TABLE [wwi].[fact_Purchase]
WITH
(
    DISTRIBUTION = HASH([Purchase Key]),
    CLUSTERED COLUMNSTORE INDEX
)
AS
SELECT * FROM [ext].[fact_Purchase]
OPTION (LABEL = 'CTAS : Load [wwi].[fact_Purchase]')
;
"
Is it of co

[2019-10-11 13:07] pensivebrian commented on #3222
@droessmj - Thanks for reporting this. Initially when porting sqlpackage to .NET Core, SqlClient didn't support the SqlConnection.AccessToken property, hence the current behavior. However, SqlClient now supports this property, and has for some time now, so this should be fixed.

Can you download and give the below versions of sqlpackage a try with the /AccessToken parameter? These are preview vers

[2019-10-11 13:28] droessmj commented on #3222
@pensivebrian - First few tests are looking real good using the version linked above. I've asked a colleague to independently recreate, but for now this seems to have resolved this issue with no change in the parameters being fed into the executable.

[2019-10-11 13:43] gguille077 commented on #2791
The attached code doesn't fail, yet it's a text extraction of the Geom columns (one polygon and the points to intersect) which fail. In the original server, both Geom columns are Geometry type in their tables.

[SELECT TOP 100 Geom reproducible example.txt](https://github.com/MicrosoftDocs/sql-docs/files/3717841/SELECT.TOP.100.Geom.reproducible.example.txt)

[2019-10-11 14:14] mdell-seradex commented on #2961
I have done some further testing recently and it appears that the latest available does not support Seradex 2008 R2.  It seems like the download page is wrong.

[2019-10-11 14:24] RobAshton-IM commented on #2404
@rothja Hi Jason, I'm having a ton of issues with GitHub Desktop at work, so I'm probably going to end up doing this at home I think. I'm going to spend some time over the weekend on it, so watch this space :)

[2019-10-11 15:10] MladjoA commented on #2791
Thanks @gguille077 , may I also ask you for the following information:
- Version of SQL Server you are using
- Execution plans with and without TOP 100 clause.

[2019-10-11 16:39] WilliamAntonRohm commented on #2973
@kae36 -- Alan, I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-11 16:39] #2973 closed

[2019-10-11 16:48] WilliamAntonRohm commented on #3222
@droessmj -- Michael, I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2019-10-11 16:48] #3222 closed

[2019-10-11 16:52] WilliamAntonRohm commented on #3223
@RichardMooreClear -- thank you for your feedback.  FORMAT was first implemented in SQL Server 2016, and was not in SQL Server 2014.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-11 16:52] #3223 closed

[2019-10-11 16:58] WilliamAntonRohm commented on #3165
@JohnKNess -- you're welcome, John.

@pmasl -- please look into adding this note.

cc @MightyPen

[2019-10-11 17:10] altmank opened #3241 ""Remarks" section referenced but not in document"
Several parts of the document mention:

"see "Remarks," later in this topic."

But then the document has no section labeled "Remarks" to go look at.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c94a997f-1840-46b8-3cdb-99ba8bf79784
* Version Independent ID: bca2acd4-c166-d3ad-3000-1c371d6fee26
* Content: [ALTER FULLTE

[2019-10-11 17:15] pensivebrian commented on #3222
@droessmj - Thanks for the confirmation! This fix will officially ship in the sqlpackage 18.4 release which should be available in a month or so.

[2019-10-11 21:07] MightyPen commented on #3165
To the introduction at top of the article, new PR 12421 is adding text to recommend that customers install the latest SSMS, and it gives the necessary link. This text is added immediately after the existing text that says SSMS version 17.4 or later is needed.

- `https://github.com/MicrosoftDocs/sql-docs-pr/pull/12421`

Thank you.
 . .

[2019-10-11 21:08] MightyPen commented on #3165
Closing this Issue #3165.

[2019-10-11 21:08] #3165 closed

[2019-10-11 21:27] WilliamAntonRohm commented on #3230
@baatch -- thank you for your question.  To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-10-11 21:48] WilliamAntonRohm commented on #3239
@Bart76 -- thank you for your feedback.  That article applies to "SQL Server 2014 (12.x) through SQL Server 2017" and is also valid for SQL Server 2109 Preview.

Are you looking for documentation specific to SQL Server 2014?

[2019-10-11 22:04] WilliamAntonRohm commented on #3240
@luomoyuyi -- Yanzhe, thank you for your feedback.  It appears you have an issue with your algorithm or implementation, rather than with the documentation itself.  You may find an answer here:

- [Transact-SQL - MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=transactsql)
- [Reddit - general discussion about SQL Server](https://www.reddit.com/r/SQLServer/)

I am closing this

[2019-10-11 22:04] #3240 closed

[2019-10-11 22:08] WilliamAntonRohm commented on #3241
@altmank -- thank you for your feedback.  The referenced section may be https://docs.microsoft.com/sql/t-sql/statements/alter-fulltext-index-transact-sql?view=sql-server-2017#interactions-of-change-tracking-and-no-population-parameter.  I will look into updating the documentation.

[2019-10-11 22:16] #3064 closed

[2019-10-12 00:18] MightyPen opened #3243 "'Install SQL' article needs SQL 2019 added"
'Install SQL' article needs SQL 2019 added.  At least it will in a couple weeks from now.
And I a link to SQL Linux 2019 install might be nice too.

It is way too easy to forget about ongoing maintaining articles like this, too hard to remember. Thus, maybe this type of article is simply an obsolete/bad idea?

Thanks. (GeneMi = MightyPen).

---
#### Document Details

⚠ *Do not edit this section. I

[2019-10-12 03:25] pmasl commented on #3090
Close this as it's been corrected.

[2019-10-12 05:33] MNF opened #3244 "Use with image, ntext, or text data types."
The page states "CHARINDEX cannot be used with image, ntext, or text data types."
It is not exactly true. The function searches for the first part of the string (~7000 characters) and return correct results, if expression found.

To have expected results for the full string, it is enough to cast to NVARCHAR(MAX) as described in  https://stackoverflow.com/questions/31436479/sql-server-charindex-not

[2019-10-12 09:18] Bart76 commented on #3239
Yes, I needed some specific documentation for SQL Server 2014. I was looking at the ALTER TABLE's syntax for disk-based tables and on this page, I saw that it should support `ALTER TABLE [tablename] DROP CONSTRAINT IF EXISTS [constraintname];`. It works fine on SQL Server 2017 (and perhaps also on SQL Server 2016), but I am sure it doesn't work on SQL Server 2014. I tested it and it failed with er

[2019-10-12 20:34] srutzky commented on #3244
For clarification, `TEXT` and `NTEXT` _are_ invalid, but only for "expressionToFind". For "expressionToSearch" it does work as mentioned by @MNF . Please note that the documentation is correct regarding:

The following examples prove the statements made above:

[code]

And (the following needs to be in a separate batch as it produces a compile-time error):

[code]

[2019-10-13 04:23] baatch commented on #3230
Hi @WilliamAntonRohm
I have updated the original post with more context and reference to the site.

[2019-10-13 05:27] chanmmn opened #3259 "How to execute Sys.Dm_hadr_availability_replica_states?"
What you need on this page is telling people how to execute sys.dm_hadr_availability_replica_states. I believe it is "SELECT * FROM sys.dm_hadr_availability_replica_states ".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9e73ea0-e2d9-3f36-fc42-06072e79f421
* Version Independent ID: 7cbf3916-f036-12d8-115c-972e4e0c602

[2019-10-13 23:20] pituach opened #3273 "Anything that SSMS or Azure Data Studio do we can so with T-SQL"
The claiming that "This task cannot be performed using Transact-SQL statements" make no sense, since these are client application which do the task using T-SQL, in the same way we can do it. It might be a bit complex, but we can always develop our own application which will do the same that these app do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-10-14 05:26] fschroder opened #3303 "Can't access MSSQL usign a mac"
I followed the instructions. Things look good, I can see the ticket when doing klist, but then it fails to login with error: Connection failed due to Kerberos error.
Help configuring Kerberos is available at https://aka.ms/sqlopskerberos
If you have previously connected you may need to re-run kinit.

see https://github.com/Microsoft/azuredatastudio/issues/447

Version: 1.12.1
Commit: cccb9327c707f

[2019-10-14 05:46] DuncanP62 opened #3306 "Wrong EmployeeID values"
The complex pivot query makes use of EmployeeID values [250], [251], [256], [257], [260]. However the commentary that follows talks about employees 164, 198, 223, 231, and 233.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45eba8b0-0c31-d65b-f1ca-0ed260eb2f14
* Version Independent ID: fe2a79c1-6512-36f6-3118-cda7d1853

[2019-10-14 07:32] MightyPen opened #3307 ""Future Keywords" list seems out of date, many are keywords now"
In `https://docs.microsoft.com/en-us/sql/t-sql/language-elements/reserved-keywords-transact-sql?view=sql-server-ver15#future-keywords`, the section says `CAST` might become a Reserved Keyword in Transact-SQL in SQL Server sometime in the future. Yet I believe `CAST` is already a keyword, as the article about "CAST and CONVERT" already strongly implies.  And there are other similar "future" keyword

[2019-10-14 08:41] MohamedHusseinT opened #3309 "Not updated article with SQL 2017"
Hi,
In applying step 2 (create index ui_ukDoc), it gives error on 2017 version due to the changes in schema.
I passed over the next steps, i found also that they are not matching the created one in the DB.

https://docs.microsoft.com/en-us/sql/samples/adventureworks-install-configure?view=sql-server-ver15

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-10-14 11:30] VanMSFT commented on #3306
@DuncanP62 - Thanks for pointing this out! We appreciate your help on our documentation. This is being fixed, and the revision should go live later today.

https://github.com/MicrosoftDocs/sql-docs-pr/pull/12439

#please-close

[2019-10-14 11:30] #3306 closed

[2019-10-14 13:58] eutychus83 opened #3310 "/etc/ssl/private missing"
mv: cannot move ‘mssql.key’ to ‘/etc/ssl/private/’: Not a directory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8029b968-0ef5-a3a0-050f-a0b0189e5984
* Version Independent ID: 2ffb6a1e-5672-7742-d685-1d418c24f29c
* Content: [Encrypting Connections to SQL Server on Linux - SQL Server](https://docs.microsoft.com/en-us/

[2019-10-14 16:44] msebolt commented on #3243
@MightyPen  Thank you for the feedback, assigning this to the author for review.

[2019-10-14 16:47] msebolt commented on #3244
@MNF  Thank you for the feedback, assigning this to the author for review.

[2019-10-14 16:49] msebolt commented on #3259
@chanmmn Thank you for the feedback, assigning this to the author for review.

[2019-10-14 17:04] msebolt commented on #3273
@pituach  Thank you for the feedback.

Your statement is true for any task that needs to restructure the database, however column order is considered a cosmetic trait, see [this post](https://stackoverflow.com/questions/1605144/how-to-change-column-order-in-a-table-using-sql-query-in-sql-server-2005).

If this is a feature you'd like included, please start a thread in the [SQL Server forums](https

[2019-10-14 17:07] WilliamAntonRohm commented on #3090
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-14 17:07] #3090 closed

[2019-10-14 17:12] msebolt commented on #3303
@fschroder  Thank you for the feedback, we're sorry you're experiencing issues.

Unfortunately issues here are for documentation concerns and/or general product questions only.

For support requests, please see [SQL Server Help and Feedback](https://docs.microsoft.com/en-us/sql/sql-server/sql-server-get-help?view=sql-server-ver15).

[2019-10-14 17:21] msebolt commented on #3307
@MightyPen  Thank you for the feedback, assigning this to the author for review of `CAST`.

Including links would provide a nice feature, keywords like `ADD`  have no equivalent page and make such a list inconsistent.

[2019-10-14 17:23] msebolt commented on #3309
@MohamedHusseinT Thank you for the feedback, assigning this to the author for review.

[2019-10-14 17:33] msebolt commented on #3310
@eutychus83 Thank you for the feedback.

Depending on how OpenSSL is configured, the certs folder can be in different locations, see [this post](https://serverfault.com/questions/62496/ssl-certificate-location-on-unix-linux) for some examples.

You can use `openssl version -d` to see the path setting.

[2019-10-14 18:18] tphillipvidea opened #3311 "newValue data type not clear"
The documentation does not make it clear newValue must be a [n]varchar or text value.  Other data types generate an error: Argument date type … is not value for argument 3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c673e1d-891c-8c83-4566-b8bc27ce139d
* Version Independent ID: 3cd2f484-3a26-5c7b-cacc-16990b0c2be0

[2019-10-14 18:51] MashaMSFT commented on #2961
@tjmk40040 The docs page is correct - SQL Server 2016 is not supported on Windows Server 2008 R2. We are changing the requirements on the download page.
@mdell-seradex , thank you for testing this for us!

[2019-10-14 19:55] markingmyname commented on #2944
@mco100,

We do not recommend doing it that way.

The actual version after “.sqlps” is dependent on the version of SQL Server installed on the machine (150 is good for SQL2019, 140 is good for SQL2017, etc…)

Hope this helps.

Thank you.

[2019-10-14 19:56] markingmyname commented on #2944
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-10-14 19:56] #2944 closed

[2019-10-14 19:59] markingmyname commented on #3026
@MisinformedDNA,

We apologize for not replying sooner.

Your ask has been passed on to our product team and they agree we should add some examples for Azure SQL.

I can't provide an ETA, but we will be working on this.

[2019-10-14 20:00] markingmyname commented on #3103
This is for On-prem only.

However, our team can only answer feedback related to the documentation. Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page or visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) page. If you have any feedback related to the documentation, please feel free to log in through this channe

[2019-10-14 20:01] markingmyname commented on #3103
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-10-14 20:01] #3103 closed

[2019-10-14 20:02] redwiking commented on #2293
Hi,
Isn't the table at the end of this article still a little bit misleading?
The only constraint for bitwise operations is not to use two binary string data type operands together, all other combinations are allowed. When there are different types of operands, one with the lower precedence is converted to a higher precedence type, and then a bitwise operation is performed.
So, in my opinion, the

[2019-10-14 20:36] MashaMSFT commented on #3087
Hi @Karl-we, thanks again for your feedback! My apologies, this change is taking longer than anticipated, so I've created an internal work item to track this work ([1614866](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1614866)). I will close out this Git Issue for the time being, but it will be updated once the change is made to the docs.

Thanks again for helping improve our d

[2019-10-14 20:36] #3087 closed

[2019-10-14 20:42] WilliamAntonRohm commented on #3230
@baatch -- thank you for your clarification.

@pensivebrian -- please look into this issue 3230.

[2019-10-14 20:46] WilliamAntonRohm commented on #3239
@Bart76 -- thank you for clarifying.

@CarlRabeler -- please look into this issue 3239.

[2019-10-14 20:47] pensivebrian commented on #3230
@baatch - Currently there is no option like this for sqlpackage. sqlpackage will always create a database if one doesn't exist.

[2019-10-14 21:13] anosov1960 commented on #3012
Hi @aayush3667,
Azure SQL database  blocks the ability to parse the tx log. This is because we truncate it regularly so even if allowed it would be of limited duration.
Thank you

[2019-10-15 04:50] msebolt commented on #3311
@tphillipvidea Thank you for the feedback, assigning this to the author for review.

[2019-10-15 10:59] ataraxia89 opened #3314 "Wrong SQL Server version referenced."
"SQL Server downloads" leads to SQL Server 2017, not 2016 as referenced in this document. Also, due to Microsoft's infuriatingly simplified installer interface in 2017, there is no option to install LocalDB as a feature, again as referenced in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea66ca27-e0b1-

[2019-10-15 16:19] git-sw opened #3318 "SQL Express at Subscriber"
Near the start of the article under "Prerequisites" it states "At the subscriber server (destination), install any edition of SQL Server, except for SQL Server Compact. The publication that's created in this tutorial does not support SQL Server Compact"

Near the end of the article under "Synchronize the subscription to the merge publication" it states "1. Connect to the subscriber in SQL Server M

[2019-10-15 17:56] jaynar-cts1 opened #3320 "Need a separate page or a section covering how to upgrade from SQL Server 2017 to SQL Server 2019."
I would like to have a separate page or a section in https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-change-repo?view=sql-server-ver15&pivots=ld2-rhel#repositories covering how to upgrade from SQL Server 2017 to SQL Server 2019. It should cover FCI/AG/K8s scenarios.

For example Exxon has 3 node replica and if they ask how to upgrade we don’t have links to point to. We need to sequence

[2019-10-15 18:14] WilliamAntonRohm commented on #3303
cc @MightyPen -- notification test

[2019-10-15 18:21] WilliamAntonRohm commented on #3273
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-15 18:21] #3273 closed

[2019-10-15 18:22] WilliamAntonRohm commented on #3310
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-15 18:22] #3310 closed

[2019-10-15 18:42] markingmyname commented on #3026
@MisinformedDNA

If you are looking for Azure SQL samples here is a place to [start](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-powershell-samples?tabs=single-database).

[2019-10-15 18:43] WilliamAntonRohm commented on #3314
@ataraxia89 -- thank you for your feedback.  I am looking into updating that article.  Please visit the [SQL Feedback page](https://aka.ms/sqlfeedback) to register your concerns with the installer.

[2019-10-15 18:46] markingmyname commented on #3026
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-10-15 18:46] #3026 closed

[2019-10-15 18:50] WilliamAntonRohm commented on #3318
@git-sw -- thank you for your feedback.

@MashaMSFT -- please look into this question.

[2019-10-15 18:52] WilliamAntonRohm commented on #3320
@jaynar-cts1 -- thank you for your feedback.

@VanMSFT -- please look into this issue 3320.

[2019-10-15 19:00] eutychus83 commented on #3310
Thank you for your help!

On Oct 15, 2019, at 2:22 PM, William Anton Rohm <notifications@github.com<mailto:notifications@github.com>> wrote:

I am closing this issue now. You are welcome to @ mention me for any followup.
We hope to hear from you again.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/sql-docs/iss

[2019-10-15 19:10] VanMSFT commented on #3320
Hi @jaynar-cts1! Thanks for the feedback. The upgrade sequence for Linux is the same as it would be on Windows: https://docs.microsoft.com/en-us/sql/sql-server/failover-clusters/windows/upgrade-a-sql-server-failover-cluster-instance?view=sql-server-ver15#perform-a-rolling-upgrade-or-update

Please utilize the following article for upgrading SQL Server on Linux: https://docs.microsoft.com/en-us/sql

[2019-10-15 19:10] #3320 closed

[2019-10-15 19:13] rothja commented on #2933
@chugugrace Thank you for the additional information! @user186 Thank you for your patience. I am going to close this issue now, but if you have any additional questions or if you do not feel this resolves the issue, please let us know in this thread. Thanks!! #please-close

[2019-10-15 19:13] #2933 closed

[2019-10-15 20:46] pituach commented on #3273
Good day @msebolt

Claiming that "columns order is cosmetic " is a huge mistake IMO, which marc_s did in the link you provided. In fact, I responded to his message in that specific thread long time ago and I explained this mistake in short. Search the comments for the respond from "Ronen Ariely", which is me by the way ("pituach" is just a nick name saying "developer" in Hebrew. I chose many years

[2019-10-15 22:13] FlavioDiasPs commented on #3084
Hello!

Sorry for the late reply, I was in vacations.

I have retried to run those deletes on Sql Data Warehouse and the results
were the same.

Here, some tries and its results:

create table #testa( a int )
create table #testb( b int )
create table #testc( c int )

 -------------------------------------------------------------------------------------

DELETE FROM #testa
FROM #testb AS tb
INNER J

[2019-10-15 23:02] epretorious-work commented on #2342
Thank you all for your help.

The previous administrator had excluded all packages:

[code]

I was able to successfully install mssql-tools by removing the last '*' from the end of the exclude line.

Eric Pretorious
Portland, Oregon

[2019-10-15 23:33] seanwhitepc opened #3323 ""Maximum File Size" Documentation Incorrect?"
I am able to set the maximum file size of an audit to 128 MBs without an error.  Is 1024 MB really the minimum value?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 233cfefa-453a-5c85-a3f7-e1a6e9a31815
* Version Independent ID: 417f38b4-6e46-d326-197d-2afd1a4b7136
* Content: [Create a Server Audit and Server Audit Spec

[2019-10-16 04:27] msebolt commented on #3218
@camillagaardsted  Thank you for the example.

I think I understand this now, the terms `function body` and `BEGIN...END` is incorrect in differentiating between inline and multi-statement.

The article has been updated.

Also as reference, [this post](https://stackoverflow.com/questions/2554333/multi-statement-table-valued-function-vs-inline-table-valued-function) provided a helpful comparison.

[2019-10-16 06:04] pituach commented on #3273
@WilliamAntonRohm please read my message above. At this time the documentation simply wrong.
Have a great day

[2019-10-16 06:04] #3303 closed

[2019-10-16 06:37] msebolt commented on #3273
@pituach  Thank you for that informative post.

I understand now and have updated the documentation per your suggestion.

We look forward to hearing from you again.

[2019-10-16 07:38] tussosedan opened #3326 "TempTableChanged reason is missing"
TempTableChanged reason is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24764159-9678-dad1-dfbd-f0563e2146f9
* Version Independent ID: 87a7ac36-8697-6ddd-e9a4-fd8b019e3ecd
* Content: [sys.dm_db_tuning_recommendations (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/system

[2019-10-16 08:39] BIGabor opened #3327 "Fix: Fail over to a secondary availability group, Step 4: Test the failover readiness. Run the following query:"
Fail over to a secondary availability group
Step 4: Test the failover readiness. Run the following query:
SQL:
Original text:
SELECT ag.name,
    drs.database_id,
    drs.group_id,
    drs.replica_id,
    drs.synchronization_state_desc,
    drs.end_of_log_lsn
FROM sys.dm_hadr_database_replica_states drs, sys.availability_groups ag
WHERE drs.group_id = ag.group_id;

The availability group is ready

[2019-10-16 09:07] rsocol opened #3328 "CVE-2019-1313 vulnerability"
The page https://portal.msrc.microsoft.com/en-US/security-guidance/advisory/CVE-2019-1313 (published on October 8) suggests that SSMS versions 18.3 and 18.3.1 are both vulnerable. However, the "Security Update" link points to https://go.microsoft.com/fwlink/?linkid=2105412, the same link which is included in this article for SSMS version 18.3.1 (published on October 2). Please clarify if SSMS vers

[2019-10-16 09:39] BIGabor opened #3329 "Manual Failover without dataloss notes"
To 5th step: Promote the target secondary replica to primary.
My note: in SQL2016 documentation: "Fail over from the primary availability group to the secondary availability group. Run the following command on the SQL Server that hosts the primary replica for the secondary availability group."
Till 5th step, all commands run in original PRIMARY, and 5th step should be executed on "original" SECOND

[2019-10-16 13:25] ghanchiasif opened #3330 "SQLPackage.exe is generating the script for Indexes which are ending with GUID(auto generated) even they are exists at target for 64 bit version"
I noticed glitch while generating the script through SqlPackage.exe from my machine and through release pipeline.

In my machine, I had 32 bit version of sql package. The script for indexes are not generated because it’s exists in both source and destination.

I got the error when I tried to deploy the same code through release pipeline where it picks the machine from hosted agent where it has 64

[2019-10-16 14:04] sundayhd opened #3332 "Should add "go" command after section 8."
Without the "go" command the query will not executed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d41367fc-38cf-0c73-3ea8-93bff726f421
* Version Independent ID: 07b2d0b3-2013-a133-9d1e-ee2d249740d5
* Content: [Connect to SQL Server When System Administrators Are Locked Out - SQL Server](https://docs.microsoft.com/en-

[2019-10-16 17:19] msebolt commented on #3323
@seanwhitepc Thank you for the question, assigning this the author for review.

[2019-10-16 17:34] dnethi commented on #3328
hi @rsocol
The issue was identified prior to 18.3, and fixed in 18.3 as well as 18.3.1 subsequently.
So, SSMS 18.3.1 has the fix for the vulnerability. Sorry for the confusion on the docs page.

[2019-10-16 17:42] JediSQL opened #3333 "<computed_column_definition>"
This page uses &lt;computed_column_definition&gt;, but it does not have a definition or link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abcca5d2-d433-96cc-930e-4de020c5785d
* Version Independent ID: fde147ff-b157-502c-276a-d3a2bf9bb3c7
* Content: [ALTER TABLE (Transact-SQL) - SQL Server](https://docs.microsoft.com

[2019-10-16 17:55] rsocol commented on #3328
Thanks for the clarification. I have a few more questions:
I understand the vulnerability affects 17.9.1, will there be a fix for version 17.x ?
Which SSMS versions are supported and which versions are out of support?
Which supported versions are affected by the vulnerability?

[2019-10-16 17:57] dnethi commented on #3328
Please check the SSMS support policy at - https://docs.microsoft.com/en-us/sql/ssms/support-policy?view=sql-server-ver15
We only support the latest version and will patch only the latest version. Highly recommend getting on to 18.3.1.

[2019-10-16 18:09] rsocol commented on #3328
Good to know! (somehow I missed that announcement...)
I'm still reluctant to give up on version 17.x, because version 18.x no longer has the T-SQL Debugger.

The security advisory mentions that the vulnerability "relates to SQL table columns that would normally be restricted". Is this referring to Dynamic Data Masking?

[2019-10-16 18:26] VanMSFT commented on #3323
Hi @seanwhitepc - Thanks for pointing this out. I confirmed that you can create a Server Audit with a maximum size lower than 1024MB.  I will change the doc. Thank you so much for your help on improving our documentation!

https://github.com/MicrosoftDocs/sql-docs-pr/pull/12492

[2019-10-16 18:26] #3323 closed

[2019-10-16 19:57] WilliamAntonRohm commented on #3314
@ataraxia89 -- that link goes to the current SQL Server version.  Please see the [SQL Server 2016](https://www.microsoft.com/en-us/sql-server/sql-server-2016) page.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-16 19:57] #3314 closed

[2019-10-16 20:20] pensivebrian commented on #3330
@ghanchiasif - per the [release notes for sqlpackage 18.3.1](https://docs.microsoft.com/en-us/sql/tools/release-notes-sqlpackage?view=sql-server-ver15#fixes), sqlpackage now ignores automatic indexes, so you should remove them from your project. sqlpackage could be smarter in how it manages automatic indexes, but it's not currently being prioritized, and won't be fixed anytime soon.

[2019-10-16 20:38] WilliamAntonRohm commented on #3241
@MightyPen -- test mention

[2019-10-16 21:07] msebolt commented on #3326
@tussosedan Thank you for the feedback, assigning this to the author for review.

[2019-10-16 21:09] msebolt commented on #3327
@BIGabor Thank you for the feedback, assigning this to the author for review.

[2019-10-16 21:17] msebolt commented on #3329
@BIGabor  Thank you for the feedback, assigning this to the author for review.

[2019-10-16 21:34] msebolt commented on #3332
@sundayhd  Thank you for the feedback, assigning this to the author for review.

[2019-10-16 21:44] MashaMSFT commented on #3318
Hi @git-sw , thank you so much for your feedback! Okay so, if the distributor is on the publisher, and you've configured a push subscription, then you don't have to run any agent at the subscriber as the agents run on the publisher and distributor (which may or may not be one and the same).

However, having said that, you've pointed out a gap in our documentation because we explicitly create a pul

[2019-10-16 21:58] MashaMSFT commented on #3327
Hi @BIGabor , thank you for contacting Microsoft! Sorry, would you mind clarifying your feedback? Are you asking if you should be using the same query for both, or if we should update the documentation so that the same query is used both times?

Or are you suggesting modifying the existing query to add the order by clause?

If you'd like, you can edit the documentation yourself so that your intent

[2019-10-16 22:04] MashaMSFT commented on #3329
Hi @BIGabor , thanks for your feedback! Just to clarify, you're saying the following command should be executed on the secondary replica?

![image](https://user-images.githubusercontent.com/32783170/66962474-ee101b80-f025-11e9-813f-86175f2cc9c7.png)

My apologies, I'm not seeing this anywhere: After completing the steps above, the distributed availability group fails over without any data loss. If

[2019-10-16 22:15] MashaMSFT commented on #3243
Hi @Mightypen, thanks for your feedback! We are tracking this work internally ([1333810](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1333810)) and as such will close out this Git Issue for the time being.

Please let us know if anything further is needed in the meantime :)

Thanks!
Masha from the SQL Docs team

[2019-10-16 22:15] #3243 closed

[2019-10-16 23:29] msebolt commented on #3333
@JediSQL  Thank you for the feedback, please see [computed_column_definition](https://docs.microsoft.com/sql/t-sql/statements/alter-table-computed-column-definition-transact-sql?view=sql-server-ver15).

...and use the TOC when navigating terms:

![Capture](https://user-images.githubusercontent.com/6675884/66966175-2b2ddb00-f031-11e9-8390-1b3a3129f13b.PNG)

Unfortunately, linking each term in-betwe

[2019-10-17 01:04] Hal-H2Apps opened #3334 "Only available on Azure SQL Database Managed Instance"
It could be confusing to not specify that this feature is not available on normal Azure SQL Database. You need to have a Managed Instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ca33880-49c6-5ed6-ed13-2ae6171c9b37
* Version Independent ID: 3aed241c-299d-a1c6-3bdf-f44c439c13b8
* Content: [Capture Logon Trigger

[2019-10-17 02:16] pituach commented on #3273
Awesome Matthew ( @msebolt )
Now it's look good👍
I glad I could help a bit😀

[2019-10-17 06:58] BIGabor commented on #3329
Hi MashaMSFT,

sorry, that's from the Distributed AOGs failover. I mixed the two articles.
https://docs.microsoft.com/en-gb/sql/database-engine/availability-groups/windows/configure-distributed-availability-groups?view=sql-server-ver15#failover

In first step, mode altered to sync, but maybe it was async. It's up to the admin if he changes this back to async again after failover for some reason.

[2019-10-17 09:06] branko-d opened #3337 "Switching back to SNAPSHOT isolation level is possible"
**EDIT 2:** However if the transaction is started under SNAPSHOT isolation, then it can switch to another isolation and then back to SNAPSHOT. This does **not** produce an error:

[code]
Perhaps that should be better documented?

---

**EDIT:** Sorry, I neglected to notice this behavior is within the same transaction. Indeed when I do this...

[code]
...I get an error on the second SELECT:
[code]

[2019-10-17 09:12] git-sw commented on #3318
Hi @MashaMSFT, thank you very much for your prompt response! A tutorial explaining a push subscription would be great! I feel this is probably more fitting for "mobile clients" which may not be running a "full" version of SQL.

[2019-10-17 10:42] MightyPen commented on #3332
@sundayhd Hi sundayhd, can you be a bit more specific: exactly where is the GO needed?

GO is not needed at the end of the Transact-SQL script.
Is GO needed _**between**_ the following two statements?:

[code]
 . .

[2019-10-17 10:53] FireStormHR opened #3339 "Possible incorrect applies to"
This page mentions it doesnt aply to Azure SQL Database, but I tried the functions (ABS, ACOS etc.) and all mentioned functions are recognised and are even excuted on my Azure SQL database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea37453c-53c6-056d-46de-b53660afc859
* Version Independent ID: d2aa0683-f65f-7808-7

[2019-10-17 16:51] MashaMSFT commented on #3318
Hi @git-sw, thanks for sharing that feedback as well -  you're right, I can see how having a push subscription tutorial would be beneficial. I've updated the existing article to modify the requirements stating that SQL Express is not supported for the subscriber, so at least the article is no longer misleading.

However, I have also created an internal work item ([1616831](https://mseng.visualstud

[2019-10-17 16:51] #3318 closed

[2019-10-17 16:55] MashaMSFT commented on #3329
Hi @BIGabor, thanks for reaching out once more! My apologies, I am still not clear on what the proposed change should be for either documentation.

Would you mind submitting an editorial pull request?
1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil" icon on the right
4. Modify the text within the text box in markdown format - more

[2019-10-17 17:06] nomula opened #3341 "Azure Data Studio on Mac (Catalina)"
Cannot install data studio on Mac . Error - “Azure Data Studio.app” can’t be opened because Apple cannot check it for malicious software.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811ed1f4-1c78-aa1b-e752-307250ca8eb7
* Version Independent ID: f36629bf-b2e6-4993-7c77-32fa311ea942
* Content: [Download and install -

[2019-10-17 18:20] WilliamAntonRohm commented on #3330
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-17 18:20] #3330 closed

[2019-10-17 18:21] WilliamAntonRohm commented on #3333
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-17 18:21] #3333 closed

[2019-10-17 18:22] arashaga opened #3342 "SQL Data Warehouse"
This applies to SQL Data Warehouse as well but on top it's indicated it's only available in SQL Server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff9825d0-343d-9a72-342c-3bd8bf7564e0
* Version Independent ID: 3b9185e6-d2aa-cfaf-6a0f-4da3d751080c
* Content: [Use OPENJSON with the Default Schema (SQL Server) - SQL S

[2019-10-17 18:55] WilliamAntonRohm commented on #3334
@Hal-H2Apps -- Hal, thank you for your feedback.

@rothja -- Jason, please look into this issue 3334.

[2019-10-17 18:56] WilliamAntonRohm commented on #3337
@branko-d -- thank you for your feedback.

@CarlRabeler -- please look into this issue 3337.

[2019-10-17 18:56] dvansteenburg commented on #3025
The value returned by CURRENT_TIMEZONE cannot be used with "AT TIME ZONE", nor is it listed in sys.time_zone_info.  As such, it is not useful for converting other date's times to the instance's local time.

Example:
DECLARE @tzstr NVARCHAR(128) = current_timezone()
SELECT * FROM sys.time_zone_info WHERE name = @tzstr
SELECT @tzstr
SELECT SYSUTCDATETIME() AT TIME ZONE 'UTC'
	, (SYSUTCDATETIME() AT

[2019-10-17 18:57] WilliamAntonRohm commented on #3339
@FireStormHR -- thank you for providing these observations.

@MikeRayMSFT -- please look into this issue 3339.

[2019-10-17 18:58] dvansteenburg opened #3343 "Not compatible with AT TIME ZONE or listed in sys.time_zone_info"
The value returned by CURRENT_TIMEZONE cannot be used with "AT TIME ZONE", nor is it listed in sys.time_zone_info. As such, it is not useful for converting other date's times to the instance's local time.

Example:
DECLARE @tzstr NVARCHAR(128) = current_timezone()
SELECT * FROM sys.time_zone_info WHERE name = @tzstr
SELECT @tzstr
SELECT SYSUTCDATETIME() AT TIME ZONE 'UTC'
, (SYSUTCDATETIME() AT TI

[2019-10-17 18:59] WilliamAntonRohm commented on #3342
@arashaga -- thank you for your feedback.

@jovanpop-msft -- please look into this issue 3342.

[2019-10-17 20:32] WilliamAntonRohm commented on #3241
@CarlRabeler -- please review the changes in the above-mentioned PR #12453.

[2019-10-17 21:02] ColinPM opened #3344 "Typo in EXEC sp_repldone example?"
EXEC sp_repldone @xactid = NULL, @xact_segno = NULL, @numtrans = 0,     @time = 0, @reset = 1

should be

EXEC sp_repldone @xactid = NULL, @xact_seqno = NULL, @numtrans = 0,     @time = 0, @reset = 1

ie the g in segno should be a q for seqno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33c94213-3067-9778-159b-99b2e6

[2019-10-17 21:13] chakriganapa opened #3345 "Log Shipping on Linux(Centos 7)"
sudo mount -a
i got the following error "Unable to find suitable address."
1) i changed ip adders for below script
//&lt;ip_address_of_primary_server&gt;/tlogs /var/opt/mssql/tlogs cifs credentials=/var/opt/mssql/.tlogcreds,ro,uid=mssql,gid=mssql 0 0
2) on below script, what is domain means
username=mssql
domain=&lt;domain&gt;
password=&lt;password&gt;

Thanks
chakri

---
#### Document Details

⚠

[2019-10-17 21:40] VanMSFT commented on #3345
@chakriganapa - Hi Chakri, Thank you for submitting a Documentation issue. These forums are for documentation issues, and not for answering product/support issues. If you are running into issues where you need support, please consider the below links. To answer your second question, <domain> refers to your environment domain. If it's a standalone server, you would use the Machine Name as the <doma

[2019-10-17 21:40] #3345 closed

[2019-10-18 03:12] marcoandre1 opened #3346 "Local user has to be created with another method for Windows Home users"
Hi,
creating a [new windows account](https://docs.microsoft.com/en-us/sql/t-sql/lesson-2-configuring-permissions-on-database-objects?view=sql-server-ver15#create-a-new-windows-account) as stated in the tutorial doesn't work for Windows Home. See [StackOverflow](https://stackoverflow.com/questions/41093714/why-local-users-and-groups-is-missing-in-computer-management-on-windows-10-home).
You can pro

[2019-10-18 08:04] siliang-jiao opened #3347 "prerequisites of C++ build tools 14.0"
Trying to follow the guide [install azdata with pip](sql-docs/docs/big-data-cluster/deploy-install-azdata.md) to install azdata into windows server 2019 datacenter.  But got the "C++ build tool 14.0 is required" error when installing `Cython` (which is required for running `pip3 install -r https://aka.ms/azdata`)

Resolved it using
`choco install microsoft-visual-cpp-build-tools`

Could you please

[2019-10-18 08:11] siliang-jiao opened #3349 "python 3.8 not able to run `pip3 install https://aka.ms/azdata`"
Trying to follow the guide [install azdata with pip](sql-docs/docs/big-data-cluster/deploy-install-azdata.md) to install azdata into windows server 2019 datacenter. But got an error when installing `pywinpty` ( which is required to run `pip3 install https://aka.ms/azdata`).

seems like `pywinpty` is not ready for python 3.8 yet.

Could you please add a sentence of explanation above python3.8 to do

[2019-10-18 12:30] jovanpop-msft commented on #3342
@WilliamAntonRohm could you please assign this to some author for DW? Someone marked top-level page as supported in DW; however, other pages  are not marked. Not sure is this error or intentional, but this should be checked with DW doc/pm team.

[2019-10-18 13:29] rothja commented on #3334
@Hal-H2Apps Thank you for this feedback. I am going to get you to one of our SQL Database experts on my team. @stevestein Could you verify this and change the article that it only applies to Managed Instance if you confirm? Thanks. #reassign:stevestein

[2019-10-18 13:50] Phil-Factor commented on #3081
--keeping the cross apply example simple
DECLARE @json NVARCHAR(MAX) = N'[
  {
    "OrderNumber":"SO43659",
    "OrderDate":"2011-05-31T00:00:00",
    "AccountNumber":"AW29825",
    "ItemPrice":2024.9940,
    "ItemQuantity":1
   },
  {
    "OrderNumber":"SO43661",
    "OrderDate":"2011-06-01T00:00:00",
    "AccountNumber":"AW73565",
    "ItemPrice":2024.9940,
    "ItemQuantity":3
  }
]'

SELECT ro

[2019-10-18 14:15] rothja commented on #3337
@branko-d I apologize but Carl is out of the office. @VanMSFT Can you please take a look at this feedback/question. Thank you! #reassign:vanmsft

[2019-10-18 14:23] rothja commented on #3239
@Bart76 I apologize for the confusion and the delay. @CarlRabeler is out of the office, so I will reassign this issue to myself. #reassign:rothja . It does seem from your tests that this is not available in 2014, and we should indicate this in the article. Also, you make a good point that if this is the only article for ALTER TABLE that it should not say that it is not available for 2014 but shoul

[2019-10-18 14:50] rothja commented on #3112
@karldodd Thanks, again for this questions. I'm looking into this further, and I appreciate your patience.

[2019-10-18 16:22] VanMSFT commented on #3337
Hi @branko-d - Thanks for the feedback, and going into details about your issue. However, your 2nd edit shows precisely this behavior that is stated in our doc:

[2019-10-18 16:22] #3337 closed

[2019-10-18 16:28] WilliamAntonRohm commented on #3342
@jovanpop-msft -- thank you, I will.

[2019-10-18 16:39] WilliamAntonRohm commented on #3341
@nomula -- thank you for your feedback.  You may find additional information regarding installation here:
- [Setup and Upgrade - MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=sqlsetupandupgrade&filter=alltypes&sort=lastpostdesc)
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql

[2019-10-18 16:39] #3341 closed

[2019-10-18 16:44] msebolt commented on #3341
@nomula  Please use the right-click and open from the menu (see [this post])(https://www.reddit.com/r/MacOS/comments/cgj1qs/cant_be_opened_because_apple_cannot_check_it_for/).

[2019-10-18 17:17] msebolt commented on #3343
@dvansteenburg Thank you for the feedback.

Unfortunately there's not a standard syntax for time zones and it's on the developers to bridge these gaps.

Standardization across SQL Server makes sense, however you'll need to start a thread with the product team in the [SQL Server forums](https://feedback.azure.com/forums/908035-sql-server) andn include a link to the example above.

[2019-10-18 17:21] msebolt commented on #3344
@ColinPM  Thank you for the feedback.

The documentation has been updated per recommended change and is pending review.

[2019-10-18 17:22] msebolt commented on #3346
@marcoandre1 Thank you for the feedback, assigning this to the author for review.

[2019-10-18 17:25] msebolt commented on #3347
Referencing https://docs.microsoft.com/sql/big-data-cluster/deploy-install-azdata.

@siliang-jiao Thank you for the feedback and posted work-around.

Assigning this to the author for review.

[2019-10-18 17:29] msebolt commented on #3349
Related to issue https://github.com/MicrosoftDocs/sql-docs/issues/3347.

@siliang-jiao Thank you for the feedback, assigning this to the author for review.

[2019-10-18 17:39] PicayuneOne opened #3352 "Page contains an incorrect statement."
In the section with a lavender background, this sentence is incorrect.:   "Use the LEN to return the number of characters encoded into a given string expression" because the Len function does NOT include trailing spaces.  It's been more than 15 years of people complaining about that quirk and yet Microdaft STILL does not provide an alternate function to return the true length of a string.

[2019-10-18 18:11] WilliamAntonRohm commented on #3342
@julieMSFT -- please look into this issue 3342.

[2019-10-18 21:33] VanMSFT commented on #3171
@jaszymas - Hey Jakub, can you please confirm and help with this Issue? Thanks!

[2019-10-18 22:28] VanMSFT commented on #3171
Hi @SgtSpamCan! Thanks for bringing up this feedback. We are updating the document internally, and will be removing the note that AE is not supported in .Net Core. This will be reflected in the coming weeks as part of a larger update. If you have any questions, please feel free to let us know. Thanks again!

https://github.com/MicrosoftDocs/sql-docs-pr/pull/12274

[2019-10-18 22:28] #3171 closed

[2019-10-18 22:36] julieMSFT commented on #3342
@XiaoyuMSFT Xiaoyu, can you verify this should be marked as supported in SQL DW?

[2019-10-19 16:55] JediSQL commented on #3333
@WilliamAntonRohm
I guess I'm not used to topics being split across multiple pages. Now I know.

There is the standard paragraph that starts with "For more information about the syntax conventions..." For multi-page topics, maybe there could be a second sentence that identifies it as a multi-page topic and the need to use the TOC.

[2019-10-19 20:37] LarnuUK commented on #3352
The point you're making is covered in the Remarks section, and the Document gives an alternative as well:

If you do you `DATALENGTH` just remember that an `nvarchar` (or `nchar`) will use 2 bytes per character, not 1. If you don't know what datatype the column is, that's a totally different (design) problem, in my view.

I don't see anything wrong with what the Documentation states, as it's tell

[2019-10-20 03:18] PicayuneOne commented on #3352
And yet the statement I complained about IS INCORRECT.  You cannot say  things that are incorrect then qualify your statement in ANOTHER PARAGARPH.

And precisely how do I know the data type of my variable when it may be the result of several text manipulating functions and the + operator?   So using DataLength is an impractical solution.  So there is no alternate version of the Len function.  Whi

[2019-10-20 09:01] LarnuUK commented on #3352
So what exactly, in your opinion, is incorrect here in the document? The document states that `LEN` returns the number of characters in a string, and also states that it does not include trailing spaces. That is exactly how `LEN` works. What is incorrect about those statements? What would you suggest the wording of the page should be instead if that isn't the behaviour of the function?

I'm not su

[2019-10-20 22:15] RichardMooreClear commented on #3223
Hi SQL Docs

Are you sure it only started in SQL Server 2016.

Every where else I searched said SQL Server 2012

Kind regards

Richard Moore
[cid:image001.png@01D587E7.AB63FEB0]
This e-mail message, including any attachment(s), is intended solely for the addressee or addressees and is strictly confidential or otherwise legally protected.
If you are not the intended recipient of this communication

[2019-10-21 02:47] RichardMooreClear commented on #3223
Hi SQL Docs

Sorry I accidently deleted your reply to below.

But I just found

https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2012/hh213505%28v%3dsql.110%29

So is Format in SQL Server 2012 or not?

We are in the process of converting our existing DB to MS SQL and need to know what min version of SQL Server to advise our customers.

Kind regards

Richard Moore
[cid:image001.png

[2019-10-21 08:12] BIGabor commented on #3329
Hi Masha

No changes are required.
Just mixed on DOCs page Distributed AOGs with normal AOGs. My fault, sorry!

Regards,
Gabor

[2019-10-21 08:12] #3329 closed

[2019-10-21 09:09] chojrak11 opened #3356 "Versions are mixed and I don't think it's intended"
While I understand this is WIP for SQL Server 2019, I'd like to point out things I've noticed:
* I'm filtering the content by 2019 (upper left corner)
* The first sentence says: "This topic describes how to create, rebuild, or drop indexes online in SQL Server **2017** by using SQL Server Management Studio or Transact-SQL"
* The information in the box says "Online index operations are not availabl

[2019-10-21 14:48] TheConstructor opened #3359 "Is there a way to opt-out?"
Hi,

I am currently trying to find a way to override this behavior, as we have a case where we want to include a backslash followed by a line-break. Is this just undocumented (e.g. `\\` would not get replaced) or do I need to file a feature-request/bug against SQL Server elsewhere?

Best Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-10-21 14:57] LarnuUK commented on #3359
This only happens when using a literal string with the value. For example the below will return `testing`:
[code]
If, however, you us `NCHAR` to insert the characters, the behaviour isn't replicated:
[code]
This returns:
[code]

Seems like you're best bet would be to simply not use a literal value; so you problem need to simply parametrise your query.

[2019-10-21 15:45] jeffcampsall opened #3360 "Doesn't work for me"
It's 3 lines are code... how can this be difficult?

The SECRET is the SAS from the STORAGE ACCOUNT:

create database scoped credential ImportDataCredential
 WITH IDENTITY='SHARED ACCESS SIGNATURE',
 SECRET='sv=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&spr=https&sig=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx%3D';

CREATE EXTERNAL DATA SOURCE ImportDataStorage WITH (
 TYPE = BLOB_STORAGE,
 LOCATION = 'htt

[2019-10-21 15:45] TheConstructor commented on #3359
Wouldn't
[code]
be enough? Do `PRINT` and `EXEC` allow concatenation? Ideal would be a solution that works as literal.

[2019-10-21 16:11] LarnuUK commented on #3359
That would work as well, yes. personal habit that I use `NCHAR(13)` and `NCHAR(10)`, as I tend to work on both Linux and Windows environments; so it keeps strings consistent between the 2. (Linux only uses Line break, where as Windows Carriage return the Line Break).

[2019-10-21 16:36] kratkaericd opened #3361 "The event 'sqlserver.lock_released' is not available for Azure SQL Database."
Thank you for this article. I'm trying to translate it for Azure SQL Database and understand the differences noted at the bottom of the article. The article's core benefit is pairing the _sqlserver.lock\_acquired_ and lock_released events but Azure SQL Database &nbsp; &nbsp; &nbsp; **doesn't support _sqlserver.lock\_released_** &nbsp; &nbsp; &nbsp; according to the error I received trying to use i

[2019-10-21 16:55] stevestein commented on #3334
@Hal-H2Apps - thanks for pointing this out. The article has been updated so the applies to info says managed instance only.

Thanks!

#please-close

[2019-10-21 16:55] #3334 closed

[2019-10-21 17:30] msebolt commented on #3352
@PicayuneOne @LarnuUK Thank you for the feedback.

I think the wording in the note is incorrect even though its context, which is to highlight the differences between `LEN` and `DATALENGTH` is valid and have reworded the document accordingly.

The changes are under review.

[2019-10-21 18:06] MightyPen commented on #3361
@kratkaericd Hello, we are now looking at this Issue #3361.
Indeed, the following T-SQL SELECT, when run on Azure SQL Database, does _not_ return xevent sqlserver.lock_released.

[code]

Thanks.

[2019-10-21 18:25] VanMSFT commented on #3360
Hi @jeffcampsall - I'm sorry that the commands are not working for you. This forum is only for documentation issues, and we do not provide support here. If need assistance, please use the below links:

- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Setup and Upgrade -  MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=s

[2019-10-21 18:25] #3360 closed

[2019-10-21 18:28] MightyPen commented on #3361
I sent email to Pedro asking why .lock_released seems unavailable on AzSqlDB.

[2019-10-21 18:33] stevestein commented on #3151
@MichaelFirsov - thanks for the feedback. The description was definitely a bit unclear so I updated it with the following text:

Describes the virtual_machine_type column. Not nullable.

NONE = SQL Server is not running inside a virtual machine.

HYPERVISOR = SQL Server is running inside a virtual machine hosted by an OS running hypervisor (a host OS that employs hardware-assisted virtualization).

[2019-10-21 18:33] stevestein commented on #3151
#please-close

[2019-10-21 18:33] #3151 closed

[2019-10-21 18:48] stevestein commented on #3147
@mco100 - thanks for the feedback. The DAC content is undergoing a larger review and assessment. An internal work item (1620374) has been created with your request.

Thanks!

#please-close

[2019-10-21 18:48] #3147 closed

[2019-10-21 18:55] MichaelFirsov commented on #3151
Thank you very much for the clarification, stevestein - that's much better!

[2019-10-21 19:10] stevestein commented on #3113
@breenb - thanks for the feedback.  An internal work item (1620390) has been created to consider updating the example per your suggestion.

Thanks!

#please-close

[2019-10-21 19:10] #3113 closed

[2019-10-21 19:39] stevestein commented on #3078
@samrueby - thanks for the feedback. I updated the article to include a link to: https://docs.microsoft.com/sql/relational-databases/sql-server-transaction-locking-and-row-versioning-guide#lock_modes

Thanks!

#please-close

[2019-10-21 19:39] #3078 closed

[2019-10-21 20:58] brettshearer opened #3362 "Trace Flag 3427 as applies to 2017 is incorrect"
Please review the description. It says 2017 is affected, but then says it is not affected.
Which is it and in what versions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0e35dc1-14be-0678-aeae-88de1c7601ac
* Version Independent ID: b3700e3e-acbf-9248-c333-ac9013827d84
* Content: [Trace Flags (Transact-SQL) - SQL Ser

[2019-10-21 21:09] PawJershauge opened #3363 "Incorrect inheritance"
Acording to this article, sql_logins should inherit server_principals, but it doesn't.
sql_logins fails to inherit the following two columns from server_principals:

- `owning_principal_id`
- `is_fixed_role`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7432bff9-69c5-181a-8f9e-5501d7c03807
* Version Independent ID: bf

[2019-10-21 22:00] WilliamAntonRohm commented on #3356
@chojrak11 -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue 3356.

[2019-10-21 22:02] WilliamAntonRohm commented on #3359
@TheConstructor -- Matthias, thank you for your feedback.

@LarnuUK -- Thom, thank you for answering!

I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2019-10-21 22:02] #3359 closed

[2019-10-21 22:06] WilliamAntonRohm commented on #3362
@brettshearer -- Brett, thank you for your close reading.

@pmasl, @MightyPen -- please look into this issue 3362.

[2019-10-21 22:09] WilliamAntonRohm commented on #3363
@PawJershauge -- Paw, thank you for your feedback.

@VanMSFT -- Van, please look into this issue 3363.

[2019-10-21 22:27] pmasl commented on #3362
I'm correcting the information. Thanks!

[2019-10-22 02:24] CLLAX opened #3364 "SQL Server Monitoring Tools"
[Enter feedback here]
The real time alerts and email notification of [SQL Server Performance Monitoring Software](https://cllax.com/top-17-best-sql-server-performance-monitoring-tools-and-software.html) helps admin to manage space accordingly and avoid mishaps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7be88fdd-a8

[2019-10-22 09:43] TheConstructor commented on #3359
I am using this from an automated context to generate scripts; this would mean, that I have to keep track of in-use variable names :-\

[2019-10-22 13:03] FireStormHR commented on #3339
Looking further into this, it looks like FLOOR, SQUARE and the overview page are the incorrectly not-marked applies to's. The other specific pages of the mathematical functions are already marked as applies to for AzureSQL.

[2019-10-22 14:29] Hal-H2Apps opened #3365 "Wait Types list uncomplete"
Hi,

I'm having the following Wait Types when I'm running a SELECT on this table in Azure SQL Database :

GLOBAL_QUERY_CONSUMER
GLOBAL_QUERY_CLOSE
GLOBAL_QUERY_CANCEL
PREEMPTIVE_OS_WRITEFILEGATHER
HADR_SYNC_COMMIT
MEMORY_ALLOCATION_EXT
PREEMPTIVE_XHTTP
RESERVED_MEMORY_ALLOCATION_EXT
WAIT_ON_SYNC_STATISTICS_REFRESH
PREEMPTIVE_OS_CRYPTOPS
PREEMPTIVE_OS_CRYPTACQUIRECONTEXT
PREEMPTIVE_OS_FILEOPS
PREEM

[2019-10-22 16:27] msebolt commented on #3364
@CLLAX  Thank you for providing a list of external tools for measuring SQL Server performance.

Please see [System Monitor](https://docs.microsoft.com/sql/relational-databases/performance-monitor/monitor-resource-usage-system-monitor?view=sql-server-ver15) and [Query Store](https://docs.microsoft.com/sql/relational-databases/performance/monitoring-performance-by-using-the-query-store?view=sql-serv

[2019-10-22 16:28] msebolt commented on #3365
@Hal-H2Apps Thank you for the feedback, assigning this to the author for review.

[2019-10-22 16:47] rafaelhumberto opened #3367 "DST changes of Sao Paulo time zone are not determined by SQL Server 2017 on Linux"
In this year America/Sao Paulo time zone doesn't have DST, but SQL Server 2017 Latest Linux  version have changed UTC to -02:00. (the normal value is -03:00).

You can observe DST active running this query:
select * from sys.time_zone_info where name = 'E. South America Standard Time'

name                          |current_utc_offset|is_currently_dst|
------------------------------|--------------

[2019-10-22 16:55] oscarzamora opened #3368 "Teradata, not Terradata"
Nitpicking here. Teradata instead "Terradata".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb42e0e-b056-6e2c-b8dd-8d9541f86fb8
* Version Independent ID: 9212ec4a-4862-7df7-0698-b3f01e46f631
* Content: [What are compute pools? - SQL Server big data clusters](https://docs.microsoft.com/en-us/sql/big-data-cluster/conc

[2019-10-22 17:06] garyericson commented on #3159
I'm looking into it.

[2019-10-22 17:20] #3218 closed

[2019-10-22 17:38] garyericson commented on #3159
The answer from the engineering team is that it is all the settings: server level, resource group, or query hint. You can find a detailed discussion here:
https://techcommunity.microsoft.com/t5/SQL-Server-Support/Server-8217-s-8220-Max-Degree-of-Parallelism-8221-setting/ba-p/318569

#please-close

[2019-10-22 17:38] #3159 closed

[2019-10-22 17:58] #3344 closed

[2019-10-22 20:03] MashaMSFT commented on #3012
Hi @aayush3667, just wanted to check in with you and see if you are able to provide a need to read the log? Please note, if we don't hear back from you soon, we will assume your question has been answered and close out this Git Issue.

Thanks!
Masha from the SQL Docs team

[2019-10-22 20:08] MashaMSFT commented on #3128
Hi @banzaisi , thanks again for providing feedback to our documentation! I have created an internal work item to track this work ([1622218](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1622218)). I will close out this Git Issue for the time being, but please feel free to respond should you need anything further in the meantime.

Thanks!
Masha from the SQL Docs team

[2019-10-22 20:08] #3128 closed

[2019-10-22 20:31] msebolt commented on #3367
@rafaelhumberto Thank you for the feedback and diagnosis.

Since this is product-related, please move this to the [SQL Server User Voice](https://feedback.azure.com/forums/908035-sql-server) and link back to this issue.

There the product team will respond and fix accordingly.

[2019-10-22 20:34] msebolt commented on #3368
@oscarzamora Thank you for the feedback, we're glad to have all the help we can get.

The documentation has been updated.

[2019-10-22 21:25] #3352 closed

[2019-10-22 21:40] JonnyWaffles opened #3371 "Entity Reference Documentation Failure"
Hi friends,

The two code examples given [here](https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/xquery/primary-expressions-xquery.md) are the same, and thus the second one does not work either, thus it becomes unclear what the article is trying to express.

[2019-10-22 21:40] #3368 closed

[2019-10-22 22:01] pmasl commented on #3352
@PicayuneOne while you make some fair points, I suggest you open a design change request for a LEN-like function that doesn't ignore trailing spaces at https://aka.ms/sqlfeedback.
And while I understand your scenario is of the utmost importance, the engineering team doesn't take lightly to changing a behavior because that may break millions of workloads depending on a specific behavior. If a behav

[2019-10-23 00:14] BillPennock opened #3376 "prerequisites all depend on being able to start the server"
You have to run select statements on files that are in the master database that needs to be rebuilt in order to start the database in the first place.  How does that work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39e93d44-8942-2548-190e-616285b554c6
* Version Independent ID: 4a1e67f5-097c-f4c9-544f-fd75ce0c974c
*

[2019-10-23 04:30] SeaDude opened #3377 "Diagramming tools?"
What program did you use to create the flowchart diagrams at the top of the screen? (https://docs.microsoft.com/en-us/sql/t-sql/functions/openjson-transact-sql?view=sql-server-ver15#openjson)
I've seen Microsoft use these in other docs and I find them very useful.
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-10-23 08:46] DutchMarcel opened #3378 "Incorrect spelling of MSSQL_PID"
In sections 'Use with initial setup' and 'Use with Docker' the MSSQL_PID variable is incorrectly spelled as MSSSQL_PID. In the code samples the spelling is correct.

Regards,
Marcel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b12eac8a-8797-b2d4-5195-e1d77b4b0001
* Version Independent ID: 163b4b50-6e25-b006-6ea6-c6e4

[2019-10-23 10:54] LarnuUK commented on #3352
Why I feel that *if* the OP wanted to have a built in function behaviour to count trailing spaces, they would be better asking for a new function to address the requirement. I completely agree that changing the behaviour of `LEN` would be a huge breaking change. It would certainly, as well, have huge detrimental effect on those using the `char` and `nchar` data types.

A change to `LEN` to count t

[2019-10-23 11:04] rafaelhumberto commented on #3367
Tks !

[2019-10-23 11:04] #3367 closed

[2019-10-23 13:06] tussosedan commented on #3327
Jumping in here, as we are also having trouble with this step.

It says "and the end_of_log_lsn is the same for both availability groups." -- however, after executing step 3 ("set the distributed availability group role to SECONDARY"), the forwarder disappears from the query listed in steps 3 and 4. So it is not possible to compare end_of_log_lsn with this query.

Moreover, if we try to get the en

[2019-10-23 13:48] MladjoA commented on #2791
@gguille077 , kind reminder for sharing the SQL Server version and execution plans. Thanks.

[2019-10-23 13:54] MladjoA commented on #2791
@gguille077 , alternatively, can you try TOP 100 version with MAXDOP 1 hint? That would help us confirm whether this is known issue already fixed in Azure SQL DB.

[2019-10-23 13:55] MladjoA commented on #3025
@WilliamAntonRohm , supported versions section is now fixed.

[2019-10-23 13:57] MladjoA commented on #2894
@msebolt , hyperlink to the SRID article explaining it is now added

[2019-10-23 13:59] MladjoA commented on #3039
@vu-dang , yes, both methods share the same implementation.

[2019-10-23 13:59] MladjoA commented on #3039
@msebolt , I answered the question

[2019-10-23 15:04] VanMSFT commented on #3378
Thanks @DutchMarcel for reporting this issue. The document is currently being updated by @Potapy4. Thanks for all your help on our documentation!

[2019-10-23 15:04] #3378 closed

[2019-10-23 15:10] BIGabor commented on #3327
Hi Tussosedan!

Right, from MS docs:
"Understanding the LSN Column Values

The values of the end_of_log_lsn, last_hardened_lsn, last_received_lsn, last_sent_lsn, recovery_lsn, and truncation_lsn columns are not actual log sequence numbers (LSNs). Rather each of these values reflects a log-block ID padded with zeroes.

end_of_log_lsn, last_hardened_lsn, and recovery_lsn are flush LSNs. For example,

[2019-10-23 15:14] msebolt commented on #2894
@JeffModen @MladjoA Closing the issue now, please comment below if there are any questions.

[2019-10-23 15:16] msebolt commented on #3039
@vu-dang @MladjoA Closing the issue now.

[2019-10-23 15:16] #3039 closed

[2019-10-23 15:21] tussosedan commented on #3327
Interesting! Unfortunately we used up all the investigation time we could for this issue, right now I'd prefer to wait for the Product Group to resolve the matter.

[2019-10-23 15:22] JeffModen commented on #2894
Thanks folks.

[2019-10-23 17:42] WilliamAntonRohm commented on #3371
@JonnyWaffles -- Jonny, thank you for your feedback.

@rothja -- Jason, please look into this issue 3371.

[2019-10-23 18:21] WilliamAntonRohm commented on #3377
@SeaDude -- thank you for your question and positive feedback.

@jovanpop-msft -- Jovan, please let us know whether this an external or internal tool, and thank you for your time.

[2019-10-23 18:56] rothja commented on #3371
@JonnyWaffles Thank you for the question. You're referring to this repeated code sample:

[code]

That is strange and must be an oversight. I'll see if I can figure out what it should have said. Are you able to figure out what you need for your current task? Thanks!

[2019-10-23 19:07] WilliamAntonRohm commented on #3376
@BillPennock -- Bill, thank you for your question.  You may find an answer in these links:

- [Reddit - general discussion about SQL Server](https://www.reddit.com/r/SQLServer/)
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

Also, you may want to add your question to [SQL Server Feedback](

[2019-10-23 19:30] vu-dang commented on #3039
Can a note be added to the online documentation so they match?

[2019-10-23 19:49] WilliamAntonRohm commented on #3025
@MladjoA -- thank you.

[2019-10-23 19:49] #3025 closed

[2019-10-23 20:17] msebolt commented on #3376
The initial `SELECT` statements represent a scenario where either the original database has remained intact or for use prior to a case where the database actually needs rebuilding.

This is the only way to extract potentially wanted settings not restored by the build process.

[2019-10-23 22:30] CeciAc opened #3380 "sp_update_job @notify_level_email valid values wrong"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/sql-docs.de-de/issues/109

@abbgrade commented 12 hours ago
The description for parameter @notify_level_email is wrong.
Value 0 for 'Never' is not supported. The error message is:

    The specified '@notify_level_email' is invalid (valid values are: 1, 2, 3).

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-10-23 23:08] WilliamAntonRohm commented on #3380
@CeciAc -- Cecilia, thank you for bringing this to our attention.

@stevestein -- Steve, please look into this issue 3380.

[2019-10-24 01:46] JonnyWaffles commented on #3371
@rothja Hi Jason. Thanks for the response. Unfortunately, I don't have a current task to relate the item to. I was just trying to understand XQuery broadly, so I was reading all the documentation and this particular topic made no sense so I figured I'd ask you guys. Cheers.

[2019-10-24 03:20] kazshi opened #3381 "Default value for Script indexes option"
For the Script indexes option, Default is "True " in the description but looks like the default is "False" - could you please check it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b12f56f-4709-cab6-33a2-52acb1581ff8
* Version Independent ID: c6790f69-453e-ffce-6f79-5aa3a656e80b
* Content: [Options (SQL Server Objec

[2019-10-24 12:58] ruskimarcin opened #3382 "support JSON functionality in ORM ?"
Hi, awesome work! Here is my feature request to make it even _awesomier_
Have you consider spending some of your time to help bake [JSON data in SQL server](https://docs.microsoft.com/en-us/sql/relational-databases/json/json-data-sql-server?view=sql-server-ver15) feature into popular ORMs? I'd vote for Python's SQLAlachemy, but probably working with C# ORM first makes more sense? I already asked a

[2019-10-24 13:51] micheleTahay opened #3383 "SQL query does not give information about ghost records"
As tested on a 2016 version, the sql statement above does not give information in the ghost_record_count column. You need to set your 'mode' for dm_db_index_physical_stats on at least 'SAMPLED' to gather that data. When 'mode' is null, then it defaults to 'LIMITED'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a868d

[2019-10-24 16:49] MashaMSFT commented on #3383
Hi @micheleTajay, thanks for bringing this to our attention! Let me investigate this further :) Please note, this process may take a a while, depending on the complexity.

Thanks!
Masha from the SQL Docs team

[2019-10-24 17:02] msebolt commented on #3381
@kazshi Thank you for the feedback.

I am using the latest version of SSMS and the default is `True`.

![Capture2](https://user-images.githubusercontent.com/6675884/67508084-2aa2cf00-f645-11e9-9f2c-83e517598975.PNG)

Comment below if there are any questions.

[2019-10-24 17:14] msebolt commented on #3382
@ruskimarcin Thank you for the feedback and for posting the issue to the community.

I'm assigning this to the author for comment.

Also note for the product team's response you need to add this to the [SQL Server forum](https://feedback.azure.com/forums/908035-sql-server).

[2019-10-24 17:24] MashaMSFT commented on #3383
Hi @micheleTahay, you were right, the last column should be sampled :) I have processed this change and it should be live later today. Please let us know if there is anything else we can assist you with? Otherwise, we will proceed with closing out this Git Issue in a few business days.

Thanks again for making our docs better, and hope you have a wonderful rest of your day!
Masha from the SQL Docs

[2019-10-24 18:24] aev-mambro2 opened #3385 "How do we turn off this dialog?"
I rarely ever want to save changes to the files I use. And if I do, I'm perfectly capable of pressing ctrl-S. (Usually I'm editing a view or stored procedure's SQL. To apply the changes to the DB, we execute the DDL script. I have triggers keeping DDL change history in each of my DBs.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-10-24 20:04] msebolt commented on #3385
@aev-mambro2  Thank you for the question.

This feature has been added to SSMS since version 2016.

To enable please refer to [this post](https://dba.stackexchange.com/questions/56628/suppressing-the-ssms-prompt-to-save-changes) or comment below if this is doesn't address your problem.

[2019-10-24 20:06] saandersen opened #3386 "Up-to-date?"
This page hasn't been updated for a while, and there are a few CU's that have been released that are not listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1353d4d-3899-d6cf-e44f-8536c7828335
* Version Independent ID: de0210cf-386a-f8c8-1157-40cea207ed4b
* Content: [Latest updates for Microsoft SQL Server - SQL Se

[2019-10-24 21:42] naveedm143 opened #3387 "Permissions"
The text under heading "Permissions" states that "VIEW SERVER STATE cannot be granted in SQL Database so sys.dm_exec_requests is always limited to the current connection." This is ambiguous. I believe it means AZURE SQL Database. Can the text be change to to "VIEW SERVER STATE cannot be granted in AZURE SQL Database so sys.dm_exec_requests is always limited to the current connection.". This will h

[2019-10-24 21:59] dministrator opened #3388 "Very confusing phrasing"
What exactly does this mean? Can this be worded better? There is no description provided for the **FOR** keyword.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d8add50-414a-a033-6fc0-84de1c7735f2
* Version Independent ID: 8f2f3149-7035-b3d4-6f09-a6eadd015e24
* Content: [CREATE TRIGGER (Transact-SQL) - SQL Server](htt

[2019-10-24 22:05] dalton478 opened #3389 "Please add a spec on what units the returned distance is in."
Nominal required text

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d35760e7-cf19-be8e-2bed-8cac09519942
* Version Independent ID: 86fdd88f-6d3f-f775-32be-100f1c855f9a
* Content: [STDistance (geography Data Type) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/spatial-geography/stdistance-geography-data-type?

[2019-10-24 22:11] msebolt commented on #3386
@saandersen  Thank you for the feedback, assigning this to the author for review.

[2019-10-24 22:17] MashaMSFT commented on #3327
Hi @tussosedan , thank you for this additional information! I am investigating this.

Thanks!
Masha from the SQL Docs team

[2019-10-24 22:32] #3364 closed

[2019-10-24 23:35] pmasl commented on #3387
SQL Database and Azure SQL Database are synonyms. That much is used in many pages. Will add this to backlog. @MikeRayMSFT it would be useful to look for all pages using the [!INCLUDE[ssSDS](../../includes/sssds-md.md)] token and replace with [!INCLUDE[ssSDSfull](../../includes/sssdsfull-md.md)], or change the token content itself from _SQL Database_ to _Azure SQL Database_

[2019-10-25 02:02] kazshi commented on #3381
@msebolt Thanks for your comment/confirmation. For entire database and all database objects, you're right - the default is True. But it's False if we select specific objects (a table for example) - sorry for my insufficient explanation - I'm not sure if it's by design, please close if it's by design.

[2019-10-25 03:06] trbenning opened #3390 "The commands given in the "Persist your data" section do not work when using Linux containers on Windows"
The command given, `docker run -e "ACCEPT_EULA=Y" -e "MSSQL_SA_PASSWORD=&lt;YourStrong!Passw0rd&gt;" -p 1433:1433 -v <host directory>:/var/opt/mssql -d mcr.microsoft.com/mssql/server:2019-CTP3.2-ubuntu` will fail due to a file access violation. It is better to explicitly mount the data & log directories instead:

`docker run -e "ACCEPT_EULA=Y" -e "MSSQL_SA_PASSWORD=&lt;YourStrong!Passw0rd&gt;" -p

[2019-10-25 03:41] karldodd commented on #3112
@rothja Thanks. SQL2019 seems very close to GA, so maybe we need to get this clear before the release :)

Another question related to the issue is, whether we can put data files (not buffer pool cached pages) directly on PMEM device. Since it is not easy to get a machine with PMEM today, it is hard for users to test and find out. More T-SQL samples here in the doc would help a lot.

[2019-10-25 04:16] SeaDude opened #3391 "What is a "Windows file" in this doc?"
Do you mean *local* file? or do you mean a file created on a Windows OS? or something else? [There isn't such as things as a "Windows file"](https://www.google.com/search?source=hp&ei=4XayXZCQHZPV9APBhIm4Cw&q=What+is+a+%22Windows+file%22%3F&oq=What+is+a+%22Windows+file%22%3F&gs_l=psy-ab.3..0l4j0i22i30l6.1270.1270..3386...0.0..0.94.94.1......0....2j1..gws-wiz.1YuxdCSiwec&ved=0ahUKEwjQhOizxrblAhWTKn

[2019-10-25 12:46] aev-mambro2 commented on #3385
Hi Matthew Sebolt,

Thank you for providing a link to explain where we can find a setting to switch prompting behavior.

The switch does not seem to work: when I'm altering a stored procedure, MSSMS still prompts to save before closing the DDL windows.

Maybe that switch only works on DML windows started with ctrl-N, or File -> New -> Query?

I cleared the check box for the prompting and for good

[2019-10-25 12:57] nkumar230 opened #3393 "Error while creating External File Format & External Table in SQL Server 2019"
Hi Team

Referring multiple issues registered in Forums I just tested myself.
Links - https://social.technet.microsoft.com/Forums/en-US/a376e1cf-aa73-4b56-a86c-825bb1e7ebb6/sql-server-polybase?forum=sqldatabaseengine

Microsoft SQL Server 2019 (RC1) - 15.0.1900.25 (X64)   Aug 16 2019 14:20:53   Copyright (C) 2019 Microsoft Corporation  Enterprise Evaluation Edition (64-bit) on Windows 10 Pro 10.0

[2019-10-25 16:08] pmasl commented on #3387
@msebolt please assign @MikeRayMSFT or @MashaMSFT for follow-up.

[2019-10-25 16:10] lukos opened #3394 "This crashes SSMS"
I tried to run a backup using T-SQL and it didn't work (some random error mentioned here: https://github.com/MicrosoftDocs/sql-docs/issues/2150) On that article, it referred to this tutorial and it "should just work" but when I get to the part where you select the container to write the backup to, it sticks for a few seconds and then crashes SSMS. It did the same on SSMS 2016 and then I realised t

[2019-10-25 16:31] lukos commented on #3394
[code]

[2019-10-25 16:33] lukos commented on #3394
Also, I have tried with a new storage account that is public within the VPN and the same problem. I will retry also with a public storage account and see if that works.

[2019-10-25 18:02] duncfair opened #3395 "re: memory consumption"
is there a memory advantage to using the CmdExec method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db6f2a8a-7b0a-b5b6-7095-b7569d2c23bb
* Version Independent ID: 26d6594a-6d7d-7091-0f4b-382bb4a38ebe
* Content: [Run Windows PowerShell Steps in SQL Server Agent - SQL Server](https://docs.microsoft.com/en-us/sql/powe

[2019-10-25 21:28] WilliamAntonRohm commented on #3388
@dministrator -- thank you for your feedback.  I am looking into the documentation.

[2019-10-25 21:32] WilliamAntonRohm commented on #3389
@dalton478 -- thank you for your concise feedback.

@MladjoA -- please look into this issue 3389.

[2019-10-25 21:34] WilliamAntonRohm commented on #3390
@trbenning -- Todd, thank you for your feedback.  I am looking into it now.

[2019-10-25 21:37] WilliamAntonRohm commented on #3391
@SeaDude -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue 3391.  The particular sentence in this article is "Azure SQL Database does not support reading from Windows files.".

[2019-10-25 21:48] WilliamAntonRohm commented on #3394
@lukos -- Luke, thank you for your feedback.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You're welcome to add any product feedback here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

@rothja -- Jason, please look into this issue 3394.

[2019-10-25 22:18] WilliamAntonRohm commented on #3395
@duncfair -- thank you for your question.

@markingmyname -- please look into this issue 3395, possibly regarding [this caution](https://docs.microsoft.com/en-us/sql/powershell/run-windows-powershell-steps-in-sql-server-agent?view=sql-server-ver15#LimitationsRestrictions).

[2019-10-26 10:50] briancarrig commented on #3112
I agree this feature needs additional clarification and I am working to address shortly. Both Data and Log File Enlightenment and Hybrid Buffer Pool make use of a DAX (Direct Access) enabled file system (like NTFS or XFS) and require database files to be on byte addressable storage such as PMEM. The clean cached index leaf pages in the Hybrid Buffer Pool will be on the PMEM module with the data fi

[2019-10-27 16:10] cdotzenrod opened #3398 "Install Pre-reqs Needs Attention"
I'm running into a lot of issues trying to get the pre-req tools installed.  Most of my issues have been trying to figure out what exactly needs to be installed to get azdata to install.  I went down some rabbit holes trying to put the right C++ build tools on my test machine but still couldn't get azdata to install due to Cython issues and CLI issues.  I think the documentation needs some more re

[2019-10-27 16:22] cdotzenrod commented on #3398
Perhaps a better way to say this:  I have a clean Windows 10 VM from Azure.  What software packages will this workstation need in order to successfully install Azure Data Studiom- Insiders and the required big data tools for building a BDC on AKS.

[2019-10-27 18:26] cdotzenrod opened #3399 "Deployment Profiles Not Loading for New BDC on AKS"
I am trying to deploy a BDC with Azure Data Studio - Insiders build.  During the first step it looks for deployment profiles and errors out with this error:  Failed to load the deployment profiles:  Cannot read property 'filter' of null.  How do I fix this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93b18903-

[2019-10-28 04:56] nickQuant opened #3400 "SqlPackage throws exception: System.ArgumentNullException: Value cannot be null. Parameter name: reportedElement"
I'm hitting an issue comparing two DACPAC files using the latest version of SqlPackage (15.0.4518.2).

The output is:
Microsoft.Data.Tools.Diagnostics.Tracer Information: 1 : 2019-10-28T15:09:28 : Generating operation 4 for [ContactCentre].[SP_RESOURCE__DIM]
Microsoft.Data.Tools.Diagnostics.Tracer Information: 1 : 2019-10-28T15:09:28 : Generating operation 1 for [eds_Satalia]
Microsoft.Data.Tools.

[2019-10-28 07:55] kazshi opened #3401 "Fillfactor is not supported on Azure SQL?"
Looks like we can set fillfactor to Azure SQL DB index table using T-SQL, but the fillfactor option is omitted in generated script using Generate Scripts command and Azure SQL is not included in "Applies to" in this page.  Does it mean Fillfactor is not supported on Azure SQL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-10-28 08:53] TheConstructor commented on #3359
@WilliamAntonRohm @LarnuUK I think I found a literal solution:

[code]

Only the inner `\<CR><LF>` is replaced, so that the outer `\` and `<CR><LF>` touch afterwards.

[2019-10-28 10:36] ildjarnisdead opened #3403 "Number of error logs seems to be wrong"
&gt; The default is 6, one current and the 5 previous backup logs that SQL Server retains before recycling them.

Fresh install of SQL 2017: ERRORLOG and ERRORLOG.[1-6]. So six previous backup logs, not 5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1504e2ae-7082-a7e6-d5cc-a067174e17f7
* Version Independent ID: f67c

[2019-10-28 13:04] abij opened #3404 "How to parameterise sqlcmd on Ubuntu16 or MacOs"
The option `-v` does NOT exist in Linux/Mac version of the command utility.
We are using the DevOps Linux (Ubuntu16) Build Agents, this tool is pre-installed, but its hard to figure out how to call a SQL-script with parameters. Can you include an example how to pass parameters for the non-windows version?

The correct way is:
`var1="MyValue1" var2="Value2" sqlcmd -S "SERVER.database.windows.net" -

[2019-10-28 13:21] rothja commented on #2404
As @RobAshton-IM has provided an answer and is working on the suggested doc updates, I am going to close this issue. @swbhartims Thank you for your feedback, and please accept my apologies for any delay in our response on this. I hope we can make this more clear going forward. Thank you!!

[2019-10-28 13:21] #2404 closed

[2019-10-28 13:25] rothja commented on #2734
Closing as this has been fixed. Thank you!

[2019-10-28 13:25] #2734 closed

[2019-10-28 13:30] rothja commented on #2753
@srutzky Thank you for this feedback. I just checked and it appears that this article has been removed since you opened this feedback request. @barmichal @VanMSFT Could either of you confirm that this was in response to this feedback and whether there is any other context to this change? @srutzky, because the article no longer is live, I am going to close this issue, but please feel free to add to

[2019-10-28 13:30] #2753 closed

[2019-10-28 13:32] rothja commented on #2804
@lsmith999999 Thank you for your feedback. We apologize for the delayed response. @MightyPen could you take a look at this feeedback and let me know if you're the right person to help? Thank you!

[2019-10-28 13:34] rothja commented on #2852
@chrisadkin Thank you for the question, and apologies for the delayed response. @mihaelablendea Could you take a look at this question and see if the article needs updating? Thank you!

[2019-10-28 13:37] rothja commented on #2921
@EikisteinS Thank you for the question and apologies for the delayed response. I am reaching out internally to see if there is someone that can respond to this issue. Thank you!

[2019-10-28 13:41] rothja commented on #2932
@andrewdmay Thank you for your question and your patience. @lrtoyou1223 Leo, can you look at this article feedback and see if you could help? Thank you!

[2019-10-28 13:44] rothja commented on #2943
@David-Engel Thanks for the suggestion. Is this something that you can fix in the doc, or do you want @MightyPen or my team to help make the change? Let us know if you can assist with the actual doc change. @t104 Thanks for pointing this out and helping us to remove outdated content!

[2019-10-28 13:46] rothja commented on #3158
@kazshi Thank you for your question and sorry for any delay. @MikeRayMSFT can you take a look at this and maybe work with @stevestein to see if this is a limitation for Azure SQL Database? Thank you!

[2019-10-28 13:48] rothja commented on #3094
@brubakerjeff Yes, thank you for this question. @chugugrace Grace, can you take a look at the article and the video and see if the information is still relevant? If so, we could update the video we're linking to and/or we could provide a note in the article that the information is still relevant despite the retired content message. Please let me know if you can help out. Thank you!

[2019-10-28 14:34] rothja commented on #3394
@lukos Thanks for the feedback. I'll try to find some time soon to run through the steps and see if I get a crash as well. I'm sorry you are getting this problem. You might want to check out the forums mentioned by @WilliamAntonRohm as well to see if anyone else has resolved this. I'll let you know what I find. Thanks!

[2019-10-28 17:23] msebolt commented on #3398
@cdotzenrod Thank you for the feedback, assigning this to the author for review.

[2019-10-28 17:35] msebolt commented on #3399
@cdotzenrod  Thank you for the feedback.

Unfortunately this sounds more like a bug for the product team to handle since the Azure Data Studio won't open.

Please move this issue to the [azuredatastudio](https://github.com/microsoft/azuredatastudio/issues) repo.

[2019-10-28 17:39] msebolt commented on #3393
@nkumar230 Thank you for the feedback.

Unfortunately this sounds like more of an issue for the product team then documentation.

Please start a thread in the [SQL Server forum](https://social.msdn.microsoft.com/Forums/home?forum=sqldocumentation,sqldatabaseengine) and link back to reference this issue.

[2019-10-28 17:42] msebolt commented on #3400
@nickQuant  Thank you for the feedback.

Unfortunately this sounds like more of an issue for the product team then documentation.

Please start a thread in the [SQL Server forum](https://social.msdn.microsoft.com/Forums/home?forum=sqldocumentation,sqldatabaseengine) and link back to reference this issue.

[2019-10-28 17:49] msebolt commented on #3401
@kazshi  Thank you for the question, assigning this to the author for review.

[2019-10-28 17:51] msebolt commented on #3403
@ildjarnisdead  Thank you for the feedback, assigning this to the author for review.

[2019-10-28 17:54] pensivebrian commented on #2691
Thanks for the feedback @GeorgeTsiokos. Creating docker images is on our roadmap, but we don't have a timeline for when this work will get done.

[2019-10-28 17:56] msebolt commented on #3404
@abij  Thank you for the feedback, assigning this to the author for review.

This could also be mentioned in the [SQL Server for Linux setup](https://docs.microsoft.com/sql/linux/sql-server-linux-setup-tools?view=sql-server-ver15).

@VanMSFT

[2019-10-28 18:22] srutzky commented on #2753
@rothja (and @barmichal and @VanMSFT ): sounds good. I am curious to know, as you had inquired, if the removal was due to this particular issue (or my related blog post). I did just find that all documentation for "Feature Restrictions", including all mentions of it, were removed on Aug 28th via the following commit by @MikeRayMSFT :

https://github.com/MicrosoftDocs/sql-docs/commit/54c082a69e7adc

[2019-10-28 18:49] msebolt commented on #3393
@nkumar230  Just to confirm, running `SELECT SERVERPROPERTY ('IsPolyBaseInstalled') AS IsPolyBaseInstalled;` returns `1`?

I can assign this to the author for review of the example.

In the meantime, please use the [SQL Server forums](https://social.msdn.microsoft.com/Forums/sqlserver/home?category=sqlserver) to start a thread for the product team to assess with a link back to this issue.

[2019-10-28 18:52] swbhartims commented on #2404
Thanks @rothja  :)

[2019-10-28 19:19] MightyPen commented on #2804
@lsmith999999 Hello, The fix for this Issue #2804 is now merged into our master branch.  The fix will appear on our live Docs website within 24 hours.
Thank you for submitting this Issue. We hope to hear from you again.
I am now Closing this Issue, as fixed.

- `https://github.com/MicrosoftDocs/sql-docs-pr/pull/12673`

cc: @rothja
 . .

[2019-10-28 19:19] #2804 closed

[2019-10-28 21:33] MightyPen commented on #2943
New PR 12678 is intended to fix this Issue #2943 .
The PR awaits Review.

- `https://github.com/MicrosoftDocs/sql-docs-pr/pull/12678`

cc: @david-Engel @rothja

[2019-10-28 21:46] nickQuant commented on #3400
Thank you - done at https://social.msdn.microsoft.com/Forums/en-US/ddcf82c3-e895-4d50-9504-1c259e16565b/sqlpackage-throws-exception-systemargumentnullexception-value-cannot-be-null-parameter-name?forum=ssdt for anyone that encounters the same issues and wants to follow the bread-crumbs :)

[2019-10-28 21:46] #3400 closed

[2019-10-28 23:47] #3241 closed

[2019-10-29 00:57] stevestein commented on #3376
@BillPennock - thanks for the feedback!

Yes, if the server is literally down and won't start you need to resolve that issue first. Then, depending on the underlying issues, might need to restore your system databases from a most recent backup, or rebuild following the steps in this article.

[2019-10-29 02:36] Teutenberg opened #3408 "Register SPN without port number for SSRS breaks remote WinRM"
[code]

[2019-10-29 02:55] chugugrace commented on #3094
@rothja from the description, the content is still relevant.

[2019-10-29 05:10] stevestein commented on #3143
@K232 - thanks for pointing this out. I updated the steps in the article to use the stored procedure created in the first code block.  Thanks!

#please-close

[2019-10-29 05:10] #3143 closed

[2019-10-29 05:34] msebolt commented on #3408
@Teutenberg  Thank you for the feedback, assigning this to the author for review.

[2019-10-29 05:37] stevestein commented on #3069
@tmmueller - thanks for the feedback. I added this info before the screenshot that shows how to get to the dialog: In Visual Studio, open the **SQL Server Object Explorer** (in the **View** menu), and select **Add SQL Server**

Thanks!

#please-close

[2019-10-29 05:37] #3069 closed

[2019-10-29 05:56] stevestein commented on #2847
@kazshi - thanks for the clarification. Apologies for any confusion: The page you opened the issue on: https://docs.microsoft.com/sql/relational-databases/collations/set-or-change-the-database-collation applies for both SQL Database and Managed instance. When the applies to says SQL Database, it usually means both SQL Database AND managed instance. There is a separate applies to you might see on o

[2019-10-29 05:56] stevestein commented on #2847
#please-close

[2019-10-29 05:56] #2847 closed

[2019-10-29 06:08] karldodd commented on #3112
@briancarrig Thanks for your help. Hybrid Buffer Pool is something transparent, so I guess examples are not necessary. But for 'enlightenment', if my imagination is correct, maybe we can add some T-SQL to show how to actually put a data file or file group on PMEM device (e.g. in a `create database` statement? ).

Looking forward to the doc update and examples.

[2019-10-29 06:22] stevestein commented on #2014
@JRobinsIken - thanks for the feedback. You're correct, the code doesn't work. :(
I removed that section from the article.

Thanks for pointing this out.

#please-close

[2019-10-29 06:22] #2014 closed

[2019-10-29 06:36] stevestein commented on #2942
@d3katja - thanks for the feedback.  An internal work item (1637516) has been open to update the article. Thanks for pointing this one out.

#please-close

[2019-10-29 06:37] #2942 closed

[2019-10-29 08:17] arafubeatbox opened #3410 "Clear-HgsClientHostKey command not working"
I am running Windows 10 Enterprise version 10.0.18362,
PowerShell version 5.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f498ebf8-8cda-7e68-c70c-9ecd0e7bd7df
* Version Independent ID: b710fea4-0d4e-5fdd-03e8-ce2679fa18c2
* Content: [Tutorial: Getting Started with Always Encrypted with secure enclaves using SSMS - S

[2019-10-29 09:05] HeinziAT opened #3411 "Conversion behavior should be documented in more detail"
For example, the fact that an empty string converted to an int becomes 0 and an empty string converted to a date becomes 1900-01-01, should be documented here in the section "Converting Character Data". If this documentation already exists but is located somewhere else, please add a link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-10-29 09:19] thedavegray opened #3412 "If you have an older preview version of SSMS 18.x installed,"
What does this even mean?  I have v18.2 installed, no ,mention of "preview" or "GA".  Can you not just be specific as using the word older is not ideal.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download

[2019-10-29 15:01] MNashDev commented on #2376
We are running on Microsoft SQL Server 2019 (RC1) - 15.0.1900.25 (X64)  Developer Edition and are still unable to follow Step 5 due to enlave errors.

We are also seeing 'Internal enclave error: Cannot initialize the VBS enclave. Load method: 敇䕴据慬敶' in the Event Logs.

We've been told thet CTP 3.1 should have been included in 15.0.1900.25 but we're still hitting this issue.

[2019-10-29 15:09] MNashDev opened #3414 ""Allow Enclave Computations" option is STILL missing"
We're Hitting a similar issue to https://github.com/MicrosoftDocs/sql-docs/issues/2376

We have followed this Tutorial to enable Secure Enclaves:
https://docs.microsoft.com/en-us/sql/relational-databases/security/tutorial-getting-started-with-always-encrypted-enclaves?view=sql-server-ver15

We are running on Microsoft SQL Server 2019 (RC1) - 15.0.1900.25 (X64) Developer Edition and are still unabl

[2019-10-29 15:11] vladsMDCS opened #3415 "Wrong SQL version displayed for FULL-TEXT files"
For full-text files - the description states "Full-text catalogs earlier than SQL Server 2017...", but AFAIK full-text files (type 4)
have been deprecated since SQL 2012. Therefore the information is misleading - saying that I could use full-text file types in e.g. SQL 2016.
IMO the problem lies in "ssCurrent" variable used in document's source code.

---
#### Document Details

⚠ *Do not edit this

[2019-10-29 15:56] #2743 closed

[2019-10-29 16:07] chakriganap commented on #3345
Appreciated Van. Thank you

[2019-10-29 16:48] chakriganap opened #3416 "Get started with Log Shipping on Linux"
On the "Verify that Log Shipping works by starting the following job on the secondary server"
section on this document if we run the the  "RESTORE DATABASE SampleDB WITH RECOVERY;"
that leads to brake the Logshipping and Recovered database with out tail log backup it my happen potentially data lose .we can also get the information for system tables "log_shipping_monitor_secondary" from primary ser

[2019-10-29 17:50] rothja commented on #3094
@chugugrace Thank you for confirming! Do you think you could add a note in this article under the video link that explains that the video is still relevant even though it is in an archived content location? Let me know if you think this would be a good improvement.

[2019-10-29 17:58] goliverma opened #3417 "sql not work properly in ubuntu 19.04"
Sqlcmd: Error: Microsoft ODBC Driver 17 for SQL Server : TCP Provider: Error code 0x2746.
Sqlcmd: Error: Microsoft ODBC Driver 17 for SQL Server : Client unable to establish connection.
-------------------------------------------------------------------------------------------
how can sol this error

[2019-10-29 18:32] dnethi commented on #3412
Hi Dave

Our telemetry shows some users are still on 18.x Preview version. The note is meant for those users.

thanks,
Dinakar

[2019-10-29 18:34] WilliamAntonRohm commented on #3410
@arafubeatbox -- Futai, thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please provide more context around the general task.

[2019-10-29 18:36] WilliamAntonRohm commented on #3411
@HeinziAT -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue 3411.

[2019-10-29 18:37] WilliamAntonRohm commented on #3412
@thedavegray -- Dave, thank you for your feedback.

@dnethi -- Dinakar, thanks for answering.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-10-29 18:37] #3412 closed

[2019-10-29 18:50] VanMSFT commented on #3416
Hi @chakriganap! Thanks for the feedback. I'll investigate this.

[2019-10-29 19:06] WilliamAntonRohm commented on #3414
@MNashDev -- Mark, thank you for your feedback.  I have re-opened your original issue https://github.com/MicrosoftDocs/sql-docs/issues/2376.

@jaszymas, @MightyPen -- fyi.

[2019-10-29 19:08] WilliamAntonRohm commented on #3415
@vladsMDCS -- thank you for your feedback.

@stevestein -- please look into this issue 3415.

[2019-10-29 19:09] WilliamAntonRohm commented on #3417
@goliverma -- thank you for your feedback.  To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-10-29 19:36] thedavegray commented on #3412
Hi

Does it say “preview “ in the help/about box?

[2019-10-29 19:47] WilliamAntonRohm commented on #3388
@CarlRabeler -- please look into this issue 3388, as it is beyond my expertise.

[2019-10-29 20:02] samrueby opened #3418 "Data Flush Interval (Minutes) (No, wait! Seconds!)"
This line is confusing: "Data Flush Interval (Minutes): Defines the frequency in seconds to persist collected runtime statistics to disk". It's states it's in minutes, and then immediately says seconds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 155bfbc5-9c63-32c6-9d06-a9b3cdb4c60e
* Version Independent ID: c854b2d

[2019-10-30 00:12] WilliamAntonRohm commented on #3390
@vin-yu -- Vin, please review the above-mentioned PR 12703.

[2019-10-30 00:31] WilliamAntonRohm commented on #3418
@samrueby -- Sam, thank you for your feedback.  I am looking into this untimely issue.

[2019-10-30 01:21] lxnguyen059 opened #3421 "No diagram in document"
The 2nd paragraph of the document says "The following diagram demonstrates the relationship between applications ..."
There is no diagram shown in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ca2544b-ea59-50ea-d831-cd4cc1778326
* Version Independent ID: 710c2742-9297-bb9d-d7ec-3a3bd269e8c4
* Content: [

[2019-10-30 03:31] PaulBags commented on #1879
Uh, nothing changed, and nothing in the article allows sql server to accept it's own authentication.

[2019-10-30 05:33] MightyPen commented on #3414
@VanMSFT Hi Van, Jakob Zymaszek (JasZymas) is the owner of this article, and ideally Jakob will respond to this GitHub Issue, by entering a new Comment that provides an answer to the customer.

You Van are the 'ms.reviewer', and are a documentation writer, so I am co-assigning this Issue #3414 to you, in case work with Jakob is needed.

As Jakob is the 'author', I am also assigning this Issue to J

[2019-10-30 05:40] MightyPen commented on #3414
@jaszymas Hi Jakob, Here in Issue #3414 the customer is saying that Step 5 is not working.  Can you assess whether the documentation is wrong or outdated?  Or might there be a problem in the product?:

---

## Step 5: Provision enclave-enabled keys

In this step, you will create a column master key and a column encryption key that allow enclave computations.

---

- [https://docs.microsoft.com/en-

[2019-10-30 05:42] MightyPen commented on #2376
Newer Issue #3414 is a continuation of this Issue #2376 .

[2019-10-30 06:14] arafubeatbox commented on #3410
Thank you William, for your response. Excuse me for asking such an ambiguous question.

I was setting up my SQL server computer, following the instructions of
https://docs.microsoft.com/en-us/sql/relational-databases/security/tutorial-getting-started-with-always-encrypted-enclaves?view=sql-server-ver15

In step 2. part 8, I was not able to attest to the HGS computer, so I ran the "Clear-HgsClientH

[2019-10-30 09:38] briancarrig commented on #3112
I fear we failed to enlighten with the concept of enlightenment :-) I will attempt to clarify more in my next PR (landing tomorrow hopefully). The normal file I/O used for copying pages from disk to the DRAM buffer pool and writing them back out again gets replaced with interactions with a memory mapped file. The buffer pool continues to behave as it normally has, only when you enable Hybrid Buffe

[2019-10-30 13:00] RalfSeidel opened #3425 "Little enhancement for the sample query"
The query should also take into account that the job execution is requested but execution has not yet startet:

SELECT sj.Name,
	CASE
		WHEN sja.start_execution_date IS NULL AND sja.run_requested_date is NOT NULL  THEN 'Starting'
		WHEN sja.start_execution_date IS NULL THEN 'Not running'
		WHEN sja.start_execution_date IS NOT NULL AND sja.stop_execution_date IS NULL THEN 'Running'
		WHEN sja.start

[2019-10-30 15:05] jimp100 opened #3426 "Availability on Azure SQL Database"
This function is available on Azure SQL Database despite the grey cross indicating otherwise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3495ddd3-8fb9-b52c-e0dd-fd888b2e2c6b
* Version Independent ID: 7b30dd2f-5299-47b4-3ddd-31a4e9bda788
* Content: [PWDCOMPARE (Transact-SQL) - SQL Server](https://docs.microsoft.com/e

[2019-10-30 15:41] tussosedan opened #3427 "Different expired/revert reasons have different implications on the future which are not documented"
For example, from our testing, with the "PlanUnforcedByUser" reason the recommendations can still be applied again. However, with the "UserForcedDifferentPlan" reason the recommendations will not be applied anymore.
Please document the full behavior for all the reasons, so we users don't have to guess and be surprised by the results...

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-10-30 16:01] jaszymas commented on #3414
The issue with Chinese characters is scheduled to be fixed in one of the next CU (cumulative update) for SQL Server 2019. Meanwhile, could you please provide a full error message for the SQL error log, including state information.

[2019-10-30 16:42] Jagoop opened #3428 "TDE in standard edition"
I am aware that this is prerelease information, but I have to ask: Is it on purpose that TDE (transparent data encryption) is listes as a feature that is available on Standard Edition? If so, this would be a rather significant change from previous versions :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48cb4a50-bcd

[2019-10-30 16:43] Jagoop opened #3429 "TDE in standard edition"
I am aware that this is prerelease information, but I have to ask: Is it on purpose that TDE (transparent data encryption) is listes as a feature that is available on Standard Edition? If so, this would be a rather significant change from previous versions :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d663fffb-d44

[2019-10-30 16:54] #3418 closed

[2019-10-30 17:02] msebolt commented on #3421
@lxnguyen059  Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-10-30 17:03] rothja commented on #3388
@dministrator Thank you again for this feedback. @CarlRabeler is out of the office, so I am going to ask @VanMSFT if he could take a look at this and see if there is a better way we could explain this. @VanMSFT can you help? #reassign:VanMSFT

[2019-10-30 17:08] rothja commented on #3401
@kazshi Thanks for the question. Unfortunately, @CarlRabeler is out of the office at this time. @stevestein could you please help look into this question? Thank you! #reassign:stevestein

[2019-10-30 17:18] tussosedan opened #3430 "CPU time values documentation is missing units"
I believe it's microseconds, but it should be specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24764159-9678-dad1-dfbd-f0563e2146f9
* Version Independent ID: 87a7ac36-8697-6ddd-e9a4-fd8b019e3ecd
* Content: [sys.dm_db_tuning_recommendations (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relat

[2019-10-30 17:40] VanMSFT commented on #3388
Hi @dministrator! Thanks for bringing up this feedback. There's no difference between the Arguments FOR and AFTER in a Trigger. AFTER just has a better connotation since it follows the context that the `DML trigger fires only when all operations specified in the triggering SQL statement have launched successfully`. I'll re-word the documentation for better clarity. Thanks again!

[2019-10-30 17:40] #3388 closed

[2019-10-30 17:46] dministrator commented on #3388
@VanMSFT @rothja @CarlRabeler @WilliamAntonRohm - Thank you all for considering my feedback.

[2019-10-30 18:38] msebolt commented on #3425
@RalfSeidel  Thank you for your contribution.

Assigning this to the author for review.

[2019-10-30 18:41] msebolt commented on #3425
Please also consider using the GitHub to [submit a PR to Micrsoft Docs](https://docs.microsoft.com/contribute/) for further contribution credit.

[2019-10-30 18:43] msebolt commented on #3426
@jimp100  Thank you for the feedback, assigning this to the author for review.

[2019-10-30 18:44] jaszymas commented on #3414
The higher-level point here is that if the Allow Enclave Computations options is missing in SSMS, it means the enclave is not properly initialized in SQL Server.

Could you please confirm you have successfully completed Step 2 of the tutorial: please run Get-HgsClientConfiguration  - the result should show that AttestationStatus = Passed. If it shows the different status, please share the the foll

[2019-10-30 18:45] msebolt commented on #3427
@tussosedan Thank you for the feedback, we apologize for the confusion.

Assigning this to the author for review.

[2019-10-30 18:55] VanMSFT commented on #3426
Thanks @jimp100! I confirmed that this function now works in Azure SQL Database. I'll edit the article. We appreciate your help on our documentation.

[2019-10-30 18:55] #3426 closed

[2019-10-30 19:02] msebolt commented on #3428
@Jagoop Thank you for the question.

There hasn't been any official mention of this feature supported as of now, assigning this to the author for review.

[2019-10-30 19:03] msebolt commented on #3429
Closing issue, please refer to https://github.com/MicrosoftDocs/sql-docs/issues/3428.

[2019-10-30 19:03] #3429 closed

[2019-10-30 19:04] msebolt commented on #3430
@tussosedan Thank you for the feedback, assigning this to the author for review.

[2019-10-30 20:13] CeciAc opened #3431 "Download links at the beginning"
Hi team,
I moved this from here:
The contributor is making a suggestion on the disposition of the downlaod links.

**The comment below was machine translated**

@Apocatastasis commented 3 hours ago — with docs.microsoft.com
Put the download links first, not everyone has time to read their release notes and realize they are in the middle.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-10-30 20:29] dnethi commented on #3431
We recently updated the download link from a normal font size to the big, bold, blue header. I think that should suffice.

thanks,
Dinakar

[2019-10-30 21:22] MightyPen commented on #3414
@MNashDev Hello Mark, Would you please send us an email today, from your email account, to:

- `VanTo@microsoft.com` , &nbsp; _and_
- `GeneMi@microsoft.com`

We want to understand the details with precision, and to communicate an answer to you with precision.
Thank you!

cc: @jaszymas

[2019-10-30 22:58] #3383 closed

[2019-10-30 23:04] MashaMSFT commented on #3012
Hi @aayush3667 , since it's been some time since we've heard from you, we'll assume that your issue has been resolved and close out this Git Issue. However, please feel free to respond via comment should you need anything further.

Thanks and hope you have a wonderful rest of your day!
Masha from SQL Docs team

[2019-10-30 23:04] #3012 closed

[2019-10-30 23:47] HairyDrumroll opened #3433 "Variables cannot be used in views"
It would be useful to mention in the documentation that variables cannot be used in views.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1857c225-3fdd-7316-44e9-77b27a9f1e18
* Version Independent ID: f922610c-2b7e-8b65-0883-e01fa2dd0982
* Content: [Variables (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-u

[2019-10-31 00:13] kazshi commented on #2847
@stevestein Thank you for clarifying "When the applies to says SQL Database, it usually means both SQL Database AND managed instance."

[2019-10-31 00:28] julieMSFT commented on #1879
@PaulBags Hello, thank you for you comment. Looking at the article it does show how to change the authentication mode, can you provide more information about what you are expecting to see?

[2019-10-31 04:39] msebolt commented on #3433
@HairyDrumroll Thank you for the feedback, assigning this to the author for review.

[2019-10-31 07:44] sqlsauce commented on #3391
With Azure SQL Database, there is no local Windows file system, so it cannot connect to local drives, and it cannot connect to UNC paths; it only supports Azure Blob Storage for BULK INSERT. I recommend changing the text from _Azure SQL Database does not support reading from Windows files_ to _Azure SQL Database does not support Windows file paths or UNC paths_.

Also, I suggest adding the same no

[2019-10-31 12:02] danielearwicker commented on #3431
Now it's the same size/font as all the other plain headings, and so looks like a heading as you scroll past trying to find the download button.

[2019-10-31 13:01] MNashDev commented on #3414
Email sent with the details.

Summary though is that the Get-HgsClientConfiguration is providing a false, and so it seems our setup may not be set properly.

We are running on Azure, and so it seems we may have missed step 2.4

but we are still looking into this

[2019-10-31 13:04] nbowling opened #3441 "Malformed input, repo not added"
sudo add-apt-repository "$(wget -qO- https://packages.microsoft.com/config/ubuntu/16.04/mssql-server-preview.list)"

leads to a malformed input and repository not being added. Any suggestions please.

Nick

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5634d572-0020-808b-693a-13addc8861d9
* Version Independent ID: 136b

[2019-10-31 14:02] rothja commented on #3433
@HairyDrumroll Thanks for the suggestion. Can you give me a simple example of what you might try to do with variables in a view that would not work? That might help me to document the limitation you're referring to more clearly. Thank you!

[2019-10-31 15:37] #3421 closed

[2019-10-31 16:03] VanMSFT commented on #3414
Since this has been taken offline, I'll go ahead and close this GitHub Issue. @MNashDev  - Please feel free to let us know if you have any issues with this. Thanks for your time.

[2019-10-31 16:03] #3414 closed

[2019-10-31 16:38] WilliamAntonRohm commented on #3441
@nbowling --Nick, thank you for your feedback.  You may find additional information here:
- [Reddit - general discussion about SQL Server](https://www.reddit.com/r/SQLServer/)
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

@VanMSFT -- Van

[2019-10-31 17:15] VanMSFT commented on #3416
Hi @chakriganap - Thanks again for your feedback on this doc. I've updated the document to clarify the last step. It should go live soon.

[2019-10-31 17:57] VanMSFT commented on #3441
Hello @nbowling! I'm sorry you're running into that error. Unfortunately, this forum is mainly for documentation issues.  Please visit the links provided by @WilliamAntonRohm, or use the below links for obtaining support on this issue.

- [UserVoice: Have suggestions for improving SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Set up and upgrade: MSDN Forums](https://social.m

[2019-10-31 17:57] #3441 closed

[2019-10-31 18:23] CeciAc opened #3443 "SqlPackage 2014 arguments mistakes"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/sql-docs.ru-ru/issues/63

@VerdonTrigance commented 9 hours ago — with docs.microsoft.com
c:\Program Files (x86)\Microsoft SQL Server\120\DAC\bin&gt;SqlPackage.exe /a:Publish /TargetServerName:dev /TargetDatabaseName:CDB /SourceFile:".\DB.dacpac" /DeployReportPath:".\report.xml" /DiagnosticsFile:".\di.txt"
leads to
*** Unrecognized

[2019-10-31 18:53] WilliamAntonRohm commented on #3410
Hi @arafubeatbox --

I’m a PM for Always Encrypted in SQL Server. I’m contacting you regarding the issue and your comment you submitted at https://github.com/MicrosoftDocs/sql-docs/issues/3410.

First of all, thank for trying AE with enclaves. Sorry about the issues you have hit. Hopefully, we can unblock you soon.

First of all, we confirmed the correct cmdlet name is Remove-HgsClientHostKey, not

[2019-10-31 23:15] HairyDrumroll commented on #3433
Something along the lines of:
[code]
won't work.

Basically, I want some mechanism to just type in the value for a variable at the top of the query, then reuse that several times through the query later, and save that as a view so I can come back to it.

I now know I can get this functionality with User Defined Functions instead of views (`CREATE FUNCTION myfunc (@var) RETURNS TABLE AS etc...`), o

[2019-11-01 04:48] ksaur opened #3445 "comma missing"
I think you need a comma, or you get a syntax error:

CREATE DATABASE SCOPED CREDENTIAL ADL_User
WITH
    IDENTITY = '&lt;client_id&gt;@\&lt;OAuth_2.0_Token_EndPoint&gt;'   &lt;-----COMMA GOES HERE
    SECRET = '&lt;key&gt;'
;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 140d7c84-acc3-f722-99af-867be1f8752a
* Version

[2019-11-01 04:49] #3445 closed

[2019-11-01 17:44] msebolt commented on #3443
Assigning this to the author for review.

[2019-11-01 19:15] ma17961363 commented on #2755
Thanks @MashaMSFT. It helped completely.

[2019-11-01 20:21] chakriganap commented on #3416
Hey @Van - i thing we can add one more step like "Verify the Log shipping working or not" before"Verify that Log Shipping failover works by executing the following command"
 use MSDB;
select * from log_shipping_monitor_secondary  This command provided present status of the Logshipping
we don't need to recover the database as part of LS configuration LS failover is different topic because in produc

[2019-11-02 22:32] pensivebrian commented on #3443
We do not have a 2014 version of the page for sqlpackage, only the latest 2019 version, where these arguments are supported. There should be a message when changing the SQL version on the page that you are redirected to the latest version.

[2019-11-03 06:05] VerdonTrigance commented on #3443
FYI
I was reading page with selected version 2014. That’s why I created this ticket.

[2019-11-03 13:57] craigdallen commented on #3398
@cdotzenrod Same thing on both Cython and C++ v14.

I did PS> pip install Cython

That got past the Cython error.

Next, C++ error.

I did PS> choco install visualstudio2017enterprise

This is version 14 of C++. Still errored. Next installed 2019, same error.

I let Buck Woody know of the install error.

Environment: Azure D2 VM (Win10 virgin install)

[2019-11-03 23:56] Jehoel opened #3454 "Suggestion: Indicate when T-SQL language features and functions are part of the ISO standard"
The "Applies to" section is useful - but it only indicates if a language feature or built-in function is supported by current SQL Server functionality. I'm _not_ proposing that Microsoft start listing whether or not certain functionality is also present in MySQL, PostgreSQL or Oracle - but when a feature is supported by SQL Server because it's part of the ISO SQL spec then I think that should be m

[2019-11-04 01:43] chris904apps opened #3455 "Incorrect discription of code sample"
Description of sample code states "A correlated subquery can also be used in the HAVING clause of an outer query. This example finds the product models for which the maximum list price is more than twice the average for the model."

However, this code does not return results  that have MAX ListPrice that are 'twice' the amount of their AVG list price; just results that are equal to or greater then

[2019-11-04 10:35] Rafujin opened #3456 "Sql Server Version info was removed"
Why was the version info removed?
Nowhere else on the docs page can i find in which sql server version the feature was introduced.
This was really helpful information that is now missing. (or maybe i just looked over it?)

Commit that removed this info: https://github.com/MicrosoftDocs/sql-docs/commit/479e2dc54b699e0ed29dccdb3d347a7d0861258a

Thanks,
Rafujin

[2019-11-04 13:53] BIGabor commented on #3327
Ok, I have a script, with which you can see, which DB is in wrong state. It's important for me, as I wrote a PS script for failover distributed with live status, etc.
I had to join back the Distributed replicas to child AOGs, and check the primary status on both nodes. Today my Primary Distributed AOG is offline(planned). On secondary Distributed AOG the replica state still HEALTHY. And of course,

[2019-11-04 14:40] micsel opened #3458 "Downloaded SSMS 18.4 but once downloaded the setup file says 18.3.1"
I have downloaded and after all installation, I noticed the version is still 18.3.1 but the download link is for 18.4. Please kindly let us know.

![SSMS 18 4](https://user-images.githubusercontent.com/9040560/68129125-f1a20e80-ff10-11e9-9260-179d2ebc2587.png)

[2019-11-04 17:05] Jagoop opened #3459 "The top link is still pointing to 18.3.1"
The top download link is still pointing to 18.3.1, the lower link (with the different language versions) appear to be okay though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Management

[2019-11-04 17:16] Al-ex-and-er opened #3460 "Alexander Sinitsyn"
Return type should be NVARCHAR(128), I guess.

At least it is what I see when do
select SYSTEM_USER as n into #tmp
and check the type of 'n'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b25f866-3dc7-7a19-163e-1ca4c1cf3118
* Version Independent ID: e946a621-3bad-6f0b-711f-d43882fcfce9
* Content: [SYSTEM_USER (Transa

[2019-11-04 17:38] vf021 opened #3461 "18.4 download link points to 18.3.1"
I clicked the elink and got 18.3.1 downloaded

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cac198c9-abf9-b7ae-0827-dac03ddf4ad6
* Version Independent ID: 9f2afe99-e7c3-726f-fa89-08fc1e4ed653
* Content: [Release notes for SQL Server Management Studio (SSMS) - SQL Server](https://docs.microsoft.com/en-us/sql/ssms/relea

[2019-11-04 20:46] nwoodin opened #3462 "Table designer, no intellisense on dataType"
When creating a new table using the graphical designer, I used to be able to be able to type letters and it would select the datatype that matches the closest (effectively dropping me down to the listItem).  Additionally, after I name a column and I press the tab key to get to the dataType column, an audio alert is triggered as if the tab key created some error.

This behavior started happening in

[2019-11-04 21:21] WilliamAntonRohm commented on #3455
@chris904apps -- Christopher, thank you for your feedback.  I am looking into updating the documentation.

[2019-11-04 21:24] WilliamAntonRohm commented on #3456
@Rafujin -- thank you for your feedback.

@MightyPen -- please assist with this issue 3456.

[2019-11-04 21:26] WilliamAntonRohm commented on #3458
@micsel -- thank you for your feedback.  To make sure we have all the information needed to address your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-11-04 21:29] WilliamAntonRohm commented on #3454
@Jehoel -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue 3454.

[2019-11-04 21:53] hfleitas opened #3463 "azdata msi download hyperlink"
broken: [Download the azdata Windows Installer] (httpss://aka.ms/azdata-msi)
fix: [Download the azdata Windows Installer](https://aka.ms/azdata-msi)

thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48f1663f-55cf-ce99-8cfc-9249aa0c6d79
* Version Independent ID: 32838cba-366f-5a89-50fd-f56a8978c094
* Content: [Install

[2019-11-04 22:21] WilliamAntonRohm commented on #3463
@hfleitas -- Hiram, thank you for your feedback.  I am looking into the documentation.

[2019-11-04 22:24] WilliamAntonRohm commented on #3458
@micsel -- Michael, we are looking into this SSMS issue.

[2019-11-04 23:06] msebolt commented on #3460
@Al-ex-and-er Thank you for the feedback.

You are correct, however using a modified version of your query:

[code]

...it appears to be NVARCHAR(256), similar to [USER_NAME](https://docs.microsoft.com/sql/t-sql/functions/user-name-transact-sql?view=sql-server-ver15).

The documentation has been updated and is pending review.

[2019-11-04 23:20] Al-ex-and-er commented on #3460
Hi Matthew,

I would check that SQL_VARIANT_PROPERTY(MaxLength) returns length in
characters. I think it is in bytes, so 256 bytes for NVARCHAR corresponds
to 128 characters.  I'll double-check tomorrow, and USER_NAME too.

Thank you,
Alexander

On Mon, Nov 4, 2019, 11:06 PM Matthew Sebolt <notifications@github.com>
wrote:

[2019-11-04 23:31] WilliamAntonRohm commented on #3462
@nwoodin -- Nick, thank you for your feedback.

@markingmyname -- Mark, please look into this issue 3462.

[2019-11-04 23:36] WilliamAntonRohm commented on #3458
@micsel -- Michael, thank you for your feedback.

@markingmyname -- Mark, please look into this issue 3458.

[2019-11-04 23:36] WilliamAntonRohm commented on #3459
@Jagoop -- Jakob, thank you for your feedback.

@markingmyname -- Mark, please look into this issue 3459.

[2019-11-04 23:37] WilliamAntonRohm commented on #3461
@vf021 -- Vadim, thank you for your feedback.

@markingmyname -- Mark, please look into this issue 3461.

[2019-11-05 00:18] markingmyname commented on #3459
@Jagoop

We apologize for the inconvenience.

The link was updated about a couple of hours after this was submitted.

I tried it myself, and it does show 18.4 now.

Thank you for your patience.

[2019-11-05 00:18] #3459 closed

[2019-11-05 00:20] markingmyname commented on #3461
@vf021,

We apologize for the inconvenience.

The link was updated after this was submitted.

I tried it myself, and it does show 18.4 now.

Thank you for your patience.

[2019-11-05 00:20] #3461 closed

[2019-11-05 00:21] markingmyname commented on #3458
@micsel,

We apologize for the inconvenience.

The link was updated after this was submitted.

I tried it myself, and it does show 18.4 now.

Thank you for your patience.

[2019-11-05 00:21] #3458 closed

[2019-11-05 00:23] micsel commented on #3458
Ok excellent. Thank you so much guys.

[2019-11-05 02:19] stevestein commented on #3425
@RalfSeidel - thanks for the feedback.  The example is to get users started and not intended to cover every scenario.

I haven't tested your query, but if sja.run_requested_date is in the future, would this condition be considered to be starting or would it be waiting to start?  _WHEN sja.start_execution_date IS NULL AND sja.run_requested_date is NOT NULL THEN 'Starting'_

Thanks for the suggestio

[2019-11-05 02:19] #3425 closed

[2019-11-05 02:30] stevestein commented on #3401
@kazshi - the entire article applies to Azure SQL Database. The individual parameters specify the SQL Server versions because a few parameters weren't supported until SQL Server 2014.
Regarding:  _the fillfactor option is omitted in generated script using Generate Scripts command_
I'm pretty sure this is because it uses the default value, so no specific value is set.

Let us know if you run into a

[2019-11-05 02:30] #3401 closed

[2019-11-05 03:01] stevestein commented on #3376
#please-close

[2019-11-05 03:01] #3376 closed

[2019-11-05 03:24] stevestein commented on #3028
@paramda - thanks for the feedback.  The article is not up-to-date for SQL versions later than 2012. An internal work item (1642012) has been opened to track the work related to updating this section of documentation. If you have specific questions try one of the links located here: https://docs.microsoft.com/sql/ssdt/download-sql-server-data-tools-ssdt?view=sql-server-ver15#info_tip-get-help

Tha

[2019-11-05 03:24] #3028 closed

[2019-11-05 03:32] stevestein commented on #3365
@Hal-H2Apps - thanks for the feedback. An internal work item (1642015) has been opened to track the work related to updating this article. For specific questions, you can try the [forums](https://social.msdn.microsoft.com/Forums/en-US/home) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-sql-database?tab=Newest).

#please-close

[2019-11-05 03:32] #3365 closed

[2019-11-05 03:51] stevestein commented on #2955
@tomgilmour - thanks for the feedback. We appreciate the suggestion. An internal work item (1642021) has been opened to track potential updates to this article.

Thanks!

#please-close

[2019-11-05 03:51] #2955 closed

[2019-11-05 04:02] stevestein commented on #3380
@CeciAc - thanks for raising this issue. An internal work item (1642023) has been opened to track the work related to updating this article.

Thanks!

#please-close

[2019-11-05 04:02] #3380 closed

[2019-11-05 08:15] yang-jiayi opened #3468 "Syntax error of "CONNECTION_OPTIONS" in "CREATE EXTERNAL DATA SOURCE""
Hey.
I'm trying PolyBase.

The SQL Server version is as follows.
Microsoft SQL Server 2019 (RTM-GDR) (KB4517790)-15.0.2070.41 (X64) Oct 28 2019 19:56:59 Copyright (C) 2019 Microsoft Corporation Enterprise Edition (64-bit) on Windows Server 2019 Datacenter 10.0 <X64> (Build 17763:) (Hypervisor)

The version of SSMS is 18.4.

`CREATE EXTERNAL DATA SOURCE [TwitterInstance]
WITH (
LOCATION = 'odbc: //

[2019-11-05 08:19] yang-jiayi commented on #3468
My ADS version

Version: 1.14.0-insider (system setup)
Commit: a8eed6114b9b9b36fe2cd1902b690090bc547ca4
Date: 2019-11-04T08:59:32.766Z
VS Code: 1.38.0
Electron: 6.0.12
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.17763

[2019-11-05 08:33] NishSG commented on #3431
Where is the download link. Its been 30 minutes I cant find.. I have a job to do I cant waste time in solving such riddles. worst product page

[2019-11-05 08:34] NishSG opened #3469 "WHERE IS DOWNLOAD LINK!!!????"
Where is the download link. ? I have a job to do. don't make my life more complex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Management Studio (SSMS) - SQL Server](https://docs.microso

[2019-11-05 09:03] BrynJones216 commented on #3469
The download links are the Available Languages section.  Click the name of the language you want SSMS localised in.

[2019-11-05 09:11] NishSG commented on #3469
Thank you . That gives me 32 bit version. Where is the options to select 64 bit.?

[2019-11-05 10:36] LarnuUK commented on #3428
This has been confirmed @Jagoop in the details release yesterday: https://docs.microsoft.com/en-us/sql/sql-server/editions-and-components-of-sql-server-version-15?view=sql-server-ver15#RDBMSS

[2019-11-05 11:10] Al-ex-and-er commented on #3460
OK, I checked all relevant functions and they all return NVARCHAR(128)

[code]
func|BaseType|MaxLength
-----|----------|------------
SUSER_NAME|nvarchar|256
SUSER_SNAME|nvarchar|256
SYSTEM_USER|nvarchar|256
USER|nvarchar|256
USER_NAME|nvarchar|256

SUSER_NAME and SUSER_SNAME have correct type specified in docs. SYSTEM_USER, USER and USER_NAME are not correct.

[2019-11-05 12:09] OldVSDeveloper commented on #3469
Click on 'Download SSMS' heading above

[2019-11-05 14:05] dnethi commented on #3431
![image](https://user-images.githubusercontent.com/43253513/68214358-485c2680-ffab-11e9-8d76-1ad0366daaeb.png)

[2019-11-05 14:40] baizini opened #3471 "ROUND() behaves differently for different numeric types"
On Azure SQL Database or SQL Server, the following expressions give different results:

SELECT ROUND (CONVERT(money,1.525),2);

SELECT ROUND (CONVERT(float,1.525),2);

The first expression gives 1.53, whereas the second gives 1.52

The documentation is not clear about how a terminal 5 is rounded, up or down.  It seems that for money it is rounded up whereas for float it is rounded down.

This beha

[2019-11-05 15:44] BIGabor commented on #3327
Test completed successfully! last_redone_lsn is the right column to check.

You can run below query on both nodes in individual windows, but it's more simple if you executing in "Query->SQLCMD Mode" and pasting script twice. Inserting one :CONNECT [YourSQLInstanceName] line pointing to primary SQL instance, another to Secondary, so you don't need to use more windows, easy to compare. Just donät fo

[2019-11-05 16:10] MightyPen commented on #3456
The removal of version info was necessary to end the contradictions and incorrect claims that sooner or later creep into our documentation webpages for SQL Server.
At the top-left sector of Docs webpages like.....

- `https://docs.microsoft.com/en-us/sql/sql-server/sql-docs-navigation-guide?view=sql-server-ver15`
  - _(Article happens to include a discussion of the Versioning drop-down.)_

.....th

[2019-11-05 16:10] #3456 closed

[2019-11-05 16:34] swells commented on #3463
[This has now been fixed](https://docs.microsoft.com/en-us/sql/big-data-cluster/deploy-install-azdata-installer?view=sql-server-ver15#install-azdata-with-the-microsoft-windows-installer) with the latest doc update.

[2019-11-05 16:55] MikeRayMSFT commented on #3463
@hfeiltas - thank you for raising this issue.

M

[2019-11-05 16:55] #3463 closed

[2019-11-05 18:07] msebolt commented on #3468
@yang-jiayi  Thank you for the feedback, we apologize for the issues.

Case-sensitivity has been noted previously seen [here](https://stackoverflow.com/questions/17306520/sql-server-connection-string-keywords-act-as-case-sensitive-although-they-should), also try brackets around the DSN?

[code]

If this doesn't work, the product team would be better apt to respond.  Please start a thread with [SQL

[2019-11-05 18:15] msebolt commented on #3469
@NishSG  Thank you for the question.

This was recently updated with large blue syntax near the top of the article.  64-bit is the default.

![Capture](https://user-images.githubusercontent.com/6675884/68233766-b5c08500-ffb4-11e9-8383-726667a22f70.PNG)

Please comment below if there are additional questions.

[2019-11-05 18:36] msebolt commented on #3471
@baizini Thank you for the feedback and noting this discrepancy.

Assigning this to the author for review.

[2019-11-05 18:40] Dinhhai94 opened #3475 "SQL - SERI"
Thức hợp các cụm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f789883-5a24-a045-21d5-4b95951cb798
* Version Independent ID: fadbef40-b033-7e4f-533a-abd7a8e303db
* Content: [Deployment guidance - SQL Server Big Data Clusters](https://docs.microsoft.com/en-us/sql/big-data-cluster/deployment-guidance?view=sql-server-ve

[2019-11-05 18:41] Dinhhai94 opened #3476 "SQL"
Phải chăng.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f789883-5a24-a045-21d5-4b95951cb798
* Version Independent ID: fadbef40-b033-7e4f-533a-abd7a8e303db
* Content: [Deployment guidance - SQL Server Big Data Clusters](https://docs.microsoft.com/en-us/sql/big-data-cluster/deployment-guidance?view=sql-server-ver15#e

[2019-11-05 18:41] tussosedan commented on #3327
The question is it not enough to just wait for SYNCHRONIZED and HEALTHY to be able to fail over safely. Have you seen both status yet different last lsns?

[2019-11-05 18:44] Dinhhai94 opened #3477 "DBH_SQL"
Các lệnh cuối toàn cầu.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e08034dd-d4b3-2a75-a323-b021faecca2c
* Version Independent ID: 1e9a2b10-caf9-1caa-60c7-2c746f71382f
* Content: [azdata reference - SQL Server big data clusters](https://docs.microsoft.com/en-us/sql/big-data-cluster/reference-azdata?view=sql-server-v

[2019-11-05 19:01] BIGabor commented on #3327
Hmm, it was too fast, and LSN is only included because of end_of_loglsn was
highlighted in original step, but that's wrong. When I executed my PS
script, I only looked for healthy/sync, but included LSN on progressbar in
case of failure, and it was the same always(btw, already changed my script
to check lsn too).  Please not, that during our primary distributed server
stopped(planned, and we didn'

[2019-11-05 19:06] tussosedan commented on #3327
I believe that in our testing, in case of a disconnect it wasn't HEALTHY. Worth rechecking, but in any case, I don't like that we're guessing at such a critical issue. Product owners, please step in ASAP.

[2019-11-05 19:59] KevinConanMSFT opened #3478 "Missing Documentation on what each permission gives access"
We are missing easy to find documentation on what access the user will gain for each server permission granted on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b83e5f29-dca4-dde6-4abc-ba38715477d0
* Version Independent ID: 0e0a550e-f7e7-49a0-adca-417e5f5720e2
* Content: [GRANT Server Permissions (Transact-S

[2019-11-05 22:30] yang-jiayi commented on #3468
@msebolt
Thank you..

I tried some patterns below.

WITH (
LOCATION = 'odbc://{hostname}',
CONNECTION_OPTIONS ='DRIVER=[CData ODBC Driver for Twitter];DSN=[CData Twitter Sys]',
CREDENTIAL = [TwitterCredential])
GO

WITH (
LOCATION = 'odbc://{hostname}',
CONNECTION_OPTIONS ='DRIVER=[{CData ODBC Driver for Twitter}];DSN=[{CData Twitter Sys}]',
CREDENTIAL = [TwitterCredential])
GO

WITH (
LOCATION =

[2019-11-05 22:54] msebolt commented on #3475
@Dinhhai94   Thank you for the feedback.

If you have any questions or need changes to the documentation please comment below.

[2019-11-05 22:54] msebolt commented on #3476
@Dinhhai94   Thank you for the feedback.

If you have any questions or need changes to the documentation please comment below.

[2019-11-05 22:54] msebolt commented on #3477
@Dinhhai94   Thank you for the feedback.

If you have any questions or need changes to the documentation please comment below.

[2019-11-05 23:09] yang-jiayi commented on #3468
@msebolt

I tried the SSMS version (18.3.1), but the same error occurred.

SQL Server Management Studio						15.0.18183.0
Microsoft Analysis Services クライアント ツール						15.0.1487.0
Microsoft Data Access Components (MDAC)						10.0.17763.1
Microsoft MSXML						3.0 6.0
Microsoft Internet Explorer						9.11.17763.0
Microsoft .NET Framework						4.0.30319.42000
オペレーティング システム						10.0.17763

I tried to r

[2019-11-05 23:47] nickQuant commented on #3400
Issue has been up for over a week.  Disappointing the team can't be bother responding :/

[2019-11-06 00:15] Jehoel commented on #3469
@msebolt Just because the text is blue doesn't mean I think it's a hyperlink. I thought it was just a big heading that had an incorrect style applied to it. I imagine most users don't expect blue heading-sized text to be links. Please add an affordance ( https://uxplanet.org/ux-design-glossary-how-to-use-affordances-in-user-interfaces-393c8e9686e4 ) that makes it an obvious hyperlink by adding an

[2019-11-06 01:11] yang-jiayi commented on #3468
Feedback here
https://feedback.azure.com/forums/908035-sql-server/suggestions/38966575-polybase-odbc-incorrect-syntax-near-connection-op

[2019-11-06 01:17] MashaMSFT commented on #3327
Hi @tussosedan and @BIGabor , thank you for this added information :) We are still investigating the scenarios you've both described. Thank you for your patience! My apologies for the delay.

Thanks!
Masha from the SQL Docs team

[2019-11-06 07:41] BIGabor commented on #3327
I mean network disconnect between distributed ags only, and just for a
while. Not between the AGs. And I'm executing this script from a third
machine. Anyway, the question is, what happens in SQL server after altering
primary distributed node to secondary? If primary AG (not distributed, but
the child) status changes back to healthy, what does that mean? And could
that happen, that in this case I

[2019-11-06 08:39] AlainBorletHote opened #3482 "How to create tags with T-SQL?"
The scenario is the following: as part of the DB creation script -or- DB upgrade scripts, tags are included.
How to do it in T-SQL?
Kind Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34863695-cd07-1260-4fea-66738c5fa80a
* Version Independent ID: 4c01015d-9c1d-db8e-84f5-379ffc5d5133
* Content: [SQL Data Discove

[2019-11-06 15:01] Rafujin commented on #3456
Thank you for the explanation.

The issue i have with the versioning drop down is that for most older versions i get the following message:
"The requested page is not available for SQL Server previous versions. You have been redirected to the newest product version this page is available for."

I get this message for example when i try to select older versions for the ISNULL command: https://docs.

[2019-11-06 15:23] JamesHorsley commented on #3469
Or just wording as Click here to Download SSMS :-)  ... sad to say I had to look at comments to get the download link too!

[2019-11-06 17:06] WilliamAntonRohm commented on #3455
@VanMSFT -- please review the change in the above-mentioned PR 12788.

[2019-11-06 17:24] jimicze commented on #3469
@msebolt Its not 64bit by default, default is 32bit. Please add 64bit download option.

[2019-11-06 17:42] sancoder opened #3483 "When XACT_ABORT is ON the DBMS may cause errors on the query to system tables."
Noticed a bug on MSSQL 14.0.1000.169
After altering database with
    ALTER DATABASE s2 COLLATE Latin1_General_CI_AS
The following query ends with 'severe error'

select
  a.name obj,
  b.name col,
  c.name typ,
  case when b.prec is not null then b.prec else 0 end siz,
  b.isnullable nul
from
  sysobjects a
  inner join syscolumns b
  on a.id = b.id and a.xtype = 'U'
  inner join systypes c
  on

[2019-11-06 18:32] SauerKraut51 opened #3484 "Version Requirements"
It would be helpful what the minimum version of Windows a given version of SSMS needs. Could be my mind is going as fast as my eyesight but I'm not seeing it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cac198c9-abf9-b7ae-0827-dac03ddf4ad6
* Version Independent ID: 9f2afe99-e7c3-726f-fa89-08fc1e4ed653
* Content: [Re

[2019-11-06 20:33] WilliamAntonRohm commented on #3478
@KevinConanMSFT -- thank you for your feedback.

@VanMSFT -- please look into this issue 3478,

[2019-11-06 20:44] WilliamAntonRohm commented on #3482
@AlainBorletHote -- thank you for your question.  It looks like you're working through an issue with your scenario or implementation, rather than an issue with the documentation.  You may find answers here:
- [Transact-SQL - MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=transactsql)
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack O

[2019-11-06 20:44] #3482 closed

[2019-11-06 20:47] WilliamAntonRohm commented on #3483
@sancoder -- thank you for finding this anomaly.  Please report it at [SQL Server Feedback](https://aka.ms/sqlfeedback).

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-11-06 20:47] #3483 closed

[2019-11-06 20:49] WilliamAntonRohm commented on #3484
@SauerKraut51 -- thank you for your feedback.

@markingmyname -- please look into this issue 3484.

[2019-11-06 21:04] firefly237 commented on #3469
Yeah -- pretty weird. When I couldn't find the download link in the obvious places, I just looked at doing it in another language I knew and saw that English was an option there - how very counter-intuitive. The "Download SSMS" definitely doesn't look like a link and I didn't go anywhere near it.

[2019-11-07 08:54] jvorata96 opened #3488 "Connection String for Another Computer"
Hi. I currently connect to my Microsoft SQL Server on the local computer that runs the server with a connection string as follows:
(SQLCHAR*)(DSN=JoelDB;UID=myID2;PWD=myPW2;WSID=JE-ACCOUNTS;DATABASE=myDB;)

I'm trying to connect to the server from ANOTHER computer and I already did the instructions above. I can telnet to the IP and port of the server using the other computer. However, I can't acce

[2019-11-07 13:25] IanKemp opened #3506 "Update Extract and Export to note that /p:TableData can be specified multiple times"
A simple "This option may be specified multiple times" as a suffix to each paragraph would suffice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac30c0d5-990b-1114-cb66-d6bbb789b698
* Version Independent ID: 9432dace-7676-2a86-485a-dd5bc6568e86
* Content: [SqlPackage.exe - SQL Server](https://docs.microsoft.com/en-us

[2019-11-07 15:02] mottykohn commented on #3107
Isn't this clearly documented on this page?

[2019-11-07 16:34] rikgarner opened #3507 "Page placement in contents structure is wrong"
This page and its 4 siblings all deal with memory-optimized *temporal tables*, so it looks like they should be below the Temporal Tables topic; their location in the contents structure (Database Design -&gt; Tables -&gt; Memory-optimized Tables ) suggests this page should be about Memory Optimized Tables more generally - but all the pages about MemOp tables are several nodes away at Manage Monitor

[2019-11-07 16:43] #3475 closed

[2019-11-07 16:43] #3476 closed

[2019-11-07 16:43] #3477 closed

[2019-11-07 16:56] CarlRabeler commented on #3507
@rikgarner I am busy at SQL PASS this week. I will review and address this issue as soon as I can. Thanks for bringing this to my attention.
Carl

[2019-11-07 17:10] astellingwerf opened #3508 "Permissions on files in customized MSSQL 2019 containers"
I personally feel that the page is unclear on permissions since the MSSQL 2019 rollout. The container since then runs as a non-root user. I've struggled for quite some time, because I was getting an error message while recovering databases from file:

[code]

It turns out that the fix is to figure out the uid of the `mssql` user (`10001`). Once you know that, you can change your command in the Doc

[2019-11-07 17:21] msebolt commented on #3488
@jvorata96  Thank you for the feedback.

What are the setup details you are trying to connect with?

The tutorial referenced is using a SSMS client with the `tcp:<computer_name>,49172` connection format.

[2019-11-07 17:23] msebolt commented on #3506
@IanKemp  Thank you for the feedback, assigning this to the author for review.

[2019-11-07 18:38] chrisadkin opened #3509 "Environment variables for AD authentication"
Is the following incorrect ?

export DOMAIN_SERVICE_ACCOUNT_USERNAME=&lt;AD principal account name&gt;
export DOMAIN_SERVICE_ACCOUNT_USERNAME=&lt;AD principal password&gt;

should the second environment variable read DOMAIN_SERVICE_ACCOUNT_PASSWORD ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6733c468-62a5-41d9-2c5

[2019-11-07 19:43] PAC77 commented on #3428
Has there been any official confirmation from Microsoft about this?  TDE in Standard is a BIG DEAL and should be a headlining feature change if true.

[2019-11-07 20:52] msebolt commented on #3508
@astellingwerf  Thank you for the feedback, assigning this to the author for review.

[2019-11-07 20:54] dgshaver opened #3510 "Schema definition incorrect and causes sample streaming application to fail"
The schema definition specified in the first notebook code cell is incorrect.  The Spark types need to be changed from IntegerType to LongType.  Otherwise, the streaming application failed.

Here's the corrected schema definition (replaces lines 12 and 13
StructField("wcs_click_date_sk",LongType,true), StructField("wcs_click_time_sk",LongType,true), StructField("wcs_sales_sk",LongType,true), Struc

[2019-11-07 21:45] amattas opened #3511 "Polybase Now Supports Pass Through Authentication to ADLS"
Polybase now supports pass through authentication to ADLS, however, that is not documented on this page which only refers to using storage keys. The required identity configuration for passthrough authentication is only found on the Service Endpoint page: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vnet-service-endpoint-rule-overview?toc=/azure/sql-data-warehouse/toc.json#impa

[2019-11-07 22:18] yang-jiayi commented on #3468
When using SQL Server 2019 RTM PolyBase's 3rd Party ODBC, I use Twitter's ODBC this time, but MySql's Oracle's ODBC reproduces the same phenomenon.

SSMS does not recognize the CONNECTION_OPTIONS option.
And in the editor, it remains black.

Can someone answer me?

[2019-11-07 22:46] parlevjo2 opened #3512 "2 other properties are not restored when attaching or restoring databases"
Please add to those 2 properties
"is_trustworthy_on": By default, restored or attached databases have Trustworthy not marked. The exception to this is database mirroring where the broker is enabled after failover.
"is_honor_broker_priority_on": By default, restored or attached databases have Honor Broker Priority off.

The exception to this is database mirroring where the broker is enabled after f

[2019-11-07 23:00] msebolt commented on #3509
@chrisadkin Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-11-07 23:17] msebolt commented on #3468
@yang-jiayi Apologies for the lack of response, I have upvoted your request for better traction.

For product issues, please also try [MSDN forums](https://social.msdn.microsoft.com/Forums/sqlserver/home?category=sqlserver) and [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server).

Though we are unable to handle product issues here, I can assign this to the author for reference,

[2019-11-07 23:18] jaimeres opened #3513 "JSON_VALUE no es un nombre de función integrada reconocido."
Aparece este error al ejecutar la función, mi versión es SQL Server 2014
JSON_VALUE no es un nombre de función integrada reconocido.

[2019-11-07 23:26] drchilds opened #3514 "Supported Windows 10 Installations?"
Is Windows 10 Pro/EE deliberately unsupported for even Express and Developer Editions, or is this an oversight?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c09beb1a-92a9-4335-511c-395ba64c875b
* Version Independent ID: 8f43fca3-43d7-a2e4-1469-bf17f14d9ac8
* Content: [Hardware and software requirements for installing

[2019-11-08 03:38] halfkilo opened #3520 "There is a space in column name "object_ id""
It should be "object_id" instead of "object_ id"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0df79411-afd1-930a-5248-525ddcd37229
* Version Independent ID: a10e89b4-cb68-2d1e-ee64-c44db4035c22
* Content: [SQL Server Audit Records - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditi

[2019-11-08 04:08] msebolt commented on #3510
@dgshaver  Thank you for the feedback, assigning this to the author for review.

[2019-11-08 04:11] msebolt commented on #3511
@amattas Thank you for the feedback, assigning this to the author for review.

Referencing [Polybase](https://docs.microsoft.com/sql/relational-databases/polybase/polybase-guide).

[2019-11-08 04:18] msebolt commented on #3512
@parlevjo2  Thank you for the feedback, assigning this to the author for review.

[2019-11-08 04:26] msebolt commented on #3513
[code]

@jaimeres  Thank you for the feedback.

Unfortunately `JSON_VALUE` is only supported in versions 2016 and above.

Please see [SQL Server downloads](https://www.microsoft.com/sql-server/sql-server-downloads) for access to more recent versions.

[2019-11-08 04:32] msebolt commented on #3514
@drchilds Thank you for the feedback.

`Windows 10 TH1 1507 or greater` is stated as a [hardware requirement](https://docs.microsoft.com/sql/sql-server/install/hardware-and-software-requirements-for-installing-sql-server-ver15?view=sql-server-ver15#hwswr) so this is likely an oversight.

Assigning this to the author for review.

[2019-11-08 07:22] msebolt commented on #3460
You're correct and thank you for noting the additional items.

The documentation has been updated with changes pending review.

[2019-11-08 07:23] #3509 closed

[2019-11-08 07:38] #3460 closed

[2019-11-08 07:38] msebolt commented on #3381
@kazshi  Thank you for the clarification.

I've added a note to the documentation to better reflect this discrepancy and changes are pending review.

[2019-11-08 07:46] halfkilo opened #3522 "Can not see FAILED_LOGIN_GROUP action group"
This action group is still available as Server-Level Audit Action Group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e423dd72-6012-f9f0-9bd1-6ab946399770
* Version Independent ID: f55d3328-111e-13d2-d8c2-78ba2b644b91
* Content: [SQL Server Audit Action Groups and Actions - SQL Server](https://docs.microsoft.com/en-u

[2019-11-08 07:48] #3381 closed

[2019-11-08 08:15] msebolt commented on #3385
@aev-mambro2  You're correct, this feature seems to only apply to new queries opened with the current connection.

I couldn't find an open issue on this so you would need to either start a new ticket in the [SQL Server User Voice](https://feedback.azure.com/forums/908035-sql-server) or add a comment to the **Stack Overflow** post and link back to this issue.

[2019-11-08 11:03] dunderburken commented on #2237
Hi @markingmyname,

Opening newly created Database Diagrams does not work in SSMS 18.3.1 & 18.4 (have tried earlier versions too)

Error message:

===================================

Attempted to read or write protected memory. This is often an indication that other memory is corrupt. (Microsoft.VisualStudio.OLE.Interop)

------------------------------
Program Location:

at Microsoft.VisualStudio

[2019-11-08 14:52] branko-d commented on #3107
Ah, sorry, I see it now.

Should be less "buried" though - at least its own paragraph.

[2019-11-08 16:39] robsws opened #3523 "Documentation suggests that altering DURABILITY setting on memory-optimized table is possible"
As I mentioned on a [stack overflow post](https://stackoverflow.com/questions/58647173/how-do-you-change-the-durability-option-on-an-existing-memory-optimized-table-in), the ALTER TABLE syntax listed on the [ALTER TABLE page](https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-table-transact-sql?view=sql-server-2016) seems to suggest that the following query is possible:

[code]

but tryin

[2019-11-08 17:14] WilliamAntonRohm commented on #3520
@halfkilo -- thank you for your feedback.  I am updating the documentation.

[2019-11-08 17:17] WilliamAntonRohm commented on #3523
@robsws -- Rob, thank you for your feedback.

@CarlRabeler -- Carl, please look into this issue 3523.

[2019-11-08 17:20] WilliamAntonRohm commented on #3522
@halfkilo -- please provide more context for your issue, as I am not sure what you are asking.  Thank you.

[2019-11-08 17:26] CarlRabeler commented on #3523
I will review next week when I return from the SQL PASS conference.

[2019-11-08 21:57] SeaDude commented on #3377
I know its an *almost* non-related question, but these diagrams are quite unique and useful.
Thank you !

[2019-11-09 02:32] virzak opened #3524 "Dowload Link for SqlLocalDB 2019"
Using LocalDB in a Wix Toolset Installer, so need a direct download link to SqlLocalDB.exe.

Previously was getting from [here](https://stackoverflow.com/questions/42951632/sql-server-express-localdb-msi-offline-installer)

Thanks

[2019-11-09 15:47] CSharkie opened #3526 "Connection error"
I have updated to the last version of mssql 19 since I was having problems with connection to the server due to the update of openssl to 1.1 and I still cannot connect to my server. And even if i install openssl 1.0.2 it will still give me the same error:

Sqlcmd: Error: Microsoft ODBC Driver 17 for SQL Server : TCP Provider: Error code 0x2746.
Sqlcmd: Error: Microsoft ODBC Driver 17 for SQL Serve

[2019-11-09 20:52] gmareater opened #3527 "typo: wrong information about sql server version"
this is first line which says "Sql Server 2019"
"Raises an exception and transfers execution to a CATCH block of a TRY...CATCH construct in SQL Server 2019."

but the time of writing this article is "03/16/2017" which no SQL 2019 existed, so you have bug probably on updating article write time.
and I changed sql server version to 2017 but still the same.

---
#### Document Details

⚠ *Do not edit

[2019-11-09 22:39] marvinhosea opened #3528 "Mssql tools not found Fedora 30"
I am getting this error when trying to install sqlcmd

No match for argument: mssql-tools
Error: Unable to find a match

[2019-11-09 23:37] don4of4 opened #3529 "sp_estimate_data_compression_savings Not Supported on Azure"
Since `sp_estimate_data_compression_savings` is not supported, is there an alternative that should be used?

Msg 534, Level 16, State 1, Procedure sp_estimate_data_compression_savings, Line 20 [Batch Start Line 115]
'sp_estimate_data_compression_savings' failed because it is not supported in the edition of this SQL Server instance 'MSSQLSERVER'. See books online for more details on feature support

[2019-11-10 08:00] marvinhosea opened #3530 "sudo yum install -y mssql-tools unixODBC-devel"
When trying to install mssql-tools i get this error
`No match for argument: mssql-tools
Error: Unable to find a match`

both on ubuntu 18 and fedora 30

[2019-11-10 08:07] SeaDude opened #3531 "How to create a Database Scoped Credential to a Github repo or file?"
Hello,

What is the syntax for creating a DSC to a Github repo or file? Is this possible?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 140d7c84-acc3-f722-99af-867be1f8752a
* Version Independent ID: 6bb40855-9644-1b18-3c4f-cec734cdc169
* Content: [CREATE DATABASE SCOPED CREDENTIAL (Transact-SQL) - SQL Serve

[2019-11-10 08:13] SeaDude commented on #3377
The Jovan you're mentioning doesn't happen to be [_this_ Jovan](https://channel9.msdn.com/Shows/Data-Exposed/Using-JSON-in-SQL-Server-2016-and-Azure-SQL-Database), does he?

[2019-11-10 08:41] SeaDude opened #3532 "How to create an External Data Source to Github Repo/File?"
I'd like to connect an Azure SQL database to a `.geojson` file in a Github repo. Is it possible to add Github as an External Data Source?
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e450abc6-2dbd-8f6c-423c-52aca37a2b06
* Version Independent ID: 4aff678a-6db1-a438-9aca-bb4b4d49bc27
* Content: [CREATE EXTERN

[2019-11-10 16:36] srutzky commented on #2753
@rothja (and @barmichal and @VanMSFT and @MikeRayMSFT ): As far as I can tell, now that SQL Server 2019 has been officially released / RTM, the "restricted features" feature has been disabled, though not fully removed. You can still select from the system catalog view to get an empty result set (instead of a missing object error):

[code]

However, the `sys.sp_add_feature_restriction` system store

[2019-11-10 16:41] jgmreyes commented on #3066
Hi there, I am using SQL Dev Edition 140, according to a note section:

"When you partition a non-unique, clustered index, the Database Engine by default adds the partitioning column to the list of clustered index keys, if it is not already specified. When partitioning a non-unique, nonclustered index, the Database Engine adds the partitioning column as a non-key (included) column of the index, if

[2019-11-10 19:50] q409640976 opened #3533 "SQL Server on Linux price?"
SQL Server on Linux is free?
or the price?

[2019-11-11 02:35] halfkilo commented on #3522
Here is the example using action group "FAILED_LOGIN_GROUP" from [CREATE SERVER AUDIT SPECIFICATION](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-server-audit-specification-transact-sql)
CREATE SERVER AUDIT SPECIFICATION HIPAA_Audit_Specification
FOR SERVER AUDIT HIPAA_Audit
    ADD (FAILED_LOGIN_GROUP);
GO

But the action group "FAILED_LOGIN_GROUP" is not listed on reference page

[2019-11-11 03:49] hyoshioka0128 opened #3536 "Table is broken"
![cdc-change-tables-transact-sql](https://user-images.githubusercontent.com/40815708/68559780-9c6e7b80-0481-11ea-8a79-caef70c53589.png)

https://docs.microsoft.com/en-us/sql/relational-databases/system-tables/cdc-change-tables-transact-sql?view=sql-server-ver15

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e3e1f12-48

[2019-11-11 07:14] Willem-J-an opened #3537 "STRING_SPLIT not supported in SQL DW version 130"
SELECT compatibility_level  FROM sys.databases WHERE name = 'DWH';
select STRING_SPLIT ( string , separator )

compatibility_level
-------------------
130
Msg 195, Level 15, State 10, Line 42
'STRING_SPLIT' is not a recognized built-in function name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77b3e27b-a3ee-da83-1d4

[2019-11-11 09:33] DaveBoltman opened #3538 "Space saved"
In fact the NULL percentages here correspond to a space saving of specifically **_28%_**. Not sure why the words "20 percent to 40 percent" are used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46ab5559-d930-39c4-b27c-898d2883efe2
* Version Independent ID: ac1acd3d-c154-2934-5daf-fbacab4df7ba
* Content: [Use Sparse

[2019-11-11 12:41] Duduar commented on #3327
Hi,
I have tested the issue using the query BIGabor suggested.
I have a distributed availability group named Test_Distributed_AG containing 2 availability groups AG_Primary, AG_Secondary with 12 databases.

The distributed availability group is in SYNCHRONOUS_COMMIT state on both sides and the availability groups are both in SYNCHRONOUS_COMMIT state.

I used a script that has a while loop and issu

[2019-11-11 12:59] BIGabor commented on #3327
The problem with MS query, that you have to know, which DB is in which
Distributed AlwaysOn group. You can't filter it. We have more DBs with more
Distributed AGs.

On Mon, 11 Nov 2019, 13:41 Duduar, <notifications@github.com> wrote:

[2019-11-11 17:05] deanis74 opened #3540 "Confusing Example"
The first example is extremely confusing. The variable name is identical to the setting name, plus the leading '@'.

@@@
DECLARE @CONCAT_NULL_YIELDS_NULL VARCHAR(3) = 'OFF';
IF ( (4096 & @@OPTIONS) = 4096 ) SET @CONCAT_NULL_YIELDS_NULL = 'ON';
SELECT @CONCAT_NULL_YIELDS_NULL AS CONCAT_NULL_YIELDS_NULL;
@@@

Suggest using @SAVE_SETTING for a variable name, instead of @CONCAT_NULL_YIELDS_NULL, to ma

[2019-11-11 17:32] VanMSFT commented on #3478
@KevinConanMSFT - Thanks for the feedback, Kevin! We have no plans to update this doc at this time. We appreciate your feedback, and if you feel contributing further, we'd love help updating our documentation: https://review.docs.microsoft.com/en-us/help/contribute/sql-docs-pr-get-started?branch=master

[2019-11-11 17:32] #3478 closed

[2019-11-11 17:41] msebolt commented on #3524
@virzak  Thank you for the feedback.

The document has been updated per your suggestion and is pending review.

[2019-11-11 17:51] prashantprp commented on #3469
Kindly improve your instructions on how to Download, just because it is hyperlink no one could assume that clicking there would download the software. Kindly improve the texting like "click here to download SSMS to your local computer".

[2019-11-11 17:52] virzak commented on #3524
Thanks @msebolt

Could you point to the PR in the meantime? Need that link :)

[2019-11-11 18:09] msebolt commented on #3524
You're welcome.

The PR is at  https://github.com/MicrosoftDocs/sql-docs-pr/pull/12861.

[2019-11-11 18:15] virzak commented on #3524
Sorry, is that a private repo? I'm getting a 404

[2019-11-11 18:21] msebolt commented on #3524
Yes, sorry for the confusion.

If you'd like you can submit a PR via the public repo and I can merge it directly, else we need to use the private repo where it's reviewed internally and you'll need to view the changes after publish.

[2019-11-11 18:24] KevinConanMSFT commented on #3478
My customer is going to ask, why are we not publishing documentation on what each permission gives access to?  This is critical information for compliance.

Thank you,

Kevin Conan
PFE – Data & AI

[Description: MSFT_logo]

From: Van To <notifications@github.com>
Sent: Monday, November 11, 2019 11:32 AM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Kevin Conan <Kevin.Conan@microsoft

[2019-11-11 18:39] #3455 closed

[2019-11-11 18:58] msebolt commented on #3526
@CSharkie  Thank you for the feedback, you can see if [this post](https://stackoverflow.com/questions/57265913/error-tcp-provider-error-code-0x2746-during-the-sql-setup-in-linux-through-te) resolves the problem.

For additional support options, refer to:

- [Azure DevOps on Stack Overflow](https://stackoverflow.com/questions/tagged/azure-devops)
- [Azure DevOps Support Bot](https://azuredevopsvirt

[2019-11-11 19:07] msebolt commented on #3527
@gmareater Thank you for the feedback.

The current version is included in the article's description by design, though this is seemingly in conflict with the article's version selector.

Assigning this to the author for review.

[2019-11-11 19:27] MashaMSFT commented on #3488
Hi @jvorata96 ,Thanks for contacting Microsoft!  From my understanding, the issue you're describing seems to be an issue with the product, is that correct? If so, unfortunately, this form of contact is intended explicitly for reporting issues with the documentation, and not for the product. To get further assistance with your issue, we'd recommend engaging the community, or opening a ticket with M

[2019-11-11 19:27] #3488 closed

[2019-11-11 19:34] msebolt commented on #3528
@marvinhosea Thank you for the feedback.

Since Fedora is not officially supported, see [supported platforms](https://docs.microsoft.com/sql/linux/sql-server-linux-setup?view=sql-server-ver15#supportedplatforms), you will need to submit a feature request to the product team [here](https://feedback.azure.com/forums/908035-sql-server).

In the meantime, this [post](https://kifarunix.com/install-micr

[2019-11-11 19:49] #3524 closed

[2019-11-11 19:53] msebolt commented on #3530
Thank you for the feedback.

This issue has been addressed in https://github.com/MicrosoftDocs/sql-docs/issues/3528, please refer there for further review and comment.

[2019-11-11 19:53] #3530 closed

[2019-11-11 19:56] msebolt commented on #3533
@q409640976 Thank you for the question.

SQL Server is priced the same on Linux as it is for Windows, please refer to [Licensing and pricing](https://docs.microsoft.com/sql/linux/sql-server-linux-setup?view=sql-server-ver15#licensing-and-pricing).

[2019-11-11 19:59] BeginTry opened #3541 "Fixed Database Role Permissions"
Since sp_dbfixedrolepermission is in maintenance mode, what are the corresponding system stored procs (or DMVs) that should be used instead for current or future development work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 631b7a9d-b7c7-9ad4-b3ec-903fc0bb9e1a
* Version Independent ID: 35474195-6dc4-ddf9-ec0c-9c0473

[2019-11-11 20:07] msebolt commented on #3529
@don4of4 Thank you for the question.

Unfortunately Azure functionality is only provided as a subset to SQL Server's and is in part based on user need and priority.

To get this in front of the product team for review and prioritization, please start a thread [here](https://feedback.azure.com/forums/908035-sql-server) and link back to this issue.

For all other support needs, please refer to the *

[2019-11-11 20:59] gmareater commented on #3527
thank you, and just to mention it's kinda misleading, at first I thought try-catch  introduced  in 2019.

[2019-11-11 21:01] pjcorreia commented on #3469
It's insane that in the year 2020 the people responsible by this page have zero knowledge of the basic principles of usability. This is the type of arrogance that the IT guys are associated with that make the rest of the world waste a huge amount of time (multiply that by the number of downloads of the SSMS) just because someone thought the way he thinks is the "correct" one. Fix the link and don'

[2019-11-11 21:13] CeciAc opened #3543 "connection between nodes"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/sql-docs.es-es/issues/73

The comment below was machine translated

@Aligtrrz commented 7 hours ago — with docs.microsoft.com
First of all, a cordial greeting, I was following the tutorial and everything was going well until point 5 of the creation of subscribers, when trying to add a SQL Server subscriber, the agent does not allow

[2019-11-11 21:27] msebolt commented on #3531
@SeaDude Thank you for the question.

Unfortunately, SQL Server does not currently offer built-in support for source control with Git.

Please see features available with either [Azure Data Studio](https://docs.microsoft.com/en-us/sql/azure-data-studio/what-is?view=sql-server-ver15) or other external tools such as **Apex** and **RedGate**, see [this post](https://stackoverflow.com/questions/379338

[2019-11-11 21:28] msebolt commented on #3532
@SeaDude Thank you for the question.

This question has a similar response to issue https://github.com/MicrosoftDocs/sql-docs/issues/3531.

Please refer there for questions/comments.

[2019-11-11 21:38] #3520 closed

[2019-11-11 21:42] WilliamAntonRohm commented on #3522
@halfkilo -- thank you for clarifying.

@VanMSFT -- please look into this issue 3522.

[2019-11-11 21:48] msebolt commented on #3536
@hyoshioka0128 Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-11-11 21:52] WilliamAntonRohm commented on #3390
@VanMSFT -- Van, please review [PR 12703](https://github.com/MicrosoftDocs/sql-docs-pr/pull/12703).

[2019-11-11 21:55] msebolt commented on #3537
@Willem-J-an Thank you for the feedback.

The syntax for this statement cannot be used within the `SELECT`, try in the `FROM` clause, such as:

[code]

[2019-11-11 22:11] msebolt commented on #3538
@DaveBoltman  Thank you for the feedback.

I can't seem to find the reference to 28%, values in the [space savings table](https://docs.microsoft.com/sql/relational-databases/tables/use-sparse-columns?view=sql-server-ver15#estimated-space-savings-by-data-type) seem to correspond to 40%?

The term "at least 20% to 40%" is meant as a rough guide on when to use this feature, each percentage is based o

[2019-11-11 22:16] erinstellato opened #3544 "Additional Query Store setting value made available"
Based on a review of the additional options in the Query Store page for Database Properties, it looks like Wait Statistics Capture Mode was also added in the 18.4 release.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cac198c9-abf9-b7ae-0827-dac03ddf4ad6
* Version Independent ID: 9f2afe99-e7c3-726f-fa89-08fc1e4ed653
*

[2019-11-12 01:01] q409640976 opened #3545 "create DB error"
I run mssql in docker
when i  create DB there is a  error(with SSMS2008):
Cannot write properly IsFileStream. This property is not available on SQL server 7.0 (Microsoft.SqlServer.smo)

[2019-11-12 01:06] Datachick commented on #2475
That is what I was talking about.  Apologies for not coming back to respond until now.

[2019-11-12 03:15] msebolt commented on #3540
@deanis74  Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-11-12 03:30] msebolt commented on #3541
@BeginTry  Thank you for the question, assigning this to the author for review.

[2019-11-12 03:33] q409640976 opened #3547 "about volume path"
why i set volume path with: "-v sqlvolume:/var/opt/mssql"
but the Actual volume path is "/var/lib/docker/volumes/sqlvolume/_data/data"

[2019-11-12 03:39] msebolt commented on #3543
@Aligtrrz Thank you for the feedback, assigning this to the author for review of the steps.

Please note that for user scenarios outside scope of the docs will require support from those listed under **Obtain support from Microsoft** in the [SQL Server support policy](https://support.microsoft.com/help/4047326/support-policy-for-microsoft-sql-server).

[2019-11-12 05:37] zhensun-sql commented on #3327
Dudu,

If I read it correctly, the lsn for Microsoft's query seems to be the same from both AGs. I don't see any databases is different.

Thank you
Zhengguo

[2019-11-12 05:44] zhensun-sql commented on #3327
Gabor,

redo lsn is not a reliable indicator of failover readiness. Redo is the process of applying the changes recorded in log records to database data pages. If they are the same for the two AGs involved in the DAG, it just means they apply the same amount of logs to the database data pages. There might be more logs to be applied and that portion of log might be different between these two AGs,

[2019-11-12 06:57] BIGabor commented on #3327
I just used this info from MS:
"Understanding the LSN Column Values

The values of the end_of_log_lsn, last_hardened_lsn, last_received_lsn, last_sent_lsn, recovery_lsn, and truncation_lsn columns are not actual log sequence numbers (LSNs). Rather each of these values reflects a log-block ID padded with zeroes.

end_of_log_lsn, last_hardened_lsn, and recovery_lsn are flush LSNs. For example, last_

[2019-11-12 07:12] #3532 closed

[2019-11-12 07:13] #3536 closed

[2019-11-12 07:14] #3540 closed

[2019-11-12 07:18] msebolt commented on #3513
Closing the issue now, please comment below if there are still issues.

[2019-11-12 07:18] #3513 closed

[2019-11-12 09:20] JonathanH89 opened #3549 "SSMS 18.4 Takes solid 5 min to open Steps on a SQL Agent job"
Recently installed  SSMS 18.4 and SQL Server 2019. When going into steps - Edit step on a agent job it takes around 5 minutes for it to open. Works fine in example 17.5

[2019-11-12 11:12] marvinhosea commented on #3528
I have followed this [post](https://kifarunix.com/install-microsoft-sql-server-2017-on-fedora-29-centos-7) and the official Microsoft article and i am still getting the same error.
`No match for argument: mssql-tools
Package unixODBC-devel-2.3.7-4.fc30.x86_64 is already installed.
Error: Unable to find a match`

The issue is caused when trying to install mssql-tools.

[2019-11-12 12:00] taspeotis opened #3553 ""Adding versioning to non-temporal tables" uses DATETIME2 with precision 0"
Everything else uses `DATETIME2` (default precision: 7) but the *Adding versioning to non-temporal tables* section specifies `DATETIME2(0)`. Why the difference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 349eae51-5e73-47db-ee0d-8cae824f5c45
* Version Independent ID: 98d04967-6eb4-4d4d-e4a4-8e77a0f1fba0
* Content: [

[2019-11-12 14:39] gkarldoka commented on #3431
Still looks like a headline and different than most other links on this page :(

[2019-11-12 15:53] stefan-oppliger commented on #2896
It's not quite right that sqlmlutils works with SQL Server 2017.
The functions sql_install.packages at some point (in the function sqlCheckPackageManagementVersion) checks the installed SQL Server Version:
` if (((version[["serverType"]] == "azure" && version[["major"]] >=
    12) || (version[["serverType"]] == "box" && version[["major"]] >=
    15))) {
    versionClass <- "ExtLib"
  }`.

The majo

[2019-11-12 17:10] rothja commented on #3415
@vladsMDCS Thanks for this feedback, and you are absolutely right that ssCurrent is causing this to read misleadingly. I'm going to work on getting that corrected and get back to you. Sorry for the delayed response!  #reassign:rothja

[2019-11-12 17:13] rothja commented on #3527
@gmareater Thanks for the feedback, and you have definitely found a problem. I am going to fix this and let you know when it is fixed. For this article, it should just say SQL Server with no version. Apologies for the confusion.

[2019-11-12 17:15] dan-motion opened #3556 "Multiple typos - should be on-premises rather than on-premise"
This article contains two typos - the term "on-premise" is incorrect - it should be "on-premises".  Premises means site, whereas premise means an assumption from which a logical conclusion can be drawn.  You can't drop the "s" off the end of premises in the same way you can't drop the "s" off of species, series or news!

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-11-12 17:53] rothja commented on #3415
@vladsMDCS Thanks, again. We have decided to remove the parenthetical comment for now, because we are unsure what the right answer should be. We looked back at older content and the 2008 content had the same problem. We are asking internally, but until we know, it is just a confusing comment. We are also changing the ssCurrent value to be just "SQL Server" instead of "SQL Server 2019" because this

[2019-11-12 17:53] #3415 closed

[2019-11-12 17:54] rothja commented on #3527
@gmareater We are making a fix today that will make this variable resolve to "SQL Server" to avoid this confusion. Thank you for pointing this out!!

[2019-11-12 17:54] #3527 closed

[2019-11-12 19:04] v-maudel opened #3558 "Small mistake/confusion on Example A"
@ZeDocteur commented on [Tue Nov 12 2019](https://github.com/MicrosoftDocs/sql-docs.fr-fr/issues/118)

Hi,

I believe there's a small confusion on the Example A. of this page. This is the current code example:

`DECLARE @range_first_value sql_variant ,
        @range_first_value_output sql_variant ;

EXEC sp_sequence_get_range
@sequence_name = N'Test.RangeSeq'
, @range_size = 4
, @range_first_valu

[2019-11-12 19:07] deanis74 commented on #3540
That reads much better.

[2019-11-12 19:11] v-maudel opened #3559 "Add new content and correct article errors"
Text below is machine translated

@yupengcheng0719 commented on [Tue Nov 12 2019](https://github.com/MicrosoftDocs/sql-docs.zh-cn/issues/132)

Add <nnn> to identify version 190 and SQL Server 2019 (15.x), correct the article below for each instance name of SQL Server 2019

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: b3ca4320-49c8-31a4-84c6-0185ba176216
* Version I

[2019-11-12 20:00] WilliamAntonRohm commented on #3544
@erinstellato -- thank you for your feedback.

@markingmyname -- please look into this issue 3544.

[2019-11-12 20:02] WilliamAntonRohm commented on #3545
@q409640976 -- thank you for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

You may find answers here:

- [Transact-SQL - MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=transactsql)
- [DBA Stack Exchange](https://dba.sta

[2019-11-12 20:05] WilliamAntonRohm commented on #3553
@taspeotis -- Todd, thank you for your feedback.

@CarlRabeler -- Carl, please look into this issue 3553.

[2019-11-12 20:07] WilliamAntonRohm commented on #3556
@dan-motion -- thank you for your feedback.  I am looking into that article.

[2019-11-12 20:28] WilliamAntonRohm commented on #3558
@stevestein, @srvbpigh, @v-maudel -- The above-mentioned [PR 12880](https://github.com/MicrosoftDocs/sql-docs-pr/pull/12880) has this proposed change -- please let me know if it is correct.

[2019-11-12 20:29] WilliamAntonRohm commented on #3559
@v-maudel -- Mauricio, thank you for relaying this information.

@MashaMSFT -- Masha, please look into this issue 3559.

[2019-11-12 20:30] WilliamAntonRohm commented on #3549
@JonathanH89 -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-11-12 20:32] ssg-randy-knight opened #3560 "Error in ESTIMATEONLY"
The document has "ESTIMATE ONLY" (with  a space) and the command requires ESTIMATEONLY (no space).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f81ceda7-f086-be93-7213-affd26e8aa23
* Version Independent ID: 36dd40d5-21c3-eb68-a51b-7e9977d61d73
* Content: [DBCC CHECKALLOC (Transact-SQL) - SQL Server](https://docs.micr

[2019-11-12 20:40] Teutenberg commented on #3408
Here is an updated workaround for connecting to WinRm when SSRS SPN has been set.

To workaround this, you need to add an HTTP SPN with the WinRM port number, and update your PowerShell code:

SETSPN:
setspn -S  HTTP/<SERVERNAME>:5985 <SERVERNAME>
setspn -S  HTTP/<SERVERNAME>.BNZNAG.NZ.THENATIONAL.com:5985 <SERVERNAME>

POWERSHELL:
$sessionOptions = New-PSSessionOption -IncludePortInSPN
$session=

[2019-11-12 20:55] CarlRabeler commented on #3553
@taspeotis The precision specified in this ALTER STATEMENT (https://docs.microsoft.com/en-us/sql/relational-databases/tables/creating-a-system-versioned-temporal-table?view=sql-server-ver15#adding-versioning-to-non-temporal-tables) is merely intended to show that you can specify your level of precision - for example, if you do not need fractional seconds. But also note in the Important remarks sec

[2019-11-12 22:52] pmasl commented on #3560
Addressed with PR #12882

[2019-11-12 23:22] garyericson commented on #2896
@stefan-oppliger - I'm checking with the product team. I'll post back here what I find out what they say, hopefully soon.

[2019-11-12 23:50] taspeotis commented on #3553
Thanks for the quick response.

I feel the documentation would benefit from a discussion about precision. Reading it doesn't impart to me how to choose a precision that would be "appropriate for [my] environment" and if I naïvely applied the examples in the documentation to my own environment today then all my new tables would have `DATETIME2(7)` columns and all my existing tables would have `DATE

[2019-11-12 23:54] zhensun-sql commented on #3327
yeah, end_of_log_lsn could be different. That is why it asks you to check.

This documentation is purely for DAG.

Did you mean in between step 3 and step 4? If that is the case, global primary and forwarder both will remain healthy. They don't talk to each other once you change the global primary to secondary role.

Network outage between global primary and forwarder in between the steps is fine.

[2019-11-12 23:58] markingmyname commented on #3462
@nwoodin,

Thanks for your comment.

Your contribution is much appreciated.

However, our team can only answer feedback related to the documentation. Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page or visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) page. If you have any feedback related to the documentati

[2019-11-12 23:59] markingmyname commented on #3462
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-11-12 23:59] #3462 closed

[2019-11-13 00:05] CarlRabeler commented on #3553
I will take a work item to improve this content. But basically, the precision for temporal should match the precision in your underlying table (will improve content to say this - thanks for bringing this to my attention). Regarding the precision you choose for your underlying table, that it really your choice based on the time precision you need and the amount of storage required for different lev

[2019-11-13 00:32] #3556 closed

[2019-11-13 00:33] WilliamAntonRohm commented on #3556
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2019-11-13 00:54] WilliamAntonRohm commented on #3417
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-11-13 00:54] #3417 closed

[2019-11-13 01:06] WilliamAntonRohm commented on #3560
@ssg-randy-knight -- thank you for your feedback.  We have updated the documentation and it should be live by tomorrow.

@pmasl -- thank you for creating [PR 12882](https://github.com/MicrosoftDocs/sql-docs-pr/pull/12882).  I have signed off on it and it is now merged.

[2019-11-13 01:06] #3560 closed

[2019-11-13 01:44] SDP190 opened #3561 "In Exapme (E) Using correlated subqueries, misleading content"
In the page at example E you wrote:

-START-

![Capture2](https://user-images.githubusercontent.com/16751213/68727546-b481f000-0592-11ea-95ba-cb508837db86.PNG)

-END-

Now you are not clear enough here, because it seems to indicate that the first code example is not a correlated subquery, as you say after that  '_**The following** example uses IN in a correlated, or repeating, subquery_', however

[2019-11-13 01:59] MashaMSFT commented on #3559
Hi @yupengcheng0719 , thank you for contacting Microsoft! Thanks for bringing this to our attention. We have proceed a change to add SQL 2019 to the article, and make the paths version-agnostic.

Hope that helps and please let us know if there is anything else we can do for you? Otherwise we will proceed with closing out the Git Issue in a few business days.

Thanks again for making our docs  bett

[2019-11-13 02:09] SDP190 opened #3562 "example code using the ALL keyword is redundant"
In the example code for example **(E)** which can be found [here](https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/t-sql/queries/codesnippet/tsql/select-examples-transact_11.sql), the usage of **ALL** keyword ([line 6](https://github.com/MicrosoftDocs/sql-docs/blob/e37636c275002200cf7b1e7f731cec5709473913/docs/t-sql/queries/codesnippet/tsql/select-examples-transact_11.sql#L6)) is redundant

[2019-11-13 08:04] baizini opened #3570 "Applies to Azure SQL Database?"
The APPLIES TO: heading indicates that this feature does not apply to Azure SQL Database, whereas the first sentence of text implies that it does.
Which is correct?  Please edit the page to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4e3344e-e4a8-4356-7036-729c77f6fbd1
* Version Independent ID: a57b39