[2017-07-20 18:37] bgribaudo opened #14 "Incorrect Column Description - sys.dm_exec_sessions client_version"
Hello,

On [sys.dm_exec_sessions's documentation page](https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-exec-sessions-transact-sql), I believe the description for column client_version is incorrect.

According to that page, this column shows the "TDS protocol version of the interface that is used by the client to connect to the server. The value is N

[2017-07-20 18:55] bgribaudo opened #15 "Incorrect Column Description - sys.dm_exec_sessions client_interface_name"
On [sys.dm_exec_sessions’s documentation page](https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-exec-sessions-transact-sql), column client_interface_name is defined as "Protocol name that is used by the client to connect to the server. The value is NULL for internal sessions. Is nullable."

I believe this definition is incorrect. Instead, this column

[2017-07-21 03:38] craigg-msft commented on #15
@bgribaudo thank you for the feedback.  I am going to copy the text from both issues you created and put them in an internal tracking item for the author to review.  We only recently lit up the public side of our content and we had not intended to have the "issues" feature enabled as we are not staffed to manage issues and PRs for so many topics.  We hope to some day but not now.  Apologies for th

[2017-07-21 03:38] #15 closed

[2017-07-21 03:39] craigg-msft commented on #14
@bgribaudo thank you for the feedback.  I am going to copy the text from both issues you created and put them in an internal tracking item for the author to review.  We only recently lit up the public side of our content and we had not intended to have the "issues" feature enabled as we are not staffed to manage issues and PRs for so many topics.  We hope to some day but not now.  Apologies for th

[2017-07-21 03:39] #14 closed

[2018-11-07 15:05] nschonni opened #1227 "Trimming old branches"
When editing from the web editor there is getting a little bit of a long list https://github.com/MicrosoftDocs/sql-docs/branches/all
Could you delete the merged branches and those that got moved to your internal repo.

PS: thanks for opening the issue tracker again 👍

[2018-11-08 04:06] MightyPen commented on #1227
@nschonni Nick, I will look into this.

[2018-11-08 08:50] abbgrade opened #1230 "Outdated section Catalog Properties Dialog Box"
The section [Catalog Properties Dialog Box](https://docs.microsoft.com/en-us/sql/integration-services/catalog/ssis-catalog?view=sql-server-2016#catalog-properties-dialog-box) is outdated.

The view `catalog.catalog_property` does not exist for SQL Server 2016 anymore.
The view `catalog.catalog_properties` does not contain a row for `VALIDATION_TIMEOUT`
The dialog does not contain a setting 'Valida

[2018-11-08 09:58] m1nkeh opened #1231 "String Split Azure Data Warehouse Not Correct"
I don't think this doc actually applies to ADW... is this a doco error, or a defect on our ADW instance?

        sql-docs/docs/t-sql/functions/string-split-transact-sql.md

[2018-11-08 22:51] craigg-msft commented on #1231
Thank you @m1nkeh I will try and verify...

[2018-11-10 11:31] MightyPen commented on #1227
@nschonni Nick, Majority of branches deleted. Thanks. Closing this Issue 1227 now.

[2018-11-10 11:31] MightyPen commented on #1227
Closing.

[2018-11-10 11:31] #1227 closed

[2018-11-10 11:32] MightyPen commented on #1230
Closing now.  However, this Issue 1230 will still be used later to communicate updated status of internal DevOps MsEng bug 1386649 back to the customer.
CC: @douglaslMS

[2018-11-10 11:32] #1230 closed

[2018-11-12 23:49] douglaslMS commented on #1230
@abbgrade cc @MightyPen I have just opened a PR to fix these issues. Thank you for bringing the issues to our attention. The updated page will be published tomorrow Tue Nov 13.

[2018-11-13 03:20] hien0024 opened #1262 "I added a custom static code analysis Rule but it didn't work."
Hello.
Please teach me about adding custom static code analysis rules.
I'm using SQL Server 2017 and Visual Studio 2017 including SSDT.

1. About "Creating a Custom Code Analysis Rule for SQL Server"
IS it OK to use "Microsoft.SqlServer.TransactSql.ScriptDom.dll" in "C:\ProgramFiles(x86)\MicrosoftSQLServer\140\DAC\bin"?
The dll file was not found in "C:\ProgramFiles(x86)\MicrosoftSQLServer\120\SDK

[2018-11-13 05:05] MightyPen commented on #1262
@hien0024  Our GitHub Issues cannot provide the kind of response that this particular Issue seeks.  However, the following links are to resources that might be able to provide help in some cases like this:

HELP LINKS:

- https://docs.microsoft.com/en-us/sql/ssdt/walkthrough-author-custom-static-code-analysis-rule-assembly?view=sql-server-2017
- https://social.msdn.microsoft.com/Forums/en-US/79da3

[2018-11-13 05:05] #1262 closed

[2018-11-13 07:36] hien0024 opened #1263 "I think the page's description doesn't updated from the previous version."
Hello.
I think [this page](https://docs.microsoft.com/en-us/sql/ssdt/walkthrough-author-custom-static-code-analysis-rule-assembly?view=sql-server-2017) is have not updated from the previous version.

The page is a tutorial for SQL Server 2017 and Visual Studio 2017 including SSDT, but it seems to be written for version 2013 or 2012.

For example, I think the following points are strange.
  1.In "C

[2018-11-13 23:52] chojrak11 opened #1266 "sys.database_scoped_configurations describes wrong columns"
https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/sys-database-scoped-configurations-transact-sql?view=sql-server-2017

In SQL Server 2016 I'm able to fetch the following columns from this DMV with `SELECT *`:
`configuration_id`, `name`, `value`, `value_for_secondary`
In SQL Server 2017 and SQL Server 2019 CTP2.1:
`configuration_id`, `name`, `value`, `value_for_seconda

[2018-11-15 18:05] jzabroski commented on #1266
Confirmed. On a brand new install on a AWS RDS SQL Server 2017 Standard Edition:
[code]
returns:
[code]

[2018-11-15 18:18] jzabroski commented on #1263
@MightyPen I think the core issue here is that SQL Server and Visual Studio are not guaranteed to be released in lock-step, and there is no guarantee newer versions of Visual Studio will fully support working with older versions of SQL Server. For example, a project type for SQL Server 2012 might not exist in Visual Studio 2017.

[2018-11-16 23:09] #1266 closed

[2018-11-17 01:09] MightyPen commented on #1266
@chojrak11 Thanks to you opening this issue, it has been fixed now, with PR #1281.  So we are Closing this Issue as fixed.
Thank you.

CC: @VanMSFT

[2018-11-19 07:47] msaravindh opened #1302 "Update Master Data Services Excel Add-in link for SQL 2017"
The doc does not reflect the latest link to MDS Add in for Excel for SQL 2017. Please fix this

[2018-11-19 18:23] boblmartens opened #1304 "no instructions for SLE 15"
SUSE has release SLE 15, but there are currently no instructions for installing the MSSQL ODBC driver on SLE 15. I am wondering if there is a timetable around getting that done.

[2018-11-21 10:59] anildwa opened #1312 "Failover when Kubernetes node restarts"
The article talks about failover sceneraio when the POD is deleted. This scenario is seldom encountered. The article does not address the scenario when the Kubernetes node reboots. As the azure-disk is attached to the node, and if the node restarts, the POD cannot be restarted on another node as the persistent volume is not available.

[2018-11-21 14:46] jzabroski opened #1314 "Please re-consider policy on "duplicate content""
Hi @MightyPen @ShevaDas @yunyunyunyun @cillroy

I propose that Microsoft clean up its usage of doc includes and how inline inclusion of content can be used to improve document comprehension. Currently, files in  https://github.com/MicrosoftDocs/sql-docs/tree/live/docs/includes have a cryptic naming convention not explained to the open source community.

I propose three sweeping changes:
1. Rename

[2018-11-21 19:38] DanielGoehler opened #1316 "[de-DE] relational-databases/backup-restore/restore-database-options-page.md"
On the German Page (de-de) of **Restore Database (Options Page)** there, more than one example where words are put together that doesn't belong together. In all these cases **bold** words are involved. I randomly clicked on other pages an found more examples. I guess this a global issue.

---
- Your wrote: **Wiederherstellen in**auf
- It should be: **Wiederherstellen in** auf
---
-  Your wrote: of

[2018-11-23 10:24] ams0 opened #1326 "Incorrectly suggest you can select master' size"
This [article](https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/big-data-cluster/deploy-on-aks.md#create-a-kubernetes-cluster) suggests that AKS will create a master node using the size specified; in fact, masters are run under the scene by Azure and not affected by the choice of agent node size.

[2018-11-25 05:23] gmareater opened #1331 "copy database wizard - file table error"
i just want to mention, when using copy wizard, if you want to move database with file table it wont work because of same directory name for  "filestream directory name"
if you use attach and detach method, it works but could not reattach original database
so i think an option is needed in the wizard for defining new name
(i will go and report it in SSMS either, just a good idea to mention here)

[2018-11-26 18:45] MightyPen commented on #1331
@stevestein Hi Steve, My guess is that @gmareater has in mind the following articles. Can you take a look.  Thanks.
.
"Use the Copy Database Wizard"
https://docs.microsoft.com/sql/relational-databases/databases/use-the-copy-database-wizard?view=sql-server-2017
.

"Copy Databases to Other Servers"
https://docs.microsoft.com/sql/relational-databases/databases/copy-databases-to-other-servers?view=sql

[2018-11-26 18:51] MightyPen commented on #1326
@RothJa, Hi Jason, Can you please take a look at this GitHub Issue 1326.  Thanks.
.
https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/big-data-cluster/deploy-on-aks.md#create-a-kubernetes-cluster
.
"Configure Azure Kubernetes Service for SQL Server 2019 (preview) deployments"
https://docs.microsoft.com/sql/big-data-cluster/deploy-on-aks.md#create-a-kubernetes-cluster
.
(GitHub Issues, Proce

[2018-11-26 19:04] MightyPen commented on #1316
The customer, DanielGoehler, is commenting about the article at the following link:
.
https://docs.microsoft.com/de-de/sql/relational-databases/backup-restore/restore-database-options-page?view=sql-server-2017

[2018-11-26 19:04] rothja commented on #1326
@ams0 I'm going to confirm this and then make the change to the article based on what I find. Thanks for the feedback!

[2018-11-26 19:20] MightyPen commented on #1316
@DanielGoehler Hello Daniel, Thank you for bringing this concern to Microsoft's attention. Our Localization expert will return from vacation later this week.  I will make sure that she is notified about this Issue 1316.
.
(GeneMi ,  2018/11/26  11:08am  Monday)
.
CC: @nokura (for MOR team)

[2018-11-26 19:31] MightyPen commented on #1312
@MikeRayMSFT Hi Mike, I am unsure which article this GitHub Issue 1312 is referring to, but perhaps it is one of those listed below.
Can you please process this Issue:
(GitHub Issues, Process info)
sqlcontentshiproom Notebook  >  sql-docs-pr  >  GitHub-ISSUES-Plan,-Rogue1
Thanks.  (GeneMi ,  2018/11/26  11:30am  Monday)
.
https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-container-ha-ove

[2018-11-26 19:33] MightyPen commented on #1304
@David-Engel Hi David,  Do you have information that might be helpful here, in GitHub Issue 1304 (repo= 'MicrosoftDocs/sql-docs').
.
CC: @boblmartens

[2018-11-26 19:41] MightyPen commented on #1302
@LeoLiMSFT Hello Leo, Can you please consider this GitHub Issue 1302.  If you decide there is corrective action to take, and you are able to make the correction, that would be ideal.  In any case, can you please enter a comment into here with your initial thoughts?
Thank you.
(GeneMi ,  2018/11/26  11:40am  Monday)
CC: @msaravindh

[2018-11-27 11:36] LarnuUK opened #1346 "Breaking Changes - 2017/2016 pages Broken Links"
The links to the Breaking Changes for 2008-2014 on the 2016/2017 breaking changes pages are broken (they link back to the 2016 [page](https://docs.microsoft.com/en-us/sql/database-engine/breaking-changes-to-database-engine-features-in-sql-server-2016?view=sql-server-2017)).

The correct links for the breaking changes are as follows:
[2014 Breaking Changes](https://docs.microsoft.com/en-us/sql/data

[2018-11-27 15:54] rothja commented on #1326
@ams0 I've confirmed your understanding and will be correcting this shortly. Thanks for catching this mistake!

[2018-11-27 16:09] #1326 closed

[2018-11-27 23:22] pez-public opened #1350 "sql/t-sql/queries/update-transact-sql (opendatasource)"
[This](https://docs.microsoft.com/en-us/sql/t-sql/queries/update-transact-sql?view=sql-server-2017#q-updating-data-in-a-remote-table-by-using-the-opendatasource-function) example is not relevant. The query uses the OPENQUERY function rather than then OPENDATASOURCE function. Additionally, the query is just a copy of the previous example.

Once the query is changed, the description should also be c

[2018-11-28 00:45] MightyPen commented on #1346
Attempting a comprehensive fix with new private repo PR 8245:
.
ht tps:/ /githu b. com/MicrosoftDocs/sql-docs-pr/pull /8245
https://github.com/MicrosoftDocs/sql-docs-pr/pull/8245

[2018-11-28 00:53] jzabroski opened #1351 "Re-open #1239 "Incorrect index_type_desc for spatial index""
#1239

As I explained in my comments after @stevestein closed the issue, my pull request is CORRECT.

I believe you are confusing `sys.indexes` with `sys.dm_db_index_physical_stats`

Here is my repro script for SQL Server 2016 Developer Edition - I've also ran similar tests a few weeks ago on a SQL Server 2017 RDS instance in AWS, but I'm not going to spend extra cycles beyond a local repro :
[cod

[2018-11-28 01:31] jzabroski commented on #1351
@stevestein  However, `PRIMARY XML INDEX` and `XML INDEX` are correct:

[code]

[2018-11-28 01:41] jzabroski commented on #1351
Saw your comment, @stevestein . Thanks. CLosing

[2018-11-28 01:41] #1351 closed

[2018-11-28 01:48] MightyPen commented on #1346
@LarnuUK Hello Thom, Thank you for bringing these bad links to Microsoft's attention.  Our private repo PR 8245 should bring these fixes to the live Docs website by late tomorrow afternoon (give or take).
This Issue 1346 has achieved its goal, so I am now Closing it.
.
CC: @MikeRayMSFT (Mike, Just fyi, I took care of this Issue for your articles, in case you have a desire to inspect the changes.)

[2018-11-28 01:48] #1346 closed

[2018-11-28 01:52] stevestein commented on #1263
@hien0024 , @jzabroski Thanks for raising the issue here. Yes, this content has not yet been updated to match the latest versions of SSDT and Visual Studio.  The SSDT documentation is scheduled for a refresh sometime in 2019, but I can't commit to an actual date when this will happen.  An internal work item has been created to ensure this article is addressed at that time.

If you need assistance,

[2018-11-28 02:41] hien0024 commented on #1263
@MightyPen , @jzabroski , @stevestein  Thank you for your courteous reply. I understood. I hope this content to be updated. I consult the site as you suggest.
Thank you.

[2018-11-28 02:41] #1263 closed

[2018-11-28 03:39] MightyPen commented on #1351
@stevestein Steve, I now understand, PR 1239 was the real item for this situation. This Issue 1351 seems redundant or overlapping.  PR is signed off, thus this overlapping Issue is Fixed. I shall so mark it. Thanks.
htt ps://githu b. com/MicrosoftDocs/sql-do cs/pull/1239
https://github.com/MicrosoftDocs/sql-docs/pull/1239

[2018-11-28 17:51] craigg-msft commented on #1231
@m1nkeh the topic "applies to " section at the top currently indicates Azure SQL Datawarehouse is not supported.

[2018-11-28 17:51] #1231 closed

[2018-11-28 19:32] smeddows opened #1356 "Samples Link Points to Dead Codeplex Site"
The link for the SSRS samples (https://go.microsoft.com/fwlink/?LinkId=177889) Points to a Codeplex site that is no longer available.

[2018-11-28 23:07] m1nkeh commented on #1231
yeah @craigg-msft it got updated with this commit 6815c99fa7ef4a050661ecf59b47a1a93255e3eb the other day 👍

[2018-11-29 16:47] craigg-msft commented on #1356
@maggiesMSFT  can you please address.

[2018-11-29 17:02] craigg-msft commented on #1314
@jzabroski thank you for the feedback.  It would be good to revisit how we manage includes but I do not think now is the time for a variety of reasons.

When we implemented the includes, they were not fully supported in our publishing system so the vision for how to use them was very different then now.  Also, the applies to type includes where intended to be short lived as a work around for a lac

[2018-11-29 17:05] craigg-msft commented on #1312
@anildwa can you please provide the URL of the topic you have a question about.  It will help minimize investigation time as we have a limited number of people who can help.

[2018-11-29 19:47] craigg-msft commented on #1314
no the publishing system is not Open Source.

[2018-11-29 19:47] #1314 closed

[2018-11-29 22:55] maggiesMSFT commented on #1356
Thanks, @smeddows! You're right, CodePlex is archived. Investigating.

[2018-11-30 23:00] jadarsie opened #1372 "Include ACS Engine as an altertive way of deploying Kubernetes in Azure"
While Kubeadm works, the deployment process should be simpler using ACS Engine.

https://docs.microsoft.com/en-us/sql/big-data-cluster/deployment-guidance?view=sqlallproducts-allversions#kubernetes

[2018-11-30 23:03] jadarsie opened #1373 "Add prefix to environment variables used by `mssqlctl create cluster`"
https://docs.microsoft.com/en-us/sql/big-data-cluster/deployment-guidance?view=sqlallproducts-allversions#define-environment-variables

In order to avoid involuntary overrides of the variables values, I would add a prefix to their names.

E.x.: MYPREFIX_DOCKER_REPOSITORY instead of DOCKER_REPOSITORY

[2018-12-01 02:03] maggiesMSFT commented on #1356
Hi, @smeddows -- I found the samples in the CodePlex archive and updated the link. Thanks for the heads up! If you're interested, here's the updated link: https://archive.codeplex.com/?p=msftrsprodsamples.

[2018-12-01 02:46] jdavisp3 opened #1375 "Installation instructions for Microsoft ODBC Driver for Ubuntu 14 do not work"
The Ubuntu 14 instructions recommend installing `unixodbc-dev`:

[code]

However, the MS repo for Ubuntu 14 does not seem to provide that package and the one provided by the standard Ubuntu 14 repo conflicts with the dependencies of `msodbcsql17`:

[code]

Should the MS repo provide this package? Or are the instructions wrong?

[2018-12-01 03:00] MightyPen commented on #1356
The FwLink 177889 now points to.....
https://archive.codeplex.com/?p=msftrsprodsamples
.
Maggie says this Issue 1356 is Fixed (in the FwLink UI) and Completed.  Goodie, so now I will update the Outcome label, and will Close this Issue.

[2018-12-01 03:00] #1356 closed

[2018-12-01 03:19] craigg-msft commented on #1373
@jadarsie   Our team has examined this GitHub Issue.  Your suggestion is a good one but we have limited team members to work on the content and we learn from how the community explains things and documents for other community members.  Please click the Edit button on the article's webpage, and to simply type in the fix, and click the buttons to create a GitHub pull request.  We will then examine y

[2018-12-01 03:45] MightyPen commented on #1373
Thank you.  Closing this Issue 1373.

[2018-12-01 03:45] #1373 closed

[2018-12-02 03:31] smeddows commented on #1356
It looks great.   Thanks

On Fri, Nov 30, 2018 at 6:03 PM Maggie Sparkman <notifications@github.com>
wrote:

[2018-12-02 06:01] jdavisp3 commented on #1375
Somewhat similar to https://github.com/Microsoft/msphpsql/issues/287 but for Ubuntu 14.

[2018-12-02 06:01] jdavisp3 commented on #1375
Found some instructions for a work-around: https://gist.github.com/joecampo/6f777a659b8132b9d6fe1c3589df394c

This would be a lot easier if you provided the `-dev` package as well.

[2018-12-02 07:57] MightyPen commented on #1375
@jdavisp3 Hello Dave, For us to consider a GitHub Issue of this nature, we need you to provide us with the https address of the specific documentation article you feel is lacking or is in error.
When you add a comment with the link, please @ mention me so I will know.
Thanks a lot.

[2018-12-02 08:00] MightyPen commented on #1372
@rothja Hi Jason, Can you please process this GitHub Issue 1372.  Thanks.
CC: @jadarsie

[2018-12-03 14:43] ebrucucenread opened #1377 "Sql Server contained database user does not need to be enabled"
In the [article](https://docs.microsoft.com/en-us/sql/relational-databases/security/contained-database-users-making-your-database-portable?view=sql-server-2017), it suggests at Remarks section that the server level configuration should be enabled to use contained database users. However, I can connect to a database with a contained database user (pointing at the database) via SSMS/ tcp connection.

[2018-12-03 15:00] rothja commented on #1372
@jadarsie Currently we talk about three options for hosting Kubernetes. One of those is AKS for deploying in Azure. We decided that we probably didn't want to cover both ACS and AKS, so we went demonstrate AKS only. Is AKS interchageable for you instead of ACS? Thanks!

[2018-12-03 18:07] jadarsie commented on #1372
AKS and ACS are not interchangeable. One is managed K8S, the other is un-managed K8S.

Compared to Kubeadm, ACS Engine should provide a faster and friction-less deployment experience for somebody willing to run the solution on top of an un-managed cluster on Azure. I imagine that just mentioning the option and redirecting to an existing doc page would be enough.

As you wish guys, I was going thro

[2018-12-04 04:11] MightyPen commented on #1377
@VanMSFT Van, can you please process this Issue 1377.  Thanks.
.
https://docs.microsoft.com/sql/relational-databases/security/contained-database-users-making-your-database-portable?view=sql-server-2017

[2018-12-04 15:54] rothja commented on #1372
@jadarsie The feedback is great! Thanks for explaining your case here. I'll do a little digging with the product team and see what we want to do.

[2018-12-04 17:58] VanMSFT commented on #1377
Hello @ebrucucenread! Thank you for your question on our documentation feedback. If you can connect to the database without the server level configuration enabled, then the user is not a contained database user. To restrict user access to certain databases, you can use the User Mapping feature when creating the login.

https://docs.microsoft.com/en-us/sql/relational-databases/security/authenticati

[2018-12-04 18:59] JohnMiner3 opened #1379 "Azure SQL Data Warehouse Does Not Support Query Store"
The following link shows that Azure SQLDW supports Query Store.  This is not accurate.

https://docs.microsoft.com/en-us/sql/relational-databases/performance/monitoring-performance-by-using-the-query-store?view=sql-server-2017

[2018-12-04 19:38] karinazhou commented on #1375
Hi @jdavisp3,

Thank you for pointing this out. For now, the MS repo doesn't have the unixodbc-dev package for Ubuntu 14.04 by default. A possible workaround is to manually get and install the package. Here's an example to do it:
[code]
NOTE: Please skip first two command lines if you already have `libltdl-dev`.

The installation doc needs to be updated for Ubuntu 14.04. We will take your suggesti

[2018-12-04 19:55] craigg-msft commented on #1331
@gmareater can you please include the URL of the specific article you are referring to?  Even better, could you please click the "Edit" button on the topic and suggest an edit and we can review the PR. If you suggest an edit in the actual topic will ensure we are all working on the correct / same thing. @stevestein fyi.

[2018-12-04 23:13] douglaslMS commented on #1302
@msaravindh Please respond to clarify what the issue is. See my previous comment.

[2018-12-04 23:14] karinazhou commented on #1375
Hi @MightyPen ,

I have created a PR with the update:
[https://github.com/MicrosoftDocs/sql-docs-pr/pull/8360](url)

Please take a look at it.

Thanks,
Karina

[2018-12-05 00:56] CarlRabeler commented on #1331
@craigg-msft @stevestein @gmareater This sounds like a feature request and perhaps a request for a doc note saying that the copy wizard doesn't work when a file table in involved. I wonder if it works when the T-SQL equivalent is used.

[2018-12-05 06:47] msaravindh commented on #1302
@douglaslMS The issues seems to be fixed now. I can see the link updated in the doc page(https://docs.microsoft.com/en-us/sql/master-data-services/microsoft-excel-add-in/master-data-services-add-in-for-microsoft-excel?view=sql-server-2017). No changes required. Thanks

[2018-12-05 07:03] gmareater commented on #1331
hi
I tried my best and created PR
this is the artice i mean
"
https://docs.microsoft.com/en-us/sql/relational-databases/databases/use-the-copy-database-wizard?view=sql-server-2017
"

thanx

On Wed, Dec 5, 2018 at 4:26 AM Carl Rabeler <notifications@github.com>
wrote:

[2018-12-05 17:24] jadarsie commented on #1372
FYI, I just realized that [ACS Engine](https://github.com/Azure/acs-engine) is [deprecated](https://github.com/Azure/acs-engine/commit/286893edb186d04e26341e7b1fb00f51cbcfc133) since yesterday.

I will be replaced by [AKS Engine](https://github.com/Azure/aks-engine). After a quick look, I have the impression that, from a K8S POV, both engines are supposed to achieve the same result.

[2018-12-05 19:48] MikeRayMSFT commented on #1379
@pmasl can you review?

[2018-12-05 21:21] MikeRayMSFT commented on #1379
@JohnMiner3 - thank you for this submission - we're reviewing it.

[2018-12-06 16:00] craigg-msft commented on #1316
@nokura and @DanielGoehler can we close this issue?

[2018-12-06 16:31] DavidPrio commented on #1316
Hi @nokura the ticket needs to be assigned to me so we can see it and move it corresponding repo.
@craigg-msft can you please unassign @nokura and assign it to me? thanks!

[2018-12-06 17:01] David-Engel commented on #1304
The current release does officially support SLE 15. We've tested installing on SuSE 15 Enterprise Server and it looks like the SuSE 12 MS ODBC package that is out right now works, but it requires libopenssl 1.0.0, which by default is not installable on SuSE 15. To make it available the user has to execute `sudo SUSEConnect -p sle-module-legacy/15/x86_64` prior to installing the driver (assuming th

[2018-12-06 17:39] MightyPen commented on #1304
@boblmartens Hi Bob, David's response is probably the best info we have for addressing your question.
We are going to Close this Issue 1304 now.  However, if you feel further communication is needed, you can still communicate to us by @ mentioning David or myself.
Thank you for submitting this Issue.  Good luck.

[2018-12-06 17:39] #1304 closed

[2018-12-06 17:52] MightyPen commented on #1375
@jdavisp3 We have merged Karina's internal Microsoft PR 8360.  The change should be visible on our live Docs website by late this afternoon. (Thanks Karina!)
So, this Issue 1375 has achieved documentation improvement, thus it should be Closed now.
.
However, this Issue 1375 Comment boxes can be used for further communication if necessary, by using the @ mention syntax.
Thank you for submitting thi

[2018-12-06 17:52] #1375 closed

[2018-12-07 03:44] jdavisp3 commented on #1375
Thanks everyone!

[2018-12-07 09:04] chunkydigits opened #1387 "No Backup Types displaying when managing database"
As a big fan of VS Code I thought i'd give this a go. For normal db activities it's superb and lightweight which means none of the fuss usually associated with the SSMS, however when I click to manage the DB and then click through to do a backup there are no Backup Types available.
There is no explanation of why there aren't any types and when I specifically click to refresh the dashboard view the

[2018-12-07 16:42] stevestein commented on #1331
@gmareater - Thanks for creating the PR and adding this info to the article.  I made a minor edit to your addition [directly into your PR](https://github.com/MicrosoftDocs/sql-docs/pull/1380). The updated article should go live sometime today.

Thanks!

[2018-12-07 17:25] jon49 opened #1389 "View and save the result Item Number 1 shows wrong information"
In the directions:

It shows going to the menu `View > Toggle Editor Group Layout`. This is confusing as that button doesn't exist. (Windows 10)

I did find the button which does perform the action under `View > Editor Layout > Flip Layout`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf7ad1cc-5659-1724-9ade-14859e2

[2018-12-07 22:53] MightyPen commented on #1316
@DavidPrio , @nokura David has been assigned this GitHub Issue 1316, as requested.
And I advanced the yellow label from Triage-2 to WillFix-3.
.
Please enter another Comment box here when you have a status update, and
please do @ mention me MightyPen (GeneMi) in the comment.  Thanks!
.
CC: @DanielGoehler

[2018-12-08 09:18] MightyPen commented on #1387
@stevestein Hi Steve, can you please take a look at this Issue 1387 (about article 'tutorial-backup-restore-sql-server.md').
CC: @chunkydigits

[2018-12-08 09:20] MightyPen commented on #1389
@rothja Hi Jason, can you please process this Issue 1389 (about article 'sql-server-linux-develop-use-vscode.md').
CC: @jon49

[2018-12-08 14:40] Bscout2011 opened #1391 "Setup script doesn't work with Python 3.7"
The setup script says it's built to run on python 2, but my default python is python 3. How do I change this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5634d572-0020-808b-693a-13addc8861d9
* Version Independent ID: 136bab7d-d4d1-1e82-ba89-be2020bc784b
* Content: [Get started with SQL Server on Ubuntu](https://docs

[2018-12-08 14:54] Bscout2011 commented on #1391
make a symlink for my python bin path as described here: https://askubuntu.com/questions/637848/how-to-reset-python-path-to-usr-bin-python

[2018-12-09 11:52] mataralhawiti opened #1392 "deploying big data cluster hangs"
Deploying Big data cluster AKS hangs for more than 6 hours with " INFO | Waiting for controller pod to be up..." message.

According to the docs, creating the cluster shouldn't take this time:
[](https://docs.microsoft.com/en-us/sql/big-data-cluster/deployment-guidance?view=sqlallproducts-allversions#troubleshoot)

[2018-12-10 12:18] sbaileypn opened #1396 "Trying to download SQL Server on Linux"
I get Unable to locate package mssql-server
Can you help me out?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5634d572-0020-808b-693a-13addc8861d9
* Version Independent ID: 136bab7d-d4d1-1e82-ba89-be2020bc784b
* Content: [Get started with SQL Server on Ubuntu](https://docs.microsoft.com/en-us/sql/linux/quickstart-ins

[2018-12-10 17:06] #1331 closed

[2018-12-10 17:25] CeciAc commented on #1316
Issue moved to [MicrosoftDocs/sql-docs.de-de #77](https://github.com/MicrosoftDocs/sql-docs.de-de/issues/77) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-10 18:35] MightyPen commented on #1392
@mataralhawiti Hello Matar, The author of this documentation article will triage this GitHub Issue 1392.  Thank you for submitting this Issue.
If it is convenient for you, going forward it helps us when customers click the Feedback control that is now at the bottom in some of our articles.    The associated automation of the control gives us info that the direct creation of Issues in the generic G

[2018-12-10 18:42] #1302 closed

[2018-12-10 19:51] MightyPen commented on #1316
Something is broken, because I cannot change the Label.  Closing this PR 1316, in favor of newer PR 77.

[2018-12-10 19:51] MightyPen commented on #1316
Closing.

[2018-12-10 19:57] stevestein commented on #1387
@chunkydigits - Per your issue, I'm adding some info to the pre-req section of this walkthrough that lets users know that Backup and Restore is not available for Azure SQL databases.

Regarding the Backup and Restore tiles initially appearing on the database dashboard, and then disappearing, this looks like a product issue. Can you open an issue in the [Azure Data Studio code repo](https://github.

[2018-12-10 19:58] MightyPen commented on #1316
Closing now (by using a different browser).

[2018-12-10 19:58] #1316 closed

[2018-12-10 22:40] craigg-msft commented on #1312
Closing.  Fyi @anildwa  @MikeRayMSFT

[2018-12-10 22:40] #1312 closed

[2018-12-10 22:52] rothja commented on #1396
@jszazzing Hello. I'm sorry you're having trouble getting SQL Server. Can you paste in the commands you run and the error you get into this thread? I'll see if there is something wrong with the steps in this Ubuntu quickstart. Thank you.

[2018-12-10 22:56] rothja commented on #1392
@mataralhawiti I apologize that you're getting this hang during the deployment. Can you tell me the specs of your AKS cluster (machine size and number of nodes). Also, in the deployment articles, there are some troubleshooting steps you can use to look at the state of the cluster during deployment. Can you inpsect the services and maybe look at a log for some of the pods that are not coming up? ht

[2018-12-10 23:00] rothja commented on #1391
@Bscout2011 Hi. I'm sorry, but I'm not sure I see what script you're referring to? Thanks!

[2018-12-10 23:02] rothja commented on #1389
@jon49 Thanks for raising this issue. I'll try to reproduce. It is possible that the UI has changed since the article was written.

[2018-12-10 23:04] rothja commented on #1372
@jadarsie Sorry for the delay. I spoke with the product team, and they confirmed that we are only testing and supporting AKS for an Azure deployment target. It is possible you could get it working on ACS, but we're not planning on adding that documentation. We feel it is better to steer customers to the future (AKS). Thanks again for the feedback!

[2018-12-10 23:04] #1372 closed

[2018-12-11 07:35] mataralhawiti commented on #1392
@rothja thanks for your effort.
I basically followed the example in the documentation, AKS specs :
node-vm-size -> Standard_L4s
node-count -> 2   ( I couldn't use more than this due to my Azure account limitation, I might be able to
                              do another test with more nodes )

yes, I used the mentioned steps in troubleshooting section to get more info about the issue but unforu

[2018-12-11 14:49] rothja commented on #1392
@mataralhawiti , In some past tests, using at least three nodes was important. Can you try again with 3 nodes? Just remember that if it doesn't work, to tear down your AKS service to save money on resources in Azure. Thank you!

[2018-12-12 13:04] rothja commented on #1389
@jon49 I see what you're seeing. I'm going to update the instructions. Thank you!

[2018-12-12 13:16] #1389 closed

[2018-12-12 14:00] jszazzing commented on #1396
root@ubuntu:/home/steven# sudo apt-get install -y mssql-server
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package mssql-server

On Mon, Dec 10, 2018 at 4:52 PM Jason Roth <notifications@github.com> wrote:

[2018-12-12 14:11] jszazzing commented on #1396
root@ubuntu:/home/steven# sudo add-apt-repository "$(wget -qO-
https://packages.microsoft.com/config/ubuntu/16.04/mssql-server-2017.list)"
root@ubuntu:/home/steven# sudo apt-get update
Hit:1 http://us.archive.ubuntu.com/ubuntu xenial InRelease
Get:2 http://security.ubuntu.com/ubuntu xenial-security InRelease [107 kB]
Hit:3 http://us.archive.ubuntu.com/ubuntu xenial-updates InRelease
Get:4 http://u

[2018-12-12 15:35] rothja commented on #1396
@jszazzing. Thank you. I've got a machine setup to test now. Are you on Ubuntu 18.04? 16.04? Something else? Thanks.

[2018-12-12 15:44] rothja commented on #1396
@jszazzing, on my Ubuntu machine, I don't get this error. I'm not sure what the difference could be. I see you're running the commands as root. You could try repeating all the commands run as a regular user. The sudo is suggested in places where you need the elevated permissions. Sorry!

[2018-12-12 19:25] slunyakin opened #1416 "Wrong CTP version for R/Python App feature"
Hi,

There is a mistake in CTP version in the row "Deploy Python and R apps. (CTP 2.1)". This feature from CTP 2.2. Please, fix it.

Regards,
Sergiy

[2018-12-13 13:53] rothja commented on #1396
@jszazzing One other thing to try is to run SQL Server in a Docker Container. There is almost no difference between running in a Docker container versus running locally, and the Docker container should always run consistently no matter what. Check out the Docker quickstart in the documentation as well as the Docker Configuration Guide that it points to. If you do use this for your SQL Server runni

[2018-12-13 21:15] HeidiSteen commented on #1416
Hi Sergiy, can you send a link to the page?  I did a string search and can't find it.  Thanks!

[2018-12-13 21:20] MightyPen commented on #1416
@slunyakin Hello Sergiy, Please provide a link to whichever article you are referring to in an Issue.

Mike Ray will triage this Issue 1416.  Mike thinks he knows which article this Issue is referring to.
Thanks.

@HeidiSteen , @MikeRayMSFT

[2018-12-13 21:21] MikeRayMSFT commented on #1416
https://github.com/MicrosoftDocs/sql-docs/edit/live/docs/sql-server/what-s-new-in-sql-server-ver15.md

[2018-12-13 21:51] MikeRayMSFT commented on #1416
Submitted a PR in private repository. Closing issue.

[2018-12-13 21:51] #1416 closed

[2018-12-13 23:05] douglaslMS commented on #1350
@pez-public Thanks for bringing this poor example to our attention. I have fixed the text and the example in the linked PR (which may not be viewable for you). The updated page will be published within the next day or so.

[2018-12-13 23:05] #1350 closed

[2018-12-14 09:41] slunyakin commented on #1416
Yes. Page https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/sql-server/what-s-new-in-sql-server-ver15.md
Section Bigdata Cluster

And page  https://docs.microsoft.com/en-us/sql/sql-server/what-s-new-in-sql-server-ver15?view=sqlallproducts-allversions#bigdatacluster

Point "Deploy Python and R apps. (CTP 2.1)" still has CTP2.1

[2018-12-14 15:27] joalcava opened #1425 "Typo on 'Install sqlpackage' debian dependencies'"
Hi, I was looking at the docs to [install sqlpackage on linux](https://docs.microsoft.com/en-us/sql/tools/sqlpackage-download?view=sql-server-2017) and realized a typo on the debian dependencies.
It says: `sudo apt-get install libuwind8` and I think it must be `sudo apt-get install libunwind8`
I din't submit a PR because I'm not 100% sure if it is really a typo.

[2018-12-14 19:41] MightyPen commented on #1425
Article is:
https://docs.microsoft.com/en-us/sql/tools/sqlpackage-download?view=sql-server-2017

[2018-12-14 19:50] MightyPen commented on #1425
@stevestein Steve, can you please process this Issue 1425.  Thanks.
.
title: Download and install sqlpackage | Microsoft Docs
description: 'Download and Install sqlpackage for Windows, macOS, or Linux'
ms.custom: "tools|sos"
ms.date: "06/18/2018"
ms.prod: sql
ms.reviewer: "alayu; sstein"
ms.prod_service: sql-tools
ms.topic: conceptual
author: "pensivebrian"
ms.author: "broneill"
manager: craigg
--

[2018-12-15 14:41] emolina26 opened #1437 "No dialogue box in SSMS"
Hi,
I'm trying to create a new schema in SSMS.  The documentation (and demo video I've watched as part of my course) say the following:

To create a schema, In Object Explorer, expand the Databases folder.
Expand the database in which to create the new database schema.
Right-click the Security folder, point to New, and select Schema.
In the **Schema - New dialog box,** on the General page, enter a

[2018-12-16 14:42] avchirkin opened #1440 "Description of Merge function in "CLR User-Defined Aggregate - Invoking Functions" article"
Merge function of Example 1 looks like

[code]
, but Concatenate class has no public field (or property) with name "intermediateResult" - this field is private. May be, intermediateResult have to be a public property?

[2018-12-16 14:43] mataralhawiti commented on #1392
@rothja I've tried with 3 nodes, and I'm still getting same bahvour
when I ran `kubectl describe pod mssql-controller-4jfhn -n sqlbigdata` I got below details :

  Type     Reason                  Age                  From                               Message
  ----     ------                  ----                 ----                               -------
  Warning  FailedScheduling        35m (

[2018-12-17 09:35] kdimitris33 opened #1442 "Backup while encrypting for TDE"
After discussing it internally, it appears that one can run a BACKUP process while doing the encryption (i.e. no need to stop the encryption to do so). This page gives the opposite impression in its "Restrictions" section - perhaps some rephrasing may be in order?

[2018-12-17 19:39] MightyPen commented on #1440
@avchirkin Hello Avchirkin, it is helpful for us to have a link to the article that the Issue is about.  I suspect this Issue 1440 is about the following article:
.
docs/relational-databases\clr-integration-database-objects-user-defined-functions\clr-user-defined-aggregate-invoking-functions.md
.
https://docs.microsoft.com/en-us/sql/relational-databases/clr-integration-database-objects-user-define

[2018-12-17 20:10] MightyPen commented on #1442
@kdimitris33 Hello kdimitris33, In order for us to consider this Issue 1442, we need to be provided with a link to whichever documentation article this Issue prompted the filing of this Issue.
.
Can you please add a new Comment here to give the needed link?
In the Comment @ mention me so I know you have updated this Issue.
Thank you.

[2018-12-17 21:19] avchirkin commented on #1440
Yes, thanks a lot. I mean exactly the same article. Example 1, C# and VB, Merge method.

[2018-12-18 09:51] MightyPen commented on #1437
@emolina26 Emma, we have decided to reOpen this Issue 1437.    The initial description did not mention whether SQL Server on-premises or Azure SQL Database was being connected to from SSMS.    We now think you were connecting to Azure SQL DB, which does behave differently and which does not display the dialog, and which instead displays the plain text of a CREATE SCHEMA statement.
I am assigning t

[2018-12-18 10:30] emolina26 commented on #1437
Thank you Gene. At least I know I’m not going mad now!

Sent from my iPhone

On 18 Dec 2018, at 09:52, Gene Milener <notifications@github.com<mailto:notifications@github.com>> wrote:

@emolina26<https://apc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Femolina26&data=02%7C01%7C%7C83f25a5629194d9c1ec608d664ce761d%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C636807235233225668&s

[2018-12-18 11:40] EitanBlumin opened #1447 "last_logical_writes description is inconsistent with other columns"
In [sys.dm_exec_query_stats (Transact-SQL)](https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-exec-query-stats-transact-sql) line 55:

|**last_logical_writes**|**bigint**|Number of the number of buffer pool pages dirtied the last time the plan was executed. If a page is already dirty (modified) no writes are counted.<br /><br /> Will always be 0 query

[2018-12-19 05:53] avchirkin commented on #1440
Thanks for the feedback. Glad to help!

[2018-12-19 05:55] MightyPen commented on #1447
@EitanBlumin Hello Eitan, The description of 'last_logical_writes'  looks correct to me.  Your catch of the grammar or copy&paste error is certainly correct, and I will make this fix (internal PR 8560).  Thank you for bringing this error to our attention.
With this fix, I am now Closing this Issue 1447.

[2018-12-19 05:55] #1447 closed

[2018-12-19 12:44] mikewo opened #1452 "dm_os_performance_counters Permissions for SQL DB"
The article at https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-os-performance-counters-transact-sql?view=sql-server-2017 indicates that you need to have View Database state permissions for Azure SQL DB to use the DMV; however, when I create a new login, grant it rights to the database, then specifically grant it view database state to the database,

[2018-12-19 18:39] rothja commented on #1440
@avchirkin Hi. I looked closer at the code example and see that we're in the Concatenate class and that the merge method takes another Concatenate object (other) and then tries to access the intermediateResult member which is private. It does seem like one solution would be to make that member public to resolve any errors. Did you run this code and get an error at the call to intermediateResult in

[2018-12-19 18:41] rothja commented on #1396
@jszazzing , I'm sorry we couldn't get your deployment working. If you continue to have issues on your machine, our support team might be able to further investigate. Or you might be able to find help on the forums. However, I think it is also possible that you'll find the Docker containers with Developer Edition to be a good solution for your scenario. Are you OK if I close this Git Issue out at

[2018-12-19 18:45] MikeRayMSFT commented on #1416
@slunyakin - thank you for this submission. This feature was introduced first in CTP 2.1 and improved for CTP 2.2. The What's New article - as published is correct.  We will not merge these changes in to the article.

[2018-12-19 18:46] rothja commented on #1392
@mataralhawiti Hello! I looked at the errors, and it appears to be having problems pulling the Docker containers necessary to setup the big data cluster. Questions:
1. Did you enroll in the early adopters program for the limited private repo? If so, did you get a Docker username and password to use to deploy with? If so, please don't post them in this issue as they are private.
2. If you do have a

[2018-12-19 18:47] rothja commented on #1391
@Bscout2011 Do you still need some help on this issue? If so, can you let me know some more details about your scenario? Thanks!

[2018-12-19 19:16] MightyPen commented on #1452
(author: stevestein , ms.author: sstein)
@stevestein @CarlRabeler  Can one of you two please process this Issue 1452.  Steve owns the article, but Carl's expertise with Azure SQL DB might be handy for this Issue.
Thanks, GeneMi.
CC: @mikewo

[2018-12-19 19:23] CarlRabeler commented on #1452
Adding Van as he owns security these days

From: Gene Milener <notifications@github.com>
Sent: Wednesday, December 19, 2018 11:17 AM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs] dm_os_performance_counters Permissions for SQL DB (#1452)

(author: stevestein , ms.auth

[2018-12-19 21:35] avchirkin commented on #1440
Thanks for feedback. There is no problem to make some fixes in this code to make it correct, I just want see the fixed version of article for everyone :) I found that invocation watching on code snippet, not after copy-paste to my solution, and just warned about potential problem.

[2018-12-20 14:22] baleng commented on #1442
@MightyPen
https://docs.microsoft.com/it-it/sql/relational-databases/security/encryption/transparent-data-encryption?view=sql-server-2017#restrictions
The following operations are not allowed during initial database encryption, key change, or database decryption: Starting a database or database file backup.

[2018-12-20 16:59] CarlRabeler commented on #1452
@VanMSFT

[2018-12-20 21:23] aliceku commented on #1442
I will discuss with the feature team, I am not convinced that doing this is a good idea.

[2018-12-21 08:07] marius-klimantavicius opened #1457 "Incorrect schema namespace https://www.w3.org/2001/XMLSchema"
As part of 3f4996c8436b006d2c55fa164a3d79356575c976 all "http:" were replaced with "https:", this however breaks some examples that have xml namespaces (at least xsd namespace in sql-docs/docs/relational-databases/sqlxml-annotated-xsd-schemas-xpath-queries/sqlxml-4-0-net-framework-support-using-bulk-load.md):
Current:
`<xsd:schema xmlns:xsd="https://www.w3.org/2001/XMLSchema"`
Should be:
`<xsd:sch

[2018-12-23 14:24] eliassal opened #1462 "Login failed. The login is from an untrusted domain and cannot be used with Integrated authentication"
I followed all instructions and I was able to add mydomain\mylogin to sql, in the step before last step, when I try to login through SSMS from my laptop, I get the following

TITLE: Connect to Server
------------------------------

Cannot connect to ubuntu17Sql.SALAM.NET.

------------------------------
ADDITIONAL INFORMATION:

Login failed. The login is from an untrusted domain and cannot be used

[2018-12-23 14:30] eliassal opened #1463 "Use Active Directory authentication with SQL Server on Linux - Login failed. login from an untrusted domain"
I followed all instructions  at
https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-active-directory-authentication?view=sql-server-2017
I was able to add mydomain\mylogin to sql, in the step before last step, when I try to login through SSMS from my laptop, I get the following
TITLE: Connect to Server
Cannot connect to ubuntu17Sql.SALAM.NET.

ADDITIONAL INFORMATION:
Login failed. The logi

[2018-12-24 06:59] mataralhawiti commented on #1392
Thank you @rothja
I've managed to figure out the issue, However; I'm still waiting for EAP team to send me Docker credentials

[https://github.com/Microsoft/sql-server-samples/issues/502](url)

[2018-12-24 09:49] rajendrarama opened #1465 "login failed for user 'SA'"
I have followed the documentation and everything went fine except for the step 'connect from outside the container'.  I am getting the error as below

PS C:\WINDOWS\system32&gt; sqlcmd -S XX.XXX.XX.XX,1433 -U SA -P "&lt;YourNewStrong!Passw0rd&gt;"
Sqlcmd: Error: Microsoft ODBC Driver 13 for SQL Server : Client unable to establish connection because an error was encountered during handshakes before

[2018-12-24 10:05] rajendrarama commented on #1465
sorry, it's my bad.  I have use the command

docker run -e "ACCEPT_EULA=Y" -e "SA_PASSWORD=<YourStrong!Passw0rd>" `
   -p 1434:1434 --name sql1 `
   -d mcr.microsoft.com/mssql/server:2017-latest

which should suppose to be

docker run -e "ACCEPT_EULA=Y" -e "SA_PASSWORD=<YourStrong!Passw0rd>" `
   -p 1434:1433 --name sql1 `
   -d mcr.microsoft.com/mssql/server:2017-latest

[2018-12-25 09:04] MightyPen commented on #1457
@marius-klimantavicius Thanks for reporting this, I will take a look at this sometime in January 2019.

[2018-12-25 09:20] MightyPen commented on #1462
@rothja Jason, I am unsure whether this Issue 1462 indicates a Documentation bug, or whether it is more of a Support request issue?  After examining the article, I surmise that this Issue is probably focused on the following # particular H2 section, which contains two steps:
.
"Create AD-based logins in Transact-SQL"
.
https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-active-directory-au

[2018-12-25 09:34] MightyPen commented on #1465
@rajendrarama Thanks for diagnosing the problem in the test.  I gather there is no Documentation bug here after all.  So I will now Close this Issue 1465 as completed.
If further communication is needed about 1465, the @ mention mechanism must be used (@ sign, followed by my name MightyPen, with no intervening spaces).  If a good reason arises, I could reOpen this Issue.
Thank you.

[2018-12-25 09:34] #1465 closed

[2018-12-26 17:02] stevestein commented on #1425
@joalcava - yes, that is a typo. Good catch!  There are no doc updates until after the holidays so the update won't appear until next week.

Thanks!

[2018-12-26 17:08] stevestein commented on #1425
Fixed in https://github.com/MicrosoftDocs/sql-docs-pr/pull/8603

[2018-12-26 17:09] #1425 closed

[2018-12-26 17:59] nschonni opened #1467 "Extra file in sql-docs/managed-reference/sql2016/xml"
#1147 was closed a month ago, but since it still hasn't been removed I'm opening this so it doens't get forgotten about

/cc @craigg-msft @sudeepku

[2018-12-26 22:16] jzabroski opened #1468 "Add PowerShell command to SQL Firewall doc"
`netsh.exe` is not portable to Linux, and so it would be ideal if we used a platform-agnostic tutorial.  Ideally, the firewall commands that ship as part of PowerShell would be portable to Linux - I'm actually not sure if they are since I am venturing into new territory myself here.

https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/sql-server/install/configure-the-windows-firewall-to-allow

[2018-12-27 03:08] MightyPen commented on #1468
@MashaMSFT Masha, as you are the owner of.....
docs/sql-server/install/configure-the-windows-firewall-to-allow-sql-server-access.md
.....would you please process this Issue 1468.
.
CC: @jzabroski

[2018-12-27 03:18] MightyPen commented on #1467
Assigned this to myself. I will re-ping Sudeep Kumar about this in January 2019.

[2018-12-29 11:48] baleng commented on #1442
@aliceku - Tested  ON-PREMISE - Microsoft SQL Server 2016 (SP2)

despite the documentation quotes that is not possible, and in the sys.messages there is message_id 3023 "Backup, file manipulation operations (such as ALTER DATABASE ADD FILE) and encryption changes on a database must be serialized. Reissue the statement after the current backup or file manipulation operation is completed."
it is pos

[2018-12-31 07:35] MightyPen commented on #1442
@VanMSFT Hi Van, here in Issue 1442, AliceKu has provided info that you can probably use to correct the inaccuracy of the Docs article.  It sounds like the SQL product contains an error message that suffers the same inaccuracy - if so, it might be good to mention in the article that IF the error message is seen that it should be considered out-of-date?  Thanks.

[2018-12-31 23:59] Tomas2046 commented on #1396
https://github.com/MicrosoftDocs/sql-docs/labels/Issue-Status-2-Author-will-triage

[2019-01-01 13:45] amanjeetsingh opened #1488 "Update documentation to reflect that installation of mssql-server-extensibility package is not possible on a MSSQL Docker container"
Hi

I have been unable to install mssql-server-extensibility-java on MSSQL Docker container. Docker image details are as follows.

mcr.microsoft.com/mssql/server               2019-CTP2.2-ubuntu

As per documentation, one can install the package on Ubuntu by running the command
sudo apt-get install mssql-server-extensibility-java

When I run the command, it fails with the following error:

`root@5

[2019-01-01 20:34] MightyPen commented on #1488
@amanjeetsingh Hi Amanjeet, You say "As per documentation": Can you please provide us with an exact link to the specific documentation article you have in mind, on
https://docs.microsoft.com/sql/<ARTICLE PATH FILENAME\>
.
If you can provide the link within the next several business days, remember to @ mention me (@ + MightyPen, as one 10 character string with no spaces), so that I receive a notifi

[2019-01-02 11:35] saaabbir opened #1491 "SSIS Enhanced Error Description Script - update"
Hi there,

I though I should share this. In my SSIS package there was a pk/fk constraint violation and I was getting ErrorColumn value as 0 (Zero). In that case the enhancement script doesn't work. So I made the below changes

[code]

I tried to find out if there are any other unusual ErrorColumn value but no luck. Someone said in one of the forums that they got "-1" but again I couldn't find anyt

[2019-01-02 17:49] MashaMSFT commented on #1468
Hi @jzabroski , thanks for your suggestion! I've created an item to research this within our ticketing system: User Story [1418832](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1418832): SQL Setup | Add powershell option to opening firewall. Your idea definitely has merit, but I'll need to investigate the feasibility of using powershell or another tool that works with Linux. Sin

[2019-01-02 17:49] #1468 closed

[2019-01-02 18:31] VanMSFT commented on #1452
Hi @mikewo and @baleng! Thanks for reporting this and providing details. We are doing additional investigation into our document permissions for DMVs and will follow-up with some edits.

[2019-01-02 20:51] jzabroski commented on #1468
Thank you.

On Wed, Jan 2, 2019 at 12:49 PM Masha at MSFT <notifications@github.com>
wrote:

[2019-01-03 00:00] mikewo commented on #1452
Thanks. If @baleng is correct that means that at this time it is not possible for an account other than the Server Admin account for Azure SQL DB to view this DMV. View Server State is not a permission you can grant to other users. This is annoying because it means you can't replicate the permissions of the Server Admin level account with a different account if you don't want to provide that high

[2019-01-03 00:09] CarlRabeler commented on #1452
Adding Van

From: Mike Wood <notifications@github.com>
Sent: Wednesday, January 2, 2019 4:00 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs] dm_os_performance_counters Permissions for SQL DB (#1452)

Thanks. If @baleng<https://nam06.safelinks.protection.outlook.com/

[2019-01-03 09:28] fa15073 opened #1494 "installation instructions for sqlcmd package do not work"
sql-docs/docs/tools/sqlcmd-utility.md

it mentioned ODBC 17 but it never works if one follows the steps to install ODBC 17

the installation package checks ODBC 13 and then skips ODBC 17

[code]

[2019-01-03 21:50] robinwilson16 opened #1495 "Page outdated as CU13 is current release of SQL Server 2017"
The page states that CU12 is the most recent CU for SQL Server 2017 but this is outdated as CU13 was released last month on 18th December: [https://sqlserverupdates.com/sql-server-2017-updates/](https://sqlserverupdates.com/sql-server-2017-updates/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2144de3e-5a91-5525-91f1

[2019-01-03 21:55] robinwilson16 opened #1496 "Does not install on any recent Ubuntu Edition as Requires Old Insecure Version of OpenSSL (Workaround Included)"
Microsoft SQL Server Integration Services (SSIS) does not install on any recent version of Ubuntu due to unmet dependencies as it requires an old insecure version of OpenSSL.

This page does not make it clear that it is only supposed to install on Ubuntu 16.04 (5 releases ago).

I have however found SQL Server IS works fine on a more recent release (18.10) although use with caution as this workaro

[2019-01-04 11:33] aqibsg opened #1497 "pcs support for sql linux docker"
Is there a way to start pcs daemon in the already existing sql server docker for linux?  I was trying to start a pacemaker cluster with with the docker image but got stuck when I reached the pcsd start service command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b152444b-dfb8-5cbe-cf45-9830bd085a68
* Version Indepen

[2019-01-05 00:01] MightyPen commented on #1491
PR 8659 fix for this is now merged into master, in internal private repo 'sql-docs-pr'.
.
@saaabbir Thank you very much for opening this Issue 1491, because the improvement you recommended will directly help other Microsoft customers.  I have implemented your suggestion in Pull Request 1491.  The fix should be visible by late Monday 2019/Jan/07 (give or take a day).
.
In the future, another option

[2019-01-05 00:01] #1491 closed

[2019-01-05 00:10] MightyPen commented on #1494
@stevestein Hi Steve, Can you please process this Issue 1494.  Thanks.
CC: @fa15073

[2019-01-05 00:12] MightyPen commented on #1495
@rothja Hi Jason,  Can you please process this Issue 1495, about CU13.  Thanks.
cc: @MikeRayMSFT  , @robinwilson16

[2019-01-05 00:16] MightyPen commented on #1496
@LeoLiMSFT , @douglaslMS  Hi Leo,  Can you please research this Issue 1496, and then communicate your findings and recommendations in another Comment box herein.  And of course, when you do add a Comment, remember to @ mention DouglasLMS so that Doug can help finalize this Issue.
CC: @robinwilson16

[2019-01-05 00:19] MightyPen commented on #1497
@rothja Hi Jason,  Can you please process this Issue 1497, about PCS support for SQL Linux Docker.  I am unsure whether this Issue is a Documentation concern, or is a Support question that should perhaps be redirected (to User Voice or to where ever, per 'docs/includes/get-help-options.md').
CC: @aqibsg

[2019-01-05 22:05] amanjeetsingh commented on #1488
@MightyPen , my apologies for not mentioning the link. The documentation that I am referring to is https://docs.microsoft.com/en-us/sql/advanced-analytics/java/extension-java?view=sqlallproducts-allversions.

The documentation talks about installing Java extensibility package on various variants of Linux. There are no errors in the documentation, and it works fine for Linux running on a standard V

[2019-01-06 05:14] MightyPen commented on #1488
@HeidiSteen Hi Heidi,  As you are the owner of article 'advanced-analytics/java/extension-java.md',.....
Can you please assess this Issue 1488 (repo 'sql-docs').  Then update this Issue by entering a new Comment.  Remember to @ mention me so I am notified that an update has occurred.
If your assessment is that a documentation action should be implemented, please include in your Comment the ID numb

[2019-01-07 15:33] HeidiSteen commented on #1488
@amanjeetsingh I've asked the engineering team for assistance. @MightyPen we are waiting for their response.

[2019-01-07 15:44] KSib opened #1501 "Add Caveats when using FOR JSON"
When using a query with FOR JSON in it, I'd note that if the query is too long when using SSMS then right clicking the results and clicking copy will not copy the whole result set and additionally selecting "Results to File" will add a bunch of CRLF line breaks in the resulting file. Using a C# DataReader doesn't have this problem. I don't know if this is a bug in SSMS or what, but it tripped me u

[2019-01-07 18:21] rothja commented on #1462
@eliassal Thanks for contacting us. I think Gene is right that this might need to be handled by a Microsoft Support case to troubleshoot fully. However, let me ask some subject matter experts here to see if they have any suggestions before we do that. Thank you for your patience on this.

[2019-01-07 18:42] rothja commented on #1495
@robinwilson16 You're absolutely right. Sorry for the delay in updating the release notes. I will do this today and close this issue after fixing. Thank you!

[2019-01-07 18:45] rothja commented on #1497
@aqibsg Thanks for your question. I'm checking with others internally and will be back with you soon.

[2019-01-07 18:46] #1391 closed

[2019-01-07 18:46] #1396 closed

[2019-01-07 18:48] rothja commented on #1463
This seems to be a duplicate issue. Closing this one out.

[2019-01-07 18:48] #1463 closed

[2019-01-07 19:10] #1495 closed

[2019-01-07 19:12] vin-yu commented on #1497
@aqibsg  - why do you want to start a pcs daemon inside of the SQL Server container image? Running multiple processes in a single container poses several challenges.

[2019-01-08 16:52] LarnuUK commented on #1501
This isn't because of your Maximum Characters Retrieved setting (Tools > Options > Query Results > SQL Server > Results to Grid) is it @KSib ? The Maximim value is 65535 for Non XML data, however it's unlimited. As, I assume, the JSON is treated as a `varchar`, and the White Space would be included as a character, this could likely easily make the JSON appear truncated. The fact that the issue isn

[2019-01-08 19:00] HeidiSteen commented on #1488
@amanjeetsingh @MightyPen  I just learned there is a known issue related to docker installs and I've been asked to remove "Docker support" until a fix is published.  My apologies for the poor customer experience.  If you can try again in February, when the next CTP is released, it should work as expected.

[2019-01-08 19:20] MightyPen commented on #1488
@amanjeetsingh With Heidi's diagnosis given 16 minutes ago, this Issue 1488 has achieved its purpose of communication.  I will set the label to Fixed, in reference to the communication success.  Thank you for bringing this concern to our attention.  We can now Close this Issue.  However, if further communication on this Issue is needed, the @ mention technique remains available even after an Issue

[2019-01-08 19:20] #1488 closed

[2019-01-08 19:22] MightyPen commented on #1488
@HeidiSteen Hi Heidi, I am hereby testing my claim that @ notifications still work even after the Issue is Closed.  IF you do receive an email notification for this from the GitHub system, can you please simply Forward the notification email to me?  Thanks.  GeneMi

[2019-01-09 01:43] MightyPen commented on #1501
@KSib , @LarnuUK
This useful information or solution has now been merged into our 'master' branch. By end of day tomorrow, the change will likely be visible on our live website, in the following SQL Server documentation article.
.
https://docs.microsoft.com/sql/t-sql/queries/select-for-clause-transact-sql?view=sql-server-2017#for-xml
.
https://github.com/MicrosoftDocs/sql-docs-pr/pull/8696
( `http

[2019-01-09 01:43] #1501 closed

[2019-01-09 17:58] danielthompson opened #1510 "Typo in "Connect from outside the container""
The word "principals" should be "principles".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b152444b-dfb8-5cbe-cf45-9830bd085a68
* Version Independent ID: 31719660-d4d0-7f63-efcc-846c822a63c2
* Content: [Get started with SQL Server containers on Docker (running SQL Server on Linux) - SQL Server](https://docs.microsoft

[2019-01-09 23:11] robinwilson16 commented on #1495
Hello Jason
Thanks for updating.
Robin

[2019-01-10 07:27] rayyenms opened #1515 "Suggest to add comment in the integration-services-service-ssis-service.md"
Hi project owner,

A lot of user encountered the SSIS DCOM Error 10017 issue while execution SSIS agent job. If we could add this symptom on this document, it will benefit user could find the official solution on this document.

Article : sql-docs/docs/integration-services/service/integration-services-service-ssis-service.md

Suggestion content:

[Grant permissions to the service]

xxxxxxxxxxxx
xx

[2019-01-10 17:12] rothja commented on #1510
@danielthompson Thanks. I'm fixing this now and this issue will be closed when my PR is merged.

[2019-01-10 17:20] #1510 closed

[2019-01-10 19:01] MightyPen commented on #1515
@douglaslMS Hi Doug, Can you please consider and process this Issue 1515.  Thanks.
CC: @rayyenms

[2019-01-11 01:07] julieMSFT commented on #1379
@JohnMiner3 - Hi John, thank you for your input. I have reviewed this article. The applies to line contains Azure SQL Data Warehouse but it is greyed out meaning this topic does _not_ apply to Azure SQL Data Warehouse. Please let me know if you see something different.

![image](https://user-images.githubusercontent.com/44736634/51006843-e7ce9b00-14f9-11e9-9cc6-7d9c0c9d821f.png)

[2019-01-11 02:59] rayyenmstw commented on #1515
@douglaslMS  got it, thank you both very much for your help!

[2019-01-11 20:43] julieMSFT commented on #1379
@JohnMiner3 - Hi John, I hope this addressed your issue. I will proceed with closing it at this time. Please feel free to contact us if we can be of further assistance.
#please-close

[2019-01-12 02:16] MightyPen commented on #1457
fyi GeneMi-to-self: Info gathered in.....
C:\Users\genemi\OneDrive - Microsoft\Main-OD\Issue-1457-https\

[2019-01-12 05:08] NullEntity opened #1522 "Arguments section of bcp article isn't rendered to html correctly"
Viewing the [live bcp Utility page](https://docs.microsoft.com/en-us/sql/tools/bcp-utility?view=sql-server-2017) shows raw markdown below the arguments table. The preview in Github renders it properly so I think something with the table syntax is confusing the markdown renderer that the live site uses.

[2019-01-12 09:11] MightyPen commented on #1457
https://github.com/MicrosoftDocs/sql-docs-pr/pull/8749
.
The PR 8749 completes the fix of this Issue 1457.
.
@marius-klimantavicius The fixes are now merged in, for the concern reported by you in this Issue 1457.  Thank you for reporting this documentation bug to us.
I am now Closing this Issue 1457.

[2019-01-12 09:11] MightyPen commented on #1457
Closing.

[2019-01-12 09:11] #1457 closed

[2019-01-13 22:57] #1379 closed

[2019-01-14 11:12] aqibsg commented on #1497
I was trying to make a high availability pacemaker cluster which uses pcs to allocate resources and setup cluster... so I need to start pcs inside the sql docker. Is there any way?
@vin-yu

[2019-01-14 20:18] VanMSFT commented on #1442
Hello @aliceku, can you please confirm @baleng comments above and see if we need to make changes to the docs regarding removing the line, "Starting a database or database file backup."

Thanks!

[2019-01-14 20:34] douglaslMS commented on #1515
Closing as resolved by the linked PR.

[2019-01-14 20:34] #1515 closed

[2019-01-14 23:36] MightyPen commented on #1522
@NullEntity Bryce, thank you very much for notifying us of this visual display mess.

Today, private PR 8758 fixes this Issue 1522.
The problem is that our upgraded markdown conversion engine sometimes demands blank lines after our `##` headers.    I merely added some blank lines, and the test rebuild no longer shows raw markdown.

(docs/tools/bcp-utility.md)

I am now Closing this completed Issue

[2019-01-14 23:36] #1522 closed

[2019-01-15 00:15] VanMSFT commented on #1452
Hi @mikewo, thanks again for bringing this issue up. We're working on investigating and updating the documentation, and will track this in our ticketing system: Feature [1427119](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1427119).  Since we're now tracking this internally, I'll proceed with closing out this Issue. However, please feel free to contact us if you have any additi

[2019-01-15 00:15] #1452 closed

[2019-01-15 10:50] dalee-bis commented on #1522
This still seems to be an issue. Is this just awaiting release?

[2019-01-15 17:49] rothja commented on #1440
@avchirkin Sorry for the delay. I going to make the Concatenate member public to resolve any potential issues now. I'm not able to test this immediately, but I assume that it will not be a problem as this is going from more restrictive to less restrictive. Thank you.

[2019-01-15 17:59] rothja commented on #1462
@eliassal Thanks, again, for the question. I checked internally, and this is a generic error. It is really impossible to tell just from this error what might be happening. We hope to improve the error messages in the future to help with this. Unfortunately, I think your best option at this point is to contact Microsoft Technical Support to open a case and have them troubleshoot the steps with you.

[2019-01-15 17:59] #1462 closed

[2019-01-15 18:01] #1440 closed

[2019-01-15 18:47] MightyPen commented on #1389
PRs = 1389, 8461, for commit ab7a128.

[2019-01-15 23:39] josephdubeau opened #1537 "Feed back on the article"
I would love test SQL server on linux.   What would be cool, create linux vm in Azure cloud.  Then install Sql server for linux on the linux vm in the Cloud.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b543b57-f397-779d-6fe4-1bc2ecd3bdca
* Version Independent ID: e274a0f3-ec74-e809-f4d3-515782b29a92
* Content: [Get

[2019-01-16 15:53] b0redj0rd opened #1540 "Help with XA Transaction article SQL"
Hello there, my query relates to the following article:- https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/connect/jdbc/understanding-xa-transactions.md

I have followed the instructions in this document, and have hit an issue which I was hoping someone would be able to help with.   The section which relates to the creation of new registry entries references a folder structure which doesn't

[2019-01-16 18:09] mvdobrinin opened #1541 "JDBC doc is hard to read"
This doc has a table that combines multiple columns into a single column - https://docs.microsoft.com/en-us/sql/connect/jdbc/setting-the-connection-properties?view=sql-server-2017, which makes it hard to read. Specifically, it has `Property`, `Type`, `Default` headings all in the first column in a vertical layout.

Is this allowed by the style guide?

[2019-01-16 20:40] MightyPen commented on #1541
@mvdobrinin Hello, this table was changed to this formatting (from 4 columns down to 2) after other customers told us the table was too wide to view easily.
.
However, if you feel that the 4 column formatting would be better, you may edit the article, by clicking its pencil icon (in its upper-right corner).  Then use the @ syntax in your Pull Request to notify me to look (and ideally also therein

[2019-01-16 20:40] #1541 closed

[2019-01-16 21:17] MikeRayMSFT opened #1544 "Review xxxxx test"
Test notification

[2019-01-16 21:18] MightyPen commented on #1544
@MikeRayMSFT Mike, this is a direct @ mention notification to you.

[2019-01-16 21:20] MightyPen commented on #1544
Hi again Mike, this is a comment that contains no AT mention.  Do you receive a auto notification for this too?

[2019-01-16 21:20] MikeRayMSFT commented on #1544
I received

[2019-01-17 01:38] aliceku commented on #1442
@VanMSFT After confirmation, success of this operation might be due to factors like database size.  There are cases where it doesn't work, and our best practices have to cover all cases.  We still do not generally recommend this.  The documentation will not change.

[2019-01-17 05:13] VanMSFT commented on #1442
Thanks @aliceku! @kdimitris33 - We appreciate your contribution and interest in helping with our documentation. If there are any questions, please let us know. Per Alice's response, I will go ahead and close this issue.

[2019-01-17 05:13] #1442 closed

[2019-01-17 09:18] ikdonev opened #1547 "Fix the Sample Python code on https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/advanced-analytics/install/sql-machine-learning-services-windows-install.md"
The sample Python code for testing External Scripts configuration is throwing an error:
`Msg 39004, Level 16, State 20, Line 6
A 'Python' script error occurred during execution of 'sp_execute_external_script' with HRESULT 0x80004004.
Msg 39019, Level 16, State 2, Line 6
An external script error occurred:

Error in execution.  Check the output for more information.
Traceback (most recent call last)

[2019-01-17 10:32] MightyPen commented on #1547
Fix is attempted by new PR 8796:
.
https://github.com/MicrosoftDocs/sql-docs-pr/pull/8796
`https://github.com/MicrosoftDocs/sql-docs-pr/pull/8796`
. . . . . . . . . .
Article:
https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/advanced-analytics/install/sql-machine-learning-services-windows-install.md
.
https://docs.microsoft.com/en-us/sql/advanced-analytics/install/sql-machine-learning-serv

[2019-01-17 10:32] #1547 closed

[2019-01-17 10:35] MightyPen commented on #1547
@ikdonev Ivan, I forgot to mention, that we encourage people to use the pencil icon in the upper-right of our articles, to edit our articles directly.  This small change would have been a fine opportunity for you to try clicking the pencil icon.  Thanks again.

[2019-01-17 15:59] gbritton1 opened #1548 "SSMS 17.1 not showing all databases"
for one of my servers,

`SELECT * FROM sys.databases WHERE name LIKE '[pq]%'`

produces:

![image](https://user-images.githubusercontent.com/12263288/51330498-a6804300-1a45-11e9-995c-201946fffcb3.png)

However, in object explorer, at the same range, I only see:

![image](https://user-images.githubusercontent.com/12263288/51330544-c0ba2100-1a45-11e9-8bd6-36ffce9b1c1d.png)

There are two issues:

1.

[2019-01-17 19:33] MashaMSFT commented on #1468
Hi @jzabroski , I've yet to find any cmdlet that will work on every distro of Linux. As such, I just added a note to the existing documentation pointing them to two different examples of opening the firewall in the linux doc set.  Thanks again for bringing this to our attention!

[2019-01-18 14:44] aqibsg commented on #1497
@MightyPen , @rothja , @vin-yu
Was there any way of suggestions for the above issue.

[2019-01-18 15:11] ElanHasson opened #1554 "Table broken on page."
Table is broken near "The default value for REQUIRED_SYNCHRONIZED_SECONDARIES_TO_COMMIT is 0. The following table describes availability behavior." text

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a4e923b-784a-9931-d730-3031ff1b4049
* Version Independent ID: 310fbbc6-5116-c9b6-65a7-dd780a38a6df
* Content: [SQL Serv

[2019-01-18 18:40] MightyPen commented on #1548
@gbritton1 Hello, Our GitHub Issues cannot provide the kind of response that this particular Issue seeks.  However, the following links are to resources that might be able to provide help in this case:

HELP LINKS:

- [All the ways to get help](https://docs.microsoft.com/sql/sql-server/sql-server-get-help)
- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-s

[2019-01-18 18:40] #1548 closed

[2019-01-18 18:50] MightyPen commented on #1554
@ElanHasson Hello Elan, Good catch. We recently tightened the rules for our markdown source. Some of our documentation articles neglect to have a blank line immediately before and after each markdown table.  The table targeted by this Issue 1554 is one such instance of this problem.  It causes the Docs webpage to display raw markdown, instead of rendering an HTML table.
.
We are in the process of

[2019-01-23 15:00] ArthurZ opened #1559 "It would be nice to allow to display results in plain text"
It would be nice to add an option to allow displaying results in text and not in grid.
This is useful when one executes say `sp_helptext` to see a stored procedure body.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf7ad1cc-5659-1724-9ade-14859e2d469d
* Version Independent ID: 60d1da3a-3cbc-657c-e263-6fcefd918e23
* C

[2019-01-23 19:09] MightyPen commented on #1559
@ArthurZ Hello Arthur,  Our GitHub Issues for documentation cannot provide the kind of response that this particular Issue seeks.  Documentation Issues are for things such as errors in the written documentation.
However, the following links are to resources that might be able to provide help in this case:

HELP LINKS:

- [All the ways to get help](https://docs.microsoft.com/sql/sql-server/sql-serv

[2019-01-23 19:09] #1559 closed

[2019-01-24 10:09] theSdev opened #1562 "mssql-server : Depends: libjemalloc1 but it is not installable [on Ubuntu 18.10]"
Got the above error when tried to run this command: `sudo apt-get install -y mssql-server`
Resolved by following steps from [an answer on AskUbuntu](https://askubuntu.com/a/1098630) partially copied below:

1. Download the latest version of libjemalloc (this one is for Ubuntu 18.04) from this mirror here - http://ftp.osuosl.org/pub/ubuntu/pool/universe/j/jemalloc/libjemalloc1_3.6.0-11_amd64.deb
2.

[2019-01-24 10:10] #1562 closed

[2019-01-24 10:42] MightyPen commented on #1467
We have been unable to obtain confirmation from certain people, within our organization, that this file is no longer wanted for any present or future reason.  Thus we are leaving the harmless file alone.
But I am glad you brought this file to our attention, as we will continue to be more aware of it, and thus might find an opportunity in the near future to obtain confirmation about whether there i

[2019-01-24 10:42] #1467 closed

[2019-01-24 10:45] MightyPen commented on #1494
@stevestein Steve, if you are unsure how to resolve this 21-day old Issue 1494, you inquire with @David-Engel.

[2019-01-24 15:42] rothja commented on #1562
@theSdev, Hello. Did you mean to close this git issue? I can investigate this to see if we need to add this to the docs? Thanks!

[2019-01-24 16:48] David-Engel commented on #1494
It's a known issue in the command line tools installer. I don't know if there is an issue filed for it, but I'll add you to the email thread I saw about it.

[2019-01-24 16:48] theSdev commented on #1562
Yes I closed it because I had the issue on 18.10 but the docs are for 16.04 I suppose. Therefore I'm not sure if this is applicable to the docs but I guess it's worth investigating. Thanks.

[2019-01-24 16:48] ClaudioESSilva opened #1564 "Extended Protection for Authentication link goes to unexisting page"
Hi,

The link `Extended Protection for Authentication` on https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/tools/configuration-manager/protocols-for-mssqlserver-properties-advanced-tab.md is redirecting to a not existing page https://support.microsoft.com/en-us/help/968389 and giving 404

Thanks

[2019-01-25 07:18] MightyPen commented on #1564
PR 8872, in our private version of repo 'sql-docs', fixes this Issue 1564.  The dead link is removed.  In its place are the two best available replacement links.

[2019-01-25 07:47] MightyPen commented on #1564
PR 8872 is merged.
So I am now closing this successful Issue 1564.
@ClaudioESSilva Claudio, thank for you bring this problem to our attention.

[2019-01-25 07:47] #1564 closed

[2019-01-25 11:12] ankitcid opened #1570 "Issue in Availability Group creation"
LinAGN1 in below example can only take upto 15 characters i.e. in format (XXX.XXX.XXX.XXX). If hostname is of a different format like (ip-10-0-0-1), Create availability group SQL gives error:
"
Msg 35237, Level 16, State 1, Server ip-10-0-0-1, Line 1
None of the specified replicas for availability group TestAG maps to the instance of SQL Server to which you are connected. Reenter the command, spec

[2019-01-25 13:47] MightyPen commented on #1554
@ElanHasson This Issue 1554 is now fixed, by our internal PR 8874.  (DevO 1429249)
Thank you for bringing this problem to our attention.  The same problem is now fixed for over 100 other tables too.
I am now Closing this Issue 1554.  However, the @ notification mechanism remains available regardless of whether an Issue is open or closed.

[2019-01-25 13:47] #1554 closed

[2019-01-25 16:18] ElanHasson commented on #1554
Cool, thanks for the update :)

[2019-01-25 21:45] MightyPen commented on #1570
@MikeRayMSFT Hi Mike, Can you please process this Issue 1570.  Thanks, GeneMi.
CC: @rothja

[2019-01-26 18:02] androidand opened #1572 "Network error when downloading"
Trying to download the MacOS version gives Failed - Network error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811ed1f4-1c78-aa1b-e752-307250ca8eb7
* Version Independent ID: f36629bf-b2e6-4993-7c77-32fa311ea942
* Content: [Download and install - Azure Data Studio](https://docs.microsoft.com/en-us/sql/azure-data-stud

[2019-01-26 19:43] MightyPen commented on #1522
DevO = https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1429249

[2019-01-26 19:44] MightyPen commented on #1554
DevO = https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1429249

[2019-01-26 19:50] MightyPen commented on #1572
@stevestein Steve, I am unsure whether this Issue 1572 is primarily a Support item (label = Issue-Outcome-52-), or whether the documentation is wrong or significantly incomplete.  Can you please process this Issue.  Perhaps more info is needed from the customer (label = Issue-Status-10-)?  I do not know.
CC: @androidand

[2019-01-26 20:03] MightyPen commented on #1494
@fa15073 We believe this is a known problem with the command line tools installer.  I do not have good visibility to the plans, schedules, or resources that the other parts of our very large team may have for this problem.  I will make an effort to obtain more info, and I will use this Issue to @ notify you if I can obtain more info about a fix.  Thank you.
If you want to push Microsoft on this pr

[2019-01-26 20:03] #1494 closed

[2019-01-26 20:05] MightyPen commented on #1494
@David-Engel Hi David, Is there a way we can obtain more info about this known problem?
CC: @stevestein

[2019-01-29 07:40] MightyPen commented on #1496
@LeoLiMSFT  Hello Leo,    Can you please glance at this Issue 1496, and at the Docs article it talks about
"_Install SQL Server Integration Services on Linux - SQL Server_".    Then, can you please enter a Comment into this Issue 1496 to give your answer or at least your assessment of this Issue.    That will be a big help to us and to our customer.
.
In your Comment, please remember to @ mention

[2019-01-29 07:47] MightyPen commented on #1540
@arkadit    Hello Arkadi.    Can you please glance at this Issue 1540.    Then can you please enter a Comment into this Issue 1540 with your resolution or your assessment.
We would like to process this Issue 1540 very soon, and get is completed and closed.
.
You have the option of inquiring with @David-Engel for assistance in obtaining the correct answer.    David might know the answer, or David i

[2019-01-29 08:02] b0redj0rd commented on #1540
Thanks very much @MightyPen - For clarity, the registry entry stated in the document is :- HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Microsoft SQL Server\MSSQL\<version>.<instance_name>\XATimeout  and it appears as the following on the server:- HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Microsoft SQL Server\MSSQL14.MSSQLSERVER so I appear to be missing the '\MSSQL\' portion - If someone can clarify if I sh

[2019-01-29 12:14] baleng opened #1589 "QUERY STORE - GRID FORMAT VS CHART FORMAT"
hello , i was querying my query store as per "https://docs.microsoft.com/it-it/sql/relational-databases/performance/monitoring-performance-by-using-the-query-store?view=sql-server-2017"
i'm on Microsoft SQL Server 2016 (SP1-CU11-OD) (KB4464467) - 13.0.4531.0 (X64)   Sep 22 2018 00:51:35   Copyright (c) Microsoft Corporation  Enterprise Edition: Core-based Licensing (64-bit) on Windows Server 2016

[2019-01-29 16:47] David-Engel commented on #1494
@MightyPen Basically, the MsSqlCmdLnTools.msi package was not updated when the ODBC driver went from v13 to v17 (internal GUID reference for the new package). So the dependency check for the ODBC v17 driver actually still points to the v13 driver. This has been fixed in the code but not yet released. My guess on a timeline for an updated MsSqlCmdLnTools.msi package would be late Feb but KenVH owns

[2019-01-29 17:35] arkadit commented on #1540
@b0redj0rd,
Hello, first if you are using SQL Server 2016 (ver 13) you should have and extend HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Microsoft SQL Server\MSSQL13.MSSQLSERVER key
If you are using SQL Server 2017 (ver 14) then key name should be HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Microsoft SQL Server\MSSQL14.MSSQLSERVER

If you want to specify default and maximum XA transaction timeouts please a k

[2019-01-29 17:44] David-Engel commented on #1540
@b0redj0rd
Also note, the doc apparently got an errant "\" added to the registry key sometime last year. It looks like it may have happened in one of someones scripted edits. I've edited the page and the change should be reflected sometime today. Thanks for noticing the discrepancy.

[2019-01-29 18:25] b0redj0rd commented on #1540
Thank you very much for the support guys, I do appreciate your time.

[2019-01-29 18:25] #1540 closed

[2019-01-29 19:01] sqlmartini opened #1591 "Polybase and Cosmos DB with MongoDB API"
Following article:  https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/relational-databases/polybase/polybase-configure-mongodb.md

When attempting to create external data source following format in example I receive the error message "External data sources are not supported with type GENERIC".

select @@version
--
Microsoft SQL Server 2019 (CTP2.2) - 15.0.1200.24 (X64)   Dec  5 2018 16:51:2

[2019-01-29 19:22] sqlmartini commented on #1591
Missed a pre-req.  Ensure that polybase is enabled.

exec sp_configure @configname = 'polybase enabled', @configvalue = 1;
RECONFIGURE WITH OVERRIDE;

[2019-01-29 19:22] #1591 closed

[2019-01-29 19:24] rothja commented on #1591
@sqlmartini We need to call this out better in the docs. Thanks for bringing this up!

[2019-01-29 21:10] MattWohler opened #1593 "Perhaps missing source of ~/.bashrc"
Upon adding the services to your PATH. Perhaps running `source ~/.bashrc` would be nice as upon running this script, attempting to run `sqlcmd` will present you with a "command not found" message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96990aff-bdd7-3cdd-d801-d544178cfb4d
* Version Independent ID: 6b083b6d-56b7

[2019-01-30 05:13] MightyPen commented on #1593
@rothja Jason, can you please process this Issue 1593.  Thanks.

[2019-01-30 12:14] CalinBunea opened #1594 "C# CLR Functions on SQL 2017 Linux"
IN our company we decided that we might want to migrate from SQL Server 2014 hosted on Windows to SQL Server 2017 hosted on Linux. One question mark was related to some C# CLR functions that we have. I have installed a test SQL 2017 on Linux and I have deployed the C# CLR functions and they work.
The intriguing part is the fact that target framework of C# CLR project is .NET Framework 4.6.2. Can a

[2019-01-30 12:42] rothja commented on #1593
@MattWohler Thanks for the suggestion. In the past, I've done this with the period instead of the "source" command. I looked up source and see that sometimes it does not work on Ubuntu. Do you agree that period would work as well across various distributions?

`. ~/.bashrc`

Thanks!

[2019-01-30 19:40] MightyPen commented on #1594
I will look into this.

[2019-01-30 22:20] MattWohler commented on #1593
@rothja They are nearly synonymous and both can break for their own reasons. For purposes of this exercise, you can use whichever you'd like. If something goes wrong, the user has a bigger problem outside the scope of the bash script.

[2019-01-30 23:47] julieMSFT commented on #1589
@baleng  Hello Antonio, thank you for your input. Our GitHub Issues for documentation cannot provide the kind of response that this particular Issue seeks. Documentation Issues are for things such as errors in the written documentation. However, the following links are to resources that might be able to provide help in this case:

- [All the ways to get help](https://docs.microsoft.com/sql/sql-ser

[2019-01-30 23:49] MightyPen commented on #1589
Thanks Julie, I am Closing this Issue 1589 now.

[2019-01-30 23:49] #1589 closed

[2019-01-31 13:41] lennybacon opened #1597 "Unattended installation anbd updates?"
It would be nice to have information on unattended setup and update for Azure Data Studio!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811ed1f4-1c78-aa1b-e752-307250ca8eb7
* Version Independent ID: f36629bf-b2e6-4993-7c77-32fa311ea942
* Content: [Download and install - Azure Data Studio](https://docs.microsoft.com/e

[2019-01-31 20:46] srutzky commented on #1594
@CalinBunea Are you asking about the Target Framework in Project Properties in Visual Studio? If so, I don't think Visual Studio has any clue about distinguishing between Linux vs Windows in terms of Database Projects. Also, even if it could, the environment, as far as SQL Server is concerned, is Windows, not Linux. There is an abstraction layer, similar in concept to the CLR, called SQL PAL (SQL

[2019-01-31 21:02] MightyPen commented on #1597
@stevestein Hi Steve, can you please process this Issue 1597, when you return to work?
Also, I sent email to Andrew Ng asking if he might have any info about unattended install.

CC: @lennybacon

[2019-01-31 22:53] MightyPen commented on #1597
@lennybacon Hi Daniel, Here is the response from our engineering team:
.
"_Our best advice is to have users install Azure Data Studio with the User Setup Installation. This allows installation on machines without needing admin permissions, as well as a better auto-update scenario._"
.
Thanks for inquiring.  I am closing this Issue 1597 now.
If further communications are needed, the @ notification

[2019-01-31 23:01] MightyPen commented on #1572
@androidand Hello Andreas,  This Issue 1572 is more of a Support request than a clear documentation bug.  In these MicrosoftDocs/* repository Issues we are limited to servicing documentation problems.  Below I am providing a list of alternative links to various resources, and perhaps one of these links will be useful to you.
I am now closing this Issue 1572.  Thank you.
.

- [All the ways to get h

[2019-01-31 23:01] #1572 closed

[2019-02-01 17:27] kristinaflorea opened #1603 "Resource Governor for Azure SQL (managed instance only)"
In the Overview https://docs.microsoft.com/en-us/sql/relational-databases/resource-governor/resource-governor?view=sql-server-2017 - the Azure SQL (managed instance only) is mentioned as supported.

By Enable Resource Governor, managed Instance is not mentioned any more.

Is it supported in Azure SQL MI or not?
Can I enable it as described here https://docs.microsoft.com/en-us/sql/relational-datab

[2019-02-01 19:39] CarlRabeler commented on #1603
Per this topic: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-features  resource governor is supported for SQL Database – managed instance only. For questions about enabling, for example, send mail to MDCS SQL Managed Instance PMs mdcssqlmipm@microsoft.com<mailto:mdcssqlmipm@microsoft.com>

If questions, ping me directly.
Carl

From: Gene Milener <notifications@github.com>
Sent:

[2019-02-02 00:05] MightyPen commented on #1603
@julieMSFT Julie, I see what you mean about the odd behavior of GitHub in the Labels editing you performed - GitHub is behaving oddly.  I will fix these labels as necessary in the coming day or two.
Oh, and I merged PR 8956, so I am closing this Issue 1603 as Fixed.
Thanks.
.
@kristinaflorea Thank you for bringing this documentation situation to our attention.  The fix should appear on live Docs b

[2019-02-02 00:05] #1603 closed

[2019-02-02 08:52] pmduda opened #1605 "Settings File Locations"
With change from SQL Ops to Azure DS settings file locations changed.  It is not sqlops buz azuredatastudio:

* Windows `%APPDATA%\azuredatastudio\User\settings.json`
* Mac `$HOME/Library/Application Support/azuredatastudio/User/settings.json`
* Linux `$HOME/.config/azuredatastudio/User/settings.json`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-02-04 06:01] MightyPen commented on #1605
@yualan Hi Alan, This week, before Friday Feb/08,.....
Can you please assess Issue 1605, concerning your article 'azure-data-studio/settings.md'.
Alan, when you have an assessment or other info, please enter your assessment into a new Comment box in this Issue 1605.  And when you do, please @ notify SteveStein and MightyPen (MightyPen is myself, = GeneMi).
Thanks a lot.
CC: @pmduda

[2019-02-04 06:46] MightyPen commented on #1605
@pmduda The fix for this Issue should go Live on Docs on Monday Feb/04, by perhaps early afternoon Pacific time (Seattle WA time).
PR 8965 fixes this Issue (in our private repo 'sql-docs-pr', sister of this public repo).
Thank you for bringing this situation to our attention!

[2019-02-04 06:46] #1605 closed

[2019-02-04 16:55] LarnuUK opened #1608 "LEAD/LAG Default description"
The description for the behaviour of the _default_ expression in [`LEAD`](https://docs.microsoft.com/en-gb/sql/t-sql/functions/lead-transact-sql?view=sql-server-2017)/[`LAG`](https://docs.microsoft.com/sql/t-sql/functions/lag-transact-sql?view=sql-server-2017) doesn't appear to be exactly correct:

This implies (at least to me) that if _scalar_expression_ evaluates to `NULL` then the value of _def

[2019-02-04 17:34] abair34 opened #1609 "Docker / SQL on Linux / MSSQL_AGENT_ENABLED in CTP 2.1 & CTP 2.2"
I'm having trouble getting the MSSQL_AGENT_ENABLED environment variable to work in the 2019 CTPs.

Using mcr.microsoft.com/mssql/server:2019-CTP2.1-ubuntu
AND mcr.microsoft.com/mssql/server:2019-CTP2.2-ubuntu

when the MSSQL_AGENT_ENABLED environment variable is set to true the SQL Agent is not enabled and /var/opt/mssql/mssql.conf file is not created.

Also will there be an option for disabling c

[2019-02-04 17:48] rothja commented on #1609
@abair34 Thanks for the question. Let me take a look at this and possibly get some input from some others here on this problem. So you're doing this on Docker containers? Did you try the same steps for 2017 containers to see if it works there? I'll try too. Thank you.

[2019-02-04 19:49] MightyPen commented on #1608
@MashaMSFT Hi Masha, this Issue 1608 might (?) involve the following article(s).....

https://docs.microsoft.com/sql/t-sql/functions/lead-transact-sql?view=sql-server-2017

https://docs.microsoft.com/sql/t-sql/functions/lag-transact-sql?view=sql-server-2017

CC: @LarnuUK  , @rothja

[2019-02-04 20:34] MightyPen commented on #1594
@CalinBunea Hello, It appears that a good exchange of information has been provided, and @ notification activity has subsided.  This Issue 1594 looks to have been successful.
Therefore, it is time to Close this Issue 1594.
However, this Issue 1594 can still be used for further @ notification Comments, if necessary.
Thank you reaching out to us with your question.  Closing now.
CC: @srutzky

[2019-02-04 20:34] #1594 closed

[2019-02-04 21:40] abair34 commented on #1609
Yes, I had previously verified with the following SQL 2017 images that the environment variables were working.

microsoft/mssql-server-linux:2017-CU5
microsoft/mssql-server-linux:2017-CU12-ubuntu

You can test in minikube with the following helm chart
https://github.com/helm/charts/tree/master/stable/mssql-linux

just modify mssql-linux\templates\deployment.yaml and add the following
            -

[2019-02-05 12:20] LarnuUK commented on #1608
I honestly thought I'd included the links @MightyPen . My bad, and thanks for confirming. I've added to the original post as well for clarity, but you are correct; those are the 2 documents I am referring to.

Many thanks.

[2019-02-05 17:49] rothja commented on #1593
@MattWohler Thanks. I'm fixing this today.

[2019-02-05 21:04] #1593 closed

[2019-02-05 21:06] rothja commented on #1497
@aqibsg So sorry for the delay. I do not know of another approach. Let me check with one more person and I'll get back to you. If we can't find an answer, I'd suggest filing this as a feature request on user voice. I'll provide the link after I get back to you.

[2019-02-05 22:32] ethanmoffat opened #1613 "Command syntax for step one under 'Configure SQL Server service keytab'"
Under step one for ['Configure SQL Server service keytab'](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-active-directory-authentication?view=sql-server-2017#configurekeytab), the step says to enter:

[code]

I had to enter (using my own domain/machine name)

[code]

The command was appending `@EWMOFFAT` automatically, where my domain had `@EWMOFFAT.LOCAL`. The error I received was `

[2019-02-05 22:47] abair34 commented on #1609
hi @rothja

I noticed that this issue seems to be specific to a helm deployment.  The helm deployments with 2017 images work but with 2019 it does not.

Interestingly if I directly connect to minikube and start a container with

docker run -e 'ACCEPT_EULA=Y' -e 'MSSQL_SA_PASSWORD=YourStrong!Passw0rd' -e 'MSSQL_AGENT_ENABLED=true' -p 1403:1433 -d mcr.microsoft.com/mssql/rhel/server:2019-CTP2.2
the

[2019-02-06 00:52] MashaMSFT commented on #1608
Hi @LarnuUK , thanks for bringing this to our attention! Let me look into this a bit more. Thanks!

[2019-02-06 13:47] rothja commented on #1613
@ethanmoffat Thanks for the feedback. What Linux distribution are you running these commands on? It looks like from the error it was appending EWMOFFAT rather than CONTOSO? Or were your commands all using EWMOFFAT.COM in actuality? @Dylan-MSFT I might need your help to investigate this as we get more information. Maybe, we should be explicit and add @CONTOSO.COM to the end of the command anyway. T

[2019-02-06 14:07] abair34 commented on #1609
Hi @rothja

I took helm out of the mix and went to a straight kubernetes deployment and the issue still occurs.

repro:
remove the .txt extensions so the files are all .yaml

kubectl create secret generic mssql --from-literal=SA_PASSWORD="MyStrongPassword1234"
kubectl apply -f pv.yaml
kubectl apply -f pvc.yaml
kubectl apply -f sqldeployment.yaml

connect and the agent will be disabled
switch to sq

[2019-02-06 14:29] Dylan-MSFT commented on #1613
Ethan. contoso.com is a placeholder domain we use for our docs. Everywhere you see it, it should append you actual domain name. If no domain name is being appended, check /etc/krb5.conf. In the [libdefaults] section, check what default_realm is set to. It should be your domain in all uppercase (i.e. EWMOFFAT.LOCAL).

[2019-02-06 16:22] rothja commented on #1609
@abair34 Thanks for the additional details. I'm reaching out to other contacts in the product team to ask about this. So the details are useful. Just to be clear, when you say that the agent is not enabled, are you verifying this by running "env" to see the environment variables that are set? And you see the other variables for the container but not the agent one? Thanks!

[2019-02-06 16:23] ethanmoffat commented on #1613
Sorry for the confusion, that was a copy/paste error. I updated the original post to use my actual domain/machine name.

[2019-02-06 16:35] rothja commented on #1613
@ethanmoffat Thanks.  So did you check the default_realm per Dylan's comments to make sure it is  EWMOFFAT.LOCAL and not just EWMOFFAT? Thanks!

[2019-02-06 16:37] ethanmoffat commented on #1613
I'll check when I have access to the system (it's on my home network) and report back.

[2019-02-06 16:40] rothja commented on #1497
@aqibsg , One question: have you considered using Kubernetes rather than pcs for the HA solution in Docker? We have an article on this: https://docs.microsoft.com/en-us/sql/linux/tutorial-sql-server-containers-kubernetes?view=sql-server-2017. I checked internally and I don't think we've tested the pcs option or know whether it would be workable. Again, apologies for the long delay.

[2019-02-07 00:01] abair34 commented on #1609
@rothja

I verify that the SQL agent a few ways, the error log does not show agent_xps enabled and connecting with SSMS to the instance shows the sql agent with the red disabled icon on it and it says (Agent XPs disabled).

I did run "env" within the container just to be absolutely sure that kubernetes actually passed the environment variable in.

Thanks for passing the info about the issue on.  I

[2019-02-07 04:14] hien0024 opened #1615 "Date conversion issue"
Hello.
I converted date-string, '0001/01/01', into DT_DBDATE using [Cast](https://docs.microsoft.com/en-us/sql/integration-services/expressions/cast-ssis-expression?view=sql-server-2017) at SSIS package.
It should be converted into '0001-01-01' but it was converted into '2001-01-01'.

According to ['this mapping'](https://docs.microsoft.com/en-us/sql/integration-services/data-flow/integration-serv

[2019-02-07 09:38] MajidSafari opened #1617 "DISTINCT in string-agg"
hi

who can i use DISTINCT in  string-agg ?

[2019-02-07 09:42] MightyPen commented on #1615
Jason, The links provided by hien0024 look like the following when fully spelled out:

- https://docs.microsoft.com/sql/integration-services/expressions/cast-ssis-expression?view=sql-server-2017
- https://docs.microsoft.com/sql/integration-services/data-flow/integration-services-data-types?view=sql-server-2017#mapping-of-integration-services-data-types-to-database-data-types
- https://docs.microso

[2019-02-07 11:21] gotqn commented on #1617
[code]

[2019-02-07 12:16] MajidSafari commented on #1617
i want  use

`select STRING_AGG (DISTINCT F.Firstname + ' ' + F.LastName,',')`

??

[2019-02-07 15:40] rothja commented on #1615
@hien0024 Thank you for the question on the docs. I read through the blog post you pointed to. However, in that case, the problem only happened when they converted to a type that didn't support 0001, such as DT_DATETIME. The strange thing is that in this example, their DT_DBDATE conversion worked correctly in the screenshot output. So, I agree with you that it seems like it should work. I am going

[2019-02-07 15:50] rothja commented on #1617
@MajidSafari Thanks for the question. Unfortunately, doc issues are not the best place to get help with syntax questions. They are mainly for suggesting corrections/improvements to the docs. However, the following links are to resources that might be able to provide help in this case:

- [All the ways to get help](https://docs.microsoft.com/sql/sql-server/sql-server-get-help)
- [UserVoice - Sugges

[2019-02-07 15:50] #1617 closed

[2019-02-08 10:55] jn-altius opened #1624 "Minimizse the Results and Messages panes"
How can we hide the Results and Messages panes so that the code editing pane is maximized?

In SSMS this was Ctrl + R

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6d68e91-6a5b-7f3b-0e72-1b88691b0c72
* Version Independent ID: 6f4e07e3-eb0b-cd4c-cc82-399e4a2ad715
* Content: [Tutorial: Use the Transact-SQL editor to cr

[2019-02-08 15:29] rothja commented on #1624
@jn-altius Thanks for the question. Git issues in the repo are mainly for doc feedback on errors or enhancements to the articles. So this would probably be best answered in other forums like StackOverflow. However, I did look at Azure Data Studio, and there are several options to toggle full screen or to turn different panels on or off. Did you try these from the menu?

Also, if you go to File | P

[2019-02-08 15:42] rothja commented on #1613
@ethanmoffat Awesome. @Dylan-MSFT Do you see a need to either make the command more explicit or to provide a sentence on troubleshooting this problem? Or should we leave it for now and see if this becomes a repeated issue. Thanks!

[2019-02-08 15:43] jn-altius commented on #1624
Thanks.

Though I can't see any option in File -> Preferences that affects the behaviour of the Results pane.

Ah well, never mind.

[2019-02-08 15:53] rothja commented on #1497
@aqibsg I don't think we have a good answer on this now other than to potentially try the kubernetes solution for this instead of pcs. But I know that might not be feasible for you. I have passed this request on to the product team as a feature request for future investigation and testing. I apologize that we don't have a better answer. Thanks for asking.

[2019-02-08 15:53] #1497 closed

[2019-02-08 15:54] rothja commented on #1624
@jn-altius Take a look at the keyboard shortcuts (under File | Preferences). I found a bunch of toggle commands that don't show up in the menu. It looks like SHIFT + WINDOWS + R might be what you need to hide the results pane. I hope this helps! I'm closing this issue now. Thanks.

[2019-02-08 15:54] #1624 closed

[2019-02-08 16:00] Dylan-MSFT commented on #1613
I can update the docs when I get a minute. I will add instructions for updating default_realm in krb5.conf so that this doesn't happen in the future.

[2019-02-08 16:27] rothja commented on #1613
@Dylan-MSFT Thanks. @ethanmoffat I'm closing this issue now. Appreciate the feedback.

[2019-02-08 16:27] #1613 closed

[2019-02-08 18:20] MikeRayMSFT commented on #1570
@ankitcid  Our GitHub Issues for documentation cannot provide the kind of response that this particular Issue seeks. Documentation Issues are for things such as errors in the written documentation.

I am reviewing this request to see if the fix will be delivered through documentation, or changing the product. I will update.

However, the following links are to resources that might be able to provi

[2019-02-09 10:37] MightyPen commented on #1593
@rothja Jason, a little reminder to update the Issue's label when closing the Issue.
This always means the final label will be one named like 'Issue-Outcome-*'.

And we never have more than just one label on the Issue at any one time.
Thx G    (Issue 1593)

[2019-02-09 10:42] MightyPen commented on #1540
@craigg-msft , @rothja Craig and Jason, to my surprise, for this Issue 1540, the person who opened the Issue later Closed it.  We do not want this.  I am unsure if we can alter the permissions to prevent the public person who creates-opens the Issue from being able to Close it?

I noticed this closure, and was thereby able to fix the final label.

[2019-02-09 20:30] astrohart opened #1627 "No docs for SUPPRESSPRIVACYSTATEMENTNOTICE parameter when installing SQL Server 2017 from the command line"
In the doc:  sql-docs/docs/database-engine/install-windows/install-sql-server-from-the-command-prompt.md

There is no documentation/explanation of what the SUPPRESSPRIVACYSTATEMENTNOTICE parameter does. Did a search on the Microsoft Docs website on this term, did not find any hits.  For completeness' sake, I respectfully suggest that docs be added for it.

[2019-02-09 20:32] astrohart opened #1628 "No docs for QUIETSIMPLE and QUIET parameters"
In the doc: sql-docs/docs/database-engine/install-windows/install-sql-server-from-the-command-prompt.md

There is no documentation for the parameters QUIET and/or QUIETSIMPLE.  These parameters are written to the ConfigurationFile.ini by the SQL Server Setup Wizard and yet there is no mention of either of these values on the Microsoft Docs site -- at least, none that I could pull up utilizing the

[2019-02-09 20:34] astrohart opened #1629 "Docs do not indicate what the value set for /Q and /QS is"
Related to #1628

In the doc: sql-docs/docs/database-engine/install-windows/install-sql-server-from-the-command-prompt.md

It is ambiguous as to whether you simply specify /Q and/or /QS on the command-line of SQL Server 2017 Setup when installing from the Command Line, or if they have possible values of "True" and "False."

In my ConfigurationFile.ini written for me by the Setup Wizard, I see:

[c

[2019-02-09 21:25] astrohart opened #1630 "Docs say to specify /MPYCACHEDIRECTORY for offline, command-line install of Microsoft Machine Learning Services; however, the installer says this flag is not supported."
In the docs:  sql-docs/docs/advanced-analytics/install/sql-ml-component-commandline-install.md

Under the [Command-line arguments section](https://docs.microsoft.com/en-us/sql/advanced-analytics/install/sql-ml-component-commandline-install?view=sql-server-2017#command-line-arguments) it says:
[code]
However, I specified this flag, and I received the error:
[code]
Something is wrong here....either

[2019-02-09 21:38] astrohart commented on #1630
Update:

I am attaching the Summary.txt from that run and also a ZIP of the detail logs and data, for the purposes of facilitating analysis.

[Summary.txt](https://github.com/MicrosoftDocs/sql-docs/files/2848282/Summary.txt)

[20190209_161646.zip](https://github.com/MicrosoftDocs/sql-docs/files/2848295/20190209_161646.zip)

[2019-02-09 23:18] MightyPen commented on #1630
@HeidiSteen Hi Heidi, This Issue 1630 concerns an article that you own.
@astrohart has given a good explanation of his concern.

- _GitHub:_ &nbsp; [https://github.com/MicrosoftDocs/sql-docs-pr/blob/master/docs/advanced-analytics/install/sql-ml-component-commandline-install.md](https://github.com/MicrosoftDocs/sql-docs-pr/blob/master/docs/advanced-analytics/install/sql-ml-component-commandline-ins

[2019-02-09 23:32] MightyPen commented on #1629
@MashaMSFT Hi Masha, This Issue 1629 is very closely related to your other Issue 1628, which is also from @astrohart.

- _GitHub:_ &nbsp; [https://github.com/MicrosoftDocs/sql-docs-pr/blob/master/docs/database-engine/install-windows/install-sql-server-from-the-command-prompt.md](https://github.com/MicrosoftDocs/sql-docs-pr/blob/master/docs/database-engine/install-windows/install-sql-server-from-th

[2019-02-09 23:35] MightyPen commented on #1628
@MashaMSFT Hi Masha, This Issue 1628 is very closely related to your subsequent other Issue 1629 (same .md article).

- _GitHub:_ &nbsp; [https://github.com/MicrosoftDocs/sql-docs-pr/blob/master/docs/database-engine/install-windows/install-sql-server-from-the-command-prompt.md](https://github.com/MicrosoftDocs/sql-docs-pr/blob/master/docs/database-engine/install-windows/install-sql-server-from-the

[2019-02-09 23:37] MightyPen commented on #1627
@MashaMSFT Hi Masha, This Issue of your's, 1627, concerns the same .md article as in Issues 1628 and 1629.

CC: @astrohart

[2019-02-11 00:57] alkanalkn63 opened #1631 "Geri getirme"
Facebook instigram videolar trackview dosyalarim fotograflarim mesajlarim

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92039d2f-79be-5b42-a880-d2992ce8a151
* Version Independent ID: ef7c0d04-a65f-28e0-3935-3dac80fb13c2
* Content: [What's New in SQL Server 2016 - SQL Server](https://docs.microsoft.com/en-us/sql/sql-se

[2019-02-11 17:22] MashaMSFT commented on #1631
Hi @alkanalkn63 , I may be wrong here but this does not seem to be a question. I will proceed with closing out this Git Issue, but please feel free to contact us if you need any assistance. Thanks!

[2019-02-11 17:22] #1631 closed

[2019-02-11 17:47] MashaMSFT commented on #1627
Hi @astrohart , thanks for contacting Microsoft and bringing this to our attention! Let me do a little research... Thanks!

[2019-02-11 17:47] MashaMSFT commented on #1628
Hi @astrohart , thanks for contacting Microsoft and bringing this to our attention! Let me do a little research... Thanks!

[2019-02-11 17:47] MashaMSFT commented on #1629
Hi @astrohart , thanks for contacting Microsoft and bringing this to our attention! Let me do a little research... Thanks!

[2019-02-11 17:56] MashaMSFT commented on #1628
Hi @astrohart , the explanation for /quiet and /quietsimple can be found in the doc that @MightyPen pasted:   https://docs.microsoft.com/sql/database-engine/install-windows/install-sql-server-from-the-command-prompt?view=sql-server-2017

SQL Server Setup Control | /Q | Specifies that Setup runs in a quiet mode without any user interface. This is used for unattended installations.
SQL Server Setup

[2019-02-11 18:37] astrohart commented on #1628
Don’t reply to me, update the docs.

The question is whether /Q and /QS have any values (/Q=“True” or just /Q — the docs should say which).

Also, can /Q and /QS both be specified?  Docs do not say, and do not say which has precedence.

Also, there is no documentation whatsoever for the /QUIET and /QUIETSIMPLE parameters which are present in Config.ini

Regards,

Brian C. Hart, Ph.D.
CEO, xyLOGIX,

[2019-02-11 19:18] MashaMSFT commented on #1628
Hi @astrohart , yes, I am already working on editing the content.

/quiet and /q are the same parameter, as are /quietsimple and /qs. The parameter  you use is /q, it enables the /quiet installation. I believe both  (/q and /quiet as well as /qs and quietsimple) can be used interchangeably but I'm getting confirmation before updating the docs, as per your request.

There is an example of how to us

[2019-02-11 21:48] astrohart commented on #1628
Thanks for alerting me about the PII I have removed it.

And as regards the parameters, I think that I myself am very much aware about how they work so it’s not really necessary to explain it to me, however, it would be proper to make sure the documentation is clear.

[2019-02-12 01:44] hien0024 commented on #1615
@rothja  Thank you. I tried converting the following. 0001→2001, 0002→2002, 0009→2009, 0020→2020, 0029→2029, 0030→1930, 0099→1999, 0100→0100, 1000→1000, 1001→1001. Judging from these, boundaries are 0100 and 0099, 0030 and 0029. Maybe this is not so important, 0000 was converted into 2000.

[2019-02-12 03:01] craigg-msft commented on #1628
Thank you @astrohart  .One of the reasons Masha went into detail is the issues are public and others may read and learn from a complete reposne.  You are also welcome and encouraged to contribute directly to topics by submitting a PR. To do so, you click the Edit button in the upper right of of the tiopic,  More info at https://docs.microsoft.com/en-us/sql/sql-server/sql-server-docs-contribute?vie

[2019-02-12 13:46] rothja commented on #1615
@hien0024 Thanks! I am still trying to find the right person to answer this or file it as a bug. Is there any work around that you have right now for the problem, or is this blocking you?

[2019-02-13 02:19] hien0024 commented on #1615
@rothja Sorry, but I have not found a versatile workaround yet. I convert '0001/01/01' into NULL now. I tried to convert it into DT_DBDATE with Derived Column Transformation and Data Conversion Transformation. But neither of them work as expected.

[2019-02-13 09:42] DerSandmann-Badcode opened #1638 "Documentation Does not work"
The SQL Operations Studio debug extension tries to run 'sqlops', however the program has been renamed to 'azuredatastudio' - No link to any other updated documentation, sqlops is labelled as deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7daeef2-a818-fc7f-88b8-6a8b5fabb2c1
* Version Independent ID: 87a54b8

[2019-02-13 18:36] kevcunnane commented on #1638
I'll look at updating this extension as a solution.

[2019-02-13 23:15] jzabroski opened #1640 "SET SINGLE_USER doc confuses most engineers I work with"
https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/relational-databases/databases/set-a-database-to-single-user-mode.md

@MightyPen Hope 2019 is treating you well :)

There are a couple of problems with this documentation:
1. Even Microsoft SQL Server MVPs have hard a hard time reading this documentation correctly. I worked with one vendor where it took them 9 months to fix a bug related to

[2019-02-13 23:26] jzabroski commented on #1640
One last comment.  The vendor I work with also, prior to eventually fixing the issue based on the convoluted documentation, suggested that the issue was fixable by doing the following:

[code]

This was claimed to be the "undocumented" solution by the Microsoft SQL Server MVP for about 6 months.

This advise appears to come adapted from the following blog/website: https://sqlstudies.com/2017/02/16

[2019-02-13 23:32] MightyPen commented on #1640
@jzabroski Hi John, Thanks for this detail. This is an important documentation article, so we would like to make all necessary improvements to it as soon as we can.
To set expectations, it will be weeks, hopefully not months, before we can take a close look at this Issue 1640 and the docu article. We have far more work to do than we have resources to get to everything promptly  :-)
.
CC: @steveste

[2019-02-14 00:57] danieljaksa opened #1641 "EPSG"
Hi Craig,

I'm the Geodetic Datum Manager at Geoscience Australia and I have received advice from a colleague in the New South Wales Government that Microsoft SQL Server does not yet accommodate Australia's new geodetic datum, the Geocentric Datum of Australia 2020 (GDA2020). Can you please let me know if the next version of SQL Server (2019?) will update from the [EPSG Geodetic Parameter Dataset]

[2019-02-14 02:36] danieljaksa commented on #1641
Apologies Criag,

I mean't to say "... will update **from** the [EPSG Geodetic Parameter Dataset](http://www.epsg-registry.org/), or ..."

Kind Regards
Dan

[2019-02-14 11:20] MightyPen commented on #1641
@MashaMSFT Hi Masha, Ping me and I can explain how you, as this week's Triager, should process and update this type of GitHub Issue (1641).  Thx G

[2019-02-14 16:09] tdhintz opened #1645 "broken link"
Query Notifications Related Dynamic Management Views (Transact-SQL) link doesn't go anywhere.

[2019-02-14 18:55] MashaMSFT commented on #1645
Hi @tdhintz , thanks for contacting Microsoft! I'm assuming you mean on this page? https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/system-dynamic-management-views?view=sql-server-2017

Thanks for bringing this to our attention! It actually looks like a few links here are broken. I'll get these fixed :)

[2019-02-14 18:57] MashaMSFT commented on #1641
@craigg-msft FYI

[2019-02-14 21:50] MashaMSFT commented on #1641
Hi @danieljaksa , thanks for contacting Microsoft! This is really something that should be requested via User Voice https://aka.ms/sqlfeedback. However, as a courtesy, I'll ask around a bit to see if I can find any more information about existing plans for SQL Server 2019. Thanks!

[2019-02-14 22:01] danieljaksa commented on #1641
Thank you @MashaMSFT,

Much appreciated.  I attempted going through various support avenues, but the contact and support links went litterally around in circles or with a "Gateway Timeout".  You are my only hope (Obi Wan) :)

Kind Regards
Dan

[2019-02-14 22:39] MashaMSFT commented on #1641
Hi @danieljaksa , can you please confirm if this is referring to spatial data? You're asking if the spatial data coordinates are going to updated to the GDA2020 version, right? Thanks!

[2019-02-14 22:54] danieljaksa commented on #1641
Thanks @MashaMSFT,

Yep, that's correct, I'm referring to spatial data. To use the SQL Server parlance "geography".  All spatial coordinates (latitude, longitude or X, Y, Z or eastings and northings) must use a coordinate reference system (CRS). The geodetic parameters that define these CRS's used around the world can be found in the [EPSG Geodetic Parameter Dataset](http://www.epsg-registry.org/)

[2019-02-14 23:24] MashaMSFT commented on #1641
Hi @danieljaksa ,

We'd like to get a bit more information about this. Would you mind emailing me directly at masha.thomas@microsoft.com? Thanks!

[2019-02-14 23:55] kevcunnane commented on #1638
OK - have fixes out, need to update the doc now that the tools are all published

[2019-02-15 00:03] danieljaksa commented on #1641
Will do.

[2019-02-15 00:20] MashaMSFT commented on #1641
Hi @danieljaksa , thanks again for bringing this to our attention! We will work online to research this further, and I will proceed with closing out this Git Issue at this time. Thanks!

[2019-02-15 00:20] #1641 closed

[2019-02-15 12:18] thda opened #1648 "clarify licensing"
I see two licenses, one for the code, the other for the documentation.

However, after reading ThirdPartyNotices, what is considered as code, and what is considered part of the documentation is not clear.
For example it is my understanding that syntax definitions (as EBNF here) considered as documentation and CC licensed. But it is ambiguous.
Is there an attribute in markdown to separate MIT and C

[2019-02-15 12:22] pszafer commented on #1462
I have similar problem as author and logs are useless for this situation.
My OS is CentOS 7.
I can cross-login from linux joined domain with sssd via sqlcmd but cannot login from Windows machines.

I know that this issue is more about docs, but for me it is not clear if you shouldn't be using
[code]
instead of
[code]
other docs are pretty clear to use DOMAIN\user.
You could add desired output of c

[2019-02-15 14:06] flybyray opened #1649 "mcr is not reliable, please provide docker registry as a backup source"
There is no status page for the mcr and the pull will fail currently.
[code]
using the latest tag it is possible to resolve at least the tag, but the pull fails too.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b152444b-dfb8-5cbe-cf45-9830bd085a68
* Version Independent ID: 31719660-d4d0-7f63-efcc-846c822a63c2

[2019-02-15 14:10] #1649 closed

[2019-02-15 17:31] kevcunnane commented on #1638
@DerSandmann-Badcode FYI to unblock you while I wait for private docs repo PR to merge/ get published:

New yeoman generator is
`npm install -g yo generator-azuredatastudio`

then run
`yo azuredatastudio`

This will then update the runtime executable target to `azuredatastudio`. I also updated the debug extension for VSCode to be `Azure Data Studio Debug`. Thanks again for raising this.

[2019-02-16 10:26] MightyPen commented on #1648
@thda Hello Thomas, I do not understand what this Issue 1648 is about.
Where do you see "two licenses"? Link?
What documentation article is this Issue 1648 referring to (on docs.microsoft.com)? Link?
Can you please provide more information, and more clarity, for this Issue 1648.
EBNF = (extended Backus-Naur form)
CC = ??
MIT = ??
Thanks.

[2019-02-16 10:41] thda commented on #1648
Hi, and thanks for taking the time to answer.

CC BY 4.0 is [this license](../blob/live/LICENSE)
MIT is [this license](../blob/live/LICENSE-CODE)

Which one does apply to what content ?
I think [this](../blob/live/ThirdPartyNotices) tries to address the issue.
It says:

in this repository under the [Creative Commons Attribution 4.0 International Public License](https://creativecommons.org/licenses

[2019-02-16 10:48] MightyPen commented on #1649
@rothja Hi Jason, a customer opened this Issue 1649, but then soon Closed it on his own.  OK.

&nbsp;

Just FYI, the Issue had been about a SQL Linux article:
- docs/linux/quickstart-install-connect-docker.md

[2019-02-16 10:52] MightyPen commented on #1641
@danieljaksa Hi Daniel, Here is a set of links about other ways to contact Microsoft or to get more info. Perhaps one of these links might be more useful to you for this particular inquiry, than this documentation Issues webpage can be.
Thanks.

- [All the ways to get help](https://docs.microsoft.com/sql/sql-server/sql-server-get-help)
- [UserVoice - Suggestion to improve SQL Server?](https://feed

[2019-02-16 11:56] flybyray commented on #1649
sorry was due to wrong docker engine on fedora 29 - package `moby-engine` is not working as expected.

[2019-02-16 12:46] eliassal commented on #1462
pszafer, this is becoming more and more confusing, every réponse in this thread adds a new complexity and confusion. Isn't there around an MS expert who can respond and let us know if it is valid or not? I can see a lot of MVPs, experts hanging around, doing webinars, conferences on "SQL on linux.......", even I came across a thread "SQL on linux setup best practices" where I also posted my questi

[2019-02-16 12:53] pszafer commented on #1462
@eliassal one thing I know. It is possible to connect using domain account. I have one installation which is working properly on other domain.
But if something is wrong, logs output are pointless... because logs in some way telling you that your joining steps were wrong, so you repeat those steps every time and you are confused, what is hostname of machine, what is local username of linux machine,

[2019-02-17 07:32] HappymediaDz opened #1652 "Link to the Power Query - Overview Training page"

[2019-02-17 07:32] HappymediaDz opened #1653 "Link to the Power Query - Overview and Learning page"

[2019-02-17 07:38] HappymediaDz commented on #1653
If a user have set its regional parameters to French, when he hit the link to the Power Query - Overview and Learning page he land to the Power Pivot - Overview and Learning French version page (https://support.office.com/fr-fr/article/power-pivot-présentation-générale-et-formation-ed614c81-4b00-4291-bd3a-55d80767f81d?ui=fr-FR&rs=fr-FR&ad=FR). Please include in the url the /en-us/ to insure that t

[2019-02-17 11:32] MightyPen commented on #1652
Closing.  See instead Issue #1653 !

[2019-02-17 11:32] #1652 closed

[2019-02-17 11:32] MightyPen commented on #1653
@jmazzotta @meganbradley @ishasahni1

Hello DevRel PMs,    Please would one of you bring this Issue 1653 to the attention of a PM who works on the new "Learning" thang, Triple Crown I guess?

If a Learning project PM has a response for the customer about this Issue 1653, it would be great for the PM to respond by using the @ notification mechanism, here in Issue 1653.
Ideally also @ MightPen (me =

[2019-02-17 11:56] MightyPen commented on #1648
@craigg-msft Hi Craig,
The point of Thomas's question is, for repository 'MicrosoftDocs/sql-docs', - _Are the Transact-SQL BNF syntax diagrams under the CC license or under the MIT license?_
Or put another way, are our T-SQL syntax diagrams considered to be "code" or not?

Craig, do you know whom we should ask for an answer?

Thanks.    GeneMi

[2019-02-17 22:31] #1638 closed

[2019-02-17 23:56] danieljaksa commented on #1641
Thanks Gene,

Much appreciated.  I’ll see how I get on.

Kind Regards,
Dan

Daniel Jaksa |  Datum Manager |  National Geodesy Section
National Positioning Infrastructure Branch  |  Positioning and Community Safety Division

t +61 2 6249 9685    m +61 (0) 438 245 637    @danksa<https://twitter.com/danksa>    www.ga.gov.au<http://www.ga.gov.au/>

[16-9481 GA Email Signature_social media-04]<http://w

[2019-02-18 05:25] ishasahni1 commented on #1653
@SunnyDeng as she is the Learn Loc PM.

[2019-02-19 12:36] aprotsenko opened #1656 "Broken link to WMI Perf Counter Types on 'sys.dm_os_performance_counters' page"
In the description for cntr_type, there's a link to WMI Performance Counter Types article on MSDN. Link: https://msdn2.microsoft.com/library/aa394569.aspx. Browser says that it can't reach it. Seems like it's a typo -- when I remove '2', the links works well -- I get redirected to the right article on docs.

so. the right link is: https://msdn.microsoft.com/library/aa394569.aspx

[2019-02-19 13:02] chanmmn opened #1657 "What is the difference between User installer and System Installer?"
What is the difference between User installer and System Installer? Can you explain it somewhere in the document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811ed1f4-1c78-aa1b-e752-307250ca8eb7
* Version Independent ID: f36629bf-b2e6-4993-7c77-32fa311ea942
* Content: [Download and install - Azure Data Studio](https

[2019-02-19 13:44] mikerodionov opened #1658 "Issue with link under - Comparing FILESTREAM and Remote BLOB Store (RBS)"
sql-docs/docs/relational-databases/blob/compare-options-for-storing-blobs-sql-server.md

Link listed under "Comparing FILESTREAM and Remote BLOB Store (RBS)" does not work - it leads to non existing/disabled page on MSDN blogs, where we can see the following result:

Oops! That page can’t be found.
This page has been disabled.

[2019-02-19 13:46] MightyPen commented on #1657
@yualan HI Alan, the documentation article says a major difference between User vs System installers involves 'administrator privileges', but is there more we can say?:
_"User Installer (recommended)_
_The user installer is recommended because it does not require administrator privileges, which simplifies both installs and upgrades."._

For example, can we say that, after a User install, only that

[2019-02-19 13:55] MightyPen commented on #1658
I am inquiring with Pam L.

[2019-02-19 13:57] DatStone opened #1659 "Needs 9 bytes to save a datetime2 value (SQL Server 2014, 2016 and 2017)"
Storage size|6 bytes for precisions less than 3; 7 bytes for precisions 3 and 4. All other precisions require 8 bytes.|

see
DECLARE @context VARBINARY(128);
DECLARE @fileID INT = 1000;
DECLARE @actionLogId INT = -1000;
DECLARE @processingStart DATETIME2(7) = SYSDATETIME();

SET @context = CAST(@fileID AS BINARY(4)) --fileid on process
               + CAST(@actionLogId AS BINARY(4)) --IDENTITY in

[2019-02-19 14:07] MightyPen commented on #1656
@aprotsenko Hello, The following article, which was migrated from MSDN to the new Docs platform, is indeed the target-by-redirection of the 'aa394569' link you give in this GitHub Issue:

- [https://docs.microsoft.com/windows/desktop/WmiSdk/wmi-performance-counter-types](https://docs.microsoft.com/windows/desktop/WmiSdk/wmi-performance-counter-types)
   - "WMI Performance Counter Types"

But all l

[2019-02-19 14:25] aprotsenko commented on #1656
I forgot to do the most important thing – give you the link to the mentioned article =) Here it is: https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-os-performance-counters-transact-sql?view=sql-server-2017

[2019-02-19 19:25] SunnyDeng commented on #1653
When I looked at the issue, the issue was created based on sql-docs, the contributor reported one of SQL-DOCS pages jumps to power-pivot page (fr-fr) instead of power-query page (en-us), so he requested us to add “/en-us/” in the link of the fr-fr page. Despite whether the request is reasonable or not, I think this report has nothing related with MS Learn project. The SQL Server Loc PM should look

[2019-02-19 19:43] VanMSFT commented on #1659
Hi @DatStone, can you please clarify this request, and what article(s) you are referencing?

[2019-02-19 19:48] DatStone commented on #1659
https://docs.microsoft.com/en-us/sql/t-sql/data-types/datetime2-transact-sql?view=sql-server-2017

about this paragraph

Storage size | 6 bytes for precisions less than 3; 7 bytes for precisions 3 and 4. All other precisions require 8 bytes.
-- | --
You need 9 bytes?

[2019-02-19 20:02] VanMSFT commented on #1659
Thanks @DatStone. @MikeRayMSFT - Please take a look.

[2019-02-20 13:41] lennybacon commented on #1597
@MightyPen That is absolutely not helpful of your engineering team!

You might tell them about things like `SCCM`, `the cloud` and `containers` or even `automation` which are pretty helpful things when working as an engineer ;-)

Nonetheless, here is the command line that works for an unattended installation:

[code]

[2019-02-20 20:43] MightyPen commented on #1597
@yualan Alan, Here in Issue 1597, the customer has replied with further thoughts and information that you and Steve might want to consider for the documentation article.  Please see his preceding Comment box.
Thanks.

CC: @stevestein

[2019-02-20 23:55] alekseybochkov opened #1668 "Broken link to download ODBC driver 17"
This link doesn't exist:
Download the Microsoft ODBC Driver 17 for SQL Server on Windows
https://www.microsoft.com/download/details.aspx?id=56567

[2019-02-21 00:50] MightyPen commented on #1597
I am reOpening this Issue 1597.
Due to current resourcing situations, this Issue 1597 might have to wait longer than usual to be more fully addressed.

[2019-02-21 00:55] MightyPen commented on #1668
@alekseybochkov Hi Alexey, thanks for reporting this.  From you we also need info about Where you encountered this failing link.

[2019-02-21 01:29] alekseybochkov commented on #1668
Oh.. that definitely gonna make things easier
https://docs.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-2017

It turned out that link is valid, but the issue was with the download web-site.

[2019-02-21 01:29] #1668 closed

[2019-02-21 09:50] AnyiYang opened #1669 "Issue on configuration steps for Jave language extension in SQL Server 2019"
We totally follow the steps in the following document:

https://docs.microsoft.com/en-us/sql/advanced-analytics/java/java-first-sample?view=sqlallproducts-allversions

But failed to run the sp_execute_external_script sample in the document successfully under both jdk11.0.1 and jdk 10.0.2. The error message is shown as the following:

Msg 39004, Level 16, State 20, Line 1
A 'Java' script error occu

[2019-02-21 14:35] ArisPavlides opened #1670 "connect locally with sqlcmd."
You might want to specify that, to connect locally with sqlcmd, the following must be executed:

/opt/mssql-tools/bin/sqlcmd -S localhost -U SA -P 'myPassword'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b152444b-dfb8-5cbe-cf45-9830bd085a68
* Version Independent ID: 31719660-d4d0-7f63-efcc-846c822a63c2
* Content: [G

[2019-02-21 17:00] ghotz opened #1671 "Incorrect version for dynamic data masking initial support"
Dynamic data masking was introduced in SQL Server 2016 (13.x), not in 2017 (14.x)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48cb4a50-bcd6-38bc-187b-27cc36576219
* Version Independent ID: 38c1d92e-25d6-6237-9a04-6ca13bbb1a09
* Content: [What's new in SQL Server 2019 - SQL Server](https://docs.microsoft.com/en-us/sq

[2019-02-21 19:29] ravesonly opened #1672 "SSRS performance speeds between Standard and Enterprise"
Hi,

Is performance speeds for SSRS report generation going to be exactly same across Standard edition vs Enterprise given all other hardware architecture remain same from data center?
I see "RDBMS Scalability and Performance" showing Resource Governers are not available for Standard edition, will it affect the report generation performance between Standard vs Enterprise at all, and if yes, How?

[2019-02-21 19:45] bpe78 opened #1673 "There is a typo in multiple places: it should read DACPAC instead of BACPAC"
There is a typo in multiple places: it should read DACPAC instead of BACPAC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2970c02d-0e5e-fd3c-f83c-dfafcb7ae0c2
* Version Independent ID: 32832120-0a84-7ebf-c9b3-1478dd1cf03e
* Content: [Export and import a database on Linux - SQL Server](https://docs.microsoft.com/en-us/

[2019-02-21 20:00] MashaMSFT commented on #1627
Hi @astrohart , thanks for bringing this to our attention! I have added a note about the  /SUPPRESSPRIVACYSTATEMENTNOTICE parameter to our documentation. I will proceed with closing this Git Issue,  but please feel free to respond here if you have any further suggestions. Thanks again!

[2019-02-21 20:00] #1627 closed

[2019-02-21 20:02] MashaMSFT commented on #1628
Hi @astrohart , thanks for bringing this to our attention! I have added a note indicating that you can use either /Q or /QUIET and /QS or /QUIETSIMPLE as a parameter. I will now proceed with closing out this Git Issue but please feel free to comment here if you feel something further needs to be added. Thanks again!

[2019-02-21 20:02] #1628 closed

[2019-02-21 20:06] MashaMSFT commented on #1629
Hi @astrohart , thanks for bringing this to our attention! The documentation indicates what the different parameters are:

![image](https://user-images.githubusercontent.com/32783170/53198221-b3f29500-35d0-11e9-93d4-5f7139520eae.png)

For the values that require a "true" or "false", the documentation explicitly states so:
![image](https://user-images.githubusercontent.com/32783170/53198254-cbca190

[2019-02-21 20:06] #1629 closed

[2019-02-21 20:07] MashaMSFT commented on #1645
Hi @tdhintz , thanks again for bringing this to our attention! I have updated the documentation and the links should be fixed now. I will proceed with closing out the Git Issue,  but please feel free to comment if you need anything further.

[2019-02-21 20:07] #1645 closed

[2019-02-21 20:36] MightyPen commented on #1670
@ArisPavlides  I think the article is already specifying this, at H2 "Change the SA password":

- [https://docs.microsoft.com/sql/linux/quickstart-install-connect-docker?view=sql-server-2017&pivots=cs1-bash#sapassword](https://docs.microsoft.com/sql/linux/quickstart-install-connect-docker?view=sql-server-2017&pivots=cs1-bash#sapassword)

- [https://docs.microsoft.com/sql/linux/quickstart-install-c

[2019-02-21 20:39] MightyPen commented on #1670
@VanMSFT Hi Van, As this week's Triager, you can monitor this Issue 1670, and decide whether there is enough info to warrant assigning this to RothJa (versus closing this, etc).
I have asked the original poster for additional info.
Thanks.

[2019-02-22 08:09] ArisPavlides commented on #1670
You are right. I didnt see the command. I skipped the tutorial right to the "Connect to SQL Server" section. My bad.

[2019-02-22 11:18] astrohart commented on #1629
Masha,

As to your first point, I disagree.  I see that there is a lot left “implicit” for readers to piece together.  I assume the audience is typically busy professionals doing their jobs at work.   Therefore, they might not have time to do all that mental work to put 2 and 2 and 2 together to make six.

Regards,

Brian C. Hart, Ph.D.
CEO, xyLOGIX, LLC

[2019-02-22 13:36] VanMSFT commented on #1670
Thanks, @ArisPavlides! We will go ahead and close this issue.

[2019-02-22 13:36] #1670 closed

[2019-02-22 13:47] VanMSFT commented on #1669
Hi @AnyiYang, thanks for bringing this issue up to us.

@HeidiSteen - Do you mind checking if there are any other permissions needed?

[2019-02-22 13:49] VanMSFT commented on #1671
Thanks @ghotz! @MikeRayMSFT - Please take a look at this.

[2019-02-22 13:54] VanMSFT commented on #1672
Hello @ravesonly! Thank you for your question. As this is not a documentation question, but rather a Product question, I suggest utilizing the Product Feedback at the bottom of the page.

![image](https://user-images.githubusercontent.com/40007119/53246582-f74b1300-3665-11e9-8461-78fdd3fc6c00.png)

Please feel free to explore these other options for help:

- [All the ways to get help](https://docs

[2019-02-22 13:54] #1672 closed

[2019-02-22 14:05] VanMSFT commented on #1673
Hi @bpe78! Thank you for bringing up this issue. DACPAC and BACPAC are two different types of export files. BACPAC includes schema and data from the database, while DACPAC only contains the schema of the database. The examples in the article for BACPAC are correct.

I will go ahead and close this issue, but please feel free to ask additional questions.

[2019-02-22 14:05] #1673 closed

[2019-02-23 16:57] ikemtz opened #1676 "AdventureWorks DB"
Hello,

I'm not sure if this is the correct repo to report this issue, if I need to post it somewhere else please feel free to advise.

I constantly refer to AdventureWorks as a "WWMD" (What would  Microsoft Do) of database design.  I'm also a big fan of Docker and being able to spin up and tear down resources at a moments notice.

On the SQL Server Linux pages, the AdventureWorks pages don't prov

[2019-02-25 10:18] MightyPen commented on #1570
@MikeRayMSFT Mike, you probably forgot to Close this Issue 1570, so I will close it for you now.  I can see that you gave a Comment to the original poster that indicates your intention to close, which I understand.

The Closed Issue must end with exactly one label that is named like 'Issue-Outcome-*'.  I have fixed the labeling for you this time.
Thanks.

[2019-02-25 10:18] #1570 closed

[2019-02-25 15:41] vbfox opened #1678 "Broken link in Configure read-only routing for an Always On availability group"
The article [Configure read-only routing for an Always On availability group](https://docs.microsoft.com/en-us/sql/database-engine/availability-groups/windows/configure-read-only-routing-for-an-availability-group-sql-server?view=sql-server-2017)
contains a link to [Calculating read_only_routing_url for Always On](https://blogs.msdn.microsoft.com/mattn/2012/04/25/calculating-read_only_routing_url-f

[2019-02-25 17:57] jzabroski commented on #1640
Thanks, @MightyPen
@stevestein , below is my attempt at a script to kill stats job.  The idea being this script could be stacked above a SET SINGLE_USER command.  It's a bit messy, AND it doesn't appear like it will work on Data Parallel Warehouse databases (according to the _insane_ docs on the background job queue DMV - which I didn't even realize when I wrote up this initial suggestion to impro

[2019-02-25 20:49] CarlRabeler commented on #1676
@rothja @MikeRayMSFT @MashaMSFT Making you aware of this user suggestion. I will close this issue as it is a big support-type issue.

[2019-02-25 20:52] CarlRabeler commented on #1676
@ikemtz I think this is a good idea for consideration. Thank you for your input. I am closing this now. If you wish to respond further, use the @ notification for further communication with each of us.

[2019-02-25 20:52] #1676 closed

[2019-02-25 20:53] keeyu2 opened #1682 "SSMS"
Can I connect using SSMS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fd398c1-ed8b-911b-f11a-3739d80b3f32
* Version Independent ID: dc3d55ff-3b55-a686-81f9-f4188054e381
* Content: [Restore a SQL Server database in Docker - SQL Server](https://docs.microsoft.com/en-us/sql/linux/tutorial-restore-backup-in-sql-server-

[2019-02-25 21:03] CarlRabeler commented on #1678
@vbfox fixing - thank you.

[2019-02-25 21:04] CarlRabeler commented on #1678
Fix will be live later today.

[2019-02-25 21:04] #1678 closed

[2019-02-25 21:46] keeyu2 commented on #1682
I fixed it.  It was the mapping of ports.  Since I have a SQL server running on the host machine.  I wasn't able to use 1433:1433.  I changed the port to use 5022:1433 and connected using the dockerNAT address.

[2019-02-25 23:27] rothja commented on #1682
@keeyu2 That's great. Maybe we should add a note to this effect in the doc? I'm closing for now but will consider adding this note soon. Thanks for the feedback!

[2019-02-25 23:27] #1682 closed

[2019-02-25 23:58] MashaMSFT commented on #1608
Hi @LarnuUK , thanks for your patience, we're still investigating this. Thanks!

[2019-02-26 15:00] SuddenlyPineapple opened #1686 "Copy a backup file into the container - little bug"
Hi, I've a problem with that line and couldn't import files into container. I recommend to change that line:
"docker cp wwi.bak sql1:/var/opt/mssql/backup"
to
"docker cp wwi.bak sql1:/var/opt/mssql/backup/wwi.bak"
In first it's copied to container as a backup file, not to backup directory, so it should be copied as a wwi.bak file.
I has that problem in powerShell version of this tutorial, didn't c

[2019-02-26 15:29] abbgrade opened #1687 "SSAS .deploymentoptions needs explaination"
The document sql-docs/docs/analysis-services/multidimensional-models/deployment-script-files-specifying-processing-options.md would benefit from a explaination what the allowed values in the XML document are. For example the different options for ProcessingOption like 'Default', 'Full', 'DoNotProcess'.

[2019-02-26 15:57] Jasonca2 opened #1688 "openSuSe Leap 42.1 Compatability"
Is there a compatible repository for openSuSe Leap 42.1?  I have tried installing ODBC Driver 17 for Sql Server against all three repositories listed below and can't get it to work with a python program that runs a few queries concurrently.

#SUSE Linux Enterprise Server 11 SP4
zypper ar https://packages.microsoft.com/config/sles/11/prod.repo

#SUSE Linux Enterprise Server 12
zypper ar https://pac

[2019-02-26 19:21] astrohart commented on #1628
thanks

[2019-02-27 15:51] CarlRabeler commented on #1671
@ghotz Thanks Gianluca

[2019-02-27 20:25] narenkv opened #1692 "Error while deploying via Powershell / C# Console App ADF SSIS runtime , followed the documentation but fails"
In the article they have shown how to deploy to SSIS Server, however it does not work with Azure Datafactory SSIS runtime
https://docs.microsoft.com/en-us/sql/integration-services/ssis-quickstart-deploy-powershell?view=sql-server-2017

Runtime is working fine in the ADF, however the Error thrown as **System.Data.SqlClient.SqlException: 'There is no active worker agent.'** when tried to deploy via

[2019-02-27 22:01] David-Engel commented on #1688
@Jasonca2 Sorry, openSuSe Leap is not a supported Linux distribution and we therefore do not test the driver against it nor do we build a package specific to it.

[2019-02-27 23:25] MightyPen commented on #1688
@David-Engel  @rothja Perhaps our documentation could explicitly say there is no such support the 'openSuSe Leap'?  But as a principle that could imply a need to have lots of negative statements in lots of articles; wherein the complete positive list already gives the answer clearly albeit implicitly.  I dunno, case-by-case basis.

This Issue 1688 is assigned to RothJa.

[2019-02-27 23:50] Jasonca2 commented on #1688
With certain distros (i.e., CentOS and Redhat) you can sometimes have package interchangeability between their repositories. I was hoping that maybe SuSe Enterprise would have the same effect with their open source distro. I see that is not the case when it comes to Microsoft's current release of the Sql Server driver for Linux. That is unfortunate. I hope Microsoft adopts more support for some of

[2019-02-28 00:42] David-Engel commented on #1688
@Jasonca2 I understand. I'm kind of surprised that it doesn't just work, given openSuSe's roots. But we can't test every distribution out there. We do try to support the most popular ones and evaluate if we need to add support for others as they become more popular. This is actually the first request I've heard for openSuSe, however.

[2019-02-28 00:46] Jasonca2 commented on #1688
@David-Engel It's understandable from Microsoft's end. They only have so much in terms of resources to devote to driver support for Linux. I hope that in the future they allocate more towards that department/ project. And I'm more of a debian guy myself, as it seems to always have a lot of support. The company I currently work for favors openSuSe so it is what it is. I'm just trying to get a Djang

[2019-02-28 16:02] rothja commented on #1688
@Jasonca2 Sorry this isn't working for you. However, we really appreciate your feedback, as more feedback like this will help us to prioritize for the future. At this time, there is not much more we can do on this git issue, so I will close it out. I'm sorry we couldn't help.

[2019-02-28 16:02] #1688 closed

[2019-02-28 20:31] Jasonca2 commented on #1688
@rothja I understand. No worries. I hope Microsoft will take note and support openSuSe Leap officially down the road.

[2019-03-02 00:04] jzabroski opened #1704 ""Automatic Tunic""
https://docs.microsoft.com/en-us/sql/?view=sql-server-2017#pivot=sqlserver&panel=sqlserver

Please fix so it does not say "Automatic Tunic" but says "Automatic Tuning"

@MikeRayMSFT

[2019-03-02 02:59] MightyPen commented on #1704
@MashaMSFT Hi Masha, there is a spelling mistake to fix, on the SQL Hub page, I think. Per this Issue 1704.

CC: @MikeRayMSFT

[2019-03-04 18:22] MashaMSFT commented on #1704
Well.. that's embarrassing :) Thanks for catching that @jzabroski ! I've fixed this typo within PR 9298, and will proceed with closing out this Git Issue. However, please feel free to respond should you need anything further. Thanks again!

[2019-03-04 18:22] #1704 closed

[2019-03-04 18:26] jzabroski commented on #1704
THANK YOU SO MUCH.

On Mon, Mar 4, 2019 at 1:22 PM Masha at MSFT <notifications@github.com>
wrote:

[2019-03-04 21:13] MightyPen commented on #1658
PR 9305 (in MicrosoftDocs private repo) replaces the broken link (FwLink 210317) with a plain link to:
https://docs.microsoft.com/sql/relational-databases/blob/remote-blob-store-rbs-sql-server .

[2019-03-04 22:44] MightyPen commented on #1704
@MashaMSFT Hi Masha,  A friendly reminder - to click the Close button on a final Comment when you have completed an Issue.
Plus, update the label from 'Issue-Status-*' to 'Issue-Outcome-*'.

For this Issue 1704, @MikeRayMSFT  has closed and re-labeled this for you today.
Thanks.

[2019-03-04 22:44] #1656 closed

[2019-03-04 22:55] MikeRayMSFT commented on #1671
@ghotz - thank you. We are updating the content.

[2019-03-04 22:55] #1671 closed

[2019-03-04 23:34] MightyPen commented on #1658
The fix should be live by the afternoon of Tuesday 2019/March/05.
I will now Close this successful Issue 1658.

@mikerodionov  Thank you for bringing this problem to our attention.

[2019-03-04 23:34] #1658 closed

[2019-03-05 00:09] MightyPen commented on #1687
@Minewiskan Hi Owen, can you please assess the suggestion made by 'abbgrade' here in Issue 1687.

I can help you with the mechanics of how to process an Issue like this, with updating its labels etc.  For now, please assess, and enter a new Comment into this Issue.  Please ping me whenever it is time for me to help you advance the processing of this Issue.

[2019-03-05 00:22] MikeRayMSFT commented on #1659
@DatStone  - thank you for submitting this issue. According to @bluefooted - we will clarify the precision information as follows:

The first byte of a **datetime2** value stores the precision of the value, which means the actual storage required for a **datetime2** value is the storage size indicated in the table above plus 1 additional byte to store the precision.  This makes the maximum size of

[2019-03-05 00:22] #1659 closed

[2019-03-05 01:35] MightyPen commented on #1653
@HappymediaDz The 'fr-fr/' webpage *is* found just fine now. The metadata indicates the fr-fr/ was published early on 2019/March/05.

Perhaps the fr-fr/ edition had not quite been created yet when this Issue 1653 was created.  It takes our system a couple weeks to catch up to changes in our English master source.

Thank you for filing this Issue.  I can understand the confusion the two week delay

[2019-03-05 01:35] #1653 closed

[2019-03-05 01:37] MightyPen commented on #1653
FWIWorth, the article that contains the link to the Support article is = 'power-query-source.md'.

[code]

[2019-03-05 01:52] MightyPen commented on #1597
A new internal DevO work item = 1468858 is continuing to track this aging Issue 1597.
When the DevO is processed and Closed, this Issue 1597 will also be updated with the final information (including an @ notification to the original poster.

https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1468858

https://dev.azure.com/MsEng/TechnicalContent/_workitems/edit/1468858

CLOSING this I

[2019-03-05 01:52] #1597 closed

[2019-03-05 05:07] MightyPen commented on #1656
Thank you for doing the work to fix the concern expressed in this Issue 1656.
I will now finalize the label, from a 'Issue-Status-*', to an 'Issue-Outcome-*'.

[2019-03-05 05:12] MightyPen commented on #1468
DevOps = 1418832 was marked as Completed on 2019/01/17.
Therefore, I am now finalizing the label for this Issue 1468, from -41- to -42-.

[2019-03-05 16:28] bluefooted commented on #1659
Thanks @DatStone, this was a good catch!

[2019-03-06 04:45] HeidiSteen commented on #1669
@AnyiYang -- Are you using Java 8?   I don't think these are Java 8:  jdk11.0.1 and jdk 10.0.2

[2019-03-06 04:51] HeidiSteen commented on #1630
@astrohart My apologies for the very long delay in responding to this issue.  You ran into a bug.  The MPYCACHEDIRECTORY directory is not operational.  For disconnected/offline setup, please put all .cab files in the %Temp% folder.

[2019-03-06 13:19] CeciAc opened #1717 "Tags are displayed in source code only for Japanese sites"
@TomiakiNiwa commented on [Mon Mar 04 2019](https://github.com/MicrosoftDocs/sql-docs.ja-jp/issues/229)

**Describe the bug**
In the Japanese page, the tag is displayed in the last sample source.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/ja-jp/sql/relational-databases/backup-restore/enable-sql-server-managed-backup-to-microsoft-azure?view=sql-server-20

[2019-03-06 13:23] CeciAc commented on #1717
Hi team,
I'm moving this here because I believe is a source issue.

I saw a similar issue some days ago and the problem was with the tags in the code were misplaced causing translatable content being shown as code.

Kind regards

[2019-03-06 17:19] MikeRayMSFT commented on #1717
@CeciAc - the English page also has incorrect formatting at exactly the same spot. It doesn't show the `<span..` command, but there is a block of code that is incorrectly formatted in markdown.

![image](https://user-images.githubusercontent.com/15928587/53900182-cc12dd00-3ff0-11e9-87a9-f11c039bb090.png)

I will submit a fix for this today and after that, we should see if the problem reproduces in

[2019-03-06 18:06] MikeRayMSFT commented on #1717
@CeciAc  - I have submitted a fix to the english version. I *think* this will result in an update to the localized version that should resolve the issue which you so appropriately raised. Thank you.

[2019-03-06 18:06] #1717 closed

[2019-03-06 21:43] MikeRayMSFT commented on #1608
Hi @LarnuUK  - thanks for submitting this. I believe the documentation is correct. Here's why:

The statement defines the default as:  

So the value is returned when the *offset* is NULL - not where the scalar expression is NULL. The demonstration that you provided shows the scalar expression returning now. If you need a default for the scalar expression itself you can use `ISNULL(<scalar_express

[2019-03-06 21:49] mgblythe commented on #1687
@Minewiskan has been OOF, but he should be back in tomorrow and will triage/address.

[2019-03-06 22:01] LarnuUK commented on #1608
Thanks @MikeRayMSFT  for coming back on this.

I can see how that interpretation could be reached as well. That doesn't really seem, to me, to be what it's saying. You're specifically stating when *offset* is `NULL`, however, the statement says "when scalar_expression **at offset** is NULL" (emphasis mine). So, the value of scalar_expression at offset is checked, and if it is `NULL` the value *def

[2019-03-07 17:16] MikeRayMSFT commented on #1608
@LarnuUK  - how would this be understood?

 The value to return when *offset* is beyond the scope of the partition. If a default value is not specified, NULL is returned. *default* can be a column, subquery, or other expression, but it cannot be an analytic function. *default* must be type-compatible with *scalar_expression*.

[2019-03-07 17:34] MikeRayMSFT commented on #1608
This was approved and the updated verbiage will appear soon in the article. Thank you for raising this issue.

[2019-03-07 17:34] #1608 closed

[2019-03-07 17:50] MikeRayMSFT commented on #1609
@abair34 - you can provide product feed back for CTPs and current SQL Server versions at [https://aka.ms/sqlfeedback](https://aka.ms/sqlfeedback).

[2019-03-07 19:10] LarnuUK commented on #1608
Thanks @MikeRayMSFT. New wording reads far better to me as well. I think this is much clearer and portrays the function really well.

Thanks again for the input.

[2019-03-07 19:12] rothja commented on #1609
@abair34 Thanks for the feedback. As Mike said, you can also provide this feedback on https://aka.ms/sqlfeedback. Reporting on the article itself is also OK when the instructions don't work, so there is some grey area. At this time, I don't have a solution, but I have created a work item to look into this more as we continue to release CTPs. We just released CTP 2.3 and I'll check the behavior the

[2019-03-07 19:12] #1609 closed

[2019-03-07 19:19] rothja commented on #1615
@hien0024 I apologize for the long delay in responding. I've passed this onto the product team, but I don't have a solution for you yet. If you want to an additional channel to record this feedback that the product team looks at, you can report your feedback at https://aka.ms/sqlfeedback. I'm sorry I don't have a better answer at this time.

[2019-03-07 19:19] #1615 closed

[2019-03-07 20:20] rothja commented on #1686
@SuddenlyPineapple I just tried these steps, and it worked differently for me. It created copied the backup file into the directory. However, if the backup directory was not already there, it would have created a file called backup. Is it possible that you did not create the backup directory in your test? Thanks!!

[2019-03-07 20:29] blueelm-alex opened #1736 "Instant File Initialization incorrectly references backups"
The steps to grant the SE_MANAGE_VOLUME_NAME to the SQL Server service account is referring to a computer that is going to store backup files. This seems incorrect.

[2019-03-07 22:03] MikeRayMSFT commented on #1736
Hi @blueelm-alex - thank you for submitting this issue.

Are you referencing [Database File Initialization](https://docs.microsoft.com/en-us/sql/relational-databases/databases/database-instant-file-initialization?view=sql-server-2017)?

I think you're referencing step 1:

Is that right?

[2019-03-07 22:06] blueelm-alex commented on #1736
@MikeRayMSFT Yes, There's a few references to backups

[2019-03-07 22:38] #1687 closed

[2019-03-07 23:55] grcarter-microsoft opened #1742 "create database on azure managed instance permission incorrrect"
Hi.  I believe there is an error on the managed instance create database documentation.   The last bullet says that the logins needs dbmanager.   https://docs.microsoft.com/en-us/sql/t-sql/statements/create-database-transact-sql?view=azuresqldb-mi-current#permissions-2.  There is no dbmanager role on managed instance.  I believe that should say dbcreator role.

Permissions
To create a database, a

[2019-03-08 01:54] MikeRayMSFT commented on #1736
Thank you. We will fix.

[2019-03-08 01:58] #1736 closed

[2019-03-08 05:07] craigg-msft commented on #1692
@narenkv
Thank you for the question but this appears to be best answered in one of the engineering or community forums and it is not actionable on the content.  I suggest the following.

Engineering User Voice https://feedback.azure.com/forums/270578-data-factory
Microsoft Forum: https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpostdesc
Stack Over

[2019-03-08 05:07] #1692 closed

[2019-03-08 06:37] MikeRayMSFT commented on #1742
@grcarter-microsoft thank you for submitting this. Assigning to the author for review.

[2019-03-08 07:30] MightyPen commented on #1648
Email sent, seeking legal opinion from Microsoft internal legal team.

From: Gene M
Sent: Thursday, March 7, 2019 11:28 PM
To: Ned ; Jennifer ; Greg
Cc: CraigG
Subject: Which license applies to BNF syntax diagrams that define Transact-SQL statement syntaxes ?

[2019-03-08 17:41] CarlRabeler commented on #1742
@grcarter-microsoft good catch - updating the create and the alter article permissions now @VanMSFT for visibility https://github.com/MicrosoftDocs/sql-docs-pr/pull/9355

[2019-03-08 17:55] grcarter-microsoft opened #1746 "Wording of the /FTSVCACCOUNT parameter in installation documentation is confusing for newer versions of SQL Server"
In https://docs.microsoft.com/en-us/sql/database-engine/install-windows/install-sql-server-from-the-command-prompt?view=sql-server-2017#Install

SQL Server Full Text | /FTSVCACCOUNT      Optional | Specifies the account for Full-Text filter launcher   service.      This parameter is ignored in **Windows Server 2008**. ServiceSID is used to help   secure the communication between SQL Server and Ful

[2019-03-08 22:13] MikeRayMSFT commented on #1746
@grcarter-microsoft - thank you for this recommendation.

Would you like to submit this upgrade directly to the documentation?

You can click **Edit** on the article.
![image](https://user-images.githubusercontent.com/15928587/54058920-2ad08600-41ac-11e9-9c05-0f59cfa20629.png)

If you submit the update, then your GitHub account is added to the list of contributors for the article.

We will review

[2019-03-08 22:14] grcarter-microsoft commented on #1746
Sure thing.  I will be glad to.

Grant

From: Mike Ray <notifications@github.com>
Sent: Friday, March 8, 2019 3:14 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Grant Carter <Grant.Carter@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs] Wording of the /FTSVCACCOUNT parameter in installation documentation is confusing for newer versions of

[2019-03-08 23:47] mmarquesesri opened #1748 "pcs resource cluster failure-timeout"
--To update the ag1 resource property failure-timeout to 60s run:
--pcs resource update ag1 meta failure-timeout=60s

I tried but failed.
pcs resource update ag1 meta failure-timeout=60s
Error: Unable to find resource: ag1

I had to use the resource name "ag_cluster"
pcs resource update ag_cluster meta failure-timeout=60s

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-03-11 16:19] CamyDee opened #1765 "SQL Server Books Online reference does not seem to exist"
Under "Bytes Per Row" There is a reference to:

"Row-Overflow Data Exceeding 8 KB" topic in SQL Server Books Online.

However, there is no link. Searching for this online in many different ways has not yielded a satisfactory result. Does this topic exist? I see many other people looking for updated documentation regarding this behavior in all versions of SQL Server, but no official documentation t

[2019-03-11 17:02] CarlRabeler commented on #1742
Fixed - please close @Mike-Ubezzi-MSFT

[2019-03-11 17:04] Mike-Ubezzi-MSFT commented on #1742
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-11 17:12] Mike-Ubezzi-MSFT commented on #1742
@CarlRabeler This is sql-docs repo and not azure-docs repo. The @MicrosoftDocs/azure-cxp-triage folks are working with azure-docs repo items and associated workflow.

[2019-03-11 17:36] CarlRabeler commented on #1742
@MikeRayMSFT please close @MightyPen @craigg-msft

[2019-03-11 17:46] jrisi256 opened #1768 "Some discrepancies in "Data type mappings betweenR and SQL Server""
Hi all,

I was looking at your documentation for how R data types get converted in SQL Server and vice versa: https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/advanced-analytics/r/r-libraries-and-data-types.md

I ran some tests, and I got some slightly different results than what the documentation states. I just thought I'd share. Below is my R code where I demonstrate some of the discrepa

[2019-03-11 18:20] CarlRabeler commented on #1742
@grcarter-microsoft Fixed on 3/8 - thanks.

[2019-03-11 18:20] #1742 closed

[2019-03-11 20:03] MikeRayMSFT commented on #1746
I've created an internal PR to fix, based on a fix submitted by @grcarter-microsoft

[2019-03-11 20:03] #1746 closed

[2019-03-11 20:03] MikeRayMSFT commented on #1746
https://github.com/MicrosoftDocs/sql-docs-pr/pull/9378

[2019-03-11 20:29] MightyPen commented on #1765
@MikeRayMSFT (and @CamyDee), Mike, I found the old article that the text-only link was referring to. I have pasted in the content of the old article below, FWIWorth.
Caution, The five links to other articles, that are in the pasted article below, are all old MSDN archived links.  I awkwardly put next to each link the MSDN shortId (find these by finding the '[' character).

----  Very SLOW Link, ar

[2019-03-11 20:45] MightyPen commented on #1765
Also, a still active/fast link, that will likely be fully retired in 2019 without any forwarding redirector, is the following "social" MSDN, dated January 2014:

- "SQL Server 2008 - Row-Overflow Data Exceeding 8 KB"

    - https://social.msdn.microsoft.com/Forums/sqlserver/en-US/24dbb445-292b-4433-a804-f524d32375e1/sql-server-2008-rowoverflow-data-exceeding-8-kb?forum=transactsql

[2019-03-12 08:49] SuddenlyPineapple commented on #1686
Yes, it is possible. Thank you, for response.

[2019-03-12 08:49] #1686 closed

[2019-03-12 18:53] MightyPen commented on #1648
@thda Answer is:  The BNF syntax diagrams for Transact-SQL statements are governed under the Creative Commons license.

- Creative Commons Attribution 4.0 International Public License [https://creativecommons.org/licenses/by/4.0/legalcode](https://creativecommons.org/licenses/by/4.0/legalcode)

(JH, of LCA, 2019/03/12 10:02am)

Closing this Issue 1648 now, as successfully fixed. (The @ notificatio

[2019-03-12 18:53] #1648 closed

[2019-03-12 19:58] MikeRayMSFT commented on #1748
@mmarquesesri - thank you for your submission. We are reviewing and will update.

[2019-03-12 22:51] MikeRayMSFT commented on #1765
Working with @pmasl and @bluefooted  on solution.

[2019-03-12 23:34] pmasl commented on #1765
Fixed and merged changes

[2019-03-13 08:20] MightyPen commented on #1765
The mystery number of the PR is probably 9398.

[2019-03-13 08:22] MightyPen commented on #1765
@MikeRayMSFT Looks like Issue 1765 is Fixed, so I am sending this little @ notification to let you know.
You can probably close and finalize this Issue 1765 now.  Thanks.

[2019-03-13 12:37] eeiriksson opened #1774 "Now available in Azure SQL Data Warehouse"
Documentation needs updating as QS is now in GA for Azure SQL Data Warehouse
https://azure.microsoft.com/en-gb/updates/query-store-for-azure-sql-data-warehouse-is-now-generally-available/

[2019-03-13 18:20] HeidiSteen commented on #1669
@AnyiYang -- I cannot repro the issue, but since I just did this, I can see how it easy it might be to miss a step. These steps are documented, but I'll call them out here anyway.   Also please checkout item 5 -- it's the last one listed, but after re-reading your issue, it's probably the source of the problem.

1 - my java files are in a folder close to the root (I used "c:\javasample").
2 - perm

[2019-03-13 18:20] #1669 closed

[2019-03-13 20:11] stevestein commented on #1657
@chanmmn - Thanks for the suggestion. I updated the article with a little more info and link to the underlying Visual Studio Code explanation.

_The user installer is recommended because it does not require administrator privileges, which simplifies both installs and upgrades. The user installer does not require Administrator privileges as the location is under your user Local AppData (LOCALAPPDAT

[2019-03-14 13:30] ant-222 opened #1782 "Must an ODBC driver use SQLGetPrivateProfileString?"
The documentation for [SQLGetPrivateProfileString](https://docs.microsoft.com/en-us/sql/odbc/reference/syntax/sqlgetprivateprofilestring-function?view=sql-server-2017) does not state explicitly whether in *ODBC* 2.0 and above this function is the only allowed method for a conforming driver to acquire its DSN parameters or the driver can still read the `odbc.ini` file directly. Can you please add a

[2019-03-14 14:34] HeidiSteen commented on #1630
@astrohart  this issue is addressed in this PR: https://github.com/MicrosoftDocs/sql-docs-pr/pull/9427
Content should be live this morning.  Thanks for reporting the issue.

[2019-03-14 14:34] #1630 closed

[2019-03-14 16:36] MightyPen commented on #1746
@MikeRayMSFT Hi Mike, Minor request, can you please finalize the label on this closed Issue 1746:
- Exactly 1 label at any given time, yet this Issue has 2 labels.
- Due to PR 9378, I get the impression the 1 final label you want might be -42-Fixed-?

Thanks. GeneMi. 2019/03/14

[2019-03-14 17:00] MightyPen commented on #1742
@CarlRabeler Hi Carl, Just a Reminder.    On your Fixed and Close Issue 1742, you did add the label 'Issue-Outcome-42-Fixed', good.  We want exactly 1 label on an Issue at any one time, so you would have wanted to also Remove the label 'Issue-Status-20-Author-will-triage', at the same time when you added the -42-Fixed- label.  I am removing the second outdated label for you. thx G

[2019-03-14 18:39] CarlRabeler commented on #1742
Got it – thanks.

From: Gene Milener <notifications@github.com>
Sent: Thursday, March 14, 2019 10:01 AM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs] create database on azure managed instance permission incorrrect (#1742)

@CarlRabeler<https://nam06.safelinks.protect

[2019-03-15 17:00] MikeRayMSFT commented on #1765
Updated by @pmasl -thank you.

Thanks also to @CamyDee for raising this issue.

[2019-03-15 17:00] #1765 closed

[2019-03-15 17:00] MikeRayMSFT commented on #1765
https://github.com/MicrosoftDocs/sql-docs/commit/b107bcde25df18e5b9c9d7d67d06fc39852d3afd

[2019-03-15 17:02] MikeRayMSFT commented on #1748
Resolved in https://github.com/MicrosoftDocs/sql-docs/commit/458327bc5920813e621038f908d4597a7cf9326a

Thanks again @mmarquesesri for raising this issue.

Thank you @SQLSourabh for validating.

[2019-03-15 17:02] #1748 closed

[2019-03-15 19:09] dphansen commented on #1768
@jrisi256 - We are currently looking into this issue and will get back to you. Thank you.

[2019-03-16 08:13] jgmreyes opened #1789 "Wrong index definition for /relational-databases/in-memory-oltp/indexes-for-memory-optimized-tables.md"
It should be (StartDateTime ASC, CustomerName) instead of (StartDateTime DESC, CustomerName) for the index definition of constraintUnique_SDT_CN.

According to the summary table the non clustered index is non-suited when its columns is used in the sort columns but the ordering is reversed.

In the current example the index definition uses DESC sorting while the SELECT statement sample used the ind

[2019-03-16 10:55] jgmreyes commented on #1789
Another wrong example is this

SELECT CustomerName, Priority, Description
FROM SupportEvent
WHERE CustomerName != 'Ben';

I have tried testing it multiple times and the actual execution plan is using table scan. The summary table in the article shows that the engine will search at the index if the first column in the definition is used in the where clause. The index definition showed the CustomerN

[2019-03-17 01:59] MightyPen commented on #1782
I have just now sent email to David E., to inquire whether he feels he can process this Issue 1782.

[2019-03-18 20:34] ant-222 commented on #1782
Thank you, Gene. Perhaps connected with this issue is the remark about SQLGetPrivateProfileString that it:

which may mislead the reader into believing that he don't need it unless porting an ODBC driver to Windows 2000 from an earlier version, whereas in fact this function is certainly the primary (if not the only) means or reading DSN parameters.

[2019-03-18 21:06] MightyPen commented on #1640
@stevestein Hi Steve, you were OOF when this public PR 1640 was entered, so here is a reminder now that you have returned.
This PR is Assigned to you for consideration and processing.   Thx G

[2019-03-18 21:26] David-Engel commented on #1782
That doc page is a copy of the specification. I don't think it would be appropriate for us to change it. The specification is exactly what it says. That's simply what @ant-222 has to work with in his argument with SAP and how they have implemented their HANA ODBC driver for Linux.

[2019-03-18 21:36] craigg-msft commented on #1789
Thank you @jgmreyes assigned to current author @MightyPen  for topic https://docs.microsoft.com/en-us/sql/relational-databases/in-memory-oltp/indexes-for-memory-optimized-tables?view=sql-server-2017

[2019-03-18 21:53] MightyPen commented on #1782
@ant-222 After considering this Issue 1782, we have decided not to make any changes at this time.  Our documentation is reflecting the specification, and we are in no position to change the spec.  The situation may not be as simple as we might like.

Thank for submitting this Issue. I am now Closing this Issue; although the @ communication mechanism still works in Closed Issues.

[2019-03-18 21:53] #1782 closed

[2019-03-19 09:55] ant-222 commented on #1782
@MightyPen Bad luck then, but thank for your attention. You said that page was a copy of the specification. Where is the specification itself? Do you have any suggestions of who can help me with the interpretation of the ODBC standard with regard to the supported/allowed methods of reading DSN parameters?

[2019-03-19 19:49] dphansen commented on #1768
@jrisi256 The [documentation article](https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/advanced-analytics/r/r-libraries-and-data-types.md) you are referring to talks about how SQL Server data types will be mapped to R data types when using the in-database R feature in [SQL Server Machine Learning Services](https://docs.microsoft.com/en-us/sql/advanced-analytics/what-is-sql-server-machine-l

[2019-03-19 19:49] #1768 closed

[2019-03-19 20:15] jrisi256 commented on #1768
My apologies! I was conflating two different things.

[2019-03-20 21:11] mcowart123 opened #1802 "SQL Server 2019 OpenLDAP documentation"
I see this mentioned as a feature, but I have been able to find absolutely no documentation on getting it set up. I'm running the latest preview on Centos 7 and I can't find anywhere obvious to configure it.

Is this feature available yet?

[2019-03-20 22:07] ali-syria opened #1803 "Official support for ubuntu 18.04"
Hi

Any news about release time of version that supports ubuntu 18.04

[2019-03-21 15:21] chatelao opened #1805 "Schema twice in DROP ?"
DROP TABLE [ IF EXISTS ] [ database_name . [ schema_name ] . | schema_name . ]
table_name [ ,...n ]
[ ; ]

[2019-03-21 17:44] PrometheusRising1 opened #1806 "wget retrieval of .rpm file should also be included"
Linux admins on a barebones restricted edge server will want to pull down the .rpm file with wget and add to a fileshare on a disconnected network.  Please include instructions on using wget and test to ensure that the links work for that purpose.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811ed1f4-1c78-aa1b-e752-3

[2019-03-21 17:56] PrometheusRising1 commented on #1806
Was able to find the direct link to the .rpm file by running wget -r once on the go.microsoft.com link.  There should be a way of listing direct copy links so that people can download directly.

[2019-03-21 20:56] kosist commented on #1391
I've got the same issue - how could I solve it? Thanks in advance!

[2019-03-21 21:02] bradranks opened #1807 "Password example for SQL in Linux Docker on Windows"
The password example uses a bang in the code to copy/paste, which fails in actual practice.

Example password: < YourStrong!Passw0rd>

Error
root@20d5078e331c:/# /opt/mssql-tools/bin/sqlcmd -U SA -P YourStrong!Passw0rd
bash: !Passw0rd: event not found

Same error for trying to update the password, so once created, you are stuck with removing the entire image and starting over.

I would consider ch

[2019-03-21 21:12] PrometheusRising1 opened #1808 "Is Prod Repo down?"
curl command appears not to be pulling files, and running yum install yields "File contains no section headers"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39bb4ba1-ae62-07a3-f79a-138f14cf2f10
* Version Independent ID: beaa4e7d-e771-cc96-0e59-34d9b1d5e8cc
* Content: [Install SQL Server command-line tools on Linux -

[2019-03-22 13:23] jclark0909 opened #1812 "Azure Data Studio CLI"
We are currently working on an ADS extension and our build out a release environment in Azure DevOps. Is there a way to automate the .vsix download? I know that ADS is built of the VSCode framework and VSCode has a CLI but I have not seen any CLI from ADS. Is there a CLI for ADS or when is it coming out soon? Please let me know if you have any additional questions.

---
#### Document Details

⚠ *D

[2019-03-22 14:16] rothja commented on #1391
@kosist, could you give me the exact error you're seeing? Is this when you run mssql-conf setup? Thanks!

[2019-03-22 14:35] rothja commented on #1808
@PrometheusRising1 I assume you are doing this on Red Hat? I just tried out the install commands for tools and they worked for me. Can you try again and check your connection to the internet? If you still have problems, copy the commands you're running and the error messages from your terminal to this git issue for me to take a look. And verify the version of Linux you're running for me. Thanks, a

[2019-03-22 14:43] PrometheusRising1 commented on #1808
Hi @rothja - it looks like my repo was corrupted.  Removed and readded the repo and it fixed the problem.

[2019-03-22 14:48] rothja commented on #1808
@PrometheusRising1 Awesome. Thanks for letting me know!

[2019-03-22 14:48] #1808 closed

[2019-03-22 17:39] kosist commented on #1391
@rothja , thank you for your reply! Below is the trace:
[code]

[2019-03-22 17:46] stevestein commented on #1803
@ali-syria - thanks for opening a doc issue! Can you provide some additional information as to what type of ubuntu support you're interested in?

-Thanks

[2019-03-22 22:11] craigg-msft commented on #1802
@mcowart123 can you point me to where you see it noted as a feaure?

[2019-03-22 22:30] MightyPen commented on #1802
(LDAP = _Lightweight Directory Access Protocol_)
FWIWorth, we document LDAP for SQL Server Linux, and for ADO.  But for Windows, in our SQL Server documentation I see nothing about LDAP or OpenLDAP.  On the WWWeb I see mentions of third parties that may have developed an OpenLDAP for Windows.
I see the following mention of LDAP in a Windows documentation article.

---

- https://docs.microsoft.com

[2019-03-22 22:44] mcowart123 commented on #1802
https://docs.microsoft.com/en-us/sql/sql-server/what-s-new-in-sql-server-ver15?view=sql-server-ver15#sqllinux

The pertinent statement:
OpenLDAP support for third-party AD providers (CTP 2.0): SQL Server 2019 preview on Linux supports OpenLDAP, which allows third-party providers to join Active Directory.

[2019-03-24 18:22] robinwilson16 opened #1816 "Support for More Recent Versions of Ubuntu Than One Released Back in April 2016"
Please could you consider supporting more current versions of Ubuntu as the documentation is all for 16.04 released back in 2016, 5 versions behind the current release which is 18.10. with 19.04 due out next month. The last long term release was 18.04 released a year ago.

There are workarounds for getting this installed but these are documented elsewhere and not on this page.

The same applies fo

[2019-03-24 18:27] robinwilson16 commented on #1803
I have just seen this now but have just logged an issue about exactly the same thing here:
#1816

@stevestein the issue is that the documentation and the product only officially support Ubuntu 16.04 released 3 years ago and not even the most recent long term servicing release which is 18.04 released April 2018.

[2019-03-24 18:29] robinwilson16 commented on #1816
Workaround to get the latest mssql-server installed in current Ubuntu versions:
[code]

Workaround to the the latest mssql-server-is installed in current Ubuntu versions:
[code]

[2019-03-24 22:47] rrg92 opened #1817 "WMI namespace incorrect on "Working with the WMI Provider for Configuration Management""
On [file working-with-the-wmi-provider-for-configuration-management.md](https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/relational-databases/wmi-provider-configuration/working-with-the-wmi-provider-for-configuration-management.md#specifying-a-connection-string) the wmi namespace seems  incorrect...

Doing a little powershell script to return all wmi namespaces, and filtering just which co

[2019-03-25 00:50] MightyPen commented on #1817
@rrg92 Hello, I half understand what your core point is, but I need to be more clearly certain.

_Request:_ Can you please enter another comment to directly state what the problem is that may need fixing? In the comment, please @ notify me MightyPen.

&nbsp;

In many articles that show directory paths, the pathing on our test computer may well differ from the pathing on a customer's computer, due

[2019-03-25 07:22] vijayande opened #1818 "AttributeError: 'TransformWrapper' object has no attribute '_parents'"
Hi
I followed the steps as mentioned above and trying to execute the code
"
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER={******};DATABASE={NYCTaxi_Sample};Trusted_Connection=True;')
cursor = cnxn.cursor()
cursor.execute("EXECUTE [dbo].[PyPlotMatplotlib]")
tables = cursor.fetchall()
for i in range(0, len(tables)):
    fig = pickle.loads(tables[i][0])
    fig.savefig(str(i)+'.png')
print("The

[2019-03-25 10:06] glatzert opened #1819 "CREATE CREDENTIAL should mention gMSA"
The Documentation on sql-docs/docs/t-sql/statements/create-credential-transact-sql.md
should mention, if (and when yes, how) group Managed Service Accounts can be used here.

In fact all pages, which describe anything "credential" should mention, if groupManagedServiceAccounts are supported.

[2019-03-25 15:36] rrg92 commented on #1817
Hellow @MightyPen!

I will try to be more clear and precise:

I've highlighted the parts needs to be fixed and attached a [modified version](https://github.com/MicrosoftDocs/sql-docs/files/3004141/MicrosoftDocChange_Wmi.md.txt) of this file with proposed changes.

![image](https://user-images.githubusercontent.com/16887793/54927237-89a63700-4ef0-11e9-9a34-17c0ad2f3544.png)

The path mentioned on d

[2019-03-25 16:30] clarkmac opened #1820 "Unlimited Virtualization, improved content clarity"
This being the summary page of SQL edition comparison it would good if it was made more clear that Unlimited Virtualization is only available on Enterprise.  It is referenced in the edition overview but not explicitly called out in the Scale limits section, which would help clarify as many users are looking at Standard Edition now and have been using "Host Licensing" in the past with EE.

---
####

[2019-03-26 18:48] MightyPen commented on #1820
@MikeRayMSFT Hi Mike, Can you please process this Issue 1820.  Thanks.

[2019-03-26 18:50] MightyPen commented on #1819
@VanMSFT Hi Van, Can you please process this Issue 1819.  Thanks.

[2019-03-26 18:51] MightyPen commented on #1818
@HeidiSteen Hi Heidi, Can you please process this Issue 1818, about docs/advanced-analytics/.  Thanks.

[2019-03-26 19:38] stevenluda opened #1824 "Why pickup_datetime becomes character in the returned dataframe?"
I'm wondering why pickup_datetime in the returned dataframe is typed as character? This does not align with the instruction here https://docs.microsoft.com/en-us/sql/advanced-analytics/r/r-libraries-and-data-types?view=sql-server-2017. Also, when export dataframe from R to SQL server using rxDataStep, POSIXct became float in database. Why? Any solution?

---
#### Document Details

⚠ *Do not edit t

[2019-03-26 21:28] VanMSFT commented on #1819
Hi @glatzert! Thank you for bringing up this issue! We will evaluate adding gMSA documentation, and will track this in our ticketing system: User Story [1487988](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1487988). Since we're now tracking this internally, I'll proceed with closing out this Issue. However, please feel free to contact us if you have any additional information.

[2019-03-26 21:28] #1819 closed

[2019-03-27 07:58] glatzert commented on #1819
Thanks for taking care of it.

[2019-03-27 14:33] zippyjason commented on #1816
I strongly agree.  Ubuntu 18.04 is already a year old, with no official support.  Please consider adding support.

[2019-03-27 17:55] MikeRayMSFT commented on #1820
@clarkmac - thank you for the submission. We're evaluating an update for this issue.

[2019-03-27 18:48] MikeRayMSFT commented on #1746
@grcarter-microsoft thanks for the submission. The fix is in the pipeline.

[2019-03-28 00:07] MikeRayMSFT commented on #1820
@clarkmac because this is really a licensing issue and not an issue of technical scale, the information will not be added to the Scale limits section of the article. However you have highlighted an issue we will try to clarify with an update to the documentation. Thank you.

[2019-03-28 00:07] #1820 closed

[2019-03-28 08:27] MightyPen commented on #1817
@rrg92 Thanks much for this excellent explanation, and for the referenced commit that shows the specific improvements that you recommend.
I will take a close look at the info you have provided.

[2019-03-28 16:16] paulspencerwilliams opened #1828 "Error attempting to install mssql-tools on Ubuntu Docker 'Unable to locate package mssql-tools'"
I'm attempting to install full text support alongside mssql-tools into an Ubuntu based Docker container. I'm using the Dockerfile provided at

[code]

[2019-03-28 18:52] MightyPen commented on #1828
@paulspencerwilliams Hi Paul, This Issues website is for reporting errors in the documentation under
`https://docs.microsoft.com/sql/`.

If you are reporting a documentation error, can you please include a link (or exact web URL) for the offending documentation article.  That URL will help us understand and react.

I will leave this Issue 1828 open for a day or two, to give you time to add another

[2019-03-29 00:48] blakemartin opened #1831 "Many Wait Stats List "TBD" as Description"
Hi Folks!

The wait stats documentation here:
https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-os-wait-stats-transact-sql

....lists "TBD" as a description for a bunch of valid wait stats.  For example, the GLOBAL_QUERY_* waits show up with Azure SQL Elastic Queries.  Would love to see their actual descriptions in there, at your leisure.

Thank you!

[2019-03-29 14:57] tcna opened #1834 "sys.dm_hadr_database_replica_cluster_states is displayed as sys.availability_databases_cluster"
https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/relational-databases/system-dynamic-management-views/always-on-availability-groups-dynamic-management-views-functions.md

In some language page (Japanese, Chinese, Korea, etc.), sys.dm_hadr_database_replica_cluster_states is displayed as sys.availability_databases_cluster.

[2019-03-29 14:58] emilyqiuyu opened #1835 ""Spin up a Virtual Machine with SQL Server 2016 already installed" link does not work"
"Spin up a Virtual Machine with SQL Server 2016 already installed" link brings me to 404 not found page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 468d4b7b-8880-a867-de2c-75e6099474f9
* Version Independent ID: e57139bf-0bd8-eb5c-4896-71488873c1f0
* Content: [Editions and supported features of SQL Server 2016 - SQL

[2019-03-29 15:04] tcna opened #1836 "sys.dm_cdc_log_scan_sessions is not linked from System Dynamic Management Views"
https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/relational-databases/system-dynamic-management-views/change-data-capture-sys-dm-cdc-log-scan-sessions.md

sys.dm_cdc_log_scan_sessions is not linked from https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/system-dynamic-management-views.

I think a page like https://docs.microsoft.com/en-us/sql/relation

[2019-03-29 18:29] MightyPen commented on #1831
@blakemartin Hi, you make a fair point.  For several reasons this work item will take months to Complete (not weeks).  Therefore I am shifting this work from this Issue 1831 to our internal DevOps item 1493218.

When 1493218 is Completed, our intention is to update this Issue 1831 again, with an @ notification of you.

https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1493218

I am n

[2019-03-29 18:29] #1831 closed

[2019-03-29 18:33] MightyPen commented on #1835
@MikeRayMSFT Hi Mike, Can you please process this Issue 1835, about a broken link.  Thanks.

@emilyqiuyu

[2019-03-29 19:24] MightyPen commented on #1834
DIAGNOSIS:

The following link to the JA-JP edition of our private repo DOES show the correct markdown.
Therefore, it seems that a subsequent Build or Publish phase did not occur or did not succeed.

(Following link does show the correct link and text, in the Japanese source.)

https://raw.githubusercontent.com/MicrosoftDocs/sql-docs-pr.ja-jp/live/docs/relational-databases/system-dynamic-managemen

[2019-03-29 19:29] MightyPen commented on #1836
@tcna Hello, we are no longer in favor of articles that have lists of links that the Table Of Contents (TOC) already supplies.    So we will not be making the update suggested in this Issue 1836.

But I certainly see why you suggested it, your suggestion is logical.

Thanks.  Closing now.

[2019-03-29 20:19] MightyPen commented on #1836
Oops, Closing now.

[2019-03-29 20:19] #1836 closed

[2019-03-30 14:57] MsSQLGirl opened #1839 "state_description is incorrect"
Hello,

In the [documentation](https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-os-buffer-pool-extension-configuration-transact-sql?view=sql-server-2017), the state_description mentions "1 = BUFFER POOL EXTENSION ENABLED". This should be changed to: "5 = BUFFER POOL EXTENSION ENABLED".

Thank you!

[2019-03-30 18:52] MightyPen commented on #1839
@MsSQLGirl Hi Julie, This Issue 1839 is being fixed by PR 9701.
In the future, for anything small like this, you have the option of clicking the pencil icon, at the top-right of the Docs article, to generate a little PR yourself.  Then I can simply approve your PR.

PR fix:    https://github.com/MicrosoftDocs/sql-docs-pr/pull/9701
Fixed, so now Closing this Issue 1839.

- [https://docs.microsoft.c

[2019-03-30 18:52] #1839 closed

[2019-03-30 19:02] MightyPen commented on #1630
@HeidiSteen @dphansen Heidi and David,
Please remember to finalize the LABEL on each Issue, when you Close the Issue.
This means Replacing the label named 'Issue-Status-*' with a label named 'Issue-Outcome-*'.

Today I finalized the label for you on this Closed Issue 1630.  (repo = 'sql-docs')

And thanks for putting in the related PR number, #9427.
To complete the _**bi-directionality**_ of the a

[2019-03-30 19:43] astrohart commented on #1630
Respectfully suggest the docs be updated to say what you just told me.  Thanks.

Regards,

Brian

[2019-03-31 06:27] blakemartin commented on #1831
Thanks @MightyPen!

[2019-04-01 01:03] manchuwook opened #1841 "Resource must be configured with notify=true"
When I'm using this guide, I get to the part where I create the resource and now it just has a bunch of FAILED (blocked) entries in pcs status.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7de1f2c-d879-9ce4-09fd-251fc3dacc05
* Version Independent ID: 4de58f31-0b21-f4da-2a43-1eb4e8151f00
* Content: [Configure

[2019-04-01 11:54] manchuwook commented on #1841
This is on an Ubuntu cluster

[2019-04-01 17:31] MightyPen commented on #1841
@MikeRayMSFT Hi Mike, Here is an Issue 1841 about one of your SQL Linux articles.    I am unsure whether the original poster needs to provide more info, I leave that up to you.

Thanks.

[2019-04-01 17:33] SqlSmash opened #1842 "Elastic SQL Job sprocs don't have documentation"
For example, when I use the drop down [here (https://docs.microsoft.com/sql/relational-databases/system-stored-procedures/sp-add-jobstep-transact-sql?view=sql-server-2017)](https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-add-jobstep-transact-sql?view=sql-server-2017&viewFallbackFrom=azuresqldb-current) in order to switch from 2017 to single database / elastic

[2019-04-01 21:10] julieMSFT commented on #1774
@TwoUnder Matt, please review this and let me know how you would like to proceed.

[2019-04-01 21:56] MightyPen commented on #1842
@stevestein Hi Steve,

From docs/docfx.json, I paste in the relevant line:
-  `"relational-databases/**/*.md": ">= sql-server-2016 || >= sql-server-linux-2017 || = sqlallproducts-allversions",`

Above, In the docfx.json Versioning line, we see that Azure SQL Database (azuresqldb-current) is unmentioned in the line.

Therefore, this **Issue 1842 might be claiming a Versioning problem.**  Perhaps th

[2019-04-01 22:21] SqlSmash commented on #1842
Yes, the parameters are different on-prem (msdb) vs. Azure SQL Db (a "Job" database targeted when creating an Elastic Database Job resource).

[2019-04-01 22:27] craigg-msft commented on #1802
@mcowart123 investigating.

[2019-04-02 01:11] manchuwook commented on #1841
I tried both
[code]

and

[code]

as I had seen something about a bug with putting meta notify=true after --master and they both have the same resulting error message.

[2019-04-02 06:24] vijayande commented on #1818
Hi @MightyPen or @HeidiSteen

May I expect some quick response on this please. Now it's more than 7 days already, my learning has been on hold because of this issue.

[2019-04-02 07:46] MightyPen commented on #1818
@dphansen Hi David, If you are handling docs/advanced-analytics/ documentation now, can you please process this Issue 1818 for @vijayande .

Thanks.  GeneMi.

CC: @HeidiSteen

[2019-04-02 14:53] HeidiSteen commented on #1818
@vijayande  Hi Vijay sorry for the delayed response.  I cannot reproduce the error you are seeing.  I stepped through perquisites and loaded the tools and packages using the instructions in the docs.  My connection from Jupyter Notebooks is as follows, and it returns the plot.

%matplotlib notebook
import pyodbc
import pickle
import os
cnxn = pyodbc.connect('DRIVER=SQL Server;SERVER=localhost;DATA

[2019-04-02 14:58] HeidiSteen commented on #1818
@vijayande   I think you should take a step back and revisit a few of these articles specifically:

1. Make sure Python is working on SQL Server >> https://docs.microsoft.com/en-us/sql/advanced-analytics/tutorials/quickstart-python-verify?view=sql-server-2017

2. Make sure the sample database exists and that you can return data from it >> https://docs.microsoft.com/en-us/sql/advanced-analytics/tut

[2019-04-02 16:15] Dylan-MSFT opened #1845 "Move the reverse DNS check to after joining the machine to the domain"
On some systems, the rDNS entries will be added by the domain join. Please move the rDNS check to after domain joining so fewer customers will have to do anything.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12171705-e172-ae55-c93a-7c9c707a6fc8
* Version Independent ID: 918d86e4-98bc-1465-243d-e0cc308f859a
* Content

[2019-04-02 16:19] Dylan-MSFT opened #1846 "Add /etc/krb5.conf to files modified by SSSD"
In "Option 1: Use SSSD package to join AD domain", step 3 mentions several files which are modified by SSSD. Please add /etc/krb5.conf to that list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12171705-e172-ae55-c93a-7c9c707a6fc8
* Version Independent ID: 918d86e4-98bc-1465-243d-e0cc308f859a
* Content: [Join SQL Ser

[2019-04-02 16:25] Dylan-MSFT opened #1847 "Incorrect info about enablekdcfromkrb5conf"
In "Post SQL Server 2017 CU14", it states that you would use enablekdcfromkrb5conf if you joined with SSSD. This is not true. You would use this if you have set up AD with third-party providers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd6e9f1-17ab-7aea-818e-d2ab416e3891
* Version Independent ID: 3b789cdc-ca6c-4a

[2019-04-02 16:29] Dylan-MSFT opened #1848 "When adding SPNs to the keytab, you only add the full SPN"
When creating SPNs, the instructions create two: FQDN and NetBIOS. When we create the keytab, the instructions only add one. Please have those ktutil instructions add both.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd6e9f1-17ab-7aea-818e-d2ab416e3891
* Version Independent ID: 3b789cdc-ca6c-4aca-ae01-b094926dbd7c

[2019-04-02 16:31] Dylan-MSFT opened #1849 "Extra wkt when adding UPNs to keytab"
When adding the UPN to mssql.keytab, the second wkt command "wkt /var/opt/mssql/secrets/mssql.keytabe" should be removed. It is unnecessary and misspelled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd6e9f1-17ab-7aea-818e-d2ab416e3891
* Version Independent ID: 3b789cdc-ca6c-4aca-ae01-b094926dbd7c
* Content: [Tutor

[2019-04-02 16:32] Dylan-MSFT opened #1850 "Formatting issue when adding MSA to keytab"
When adding the MSA to mssql.keytab, step 4 changes formatting by adding "ktutil: " to the start of commands. Please keep consistency within the ktutil section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd6e9f1-17ab-7aea-818e-d2ab416e3891
* Version Independent ID: 3b789cdc-ca6c-4aca-ae01-b094926dbd7c
* Content: [T