[2019-05-16 11:10] traineedevops commented on #2142
Thank you for your reply !

Yes, really a have problem with product...
Thanks for links.

[2019-05-16 13:57] NileshGule commented on #2117
@MikeRayMSFT Thank you for the response. I will raise the query in other forums.

[2019-05-16 14:36] NileshGule commented on #2119
Thanks @VanMSFT. I have created a pull request by upgrading the tag to CTP2.2 from an existing tag. Waiting for the pull request to be approved and merged.

[2019-05-16 15:12] TsukeNoMe opened #2148 "Configuration Location"
It would be great if someone was to think to mention where the generated ini would be located.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33aa7982-7edb-b858-7811-037a1d6d5bcc
* Version Independent ID: 683dcf24-4cb8-6eb7-f9bb-c916f3e85044
* Content: [Install SQL Server Using a Configuration File - SQL Server](https:

[2019-05-16 15:17] stevestein commented on #2045
@pmalecka - thanks for raising this issue!  Release notes for 15.9.1 have been added to the [current page](https://docs.microsoft.com/sql/ssdt/release-notes-ssdt?view=sql-server-2017#1591-ssdt-for-vs-2017) so I'm going to close this.

Thanks!

[2019-05-16 15:17] #2045 closed

[2019-05-16 16:50] MashaMSFT commented on #2148
Hi @TsukeNoMe , thanks for contacting Microsoft! We do not call out the path in the documentation as it may vary from installation to installation.  You can see the path where the file is generated from the GUI of the setup media, on the last "Ready to Install" page.

We mention that here:
2. Follow the wizard through to the Ready to Install page. **The path to the configuration file is specified

[2019-05-16 18:06] dahovey opened #2150 "Azure Blob Storage from SQL Server on Linux"
The first paragraph states `The backup functionality is the same across platforms. For example, you can backup databases locally, to remote drives, or to Microsoft Azure Blob storage service.` Is it really correct that Azure Blob Storage is supported on Linux?

I tried following documentation here [https://docs.microsoft.com/en-us/sql/relational-databases/tutorial-sql-server-backup-and-restore-to-

[2019-05-16 19:18] #2142 closed

[2019-05-16 20:28] yualan opened #2151 "test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 599c7424-e0df-94a4-411b-19bbfa724998
* Version Independent ID: 1700c6a6-b6f8-3801-7302-fefae242b032
* Content: [SQL Server Import Extension - Azure Data Studio](https://docs.microsoft.com/en-us/sql/azure-data-studio/sql-server-import-extension?view=sql-server-2017)
*

[2019-05-16 20:29] #2151 closed

[2019-05-16 20:40] nschonni opened #2152 "Graphic does not display properly in Dark Theme"
Similar to #1889, on https://docs.microsoft.com/en-us/sql/reporting-services/report-builder/generating-data-feeds-from-reports-report-builder-and-ssrs?view=sql-server-2017 the images of text do not render correctly in the dark theme (because of the transparent background?)

![image](https://user-images.githubusercontent.com/1297909/57885504-1090d500-77f9-11e9-95a2-0f6b58ef86d8.png)

[2019-05-16 22:20] VanMSFT commented on #2146
Hello @Houuse!

Thanks for contacting Microsoft!  From my understanding, you're requesting support on how to do something, is that correct? If so, unfortunately, this form of contact is intended explicitly for reporting issues with the documentation, and not for the product. To get further assistance with your issue, we'd recommend engaging the community, or opening a ticket with Microsoft Support

[2019-05-16 22:53] MashaMSFT commented on #2147
Hi @Phil-Factor , thanks for contacting Microsoft! I'm sorry to hear the PDF download isn't working for you.  I checked the page you're referring to, and I was able to produce a PDF download in Chrome. Is it possible there may be some browser settings that's preventing it from working on your end?

![image](https://user-images.githubusercontent.com/32783170/57892123-ae34d600-77f2-11e9-8329-127ce5e

[2019-05-16 22:55] stevestein commented on #1896
@greglow - The team is currently working on this but to help users who need the utility we added a note to the top of the [ssbdiagnose ](https://docs.microsoft.com/sql/tools/ssbdiagnose/ssbdiagnose-utility-service-broke) page saying to install _ssbdiagnose_ by installing SSMS 17.9.1.

I'm going to go ahead and close this issue. We'll update the article/note when the download details change.

Thank

[2019-05-16 22:55] #1896 closed

[2019-05-16 23:02] VanMSFT commented on #2150
Hello @dahovey! Thank you for reach out to Microsoft on this Documentation forum. It seems that your question is more of a Support issue, but I'll have my colleague, Mike verify.

@MikeRayMSFT - please help verify that Azure Blob Storage is supported for backup in Linux. Thanks!

[2019-05-16 23:12] VanMSFT commented on #2152
@nschonni - Thanks Nick! Yes, this is due to the image being saved with transparent background. We are looking into the issue and will provide a fix. Since we have a tracking work item for this, I will go ahead and close this Issue, but please feel free to let us know if you have any additional feedback. Thanks again for bringing this to our attention.

[2019-05-16 23:13] #2152 closed

[2019-05-16 23:31] nschonni commented on #2152
OK, I might suggest converting these to Markdown/HTML tables in this particular case, since that should solve the theme issue

[2019-05-17 02:34] msftsandysun opened #2154 "can we declare this 'upgrade replicated database' process also applied to patch SQL Server not only upgrade?"
We encountered a few cases that if we don't follow this article steps when apply patch to SQL Server in replication, we may still encounter error like 'The process could not execute 'sp_replcmds', can we declare this  'upgrade replicated database' process not only apply to SQL Server upgrade but also apply to SQL Server patching? Thanks a lot.

---
#### Document Details

⚠ *Do not edit this sectio

[2019-05-17 02:57] Piquet65 opened #2155 "Run_Status = 4 (In Progress) - records are never present in sysjobhistory with this run_status"
This issue may be more of a bug with the product than an issue with the page. Either way the doco and product (SQL 2014 thru to SQL 2017) do not agree. Jobs / steps that are currently "In Progress" DO NOT have a record present in msdb.dbo.sysjobhistory with run_status=4. This appears to be true for single step jobs, multi-step jobs for SQL Server 2017 back to (at least) SQL Server 2014.
Ideally th

[2019-05-17 05:56] jigarce opened #2156 "SSMS 18 query window refresh issue"
Hi,

I have installed SSMS version 18 in windows 10 OS.

Please see below screenshot for more details

![image](https://user-images.githubusercontent.com/8125778/57905962-f2c57d80-7895-11e9-8263-80d3dd9bb4a7.png)

My issue is whenever I modify / open store procedure in new query window old query window is not showing its data properly until I scroll.

![image](https://user-images.githubusercontent

[2019-05-17 14:51] rockn4 opened #2157 "Can't restore database"
Ellipses to find BAK file to restore database just freezes (Not Responding). Using 18.0 against a 14.0.1000.169 server

[2019-05-17 16:27] MightyPen commented on #1982
Fix is in PR #10263, in the sister private repo.
https://github.com/MicrosoftDocs/sql-docs-pr/pull/10263

[2019-05-17 16:42] CarlRabeler commented on #2118
@chojrak11 the option is INFINITE not INFINITY

Also, updating docs to state support for SQL Server 2017 and newer

[2019-05-17 16:43] MightyPen commented on #1982
@GilesDMiddleton Hello Giles, The fix should be live before Monday 2019/May/20.  It is an added bullet to the Limitations list.

Thank you very much for bringing this to our attention.
(I am now Closing this Issue 1982. However, the @ notification mechanism continues to function even in Closed Issues.)

[2019-05-17 16:43] #1982 closed

[2019-05-17 17:19] CarlRabeler commented on #2118
https://github.com/MicrosoftDocs/sql-docs-pr/pull/10266

[2019-05-17 17:21] MashaMSFT commented on #2154
Hi @msftsandysun , thanks for contacting Microsoft! Sorry, are you just asking if this process should be used for when patching SQL Server, or are you asking to have this added to the documentation? If the former, yes.

If the latter, it may be faster for you to edit the content yourself via a Pull Request (PR). To do so, please do the following:

1. Navigate to the page of interest
2. Select the

[2019-05-17 17:42] jeffrey-yao opened #2158 "about run_duration"
the document should detail about what if run_duration is more than 24 hrs or 100 hrs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1188cb1-de0a-ce57-5baf-40ae903b41ef
* Version Independent ID: 86dc9874-a01d-e26f-d13b-3785ffd5c497
* Content: [dbo.sysjobhistory (Transact-SQL) - SQL Server](https://docs.microsoft.com/e

[2019-05-17 18:55] MashaMSFT commented on #2049
Hi @Haiming247 , thank you for your patience as I researched this a bit further for you. It looks like this behavior is by design.

If only ORDER BY is specified then the window frame is RANGE UNBOUNDED PRECEDING AND CURRENT ROW. So the first row (based on the ORDER BY clause) will include only that row, the 2nd row will include rows 1 & 2 and so on. PARTITION BY merely decides how to split the qu

[2019-05-17 18:57] MashaMSFT commented on #1979
Hi @simonsabin , thanks for your patience while I looked into this a bit further. You're right, there are some conditions for minimally logged operations to happen with inserts into CCI. The recovery model of the database overrides these conditions ultimately. So the database has to be SIMPLE | BULK_LOGGED to get minimally logged operations even with CCI. We're working on updating the documentatio

[2019-05-17 18:58] VanMSFT commented on #2155
Thank you @Piquet65 for bringing up this issue. We appreciate your feedback. I'm assigning this issue to my colleague, Steve to help clarify.

[2019-05-17 18:59] MashaMSFT commented on #1987
Hi @bbakermmc , thanks again for contacting Microsoft! I apologize for the delay during my research. Unfortunately, Azure Key Vault is not supported today. Please feel free to provide feedback about this directly to the product group: https://aka.ms/sqlfeedback.

Please let me know if there is anything further we can do to assist you? If not, we will proceed with closing out this Git Issue in a fe

[2019-05-17 19:02] VanMSFT commented on #2156
@jigarce - Hello Jigar!

Thanks for contacting Microsoft!  From my understanding, the issue you're describing seems to be an issue with the product, is that correct? If so, unfortunately, this form of contact is intended explicitly for reporting issues with the documentation, and not for the product. To get further assistance with your issue, we'd recommend engaging the community, or opening a tic

[2019-05-17 19:05] #2086 closed

[2019-05-17 19:07] VanMSFT commented on #2157
Hello @rockn4!

Thanks for contacting Microsoft!  From my understanding, the issue you're describing seems to be an issue with the product, is that correct? If so, unfortunately, this form of contact is intended explicitly for reporting issues with the documentation, and not for the product. To get further assistance with your issue, we'd recommend engaging the community, or opening a ticket with

[2019-05-17 19:10] VanMSFT commented on #2158
Hello @jeffrey-yao! Thank you for providing your feedback on our documentation. I'm adding my colleague, Steve to help clarify.

[2019-05-17 22:26] stevestein commented on #2122
@anon-acid - Thanks for the feedback!

The answer is not so simple because it really depends on the specific situation.

- Some messages come from SQL. In that case, the message is displayed in the locale of SQL server (i.e. bcp and sqlcmd simply relay the message)
- Likewise, messages coming from the driver (ODBC) are displayed based on the locale installed on the machine running sqlcmd/bcp (ODBC

[2019-05-18 03:41] #2156 closed

[2019-05-18 08:36] simonsabin commented on #1979
Hi masha

That’s not the case, not based on my testing anyway. You don’t need simple or bulk logged to get minimal logging for CCIs. That’s why it’s suggested for managed instance and sq database

Simon Sabin
Director Engineering Sabin.io
Founder SQLBits
Microsoft Regional Director & MVP

________________________________
From: Masha at MSFT <notifications@github.com>
Sent: Friday, May 17, 2019 7:5

[2019-05-18 13:27] leehbi opened #2162 "SQL Server 2017, compatibility 1400 needs a different connection string"
I had to amend the connection string and cube name to get this package working with 1400 compatible tabular cubes as follows:

cnnstr &lt;- "Data Source=localhost;Provider=MSOLAP;Initial Catalog={cube name}"
...
cube(qry) &lt;- "Model"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 108c0c82-0821-9492-368c-9d865bc2d71b

[2019-05-18 14:12] EnjoyinMoss opened #2163 "Code examples incorrect in RMO section"
The ServerConnection lines in the RMO code examples are incorrectly specifying subscriberName as the variable being passed when it should be publisherName.  This is reinforced by the preceding code comment:  //Create a connection to the Publisher.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4aacac09-b7ac-5338-6525-7

[2019-05-19 08:10] josersleal opened #2164 "does not work with migrations"
https://github.com/aspnet/EntityFrameworkCore/issues/11329

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea66ca27-e0b1-cd1e-a8ef-55911169c71a
* Version Independent ID: f2340ce9-9771-851e-60a7-237c6e55f085
* Content: [SQL Server Express LocalDB - SQL Server](https://docs.microsoft.com/en-us/sql/database-engine/configur

[2019-05-20 01:42] BingjieGao opened #2167 "Error Azure Active Directory is only supported on Windows operating systems."
Regarding the connection issue to Azure SQL server database with Azure Active Directory, running into an error and hopefully we could get official support on this. Thank you!

---

_Details:_
- **System details:**  Ubuntu 16.04.3 LTS (GNU/Linux 4.15.0-1039-azure x86_64)

- **Programming Language:** Java

- **classpath jar file:** sqljdbc42.jar

- Detailed **Error Response** from below code snippet

[2019-05-20 01:42] #2167 closed

[2019-05-20 06:44] vijendrapatil opened #2168 "Does Notification Services works with SQL Server 2016?"
Does Notification Services works with SQL Server 2016? We have configured Notification Service on SQL 2008, and we are looking for a way to migrate it to SQL 2016

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bec6db7d-c543-e82f-4608-a6547a07a85d
* Version Independent ID: 39aa630b-671e-1ee8-52da-1a81ccba91a1
* Content:

[2019-05-20 12:02] eltionb opened #2170 "SSMS 18 closes immediately after startup"
Solution found here.

https://stackoverflow.com/questions/49279586/sql-server-management-studio-closes-immediately-after-startup

Please fix for next version

[2019-05-20 12:09] HeinziAT opened #2171 "Also returns Views"
The description of the TABLE_TYPE column strongly hints that INFORMATION_SCHEMA.TABLES also returns views, but since this is SQL Server documentation and, in SQL Server lingo, an View is not a Table, the first line should read: "Returns one row for each table *and view* ..." instead of "Returns one row for each table ...".

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-05-20 13:36] CeciAc opened #2172 ""以前のバージョン" three links are the same"
@hyoshioka0128 commented on [Sat May 18 2019](https://github.com/MicrosoftDocs/sql-docs.ja-jp/issues/262)

https://docs.microsoft.com/ja-jp/sql/database-engine/discontinued-database-engine-functionality-in-sql-server-2016?view=sql-server-2017

以前のバージョン
    ・SQL Server 2014 で廃止されたデータベース エンジンの機能)
    ・SQL Server 2012 で廃止されたデータベース エンジンの機能)
    ・SQL Server 2008 で廃止されたデータベース エンジンの機能)
 → three links are

[2019-05-20 13:38] CeciAc commented on #2172
Hi team,
the error the contributor is reporting is also present in the source page.

These three links lead to the same target:
![imagen](https://user-images.githubusercontent.com/26746247/58025658-509ed300-7aeb-11e9-95f9-1981da24a992.png)

[2019-05-20 16:42] pedroalfaroarias opened #2173 "Download error"
The download of the archive is failing, when it finishes, it star again and over again, being in a infinite downloading

When it reach the total of MB, it starts again, and over again, we have check it yet and is not a internet or device problem, it comes from microsoft website download module.

[2019-05-20 21:19] MikeRayMSFT commented on #2117
@SQLSourabh - I'm closing this issue at this time, because SQL Server 2019 is still preview. However, I'm including you so that you may review @NileshGule comment. Thank you.

[2019-05-20 21:19] #2117 closed

[2019-05-20 21:21] MikeRayMSFT commented on #2119
Hi @NileshGule - thank you for testing our content for preview software and providing this feedback. We will be updating soon. Including @SQLSourabh

[2019-05-20 21:21] #2119 closed

[2019-05-20 21:35] MikeRayMSFT commented on #2129
Hi @joseplar - I've reproduced the behavior. I'm checking with our engineers. Thank you for the submission.

[2019-05-20 21:47] MikeRayMSFT commented on #2137
@LuisGonzalezLT - we're looking into this. Thank you for raising it.

[2019-05-20 21:53] MikeRayMSFT commented on #2143
@tschleining checking with some colleagues to confirm. Thank you for the submission.

[2019-05-20 21:56] MikeRayMSFT commented on #2150
Hi @dahovey - thank you for the submission. I think there maybe something we can address with docs. I will get back to you soon.

[2019-05-20 21:58] MikeRayMSFT commented on #2137
My colleague, @markingmyname will take a look at this.

[2019-05-20 21:59] chadash commented on #2121
it's really a stupid thing, why to remove productive thing?

[2019-05-20 22:05] pmasl commented on #2129
Hi @joseplar
This is actually by design. We can clarify the docs. I created a table like this (you didn't include yours so I assume it's similar to this):

CREATE TABLE boolTable (c1 VARCHAR(10), c2 VARCHAR(10), c3 VARCHAR(10))
GO

Unlike other programming languages, the entire T-SQL statement is evaluated and parsed for execution as a single batch.
As such, SQL Server must follow the rules of dat

[2019-05-20 23:05] MikeRayMSFT commented on #2063
@mburbea, you are correct. Beginning with SQL Server 2012, sql_variant supports datetime offset. We're updating the content. Thank you @pmasl

[2019-05-20 23:08] MikeRayMSFT commented on #2129
Thank you @pmasl

[2019-05-20 23:08] #2129 closed

[2019-05-20 23:25] pmasl commented on #1971
NaN is not supported in T-SQL. If you want to test for whether a value is numeric or not, use the function IsNumeric.

[2019-05-20 23:31] nahk-ivanov opened #2175 "Incorrect grammar for SERVICE_OBJECTIVE on CREATE DATABASE page"
On the ```CREATE DATABASE``` page for ```SQL Database single database/elastic pool```, the grammar for ```SERVICE_OBJECTIVE``` is not correct: every line end has ```|``` and subsequently every new line has ```|``` at the beginning. This prevents any grammar parser from understanding the alternatives.

For instance:
[code]

Should be
[code]

---
#### Document Details

⚠ *Do not edit this section. I

[2019-05-20 23:48] MikeRayMSFT commented on #2029
Thank you @magasvs for raising this issue! It sheds light on this subject. We are updating the article.

[2019-05-20 23:48] #2029 closed

[2019-05-21 00:02] MikeRayMSFT commented on #2163
@EnjoyinMoss - thank you for pointing this out. @MashaMSFT will take a look shortly if we have questions.

If you're interested, you can submit an update to the docs directly. Go to http://aka.ms/editsqldocs. You'll need a github account.

[2019-05-21 00:06] MikeRayMSFT commented on #2172
@hyoshioka0128 - thank you for pointing this out. We have submitted an update to the article you mentioned.

It is in a private pull request (https://github.com/MicrosoftDocs/sql-docs-pr/pull/10302) but the update should be visible in a day or so. Thank you for identifying this problem.

[2019-05-21 00:06] #2172 closed

[2019-05-21 01:17] MikeRayMSFT commented on #2164
@josersleal - thanks for submitting this information. I'd like to better understand what scenario fails here. Can you be more specific about the migration scenario that fails? Thanks!

[2019-05-21 04:07] MikeRayMSFT commented on #2170
@eltionb - thank you for pointing this out. I'm reaching out to @yualan to see if he has additional helpful information.

[2019-05-21 04:14] MikeRayMSFT commented on #2171
@HeinziAT - thank you for this comment. We're updating the docs. The update should be live in the next ~24 hours

[2019-05-21 04:14] #2171 closed

[2019-05-21 04:19] MikeRayMSFT commented on #2173
Hi @pedroalfaroarias Can you tell me a little bit more:

The download of what archive is failing? What Microsoft website is the download from?

Thank you,
Mike

[2019-05-21 04:20] MikeRayMSFT commented on #2175
@nahk-ivanov thank you for the submission. We're looking at the problem you describe.

[2019-05-21 04:25] MikeRayMSFT commented on #2168
@vijendrapatil - thank you for the submission, I will check and get back to you soon.

[2019-05-21 07:09] vijendrapatil commented on #2168
Its bit urgent. Your speedy reply would be helpful.

[2019-05-21 08:18] fowl2 opened #2176 "KB 968389 No Longer Availalbe"
This paragraph links to https://support.microsoft.com/kb/968389, which is no longer available.

"For more information about how to enable Extended Protection for the operating system, see Extended Protection for Authentication. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3fbb99b-b42b-0558-7270-e9a3c8b34828
* Vers

[2019-05-21 13:57] pedroalfaroarias commented on #2173
Hi Mike,

The archive I´m talking about is the SQL Server Management Studio (SSMS) 18.0, on this link https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-2017.

Regards,

--
Pedro Andres Alfaro Arias
GLO - Global Logistics Organization
pedro.alfaro@hpe.com<mailto:pedro.alfaro@hpe.com>
+(506) 2699 5812
[hpesm_pri_grn_pos_rgb]
Heredia, Costa Rica

Fro

[2019-05-21 14:04] awbloss opened #2178 "Hi, What is principle_id?"
There should be an explanation for each column and a link to more explanation if necessary.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22e470e8-1f34-15d6-eec8-6aac56571b41
* Version Independent ID: bc96eae1-2e52-9726-ef37-bc42aa0cc117
* Content: [sys.schemas (Transact-SQL) - SQL Server](https://docs.microsoft.com/e

[2019-05-21 15:11] joseplar commented on #2129
Thanks, Ray, Van and Pedro.

I ran into the error while trying to fix a script a colleague created.
I had to provide a similar explanation as the one Pedro clearly detailed.

Now I have an email from experts, so it makes it a lot easier to explain.

Thanks again.

José Plá

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Mike Ray <notifications@github.com>
Se

[2019-05-21 15:13] MikeRayMSFT commented on #2168
@vijendrapatil [Notification Services](https://support.microsoft.com/en-us/lifecycle/search?alpha=Microsoft%20SQL%20Server%20Notification%20Services%202.0%20Standard%20Edition,Microsoft%20SQL%20Server%20Notification%20Services%202.0%20Standard%20Edition) was deprecated in SQL Server 2005 and removed after SQL Server 2008.

[2019-05-21 15:14] #2168 closed

[2019-05-21 15:26] MikeRayMSFT commented on #2168
Cleaning up articles mentioning SSNS is internal work item [User Story 1537101: SQL | Remove articles about SQL Server Notification Services (NS)](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1537101)

[2019-05-21 15:46] MikeRayMSFT commented on #2176
Thanks @fowl2  for submitting this. My colleague @VanMSFT will review.

[2019-05-21 15:54] #2178 closed

[2019-05-21 17:43] mohamednazar commented on #1991
SSMS 18.0 (GA) installed on Windows 2016, after installed it restarted the machine but SSMS is not opening . Please help!

[2019-05-21 18:44] dphansen commented on #2162
@leehbi Thank you for your information. I am currently looking into the issue and will keep you updated.

[2019-05-21 22:03] VanMSFT commented on #2176
@fowl2 - Thank you, James for providing feedback on our documentation! I'm fixing the link and it should be live by tomorrow. We appreciate your help! If there are any concerns, please don't hesitate to let us know. I'll go ahead and close this for now.

https://github.com/MicrosoftDocs/sql-docs-pr/pull/10334

[2019-05-21 22:03] #2176 closed

[2019-05-21 22:28] SDP190 opened #2180 "WITH FORMAT: "The existing contents of the volume become invalid, because any existing media header and backup sets are overwritten", the existing contents are not just invalid, its actually deleted"
When you say that using "WITH FORMAT" causes "_The existing contents of the volume become invalid, because any existing media header and backup sets are overwritten_", it seams that the initial data is not being explicitly formatted and deleted but only overridden, thus say the original backup is larger then the current backup the file will not get shrunken.

However I tested it and found that doi

[2019-05-22 04:55] Maggie18z opened #2181 "If MSA can register SPN automatically?"
"An MSA has the ability to register Service Principal Name (SPN) with the Active Directory. " Does it need to grant read/write SPN permission manually or it should already with the permission?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b3831a3-6c86-243c-4b07-8960e4d06d7b
* Version Independent ID: dfd7599d-88eb-99f

[2019-05-22 06:58] fowl2 opened #2182 "sp_migrate_user_to_contained - add warning that it's irreversible"
It would be nice if there was a note on here mentioning that there is no way of reversing this command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3affeb6a-cf0f-1b7a-abfd-7661435f863b
* Version Independent ID: d4899b08-843d-2c5d-4bfa-d7a0ab130653
* Content: [sp_migrate_user_to_contained (Transact-SQL) - SQL Server]

[2019-05-22 12:17] jahav opened #2183 "Case insensitive wildacard range"
Beware that wildcard ranges are not behaving same as expanded range even in simple cases with collate use. The page notes that 'In range searches, the characters included in the range may vary depending on the sorting rules of the collation.', but it doesn't work properly even for a simple case:

-- db collation Czech_CI_AS
create table People (Id int identity, GivenName nvarchar(100));
insert int

[2019-05-22 13:18] anon-acid commented on #2122
Ok.

It would be nice if there was a way to get the total number of rows copied from console output.
Previously i was using regex to find "10 rows copied." But based on the given design, it should not be used.

Can you suggest any other way to achieve this? just from the console output.

[2019-05-22 14:36] JayPenney opened #2185 "No list?"
It would be nice to just have a basic list of ports needed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3bdfbfc-233e-77f1-7ce0-dd7f9df5899d
* Version Independent ID: 311358ab-78ca-6739-201d-13b05917e9da
* Content: [Configure the Windows Firewall to Allow SQL Server Access - SQL Server](https://docs.microsoft.com/en-

[2019-05-22 15:45] cabbruzzese opened #2186 "Return Value is unclear"
The Returns Types paragraph is not clear on what is actually returned. Perhaps rewording it as "The return type for this method is dynamic. It will return the same data type as the argument supplied for the *date*."

Because this is unclear, I naturally assumed that the next section "Return Value" would have more information, but it appears to be providing sanity check information for some of the

[2019-05-22 17:46] CarlRabeler commented on #2112
@piratejon 0 is the default value, which indicates that all values are stored directly in the data row.

[2019-05-22 19:56] srutzky commented on #2183
Hello @jahav . Actually, this is behaving correctly. The issue is simply a misunderstanding of how it should work, and an incomplete test that doesn't show the _complete_ behavior. To be clear, the pattern `[ABC]` is just a multi-character wildcard, it is not a "range". It works similar to an `IN` list in that it will try to match against `'A' OR 'B' OR 'C'`.

The `[A-C]` pattern _is_ a range that

[2019-05-22 20:32] srutzky opened #2188 "Please move DATABASE_PRINCIPAL_ID from "Metadata" to "Security" in left nav / TOC"
Currently, the `DATABASE_PRINCIPAL_ID` built-in function is categorized in the "Transact-SQL (T-SQL) / Functions / Metadata" group. It does not belong there. It should be in the "Transact-SQL (T-SQL) / Functions / Security" group, just like all of the other `*USER*` and `*LOGIN*` functions.

I tried to update the following file that contains the left-nav / TOC:

https://github.com/MicrosoftDocs/sq

[2019-05-22 22:38] srutzky opened #2190 "Add missing page for USER_SID built-in security function"
There is a built-in function that shows up in SSMS Intellisense named `USER_SID`. This function operates very similarly to [SUSER_SID](https://docs.microsoft.com/en-us/sql/t-sql/functions/suser-sid-transact-sql), except that you pass in `database_principal_id` (`SMALLINT`) instead of `login_name` (`sysname`) like you do for `SUSER_SID`. I suppose it could be intentionally "undocumented", but I can

[2019-05-22 23:39] dphansen commented on #2162
@leehbi We have added the Initial Catalog to the example code. It will be published tomorrow. Thanks you.

[2019-05-22 23:39] #2162 closed

[2019-05-23 08:28] leehbi commented on #2162
There’s one other change - qry(cube) = ‘model’ for 1400 cubes - thanks for amending doc - I almost thought OlapR didn’t support tabular cubes.

[2019-05-23 08:55] jahav commented on #2183
Thank you very much for a thorough answer. I get it now.

[2019-05-23 08:55] #2183 closed

[2019-05-23 10:51] blueelvis opened #2194 "Is Sqlpackage available on the Microsoft package feed?"
Hi,

Is this package available on the Microsoft Package feed for Linux? If not, is it possible to make it available there? It would be much easier to just run `apt-get install sqlpackage` once the feed is configured. If yes, could you please add documentation about that as well?

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-05-23 11:16] KalleOlaviNiemitalo opened #2196 "REFERENCES does not apply to SYNONYM"
The table under "Permissions Applicable to Specific Securables" claims that the REFERENCES permission applies to SYNONYM, among other classes. However, in SQL Server 2017, the following results in an error:

[code]

I think this behavior of SQL Server makes sense: the REFERENCES permission would be needed for SCHEMABINDING, but a SYNONYM does not ensure that the target object exists, so SCHEMABIND

[2019-05-23 11:24] wasim-sayyad opened #2197 "Extended events do not capture CREATE and ALTER LOGIN statements"
In SQL server 2012 and 2016, **CREATE LOGIN** and  **ALTER LOGIN** statements [are not trackable] by Extended events.

Is that bug or intentional?

Any alternative to capture same in SQL server in-premises environments ?

Thank you,
wasim_sayyad@hotmail.com

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-05-23 14:37] tdracz opened #2198 "ENCRYPTION BY CERTIFICATE"
What is the syntax for ENCRYPTION BY CERTIFICATE ? It doesn't seem to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 170326d4-4dd1-32cf-f96b-2d161cfc7cfb
* Version Independent ID: 1fa164f7-1987-70cb-4290-6a97b1717b19
* Content: [CREATE ASYMMETRIC KEY (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/s

[2019-05-23 16:35] VanMSFT commented on #2198
Hello @tdracz! Thank you for reaching out to Microsoft Documentation Team on your CREATE ASYMMETRIC KEY syntax question. Let me dig into this question and get back to you. Thank you!

[2019-05-23 16:42] srutzky commented on #2183
@jahav You are quite welcome. Please keep in mind that when using case-sensitive collations, ordering is not guaranteed to be lowercase first. Some collations, at least most of the `SQL_*` collations (and only when using `VARCHAR` data), sort uppercase first:

[code]

[2019-05-23 16:56] srutzky commented on #2198
Hello @tdracz . There is no `ENCRYPTION BY CERTIFICATE` option for **A**symmetric keys. I believe you are confusing this with [CREATE SYMMETRIC KEY](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-symmetric-key-transact-sql). **Symmetric Keys** do have the `ENCRYPTION BY CERTIFICATE` option, whereas **A**symmetric Keys only have the `ENCRYPTION BY PASSWORD` option.

Take care, Solomon

[2019-05-23 17:03] tdracz commented on #2198
Hello Solomon,
I'm not confusing it - that's what the "[CREATE ASYMMETRIC KEY](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-asymmetric-key-transact-sql?view=sql-server-2017)" documentation says: "ENCRYPTION BY <key_name_in_provider> Specifies how the key is encrypted. Can be a **certificate**, password, or **asymmetric key**." It clearly mentions certificate and even another asymme

[2019-05-23 17:28] VanMSFT commented on #2196
Hello @KalleOlaviNiemitalo! Thanks for contacting the Microsoft Documentation Team and helping with feedback! Let me dig into this issue and get back to you on updating the doc. Thanks!

[2019-05-23 17:53] VanMSFT commented on #2090
Hey @mburbea! Thanks again for this submission, and bringing this issue to our attention. Since Solomon has made edits to the documentation, and I have gone ahead and approved those changes, we'll close this issue. If you see any problems, please let us know. We appreciate your help and feedback on our documentation gaps. Thanks!

[2019-05-23 17:53] #2090 closed

[2019-05-23 17:58] srutzky commented on #2198
@tdracz : Sorry, I had skimmed over that part earlier and missed that detail. Yes, that is a documentation error. It looks to be a copy-paste error taken from another page entirely. In fact, with regards to `ENCRYPTION BY <key_name_in_provider>`, the "\<key\_name\_in\_provider\>" part makes absolutely no sense there. Also, the **Syntax** section shows `PROVIDER_KEY_NAME = 'key_name_in_provider'`,

[2019-05-23 18:23] srutzky commented on #2198
Forgot to mention, here are the options as far as I can tell:

[code]

[2019-05-23 18:30] vincemic commented on #2121
So I haven't used this feature in awhile. I just went looking for it for a brand new large project and I can't find it anywhere. Then I find this post. Seriously? Deprecated?

[2019-05-23 18:36] tdracz commented on #2198
Thanks Solomon, that was helpful.

[2019-05-23 18:51] dphansen commented on #2162
The example in the article uses an existing cube called "Analysis Services Tutorial". If you don't have that cube, you need to specify one you have. Thanks again for your contribution @leehbi - really appreciate it.

[2019-05-23 18:54] SnowLeopard71 opened #2199 "add PERSISTED details to Transact-SQL section"
The section showing how to add a computed column should include how to create a PERSISTED column by including the word.   example:
ALTER TABLE dbo.Products ADD RetailValue AS (QtyAvailable * UnitPrice * 1.5) PERSISTED;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7155e90b-8b59-5029-6020-223ea44bac84
* Version Indepen

[2019-05-23 21:38] pensivebrian commented on #2194
Hi, @blueelvis. There currently isn't an apt package for sqlpackage. I agree that an apt package would be the ideal way to install sqlpackage, and it's something we are strongly considering in future, but I don't have any specific timelines to get this done.

[2019-05-23 21:40] MightyPen commented on #2197
I wonder whether this tracking of CREATE LOGIN is within the capability of:
SSMS > Object Explorer > Databases > my database > Security > Audit
?

[2019-05-23 22:26] markingmyname commented on #2061
Hi @Ry-the-Stunner,

Do you have any previous versions of SSMS installed?  Starting in Mgmt Studio v18.0 it can be installed alongside previous versions.  Just curious. Thank you.

[2019-05-23 22:26] srutzky commented on #2198
@tdracz I submitted PR #2200 to clean this page up. It was a bit more extensive than I originally thought it would be 😿

[2019-05-23 22:28] markingmyname commented on #2194
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-05-23 22:28] #2194 closed

[2019-05-23 22:28] Ry-the-Stunner commented on #2061
Hi @markingmyname,

At the time, I did not have any previous versions of SSMS installed.  I had uninstalled v17.9 and installed v18.0 preview, and then when I upgraded to v18.0 GA, I started having the issue with SSMS not opening.

I had to revert back to v17.9 in order to be able to use it anymore.

[2019-05-23 22:59] markingmyname commented on #2061
@Ry-the-Stunner,

I can say I installed [18.0 (GA version)](https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-2017#download-ssms-180-ga) just today in fact and have had no issues opening the application or running the application.

I would suggest reaching out to UserVoice or opening a support ticket for this one.

[2019-05-24 09:43] sandeepkmishra opened #2203 "EXTERNAL TABLE Vs. POLYBASE IN AZURE SQL DATABASE"
Dear Team,
This article is miss-leading while trying to understand/using the concept of Polybase vs. creating external table from ADLS to Azure SQL Database.  Because of this, we are getting an impression like Azure SQL Database does supports Polybase design and by which we can reads the data directly from external sources like ADLS/Data Lake Store however it is not true as it does not support the

[2019-05-24 13:32] aksajith opened #2204 "Getting different answer while using PARSENAME"
When i am trying the below query, getting different answers.
` DECLARE @num2 decimal(26,10) = 152.00685100
 SELECT PARSENAME(@num2,1)      --- Output  :   0068510000
 SELECT PARSENAME(cast(@num2 as DOUBLE PRECISION),1)     ---- Output  : 007`

what is the difference in these query. What is doing in depth.
I just try to convert to NVARCHAR/VARCHAR and try. that also getting different result

---
##

[2019-05-24 16:12] esjayee opened #2205 "Good"
Just the information I needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e5a0c52-7600-3010-6811-3466e13e3289
* Version Independent ID: 41988d95-503f-0097-6850-5e5656905b91
* Content: [ROWCOUNT_BIG (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/functions/rowcount-big-transact-sql?view=sql-

[2019-05-24 16:54] CarlRabeler commented on #2203
Create External table is used for both elastic queries in Azure SQL Database and for polybase in Azure SQL Data Warehouse. I will revise the note at the top and the introductory sentence to make this a bit more clear.
@sandeepkmishra

[2019-05-24 17:13] CarlRabeler commented on #2205
@esjayee thanks for the positive feedback.

[2019-05-24 17:13] #2205 closed

[2019-05-24 19:29] VanMSFT commented on #2198
@tdracz @srutzky - We'll go ahead and close this Issue, since the changes by Solomon are submitted. You should see them live after the merging process. If there are any concerns, please don't hesitate to let me know. We appreciate your contribution!

[2019-05-24 19:29] #2198 closed

[2019-05-24 20:48] VanMSFT commented on #1957
Following up with @jaszymas

[2019-05-24 20:59] markingmyname commented on #2121
Thank you all for your suggestions and requests. We're on it. This will be discussed with the parties involved.

[2019-05-24 21:00] markingmyname commented on #2135
Thank you for your suggestion and request. We're on it. This will be discussed with the parties involved.

[2019-05-24 21:02] markingmyname commented on #2137
Hi @LuisGonzalezLT,

Thank you for your suggestion and request. We're on it. This will be discussed with the parties involved.

[2019-05-24 21:07] VanMSFT commented on #2190
Hey @srutzky, let me check on this and get back to you on adding that page. Thanks!

[2019-05-24 21:37] markingmyname commented on #2121
Hello to @Brinsi and to all of you,

There were some decisions made, but ultimately we are hoping to return the feature back in version 18.1 GA.

We apologize for any inconvenience.

Hope this helps.

Thank you.

[2019-05-24 21:37] markingmyname commented on #2121
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-05-24 21:37] #2121 closed

[2019-05-24 21:39] markingmyname commented on #2135
Hi @vmvmpvm,

You cannot SSMS without requiring Admin/Elevated privileges.

[2019-05-24 21:39] markingmyname commented on #2135
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-05-24 21:39] #2135 closed

[2019-05-24 21:44] markingmyname commented on #2137
Hi @LuisGonzalezLT,

We are aware of this issue and are discussing how to solve it.

We have no current ETA for when this will be completed.

Thank you for adding more visibility to this.

Have a great weekend!

[2019-05-24 21:44] markingmyname commented on #2137
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-05-24 21:44] #2137 closed

[2019-05-24 21:46] markingmyname commented on #2061
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-05-24 21:46] #2061 closed

[2019-05-25 05:39] sandeepkmishra commented on #2203
Thank you so much @CarlRabeler. Much appreciate your quick response.

Your update will be really helpful/useful for lots of Architects/Leads/others, when someone proposing Polybase design to enterprise customers.  Just to make clear that external table is used in SQL Data warehouse is for Polybase design, while external table is used in Azure SQL Server is for Elastic search . Thank you once again

[2019-05-25 05:43] GaryLyon commented on #1562
This solution posted here resolved the issue for me. https://dba.stackexchange.com/questions/212868/installing-sql-server-i-get-unmet-dependencies-libc1-and-libjemalloc1-but-it

[2019-05-25 22:32] chadash commented on #2121
Great, thanks.

[2019-05-26 14:24] hfleitas opened #2207 "WARNING: MLS version 9.4.7.25 not supported"
Made a few edits to Install-MLModels2019ctp3.ps1

line 51:                     $this.RSetupPath = "$($this.RootPath)\Setup Bootstrap\SQL2019CTP3.0\x64\RSetup.exe" -f (ConvertSqlVersionToName $sqlVersion)

line 60:             $this.RSetupPath = "{0}\SQL2019CTP3.0\x64\RSetup.exe" -f`

lines 105-108:         elseif ($this.MlsVersion.ToString(3) -eq "9.2.1"`
            -or $this.MlsVersion.ToString(

[2019-05-26 14:37] SDP190 commented on #2180
However, to comment on my own words, could passably be that this behavior that the file is shrunken is just an implementation detail when "WITH FORMAT" is used to backup on a disk file, since the content become invalid, as an effect those content are released, but for example when the operation is on a tape, that will not happen.

[2019-05-26 21:42] srutzky commented on #2204
@aksajith This issue has nothing to do with `PARSENAME`. You are passing in numbers to a function which accepts a string input parameter. The difference in what you are seeing is happening in the implicit conversion from the particular number type into `NVARCHAR`. You can see this more clearly if you remove `PARSENAME` and just do the conversion explicitly:

[code]

You might also want to check ou

[2019-05-27 03:49] hoalh opened #2208 "Round function bug"
DECLARE @x float = 5.595
SELECT ROUND(@x,2)
DECLARE @y money = 5.595
SELECT ROUND(@y,2)

Result:
5.59
5.60

[2019-05-27 13:12] ricoisme opened #2209 "Code example return no data always"
I can not find value of "sys_sensitivity_label_name" or "sys_information_type_name" in name's column in sys.extended_properties.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34863695-cd07-1260-4fea-66738c5fa80a
* Version Independent ID: 4c01015d-9c1d-db8e-84f5-379ffc5d5133
* Content: [SQL Data Discovery & Classification

[2019-05-28 00:02] TrevorMullen commented on #2121
Excellent news, thank you.

I't be really great if we could see a couple of updates to the tool...

I always use A3 size paper to get enough tables on the page.

I believe that an excellent addition would be an option to automatically add off-page-connectors as part of the page-break function.  ie: any time your diagram takes more than one page to print, given the current scaling factor, this opti

[2019-05-28 00:04] robinwilson16 commented on #1816
Thanks, I think on Linux, packages tend to all be compatible in time for a new release and really the same is true on Windows normally. Updating the distribution actually removes SQL Server and then the task is left to the user to figure out how to get it running again once the upgrade has completed. You wouldn't expect the 1809 Windows Server update to remove SQL Server leaving it in an un-instal

[2019-05-28 00:16] robinwilson16 commented on #1496
Please can you consider supporting 19.04 too as again installs and runs fine. Would be good if someone could test it and confirm it works then update the dependencies file so it installs without hassle. Updating to a newer distro actually removes it and then you need to work out how to install again using the workarounds above (you wouldn't expect this behaviour if installing the 1809 Win Server u

[2019-05-28 13:09] HenrikStaunPoulsen opened #2211 "Azure Sql db"
the example does not work on Azure SQL DB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b79d736-c8b0-a460-501a-71c590092bc9
* Version Independent ID: f5c34ba9-0a5d-0af5-c4e5-c99d5572e6d5
* Content: [CREATE EVENT SESSION (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-event-se

[2019-05-28 13:22] jdang67 opened #2213 "There is not option to install install database server with SSMS 2018"
Hi,
 I set up a new machine and installed  SSMS-2018. However, I could not find any SqlServer Services on my machine. I could not see any option for me to install the database server on my local box.
What do I need to do to configure the database server?

thanks,

JDang

[2019-05-28 14:12] genifycom opened #2215 "Errors"
"To connect to a shared instance of LocalDB add .\ (dot + backslash) to the connection string" is correct.

However, "use a connection string such as (localdb).AppData" is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea66ca27-e0b1-cd1e-a8ef-55911169c71a
* Version Independent ID: f2340ce9-9771-851e-60a7-237c6e5

[2019-05-28 15:22] dphansen commented on #2207
@hfleitas Thank you for submitting this issue. I will investigate and get back to you.

[2019-05-28 15:34] garyhampson opened #2216 "Greater Than and Less Than but no equal to?"
In your guidelines, you have conditions for "Greater Than" and "Less Than", but you have no guidance for when your processor count is the boundary value. What would be the recommendation for SQL 2016 with 16 Logical Processors or SQL 2014 with 8 Logical Processors?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e3528c

[2019-05-28 16:10] stevestein commented on #2122
@anon-acid - Thanks  for the feedback. This area is for specific issues within the documentation. I'm going to go ahead and close this issue.

For product questions, support, and additional assistance, one of the following links may help:

- [All the ways to get help](https://docs.microsoft.com/sql/sql-server/sql-server-get-help)
- [UserVoice - Suggestion to improve SQL Server?](https://feedback.a

[2019-05-28 16:10] #2122 closed

[2019-05-28 16:20] markingmyname commented on #2170
@eltionb,

Thanks for your comment.

Your contribution is much appreciated. However, our team can only answer feedback related to the documentation. Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page or visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) page. If you have any feedback related to the documentatio

[2019-05-28 16:21] markingmyname commented on #2170
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-05-28 16:21] #2170 closed

[2019-05-28 17:25] gopalkrishankunal opened #2217 "sql where and having"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36922666-9dd1-cdf1-a4b8-824da4fecfd0
* Version Independent ID: 8432ddb4-a502-8f34-3666-5d8f70e9d25d
* Content: [Use HAVING and WHERE Clauses in the Same Query - SQL Server](https://docs.microsoft.com/en-us/sql/ssms/visual-db-tools/use-having-and-where

[2019-05-28 17:42] BenROhio commented on #2121
@markingmyname, I hope this feature is indeed returned.  It would be be nice if it was initially launched from a different location when it is brought back.  Maybe adding diagram support to a database could be a right click option in the database and the Database Diagrams folder wouldn't appear until that was used.

It would also be nice if I could export the database diagram to a PDF with paper s

[2019-05-28 18:18] samrueby opened #2218 "Temporary Keys"
It's confusing what separates a temporary key from a not-temporary key. This documentation says "the names of temporary keys should begin with one number (#) sign", but the number sign isn't what makes it a temporary key. The example "Creating a temporary symmetric key" doesn't include any syntax that makes it clear that a temporary key is being created. Because of this, I'm unable to tell what ac

[2019-05-28 20:30] #2213 closed

[2019-05-28 22:55] MightyPen commented on #2209
@giladmit Hi Gilad, In this Issue 2209, a customer is reporting that a SQL code example in your article is not functioning.  Can you please look at the article, and make any necessary corrections.
Van To is a Writer who works in the general area of Security.  If necessary, you can perhaps ask Van for assistance.

- [https://docs.microsoft.com/sql/relational-databases/security/sql-data-discovery-an

[2019-05-28 23:07] MightyPen commented on #2208
@hoalh Hi, thanks for creating this Issue 2208.  Our assessment is that the various imprecise numeric data types have these occasional edge conditions by their nature.  In your 'float' case, 5.596 does Round to 5.6.  We do not feel there is a bug here.  But we can certainly understand why there could be uncertainty about that.
I am Closing this Issue now. The @ notification mechanism works even in

[2019-05-28 23:07] #2208 closed

[2019-05-29 00:44] MashaMSFT commented on #2163
Hi @EnjoyinMoss , thanks for bringing this to our attention! Looks like you are correct, and it should be PublisherName. I have created an item to track this work (and fix) internally. Thanks for contacting Microsoft!

[2019-05-29 00:45] MashaMSFT commented on #1991
Hi @mohamednazar ,

Thanks for contacting Microsoft!  From my understanding, the issue you're describing seems to be an issue with the product, is that correct? If so, unfortunately, this form of contact is intended explicitly for reporting issues with the documentation, and not for the product. To get further assistance with your issue, we'd recommend engaging the community, or opening a ticket w

[2019-05-29 00:47] MashaMSFT commented on #2185
Hi @JayPenney ,

Thanks for contacting Microsoft! I see a list here:
https://docs.microsoft.com/en-us/sql/sql-server/install/configure-the-windows-firewall-to-allow-sql-server-access?view=sql-server-2017#ports-used-by-

Are you looking for something different?

Thanks!

[2019-05-29 00:48] MashaMSFT commented on #2188
Hi @srutzky, thanks for bringing this to our attention! We'll get this fixed :)

[2019-05-29 03:24] LonnyNiederstadt opened #2220 "DOP downgrades"
The page above says:
"After DOP is configured, it can only be lowered on grant memory pressure. Workload group reconfiguration is not visible while waiting in the grant memory queue."

Is it true that "it can only be lowered on grant memory pressure"?  DOP for a parallel query can certainly be lowered - all the way to DOP 1 - due to in-use and reserved worker pressure on 'max workers', as well.  I

[2019-05-29 09:10] MightyPen commented on #2215
@MikeRayMSFT Hi Mike, Issue 2215 is now assigned to you.  Thanks.

[2019-05-29 09:13] MightyPen commented on #2216
@garyhampson Hello Gary, This in-depth question about your specific scenario is beyond the scope of what we can address here in a documentation Issue.
Here are some links that some people use to pursue their questions in other forums:

- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Setup and Upgrade -  MSDN Forum](https://social.msdn.micro

[2019-05-29 09:13] #2216 closed

[2019-05-29 09:16] MightyPen commented on #2217
@gopalkrishankunal Hello, This Issue 2217 provides no explanation of why it was created. Therefore I must now Close this Issue.
Feel free to create another Issue, if you remember what the problem or concern was.
Thank you.

[2019-05-29 09:16] #2217 closed

[2019-05-29 09:18] MightyPen commented on #2218
@VanMSFT Hi Van, this Issue 2218 now assigned to you.  Thanks.

[2019-05-29 09:19] MightyPen commented on #2220
@CarlRabeler Hi Carl, This Issue 2220 is now assigned to you.  Thanks.

[2019-05-29 09:23] MightyPen commented on #2052
Closing. Thanks.

[2019-05-29 09:23] #2052 closed

[2019-05-29 09:28] MightyPen commented on #2211
@HenrikStaunPoulsen The article has been changed to add relevant information that address the concern described here in Issue 2211 (PR 10427).  The change should be visible on live Docs by Thursday May/30.
Thank you.
I am now closing this Issue as fixed.

[2019-05-29 09:28] #2211 closed

[2019-05-29 09:47] MightyPen commented on #2133
@lukaseder Hi Lukas, PR 10429 has been checked in to fix this TOC Issue 2133. Your Issue had a fair point and a legit argument, so we fixed it.  :-)
The change should appear on live Docs within 24 hours.
I am now closing this Issue.  Thank you.

[2019-05-29 09:47] #2133 closed

[2019-05-29 10:07] MightyPen commented on #2031
Fixed this Issue 2031, with PR 10430.
https://github.com/MicrosoftDocs/sql-docs-pr/pull/10430

@ShaunJStu Thank you very much for this very nice correction. And, we hope you are benefiting from the In-Memory features.

I am now closing this fixed Issue.  The fix should appear on live Docs within 24 hours.

[2019-05-29 10:11] MightyPen commented on #2197
@wasim-sayyad This is not a bug. Perhaps it would be nice to have.
Thank you for inquiring. This Issue 2197 is now being closed.

[2019-05-29 10:11] #2197 closed

[2019-05-29 10:19] lukaseder commented on #2133
Thanks very much, @MightyPen and @VanMSFT.

As an aside: I really like this docs/github integration! Very well done, Microsoft :)

[2019-05-29 12:24] goobering opened #2221 "Advice is misleading"
In light of diagramming being pulled from SSMS 18, it's more than a little disingenuous to include 'Use database diagrams and table designers.' as a use case in the 'When Should I Use Azure Data Studio vs SQL Server Management Studio?' section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebb3c5fd-6f61-b90b-d3d0-5b4d

[2019-05-29 14:12] SharePointBlackBelt opened #2222 "Where is the current version of the rolling patching process?"
This document doesn't talk about how to patch SQL Server with no downtime (rolling patch), and the old document on this process (_https://support.microsoft.com/en-us/help/958734/sql-server-failover-cluster-rolling-patch-and-service-pack-process) only applies to SQL2008-2012. Please update to SQL2017.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-05-29 15:31] prakash-manit opened #2223 "Conditionally delete a json object from Json Array in SQL Server"
Hi team,
I am using Json Array to store child table records as a column in parent table. Now I have a requirement to conditionally delete one of the record from json array. If it would have been a table, I could have used delete command with the condition but how can I delete a record form Json array stored as varchar(max) column in SQL Server. I have gone through below url and can see command to

[2019-05-29 15:40] samrueby opened #2225 "Unable to Create Identical Symmetric Keys on Two Servers using different versions of SQL Server."
The steps on this page do not work with one server running SQL Server 2016, and another running 2017. It can be resolved by enabling trace-flag 4631, as mentioned here: https://feedback.azure.com/forums/908035-sql-server/suggestions/33116269-identical-symmetric-keys-do-not-work-between-sql-s. and by installing a patch: https://support.microsoft.com/en-us/help/4053407/sql-server-2017-cannot-decrypt

[2019-05-29 16:01] askhan123 commented on #2026
hey I have same issue. the download progress reaches to 99% then repeats itself and start from 1% again. I didnt find anything in the registry or in drive C relating to SSMS . Please help

[2019-05-29 16:11] dkthedon commented on #2026
@askhan123 This issue is not related to the download progress of setup files. You could try to download the offline installer and then install using it.

[2019-05-29 16:27] MashaMSFT commented on #2222
Hi @SharePointBlackBelt , thanks for contacting Microsoft! Rolling upgrades for a failover cluster instance are covered in this doc:
https://docs.microsoft.com/en-us/sql/sql-server/failover-clusters/windows/upgrade-a-sql-server-failover-cluster-instance?view=sql-server-2017

Please let me know if this doesn't suit your needs? Otherwise we will proceed with closing out this Git Issue in a few busin

[2019-05-29 20:33] daleq commented on #2207
@hfleitas Thanks.  I'll look into this and give you an response tomorrow.

[2019-05-29 20:54] srutzky commented on #2052
@MightyPen Your are welcome. And thank you for supporting my request to allow for creating asymmetric keys from a varbinary literal 😺 .

[2019-05-30 00:14] MikeRayMSFT commented on #2215
@genifycom thanks for the submission. Investigating

[2019-05-30 00:16] MikeRayMSFT commented on #2204
@aksajith thank you for the question.
@srutzky thank you for the response.
I'm checking to see if we can clarify this in the documentation a bit.

[2019-05-30 00:17] #2204 closed

[2019-05-30 00:35] MikeRayMSFT commented on #2173
Hi Pedro - I have not been able to reproduce this issue. @markingmyname - Would you mind taking a look?

[2019-05-30 00:37] MikeRayMSFT commented on #2173
Hi Pedro - one additional suggestion, would you mind trying to download from a browser with Private (Edge) or Incognito (Chrome) session?

[2019-05-30 00:40] #1971 closed

[2019-05-30 00:41] #2063 closed

[2019-05-30 02:57] srutzky commented on #2204
@MikeRayMSFT You are welcome.

[2019-05-30 08:40] askhan123 commented on #2026
@dkthedon Thanks. do you know where can I download offline installer from?

[2019-05-30 08:53] dkthedon commented on #2026
@askhan123 Online installer gives you the options to either installer the application or download the media. You can choose the download media option to download .iso file and then mount this iso file and run the setup.

[2019-05-30 09:46] askhan123 commented on #2026
thanks @dkthedon

[2019-05-30 15:35] pedroalfaroarias commented on #2173
Neither, I tried in all browsers, in incognito, and I ask to be downloaded in other countries, and neither, I have the same problem.

[2019-05-30 17:15] srutzky commented on #2215
The correct syntax _should_ be: `(localdb)\.\AppData`. And that _used_ to work. But I can no longer get it to work in either SQLCMD or SSMS. Using the newest SQLCMD / ODBC (version 17) with any version of LocaDB (including 2019 CTP 2.5), I get the following error:

Yet I can connect to that instance using the non-shared name and the named-pipes syntax. Apparently a bug has already been filed on th

[2019-05-30 17:31] rbonomo opened #2228 "Poor English"
Someone get an editor over here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 537e197c-adac-94b7-1a8e-9f5ca34a29fc
* Version Independent ID: 99f9866c-b728-219a-c49d-8f7d52f59ea0
* Content: [Contained Database Users - Making Your Database Portable - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases

[2019-05-30 17:47] rbonomo opened #2229 "Poor English. Tree Item Typo "Overvivew""
Needs editor review.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6334ee2-0f75-c3ee-aae7-4b4e6357aa84
* Version Independent ID: 2750b453-0f24-c180-dff2-9040fb531c8a
* Content: [Contained Databases - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/databases/contained-databases?view=sql-server-20

[2019-05-30 17:54] rbonomo opened #2230 "Expand on statement"
"Because certain objects have a default containment setting of NONE, this view can return false positives." What is this about? What is "false positives?". Is your software incorrect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6334ee2-0f75-c3ee-aae7-4b4e6357aa84
* Version Independent ID: 2750b453-0f24-c180-dff2-90

[2019-05-30 18:04] VanMSFT commented on #2181
Hi @Maggie18z! Thanks for bringing this to our attention! The statement has been modified to call out the permissions needed to register an SPN:

![image](https://user-images.githubusercontent.com/40007119/58653366-66ba4980-82ca-11e9-97a1-3db099bf6c95.png)

Feel free to let us know if you have any questions. I will go ahead and close this Issue for now.

https://github.com/MicrosoftDocs/sql-docs-p

[2019-05-30 18:04] #2181 closed

[2019-05-30 18:07] rbonomo opened #2231 "Usage?"
Where is the detail on how to make my database partially contained?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6334ee2-0f75-c3ee-aae7-4b4e6357aa84
* Version Independent ID: 2750b453-0f24-c180-dff2-9040fb531c8a
* Content: [Contained Databases - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/d

[2019-05-30 18:08] #2231 closed

[2019-05-30 18:09] rbonomo commented on #2231
https://docs.microsoft.com/en-us/sql/relational-databases/databases/migrate-to-a-partially-contained-database?view=sql-server-2017

[2019-05-30 18:18] stevestein commented on #2229
@rbonomo - thanks for pointing this out. Fix is in process...

[2019-05-30 19:09] VanMSFT commented on #2228
Hi @rbonomo! Thank you for bringing this issue up to the Microsoft Documentation team. I put in a task to review and edit this document. If you wish to edit this document yourself, please feel free.

To do so, please do the following:

1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil" icon on the right
4. Modify the text within the

[2019-05-30 19:09] #2228 closed

[2019-05-30 19:51] MightyPen commented on #2221
@markingmyname Hi Mark, I know you are looking into this DB Diagram issue, and that your efforts will take at least a few days.  When you have an answer that you can publicly share, please add a Comment into this Issue 2221.  Thanks.

[2019-05-30 21:20] MightyPen commented on #2223
@prakash-manit Hello, I believe you can perform a multi-step sequence.  The crucial step would be to use the **JSON_MODIFY** T-SQL function:

[JSON_MODIFY T-SQL function | https://docs.microsoft.com/sql/t-sql/functions/json-modify-transact-sql](https://docs.microsoft.com/sql/t-sql/functions/json-modify-transact-sql)

@jovanpop-msft Jovan can add further Comment if my claim in wrong or is too incom

[2019-05-30 21:28] MashaMSFT commented on #1979
Hi @simonsabin , thanks for your patience as I continue looking into this for you! It's interesting that your testing is counter to the internal feedback I received. Would you mind if I contact you directly via email to find out more information about your testing?
Thanks!

[2019-05-30 21:28] #1987 closed

[2019-05-30 21:34] #2049 closed

[2019-05-30 21:52] MightyPen commented on #2225
Working on a documentation fix presently. Here is the private repo link, which member of the public probably cannot see directly:
- [https://github.com/MicrosoftDocs/sql-docs-pr/pull/10456](https://github.com/MicrosoftDocs/sql-docs-pr/pull/10456)

[2019-05-30 22:36] MashaMSFT commented on #2114
Hi @CotivitiSuresh , thanks again for contacting Microsoft! What type of AM / PM example are you hoping to see?

The following T-SQL code shows the current time, so depending on when  you run it, it will show either AM or PM.

[code]
Is that what you were looking for, or were you hoping for a different type of example?

Thanks!

[2019-05-30 23:16] MightyPen commented on #2225
@samrueby Hello Sam,
The fix should be live on Docs with a business day or two, under the numbered list of Steps.
Thank you very much for bringing this to our attention.

[2019-05-30 23:16] #2225 closed

[2019-05-30 23:23] MikeRayMSFT commented on #2164
Closing because no response received.

[2019-05-30 23:23] #2164 closed

[2019-05-30 23:26] MikeRayMSFT commented on #2180
@SDP190 we're still verifying before we answer. Thanks for your patience.

[2019-05-30 23:27] stevestein commented on #2229
@rbonomo - this is fixed. https://docs.microsoft.com/en-us/sql/relational-databases/databases/contained-databases?view=sql-server-2017

Thanks again!

[2019-05-30 23:27] #2229 closed

[2019-05-30 23:59] MikeRayMSFT commented on #2215
Thanks Solomon - I have asked a few people to look into this.

[2019-05-31 00:01] MightyPen commented on #2230
@stevestein Hi Steve, this Issue 2230 is now assigned to you.
In dpmds, no name like 'contain' is found.  Perhaps you can clarify what the phrase "false positives" is intended to mean in this usage.

[2019-05-31 01:00] stevestein commented on #2175
@nahk-ivanov - thanks for pointing this out!  A fix is in process.

[2019-05-31 01:28] stevestein commented on #2158
@jeffrey-yao - Thanks for the feedback!

I'll have to investigate this. Are you seeing incorrect values for long-running jobs?

[2019-05-31 03:23] jeffrey-yao commented on #2158
Hi @stevestein , I tested it a job running more than 24 hrs, but less than 100 hrs, the value is still correct. But given the current format, i.e. HHMMSS, if a job is running longer than 100 hrs (i.e. 4+ days), what the value can be? truncated? I will do a test and update it here.

[2019-05-31 07:43] Maggie18z commented on #2181
Hi Van To!! This is Maggie. Yes I got to know document has been updated from Claire.
Thanks for reaching!!!

Best Regards,

Maggie Zhang （张梦琦）
Technical Advisor                Tel: +86 (510) 66657755
Data & BI Support               mengqi.zhang@microsoft.com<mailto:mengqi.zhang@microsoft.com>
Data & Enterprise Cloud     Mon - Fri 9:00 -18:00 (UTC+8)
[cid:image001.png@01D2EF6C.53CE4860]

From: Van

[2019-05-31 07:49] simonsabin commented on #1979
Sure

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Masha at MSFT <notifications@github.com>
Sent: Thursday, May 30, 2019 10:28:12 PM
To: MicrosoftDocs/sql-docs
Cc: Simon Sabin; Mention
Subject: Re: [MicrosoftDocs/sql-docs] Minimal logging requirements for CCI inserts (#1979)

Hi @simonsabin<https://github.com/simonsabin> , thanks for your patience as I continue

[2019-05-31 13:51] fwd079 opened #2234 "SSMS2018 - Installed, but will not run"
Need to announce that this version does not run at all.
I just installed (as of 31-May-2019) - need to follow the fix in this link:
https://feedback.azure.com/forums/908035-sql-server/suggestions/37502512-ssms2018-installed-but-will-not-run

Copying here for others to see and use.
---
The issue (in .NET) has been investigated and understood.

The recommended workaround, in the interim, is:
1) Clos

[2019-05-31 15:26] sumankanthula opened #2235 "sp_describe_first_result_set"
Hi is there a way to get the metadata for multiple results in the similar way to 'sp-describe-first-result-set'?

- [https://docs.microsoft.com/sql/relational-databases/system-stored-procedures/sp-describe-first-result-set-transact-sql](https://docs.microsoft.com/sql/relational-databases/system-stored-procedures/sp-describe-first-result-set-transact-sql)

.

[2019-05-31 15:37] rlhane opened #2236 "WORTHLESS"
What happened to a REAL T-SQL Reference?  What happened to actual content? Try searching for FULL OUTER JOIN on this site.  This page is useless and pointless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc6cd539-d024-9d35-5024-506041392e9a
* Version Independent ID: 0e63acf9-55aa-a81e-2150-b40dbde29f50
* Content: [I

[2019-05-31 15:59] cOborski opened #2237 "Database Diagrams Deprecated"
According to the release notes [https://docs.microsoft.com/en-us/sql/ssms/release-notes-ssms?view=sql-server-2017#180-ga-april-2019] database diagrams have been depreciated. Why don't you put a warning at the top of this page explaining that this feature will not be available for versions including and after 15.0.18118.0?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-05-31 18:37] SushiGuy commented on #2234
SSMS when launched showed the splash screen then instantly crashed. Making the suggested config change as described did the trick. Here is the full path to config file.
`C:\Program Files (x86)\Microsoft SQL Server Management Studio 18\Common7\IDE\Ssms.exe.config`

[2019-05-31 20:47] chrisheil commented on #2234
This worked me for as well

[2019-06-01 13:54] StockportJambo opened #2239 "Cannot download"
"This site can’t provide a secure connection.

azuredatastudiobuilds.blob.core.windows.net sent an invalid response." in Chrome. Similar message in Internet Explorer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811ed1f4-1c78-aa1b-e752-307250ca8eb7
* Version Independent ID: f36629bf-b2e6-4993-7c77-32fa311ea942
* Cont

[2019-06-01 13:58] StockportJambo commented on #2239
Antivirus is disabled.

[2019-06-01 21:16] MightyPen commented on #2234
@markingmyname Hi Mark, On a forum, Matteo has posted the steps necessary for customers to Fix this SSMS bug locally on their own computers.  Those same steps have subsequently been pasted into the top of this Issue 2234.
You _might_ want to temporarily add a Cautionary alert into the SSMS Download documentation, to display the text of these same fix steps. I have no opinion on that, and the decis

[2019-06-01 21:24] MightyPen commented on #2235
Hello @sumankanthula , This GitHub Issues place, in repository 'MicrosoftDocs/sql-docs', is able to address reports of problems in the SQL documentation only.  So we cannot provide an answer to your question.
Optionally, the following list of links might provide another place that could perhaps give some kind of answer:

- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/

[2019-06-01 21:24] #2235 closed

[2019-06-01 21:28] MightyPen commented on #2237
@markingmyname Hi Mark, Can you please process this Issue 2237.  Thanks.

[2019-06-01 21:29] MightyPen commented on #2239
@markingmyname Hi Mark, Can you please process this Issue 2239.  Thanks.

[2019-06-01 23:37] MightyPen commented on #2236
@rlhane Hello, An attempt to make our documentation about JOIN more find-able is contained in the new PR 10485 (in our private repo).  The PR should go live in Docs by Tuesday 2019/June/04. The most visible change will be the TOC title for the entry of the following article (about the FROM clause). Presently the TOC title is simply the four characters "FROM", but will change to something longer th

[2019-06-01 23:37] #2236 closed

[2019-06-02 03:58] shoorik opened #2241 "IsDescendantOf"
In the "Finding Ancestors by Using the CLR" section, in the "CommonAncestor" method, the code snippet calls "h1.IsDescendant(h2)". Was it meant to be "h1.IsDescendantOf(h2)"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04eb7c78-a9f9-a4ba-e329-1612305ca5b7
* Version Independent ID: 32d85190-08f7-ae1f-db00-1837389d686

[2019-06-02 15:16] NileshGule opened #2243 "Unable to initialize SQL Server 2019 Linux with Istio sidecar proxy on AKS"
I am able to deploy a SQL Server 2019 Linux container with HA on to an AKS cluster as shown [here](https://www.handsonarchitect.com/2019/05/upgrade-sql-server-2017-to-2019-with-ha.html).
`https://www.handsonarchitect.com/2019/05/upgrade-sql-server-2017-to-2019-with-ha.html`

I tried to use the SQL Server 2019 CTP 2.2 version with Kubernetes cluster which has Istio-1.1.3 version installed on it. Th

[2019-06-03 00:16] MightyPen commented on #1789
Fixed, by PR 10488.
https://github.com/MicrosoftDocs/sql-docs-pr/pull/10488

@jgmreyes Thank you very much for bringing these documentation errors to our attention. Your observations were astute.
Now Closing Issue 1789.
.

[2019-06-03 00:16] MightyPen commented on #1789
Closing again, this time permanently.

[2019-06-03 00:16] #1789 closed

[2019-06-03 01:16] kewalaka opened #2244 "statement about permissions is ambiguous"
The page states "User must be a member of the sysadmin fixed server role or the db_ddladmin and db_owner fixed database roles.".

This implies that if sysadmin is not granted, both db_ddladmin and db_owner are required.  Rebuilding an index can be achieved with either of these accounts, since db_owner includes the permissions granted to db_ddladmin.

---
#### Document Details

⚠ *Do not edit this

[2019-06-03 13:42] cmmizer opened #2245 "typos"
"retry_attemptsis int" =&gt; "retry_attempts is type int"
"retry_intervalis int" =&gt; "retry_interval is type int"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 571ba504-da27-884c-e533-e4671b00ad66
* Version Independent ID: 87f89fc3-ba62-66ff-5651-3a8091ee6a3e
* Content: [sp_add_jobstep (Transact-SQL) - SQL Server](h

[2019-06-03 17:06] sumankanthula opened #2246 "SET FMTONLY (Transact-SQL)"
Do not use this feature. This feature has been replaced by sp_describe_first_result_set (Transact-SQL), sp_describe_undeclared_parameters (Transact-SQL), sys.dm_exec_describe_first_result_set (Transact-SQL), and sys.dm_exec_describe_first_result_set_for_object (Transact-SQL).
---------------
The above statement gives a wrong impression.
Ex :
SET FMTONLY ON
EXEC "A PROCEDURE WHICH RETURNS multiple

[2019-06-03 18:18] bluefooted commented on #2220
Hi @LonnyNiederstadt - this is a poorly worded sentence, I think this has something to do with the fact that you can configure DOP on the workload group while queries are running, but if there are any active queries in the memory grant queue you cannot reconfigure the workload group until those queries are out of the queue. I'm not sure why this would be called out though. @CarlRabeler I would sug

[2019-06-03 18:45] joseq-terawe commented on #2119
Any word on fix? just tried to deploy and having same issues.

[2019-06-03 19:36] visitpay commented on #2150
@MikeRayMSFT Any word on this?  Thanks!

[2019-06-03 19:54] MikeRayMSFT commented on #2186
@cabbruzzese - thanks for the recommendation. We've updated the return type information.

[2019-06-03 19:54] #2186 closed

[2019-06-03 20:25] MightyPen commented on #2243
@NileshGule Hello Niles, These GitHub Issues in this 'sql-docs' repository are only for Documentation errors, on Microsoft's `https://docs.microsoft.com/sql/` website.
This particular Issue 2243 refers to a different non-Microsoft web domain, and seems more about a Support request. We cannot process this type of Issue.

I will mention this Issue to someone who might know something helpful, and may

[2019-06-03 20:25] #2243 closed

[2019-06-03 21:17] ryanmajidi opened #2248 "Constants SQL_TYPE_UTCDATETIME and SQL_TYPE_UTCTIME aren't declared anywhere"
**submitted to [site feedback issue #1508](https://github.com/MicrosoftDocs/feedback/issues/1508) by @lsmith999999 on 5/17**

The constants SQL_TYPE_UTCDATETIME and SQL_TYPE_UTCTIME are currently cited here:

SQL Data Types
https://docs.microsoft.com/en-us/sql/odbc/reference/appendixes/sql-data-types?view=sql-server-2017

But they're not declared in any header I can find, nor can I find any releva

[2019-06-03 23:05] MashaMSFT opened #2249 "Feedback for new SQL Docs hubpage"
## https://aka.ms/sqldocs

For the month of June we're testing out a new hub page for the SQL Server technical documentation library. It's using a new design with updated links to commonly used or recommended content. Share your feedback by commenting on this issue.

New hub page can be seen here: https://aka.ms/sqldocs
Twitter reference: https://twitter.com/MashaMSFT/status/1115396660228526080

[2019-06-04 01:27] MightyPen commented on #2248
`SQL_TYPE_UTCDATETIME` is mentioned in:
docs\odbc\reference\appendixes\sql-data-types.md

[2019-06-04 01:45] MightyPen commented on #2248
@David-Engel Hi David, Can you please let me know whether you have access to any info that might answer this question (Issue 2248) from @ryanmajidi .
Is there a .h file that mentions `SQL_TYPE_UTCDATETIME`, or that should?
Thanks.  GeneMi.

[2019-06-04 02:20] MightyPen commented on #2246
A fuller and runnable T-SQL code example, that demonstrates the points being raised in this Issue 2246 by @sumankanthula :

[code]

[2019-06-04 02:26] MightyPen commented on #2246
@sumankanthula Hello, I understand now the points you are making. I see the strength in your points.
However, the SQL Server team sometimes must make small compromises with legacy features when it needs to improve and streamline the underlying architecture within the product. The SQL Server team is not planning on changing its plans for SET FMTONLY.

I am now Closing this Issue 2246. Thank you. We

[2019-06-04 02:26] #2246 closed

[2019-06-04 04:03] MightyPen commented on #2246
Partially address by PR https://github.com/MicrosoftDocs/sql-docs-pr/pull/10510.

[2019-06-04 04:14] MightyPen commented on #2245
Fixing with PR 10511:
https://github.com/MicrosoftDocs/sql-docs-pr/pull/10511

[2019-06-04 04:55] MightyPen commented on #2244
@MikeRayMSFT Hi Mike, This Issue 2244 concerns an article that is assigned to you.

@VanMSFT The Issue specifically concerns Security, so just FYI, maybe there is a chance that you would also be interested in this Issue 2244.

[2019-06-04 04:55] AndreasHassing opened #2250 "There is no example P."
Hi,

At https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-table-transact-sql?view=sql-server-2017#changing-the-size-of-a-column, you refer to an example P., but none such exists 😊.

_(On the webpage, Find "example P.", at the end of the section for H2 header "Changing the Size of a Column".)_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-06-04 05:01] MightyPen commented on #2245
Fixed.

@cmmizer Hi, Thank you for bringing this issue to our attention. Obviously tipped by this Issue 2245, I found several more occurrences of the same two problem occurrences that you reported in the original description, and I fixed them too.

Customers such as you have the authority to edit our documentation, by clicking the 'Edit-pencil' icon at the top-right on the document's webpage. We e

[2019-06-04 05:01] #2245 closed

[2019-06-04 05:50] #2241 closed

[2019-06-04 05:52] MightyPen commented on #2241
@shoorik Hello Alex,
I have just now Merged your PR 2242, to fix this Issue 2241.
Thank you very much for your PR to actually fix this problem in our documentation! We love such PRs.
(When you create a PR, there is no need to also create a sister Issue.)

My PR 10512 makes other changes, like adding Language Specifiers onto the SQL and CSharp code blocks. My PR will sit idle (unMerged) until your

[2019-06-04 11:28] ChipDale66 opened #2251 "Insert multiple rows"
Example B to insert multiple rows does not work with Azure SQL Data Warehouse and Parallel Data Warehouse as the  table value constructor is not available in those systems. The wording needs to make this clear and suggest a workaround for inserting multiple rows for these two types of systems.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-06-04 12:30] boennhoff commented on #2234
Why isn't Microsoft pulling back this beta release? Or replacing it immediately with a fixed version?

_"Here is the final episode of GoT.... Ahhh wait, the file is defect.... Just replace the first few bytes with NULs and your favourite Non-Microsoft video player should be able to continue at chapter 2........"_ :laughing: :rofl:

[2019-06-04 12:50] JayPenney commented on #2185
You are answering a question with the full details page. It would be nice to have an abbreviated summary of the ports – like everyone else does.

Jay Penney •  Network  Administrator
AYR FARMERS MUTUAL INSURANCE COMPANY
Toll Free: 1-800-265-8792 ext. 216
www.ayrmutual.com<http://www.ayrmutual.com/>

[Email Signature logo]

This e-mail message is confidential, for the exclusive use of the addressee

[2019-06-04 14:06] jsongy opened #2252 "Next steps configuration guides link missing"
Next steps configuration guides is missing the link to ODBC Generic Types: https://docs.microsoft.com/en-us/sql/relational-databases/polybase/polybase-configure-odbc-generic?view=sql-server-ver15

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ebefef-f8c5-e429-269e-1ef7a96264fd
* Version Independent ID: a8009495-9bb9-

[2019-06-04 14:54] kevinoid opened #2253 "Transact-SQL Reference under SSMS in TOC"
Navigating directly to https://docs.microsoft.com/en-us/sql/t-sql/language-reference causes the TOC sidebar to show "Tools > SQL Server Management Studio (SSMS) > References > Transact-SQL Reference (Database Engine)" which has no child elements.  This is significantly less useful than "Reference > Transact-SQL (TSQL) > Transact-SQL (TSQL)" which refers to the same URL, but the TOC hierarchy inclu

[2019-06-04 16:36] MashaMSFT commented on #1988
Hi @dhmorrison ,
Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!

[2019-06-04 16:37] MashaMSFT commented on #2013
Hi @dzmitry-palcheuski ,

Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!

[2019-06-04 16:39] #2222 closed

[2019-06-04 18:08] MashaMSFT commented on #2185
Hi @JayPenney ,

something like this?
![image](https://user-images.githubusercontent.com/32783170/58902855-e70cf000-86b8-11e9-816b-ef5a1719a14f.png)

By the way, when you reply via email, your email address and signature is visible on Github. I've removed it from your previous comment, but wanted to let you know for future responses.

Thanks!

[2019-06-04 18:10] JayPenney commented on #2185
Yes 😊

Jay Penney •  Network  Administrator
AYR FARMERS MUTUAL INSURANCE COMPANY
Toll Free: 1-800-265-8792 ext. 216
www.ayrmutual.com<http://www.ayrmutual.com/>

[Email Signature logo]

This e-mail message is confidential, for the exclusive use of the addressee, and its contents shall not constitute a commitment by Ayr Farmers Mutual Insurance Company, except as otherwise specifically provided in

[2019-06-04 18:23] MashaMSFT commented on #2185
Hi @JayPenney , great! Thanks for your feedback, I've merged this change and it should be live by tomorrow morning. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!

[2019-06-04 18:40] rothja commented on #1932
@pssoma76 I apologize for the long delay. I have contacted our product team to let them know that the -f command is not available/working in Linux. I don't have a good solution now as the product does not support this at this time. I would encourage you to submit feedback on sqlcmd here: [UserVoice - Suggestion to improve SQL Server](https://feedback.azure.com/forums/908035-sql-server). If you wer

[2019-06-04 18:40] #1932 closed

[2019-06-04 18:42] AshleySilver opened #2255 "SSMS v18 GA not starting"
Installed OK on Win764
.. but now get a failure starting with the following message:

The application has failed to start because its side-by side configuration is incorrect. Please
see the application event log or use the command-line sxstrace.exe tool for more detail.

There are no further hints to how to solve.

I do have SMSS v16 installed already, but it would appear that it is kosher to have

[2019-06-04 19:05] MashaMSFT commented on #2188
Hi @srutzky ,

Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live tomorrow. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!

[2019-06-04 19:06] MashaMSFT commented on #2114
Hi @CotivitiSuresh ,

Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live by tomorrow. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!

[2019-06-04 19:08] MashaMSFT commented on #2154
Hi @msftsandysun,

Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!

[2019-06-04 19:09] rothja commented on #1934
@dtcgrabar I'm fixing this today. Sorry for the delay!

[2019-06-04 19:11] srutzky commented on #2188
Thanks @MashaMSFT . I'll check tomorrow and close this out. You are welcome. Thanks, and you, too 😺 .

[2019-06-04 19:15] rothja commented on #1973
@mprince-capax A writer on my team is making some updates to this article, and I asked him to put the support statement in about Gen2. Sorry, again, that I don't have a better answer at this time. Thanks!

[2019-06-04 19:15] #1973 closed

[2019-06-04 19:17] rothja commented on #1952
@raberana I haven't heard back from you on this git issue, so I am going to temporarily close the issue. But if you want to reopen, please contact me at any time, and I'll work to understand the doc updates that might need to be made. Thank you!!

[2019-06-04 19:17] #1952 closed

[2019-06-04 19:23] #1934 closed

[2019-06-04 21:04] David-Engel commented on #2248
The referenced documentation page is for generic ODBC and not only SQL Server, hence there is the sentence "A given driver and data source do not necessarily support all the SQL data types that are defined in this appendix." as well as the Important Note "The tables throughout this appendix are only guidelines and show typically used names, ranges, and limits of SQL data types." I suspect the inte

[2019-06-04 23:26] markingmyname commented on #2237
Hi @cOborski,

Due to feedback, we have decided to return this feature to SSMS.  The plan is to return this feature in release 18.1.

Hope this helps.

Thank you.

[2019-06-04 23:27] markingmyname commented on #2237
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-06-04 23:27] #2237 closed

[2019-06-05 01:21] kathleenkoson commented on #2234
Gah, I'm sure this is something dumb, but please help...  I can get to the line and delete it, but I can't re-save the file to the same location ("you do not have permission to open this file.  See the owner of the file or the administrator to obtain permission").  What am I missing?  I am getting very tired of uninstalling and reinstalling the entire studio...  Thank you.

[2019-06-05 01:24] msftsandysun commented on #2154
Hi @MashaMSFT,

Thanks so much for your help on adjusting the documentation content. I have noticed the change. Please feel free to close the Git Issue.

Thanks again and Best Regards

[2019-06-05 02:27] c4milo opened #2257 "It is safer to specify realm in kvno command"
Just in case `/etc/krb5.conf` doesn't have `CONTOSO.COM` set as `default_realm` realm.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd6e9f1-17ab-7aea-818e-d2ab416e3891
* Version Independent ID: 3b789cdc-ca6c-4aca-ae01-b094926dbd7c
* Content: [Tutorial: Use AD authentication for SQL Server on Linux - SQL Serv

[2019-06-05 02:27] SushiGuy commented on #2234
First be sure to close SSMS app. Then, be sure to open your desired editing tool As Administrator which will allow you to Save the config file. Easiest way is to find your software shortcut or exe and Right-Click -> Run As Administrator

[2019-06-05 09:24] steveculshaw opened #2258 "Does specifying the field terminator need quoting ?"
In the section https://docs.microsoft.com/en-us/sql/relational-databases/import-export/create-a-format-file-sql-server?view=sql-server-2017#a-creating-an-xml-format-file-for-character-data where the field terminator is specified with the -t option, I can only get it to work if I quote the comma, i.e. -t"," or -t','

Yet when importing or exporting it's fine to use it "raw", i.e. -t,

So what am I

[2019-06-05 09:29] MightyPen commented on #2255
@markingmyname Hi Mark, This Issue 2255 suggests that SSMS can have a side-by-side configuration problem.  Can you please process this request.  However, if you find this Issue 2255 is Not a documentation shortcoming, you have broad discretion on how/whether to further process before closing this.
Thanks.
CC: @stevestein

[2019-06-05 09:34] MightyPen commented on #2257
Hi @Dylan-MSFT , This sql-docs/docs/**linux/** Issue 2257 might be a documentation enhancement suggestion.  If so, please consider whether to edit in the enhancement.

CC: @MikeRayMSFT @rothja (because both of these Writers also work under docs/linux/).

[2019-06-05 09:41] MightyPen commented on #2258
@steveculshaw Hi Steve, When you wrote - "I can only get it to work if I quote the comma" - what did you mean by "it"?  (Can you please add a new Comment here to clarify?)
I gather that "it" does Not mean either importing or exporting, based on your subsequent sentence.

We would like to fix the documentation item that you have noticed, but we need to be sure we understand first.
Thank you.

[2019-06-05 09:42] MightyPen commented on #2258
@MashaMSFT Hi Masha, I have assigned this Issue 2258 to you.

[2019-06-05 10:16] lsmith999999 commented on #2248
Thanks for the feedback and I agree that this has nothing to do with SQL Server. I'm not even targeting SQL Server specifically, and never mentioned it. "ryanmajidi" moved my original post here and it's not even clear if "here" means SQL Server only.

Note that I'm working on generic C++ classes for ODBC and these two types are definitely problematic, notwithstanding any wish-washy caveats in the

[2019-06-05 10:20] databoffin opened #2259 "Argument description for original_publisher is incorrect"
The description for @original_publisher is the same as @publisher_db but should be as follows:

[ @original_publisher = ] 'original_publisher' The name of the instance of SQL Server that originally published the database. original_publisher is sysname, with no default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c17

[2019-06-05 10:27] databoffin commented on #2259
I've just submitted an update for this.

[2019-06-05 10:27] #2259 closed

[2019-06-05 12:31] kathleenkoson commented on #2234
@SushiGuy – thank you!!  With that advice I got it fixed!  I’m back in, no more crashing.

From: Jeremy Heiner <notifications@github.com>
Sent: Tuesday, June 4, 2019 10:28 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Kathleen Koson <kkoson@plumriver.com>; Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs] SSMS2018 - Installed, but will not run (#2234)

[E

[2019-06-05 13:00] snaddon opened #2261 "Example C"
For example C, was this really the result?
The column headers don't match the script?
Do the RankResult results make sense?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28d0e965-5cdb-6c09-71bc-d3ad7acaad18
* Version Independent ID: 2925bec4-5818-8c98-fd51-7689d741fe1f
* Content: [RANK (Transact-SQL) - SQL Server](htt

[2019-06-05 13:40] nkumar230 opened #2263 "Contradiction on Statements at (SQL Server 2017 (14.x) Functional)"
SQL Server 2017 (14.x) supports non-persisted computed columns in clustered columnstore indexes. Persisted columns are not supported in clustered columnstore indexes.

From the above, Could you confirm whether Non-Persisted Computed Columns are allowed/not allowed as part of Clustered Columnstore Index.

Thanks
Naveen Thummalapenta
MCSA|MCP

---
#### Document Details

⚠ *Do not edit this section.

[2019-06-05 13:49] srutzky commented on #2188
Looks good. And, as I just noticed that, as added support for this change, `DATABASE_PRINCIPAL_ID` was already listed in the "Security Functions" section main page:

https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/t-sql/functions/security-functions-transact-sql.md

live version:

[Security Functions (Transact-SQL)](https://docs.microsoft.com/en-us/sql/t-sql/functions/security-functions-tr

[2019-06-05 13:49] #2188 closed

[2019-06-05 14:41] NileshGule commented on #2119
@joseq-terawe,  I am able to deploy the CTP2.2 version of the images. I was able to automate the steps which I blogged about https://www.handsonarchitect.com/2019/05/upgrade-sql-server-2017-to-2019-with-ha.html

Even the CTP 2.2. version of the images is coming toward an end for the evaluation period. Maybe its time to upgrade to CTP2.3 version.

[2019-06-05 17:48] dphansen commented on #2207
@hfleitas We are still investigating the issue. Will take a bit longer. Will keep you posted.

[2019-06-05 18:00] CarlRabeler commented on #2251
@julieMSFT please review

[2019-06-05 18:41] andyhush-athena opened #2265 "Automatic Seeding option"
You forgot to document the first option on the Select Initial Data Synchronization page: "Automatic Seeding"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d4a2bb4-93b7-3ef7-ccdb-b0312208f062
* Version Independent ID: 1288b338-f71d-19cd-5415-ddef24d65151
* Content: [Add a database to an availability group with the 'Av

[2019-06-05 19:05] MikeRayMSFT commented on #2257
@vin-yu - would you have a moment to review this?

[2019-06-05 19:16] MikeRayMSFT commented on #2244
Thank you @kewelaka
I'm staging an update

[2019-06-05 19:25] MikeRayMSFT commented on #2244
@kewalaka

Would this clarify it for you?

Requires ALTER permission on the table or view. User must be a member of at least one of the following roles:
 * **db_ddladmin** database role <sup>1</sup>
* **db_owner** database role
* **sysadmin** server role

 <sup>1</sup>**db_ddladmin** database role is the [least privileged](https://docs.microsoft.com/windows-server/identity/ad-ds/plan/security-best

[2019-06-05 19:29] ggoodfrd opened #2266 "BUG? Beware! Using over 8 arguments may lead to duplicate checksums being calculated..."
SELECT CHECKSUM(1,0,0,0,0,0,0,0,0) -- 1
SELECT CHECKSUM(0,0,0,0,0,0,0,0,1) -- 1

SELECT CHECKSUM(1,0,0,0,0,0,0,0,0,0) -- 16
SELECT CHECKSUM(0,0,0,0,0,0,0,0,1,0) -- 16

SELECT CHECKSUM(1,0,0,0,0,0,0,0,0,0,0) -- 256
SELECT CHECKSUM(0,0,0,0,0,0,0,0,1,0,0) -- 256

SELECT CHECKSUM(1,0,0,0,0,0,0,0,0,0,0,0) -- 4096
SELECT CHECKSUM(0,0,0,0,0,0,0,0,1,0,0,0) -- 4096

SELECT CHECKSUM(1,0,0,0,0,0,0,0,0,0,0,0,

[2019-06-05 19:36] ggoodfrd commented on #2266
It looks like BINARY_CHECKSUM also exhibits the same behavior...

[2019-06-05 19:56] kewalaka commented on #2244
(y) looks good to me
Thanks Mike.

On Thu, 6 Jun 2019, 07:25 Mike Ray, <notifications@github.com> wrote:

[2019-06-05 20:04] MikeRayMSFT commented on #2150
I'm putting together an answer for the documentation, but here's what I've got so far:

Backup to page blob isn't supported as it uses older mechanism (using a separate binary, backuptourl.exe). Backup to block blob should work just fine since that method is integrated into engine itself. I'm working on an update for the documentation. We should have an update in ~ 1 week. In the mean time you can

[2019-06-05 20:08] MikeRayMSFT commented on #2244
Thanks. The change is in flight. I'm having it reviewed. Will close the issues. Appreciate your submission & reply

[2019-06-05 20:08] #2244 closed

[2019-06-05 20:26] rlhane opened #2267 "A SEARCHABLE Transact-SQL Reference Manual Please!"
I don't want to attack the people who wrote this particular page but... This reference keeps getting worse and worse instead of better and better.  (1) The title in the topic list at left named "Transact-SQL (T-SQL)" Cannot be selected.  (2) It can never be the "top" so that search results do not include a flood of completely irrelevant results.  (3) Choosing the topic directly below the topic tit

[2019-06-05 20:53] Dylan-MSFT commented on #2257
Since we call out adding default_realm to /etc/krb5.conf in the instructions for joining a machine to the domain, does it make sense to not do this as it will catch that problem? If they don't have the default_realm value, they will have other problems with SQL. Would it make more sense to leave it this way but add a warning saying if no domain is added, then they should check krb5.conf? @tejasaks

[2019-06-05 22:06] MightyPen commented on #2263
@MikeRayMSFT hi Mike, I CC'ed you on an email to Component owner Sasa T.
Hopefully there will be a clarifying answer that you can relay.

[2019-06-05 22:35] MikeRayMSFT commented on #2143
@tschleining - SQL Server Backup to Block Blob uses a specific API version by design.

[2019-06-05 22:35] #2143 closed

[2019-06-05 22:40] MikeRayMSFT commented on #2263
@nkumar230  - we have submitted an update to clarify.

"Persisted computed columns are not supported in clustered columnstore indexes."

[2019-06-05 22:40] #2263 closed

[2019-06-05 23:00] bendodge-xwis opened #2268 "No examples of results with 1:n joins"
It would be very helpful to see examples that include multiple results from the joined tables. For example, a class table joined to a students table. All the given examples appear to be 1:1 joins.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffb5c17b-c567-303f-00b8-0c8a0ad15fb5
* Version Independent ID: a4ccc766-4a61

[2019-06-05 23:03] c4milo commented on #2257
Make sense. Although, further down, in other examples the realm is being explicitly set too. For example https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-active-directory-authentication?view=sql-server-2017#spn, step 3.

[2019-06-05 23:05] Dylan-MSFT commented on #2257
Yes, whatever we do, it should be consistent throughout the docs

[2019-06-06 06:29] MightyPen commented on #2266
@MikeRayMSFT These might be "edge" conditions, with value sets carefully designed for a demo of a truth that may be of little or no practical consequence in the daily business world.  If so, it would perhaps not be helpful to add mention of such cases into the live Docs article, tho ultimately it is a matter of personal judgment.

Also, CheckSum is openly direct that it sometimes returns the same

[2019-06-06 08:37] steveculshaw commented on #2258
Sorry, not clear in my original post.

I can use the `-t,` option when I import or export, e.g. `bcp myDb.dbo.mytable IN C:\Repos\Spike-bcp\Spike-bcp\myTable.bcp -c -t, -T`

But I have to wrap the comma in single or double quotes to get it to work when I attempt to create a format file, e.g. `bcp myDb.dbo.myTable format nul -c -f C:\Repos\Spike-bcp\Spike-bcp\myTable.fmt -t"," -T`

[2019-06-06 08:41] MightyPen commented on #2268
Fixed, by new PR 10544:
https://github.com/MicrosoftDocs/sql-docs-pr/pull/10544

Hello @bendodge-xwis , Thank you for this feedback here in Issue 2268.
The new PR 10544 adds T-SQL example '2.b', which should become visible on live Docs with a business day or so.
I am now Closing this fixed Issue.

CC: @jovanpop-msft

[2019-06-06 08:41] #2268 closed

[2019-06-06 08:49] MightyPen commented on #2265
@MashaMSFT Hi Masha, Can you please process this Issue 2265, about Availability Groups.

[2019-06-06 09:13] MightyPen commented on #2253
Fixed, with new PR 10545.
https://github.com/MicrosoftDocs/sql-docs-pr/pull/10545

@kevinoid Hello Kevin, Thank you very much for bringing this duplicate entry situation/problem in the TOC to our attention.  We rarely intend such duplicates, but this duplicate slipped in anyway by accident.
PR 10545 is eliminating the duplicate that neither you nor us want in the TOC.

The fix should be visible on

[2019-06-06 09:13] #2253 closed

[2019-06-06 09:16] MightyPen commented on #2207
@dphansen Hi David, A minor info: We no longer use any of the labels whose names begin with "Issue-*".
So I have removed that label from this Issue 2207, and I have added the label "assigned-to-author".
Thanks. (GeneMi)

[2019-06-06 10:54] tbolon opened #2272 "VIEW DATABASE STATE permission on Azure SQL Database"
This documentation states that : "On SQL Database, requires the VIEW DATABASE STATE permission in the database.".

But trying to use that view with a dbo contained user on my Azure SQL Database results in an error : "Msg 300, Level 14, State 1, Line 6 VIEW SERVER STATE permission was denied on object 'server', database 'master'."

So, it seems this view requires VIEW SERVER STATE on SQL Database,

[2019-06-06 12:18] blueelvis opened #2273 "Add information related to Exit codes of Sqlpackage"
Could you please add information related to Exit Codes of the `sqlpackage` to this document?

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac30c0d5-990b-1114-cb66-d6bbb789b698
* Version Independent ID: 9432dace-7676-2a86-485a-dd5bc6568e86
* Content: [SqlPackage.exe - SQL Server](https://docs.microsoft.

[2019-06-06 13:27] rothja commented on #2145
@langstonj Thank you for pointing this out, and I'm really sorry for the delayed response. I'll get this corrected in the doc and then this git issue will automatically close. Thank you for the feedback.

[2019-06-06 14:25] kevinoid commented on #2253
Great.  Thanks @MightyPen!

[2019-06-06 17:37] pensivebrian commented on #2273
It follows the standard convention as most command line tools:
0 = success
non-zero = failure

[2019-06-06 17:56] MightyPen commented on #2272
@pmasl Hi Pedro, Can you clarify the permissions need here in Issue 2272, for Azure SQL Database, between:
- VIEW DATABASE STATE
- VIEW SERVER STATE

Maybe an Edit/Update to the article is needed too.

CC: @stevestein @VanMSFT

[2019-06-06 17:59] MightyPen commented on #2273
@markingmyname Hi Mark, Maybe you can update the article, with the info Brian gave about ==0 return code etc.  Then Close this Issue 2273.

@pensivebrian Brian, Thanks much for supply the needed info here so quickly.

[2019-06-06 18:00] tbolon commented on #2272
Maybe (if not present) add a link to the sys.fulltext_catalogs help page which can be used without the VIEW SERVER STATE permission?

[2019-06-06 18:30] tomwimmenhove opened #2276 "Cannot "Select the columns in the existing table...""
In SQL Server Management Studio v17.9.1 there is no option to "Select the columns in the existing table" as described in the instructions. Not in the object explorer nor in the design window.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f4a6423-c509-5cc1-30f9-1fb55fe26833
* Version Independent ID: af8a0bd9-a993-8458

[2019-06-06 20:44] cbrsa opened #2277 "Error..."
Running on Ubuntu 19.04 connects and finds databases. Expanding node in Servers gets: Provider doesn't exist. id: PGSQL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7a41315-7a52-24f3-5b67-5e459d45afc4
* Version Independent ID: 401a2908-a73c-ccf9-ce58-a416f422d568
* Content: [PostgreSQL extension (preview) - Azure Da

[2019-06-07 07:34] ALZDBA commented on #2249
SSMS 18.0 freezes frequently when doing things via the object explorer. ( Win 10 64-bit )
After waiting for to long, the only option is to kill the process using task manager. :-(

[2019-06-07 13:54] plixxer opened #2278 "missing information"
-deleted

[2019-06-07 14:46] CeciAc opened #2279 "yum repro path not correct"
@tire0011 commented on [Fri Jun 07 2019](https://github.com/MicrosoftDocs/sql-docs.de-de/issues/84)

curl https://packages.microsoft.com/config/rhel/7/prod.repo &gt; /etc/yum.repos.d/msprod.repo
should be
curl https://packages.microsoft.com/config/rhel/7/prod.repo &gt; /etc/yum/repos.d/msprod.repo

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von d

[2019-06-07 14:49] MP7373 opened #2280 "Cant tell which way the difference goes from this page"
This is a simple function and there is a page of documentation and I've been looking at I for 5 minutes and still don't know if DATEDIFF(day, '2007-05-06 12:10:09', '2007-05-05 12:10:09') will return -1 or 1. The RETURN value section should say something like "Returns startdate - endate" or "Returns enddate - startdate" or "Returns the absolute value of startdate - enddate" in the first arguments

[2019-06-07 14:59] CeciAc commented on #2279
Hi team,
The contributor is reporting a typo in the codebox
best

[2019-06-07 17:59] bineeshraghavan commented on #2234
The recommended workaround worked me for as well, in the interim, is:

Close all instances of SSMS
Edit ssms.exe.config
Remove the line that has the following text (should be line 38):
NgenBind_OptimizeNonGac enabled=“1”

[2019-06-07 18:37] #2278 closed

[2019-06-07 19:58] mjlafever opened #2281 "SQL Query throws divide by zero errors"
The fragmentation line of the select statement doesn't handle zeros for total rows, which I run into almost every time I run this.
100*(ISNULL(deleted_rows,0))/NULLIF(total_rows,0) AS 'Fragmentation'   is how I handle it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a24a194b-16d9-79e4-8483-95aaf2833c67
* Version Indep

[2019-06-07 20:21] rothja commented on #2279
@CeciAc Thank you for the feedback. However, I think the `/yum.repos.d` is correct based on our testing and the RHEL documentation [here](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/system_administrators_guide/sec-configuring_yum_and_yum_repositories): "However, it is recommended to define individual repositories in new or existing .repo files in the /etc/yum.repo

[2019-06-07 21:03] MightyPen commented on #2279
PR 10575 has manually reverted the unwanted fix that I rushed in.
So now the *.md article file is back to as it was.

@tire0011 @CeciAc @rothja

I think this Issue 2279 can now be Closed. I leave it to RothJa to close, when he sees fit. (This Issue 2279 is now Assigned to RothJa.)

[2019-06-07 21:54] MightyPen commented on #2280
Fixing this Issue 2280 by using PR 10577.
https://github.com/MicrosoftDocs/sql-docs-pr/pull/10577

@MikeRayMSFT hi Mike, I am fixing this Issue 2280 for you. There is no further work for you here. Welcome.

[2019-06-07 22:28] rbrundritt opened #2282 "Nearest neighbour query limited"
The nearest neighbor documentation for SQL spatial queries is a really basic approach looking at distances. It might also be worth calling out the radial search approach as well where the user wants to find all locations within a specified distance. I've seen many people take the same approach as the nearest neighbor query and simply compare to the search radius. This does work, but is one of the

[2019-06-08 00:25] MightyPen commented on #2280
PR 10578 manually undid the changes of 10577, probably to avoid Merge Conflicts.

@MikeRayMSFT Mike, I must reAssign this Issue 2280 from me to you. Between you or Pedro, one of you should add clarification equivalent to what I added (in 10577) under H2 Return value. The customer, @MP7373 , has a valid point.  Thanks, G.

[2019-06-08 00:30] MightyPen commented on #2276
@markingmyname Hi Mark, This SSMS Issue 2276 should probably be assigned to you, instead of to Steve (even though Steve is the 'ms.author'). But if I am mistaken, you can reAssign this Issue to Steve as you see fit.

CC: @stevestein

[2019-06-08 00:36] MightyPen commented on #2277
@rachel-msft Hi Rachel, can you please process this customer Issue 2277.

@markingmyname Mark, As the Writer in this area of docs/azure-data-studio/, can you please assist Rachel if necessary, and please help ensure this Issue is process and eventually Closed.  Thanks, G.

[2019-06-08 01:39] MightyPen commented on #2281
Fixing with PR 10582.
https://github.com/MicrosoftDocs/sql-docs-pr/pull/10582

@mjlafever Hello, Thank you for this code improvement. It makes good sense. Your improvement should be visible on live Docs within 1-2 business days.
You always have the option of using either an Issue like this Issue 2281, or instead a Pull Request (PR). Today's code improvement would be an excellent fit for a PR, wher

[2019-06-08 01:39] #2281 closed

[2019-06-08 01:43] MightyPen commented on #2282
@MladjoA Hello Mladen, can you please consider this customer Issue 2282, about Spatial functionality in SQL Server.

If you want assistance with the mechanics of the Issue/PR process, please ping either me (MightyPen = GeneMi at Msft), or to Jason Roth (RothJa = JRoth at Msft).
CC: @rothja

[2019-06-08 08:55] iSatishYadav opened #2283 "Specify permissions required for Saving the Classification."
Specify what permissions are required to *View* and *Save* Classifications. I tried to Save classification, got the following error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34863695-cd07-1260-4fea-66738c5fa80a
* Version Independent ID: 4c01015d-9c1d-db8e-84f5-379ffc5d5133
* Content: [SQL Data Discovery &

[2019-06-08 11:36] hareldvd opened #2284 "Practical guide to restoring msql database on Linux machine"
Really great article. Used it on my Fedora desktop. Works smooth.
Had to install MSQL Server also in article https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-tools?view=sql-server-2017 which is also great.
Nice to see that Microsoft finally behaves well.

Cheers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-06-08 11:42] hareldvd opened #2285 "On my Fedora 28 I had to install SQL Server 2019"
SQL Server 2017 had dependency issues:
Error:
 Problem: conflicting requests
  - nothing provides openssl &lt; 1:1.1.0 needed by mssql-server-14.0.1000.169-2.x86_64

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b543b57-f397-779d-6fe4-1bc2ecd3bdca
* Version Independent ID: e274a0f3-ec74-e809-f4d3-515782b29a92
* Conten

[2019-06-08 21:45] MrM40 commented on #2249
Please keep a download link to version 17 on the page!
Version 18 still have so maaaaaany bugs! I can't believe you call this a release version, are you out of you mind?  Fare from ready to production environment!

[2019-06-08 21:51] MrM40 commented on #2249
And for everybody else who need a working SSMS version, you can find them all here, incl. 17.9.1
https://docs.microsoft.com/en-us/sql/ssms/release-notes-ssms?view=sql-server-2017#download-ssms-1791

[2019-06-09 01:47] MightyPen commented on #2093
@stevestein Hi Steve, Ideally you can help @giladmit get this aging SSMS-related Issue 2093 processed and closed.

@markingmyname (also works on SSMS)

[2019-06-09 02:16] MightyPen commented on #2283
@giladmit Hi Gilad, can you please process this Issue 2283.  If you deem that additional Security-related content is needed in the cited article, ideally you can create a PR to add that content.  In any case, please add a Comment here after you have assess this Issue 2283.

CC: @rothja @VanMSFT

[2019-06-09 02:23] MightyPen commented on #2284
@hareldvd We are very glad to hear that the product, and its documentation article, are both being well-received and are helping customers. We make considerable efforts to keep these "tutorial" type articles up-to-date, and we care very much if they ever need any fix.
As you can see, we read ALL feedback Issues usually within 1 business day. I will pass along this feedback to the SQL team members

[2019-06-09 02:23] #2284 closed

[2019-06-09 02:26] MightyPen commented on #2285
@rothja Hi Jason, can you please process this SQL-Linux Issue 2285. Perhaps the article needs to list an additional dependency that not all computers have?

[2019-06-09 16:35] DanielAdeniji opened #2287 "Duplicate Entries :- "Configure and Manage Thesaurus Files for Full-Text Search""
[Enter feedback here]

Duplicate entries

Configure and Manage Thesaurus Files for Full-Text Search
Configure and Manage Thesaurus Files for Full-Text Search

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e853088-457a-39c0-1be2-5072571073d5
* Version Independent ID: df2a36de-4985-f0c6-5905-6c5523686889
* Content: [sp_

[2019-06-10 03:59] pmasl commented on #2272
Apologies for the delayed reply. There is no VIEW SERVER STATE permission on Azure SQL DB, so this is a bug. Adding @joesackmsft as the owner for Azure SQL DB for comment.

[2019-06-10 06:47] veljkoz opened #2288 "How does one retrieve the newly generated GUID?"
For example, if the column was marked as Identity, we can do it via @@IDENTITY, but how do we get the newly inserted value if it's marked as NEWSEQUENTIALID ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a9b1a70-e8a4-9558-0e31-c665ccd761a7
* Version Independent ID: e1a957ad-dbbc-fa7a-93c7-8d3c20ec175a
* Content: [NE

[2019-06-10 08:48] blueelvis commented on #2273
Thanks!

[2019-06-10 14:10] Sammers21 opened #2290 "What to use instead If privacy is a concern"
There is a notice:

[code]

But what can be used instead if privacy is a concern?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a9b1a70-e8a4-9558-0e31-c665ccd761a7
* Version Independent ID: e1a957ad-dbbc-fa7a-93c7-8d3c20ec175a
* Content: [NEWSEQUENTIALID (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/s

[2019-06-10 15:46] giladmit commented on #2283
adding @TomerWeisberg @salexu @ronitr as I am no longer part of this product group

[2019-06-10 15:49] giladmit commented on #2093
adding @ronitr @salexu as I am no longer part of this product group

[2019-06-10 16:52] MightyPen commented on #2288
@MikeRayMSFT Hi Mike, I see the customer's point, that there should be a GUID analogy to @@identity.
Ideally you can contact the relevant owner who could consider providing something like @@NewSequentialId, perhaps.

[2019-06-10 17:00] MightyPen commented on #2290
The key column in your table can be specified as type UniqueIdentifier. Then assign
`SET @myNewId = NewId();`
Then use @myNewId in your INSERT statement.

The privacy issue is inherent in NewSequentialId through nobody's fault. By its very definition, it limits the generated guid value to a narrow range, thereby inherently making the value somewhat predictable.

The downside of having this kind of

[2019-06-10 17:00] #2290 closed

[2019-06-10 17:09] MightyPen commented on #2287
PR 10591, in our private sister repo, is fixing this Issue 2287.
https://github.com/MicrosoftDocs/sql-docs-pr/pull/10591

@DanielAdeniji Hi Daniel, Thank you for bringing this problem to our attention. The fix should be visible on our live Docs website before you go to bed tonight  :-)
We hope to hear from you again.

Now I am Closing this fixed Issue 2287.

[2019-06-10 17:09] #2287 closed

[2019-06-10 17:24] rothja commented on #2285
@hareldvd Hello, and thanks for the feedback. As I understand it, this was an issue installing on Fedora? Unfortunately, we have only tested and supported Red Hat, Ubuntu, & SLES. Although Fedora is closely related to Red Hat, it is possible that it is ahead of the 7.* versions that we support of RHEL. I am assuming that as we support the most recent releases of RHEL, that Fedora installations wil

[2019-06-10 17:24] #2285 closed

[2019-06-10 17:25] julieMSFT commented on #2251
@ChipDale66
thanks for bringing this to our attention! I am reviewing the entire article to identify the parts that apply to Azure SQL DW. I will notify you when the cahnges are made. Thanks!

[2019-06-10 22:43] MightyPen commented on #2223
@prakash-manit I believe the answer I gave 11 days ago is the answer.
I am now Closing this Issue 2223 as Fixed.

Thank you for inquiring with us. We hope to hear from you again.

[2019-06-10 22:43] #2223 closed

[2019-06-10 22:47] MightyPen commented on #2248
@ryanmajidi Given the preceding answer and exchange, I am now Closing this Issue 2248.

Thank you for bringing this situation to our attention. We hope to hear from you again.

[2019-06-10 22:47] #2248 closed

[2019-06-10 22:48] MightyPen commented on #2248
Oops, I meant to notify @lsmith999999 that Issue 2248 is now being closed.

CC: @David-Engel

[2019-06-10 22:51] MightyPen commented on #2250
@AndreasHassing I believe this Issue 2250 is now fixed.  Issue 2250 is now Closing.

Thank you for bringing this mistake to our attention. We hope to hear from you again.

[2019-06-10 22:51] #2250 closed

[2019-06-10 23:04] MightyPen commented on #2252
Fixing Issue 2252 with private repo PR 10601:
https://github.com/MicrosoftDocs/sql-docs-pr/pull/10601

[2019-06-10 23:15] MightyPen commented on #2252
@jsongy PR 10601 has fixed this Issue 2252. The fix should become visible on our Docs website in about 24 hours.

Thank you for bringing this concern to our attention. We hope to hear from you again.
I am now Closing this Fixed issue.

[2019-06-10 23:15] #2252 closed

[2019-06-11 08:46] salexu commented on #2283
+ @Michal Bar<mailto:Michal.Bar@microsoft.com>, our new PM

From: Gilad Mittelman <notifications@github.com>
Sent: Monday, June 10, 2019 18:47
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Alex Umansky <alexum@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs] Specify permissions required for Saving the Classification. (#2283)

adding @TomerWe

[2019-06-11 08:47] salexu commented on #2093
+ @Michal Bar<mailto:Michal.Bar@microsoft.com>, our new PM

From: Gilad Mittelman <notifications@github.com>
Sent: Monday, June 10, 2019 18:50
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Alex Umansky <alexum@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs] Specify SSMS version required (#2093)

adding @ronitr<https://nam06.safelinks.protec

[2019-06-11 10:49] csurrey commented on #2234
Can confirm this worked for us - Thanks
As above you need to make sure all instances of SSMS are closed first and in our case we ported the configs from the preview after it kicked back into life

[2019-06-11 13:34] VanMSFT commented on #2091
Hi @ByronBarton! Thank you so much for catching this! We really appreciate your feedback, and helping us with the documentation. I have made the changes to fix the typo, and they will appear live soon. I'll go ahead and close this request now, but if you have any concerns, please let us know. Thanks again!

https://github.com/MicrosoftDocs/sql-docs-pr/pull/10605

[2019-06-11 13:34] #2091 closed

[2019-06-11 13:34] #2146 closed

[2019-06-11 13:35] #2147 closed

[2019-06-11 13:35] #2157 closed

[2019-06-11 13:47] VanMSFT commented on #2182
Hello @fowl2! I have added a note at the top of the page. It should go live soon. Thank you so much for your suggestions! Your feedback is appreciated! I'll go ahead and close this request now, but if you have any concerns, please feel free to let us know. Thanks again.

https://github.com/MicrosoftDocs/sql-docs-pr/pull/10606

[2019-06-11 13:47] #2182 closed

[2019-06-11 13:54] VanMSFT commented on #1957
Checking in with @jaszymas

[2019-06-11 14:00] DanielAdeniji commented on #2287
Gene :-

Thanks Bro.

I visited
https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-fulltext-load-thesaurus-file-transact-sql?view=sql-server-2017
and
validated that the duplicated "Configure and Manage Thesaurus Files for
Full-Text Search" is indeed corrected.

Thanks so much for the attentiveness.

Daniel

On Mon, Jun 10, 2019 at 10:09 AM Gene Milener <notificat

[2019-06-11 14:00] VanMSFT commented on #2190
@srutzky - Hey Solomon! Thanks for the suggestion. I'll add this to our work items, and hope to get it documented in the coming months. Since we're tracking this internally, I'll go ahead and close this request. If you have any concerns, please feel free to let me know. We appreciate your contributions to the documentation! Thanks!

User Story 1553900

[2019-06-11 14:00] #2190 closed

[2019-06-11 14:18] VanMSFT commented on #2218
Hey @samrueby - The # sign designates the key as a temporary key, and then is stored in the tempdb. Please let me know if that makes it clear. I will edit the doc to clarify the _key_name_. Thanks!

[2019-06-11 14:23] VanMSFT commented on #2218
Doc changes are taking place. Should be live shortly.

https://github.com/MicrosoftDocs/sql-docs-pr/pull/10611

@samrueby - Sam, if you have any concerns, please let us know. Thanks for your feedback. We appreciate you helping us improve our documentation! I'll go ahead and close this request for now.

[2019-06-11 14:23] #2218 closed

[2019-06-11 14:31] VanMSFT commented on #2283
Following up with Michal

[2019-06-11 14:35] VanMSFT commented on #2093
Following up with Michal

[2019-06-11 15:03] datavisiondt opened #2292 "SSMS 18 - Installation is failing"
I had tried uninstalling SSMS 17.9.1, VS2017 and VS2019, installing them back again without luck.
Every time I try the SSMS 18 installer I get the error below:

[1878:5068][2019-06-11T10:53:37]i000: MainViewModel.OnPackageActionProgress: Percent completed: 100, Overall progress: 41
[1878:5068][2019-06-11T10:53:38]i000: MainViewModel.OnPackageAction: Install Completed for package Microsoft Analysis

[2019-06-11 16:10] giladmit commented on #2209
adding @salexu @ronitr as I am no longer part of this product group

[2019-06-11 16:44] CeciAc opened #2293 "Is the operand table valid?"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/sql-docs.de-de/issues/85
the contributor suggests an adition to the original documentation
best

@Tornhoof commented 4 hours ago
In the table above, bigint is not listed in the right operands of bigint, the description does not exclude it though and something like this:

[code]

works in SQL Server 2017.
You might want to rework the

[2019-06-11 17:30] bkscharf opened #2294 "Question - Section: Relationship between cluster timeout and lease timeout"
The first sentence reads:  "The primary function of the lease mechanism is to take the SQL Server resource..."

Is the word "offline" missing here, such as "The primary function of the lease mechanism is to take the SQL Server resource offline..." or am I reading too much into it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-06-11 17:45] MightyPen commented on #2292
@datavisiondt Hello, This looks like a genuine problem. This Issues webpage is for describing shortcomings in our SQL documentation. It does not have the capacity to provide the kind of Support that this situation calls for.
For support, I am providing a list of links below, some of which might be helpful. I have emphasized the support links first.

I must close this Issue 2292 now. However, the @

[2019-06-11 17:45] #2292 closed

[2019-06-11 17:57] MightyPen commented on #2294
@MashaMSFT Hi Masha, here is the whole sentence.  Can you please process this Issue 2294.

"The primary function of the lease mechanism is to take the SQL Server resource in the case that the cluster service cannot communicate with the instance while performing a failover to another node."

[2019-06-11 18:09] datavisiondt commented on #2292
Thank You.  I am going to use the following link for further updates on this issue:

https://feedback.azure.com/forums/908035-sql-server/suggestions/37496110-ssms-18-fails-to-install-when-log-path-contains-sp

[2019-06-11 19:09] samrueby commented on #2218
The change looks good. Thank you.

[2019-06-11 19:33] xavgra2 opened #2296 "Issue since CT2.3"
Hi,
For different labs and workshops based on kubernetes and SQL Server, I was using a few yaml files to deploy a SQLServer AG using the operator, and the CTP2.2 release.
But since a few days, this CTP has expired, and no newer CTP release are working.
All the example file on the github account are limited to CTP2.1 release.

Is there any know issue ? A better place to report this issue ?

Xavier.

[2019-06-11 22:10] bartedgerton commented on #2249
Please stop releasing broken software.   Please wait until you have at least fixed the MAJOR BUGS in your software.  If you are unable to fix the query window redraw problems, then why even bother making a release?  That problem renders the entire product useless.  https://feedback.azure.com/forums/908035-sql-server/suggestions/37474042-ssms-18-0-redraw-issues-when-switching-between-mul

[2019-06-11 23:06] SeanCLeavitt opened #2300 "Passwords not complex enough?"
"Error SQL72014: .Net SqlClient Data Provider: Msg 40632, Level 16, State 1, Line 19 Password validation failed. The password does not meet policy requirements because it is not complex enough."

This happens specifically when we are trying to deploy a database using a Dacpac, using the DevOps task.

Here are some examples (within the quotes):
Example 1: "00uLLpf%Q1~$"

The error message does not

[2019-06-12 00:01] rachel-msft commented on #2277
@cbrsa Thank you for reaching out and our apologies for the error. To resolve this, go to the Extensions menu (the square icon on the left toolbar). Reload the Postgres extension to get version 0.2.0. Once the reload is completed, the Output window will read "Installed". Then you will be able to connect to the server.

Let us know if you have any questions.

@MightyPen please close

[2019-06-12 03:51] graystormtrooper opened #2301 "Inconsistent file names and path"
In "Create the certificate on secondary servers", the file paths are inconsistent with the previous section. It seems to use *nix like paths (/var/opt...) instead of the Windows paths. This is confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e357702e-ddfb-eb9c-d6a5-a5274d87b320
* Version Independent ID: a809b6

[2019-06-12 05:36] MightyPen commented on #2277
@markingmyname Hi Mark, I will leave it to you to decide if/when to Close this Issue 2277. For instance, I dunno whether first adding something like Rachel's feedback (in above Comment) to the article would be a good idea or not. In any case, you have the honor/duty of taking the next action toward processing and finishing this Issue 2277.
Thanks.

CC: @rachel-msft

[2019-06-12 06:12] MrM40 opened #2302 "Link for 17.9.1"
As a courtesy and respect for everybodies time, a respect MS apparent don't have by publishing a version that is so full of bugs and not providing a link the previous versions, I hereby provide the download link for 17.9.1.
https://docs.microsoft.com/en-us/sql/ssms/release-notes-ssms?view=sql-server-2017#download-ssms-1791

Last time I tried 18 it was so buggy that I couldn't even install it and g

[2019-06-12 07:12] MichaelAntunes commented on #2249
Worst ssms ever!!!!!!!!!!!!!!

I have already lost work hours because I simply cracked during the execution of a long-lasting command.

[2019-06-12 07:27] MrM40 commented on #2249
Well, the SSMS developer team (and the rest of MS Co) have never understood KISS.
How much is the installation package...800MB? Should be 10MB
And the setup program,  OMG!.
10 million files, 10 millions registry changes, 10 mill dependencies......no wonder the path of SSMS has always ALWAYS been full of pain and missiry. A system/program with so many dependencies will always be unstable and subjec

[2019-06-12 09:52] tejasaks commented on #2257
I agree with making it consistent so we can add the @CONTOSO.COM in kvno command as suggested by c4milo. I also agree with Dylan that since we explicitly suggest/require customer to add default_realm in the (Join SQL Server on a Linux host to an Active Directory domain) page, we should add a Note suggesting that they ensure it has been done and point them to the AD join page.

[2019-06-12 13:50] SDP190 commented on #2180
Any update?

[2019-06-12 14:47] cbrsa commented on #2277
@rachel-msft thanks for the quick update

[2019-06-12 15:27] veljkoz commented on #2288
In the end I resolved it in a more general way:

[code]
(I haven't checked the syntax here, I'm typing out of my head)

Although it's a bit more typing, it worked for my case.

Thanks!

[2019-06-12 15:56] srutzky commented on #2190
Hi @VanMSFT . With this issue being closed out, how will I be notified if/when this issue is resolved?

[2019-06-12 15:59] VanMSFT commented on #2190
@srutzky - Hey Solomon, I'll update this issue when the work is done. It's something we have planned, but there's no ETA I can provide. Thanks!

[2019-06-12 16:00] srutzky commented on #2190
@VanMSFT Ok. Thanks.

[2019-06-12 16:21] dnethi commented on #2234
hi folks, the updated SSMS 18.1 should have fixed this. Please update and let us know if the issue still exist.

[2019-06-12 16:25] srutzky commented on #2288
FYI:

1. In most cases you should be using the [SCOPE_IDENTITY()](https://docs.microsoft.com/en-us/sql/t-sql/functions/scope-identity-transact-sql) built-in function instead of `@@IDENTITY`. And so, any request for similar functionality for `NEWID()` and `NEWSEQUENTIALID()` would need to mirror `SCOPE_IDENTITY()` (e.g. "SCOPE_ID()" perhaps?)

1. The `OUTPUT` clause is probably the preferred approa

[2019-06-12 16:31] MikeRayMSFT commented on #2288
@pmasl  or @DBArgenis do you have any comment here?

[2019-06-12 16:46] MikeRayMSFT commented on #2150
Creating a work item to track [1554601](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1554601)
#please-close

[2019-06-12 17:01] MikeRayMSFT commented on #2180
@SDP190 - thanks for your patience. To clarify, you want to know if WITH FORMAT just removes the header and resets the file pages so that they can be over written (that's what the doc currently infers) or if it overwrites all of the information on the backup file disk pages (zeroes the file out).

Is that right?

[2019-06-12 17:37] SDP190 commented on #2180
Actually I can divide the question in 2:

1. If WITH FORMAT just removes the header and resets the file pages so that they can be overwritten or if it actually overwrites all of the information on the backup file disk pages (zeroes the file out)
2. In any case however, how does it explain the effect of the backup file being shrunken? (zeroing the file out would decrease the file size? )

[2019-06-12 17:41] WilliamAntonRohm commented on #2301
@MashaMSFT -- please check into this discrepancy.  The examples appear to be first Windows and then Linux, but I'm not sure.

#2301

[2019-06-12 17:53] WilliamAntonRohm commented on #2300
@SeanCLeavitt -- thank you for your feedback here in Issue #2300.  This does not appear to be a documentation issue directly.  I will pass your product suggestion along.
I am closing this documentation Issue now, but you're welcome to provide additional feedback through an @ mention.

@VanMSFT -- please relay this suggestion to the product team.

Here are other links that may be helpful for non-do

[2019-06-12 17:53] #2300 closed

[2019-06-12 18:01] MikeRayMSFT commented on #2266
@ggoodfrd thank you. Reviewing.

[2019-06-12 18:01] msebolt commented on #2296
@MikeRayMSFT This might not be a documentation issue, can you please process this issue #2296.

[2019-06-12 18:03] MikeRayMSFT commented on #2280
@pmasl  - as you know we rolled back the initial changes, and would appreciate your input on the customer issue.

[2019-06-12 18:08] MashaMSFT commented on #2249
Hello! A number of comments were left about SQL Server Management Studio (SSMS). These were all forwarded over to the SSMS team, and then deleted, as this forum is intended for feedback on the hub page :) Thank you all for your participation!

[2019-06-12 18:10] MightyPen commented on #1979
@MashaMSFT We can leave this aging Issue 1979 open a while longer, because it is still actively being studied.  Hopefully you can receive the info that is needed to update the documentation and then close this aging issue.
Thanks.

[2019-06-12 18:19] msebolt commented on #2014
This issue 2014 is older than a month, closing now.

Bug created as work item at https://dev.azure.com/ceapex/Engineering/_workitems/edit/98704.

CC: @jovanpop-msft @MashaMSFT

[2019-06-12 18:27] MikeRayMSFT commented on #2296
@xavgra2
Thank you for the submission, and thank you for walking through our pre-release features.
As SQL Server 2019 is in preview, these features and the related instructions are being updated. Look for updates in an upcoming CTP release.

If you need to try with the current CTP, please make the following changes to the Operator yaml file.
[code]

[2019-06-12 18:27] MikeRayMSFT commented on #2296
#please-close

[2019-06-12 18:27] #2296 closed

[2019-06-12 18:28] fpugh commented on #2158
Via -

select run_duration
, STUFF(STUFF(STUFF(RIGHT(REPLICATE('0',8) + CAST(run_duration as VARCHAR(8)), 8), 3, 0, ':'), 6, 0, ':'), 9, 0 , ':') as RunDuration
from msdb.dbo.sysjobhistory
order by run_duration desc

We have:
run_duration
3674505	03:67:45:05
3674505	03:67:45:05
3632855	03:63:28:55
3632854	03:63:28:54
3630357	03:63:03:57

[2019-06-12 20:58] xavgra2 commented on #2296
Hi,

Patch is working for me with CTP3.
Thank you for your answer.

[2019-06-12 22:31] Siphonophora opened #2306 "Temporal Table System Version Time"
Hello, I was looking for documentation on how the System_Time values are set and could not find it. After some testing, it looks like system time is based on the current transaction start and not the moment that the insert/update/delete/commit happened. For some use-cases, This will be an important subtlety.

If the documentation doesn't exist anywhere, I can write it up around the example below.

[2019-06-13 07:26] moosehunt2007 commented on #2234
I had the same problem as the people above with 18.1, it crashed after the splash screen.  I went back to 17.0 and it works just fine.  In my opinion, this is not fixed, this is 2 of us in my SQL Server class that have had this issue on our personal computers.

[2019-06-13 15:42] mllab-nl opened #2309 "Script 1. writes to master database. And it is NOK"
After:
--- CREATE DATABASE [columnstore];
it should be used before creating the table:
USE [columnstore]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3548ae28-db22-cb89-179a-a5ecf39da2ff
* Version Independent ID: 8c8881db-734b-107a-e243-ccd8250633c4
* Content: [Columnstore indexes - defragmentation - SQL Server](http

[2019-06-13 15:58] #1988 closed

[2019-06-13 15:58] #2013 closed

[2019-06-13 15:59] #2114 closed

[2019-06-13 16:00] #2185 closed

[2019-06-13 16:07] MashaMSFT commented on #2301
Hi @graystormtrooper ,

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

Thanks

[2019-06-13 16:11] #2154 closed

[2019-06-13 16:17] MashaMSFT commented on #2258
Hi @steveculshaw ,

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

Thanks aga

[2019-06-13 16:23] MashaMSFT commented on #2265
Hi @andyhush-athena ,

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

Thanks

[2019-06-13 16:40] fpugh commented on #2158
Sorry for extra post - can't find an 'edit' option:
In post above - paying attention to the results at the bottom - it does not make sense that something would run more than 24 hours without overflowing into the next day - how do we have 3 days and 64 hour run times if this is really DD:HH:MM:SS format?

It would seem that just providing a single simple base unit - total seconds run time - for exa

[2019-06-13 17:15] markingmyname commented on #2173
Hi @pedroalfaroarias,

I apologize for being late to the party, but we are discussing this issue.

I will respond again once there is an update.

Thank you.

[2019-06-13 17:17] markingmyname commented on #2221
Hi @goobering,

The feature was returned in SSMS  version 18.1.

Have you had a chance to download that version?

[2019-06-13 17:45] MashaMSFT commented on #2294
Hi @bkscharf ,

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

Thanks again f

[2019-06-13 17:59] WilliamAntonRohm commented on #1957
https://dev.azure.com/ceapex/Engineering/_workitems/edit/98938

Closing this issue #1957 as it is older than a month, and tracking it with the above work item.

@VanMSFT @jaszymas @Guillaume-Fourrat @aliceku

[2019-06-13 17:59] #1957 closed

[2019-06-13 18:05] MashaMSFT commented on #2294
Hi @bkscharf , you're right, the word "offline" is missing. Did you want to add it  yourself?

You can do so by following these steps:

1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil" icon on the right
4. Modify the text within the text box in [markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) format
5. N

[2019-06-13 19:15] msebolt commented on #2306
@Siphonophora Thank you for the feedback and research on the issue!

For information on SYSTEM_TIME, see https://docs.microsoft.com/sql/relational-databases/tables/querying-data-in-a-system-versioned-temporal-table.

For the timestamp issue, this seems to occur as the marked commit time of both transactions are the same since both transactions can be issued as one statement to the database.  If yo

[2019-06-13 19:15] #2306 closed

[2019-06-13 20:02] RachelAmbler opened #2311 "Bad formatting on Results outputs"
The result outputs are missing the appropriate space\tabs. For example the output following the *The X and Y properties return an integer value, which is displayed in the result set.:* text looks like

[code]

Perhaps it should be more like

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 466ede58-a68f-b170-914b-1

[2019-06-13 20:15] goobering commented on #2221
Hi Mark

I haven't looked at it yet, but if diagrams are back in then my original
comment and the thread are redundant! Please feel free to close the issue.

Many thanks

On Thu, 13 Jun 2019 at 18:17, Mark Ghanayem <notifications@github.com>
wrote:

[2019-06-13 20:51] markingmyname commented on #2173
Hi again, @pedroalfaroarias,

Can I get one piece of info from you, just so I am clear, are you trying to download 18.0 or 18.1?

Because the article you referenced in this issue is to the current download page which now promotes 18.1.

Please let me know.

Thank you.

[2019-06-13 20:55] markingmyname commented on #2221
Thank you, @goobering.

Microsoft heard the comments of the SQL community and made the change to return the feature.

Thank you.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-06-13 20:55] #2221 closed

[2019-06-13 21:01] LastTribunal opened #2312 ""CREATE USER AbolrousHazem FOR LOGIN AbolrousHazem""
why do you need to taint your docs with a name of a follower of a 6th century illiterate savage who's followers have slaughtered millions throughout centuries?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4397e125-a658-36a3-f982-a8b29176b738
* Version Independent ID: efef2baf-67e5-4e8e-9164-799c1c234386
* Content: [Cr

[2019-06-13 21:02] LastTribunal commented on #2312
why do you need to taint your docs with a name of a follower of a 6th century illiterate savage?

[2019-06-13 21:08] #2312 closed

[2019-06-13 21:13] markingmyname commented on #2234
@MightPen,

A "known issues" section has been added to the release notes under the 18.0 section. :)

@moosehunt2007,

I see where you state - "I had the same problem as the people above" - referring to 18.1.  Have you tried the workarounds the people have tried as well?  It would be good to know if that works the same for 18.1 too.

[2019-06-13 21:39] TimCorey opened #2313 "SqlPackage on Linux with Docker"
I'm currently trying to get the SqlPackage to run on Linux in docker (the MSSQLServer 2017 latest). Sorry, I'm not a Linux guy but I tried to follow the example fully and I could not get it to work (command not found). Since the Ubunu version is 16.x, I ran that command as well but the item was already installed and up to date.

Could you please tell me what I'm doing wrong?

Here is the docker co

[2019-06-13 21:49] markingmyname commented on #2239
Hi, @StockportJambo,

I am not sure how much you've looked into this, but can I ask if you have come across this action plan and see if it does work for you - https://answers.microsoft.com/en-us/ie/forum/all/errsslprotocolerror/c855d6b7-7330-43f0-bd48-a0063efb32a8?

Please let me know.

Thank you.

[2019-06-13 21:51] markingmyname commented on #2255
@AshleySilver,

Can I ask if you have tried to download SSMS version 18.1 and getting the same result?

[2019-06-13 21:56] markingmyname commented on #2276
@tomwimmenhove,

Can I ask if you have tried that functionality in SSMS version 18.1?

[2019-06-13 21:58] markingmyname commented on #2277
As it being part of a preview, I will wait for GA to add to this article with this information.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

[2019-06-13 21:59] #2277 closed

[2019-06-13 22:02] YizeD opened #2314 "No table created from step 5-3?"
How does step 5-3 (where data should be uploaded into a table in the SQL database) work? From documentation, it seems like line 4 creates a reference to the table iris_data in the irissql database and line 5 fills the table with data, but when was the table created in the first place? When running 5-3 on my own server, no table is created.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-06-13 23:13] dphansen commented on #2314
@YizeD Thank you for opening a GitHub issue. I will investigate and get back to you.

[2019-06-14 00:43] MashaMSFT commented on #1831
Hi @blakemartin , thanks again for bringing this to our attention! There are many wait types that are used for internal purposes only, and so, we have updated the table to reflect that. However, we will be updating a number of wait types opportunistically over time. Thanks again and hope you have a wonderful rest of your day!

[2019-06-14 02:08] blakemartin commented on #1831
Thanks @MashaMSFT.  Are they also non-descriptive because they're used for a Preview feature?

[2019-06-14 09:34] ite-klass opened #2315 "DataBase Diagrams “details” link doesn’t provide any value/details"
The 16.1 what's new says:

&gt; For details, see Database Diagrams.

But it just links to a useless, no-details feature request that basically says “please re-add it” and “it was added back in”. How is that details? It should instead link to some form of documentation that actually describes what Database Diagrams are.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-06-14 09:36] ite-klass commented on #2315
If a link to the feature request is desired, and pointing out that feedback is listened to, then it should still be reworded to something more descriptive. Like “This was requested *here*.” or “This was added again based on *community feedback*.¨

[2019-06-14 11:32] fwd079 commented on #2234
Okay tested,

Well @markingmyname - if you install fresh it gives the same splash screen crash, but if you have 18.0 installed and **upgrade** to 18.1, the fix is _kept_ and not overwritten. So perhaps add this to 18.1 Known Issues too. But yes, from 18.0 to 18.1 _upgrade_ works, not a clean install.

Regards.

[2019-06-14 13:01] 0ddo opened #2316 "SQL Server 2019 release"
When will new server be released?

[2019-06-14 14:22] YizeD commented on #2314
It turns out my connection string was not correct. It was interesting that it was giving a response like it had made changes in the SQL server before.

Now that the connection string is fixed, however, I get this new error for rx_data_step:
DataStep error: [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user {'user'}

I'm pretty sure I set up the permissions correctly for th

[2019-06-14 14:33] YizeD commented on #2314
It seems like my problem was that I needed to grant each user permission to edit the irissql database, and not just permission in the server.

[2019-06-14 14:33] #2314 closed

[2019-06-14 14:52] genifycom commented on #2215
Any update on this? Is there a workaround or a prior version we can use that does work in shared mode?

[2019-06-14 15:09] J0nKn1ght opened #2317 "Viewing Column Collation"
To show column collation and also include the table it belongs to, use:

SELECT t.name TableName, c.name ColumnName, collation_name
FROM sys.columns c
inner join sys.tables t on c.object_id = t.object_id
WHERE c.name = N'&lt;Column Name&gt;';

You can obviously add to the where clause to restrict the table as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-06-14 17:47] WilliamAntonRohm commented on #2317
@J0nKn1ght -- thank you for your suggestion.  We are looking into incorporating this new information into our documentation.

[2019-06-14 17:53] msebolt commented on #2316
@MikeRayMSFT Hi Mike, is there any information you want to share about this issue?

Mike, please close this issue when done.

[2019-06-14 17:56] msebolt commented on #2315
@markingmyname Hi Mark, could you provide the status of this feature or otherwise process this issue #2315.

[2019-06-14 19:03] CarlRabeler commented on #2118
#please-close

[2019-06-14 19:03] #2118 closed

[2019-06-14 19:04] CarlRabeler commented on #2112
#please-close

[2019-06-14 19:04] #2112 closed

[2019-06-14 19:05] CarlRabeler commented on #2124
#please-close

[2019-06-14 19:05] #2124 closed

[2019-06-14 19:05] CarlRabeler commented on #2220
#please-close

[2019-06-14 19:05] #2220 closed

[2019-06-14 19:37] MikeRayMSFT commented on #2266
@ggoodfrd - `CHECKSUM()` uses a relatively simple but fast algorithm for checksum calculation based on shifting and XORing for INT. It should be used to build hash indexes and for that purpose it is fast and good enough.

Another example, `CHECKSUM_AGG` is designed to detect changes in a group of values – a simple XOR on inputs is very fast and good enough algorithm for this.

On the other hand, `

[2019-06-14 19:37] #2266 closed

[2019-06-14 20:23] chojrak11 commented on #2118
Thank you!

[2019-06-14 21:05] MikeRayMSFT commented on #2215
Did you run with

`(localdb)\.\AppData`?

[2019-06-14 21:13] Matteo-T commented on #2234
@fwd079: are you saying that installing 18.1 on a clean machine (i.e. with no 18.0 ever installed on it), you are still observing the flashing splash screens? If so, would you enter a UserVoice item (https://aka.ms/sqlfeedback) and share the SSMS 18.1 setup log files (%TEMP%\SSMSSetup)? Also, could you share your ssms.exe.config, the one installed by SSMS 18.1 (before any changes you may have done

[2019-06-14 21:20] MikeRayMSFT commented on #2180
`WITH FORMAT` causes the backup to overwrite the header and then truncate it without zeroing out rest of the file. The truncated space is released as free space to the volume.
Thanks for your patience.

[2019-06-14 21:20] #2180 closed

[2019-06-14 21:41] ClayBorkholm opened #2319 "These are not constants, they're literals."
Constants are named, durable and immutable and it would mildly fantastic to be able to define constants at the database level...like a declare, but database scope. Something like:

constant @appId bigint = 998934723311;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 400fee46-0435-b0f7-e0da-e527f33137f2
* Version Indepe

[2019-06-14 21:52] CarlRabeler commented on #2118
@chojrak11 thanks again for bringing this to our attention

[2019-06-14 22:43] ryanmajidi opened #2320 "dead link on Custom Messages for Logging"
**Submitted to [site feedback](https://github.com/MicrosoftDocs/feedback/issues/1613) by @strattonn**

Link to article:
https://docs.microsoft.com/en-us/sql/integration-services/custom-messages-for-logging?view=sql-server-2014

Problem:
The Related Content link...
Blog entry, Logging custom events for Integration Services tasks, on dougbert.com.

Is dead, goes to a Game of Thrones online gaming si

[2019-06-14 23:05] MikeRayMSFT commented on #2316
@0ddo - Thank you for the question. The general availability (GA) date for SQL Server 2019 is not available yet. We will announce that through the [SQL Server official blog channel](https://cloudblogs.microsoft.com/sqlserver/).

[2019-06-14 23:05] #2316 closed

[2019-06-14 23:08] 0ddo commented on #2316
We are waiting to move on from 2008 for 2019 to be released. Would be nice to have a date to look forward to.

[2019-06-15 08:49] Chaz6 opened #2321 "LocalDB Start/Stop?"
It would be useful to explain why a LocalDB needs to be started and stopped. SQLite on the other hand does not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80ae2735-1406-baf7-df41-5f2b930c132a
* Version Independent ID: 99241f21-4b3a-5a5d-1257-38ed9d5be434
* Content: [SqlLocalDB Utility - SQL Server](https://docs.mic

[2019-06-15 09:40] MichaelAzzar commented on #2234
we need debugging tool to be added back please

[2019-06-16 09:04] StockportJambo commented on #2239
The above didn't work, but it seems to be fixed anyway.

[2019-06-16 09:04] #2239 closed

[2019-06-17 01:10] chaim1221 commented on #2234
Good lord I thought I was going crazy. I have uninstalled this program _so many times_ and reinstalled it thinking it was my computer. Seriously?

TEST

YOUR

SOFTWARE

[2019-06-17 02:23] SDP190 commented on #2180
@MikeRayMSFT thanks, so I guess that  when its states in the docs

It refers to that  truncated part of the file which is not physically deleted but is not valid any more, and is released to the Volume, correct?

[2019-06-17 04:01] anuraj opened #2322 "Document is outdated it seems"
Looks like the document is not updated to the latest version of Azure Data studio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9dc8a6a-682b-3016-5fd7-d1840505e075
* Version Independent ID: d9657550-a95f-f50c-7d56-0295de2904f6
* Content: [Tutorial: Enable the five slowest queries sample widget - Azure Data Studio](h

[2019-06-17 08:00] alexmbaker opened #2323 "CREATE USER FROM EXTERNAL PROVIDER by Service Principal"
I am using an Azure Active Directory Service Principal to authenticate with an Azure SQL Database.  Everything works as I would expect except when I try to add an Azure AD user to the database using a script similar to:

CREATE USER [bob@contoso.com] FROM EXTERNAL PROVIDER;

I can run the script without issue however the Service Principal returns Error 33134, Severity 16, Message "Principal 'bob@c

[2019-06-17 10:19] jankoprowski opened #2324 "Is there TDSDUMP equivalent in Microsoft SQL driver?"
Hi,

  I'm Python developer. I'm using pymssql right now. However, because project is not maintained I'm considering to switch to pyodbc with Microsoft driver. Right now I'm using FreeTDS and TDSDUMP environment variable, described here: https://www.freetds.org/userguide/logging.htm to dump queries into the file. Is there equivalent in Microsoft driver?

[2019-06-17 15:25] MikeRayMSFT commented on #2316
Thank you very much for the feedback, @0ddo

I will share this with the team.

[2019-06-17 16:43] tcovarrubias commented on #2315
SSMS 18.1 crashes when you drag a database object (example, a table name) to a query window.

[2019-06-17 17:06] MikeRayMSFT commented on #2257
@tejasaks - is that note similar to what the article says at: [Join SQL Server host to AD domain](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-active-directory-authentication?view=sql-server-2017#join)? Specifically:

If it makes sense, I'd rather not repeat it. I'd simply move it to where it's more appropriate.

I'm updating the kvno command.

[2019-06-17 17:36] MightyPen commented on #2313
@rothja Hi Jason, This Issue 2313 might be a documentation opportunity, or not. Whatever you judge is fine with me.
The following docs/linux/ articles might be related:

quickstart-install-connect-docker.md
sql-server-linux-configure-docker.md
sql-server-linux-configure-msdtc-docker.md

 . .

[2019-06-17 17:38] MikeRayMSFT commented on #2257
The initial request has been answered with PR 10664. Closing issue.

[2019-06-17 17:38] #2257 closed

[2019-06-17 17:39] MightyPen commented on #2322
@markingmyname Hi Mark, Here in Issue 2322, there is perhaps too little information provided in the initial description here. However you decide to deal with that problem is fine by me.  Thanks.

[2019-06-17 17:45] MightyPen commented on #2324
@David-Engel Hi David, Can you Comment on this Issue 2324 about Python. Thanks.
@WilliamAntonRohm is ready to assist you.

[2019-06-17 17:53] msebolt commented on #2323
Hi @alexmbaker, thank you for the feedback!

This issue has been addressed on the [forums](https://social.msdn.microsoft.com/Forums/en-US/84d9448e-ad26-4b29-9500-f473f96da128/azure-ad-authentication-on-azure-sql-unable-to-create-users-from-external-provider-in-db?forum=WindowsAzureAD) and via [blog post](https://blogs.msdn.microsoft.com/sqldw/2017/07/28/adding-ad-users-and-security-groups-to-azure

[2019-06-17 17:59] #2148 closed

[2019-06-17 18:03] MightyPen commented on #2319
@ClayBorkholm Hello Clay, This Issues website is for documentation shortcomings. You have offered an idea for a new feature in SQL Server. We cannot process that idea on this website.
Below I am pasting in a set of links that are sometimes helpful to people who are looking for other avenues of communication.  I hope one or more might be helpful to you.

- [UserVoice - Suggestion to improve SQL Ser

[2019-06-17 18:03] #2319 closed

[2019-06-17 18:23] MashaMSFT commented on #2265
Hi @andyhush-athena , thanks again for bringing this to our attention! I have added a section discussing automatic seeding. Please let me know if there is anything else we can do for you? If not, I will proceed with closing out this Git Issue in a few business days.

Thanks!

[2019-06-17 18:26] ClayBorkholm commented on #2319
Actually, I'm suggesting these are mislabeled, and that if they were in fact constants, then they'd look like the feature I suggested. Yes, I'd like the feature...but still, I'd like to doc to align with broader developer expectations. I should have taken a more doc-centric approach from the outset, I suppose.

[2019-06-17 18:29] price5583 commented on #2234
I downloaded SSMS from the link on this page and found out they have now remarked out the NgenBind that was giving all the problems.  Here is how the NgenBind line reads in the Ssms.exe.config file now:

So, now all you have to do is download and run it, no config file editing is necessary.  Yeah!

[2019-06-17 18:37] minoseah629 opened #2325 "sqlpackage - import - null obj ref"
I am not sure where to file this issue.
After creating an export from sqlpackage with this command:

C:\Program Files\Microsoft SQL Server\150\DAC\bin\sqlpackage.exe /a:"export" /ssn:"sqlserver" /sdn:"dbname" /sf:"C:\Users\xxx\Desktop\data.bacpac" /d:true

I try to import to a server with this command:

C:\Program Files\Microsoft SQL Server\150\DAC\bin\sqlpackage.exe /a:"Import" /tsn:"sqlserver" /

[2019-06-17 18:41] isaacbouche commented on #2249
helloo!! please help me to install it

[2019-06-17 19:26] rothja commented on #2313
@TimCorey Thanks for the feedback. Are you saying that when you run the docker command, you get command not found? Have you installed Docker for Windows from the docker website? Sorry you're having problems. I want to make sure that the instructions are correct.

[2019-06-17 19:48] andyhush-athena commented on #2265
Looks great, thanks!

[2019-06-17 19:48] #2265 closed

[2019-06-17 20:27] TimCorey commented on #2313
I've been playing around with this for a bit and I figured out the issue. It comes down to my lack of understanding of Linux. The issue ended up being a pathing problem. Let me explain my process:

1. I stood up a Linux SQL 2017 Developer Edition container in Docker (on Windows) with a volume that has the SqlPackage zip in it
2. I ran the docker exec -it <containerId> bash command
3. From the bash

[2019-06-17 20:27] #2313 closed

[2019-06-17 20:42] RegexPro commented on #2267
There's a lot of issues and (shared) frustrations noted in your comment.  In the meantime, I've found that Bing does a very good job of delivering the page I'm looking for when I search for 'tsql <my topic | page>'.

For me, the biggest pain point is the inaccuracy of the search/filter bar.  If that can be resolved, the need to navigate manually would be 95% gone, and any bugs or design limitation

[2019-06-17 21:10] ManojNair opened #2326 "Add a space between an and on in the paragraph below"
While this article does not cover availability options external to SQL Server, such as those provided by virtualization, everything discussed here applies to SQL Server installations inside a guest virtual machine whether in the public cloud or hosted by anon premises hypervisor server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-06-17 21:22] MashaMSFT commented on #2249
Hi @isaacbouche , thanks for contacting Microsoft! You can find assistance with installing SQL Server here: https://docs.microsoft.com/en-us/sql/database-engine/install-windows/install-sql-server?view=sql-server-2017. Thanks!

[2019-06-17 21:25] MashaMSFT commented on #2326
Hi @ManojNair,

Thank you for contacting Microsoft and providing your feedback to our documentation!

If you're suggesting a simple change to the documentation, it may be faster for you to submit the edit yourself via a Pull Request (PR). You can do so by following these steps:

1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil" icon

[2019-06-17 22:50] almostrealchris opened #2327 "test"
please disregard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Management Studio (SSMS) - SQL Server](https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?

[2019-06-18 02:11] dahovey commented on #2150
I just updated to CU15 - 14.0.3162.1. Tried again after update, and issue still persists.

[2019-06-18 03:30] DBArgenis commented on #2288
OUTPUT is the way to go here.

[2019-06-18 07:39] alexmbaker commented on #2323
@msebolt while the links you have provided do cover a similar area of functionality they do not discuss the specific use case.  Consider this script:
[code]
When I execute this script against my Azure SQL database it works exactly as expected.

The issues arise with this scenario:

* I create a service principal in the Azure Active Directory
* Create a group in the Azure AD - lets say 'sql-admins'

[2019-06-18 08:43] ite-klass commented on #2315
@tcovarrubias This ticket is about the release notes documentation, not the feature. Please refer to the product feedback system/tracker for SSMS. If no such ticket exists there yet, you can create a ticket for your issue; and otherwise follow existing ones.

It looks like the SSMS feedback is also in the SQL Server category. This is also linked in the documentation, or reachable from SSMS via Hel

[2019-06-18 10:01] Jonathan811 commented on #2155
Yeah, that is a pain.......have to look at sysjobactivity to find current executing jobs.

Would be nice if sysjobhistory got updated when jobs start.....

[2019-06-18 12:33] gldraphael opened #2329 "Add recommended resource requests (and limits)"
Something like this:

[code]

Would also be great if this link could be added somewhere: https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup?view=sql-server-2017#system

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04922c04-a2da-186c-5946-1cc4d9a7447b
* Version Independent ID: 6e490885-cdd7-079a-0b3a-468

[2019-06-18 13:31] rlhane commented on #2267
MightyPen is DEAD ON. _Please consider his suggestions_ for making this huge investment in documentation, especially this Transact-SQL Reference, the useful tool it should and could be.

[2019-06-18 14:35] mburbea commented on #2288
Output isn't a perfect replacement for scope_identity.
Consider, if you insert your value with an output clause? How do you get the scope_identity then?
[code]
How do I get the audit_trail inserted id without scope_identity() here?

[2019-06-18 14:48] Piotrek2 opened #2330 "Typo in the escape sequences"
[Enter feedback here]
Typo in the escape sequences:
It is:   Reverse solidus (\) | \|
It should be: Reverse solidus (\) | \\

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9298c088-3bff-2cab-7d11-a0aca451a5bf
* Version Independent ID: 6fdaf6bd-7af2-5a08-9e79-fe38cecab7a1
* Content: [STRING_ESCAPE (Transact-SQL) - SQL S

[2019-06-18 14:54] mburbea commented on #2282
From my testing in this with Sql 2016, or Sql 2012+ with traceflag 6533 on I found that buffering tended to be slower then using a simple distance search, when you moved past small distances. Here is census block centroids plotted (11million points in the US), and a search of 10 miles around a coffee shop in SF.

[code]
Printed::
[code]

[2019-06-18 15:19] Tottenham84 opened #2331 "Job UI hanging when looking at job steps."
When opening SQL Agent job UI it is very slow to open the job step detail. I thought it was an issue related to the MSX jobs, but it happens on all jobs.

[2019-06-18 15:51] rbrundritt commented on #2282
Is there a spatial index involved here? I don’t see any mention of it in the queries. That makes a big difference.

These numbers don’t align with the nearest neighbor section of the “Pro Spatial with SQL Server 2012” book. Nor what we have seen in the wild.

From: Michael Burbea <notifications@github.com>
Sent: Tuesday, June 18, 2019 7:55 AM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com

[2019-06-18 16:03] mburbea commented on #2282
Indeed, with a spatial index in play.
`create spatial index s_census_block_latlong on census_block(latlong)`
Basically default settings. All 3 plans do use the index.

The key point is traceflag 6533, or using sql server 2016. This flag turns on native code for the STDistance calculation (Personally, I'd enable 6532,6533, and 6534 on non-2016 instances).
https://blogs.msdn.microsoft.com/bobsql/201

[2019-06-18 16:25] WilliamAntonRohm commented on #2309
@mllab-nl -- thank you for contacting us with your suggestion.

@MikeRayMSFT -- my understanding is to add their suggested statement into the article's first code sample, as shown below.  If you agree, I can submit a PR in the private repo with that change.

#### Existing
[code]

#### Proposed
[code]

[2019-06-18 17:31] magno101 opened #2332 "Powershell Example of how to Extract the Installation Media Needs Attention"
Greetings,

The code block:
New-Item -Path C:\SQL2017 -ItemType Directory
$mountResult = Mount-DiskImage -ImagePath 'C:\en_sql_server_2017_enterprise_x64_dvd_11293666.iso' -PassThru
$volumeInfo = $mountResult | Get-Volume
$driveInfo = Get-PSDrive -Name $volumeInfo.DriveLetter
Copy-Item -Path ( Join-Path -Path $driveInfo.Root -ChildPath '*' ) -Destination C:\SQL2017\ -Recurse
Dismount-DiskImage -Im

[2019-06-18 17:45] msebolt commented on #2330
@Piotrek2 Thank you for the feedback!

Change has been submitted for review.

[2019-06-18 17:46] msebolt commented on #2327
@almostrealchris Please comment below if you have any issues.

[2019-06-18 17:46] #2327 closed

[2019-06-18 17:55] msebolt commented on #2326
@ManojNair Thank you for the feedback!  This issue appears to have been resolved.

Please comment below if there are any further questions.

[2019-06-18 17:55] #2326 closed

[2019-06-18 17:56] TrayceJ opened #2333 "syntax options for max rollover files and max size are not documented"
When creating an XEvent session you have the ability in the GUI to specify whether files roll over or not, and the size for when they rollover.   The script generated by SSMS has the following:

CREATE EVENT SESSION [test] ON SERVER
ADD EVENT sqlserver.deprecation_announcement,
ADD EVENT sqlserver.deprecation_final_support
ADD TARGET package0.event_file(SET filename=N'test',max_file_size=(2048),ma

[2019-06-18 17:59] magno101 commented on #2332
Closing as it was my mistake. The -PassThru didn't make it to my configuration.

[2019-06-18 17:59] #2332 closed

[2019-06-18 18:32] msebolt commented on #2325
Hi @minoseah629, thank you for the feedback.

Our support requests are handled by the product team and can be filed in the [forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=ssdt&filter=alltypes&sort=lastpostdesc).
 Your issue appears to have been listed [here](https://social.msdn.microsoft.com/Forums/en-US/d1083a56-9974-458d-ae7f-4d61ff8fcbf5/object-reference-not-set-to-an-instanc

[2019-06-18 18:32] #2325 closed

[2019-06-18 19:18] #2288 closed

[2019-06-18 19:21] MikeRayMSFT commented on #2173
@pedroalfaroarias we haven't been able to reproduce this. I'm curious if some local policy or anti-virus configuration may be preventing download. Because this issue doesn't appear to be reproducible, will close.

[2019-06-18 19:21] #2173 closed

[2019-06-18 19:57] cbailiss opened #2334 "Sections in wrong order"
Surely the database permissions at the subscriber should be set before creating the subscription?
The order described in this page results in a "Unable to Connect Error".
This clears after a few minutes, but is confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0086945e-a60b-31ed-9445-160fed6ea1f1
* Version Inde

[2019-06-18 21:38] rbrundritt commented on #2282
Interesting, I haven’t seen these flags before. I heavily used the spatial functionality in 2008 and 2012 so know the tricks for those platforms, but missed these newer optimizations.

Going on a tangent, it would be good to sync on the spatial functionality in SQL with the Azure Maps team as they have been getting a lot of requests for more spatial functionality in SQL. Happy to discuss offline.

[2019-06-18 21:47] MashaMSFT commented on #2334
Hi @cbailiss ,

Thanks for contacting Microsoft! This actually seems to be a gap in this documentation: https://docs.microsoft.com/en-us/sql/relational-databases/replication/tutorial-preparing-the-server-for-replication?view=sql-server-2017#create-windows-accounts-for-replication

I've created a work item on my end to address this - due to the complexity it may take a few business days to a few bu

[2019-06-18 22:04] WilliamAntonRohm commented on #2317
Steve -- please consider adding Jon's ingenious suggestion to the examples in that article.

[2019-06-18 22:11] WilliamAntonRohm commented on #2293
@CeciAc -- closing as this issue has addressed in documentation PR #2299.

I notifed the originator (Tornhoof) in the source German issue.

[2019-06-18 22:11] #2293 closed

[2019-06-19 02:35] QuiverNAY opened #2335 "Arithmetic overflow error for AVG"
It's funny to have Arithmetic overflow error for the valid data.
So an application can just stop to work after years of working.
Or in prod, it can cause an error, but not for a test data set

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3b44f8a-f567-edb6-173b-69955fc98381
* Version Independent ID: 3779a6ab-4cbd-f912

[2019-06-19 02:39] QuiverNAY commented on #2335
Oh, sorry it's not a problem with the documentation.  This bug is clearly marked as "feature".
_AVG () computes the average of a set of values by dividing the sum of those values by the count of nonnull values. If the sum exceeds the maximum value for the data type of the return value, AVG() will return an error._
So before using, we have to know the sum (however in this case no needs to run the q

[2019-06-19 02:39] #2335 closed

[2019-06-19 05:56] yamatoya opened #2336 "I cannot execute the command `SHRIINKDATABASE` on the Azure SQL Database DTU model"
[Enter feedback here]

When I run the below query, I got the error.
[code]

The command was returned the below error message.
[code]

I think that this command cannot support on the Azure SQL Database. You should change the support model.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87349f50-5751-68c4-df29-90c1c7c151

[2019-06-19 06:57] yamatoya commented on #2336
I misunderstand.

[2019-06-19 06:57] #2336 closed

[2019-06-19 08:59] MightyPen commented on #2333
The related XEvent articles do mention 'max_rollover_files':
- https://docs.microsoft.com/en-us/sql/relational-databases/extended-events/quick-start-extended-events-in-sql-server?view=sql-server-2017
- https://docs.microsoft.com/en-us/sql/database-engine/event-file-target?view=sql-server-2014 (NOT available for 2016+).

Generally, I think the names of specific actual parameters are documented at t

[2019-06-19 14:28] svaneyck opened #2337 "sp_estimate_data_compression_savings can now be used for columnstore indexes"
[ @data_compression= ] 'data_compression'
Is the type of compression to be evaluated. data_compression can be one of the following values: NONE, ROW, PAGE, COLUMNSTORE, or COLUMNSTORE_ARCHIVE.

Refers to line in data compression article:
"The procedure sp_estimate_data_compression_savings (Transact-SQL) does not apply to columnstore indexes."

(the above argument explanation came from article http

[2019-06-19 14:30] dimitri-furman opened #2338 "The ORDER clause should only apply to SQL DW, not SQL Server or SQL DB"
In the Syntax session for SQL Server and Azure SQL Database, there is this:
[ORDER (column [,…n])]  --(Preview)

But this preview is only in SQL DW now. This syntax is incorrect for other products.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 195f6bd5-e394-7695-3fed-2cb092db31b9
* Version Independent ID: 3bab1457-be3

[2019-06-19 15:49] VanMSFT commented on #2323
Hi @alexmbaker - You should not have to add the user to the AAD role Directory Readers. Our Product Team is looking to fix this issue in the next month. I hope that helps.

[2019-06-19 15:56] CarlRabeler commented on #2338
@dimitri-furman Please clarify - are you saying that ORDER (column .... is a syntax that is in preview and is only in preview for SQL DW and the syntax does not exist for any of the other flavors of SQL?

[2019-06-19 16:28] dimitri-furman commented on #2338
@CarlRabeler that is correct.

[2019-06-19 16:47] LonnyNiederstadt opened #2339 "Write service time threshold for throttling checkpoint activity"
Hello,

Does the 50 ms threshold for throttling checkpoint activity apply only to automatic checkpoints, or does it also apply to indirect checkpoints?
On the "Database Checkpoints" page, the structure implies the threshold only applies to automatic checkpoints.
In this sqlcat post, it seems to imply that the threshold may be considered for both automatic and indirect checkpoints.
Changes in SQL S

[2019-06-19 17:37] rbrundritt commented on #2282
Any chance these flags can be used with the .NET library?

From: Ricky Brundritt
Sent: Tuesday, June 18, 2019 2:39 PM
To: MicrosoftDocs/sql-docs <reply@reply.github.com>; MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Author <author@noreply.github.com>
Subject: RE: [MicrosoftDocs/sql-docs] Nearest neighbour query limited (#2282)

Interesting, I haven’t seen these flags before. I heavily

[2019-06-19 17:53] WilliamAntonRohm commented on #2331
@Tottenham84 -- thank you for your feedback.  This issue's website is only for documentation problems.

I will mention this to our team.  In addition, here are some resources that may help:

- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Setup and Upgrade -  MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=sqlsetupandu

[2019-06-19 17:53] #2331 closed

[2019-06-19 18:15] WilliamAntonRohm commented on #2338
@dimitri-furman, @CarlRabeler -- I am creating a PR for this and will ask Dimitri to review it.

[2019-06-19 18:39] #2282 closed

[2019-06-19 18:48] danobri opened #2340 "How to make existing columns hidden"
In your final example - https://docs.microsoft.com/en-us/sql/relational-databases/tables/creating-a-system-versioned-temporal-table?view=sql-server-2017#migrate-existing-tables-to-built-in-support
Is there a way to make the period columns hidden?  If so, could you please include this in the documentation?  I would like to turn on versioning for an existing table and populate the "SysStartTime" col

[2019-06-19 19:00] danobri commented on #2340
Thanks to the following post - https://bornsql.ca/blog/temporal-tables-hidden-columns/

I found the answer to my question.  I think it would be useful to add to your final example, as I would think hiding versioning columns added to existing table would be the most common case.

Here's a proposed update to your final example:

/*Drop trigger on future temporal table*/
DROP TRIGGER ProjectCurrent_O

[2019-06-19 19:53] MashaMSFT commented on #2339
Hi @LonnyNiederstadt ,

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

Thanks

[2019-06-19 20:10] gwalkey opened #2341 "Turning Temporal OFF leaves the Period Columns in the base table"
[Enter feedback here]
SQL 2017 CU15 STD
We tested Temporal on a Production System, When we had a unrelated error crop up on the client APP, we turned Temporal OFF, and noticed that the two Start and End Period DateTime2 columns remained on the base table. The Client APP did not like it for some reason (EF6).
Why not automatically drop those columns as part of these statements:

ALTER TABLE dbo.Dep

[2019-06-19 23:03] mrwensveen commented on #2234
Adding this so it's easier to find this issue (hopefully). When you run smss.exe from the command line, you might get this message: `Program 'smss.exe' failed to run: The %1 application cannot be run in Win32 mode`. Above workaround should work, as well as installing SSMS.

Also, strangely, the executable seems to have been renamed from smss.exe to ssms.exe in this version?

[2019-06-20 00:18] Matteo-T commented on #2234
@mrwensveen:

No, no... be very careful with that.
- SSMS.EXE is "SQL Server Management Studio"
- Smss.exe is "Session Manager Subsystem" - it's Windows stuff.

You will regret deeply if you mess with smss.exe :-)

[2019-06-20 00:27] epretorious-work opened #2342 "Error Installing MSSQL Tools on RHEL-6.6"
I'm trying to install MSSQL Tools 17.3.0.1 on RHEL 6.6 but yum complains...

[code]

But libstdc++.so.6 is installed:

[code]
And libc.so.6 is also installed:

[code]

Maybe I am misunderstanding something?

TIA,
Eric Pretorious
Portland, Oregon

[2019-06-20 01:08] dcallagh opened #2343 "Incomplete process"
Hi,

I have used this page to set up a domain independent AOAG group i Azure however the instructions are incomplete and I have not been 100% successful:
No Domain means no active directory DNS. I have used two independent DNS one on each sqlserver. Cluster role move is successful. However cluster manager gives errors on the second subnet. Is the cluster still supported?
Cluster resource 'IP Addre

[2019-06-20 02:06] jjpepper opened #2344 "Why is this so complicated?"
David Barrett-Lennard, create of Ceda describes a far simpler solution to this issue that uses TCP to do the windowing algorithm here (http://cedanet.com.au/ceda/messaging/persistent-queue.php).  The complexity of this solution seems unjustified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f089d928-4091-1873-0d28-c1

[2019-06-20 02:16] jjpepper commented on #2344
For a bit more context on this, please see here: http://cedanet.com.au/ceda/messaging/.  Note that although the service broker implementation is more complicated, it is the only example I have seen on the internet where someone has realised that EOIO messaging is not actually impossible.  In fact it is not all that difficult.  It seems like the world has gone crazy building things like Kafka, AMQP

[2019-06-20 06:38] mrwensveen commented on #2234
Ah, didn't know that. Thanks.

On 02:18, Thu, Jun 20, 2019 Matteo Taveggia <notifications@github.com wrote:

[2019-06-20 14:07] LuisGonzalezLT opened #2345 "This is actually available in Azure SQL Database."
Shows it isn't, though..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 555df55e-bb95-0dc8-b7a6-c0c776903bef
* Version Independent ID: 7dd977fc-bd60-b0e2-f7ff-c3a3aa8f340b
* Content: [sys.dm_xtp_gc_queue_stats (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-manageme

[2019-06-20 14:07] LuisGonzalezLT opened #2346 "This is actually available in Azure SQL Database."
Shows it isn't, though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6887407-b426-a1a2-09af-c193a8128cd4
* Version Independent ID: ebbdcdc8-658d-a706-1789-2a8fed3a30d2
* Content: [sys.dm_xtp_gc_stats (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-view

[2019-06-20 14:08] LuisGonzalezLT opened #2347 "This is actually available in Azure SQL Database."
Shows it isn't, though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b8ea1d0-5664-f94a-90ff-1386c8b8d1d3
* Version Independent ID: 5e9f542d-1230-cd46-aded-0ac769170d44
* Content: [sys.dm_xtp_system_memory_consumers (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-

[2019-06-20 14:09] LuisGonzalezLT opened #2348 "This is actually available in Azure SQL Database."
Shows it isn't, though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 059273b0-16df-49f9-0971-75a27510fa58
* Version Independent ID: 4ef41474-c17a-856f-8053-f58493eebe2e
* Content: [sys.dm_xtp_transaction_stats (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-manage

[2019-06-20 15:29] bricrsa opened #2349 "SQL DW ADLS missing from diagram"
The diagram regards polybase connectivty to storage explicitly says Blob only whereas this is no longer true. ADLS Gen 1 and Blob are both supported at present.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ebefef-f8c5-e429-269e-1ef7a96264fd
* Version Independent ID: a8009495-9bb9-87f4-85af-0ac0074749e7
* Content: [

[2019-06-20 16:04] David-Engel commented on #2324
@jankoprowski The Microsoft ODBC Driver for SQL Server takes advantage of unixODBC logging as described at the bottom of the link you provided. It does not use an environment variable like TDSDUMP to do additional logging.

If you have detailed questions about pyODBC and the MS ODBC driver, I recommend asking/filing an issue on the [pyODBC GitHub](https://github.com/mkleehammer/pyodbc/) site. The

[2019-06-20 16:20] mr2001 opened #2350 "SSMS: If drag and drop an object (the name) from Object Explorer into the query window the whole application freezes and crashes"
If drag and drop an object (name) from Object Explorer into the query window the whole application freezes and crashes

[2019-06-20 16:34] mr2001 commented on #2350
This is a bug in SSMS ver. 18.1

[2019-06-20 18:35] noamo48 opened #2352 "DEA docs are out of date"
The docs for SQL Server Database Experimentation Assistant are out of date and it's driving me nuts. In the "capture trace" docs, it specifies that you can choose trace file size. But in DEA 2.6, this option does not exist. As a result, I'm forced in to capturing 500mb trace files and for a 24 hour capture, I end up with hundreds of files which I have to replay one by one.

[2019-06-20 19:19] msebolt commented on #2342
@epretorious-work Thank you for the feedback!

Can you verify you've tried the instructions per https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-tools?view=sql-server-2017#RHEL?

I notice it includes the unixODBC-devel package and also requires an uninstall.

[2019-06-20 20:31] epretorious-work commented on #2342
Thank you, Matthew:

**First:** _Per the instructions_ - I verified that the mssql-tools package and the unixODBC-devel package are not already installed:
[code]
**Second:** _per the instructions_ - Then I attempted to install both packages **together**:
[code]
And, _as you can probably see_, **the results were the same**.

Ideas? Suggestions?

TIA,
Eric Pretorious
Portland, Oregon

[2019-06-20 20:33] jankoprowski commented on #2324
Thank you very much. I will try logging with unixODBC.

[2019-06-20 20:33] #2324 closed

[2019-06-20 21:58] OscarCanek opened #2353 "Azure SQL Database support"
When it'll be supported by Azure SQL Database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0840e04-b52d-2c5f-197d-26bec998fcaa
* Version Independent ID: 40ca3965-4f80-cbb3-839c-3244a536675e
* Content: [Graph edge constraints - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/tables/graph-edge-c

[2019-06-20 22:00] msebolt commented on #2342
@epretorious-work I was able to get this to work (on version 6.7)  using the version 6 repo at:

curl https://packages.microsoft.com/config/rhel/6/prod.repo > /etc/yum.repos.d/msprod.repo

...and NOT running the `yum remove` command.

@rothja Perhaps we can add a note to the article for version 6 installs?

[2019-06-21 11:43] ggoodfrd commented on #2266
Thanks for the clarification. I fully understand that the function would take an approach that is optimized for performance since it has to process the input of each parameter, which could be large strings, for example. It's good to mention the performance differences as you have here, as one might not have understood that impact without taking time to set up some examples with large datasets, etc

[2019-06-21 13:55] piersmyers opened #2355 "SSMS: Status Bar Layout and Colors not persisted"
The 'Group connections' and 'Single server connections' colors under Options->Text Editor->Editor Tab and Status Bar->Status Bar Layout and Colors do not persist after closing SSMS 18.1 and will revert to white when opened next time. They should default to Pink and Khaki as white text on a white background is hard to read. This was also an issue in SSMS 18.

---
#### Document Details

⚠ *Do not ed

[2019-06-21 17:42] BrianKrohn opened #2358 "Ubuntu - unable to locate package"
The apt-get install step for Ubuntu returns "Unable to locate package mssql-server-polybase".

---
(ERROR: **abiolao96** is his correct GitHub name!  GeneMi)

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0547d262-0e0b-1c3c-66de-b45458fd40b3
* Version Independent ID: b0f7235c-9439-7be5-eb18-f343861a0159
* Content: [Install

[2019-06-21 17:56] msebolt commented on #2352
Hi @noamo48 Thank you for the feedback!

@HJToland3 @MashaMSFT Can you assess this potential doc-bug?

[2019-06-21 18:01] MightyPen commented on #2349
@rothja Hi Jason, can you please process this Issue 2349, about Polybase.

[2019-06-21 18:17] HJToland3 commented on #2352
@msebolt, I will reach out to the PM team and get corrected detail to publish.

[2019-06-21 20:39] yogigollapudi opened #2361 "how to disable the distribution transactions on availability groups once it is enabled with alter statement?"
how to disable the distribution transactions on availability groups once it is enabled with alter statement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4525f922-c768-bb9c-fc93-4a3b790c03fb
* Version Independent ID: f50f9610-c6a6-0fad-5f53-975a64a53704
* Content: [Configure distributed transactions for an availabili

[2019-06-21 21:22] MightyPen commented on #2353
@shkale-msft
Hello Shreya,

In new GitHub Issue 2353, a customer is asking if/when graph edge constraints are supported on Azure SQL Database (single database - elastic pools) service.

Should this documentation article be updated, to say Yes for Az SQL DB?:

- https://docs.microsoft.com/en-us/sql/relational-databases/tables/graph-edge-constraints?view=sql-server-2017

- https://github.com/Microso

[2019-06-21 21:26] MightyPen commented on #2355
@dnethi and @markingmyname
Can you two please test with SSMS 18.1 to see whether you can reproduce this reported bug.
Then please add a Comment into this Issue 2355 to explain your conclusion about this Issue.

Thank you.

[2019-06-21 21:35] MightyPen commented on #2358
@abiolao96 Abiola, This Issue 2358 might indicate a bug of omission in the cited "PolyBase on Linux" article. Perhaps a Prerequisite should be added (just my guess)?

Can you please process this Issue 2358, and enter an informative Comment into the Issue.
After we have a good reply to the customer, we can then Close this issue as addressed.
SQL Linux Writer Jason Roth can assist you if you ask him

[2019-06-21 21:39] MightyPen commented on #2361
@MashaMSFT Hi Masha, I am unsure if the answer is an ALTER DROP or not. If that is the answer, maybe the article could receive a minor update to show such an ALTER DROP in a code example?
Anyway, can you please process this Issue 2361.

Thank you.

[2019-06-21 21:45] MightyPen commented on #2341
@bonova Hi Borko, Can you please add a Comment into this GitHub Issue 2341, to help address the customer's question?
We would like to finish this Issue and close it soon.

@CarlRabeler can assist you with the mechanics of updating a GitHub Issue, if you ask for his assistance.

This Issue 2341 must remain co-assigned to both Borko and Carl. First action we need is an explanatory Comment from Borko

[2019-06-21 21:53] MightyPen commented on #2320
@msebolt PR #10667 is now Merged (into branch= 'master'). So I am now Closing this fixed Issue 2320.
Thanks. (GeneMi).

[2019-06-21 21:53] #2320 closed

[2019-06-21 21:59] MightyPen commented on #2077
@cristian-ceniss Hello Cristian, this Issues website is for reporting errors in the SQL Server documentation, as it is under `https://docs.microsoft.com/sql/sql-server/`. You can start at that documentation article, and the search the left-side Table of Contents for documentation articles that pertain to your current area of interest about Microsoft SQL Server.

I am now Closing this Issue 2077.
T

[2019-06-21 21:59] #2077 closed

[2019-06-21 22:16] MightyPen commented on #2015
Fixed this Issue 2015 by creating public PR #2363 .

@dphugo Thank you for bringing this documentation error to our attention. We hope to hear from you again  :-)

fyi @jovanpop-msft @MashaMSFT

[2019-06-21 22:16] #2015 closed

[2019-06-21 22:22] markingmyname commented on #2255
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

Please visit [UserVoice](https://feedback.azure.com/forums/908035-sql-server) to offer more technical feedback.

[2019-06-21 22:23] #2255 closed

[2019-06-21 22:24] markingmyname commented on #2276
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

Please visit [UserVoice](https://feedback.azure.com/forums/908035-sql-server) to offer more technical feedback.

[2019-06-21 22:24] #2276 closed

[2019-06-21 22:42] MikeRayMSFT commented on #2215
Updated syntax in article last week. Followed up with OP. No reply. Closing issue.

[2019-06-21 22:42] #2215 closed

[2019-06-21 22:43] MightyPen commented on #2017
@meet-bhagdev Hi Meet, this article explicitly offers to add a section for NFS, if customers want/request such a section (see code block shortly below, which is a snip of the markdown source). Can you follow through on this offer and update the article via a PR?
In any case, we need to take action on this aging Issue 2017. If necessary please work with SQL Linux Writer @rothja (Jason Roth) to comp

[2019-06-21 22:55] MightyPen commented on #2059
@NelGson Hello, What is the PR number that fixed this Issue 2059?  Thanks. (GeneMi)

I think it might have been #10114 ?

`https://github.com/MicrosoftDocs/sql-docs-pr/pull/10114/files`

It helps our auditing to have the Issue and the PR each contain a link to the other (or at least their respective numbers mentioned in each other).
Because I suspect PR 10114 is the corresponding PR for this Issue

[2019-06-21 22:55] #2059 closed

[2019-06-21 23:53] MightyPen commented on #2065
@mburbea
I decided to fix this Issue 2065, and to fix the article (with PR 10742).
Thank you very much for bringing this documentation error to our attention, and for your helpful description of the problem. The fix should be visible on live Docs by EODay Monday June/24.

- PR=10742:  ` https://github.com/MicrosoftDocs/sql-docs-pr/pull/10742`

I am now Closing this Issue 2065, as fixed.

CC: @jova

[2019-06-21 23:53] #2065 closed

[2019-06-22 00:08] MightyPen commented on #2093
@ronitr @VanMSFT Hello, This aging Issue 2093 is now assigned to each of you.
Maybe Ronit can suggest an answer or a documentation change, and maybe Van can implement the change (and finish the mechanical processing of this Issue).

If a PR is created to fix this Issue, please put a link to the Issue in the PR, and vice versa.
Thanks.
CC: @sqlchicken

[2019-06-22 00:12] MightyPen commented on #2066
@msebolt Hi Matthew, can you experiment for a few minutes to ascertain the degree to which this claim made by our customer is correct. And take actions to finish and close this Issue 2066. Thanks!
(FYI, Issue #2065 was a fix, by me, inside this same article.  GeneMi)

[2019-06-22 00:28] MightyPen commented on #2353
Fixed by PR 10743.  I am therefore now Closing this
- `https://github.com/MicrosoftDocs/sql-docs-pr/pull/10743`

Per confirmation email I (GeneMi) received by Shreya Verma:

---

From: Shreya Verma
Sent: Friday, June 21, 2019 2:51 PM
To: Gene Milener
Subject: RE: [MicrosoftDocs/sql-docs] Azure SQL Database support (#2353)

Hi Gene,

Yes. The feature is now supported on Azure SQL DB. Please feel fr

[2019-06-22 00:28] #2353 closed

[2019-06-22 00:52] HJToland3 commented on #2352
@noamo48, we are working to update the documentation to reflect the latest version of DEA. In the interim, you can modify the size of the trace files collected using the following steps.

1. Navigate to the folder in which you installed DEA, and then open the \Scripts folder.
2. Based on the platform where you are capturing
    a.	StartCaptureTrace.sql – For Capturing Server Traces
    b.	CaptureX

[2019-06-22 02:53] IncubusSlayer commented on #2234
I downloaded 18.1 today and cant connect to my local server anymore. Not sure if its tied to this same issue but some feedback would be greatly appreciated.

[2019-06-22 03:06] MikeRayMSFT commented on #2344
@jjpepper - thank you for this submission.

[GitHub Issues for SQL docs](https://github.com/MicrosoftDocs/sql-docs/issues) is primarily for documentation feedback.

You can submit product recommendations at [User voice](https://feedback.azure.com/forums/908035-sql-server).
- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Setup and Upgrade -

[2019-06-22 03:06] #2344 closed

[2019-06-22 03:21] Matteo-T commented on #2234
I have no problem answering questions here, but... keep in mind this is the Git repo for the documentation, so the "doc" people may get mad at me :-)

To get help on SSMS:
https://docs.microsoft.com/en-us/sql/ssms/sql-server-management-studio-ssms?view=sql-server-2017#info_tip-get-help

And, I can confidently say that the issue @IncubusSlayer is seeing in not related to the one discussed here. Can

[2019-06-22 08:12] fwd079 commented on #2234
Tested today, fresh install is fixed and crashes no more. Cheers :)

Closing the issue now.

Regards.

[2019-06-22 08:12] #2234 closed

[2019-06-22 09:51] BachNgX opened #2364 "SSMS 18.1 setup blocked"
have installed the SSMS 18.0. Then I accidentally uinstalled it. I tried to install SSMS 18.1, and it appeared that Setup Blocked.

I have tried many ways like delete the file C:\Program Files (x86)\Microsoft SQL Server\140\Tool. And I have deleted all file that related to SSMS. After all, the setup still blocked.

Please help me. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It

[2019-06-23 09:38] ronitr commented on #2093
Hi,
Data classification is available in SSMS as of SSMS 17.5 - @VanMSFT  - perhaps you can add this to the doc?
As to the question on where metadata is stored - there is a whole section in the article on this talking about how it is stored in Extended Properties, so I'm not sure what is missing.
https://docs.microsoft.com/en-us/sql/relational-databases/security/sql-data-discovery-and-classificatio