[2019-11-13 08:48] tussosedan commented on #3327
@zhensun-sql that's good to know, and worth documenting! Also, the points I raised in my first comment in this thread still stand.

[2019-11-13 09:57] BIGabor commented on #3327
And it was different for tussosedan after altering to secondary DAG.

Agree, but step 4 is confusing, as quote from step 3: "At this point, the distributed availability group is not available.", so you can query only AGs belonging to DAG. That's why I posted my query with "DAG's child AGs".

Ok, that means, it is possible, that they are not in sync, and after failover they will do the sync. Which

[2019-11-13 11:11] ruibca commented on #3431
Arrogance doesn't help. Conventions do. At least in a page that's meant to be practical, not the result of a moment of inspiration of a genius. If it looks like a duck, swims like a duck... It doesn't matter how big or what colour it is: https://www.youtube.com/watch?v=vJG698U2Mvo. Basically it is not obvious at all where the download link is and it should be (main purpose of the page?).  It looks

[2019-11-13 11:41] iuriivaschuk opened #3573 "Not array"
azdata bdc config replace -c custom-prod-kubeadm/control.json -j "$.security.clusterUsers=[\"bdcusers1\,bdcusers2\"]"
may be
azdata bdc config replace -c custom/control.json -j "$.security.clusterUsers=[\"bdcusers1\",\"bdcusers2\"]"
?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6733c468-62a5-41d9-2c5a-5ca57ee5fdf3
*

[2019-11-13 12:15] VanMSFT commented on #3107
Thanks @mottykohn and @branko-d! Since this has been solved, we'll go ahead and close this issue. If there are any concerns, please let us know.

[2019-11-13 12:15] #3107 closed

[2019-11-13 15:39] dishmaev opened #3574 "query window not update content when i click from one to other"
SQL Server Management Studio						15.0.18206.0
Microsoft Analysis Services Client Tools						15.0.1567.0
Microsoft Data Access Components (MDAC)						10.0.18362.1
Microsoft MSXML						3.0 6.0
Microsoft Internet Explorer						9.11.18362.0
Microsoft .NET Framework						4.0.30319.42000
Operating System						10.0.18362

[2019-11-13 15:52] MikeRayMSFT commented on #2753
@DavidTrigano

[2019-11-13 15:56] DavidTrigano commented on #2753
Hi @srutzky

You're right, we disabled Feature Restriction when we released SQL Server 2019. You can still view the sql_feature_restrictions view, but it will always be empty.

[2019-11-13 15:58] bertrand24 opened #3575 "Note"
in the Note, after the uninstallation of SSMS
you mean : reboot is required

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b419de6-b39e-a68f-7c68-d996e77e72ab
* Version Independent ID: 5304fec4-1727-47d2-73c5-152ca67c50d5
* Content: [SQL Server 2019 Release Notes - SQL Server](https://docs.microsoft.com/en-us/sql/sql-

[2019-11-13 16:39] nsiicm0 opened #3576 "Examples are misleading"
The example B on the reported page (https://docs.microsoft.com/en-us/sql/t-sql/language-elements/while-transact-sql?view=sql-server-2016#b-using-while-in-a-cursor) is misleading.

Issues:
1. There are two consecutive FETCH NEXT statements which actually skips the first record inside the loop, while directing the first record to the client directly.

[code]

2. Inside the loop the next fetch does n

[2019-11-13 16:55] NelGson commented on #3573
Hi, not sure what your question is. It all depends on what you called your custom profile. The command in the Doc assumes you did this:
azdata bdc config init --source kubeadm-prod  --target **custom-prod-kubeadm**

If you named your profile "custom", then you can use that name.

[2019-11-13 17:10] WilliamAntonRohm commented on #3547
@q409640976 -- thank you for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around the general task.

[2019-11-13 17:12] iuriivaschuk commented on #3573
string, one user with name bdcusers1,bdcusers2
"$.security.clusterUsers=["bdcusers1,bdcusers2"]"
array of strings, two users with names bdcusers1 and bdcusers2
"$.security.clusterUsers=["bdcusers1","bdcusers2"]"

[2019-11-13 17:49] NelGson commented on #3573
Oh ok. Yes you are corrrect. It should be ["bdcusers1","bdcusers2"]". We will update the Doc

[2019-11-13 17:49] #3469 closed

[2019-11-13 17:51] MashaMSFT commented on #3543
Hi @aligtrrz, thanks for contacting Microsoft! Would you mind providing details about the issue you're seeing? What do you mean "the agent does not allow it"?  What error message are you seeing?

Thanks!
Masha from the SQL Docs team

[2019-11-13 17:56] NelGson commented on #3573
However, at this point, we recommend only having one group.

[2019-11-13 18:00] NelGson commented on #3573
So please use only one group like this:
azdata bdc config replace -c custom-prod-kubeadm/control.json -j "$.security.clusterUsers=[\"bdcusersgroup\"]"

Doc will be updated to reflect this. You can add other groups as members of a group

[2019-11-13 20:27] msebolt commented on #3561
@SDP190  Thank you for the feedback and insight.

The documentation has been reworded and is pending review.

[2019-11-13 20:35] msebolt commented on #3562
@SDP190 Thank you again for the feedback.

The documentation has been updated and is pending review.

[2019-11-13 20:36] msebolt commented on #3570
@baizini Thank you for the feedback, assigning this to the author for review.

[2019-11-13 20:43] msebolt commented on #3574
@dishmaev Thank you for the feedback.

Unfortunately we can only address documentation issues in this forum.

Please move this issue to the [SQL Server feedback](https://feedback.azure.com/forums/908035-sql-server) and the product team can respond.

[2019-11-13 20:51] msebolt commented on #3575
@bertrand24  Thank you for the feedback.

Since this could also mean that uninstall is an overall requirement to process, I'll just remove the note altogether.

Any reboots will be implied by following direction from the installer.

[2019-11-13 21:45] Truckerek opened #3581 "Invalid download link"
Download link on the page is incorrect. The correct download link is https://aka.ms/ssmsfullsetup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Management Studio (SSMS) - SQL Server](http

[2019-11-13 21:56] davervw commented on #3581
Agreed, invalid download link.  Typo -- extra "s".  It's not sssms, but ssms....

[2019-11-13 22:22] nkarthik123 commented on #3581
Thank You :)

[2019-11-13 22:35] SDP190 commented on #3562
Where was the change committed? can I find it on github?

[2019-11-13 22:47] msebolt commented on #3562
@SDP190 Sorry for the missing details, the link to the PR listed above is a private repo.

You'll need to wait until the changes are published to review, unless you want to submit the PR ahead of time through the public repo and it can be merged directly.

[2019-11-13 22:52] MikeRayMSFT commented on #3511
Created DevOps (1646374) item to track. Closing this issue.

[2019-11-13 22:56] SDP190 commented on #3562
Can you please guide me on how to (quote): _"submit the PR ahead of time through the public repo and it can be merged directly"_

[2019-11-13 22:56] #3511 closed

[2019-11-13 23:00] msebolt commented on #3562
@SDP190 You're welcome.

Sure, please refer to the [Contributor's guide](https://docs.microsoft.com/contribute/) for guidance.

[2019-11-13 23:03] MikeRayMSFT commented on #3510
Opening pull request to resolve.

[2019-11-13 23:03] #3510 closed

[2019-11-13 23:44] dimmthewitted opened #3583 "How to fix SSMS 18"
Are you seeing The query has been canceled because the estimated cost of this query?

Go into Tools &gt; Options&gt; Query Execution &gt; SQL Server &gt; Advanced
Change set query governor cost limit to 0 (unlimited)

MS in their infinite wisdom decided we need local SSMS governors so tight it kills 2 second queries.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-11-13 23:45] dimmthewitted commented on #3583
Note you will need to close and re-open SSMS.

That'll teach you to update a Microsoft product.

[2019-11-13 23:49] MikeRayMSFT commented on #3471
@baizini - thank you for the submission. Reviewing with engineering.

[2019-11-13 23:56] MikeRayMSFT commented on #2757
@SQLKiwi - I'm making one more deep dive to get an answer to this very good question. Thank you.

[2019-11-14 00:06] jeffussing commented on #3581
I had the same problem, but I think it's fixed now.

[2019-11-14 04:33] msebolt commented on #3576
@nsiicm0 Thank you for the feedback and assessment.

The documentation has been updated and should now function as intended.

[2019-11-14 04:38] msebolt commented on #3581
@Truckerek Thank you for the feedback, this was fixed per latest commit https://github.com/MicrosoftDocs/sql-docs/commit/8f51a4dc00998d853381ce0dffa39b61e855f00e#diff-c05e370262563982dae2899f4fc40f3e.

Please comment below if there are any further issues.

[2019-11-14 04:38] #3581 closed

[2019-11-14 04:48] msebolt commented on #3583
@dimmthewitted Thank you for the feedback.

The latest version of SSMS has the default setting set to `0`:

![Capture](https://user-images.githubusercontent.com/6675884/68827374-94b40000-0656-11ea-9947-d815a3df1dc3.PNG)

Could this setting have been set to `2` by another process?

[2019-11-14 07:06] msebolt commented on #3385
Closing the issue, please comment below if there are any issues.

[2019-11-14 07:06] #3385 closed

[2019-11-14 07:09] msebolt commented on #3526
Closing the issue now, please comment below if there are any issues.

[2019-11-14 07:09] #3526 closed

[2019-11-14 07:10] msebolt commented on #3529
Closing the issue now, please comment below if there are any issues.

[2019-11-14 07:10] #3529 closed

[2019-11-14 07:10] msebolt commented on #3531
Closing the issue now, please comment below if there are any issues.

[2019-11-14 07:10] #3531 closed

[2019-11-14 07:10] msebolt commented on #3533
Closing the issue now, please comment below if there are any issues.

[2019-11-14 07:11] msebolt commented on #3537
Closing the issue now, please comment below if there are any issues.

[2019-11-14 07:11] #3537 closed

[2019-11-14 07:12] iuriivaschuk commented on #3573
So, do not use multiple values for ALL security settings?
I have couple DNS & AD Servers

[2019-11-14 07:13] msebolt commented on #3538
Closing the issue now, please add any concerns below.

[2019-11-14 07:13] #3538 closed

[2019-11-14 07:14] iuriivaschuk opened #3587 "Ctrl-C / Ctrl-V"
Change from
Create User objects
Create User objects
To
Create User objects
Delete User objects

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6733c468-62a5-41d9-2c5a-5ca57ee5fdf3
* Version Independent ID: dd529f6a-f02d-0dc4-dd4f-52321e90bed0
* Content: [Deploy SQL Server Big Data Cluster in Active Directory mode - Depl

[2019-11-14 07:16] #3575 closed

[2019-11-14 07:17] #3576 closed

[2019-11-14 07:18] #3533 closed

[2019-11-14 07:28] NelGson commented on #3573
No, just one group in ClusterAdmins and ClusterUsers for now. You can have multiple AD/DNS servers.

[2019-11-14 07:28] #3574 closed

[2019-11-14 08:27] a302253 opened #3589 "CREATE EXTERNAL TABLE does not support PARTITIONS"
I need to create external table at Azure Synapse using ORC data from ADLS Gen1. But I have a problem creating external tables with subfolders as partitions.
E.g., location = /currency_conversion/
CREATE EXTERNAL TABLE (column1 VARCHAR(50), column2 VARCHAR(50))
WITH
(
    LOCATION = '/currency_conversion/' ,
    DATA_SOURCE = AzureDataLakeStore ,
    FILE_FORMAT = orcfile1 ,
    REJECT_TYPE = VALUE

[2019-11-14 08:49] JonathanH89 commented on #3549
The problem is when we're trying to edit a sql agent job step. When we either double-click on the step or chose Edit SSMS just freeze for a solid 5 minutes before opening the edit window. We've tried this with both SSMS 18.4 and 18.2 and experienced the same issue. We have tried connecting with 18.4 & 18.2 on SQL Server 2008-2019 and the same problem exist every time. We have tried using SSMS 17.5

[2019-11-14 10:47] maxborisov1983 opened #3593 "No link"
В русской версии страницы нет ссылки на скачивание.
RU-localized page doesnt contain download link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Management Studio (SSMS) - SQL Server](ht

[2019-11-14 11:01] jamesattard opened #3594 "Azure: STONITH configuration guide missing for SQL Server 2017 on Ubuntu"
Hello guys,

I just noticed that in the [documentation ](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-availability-group-cluster-ubuntu?view=sql-server-ver15), the section describing STONITH configuration is missing for Ubuntu.

This is not the case for Red Hat where it is fully documented.

[2019-11-14 12:58] BjornSigurd opened #3595 "Download link"
Please make the download links stand out much clearer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Management Studio (SSMS) - SQL Server](https://docs.microsoft.com/en-us/sql/ssms/downl

[2019-11-14 15:46] maciejpiwowarczyk opened #3596 "Temp table vs mem opt table - performance"
I tried to benchmark temporary table with mem opt table - in my case temp table was much faster. https://stackoverflow.com/questions/58858515/sql-server-memory-optimized-table-poor-performance-compared-to-temporary-table/58859928

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18fbf809-639b-6188-c54f-3cb0a009addf
* Vers

[2019-11-14 17:00] CarlRabeler commented on #3589
@a302253 Please ask this question on StackOverflow or open a support case. I cannot help you here with this question

[2019-11-14 17:15] rothja commented on #3558
@WilliamAntonRohm Thanks, Steve is OOF for the month. @CarlRabeler could you please take a look? #assign:CarlRabeler #unassign:stevestein

[2019-11-14 17:17] rothja commented on #3541
@BeginTry Thanks for the feedback. @stevestein is out of the office, so I'd like to ask @VanMSFT to take a look this week. We might pull other people in as needed as well. Thank you for your patience!

[2019-11-14 17:17] rothja commented on #3541
#reassign:vanmsft

[2019-11-14 17:19] rothja commented on #3512
@parlevjo2 Thanks for the question, and I apologize for the delay. @stevestein is out of the office this month. @CarlRabeler could you please take a look at this and see if we need to add these properties to the docs? Thank you! #reassign:CarlRabeler

[2019-11-14 17:20] CarlRabeler commented on #3507
agreed - PR pending now

[2019-11-14 17:23] rothja commented on #2846
@mdell-seradex Thanks for bringing this to our attention and to @srutzky for the input/conversation. @stevestein is out of the office for several weeks, so I'm going to ask @CarlRabeler if he can take a look at this and see what doc changes might be necessary. I apologize for the delay. Thank you! #reassign:CarlRabeler

[2019-11-14 17:29] rothja commented on #2830
@EamonNerbonne Thank you for this feedback, and my apologies that it has taken so long to respond. @stevestein is out of the office for an extended period. I can see how that is confusing, and I too am not sure if this is a bug or just not explained well in the docs. I will try to run some tests soon to see if I can repo so I know how to change this in the docs. #reassign:rothja

[2019-11-14 17:36] #3559 closed

[2019-11-14 17:37] #3558 closed

[2019-11-14 17:37] CarlRabeler commented on #3558
addressed in this PR: https://github.com/MicrosoftDocs/sql-docs-pr/pull/12880

[2019-11-14 17:54] CarlRabeler commented on #3512
see https://github.com/MicrosoftDocs/sql-docs-pr/pull/12910

[2019-11-14 18:15] CarlRabeler commented on #2846
@mdell-seradex @srutzky So, you are basically saying this, correct?

Running this DMV outside of SQL Server Management Studio against SQL Server without VIEW SERVER STATE permissions (such as in a trigger, stored procedure, or function) throws a permission error on the master database.

[2019-11-14 18:47] MikeRayMSFT commented on #2793
I have an open PR (12907) to resolve. Waiting for PM review.

[2019-11-14 18:47] #2793 closed

[2019-11-14 19:58] WilliamAntonRohm commented on #3587
@iuriivaschuk -- thank you for your feedback.  I am looking into the documentation.

[2019-11-14 19:59] WilliamAntonRohm commented on #3589
@a302253 -- please try these sites:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-11-14 19:59] #3589 closed

[2019-11-14 21:07] parlevjo2 commented on #3512
@CarlRabeler That link does not work. Gives 404 error

[2019-11-14 22:01] mdell-seradex commented on #2846
Technically speaking I think it throws a warning, but every data access technique I have used still treats it as an error, and it can happen on any database.
From what I recall, the message that you get within SQL Server Management Studio when run without VIEW SERVER STATE permissions is what is treated as an error by all data access technologies I have used.  e.g. ADODB, ADO.NET

[2019-11-14 22:06] WilliamAntonRohm commented on #3593
@maxborisov1983 -- please see a few paragraphs down the page for a [download link in Russian](https://docs.microsoft.com/ru-ru/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver15#available-languages).

[2019-11-14 22:06] #3593 closed

[2019-11-14 22:08] mdell-seradex commented on #2846
Note that I personally feel that this is a bug in SQL Server, but until it is addressed, if it ever is, then this behaviour should be documented.

[2019-11-14 22:42] FzzyBnny opened #3598 "The counter "Extension page evictions/sec" does not appear to be correct"
At least in 2017 Standard Edition, the description of this event and the cntr_value returned for it do not appear to match. The description is that of a calculated rate of change per second. The value returned appears to be an ever increasing counter, presumably the number of pages evicted from the Buffer Pool Extension file since the instance last started.

Assuming that my observation is correct

[2019-11-14 22:49] CarlRabeler commented on #3512
sorry - internal link - updated doc should be live in a few hours

[2019-11-14 23:20] FzzyBnny commented on #3598
The above behavior appears to also apply to two other BPE related counters, "Extension page reads/sec" and "Extension page writes/sec"

[2019-11-14 23:41] DiegoBoy-MSFT opened #3599 "All azdata reference articles say they're for "sql" commands"
Due to copy&paste, all reference articles for azdata, just below the "this topic applies to" section, state the article is for azdata's sql commands. Some examples:

https://docs.microsoft.com/en-us/sql/big-data-cluster/reference-azdata?view=sql-server-ver15
https://docs.microsoft.com/en-us/sql/big-data-cluster/reference-azdata-notebook?view=sql-server-ver15
https://docs.microsoft.com/en-us/sql/bi

[2019-11-15 00:11] MikeRayMSFT commented on #2799
Resolving in pull request

[2019-11-15 00:11] #2799 closed

[2019-11-15 00:18] MikeRayMSFT commented on #3468
@uc-msft

[2019-11-15 00:40] WilliamAntonRohm commented on #3595
@BjornSigurd -- thank you for your feedback.  We will look into this in the documentation.  You can submit issues related to your overall site experience, or suggestions for improved site functionality or design, at [https://aka.ms/sitefeedback/](https://aka.ms/sitefeedback).

[2019-11-15 00:40] #3595 closed

[2019-11-15 00:42] WilliamAntonRohm commented on #3594
@jamesattard -- James, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue 3594.  The article in question is:  https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-availability-group-cluster-ubuntu?view=sql-server-ver15

[2019-11-15 00:47] WilliamAntonRohm commented on #3596
@maciejpiwowarczyk -- thank you for your research and feedback.

@jodebrui -- please look into updating the article as needed.

fyi @MightyPen

[2019-11-15 00:49] WilliamAntonRohm commented on #3598
@FzzyBnny -- thank you for your feedback.

@julieMSFT -- please look into this issue 3598.

[2019-11-15 00:57] WilliamAntonRohm commented on #3599
@DiegoBoy-MSFT -- thank you for noticing this and letting us know.

@MikeRayMSFT -- here is the existing sentence.  Please reword it as needed and I will update the articles.

[2019-11-15 02:27] danvalero commented on #3390
It works when I sue the 2017 image, but it does not work with 2019 image

[2019-11-15 06:09] dcbrown16 opened #3601 "Changing to read-only"
The section below is confusing a customer working with Azure SQL DB. In our understanding, SIZE_BASED_CLEANUP_MODE is set to AUTO by default and usually prevents this from happening. Is it common for the Query Store to hit max size while SIZE_BASED_CLEANUP_MODE is in effect? If that did happen, would it switch back to read-write after cleanup?
If this is just talking about a scenario where you are

[2019-11-15 08:06] yang-jiayi commented on #3468
@MikeRayMSFT @msebolt @uc-msft

I am waiting for an answer.

[MSDN forums URL Syntax error of "CONNECTION_OPTIONS" in "CREATE EXTERNAL DATA SOURCE"](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/a9c92c94-c65d-449b-a8a9-7ab3e11e696c/syntax-error-of-quotconnectionoptionsquot-in-quotcreate-external-data-sourcequot?forum=transactsql#a9c92c94-c65d-449b-a8a9-7ab3e11e696c
)

Thanks for help.

[2019-11-15 15:38] MikeRayMSFT commented on #3468
@yang-jiayi

Unfortunately we haven't been able to reproduce the problem. You can [request support](https://docs.microsoft.com/sql/sql-server/sql-server-get-help?view=sql-server-ver15#contact-microsoft-support) through the links on this page.

[2019-11-15 15:38] #3468 closed

[2019-11-15 15:49] MikeRayMSFT commented on #3403
I'm submitting the fix. Thank you for raising this issue.

[2019-11-15 15:49] #3403 closed

[2019-11-15 15:52] MikeRayMSFT commented on #3428
Thanks for the comment, @Jagoop - TDE is available in SQL Server 2019 Standard Edition.

In addition to the updates in the docs, we announced it in a [blog post](https://techcommunity.microsoft.com/t5/SQL-Server/SQL-Server-2019-Standard-Edition/ba-p/986121)

[2019-11-15 15:52] #3428 closed

[2019-11-15 16:11] Gagan059 opened #3602 "Examples missing!"
Please specify TSQL examples for adding FK with NOT FOR REPLICATION option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1440b021-9ccb-3146-921e-a294fd7ee29e
* Version Independent ID: e93f583e-fea7-4c3d-5669-b8a3654349dd
* Content: [Disable Foreign Key Constraints for Replication - SQL Server](https://docs.microsoft.

[2019-11-15 16:31] dgshaver opened #3603 "processAllAvailable() is only meant for testing according to spark docs"
Looks like we shouldn't include processAllAvailable() in this sample as it's only intended for testing?
https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.streaming.StreamingQuery
abstract def
processAllAvailable(): Unit
Permalink
Blocks until all available data in the source has been processed and committed to the sink. This method is intended for testing. Note that in

[2019-11-15 17:54] WilliamAntonRohm commented on #3549
@JonathanH89 -- thank you for clarifying.

@markingmyname -- please look into this issue 3549.

[2019-11-15 18:03] dgshaver opened #3604 "azdata bdc spark batch create command example is incorrect"
This example command is incorrect:
azdata spark batch create --code "2+2"

Two problems with this example:
1. The bdc subcommand is missing:
azdata bdc spark batch create --code 2+2
2. The --code parameter isn't valid for batches:
C:\Users\sql2019css&gt;azdata bdc spark batch create --code "2+2"
usage: azdata bdc spark batch create [-h] [--verbose] [--debug]
                                     [-

[2019-11-15 18:33] msebolt commented on #3601
@dcbrown16 Thank you for the feedback, assigning this to the author for review.

For specific questions about how to use SQL Server, please refer to [SQL Server help and feedback](https://docs.microsoft.com/sql/sql-server/sql-server-get-help).

[2019-11-15 18:37] msebolt commented on #3602
@Gagan059 Thank you for the feedback, assigning this to the author for review.

[2019-11-15 18:38] msebolt commented on #3602
Including @CarlRabeler

[2019-11-15 18:53] msebolt commented on #3603
@dgshaver  Thank you for the feedback, assigning this to the author for review.

[2019-11-15 18:56] msebolt commented on #3604
@dgshaver Thank you for the feedback, assigning this to the author for review.

[2019-11-15 19:39] dgshaver opened #3606 "File referenced by --file needs to reside in HDFS"
Hi, the documentation for the --file argument for **azdata bdc spark batch create** needs to be updated to reflect the requirement the file reside in HDFS.  If one references a file from the local drive of the workstation where the command is executed, the command fails with a 400, Bad Request.
This command works:
C:\Users\sql2019css&gt;azdata bdc spark batch create -f hdfs://nmnode-0/scripts/pi.p

[2019-11-15 20:00] dgshaver opened #3607 "Documentation for --jar-files argument is incorrect"
If I correctly understand the documentation for the --jar-files argument, it doesn't seem to be correct.  The documentation states the format of --jar-files is:
List of jar file paths. To pass in a list JSON encode the values. Example: '["entry1", "entry2"]'.

If I submit the following command, it fails with a 400:
C:\Users\sql2019css&gt;azdata bdc spark batch create --file hdfs://nmnode-0/scripts

[2019-11-15 20:14] CarlRabeler commented on #3523
updated topic today - the temporal table syntax options and the <table_options> settings should not have appeared in the syntax block for the ALTER TABLE section for in-memory and have been removed. This said, we are reviewing this topic for additional clarity. We apologize for the confusion.

https://github.com/MicrosoftDocs/sql-docs-pr/pull/12933

#please-close

[2019-11-15 20:14] #3523 closed

[2019-11-15 20:15] CarlRabeler commented on #3512
#please-close

[2019-11-15 20:15] #3512 closed

[2019-11-15 20:16] CarlRabeler commented on #3507
https://github.com/MicrosoftDocs/sql-docs-pr/pull/12909

#please-close

[2019-11-15 20:16] #3507 closed

[2019-11-15 20:17] CarlRabeler commented on #2846
updated docs

#please-close

[2019-11-15 20:17] #2846 closed

[2019-11-15 20:20] mdell-seradex commented on #2846
I am unsu

[2019-11-15 20:21] mdell-seradex commented on #2846
Thank you for the documentation update.I am not sure if you meant to include the warning twice.

[2019-11-15 20:26] mdell-seradex commented on #2846
Thank you for the documentation update.
I am not sure if you meant to include the warning twice.
Also, regarding the wording, I wonder if some readers would mistake this as an issue that only occurs when retrieving a SQL statement that was executed against the master database, and would think that it does not occur in other databases.

Thank you again.

[2019-11-15 20:38] CarlRabeler commented on #2846
Any suggestions for improving this warning would be appreciated. Please feel free to click Edit in the upper right hand corner and submit your edit suggestions. Thanks.

[2019-11-15 20:46] VanMSFT commented on #3541
Hi @AndreasWolter - Can you please help answer this question? Thanks!

[2019-11-15 21:42] VanMSFT commented on #3390
Following up with @vin-yu

[2019-11-15 22:23] MikeRayMSFT commented on #3594
@vin-yu - can you please look at this?

[2019-11-15 22:31] MikeRayMSFT commented on #3604
Checking with engineering.

[2019-11-15 22:37] MikeRayMSFT commented on #3603
Reviewing with engineering

[2019-11-15 22:41] MikeRayMSFT commented on #3454
@Jehoel
Thanks for the feedback.

I'll make sure our team evaluates how to incorporate ISO documentation in our T-SQL reference docs.

WRT features for SQL Server, please submit those via [feedback](https://aka.ms/sqlfeedback).

[2019-11-15 22:41] #3454 closed

[2019-11-15 23:26] MikeRayMSFT commented on #3411
@HeinziAT - thank you for the feedback.

The information about date is included as an example in [CAST and CONVERT (Transact-SQL)](https://docs.microsoft.com/sql/t-sql/functions/cast-and-convert-transact-sql?view=sql-server-ver15#date-and-time-styles).

I'm reviewing your request to add an explanation of the implicit conversion of empty string (' ') to int return 0.

[2019-11-15 23:26] #3587 closed

[2019-11-15 23:34] MikeRayMSFT commented on #3398
The latest recommendation is to install `azdata` with a package manager:

- [Windows installer](https://docs.microsoft.com/sql/big-data-cluster/deploy-install-azdata-installer?view=sql-server-ver15)
- [Ubuntu](https://docs.microsoft.com/en-us/sql/big-data-cluster/deploy-install-azdata-linux-package?view=sql-server-ver15)

[2019-11-15 23:34] #3398 closed

[2019-11-15 23:36] MikeRayMSFT commented on #3349
The latest recommendation is to install `azdata` with a package manager:

- [Windows installer](https://docs.microsoft.com/sql/big-data-cluster/deploy-install-azdata-installer?view=sql-server-ver15)
- [Ubuntu](https://docs.microsoft.com/en-us/sql/big-data-cluster/deploy-install-azdata-linux-package?view=sql-server-ver15)

[2019-11-15 23:36] #3349 closed

[2019-11-15 23:37] MikeRayMSFT commented on #3347
The latest recommendation is to install `azdata` with a package manager:

- [Windows installer](https://docs.microsoft.com/sql/big-data-cluster/deploy-install-azdata-installer?view=sql-server-ver15)
- [Ubuntu](https://docs.microsoft.com/en-us/sql/big-data-cluster/deploy-install-azdata-linux-package?view=sql-server-ver15)

[2019-11-15 23:37] #3347 closed

[2019-11-15 23:49] MikeRayMSFT commented on #3356
@chojrak11
- Thanks for the thorough review.
- I'm updating the version information and adding a link to the correct features and editions content.
- I'll follow up with my engineering counterparts about more content for this article.

[2019-11-15 23:54] MikeRayMSFT commented on #3356
Added a link to [Resumable index considerations](https://docs.microsoft.com/en-us/sql/relational-databases/indexes/guidelines-for-online-index-operations?view=sql-server-ver15#resumable-index-considerations).

[2019-11-15 23:54] #3356 closed

[2019-11-16 00:05] MikeRayMSFT commented on #3259
Thanks for the submission, @chanmmn

I'm verifying a few things.

[2019-11-16 00:06] rovermx opened #3608 "Step 2 for Install sqlmlutils online is incomplete"
Step 2 needs to specify that command prompt must be opened as Administrator, otherwise operation halts because of permissions lacking

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce36aa85-fd24-74a6-1e01-20c892f92a9f
* Version Independent ID: 08b9fb79-7117-98fc-5d2c-7a42a6c49a04
* Content: [Install new R packages - SQ

[2019-11-16 00:33] MikeRayMSFT commented on #3115
@jbolduc81 - thanks for this submission. I'm working with my engineering team to bring the right answer to you.

[2019-11-16 01:34] ajs5710 opened #3609 "bash -e causes unattended install failure on slow start"
This section of the script appears to be polling the freshly started sql server instance to see if it is up and appears to expect a non-zero exit status if the sql server instance is not yet started at the time of polling.

[code]

Meanwhile in the shebang `#!/bin/bash -e` the -e seems to cause the script to exit if any command (including the polling attempts) returns a non-zero exit status?
I was

[2019-11-16 14:01] blanchardc commented on #2156
Thanks @oppositive!

[2019-11-16 15:12] parlevjo2 commented on #3512
Thanks for the update. But now 3 properties have exact the same text: "By default, restored or attached databases have the broker disabled. The exception to this is database mirroring where the broker is enabled after failover."
That is not right.

For those 2 properties the text should be something like this:
"is_trustworthy_on": By default, restored or attached databases have Trustworthy not ena

[2019-11-16 16:40] yang-jiayi commented on #3468
@MikeRayMSFT
Thank you..

When I uninstall the Japanese version of SSMS18.4 and install the English version of SSMS18.4, the English version of SSMS18.4 works fine.
In the Japanese version, a CONNECTION_OPTIONS syntax error occurs.

[2019-11-16 17:23] yang-jiayi commented on #3468
@MikeRayMSFT

Thank you!
I tried a lot in the last two days.
SSMS18.4 was initialized and uninstalled once.
After that, I restarted the PC and put SSMS18.4 back on.
So it works well.

[2019-11-17 03:32] AlirezaHaghshenas opened #3613 "Very unclear network settings documentation"
Is TCP/IP enabled or disabled by default after installation?
How to listen on multiple/all ip addresses?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c0b1027-3982-e114-0230-c6bd9bd81346
* Version Independent ID: 244740de-8817-1671-387d-970f8ee8dfcb
* Content: [Configure SQL Server settings on Linux - SQL Server](htt

[2019-11-17 15:02] OneConsutlantsDemo opened #3615 "Polybase : Azure SQL DB"
Do we have a road map for enabling Polybase in Azure SQL DB ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 066808bd-cf93-7fa7-d84c-fb2da46558ab
* Version Independent ID: 415a5039-44e1-0654-10e2-ca4916732df3
* Content: [PolyBase features and limitations - SQL Server](https://docs.microsoft.com/en-us/sql/relational-dat

[2019-11-17 16:52] SDP190 commented on #3561
Hi @msebolt, I hope you will see my comment although it was closed.

Firstable thanks for you taking time to work on that issue, I saw the changes you committed [here](https://github.com/MicrosoftDocs/sql-docs/commit/38433551f45bbffd61c5eee20553a819629490bd).
However to my understanding, the first code example may still need some clarification, as shown in the image at the first code segment there

[2019-11-17 19:53] gguille077 commented on #2791
Sorry for the delay in the response, here goes everything you asked for.
. Version of the SQL server 14.0.3223.3.
. The execution plans with and without the TOP clause: [plans.zip](https://github.com/MicrosoftDocs/sql-docs/files/3856018/plans.zip).
. Effectively, with the MAXDOP 1 hint looks like not throwing the error.

[2019-11-17 23:51] brettshearer opened #3616 "Guessing when a feature was implemented"
Hi - this whole new process of having to select a version and guess whether a feature is installed is very time wasting.

IsNumeric IS available in SQL 2014 (at least in SP3-CU4).
However when I try and check when the feature was added by using this page, I get :
The requested page is not available for SQL Server 2014. You have been redirected to the newest product version this page is available f

[2019-11-18 05:29] gani746 opened #3618 "An additional limitation discovered"
One of the limitations for Plan Guide that I observed:
If the the Stored procedure in question has if conditions where we have SQL statements to be executed for the condition that is met as true among the several if conditions in the Stored Procedure, it turned out that attempting to create a plan guide for a stored procedure with sub-queries completes successfully. However, these plans don’t get

[2019-11-18 07:00] kazshi commented on #3401
@stevestein Thanks for your comment.
The fillfactor option is omitted even if we set the fillfactor option (sorry I didn't mention it previously) - I learned it's a bug in SSMS. I tried to do that using Visual Studio and it works as expected.

[2019-11-18 13:47] Aligtrrz commented on #3543
Hi, I already solve the problem, the issue presented was an error to connect two remote servers when I tried to publish a database into a suscriptor sql server because the suscriptor server name was not found, I tried to connect them through "IP number/instance name" but doesn't work. so I created an alias in the sql configuration manager and that way finally works.

[2019-11-18 15:26] CarlRabeler commented on #3512
addressing now - thanks

[2019-11-18 16:20] rothja commented on #3602
@Gagan059 Thank you for the suggestion. I will take a look and see if we can add this. Were you able to figure out how to use this in your scenario? If you have an example to share, I can use that as the basis of an article update. *Or* if you would like to edit the article, you will get credit as a collaborator at the top of the article page. Let me know. Thank you!

[2019-11-18 16:49] af4jm opened #3619 "documentation not consistent with behavior"
After getting the November update, I created a new notebook, connected it to SQL, & added a code block, as per the top of this page... when I clicked Run, I expected it to run the query & show results, as described in this page... instead I got a rotating arrow indicator labelled "PowerShell" in the status bar & nothing in the notebook... after a minute I killed it, opened a new Query, pasted in t

[2019-11-18 17:48] dimmthewitted opened #3620 "We would love the option to disable outlining"
Imagine We have a number parameters at the top that we need to one off comment out, but the collapse is always in the way.

There is not enough space between the code outlining and the text so we are CONSTANTLY accidentally collapsing when trying to click in first line of the query.

I find myself disabling code outlining on EVERY single new query window.

Please make a global disable of Code outl

[2019-11-18 17:53] Gagan059 commented on #3602
Hi Jason,
Thanks for reaching out. Sure, I was able to find it, and I can add it
there. Let me know if there are any rules to follow for it.

Gagan Lamba

On Mon, Nov 18, 2019 at 11:20 AM Jason Roth <notifications@github.com>
wrote:

[2019-11-18 19:57] LindaLF opened #3623 "Does NOT work with Power BI as stated"
This page contains a statement "Other tools or services like SSIS, SSRS, or Power BI will work with graph tables, just the way they work with relational tables.".  I disagree from a Power BI standpoint.
Power BI will NOT import Graph Tables the same as relational tables.  This post [https://www.sqlshack.com/plot-sql-server-2017-graph-database-using-powerbi/] highlights a potential mitigating metho

[2019-11-18 21:25] MashaMSFT commented on #3543
Hi @Aligtrrz , thanks for the follow up and confirming you were able to resolve your issue! I am thrilled to hear it :) I will proceed with closing out this Git Issue, but please feel free to reach out should you need anything further from us.

Thanks and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2019-11-18 21:25] #3543 closed

[2019-11-18 22:30] WilliamAntonRohm commented on #3606
@dgshaver -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue 3606.

[2019-11-18 22:31] WilliamAntonRohm commented on #3607
@dgshaver -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue 3607.

[2019-11-18 22:46] WilliamAntonRohm commented on #3608
@rovermx -- Renaud, thank you for your feedback.

@garyericson -- Gary, please look into this issue 3608.

[2019-11-18 23:09] CarlRabeler commented on #3553
PR pending

[2019-11-18 23:38] dialedin2014 opened #3624 "Clarify impact to TVFs and CTEs"
With the inline TFV example, this article hints Deferred Compilation of Table Variables impacts more than just table variables.  What about CTEs, multi-statement TVFs, and user-defined table types?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6815fe42-952d-35a8-5be1-6f804348ced0
* Version Independent ID: 06ff291c-9c9

[2019-11-18 23:39] WilliamAntonRohm commented on #3609
@ajs5710 -- thank you for your research and feedback.

@VanMSFT -- please look into this issue 3609.

[2019-11-18 23:44] WilliamAntonRohm commented on #3613
@AlirezaHaghshenas -- thank you for your questions.  You may find some answers here:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@VanMSFT -- please look into this issue 3613.

[2019-11-19 00:08] WilliamAntonRohm commented on #3615
@OneConsutlantsDemo -- thank you for your question.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

As well, you are welcome to leave feedback here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2019-11-19 00:08] #3615 closed

[2019-11-19 00:15] WilliamAntonRohm commented on #3616
@brettshearer -- Brett, thank you for your feedback.  You are welcome to file a bug about your documentation experience:  [https://aka.ms/sitefeedback/](https://aka.ms/sitefeedback).

@MikeRayMSFT -- Mike, please look into this issue 3616.

[2019-11-19 00:16] WilliamAntonRohm commented on #3618
@gani746 -- thank you for your detailed feedback.

@julieMSFT -- please look into this issue 3618.

[2019-11-19 00:18] WilliamAntonRohm commented on #3619
@af4jm -- John, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue 3619.

[2019-11-19 00:20] WilliamAntonRohm commented on #3623
@LindaLF -- thank you for your research and feedback.

@shkale-msft -- please look into this issue 3623.

[2019-11-19 00:24] WilliamAntonRohm commented on #3620
@dimmthewitted -- thank you for your feedback; please add it here:

- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-11-19 00:24] #3620 closed

[2019-11-19 00:34] DeanGross opened #3625 "Instructions for role-based security are missing"
Where can we find the instructions about how to implement role-based security for the web portal? they don't seem to exist.

[2019-11-19 06:56] msebolt commented on #3528
@marvinhosea Sorry for the delay on this.

I'm able to install using [these instructions](https://docs.microsoft.com/sql/linux/sql-server-linux-setup-tools#install-tools-on-rhel-7) on RHEL 7.7, so it's likely Fedora specific.

Unfortunately, since we don't support Fedora there's nothing further I can do except recommend you add a requrest for Fedora in the [SQL Server feedback](https://feedback.az

[2019-11-19 06:58] #3562 closed

[2019-11-19 07:01] msebolt commented on #3583
Closing this now, please comment below if there are further issues.

[2019-11-19 07:01] #3583 closed

[2019-11-19 08:18] bgehem opened #3628 "Value returned of Status property"
The "Value returned" column of the Status property says: "... The database can accept connections when the database collation returns a non-null value. ..." This is not true when Status is SUSPECT. I have tested on SQL Server 2017 CU17.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09ca907e-99b6-3663-82bf-abe45f1ae76e

[2019-11-19 09:33] #3561 closed

[2019-11-19 10:35] DeanGross opened #3629 "Download Docs Instructions"
The documenation at https://www.microsoft.com/en-us/download/details.aspx?id=55949 for this web part does not show that SP 2019 is supported. I'm assuming that is just a documentation issue, but it is causing some confusion. Can you please get the docs at the download site updated?

[2019-11-19 11:21] nwkteng opened #3630 "SQL Server 2017 on Windows Server 2019 Datacenter/Standard/Essentials"
This page show SQL Server 2017 & prior but the table for SQL Server and Windows Server 2019 only mentions SQL Server 2019. How about SQL Server 2017 and compatibility with all the different editions of Windows Server 2019. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9b411a1-f282-d77e-a497-83d08a963549
* Ver

[2019-11-19 11:23] mverbaas opened #3631 "Version information is lost"
It used to be more clearer in what version a specified function (or any other object) it was supported. The top of the page would explain for this specific function it is supported since 2017.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f748e679-fde4-3cc7-4200-7b45adb74a21
* Version Independent ID: 6946f36e-4731-1ed

[2019-11-19 11:35] axellentx2 commented on #3631
I agree, it used to be very easy to determine the SQL Server versions that supported a specific T-SQL object/language construct. Now it seems you have to select each version of SQL Server in the top left menu to see if an error pops up to determine that a T-SQL object/language construct has not been documented for a specific version. But then the question is whether that also means that it's not s

[2019-11-19 16:08] tseward opened #3632 "SSRS SharePoint Web Part Documentation Incorrect"
The documentation outlined at https://docs.microsoft.com/en-us/sql/reporting-services/report-server-sharepoint/report-viewer-web-part-sharepoint-site?view=sql-server-ver15 appears to be incorrect.

First, the web part supports SharePoint 2013 and later per https://www.microsoft.com/en-us/download/details.aspx?id=55949 (which also needs to mention SharePoint 2019 and Windows Server 2019). In additi

[2019-11-19 17:06] PrometheusRising1 opened #3633 "Please Update Tools and Link for SQL 2019 RTM"
Hi Guys, looks like the installer is still using CTP 2.3 - at least that's what it says when you get to the UAC prompt asking if you would like to allow this app to make changes to your device.  Would you mind updating for RTM now that 2019 is GA as of Nov 4?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da1f57b-a8fd

[2019-11-19 17:35] rothja commented on #3602
@Gagan059 Thank you for being willing to edit the article. There is an edit button on each article that allows you to make and propose changes:

![image](https://user-images.githubusercontent.com/1580454/69168772-4a52d900-0ac5-11ea-9ac9-209404917f6e.png)

The only suggestion I have would be to place your example in a code block with tick marks like this screenshot:

![image](https://user-images.gi

[2019-11-19 17:50] rothja commented on #3433
@HairyDrumroll Thanks for providing the example, and I see what you mean. Let me look at the best way of adding this limitation. Once I make the change I'll close out this git issue. Thank you!

[2019-11-19 17:50] MashaMSFT commented on #3630
Hi @nwkteng, thank you for contacting Microsoft! Please use the [version filter](https://docs.microsoft.com/en-us/sql/sql-server/sql-docs-navigation-guide?view=sql-server-ver15#version-filter) to choose SQL Server 2017 to display information about SQL Server 2017.

![image](https://user-images.githubusercontent.com/32783170/69171836-8b40f280-0ab1-11ea-837e-a2633aa9386e.png)

However, you're right

[2019-11-19 17:50] #3630 closed

[2019-11-19 17:57] rothja commented on #3371
@JonnyWaffles Thanks for sending this over. I'm fixing the sample today to show the `&lt;` and `&gt;` correctly in the sample in place of the greater and less than signs.

[2019-11-19 18:07] njtpremier opened #3634 "Associating a File Extension is case-sensitive"
The extension value when associating a file extension to a code editor, appears to be case-sensitive. If I have a file extension entered of "PRC", SSMS doesn't match this extension with "prc". However, the issue herein is that the SSMS doesn't allow both upper and lower to be entered in the options.

Using SQL Server Management Studio 14.0.17289.0 on Windows 10 Enterprise

---
#### Document Detail

[2019-11-19 18:36] matt-k11 opened #3635 "Windows 10 ODBC Data Sources"
Microsoft OLE DB Driver for SQL Server (MSOLEDBSQL) does not show up as a driver when creating Data Sources in the Windows 10 ODBC Data Sources app.  The Native Client does show up as a valid driver.  Additionally, the ODBC SQL Driver 17 is prone to 17832 connection errors when setting up an ODBC data source.  The Native Client does not generate the 17832 errors as often.  Please continue to provi

[2019-11-19 19:07] #3371 closed

[2019-11-19 19:08] rothja commented on #3371
@JonnyWaffles Hi, in addition to the problem you noticed, I saw that the table above was not correctly displaying the escaped symbols. I fixed that too. Thank you for making the docs better!!

[2019-11-19 19:14] msebolt commented on #3625
@DeanGross Thank you for the feedback.

Are you referring to RBAC security in particular?

Please see the [RBAC overview](https://docs.microsoft.com/azure/role-based-access-control/overview) and/or [Database engine permissions](https://docs.microsoft.com/sql/relational-databases/security/authentication-access/getting-started-with-database-engine-permissions) adding any details you think would be h

[2019-11-19 19:16] rothja commented on #3307
@MightyPen Sorry for the long delay. I've seen customers bring up keyword questions in the past too, but I think this is a confusing area. I believe that CAST is not a keyword in transact-SQL the way that other keywords on the list are. See this example:
![image](https://user-images.githubusercontent.com/1580454/69178169-0ec10a80-0ad7-11ea-8e30-3f9b7e4485f5.png)

You can make CAST the name of the

[2019-11-19 19:16] #3307 closed

[2019-11-19 19:17] MikeRayMSFT commented on #3346
Thanks @marcoandre1 - Investigating.

[2019-11-19 19:20] rothja commented on #3112
@briancarrig Thanks for the detailed explanations. Did you get a chance to update the explanation in the article? Thanks!

@karldodd Thank you for your questions. I believe that Brian has answered them and he either has (or plans to) update the content to clarify. We appreciate you asking so we can make the docs better. I am going to close now, but please feel free to respond on this thread with a

[2019-11-19 19:20] #3112 closed

[2019-11-19 19:32] rafiksamman1982 opened #3636 "The name Single User Mode is misleading, you should call it single user connection mode."
The name Single User Mode is misleading, you should call it single user connection mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b67ab534-229d-f12a-6216-9550d790ea42
* Version Independent ID: 529e1ec2-00c5-9c13-1a75-dfc183765aff
* Content: [Set a Database to Single-user Mode - SQL Server](https://docs.microsoft.

[2019-11-19 19:42] msebolt commented on #3628
@bgehem Thank you for the feedback.

Please note your cited reference describes the `ONLINE` status only.

However though, it's also noted under section [syntax](https://docs.microsoft.com/en-us/sql/t-sql/functions/databasepropertyex-transact-sql?view=sql-server-2017#syntax), as:

[code]

Please confirm that:
- you're making a direct call to `DATABASEPROPERTYEX`, not metadata
- the call is returni

[2019-11-19 19:55] msebolt commented on #3631
@mverbaas Thank you for the feedback.

Please refer to active issue https://github.com/MicrosoftDocs/sql-docs/issues/3616.

[2019-11-19 19:57] msebolt commented on #3633
@PrometheusRising1 Thank you for the feedback, assigning this to the author for review.

[2019-11-19 20:49] garyericson commented on #3608
@rovermx - Which Step 2 are you referring to?

[2019-11-19 20:49] TeamSwarm opened #3638 "Offline Installation Instructions is Unclear or Incomplete"
Over the past four days, I've tried to install additional packages to the R Server, with no avail.

Our team has tried to install from a folder where copies of packages were located, attempting to use the CMD function, and installing through R itself.

Help would be appreciated.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-11-19 20:58] samrueby opened #3639 "Reword "The base tables referenced in the view at the time the table is created.""
I think the wording of the bulletpoint "The base tables referenced in the view at the time the table is created." is confusing. In fact, I'm having trouble understanding what it intends to say.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a452207-5ac2-1a41-c5b1-3baf085a79b4
* Version Independent ID: a590e66c-ed9f-4d

[2019-11-19 21:09] samrueby opened #3640 "Description of IsPrecise is confusing."
"IsPrecise property of the COLUMNPROPERTY function. COLUMNPROPERTY returns 1 if TRUE, 0 if FALSE, and NULL for input that is not valid. This means the column is not deterministic or not precise."

This is confusing. If IsDeterministic is available, why wouldn't you use that to determine if it is deterministic? This description of IsPrecise doesn't explain how it's different than IsDeterministic.

[2019-11-19 21:39] msebolt commented on #3632
@tseward  Thank you for the feedback, assigning this to the author for review.

[2019-11-19 22:30] msebolt commented on #3636
@rafiksamman1982 Thank you for the suggestion.

Since the syntax for this mode uses the term `SINGLE_USER` adding the word "connection" might cause confusion for those looking on information to `SINGLE_USER` vs. 'MULTI_USER` settings, etc.

Please consider moving this issue to the [SQL Server forums](https://feedback.azure.com/forums/908035-sql-server) for product team feedback and further review.

[2019-11-19 22:33] MikeRayMSFT commented on #3616
@brettshearer

- Thanks for this feedback. You're presenting two important issues.

1. What's the correct content for SQL Server 2014 `ISNUMERIC()` function.
2. Make the version specific information explicit, discover-able and correct.

I'm creating an item to track (1684796). We'll track this (and other issues related to version). As @WilliamAntonRohm mentioned, you can submit your experience to

[2019-11-19 22:33] #3616 closed

[2019-11-19 22:40] msebolt commented on #3635
@matt-k11 Thank you for the feedback, we're sorry you're experiencing issues.

To get the issue to the right people, please move this to [SQL Server forums](https://social.msdn.microsoft.com/Forums/sqlserver/home) where the product team can have a chance to respond.

Again we apologize for any inconvenience.

[2019-11-19 22:46] MikeRayMSFT commented on #3346
We're going to publish a fix for this:

Thank you for submitting!

[2019-11-19 22:46] #3346 closed

[2019-11-19 22:46] msebolt commented on #3634
@njtpremier  Thank you for the feedback, we apologize for the issues.

To get this to the right people, please move this to either:

- [SQL Server User Voice](https://feedback.azure.com/forums/908035-sql-server)
- [SQL Server technical forums](https://social.msdn.microsoft.com/Forums/sqlserver/home)

The product team can then respond and provide both recommendations and updates on the issue.

Agai

[2019-11-19 22:49] MikeRayMSFT commented on #2757
@SQLKiwi - thanks again for the good submission. We're working to confirm the correct CU and update the docs. Internal reference number. 1648807

[2019-11-19 22:49] #2757 closed

[2019-11-19 22:52] MikeRayMSFT commented on #2841
Thank you for the submission. We're working internally on a doc update. Reference (1648809).

[2019-11-19 22:52] #2841 closed

[2019-11-19 22:53] MikeRayMSFT commented on #3100
Thank you for the feedback. Confirming with engineering.

[2019-11-19 22:54] #3129 closed

[2019-11-19 23:01] CarlRabeler commented on #3411
PR pending that addresses this git issue

[2019-11-19 23:09] #3634 closed

[2019-11-19 23:13] MikeRayMSFT commented on #3332
The command succeeds without modifying the T-SQL.

If you're interested in submitting an update to the docs, see [How to contribute to SQL Server Documentation](https://docs.microsoft.com/sql/sql-server/sql-server-docs-contribute?view=sql-server-ver15)

[2019-11-19 23:13] #3332 closed

[2019-11-19 23:14] MikeRayMSFT commented on #3619
@af4jm - thank you for your feedback. I'm sharing this with the tools team.

[2019-11-19 23:14] #3619 closed

[2019-11-19 23:14] garyericson commented on #3638
@TeamSwarm - I assume you're following the instructions in the article, [Install new R packages - SQL Server Machine Learning Services](https://docs.microsoft.com/en-us/sql/advanced-analytics/package-management/install-additional-r-packages-on-sql-server), specifically the section "[Add the package offline](https://docs.microsoft.com/en-us/sql/advanced-analytics/package-management/install-addition

[2019-11-19 23:21] MikeRayMSFT commented on #3606
Thanks! @dgshaver -- investigating.

[2019-11-19 23:24] MikeRayMSFT commented on #3607
User Story 1648821: SQL | azdata issues

[2019-11-19 23:24] #3607 closed

[2019-11-19 23:25] MikeRayMSFT commented on #3606
https://github.com/MicrosoftDocs/sql-docs/issues/3606

[2019-11-19 23:26] #3606 closed

[2019-11-19 23:27] MikeRayMSFT commented on #3604
User Story 1648821: SQL | azdata issues

[2019-11-19 23:27] #3604 closed

[2019-11-19 23:37] MikeRayMSFT commented on #3624
Thanks for the good questions. I'm verifying a few things and working to get your questions answered.

[2019-11-19 23:37] CarlRabeler commented on #3158
PR pending to address this - not supported with SSMS in Azure SQL Database - TSQL script works fine

[2019-11-19 23:46] MikeRayMSFT commented on #3339
@FireStormHR - thanks. We're working on an update.

[2019-11-19 23:54] joesackmsft commented on #3624
Hello,
Table variable deferred compilation is specific to table variables.  It doesn't apply to CTEs, MSTVFs and user defined types.  You mention we hint at this - can you let me know where and I'll adjust the language?  Thanks

[2019-11-19 23:55] MikeRayMSFT commented on #3210
@mariomuja Thanks for the note.

We're planning a documentation update to clarify this.

Internally, we reference (1648827).

[2019-11-19 23:55] #3210 closed

[2019-11-19 23:56] #3411 closed

[2019-11-19 23:57] #3158 closed

[2019-11-20 00:07] CarlRabeler commented on #3339
PR pending

[2019-11-20 00:33] dialedin2014 commented on #3624
Example B on https://docs.microsoft.com/en-us/sql/t-sql/data-types/table-transact-sql?view=sql-server-ver15#table-variable-deferred-compilation refers to an inline table-valued function.  The example is below a discussion of deferred compilation.

[2019-11-20 00:34] CarlRabeler commented on #3100
PR pending

[2019-11-20 00:36] CarlRabeler commented on #3391
@MikeRayMSFT I am addressing this issue

[2019-11-20 00:37] MikeRayMSFT commented on #3603
https://github.com/MicrosoftDocs/sql-docs-pr/pull/12976

[2019-11-20 00:37] #3603 closed

[2019-11-20 00:42] joesackmsft commented on #3624
Got it.  The examples apply to the overall "table" topic and TVDC is just a subtopic.  For clarity, I'll work on moving the majority of TVDC content to the Intelligent QP page.

[2019-11-20 00:42] CarlRabeler commented on #3391
PR pending

[2019-11-20 00:56] #3100 closed

[2019-11-20 00:56] #3391 closed

[2019-11-20 00:57] #3339 closed

[2019-11-20 01:03] CarlRabeler commented on #3387
addressed in this topic - we generally say Azure SQL Database for the first instance of the string in an article and then SQL Database thereafter, as that is the actual product name. Changing the token globally will have some number of undesirable consequences.

[2019-11-20 01:03] #3387 closed

[2019-11-20 03:55] VanMSFT commented on #3613
Hi @AlirezaHaghshenas - Thanks for your question. As with any SQL Server installation, TCP/IP is enabled by default, You can't set SQL Server to listen on "all" IP addresses. The instructions on how to change the TCP port is already listed in our documentation: https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-configure-mssql-conf?view=sql-server-ver15#tcpport

[2019-11-20 03:55] #3613 closed

[2019-11-20 04:04] msebolt commented on #3639
@samrueby Thank you for the feedback.

It likely means to say, `The base tables referenced in the view at the time the view is created`.

Assigning this to the author for review.

[2019-11-20 04:25] msebolt commented on #3640
@samrueby Thank you for the feedback, apologies for the confusion.

You should use `IsDeterministic` alone if the precision property is not required.

Note the `IsPrecise` property is only coupled with `IsDeterministic` when three states are required:

1. Deterministic and precise
1. Deterministic and non-precise
1. Not deterministic

However, allowing the use of NULL to classify this third state

[2019-11-20 04:55] #3631 closed

[2019-11-20 05:29] MightyPen commented on #3307
I guess 'CAST' is more like an arbitrary function name that can be called from the T-SQL language.  Thanks.

[2019-11-20 08:09] bgehem commented on #3628
Tested with sa server role.

- The result is not NULL so I assume it's a direct call.
- The result is not NULL.
- No connections can be made to the database.

[code]
HAS_DBACCESS | Collation | Status | IsAutoClose
------------ | --------- | ------ | -----------
0 | SQL_Latin1_General_CP1_CI_AS | SUSPECT | 0

[2019-11-20 09:39] BIGabor commented on #3327
Hi Masha

Any update on this?

Regards,
Gabor

[2019-11-20 11:34] dbrtly opened #3647 "install on Mac running Catalina"
Having trouble installing on Mac running Catalina. Apparently there is a feature on by default to disallow software by unidentified developers. I keep getting a permission denied error. I suspect the installation problems are new feature may be related. Does the install script need to be tweaked?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-11-20 11:40] dbrtly commented on #3647
rereading. High Sierra was 2 years ago... My laptop came out after that. Will sqlpackage get an update?

[2019-11-20 12:34] DeanGross commented on #3625
Sorry for not being more clear, on https://docs.microsoft.com/en-us/sql/reporting-services/web-portal-ssrs-native-mode?view=sql-server-2016#what-is-the-web-portal there is a statement that we can "Configure role-based security that determines access to items and operations.". Where can I find the instructions for doing this in the SSRS web portal?

[2019-11-20 14:52] PiDiBi opened #3648 "missing UNIQUE keyword within INDEX part of CREATE TABLE definition"
Hey,

there is missing possibility of creating UNIQUE INDEX like
[code]
this construction works and is supported by INDEX as defined in INDEX documentation
https://docs.microsoft.com/en-us/sql/t-sql/statements/create-index-transact-sql?view=sql-server-ver15

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6be5dfc7

[2019-11-20 15:37] TeamSwarm commented on #3638
Hi Gary,

Thank you for reaching out.

In the perquisite, the installation of R and/or R Studio does not automatically point to the base R program that R Server uses. Specifically, I’ve noticed that in order to install R Server, a version of R gets installed. In our case 3.3.3 was installed. However, to execute many of the steps to install additional packages offline, R by itself needed to be inst

[2019-11-20 16:40] RickXMoore opened #3649 "SSMS 18.4 Error RejectType: unknown property. (Microsoft.SqlServer.Smo)"
Error message is generated with attempting to script external table.
TITLE: Microsoft SQL Server Management Studio
------------------------------

RejectType: unknown property. (Microsoft.SqlServer.Smo)

For help, click: https://go.microsoft.com/fwlink?ProdName=Microsoft+SQL+Server&ProdVer=15.0.18206.0+((SSMS_Rel).191029-2112)&EvtID=RejectType&LinkId=20476

------------------------------
BUTTONS:

[2019-11-20 16:48] Pxtl opened #3650 "Guide on installing over SqlPS is wrong"
I do not have an existing install of SqlServer present.  "Get-Module SqlServer -ListAvailable" returns no results.  However, when I attempt to install SqlServer ps module, I still get the "This module 'SqlServer' may override the existing commands." because of SqlPs.

Trying to clobber them just seems to break both.

If I have to remove-module SqlPS for this to actually work, you need to explain t

[2019-11-20 17:05] Gagan059 commented on #3602
Thanks, I've added the example now.

Gagan Lamba

On Tue, Nov 19, 2019 at 12:35 PM Jason Roth <notifications@github.com>
wrote:

[2019-11-20 17:20] CarlRabeler commented on #3648
@PiDiBi please edit the file directly using the Edit link in this upper right-hand corner.
Thank you.
Carl

[2019-11-20 17:23] MashaMSFT commented on #3327
Hi @BIGabor , did you still have questions that @zhensun-sql was unable to answer?

Thanks!
Masha from the SQL Docs team

[2019-11-20 17:25] tussosedan commented on #3327
@MashaMSFT they certainly did not address my points at all.

[2019-11-20 17:26] PiDiBi commented on #3648
problem is that Microsoft.SqlServer.TransactSql.ScriptDom.dll doesn't support this construction either ..
but works when executed
so I need to find someone and follow up this problem to get it supported in Script DOM too

[2019-11-20 17:36] CarlRabeler commented on #3648
so this is a product bug / enhancement request - not a documentation issue, is this correct?

[2019-11-20 17:46] WilliamAntonRohm commented on #3649
@RickXMoore -- thank you for your feedback.  Please provide more context around your general task.

[2019-11-20 17:47] WilliamAntonRohm commented on #3650
@Pxtl -- Martin, thank you for your feedback.

@markingmyname -- Mark, please look into this issue 3650.

[2019-11-20 17:49] RickXMoore commented on #3649
Within SSMS, right click on an external table and select Script table as Create or Drop and Create.  Both selections result in the same SMO error.

Rick Moore │ Senior Database Administrator │CFA Institute │915 E. High Street │ PO Box 3668 │ Charlottesville, VA │ 22902-0668 USA │ +1 (434) 951-5528 tel │ +1 (434) 951-5414 fax │ www.cfainstitute.org<http://www.cfainstitute.org>

From: William Anton

[2019-11-20 17:56] PiDiBi commented on #3648
I don't now, thsi construction works, but is not docmuented and when not documented, si it means ScriptDom is not using it. No idea what is correct way to document it (not only here but in way it's used ny other teams too)

[2019-11-20 18:05] CarlRabeler commented on #3648
OK - I am not clear what you are asking of the content team. Are you asking for an additional example be added to the CREATE TABLE topic?

[2019-11-20 18:08] zhensun-sql commented on #3327
Alex,

Is the above your original points? Yes, you need to query the two AGs separately after changing the DAG primary to secondary. And lsn could be different if there is heavy workload going on at the same time. But it is still safe to failover as long as you did all the previous steps (change synchronize mode to synchronized and waiting for it to become synchronized).

[2019-11-20 18:16] zhensun-sql commented on #3327
You won't lose data if you have done all the steps before Step 4. You continue with your workload after failover. And the transactions committed only on the old DAG primary (if there is any) will be undone after it came back.

[2019-11-20 18:16] tussosedan commented on #3327
@zhensun-sql thank you, that's what I needed! Could you update the documentation to reflect this?

[2019-11-20 18:45] WilliamAntonRohm commented on #3649
@RickXMoore -- thank  you for clarifying.  You may find some additional information here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@dnethi -- please look into this issue 3649.

[2019-11-20 18:56] RickXMoore commented on #3649
Let’s try this a different way.  This is a bug with SQL Server Management Studio version 18.x.  How should this bug be logged?

Thanks,

Rick Moore │ Senior Database Administrator │CFA Institute │915 E. High Street │ PO Box 3668 │ Charlottesville, VA │ 22902-0668 USA │ +1 (434) 951-5528 tel │ +1 (434) 951-5414 fax │ www.cfainstitute.org<http://www.cfainstitute.org>

From: William Anton Rohm <notif

[2019-11-20 19:06] WilliamAntonRohm commented on #3649
@RickXMoore -- right here:

- [SQL Server Feedback](https://aka.ms/sqlfeedback)

Thank you for your feedback!

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-11-20 19:06] #3649 closed

[2019-11-20 21:27] hannahqin commented on #3619
@af4jm Hi John, thanks for your feedback. I was unable to reproduce the issue you described. If it occurs again, could you please refile this issue on the Azure Data Studio repository with more detail? Screenshots and gifs help us a lot in resolving bugs quickly.

**Azure Data Studio repo:** https://github.com/microsoft/azuredatastudio

[2019-11-20 21:30] pabloarellano84 opened #3651 "Decrypt on chinese?"
UPDATE usuarios
SET pass_Encrypted = EncryptByKey(Key_GUID('ClaveUsrs_Key'), 'pabloarellano', 1, HashBytes('SHA1', CONVERT( varbinary, idUsuario)))
WHERE idUsuario = 1;

-- Open the symmetric key with which to encrypt the data.
OPEN SYMMETRIC KEY ClaveUsrs_Key DECRYPTION BY CERTIFICATE coopMHCert;
SELECT pass_Encrypted  AS 'Encrypted pass', CONVERT(nvarchar,  DecryptByKey(pass_Encrypted, 1 ,   Has

[2019-11-21 04:39] #3528 closed

[2019-11-21 04:42] #3635 closed

[2019-11-21 04:42] #3636 closed

[2019-11-21 04:43] #3640 closed

[2019-11-21 07:31] gintarasg opened #3655 "A job step must specify a proxy unless the creator of the job step is a member of the sysadmin fixed security role"
I was able to add a TSQL job step by executing msdb.dbo.sp_add_jobstep without specifying a proxy and i'm not sysadmin. Maybe, it's applicable only to SSIS, SSAS, etc. steps? I tested it on Microsoft SQL Server 2016 (SP2-CU1)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 571ba504-da27-884c-e533-e4671b00ad66
* Version

[2019-11-21 08:24] BIGabor commented on #3327
Ok, so in step 4 it's enough to check the SYNC status only. To query the status, I will use my script, as I have to filter for Dist AG Name in automated script.

Just one more thing to this:

Could you please add:
As in Step 1, just this time replace SYNCHRONOUS_COMMIT to ASYNCHRONOUS_COMMIT in script, and don't forget to run on both DAG nodes.

Regards,
Gabor

[2019-11-21 14:58] heidiweber opened #3657 "Export"
A great explanation for import - thank you for that.
But export is somewhat rough and not helpful at all.
At least please provide a link to somewhere that can help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b355db5-8821-7121-5aca-e9b6552187ee
* Version Independent ID: eb5be849-2bad-411b-fa0a-79add4bfcf81
* Conten

[2019-11-21 16:08] #3553 closed

[2019-11-21 16:16] jameslee84 commented on #3655
This is not a issue at all. It can be fixed in a minute.. For more details, please contact me via email (james.lee84@mail.com)

[2019-11-21 17:11] msebolt commented on #3647
@dbrtly  Thank you for the question.

This could be related to your Mac permission settings.

Please refer to [Unidentified developer apps](https://support.apple.com/guide/mac-help/open-a-mac-app-from-an-unidentified-developer-mh40616/mac) for instructions on how to get this installed.

If not, please post further details to the issue below.

[2019-11-21 17:48] taddison opened #3659 "Incorrect stored procedure name"
In SQL2019 RTM (RTM-GDR) (KB4517790) - 15.0.2070.41) the referenced stored procedure `sys.sp_persistent_version_store_cleanup` does not exist.

The stored procedure `sys.sp_persistent_version_cleanup` _does_ exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98d6d147-a7a7-cd75-13fb-4f4f72a16a15
* Version Independent

[2019-11-21 18:08] msebolt commented on #3651
@pabloarellano84 Thank you for the question.

Please refer to either [this post](https://stackoverflow.com/questions/56390179/encrypt-password-was-shows-chinese-language) or [this one](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/5aa569b3-fb04-42ea-92fd-706d4fff476a/decryption-leading-to-unreadable-data-?forum=sqlsecurity) to see if this resolves the issue.

For additional support opti

[2019-11-21 18:19] MashaMSFT commented on #3659
Hi @taddison , thanks for contacting Microsoft and bringing this to our attention! Let me do some research to confirm and get back to you.

Thanks!
Masha from the SQL Docs team

[2019-11-21 18:30] msebolt commented on #3655
@gintarasg Thank you for the feedback.

I think the wording of this is causing confusion...

Please refer to the statement on `proxy_name`:
[code]

You can still create the job step by default, however to run the SQL Server Agent requires sysadmin membership, see [Select account for SQL Server Agent Service](https://docs.microsoft.com/sql/ssms/agent/select-an-account-for-the-sql-server-agent-servi

[2019-11-21 19:30] CeciAc opened #3661 "Super hard to set or remove the bookmark for the current line CTRL+K, CTRL+K"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/sql-docs.zh-tw/issues/117
the contributor is asking for a way to change the default keyboard shortcuts

The following comment was machine-translated.

@blueqoo commented 13 hours ago — with docs.microsoft.com
When using the left hand, ctrl and K are far away, the previous shortcuts are not very useful?
Why should I change it??

---

[2019-11-21 22:07] MikeRayMSFT commented on #3624
@dialedin2014, thanks for raising this issue.

Thank you @joesackmsft  for responding.

[2019-11-21 22:07] #3624 closed

[2019-11-21 22:18] MikeRayMSFT commented on #3594
@jamesattard  - what specific RHEL documentation are you referring to?

Is it the [high-availability-guide-rhel-pacemaker#create-stonith-device](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-rhel-pacemaker#create-stonith-device)?

[2019-11-21 22:47] MikeRayMSFT commented on #3393
@nkumar230 - I have not been able to reproduce the issue. I'm going to close it at this time.

If you can reproduce the issue on the current version of SQL Server 2019, please reopen this issue, or create a new issue.

[2019-11-21 22:50] MikeRayMSFT commented on #3259
@chanmmn - I'm working with our PMs to update the content. This website offers some examples of how to use this DMV.

[7 ways to Query Always On Availability Groups using SQL](https://sqlundercover.com/2017/09/19/7-ways-to-query-always-on-availability-groups-using-sql/)

[2019-11-21 22:50] #3259 closed

[2019-11-21 23:10] msebolt commented on #3657
@heidiweber  Thank you for the feedback, adding a link to the documentation.

For the time being, please refer to the [bcp](https://docs.microsoft.com/sql/tools/bcp-utility?view=sql-server-ver15#bulk-exporting-or-importing-sqlxml-documents) page for examples.

[2019-11-21 23:17] MashaMSFT commented on #3514
Hi @drchilds, thanks for contacting Microsoft! I have submitted a change to update the documentation that should be live later this week. I will close out this Git Issue in the meantime but please feel free to comment should you need anything further from us :)

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2019-11-21 23:17] #3514 closed

[2019-11-21 23:18] msebolt commented on #3661
@blueqoo  Thank you for the questions.

Does your keyboard not support a left-hand Ctrl key?

Bookmark shortcuts are intentionally grouped for left-handed navigation, though this can be customized using the instructions at the top of the article.

[2019-11-22 00:58] virzak commented on #3524
Is this live yet somewhere? Still not sure what the direct link is and I don't have access to that private repo.

[2019-11-22 01:00] setemsft commented on #3471
The [float] type in SQL Server is an 8-byte IEEE 754 double, which is inherently imprecise. The value of 1.525 is really 1.5249999999... - which makes the rounding of it to 2 decimal point produce 1.52.

The [money] type, on the other hand, is a 64-bit integer in SQL Server, having 1.525 represented as 152500. This is a precise value, which is rounded to 1.53.

[2019-11-22 03:08] msebolt commented on #3524
The link is live and now points to the SQL Express page for access to all editions.

![Capture](https://user-images.githubusercontent.com/6675884/69394831-f9dca680-0c91-11ea-8dd1-92aea7a8b2bb.PNG)

[2019-11-22 03:37] #3657 closed

[2019-11-22 06:53] leung85 opened #3663 "How can i download 18.2 or 18.3 English version SSMS??"
Where can i download  previous 18.2 or 18.3 English version SSMS??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cac198c9-abf9-b7ae-0827-dac03ddf4ad6
* Version Independent ID: 9f2afe99-e7c3-726f-fa89-08fc1e4ed653
* Content: [Release notes for SQL Server Management Studio (SSMS) - SQL Server](https://docs.microsoft.com

[2019-11-22 11:07] samad123qw opened #3665 "bdalhsnsmd@gmail.com"
This page contains the following errors: كيف اعمل علا هاذالموضوع

error on line 1 at column 7: XML declaration allowed only at the start of the document
Below is a rendering of the page up to the first error

[2019-11-22 11:08] #3665 closed

[2019-11-22 12:17] blueqoo commented on #3661
left ctrl & k = distance is too far
When I use left hand can't touch the two word
left ctrl <----------------my left hand ------------------------------>K
left ctrl <----------------distance is too far------------------------->K

請問有辦法，設定為像之前一樣的SQL Server2000的快速鍵配置嗎?

Can I set Keyboard scheme -> SQL Server 2000???
bookmark shortcuts is ctrl+F2 is ok，vary good， why chage the setting?????

Microsof

[2019-11-22 12:54] pabloarellano84 commented on #3651
The second post help me solve my problem. Thank you @msebolt !

[2019-11-22 12:54] #3651 closed

[2019-11-22 14:49] rothja commented on #3609
@ajs5710 Thanks for this information. This does seem to be a conflicting requirement in the script. We will look into it. Just to let you know, @VanMSFT is out of the office for the rest of this month, but he will take a look when he returns. Thanks in advance for your patience, and really appreciate the details in your research.

[2019-11-22 16:10] #3471 closed

[2019-11-22 19:12] sumptersmartt opened #3667 "Broken Link"
The link https://support.microsoft.com/help/319723/how-to-use-kerberos-authentication-in-sql-server in the below line is broken.

More information on setting up Sql Server to authenticate using Kerberos can be found here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29dd905c-43f7-9045-4eee-c087e27f48e0
* Version Inde

[2019-11-22 19:19] WilliamAntonRohm commented on #3663
@leung85 -- please see this article:  https://docs.microsoft.com/en-us/sql/ssms/release-notes-ssms?view=sql-server-ver15#download-ssms-182

[2019-11-22 19:19] #3663 closed

[2019-11-22 19:21] WilliamAntonRohm commented on #3667
@sumptersmartt -- Sumpter, thank you for your feedback.  I am looking into this documentation.

[2019-11-22 19:41] msebolt commented on #3661
@blueqoo  Apologies, what I meant was does your keyboard support a right-hand Ctrl key?

Recommended approach is Right Ctrl + K.

For SQL Server 2000 documentation, please see [this download](https://www.microsoft.com/download/details.aspx?id=51958).

[2019-11-22 20:10] msebolt commented on #3625
Thank you for the update, assigning this to the author for review.

[2019-11-22 21:50] #3655 closed

[2019-11-23 01:23] garyericson commented on #3638
@TeamSwarm - Thanks for the details, I think I understand better now.

If you're using sqlmlutils (recommended for SQL 2019), then those functions basically reach over from the client computer and installing the package into the SQL instance. So the version of R on the client computer doesn't matter.

If you're using 2017 or earlier, then the idea is to either use RevoScaleR which should handle th

[2019-11-23 11:23] leung85 commented on #3663
@WilliamAntonRohm
i click the link it only download Chinese version. I need other language

[2019-11-23 22:00] williamadba opened #3673 ""Explicitly adding, dropping, or altering indexes is not supported.""
Not sure what the intent of this is, this sentence needs context, it's misleading and when broadly applied. You can create indexes on subscribers and publishers. This article has contradictory information: https://docs.microsoft.com/en-us/sql/relational-databases/replication/administration/frequently-asked-questions-for-replication-administrators?redirectedfrom=MSDN&view=sql-server-ver15: "Indexes

[2019-11-24 17:06] kirancobe opened #3674 "Screenshots missing from the page"
Please include screenshot for each of the relevant and key steps of configuration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab9cce7b-b467-d3ab-3727-1b11cc1a563c
* Version Independent ID: 0cad315a-e2cf-2ee7-d62d-5cbdaefdf001
* Content: [Enable and configure FILESTREAM - SQL Server](https://docs.microsoft.com/en-us/

[2019-11-25 05:05] Dwayne75 opened #3676 "Incomplete doc"
On 2019 brand new install I had to also do
sp_configure 'Agent XPs', 1
reconfigure with override

to get agent to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aeba625e-8a51-f1ce-1b74-85fa2009a3e5
* Version Independent ID: f3d5c671-a891-e015-3c19-14a3bfbc15f4
* Content: [Install SQL Server Agent on Linux - SQL S

[2019-11-25 12:11] Roadrunner67 opened #3678 "Sample not working in my setup"
When mounting a volume claim in /var/opt/mssql, the original databases (master, model, msdbdata, and tempdb) are missing from the container, resulting in this output:

SQL Server 2019 will run as non-root by default.
This container is running as user root.
Your master database file is owned by root.
To learn more visit https://go.microsoft.com/fwlink/?linkid=2099216.
2019-11-25 12:05:27.82 Server

[2019-11-25 15:31] sneevand opened #3681 "DEploy BDC fails, with below error, no error in out put window"
![image](https://user-images.githubusercontent.com/13268402/69553794-54158a00-0f66-11ea-8f2c-98823aad2c98.png)

![image](https://user-images.githubusercontent.com/13268402/69553645-20d2fb00-0f66-11ea-917b-ca2ebf263b82.png)

All 3 requirement are met.

[2019-11-25 18:29] msebolt commented on #3673
@williamadba Thank you for the feedback and apologies for the confusion.

The statement has been re-worded to better reflect index limitations.

[2019-11-25 18:30] msebolt commented on #3674
@kirancobe Thank you for the feedback, assigning this to the author for review.

[2019-11-25 18:48] JamieL22 opened #3683 "PIP command is not functional"
'pip' is not recognized as an internal or external command,
operable program or batch file.

pip install --upgrade --upgrade-strategy only-if-needed c:\temp\sqlmlutils-0.7.2.zip

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb790fba-2d19-b1a7-3935-6ec5f9207fcc
* Version Independent ID: f350cf6b-0fa8-6d76-8433-f3f752e6

[2019-11-25 18:53] msebolt commented on #3676
@Dwayne75 Thank you for the feedback.

I have tried using a fresh install with Ubuntu and SQL Server 2019, see [here](https://docs.microsoft.com/sql/linux/quickstart-install-connect-ubuntu?view=sql-server-linux-ver15) and can not reproduce this issue.

Please add further details on your setup below.

[2019-11-25 19:03] msebolt commented on #3678
@Roadrunner67 Thank you for the feedback.

If you're running on a Mac, volume mounting is still unsupported, see https://github.com/microsoft/mssql-docker/issues/12.

Please comment below any additional details as needed.

[2019-11-25 19:11] msebolt commented on #3681
@sneevand Thank you for the feedback.

Please note, since this is a documentation forum our support options are limited to the following:

- report the issue to the product team at [SQL Server forums](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/home)
- reference an article describing the above method so it can be reviewed by the author
- use [SQL Server support](https://support.micros

[2019-11-25 19:29] maggiesMSFT commented on #3625
Hi, @DeanGross -- see the article https://docs.microsoft.com/en-us/sql/reporting-services/security/role-definitions-predefined-roles?view=sql-server-ver15 for info on role-based security in SSRS.
I can add a link to that article from the web portal article, https://docs.microsoft.com/en-us/sql/reporting-services/web-portal-ssrs-native-mode?view=sql-server-2016#what-is-the-web-portal.

[2019-11-25 19:51] BuckWoody opened #3684 "Put MSI at top of jump for Windows to avoid a lengthy and problematic pip install"
[Enter feedback here]

Recommend that "Install azdata" have a direct link for Windows, otherwise readers assume pip, which is less reliable for the Windows audience than the MSI. Could be a pointer, or note at the top of the jump page.

Also recommend the jump to Kubernetes page for kubectl command be a open tab link rather than a straight jump, unless that's just how it has to work.

- Buck Woody

[2019-11-25 20:09] salmanarshad2000 opened #3685 "Precision and scale seem to work on datetime2 datatype but no mention in documentation"
Precision and scale seem to work on datetime2 datatype but there is no mention in documentation... simply "All other types = 0"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baa0e861-d609-4b40-7d29-6a520760dd0a
* Version Independent ID: 8b0558ab-e2dc-188e-34d9-062970b1c50b
* Content: [SQL_VARIANT_PROPERTY (Transact-SQ

[2019-11-25 21:19] WilliamAntonRohm commented on #3545
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-11-25 21:19] #3545 closed

[2019-11-25 21:19] WilliamAntonRohm commented on #3547
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-11-25 21:19] #3547 closed

[2019-11-26 00:19] CarlRabeler commented on #3648
PR Pending to add this to the syntax block

[2019-11-26 00:36] msebolt commented on #3683
@JamieL22 Thank you for the feedback, please refer to [pip installation](https://pip.pypa.io/en/stable/installing/) for instructions on how to install.

The documentation has been updated with a link and is pending review.

[2019-11-26 00:42] #3648 closed

[2019-11-26 01:58] #3667 closed

[2019-11-26 02:20] AaronBertrand opened #3687 "Should differentiate from traditional session_id"
It's clear through investigation that session_id here (and in sysjobactivity) is distinct from session_id in sys.dm_exec_sessions et. al.
While the naming collision is unfortunate, it's unlikely it will be corrected, so I think the docs should call it out explicitly so that people don't spin their wheels trying to establish some relationship that isn't valid.

---
#### Document Details

⚠ *Do not

[2019-11-26 05:24] williamadba opened #3688 "missing error numbers for availability groups"
Need to add error numbers for example found in this doc and other locations:
https://download.microsoft.com/download/0/F/B/0FBFAA46-2BFD-478F-8E56-7BF3C672DF9D/Troubleshooting%20SQL%20Server%20AlwaysOn.pdf

Specifically would like to see some more detail on error numbers 41414 and 41418 which indicate a secondary availability group replica has become disconnected.

---
#### Document Details

⚠ *Do

[2019-11-26 05:34] brettshearer opened #3689 "Column CPU returning rounded values?"
Data Column CPU appears to be returning values rounded to 1000.
Could you confirm this is intended behaviour please.
We are specifically looking where ERROR == 1
There is no mention of the typical 'returns microseconds, accurate to milliseconds' as in other BOL locations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-26 05:55] msebolt commented on #3684
@BuckWoody Thank you for the feedback.

Good idea since the first azdata topic listed is the installer:

![Capture](https://user-images.githubusercontent.com/6675884/69602893-dedd9f80-0fcd-11ea-9bb9-d9ed277c6cc7.PNG)

However, the links are rendered automatically from the article's Markdown syntax, so you'll need to use right-click for separate tabs.

[2019-11-26 05:59] Roadrunner67 commented on #3678
I am not running on Mac, I am running on Minikube under Windows.
I've come to believe that mssql is incompatible with ZFS, which in effect renders mssql unusable for Kubernetes Persistent Volumes.

[2019-11-26 06:04] #3684 closed

[2019-11-26 06:14] #3673 closed

[2019-11-26 06:15] #3683 closed

[2019-11-26 06:20] msebolt commented on #3647
Closing now, comment if there are issues.

[2019-11-26 06:20] #3647 closed

[2019-11-26 06:56] msebolt commented on #3678
Thank you for the update.

Please refer to https://github.com/microsoft/mssql-docker/issues/13 for workarounds and/or current status and if this doesn't describe the issue comment below.

[2019-11-26 09:40] Roadrunner67 commented on #3678
IMHO, the best lesson to learn from that thread and other similar threads was precisely put by @Mic92:

[2019-11-26 09:55] Szmiglo opened #3690 "Bug in Using Column Tracking code snippet"
There is no comma in code snippet for "Using Column Tracking" section. There should be comma after "CT_ThumbNailPhoto_Changed" parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b26df5c-92a8-91e4-3fd1-e90d28157778
* Version Independent ID: ee0fa626-9318-7cf6-e27d-66d512fc2ee3
* Content: [Work with Change Trackin

[2019-11-26 10:00] Szmiglo commented on #3690
created PR with fix :) #3691

[2019-11-26 10:26] edvaldocastro opened #3692 "Typo in the First Example"
Below sentence is not in accordance with the image

Current:
A synchronous secondary replica on COMPUTER03

Should be:
An Asynchronous secondary replica on COMPUTER03

Also, the Script to create the Availability Group
'COMPUTER03' WITH
         (
         ENDPOINT_URL = 'TCP://COMPUTER03.<domain>.<tld>:5022',
         AVAILABILITY_MODE = **SYNCHRONOUS_COMMIT,**

Either the Image or aforementioned

[2019-11-26 12:04] M-Damaschke opened #3694 "Disabling instant file initialization will increase allocation times for data files."
Well that is not a correct information if I compare that statement with the following link to "File initialization takes a long time for SQL Server database-related operations." LINK: https://support.microsoft.com/en-us/help/2574695/file-initialization-takes-a-long-time-for-sql-server-database-related
PLEASE COULD YOU CLARIFY THAT. Thanks in advance! Best regards ...

---
#### Document Details

⚠

[2019-11-26 12:31] fatherjack opened #3695 "Typos"
Limitations paragraph
first bullet point.
"Basic availabililty groups" should be "Basic Availability Groups"
last bullet point
"can not" should be "cannot"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32bb0e7a-a91c-6ccd-bf16-5118801d5612
* Version Independent ID: 84eb1614-0e30-e116-9dd2-34a3db7c6b5d
* Content: [Basic

[2019-11-26 15:43] srutzky opened #3696 "Constant Folding in Q.O.: CLR UDFs 𝑐𝑎𝑛, while NTEXT and XML output types 𝑤𝑜𝑛’𝑡"
<sup>(Q.O. = Query Optimizer)</sup>

There are two mistakes in the [Constant Folding](https://docs.microsoft.com/en-us/sql/relational-databases/query-processing-architecture-guide#ConstantFolding) section:

1. There is a "note" that states:

    That list of datatypes is missing both `NTEXT` and `XML`.

2. Under "**Nonfoldable Expressions**", it lists:

    That _was_ true until SQL Server 2012. S

[2019-11-26 16:10] srutzky commented on #3687
Just to add some verification for what Aaron found, executing the following:

[code]

indicates that the `syssessions.session_id` is an `IDENTITY` column (hence, cannot be `@@SPID`).

Agreed: "session\_id" is definitely a poor choice for a name. &#x1F63F;

[2019-11-26 17:43] msebolt commented on #3678
I'll assign this to the author for review of the steps.

[2019-11-26 18:06] bcooper1970 commented on #2156
Thank you guys so much!  I have tolerated this problem for years but now it is fixed!!

[2019-11-26 19:04] MikeRayMSFT commented on #3685
@salmanarshad2000 - Thanks for the submission. We're processing an update.

[2019-11-26 19:04] #3685 closed

[2019-11-26 19:19] julieMSFT commented on #3008
@XiaoyuMSFT Hi Xiaoyu, is there an escape character for Azure Synapse Analytics (SQL DW)?

[2019-11-26 19:42] julieMSFT commented on #3084
@FlavioDiasPs Hello and thank you for your question. Giving names to a table during a delete is not supported in Azure Synapse Analytics (SQL DW). I will now close this issue. The @ notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2019-11-26 19:42] julieMSFT commented on #3084
#please-close

[2019-11-26 19:42] #3084 closed

[2019-11-26 19:50] julieMSFT commented on #3342
@XiaoyuMSFT Xiaoyu, can you verify this should be marked as supported in SQL DW?

[2019-11-26 21:00] brettshearer opened #3699 "Wrong title?"
To recompile a stored procedure by using the WITH RECOMPILE option

This appears twice - I think for the second occurrence you mean 'to recompile when executing a stored procedure...'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b19bbbbc-0e34-a78c-3f14-dfbc0fbf536c
* Version Independent ID: 8f236ed6-fc5a-8a6e-9b16-6a

[2019-11-26 21:53] julieMSFT commented on #3167
@mco100 Thank you for your feedback. What version on SSMS are you using? Support for the new option in the Query Store UI should be visible in SSMS 18.4.

The "Custom" option is supported through the [ALTER DATABASE syntax](https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-database-transact-sql-set-options?view=sql-server-ver15#syntax). Also see
[SQL Server 2019 CTP3.0 Query Store Change

[2019-11-26 22:19] maziarrezaei opened #3700 "Redundant "Use AdventureWorks2012""
On examples D,E,F,G, the table is defined as part of the example. "Use AdventureWorks2012" is redundant, and in-fact, misleading since reader thinks having the AdventureWorks2012 database is sufficient to run the example were actually he/she need to add the lines in example D to create the table variable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-11-26 23:31] WilliamAntonRohm commented on #3687
@AaronBertrand, @srutzky -- Aaron, Solomon, thank you for your feedback.

@stevestein -- Steve, please look into this issue 3687.

[2019-11-26 23:35] WilliamAntonRohm commented on #3688
@williamadba -- William, thank you for your feedback.

@MashaMSFT -- Masha, please look into this issue 3688.

[2019-11-27 00:18] WilliamAntonRohm commented on #3689
@brettshearer -- Brett, thank you for your feedback.

@stevestein -- Steve, please look into this issue 3689.

[2019-11-27 00:21] WilliamAntonRohm commented on #3690
@Szmiglo -- Szmiglo, thank you for finding this and providing a fix.

@Jak-MS -- Jak, please review Szmiglo's PR #3691

cc @MightyPen as the writer

[2019-11-27 00:25] WilliamAntonRohm commented on #3692
@edvaldocastro -- Edvaldo, thank you for your observations.

@MikeRayMSFT -- Mike, please look into this issue 3692.

[2019-11-27 00:26] WilliamAntonRohm commented on #3694
@M-Damaschke -- thank you for your feedback.

@stevestein -- please look into this issue 3694.

[2019-11-27 05:13] JohnNelsonNmbr2 opened #3701 "Title in the navigation pane says "ode" instead of "Mode""
The title of this page is "Format Nested JSON Output with PATH Mode" but over in the navigation pane it says "Format Nested JSON Output with PATH ode"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 678c7ae3-295a-912b-9a1a-9bc9414178fd
* Version Independent ID: 99132c6a-7986-6403-b191-15b4ada93a76
* Content: [Format Nes

[2019-11-27 08:27] pavelsagittarius opened #3702 "Tooltip tip"
Hello,
it would be nice to display a tooltip message over links containing bacic definition from target page (like on Wikipedia) so I can remember what it is without having to open the link. For example this page contains links to another six pages, so the tooltip could contain this:
* RANK - "Returns the rank of each row within the partition of a result set. The rank of a row is one plus the numb

[2019-11-27 11:58] Klabbo opened #3704 "SQL Agent"
In version 18.4 when you connect to a server and SQL Agent.  When you should edit an excisting job and try to Edit in steps it hangs for a really long time(minutes).

[2019-11-27 12:49] Klabbo commented on #3549
I have exactly the same issue and it's really annoying.
Its on Windows Server 2019 and SQL Server 2019 Enterprise edition when I run SSMS 18.4 locally.

[2019-11-27 13:45] Roadrunner67 commented on #3678
I know this article is written for Azure AKS, but I would assume that others like myself would try this on MiniKube first.
In the meantime, I have tested it on a local microk8s running on Linux, and that works.
The article should as a minimum warn that mssql will not run on MiniKube PVs

[2019-11-27 16:08] discaddict opened #3705 "Cannot find Microsoft KB Article number 914847 referenced on this page."
After the caution box on permission chaining there is a reference to a KB article...
For more information, see the Microsoft KB Article number 914847.

Searching the web I can find other references to the article but not the article itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c65a5cd0-c3a5-3a2f-86bd-37f751ff

[2019-11-27 17:06] msebolt commented on #3696
@srutzky Thank you for the feedback, assigning this to the author for review.

[2019-11-27 17:16] msebolt commented on #3699
@brettshearer Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-11-27 17:31] msebolt commented on #3700
@maziarrezaei Thank you for the feedback and apologies for the confusion.

The documentation has been updated and is pending review.

[2019-11-27 17:41] msebolt commented on #3701
@JohnNelsonNmbr2 Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-11-27 17:45] msebolt commented on #3702
@pavelsagittarius Thank you for the feedback.

Tool tips are not yet included in the Markdown rendering syntax we use to write these articles.

Please move this issue to the [MicrosoftDocs repo](https://github.com/MicrosoftDocs/feedback/issues) for a response from the Docs team.

[2019-11-27 17:49] msebolt commented on #3704
@Klabbo  Thank you for the feedback.

Please see if any of [these issues](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/home?category=sqlserver&forum=sqlintegrationservices%2Csqldatamining%2Csqlreportingservices%2Csqlanalysisservices%2Csqltools%2Ctransactsql%2Csqlnetfx%2Csqldataaccess%2Csqlsmoanddmo%2Csqlxml%2Csqlreplication%2Csqlservicebroker%2Csqlsecurity%2Csqldatabaseengine%2Csqldocu

[2019-11-27 18:39] MightyPen commented on #3690
I Reviewed and Approved PR #3691 .
I sent email to TechDocPRs saying the PR can now be merged.
I believe this Issue #3690 can now be Closed, as Fixed. (fix will appear live on Docs in a couple days).

Thank you for submitting this Issue. We hope to hear from you again.

[2019-11-27 18:39] #3690 closed

[2019-11-27 18:56] #3700 closed

[2019-11-27 18:59] #3701 closed

[2019-11-27 19:00] #3699 closed

[2019-11-27 19:38] MikeRayMSFT commented on #3692
@edvaldocastro - thank you for reviewing this and commenting on it. We'll take a look.

[2019-11-27 22:19] MikeRayMSFT commented on #3674
@kirancobe

Thanks for this helpful recommendation.

We'll consider your recommendation.

If you're looking for screenshots now, you can see some on other websites.

[Voice of the DBA](https://voiceofthedba.com/2012/03/07/enabling-filestream-in-sql-server-2012/)

[YouTube video from SolarWinds](https://www.youtube.com/watch?v=xhS1C6G2Fn8)

Thanks,
Mike

[2019-11-27 22:19] #3674 closed

[2019-11-28 06:16] corebase22 opened #3708 "> I'm an Outlook Web App end user (thus I have no control over my site's Exchange Server configuration). Version information may be obtainable, but I don't want to call our support staff over this minor issue if it isn't really necessary. "?" -> "Privacy notice" -> "Product Feedback" led me here."
translate.

_Originally posted by @corebase22 in https://github.com/MicrosoftDocs/OfficeDocs-Exchange/issues/373#issuecomment-559357384_

[2019-11-28 08:35] corebase22 commented on #3708
- [ ] https://support.google.com/chrome/thread/3595504?msgid=3595504

[2019-11-28 10:12] pavelsagittarius commented on #3702
It looks like I can´t move issues. Can you do it for me, please?

[2019-11-28 12:55] jamesattard commented on #3594
In the Ubuntu documentation the STONITH configuration is set to disabled and not documented to explain how to enable and configure it - https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-availability-group-cluster-ubuntu?view=sql-server-ver15#configure-fencing-stonith.

[2019-11-28 13:31] shikharbsar commented on #3008
What's the similar syntax for escape character in SQL SERVER in Azure Synapse Analytics (SQL DW)?

[2019-11-28 17:39] danvalero opened #3709 "Manual failover without data loss not working in SQL2019"
Hi
I am following the instructions for Manual failover without data loss and it fails in SQL 2019, however, it works correctly in SQL 2017.
I created a Read Scale Only Availablity Group with two instances on linux, and it fails.  I created a Read Scale Only Availablity Group with one instances on linux and another in Windows and fails with the same error.

I get the error when I execute: ALTER AVA

[2019-11-29 09:54] alexcom opened #3710 "optimize_for_sequential_key is not available for sql server before 2019 but present in documentation"
Column sys.indexes.optimize_for_sequential_key is present in documentation at least for servers 2016 and 2017. But it is absent in 2017 database and article below  states this column appeared in version 2019.
https://techcommunity.microsoft.com/t5/SQL-Server/Behind-the-Scenes-on-OPTIMIZE-FOR-SEQUENTIAL-KEY/ba-p/806888

Please fix misleading documentation

---
#### Document Details

⚠ *Do not edit

[2019-11-29 10:04] kethahel99 opened #3711 "SQL Compare Extension v1.0.0"
Cannot download the extension, even manually the source link give error:

&lt;Error&gt;
&lt;Code&gt;BlobNotFound&lt;/Code&gt;
&lt;Message&gt;
The specified blob does not exist. RequestId:cb3a2350-001e-0065-809c-a65c5f000000 Time:2019-11-29T10:02:18.9986710Z
&lt;/Message&gt;
&lt;/Error&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-11-29 12:16] HenrikStaunPoulsen opened #3712 "problem with system_user on Azure SQL Database"
when using system_user on an Azure SQL Database, and executing at stored procedure that contain "execute as", I get this message:
Msg 40529, Level 16, State 1, Procedure myTrigger, Line 88 [Batch Start Line 0]
Built-in function 'SUSER_SNAME' in impersonation context is not supported in this version of SQL Server.

I have been hunting all over for any suser_sname() in my database, but the real caus

[2019-11-30 10:17] albertomute opened #3714 "How to delete"
How to delete recovery pending databases

[2019-12-01 04:59] LearnsHappily opened #3717 "Outdated content"
I am using SSMS 2017. The content here doesn't reflect nor explains the current interface. I made this comment on 30 NOV 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b39a6f87-ff17-e358-4a7c-ea7c2a037cde
* Version Independent ID: a8691d00-99a1-ec0d-346b-fee8f78202dd
* Content: [Quickstart: Backup & restore to Az

[2019-12-01 06:57] LearnsHappily opened #3718 "Missing WITH CREDENTIAL = 'https://.....'"
The backup command example is missing the WITH CREDENTIAL clause.
Provide an example of how to create the CREDENTIAL in SQL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15e8e46c-01f3-a76a-761f-5206e6d878e9
* Version Independent ID: 3945290e-ef38-b04c-9ee6-d3889b4b94e4
* Content: [Tutorial: Use Azure Blob storage serv

[2019-12-01 20:14] srutzky opened #3719 "GRANT permission to User, not Login"
Under [Permissions](https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/xp-cmdshell-transact-sql#permissions), Item \# 3 states that `exec` permission needs to be granted to a login. This is incorrect. Permission can only be granted to a user, and there is a difference.

Take care,
Solomon...
https://SqlQuantumLift.com/
https://SqlQuantumLeap.com/
https://SQLsharp.co

[2019-12-01 22:04] matriarchvip opened #3721 "Column CPU unit could be microsecond?"
Column CPU in all other extended events are microsecond except this one. In real data it actually seems like microsecond.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 207f4d6b-9d6e-1d6b-cd64-f30c107d2dd5
* Version Independent ID: 9a737c53-1a35-422d-a790-64cfc68ab307
* Content: [SQL:BatchCompleted Event Class - SQL Se

[2019-12-02 03:27] #3695 closed

[2019-12-02 03:28] WilliamAntonRohm commented on #3695
@fatherjack -- thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2019-12-02 05:55] hdisma opened #3722 "Ubuntu 19.10 Microsoft ODBC Driver 17 for SQL Server : Client unable to establish connection."
Im getting this error when i'm trying to connecto to mssql server on ubuntu 19.10 :
`Sqlcmd: Error: Microsoft ODBC Driver 17 for SQL Server : TCP Provider: Error code 0x2746.
Sqlcmd: Error: Microsoft ODBC Driver 17 for SQL Server : Client unable to establish connection.`

[2019-12-02 07:47] Gid8 opened #3723 "Code mistake"
There is a format problem in the first code block of the Examples section, the first apostrophe isn't getting picked up as the start of a string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5132e6b6-4c94-d72c-4b3d-31a047402731
* Version Independent ID: 448308aa-3277-40b7-db76-ac3e9a380bd5
* Content: [@@ERROR (Transa

[2019-12-02 08:00] tejasaks commented on #3594
As far as I recall, we haven’t documented steps for fencing configuration in any cases. The reason being, how to enable fencing could potentially be different for different distributions and in different configurations (including on-premise, private cloud/virtualization environments and other public cloud configurations). Since fencing itself is more of an operating system concept that is dependen

[2019-12-02 11:40] arcus4 opened #3724 "Certificate Requirements for TLS in a SQL Failover Cluster"
when the import of a server certificate for TLS in a SQL Failover Cluster as described here, we found that it would be helpful to know that a certificate' s subject should include the SQL Server instance name (in a Failover Cluster). You will have to provide any Failover Cluster object (FQDN) name in the certificate' s SubjectAlternateNames (SAN), this includes the FQDN of DTC and Cluster Nodes as

[2019-12-02 14:00] ghotz opened #3727 "Problem with SQL Server 2019 RTM"
Not sure whether is a bug, but as of SQL Server 2019 RTM defining an external data source to Azure SQL Database like this:

[code]
result in the following error being risen when later trying to define an External Table:
[code]

The workaround is to specify the database name in `CONNECTION_OPTIONS` like this:
[code]
although this shouldn't be required since it has already to be specified in `LOCATI

[2019-12-02 14:56] joesackmsft commented on #3624
FYI on this - I've moved the TVDC content to https://docs.microsoft.com/en-us/sql/relational-databases/performance/intelligent-query-processing?view=sql-server-2017#table-variable-deferred-compilation and added a pointer from the original table topic.  @dialedin2014 thanks for the feedback!

[2019-12-02 15:05] marvinhosea commented on #3528
This what fixed my problem https://stackoverflow.com/questions/57265913/error-tcp-provider-error-code-0x2746-during-the-sql-setup-in-linux-through-te

[2019-12-02 16:09] msebolt commented on #3702
@MikeRayMSFT Can you find someone with access to transfer this issue?

[2019-12-02 17:11] msebolt commented on #3705
@discaddict Thank you for the feedback.

An update to the documentation is pending.

[2019-12-02 17:18] msebolt commented on #3708
@corebase22 Thank you for the feedback.

Since this doesn't involve SQL Server please either request the issue be re-opened in the **Office Docs** or use [Outlook support](https://support.office.com/outlook).

[2019-12-02 17:32] msebolt commented on #3709
@danvalero Thank you for the feedback, we're sorry for any issues you're experiencing.

This issue has been supposedly fixed and documented [here](https://support.microsoft.com/en-ph/help/4492604/fix-manual-failover-between-forwarder-and-secondary-replica-fails-with).

If you can confirm you've adhered to the solution's requirements and the issue still remains, please start a ticket [here](https:/

[2019-12-02 17:37] #3719 closed

[2019-12-02 17:41] srutzky commented on #3719
Please see PR #3720 for additional details and demo code.

[2019-12-02 17:46] srutzky commented on #3696
Please see PR #3698 for details and demo code 😺

[2019-12-02 17:51] msebolt commented on #3710
@alexcom  Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-12-02 17:58] danvalero commented on #3709
Thanks,
The issue is not the one describe in the link you provided.
I opened a ticket as instrcuted: https://social.msdn.microsoft.com/Forums/en-US/752845be-5cab-47ff-b193-2d7974404644/availablity-group-for-read-scale-manual-failover-without-data-loss-not-working-in-sql2019?forum=sqldisasterrecovery

[2019-12-02 18:06] jboarman opened #3728 "TRIM() function was added in SQL Server 2017"
It should be noted what version this was added to T-SQL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc6a4cd-b57c-8df6-221d-85aead960a91
* Version Independent ID: d0acb956-b718-d5d4-f422-52110f7a1242
* Content: [TRIM (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/functions/trim-transact-sql?

[2019-12-02 18:06] msebolt commented on #3711
@kethahel99 Thank you for the feedback, assigning this to the author for review.

You can also refer to the [azuredatastudio](https://github.com/microsoft/azuredatastudio/issues) repo.

[2019-12-02 18:08] msebolt commented on #3712
@HenrikStaunPoulsen Thank you for the feedback, assigning this to the author for review.

[2019-12-02 18:10] msebolt commented on #3714
@albertomute Thank you for the question.

Please refer to [this post](https://dba.stackexchange.com/questions/11175/how-do-you-stop-take-offline-and-delete-a-sql-server-database-in-recovery) and comment below if there are issues.

[2019-12-02 18:15] MikeRayMSFT commented on #3702
I also cannot. Checking on my options.

[2019-12-02 18:15] msebolt commented on #3718
@LearnsHappily Thank you for the feedback, assigning this to the author for review.

[2019-12-02 18:18] MikeRayMSFT commented on #3702
I manually created it.

[2019-12-02 18:18] #3702 closed

[2019-12-02 18:18] msebolt commented on #3721
@matriarchvip Thank you for the feedback, assigning this to the author for review.

@stevestein

[2019-12-02 18:21] msebolt commented on #3722
@hdisma  Thank you for the question.

This could be related to a recent SSL patch, please see if [this post](https://stackoverflow.com/questions/57265913/error-tcp-provider-error-code-0x2746-during-the-sql-setup-in-linux-through-te) resolves your issue.

[2019-12-02 18:26] msebolt commented on #3723
@Gid8  Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-12-02 18:27] msebolt commented on #3724
@arcus4  Thank you for the feedback, assigning this to the author for review.

[2019-12-02 18:28] MikeRayMSFT commented on #3678
@Roadrunner67 - thanks - I'm verifying with partners.

[2019-12-02 18:38] msebolt commented on #3727
@ghotz  Thank you for the feedback, assigning this to the author for review.

[2019-12-02 18:40] msebolt commented on #3717
@LearnsHappily Thank you for the feedback, assigning this to the author for review.

[2019-12-02 18:50] MikeRayMSFT commented on #3727
@ghotz - I'm reaching out to partners to assess. Thank you for the submission.

[2019-12-02 18:55] rothja commented on #3717
@LearnsHappily Thank you and sorry for the confusion. So you are using an older version of SSMS? Or are you saying that the current screenshots are outdated? Typically in the latest content, we keep the documentation updated to the latest version in most cases. This is especially true of SSMS, because it works fine with any version of SQL Server. But if the screenshots are not current, we do need

[2019-12-02 19:14] hdisma commented on #3722
Hi @msebolt

- After trying this solution, everything works like a charm. Thank you so much, you saved my day! :smile:

[2019-12-02 19:26] #3722 closed

[2019-12-02 19:27] msebolt commented on #3722
Great, it's good to know this is working again.  Thank you for contacting Microsoft.

[2019-12-02 20:53] t0mmg opened #3729 "Don't forget to start SQL Agent again after step 12"
It may be worth adding a Note section to remind users who stopped the SQL agent earlier in the process to start it again. Otherwise Agent jobs such as backups/maintenance won't run.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d41367fc-38cf-0c73-3ea8-93bff726f421
* Version Independent ID: 07b2d0b3-2013-a133-9d1e-ee2d

[2019-12-02 21:00] MashaMSFT commented on #3688
Hi @williamadba , thank you for contacting Microsoft and for providing your feedback! You're right, it would be helpful to document these error messages. I have created an internal work item to track this work ([1652363](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1652363)). I will close out this Git Issue for the time being but please feel free to comment should you need anyth

[2019-12-02 21:00] #3688 closed

[2019-12-02 21:11] MashaMSFT commented on #3695
Hi @fatherjack, thank you for your feedback! Just so you know, you have the ability to modify the documentation yourself :) This will add you as a public contributor to our documentation!

In case you're interested, here are the steps:
1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil" icon on the right
4. Modify the text within the

[2019-12-02 21:41] MashaMSFT commented on #3718
Hi @LearnsHappily , thank you for contacting Microsoft! The backup with credential command has been deprecated. From the article associated with this Git Issue:
If you wish to backup a SQL Server 2012 SP1 CU2 or later database or a SQL Server 2014 database to this Azure container, you can use the [deprecated syntax documented here](https://docs.microsoft.com/en-us/sql/relational-databases/backup-r

[2019-12-02 22:32] lerchdude commented on #3727
@ghotz - Can you confirm the exact version of SQL you are running? (i.e. The output of `SELECT @@VERSION;`)

This bug was fixed in RTM (GDR), but not RTM.

[2019-12-02 23:12] ghotz commented on #3727
I'm running RTM: `Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)`

Good to know :-) the KB article for the GDR currently shows only one fix regarding SQL Browser in FCI environments (KB4527165) so I didn't installed it.

[2019-12-02 23:23] gmafodda opened #3730 "Please correct the name of the DMV"
In the Tip for "Prerequisites and restrictions", the text refers to the DMV "sys.dm_hadr_database_cluster_states" when in fact the correct DMV name is "sys.dm_hadr_database_replica_cluster_states".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e33fa363-855a-a15d-f692-1b841363cc9f
* Version Independent ID: 9827e246-51d

[2019-12-02 23:40] msebolt commented on #3728
@jboarman Thank you for the feedback.

Currently this information is built into each doc rendered using the version selector:

![Capture](https://user-images.githubusercontent.com/6675884/70003787-1510a700-1519-11ea-810f-f43115a62e49.PNG)

To improve this method as your idea suggests, please move this issue to Microsoft Docs [feedback issues](https://github.com/MicrosoftDocs/feedback/issues).

[2019-12-02 23:46] garyericson commented on #3638
#please-close, pending additional comments from @TeamSwarm

[2019-12-02 23:46] #3638 closed

[2019-12-02 23:50] garyericson commented on #3608
#please-close, pending further clarifications from @rovermx

[2019-12-02 23:50] #3608 closed

[2019-12-02 23:54] msebolt commented on #3729
@t0mmg  Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-12-03 00:05] julieMSFT commented on #3167
@mco100  Thank you for your feedback. I will proceed with closing this issue. If you have further questions the @ notification will continue to work even after an item is closed. We hope to hear from you again.

[2019-12-03 00:05] julieMSFT commented on #3167
#please-close

[2019-12-03 00:05] #3167 closed

[2019-12-03 07:38] mco100 opened #3733 "link to compatibility compatrix is missing"
could you create a link to SSDT compatibility matrix with attunity connectors (https://docs.microsoft.com/en-us/sql/integration-services/attunity-connectors?view=sql-server-ver15) in page
https://docs.microsoft.com/en-us/sql/integration-services/install-windows/install-integration-services?view=sql-server-ver15
instead of the link to attunity connectors latest version download page that does not m

[2019-12-03 08:27] artimob opened #3734 "Diagrams Rendered Incorrectly using Dark Theme"
While "Dark Theme" is enabled the "Database Engine Upgrade Non-HA In-Place Upgrade" flow diagram and few others below render incorrectly as it doesn't have a white background like other diagrams.

**Good Example**
![2019-12-03-Image-19-26-46](https://user-images.githubusercontent.com/52269201/70033135-ef5fcc80-1602-11ea-83c9-41ef1b781f25.png)

**Bad Example**
![2019-12-03-Image-19-16-36](https://u

[2019-12-03 16:35] #3705 closed

[2019-12-03 16:36] #3710 closed

[2019-12-03 16:36] #3723 closed

[2019-12-03 16:38] #3729 closed

[2019-12-03 18:21] amccool opened #3736 "@loginame"
shouldnt this be @loginname?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5d2d017-80cc-de80-4460-2ebfbdc142f4
* Version Independent ID: 03a0def0-18a3-bc66-b5a7-9b1153c922ce
* Content: [sp_addlogin (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-addlo

[2019-12-03 18:40] MashaMSFT commented on #3734
Hi @artimob , thanks for contacting Microsoft and bringing this to our attention! Let me see what I can do to fix this :)

Thanks!
Masha from the SQL Docs team

[2019-12-03 18:41] julieMSFT commented on #3598
@FzzyBnny - Thank you for your feedback. I am researching this issue with the product group.

[2019-12-03 19:32] VanMSFT commented on #3736
Hi @amccool - Can you please elaborate on the issue? Thanks!

[2019-12-03 20:13] msebolt commented on #3730
@gmafodda Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-12-03 20:16] msebolt commented on #3736
@VanMSFT I think this refers to both `@loginame` in the **Syntax** and **Arguments** section.

[2019-12-03 20:18] msebolt commented on #3733
@mco100 Thank you for the feedback, assigning this to the author for review.

[2019-12-03 21:22] dialedin2014 commented on #3624
Looks good thanks

From: Joe Sack <notifications@github.com>
Sent: Monday, December 2, 2019 7:57 AM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Christopher Grace <chris@happylife.us>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs] Clarify impact to TVFs and CTEs (#3624)

FYI on this - I've moved the TVDC content to https://docs.microsoft.com/en-us/sql/r

[2019-12-03 21:34] VanMSFT commented on #3736
@amccool @msebolt - I see. The parameters are correct and does not need to be changed:

![image](https://user-images.githubusercontent.com/40007119/70091641-6bd9b780-15d1-11ea-850d-db1fb34cd900.png)

Thanks!

[2019-12-03 21:34] #3736 closed

[2019-12-03 21:35] potato-enthusiast opened #3737 "Scope of "Replicate""
Replicated tables exist in ASA, not sure why the page says "REPLICATE only applies to Parallel Data Warehouse."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adf0e9a7-a1d8-aa28-5806-9bc25dd280ba
* Version Independent ID: 85f18545-84c2-f810-a70e-74ea8b4a0d3d
* Content: [sys.pdw_table_distribution_properties (Transact-S

[2019-12-04 01:28] #3727 closed

[2019-12-04 01:39] ronortloff commented on #3737
thanks for the feedback.  this is fixed in pr13085.

[2019-12-04 01:39] ronortloff commented on #3737
#please-close

[2019-12-04 01:39] #3737 closed

[2019-12-04 02:24] MikeRayMSFT commented on #3599
@DiegoBoy-MSFT  - thanks for submitting this - fixing now. PR 13086 cited above.

[2019-12-04 02:24] #3599 closed

[2019-12-04 06:26] kishh143 opened #3738 "MSDTC and Tightly Coupled Transactions"
Hi, I am referring to the article https://docs.microsoft.com/en-us/sql/connect/jdbc/understanding-xa-transactions?view=sql-server-2017 or https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/connect/jdbc/understanding-xa-transactions.md

The doc says that there is a hotfix for MSDTC and Tightly Coupled Transactions for enabling support for tightly-coupled XA branches, but the link doesn't work

[2019-12-04 08:57] pavelsagittarius commented on #3702
Thanks

[2019-12-04 09:50] gingagit opened #3739 "Error in Basic Syntax, section C. Using a cursor to determine the row to delete"
There is an issue with this section.  The description states that the cursor's name is my_cursor but is named complex_cursor in the code segment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b21fe0c8-0242-d9e0-b7bb-cee5265d39c9
* Version Independent ID: e70df047-67c6-7933-ccdd-11731a77eb20
* Content: [DELETE (Transac

[2019-12-04 16:27] #3730 closed

[2019-12-04 17:37] MashaMSFT commented on #3718
Hi @LearnsHappily , thanks again for contacting Microsoft! It's been some time since we've heard from you so we're going to assume your question has been addressed and close out the Git Issue. However, if you need anything further, please feel free to comment within the Git Issue.

Thanks and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2019-12-04 17:37] #3718 closed

[2019-12-04 17:48] WilliamAntonRohm commented on #3739
@gingagit -- thank you for your feedback.  I am looking into this article.

[2019-12-04 17:48] #3659 closed

[2019-12-04 19:51] WilliamAntonRohm commented on #3738
@kishh143 -- thank you for your feedback.  My understanding is that this hotfix is only required for Windows Server 2003.

@MightyPen -- Gene, can you confirm this behavior?  If so, I'll update the first of the following sentences under https://docs.microsoft.com/en-us/sql/connect/jdbc/understanding-xa-transactions?view=sql-server-2017#guidelines-and-limitations-when-using-xa-transactions:

The ho

[2019-12-04 20:35] MightyPen commented on #3738
@WilliamAntonRohm Hi William, The article no longer needs to reference KB 938653, because Windows Server 2003 was too far back into the distant past.

- `https://support.microsoft.com/help/938653`

Ideally you can make the appropriate edits to the article, and label this Issue #3738 'cba'.

Also, the initialism "XA" should be defined in the article, as standing in for the two-word phrase "extended

[2019-12-04 22:58] WilliamAntonRohm commented on #3738
@MightyPen -- thank you for the clarifications.  Please review my changes in the above-mentioned PR 13102.

[2019-12-04 23:00] dstrome commented on #3708
@msebolt - I'm one of the OfficeDocs admins...you can close this issue. The text was copied from an old issue in one of our repos.

[2019-12-04 23:46] MightyPen commented on #3738
I have entered my "I Approve" review in the PR #13102 (about one hour ago).

[2019-12-05 01:23] MashaMSFT commented on #3692
Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. I will proceed with closing out this Git Issue, but please feel free to commend should you need anything further.

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2019-12-05 01:23] #3692 closed

[2019-12-05 06:46] MrSuaveh opened #3743 "Correction"
I believe this “The characters 0x will be added to the left of the converted result for style 1.”  Is actually describing style 2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f56efc1-e90f-68dd-cb02-2f2ba21373fd
* Version Independent ID: aa110136-4520-ed90-97fe-1fdedd1863ad
* Content: [CAST and CONVERT (Transact-SQL

[2019-12-05 06:54] JohanEnblom opened #3744 ""Read-scale availability group" on Standard Edition"
This document states that "Read-scale availability group" is included in the standard edition.
Is it really true?
I have tried to activate this, but I always get the error message that I have the wrong edition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 453dc1e2-0c9c-fe95-c6fc-90be886432ad
* Version Independent ID:

[2019-12-05 10:11] n-shyamprasad opened #3745 "Typo mistake"
Typo mistake in 2nd paragraph **B**ACPAC instead of **D**ACPAC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cea5408a-67bf-2d2f-d0f3-5eb32b0251e0
* Version Independent ID: f8049868-f012-9c03-df33-7fce87448c40
* Content: [Data-tier Applications - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/dat

[2019-12-05 13:17] Larvaman opened #3746 "Block these steps."
I am working on program that uses a SQL database locally. Is there a way to block these steps so the end user can't access the database outside of my software?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d41367fc-38cf-0c73-3ea8-93bff726f421
* Version Independent ID: 07b2d0b3-2013-a133-9d1e-ee2d249740d5
* Content: [C

[2019-12-05 13:37] immitev opened #3747 "Is .NET Core SDK available for programmatic access to SSIS object model?"
Is there a corresponding .NET Core version of `Microsoft.SqlServer.ManagedDTS.dll` that enables using the API for loading or creating packages (see https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.dts.runtime )?

In https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-ssis-known-issues?view=sql-server-ver15 I couldn't find this mentioned.

[2019-12-05 15:49] rohan2962 opened #3748 "Upgrade or Update SQL Server Instances with Multiple AGs"
Under the section, Upgrade or Update SQL Server Instances with Multiple AGs step 3, should AG1 be failed over to NODE2 or NODE3, considering the fact that NODE2 since already upgraded, can not send data to NODE3 for AG1 since NODE3 is not yet updated at the time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bcf4d06-

[2019-12-05 16:08] LuisGonzalezLT opened #3749 "Not supported in Azure Synapse Analytics (SQL DW)"
"Catalog view 'dm_db_partition_stats' is not supported in this version."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cdc026d-0fb5-a4ea-64fb-162ba8399bea
* Version Independent ID: 46f5fce4-0e4e-8e29-fbc6-0ec17afe9900
* Content: [sys.dm_db_partition_stats (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/

[2019-12-05 16:53] rothja commented on #3687
@AaronBertrand Thanks for the feedback. @stevestein is not in the office. I apologize for the delay. @CarlRabeler could you please take a look at this? Thank you! #reassign:carlrabeler

[2019-12-05 16:54] rothja commented on #3689
@brettshearer Thanks for the feedback, but Steve is currently out of the office. I apologize for the delay. @CarlRabeler could you please take a look at this issue? Thank you! #reassign:carlrabeler

[2019-12-05 16:55] rothja commented on #3694
@M-Damaschke Thanks for the feedback. I apologize for the delay, but Steve is currently out of the office. @CarlRabeler could you please take a look at this issue? Thank you!

[2019-12-05 18:49] msebolt commented on #3628
Thank you for the update, assigning this to the author for review.

[2019-12-05 18:52] msebolt commented on #3661
Closing the issue, please comment below if there are questions.

[2019-12-05 18:52] #3661 closed

[2019-12-05 18:53] msebolt commented on #3676
Closing the issue, please comment below if there any questions.

[2019-12-05 18:53] #3676 closed

[2019-12-05 18:54] msebolt commented on #3681
Closing the issue, please comment below if there any questions.

[2019-12-05 18:54] #3681 closed

[2019-12-05 18:55] msebolt commented on #3704
Closing the issue, please comment below if there any questions.

[2019-12-05 18:55] #3704 closed

[2019-12-05 18:56] #3708 closed

[2019-12-05 18:56] msebolt commented on #3709
Closing the issue since the product team has started dialogue, please comment below if there any questions.

[2019-12-05 18:56] #3709 closed

[2019-12-05 18:57] msebolt commented on #3714
Closing the issue, please comment below if there any questions.

[2019-12-05 18:57] #3714 closed

[2019-12-05 18:57] msebolt commented on #3728
Closing the issue, please comment below if there any questions.

[2019-12-05 18:57] #3728 closed

[2019-12-05 19:07] markingmyname commented on #3484
I apologize for the delayed response.

Hope this helps.

https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver15#supported-operating-systems-ssms-184.

[2019-12-05 19:07] markingmyname commented on #3484
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-12-05 19:07] #3484 closed

[2019-12-05 19:12] markingmyname commented on #3549
@JonathanH89

Thanks for your comment.

Your contribution is much appreciated.

However, our team can only answer feedback related to the documentation. Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page or visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) page. If you have any feedback related to the document

[2019-12-05 19:12] markingmyname commented on #3549
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-12-05 19:12] #3549 closed

[2019-12-05 20:00] kalatchev opened #3751 "Minimum version"
Not long ago, there was information for the minimum version for every feathure. Now it's removed! How I can know in which version SEQUENCE object appear?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fe1f7ad-1e14-ed5e-992c-1037500f20f1
* Version Independent ID: f4a6dbbf-0273-536c-f3f2-2e56b1c7bc28
* Content: [ALTER S

[2019-12-05 20:57] CarlRabeler commented on #3751
@kalatchev for the general page about sequence in SQL Server 2014, for instance - you can go here https://docs.microsoft.com/en-us/sql/relational-databases/xml/xml-data-sql-server?view=sql-server-2014 - for the actual syntax - such as the CREATE SEQUENCE or ALTER SYNTAX statement, these topics are version agnostic. Within each such topic, there should be (and most times there is, but not always) "

[2019-12-05 22:36] kalatchev commented on #3751
Thank you, @CarlRabeler . Despite your explanation, I was not able to find information in which version sequences are introduced. The main topic ( https://docs.microsoft.com/en-us/sql/relational-databases/sequence-numbers/sequence-numbers ) has not such info.

IMHO version information is very important for every developer and it should be available on almost every page. Also, I think the documenta

[2019-12-05 23:26] CarlRabeler commented on #3751
For 2012 docs, go to https://www.microsoft.com/en-us/download/details.aspx?id=347

[2019-12-05 23:28] CarlRabeler commented on #3751
For 2014, go to https://www.microsoft.com/en-us/download/details.aspx?id=42557

[2019-12-06 00:20] kalatchev commented on #3751
Well, that makes sense :smile: Little bit inconveniently, but solves the problem. Thanks.

[2019-12-06 00:20] #3751 closed

[2019-12-06 00:29] CarlRabeler commented on #3751
I know, it is something that we are aware of and working on.

[2019-12-06 01:41] msebolt commented on #3743
@MrSuaveh Thank you for the feedback.

Can you provide an example to support this claim?

The following below shows an example of style1 vs. style 2 without the `0x`:

[code]

[2019-12-06 05:27] msebolt commented on #3744
@JohanEnblom Thank you for the feedback.

This might be due to incompatibility with the **Always On** feature which is only available in the Enterprise edition.

Please see if [this post](https://stackoverflow.com/questions/58186180/replica-database-is-not-accessible-in-read-scale-availability-group-in-sql-serve) relates, after following the instructions [here](https://docs.microsoft.com/sql/datab

[2019-12-06 05:34] msebolt commented on #3745
@n-shyamprasad Thank you for the feedback.

Are you referring to `A BACPAC is a related artifact...`?

If so, the term `BACPAC` is also valid and is discussed [here](https://docs.microsoft.com/sql/relational-databases/data-tier-applications/data-tier-applications?view=sql-server-ver15#bacpac) later is the article.

[2019-12-06 05:59] msebolt commented on #3746
@Larvaman Thank you for the question.

The easiest way would be to use [encryption keys](https://docs.microsoft.com/sql/relational-databases/security/encryption/sql-server-and-database-encryption-keys-database-engine) and hide the private key in such a way that the user needs to run the software to obtain the key.

Please note that since this is a documentation forum, our support options are limit

[2019-12-06 08:25] SeanFeldman commented on #2414
When a LinuxVM host is used and a volume name is specified, this approach works.
When using Windows Desktop Docker and mounting to a Windows path, `data` has to be added to the Linux path (`-v /d/mssql-data/tcenergy-gsmos:/var/opt/mssql/data`) for the container to start. Otherwise, SQL Server crashes with an error "file not found".

[2019-12-06 08:29] SeanFeldman commented on #2414
@rothja could you please re-open the issue as it still holds true. The sample fails if commands are executed as-is on Windows 10 1909 as well.

[2019-12-06 08:43] shyamprasad-n commented on #3745
Ookay..I got it now... mistake was mine. Thank you.

[2019-12-06 15:20] SmartNoel opened #3757 "BACKUP DATABASE is terminating abnormally"
Did it and I'm receiving the mentioned error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c3875ad-d73a-8f5b-e8ba-8418014fbada
* Version Independent ID: 13471101-d549-e73b-fef2-fed92518bfcf
* Content: [Run Transact-SQL Script Files Using sqlcmd - SQL Server](https://docs.microsoft.com/en-us/sql/ssms/scripting/sqlcmd

[2019-12-06 16:28] rothja commented on #2414
@SeanFeldman Yes. I'll reopen and thanks for the additional information. We'll investigate and update the documentation (and if it is a bug, we'll make sure to get it reported). Thank you!

[2019-12-06 18:47] MikeRayMSFT commented on #3594
Staging update in https://github.com/MicrosoftDocs/sql-docs-pr/pull/13134

[2019-12-06 18:58] #3594 closed

[2019-12-06 19:50] LuisGonzalezLT opened #3758 "1918"
It appears the underlying timezone rules that AT TIME ZONE uses selects 04/07/1918 2AM as the spring switch date/time instead of the correct 03/31/1918 2AM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc8b3b24-5a50-6b88-277a-e8ce528b49b2
* Version Independent ID: ed560876-5e84-cb31-1bd4-65b3b0e5da8b
* Content: [AT T

[2019-12-06 19:52] LuisGonzalezLT commented on #3758
Also uses 04/06/1919 instead of 03/30/1919

[2019-12-06 22:14] MikeRayMSFT commented on #2922
@perennialmind - per discussion with @pmasl, you may submit this request as a product feature request through [user voice](https://feedback.azure.com/forums/908035-sql-server/).

Thank you.

[2019-12-06 22:14] #2922 closed

[2019-12-06 22:17] MikeRayMSFT commented on #3244
@MNF  thank you for the submission. After a review with engineering, the documentation matches the functionality of the product.

[2019-12-06 22:17] #3244 closed

[2019-12-06 22:26] MNF commented on #3244
The statement "CHARINDEX cannot be used with image, ntext, or text data types." doesn’t match. See srutzky comment:
“For clarification, TEXT and NTEXT are invalid, but only for "expressionToFind".

[2019-12-06 22:34] reecemcg opened #3759 "Microsoft OLE DB Driver"
I've been trying to install SSMS and I get this error:
![sql install error](https://user-images.githubusercontent.com/36105656/70361079-4b7f5680-1878-11ea-89dd-f3139ae00eff.PNG)

I've tried installing the OLE and nothing rectifies this issues.

I've also attached the log here:
[SSMS-Setup-ENU_20191206223023.log](https://github.com/MicrosoftDocs/sql-docs/files/3934282/SSMS-Setup-ENU_20191206223023.

[2019-12-06 22:55] SteveKennedy opened #3760 "sqlsrv support for PHP 7.4 unclear"
https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/connect/php/download-drivers-php-sql-server.md

This page has drivers for PHP version 5.3 up to 7.3.  But it does not have support for PHP 7.4 which is the latest release of PHP on https://www.php.net/.

[2019-12-08 09:18] Kannas24 commented on #2691
Instructions mentioned on the link are not even working for me on MAC.
Error: sqlpackage: command not found.

[2019-12-08 21:40] sneevand opened #3761 "unable to install AZdata, got error"
pip3 install -r https://aka.ms/azdata  --quiet --user
    stderr:   ERROR: Command errored out with exit status 1:
    stderr:    command: 'c:\program files (x86)\python38-32\python.exe' 'c:\program files (x86)\python38-32\lib\site-packages\pip\_vendor\pep517\_in_process.py' build_wheel 'C:\Users\dnavi\AppData\Local\Temp\tmp_i2yk8ty'
    stderr:        cwd: C:\Users\dnavi\AppData\Local\Temp\pip-in

[2019-12-08 22:13] #3738 closed

[2019-12-09 05:43] arafubeatbox commented on #3410
Hello @jaszymas --
I am sorry for my late response.
I was able to configure secure enclaves for my SQL Server properly.
Thank you for your sincere support.

[2019-12-09 12:09] nickstocker opened #3762 "mastlog.ldf fails to move"
I have followed the procedure above for moving master log file on one instance with no issues but with another it simply doesn't work and continues to look for the log file in the original place.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9423e4-0573-7564-3f58-2a8df9a11d9f
* Version Independent ID: 5b88aa32-b6f7-

[2019-12-09 15:20] LuisGonzalezLT opened #3763 "1986 sprint DST change date is not correct for US"
AT TIME ZONE uses 04/06/1986 as the date that clocks in the US were set forward. I believe the correct date should be 04/27/1986. In 1986 Congress enacted P.L. 99-359, amending the Uniform Time Act by changing the beginning of DST to the first Sunday in April and having the end remain the last Sunday in October. These start and end dates were in effect from 1987 to 2006. The measure became law in

[2019-12-09 15:21] thedanfields opened #3764 ""Login failed for user ...""
I'm receiving the following error when executing this example:
[code]

The Spark|Scala code I'm executing in the Notebook is as follows:
[code]

I'm using the same credentials provided to the Notebook Scala code to log into the cluster.   I'm confident they work when accessing it externally.  Since they're passed plaintext I'm also confident I didn't mistype the password.

My (very un-educated) gu

[2019-12-09 15:25] LuisGonzalezLT commented on #3763
Looks like 1985 may also be incorrect, using 04/07/1985 instead of 04/28.
Maybe I am overlooking something and I am wrong but seems off.

[2019-12-09 15:58] mwdarab opened #3765 "Load sample data - Login Failed Error"
For #4 under Linux, it fails with "Login failed for user 'sa'. Reason: The account is disabled.." When the BDC is created, the 'sa' account is disabled by default. I had to go enable it, then run #4 again successfully.

Can there be a note that warns the reader that they will have to enable the 'sa' account? Also, after the data is loaded, is it safe to disable the sa account again? It would be ni

[2019-12-09 16:30] #3745 closed

[2019-12-09 17:45] mwdarab opened #3766 "Unnecessary Confusion"
Can #5 under section "Create an external table in the data pool" be removed? BDCs are GA now. Anyone running CTP 3.1 should upgrade. (It could potentially create unnecessary confusion for someone starting out with BDCs).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c639fd7-43ee-f24d-ce5e-530077367aab
* Version Indep

[2019-12-09 18:28] mwdarab opened #3767 "Login Failed for user ERROR"
I am currently going through https://docs.microsoft.com/en-us/sql/big-data-cluster/tutorial-data-pool-ingest-spark?view=sql-server-ver15#start-a-spark-streaming-job

and successfully get past #3 a., then when I run 3(b), I get the following "login failed for user root"...what am I missing?

[I am on my Surface Book 2 on ADS logged into my single node Ubuntu 18.04 kubeadm BDC server]

---
#### Docu

[2019-12-09 19:02] rajmera3 commented on #3766
Thanks for the catch @mwdarab. Updating now.

[2019-12-09 19:13] rajmera3 commented on #3767
@mwdarab Looking into this.

I believe if you follow these steps, it will fix it: https://github.com/microsoft/sql-server-samples/blob/master/samples/features/sql-big-data-cluster/spark/data-virtualization/mssql_spark_connector_user_creation.ipynb

This twitter streaming sample is up-to-date and working. The instructions are also applicable to the tutorial you are doing: https://github.com/microso

[2019-12-09 19:57] MikeRayMSFT commented on #3678
@Roadrunner67 - The point of the article is to demonstrate the scenario on Azure Kubernentes Service, as specified by the title. I've forwarded your concerns to program management.  Thank you for the submission.

[2019-12-09 19:57] #3678 closed

[2019-12-09 23:07] WilliamAntonRohm commented on #3748
@rohan2962 -- Rohan, thank you for your feedback.

@MashaMSFT -- Masha, please look into this issue 3748.

[2019-12-09 23:11] WilliamAntonRohm commented on #3757
@SmartNoel -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please provide more context around your general task.

[2019-12-10 00:11] msebolt commented on #3743
Closing the issue now, please comment below if there are any questions.

[2019-12-10 00:11] #3743 closed

[2019-12-10 00:12] msebolt commented on #3744
Closing the issue now, please comment below if there are any questions.

[2019-12-10 00:12] #3744 closed

[2019-12-10 00:12] msebolt commented on #3746
Closing the issue now, please comment below if there are any questions.

[2019-12-10 00:12] #3746 closed

[2019-12-10 00:55] WilliamAntonRohm commented on #3758
@LuisGonzalezLT -- thank you for finding these.  Please enter your feedback at:

- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2019-12-10 00:55] #3758 closed

[2019-12-10 00:59] WilliamAntonRohm commented on #3747
@immitev -- Ivan, thank you for your feedback.

@markingmyname -- Mark, please look into this issue 3747.

[2019-12-10 01:03] WilliamAntonRohm commented on #3759
@reecemcg -- thank you for your feedback.  Please see the following for possible answers:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

If you feel you've found a bug, please add that information here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

This repo is solely for documentat

[2019-12-10 01:03] #3759 closed

[2019-12-10 01:04] WilliamAntonRohm commented on #3760
@SteveKennedy -- Steve, thank you for your feedback.

@MightyPen -- Gene, please look into this issue 3760.

[2019-12-10 01:07] WilliamAntonRohm commented on #3761
@sneevand -- this repo is solely for documentation issues, and it appears you're having an issue with your scenario or implementation.  Please see the following for possible answers:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am closing this issue now.  You are welcome to @ mention

[2019-12-10 01:07] #3761 closed

[2019-12-10 02:08] MightyPen commented on #3760
@David-Engel  Hi David,  In this Issue #3760, can you ascertain whether this PHP download webpage is up to date?
`SteveKennedy` says the webpage currently support "7.3", and that he believes "7.4" should be added to the article.  Yet "5.6" is the highest version that my eyes see on the webpage?

- `https://docs.microsoft.com/en-us/sql/connect/php/download-drivers-php-sql-server?view=sql-server-ver

[2019-12-10 03:15] David-Engel commented on #3760
@SteveKennedy PHP 7.4 (which just release GA Nov 28) support is currently only available in the preview releases of the Microsoft Drivers 5.7.x for PHP for SQL Server. A GA version of the 5.7.x drivers has not yet been released. Look for a GA release around the end of January, at which time the documentation will be updated accordingly.

Regards,
David

cc: @MightyPen

[2019-12-10 04:50] MightyPen commented on #3760
@SteveKennedy Hi Steve, David-Engel's informative Comment makes it time for me to Close this Issue #3760 as Answered.

Thank you for reaching out to us with this concern.
And, thank you for submitting this Issue. We hope to hear from you again.

(The @ notification mechanism continues to work even after an item is Closed, in case further communication is needed.)

[2019-12-10 04:50] #3760 closed

[2019-12-10 04:58] SteveKennedy commented on #3760
Thank you. Based on this thread alone, I learned that there's a preview release of Microsoft Drivers 5.7.x for PHP for SQL Server. That solved my issue.

Leaves me wondering why links to the preview release couldn't be added to the page?

[2019-12-10 09:00] mcbits commented on #3694
I think the docs are correct. Disabling instant file initialization means the data will be overwritten with zeroes, which will increase the allocation time.

Maybe it's confusing because "disable instant" (i.e. disable no-zeroes) is kind of a double negative.

[2019-12-10 10:37] DaveBoltman opened #3771 "SQL handling of spaces"
Due to the way SQL (and thus SQL Server) handles trailing spaces, just the condition `WHERE value <> ''` is enough (`RTRIM `is not needed).
This is true even if there are spaces in the delimited string, e.g: `DECLARE @tags NVARCHAR(400) = 'clothing,road,      ,touring,bike'`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-12-10 14:09] AndreasWolter commented on #3541
So after a short exchange with StevenGo:
You can identify what permissions the fixed database role has with the has_perms_by_name and fn_my_permissions functions
- that is really all we have right now

[2019-12-10 14:15] yacineahbar opened #3772 "Setup seems to require ODBC Driver 13 and ODBC 17"
The installer does not recognize ODBC Driver 17. Is the doc wrong about this requirement ?

https://social.msdn.microsoft.com/Forums/en-US/16c996d7-c3b1-42e4-9a66-6e27f6ec85e2/microsoft-command-line-utilities-15-for-sql-server-installation-failed

[2019-12-10 14:49] bdenhollander opened #3773 "SSRS Report Viewer: 150.1400.0 Release Notes missing"
https://docs.microsoft.com/en-us/sql/reporting-services/application-integration/release-notes-ssrs-application-integration?view=sql-server-ver15

150.1400.0 was published to NuGet 2019-11-07 but there's no indication of what has changed.

[2019-12-10 16:47] srutzky commented on #3541
@AndreasWolter , et al.:

No, not really:

* [HAS_PERMS_BY_NAME](https://docs.microsoft.com/en-us/sql/t-sql/functions/has-perms-by-name-transact-sql) (emphasis added):

* [sys.fn_my_permissions](https://docs.microsoft.com/en-us/sql/relational-databases/system-functions/sys-fn-my-permissions-transact-sql) (emphasis added):

Since it is not possible to impersonate  / "execute as" a role (server or d

[2019-12-10 16:50] David-Engel commented on #3760
@SteveKennedy The docs for drivers generally represent GA released versions. Previews are announced via the [SQLServerDrivers blog](https://techcommunity.microsoft.com/t5/SQL-Server/bg-p/SQLServer/label-name/SQLServerDrivers) and on the repo for open source drivers for developers to try out and provide feedback before changes are introduced into a GA release:

PHP Repo: https://github.com/microsof

[2019-12-10 17:27] WilliamAntonRohm commented on #3762
@nickstocker -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please provide more context & details around your general task.

[2019-12-10 17:29] WilliamAntonRohm commented on #3763
@LuisGonzalezLT -- thank you for finding these; we appreciate your thoroughness.  Please enter your feedback at:

- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2019-12-10 17:29] #3763 closed

[2019-12-10 17:30] WilliamAntonRohm commented on #3764
@thedanfields -- Dan, thank you for your feedback.  You may find answers here:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-12-10 17:32] WilliamAntonRohm commented on #3771
@DaveBoltman -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue 3771.

[2019-12-10 17:34] thedanfields commented on #3764
Hey @WilliamAntonRohm, I followed the getting started docs related to the BDC.  I expected this Spark | Scala code to work, since it was provided by the those same docs.

There is no guidance you can offer other than links to other sources?

[2019-12-10 17:34] WilliamAntonRohm commented on #3772
@yacineahbar -- Yacine, thank you for your well-researched question.

@MightyPen -- Gene, please look into this potential documentation issue 3772.

[2019-12-10 17:36] nickstocker commented on #3762
Quite simply following the procedure for moving mastlog.ldf location from E: to L: has worked on almost identical servers but on this particular one it fails.
Process is:
1. Go to Config Mgr (also tried running as administrator) , right click properties of service, start-up params and the click on the '-l' parameter, update then enter the new path (checked ok and correct), click OK.
2. Get message

[2019-12-10 20:38] propellor opened #3776 "Blocking?"
Does adding a column to a table block other transactions against it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7f1c141-dea3-1a2c-ba2f-86163be24aa6
* Version Independent ID: 5d4a7221-2821-feb8-c74d-509c0c6e3889
* Content: [Add Columns to a Table (Database Engine) - SQL Server](https://docs.microsoft.com/en-us/sql/

[2019-12-10 20:55] WilliamAntonRohm commented on #3773
@bdenhollander -- thank you for bringing this to our attention.

@RhysSchmidtke -- please look into this issue 3773.

cc @MightyPen as a writer

[2019-12-10 21:03] RhysSchmidtke commented on #3773
Following up

[2019-12-10 21:28] MashaMSFT commented on #3748
Hi @rohan2962 , thank you for contacting Microsoft and for your feedback! You're right, it may be cleaner to fail AG1 to Node03, update Node01, and then move the AGs to a combination of Node01 and Node02 in order to upgrade Node03. However, the challenge with that is you would be hosting all 3 AGs on Node03 during the upgrade of Node02. If Node03 doesn't have enough resources to host all three AGs

[2019-12-10 21:28] #3748 closed

[2019-12-10 22:25] WilliamAntonRohm commented on #3762
@nickstocker -- thank you for clarifying.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

@stevestein -- please look into this issue 3762.

[2019-12-10 22:46] sstansfield opened #3777 "Typeo and better example for "Create a classification function for machine learning""
Step 2 of "Create a classification function for machine learning"
A better example would include the 'Mashup' engine as this is used by machine learning services:

 IF program_name() in ('Microsoft R Host', 'RStudio', 'Mashup') RETURN 'ds_wg';

Step 3 of "Create a classification function for machine learning"

You cannot alter "WITH" reconfigure;

 ALTER RESOURCE GOVERNOR WITH reconfigure;

This s

[2019-12-10 23:05] WilliamAntonRohm commented on #3765
@mwdarab -- Mohammad, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue 3765.

[2019-12-10 23:13] WilliamAntonRohm commented on #3777
@sstansfield -- Steve, thank you for your detailed feedback.

@dphansen -- David, please look into this issue 3777.

cc @MightyPen as a writer

[2019-12-10 23:52] MikeRayMSFT commented on #3771
@DaveBoltman - Thank you for the submission. We'll accept this request into our queue. If you'd like to update the content directly, please click **Edit** at the top of the article and submit a public pull request. For more information, [see Quick edits](https://docs.microsoft.com/contribute/#quick-edits-to-existing-documents) in our contributor guide.
Mike

[2019-12-10 23:52] #3771 closed

[2019-12-11 10:42] frank-digirati opened #3778 "Typo"
remove the odd "Want to"  list item under "Use Azure Data Studio if you:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbe4ef3a-6282-5c51-5810-c6d63f3a0e1b
* Version Independent ID: 6d655e24-fc84-aad0-2422-2451cfb1ad34
* Content: [What is Azure Data Studio - Azure Data Studio](https://docs.microsoft.com/en-us/sql/azu

[2019-12-11 13:57] JohnNelsonNmbr2 opened #3780 "Is there a way to programmatically enter this classification data"
I see the UI way to do this in the documentation, but how does one programmatically write the same classification data to SQL?  I would have expected to see TSQL examples to doing the same thing that was done through the UI above.

Is it just adding extended properties with the right property names then?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-12-11 16:06] adifranco1 opened #3782 "sqlmlutils fails on install"
ERROR: Could not build wheels for pymssql which use PEP 517 and cannot be installed directly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb790fba-2d19-b1a7-3935-6ec5f9207fcc
* Version Independent ID: f350cf6b-0fa8-6d76-8433-f3f752e62ecf
* Content: [Install Python packages with pip - SQL Server Machine Learning Serv

[2019-12-11 18:28] garyericson commented on #3782
@adifranco1 - Is this the text of an error message you received? What were you doing at the time?

[2019-12-11 18:35] adifranco1 commented on #3782
i ran this command "pip install --upgrade-strategy only-if-needed c:\temp\sqlmlutils-0.7.2.zip" as specified on Microsoft's site https://docs.microsoft.com/en-us/sql/advanced-analytics/package-management/install-additional-python-packages-on-sql-server?view=sql-server-2017#feedback

We're using SQL Server 2017 Enterprise. The documentation says we should be using sqlmlutils to load additional pyth

[2019-12-11 18:45] garyericson commented on #3782
@adifranco1 - Sorry you're having trouble. Yes, sqlmlutils is the best way to add packages. Is this the error message you receive: "ERROR: Could not build wheels for pymssql which use PEP 517 and cannot be installed directly." Could you show all the messages you get from pip when you run it?

[2019-12-11 18:50] adifranco1 commented on #3782
that is the exact error message i get

[2019-12-11 18:51] adifranco1 commented on #3782
ERROR: Command errored out with exit status 1:
   command: 'c:\users\adifranco\appdata\local\programs\python\python38-32\python.exe' 'c:\users\adifranco\appdata\local\programs\python\python38-32\lib\site-packages\pip\_vendor\pep517\_in_process.py' build_wheel 'C:\Users\ADIFRA~1\AppData\Local\Temp\tmpfi0b1_zm'
       cwd: C:\Users\adifranco\AppData\Local\Temp\pip-install-y7qck0b9\pymssql
  Complete

[2019-12-11 19:33] knutwannheden opened #3783 "SEQUENCES view missing in "System Information Schema Views (Transact-SQL)""
* ID: 7178ceb7-4a73-234d-fd3a-845754774ce7
URL: https://docs.microsoft.com/en-us/sql/relational-databases/system-information-schema-views/system-information-schema-views-transact-sql?view=sql-server-ver15

On this page there is no documentation about the `INFORMATION_SCHEMA.SEQUENCES` view.

[2019-12-11 20:28] HansSchulze opened #3784 "Interested in use case of INTO with temporary table"
SELECT blah
INTO #Product
FROM Production.Product
described in https://www.sqlshack.com/query-optimization-techniques-in-sql-server-tips-and-tricks/ about 60% of the way down.
Is there a different syntax?  Examples?
Interested in making mini tables out of a 2-3 way query (10M-&gt;2K), then another like that (10M-&gt;20K), then intersecting.

Not accepted by MSSQL 18.4

---
#### Document Details

⚠

[2019-12-11 20:51] WilliamAntonRohm commented on #3780
@JohnNelsonNmbr2 -- thank you for your questions.  You may find some answers here:
- [Transact-SQL - MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=transactsql)
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@barmichal -- please look into this issue 3780.

cc @Mighty

[2019-12-11 20:54] WilliamAntonRohm commented on #3783
@knutwannheden -- Knut, thank you for your feedback.

@CarlRabeler -- Carl, please look into this issue 3783.

[2019-12-11 22:51] m60freeman opened #3786 "MaxSizeInBytes values shown are for DTU model only."
MaxSizeInBytes values shown are for DTU model. Please update for vCore. Also, all of the vCore databases that I've tried return null.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09ca907e-99b6-3663-82bf-abe45f1ae76e
* Version Independent ID: 1acba411-593f-6cd2-7c76-8e35dbd8ac13
* Content: [DATABASEPROPERTYEX (Transac

[2019-12-11 23:14] #3778 closed

[2019-12-11 23:28] #3739 closed

[2019-12-11 23:53] WilliamAntonRohm commented on #3786
@m60freeman -- Mark, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue 3786.

[2019-12-12 00:12] pnwguy opened #3787 "Need to alias columns in multi-table query"
It would help if you aliased the columns in the multi-table query, so we know which columns are from which tables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 678c7ae3-295a-912b-9a1a-9bc9414178fd
* Version Independent ID: 99132c6a-7986-6403-b191-15b4ada93a76
* Content: [Format Nested JSON Output with PATH Mode - SQL

[2019-12-12 01:12] WilliamAntonRohm commented on #3749
@LuisGonzalezLT -- thank you for your feedback.  Please provide a little more context to be sure we are addressing your issue.

[2019-12-12 01:14] WilliamAntonRohm commented on #3390
@VanMSFT, @vin-yu -- Van, Vin, please look into this issue and [PR 12703](https://github.com/MicrosoftDocs/sql-docs-pr/pull/12703).

[2019-12-12 02:11] mwdarab opened #3788 "Additional info needed"
Under "Query the data", #1. says, "Before querying the ingested data, look at the Spark Execution Status..."

Can there be a sentence on *how* to do that? Where to find the "Spark Execution Status..."? It would make it a lot easier for people trying this out for the first time. It is a bit confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-12-12 02:23] mwdarab commented on #3766
#5 still exists.

[2019-12-12 02:30] mwdarab commented on #3767
But where are those steps on *this* page? Why isn't there a section that either has this information on this page (to lessen confusion) *or* a blurb section that says, "go do this then come back and continue"? This is very confusing to the beginner.

My goal is to "Load data with Spark" according to what is on *this* page. From beginning to end.

[2019-12-12 02:43] danvalero commented on #3390
any update in this matter?

[2019-12-12 03:09] TrustMeImADBA opened #3789 "Link goes to a 404"
The link for How to use Kerberos authentication in SQL Server  goes to a 404 page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16136000-fc6d-9156-499a-c45bde264bc4
* Version Independent ID: ea9aacfc-8f27-563f-08c8-77ac4e941cff
* Content: [Register a Service Principal Name for Kerberos Connections - SQL Server](https

[2019-12-12 04:28] rajmera3 commented on #3767
We are in the process of updating the docs. The links are supplied as reference until then.

[2019-12-12 11:57] vishalaj1 opened #3790 "Example for restoring database from multiple .bak files"
Hi Team,

We have multiple .bak files for database in storage account.

When in ssms i can select multiple files. How to put that in command line?

Regards,
Vishal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc04e819-4cfd-5b23-404b-8d4ed41afd21
* Version Independent ID: d254a232-e05d-0d52-0e25-7e83866f12e6
* Content

[2019-12-12 14:02] LuisGonzalezLT commented on #3749
If you try and run the following script in Azure Synapse Analytics (SQL DW)

SELECT * FROM sys.dm_db_partition_stats

You get the following error:

Msg 104385, Level 16, State 1, Line 1
Catalog view 'dm_db_partition_stats' is not supported in this version.

The documentation for sys.dm_db_partition_stats is tagged at the top indicating it should work. You just need to untag DW.

![image](https://u

[2019-12-12 14:46] eerik47 opened #3791 "Limits, best practices and bechmark"
Can you please share any limitations - e.g.  number of files in container or folder, file size, ... and the best practices from point of parallel load (is better to have lots of small files or a few large files ... the best file size, …). BTW - what is technology behind COPY, is it Polybase. If not can you compare performance with Polybase and share some benchmark (similar to polybase benchmark)?

[2019-12-12 16:50] dphansen commented on #3777
Assigning this to @garyericson

[2019-12-12 17:27] RhysSchmidtke commented on #3773
The doc update should be live soon.

[2019-12-12 17:40] WilliamAntonRohm commented on #3749
@LuisGonzalezLT -- thank you for clarifying.  I am looking into the documentation.

[2019-12-12 18:04] #3773 closed

[2019-12-12 21:05] pcand01 opened #3792 "Example provided generates error "Invalid Column Name" '__$command_id'"
sys.sp_cdc_generate_wrapper_function generates a bug Invalid column name '__$command_id'
See this for more info. https://stackoverflow.com/questions/49440025/sql-server-cdc-invalid-column-name-command-id

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d9b8218-779e-0221-20db-7927954f7c62
* Version Independent ID: ae1737

[2019-12-12 21:57] garyericson commented on #3777
@sstansfield - Thanks for catching this. I'll go ahead and make the changes, but just so you know, you can submit changes like these yourself by editing the article directly. If you're interested, here are the instructions: https://docs.microsoft.com/en-us/contribute/

@dphansen

#please-close

[2019-12-12 21:57] #3777 closed

[2019-12-12 22:18] WilliamAntonRohm commented on #3749
@LuisGonzalezLT -- there is a note following the first paragraph on that page:

Please try the suggested name and let me know whether it works for you.

[2019-12-12 23:03] msebolt commented on #3787
@pnwguy  Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-12-12 23:03] msebolt commented on #3788
@mwdarab Thank you for the feedback, assigning this to the author for review.

[2019-12-12 23:07] msebolt commented on #3789
@TrustMeImADBA Thank you for the feedback.

The documentation has been updated and is pending review.

@MikeRayMSFT

[2019-12-13 00:12] amthomas46 opened #3793 "is this page still valid - azure sql database v11"
I am wondering if this page should be archived? Isn't everything v12? Also, do customers know what v11/v12 means?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f8d9ca6-1795-8023-871e-9f5521440a7d
* Version Independent ID: c8619519-e5a8-f6ff-89dd-3805476b0f19
* Content: [dbo.server_quotas (Azure SQL Database)

[2019-12-13 02:30] WilliamAntonRohm commented on #3790
@vishalaj1 -- Vishal, thank you for your feedback.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-12-13 02:30] #3790 closed

[2019-12-13 02:32] WilliamAntonRohm commented on #3791
@eerik47 -- thank you for your feedback.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2019-12-13 02:32] #3791 closed

[2019-12-13 05:57] msebolt commented on #3792
@pcand01 Thank you for the feedback and for providing a link to the extra info.

Assigning this to author for review.

[2019-12-13 06:02] msebolt commented on #3793
@amthomas46 Thank you for the feedback,

You are correct in that v11/v2 was deprecated since 2016,  see [here](https://techcommunity.microsoft.com/t5/Azure-Database-Support-Blog/No-Azure-SQL-V2-or-as-called-sometimes-V11-anymore/ba-p/368815).

Assigning this to the author for review.

[2019-12-13 06:25] #3787 closed

[2019-12-13 06:26] #3789 closed

[2019-12-13 07:48] caopengfei opened #3794 "SQLServerAgent terminated"
2019-12-13 14:59:28 - ? [101] SQLServerAgent service successfully started
2019-12-13 14:59:28 - ? [350] Waiting for SQL Server to start...
2019-12-13 14:59:30 - ? [000] Event Global\sqlserverRecComplete opened
2019-12-13 14:59:30 - ? [500] Waiting for SQL Server to recover all databases...
2019-12-13 14:59:31 - ? [100] Microsoft SQLServerAgent version 14.0.3257.3 (X64 unicode retail build) : Proce

[2019-12-13 09:25] eerik47 commented on #3791
Hi, I am sorry, limits should be part of documentation. BTW both links (DBA Stack Exchange, Stack Overflow) are general link to website. Can you please share links to "COPY" statement. You can save time to other guys.

[2019-12-13 09:53] shikharbsar opened #3795 "Copy into command copying only one row from the blob storage specified not the whole table."

[2019-12-13 11:04] mallaway opened #3796 "Hash Sum mismatch: packages.microsoft.com/ubuntu/16.04/prod/dists/xenial/main/binary-amd64/Packages.gz"
When following [these instructions](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-tools?view=sql-server-ver15#ubuntu) re. install the MS tools on Ubuntu we are getting the error  `E: Failed to fetch https://packages.microsoft.com/ubuntu/16.04/prod/dists/xenial/main/binary-amd64/Packages.gz  Hash Sum mismatch`
From previous issues it looks like this issue has happened before.

[2019-12-13 11:05] momchilok opened #3797 "step 4 and 5 are the same text just copied again (On the Select a Partition Function page, )"
[Enter feedback here]
step 4 and 5 are the same text just copied again (On the Select a Partition Function page, )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4466c524-282b-adc0-d539-3eb85d956597
* Version Independent ID: 08052bb4-d7bb-02ab-6d37-e3fcce20846c
* Content: [Create Partitioned Tables and Indexes - SQL Se

[2019-12-13 11:32] richlionm2 opened #3798 "T-SQL syntax - Create Login: inconsistent information on where to put commas"
[Enter feedback here]

Hello,

I have got not clue how this works, but I'll try this.
I needed the correct syntax on the T-SQL command "create login":
https://docs.microsoft.com/en-us/sql/t-sql/statements/create-login-transact-sql?view=sql-server-ver15

There are not enough real life example. I struggled to use this statement, googled for 30 minutes, then I tried to check the commas, so my stateme

[2019-12-13 13:34] derrix060 commented on #3796
Steps to reproduce: `docker pull ubuntu:16.04 && docker run --rm -it ubuntu:16.04 bash -c 'apt-get update -qqy && apt-get install -y curl apt-transport-https && curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add - && curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list | tee /etc/apt/sources.list.d/msprod.list && apt-get update'`

Output
[code]

[2019-12-13 14:30] LuisGonzalezLT commented on #3749
Oh yes. That does work. Sorry... ty

[2019-12-13 15:02] NettSite opened #3799 "W: Conflicting distribution: https://packages.microsoft.com/ubuntu/16.04/mssql-server-2019 xenial InRelease (expected xenial but got stable)"
I would like to install SQL Server Express on my Ubuntu 18.04 desktop, running an I3 processor.

Trying to add the repository I get the following:

W: Conflicting distribution: https://packages.microsoft.com/ubuntu/16.04/mssql-server-2019 xenial InRelease (expected xenial but got stable)
N: Skipping acquire of configured file 'main/binary-armhf/Packages' as repository 'https://packages.microsoft.c

[2019-12-13 15:04] noppGithub opened #3800 "Fail to build Docker image using the same guide provided by Microsoft"
On this Monday, I was able to build a Docker image using the [guide](https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-2017) provided by Microsoft.

I was always working fine until now(2019-12-13 21:49 GMT+7)
It does fail at step number **7** with the following message.
It looks like something has been changed today earl

[2019-12-13 15:45] JulioNobre opened #3801 "Error highlighting"
Since interferences from this measure would be nothing but benign, I think **Exception** event (from **Errors and Warnings** group) should be always present in public **SQL Server Profiler** templates like this.
The main benefit from this measure would be pointing less experient users to the right diretion, while promoting a possible significant reduction on troubleshooting tracing anomalies.

Tha

[2019-12-13 17:03] ajcarmen commented on #3800
It seems that something has gone wrong with an update to the Linux drivers and their hashes overnight.  There is a hash mismatch that is causing the install to fail.  This error is being reported elsewhere (https://developercommunity.visualstudio.com/content/problem/856147/one-of-my-jobs-is-failiing-because-of-a-hash-misma.html, https://stackoverflow.com/questions/59324199/docker-microsoft-package

[2019-12-13 17:19] MightyPen commented on #3800
@rothja Hi Jason, I wonder whether you might know someone who could investigate this Issue #3800 ?

[2019-12-13 17:28] emischim commented on #3468
Hello, i am having similar issue, tried re-installing, still same issue

[2019-12-13 17:48] MightyPen commented on #3800
@vin-yu Hi Vin, If you can offer any insight here in Issue #3800, that would be very helpful.

@noppGithub Hello, These Docs "Issues" can only service flaws in the `https://docs.microsoft.com/` documentation.  These Issues cannot provide product support. The best thing would be for you to pursue a Microsoft support channel.

So I must now Close this Issue. But these `@` notifications in new Commen

[2019-12-13 17:48] #3800 closed

[2019-12-13 17:54] noppGithub commented on #3800
@MightyPen Thank you so much for the reply, I will open a support case with Microsoft.

[2019-12-13 17:55] MightyPen commented on #3800
@karinazhou Hi Karina, You are listed as a contact for the particular article that the customer is concerned about here in GitHub Issue #3800. If you can offer any insight for the described problem, that would be very helpful.

The best way to submit your feedback would be to create another Comment here, and in it `@` mention the original poster noppGithub.

Thank you.

cc: @David-Engel

[2019-12-13 18:39] mwdarab opened #3802 "Remove outdated information"
Please remove #6 under Create an external table in the data pool. We are in GA and no longer need to reference CTP version. It only adds to confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf1b0e77-0f03-7b70-b2e3-26911e49dd47
* Version Independent ID: 511793e4-b3c5-3d07-a8e9-bc10b8347985
* Content: [Ingest dat

[2019-12-13 18:40] CeciAc opened #3803 "Broken debian packages repository"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/sql-docs.pt-br/issues/34

@rodrigomaraujo commented 1 hour ago
Since Dez, 13 2019 update the package repository is bronken.

https://packages.microsoft.com/debian/10/prod/dists/buster/Release and https://packages.microsoft.com/debian/10/prod/dists/buster/InRelease has different size and hashes from https://packages.microsoft.com/deb

[2019-12-13 18:50] HansSchulze commented on #3784
Sorry, @WilliamAntonRohm, the simplest examples I found are not accepted by MSSQL 18.4, giving a syntax error.

[2019-12-13 18:53] JohnNelsonNmbr2 opened #3804 "Truncating behavior on RLS filtered table"
How does TRUNCATE work on a table using row-level security based on, say, SPID filtering?  The documentation doesn't say...

Lets say I do the following:
1. Create a table
2. Create a row level security filter function based on the SPID
3. Create a security policy with a filter predicate using that SPID function on that table
4. Open two different SSMS sessions, create rows in that table from both

[2019-12-13 18:56] karinazhou commented on #3800
@noppGithub Hi, thank you for reporting this.
@MightyPen   Hi Gene, I am currently not working with the ODBC team. Adding @v-makouz to investigate the issue.

[2019-12-13 19:11] msebolt commented on #3794
@caopengfei Thank you for the feedback.

You can try following the guidance from [this post](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/24443bd9-df29-443d-80a7-24d5cb00622f/cannot-not-connect-to-sql-server-instance?forum=sqlsetupandupgrade) or [here](https://stackoverflow.com/questions/36519246/azure-web-app-error-no-such-host-is-known), though please note since this is a documentati

[2019-12-13 19:11] JohnNelsonNmbr2 opened #3805 "TRUNCATE behavior on RLS"
Perhaps this question belongs here instead of the TRUNCATE TABLE page...

How does TRUNCATE work on a table using row-level security based on, say, SPID filtering? The documentation doesn't say anything about TRUNCATE behavior...

Lets say I do the following:

1. Create a table
2. Create a row level security filter function based on the SPID
3. Create a security policy with a filter predicate usin

[2019-12-13 19:12] JohnNelsonNmbr2 commented on #3804
Duplicate with #3805

[2019-12-13 19:12] #3804 closed

[2019-12-13 19:13] msebolt commented on #3795
@shikharbsar Thank you for the feedback.

Please provide a link to the documentation in question and we will be happy to provide an update.

[2019-12-13 19:21] msebolt commented on #3796
@mallaway Thank you for the feedback.

A similar issues was posted [here](https://stackoverflow.com/questions/59322518/hash-sum-mismatch-for-microsoft-packages-on-ubuntu-16-server) and appears to have been resolved.

Can this be confirmed?

[2019-12-13 19:23] v-makouz commented on #3800
I checked the Debian 9 package on a clean VM, it installed without errors. It seems like whatever was broken got fixed already.

[2019-12-13 19:32] ajcarmen commented on #3800
I just retried as well with Debian 9 and was able to install successfully.  Thanks everyone for your help!

[2019-12-13 19:33] MikeRayMSFT commented on #3628
@bghehem - I've staged an update and am having it reviewed internally. The note applies to when a database status is ONLINE. The note does not apply to  when the database status is SUSPECT.  I think the document shows it.

But to clarify, the proposed update to the note would read:

Do you believe that provides sufficient clarity?

[2019-12-13 19:38] msebolt commented on #3797
@momchilok Thank you for the feedback.

Steps 4 and 5 are similar, though each appear to represent an additional step needed to create the partition table.

Please provide further description to the issue if you'd like an update.

[2019-12-13 19:40] rodrigomaraujo commented on #3803
Great, I tested now and seens that resolved :)

# apt-get update
Get:1 http://security.debian.org/debian-security buster/updates InRelease [65.4 kB]
Hit:2 http://deb.debian.org/debian buster InRelease
Hit:3 http://deb.debian.org/debian buster-updates InRelease
Get:4 http://security.debian.org/debian-security buster/updates/main amd64 Packages [162 kB]
Get:5 https://packages.microsoft.com/debian/10

[2019-12-13 20:36] seanwhitepc opened #3806 "Error with Publish using publish profile -" DropExtendedPropertiesNotInSource conflicts with the selected DoNotDropObjectType ExtendedProperties""
As the title says, I get this error when trying to Publish using a publish profile XML:

DropExtendedPropertiesNotInSource conflicts with the selected DoNotDropObjectType ExtendedProperties

I have specified to drop objects in target that are not in source, but have excluded everything except for Tables and Synonyms.  Here are the two lines I believe are related to this error:

&lt;DropObjectsNotI

[2019-12-13 21:15] PrometheusRising1 opened #3807 "Error Reporting Parameter"
In the Installation Parameters section, please clarify /ERRORREPORTING description - it seems to be saying what works/does not work for SQL 2016 - can you please clarify for 2017+ and clarify the entry overall (i.e. does it still actually work?)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ff01c71-f3bf-2c3a-5e90-b1

[2019-12-13 21:19] mallaway commented on #3796
Hi @msebolt
Thanks ever so much for the prompt response! :-) I've just done some testing and we are now getting clean and error free image builds so the issue does indeed appear to be fixed.
Closing this issue.

[2019-12-13 21:19] #3796 closed

[2019-12-13 22:17] WilliamAntonRohm commented on #3784
@HansSchulze -- Hans, you can also try:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

@VanMSFT -- please look into this issue 3784.

[2019-12-13 22:19] PrometheusRising1 opened #3808 "Password Required, but How to use NT Service?"
Hi, it says that things like /AGTSVCPASSWORD or /SQLSVCPASSWORD are required, but what do you do if you want a quiet install that uses NT Service\SQLSERVERAGENT or NT Service\MSSQLSERVER?  In the GUI, this is easy, but what about from command line?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ff01c71-f3bf-2c3a-5e90-

[2019-12-14 17:08] emad-almousa opened #3810 "Documentation Mistake !!"
db_accessadmin is the database permission that will enable the database account to add new members to the partially contained database Not db_securityadmin !

i think the paragraph wording is not clear.

Regards,
Emad Al-Mousa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9d16565-6317-df2b-41d7-701eb83fb90b
* Version

[2019-12-15 03:10] Mitch-Wheat opened #3811 "Typos"
Column 'transaction_isolation_level' values description should read:

1 = ReadUncommitted
....
3 = RepeatableRead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3c4e75e-7e4b-3143-8f2f-1d866f309c90
* Version Independent ID: d7b963c0-691a-f4af-35e6-bb84fca98ff2
* Content: [sys.dm_exec_sessions (Transact-SQL) - SQL Serve

[2019-12-15 03:52] kenakamu opened #3812 "The code failed because of a fatal error: Invalid status code '401'"
I setup BDC by using default azdata template with 1 cluster, and I didn't change any password so far.
I imported sample data and at step 3 of this page, i cannot connect to gateway.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c639fd7-43ee-f24d-ce5e-530077367aab
* Version Independent ID: 28059c60-abe8-e4f8-08c5-221c

[2019-12-16 01:37] noppGithub commented on #3800
@karinazhou @v-makouz @MightyPen Thanks to all of you, now it's back to work again :)

[2019-12-16 10:03] shikharbsar commented on #3795
https://docs.microsoft.com/en-us/sql/t-sql/statements/copy-into-transact-sql?view=azure-sqldw-latest. This is the command I am talking about. It is copying only the first row not the entire row.

[2019-12-16 11:45] brettshearer opened #3814 "No mention of errors that may occur using this catalog view"
Unfortunately when a database is in restoring state, this statement aborts.

SELECT * FROM sys.change_tracking_databases

Msg 927, Level 14, State 2, Line 50
Database 'OdysseyFMAPER' cannot be opened. It is in the middle of a restore.

Perhaps this could be fixed, or update the documentation if it is yet again, 'by design'.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-12-16 13:55] lypolyzo opened #3815 "SQL server manager doesn't allow changes unless the database is dropped and recreated"
I tried using the designer but the command required to drop and recreate the table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76507156-d85c-e9f0-a214-3a9f1eb0f1fc
* Version Independent ID: 045c9c15-fbf9-abf9-c48a-904733e7ab42
* Content: [Change Column Order in a Table - SQL Server](https://docs.microsoft.com/en-us/

[2019-12-16 15:18] rgosling commented on #3393
I'm seeing the same thing and yes - it's reporting that Polybase is installed.

[2019-12-16 15:45] bgehem commented on #3628
That makes it perfectly clear.

One small thing: can accept is duplicated.

[2019-12-16 17:05] MashaMSFT commented on #2961
@tmichael-ms , I am assigning this Git Issue to you. Would you mind updating it once the download page has been updated appropriately?

Thank you!
Masha from the SQL Docs team

[2019-12-16 17:13] MashaMSFT commented on #3807
Hi @PrometheusRising1 , thanks for contacting Microsoft! Let me look into this for you.

Thanks!
Masha from the SQL Docs team

[2019-12-16 17:16] MashaMSFT commented on #3808
Hi @PrometheusRising1 , thanks again for reaching out! Let me look into this as well for you :)

Thanks!
Masha from the SQL Docs team

[2019-12-16 17:24] MashaMSFT commented on #3814
Hi @brettshearer , thanks for bringing this to our attention! Let me look into this for you.

Thanks!
Masha from the SQL Docs team

[2019-12-16 20:34] Jazzbear opened #3817 "Error in documentation in regards to "IntegratedSecurity" argument/option."
Hey, i've noticed an error or "mismatch" in the documentation in regards to how the IntegratedSecurity option.
In the documentation it is stated as two-word connected and pascal cased string, like so: IntegratedSecurity=SSPI.
Reference link: https://docs.microsoft.com/en-us/sql/database-engine/availability-groups/windows/listeners-client-connectivity-application-failover?view=sql-server-ver15#Conn

[2019-12-16 20:40] filippz opened #3818 "Installing package with sqlmlutils on SQL 2019 RTM causes DBCC CHECKDB to fail"
I noticed that if I use sqlmlutils  to install package and run DBCC CHECKDB I get an error:
[code]
Removing the installed package gets things back into normal - so it might be caused by DBCC CHECKDB not fully "understanding" what's going on.

At the same time installed module can be found by SQL Python runtime for limited period of time (possibly an period of inactivity) after which the script tha

[2019-12-16 21:18] MashaMSFT commented on #3817
Hi @jazzbear, thank you so much for bringing this to our attention! Did you want to make the change yourself? This will list you as a contributor to the doc :)

If so, here are the steps:
1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil" icon on the right
4. Modify the text within the text box in markdown format - more info: https:/

[2019-12-16 21:18] markingmyname commented on #3328
@dnethi

Any update?

[2019-12-16 21:26] jaszymas commented on #3115
@jbolduc81 - we have confirmed this is a breaking change and we will work on updating the documentation to make that clear. Thanks for your input.

[2019-12-16 21:29] markingmyname commented on #3395
@duncfair,

I apologize for the delayed response, but the answer is "yes."

When I did my own test with CMDExec I was around 724 KB vs PowerShell at about 31000kb.

[2019-12-16 21:30] markingmyname commented on #3395
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-12-16 21:30] #3395 closed

[2019-12-16 21:33] markingmyname commented on #3404
@abij,

We apologize for the delayed response.

Did this article not help you at all? - https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-tools?view=sql-server-ver15.

Please confirm.

Thank you.

[2019-12-16 21:39] WilliamAntonRohm commented on #3794
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-12-16 21:39] #3794 closed

[2019-12-16 21:52] rothja commented on #3393
@rgosling I am sorry you're having problems. It looks like @MikeRayMSFT was unable to reproduce the problem, so it is possible that there is some other reason why PolyBase is not working on your configuration. The best thing to do in this case might be to reach out to Microsoft Support to see if they can troubleshoot. I'm sorrry, but we're not sure what the problem might be. However, if more infor

[2019-12-16 22:03] WilliamAntonRohm commented on #3799
@NettSite -- William, it looks like you’re having an issue with installation. If your Visual Studio installation fails, see [Troubleshooting Visual Studio installation and upgrade issues](https://docs.microsoft.com/visualstudio/install/troubleshooting-installation-issues) for step-by-step guidance.​

We also offer a [Live Chat](https://visualstudio.microsoft.com/vs/support/#talktous) (English only

[2019-12-16 22:07] WilliamAntonRohm commented on #3798
@richlionm2 -- thank you for your feedback.  I am looking into this documentation.

[2019-12-16 22:36] Jazzbear commented on #3817
Hey, thanks for getting back to me so fast. I would love to give it a go
changing it myself, I will do it tomorrow then, as it is 23:35 her in
Denmark right now :)

man. 16. dec. 2019 22.18 skrev Masha at MSFT <notifications@github.com>:

[2019-12-16 22:38] sachinbabuputhur commented on #3623
You can't import the tables themselves, but you can import the view which describes the relationships.

[2019-12-16 22:49] WilliamAntonRohm commented on #3801
@JulioNobre -- Júlio, thank you for your feedback.  Please add your ideas here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2019-12-16 22:49] #3801 closed

[2019-12-16 22:51] WilliamAntonRohm commented on #3802
@mwdarab -- Mohammad, thank you for your suggestion.  I am looking into this documentation.

[2019-12-16 22:53] WilliamAntonRohm commented on #3803
@CeciAc, @rodrigomaraujo  -- Cecilia, Rodrigo, I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2019-12-16 22:53] #3803 closed

[2019-12-17 01:07] WilliamAntonRohm commented on #3805
@JohnNelsonNmbr2 -- thank you for your feedback.  You may find answers to your questions here:
- [Transact-SQL - MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=transactsql)
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@VanMSFT -- please look into this potential doc

[2019-12-17 01:08] WilliamAntonRohm commented on #3806
@seanwhitepc -- thank you for your feedback.  This repo is only for documentation issues.  You may find answers to your questions here:

- [Transact-SQL - MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=transactsql)
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am

[2019-12-17 01:08] #3806 closed

[2019-12-17 01:11] WilliamAntonRohm commented on #3810
@emad-almousa -- Emad, thank you for your feedback.

@VanMSFT -- Van, please look into this issue 3810.

[2019-12-17 01:12] WilliamAntonRohm commented on #3799
@NettSite -- William, thank you for your feedback.  You may find answers here:
- [Transact-SQL - MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=transactsql)
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am closing this issue now.  You are welcome to @ mention me f

[2019-12-17 01:12] #3799 closed

[2019-12-17 01:16] WilliamAntonRohm commented on #3812
@kenakamu -- Kenichiro, thank you for your feedback.

@rajmera3 -- Rahul, please look into this issue 3812.

cc @MightyPen as a writer

[2019-12-17 01:17] WilliamAntonRohm commented on #3815
@lypolyzo -- Thanks for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please provide more context around your general task.

[2019-12-17 01:26] MightyPen commented on #3812
@MikeRayMSFT Mike, This is a big-data-cluster Issue #3812 , on which you are the `ms.reviewer`.  So I am switching the assigned Writer from me to you.

Of course, we are nevertheless looking for the PM to enter a Comment into this Issue.
Thanks.  G.

cc: @WilliamAntonRohm @rajmera3

[2019-12-17 02:16] kenakamu commented on #3812
It seems like if I use "$" as part of password, it fails. From the doc, I don't consider this is not prohibited letter though.

[2019-12-17 02:41] Matteo-T commented on #3650
The message you are seeing you are seeing is expected: it's basically PowerShell telling you that there is another module (SQLPS) that has cmdlets with the same name as the ones in the module you are installing (SQLServer).

What is not expected is that things gets broken: they two modules don't really share any binaries, so there should be no issues. However, you should be a little careful when u

[2019-12-17 06:20] Mitch-Wheat opened #3820 "Typo?"
"which users can anticipate until performing an operation." should probably read "which users can't anticipate until performing an operation."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf421288-ba40-3904-72d1-07de1c69e211
* Version Independent ID: f388925a-a573-65ab-e0db-fe61245df123
* Content: [char and varchar (

[2019-12-17 11:15] mrezalamei opened #3822 "i can not install sqlserver on mint 19.2"
After executing this command
sudo add-apt-repository "$(wget -qO- https://packages.microsoft.com/config/ubuntu/16.04/mssql-server-2017.list)"

It gives output

Malformed input, repository not added
--------------------------------------------------------------------------------------------
sorry my english is bad

[2019-12-17 13:36] Ma8e opened #3823 "Not easy enough to navigate to old version of SQL server"
I'm working with SQL Server 2014, and tried to use TRIM in an script, which of course didn't work. So I search for TRIM and en up on the Transact-SQL (T-SQL) Reference page for TRIM. On that page there's no information which versions TRIM works for. So I choose SQL Server 2014 in the version selector in the upper left corner of the page, but gets immediately transferred to the SQL Server 2019 page

[2019-12-17 15:37] markingmyname commented on #3219
@mco100,

I am discussing with our partner teams to make sure there are no other arguments missign we need to add as well.  I am also double checking if this article needs to be refreshed.

Thank you for your patience.

[2019-12-17 15:46] MrZev opened #3824 "Typo of tull should be full."
"Disable or re-enable tull-text indexing for a table"  Says tull and not full.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5332b85c-c67f-2dfe-3fec-d4bc978822de
* Version Independent ID: 6239c2b0-c81e-f22c-bdff-1393cd372aab
* Content: [Create and Manage Full-Text Indexes - SQL Server](https://docs.microsoft.com/en-us

[2019-12-17 16:08] richardck opened #3825 "Fault in "Insert data into a table" step."
I think something is wrong in this tutorial.  At the "Insert data into a table" step I entered:
-- Standard syntax
INSERT dbo.Products (ProductID, ProductName, Price, ProductDescription)
    VALUES (1, 'Clamp', 12.48, 'Workbench clamp')
GO

and the result was:

Msg 2627, Level 14, State 1, Line 2
Violation of PRIMARY KEY constraint 'PK__Products__B40CC6EDC940AC97'. Cannot insert duplicate key in o

[2019-12-17 16:16] markingmyname commented on #3219
Added the -k/-K arguments to the dta article.

I will still be working on making sure this article is up to date with no missing arguments going forward.

Thank you.

[2019-12-17 16:17] markingmyname commented on #3219
It should be updated by tomorrow.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-12-17 16:17] #3219 closed

[2019-12-17 16:39] markingmyname commented on #3544
@erinstellato,

Thank you for pointing this out.

This information will be added by  the end of the week.

[2019-12-17 16:39] markingmyname commented on #3544
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-12-17 16:39] #3544 closed

[2019-12-17 16:41] Al-ex-and-er opened #3826 "Wrong return type for BINARY input"
Hi,
This function should return 'the same type as string_expression' but for BINARY input I get VARCHAR as a result. Is it documentation or product issue?

declare @vb varbinary(10) = 0x01
declare @res sql_variant = REPLICATE(@vb, 2)
SELECT sql_variant_property(@res, 'BaseType')

Expected type is 'varbinary', the same type as @vb but actual result is 'varchar'. Is it possible to get VARBINARY resu

[2019-12-17 16:44] markingmyname commented on #3633
@PrometheusRising1,

I apologize for the delay.

Can I ask what are specifically you are clicking to get this result?

Is this the MsSqlCmdLnUtils.msi (https://docs.microsoft.com/en-us/sql/tools/sqlcmd-utility?view=sql-server-ver15)?

Please let me know.

Thank you.

[2019-12-17 16:51] markingmyname commented on #3650
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-12-17 16:51] #3650 closed

[2019-12-17 17:17] markingmyname commented on #3747
@immitev,

I apologize for the delayed response.

Thanks for your comment.

Your contribution is much appreciated.

However, our team can only answer feedback related to the documentation. Please kindly log your product feedback by using the button "Give Product Feedback" at the bottom of the DOCS page or visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) page. If you have