[2020-05-01 19:30] #4683 closed

[2020-05-01 19:34] WilliamAntonRohm commented on #4680
@kartas39 -- Sergei, thank you for your feedback.  Please see these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to post your issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any

[2020-05-01 19:34] #4680 closed

[2020-05-01 19:47] JpsKaGitHub opened #4689 "MS Docs reference to the VIRTUAL master database"
Specifically in the section below: (what is meant by virtual master database? No *.MDF and *.LDF files as in the case of physical databases?

Special Roles for SQL Database and SQL Data Warehouse
These database roles exist only in the virtual master database. Their permissions are restricted to actions performed in master. Only database users in master can be added to these roles. Logins cannot be

[2020-05-01 19:59] VanMSFT commented on #4689
Hi @JpsKaGitHub - It's referring to the master database in the logical Azure SQL Database server. Does that answer your question?

[2020-05-01 20:00] WilliamAntonRohm commented on #4679
@brettshearer -- Brett, thank you for your feedback.  The document states:

@stevestein -- Steve, can you add anything here?

[2020-05-01 20:03] WilliamAntonRohm commented on #4684
@lacaradonna -- thank you for your feedback.  This repo is solely for documentation issues.  Please try these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You're welcome to add your feedback here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-05-01 20:03] #4684 closed

[2020-05-01 21:06] MEhrenmueller opened #4690 "RODBCext is deprecated"
According to
https://cran.r-project.org/web/packages/RODBCext/index.html
"Package ‘RODBCext’ was removed from the CRAN repository." as of 2020-02-24.
It's not available on mran.microsoft.com neither.

As package sqlmlutils depends on package RODBCext this documentation is outdated. Can you please provide a alternative description how to proceed.

---
#### Document Details

⚠ *Do not edit this sect

[2020-05-01 22:17] SeaDude opened #4691 "Add or remove role Active Directory members?"
How do we ADD MEMBER for Active Directory users?
Example:
- New AD User created with:

[code]
Now trying to add this user to `testRole` using:
[code]
Does not work. Please add an AD example. Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08b8d0a0-540c-51b9-0862-61cdb1f93c14
* Version Independent ID: 15f49975-

[2020-05-01 22:24] ryanwadebg opened #4692 "Trouble installing sqlmlutils_0.7.1"
As stated in a previous issue the RODBC package has been removed from CRAN. I installed an archive version using the following code:

[code]

That appeared to work but I then ran into problems when I ran the second piece of code in the command prompt:

[code]
The code appeared to run successfully but when I tried to load the package I got the following error:
[code]
I don't know exactly what this

[2020-05-01 22:25] WilliamAntonRohm commented on #4611
@stevestein -- please review [private PR 14804](https://github.com/MicrosoftDocs/sql-docs-pr/pull/14804).

[2020-05-01 22:27] SeaDude commented on #4691
Found the answer. Needed to use: `ALTER ROLE testRole ADD MEMBER [bob@bob.com]`
Please consider updating the docs here with this example. Found answer on [StackOverflow](https://stackoverflow.com/questions/51642423/azure-sql-database-user-not-inheriting-role-permissions).

[2020-05-01 23:03] ryanwadebg commented on #4692
FYI, I was able to install sqlmlutils using R 3.6.3 using the above method but not R 3.6.2 or R 4.0.0.

[2020-05-01 23:33] brettshearer commented on #4624
I have checked this in SQL 2017 CU20 and the problem is still there.
201 rows of data in the histogram for DBCC, 200 rows of data for sys.dm_db_stats_histogram on a fully loaded table.

Here is a trivial repro

[code]

[2020-05-01 23:41] WilliamAntonRohm commented on #4612
@ochoto -- Xabi, it seems the descriptions are accurate as-is.

@julieMSFT -- Julie, please help clarify the difference here in plural vs singular:

[2020-05-01 23:45] WilliamAntonRohm commented on #4627
@MikeRayMSFT -- Mike, please review [private PR 14810](https://github.com/MicrosoftDocs/sql-docs-pr/pull/14810).

[2020-05-01 23:47] #4632 closed

[2020-05-01 23:53] WilliamAntonRohm commented on #4633
@pmasl -- Pedro, please review [private PR 14811](https://github.com/MicrosoftDocs/sql-docs-pr/pull/14811).

[2020-05-01 23:57] pmasl commented on #4633
This had already been fixed.

[2020-05-02 00:50] WilliamAntonRohm commented on #4634
@jaszymas -- please let me know if there is a more suitable replacement link than this one:
- [Using Always Encrypted with Secure Enclaves with the PHP Drivers for SQL Server](https://docs.microsoft.com/en-us/sql/connect/php/always-encrypted-secure-enclaves)

[2020-05-02 01:10] WilliamAntonRohm commented on #4653
@MladjoA -- Mladen, please review [private PR 14816](https://github.com/MicrosoftDocs/sql-docs-pr/pull/14816).

[2020-05-02 01:50] bdcoder2 opened #4693 "Left Hand Rule is mentioned but is not defined."
The page states: "The interior of the polygon in an ellipsoidal system is defined by the left-hand rule." -- but offers no reference link for the Left Hand Rule.

I would recommend something simple, such as the following:

The area where a search occurs is selected as if looking over ones left shoulder, while walking around the area, for example:

- When constructing a polygon in CLOCKWISE order a

[2020-05-02 02:31] bdcoder2 opened #4694 "Code examples for a point within a bounds ..."
I know this might be a repeat of the previously closed question regarding difference between STContains and STWithin - but I have yet to find an answer.

Please see my StackOverflow post at:
https://stackoverflow.com/questions/61553745/ms-sql-geography-testing-if-a-point-is-within-a-bounds-what-does-stwithin-do

Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-05-02 10:58] bhuesemann opened #4695 "Recursion in WITH statements is not supported on Azure Synapse"
Example:
[code]
Leads to SQL Error [100084] [S0001]: Recursive common table expressions are not supported in this version.

The documentation states that this should be possible:
"A common table expression can include references to itself. This is referred to as a recursive common table expression."
[Doc](https://docs.microsoft.com/en-us/sql/t-sql/queries/with-common-table-expression-transact-sql?

[2020-05-02 12:34] tgilmour opened #4696 "Missing Error: Msg 35392, Level 16, State 1"
The error message is:
"The statement failed because column '' on table '' is a computed column. Nonclustered index with computed column as key or included column cannot be created on a table that has a clustered columnstore index."

Version: Microsoft SQL Server 2019 (RTM-CU4) (KB4548597) - 15.0.4033.1 (X64)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-05-02 20:27] chauuy opened #4697 "yeah"
a very clear step by steps guide thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b152444b-dfb8-5cbe-cf45-9830bd085a68
* Version Independent ID: 31719660-d4d0-7f63-efcc-846c822a63c2
* Content: [Docker: Install containers for SQL Server on Linux - SQL Server](https://docs.microsoft.com/en-us/sql/linux/quickstart-in

[2020-05-03 01:01] rjrjack opened #4698 "Remarks appear incorrect."
Inthe Remarks section:
  1) It states 'If the key is open in the current session the statement will fail' however I have no problem opening a symmetric key and then immediately dropping the key, as below:
open symmetric key CreditCards_key11 decryption by certificate SalesCertificate
drop symmetric key CreditCards_key11

2) It mentions 'If the asymmetric key is mapped to....' but page is about sym

[2020-05-03 07:39] Duduar commented on #3327
Hi,

Thank you @kfarlee for answering and explaining.

The thing I don't understand still is that in my case there were no open sessions to this databases I did not altered the databases to single user but as it was a test enviornment there with no applications or other users using the database so I could be sure that they were not in use so what could cause the last_hardened_lsn to change all the

[2020-05-03 14:57] devudu opened #4700 "Partition switch image is distorted"
Text in the image is not redable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae143071-a443-cd21-1da4-0f7897e31575
* Version Independent ID: 2b0e6251-0690-6d8f-b7ed-f2fdb6e74d72
* Content: [Application pattern - partitioning memory-optimized tables - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databa

[2020-05-03 18:46] zakiirjuman opened #4701 "Update 'Unique constraints' page to say 'Unique and Check constraints' on the navigation pane."
I was trying to find more information on Check Constriants and found it on this page. While it's title is correct, "Unique Constraints and Check Constraints" it is not properly displayed in the navigation bar which only says "Unique Constraints".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3709c36d-5f11-41b8-0926-e4

[2020-05-03 21:57] bdcoder2 opened #4704 "STContains - tests failing? - but I do not know why (or what I am doing wrong) ..."
Hello,

I apologize if this is the wrong place to post as I was unsure exactly where this "issue" should go ...

Disclaimer: I am most probably doing something wrong when trying to use the SQL geography STContains method.  However, I seem to be getting results that conflict with other systems.

First, SQL version:

`Microsoft SQL Server 2016 (RTM) - 13.0.1601.5 (X64) Apr 29 2016 23:23:58 Copyright

[2020-05-04 05:47] Ash46 commented on #4536
This page also not mention anything about AG support
https://docs.microsoft.com/en-us/sql/connect/odbc/windows/features-of-the-microsoft-odbc-driver-for-sql-server-on-windows?view=sql-server-ver15

Appreciate if you could provide an update.

Ashwin

[2020-05-04 05:48] Ashwinkumar-R commented on #4536
This page also not mention anything about AG support
https://docs.microsoft.com/en-us/sql/connect/odbc/windows/features-of-the-microsoft-odbc-driver-for-sql-server-on-windows?view=sql-server-ver15

Appreciate if you could provide an update.

Ashwin

[2020-05-04 07:35] MladjoA commented on #4694
@bdcoder2 , STContains and STWithin are analogous spatial relation checks in terms of a.STContains(b) returning always the same result as b.STWithin(a). In fact, only one of them is actually implemented in SQL Spatial - calling the latter one is internally being "swapped" to a call of a former one.

[2020-05-04 11:11] MightyPen commented on #4700
@devudu Hello, to fix this Issue #4700, I have created and merged PR #14820, in the private sister repo. The changes to the article's text are many. The crummy image that you cited is no longer needed in the article: it was redundant to a bullet list of steps. The PR clarifies the steps, and converts them into the numeric bullet list they should have been in.

So, thank you for bringing this bad i

[2020-05-04 11:11] #4700 closed

[2020-05-04 15:08] VanMSFT commented on #4691
Hi @SeaDude! Thanks for submitting this issue. Can you please clarify the error that you were experiencing, and the fix?

[2020-05-04 15:17] VanMSFT commented on #4698
Hi @rjrjack - Thanks for submitting this issue. Let me check on this and get back to you.

[2020-05-04 15:32] VanMSFT commented on #4698
Verified that an open Symmetric Key can be dropped. Checking with the Product Team.

[2020-05-04 15:50] jameseg opened #4705 "Missing -d in docs for unzipping package in macos docs"
I wasn't able to unzip the file downloaded to the ~/<dir> unless I put a -d in front of the directory

[2020-05-04 15:55] bdcoder2 commented on #4694
@MladjoA - so it is true: a.STContains(b) == b.STWithin(a)    This should be mentioned in the docs (if not already) -- Thanks!!

[2020-05-04 15:55] #4694 closed

[2020-05-04 17:16] julieMSFT commented on #4612
@ochoto Thank you for your input. I am looking into this.

[2020-05-04 18:07] VanMSFT commented on #4513
Looking into the issue.

[2020-05-04 21:06] TorstenStrauss commented on #4588
Hi Julie,

do you need additional information?

Mit freundlichen Grüßen

Torsten Strauß

[2020-05-04 21:34] erikdarlingdata opened #4706 "Optimize For Sequential Key Edition Availability"
Please note whether Optimize For Sequential Key is available across editions, or Enterprise only. It would help people doing side-by-side evaluations.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13793c61-629f-f379-fcb7-e9178e4f5dce
* Version Independent ID: ced6efc1-1e34-f452-f995-b597e812c2f2
* Content: [C

[2020-05-04 21:56] WilliamAntonRohm commented on #4686
@DMiradakis -- Daniel, you're very welcome!

cc @stevestein as the author

[2020-05-04 21:56] #4686 closed

[2020-05-04 21:59] WilliamAntonRohm commented on #4688
@chiques -- thank you for your product-related feedback.  Please add it here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-05-04 21:59] #4688 closed

[2020-05-04 22:01] WilliamAntonRohm commented on #4690
@MEhrenmueller -- thank you for your feedback.  Please see these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@garyericson -- please look into this issue.

[2020-05-04 22:04] WilliamAntonRohm commented on #4692
@ryanwadebg -- thank you for your feedback.

@garyericson -- please look into this issue -- related to #4690.

[2020-05-04 22:06] WilliamAntonRohm commented on #4693
@bdcoder2 -- thank you for your feedback and suggestions.

@MladjoA -- please look into this issue.

[2020-05-04 22:08] WilliamAntonRohm commented on #4696
@tgilmour -- thank you for your product feedback.  Please add it here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-05-04 22:08] #4696 closed

[2020-05-04 22:09] WilliamAntonRohm commented on #4697
@chauuy -- you're very welcome!

cc @vin-yu as the author

[2020-05-04 22:12] WilliamAntonRohm commented on #4701
@zakiirjuman -- Zakiir, thank you for your feedback.  I am looking into this article.

[2020-05-04 22:12] #4697 closed

[2020-05-04 22:20] MladjoA commented on #4693
Thanks for the suggestion @bdcoder2. The pull request is on its way.

[2020-05-04 22:38] MashaMSFT commented on #4696
Hi @tgilmour , thanks for your feedback and for bringing this to our attention! Actually, this list of errors is not meant to be exhaustive, there's a number of errors that are not listed here.

You can use this query to find all of the errors:

[code]

Thanks!
Masha from the SQL Docs team

[2020-05-04 22:42] WilliamAntonRohm commented on #4695
@bhuesemann -- thank you for your feedback.

@VanMSFT -- please look into this issue.

[2020-05-04 22:44] WilliamAntonRohm commented on #4687
@erikdarlingdata -- Erik, thank you for your feedback and question.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@MikeRayMSFT -- Mike, please look into this issue.

[2020-05-04 22:48] WilliamAntonRohm commented on #4705
@jameseg -- thank you for your feedback.  Please clarify which docs.microsoft.com article you are reading.

[2020-05-04 22:52] #4653 closed

[2020-05-04 23:21] jameseg commented on #4705
@WilliamAntonRohm sorry about that, the sqlpackage.exe docs for Mac OS

[2020-05-05 00:27] markingmyname commented on #4208
@ChloeWilliams1112

We have not heard back in over a month.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-05-05 00:27] #4208 closed

[2020-05-05 00:37] markingmyname commented on #4603
Thanks, @chucklu, for bringing this to our attention.

The article will be updated later this week.

Thank you.

[2020-05-05 00:51] pmasl commented on #4706
@bluefooted to address

[2020-05-05 01:09] markingmyname commented on #4603
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-05-05 01:09] #4603 closed

[2020-05-05 03:49] bluefooted commented on #4706
@erikdarlingdata I'm not sure how to handle this one. We generally go by the principle that if it's not stated otherwise, it applies to all editions. I'm concerned that if I call that out here and don't go back and state the same for every other section, it's going to open a can of worms. If this were a standalone feature that had its own page, I would just call it out there, but I'm not convinced

[2020-05-05 06:41] SeaDude commented on #4691
Hi @VanMSFT . I'm not in position to reply the error right now, but the fix was to go from
- `ADD MEMBER 'bob@bob.com'` to
- `ADD MEMBER [bob@bob.com]`

[2020-05-05 06:41] #4691 closed

[2020-05-05 08:38] msebolt commented on #4704
@bdcoder2 Thank you for the question,

Please note our support options are limited to documentation examples, assigning this to the author to review if changes should be made to the article in question.

For specific use cases, please see the [SQL Server support policy](https://support.microsoft.com/help/4047326/support-policy-for-microsoft-sql-server).

Or, for additional support options, please

[2020-05-05 10:11] rothja commented on #3786
@juliemsft Could you please look more into this issue? Thank you! #reassign:juliemsft

[2020-05-05 10:13] rothja commented on #3826
Thanks, everyone for the detailed research and analysis (and suggestions) here. @juliemsft Could you please look more into this issue? Thank you! #reassign:juliemsft

[2020-05-05 10:19] rothja commented on #4227
@Bartolomeus-649 I'm sorry for the confusion in the documentation. Your feedback is noted for possible future improvements. If you want to suggest an immediate specific change today, you can edit the article with the Edit button that appears on docs pages. Your suggested edits will get reviewed and published if accepted. Thank you! #reassign:rothja

[2020-05-05 10:19] #4227 closed

[2020-05-05 10:19] rothja commented on #4234
@juliemsft Could you please look more into this issue? Thank you! #reassign:juliemsft

[2020-05-05 10:20] rothja commented on #4367
@juliemsft Could you please look more into this issue? Thank you! #reassign:juliemsft

[2020-05-05 10:21] rothja commented on #4433
@KalleOlaviNiemitalo I'm sorry for the delay in response. @juliemsft Could you please look more into this issue? Thank you! #reassign:juliemsft

[2020-05-05 10:21] rothja commented on #4477
@eric-miller-cdfw I'm sorry for the delayed response on this issue. @juliemsft Could you please look more into this issue? Thank you! #reassign:juliemsft

[2020-05-05 10:25] rothja commented on #4648
@julieMSFT Could you please look more into this issue? Thank you! #reassign:juliemsft

[2020-05-05 10:49] rothja commented on #4677
@CarlRabeler Could you please look into this issue? Thank you! #reassign:CarlRabeler

[2020-05-05 10:50] rothja commented on #4677
#reassign:CarlRabeler

[2020-05-05 10:51] rothja commented on #4664
@CarlRabeler Could you please look into this issue? Thank you! #reassign:CarlRabeler

[2020-05-05 10:51] rothja commented on #4659
@CarlRabeler Could you please look into this issue? Thank you! #reassign:CarlRabeler

[2020-05-05 10:52] rothja commented on #4624
@CarlRabeler Could you please look into this issue? Thank you! #reassign:CarlRabeler

[2020-05-05 10:53] rothja commented on #4591
Apologies for the delayed response. @CarlRabeler Could you please look into this issue? Thank you! #reassign:CarlRabeler

[2020-05-05 10:53] rothja commented on #4568
Apologies for the delayed response. @CarlRabeler Could you please look into this issue? Thank you! #reassign:CarlRabeler

[2020-05-05 10:54] rothja commented on #4552
Apologies for the delayed response. @CarlRabeler Could you please look into this issue? Thank you! #reassign:CarlRabeler

[2020-05-05 10:54] rothja commented on #4431
Apologies for the delayed response. @CarlRabeler Could you please look into this issue? Thank you! #reassign:CarlRabeler

[2020-05-05 10:54] rothja commented on #4296
Apologies for the delayed response. @CarlRabeler Could you please look into this issue? Thank you! #reassign:CarlRabeler

[2020-05-05 10:55] rothja commented on #4254
Apologies for the delayed response. @CarlRabeler Could you please look into this issue? Thank you! #reassign:CarlRabeler

[2020-05-05 10:55] rothja commented on #4222
Apologies for the delayed response. @CarlRabeler Could you please look into this issue? Thank you! #reassign:CarlRabeler

[2020-05-05 10:55] rothja commented on #4170
Apologies for the delayed response. @CarlRabeler Could you please look into this issue? Thank you! #reassign:CarlRabeler

[2020-05-05 10:55] rothja commented on #4131
Apologies for the delayed response. @CarlRabeler Could you please look into this issue? Thank you! #reassign:CarlRabeler

[2020-05-05 10:56] rothja commented on #3875
#reassign:CarlRabeler

[2020-05-05 12:46] erikdarlingdata commented on #4706
@bluefooted I certainly don't want to make unnecessary work for you. I'm not sure at what point improvements like this are classified as "features" by Microsoft, but I don't think this one is any less deserving than the online rebuild syntax, which has both a note here as well as some dedicated pages about guidelines for use, etc.

If this page isn't the right place, then perhaps [this one](https:

[2020-05-05 13:44] ryanwadebg opened #4709 "#5 Access denied"
I get an "Access denied" error when I try to use the prophet package in SSMLS 2019. Based on documentation I read I thought if I gave the object "All Application Containers" permission than my R script will have access to the file system. My info is based on this article:  https://www.red-gate.com/simple-talk/sql/data-science-sql/sql-server-machine-learning-2019-working-with-security-changes/. I r

[2020-05-05 13:58] rcfoyn opened #4710 "Beginning with SP1 of SQL Server 2016"
It should be specified that columnstore index begins with SP1 of SQL Server 2016 (13.0.4001). Currently, this page says 2016 (13.x) only, which is not entirely accurate. See https://docs.microsoft.com/en-us/sql/sql-server/editions-and-components-of-sql-server-2016, which reads "Applies to SQL Server 2016 (13.x) SP1".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-05-05 15:07] rothja commented on #2921
@SgtSpamCan Larry, thanks for the ping. I don't have a definitive answer, but I'm following up internally. Thanks for your patience.

[2020-05-05 15:24] bluefooted commented on #4706
We talked about it a lot because it helps improve a common performance issue, but it's not a feature, it's a performance improvement to an existing feature. Online Index Rebuild is a feature that has SKU differentiation, that's why it's called out here. Any feature that has SKU differentiation will be called out in the Editions and support page you linked above and hopefully in any other documenta

[2020-05-05 15:32] erikdarlingdata commented on #4706
Gotcha. No problem. Thanks for explaining.

When you say "it's a performance improvement to an existing feature", what's the existing feature?

[2020-05-05 15:40] bluefooted commented on #4706
SQLOS Scheduler, technically, but you could call it an index improvement as that's how it's being applied.

[2020-05-05 15:46] erikdarlingdata commented on #4706
Cool, thanks for that!

[2020-05-05 15:46] #4706 closed

[2020-05-05 16:08] RobAshton-IM commented on #4499
@WilliamAntonRohm, @VanMSFT --
I agree with @NovoaProgramming here. MS Docs does a good job of describing the relationships in the permissions hierarchy of SQL Server, but it doesn't appear to have a comprehensive list of what actions or capabilities in SQL Server are governed by a specific server-level permission. This page currently only describes the three server permissions that were added in

[2020-05-05 16:24] msebolt commented on #4642
@cdichter Thank you for the feedback.

An example has been added to the documentation and is pending review.

[2020-05-05 16:24] julieMSFT commented on #4588
@TorstenStrauss Thank you again for bringing this to our attention. You were correct and should see the update you suggested in the article today. A bug has also been filed to update the report. I will go ahead an close this issue now. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-05-05 16:26] julieMSFT commented on #4588
#https://github.com/MicrosoftDocs/sql-docs-pr/pull/14831

[2020-05-05 16:29] julieMSFT commented on #4588
#please-close

[2020-05-05 16:29] #4588 closed

[2020-05-05 17:19] VanMSFT commented on #4499
@NovoaProgramming @RobAshton-IM - Thanks for submitting this issue! You're right that we could use more clarity in our documentation for granting permissions. Our Permissions naming convention and details can be found in the following doc: https://docs.microsoft.com/sql/relational-databases/security/permissions-database-engine?view=sql-server-ver15#_conventions

We also have a chart that explains

[2020-05-05 18:39] JamesHorsley opened #4712 "No indication of column types that it can apply to"
IDENTITY can only apply to certain types - these should be listed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33014f93-e2e9-f0e7-804b-e50493a32627
* Version Independent ID: 38498f73-63c2-4557-bf4b-c20923b45656
* Content: [IDENTITY (Property) (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/sta

[2020-05-05 18:50] HASSEN-MEDDEB-ATOS opened #4713 "Add defualt value SSIS"
Hello,

I want to set default value to column where it's null using SSIS

![image](https://user-images.githubusercontent.com/58071802/81103486-629e9f00-8f11-11ea-91bb-b389cb040ac3.png)

i have added script

[code]

I get this error : 142/5000
idPMR 'is not valid - The value' 'is not valid according to its data type' Integer '- The string' 'is not a valid Integer value

I have tried
Convert.TOInt32

[2020-05-05 19:05] RobAshton-IM commented on #4499
@VanMSFT, not really, no.

The naming conventions help when trying to understand permissions on object scopes lower than the entire server level (DATABASE, SCHEMA, OBJECT, etc.), but here we're talking specifically about the server-level permissions broken down in the first "Remarks" section on this page. While some of those permissions can be mapped to a lower level in the permissions hierarchy,

[2020-05-05 19:19] mmasterton opened #4714 "View Mode option"
This page says there is a View Mode option in SQL Sever 2019, but I don't see it.  I would really prefer the MDI Environment view mode, but seems like only the Tabbed documents option is available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a3d05d7-f58b-6328-0709-09b58575f522
* Version Independent ID: fc4dbb65-1c2

[2020-05-05 19:23] VanMSFT commented on #4712
Hi @JamesHorsley - Can you please elaborate?

[2020-05-05 22:09] ronortloff commented on #4685
@nanditavalsan will take ownership of this.

[2020-05-06 00:06] NovoaProgramming commented on #4499
I would say that the chart @VanMSFT shared certainly is helpful as a high level reference, and provides more information than the GRANT Server Permissions page itself, but it lacks the type of extra information that I think a documentation page on permissions at each level could ideally provide.

Continuing with @RobAshton-IM 's example of AUTHENTICATE SERVER , the only additional information the

[2020-05-06 09:30] VanMSFT commented on #4513
Hi @binki! Thanks for the feedback and suggestion. I have updated the Locking behavior section based on feedback from our Product Team. The text will be updated later today.

[2020-05-06 09:46] Prof-hu opened #4715 "Describe what maintenance mode means for this particular feature"
Please add information on why and since when this feature is in maintenance mode and what is the successor of this feature to be used instead of this one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49bf8822-4851-2e5a-69dc-52ae05c7e00b
* Version Independent ID: 99be3989-8c8d-603d-3340-285edae63f18
* Content: [defaul

[2020-05-06 11:18] carlsixsmith opened #4717 "Setting the timezone in powershell"
There's a type in the documentation that tells us to run a powershell command as sudo. Assuming it's a copy/paste issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dc2ec36-4915-f7ab-3104-282acc9321e6
* Version Independent ID: fc98af17-f3c5-adff-69ca-593f985e7882
* Content: [Configuration options for SQL Server on

[2020-05-06 12:59] russrayner opened #4718 "Cannot select additional files"
The dialog in SSMS used to show, after selecting the MDF file, all other associated database files, even if those files cannot be found.  Re-mapping of actual file location was then possible.

This is no longer possible, so the UI cannot be used in instances where the data files have been moved or renamed, which is really frustrating.

I'm not sure why this functionality was removed.

---
#### Doc

[2020-05-06 14:08] maliangzhu opened #4719 "install sqlserver error"
I'm using a centos-7.7 based docker,
I copy  mssql-server-15.0.4033.1-2.x86_64.rpm into docker and run
`sudo rpm -ivh mssql-server-15.0.4033.1-2.x86_64.rpm`
it seems ok, and then run
`sudo  /opt/mssql/bin/mssql-conf setup`

and I got an error `/var/tmp/scl04Xu1N: line 8: -EH: command not found`

here is /var/tmp/scl04Xu1N:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-05-06 14:36] #4513 closed

[2020-05-06 15:25] VanMSFT commented on #2921
@EikisteinS @hugobarona @SgtSpamCan - Hi all, we've confirmed with the Product Team who verified that the diagram is indeed correct. The DEK resides in the master database. Please let us know if you have any concerns. Thanks!

[2020-05-06 15:25] #2921 closed

[2020-05-06 15:44] ryanwadebg commented on #4690
According to the package GitHub page, the package has been deprecated and they recommend to use the odbc package. Will the documentation get updated with instructions using that package instead? Here is a link to the GitHub repo I am referring to.

[2020-05-06 16:58] WilliamAntonRohm commented on #4709
@ryanwadebg -- thank you for your feedback.  This repo is solely for docs.microsoft.com documentation and examples, with limited support options.  Please look into these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to file this as a bug here:
- [SQL Server Feed

[2020-05-06 16:58] #4709 closed

[2020-05-06 16:59] WilliamAntonRohm commented on #4710
@rcfoyn -- thank you for your feedback.  I am looking into this article.

[2020-05-06 17:01] WilliamAntonRohm commented on #4713
@HASSEN-MEDDEB-ATOS -- thank you for your feedback.  Please provide additional information on which docs.microsoft.com article you are reading, and on your overall task.

[2020-05-06 17:04] WilliamAntonRohm commented on #4714
@mmasterton -- thank you for your feedback.  Please see these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to file this as a bug here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

cc @markingmyname for awareness

[2020-05-06 17:04] #4714 closed

[2020-05-06 17:06] WilliamAntonRohm commented on #4717
@carlsixsmith -- Carl, thank you for your feedback.  I am looking into this article.

[2020-05-06 17:07] WilliamAntonRohm commented on #4718
@russrayner -- thank you for your feedback.  Please add it here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-05-06 17:07] #4718 closed

[2020-05-06 17:15] bestmbaman opened #4720 "Lesson1-7: Add and configure the OLE DB destination"
Hello,
The following command suggests to create a new table as **NewFactCurrencyRate**, but I get an error that this table already exists in database **AdventureWorksDW2012**.

- https://docs.microsoft.com/sql/integration-services/lesson-1-7-adding-and-configuring-the-ole-db-destination?view=sql-server-ver15

Solution: Either we should first drop the table first and add it later, or select a new n

[2020-05-06 17:41] WilliamAntonRohm commented on #4720
@bestmbaman -- thank you for your feedback.

@chugugrace -- please look into this issue.

[2020-05-06 19:04] dontmesswithbill opened #4721 "Running on CentOS 7"
I'm trying to run this on CentOS 7.7 but I get this error.

/opt/mssql/bin/sqlservr: /lib64/libc.so.6: version `GLIBC_2.18' not found (required by /opt/mssql/bin/../lib/libc++abi.so.1)

[2020-05-06 19:12] pcelba commented on #4631
@CarlRabeler Thanks for the explanation but I would need more details.

If you have a table with schema bound view you can add new columns, drop columns which are not included in the view and you can set SYSTEM_VERSIONING to ON.  OK.

But I still cannot understand why the setting the SYSTEM_VERSIONING to OFF can affect the schema change harmful to the underlying view or function. All columns remai

[2020-05-06 19:25] chlafreniere opened #4722 ""When to Use a Heap" section has sentence that's never finished."
In the "When to Use a Heap" section, I see the following: "Heaps are also used for" and the sentence is never ended.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba8c976f-591a-4bf6-c8cd-9e2ec0cbe022
* Version Independent ID: 576ef9af-578b-e5b5-b230-727af80dec04
* Content: [Heaps (Tables without Clustered Indexes) - S

[2020-05-06 21:39] binki opened #4723 "“Inserting data using a CDATA section” has incorrect formatting"
The documentation tries to say that `<` is inserted as `&lt;` but it instead says that `<` is inserted as `<`.

The documentation’s example of the output XML also is invalid. It says the result is:

[code]

when the actual result is

[code]

Note that to get this result, the query I had to use was the following because I couldn’t figure out how to get the XPath to let me construct `<![CDATA[…]]>`.

[2020-05-06 21:51] binki commented on #4513
Thanks. That looks much better!

[2020-05-06 22:19] #4633 closed

[2020-05-06 22:20] #4609 closed

[2020-05-06 22:23] hkonomi1 opened #4724 "Unable to access the download page"
There is a certificate error with the download page for SSMS. Currently Chrome and Edge are not allowing me to reach it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Management Studio (S

[2020-05-06 22:26] WilliamAntonRohm commented on #4671
@MikeRayMSFT -- Mike, please review [private PR 14876](https://github.com/MicrosoftDocs/sql-docs-pr/pull/14876).

[2020-05-06 22:37] WilliamAntonRohm commented on #4673
@rothja -- please review [private PR 14878](https://github.com/MicrosoftDocs/sql-docs-pr/pull/14878).

[2020-05-06 22:48] WilliamAntonRohm commented on #4701
@stevestein -- Steve, please review [private PR 14879](https://github.com/MicrosoftDocs/sql-docs-pr/pull/14879).

[2020-05-06 22:53] WilliamAntonRohm commented on #4705
@jameseg -- please provide a specific article -- there are a lot of those  :^)

[2020-05-07 03:34] vboina opened #4725 "Table variable SQl Server docs typo grammatical error"
Wrong :
This variable is the function, stored procedure, or batch that it's declared in.

Correct : This variable can be used in the function, stored procedure, or batch that it's declared in.
Link : https://docs.microsoft.com/en-us/sql/t-sql/data-types/table-transact-sql

[2020-05-07 13:57] jameseg commented on #4705
[https://docs.microsoft.com/en-us/sql/tools/sqlpackage-download?view=sql-server-ver15#get-sqlpackage-net-core-for-macos](url)

Mac

[2020-05-07 13:59] rsocol opened #4726 "The list of values for desired_state is incomplete"
The list of values for the desired_state and desired_state_desc column is incomplete. Besides 0=OFF and 1=ON, we can also find 2=DEFAULT in these columns.

The documentation page https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-database-transact-sql-set-options?view=sql-server-ver15 should also be updated, because we can use "ALTER DATABASE AdventureWorks2017 SET AUTOMATIC_TUNING (FORCE

[2020-05-07 14:36] Robert-Kostecki opened #4727 "This does not appy to Azure Synapse"
You cannot use neither sp_rename nor SQL Server Management Studio to rename views in Azure Synapse Analytics. Neither method is supported.

Tested using SSMS 18.5 & Synapse @@version: Microsoft Azure SQL Data Warehouse - 10.0.11038.0 Apr 21 2020 19:42:42 Copyright (c) Microsoft Corporation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-05-07 15:41] rrg92 opened #4728 "Add more details"
Please, can you provide more details about this DMV? For example, it is possible I have longs I/O related wait type like "ASYNC_IO_COMPLETED" and no request displayed in this DMV?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f730b78-bfe2-b47f-cf2e-c9c9b2f0bd5d
* Version Independent ID: 6a2d3b45-8cc8-bf3f-b12f-626d05

[2020-05-07 16:53] IFetisov opened #4729 "Install Binn folder (ssbdiagnose and other \Tools\Binn)"
I have installed SSMS 18.5
But ssbdiagose and other utilities not installed from downloaded installation file (18.5)

I've copied C:\Program Files (x86)\Microsoft SQL Server\140\Tools\Binn from other PC
Now error not found assembly
Microsoft.SqlServer.Smo, Version=14.0.0.0
How to solve this?

[2020-05-07 17:18] rothja commented on #4673
I added some comments to the PR. Thanks!

[2020-05-07 17:21] #4469 closed

[2020-05-07 17:32] #4557 closed

[2020-05-07 17:33] rothja commented on #4557
@KevinPence  Thanks for the feedback, and thank you, @WilliamAntonRohm , for the change to the article. I also tested and verified the described behavior.

[2020-05-07 17:50] #4673 closed

[2020-05-07 18:01] LindaLF opened #4730 "New SERVERPROPERTY value : MachineOS"
I would like to suggest that this command have a new command to return information on the Operating System.  It will already return the name of the host [ComputerNamePhysicalNetBIOS], the name of the logical server (in the case of a cluster node) [MachineName], it should also return information about the Operating System that hosts the SQL instance (e.g. Edition and version number).
It would be he

[2020-05-07 18:48] dokier commented on #4235
@CarlRabeler You're not looking at the link for 2014 documentation. In that link it says gmsa can be used for standalones, failover cluster instances and availability groups in 2014 whereas the document you're referencing it only states 2014 supports gmsa for standalone instances only.

Which one is the correct one?

SQL 2014 documentation states:
From <https://docs.microsoft.com/en-us/sql/databas

[2020-05-07 19:19] VanMSFT commented on #4730
Hi @LindaLF! Thanks for the suggestion on the product. We appreciate it. Please submit your feedback using the product feedback button:

![image](https://user-images.githubusercontent.com/40007119/81335760-f92ba700-905c-11ea-80f7-960171f55e8f.png)

[2020-05-07 19:19] #4730 closed

[2020-05-07 19:23] JWageM opened #4731 "How to add a Spatial Reference ID?"
I want to use Spatial Reference ID 28992. As found on https://epsg.io/28992. How can I add this to MSSQL server?
I need to add this because I want to use the geography markup language parser from MSSQL server:
SELECT geography::GeomFromGml (
'&lt;Polygon xmlns="http://www.opengis.net/gml"&gt;
     &lt;exterior&gt;
          &lt;LinearRing&gt;
               &lt;posList&gt;78988.952 384548.144 7899

[2020-05-07 20:27] toddkitta opened #4732 "IS_MEMBER *does* work for Azure AD groups."
The [docs](https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/t-sql/functions/is-member-transact-sql.md) state that IS_MEMBER does not work for AAD groups. However, I have been able to get this to work.

You have to add any group you want to check for membership as a contained user and then IS_MEMBER works as expected. Am I missing something?

[2020-05-07 20:31] toddkitta opened #4733 "EXECUTE AS *does* work in Synapse Analytics/DW"
[Docs state](https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/relational-databases/security/row-level-security.md) EXECUTE AS does not work in Synapse/DW. However, I have found that it does. Before I submitted a PR, I wanted to understand if there are perhaps any caveats I am missing. Thoughts?

The offending sentence is: "Azure SQL Data Warehouse doesn't support EXECUTE AS USER, so log in

[2020-05-07 20:39] toddkitta commented on #4722
![suspense](https://media2.giphy.com/media/y0SJVYxf90J1u/source.gif)

[2020-05-07 21:36] sarajag opened #4734 "Create external data source for Azure Cosmos DB"
Hi! I am trying to create external data source for my Azure cosmos DB like this -
1. CREATE EXTERNAL DATA SOURCE cosmosDB
WITH ( LOCATION ='https://modernwh-sqlapi.documents.azure.com:443/'
,CONNECTION_OPTIONS = 'Driver={Microsoft Azure DocumentDB ODBC Driver}'
,CREDENTIAL = CosmosDBCredentials );

Here, I have used the URI for my cosmos DB account and I am not sure if it makes sense to add it as-

[2020-05-07 21:39] #4701 closed

[2020-05-07 21:41] sarajag commented on #4734
Also, I am trying to execute these for Synapse SQL Pool in Azure Synapse Analytics

[2020-05-07 22:12] #4619 closed

[2020-05-07 22:13] WilliamAntonRohm commented on #4619
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-05-07 22:15] srutzky commented on #2524
@HairyDrumroll (and @WilliamAntonRohm , @CarlRabeler , and @stevestein ):

I believe the following note (that is the subject of this issue):

is recommending that you can do the following:

[code]

That creates the database with a "default" collation of `Latin1_General_100_CI_AS_SC`.

There is no way to change the default collation used to create databases (i.e. `CREATE DATABASE...` _without_ the

[2020-05-07 22:34] WilliamAntonRohm commented on #4715
@Prof-hu -- thank you for your feedback.  It appears to have been in maintenance mode for several years. The successor is [Extended events](https://docs.microsoft.com/en-us/sql/relational-databases/extended-events/extended-events).

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-05-07 22:34] #4715 closed

[2020-05-07 22:41] WilliamAntonRohm commented on #4721
@dontmesswithbill -- thank you for your feedback.  Are you following a particular docs.microsoft.com article?  Meanwhile, please try these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to add this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-05-07 22:43] WilliamAntonRohm commented on #4722
@chlafreniere -- Chris, thank you for your feedback.

@toddkitta -- thank you as well.

@MikeRayMSFT -- Mike, please look into this issue.

[2020-05-07 22:47] WilliamAntonRohm commented on #4723
@binki -- Nathan, thank you for your detailed feedback.  I am looking into this article.

[2020-05-07 22:48] WilliamAntonRohm commented on #4724
@hkonomi1 -- thank you for your feedback.  It appears to be working now.  Please try again.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-05-07 22:49] WilliamAntonRohm commented on #4725
@vboina -- thank you for your feedback.  I am looking into this article.

[2020-05-07 22:53] dontmesswithbill commented on #4721
I tried following the instructions on https://docs.microsoft.com/en-us/sql/linux/quickstart-install-connect-red-hat?view=sql-server-2017

[2020-05-07 22:55] WilliamAntonRohm commented on #4727
@Robert-Kostecki -- thank you for your feedback.  I am looking into this article.

[2020-05-07 22:57] WilliamAntonRohm commented on #4729
@IFetisov -- thank you for your question.  Are you following a particular docs.microsoft.com article?  Meanwhile, please try these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to report this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-05-07 23:02] WilliamAntonRohm commented on #4731
@JWageM -- thank you for your question.  Please try these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-05-07 23:02] #4731 closed

[2020-05-07 23:04] WilliamAntonRohm commented on #4719
@maliangzhu -- thank you for your feedback.  Please try these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to report this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any foll

[2020-05-07 23:04] #4719 closed

[2020-05-07 23:06] WilliamAntonRohm commented on #4728
@rrg92 -- Rodrigo, thank you for your question.  Please try these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@CarlRabeler -- Carl, please look into this issue.

[2020-05-07 23:08] WilliamAntonRohm commented on #4734
@sarajag -- thank you for your feedback.  Are you following a particular docs.microsoft.com article?  Meanwhile, please try these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-05-07 23:12] brettshearer opened #4735 "2012 had this feature - docs missing"
Hello, me again..

I just rejected a shelf because of compatibility issues.
Is there a way to get a list of all sql functions and when they were added. Trying to reverse engineer this out of the documentation is very time consuming and error prone. (select in drop edit, wait and see if banner saying not applicable, 'here look at SQL 2019 docs' is a waste of effort).

https://www.mssqltips.com/sqls

[2020-05-07 23:17] sarajag commented on #4734
Yes, I am using these 2 docs -
https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-data-source-transact-sql?view=azure-sqldw-latest

https://docs.microsoft.com/en-us/sql/relational-databases/polybase/polybase-configure-odbc-generic?view=sql-server-ver15

[2020-05-08 06:34] HairyDrumroll commented on #2524
Thanks @srutzky, that is information that would be useful to include in the documentation.

[2020-05-08 07:39] rsocol commented on #4726
The values for the reason_desc column also seem to be incomplete, because I see 2=AUTO_CONFIGURED in a Managed Instance database and in another SQL Server 2019 database.

[2020-05-08 10:59] Firmbyte opened #4736 "Creating and Update Statistics in PowerShell"
There is nothing in this section about creating and /or updating statistics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e019554-eed7-4704-75b9-7ae97c4f3e77
* Version Independent ID: 35705f6e-1aac-7122-d82d-6ba4faf06b59
* Content: [Creating and Updating Statistics - SQL Server](https://docs.microsoft.com/en-us/sql/r

[2020-05-08 14:38] #4642 closed

[2020-05-08 17:21] youssef-sno opened #4737 "Problem with Peek Definition"
When I try to show Peek Definitions for dbo.Customers it says no definition found for 'dbo' and same thing happens with rcustomer'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6d68e91-6a5b-7f3b-0e72-1b88691b0c72
* Version Independent ID: 6f4e07e3-eb0b-cd4c-cc82-399e4a2ad715
* Content: [Use the Transact-SQL editor to

[2020-05-08 18:18] #4671 closed

[2020-05-08 18:57] CarlRabeler commented on #3875
https://github.com/MicrosoftDocs/sql-docs-pr/pull/14909

[2020-05-08 18:57] #3875 closed

[2020-05-08 19:04] CarlRabeler commented on #4131
PR pending to fix this - will be live within 24 hours

[2020-05-08 19:04] #4131 closed

[2020-05-08 23:01] WilliamAntonRohm commented on #4735
@brettshearer -- Brett, thank you for your question.  I am looking into it.

[2020-05-08 23:05] WilliamAntonRohm commented on #4736
@Firmbyte -- thank you for your feedback, and you are correct.

@markingmyname -- please look into this issue.

[2020-05-08 23:08] WilliamAntonRohm commented on #4737
@youssef-sno -- thank you for your feedback.  It appears you're having an issue with your scenario, rather than the documentation.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am closing this issue now.  You are welcome to @ mention me for any followup

[2020-05-08 23:08] #4737 closed

[2020-05-08 23:11] WilliamAntonRohm commented on #4732
@toddkitta -- thank you for your feedback.  You appear to be on the right track.

@VanMSFT -- please look into this issue.

[2020-05-08 23:13] WilliamAntonRohm commented on #4733
@toddkitta -- thank you for your interesting question.

@VanMSFT -- please look into this issue.

[2020-05-08 23:17] WilliamAntonRohm commented on #4735
@brettshearer -- Brett, please see [this related comment](https://github.com/MicrosoftDocs/sql-docs/issues/3751#issuecomment-562364104) and subsequent discussion.

You are welcome to add this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-05-08 23:17] #4735 closed

[2020-05-09 01:11] trailmax opened #4739 "Samples of using /UniversalAuthentication would be useful"
Currently getting nowhere with `/UniversalAuthentication:true` while trying to export bacpac.  I always get `Login failed for user ''.` no matter what I do, without getting an authentication window. I suspect this is me doing something silly, so a sample would be good. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-05-09 08:53] Sandip75 opened #4741 "Read Data using JSON_VALUE from array json"
I have one question that can we use something like this

Select AgencyId , JSON_VALUE(ItineraryDetailJSON , '$.Applicants[0].Name') As Name   from BookingDetail
 where  bookingdetailid = 100017
 FOR JSON PATH

Output :
[{"AgencyId":5,"Name":"Rahul"}]

I want to use like this (* means for all index of array)
Select AgencyId , JSON_VALUE(ItineraryDetailJSON , '$.Applicants[*].Name') As Name   from B

[2020-05-10 19:39] ogsadmin opened #4742 "Request syntax update"
This page does not provide helpful information, as most of the content is either plain wrong, e.g.:
- there is no such command as "docker builds", it should read docker build
- the directory "mssql-mlservices" does not exist in the given repo

So please provide working documentation on how to install ML services!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-05-10 23:02] sb08854 opened #4743 "Need a full example"
A full DSN example covering AdventureWorks or something similar would be needed. Examples to configure unixODBC for SQL Server are almost non-existent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cfdda44-e9f6-d18a-6fbb-311b12847f4e
* Version Independent ID: 4755f473-a601-79d8-1de9-15e7bc18c51e
* Content: [Connectin

[2020-05-10 23:52] patrickmcdermo opened #4744 "Unable to install Python packages using pip after installing SQL Server 2019 on Windows"
This is a known issue. See: #7 in https://docs.microsoft.com/en-us/sql/machine-learning/known-issues-for-sql-server-machine-learning-services?view=sql-server-ver15

After installing SQL Server 2019 on Windows, attempting to install a python package via pip from a DOS command line will fail. For example:
pip install quantfolio
This will return the following error:
pip is configured with locations t

[2020-05-11 00:05] hublisunil commented on #4267
I am getting the following error message when I am trying to create external table by using MongoDB

Msg 105082, Level 16, State 1, Line 1
105082;Generic ODBC error: [Microsoft][MongoDBODBC] (110) Error from MongoDB Client: Auth mechanism not specified (Error Code: 11) Additional error <2>: ErrorMsg: [Microsoft][MongoDBODBC] (110) Error from MongoDB Client: Auth mechanism not specified (Error Code

[2020-05-11 02:40] sb08854 opened #4745 "Need sample code"
Where is the "hello world" for ODBC C program -- there used to be plenty 15-20 years ago?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7474e319-db4f-fdc7-1b58-716bf202a7e8
* Version Independent ID: 5e6b42fb-4610-384f-1c3c-d9dcc95e2e89
* Content: [Programming Guidelines (ODBC Driver) - SQL Server](https://docs.microso

[2020-05-11 06:31] Pope-Liu opened #4746 "SQL mistake"
在本页面的Example部分所给的SQL语句中，CREATE TABLE Orders( CustomerID varchar(20), OrderDate datetime;)语句应修改为CREATE TABLE Orders( CustomerID varchar(20), OrderDate datetime)；

---
In English, the problem is `;)` at the end should instead be `);`.

In the SQL statement given in the Example section of this page, the `CREATE TABLE Orders (CustomerID varchar (20), OrderDate datetime;)`

Statement should be modified

[2020-05-11 09:52] kartas39 commented on #4680
@WilliamAntonRohm  William, i believe this is not an issue, but just such functionality, described in documentation, does not exists in Synapse. In general, COPY does not work with ADL2 endpoints at the moment.

[2020-05-11 11:53] openStove opened #4748 "Oracle Information missing (ServiceName/SID)"
When Configuring to connect to Oracle, you need to specify a serviceName or SID.

Intuitively, I tried to put it at the end of the uri, but it was not accepted...

This missing information produce an error (I think it is because of this) :
[Microsoft][ODBC Oracle Wire Protocol driver]Insufficient information to connect to the data source

Please complete the documentation, and indicate where to co

[2020-05-11 13:40] srutzky commented on #4103
Hello @IanKemp  (and @stevestein ): I just submitted PR #4747 to address this issue (as well as Issue #2524 ). Essentially, yes, the default (which can be overridden) is (or, at least, absolutely should be) based on the OS locale. I clarified that the `SQL_Latin1_General_CP1_CI_AS` collation is the default (albeit a [horrible default that needs to be changed](https://feedback.azure.com/forums/9080

[2020-05-11 14:36] Robert-Kostecki opened #4751 "Does not seem to be working in"
SELECT @@version:  Microsoft Azure SQL Data Warehouse - 10.0.11038.0 Apr 21 2020 19:42:42 Copyright (c) Microsoft Corporation

DBCC SHOWRESULTCACHESPACEUSED;

Returns:
Msg 104311, Level 16, State 1, Line 44
Incorrect DBCC statement. Check the documentation for the correct DBCC syntax and options.

Completion time: 2020-05-11T15:35:45.4713251+01:00

---
#### Document Details

⚠ *Do not edit this se

[2020-05-11 14:41] cfelstead opened #4752 "Query results are incorrect"
The article states that the following query will open the skills array and produce multiple rows in the results (one for each skill). This is incorrect. The query returns the skills array on a single row in the string form.

QUERY

`DECLARE @json NVARCHAR(MAX);
SET @json = N'[
  {"id": 2, "info": {"name": "John", "surname": "Smith"}, "age": 25},
  {"id": 5, "info": {"name": "Jane", "surname": "Smi

[2020-05-11 14:52] cfelstead commented on #4752
My mistake. The example is working correctly.

[2020-05-11 14:52] #4752 closed

[2020-05-11 15:58] srutzky commented on #2524
Hello @HairyDrumroll (and @WilliamAntonRohm , @CarlRabeler , and @stevestein ): I just submitted PR #4747 to address this issue (as well as Issue #4103 ). I clarified that note to explicitly state using the `COLLATE` clause of the `CREATE DATABASE` and `ALTER DATABASE` statements. I also included a link to: [Set or Change the Database Collation](https://docs.microsoft.com/en-us/sql/relational-data

[2020-05-11 16:04] #4628 closed

[2020-05-11 16:05] Robert-Kostecki commented on #4751
Digging a bit more I have found that the RESULT_SET_CACHING was not enabled (via ALTER DATABASE [DB] SET RESULT_SET_CACHING ON;).

Once enabled the DBCC command started working. The error message should read "RESULT_SET_CACHING is OFF" rather than incorrect DBCC statement. It may be worth amending as the message is misleading.

[2020-05-11 16:25] #4705 closed

[2020-05-11 16:26] WilliamAntonRohm commented on #4705
@jameseg -- thank you for specifying!  I have updated the documentation and it should be live by tomorrow.

[2020-05-11 16:42] ManuelBeltran2019 opened #4754 "Authentication issue after deploying single node"
Hello,
I followed instructions on deploying bash script to single node to kubeadm, and I get the below authentication error when trying to run-  azdata bdc endpoint list -o table

Reason: Unauthorized
HTTP response headers: HTTPHeaderDict({'Date': 'Mon, 11 May 2020 14:53:10 GMT', 'Content-Length': '0', 'WWW-Authenticate': 'Basic realm="Login credentials required", Bearer error="invalid_token", err

[2020-05-11 17:00] WilliamAntonRohm commented on #4739
@trailmax -- Max, thank you for your feedback.  Please try these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You're welcome to add your request here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any fol

[2020-05-11 17:00] #4739 closed

[2020-05-11 17:01] ManuelBeltran2019 opened #4755 "401 Error after deploying single node and then azdata bdc endpoint list -o table"
Hello, I get token expired error below, after deploying single node cluster and running
azdata bdc endpoint list -o table
I am unsure as to how to create tokens in kubernetes. This is my first venture into bdc

(401)
        Reason: Unauthorized
        HTTP response headers: HTTPHeaderDict({'Content-Length': '0', 'Date': 'Mon, 11 May 2020 16:41:45 GMT', 'WWW-Authenticate': 'B"Login credentials re

[2020-05-11 17:02] WilliamAntonRohm commented on #4741
@Sandip75 -- Sandip, thank you for your question.  Are you reading a particular docs.microsoft.com article?  Please try these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-05-11 17:37] Sandip75 commented on #4741
Thanks, @WilliamAntonRohm for response

I read from other resources also and somehow solve my problem [Not same solution] But I am not happy with my solution. I thought there must be better solution compare to me

SELECT *,
(SELECT *
FROM
   OPENJSON(v.ItineraryDetailJSON,'$.Applicants') WITH (Title varchar(5) '$.Title') for json path
) as json

FROM BookingDetail v where v.bookingdetailid = 10001

[2020-05-11 18:29] #4710 closed

[2020-05-11 19:01] CarlRabeler commented on #4728
@rrg92 we are investigating further - in the meantime - please see this article: https://www.sqlskills.com/blogs/paul/cause-high-duration-async_io_completion-waits/

[2020-05-11 19:08] #4755 closed

[2020-05-11 19:08] ManuelBeltran2019 commented on #4755
I figued out problem by contacting another user. I had to login with Azdata first.

[2020-05-11 19:10] ritchxu opened #4756 "Primary replica SYNCHRONOUS_COMMIT"
In the "Manual failover without data loss" section, it is stated that "Make the target secondary replica SYNCHRONOUS_COMMIT". In reality, the primary replica needs to be set in this mode. Echoed in another documentation https://docs.microsoft.com/en-us/sql/database-engine/availability-groups/windows/failover-and-failover-modes-always-on-availability-groups?view=sql-server-ver15#TermsAndDefinitions

[2020-05-11 19:10] CarlRabeler commented on #4677
@AaronBertrand Hi Aaron, Actually, what are you saying is a poor implementation of a very old template for reference content. A syntax block is required for things like CREATE TABLE, ALTER DATABASE, etc. For DMV's, there is no syntax that needs to be included in a syntax block. If you look at the other DMVs in the Transactions node, you will see that some have a SYNTAX block and some do not. All t

[2020-05-11 19:11] markingmyname commented on #4356
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit Azure Data Studio repo(https://github.com/microsoft/azuredatastudio)

[2020-05-11 19:11] #4356 closed

[2020-05-11 19:11] CarlRabeler commented on #4676
addressed by Pedro - closing now

[2020-05-11 19:13] CarlRabeler commented on #4666
@Ponchothewise closing due to the lack of response to my request for clarity / elaboration. Please re-open with more detail if still an open issue.
Thanks,
Carl

[2020-05-11 19:13] #4666 closed

[2020-05-11 19:19] CarlRabeler commented on #4664
@pmasl Hi Pedro, can you assist with this newly added column to sys.servers? It is not currently documentated.

[2020-05-11 19:42] CarlRabeler commented on #4660
PR pending - adds reference to this article and states that IDENTITY is optional if anonymous is enabled for Azure Blob storage

[2020-05-11 19:46] CarlRabeler commented on #4659
@NaomiN I think you are asking about the SQL audit capability - for more information, see https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-database-engine

If this is not what you are looking for, please advise,
Thanks,
Carl

[2020-05-11 19:49] AaronBertrand commented on #4677
I'm saying either a block that says "Syntax" should contain valid syntax (that block contains syntax, I suppose, but it will not parse or run). Or, there simply shouldn't be a block that says "Syntax." What's currently there is obviously wrong.

[2020-05-11 19:54] CarlRabeler commented on #4631
@pcelba following up with the product team

[2020-05-11 19:57] CarlRabeler commented on #4624
@pmasl Pedro, could you please take a look at this issue? Thanks, Carl

[2020-05-11 20:01] CarlRabeler commented on #4591
@brettshearer PR pending to address this issue

[2020-05-11 20:03] CarlRabeler commented on #4568
@pmasl Pedro, can you please review this issue? Thanks, Carl

[2020-05-11 20:48] markingmyname commented on #4526
@alexanderlazutkin

We acknowledge this is an issue.

As such, we will address this issue in a later release.

Thank you again for bringing this to our attention.

[2020-05-11 20:49] markingmyname commented on #4526
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-05-11 20:49] #4526 closed

[2020-05-11 21:12] CarlRabeler commented on #4552
@JediSQL Adding this argument to the syntax section for both sp add job schedule and sp add schedule.
Regarding your null question, a GUIDwill be created for you to uniquely identify the schedule if you do not provide your own GUID.

[2020-05-11 21:27] sdeshbhratar opened #4757 "ssdt installation failure for vs 2017"
hello
i have tried multiple times with various versions of SSDT but i keep running into an error.
looks like some of the files are not available for download causing the install to fail. part of the error message is beloW:
[369C:2B74][2020-05-11T15:58:03]w343: Prompt for source of package: SSISOneDesigner2012, payload: SSISOneDesigner2012, path: C:\ssdt_install_bits\payload\SSISOneDesigner2012.msi

[2020-05-11 21:31] David-Engel commented on #4743
@sb08854 Thanks for the feedback.

When you say "full DSN example", do you just mean the contents of the odbc.ini file? Because you can use any of the keywords and values listed in the [DSN and Connection String Keywords and Attributes](https://docs.microsoft.com/en-us/sql/connect/odbc/dsn-connection-string-attribute?view=sql-server-ver15) link at the top of the article to build your DSN entry. Th

[2020-05-11 21:34] #4304 closed

[2020-05-11 21:42] CarlRabeler commented on #4431
@brettshearer researching ...

[2020-05-11 21:48] TaylorN15 opened #4758 "Unsupported on Azure SQL"
The SP sp_estimate_data_compression_savings doesn't work on Azure SQL, but this article implies that it should.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b4d1b7c-15c8-6671-9b5e-78ff189b354a
* Version Independent ID: 5c12ec62-94f5-7a43-04e5-026b09ac2538
* Content: [Enable Compression on a Table or Index - SQL Serv

[2020-05-11 21:54] CarlRabeler commented on #4296
@LindaLF Thanks for your clarification. PR pending now.
Carl

[2020-05-11 21:58] CarlRabeler commented on #4254
@pmasl Pedro, could you please look at this issue re: missing columns? Thanks, Carl

[2020-05-11 22:10] CarlRabeler commented on #4677
updated article - will be live within 24 hours

[2020-05-11 22:10] #4676 closed

[2020-05-11 22:10] #4660 closed

[2020-05-11 22:11] #4659 closed

[2020-05-11 22:11] #4591 closed

[2020-05-11 22:12] #4552 closed

[2020-05-11 22:12] #4296 closed

[2020-05-11 22:16] CarlRabeler commented on #4431
@brettshearer Per product team, please open a support case given that it worked in a previous version.
Thanks,
Carl

[2020-05-11 22:16] #4431 closed

[2020-05-11 22:24] CarlRabeler commented on #4235
Beginning with SQL Server 2014, SQL Server supports group managed service accounts for standalone instances, and SQL Server 2016 and later for failover cluster instances, and availability groups.

To use a group managed service account for SQL Server 2014 or later, the operating system must be Windows Server 2012 R2 or later. Servers with Windows Server 2012 R2 require KB 2998082 applied so that t

[2020-05-11 22:28] pmasl commented on #4088
@LukeChung I'm not really understanding where you're stuck. Step 1 opens the wizard, where it lists available unique indexes on the table. If none, then you can't create a full text index. The text in the wizard mentions why a unique index is needed. See more in https://docs.microsoft.com/en-us/sql/t-sql/statements/create-fulltext-index-transact-sql

[2020-05-11 22:33] WilliamAntonRohm commented on #4745
@sb08854 -- thank you for your question.  Please see these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to raise this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

cc @v-makouz for awareness

[2020-05-11 22:33] #4745 closed

[2020-05-11 22:37] WilliamAntonRohm commented on #4744
@patrickmcdermo -- Patrick, thank you for your feedback.  Please see these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

cc @dphansen for awareness

[2020-05-11 22:37] #4744 closed

[2020-05-11 22:40] WilliamAntonRohm commented on #4746
@Pope-Liu -- 刘行,  thank you for your feedback.  I am looking into this article.

[2020-05-11 22:41] CarlRabeler commented on #4235
PR to update 2014 has merged

[2020-05-11 22:42] WilliamAntonRohm commented on #4742
@ogsadmin -- He, thank you for your feedback.

@cawrites -- please look into this issue.

[2020-05-11 22:44] cawrites commented on #4742
@ogadmin thank you for contacting Microsoft. I will be looking into this content and making the appropriate updates to address your concern. I will post an update once that is done. Thank you for your patience while this is being reviewed.

[2020-05-11 22:47] WilliamAntonRohm commented on #4748
@openStove -- thank you for your feedback.  Please see these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@CarlRabeler -- please look into this issue.

[2020-05-11 22:50] WilliamAntonRohm commented on #4751
@Robert-Kostecki -- Robert, thank you for your feedback and researches.

@XiaoyuMSFT -- Xiaoyu, please look into this issue.

[2020-05-11 22:52] WilliamAntonRohm commented on #4754
@ManuelBeltran2019 -- thank you for your feedback.  Which docs.microsoft.com article are you following?  Meanwhile, please see these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You're welcome to report this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-05-11 22:53] WilliamAntonRohm commented on #4756
@ritchxu -- Ray, thank you for your feedback and research.  I am looking into this article.

[2020-05-11 22:56] dphansen commented on #4744
@patrickmcdermo Please see [Install Python packages with sqlmlutils](https://docs.microsoft.com/en-us/sql/machine-learning/package-management/install-additional-python-packages-on-sql-server?view=sql-server-ver15) for how to install Python packages in SQL Server 2019.

[2020-05-11 23:07] CarlRabeler commented on #4748
@openStove Does this link help: https://docs.microsoft.com/en-us/biztalk/adapters-and-accelerators/adapter-oracle-database/create-the-oracle-database-connection-uri#connection-uri-to-connect-to-the-oracle-database-without-using-tnsnamesora

[2020-05-11 23:09] CarlRabeler commented on #3963
this looks like you have a version of 2014 with SP3-CU3 already integrated.

[2020-05-11 23:09] #3963 closed

[2020-05-11 23:10] #3065 closed

[2020-05-11 23:24] garyericson commented on #4690
@MEhrenmueller @ryanwadebg - Thanks for catching this. The [sqlmlutils readme](https://github.com/microsoft/sqlmlutils/blob/master/R/README.md) was updated but the [article on DOCS](https://docs.microsoft.com/en-us/sql/machine-learning/package-management/install-additional-r-packages-on-sql-server?view=sql-server-ver15) hadn't caught up with the change. That article is being updated now and should

[2020-05-11 23:27] msebolt commented on #4639
@stevepmo Thank you for the feedback, apologies for the delay.

This is an interesting point, though since the values are based on fixed system object tables, you would need to solicit support from the product team to see it changed.

Please start a thread using [SQL Server feedback](https://feedback.azure.com/forums/908035-sql-server) or [SQL Server forums](https://social.msdn.microsoft.com/Forum

[2020-05-11 23:28] garyericson commented on #4692
@ryanwadebg - I'm not sure what's happening. Can you try again but this time install RODBCext using the updated instructions mentioned in GitHub Issue [4690](https://github.com/MicrosoftDocs/sql-docs/issues/4690#issuecomment-627017806)?

[2020-05-11 23:29] garyericson commented on #4690
The documentation is being updated, #please-close.

[2020-05-11 23:29] #4690 closed

[2020-05-11 23:35] msebolt commented on #4645
Closing this now, please comment below if there are further issues.

[2020-05-11 23:35] #4645 closed

[2020-05-11 23:42] ManuelBeltran2019 commented on #4754
Hi WilliamThe author Mohammed on a different site, resolve the issue for me. I had to login to azdata with correct acct prior to this command.This was on the the BDC deployment to single node article. This can be closed.Thank you for fast response

    On Monday, May 11, 2020, 05:52:25 PM CDT, William Anton Rohm <notifications@github.com> wrote:

@ManuelBeltran2019 -- thank you for your feedback.

[2020-05-12 00:09] CarlRabeler commented on #4188
The more correct warning should be: "INFORMATION_SCHEMA views only represent a subset of the metadata of an object."

[2020-05-12 00:12] CarlRabeler commented on #4188
Do not use INFORMATION_SCHEMA views to determine the schema of an object. INFORMATION_SCHEMA views only represent a subset of the metadata of an object. The only reliable way to find the schema of a object is to query the sys.objects catalog view.

[2020-05-12 00:30] CarlRabeler commented on #4222
@Prof-hu Hi - is there a specific table that you are requesting information regarding query permissions? Generally, you should not query system tables directly, but rather through system stored procedures, statements, functions, etc. This said, to query system tables, you generally need to be a member of the sysadmin role or specifically be given read permissions to a particular table - directly o

[2020-05-12 00:32] #4677 closed

[2020-05-12 00:36] #4627 closed

[2020-05-12 00:49] pmasl commented on #4650
#please-close

[2020-05-12 00:49] #4650 closed

[2020-05-12 00:49] pmasl commented on #4380
There was no follow-up. #please-close

[2020-05-12 00:49] #4380 closed

[2020-05-12 00:49] pmasl commented on #4309
#please-close

[2020-05-12 00:49] #4309 closed

[2020-05-12 00:50] pmasl commented on #4088
#please-close

[2020-05-12 00:50] #4088 closed

[2020-05-12 00:50] msebolt commented on #4647
@BalazsM Thank you for the feedback.

The documentation has been updated and is pending review.

[2020-05-12 01:08] msebolt commented on #4652
@MCcoder52 Thank you for the feedback.

Please refer to the [cursor commands](https://docs.microsoft.com/en-us/sql/ssms/sql-server-management-studio-keyboard-shortcuts?view=sql-server-ver15#cursor-movement-keyboard-shortcuts) combined with the editor's purple mark for current location:

![Capture](https://user-images.githubusercontent.com/6675884/81627159-69fef600-93b2-11ea-8c7d-25db6fc1e04d.PNG)

[2020-05-12 01:17] MightyPen commented on #4746
Fixed this Issue #4746, by private repo PR #14948 .

- `https://github.com/MicrosoftDocs/sql-docs-pr/pull/14948`

@Pope-Liu , Thank you for bringing this Transact-SQL mistake to our attention.  We have now fixed it, and this fix should be live on Docs within 24-48 hours.

I am now Closing this fixed Issue
We hope to hear from you again.

cc: @WilliamAntonRohm

[2020-05-12 01:17] #4746 closed

[2020-05-12 01:25] pmasl commented on #4023
#please-close

[2020-05-12 01:25] #4023 closed

[2020-05-12 01:26] patrickmcdermo commented on #4744
Thanks @dphansen, but I'm very familiar with that document. As I stated above, there seems to be a bug that is not fixed by the suggested work-around that I mentioned in my post. The installation of Python packages with sqlmlutils is not working after installing SQL Server 2019 on Windows. It is a known issue, but the work-around is not fixing the issue. Can you suggest somewhere else I should pos

[2020-05-12 01:39] markingmyname commented on #4278
@Alocyte,

This seems to be a bug.

Thanks for the feedback! However, this area is primarily for doc issues. To report product issues, the best way to reach out to the SSMS Team is at [UserVoice](https://feedback.azure.com/forums/908035-sql-server).

They can give you better guidance.

If you do file a UV comment, please feel free to add it back to this conversation.

[2020-05-12 01:39] markingmyname commented on #4278
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-05-12 01:39] #4278 closed

[2020-05-12 02:31] cawrites commented on #4742
@ogsadmin please be sure you are in the correct directory:  /mssql-docker/linux/preview/examples/mssql-mlservices
You can only run the command from this directory. The DOCKERFILE will be located when it is executed from this path.

[2020-05-12 02:41] cawrites commented on #4742
@ogsadmin based on your feedback I have created an update to include the path for the DOCKERFILE since you were unable to run the command successfully.  I walked through the directions again and the container started without error. Additional minor update to the syntax removing the 's' in docker build.  I confirmed the file does exist in the repository with no additional changes. Please confirm yo

[2020-05-12 07:51] ogsadmin commented on #4742
Hi,

thank you very much for the quick response.

Unfortunately on my machine (freshly installed Server 2019 Standard running docker EE 19.03.5 - installed as described [here](https://docs.docker.com/ee/docker-ee/windows/docker-ee/)), the build fails repeatedly with an error (see below).

The exact steps I ran are here:

[code]
The last few lines of the output of the `docker build` command are:
[c

[2020-05-12 08:11] amwwgjj opened #4760 "azdata bdc create no error"
azdata bdc create  no error, no  movement.

c:\>azdata bdc create --config-profile config --accept-eula yes

Starting cluster deployment.
Cluster controller endpoint is available at 192.168.11.216:30080.

C:\Users\Administrator>kubectl get pods -n mssql-cluster
NAME              READY   STATUS    RESTARTS   AGE
control-687wr     3/3     Running   0          45m
controldb-0       2/2     Running

[2020-05-12 10:10] sb08854 commented on #4743
David:

Thanks for responding and adding clarifications.

Here’s what I meant by a full DSN example:
http://www.unixodbc.org/odbcinst.html

Need a similar example for SQL Server 2019.

True that DSN and connection string are same info, but having a quick jumpstart sample would immensely help devs save time.

Srinivasan Balram, CTO
Marlabs

From: David Engel <notifications@github.com>
Reply-To: Mic

[2020-05-12 11:14] Alocyte opened #4762 "About Using Table Variables: "Consider using a standard table or temporary table to hold the results of multi-statement table-valued functions (mstvf).""
Massive differences occur in performance using temporary tables:

Example below derived in database in Compatibility Level 130.
Using TABLE INT self joining takes (eg) 8 seconds.
Using TABLE INT (Primary Key) self joining takes (eg) 0 seconds.

PRINT '0&gt;' + CONVERT(VARCHAR(30), GETDATE(),20)
DECLARE @SampleSize INT = 10000
DECLARE @Sample TABLE( intValue INT)
INSERT INTO @Sample (intValue)

SEL

[2020-05-12 11:16] Alocyte commented on #2454
https://dba.stackexchange.com/questions/30050/sql-server-varbinary-column-extremely-slow-statistics-update
refers
https://web.archive.org/web/20150920060126/https://connect.microsoft.com/SQLServer/feedback/details/683303/string-summary-slow-statistics-creation-on-varbinary-max-column
Might be a red-herring with clustered index not being relevant.

[2020-05-12 12:01] WouterJeuris opened #4763 "Title is potentially misleading"
This page concerns an *SQL Server driver for Ruby*, yet the title turns this the other way around. In the current phrasing "A Ruby Driver to connect to SQL Server" is implied.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2426d21c-01c8-1d0e-9bf6-a5262dc19155
* Version Independent ID: 0bca8d2e-201e-a3a2-95ef-2fab28b388

[2020-05-12 13:51] HugoKornelis opened #4764 "OFFSET / FETCH missing from SELECT syntax"
On the page that desscribes the SELECT syntax (https://docs.microsoft.com/en-us/sql/t-sql/queries/select-transact-sql?view=sql-server-ver15), the syntax for OFFSET ... FETCH is missing.

Since (I think?) SQL Server 2012, SQL Server supports the ANSI standard "OFFSET nn ROWS FETCH mm ROWS ONLY" syntax, as an alternative to the non-standard TOP clause; but only when an ORDER BY is present.
The OFFSE

[2020-05-12 14:00] brettrowberry opened #4765 "ls -l"
ls -l does not work in PowerShell, and ls will probably give what we want anyway.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fd398c1-ed8b-911b-f11a-3739d80b3f32
* Version Independent ID: dc3d55ff-3b55-a686-81f9-f4188054e381
* Content: [Restore a SQL Server database in Docker - SQL Server](https://docs.microsoft.co

[2020-05-12 14:28] dphansen commented on #4744
I would recommend the forums that @WilliamAntonRohm mentioned above. Alternatively, open a support case with Microsoft. These GitHub issues are for documentation improvements.

[2020-05-12 14:50] VanMSFT commented on #4765
Thanks @brettrowberry!

Hey @vin-yu - Can you confirm this?

[2020-05-12 15:41] cawrites commented on #4742
@ogsadmin can you confirm are you running Docker for Windows? The mapping appears to be Windows based?

[2020-05-12 16:14] ogsadmin commented on #4742
@cawrites Yes, I am running docker EE on Windows Server 2019.

[2020-05-12 16:17] c0dingarchit3ct opened #4766 "Configure SQL Server Container on Docker Persistence does not work!"
Following in [Configure SQL Server container images on Docker](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-configure-docker?view=sql-server-ver15#persist)

**Host Operating System**:  Microsoft Windows 10 Pro : Version	10.0.18363 Build 18363
**Docker Info** :  Docker Desktop community version 2.3.0.2(45183)

**Command**
docker run -e "ACCEPT_EULA=Y" -e "MSSQL_SA_PASSWORD=Compl3xPas

[2020-05-12 16:39] cawrites commented on #4742
@ogsadmin you have selected an operating system that is undocumented. The documentation you have referred to is Docker for LINUX. You are running DOCKER for Windows. Based on the information you have provided you are running this in Windows not LINUX.  The setup requirements are clearly noted within the documentation: https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup.  The operatin

[2020-05-12 16:50] ogsadmin commented on #4742
Ok, thanks. I am new to Docker, and understood that if I run a containerized Ubuntu machine, the instructions given for Linux/Ubuntu would be valid.

As far as I understood the whole idea of containers is about packaging applications including their dependencies (in this case SQL server and the Linux OS) and making them portable and independent of the host OS. So I guessed that it should basically

[2020-05-12 17:11] cawrites commented on #4742
@ogsadmin I understand you are interested in running Docker for Windows. The documentation at this time has only been tested for Docker running in a Linux operating system, not a containerized Ubuntu machine. Documentation for running SQL ML in Windows can be found here https://docs.microsoft.com/sql/machine-learning/install/sql-machine-learning-services-windows-install, but it does not include Do

[2020-05-12 17:12] David-Engel commented on #4763
@WouterJeuris Thanks for submitting feedback.

I'm not sure I understand how the title is misleading. The main heading is "Ruby Driver for SQL Server". The page title is "Ruby Driver - SQL Server". You seem to be implying that the title might be implying that it is about a driver for SQL Server to connect to Ruby. But you would never connect to a programming language from a database. There's nothi

[2020-05-12 17:26] MrBrianGale opened #4767 "Confusion about default driver being used"
I am just curious why SQL Server by default uses the SQL Server Native Client OLE DB provider (SQLNCLI) provider by default when making a linked server without specifying the provider.  Multiple times in the document it indicates this provider is deprecated and should not be used.  In more recent versions of SQL Server, is it using the Microsoft OLE DB Driver for SQL Server (MSOLEDBSQL) provider b

[2020-05-12 17:50] NikoNeugebauer commented on #3997
Would love to see this situation solved, since all new users are facing it.
In any case, editing registry keys does not look like a really good way to encourage further usage of Azure Key Vault or EKM and finding error code on other pages than official documentation rises the question of the trust.

[2020-05-12 18:30] CeciAc opened #4769 "STStartPoint document sql statement error"
The comments below were machine-translated

@zLulus commented on [Tue May 12 2020](https://github.com/MicrosoftDocs/sql-docs.zh-cn/issues/143)

[STStartPoint (geometry Data Type）](https://docs.microsoft.com/zh-cn/sql/t-sql/spatial-geometry/ststartpoint-geometry-data-type?view=sql-server-ver15)
[code]
Should be changed to
[code]

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。

[2020-05-12 18:39] #4188 closed

[2020-05-12 18:53] WilliamAntonRohm commented on #4757
@sdeshbhratar -- thank you for your feedback.  Are you looking at a particular docs.microsoft.com article?  Meanwhile, please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-05-12 19:05] WilliamAntonRohm commented on #4760
@amwwgjj -- thank you for your feedback.  Are you looking at a particular docs.microsoft.com article?  Meanwhile, please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-05-12 20:50] WilliamAntonRohm commented on #4746
@MightyPen -- Gene, thank you for wrapping up this one.

[2020-05-13 01:16] patrickmcdermo commented on #4744
OK. Thanks, @dphansen . I actually thought this was a documentation issue, because I was following the documentation verbatim (located here: https://docs.microsoft.com/en-us/sql/machine-learning/known-issues-for-sql-server-machine-learning-services?view=sql-server-ver15) and was getting incorrect results.

[2020-05-13 03:48] WilliamAntonRohm commented on #4764
@HugoKornelis -- thank you for your feedback.

@VanMSFT -- please look into this issue.

[2020-05-13 03:50] WilliamAntonRohm commented on #4766
@c0dingarchit3ct -- Ahmed, thank you for your feedback.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to add this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention m

[2020-05-13 03:50] #4766 closed

[2020-05-13 03:53] WilliamAntonRohm commented on #4762
@Alocyte -- thank you for your feedback.

@julieMSFT -- please look into this potential documentation issue.

[2020-05-13 10:01] Shuwi75 opened #4771 "GIF images not readable when using dark theme"
The GIF images are not readable when using dark themed (chromium) browser.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916e128d-19fd-1f7d-8285-6313c4419710
* Version Independent ID: 8402af42-fdd1-2f3b-7c6a-8759e90e115f
* Content: [Choose a database engine upgrade method - SQL Server](https://docs.microsoft.com/en-us

[2020-05-13 13:34] Ikaer opened #4772 "Wrong arguments listed ?"
On my SQL Server 2016 and 2012 R1 + a test on Azure SQL DB 12, this stored procedure have different parameter names sys.sp_db_selective_xml_index ( @dbname sysname = null, @selective_xml_index varchar(6) = null ).

Also it would be great to include in this page that N'off' or N'false' will not work if this feature have already been enabled (Error message: "The data type of substitution parameter 2

[2020-05-13 14:45] flipbit03 opened #4774 "Ubuntu 20.04 repo is already provided, please update docs."
I figured it out by just exchanging the apt url from 19.10 to 20.04 and it downloaded a repository definition, so I guess it's ready.

Thank you!

[2020-05-13 15:05] camille-rodriguez opened #4775 "No mssql-tools package for ubuntu 20.04"
I seem unable to locate the package mssql-tools for ubuntu 20.04. I changed the curl to point towards https://packages.microsoft.com/config/ubuntu/20.04/prod.list , which exists, but I get an error " Unable to locate package mssql-tools" when I try to install it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39bb4ba1-

[2020-05-13 15:06] camille-rodriguez commented on #4775
Also, if I try to install from 18.04 or earlier, there are broken dependencies.

[2020-05-13 15:21] openStove commented on #4748
No it doesn't help, as PolyBase is not using the synthax describded there... unfortunately...
The ServiceName has to be placed in front of the location, but it is not documented...

[2020-05-13 15:39] VanMSFT commented on #4775
Hi @camille-rodriguez! Ubuntu 20.04 is not a supported for SQL Server at the moment.

https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-release-notes-2019?view=sql-server-ver15

[2020-05-13 15:39] #4775 closed

[2020-05-13 16:05] sdeshbhratar commented on #4757
I am not looking for a particular document, I am trying to connect with the team that manages the SSDT installation software. I am running into multiple issues with installing the tools for my instance of VS. some files seem to be missing from the catalog and causing the failure.

[2020-05-13 17:13] WilliamAntonRohm commented on #4769
@imba-tjd -- 谭九鼎, thank you for your contribution.

@MladjoA -- Mladen, please review the above-mentioned PR 4761.

[2020-05-13 17:14] WilliamAntonRohm commented on #4771
@Shuwi75 -- thank you for your feedback.  Please raise it here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-05-13 17:14] #4771 closed

[2020-05-13 17:18] WilliamAntonRohm commented on #4774
@flipbit03 -- Cadu, thank you for your feedback.  Do you have a particular docs.microsoft.com article in mind?

[2020-05-13 17:22] WilliamAntonRohm commented on #4754
@ManuelBeltran2019 -- glad you got it to work for you, and thank you!

[2020-05-13 17:22] #4754 closed

[2020-05-13 17:27] WilliamAntonRohm commented on #4741
@Sandip75 -- Sandip, thank you for your reply and your solution.  This repo is solely for issues with existing documentation and its examples, and so I am unable to assist in your scenario.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-05-13 17:32] WilliamAntonRohm commented on #4267
@hublisunil -- thank you for your feedback.  This repo is solely for existing documentation and its examples.  Please try these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to add your issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-05-13 17:32] #4267 closed

[2020-05-13 17:51] WilliamAntonRohm commented on #4726
@rsocol -- Rasvan, thank you for clarifying further.

@jovanpop-msft -- Jovan, please look into this issue.

[2020-05-13 18:43] hkonomi1 commented on #4724
It is not working, still the same error

[2020-05-13 18:53] WilliamAntonRohm commented on #4734
@sarajag -- thank you for clarifying.  For your first scenario, it looks like the statement is missing the ServerNode part:
[code]
For your second scenario, please try the links I sent previously.

@MikeRayMSFT -- please look into this potential documentation issue.

[2020-05-13 18:58] WilliamAntonRohm commented on #4721
@dontmesswithbill -- thank you for clarifying.  That article is specific to RHEL, and this repo is solely for existing documentation & examples.  Please try the links I sent previously, including the feedback one.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-05-13 18:58] #4721 closed

[2020-05-13 19:04] denmitchell opened #4776 "RETURN SCOPE_IDENTITY() vs. SELECT SCOPE_IDENTITY()"
Regarding the [SQL Server Unit Test Walkthrough](https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/ssdt/walkthrough-creating-and-running-a-sql-server-unit-test.md) ...

I am having difficulty returning the newly inserted identity value for CustomerID when the uspNewCustomer stored procedure ends with ```SELECT SCOPE_IDENTITY()```.  I don't have any difficulty if I modify this line to be ```

[2020-05-13 19:12] WilliamAntonRohm commented on #4680
@kartas39 -- Sergei, thank you for clarifying.  This appears to be a product issue.  Please file it here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-05-13 19:23] WilliamAntonRohm commented on #4776
@denmitchell -- Dennis, thank you for your feedback.  I am looking into this article.

[2020-05-13 19:58] MashaMSFT commented on #4771
Hi @Shuwi75 , thanks for bringing this to our attention! Actually, I can update these images myself.
I'll update the Issue once the change is processed, but please bear with us as it may not happen immediately.

Thanks!
Masha from the SQL Docs team

[2020-05-13 23:24] MightyPen commented on #4723
I reviewed private repo PR 14968 .
G

[2020-05-14 00:08] WilliamAntonRohm commented on #4727
@stevestein -- Steve, please review [private PR 14970](https://github.com/MicrosoftDocs/sql-docs-pr/pull/14970).

[2020-05-14 01:00] patrickmcdermo commented on #4744
FYI. I installed OpenSSL for Windows and that fixed the problem. Wish the documentation had mentioned that.

[2020-05-14 01:16] markingmyname commented on #4724
Hi, @hkonomi1,

I'm not getting an issue either.

I know this is easier said than done, but any chance you can try on a different machine or clear the cache from your browsers?

[2020-05-14 07:18] carrzkiss opened #4778 "SQL Server 2019 Core - Computer Management Does not show all information"
To recreate this issue.
Install SQL Server 2019 on a Windows server 2016 Core.
Setup all rules.
Connect to the Server from another machine through Computer Management
Select [SQL Server Configuration Management] on the left tree menu
Then select [SQL Server (InstanceName))
And there is NOTHING showing in this area.

Wayne Barron

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-05-14 08:37] mco100 opened #4779 "ActiveX subsystem discontinued ?"
isn't there a contradiction between this page and the fact that this subsystem is discontinued since SQL Server 2016 ? see https://docs.microsoft.com/en-us/sql/database-engine/discontinued-database-engine-functionality-in-sql-server?view=sql-server-ver15#discontinued-features-in--1 this subsystem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-05-14 12:39] ogsadmin commented on #4742
I don't want to be nit-picky, but the documentation (see https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-machine-learning-docker?view=sql-server-ver15#prerequisites and in this repo: https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/linux/sql-server-linux-setup-machine-learning-docker.md) explicitely state that the steps should work for Docker on Windows.

The Prerequisite

[2020-05-14 12:58] hkonomi1 commented on #4724
This is the error I get with multiple browsers when clicking the download
link:
[image: image.png]

On Wed, May 13, 2020 at 9:16 PM Mark Ghanayem <notifications@github.com>
wrote:

[2020-05-14 13:29] m60freeman opened #4781 "No maximum value for MAX_STORAGE_SIZE_MB is documented"
Any attempt to set the value of MAX_STORAGE_SIZE_MB higher than 10240 results in the following error message: "Cannot set Query Store max_storage_size_mb to nnnnn. The maximum allowed limit is 10240 MB." This limit does not appear to be documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 155bfbc5-9c63-32c6-9d06-

[2020-05-14 13:29] m60freeman opened #4782 "No maximum value for MAX_STORAGE_SIZE_MB is documented"
Any attempt to set the value of MAX_STORAGE_SIZE_MB higher than 10240 results in the following error message: "Cannot set Query Store max_storage_size_mb to nnnnn. The maximum allowed limit is 10240 MB." This limit does not appear to be documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49b587ab-50b8-eada-aa86-

[2020-05-14 13:30] DikAlex777 opened #4783 "Error when connecting to SSAS via msmdpump.dll in SSMS 18.5"
Hi,

We have an SSAS instance with https access configured via msmdpump.dll. In 18.4 connection works fine, but in 18.5 it gives following error:

Cannot connect to https://myserver/OLAP/msmdpump.dll.

ADDITIONAL INFORMATION:

String reference not set to an instance of a String.
Parameter name: s (mscorlib)

Could you check what is the reason?

Also, reported and confirmed here: https://feedback.a

[2020-05-14 14:09] ccparkhill opened #4784 "Incorrect date"
The date listed for SQL Server 2017 CU 20 is actually for CU19.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1353d4d-3899-d6cf-e44f-8536c7828335
* Version Independent ID: de0210cf-386a-f8c8-1157-40cea207ed4b
* Content: [Latest updates for Microsoft SQL Server - SQL Server](https://docs.microsoft.com/en-us/sql/databa

[2020-05-14 14:20] MCcoder52 commented on #4652
Thank you.The error was mine. I am working with two different sized displays connected to a single laptop. Working on a complex query, I had to move the application back and forth between displays. At some point it shrank, the insertion caret was too small to render and I was so focused on the query, I did not notice I was working through a 4x4 inch keyhole. I posted the remark (Thanks again for y

[2020-05-14 14:39] cawrites commented on #4742
@ogsadmin I will confirm this information and provide an update. The test performed was in a Linux operating system, as you did not state your operating system in your initial request.

[2020-05-14 14:53] flipbit03 commented on #4774
Yes, it was the article about configuring the MSSQL Linux ODBC Driver. But I inspected further and, while the 20.04 repository is there, the mssqlodbc17 driver is still not present, so I guess _the guys at MS_ are still working on it.

Sorry!

[2020-05-14 15:26] ogsadmin commented on #4742
Perfect, thanks!

Sorry for the confusion - I started out trying to get this working under Docker for Windows - then after your comment that this is not a supported scenario, switched to Docker for Linux. As this failed, too, I went over the documentation again - finding that it actually should work on Docker for Windows, too...

I'm keeping my feet still now until you had the time to check - I re

[2020-05-14 16:38] cawrites commented on #4742
@ogsadmin what version of Ubuntu are you using?

[2020-05-14 17:31] WilliamAntonRohm commented on #4778
@carrzkiss -- Wayne, thank you for your feedback.  This seems to be an issue with the product and not the documentation.  Please see these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

cc @MashaMSFT for awareness

I am closing this issue now.  You are welcome to @ mention me fo

[2020-05-14 17:31] #4778 closed

[2020-05-14 17:32] WilliamAntonRohm commented on #4779
@mco100 -- thank you for your question.

@markingmyname -- please look into this issue.

[2020-05-14 17:35] WilliamAntonRohm commented on #4781
@m60freeman -- Mark, thank you for your feedback.

@pmasl -- Pedro, please look into this issue.

related to #4782

[2020-05-14 17:36] cawrites commented on #4742
@ogsadmin Please review this link and confirm that your setup meets the supported. https://support.microsoft.com/en-us/help/4047326/support-policy-for-microsoft-sql-server

[2020-05-14 17:40] WilliamAntonRohm commented on #4784
@ccparkhill -- thank you for your feedback.

@tmichael-ms -- please look into this issue.  You are welcome to send me the date & I will update the article.

[2020-05-14 17:41] #4657 closed

[2020-05-14 18:43] WilliamAntonRohm commented on #4774
@flipbit03 -- Cadu, thank you for clarifying.

cc @David-Engel for awareness

[2020-05-14 18:43] #4774 closed

[2020-05-14 19:18] markingmyname commented on #4661
@masaki1234

We are working on adding this info to the article.

Thanks for the feedback.  To answer your question, for now, it is similar to the [specs of VS2017](https://docs.microsoft.com/en-us/sql/sql-server/install/hardware-and-software-requirements-for-installing-sql-server-ver15?view=sql-server-ver15).  The caveat is it does not require the same amount of disk space.

[2020-05-14 19:23] markingmyname commented on #4661
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-05-14 19:23] #4661 closed

[2020-05-14 20:55] cawrites commented on #4742
@ogsadmin can you briefly explain what you are planning to use this for? Do you have a business scenario(use case), or are you just testing a service?

[2020-05-14 21:34] WilliamAntonRohm commented on #4783
@DikAlex777 -- thank you for your question.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

Are you looking at a particular docs.microsoft.com article?

[2020-05-14 21:45] edurakhanyan opened #4787 "wrong sentence"
i think this sentence is not grammatically correct:

The query optimizer makes a cost-based decision to push computation to Hadoop when doing so will improve query performance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ebefef-f8c5-e429-269e-1ef7a96264fd
* Version Independent ID: a8009495-9bb9-87f4-85af-0ac0074749

[2020-05-14 22:08] #4723 closed

[2020-05-15 03:13] agr opened #4788 "Need more details about DELIMITEDTEXT file content expectations when STRING_DELIMITER is specified."
I have a delimited text file, that uses single space as a field separator and puts quotes around string values _only_ when there is a space in that value. Is it possible to describe such format with CREATE EXTERNAL FILE FORMAT?
Does specifying STRING_DELIMITER make it expect that _every_ string value in the file would be surrounded by that delimiter?

---
#### Document Details

⚠ *Do not edit this

[2020-05-15 04:53] eriawan opened #4789 "Please add screenshot on "How to configure memory options using SQL Server Management Studio" section"
The section of "How to configure memory options using SQL Server Management Studio" doesn't have clear explanation because it doesn't have enough information especially screenshot on how to get the configuration display.
Please add screenshot on "How to configure memory options using SQL Server Management Studio" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-05-15 07:42] ogsadmin commented on #4742
@cawrites we are currently selling a product based on SQL Server SSRS + ML services with a SPA web frontend hosted on IIS (using a ASP.NET Core backend). We currently deploy this solution either to a single server (for small setups, usually with SQL Server Express) or for larger installations to the customers infrastructure (typically SQL Server Enterprise (in various versions) + additional VMs).

[2020-05-15 11:27] DikAlex777 commented on #4783
it is a bug in SSMS 18.5, i just wanted to link this issue to https://docs.microsoft.com/en-us/sql/ssms/release-notes-ssms?view=sql-server-ver15#known-issues-185, like other issues are visible there:
![image](https://user-images.githubusercontent.com/65350243/82045691-d0845c80-96af-11ea-8a97-020d8b4e60ec.png)

[2020-05-15 13:00] NaomiN opened #4790 "What kind of conditions are allowed?"
I tried to create a filtered index using NOT LIKE 'Value%' expression and then also NOT IN ('Value1', 'Value2') and both resulted in error Msg 102, Level 15, State 1, Line 163
Incorrect syntax near 'NOT'.
I can try one more time using where column !='Value2' and Column =!'Value2' I'm using Azure DB

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-05-15 13:02] NaomiN commented on #4790
Just a comment - the last variation (with two conditions) did work.

[2020-05-15 13:17] binki commented on #4723
When will the changes be reflected in this repository? It still looks incorrect to me.

[2020-05-15 14:56] Protiguous opened #4791 "The SQL examples are not colored."
The SQL examples are not colored, (like they are on
https://docs.microsoft.com/en-us/sql/t-sql/language-elements/set-operators-union-transact-sql).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afce4563-251c-b618-9ed3-e8a8240a65f5
* Version Independent ID: 1bf83dd1-97c7-853e-1ef8-cce95b4bdf7d
* Content: [EXCEPT and IN

[2020-05-15 15:03] russellg59 opened #4792 "Date format"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Management Studio (SSMS) - SQL Server Management Studio (SSMS)](https://docs.microsoft.com/en-us/sql/ssms/download-sql-

[2020-05-15 15:36] rdouglas66 opened #4793 ""Automatically remove agent history" does not exist"
On the History tab of SQL Agent properties, there is no label titled "Automatically remove agent history". There is, however, one titled "Remove agent history". This does not appear to be a persistent option. When one clicks on it and returns later the checkbox is no longer checked.
Is this feature designed to be a one-off shrink, or should it keep history to a set time period indefinitely?

---
#

[2020-05-15 15:59] camille-rodriguez opened #4794 "Unable to complete the example"
At the "Load Data" step, when I run this section
[code]
I end up with this error:
[code]
Is this example missing some data to be loaded?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf1b0e77-0f03-7b70-b2e3-26911e49dd47
* Version Independent ID: 511793e4-b3c5-3d07-a8e9-bc10b8347985
* Content: [Ingest data into a SQL S

[2020-05-15 16:23] nirmalkohli opened #4795 "Edition Availability needs to be fixed"
Polybase can now use Standard Edition for the head node (starting with SQL Server 2019). This page needs to be updated in the "Editions Availability" section, where it says this feature is only available in Enterprise Edition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f4110e3-60aa-33ec-a988-dac8ff120969
* Version

[2020-05-15 17:40] WilliamAntonRohm commented on #4787
@edurakhanyan -- thank you for your feedback.  I am looking into clarifying that sentence.

[2020-05-15 17:42] ChrisWoods1977 opened #4796 "Permissions"
May I recommend specifically calling out in the permissions section something like, "Membership of the database role db_owner is not enough. The user must also be the actual owner." I had this problem and have come across several forum posts that show others were confused by this, as well. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-05-15 17:46] CarlRabeler commented on #4788
yes, that is my understanding

[2020-05-15 17:47] MightyPen commented on #4723
@binki We need to give the system a couple business days.  As of now, the PR was merged less than two business days ago.  Thanks.

[2020-05-15 18:19] CarlRabeler commented on #4796
@pmasl Pedro - could you please look at this?

[2020-05-15 18:33] CarlRabeler commented on #4796
@VanMSFT  could you also look into this?

[2020-05-15 18:38] CarlRabeler commented on #4772
@pmasl Pedro, could you please look at this?

[2020-05-15 18:40] CarlRabeler commented on #4767
@pmasl Pedro, do you know who can answer this question?

[2020-05-15 18:41] CarlRabeler commented on #4748
@openStove do you have a script with the syntax working that you can provide me?

[2020-05-15 18:54] VanMSFT commented on #4796
@CarlRabeler - I think it's worth calling out if there's confusion. To me, it's clear that you need owner permission, not just db_owner role, or else we would purposely state db_owner role instead of ownership itself.

![image](https://user-images.githubusercontent.com/40007119/82085986-ab3d2180-96a2-11ea-8dde-5ac61722cf03.png)

@AndreasWolter - Please let us know your thoughts. Thanks!

[2020-05-15 19:01] MrBrianGale commented on #4767
I mean, I expect the documentation to be correct and the SQLNCLI driver is being used by default, even in SQL Server 2019, , I just think that some clarification on as to WHY this is the default.
My best guess is that it is due to compatibility reasons, but it would be helpful to include that in the documentation.

[2020-05-15 19:23] AndreasWolter commented on #4796
Thanks for calling that out.
I suggest to rephrase like so:
To run sp_updatestats as user needs to be the owner of the database (the dbo, not just member of the role db_owner) or to be member of the sysadmin fixed server role.

[2020-05-15 20:25] julieMSFT commented on #3786
@m60freeman Hello, I have taken over this issue and am researching an answer. Thank you.

[2020-05-15 20:47] agr commented on #4788
Was that "yes" for the first or the second question? :)

[2020-05-15 21:12] WilliamAntonRohm commented on #4789
@eriawan -- Eriawan, thank you for your feedback.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@pmasl -- Pedro, please look into this issue.

[2020-05-15 21:55] julieMSFT commented on #4234
@TheConstructor Hello and thank you for contacting Microsoft. I ran your code in SQL Server 2017 and have annotated the results. The change did take place in SQL Server 2017. I will update the document to show that the from 2017 the schema and the name of the stored procedure are returned.

BEGIN TRAN;
GO
EXEC ( N'CREATE SCHEMA deleteMe' );
GO
CREATE OR ALTER PROCEDURE usp_ExampleProc1
AS
SELECT 1

[2020-05-15 21:58] MinghuaJiang opened #4797 "Question about last commit time in dm_geo_replication_link_status"
The time of last transaction committed to the database. If retrieved on the primary database, it indicates the last commit time on the primary database. If retrieved on the secondary database, it indicates the last commit time on the secondary database. If retrieved on the secondary database when the primary of the replication link is down, it indicates until what point the secondary has caught up

[2020-05-15 22:18] WilliamAntonRohm commented on #4790
@NaomiN -- Naomi, thank you for your question and successful research.  The article mentions:

@MikeRayMSFT -- Mike, please look into this issue.

[2020-05-15 22:19] WilliamAntonRohm commented on #4791
@Protiguous -- thank you for your feedback.  I am looking into this article.

[2020-05-15 22:21] WilliamAntonRohm commented on #4792
@russellg59 -- Russell, thank you for your feedback.  Please clarify your issue.  Meanwhile, please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-05-15 22:23] WilliamAntonRohm commented on #4793
@rdouglas66 -- thank you for your feedback and question.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@markingmyname -- please look into this issue.

[2020-05-15 22:29] NaomiN commented on #4790
I think we may want to add some clarifications of what is considered "simple".

[2020-05-15 22:32] WilliamAntonRohm commented on #4794
@camille-rodriguez -- Camille, thank you for your feedback.  I believe the table name should be `sales.dbo.web_clickstreams_hdfs_parquet`, as in [this GitHub example](https://github.com/microsoft/sql-server-samples/blob/master/samples/features/sql-big-data-cluster/data-pool/data-ingestion-sql.sql).

Please let me know if this solves your issue, and then I will updated this article.

cc @MikeRayMSF

[2020-05-15 22:33] WilliamAntonRohm commented on #4795
@nirmalkohli -- thank you for your feedback.  I am looking into this article.

[2020-05-15 22:39] WilliamAntonRohm commented on #4797
@MinghuaJiang -- Minghua, thank you for your question.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@CarlRabeler -- Carl, please look into clarifying that paragraph.  You are welcome to send me the updated prose & I will create a PR for this issue.

[2020-05-16 09:27] amwwgjj commented on #4760
@WilliamAntonRohm

Starting cluster deployment.
Waiting for cluster controller to start.
Cluster controller endpoint is available at 192.168.11.215:30080.
Waiting for control plane to be ready after 5 minutes.
Waiting for control plane to be ready after 10 minutes.
Waiting for control plane to be ready after 15 minutes.
Waiting for control plane to be ready after 20 minutes.
Waiting for control pl

[2020-05-16 13:46] DanielSmon opened #4798 "Full-Text Search?"
It would be helpful if there was a hint on the recommended way to run on docker with full-text search support. There are instructions on installing full-text on Linux (https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-full-text-search?view=sql-server-ver15), but no mention of docker. It looks like we need to mint our own docker image?

Cheers,
Daniel

---
#### Document Details

⚠ *

[2020-05-16 15:49] ChrisWoods1977 commented on #4796
I like that proposed change. It clears up any possible confusion. Thanks!

On Fri, May 15, 2020, 2:31 PM Andreas Wolter <notifications@github.com>
wrote:

[2020-05-16 18:06] cawrites commented on #4742
@ogsadmin  Thank you for providing the information regarding your use of Microsoft products.

[2020-05-16 19:13] cawrites commented on #4742
@ogsadmin I want to make sure that you get the support that is needed.  I appreciate any feedback that helps us to improve our documentation. In reviewing your use case as well as your original comments,  your issues may be more focused on your setup. I will provide more definitive information during the week. Thank for your patience.

[2020-05-17 10:37] me2unni opened #4800 "Bulk Insert Azure SQL from Storage Account - Only working if the Storage Account firewall setting is "All Networks""
Trying to do Bulk upload from Storage Account Excel to Azure SQL Database:

[https://docs.microsoft.com/en-us/sql/relational-databases/import-export/examples-of-bulk-access-to-data-in-azure-blob-storage?view=sql-server-ver15](url)

The code is working when firewall setting for Storage Account is "All Networks".

But if we specify IPs in the firewall including the local IP of the machine (SSMS is a

[2020-05-17 10:48] me2unni opened #4801 "Bulk Insert Azure SQL from Storage Account - Only working if the Storage Account firewall setting is "All Networks" #4800"
Trying to do Bulk upload from Storage Account Excel to Azure SQL Database:

https://docs.microsoft.com/en-us/sql/relational-databases/import-export/examples-of-bulk-access-to-data-in-azure-blob-storage?view=sql-server-ver15

The code is working when firewall setting for Storage Account is "All Networks".

But if we specify IPs in the firewall including the local IP of the machine (SSMS is accessed

[2020-05-17 20:53] mwdarab opened #4803 "Update to single node script"
Please update:

DOCKER_TAG="2019-CU3-ubuntu-16.04"

to

DOCKER_TAG="2019-CU**4**-ubuntu-16.04"

[2020-05-18 06:02] msebolt commented on #4652
@MCcoder52 Sure, sounds good.  Thank you for posting the full explanation and contributing to the docs.

Closing this issue now.

[2020-05-18 06:02] #4652 closed

[2020-05-18 06:27] msebolt commented on #4639
Closing this issue now.

[2020-05-18 06:27] #4639 closed

[2020-05-18 07:58] russellg59 commented on #4792
It absolutely drives me nuts when I see Microsoft Documents with dates like 1/12/19. Is that 1st of December (I live in the UK) or is it 12th of January. Please can you show dates as 1 Jan 19. Then there is no possibility of confusion. I know you’ll say “use regional settings”. But in some cases they just plain don’t work.

Kind Regards

Russell

Russell Gilbert
russell@sandyatom.uk<mailto:russell

[2020-05-18 10:30] Robert-Kostecki opened #4804 "APPLIES TO: Azure Synapse Analytics (SQL DW) does not seem to be the case"
@@version: Microsoft Azure SQL Data Warehouse - 10.0.11038.0 Apr 30 2020 04:41:26 Copyright (c) Microsoft Corporation
Msg 40515, Level 15, State 1, Line 45
Reference to database and/or server name in 'xxx.INFORMATION_SCHEMA.SEQUENCES' is not supported in this version of SQL Server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-05-18 13:59] AnandaSim opened #4805 "SSMS View Designer forces CONCAT to {fn CONCAT"
I had to figure a way to search for the phrase { fn in Google Search and Fn is some pop singer's name so reference to this article took me a long time to get there. Somehow, there must be a way to make {fn easier to find.

The reason why I was looking for {fn was that SSMS View Designer 17 and 18 changed my T-SQL from CONCAT(field1, field2, field3) to { fn CONCAT(...)} and then caused the issue th

[2020-05-18 14:33] felipespas-brz opened #4806 "Secondary replica behavior when suspended"
Regarding the statement "Existing connections on the readable secondary remain usable. New connections to the suspended database on the readable secondary are not allowed until data movement is resumed."
We have a SQL 2019 environment where we suspended the secondary replica in the secondary itself and we were still able to open new connections with the app directly pointed to the secondary (witho

[2020-05-18 16:13] #4679 closed

[2020-05-18 17:00] WilliamAntonRohm commented on #4758
@TaylorN15 -- Taylor, thank you for your feedback.  I am looking into this article.

[2020-05-18 17:46] KalleOlaviNiemitalo opened #4807 "CREATE TABLE with trailing comma before closing parenthesis"
SQL Server 2014 SP2 accepts a trailing comma in `CREATE TABLE`:

[code]

This syntax does not seem to be documented, though. The syntax diagrams for `CREATE TABLE` just use `[ ,...n ]`, and [Transact-SQL Syntax Conventions](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/transact-sql-syntax-conventions-transact-sql?view=sql-server-2017) does not mention trailing commas. So I am wonder

[2020-05-18 18:05] KalleOlaviNiemitalo commented on #4807
According to [Why doesn't a trailing comma after the last field matter when creating a table using T-SQL?](<https://stackoverflow.com/questions/20961185/why-doesnt-a-trailing-comma-after-the-last-field-matter-when-creating-a-table-u> "tsql - Why doesn't a trailing comma after the last field matter when creating a table using T-SQL? - Stack Overflow"), SQL Server tolerating the trailing comma was p

[2020-05-18 18:08] CarlRabeler commented on #4804
@julieMSFT could you please look into this?

[2020-05-18 18:42] julieMSFT commented on #4804
#assign:julieMSFT

[2020-05-18 18:42] julieMSFT commented on #4804
@Robert-Kostecki Hello, Thank you for contacting Microsoft. I am looking into this.

[2020-05-18 20:18] potato-enthusiast opened #4808 "Bytes_per_sec column"
Does the bytes_per_sec column describe the assigned throughput of the DMS step or is it simply bytes_processed / total_elapsed_time?

I'm debugging a query where all distributions had similar bytes_processed and rows_processed, but one distribution had bytes_per_second 60x less than the others (and took 60x longer)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-05-18 21:36] WilliamAntonRohm commented on #4803
@mwdarab -- Mohammad, thank you for your feedback.  Which article are you referring to?

[2020-05-18 21:38] WilliamAntonRohm commented on #4800
@me2unni -- thank you for your feedback.  I am closing this issue as a duplicate of #4801, which will be addressed shortly.

[2020-05-18 21:38] #4800 closed

[2020-05-18 21:41] WilliamAntonRohm commented on #4806
@felipespas-brz -- Felipe, thank you for your feedback.  I am looking into this article.

[2020-05-18 21:57] WilliamAntonRohm commented on #4801
@me2unni -- thank you for your feedback and questions.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to add this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

@MashaMSFT -- please look into this potential documentation i

[2020-05-18 22:00] WilliamAntonRohm commented on #4805
@AnandaSim -- thank you for your feedback.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to add this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

@julieMSFT -- please look into this potential documentation issue.

[2020-05-18 22:04] WilliamAntonRohm commented on #4808
@potato-enthusiast -- thank you for your question.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@ronortloff -- please look into this issue.

[2020-05-18 22:09] ronortloff commented on #4808
Bytes_per_sec is bytes_processed / total_elapsed_time.  This could be a case where the SQL query on the compute node took longer to produce the rows to be moved.

[2020-05-18 22:10] ronortloff commented on #4808
#please-close

[2020-05-18 22:10] #4808 closed

[2020-05-18 22:12] pmasl commented on #4807
The fact that CREATE TABLE syntax allows a trailing comma is not considered a feature. We may consider fixing this in a future release. #please-close

[2020-05-18 22:12] #4807 closed

[2020-05-18 23:31] WilliamAntonRohm commented on #4758
@MikeRayMSFT -- please review [private PR 15002](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15002).

[2020-05-18 23:32] WilliamAntonRohm commented on #4760
@amwwgjj -- this repo is solely for documentation issues, with limited support options.  Please see the links in my previous comment.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-05-18 23:32] #4760 closed

[2020-05-18 23:36] WilliamAntonRohm commented on #4776
@markingmyname -- Mark, please review [private PR 15003](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15003).

[2020-05-18 23:42] WilliamAntonRohm commented on #4787
@MikeRayMSFT -- please review [private PR 15004](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15004).

[2020-05-19 00:22] lnewportmsft opened #4809 "Pushdown limitations for Oracle data sources"
It would be helpful to understand the pushdown limitations/gotchas for Oracle data sources.  The document here (https://docs.microsoft.com/en-us/sql/relational-databases/polybase/polybase-pushdown-computation?view=sql-server-ver15) is specific to Hadoop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4670a32c-843d-3464

[2020-05-19 01:49] AnandaSim commented on #4805
Thanks for that. I found the tip about how the SSMS Query Designer does not
recognise SQL Server's 2012 (onwards) CONCAT keyword just before save from
Stack Overflow but I was puzzled how to phrase the search for the article

Either fix the SSMS Query Designer (both 17 and 18 don't understand this
and other enhancements even though they would be tools meant for SQL Server
2012, 2014, 2017 and 2019

[2020-05-19 03:24] hyoshioka0128 opened #4810 "Typo "[Code of Conduct][conduct-md]" ?"
https://docs.microsoft.com/en-us/sql/azure-data-studio/powershell-extension?view=sql-server-ver15

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abda6b59-7b6a-af05-5551-06375473fdc3
* Version Independent ID: 0bba3dc2-9bce-5df1-fa8a-be933632e733
* Content: [PowerShell extension - Azure Data Studio](https://docs.microsof

[2020-05-19 10:13] Iamanorange opened #4811 "In the example script, DacStore is deprecated since MS SQL Server 2012"
Error message:
[code]
Link to DacStore doc: https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/ee242746(v%3Dsql.105)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 153035d3-8b8a-5d7c-f400-ba32fc3bd53c
* Version Independent ID: adbe44f8-d6b0-33dd-cfb1-cf7d3b259c8a
* Content: [Upgrade a Data-tier A

[2020-05-19 14:16] #4647 closed

[2020-05-19 14:21] #4727 closed

[2020-05-19 14:26] AAATechGuy opened #4812 "what is the address of connecting to SQL docker from host"
this is a common confusion.
In this walkthrough, to connect via SSMS, you need this address `localhost\sqlexpress,1433`, which is not clear in this tutorial. spent some time to figure it out.
Discussion here https://github.com/microsoft/msphpsql/issues/302

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b152444b-dfb8-5c

[2020-05-19 14:28] AAATechGuy commented on #4812
it's not just IP Address, rather, ipaddress\instancename,port
PS, i do have sql installed on my host.

[2020-05-19 14:39] #4769 closed

[2020-05-19 16:01] potato-enthusiast opened #4813 "All possible values for "row_count" column are not documented."
It is common for the row_count column to have a value of -1 in sys.dm_pdw_request_steps. But this document suggests that the column will always have a value &gt;= 0. Please include a definition for when the value is -1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a7154f3-1239-dab8-48ac-0fa21fb158d3
* Version Indepe

[2020-05-19 17:05] WilliamAntonRohm commented on #4810
@hyoshioka0128 -- Hiroshi, thank you for your feedback.  I am looking into this article.

[2020-05-19 17:08] WilliamAntonRohm commented on #4813
@potato-enthusiast -- thank you for your feedback.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@ronortloff -- please look into this issue.

[2020-05-19 17:10] WilliamAntonRohm commented on #4811
@Iamanorange -- thank you for your feedback.

@stevestein -- please look into this issue.

[2020-05-19 18:04] ronortloff commented on #4813
Thanks for the feedback.  A PR was submitted to address this.

[2020-05-19 18:04] ronortloff commented on #4813
#please-close

[2020-05-19 18:04] #4813 closed

[2020-05-19 18:28] CarlRabeler commented on #4797
resolved offline

[2020-05-19 18:28] #4797 closed

[2020-05-19 18:33] CarlRabeler commented on #4788
Sorry - second question - every string value with delimiter

[2020-05-19 18:35] CarlRabeler commented on #4772
@pmasl Pedro, could you please look at this?

[2020-05-19 18:44] CarlRabeler commented on #4728
@rrg92 please see explanation here: https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.sqlskills.com%2Fblogs%2Fpaul%2Fcause-high-duration-async_io_completion-waits%2F&data=02%7C01%7CCarl.Rabeler%40microsoft.com%7C206039dd00264d423ff108d7f525f3ab%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637247415655440900&sdata=EoZzIFev1Um6yX5gLnB9Rs4VMAk2DPB73k%2FhDXudP1Y%3D&reserved=0

seei

[2020-05-19 18:44] CarlRabeler commented on #4664
@pmasl Hi Pedro, can you assist with this newly added column to sys.servers? It is not currently documentated.

[2020-05-19 18:47] CarlRabeler commented on #4568
@pmasl Pedro, can you please review this issue? Thanks, Carl

[2020-05-19 18:47] CarlRabeler commented on #4624
@pmasl Pedro, can you please review this issue? Thanks, Carl

[2020-05-19 18:48] CarlRabeler commented on #4254
@pmasl Pedro, could you please look at this issue re: missing columns? Thanks, Carl

[2020-05-19 18:49] CarlRabeler commented on #4170
@pmasl Pedro, could you please look at this issue re: missing columns? Thanks, Carl

[2020-05-19 19:10] MladjoA commented on #3343
@dvansteenburg, @TroyWitthoeft, it's my pleasure to announce that CURRENT_TIMEZONE_ID() is now available:
https://docs.microsoft.com/en-us/sql/t-sql/functions/current-timezone-transact-sql?view=sql-server-ver15

[2020-05-19 19:12] WilliamAntonRohm commented on #4812
@AAATechGuy -- Abin, thank you for your feedback and research.

@vin-yu - Vin, please look into this issue.

[2020-05-19 19:16] pmasl commented on #4170
#reassign:uc-msft

[2020-05-19 19:17] pmasl commented on #4170
#assign:CarlRabeler

[2020-05-19 19:18] pmasl commented on #4170
#assign:uc-msft who owns this area. Confirmed the new SQL 2019 columns were missed.

[2020-05-19 19:18] PRMerger10 commented on #4170
uc-msft is already assigned.

[2020-05-19 19:19] CarlRabeler commented on #4631
this is the reason
2 things must be fulfilled
•	Object created with schema binding
•	Object using temporal query extension  (like SELECT * from myTable AS OF ‘2020.01.01’)

If we allow setting SYSTEM_TIME to OFF on myTable , the view using query above will start failing
This is against promise of schema binding

[2020-05-19 20:13] WilliamAntonRohm commented on #4795
@MikeRayMSFT -- please review [private PR 15023](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15023).

[2020-05-19 20:25] MikeRayMSFT commented on #4376
Investigating.

[2020-05-19 21:41] WilliamAntonRohm commented on #4805
@AnandaSim -- thank you for clarifying.  I am as well puzzled by how to search for a left brace; Googling "\\{" brings up items matching "\\{" exactly, which is not helpful here.

Please add your suggestion regarding Query Designer here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you agai

[2020-05-19 21:41] #4805 closed

[2020-05-19 22:38] hkonomi1 commented on #4724
I am in Canada

[2020-05-19 23:08] markingmyname commented on #4724
can you try downloading one of the different languages and see if that works for you? - https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-2017#available-languages

please let us know.

thank you.

[2020-05-20 07:01] rdawise commented on #4721
@dontmesswithbill I don't know if you fixed this, but I ran into the issue when I used the wrong repo for my OS. The instructions are for RHEL 8 by default. I just changed it to point to 7 since I'm using Centos 7.

[2020-05-20 07:58] crimean-celica opened #4815 "Read-Only Routing support"
You have to specify (and support) "Load Balance Timeout" or "Connection Lifetime" parameters when you're talking about RO Routing support.
https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnection.connectionstring?view=netframework-4.7.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ddd9a68-472e

[2020-05-20 16:20] Ash46 opened #4816 "Connection to SQL Server 2019 using SQL Server Native Client 11.0"
From the below document it looks like SQL Native Client 11.0 does not support connection to SQL Server 2016 and above.

https://docs.microsoft.com/en-us/sql/relational-databases/native-client/applications/support-policies-for-sql-server-native-client?view=sql-server-ver15

“SQL Server Native Client 11.0 supports connections to, SQL Server 2008, SQL Server 2008 R2, SQL Server 2012 (11.x), SQL Serve

[2020-05-20 17:37] David-Engel commented on #4815
@crimean-celica Thanks for submitting feedback.

The [link you provided](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnection.connectionstring?view=netframework-4.7.2) is for .NET Framework's System.Data.SqlClient. The page you are submitting feedback for is for the Microsoft JDBC Driver for SQL Server.

The "Load Balance Timeout"/"Connection Lifetime" connection propert

[2020-05-20 17:51] David-Engel commented on #4763
Closing this issue. If you feel that there is still something that needs to be resolved, feel free to reopen and add more information.

#please-close

[2020-05-20 17:51] #4763 closed

[2020-05-20 17:57] WilliamAntonRohm commented on #4816
@Ash46 -- thank you for your feedback.  Please consider these resources for additional information:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@markingmyname -- please look into this issue.

[2020-05-20 18:05] WilliamAntonRohm commented on #4792
@russellg59 -- Russell, thank you for clarifying.  Please try "en-gb" instead of "en-us" in the docs.microsoft.com URL, for example:
- https://docs.microsoft.com/en-gb/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver15

vs

- https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver15

Also, you can submit issues related to over

[2020-05-20 18:05] #4792 closed

[2020-05-20 18:06] #4713 closed

[2020-05-20 18:22] WilliamAntonRohm commented on #4806
@MashaMSFT -- Masha, please review [private PR 15059](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15059).

[2020-05-20 18:28] pcelba commented on #4631
OK, this explanation is clear and thanks for it.

But either this explanation or the SQL Server 2017 behavior seems to be incorrect.
I have an object (view) with schema binding on versioned table but I don't have any view using temporal query extension (of course, the SYSTEM_VERSIONING was set ON right before an attempt to set it OFF).

The code:
`SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

[2020-05-20 18:28] #4776 closed

[2020-05-20 18:36] crimean-celica commented on #4815
Hello David,

You are right. I have a "balanced" environment (based on AlwaysOn's readable mirrors) with a bunch of applications. And that ability helps us a lot. But JDBC.

This would be great!

Thanks,
Sergey

________________________________
From: David Engel <notifications@github.com>
Sent: Wednesday, May 20, 2020 8:38 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Sergey <ser

[2020-05-20 18:57] #4810 closed

[2020-05-20 18:58] WilliamAntonRohm commented on #4810
I have updated the documentation and it should be live by tomorrow.

[2020-05-20 19:51] sqlvar opened #4817 "Modify_Date column description is not full or correct"
Hello.
Here is the description for MODIFY_DATE in the documentation for the system table 'sys.objects':
<<Date the object was last modified by using an ALTER statement. If the object is a table or a view, modify_date also changes when a clustered index on the table or view is created or altered.>>

I have noticed that the value of MODIFY_DATE also changes when rebuilding a NON-CLUSTERED index like

[2020-05-20 19:53] pmasl commented on #4789
#reassign:MashaMSFT could you please help resolve this one? Thank you

[2020-05-20 20:03] CarlRabeler commented on #4817
@pmasl Pedro, can you please look at this issue? Thanks, Carl

[2020-05-20 20:06] pmasl commented on #4254
Added missing info #please-close

[2020-05-20 20:06] #4254 closed

[2020-05-20 20:30] traderhut opened #4818 "Can't find the list of the errors, someone must have deleted it from the page!"
Obviously, this page would link to a list of error codes we could / should use.. Although, with the option of it being a string, I expect most people won't use the magic numbers...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472beb1c-1682-d2db-c2b1-3083c174b0cc
* Version Independent ID: 099a81a1-42cb-bd91-9147-bc761

[2020-05-20 20:35] rothja commented on #4818
@traderhut Thank you for the feedback. It looks like you're suggesting we link to an article with common errors that might be raised. Is that correct? Would this article be a good option or are you thinking of something else?

- [Database engine errors](https://docs.microsoft.com/en-us/sql/relational-databases/errors-events/database-engine-events-and-errors?view=sql-server-ver15)

[2020-05-20 20:42] WilliamAntonRohm commented on #4478
@dmitribodiu -- thank you for your feedback.  Apologies for the delay in responding.

@shkale-msft -- Shreya, please look into this issue.

[2020-05-20 21:53] pmasl commented on #4817
It's by design. I'll add the missing info. Thanks #please-close

[2020-05-20 21:53] #4817 closed

[2020-05-20 22:00] pmasl commented on #4781
The Query Store has no such limit on SQL 2016 through 2019. Where are you trying to execute ALTER DATABASE ... SET QUERY STORE command?

[2020-05-20 22:05] WHinDenver opened #4819 "Supported operating systems"
The supported OS's listed in this article are:
System Requirements Windows 10 , Windows 7, Windows 8, Windows 8.1, Windows Server 2008, Windows Server 2008 R2, Windows Server 2008 R2 SP1, Windows Server 2012, Windows Server 2012 R2

What of Windows Server 2016 or 2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da

[2020-05-20 22:16] pmasl commented on #4624
This seems to be a bug. We'll get it in the backlog. #please-close

[2020-05-20 22:16] #4624 closed

[2020-05-20 22:24] julieMSFT commented on #4234
#please-close

[2020-05-20 22:24] #4234 closed

[2020-05-20 23:20] #4791 closed

[2020-05-20 23:21] WilliamAntonRohm commented on #4791
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2020-05-21 00:04] julieMSFT commented on #3786
@m60freeman  Hi Mark, I am updating the document to show the values.

Azure SQL Database and Azure Synapse Analytics (SQL DW) – Value is based on SLO unless additional storage has been purchased.

vCore – Value is in 1GB increments up to max size.

The vCore machines should return a value. If you are still having an issue with values being returned for vCore we'd recommend engaging the community,

[2020-05-21 00:04] julieMSFT commented on #3786
#please-close

[2020-05-21 00:04] #3786 closed

[2020-05-21 03:48] Ashwinkumar-R commented on #4816
@WilliamAntonRohm @markingmyname  Thank you for the links. I could not found the information related to my questions in those links. It would be great if you could confirm the connectivity support from your end.

[2020-05-21 05:53] cawrites commented on #4742
@ogsadmin we appreciate your feedback and the need for a clear understanding. We take this feedback seriously and we have made some additional edits to provide further clarity.  I understand your setup is using Windows Server 2019 and the Enterprise version of Dockers. The documentation has general guidance for completing a successful build. In our testing, we have completed a successful build, bu

[2020-05-21 07:11] khoiphanngoc89 opened #4821 "smss intelligent suggestion is too bad"
smss intelligent suggestion is too bad. There are not suggestion when I typing sql query

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Management Studio (SSMS) - SQL Server Management Stu

[2020-05-21 08:21] whudwl opened #4822 "back slashes in front of most lines in the example XML file"
Seems the example XML files are ill formatted, for example one of them looks like this:
![image](https://user-images.githubusercontent.com/2842789/82539079-22d1eb80-9b90-11ea-886a-d4de0cfbf558.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b3384ba-bb57-c651-d1e7-ebcb608c3170
* Version Independent ID: 7e8b85c3-70b

[2020-05-21 10:25] pcelba commented on #4631
Addition to the above SQL script
If I add a new column
`ALTER TABLE dbo.JustCols ADD SomeNewColumn char(20) NULL`

Then the column is added to both original and temporal tables. And I can simply DROP it even when the view with schema binding exists:
`ALTER TABLE dbo.JustCols DROP COLUMN SomeNewColumn`

And the column is removed from both tables even when it contains history data...

So why cannot

[2020-05-21 12:22] Nayyar0 opened #4824 "SQL not working on Synapse"
Example: Use a nonclustered index to enforce a primary key constraint on a columnstore table
The SQL code provided under this example does not work on Azure Synapse as unable to create foreign keys or unique constraint without non enforced. Can you please advice how to maintain referential integrity in a synapse data warehouse without using primary or foreign keys?

---
#### Document Details

⚠ *D

[2020-05-21 14:48] cawrites commented on #4742
#please-close

[2020-05-21 14:48] #4742 closed

[2020-05-21 15:31] julieMSFT commented on #4804
@Robert-Kostecki Hi Robert, thank you for contacting Microsoft. You are correct, sequences do not apply to Azure Synapse Analytics (SQL DW). I have updated the document to reflect this and you should see it shortly. I will go ahead and close this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you agai

[2020-05-21 15:31] julieMSFT commented on #4804
#please-close

[2020-05-21 15:31] #4804 closed

[2020-05-21 16:12] camille-rodriguez commented on #4160
It would be helpful to get a link to the technical support bug that fixed this. I am facing the same issue, how was this resolved? @marasinghe82 , did you find a fix or workaround?

[2020-05-21 16:39] WilliamAntonRohm commented on #4822
@whudwl -- David, thank you for your feedback.  I am looking into this article.

[2020-05-21 16:47] WilliamAntonRohm commented on #4821
@khoiphanngoc89 -- thank you for your feedback.  Please see this article:
- [Configure IntelliSense (SQL Server Management Studio)](https://docs.microsoft.com/sql/ssms/scripting/configure-intellisense-sql-server-management-studio)

You are welcome to add your concern here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any fol

[2020-05-21 16:47] #4821 closed

[2020-05-21 16:48] camille-rodriguez opened #4826 "Where can I find the source code and open bugs against it?"
Hi,
Is there a place for bug reporting against the project, not against the docs? I searched it in the Microsoft github and could not find it. Thank you,
Camille Rodriguez

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41070db8-3232-d4a9-17b7-bf8b86ee784e
* Version Independent ID: 03d9e8eb-4964-a9b8-1ad2-744ef29f30f3
*

[2020-05-21 17:45] WilliamAntonRohm commented on #4826
@camille-rodriguez -- Camille, thank you for your question.  Currently the best place for such feedback is here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-05-21 18:00] WilliamAntonRohm commented on #4824
@Nayyar0 -- thank you for your feedback.  Please consider these resources for your question:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@MikeRayMSFT -- please look into this issue.  The code is in [this section](https://docs.microsoft.com/en-us/sql/relational-databases/indexes/columnst

[2020-05-21 18:04] Rutikhal opened #4829 "syntax error in source db name using copy to another server"
Hi. I would like to copy db from one server to another and I am following this article using T-SQL
CREATE DATABASE db_copy AS COPY OF db.etl-jobs; and  Azure Data Studio and  SQL SMS complains with
"Incorrect syntax near '-'."
How I could copy db with when in name '-'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e8

[2020-05-21 18:09] WilliamAntonRohm commented on #4826
@camille-rodriguez -- the source code repo is here:
- https://github.com/microsoft/sql-server-samples

[2020-05-21 18:45] camille-rodriguez commented on #4826
@WilliamAntonRohm thank you. I'm not sure either of those places are correct for what I want. I need help with an issue I'm facing with the deployment of BDC. Looks like the SQL server feedback is really for feedback, new ideas, etc. , while the sql-server-samples page does not concern big data clusters, but rather examples of standalone SQL.

[2020-05-21 18:53] WilliamAntonRohm commented on #4829
@Rutikhal -- thank you for your question.  Please try enclosing the hyphenated name in [square brackets]:
`CREATE DATABASE db_copy AS COPY OF db.[etl-jobs];`

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-05-21 18:53] #4829 closed

[2020-05-21 20:09] WilliamAntonRohm commented on #4826
@camille-rodriguez -- thank you for clarifying.  What is your issue?  Meanwhile, please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-05-21 20:26] camille-rodriguez commented on #4826
Hi @WilliamAntonRohm
I am installing BDC on microk8s following the kubeadm template. The deployment hangs at "waiting for control plane to be ready". I see that the mgmtproxy pod is not ready, and here are the logs :

[code]
My guess is that the deployment does not complete because of this pod, but I would need guidance into troubleshooting this further and fixing the issue.

Also, here is the out

[2020-05-22 04:18] danparknz opened #4832 "Incorrect permission flow?"
The doc says the permission ALTER ANY SENSITIVITY CLASSIFICATION is implied by the permission ALTER on database, but is not the case when tested on Azure single database?

[2020-05-22 04:50] arzoo1995 commented on #4743
Hi whether is it the right place to ask or not. I just started working on ODBC driver 17 and want to know a little bit more about it.

1. ODBC uses TLS for it's communication or it can work without TLS also?
2. What happens if I disable all TLS(1.0, 1.1, 1.2) from server will it still connect to sql database?

I go through everywhere but did not find this detailed information about it or you can t

[2020-05-22 05:24] Johnny-MG opened #4833 "Snapshot Replication?"
Why no mention of Snapshot Replication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e7c4bee-dbaa-2470-b96e-0822989eb194
* Version Independent ID: 88ca602f-598e-6da4-8f9a-224880a2b8e9
* Content: [Replication Backward Compatibility - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/replication/re

[2020-05-22 05:51] Rutikhal commented on #4829
Thanks. Yes, now it works.

[2020-05-22 13:29] sb08854 commented on #4743
@arzoo1995 -- this could help:
https://support.microsoft.com/en-us/help/3135244/tls-1-2-support-for-microsoft-sql-server

[2020-05-22 13:29] #4743 closed

[2020-05-22 15:20] ogsadmin commented on #4742
Obviously nobody at Microsoft tested this recently. With the comments from @dbamaster regarding the Polybase sample (see https://github.com/microsoft/mssql-docker/issues/589), I finally was able to get this working.

It turned out, that the sample from the master branch refers to a time-bombed preview version of SQL server, which does not work anymore today - so everybody trying to follow the offi

[2020-05-22 15:27] ogsadmin opened #4836 "Environment variable name for password incorrect"
The environment variable for passing the SA password in the docker run command should read MSSQL_SA_PASSWORD instead of SA_PASSWORD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6a10dd4-ef5f-f9a4-f4cb-36346ef183be
* Version Independent ID: 567e43d3-67dd-a771-fcd4-566c84b44dde
* Content: [Install on Docker - SQL Serv

[2020-05-22 15:31] ogsadmin opened #4837 "Prerequisites show Docker for Windows as supported configuration - which is not correct"
Please remove Docker for Windows from the list of prerequisites - according to the discussion at https://github.com/MicrosoftDocs/sql-docs/issues/4742, SQL Server Machine Learning Services do only run on Docker for Ubuntu 16.04 (nothing else is a supported configuration).

Likely the same is true for Docker for Mac?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-05-22 15:55] cawrites commented on #4837
@ogsadmin I understand you are referring to the other issue that has been closed. It was identified that the specific server-based configuration you identified has not been that was tested. The documentation provides general guidance. You also reported error messages that were specifically related to your install, or an incomplete uninstall. To engage the product team to look at the specific confi

[2020-05-22 15:56] #4837 closed

[2020-05-22 17:04] CarlRabeler commented on #4796
@ChrisWoods1977 updating this article today - fix will be live within 6 hours or so

[2020-05-22 17:04] #4796 closed

[2020-05-22 17:05] #4788 closed

[2020-05-22 17:58] WilliamAntonRohm commented on #4829
@Rutikhal -- you're welcome, and glad we could help.

[2020-05-22 19:34] CarlRabeler commented on #4767
SQLNCLI is installed with every version of SQL Server, and SQLNCLI10 is installed with 2008/2008R2. SQLNCLI11 is installed with 2012, 2016, 2017, and 2019. So the customer is partially right, SQLNCLI is the default because not every version of SQL installation includes a specific driver besides SQLNCLI.
You can specify the driver that you want to use in the parameter. MSOLEDBSQL is not installed w

[2020-05-22 19:59] MrBrianGale commented on #4767
So is it more that SQLNCLI10 is discontinued, not that SQLNCLI is discontinued?

[2020-05-22 20:48] WilliamAntonRohm commented on #4832
@danparknz -- thank you for your feedback.  Which docs.microsoft.com article are you reading?  Meanwhile, please consider these resources:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-05-22 20:48] CarlRabeler commented on #4767
See https://docs.microsoft.com/en-us/archive/blogs/sqlnativeclient/announcing-the-new-release-of-ole-db-driver-for-sql-server

I will be updating this article (and others to reflect this). Thank you for bringing this up.
Carl

[2020-05-22 20:49] WilliamAntonRohm commented on #4836
@ogsadmin -- he, thank you for spotting this.  I am looking into the article.

[2020-05-22 20:54] WilliamAntonRohm commented on #4833
@Johnny-MG -- thank you for your question.  Please see this article, and consider these resources:
- https://docs.microsoft.com/en-us/sql/relational-databases/replication/snapshot-replication?view=sql-server-ver15#DistAgent
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

cc @MashaMSFT for a

[2020-05-22 21:07] camille-rodriguez commented on #4742
I totally agree with you @ogsadmin . It has been really difficult to test those docker images, and it does not seem to be updated regularly by their development team. I am testing your PR to see if it would work for me! So which setup did you end working on? Microsoft server with docker or linux?

[2020-05-22 22:32] #4590 closed

[2020-05-22 22:33] #4577 closed

[2020-05-22 22:34] #4606 closed

[2020-05-22 22:35] #4561 closed

[2020-05-22 22:40] jmanske commented on #4606
Why was this closed? Is the data type actually nvarchar(120)? sp_help has the length as 120 which means it is actually nvarchar(60). Is sp_help broken?

[2020-05-22 23:40] WilliamAntonRohm commented on #4606
@jmanske -- I have updated the document, and that auto-closed this issue.  Your correction will be live tomorrow.

[2020-05-22 23:44] cawrites commented on #4742
@camille-rodriguez to keep this conversation single-threaded please post comments in the open PR. This is a closed issue.

[2020-05-23 04:05] danparknz commented on #4832
@WilliamAntonRohm  - sorry, this article: https://docs.microsoft.com/en-us/sql/t-sql/statements/drop-sensitivity-classification-transact-sql?view=azuresqldb-current

[2020-05-23 11:20] Johnny-MG commented on #4833
William

My question, perhaps I didn't make it plain enough was:
The Article has the Transactional and Merge replication technology stacks, and what the combinations are, there is no equivalent 'Snapshot' replication stack?

What are the Combinations for Snapshot replication?

Can I have a SQL 2016 Publisher, 2016 Distributor ad, say, a SQL 2008 r2 Subscriber?

Thanks for the reply.

John

_______

[2020-05-23 15:58] ogsadmin commented on #4837
@cawrites, it was you who explained to me that Docker for Windows is not a supported configuration - if that is true, then please update the documentation accordingly.

I have already found a solution for my initial issue and I now have a working setup - so I don't see the need to open a support case (and waste weeks going back and forth until somebody actually takes action - we've been through th

[2020-05-23 16:36] DenzilNewman commented on #4561
May I ask why this was closed.  It is really simple and definitely wrong, with only a need of an understanding of English to correct.

The title To view the objects on which a table depends

is then followed by the text

"The following example returns the objects that depend on the table Production.Product"

This has the opposite meaning of the title.

The text is correct, the title is not, some u

[2020-05-23 19:47] Mnior opened #4838 "Default Localize"
This is wrong.
This is only true if this is a custom message (> 50000) or English localization of Operation System.
For system errors (< 50000), localization of OS will be used.

For example, test this code for two servers:
[code]
On Server with English localization:
[code]
On Server with Russian localization:
[code]
As you can see, localization mixes unpleasantly. Users can see messages in three

[2020-05-23 21:26] cawrites commented on #4837
@ogsadmin I am glad you were able to work with a fellow contributor and find the solution you need. The team has access to all comments so no going back and forth is needed. Offering  support is an option we provide to all of the community but it is certainly not a requirement.

My only ask at this point is to continue to work with your PR to keep the conversation single threaded for discovery pur

[2020-05-24 10:25] vanillajonathan commented on #4616
This could be auto-generated if SQL feature F501-01 was supported which exposes a SQL_FEATURES view on the INFORMATION_SCHEMA.

[code]

[2020-05-25 00:07] MladjoA commented on #3343
#please-close

[2020-05-25 00:07] #3343 closed

[2020-05-25 06:50] GeneralTyres opened #4839 "SIN input type not specified."
[Enter feedback here]
The document does not specify if the input should be in radians or degrees. From working with it now it seems that the input should be in radians.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6b8f2a0-f927-0082-13b7-5a045f424efb
* Version Independent ID: 5816dbd5-00c3-fd4e-e73c-2156b471dc22
* Co

[2020-05-25 08:34] openStove opened #4840 "Polybase with sql server and active directory user"
I'm trying to configure polybase on sqlserver 2019 to access sqlserver 2017
I get an authentification error.
What I'm not sure about, is if polybase is supporting Active Directory Users or only SQL users... The documentation isn't clear about that

Msg 110045, Level 16, State 1, Line 4
110045;User authorization failed: [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user
---

[2020-05-25 15:30] sharathin commented on #3843
@WilliamAntonRohm : please specify what is the fix here? I too have the same issue.

[2020-05-25 22:53] CeciAc opened #4841 "It seems to me that example don't work in MSSQL-2019"
@OneLonelly commented on [Thu May 21 2020](https://github.com/MicrosoftDocs/sql-docs.ru-ru/issues/85)

The "CREATE ASSEMBLY HelloWorld
FROM &lt;system_drive&gt;:\Program Fi... " don't really work cause file name have to be quoted like string constant (on nvarchar-type variable). And   the next "CREATE ASSEMBLY ... FROM 0x4D5A900000000000 ... "  don't work cause new (since 2017) security politic.

[2020-05-26 01:33] hecongy opened #4843 "Typo"
Did you miss a 'd' in the Note section?
This is the query plan that is store**d**  in the plan cache.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0255e0c3-6f50-a3c5-4ef0-7d93d597e9c9
* Version Independent ID: fd034f77-24f7-3455-5355-ddeb1ad38b21
* Content: [Execution Plans - SQL Server](https://docs.microsoft.com/en

[2020-05-26 01:38] hecongy commented on #4843
PR here: https://github.com/MicrosoftDocs/sql-docs/pull/4844

[2020-05-26 05:29] cawrites commented on #3311
#please-close

[2020-05-26 05:29] #3311 closed

[2020-05-26 05:37] cawrites commented on #4451
@alexandredenis-bib I am following up on your last comment. You were provided several links, but it seems like you are looking for a specific statement to appear in the documentation. Are you looking for limitations to be defined? The documentation does explain the usage of indexes in Azure SQL Database.

[2020-05-26 07:14] brettshearer opened #4848 "UPDATE appears to not work in INSTEAD OF trigger"
Based on docs, I would expect this code to work (default value is set on T3).
Insert statement on view does not insert into T3.
UPDATE(T3) is checked and incorrectly returns true, meaning inserted.t3 is inserted instead of hardcoded value from trigger.

use master;
drop database ViewDemo;
go
create database ViewDemo
go
use ViewDemo

create table SplitTable1 (PK1 uniqueidentifier, T1 int not null d

[2020-05-26 09:12] i-argentinski commented on #4807
In C# enums, trailing comma is allowed. And this is not a bug, it's a feature. It comes straight out of the language specification:
https://docs.microsoft.com/bg-bg/dotnet/csharp/language-reference/language-specification/enums#enum-declarations

Allowing trailing comma is very useful in some circumstances. For example - supporting source-control tools and diffs. These tools do not understand the c

[2020-05-26 10:12] sharathin commented on #3843
For the next person who comes across this, this issue in my system was due to a firewall setting disabling internal communication in private network. After I fixed that, the error was gone.

[2020-05-26 10:46] Protiguous opened #4849 "SQL coloring is not correct; "(1 row(s) affected)" is not needed; Result sets are inconsistent."
SQL coloring is not correct.
"(1 row(s) affected)" is not needed.
Result sets are inconsistently displayed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cdca663-134c-4929-bbcd-ffc44dea258c
* Version Independent ID: ce78de6c-e68d-7ddd-b364-675240142028
* Content: [RTRIM (Transact-SQL) - SQL Server](https://docs.micro

[2020-05-26 10:48] Protiguous opened #4850 ""(1 row(s) affected)" is not needed."
"(1 row(s) affected)" is not needed in examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a27041dc-1197-4738-b2c4-d7ce8c4fac8c
* Version Independent ID: df3e9078-b0a1-feea-2671-f27987889696
* Content: [SOUNDEX (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/functions/soundex-transact-sql?v

[2020-05-26 11:18] SQLKiwi commented on #3993
If that were true, we wouldn't be able to inline functions like the following (which does inline):

[code]

`WHILE` loops cannot be inlined currently because the available inline plan shapes do not support them easily. Loops _could_ be implemented in various ways, including perhaps a stack spool as used by recursive CTE plans. I don't know if any work has been done in this area.

Non-inline functi

[2020-05-26 11:22] emad-almousa opened #4851 "Article requires more clarification about Certificate Permission"
regarding this link: https://docs.microsoft.com/en-us/sql/relational-databases/backup-restore/backup-encryption?view=sql-server-ver15

The article should clarify that an account that is going to perform an encrypted backup should be added to the "MASTER" database and granted VIEW DEFINITION system role in the "MASTER" database. This is missing, and the paragraph is confusing and not clear.

So, fo

[2020-05-26 15:54] nikolapeja6 opened #4854 "Bad rendering of Event Session States diagram in dark mode"
When the docs are in dark mode, this picture doesn't render that well and the writing is mostly illegible.

![image](https://user-images.githubusercontent.com/18459277/82908062-bc6e1400-9f67-11ea-99f8-1dcd4187619f.png)

For reference, the picture from the .md file looks like this.

![image](https://user-images.githubusercontent.com/18459277/82921656-ea0f8900-9f78-11ea-978a-a8fd94a20322.png)

---
#

[2020-05-26 16:28] WilliamAntonRohm commented on #4561
@DenzilNewman -- thank you for your feedback.  I updated the article with your suggestions, closed this issue, and the article is now live.

[2020-05-26 17:18] arizonien opened #4855 "Question on syntax of @stmttype parameter"
Regarding the @stmttype parameter, it is unclear if specifying 'INSERT, UPDATE' is acceptable or does the sp need to be invoked twice, one for 'INSERT' and two for 'UPDATE'.  I'm asking because my trigger is defined as "AFTER INSERT,UPDATE".

One way to help would to provide such an example on the page.  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-05-26 19:16] MightyPen commented on #4854
I am trying to fix this now, with PR 15122, in the private repo.

cc: @nikolapeja6

[2020-05-26 19:47] MightyPen commented on #4854
The fix works. The fix should be live on Docs on or before Thursday 2020/May/28.

@nikolapeja6 , thank you for bringing this error to our attention. We hope to hear from you again someday.

I am now Closing this Issue, as fixed.

G

[2020-05-26 19:47] #4854 closed

[2020-05-26 21:01] pcelba opened #4857 "Why we should not use SET FMTONLY?"
SET FMTONLY ON is useful when we need to retrieve just the output data structure from SQL Server query. It can be processed in many languages w/o any adjustments.

Neither sp_describe_first_result_set nor the sys.dm_exec_describe_first_result_set provides the result set in required format.

Thanks
Pavel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-05-26 21:04] CarlRabeler commented on #4857
@pmasl Can you assist in directing this question to right person in the PG? Thanks.
Carl

[2020-05-26 21:42] pmasl commented on #4857
@CarlRabeler that would be me.

@pcelba SET FMTONLY is deprecated as seen in https://docs.microsoft.com/en-us/sql/database-engine/deprecated-database-engine-features-in-sql-server-2017. By replacing FMTONLY with sp_describe_first_result_set, sp_describe_undeclared_parameters, sys.dm_exec_describe_first_result_set, or sys.dm_exec_describe_first_result_set_for_object, you'll have better quality resu

[2020-05-26 21:43] pmasl commented on #4857
#please-close

[2020-05-26 21:43] #4857 closed

[2020-05-26 22:20] DenzilNewman commented on #4561
ah ok, had not updated when I looked.  I'll trust that its fixed now then.

Thank you.

On Tue, 26 May 2020 at 17:28, William Anton Rohm <notifications@github.com>
wrote:

[2020-05-26 22:24] WilliamAntonRohm commented on #4838
@Mnior -- thank you for your feedback.  Please add your concern here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

@julieMSFT -- please look into this issue.

[2020-05-26 22:27] WilliamAntonRohm commented on #4839
@GeneralTyres -- MarkusAfricanus, thank you for your feedback.  I believe you are correct and am looking into this article.

[2020-05-26 22:51] WilliamAntonRohm commented on #4840
@openStove -- thank you for your feedback.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@MikeRayMSFT -- please look into this issue.

[2020-05-26 22:54] CarlRabeler commented on #4841
@VanMSFT could you look at this ?

[2020-05-26 22:54] WilliamAntonRohm commented on #4843
@hecongy -- cyhe, thank you for fixing this typo.  Your PR has been merged and the updated document will be live tomorrow.

[2020-05-26 22:54] #4843 closed

[2020-05-26 22:56] WilliamAntonRohm commented on #4849
@Protiguous -- thank you for your feedback.  I am looking into this article.

[2020-05-26 22:57] WilliamAntonRohm commented on #4850
@Protiguous -- thank you for your feedback.  I am looking into this article as well.

[2020-05-26 22:58] VanMSFT commented on #4841
We'll need clarity on the second issue. What makes creating assembly from bits not work from the end user standpoint?

[2020-05-26 22:58] WilliamAntonRohm commented on #4851
@emad-almousa -- Emad, thank you for your thorough feedback.

@MikeRayMSFT -- Mike, please look into this issue.

[2020-05-26 23:08] swanderz opened #4861 "What is the Synapse equivalent of "FOR XML PATH"?"
[This thread](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/e5a8f6eb-bb26-4784-bc67-a8f0408b6ce1/alternative-to-for-xml?forum=AzureSQLDataWarehouse) says that `FOR XML PATH()` is unsupported. However, I am not interested in loading XML data, rather using the `FOR XML PATH()` to create a list of executable sql statements.

On this page, you should link to the the [`STRING AGG` page](http

[2020-05-27 00:31] OneLonelly commented on #4841
Cause security politic was changed since MSSQL2017 release. And ones have to firstly registry trusted hash for assembly. Only then add assembly from binary.

This described, for example,  with link to Solomon Rutzky , here : https://stackoverflow.com/questions/54953930/tsql-create-assembly-from-varbinary-breaks-the-class-name-parameter

By the way, if I remember correctly, I'll can exchange regist

[2020-05-27 00:55] swanderz opened #4864 "`DROP TABLE`: Why is `IF EXISTS` not implemented for Synapse?"
Why is it not supported? What is the recommended approach?

I understand that it isn't supported. But nowhere does it say it is not implemented... except for this [stack overflow question](https://stackoverflow.com/questions/48777206/drop-table-if-exists-not-working-on-azure-sql-data-warehouse)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-05-27 02:07] nqg04789 commented on #4781
Isn't it about Azure SQL Database?
I got the same error in Azure SQL Database.

[2020-05-27 08:42] Ayrtat opened #4865 "Suspended transactions that is never terminated"
1. A _server_ uses odbc driver for inserting/retrieving data into/from mssql database
2. Also server "forks" new processes via WinAPI (CreateProcess)
3. Sometimes a process can "hang" on an execution of a statemen. It happens, when another one seizes the same table for writing/reading and etc. So, as I can see in mssql, the transaction is suspended, however, I do not understand what a stage is it

[2020-05-27 09:00] pcelba commented on #4857
OK, fortunately, "deprecated" does not mean "removed"...

Of course, the documentation could show how to code SET FMTONLY using the proposed replacements. I don't see any simple code which could be used instead of
`SET FMTONLY ON;`
`EXECUTE prc_gm29;   -- Returns multiple tables.`
`SET FMTONLY OFF;`

Thanks
Pavel

[2020-05-27 13:36] Kalamazoo-DBA opened #4866 "sys.server_event_sessions mentioned on page not supported in Azure."
"SELECT * FROM sys.server_event_sessions" is mentioned on the page yet is not supported in Azure.  Is there an alternate select for Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b79d736-c8b0-a460-501a-71c590092bc9
* Version Independent ID: f5c34ba9-0a5d-0af5-c4e5-c99d5572e6d5
* Content: [CREATE EVENT SESSION (

[2020-05-27 13:39] Kalamazoo-DBA commented on #4866
Found:

https://docs.microsoft.com/en-us/sql/relational-databases/extended-events/manage-event-sessions-in-the-object-explorer?view=sql-server-ver15

[2020-05-27 15:27] pmasl commented on #4781
It's an Azure SQL only limitation. I'll add that to the docs asap. #please-close

[2020-05-27 15:27] #4781 closed

[2020-05-27 15:44] pmasl commented on #4857
@pcelba, yes it's not removed. But deprecated means "don't use this in new work, and plan to move away from it asap".

[2020-05-27 17:40] WilliamAntonRohm commented on #4848
@brettshearer -- Brett, thank you for your feedback.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to engage with the SQL team here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

cc @julieMSFT for awareness

[2020-05-27 17:40] #4848 closed

[2020-05-27 18:48] yene opened #4867 "sqlpackage Linux does not run on debian 10"
Running sqlpackage on debian 10 gives me the error "No usable version of the libssl was found".
Some one said this is because its an old dot net core version that requires OpenSSL 1.0. Is it possible to fix this dependency?

Thank you for your time.

Linux .NET Core  | April 28, 2020 | 18.5 | 15.0.4769.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-05-27 19:06] julieMSFT commented on #4782
@m60freeman Hi Mark, thank you for contacting Microsoft. This is an Azure SQL only limitation. It will be added to the docs asap. We hope to hear from you again.

#please-close

[2020-05-27 19:06] #4782 closed

[2020-05-27 20:02] WilliamAntonRohm commented on #4861
@swanderz -- Anders, thank you for your thorough feedback.

@rothja -- Jason, please look into this issue.

[2020-05-27 20:05] WilliamAntonRohm commented on #4855
@arizonien -- thank you for your question.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@CarlRabeler -- please look into this issue.

[2020-05-27 20:29] WilliamAntonRohm commented on #4864
@swanderz -- Anders, thank you for your questions and research.  That Stack Overflow thread seems to answer how to implement the missing functionality, for example:

Please post your questions here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-05-27 20:29] #4864 closed

[2020-05-27 20:31] WilliamAntonRohm commented on #4865
@Ayrtat -- thank you for your questions.  Are you reading a particular docs.microsoft.com article?  Meanwhile, please see these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-05-27 20:32] WilliamAntonRohm commented on #4866
@Kalamazoo-DBA -- thank you for your question & your answer.

[2020-05-27 20:32] #4866 closed

[2020-05-27 20:38] WilliamAntonRohm commented on #4867
@yene -- Yannick, thank you for your question.  Please add this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-05-27 20:38] #4867 closed

[2020-05-27 20:43] #4729 closed

[2020-05-27 21:17] pensivebrian commented on #4136
To generate a rollback script, I would recommend saving previously deployed .dacpac generating a script against the upgraded schema for the rollback. However, you have to be careful with a refactoring operation, like renaming a table. For operations like this, you may have undo the operation manually or create a new .dacpac which refactors back to the old name.

[2020-05-27 21:27] markingmyname commented on #4136
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-05-27 21:27] #4136 closed

[2020-05-27 23:19] nickpainter opened #4868 "Documentation does not provide a list of all allowed or disallowed special characters for passwords"
This documentation does not provide a list of valid special characters that are to be used in meeting password complexity requirements.  Ideally either a list of allowed special characters or those that are disallowed would help avoid errors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58afcd81-a8da-a2bc-5ed0-1a28cf

[2020-05-27 23:53] WilliamAntonRohm commented on #4868
@nickpainter -- thank you for your feedback.  Please see here for further information:
- https://docs.microsoft.com/en-us/sql/relational-databases/security/strong-passwords?view=sql-server-ver15

You might also consider looking in these places:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-05-27 23:53] #4868 closed

[2020-05-27 23:53] swanderz commented on #4864
@WilliamAntonRohm my asks are:
1. add `IF EXISTS` functionality to Synapse TSQL, and, in the meantime,
2. Include the SO example in the DROP TABLE page as an example.

I'm happy to my a PR for 2), but in the meantime, #please-reopen

[2020-05-27 23:56] swanderz commented on #4861
this is one small ask as part of #55713

[2020-05-28 00:40] swanderz commented on #2251
@WilliamAntonRohm  @julieMSFT what is the status of the table value constructor support in Azure Synapse (warehouse)? I cannot see the status of the above ADO work item. My understanding is that it still not supported, correct?

Just like #4864, my ask (as well as OP's, @ChipDale66), is two-fold:
1. add support for the table value constructor in Azure Synapse, and
2. per @ChipDale66, the docs shou

[2020-05-28 06:02] yene commented on #4867
@WilliamAntonRohm thank you for the quick response, could you please forward this issue to the maintainers of sqlpackage.

Thank you

[2020-05-28 12:26] alexandredenis-bib commented on #4451
@cawrites Yes it would be great to explicitly say if there are some limitation when using online index rebuild operations on an Azure database. At least say "Online index operations are available on Azure SQL Database (not matter the version)" or something like that.

Because when I read "Online index operations are not available in every edition of Microsoft SQL Server", I am wondering if there a

[2020-05-28 15:32] Mannigfaltigkeit opened #4870 "What is the example C:\returnvalue.sql supposed to illustrate?"
Hi
I don't get the point of this example. All it does is return the value 100.
Thanks
Marcel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57bb7336-951e-cab7-522e-abb98e7f7a54
* Version Independent ID: 339664c0-7de2-720a-d28d-49e38288a240
* Content: [Use the sqlcmd Utility - SQL Server Management Studio (SSMS)](https:

[2020-05-28 17:20] rothja commented on #3993
@SQLKiwi Thank you for adding your knowledge to the discussion. @blobbles78 At this point, I am hoping that the discussion shed some light on your question. I'll consider updating this article in the future, but I think we'll need more research and product team confirmation of the behaviors before we can change it definitively.

I'm going to close out the issue, but anyone is welcome to continue t

[2020-05-28 17:20] #3993 closed

[2020-05-28 17:22] rothja commented on #4861
@swanderz Thanks for the question. I'm going to ask @julieMSFT to take a look, as she works on the content for Azure Synapse Analytics. #reassign:julieMSFT. Thank you!

[2020-05-28 17:22] PRMerger12 commented on #4861
julieMSFT. is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-05-28 17:25] rothja commented on #4818
@traderhut Thanks, again for your question. In looking at your question again, I think you're asking about custom errors rather than system errors. In that case, I do not think that there are specific error numbers but rather the error ranges that matter. And then, as you noted, the custom strings for the errors. So, in this case, I don't think there is additional information that we can add to th

[2020-05-28 17:25] #4818 closed

[2020-05-28 17:39] mloskot opened #4871 "SQLGetInfo: Broken formatting of list of SQL_DBMS_VER and others"
Formatting of the list of allowed arguments is broken, it is displayed as a single string:

![image](https://user-images.githubusercontent.com/80741/83174543-d439c980-a11a-11ea-8e77-3fce31e8d12c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dbecbff-a7d6-ec1f-86e6-75c29f1d1850
* Version Independent ID: ad74b783-4

[2020-05-28 17:40] raunakjhawar opened #4872 "SSO for Azure SQL Server database and Synapse DW"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14028139-b25b-f04c-0661-fbe81e6efe94
* Version Independent ID: 9cfc5b2a-39b0-4822-6ff3-a2cba7b97e21
* Content: [Service Principal Name (SPN) Support in Client Connections - SQL Server](https://docs.microsoft.com/en-us/sql/connect/oledb/features/service-principal-name-spn-su

[2020-05-28 17:56] pmasl commented on #3826
Hello, because this is a design change request, instead of entering a comment on docs, it's best to enter it on UV at https://aka.ms/sqlfeedback as an improvement suggestion.
As other users recognize the usefulness of such requested change, and vote on it, we'll accrue the necessary support to move it fwd. Thank you

[2020-05-28 18:18] UnimplementedTrap commented on #4724
Doesn't work for me either.
I have a fresh install of Server 2019 and am installing SQL Server 2017.
The Install SQL Server Management Tools link from the installer takes you to
https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?redirectedfrom=MSDN&view=sql-server-ver15
The Download SQL Server Management Studio (SSMS) link takes you to https://aka.ms/ssmsfullsetup

[2020-05-28 18:40] WilliamAntonRohm commented on #4871
@mloskot -- Mateusz, thank you for your feedback.  I am looking into this article.

[2020-05-28 19:00] antoniosch opened #4873 "Documentation Error for Azure Synapse SQL DW Update statement"
Hello All
In the Update statement page (https://docs.microsoft.com/en-us/sql/t-sql/queries/update-transact-sql?view=sql-server-ver15) at section AH. ANSI joins for update statement,  the sample has two errors that are not supported by Azure Synapse SQL DW.

These are
INSERT INTO dbo.Table1 VALUES(1, 10.0), (1, 20.0);
Returns
Msg 103010, Level 16, State 1, Line 1
Parse error at line: 1, column: 39:

[2020-05-28 19:59] Xellos000 opened #4876 "Issue step 5repro"
https://docs.microsoft.com/en-us/sql/relational-databases/replication/configure-distribution-availability-group?view=sql-server-ver15

Current eeor :

-- STEP 5 - Enable **SQLNode1** also as a Distributor
 :CONNECT SQLNODE2 EXEC sp_adddistributiondb @database = 'DistributionDB', @security_mode = 1; GO

Current fixed:

-- STEP 5 - Enable **SQLNode2** also as a Distributor
:CONNECT SQLNODE2 EXEC sp_

[2020-05-28 20:06] julieMSFT commented on #4838
@Mnior Hello, thank you for contacting Microsoft. I am looking into this.

[2020-05-28 20:54] ev2900 opened #4877 "Create session example incorrect"
The example for the [creating a spark session](https://docs.microsoft.com/en-us/sql/big-data-cluster/reference-azdata-bdc-spark-session?view=sql-server-ver15#examples) is incorrect.

It should be `azdata bdc spark session create --session-kind pyspark`

instead of `azdata spark session create --session-kind pyspark`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-05-29 03:04] dcbrown16 opened #4879 "How to configure"
This page says "When SQL Server is configured to use the Windows application log..."
Is this an optional setting? If so, how do you configure it? I'm not finding any other info in nearby docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af7f84da-929e-fc76-cdec-4a08578612e2
* Version Independent ID: 12985b4a-3673-a0b

[2020-05-29 06:47] yvesgui41 opened #4880 "Correction ?"
when I read this :
The Buffer Cache Hit Ratio counter is specific to an application. However, a rate of 90 percent or higher is desirable. Add more memory until the value is consistently greater than 90 percent.

I think the third sentence is in opposite to the second : 90 percent or higher is desirable and add more memory until the value is consistently greater than 90 percent

Thank for your ans

[2020-05-29 06:49] GeneralTyres commented on #4839
Awesome William, thanks for the feedback. Should I close the issue or can I leave that to you?

[2020-05-29 14:53] jons-aura opened #4885 "Grammatical issue"
This sentence seems to be missing a portion around "to for the"
" You can update data in the current table from the history table to for the "oops" scenario. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6bd9289-f5fc-c084-fac8-92024f35f9c5
* Version Independent ID: 47bc2199-497a-3421-b0f9-ca9afa67e0a3
* Content: [M

[2020-05-29 16:13] julieMSFT commented on #3826
@Al-ex-and-er Hello, thank you again for contacting Microsoft. We have updated the document to reflect the current behavior. If you would like to see this behavior changed please submit your suggestion at [https://feedback.azure.com/forums/908035-sql-server](https://feedback.azure.com/forums/908035-sql-server). I will now close this issue. The @notification mechanism continues to work even after a

[2020-05-29 16:14] julieMSFT commented on #3826
#please-close

[2020-05-29 16:20] julieMSFT commented on #4880
#assign:julieMSFT

[2020-05-29 17:22] WilliamAntonRohm commented on #4870
@Mannigfaltigkeit -- thank you for your feedback.  Yes, `returnvalue.sql` only demonstrates how to set an exit code; the remainder of that example file was mistakenly copied from the subsequent example `windowsscript.bat`.  I am updating the article.

[2020-05-29 17:26] WilliamAntonRohm commented on #4872
@raunakjhawar -- Raunak, thank you for your feedback.  I am looking into this article.

[2020-05-29 17:36] WilliamAntonRohm commented on #4873
@antoniosch -- Antonios, thank you for your feedback.

@VanMSFT -- Van, please look into this issue.

[2020-05-29 17:37] WilliamAntonRohm commented on #4876
@Xellos000 -- thank you for your feedback.  I am looking into this article.

[2020-05-29 17:39] WilliamAntonRohm commented on #4877
@ev2900 -- Christopher, thank you for your feedback. I am looking into this article.

[2020-05-29 17:40] VanMSFT commented on #4873
@julieMSFT - Hey Julie, can you please take a look at this? Thanks!

[2020-05-29 17:40] WilliamAntonRohm commented on #4885
@jons-aura -- thank you for your feedback. I am looking into this article.

[2020-05-29 17:56] WilliamAntonRohm commented on #4867
@yene -- Yannick, please open this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-05-29 18:06] WilliamAntonRohm commented on #4839
@GeneralTyres -- you're welcome!  & poof it's done.

[2020-05-29 18:08] #4569 closed

[2020-05-29 18:10] mmichtch opened #4888 "Add position of the substring into the result table of the STRING_SPLIT function"
I would be extremely useful if result of the function will include position of the substring as in this exmple:

`SELECT value FROM STRING_SPLIT('Lorem ipsum dolor sit amet.', ' ');`

position | value
------ | ------
0 | Lorem
1 | ipsum
2 | dolor
3 | sit
4 | amet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77b3e27b

[2020-05-29 18:19] WilliamAntonRohm commented on #4832
@danparknz -- thank you for clarifying.

@giladmit -- please look into this issue.

[2020-05-29 18:31] WilliamAntonRohm commented on #4725
@MikeRayMSFT -- Mike, please review [private PR 14969](https://github.com/MicrosoftDocs/sql-docs-pr/pull/14969).

[2020-05-29 18:32] WilliamAntonRohm commented on #4756
@MashaMSFT -- Masha, please review [private PR 15000](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15000).

[2020-05-29 18:34] julieMSFT commented on #4888
assign:julieMSFT

[2020-05-29 18:35] #4794 closed

[2020-05-29 18:50] mmichtch commented on #4888
this is the business case:
I need to parse a string '$GNGGA,195020.011,4915.9412,N,12244.3999,W,0,0,,-4.8,M,-16.7,M,,*40' and get substring 7. to do this I am using this:

[code]
when I should be able to do this:

[code]

[2020-05-29 18:53] CarlRabeler commented on #4885
@jons-aura @WilliamAntonRohm I concur - please fix grammatical error

[2020-05-29 18:56] julieMSFT commented on #4888
@mmichtch Hello, thank you for contacting Microsoft. I understand that you would like an improvement to the split_string function. Unfortunately, this form of contact is intended explicitly for reporting issues with the documentation, and not for the product.

You can try this:
SELECT ROW_NUMBER() OVER (ORDER BY value ASC)  AS No, value FROM STRING_SPLIT('Lorem ipsum dolor sit amet.', ' ');

If yo

[2020-05-29 18:59] julieMSFT commented on #4888
#please-close

[2020-05-29 18:59] #4888 closed

[2020-05-29 18:59] mmichtch commented on #4888
this will not work, because I need to retrieve substring by positional number and not by sorted order.

[2020-05-29 19:09] julieMSFT commented on #4880
@yvesgui41 Hello, thank you for contacting Microsoft. Buffer Cache Hit Ratio indicates the percentage of pages found in the buffer cache without having to read from disk. Because reading from the cache is much less expensive than reading from disk, you want this ratio to be high. Generally, you can increase the buffer cache hit ratio by increasing the amount of memory available to SQL Server for s

[2020-05-29 19:09] julieMSFT commented on #4880
#please-close

[2020-05-29 19:09] #4880 closed

[2020-05-29 19:56] UnimplementedTrap commented on #4724
The download (https://aka.ms/ssmsfullsetup) worked for me in chrome.

[2020-05-29 21:56] MashaMSFT commented on #4838
Hi @mnior, thanks for contacting Microsoft and bringing this to our attention! So, actually, I was unable to reproduce the issue, and I suspect it might be something with your SSMS environment rather than SQL Server. I am using Win10, SQL Server 2017 and SSMS version 15.0.18330.0. Note that my SSMS menus are in English - are yours? And if they're in Russian, did you do anything extra to configure

[2020-05-29 22:04] #4822 closed

[2020-05-29 22:04] WilliamAntonRohm commented on #4822
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2020-05-29 22:09] kalakshm opened #4889 "odbcsql.cpp example has a build error and is incomplete"
1. Under wmain, this code does not compile because you cannot assign the value in the way that it is done under the else condition.
`if (argc > 1)
    {
        pwszConnStr = *++argv;
    }
    else
    {
        pwszConnStr = L"";
    } `

2. The sample code under odbcsql.cpp is a missing closing brace right at the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-05-29 22:23] julieMSFT commented on #4873
@antoniosch Hi Antonios, thank you for contacting Microsoft and bringing this to our attention. I have correct the syntax in the document. The join syntax you highlighted does work in the latest version of Azure Synapse (formerly SQL DW). Please run @@version to ensure you have a version greater than Microsoft Azure SQL Data Warehouse - 10.0.11115.0 May 16 2020 02:43:26 Copyright (c) Microsoft Cor

[2020-05-29 22:25] julieMSFT commented on #4873
#please-close

[2020-05-29 22:25] #4873 closed

[2020-05-29 23:09] WilliamAntonRohm commented on #4744
cc @dphansen

[2020-05-29 23:14] David-Engel commented on #4889
@kalakshm Thanks for the feedback.

@v-makouz Can you take a look at this?

Thanks,
David

[2020-05-29 23:18] David-Engel commented on #4871
@mloskot @WilliamAntonRohm

I fixed a lot of bad formatting on the page, including the DBMS Product Information section. It should look much better now.

[2020-05-29 23:38] MikeRayMSFT commented on #4826
Hi @camille-rodriguez thanks for the comment.

For troubleshooting information for a teployment, start [Troubleshoot SQL Server Big Data Clusters Kubernetes](https://docs.microsoft.com/sql/big-data-cluster/cluster-troubleshooting-commands?view=sql-server-ver15).

For product bugs and feedback, click the feedback link at the bottom of any page in the Big Data Clusters documentation.

![image](https

[2020-05-29 23:44] WilliamAntonRohm commented on #4826
@MikeRayMSFT -- Mike, thank you for those pointers.

[2020-05-29 23:44] #4826 closed

[2020-05-30 16:13] Salik-Rafiq commented on #3888
After installing the latest Dac Services I was able to get the below working by using this bit of code.  Could never get the original code in the MS Docs working

` add-type -path "C:\Program Files\Microsoft SQL Server\150\DAC\bin\Microsoft.SqlServer.Dac.dll"

$dacServices = new-object Microsoft.SqlServer.Dac.DacServices "server=.\sqlexpress;Initial Catalog=myIPData;Integrated Security=True;"
$app

[2020-05-30 19:59] DickBaker opened #4890 "geography barely mentioned"
the Geography gets a scant mention before Geometry and all 4 examples A-D are of Geometry.

Should mention the useful Well-Known Text (WKT) and float functions, e.g.
declare	@pt1 geography = geography::STGeomFromText('POINT(50.4750671 -1.5165396)', 4326),
		@pt2 geography = geography::Point(1.293561, 51.868143, 4326)
select	@pt1.STDistance(@pt2) as A, @pt2.STDistance(@pt1) as B

---
#### Document

[2020-05-30 20:01] DickBaker commented on #4890
add another (sorry I missed first entry)
declare @pt3 geography = geography::STPointFromText('POINT(50.4750671 -1.5165396)', 4326)

[2020-05-31 02:15] StingyJack opened #4891 "The supported versions tag list at the top says Azure SQL Database but..."
... the linked "Supported Editions" doc page doesnt mention Azure SQL. Are online rebuilds supported with AzureSQL Database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0eae78f-d106-1ace-5e19-f406a514562f
* Version Independent ID: 55201a91-16e8-3888-3aa8-b258ee7400c7
* Content: [Guidelines for Online Index Operatio

[2020-05-31 16:23] sekilm opened #4892 "I'm sorry but these explanations are, by far, way too ambiguous for a beginner like me to understand where to go and how to solve the problem"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed2446a4-cbff-2019-8a88-c2ac48cef753
* Version Independent ID: 7e1dcb27-e45f-7e1f-3302-0f8f8a6cc3d4
* Content: [MSSQLSERVER_15404 - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/errors-events/mssqlserver-15404-database-engine-e

[2020-05-31 18:19] mufukuha opened #4893 "Need an error message limitation (512 bytes) for bcp utility"
The [bcp utility](https://docs.microsoft.com/en-us/sql/tools/bcp-utility?view=sql-server-ver15) has a limitation that the error message shows only 512-byte characters. We need a description about that limitation in the [Remarks](https://docs.microsoft.com/en-us/sql/tools/bcp-utility?view=sql-server-ver15#remarks) section, such as "Only the first 512 bytes of the error message are displayed. "

For

[2020-05-31 20:00] ev2900 commented on #4877
@WilliamAntonRohm if this helps, please see this image.

The first command I execute is the example currently listed in the documentation. As you can see if produces an error.

The second command I execute is the edit suggested. It works correctly and creates a spark session.

![azdata bdc create session](https://user-images.githubusercontent.com/5414004/83361507-9675b480-a357-11ea-8bc5-b5e6d504f6

[2020-05-31 20:04] WilliamAntonRohm commented on #4836
@cawrites -- please review [private PR 15204](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15204).

[2020-05-31 20:10] WilliamAntonRohm commented on #4870
@markingmyname -- Mark, please review [private PR 15205](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15205).

[2020-05-31 20:23] WilliamAntonRohm commented on #4871
@David-Engel -- David, thank you for addressing this issue.

[2020-05-31 20:23] #4871 closed

[2020-05-31 20:28] #4839 closed

[2020-05-31 20:34] #4876 closed

[2020-05-31 20:34] WilliamAntonRohm commented on #4876
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2020-05-31 20:35] WilliamAntonRohm commented on #4877
@MikeRayMSFT -- Mike, please review [private PR 15208](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15208).

[2020-05-31 21:24] ev2900 opened #4894 "Syntax error on azdata bdc hdfs ls example"
The example for the [listing the content of a directory](https://docs.microsoft.com/en-us/sql/big-data-cluster/reference-azdata-bdc-hdfs?view=sql-server-ver15#examples-1) on HDFS is incorrect.

It should be `azdata bdc hdfs ls --path "tmp/"`

instead of `azdata bdc hdfs ls --path '/tmp'`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-05-31 21:28] ev2900 commented on #4894
If it helps please see the image below.

The first command I execute is the example currently listed in the documentation. As you can see if produces an error.

The second command I execute is the edit suggested. It works correctly and list the content of the tmp directory.

![Syntax error on azdata bdc hdfs ls](https://user-images.githubusercontent.com/5414004/83363019-fd996600-a363-11ea-8554-618

[2020-06-01 09:13] mloskot commented on #4871
@David-Engel Thank you!

[2020-06-01 13:04] brettshearer opened #4895 "Missing definition for optional_spid"
optional_spid is not documented here and i believe it should be.

http://esdbp.createaforum.com/general-9/whats-the-optional_spid-in-sys-dm_exec_plan_attributes/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2a77d63-0ef7-54c8-4f02-59f736298c70
* Version Independent ID: 1688ab2b-7894-bbb5-d19d-8d26b6e820aa
* Content:

[2020-06-01 17:00] WilliamAntonRohm commented on #4894
@ev2900 -- Christopher, thank you for you feedback.  I am looking into this article.

[2020-06-01 17:30] ev2900 commented on #3606
Was this issue resolved?

I am looking at the documentation for [azdata bdc spark batch create](https://docs.microsoft.com/en-us/sql/big-data-cluster/reference-azdata-bdc-spark-batch?view=sql-server-ver15#azdata-bdc-spark-batch-create). It does not include any information that that file must be located on the HDFS of the BDC cluster and not on the local host.

[2020-06-01 18:55] sql-deadwood opened #4896 "MAXDOP Limit Against DTU-based Db"
The ALTER INDEX documentation for MAXDOP states, "use MAXDOP to limit the number of processors used in a parallel plan execution. The maximum is 64 processors." But how does this translate to databases using the DTU model where a strict concept of a processor doesn't exist? Does MAXDOP translate to DTUs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-06-01 19:02] pmasl commented on #4896
#reassign: @joesackmsft

[2020-06-01 20:31] WilliamAntonRohm commented on #4892
@sekilm -- thank you for your feedback.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to add your concerns here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-06-01 20:31] #4892 closed

[2020-06-01 20:34] WilliamAntonRohm commented on #4893
@mufukuha -- Munenori, thank you for your feedback.

@markingmyname -- Mark, please look into this issue.