[2019-12-17 17:17] markingmyname commented on #3747
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-12-17 17:17] #3747 closed

[2019-12-17 17:22] markingmyname commented on #3633
@PrometheusRising1,

Thanks for your comment.

I apologize for the delay.

Your contribution is much appreciated.

A couple of questions:

- Can I ask what are specifically you are clicking to get this result?
- Is this the MsSqlCmdLnUtils.msi (https://docs.microsoft.com/en-us/sql/tools/sqlcmd-utility?view=sql-server-ver15)?

However, our team can only answer feedback related to the documentation.

[2019-12-17 17:22] markingmyname commented on #3633
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2019-12-17 17:22] #3633 closed

[2019-12-17 17:48] msebolt commented on #3818
@filippz  Thank you for the feedback.

This issue seems better geared towards the product team, please start a thread [here](https://social.msdn.microsoft.com/Forums/sqlserver/home?category=sqlserver) and link back to this issue.

[2019-12-17 18:50] pmasl commented on #3824
Fixing it. Thanks!

[2019-12-17 19:32] n00611858 opened #3828 "Location String & Example"
The location should be in a string.  An example using the ODBC driver image earlier in the article would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dad6b54f-7b8d-0d9b-0ece-815b8874f751
* Version Independent ID: dee28cea-a153-0d80-b3f1-982aa4d16a87
* Content: [Access external data: ODBC generic types - P

[2019-12-17 20:00] msebolt commented on #3820
@Mitch-Wheat Thank you for the feedback.

The documentation has been updated and is pending review.

[2019-12-17 20:12] msebolt commented on #3822
@mrezalamei Thank you for the feedback.

The command works on Ubuntu and is known to only occur with Mint, see https://github.com/typora/typora-issues/issues/2065.

Please refer to issue https://github.com/linuxmint/mintsources/issues/179 for updates.

[2019-12-17 20:23] msebolt commented on #3823
@Ma8e Thank you for the feedback, we're sorry you had to experience issues Microsoft Docs.

The issue you're describing is based on the `moniker` system used within the docs, seen in the article's meta data, for example https://github.com/MicrosoftDocs/sql-docs/edit/live/docs/t-sql/functions/string-functions-transact-sql.md.

Since the issue is with how the site handles the `moniker` and not the `

[2019-12-17 21:31] TroyWitthoeft commented on #3649
In researching this.. this bug goes back six months.  Sounds like it's been present since 18.x ?
https://feedback.azure.com/forums/908035-sql-server/suggestions/38267746-cannot-script-external-table-in-ssms-18-2

The one wrinkle I'd like to add is that I have the same issue in "Azure Data Studio."   Unable to script out external tables.   So, is it possible this is an issue with Azure SQL Database

[2019-12-17 21:34] #3820 closed

[2019-12-17 22:28] msebolt commented on #3797
Closing the issue now.

[2019-12-17 22:28] #3797 closed

[2019-12-17 22:37] #3628 closed

[2019-12-17 23:40] MashaMSFT commented on #3808
Hi @PrometheusRising1 , thanks for bringing this to our attention! This parameter can be omitted when used in conjunction with a managed service account, virtual account, or built-in account. There is a note in the doc that specifies that but I've added it explicitly as a note to every password parameter.

This change should be live tomorrow.  I will close out this Git Issue at this time but pleas

[2019-12-17 23:40] #3808 closed

[2019-12-17 23:41] MashaMSFT commented on #3807
Hi @PrometheusRising1 , thanks for bringing this to our attention as well. The new privacy terms are applicable to SQL Server 2016 and newer. I've updated the document as such, and it should be live tomorrow.

I will close out this Git Issue but please feel free to comment should you need anything further.

Thanks again!
Masha from the SQL Docs team

[2019-12-17 23:41] #3807 closed

[2019-12-18 08:31] TDK1964 opened #3829 "Rubbish examples"
Examples don't work, no myRv or myTS defined

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21550d41-12b6-37f6-0cd0-9212e0529d9d
* Version Independent ID: 2949dbcd-13bd-8777-0e85-6845726aa6e7
* Content: [rowversion (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/data-types/rowversion-transact-sq

[2019-12-18 09:22] tsahi opened #3830 "DEFERRABILITY is not documented"
Azure Managed Database and SQL Server 2016 also return a DEFERRABILITY column, which isn't in the list in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1992bf85-dea1-2c1e-8769-24db3bcc8821
* Version Independent ID: dc662cb7-edd0-d470-1f6e-d61739778603
* Content: [sp_fkeys (Transact-SQL) - SQL Server](htt

[2019-12-18 12:09] MattiasWoldu opened #3831 "Code for section "List python packages" is version dependant"
EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'
import pip
for i in pip.get_installed_distributions():
    print(i)
'
GO

Does'nt work on Pyton 3.7. Need to use...

EXECUTE sp_execute_external_script @language = N'Python'
    , @script = N'
import pkg_resources
dists = [str(d) for d in pkg_resources.working_set]
print(dists)
'

---
#### Document Details

⚠ *Do not edit

[2019-12-18 13:25] OBezhan opened #3832 "Question regarding Transact-SQL Syntax Conventions documentation"
Hello,

In this article in the section "Transact-SQL Syntax Conventions (Transact-SQL)" there are some words about the semicolon :

Is this still relevant? Should we always add semicolons to be prepared for possible breaking changes in T-SQL syntax / SQL Server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f865e11f-d

[2019-12-18 13:49] kenjmartinii opened #3833 "Query Store CPU usage"
What exactly does the 'Query Store CPU usage' counter represent? CPU usage as a percentage? Time? The current documentation is extremely vague and not clear as to how the counter should be interpreted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c4d08b5-91cf-a86f-e4da-fb2adaaf836f
* Version Independent ID: 31bc3c36

[2019-12-18 14:34] VanMSFT commented on #3810
@emad-almousa - Hi Emad Al-Mousa! Thank you! You're right, and I've fixed the text to reflect db_accessadmin instead of db_securityadmin. It should be live soon. Thanks again for your help on our documentation!

https://github.com/MicrosoftDocs/sql-docs-pr/pull/13274

[2019-12-18 14:39] #3810 closed

[2019-12-18 15:22] Mendolis opened #3834 "Misrepresentation of functionality"
Selecting different versions of SQL Server returns the same page - same information.  Example, this function returns different results between 2014 and 2019.  Yet, selecting 2014 returns the exact same information.  Gives me no confidence that the information on this site is valid or useful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-12-18 15:55] mwdarab opened #3836 "Prereq Confusion"
Under prereq it says minimum RAM per VM should be 64GB, but at this github page, https://github.com/microsoft/sql-server-samples/tree/cu1-bdc/samples/features/sql-big-data-cluster/deployment/kubeadm/ubuntu , it says 32GB RAM. Which is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc8bb827-4819-7b2d-490a-071f6b7b57

[2019-12-18 16:21] msebolt commented on #3825
@richardck Thank you for the feedback, assigning this to the author for review.

[2019-12-18 16:23] msebolt commented on #3826
@Al-ex-and-er Thank you for the feedback, assigning this to the author for review.
For product-related issues, please start a thread [here](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/home?category=sqlserver).

[2019-12-18 16:24] msebolt commented on #3828
@n00611858 Thank you for the feedback, assigning this to the author for review.

[2019-12-18 17:06] srutzky commented on #3826
@Al-ex-and-er , @msebolt , and @MikeRayMSFT : this is definitely a bug, but not of the return type. Hence this cannot be fixed by merely changing the return type to `VARBINARY`, or stating in the doc that `VARBINARY` will be returned as `VARCHAR`. I believe the issue to be that `VARCHAR` is returned only due to the _input value being converted to `VARCHAR`_ within the function, or on the way in.

[2019-12-18 17:19] Al-ex-and-er commented on #3826
@srutzky Thank you for such a detailed analysis. You confirmed my fears. How to raise it as a bug?
I think it is worst to mention this in documentation anyway.

[2019-12-18 17:33] jelther opened #3838 "FROM clause on Azure Synaptics (SQL DW) can be optional"
The part that mention the SQL Statement for Azure Synaptics (SQL DW), it shows the FROM clause as not optional for the DELETE statement.

However, omiting the FROM and aliasing the table in a WHERE is possible. For example, supose there are 2 tables,  **tableA** and **tableB** with column **col1**.

One can delete rows that exist in each other table using:

Me and my team ran into this problem due

[2019-12-18 18:15] garyericson commented on #3831
#assign:garyericson

[2019-12-18 19:19] garyericson commented on #3831
@MattiasWoldu - Thanks for catching this and for providing sample code! I thought I'd make it look a little nicer (see below), but if you have any other suggestions, let me know.

By the way, you can submit changes like these yourself by editing the article directly. Edits get sent to the author for review and sign-off. If you're interested, here are the instructions: https://docs.microsoft.com/en

[2019-12-18 19:56] garyericson commented on #3782
@adifranco1 - Thanks for the text. I'm checking with the developers, hoping that they haven't all left for the holidays yet.

[2019-12-18 19:59] rajmera3 commented on #3812
@kenakamu Is it working now?

We are working on updating the docs (a PR is out to include the instructions below), but is your error at the data ingestion portion?

This link instructs you how to grant permissions for a user and the mssql-spark connector to actually read data and store in an external table.
[MSSQL-Spark Connector User Creation](https://github.com/microsoft/sql-server-samples/blob/

[2019-12-18 20:10] julieMSFT commented on #3598
@FzzyBnny It appears that the counter in question " Extension page evictions/sec" does indeed increment the counter rather than calculate the rate per second. This is not a documentation bug but rather that the counter was not implemented correctly. Please submit a feedback item through https://aka.ms/sqlfeedback to have this addressed. If this is actually causing a business issue, you also have t

[2019-12-18 20:10] julieMSFT commented on #3598
#please-close

[2019-12-18 20:10] #3598 closed

[2019-12-18 20:11] lypolyzo commented on #3815
Hello,
Thank you for reaching out to me!
I was trying to upload a video but the maximum size was 4MB so it didn’t got sent.

I did the following steps:
Select the table
Right click Design
Then in the Design tab I dragged up the column I wanted to change its order
I pressed CTRL+S to save the changes
I got an exception: Saving changes is not permitted. The changes you have made require the followin

[2019-12-18 22:01] WilliamAntonRohm commented on #3829
@TDK1964 -- Tim, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue 3829.

[2019-12-18 22:03] WilliamAntonRohm commented on #3830
@tsahi -- thank you for your feedback.

@stevestein -- please look into this potential documentation issue 3830.

[2019-12-18 22:57] WilliamAntonRohm commented on #3749
@LuisGonzalezLT -- you're welcome!

[2019-12-18 23:15] WilliamAntonRohm commented on #3798
@VanMSFT -- please look into this issue 3798.

[2019-12-18 23:23] garyericson commented on #3831
I've made the change, should be merged and published tomorrow.

#please-close

[2019-12-18 23:23] #3831 closed

[2019-12-18 23:29] msebolt commented on #3795
@shikharbsar Thank you for the update.

I was able to fix a couple of quote issues in the statements, however since the queries are based off of user-provided data, you will need to send this to sqldwcopypreview@service.microsoft.com.

Be sure to provide the specific query in question along with a test data set.

[2019-12-18 23:34] kenakamu commented on #3812
No, my issue is different. I can not even comment to execute any spark when I have $ in my password

Ken
________________________________
From: Rahul Ajmera <notifications@github.com>
Sent: Thursday, December 19, 2019 4:59:28 AM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Kenichiro Nakamura <ten_eight_bones@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft

[2019-12-18 23:40] msebolt commented on #3822
Closing issue now.

[2019-12-18 23:40] #3822 closed

[2019-12-18 23:41] msebolt commented on #3818
Closing issue now.

[2019-12-18 23:41] #3818 closed

[2019-12-19 03:11] abhijeethp opened #3840 "SAS auth in COPY command"
hello,
Is the copy command's auth with SAS currently functional as part of the preview?
We are currently failing to use the COPY command on files stored in Azure Blob Storage and auth using SAS as we keep getting a 403 forbidden. but we are successful in downloading the file manually when we use the entire blob URI along with SAS token.

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-12-19 04:18] srutzky commented on #3826
@Al-ex-and-er , @msebolt , and @MikeRayMSFT : Unfortunately, I need to correct my previous statement(s). I have done additional testing across most other string functions and have found that this behavior is common among _most_ of them.  To summarize, this behavior is:

1. If there is one "string" parameter and `VARBINARY` is passed in, it is assumed to be `VARCHAR` in the code page associated wit

[2019-12-19 08:22] MikeHowell-TransferenceUnLimited opened #3841 "Incorrect BNF notation"
The BNF you have used has "no root".  As it stands, you would never type in a SELECT statement at all.  I would argue it written "upside-down".

** &lt;SELECT statement...  Your choice of "SELECT Statement" name is meaningless since what has WITH XML... got to do with the definition of the SELECT statement itself? **

&lt;SELECT statement&gt; ::=
    [ WITH { [ XMLNAMESPACES ,] [ &lt;common_table_

[2019-12-19 12:21] hmortada opened #3842 "Permissions"
Permissions
The sp_addlinkedserver statement requires the ALTER ANY LINKED SERVER permission. (The SQL Server Management Studio New Linked Server dialog box is implemented in a way that requires membership in the sysadmin fixed server role.)
On both Servers? in other words, what is the minimal permission required on for the remote login on the remote server, is it only the permissions required to

[2019-12-19 15:42] markingmyname commented on #3747
I heard back and we never built a .net core version of the SDK.

The Linux version of SSIS is using SQLPAL technology which is unrelated to .net core.

Hope this helps.

Thank you.

[2019-12-19 16:51] yogeshsn08 commented on #2961
Dear MashaMSFT, I see that Windows Server 2008 R2 conflict issue was reported 3 months ago and still it is not corrected. Kindly note that this will have a major production impact in customer sites because of the false information. Hence, please notify your documentation team to update the info in priority.

[2019-12-19 17:19] seanwhitepc opened #3843 "Ubuntu WSL - "curl: (60) SSL certificate problem: unable to get local issuer certificate""
When running this command in WSL Ubuntu:

sudo curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -

I get the following error:

curl: (60) SSL certificate problem: unable to get local issuer certificate
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure connection to it. T

[2019-12-19 17:31] WilliamAntonRohm commented on #3802
@MikeRayMSFT -- please review the above-mentioned PR 13298.

[2019-12-19 18:41] msebolt commented on #3832
@OBezhan  Thank you for the question.

Please note that questions about upcoming changes are better handled in the [SQL Server forums](https://social.msdn.microsoft.com/Forums/sqlserver/home?category=sqlserver) or with [SQL Server feedback](https://feedback.azure.com/forums/908035-sql-server) where the product team can provide direct feedback.

Assigning this to the author for review.

[2019-12-19 18:45] msebolt commented on #3833
@kenjmartinii Thank you for the feedback, assigning this to the author for review.

[2019-12-19 18:51] msebolt commented on #3834
@Mendolis  Thank you for the feedback.

This is a fault in the design of the `moniker` system used by Microsoft Docs.

You can see the specifics on versioning by looking for it in the article's meta-data, see [here](https://raw.githubusercontent.com/MicrosoftDocs/sql-docs/live/docs/relational-databases/system-dynamic-management-views/sys-dm-io-virtual-file-stats-transact-sql.md).

To make this inf

[2019-12-19 18:52] msebolt commented on #3836
@mwdarab Thank you for the feedback, assigning this to the author for review.

[2019-12-19 18:56] msebolt commented on #3838
@jelther Thank you for the feedback, assigning this to the author for review.

[2019-12-19 18:58] msebolt commented on #3838
Article in question is https://docs.microsoft.com/sql/t-sql/statements/delete-transact-sql.

[2019-12-19 20:22] rajmera3 commented on #3788
Addressed in PR #13245

[2019-12-19 20:22] rajmera3 commented on #3767
Addressed in PR #13245

[2019-12-19 20:47] msebolt commented on #3840
@rkinabhi Thank you for the question, assigning the author for review.

Please note specific product questions might be more suited for the product team.  Please see either:

- [SQL Server forums](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/home?category=sqlserver)
- [SQL Server feedback](https://feedback.azure.com/forums/908035-sql-server)

[2019-12-19 20:54] WilliamAntonRohm commented on #3811
@stevestein -- Steve, please review the above-mentioned PR 13305.

[2019-12-19 20:58] WilliamAntonRohm commented on #3815
@lypolyzo -- Lydia, thank you for clarifying.

@stevestein -- Steve, please look into this issue 3815.

[2019-12-20 00:18] msebolt commented on #3841
@MikeHowell-TransferenceUnLimited Thank you for the feedback, assigning this to the author for review.

[2019-12-20 00:20] msebolt commented on #3842
@hmortada Thank you for the feedback, assigning this to the author for review.

[2019-12-20 04:37] victren opened #3845 "The sample in "Using analytical functions in a recursive CTE" is wrong"
actually if you modify the sample a little bit like the following:

DECLARE @t1 TABLE (itmID int, itmIDComp int);
INSERT @t1 VALUES (1,10), (2,10);

DECLARE @t2 TABLE (itmID int, itmIDComp int);
INSERT @t2 VALUES (3,10), (4,10);

WITH vw AS
 (
    SELECT itmIDComp, itmID
    FROM @t1

    UNION ALL

    SELECT itmIDComp, itmID
    FROM @t2
)
,r AS
 (
    SELECT t.itmID AS itmID
           , 10 AS

[2019-12-20 04:55] Jamal27 opened #3846 "Compatibility Distributor SQL Server 2018 -> SQL Server 2019"
Is correct this?

Pub - SQL Server 2008 R2
Dist - SQL Server 2019
Sub - SQL Server 2008 R2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e7c4bee-dbaa-2470-b96e-0822989eb194
* Version Independent ID: 88ca602f-598e-6da4-8f9a-224880a2b8e9
* Content: [Replication Backward Compatibility - SQL Server](https://docs.microsof

[2019-12-20 05:19] mrezalamei commented on #3822
My problem is not solved

[2019-12-20 05:27] winBoscoe opened #3847 "Persistent not needed for indexing"
https://www.brentozar.com/archive/2019/12/the-two-ways-to-fix-non-sargable-queries/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f034f3c2-58c6-6a37-e5d3-3feb40c32681
* Version Independent ID: 3efcf41e-30f3-6595-276b-abc3fbb8e69d
* Content: [computed_column_definition (Transact-SQL) - SQL Server](https://docs.microsof

[2019-12-20 05:53] mrezalamei commented on #3822
By executing this command

`echo -e "$(wget -qO- https://packages.microsoft.com/config/ubuntu/16.04/mssql-server-2017.list)" | sudo tee -a /etc/apt/sources.list`

My problem was solved

[2019-12-20 06:11] #3845 closed

[2019-12-20 06:12] victren commented on #3845
the code here is a different story

[2019-12-20 16:23] #3795 closed

[2019-12-20 16:26] #3823 closed

[2019-12-20 16:32] MashaMSFT commented on #3846
Hi @Jamal27 , thanks for contacting Microsoft! For transactional  or merge replication?

Thanks!
Masha from the SQL Docs team

[2019-12-20 16:34] MashaMSFT commented on #3846
Actually.. it should work for either but let me confirm :)

Thanks!
Masha from the SQL Docs team

[2019-12-20 16:38] MashaMSFT commented on #3817
Hi @Jazzbear , thank you so much for submitting your [PR ](https://github.com/MicrosoftDocs/sql-docs/issues/3817) and improving our documentation! Your change has been merged and is now live :) I will close out this Git Issue but please feel free to comment should you need anything further.

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2019-12-20 16:38] #3817 closed

[2019-12-20 16:50] MashaMSFT commented on #3734
Hi @artimob , thanks again for bringing this to our attention! I have submitted a change to update the image and it should be live later today.

I am going to close out this Git Issue but please feel free to comment should you need anything further.

Thanks for improving our documentation and hope you have a wonderful rest of your day@
Masha from the SQL Docs team

[2019-12-20 16:50] #3734 closed

[2019-12-20 17:19] WilliamAntonRohm commented on #3843
@seanwhitepc -- thank you for your feedback.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-12-20 17:22] WilliamAntonRohm commented on #3847
@winBoscoe -- thank you for your feedback and the tip.

@CarlRabeler -- please look into this potential documentation issue 3847.

[2019-12-20 17:27] mwdarab opened #3850 "Ubuntu Version in script"
Under https://docs.microsoft.com/en-us/sql/big-data-cluster/deployment-script-single-node-kubeadm?view=sql-server-ver15#instructions-to-deploy-sql-server-big-data-cluster the setup-bdc.sh script has a line in it that says:

export DOCKER_TAG="2019-GDR1-ubuntu-16.04"

Will this work fine even if you are deploying to Ubuntu 18.03? Or should there be another setup-bdc.sh script that is used for 18.03

[2019-12-20 18:02] rothja commented on #3832
@OBezhan Thanks you for the feedback. It appears that the semi-colon is part of a standard but was never enforced by Transact-SQL in SQL Server. I think that we still want the comment in the docs if we ever adjust to be stricter on this point (and a lot of newer commands require the semi-colon but error out if you don't use it). So here is my suggestion:

- I think we should leave this here for no

[2019-12-20 18:02] #3832 closed

[2019-12-20 18:45] rothja commented on #3721
@matriarchvip Sorry for the long delay in replying, and thanks for the question. In doing some research from the community experience with this column (see [https://stackoverflow.com/questions/976628/sql-profiler-cpu-duration-units](https://stackoverflow.com/questions/976628/sql-profiler-cpu-duration-units)), it seems that there might be a difference between what you see in SQL Server Profiler (mi

[2019-12-20 18:45] #3721 closed

[2019-12-20 18:48] #3802 closed

[2019-12-20 18:49] rothja commented on #3717
@LearnsHappily Thanks again for reaching out. I haven't heard back from you, so I'm not sure if I'm understanding the problem correctly. I am going to close the issue at this time, but please let me know on this thread if you have more information, and we can discuss it further. Thanks, and I'm sorry for the confusion.

[2019-12-20 18:49] #3717 closed

[2019-12-20 18:58] rothja commented on #3696
@srutzky Thanks for sharing this feedback, and also for going above and beyond by creating the PR for the change. I am reviewing this with our product team before merging and closing both. Thank you for your patience!

[2019-12-20 19:05] klennan opened #3851 "Prerequisites lists SQL Server 2019"
The .NET Framework 4.6.1 section says "For all editions of SQL Server 2019..." on this SQL Server 2017 page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aa839a1-df21-b566-b798-bf17159c4c74
* Version Independent ID: 97d386f4-c657-eaba-a62c-404ced145cb2
* Content: [Install SQL Server 2016 on Server Core - SQL Server]

[2019-12-20 19:15] rothja commented on #3639
@samrueby Thanks for the question, and I agree that the statement is confusing. I agree with Matthew on the change, and I am making this in the article. When the change gets merged in for publishing, this PR will close. Thanks for your patience!

[2019-12-20 19:17] rothja commented on #3602
Thank you! I am going to close this issue now. I really appreciate your help with this.

[2019-12-20 19:17] #3602 closed

[2019-12-20 19:20] MashaMSFT commented on #3851
Hi @klennan, thanks for bringing this to our attention! Let me look into this.

Thanks!
Masha from the SQL Docs team

[2019-12-20 19:28] BeginTry opened #3852 "Blocked Process Report - Duration Units"
[BLOCKED_PROCESS_REPORT ~ SQL 2017.txt](https://github.com/MicrosoftDocs/sql-docs/files/3989846/BLOCKED_PROCESS_REPORT.SQL.2017.txt)

The documentation indicates the Duration of a Blocked Process Report is in milliseconds. I believe it should be microseconds.
Run the attached .txt TSQL script. It does the following:

- Sets the system configuration "_blocked process threshold (s)_" to 5 seconds.
-

[2019-12-20 19:30] LarnuUK opened #3853 "sys.schemas missing"
Is it intentional that `sys.schemas` is omitted from this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e44d6f5-818c-fdf0-8169-d23d0b6a0b68
* Version Independent ID: af6b6d8b-d984-faba-ff8e-ddf7fe954f36
* Content: [Object Catalog Views (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational

[2019-12-20 19:30] #3639 closed

[2019-12-20 19:37] rothja commented on #3239
@Bart76 I apologize for the long delay. The SQL Server Transact-SQL reference is not currently available online, which is why this error occurs when you switch back to 2014. However, we know this is not a great experience. We are considering trying to make this available online again, but it will take some time. However, there is a work around to find the older reference content. You can install t

[2019-12-20 19:37] #3239 closed

[2019-12-20 19:54] rothja commented on #2845
@zerg2k Thank you for the additional information. I need to look more at what we should be saying in the docs to help make this more clear. I also need to work with the product team to review. I appreciate you pointing this out. Because of this, I have created an internal work item (1658982) to track the work and follow up in January. I am going to close out this git issue, but I will try to respo

[2019-12-20 19:54] #2845 closed

[2019-12-20 19:56] #3433 closed

[2019-12-20 19:57] Jamal27 commented on #3846
Welcome, for transactional replication, if you look right don't make sense,
cause another version haven't the support.

Thanks

On Fri, Dec 20, 2019, 13:34 Masha at MSFT <notifications@github.com> wrote:

[2019-12-20 19:59] rothja commented on #3792
@pcand01 Thanks for the feedback. If the function is not documented correctly, we'd like to get it fixed. I'm going to run a test to see if I can reproduce. I also noticed there are [two stackoverflow threads](https://stackoverflow.com/search?q=__%24command_id) on this that might help too. I will look at those as well. Thank you!

[2019-12-20 19:59] VanMSFT commented on #3841
Hi @MikeHowell-TransferenceUnLimited! Thanks for the feedback. We really appreciate it. We will leave the syntax as is for now.

[code]

The WITH statement is surrounded in brackets, and therefore, optional. We list details on this syntax in the Remarks section. `<query_expression>` is not optional, and therefore needs to be specified.

[code]

`<query_specification>` is specified in `<query_expre

[2019-12-20 19:59] #3841 closed

[2019-12-20 20:42] MashaMSFT commented on #3851
Hi @klennan, thanks again for reaching out! I've submitted a change to update the documentation and it should be live either later today, or possibly early next week. I'm going to close out this Git Issue, but please feel free to comment should you need anything further.

Thanks for improving our documentation and hope you have a wonderful weekend!
Masha from the SQL Docs team

[2019-12-20 20:42] #3851 closed

[2019-12-20 20:47] pcand01 commented on #3792
Thanks, I also note that the wrapper functions generated are incorrect
EXEC sys.sp_cdc_generate_wrapper_function; is not creating the correct code

From lsn  is looking at Largest than instead of lesser than and the IF test often incorrectly return nulls, ending in error.
These wrapper functions needs a review and update

      DECLARE
         @from_lsn BINARY(10), @to_lsn BINARY(10);

      IF (

[2019-12-20 20:49] Phylum123 opened #3854 "TestScripts folder doesn't exist"
in Step 4 for how to debug, what test scripts folder and default test script? They aren't there. They don't get created when the project is created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c697524f-08a8-b961-a673-d93a92e7a13a
* Version Independent ID: b16d93e1-709f-e7b5-2928-9e12d2756cf8
* Content: [Debugging CL

[2019-12-20 21:34] mwdarab opened #3855 "Update"
Please update under the Prerequisites section:

Latest version of Azure Data Studio Insiders build - Do we still need this or does regular ADS allow this too (since SQL 19 is in GA)?
SQL Server 2019 (15.x) extension installed in Azure Data Studio - This extension has been deprecated. Please include the updated one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-12-20 22:58] garyericson commented on #3782
@adifranco1 - Okay, I discovered the issue. The pymssql package was discontinued just last month (you can read more [here](https://github.com/pymssql/pymssql/issues/668)), so the latest (default) version can no longer be installed and the error message suggests installing an earlier version of the package. Until we get sqlmlutils updated, you can install pymssql separately yourself just before ins

[2019-12-23 00:00] brettshearer opened #3861 "Listing trace flags to understand inner workings of filtered indexes"
There are many internal trace flags that are useful to understand the limitations of filtered indexes.
eg: 8606,8607,8612,8615,3604,2372,8675,8619

Perhaps these could become documented and available so that customers can understanding what is going on 'under the hood'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e57

[2019-12-23 09:53] xaamt opened #3862 "OLTP is not supported for database diagram."
Unfortunatly, there is no reference to mention that In-Memory OLTP is not supported for database diagram.
So, consider that, please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f34d1d9-996d-a5b7-c525-a0c8b2275373
* Version Independent ID: 8d8a4eff-4a28-a749-97c8-b42c7e55c477
* Content: [Features not supported - in-

[2019-12-23 23:05] trynio opened #3864 "correct comma position"
Is this the correct syntax?
FORMAT ( value, format [, culture ] )
Isn't it like that?
FORMAT ( value, format, [ culture ] )
I'm not sure that's why I'm asking.
Best regards!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: L2VuLXVzL3NxbC90LXNxbC9mdW5jdGlvbnMvZm9ybWF0LXRyYW5zYWN0LXNxbA==
* Version Independent ID: L2VuLXVz

[2019-12-24 08:28] goliverma commented on #3417
Thank u sir but this problem is not solve

[2019-12-24 11:05] LarnuUK commented on #3864
`FORMAT ( value, format [, culture ] )` is correct. Parts inside the brackets (`[]`) are optional. If `FORMAT ( value, format, [ culture ] )` *were* the correct syntax, then when you omit a value for `culture` you would have to have a trailing comma (`,`):

[code]
If you try that, you'll get an error.

[2019-12-24 18:15] tussosedan opened #3865 "Example A says "public" in the description, yet script uses "dbo""
Please either align them or explain the difference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0bede25-95a9-222d-eabe-7ff229096f53
* Version Independent ID: 7b33301e-1863-b3b2-4391-cb30a6908d2c
* Content: [CREATE DATABASE AUDIT SPECIFICATION - SQL Server (Transact-SQL)](https://docs.microsoft.com/en-us/sql/t-sql/s

[2019-12-26 18:33] Morshedk opened #3868 "Setting @log_backup_freq = '0' doesn't work on 2017 CU16"
Setting @log_backup_freq = '0' doesn't work on 2017 CU16, I get
Msg 45207, Level 17, State 4, Procedure managed_backup.sp_add_task_command, Line 102 [Batch Start Line 13]
The value specified for parameter @log_backup_freq is not valid. A valid scheduling parameter is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-12-26 21:01] CODevOp opened #3869 "Code labeled VB"
[Enter feedback here]
There are 2 code windows on this page, the first page is labeled VB instead of Transact-SQL. The second window is not labeled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20768d1f-2859-d266-e79c-d04ee97d615e
* Version Independent ID: 34a20aa9-9b34-aace-ea59-bc867e7af5f9
* Content: [managed_back

[2019-12-26 21:17] MikeRayMSFT commented on #3780
Adding @DavidTrigano

[2019-12-26 21:29] gjuecat opened #3870 "MSSQL Server exiting after RUN command"
Hi,
I set up a MSSQL Server 2019 container, now I want to run tho container with the following command:
docker run -e “ACCEPT_EULA=Y” -e “SA_PASSWORD=myPassword”
-p 1433:1433 --name MSSQLSERVER
-v /home/docker/dockervolumes/MSSQL/:/var/opt/mssql
-d mcr.microsoft.com/mssql/server:2019-latest --restart=always

But the container exits after startup, the log says:
SQL Server 2019 will run as non-root

[2019-12-27 05:37] michaelAngeloEgypt opened #3874 "Formatting DateTime"
Hi, I was expecting to see a mention for the Format function here
https://docs.microsoft.com/en-us/sql/t-sql/functions/format-transact-sql?view=sql-server-ver15

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 972a4352-4957-49fc-0c39-3e254d130fe7
* Version Independent ID: cc865d87-1527-9f72-3cbc-7b036f4503df
* Content: [

[2019-12-27 08:10] kazshi opened #3875 "result of 'database_size < reserved + unallocated space'"
"database_size is always larger than the sum of reserved + unallocated space because it includes the size of log files, but reserved and unallocated_space consider only data pages." in the Remarks, but my customer reported that they got a result of 'database_size &lt; reserved + unallocated space' in their SQL DW - what causes could be for that?

---
#### Document Details

⚠ *Do not edit this sect

[2019-12-27 09:03] DavidTrigano commented on #3780
Hi @JohnNelsonNmbr2,

Many thanks for your question.
You will find all the details regarding the T-SQL commands in the [**Manage classifications**](https://docs.microsoft.com/en-us/sql/relational-databases/security/sql-data-discovery-and-classification?view=sql-server-ver15&tabs=t-sql#subheading-5) section:

You can use T-SQL to add/remove column classifications, as well as retrieve all classifica

[2019-12-27 09:19] MightyPen commented on #3780
@JohnNelsonNmbr2 It looks like David has supplied the answer:

- "Manage classifications" section:
   - [https://docs.microsoft.com/sql/relational-databases/security/sql-data-discovery-and-classification?view=sql-server-ver15&tabs=t-sql#subheading-5](https://docs.microsoft.com/sql/relational-databases/security/sql-data-discovery-and-classification?view=sql-server-ver15&tabs=t-sql#subheading-5)

Th

[2019-12-27 09:19] #3780 closed

[2019-12-27 19:00] #3757 closed

[2019-12-27 21:32] WilliamAntonRohm commented on #3852
@BeginTry -- Dave, thank you for your feedback and your detailed test case  I am looking into this document.

[2019-12-27 21:34] WilliamAntonRohm commented on #3853
@LarnuUK -- Thom, thank you for your question.

@stevestein -- Steve, please look into this issue 3853.

[2019-12-27 21:36] WilliamAntonRohm commented on #3850
@mwdarab -- Mohammad, thank you for your question.

@mihaelablendea -- Mihaela, please look into this issue 3850.

cc @MightyPen as a writer

[2019-12-27 21:41] WilliamAntonRohm commented on #3854
@Phylum123 -- thank you for your feedback.

@rothja -- please look into this issue 3854.

[2019-12-27 22:06] WilliamAntonRohm commented on #3855
@mwdarab -- Mohammad, thank you for your close reading.

@yualan -- Alan, please look into this issue 3855.

cc @MightyPen as a writer

[2019-12-28 08:06] MightyPen commented on #3855
@yualan , @MikeRayMSFT Guys, I set MikeRayMSFT as the associated writer Assignee, for this Issue #3855. Every Issue that a PM is responsible for also needs a writer as a co-Assignee, just to watch - prompt - assist if necessary.

 _Reason why Mike was chosen:_ &nbsp; &nbsp; Mike owns a lot of the other docs/big-data-cluster/ .md articles.

However, Alan is still the primary Assignee, and is the `m

[2019-12-28 08:14] MightyPen commented on #3850
@MikeRayMSFT Hi Mike, I do not see the phrase - &nbsp; `export DOCKER_TAG` &nbsp; - in the article, although the original poster makes the phrase a focus of this Issue #3850?
Mihaela is the formal owner of the article in question.

cc: @MihaelaBlendea

[2019-12-28 20:43] gjuecat commented on #3870
I think the problem is in the generated exec command within the file permissions_check.sh:

[code]
The ouput from log is:

[code]
So what’s the exact command which is executed in the last line of the permissions_check.sh???

[2019-12-29 22:16] renatoalmeidamartins commented on #3764
Excatly the same here. Have been following the workshop successfully so far, get the "login failed for user admin"

[2019-12-29 22:17] ckarras opened #3876 "URL of the sample notebook is broken (404)"
When I try to run the curl command for the sample notebook, I get an error "404: Not found", for the following URL: https://raw.githubusercontent.com/microsoft/sql-server-samples/master/samples/features/sql-big-data-cluster/spark/data-virtualization/mssql_spark_connector.ipynb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-12-30 03:39] 3ICE commented on #3850
A line of the article links to a file:
https://raw.githubusercontent.com/microsoft/sql-server-samples/master/samples/features/sql-big-data-cluster/deployment/kubeadm/ubuntu-single-node-vm/setup-bdc.sh

In it is the version number in question. On line 49.

[2019-12-30 09:03] Anakinn opened #3878 "Separete log dir"
There is option for specifying separate DATA dir /INSTALLSQLDATADIR and what about LOG dir?

[2019-12-30 09:10] hyoshioka0128 opened #3879 "Table is broken"
![oracle-publishing-overview](https://user-images.githubusercontent.com/40815708/71575229-90bd3e00-2b2f-11ea-9e55-178886f0aaec.png)

https://docs.microsoft.com/en-us/sql/relational-databases/replication/non-sql/oracle-publishing-overview?view=sql-server-ver15

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38d5eb8d-5232

[2019-12-30 11:40] wwmbes opened #3880 "What constitutes a line and what does not?"
It seems that the ErrorLine number produced by the ERRORLINE() function has an unspecified way of counting lines which is not the number of lines starting from the beginning of the file. sometimes it seems as if comments are included in the line count, while at other times it does not. It would be helpful if this information was clear.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-12-30 13:46] jackapie opened #3881 "Example A bitmask to base_10 comment"
The comment in Example A states:
The bitmask is: power(2, (2-1)) + power(2, (3-1)) + power(2, (4-1)) = 14.
This bitmask translates into base_10 as: 1 + 4 + 9 = 14.

The translation looks wrong to me, it should be 2 + 4 + 8 = 14, since: power(2, 2-1) is 2^1,
power(2, 3-1) is 2^2 two squared
and power(2, 4-1) is 2^3 two cubed

Incidentally, this does returns the same value as 1 + 4 + 9

---
#### Doc

[2019-12-30 15:53] vishnu4 commented on #3095
What about if you're not using WKTWriter directly, but just using <Geometry>.AsText() ?  can we have an overload, or is there another method i can/should be using here?

[2019-12-30 15:59] MladjoA commented on #3095
@vishnu4 , are you referring to an alternative NetTopologySuite functionality, or your question is related to SQL Server Spatial. If latter, can you please elaborate your scenario?

[2019-12-30 16:19] briannipper opened #3882 "BSOD When attempting to install"
Huge fan of SSMS.

Specs:
ASUS Laptop (Model K501UW)
CPU x64
16 GB RAM
500 GB SSD for primary hard drive (OS and Apps)
Secondary Drive is also SSD that I instal existing DB data directories and logs to
Windows 10 1906 (OS Build 18362.535)

Currently running SSMS v18.2
Copy Info from Installed version:
SQL Server Management Studio						15.0.18142.0
Microsoft Analysis Services Client Tools						15.0

[2019-12-30 16:24] vishnu4 commented on #3095
it's the issue i'm having here : https://gis.stackexchange.com/questions/346195/cant-convert-a-wkt-with-a-z-value-into-a-sql-geometry-value
i get the same error as mentioned above, but i'm not using a WKTWriter directly.

[2019-12-30 17:26] cdotzenrod commented on #3812
I have the same issue.  This is my error:  Invalid status code '401' from https://52.188.45.190:30443/gateway/default/livy/v1/sessions with error payload

If I go to the code on the MSSQL-Spark Connector User Creation page, it won't let me run the first command.  I get this error when I run:  Create DATABASE connector_test_db
Invalid status code '401' from https://52.188.45.190:30443/gateway/defau

[2019-12-30 18:05] dnethi commented on #3882
+@Matteo Taveggia<mailto:matteot@microsoft.com> and @David Shiflet<mailto:davidshi@microsoft.com> while Matteo is oof..

David – would a full memory dump as described here - https://docs.microsoft.com/en-us/sql/ssms/troubleshoot/get-full-memory-dump?view=sql-server-ver15 be useful or do you have any other recommendations?

Thanks,
Dinakar

From: Brian Nipper <notifications@github.com>
Sent: Monday

[2019-12-30 19:14] dnethi commented on #3882
Kernel crashes in Windows would be beyond my help. It's most likely a hardware or device driver bug.

From: Dinakar Nethi <Dinakar.Nethi@microsoft.com>
Sent: Monday, December 30, 2019 1:06 PM
To: MicrosoftDocs/sql-docs <reply@reply.github.com>; MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>; Matteo Taveggia <matteot@microsoft.com>; David Shiflet <davidshi@microsoft.com>
Cc: Mention <mention@

[2019-12-30 20:17] MightyPen commented on #3850
FWIWorth, that line (49) has been updated in the past, to represent this or that particular version.
Maybe an inline `#` comment could be added to clarify that this value can be changed (or cannot be changed?).

[2019-12-30 20:41] vishnu4 commented on #3095
So it looks like i was able to get around my issue by replacing any occurance i had of
<Geometry>.AsText()
to
<Geometry>.ToWKT()

where 'ToWKT' is just an extension method i made below.  keeping my sql/not sql options open with the second parameter too.:
[code]

[2019-12-30 22:05] MashaMSFT commented on #3814
Hi @brettshearer , thank you for your patience as we looked into this for you!

While it is expected behavior for a database to be inaccessible during a restore operation, we can see how such an error might not be expected for a server-level view. The problem is that this view is querying metadata that exists at the database level, so if any of the databases are inaccessible, the query generates a

[2019-12-30 22:08] CarlRabeler commented on #3687
PR pending

[2019-12-30 22:08] CarlRabeler commented on #3689
investigating

[2019-12-30 22:09] MashaMSFT commented on #3846
Hi @Jamal27 , thanks for your patience as we researched this. Yes, the following topology will work for both transactional and merge replication:

Pub - SQL Server 2008 R2
Dist - SQL Server 2019
Sub - SQL Server 2008 R2

However, please note that SQL Server 2008 R2 is out of extended support so no security fixes will be available for your publisher and subscriber, unless you've purchased an extend

[2019-12-30 22:10] CarlRabeler commented on #3783
PR pending

[2019-12-30 22:14] CarlRabeler commented on #3842
please assign to @VanMSFT

[2019-12-30 22:24] CarlRabeler commented on #3847
@winBoscoe Please clarify the change that you would like to see in this topic related to indexing or not indexing of persisted columns - or, better yet, click Edit in the upper right-hand corner and propose a change for someone on our team to review.
Thanks - Carl

[2019-12-30 22:28] LarnuUK commented on #3880
Could you give some examples? I can't think of times when the line number has *not* been the line number. The line number is relevant to the scope. So, for example, say you run the below:
[code]

If you run that, you'll get the error below:

Line 7 is correct, not 18, because the error occurred on line 7 withing the SP. If I add line numbers at the end of each line in the SP this becomes apparent:

[2019-12-30 22:32] MashaMSFT commented on #3879
Hi @hyoshioka0128 , thanks so much for bringing this to our attention! I've merged a change that will fix it, and it should be live either later today, or possibly tomorrow.w

Thanks for improving our documentation! I will close out this Git Issue but please feel free to comment should you need anything further.

Thanks and hope you have a great rest of your day!
Masha from the SQL Docs team

[2019-12-30 22:32] #3879 closed

[2019-12-30 22:34] CarlRabeler commented on #3838
PR pending

[2019-12-30 23:38] WilliamAntonRohm commented on #3861
@brettshearer -- Brett, thank you for your suggestion.

@MikeRayMSFT -- Mike, please look into this issue 3861.

[2019-12-30 23:40] WilliamAntonRohm commented on #3862
@xaamt -- thank you for your feedback.

@MightyPen -- please look into this potential documentation issue 3862.

[2019-12-30 23:41] WilliamAntonRohm commented on #3864
@trynio -- thank you for your question.

@LarnuUK -- thank you for your answer  :^)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2019-12-30 23:41] #3864 closed

[2019-12-30 23:43] WilliamAntonRohm commented on #3865
@tussosedan -- Alex, thank you for your feedback.

@VanMSFT -- Van, please look into this issue 3865.

[2019-12-31 16:38] binki commented on #2918
@msebolt But https://stackoverflow.com/a/8465306 says sequences are supported by SQL Server 2012. Using the version selector, I can only see 2014. And if I select “older”, I get a redirect to 2019. Please show me how I can see a simple table showing which versions of SQL Server support the feature versus not.

[2019-12-31 16:56] MightyPen commented on #3862
I am looking at this.

[2019-12-31 18:04] dnethi commented on #3882
Can we suggest a silent installation?

  1.  Open elevated cmd prompt
  2.  Type:
     *   start “” /w SSMS-Setup-ENU.exe /install /quiet

From: David Shiflet <davidshi@microsoft.com>
Sent: lunedì 30 dicembre 2019 11:15
To: Dinakar Nethi <Dinakar.Nethi@microsoft.com>; MicrosoftDocs/sql-docs <reply@reply.github.com>; MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>; Matteo Taveggia <matteot@mic

[2019-12-31 19:30] stevestein commented on #3694
@M-Damaschke - Thanks for the feedback!

The statement in the doc is correct. Can you clarify which statement in [the support document](https://support.microsoft.com/en-us/help/2574695/file-initialization-takes-a-long-time-for-sql-server-database-related) that appears to conflict with the doc?

Thanks

[2019-12-31 20:02] #3838 closed

[2019-12-31 20:03] #3687 closed

[2019-12-31 21:26] Tim-GOM opened #3884 "'Microsoft purchasing website' link broken"
'Microsoft purchasing website' link is currently: https://www.microsoft.com/server-cloud/products/sql-server/overview.aspx
This page states:
We are sorry, the page you requested cannot be found.
The URL may be misspelled or the page you're looking for is no longer available.

Tested on browsers: Edge, Brave, Chrome, & IE 11

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-12-31 21:34] stevestein commented on #3762
@nickstocker - thanks for the feedback!

The title of this issue says it fails to move, but in your description it says it moved, but the system is still looking in the old location.

Can you clarify? And did you run the follow-up commands to point to the new location? https://docs.microsoft.com/en-us/sql/relational-databases/databases/move-system-databases?#Follow

[2019-12-31 22:44] Jamal27 commented on #3846
Hi.

Thanks for answering my questions, but i have any doubts yet.

In documentation say that publisher can be 2008 version and support
distributor in 2019 version, but SQL server 2012/2014 doesn't have support
for distributor in 2019 version, is it correct?

Regards.

On Mon, Dec 30, 2019, 19:09 Masha at MSFT <notifications@github.com> wrote:

[2019-12-31 22:53] stevestein commented on #3776
@propellor - Thanks for the feedback!

Hi Sam, can you be more specific?

I think the answer really depends on a few different things such as the details of the new column (is it nullable, is it a computed column, etc.),  the details of the transaction running against the table (is it adding values that the new column uses in any way), isolation level, etc.

At some point the table needs to update

[2019-12-31 23:30] stevestein commented on #3793
@amthomas46 - Thanks for the feedback!
Hi Anna, thanks for pointing this out. I removed the old article.

Thanks!

[2019-12-31 23:30] stevestein commented on #3793
#please-close

[2019-12-31 23:30] #3793 closed

[2020-01-02 12:51] Salik-Rafiq opened #3888 "error on the DACExtractionUnit line"
I am trying this script but am getting an error on the DacExtraction line

New-Object : Cannot find type [Microsoft.SqlServer.Managment.Dac.DacExtractionUnit]: verify that the assembly containing this type is loaded.
At C:\Users\lil_e\Documents\db-register.ps1:15 char:17
+ ... isterunit = New-Object Microsoft.SqlServer.Managment.Dac.DacExtractio ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-01-02 14:27] RickXMoore commented on #3649
Hi Troy,

Thanks for the update.  I don’t believe I have the issue on the 17.x versions, but I’ve been out on vacation since 12/13 so I’m trying to catch up.  I’ll try and validate the older client as soon as I can and reply again.

Thanks,

Rick Moore │ Senior Database Administrator │CFA Institute │915 E. High Street │ PO Box 3668 │ Charlottesville, VA │ 22902-0668 USA │ +1 (434) 951-5528 tel │ +

[2020-01-02 15:37] #3847 closed

[2020-01-02 19:17] garyericson commented on #3782
I've updated the documentation to add the pymssql install: [Install Python packages with sqlmlutils](https://docs.microsoft.com/en-us/sql/advanced-analytics/package-management/install-additional-python-packages-on-sql-server?view=sql-server-2017#install-sqlmlutils-on-the-client-computer)

#please-close

[2020-01-02 19:17] #3782 closed

[2020-01-02 19:29] rothja commented on #3854
@Phylum123 Thank you for the question and apologies for the confusion. I have been out of the office, but I will look into this and see if I can find an answer.

[2020-01-02 23:21] WilliamAntonRohm commented on #3852
@stevestein -- Steve, please review the above-mentioned PR 13376.

[2020-01-03 00:39] MashaMSFT commented on #3884
Hi @Tim-GOM , thanks for bringing this to our attention! Let me look into this :)

Thanks!
Masha from the SQL Docs team

[2020-01-03 00:41] MashaMSFT commented on #3814
Hi @brettshearer , it's been some time since we've heard from you. I'm going to assume that your question was addressed and close out this Git Issue. However, please feel free to comment should you need anything further.

Thanks and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2020-01-03 00:41] #3814 closed

[2020-01-03 00:48] MashaMSFT commented on #3846
Hi @Jamal27 ,

Thanks for reaching out again!  If your distributor is SQL Server 2019, then it is compatible with a SQL Server 2019 publisher, and a subscriber that is within two versions of the publisher (so SQL 2016 is the lowest) for transactional replication, and any version of SQL Server (So SQL 2008 at the lowest) for merge replication.

The rules are defined in the documentation:
![image](h

[2020-01-03 02:52] briannipper commented on #3882
Thank you for the suggestion @dnethi I tried as you suggested to install via elevated CMD; however, the same result occurs. BSOD as soon as I run the command.

I'm guessing it's a driver issue of some kind. Perhaps an attempt to install in safe mode might work, but I'm not sure what effect installing in safe mode would occur.

Anyone on this thread know if installing in Safe Mode would even be an

[2020-01-03 02:59] PKBGitHub opened #3889 "Multiple String_Split columns for per query"
I have a one line Invoice Master table data
1	1	1	2020-01-01 00:00:00	1	2020-01-01 00:00:00	2020-01-01 00:00:00	₹	4|5|10|3|6|7|8|9|11	1|1|2|3|3|3|3|2|2	65.00|5.00|5.00|5.00|5.00|5.00|5.00|5.00|5.00  	65.00|5.00|10.00|15.00|15.00|15.00|15.00|10.00|10.00
This is a tab separated column, I would like to use Multiple times string split to split column that has data 4|5|10|3|6|7|8|9|11 and again 1|1|2|3

[2020-01-03 14:06] qwertoyo opened #3893 "Alpine linux support?"
Is there a way to install sql tools on Alpine Linux?

related: https://github.com/Microsoft/mssql-docker/issues/405

[2020-01-03 14:50] Jamal27 commented on #3846
Thanks very much.

Sorry for my lack of understanding, see this image below, why SQL 2008 can
replicate to SQL 2019 and SQL 2012 not?

[image: image.png]

On Thu, Jan 2, 2020 at 9:48 PM Masha at MSFT <notifications@github.com>
wrote:

[2020-01-03 17:20] emad-almousa opened #3894 "minor update in the documentation is required"
in the restore database section, the statement should be as follows:

After you rebuild the resource database, all service packs, cumulative updates and hot fixes are lost, and therefore must be reapplied.
from SQL Server 2017 and beyond, Microsoft only releases cumulative updates and hot fixes for MSSQL ! No Service Packs anymore.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-01-03 17:37] stevestein commented on #3815
@lypolyzo - thanks for the feedback!

Hi Lydia,

Try unchecking **Prevent saving changes that require table re-creation** in **Tools>Options>Designers**:

![image](https://user-images.githubusercontent.com/9388190/71738619-f9e0d200-2e0b-11ea-876f-12c8b652009b.png)

Thanks,
Steve

[2020-01-03 17:45] stevestein commented on #3853
@LarnuUK - thanks for the feedback!

Hi Thom,
The sys.schemas page is presented at a higher node level in the TOC and not in the Object node:

![image](https://user-images.githubusercontent.com/9388190/71739195-a2436600-2e0d-11ea-92c0-9004c9464340.png)

Thanks,
Steve

[2020-01-03 17:55] Avyncentia opened #3895 "DRIVER option for Generic ODBC connection"
I'm trying to create an external table for a generic ODBC connection for use with Polybase (specifically KB_SQL). This page says to specify the "driver" when creating an external data source using ODBC, but I don't understand syntax for specifying the driver. It doesn't seem to be a valid option in the CREATE EXTERNAL DATA SOURCE command. Here's what I tried: ALTER EXTERNAL DATA SOURCE [kbsql] SET

[2020-01-03 18:07] Avyncentia opened #3896 "Typo and incomplete code in example G"
Example G has a typo (sharded instead of shared). The code is also incomplete (the DISTRIBUTION option has no value).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7ac2fe2-31da-7db6-2d5f-5091022f41d2
* Version Independent ID: bbf07c2c-7006-7b94-f12f-800fa7bc67e4
* Content: [CREATE EXTERNAL TABLE (Transact-SQL) - SQL

[2020-01-03 18:54] CarlRabeler commented on #3895
researching...

[2020-01-03 20:13] VanMSFT commented on #3865
Hi @tussosedan! Thanks for the feedback. The changes will be updated shortly.

[2020-01-03 20:24] #3865 closed

[2020-01-03 20:34] WilliamAntonRohm commented on #3868
@Morshedk -- thank you for your feedback.  You are welcome to add this to [SQL Server Feedback](https://aka.ms/sqlfeedback).

@MikeRayMSFT -- please look into this issue 3868.

[2020-01-03 20:35] WilliamAntonRohm commented on #3869
@CODevOp -- Bret, thank you for bringing this to our attention.  I am looking into this article.

[2020-01-03 20:37] WilliamAntonRohm commented on #3870
@gjuecat -- thank you for your questions.  This repo is only for documentation issues.  You may find assistance here:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am closing this issue now.  You are welcome to @ mention me for any followup or with what you find.  We hope to hear from

[2020-01-03 20:37] #3870 closed

[2020-01-03 20:38] WilliamAntonRohm commented on #3874
@michaelAngeloEgypt -- Michael, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue 3874.

[2020-01-03 20:40] WilliamAntonRohm commented on #3875
@kazshi -- Kazuto, thank you for your feedback.  You may find additional information here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

@stevestein -- Steve, please look into this issue 3875.

[2020-01-03 20:42] WilliamAntonRohm commented on #3876
@ckarras -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue 3876.

[2020-01-03 20:44] WilliamAntonRohm commented on #3878
@Anakinn -- thank you for your question.  Please provide more context for your task, and a link to any documentation in question.  Meanwhile, you may find answers here:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-01-03 21:56] CarlRabeler commented on #3896
fixed sharded example

[2020-01-03 23:34] WilliamAntonRohm commented on #3881
@jackapie -- Jacqueline, thank you for your feedback.  I am looking into this document.

[2020-01-03 23:37] WilliamAntonRohm commented on #3888
@chameeya -- thank you for your feedback.  You may find additional information here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@stevestein -- please look into this issue 3888.

[2020-01-03 23:39] WilliamAntonRohm commented on #3889
@PKBGitHub -- thank you for reaching out to us.  Your issue seems to be implementation-related and this repo is only for documentation issues.  You may find additional information here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am closing this issue now.  You are welcome to @ mentio

[2020-01-03 23:39] #3889 closed

[2020-01-03 23:40] #3896 closed

[2020-01-03 23:43] WilliamAntonRohm commented on #3893
@qwertoyo -- Antonio, please provide more information about the documentation in question.  Meanwhile, you may find information here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-01-04 00:31] gurvinderkandhola commented on #3393
I am also having the same issue, while creating the External File Format on SQL server 2019 , evaluation version.
-------------------------------------
SELECT SERVERPROPERTY ('IsPolybaseInstalled') AS IsPolybaseInstalled;
GO
Returns 1
-------------------------------------
CREATE EXTERNAL FILE FORMAT TextFileFormat WITH (
      FORMAT_TYPE = DELIMITEDTEXT,
      FORMAT_OPTIONS (FIELD_TERMINATOR =',

[2020-01-04 02:53] chanmmn opened #3897 "Which version of Visual Studio can run Azure Feature Pack?"
SSIS is running on Visual Studio. It is good to let people know which Visual Studio versions are supported by Azure Feature Pack. Can we have that information in this article?
This is a suggestion rather.

[2020-01-04 03:52] gregveres opened #3898 "Sql Server Management Studio doesn't have Shrink as an option on Tasks menu"
When I connect to my Azure DB and follow the instructions above under SMSS, I don't find a Shrink under the Tasks menu. I am using SSMS v 18.4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67f0fd32-024f-734e-82c1-32b890ac591d
* Version Independent ID: bca0a8c1-05fe-91d5-37b5-0a4729c1237f
* Content: [Shrink a Database

[2020-01-04 15:26] mwdarab opened #3902 "azdata bdc create error"
I was redirected here after creating the 3 node kubeadm cluster. I successfully installed azdata, etc. but when I run "azdata bdc create" I get the below error:

mwdarab@bdc-master:~$ azdata bdc create
libodbc.so.2: cannot open shared object file: No such file or directory
Traceback (most recent call last):
  File "/opt/azdata/lib/python3.6/site-packages/mssqlctl/cli/core/__init__.py", line 191, i

[2020-01-04 15:38] TomGroszko opened #3903 "sys.crypt_properties how to get to a column"
When class type is 1 (object or column) and it is a column it seems like there needs to be a minor_id  to identify the column in the major_id. On the other hand there does not seem to be a way to add a signature to a column with ADD SIGNATURE so how can it ever be a column?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-01-05 17:09] mwdarab commented on #3765
This is still an issue.

[2020-01-05 19:19] mmmiller60 opened #3904 "Readable seconday"
Clarify if it is required for the secondaries be configured as "readable secondaries"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22e74780-976d-c65a-b0e3-7d9e4a8a25b7
* Version Independent ID: 8eaff680-6aaf-5996-38b8-508bc79e4fdf
* Content: [Configure backups on secondary replicas of an availability group - SQL Serv

[2020-01-05 21:35] StingyJack opened #3905 "The summary paragraph should say "Extended Events" instead of "XEvents""
Use codenames, shortened names, pet names, cutesy names, etc after the thing has been declared with a proper name. It just confuses people.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ddbdcc5-661b-427d-7080-902c4611f739
* Version Independent ID: 3cf010c2-45ef-b58a-4091-c79c3e67cfef
* Content: [SQL Server Profiler e

[2020-01-06 04:59] Guy--L opened #3906 "Which version of SqlPackage.exe runs with only .NET 4.5.2 installed?"
We are attempting to run a psh script containing sqlpackage command via Ansible on a tightly controlled server to deploy a dacpac from said "jump" server to a target instance on a database server.

A return value of 2148734720 is encountered which indicates .NET 3.5 Framework needs to be installed on the "jump" server.  Can this be verified?  _(I just verified it to need .NET 4.6 not 3.5)_

With r

[2020-01-06 09:03] hunterxtreme opened #3908 "Checksum mismatch for https://packages.microsoft.com/sles/12/prod/dotnet-host-2.1.10-x64.rpm"
I'm trying to mirror the https://packages.microsoft.com/sles/12/prod/ repository on my SLES SMT server but keep hitting the checksum mismatch issue for this file - dotnet-host-2.1.10-x64.rpm

[2020-01-06 10:02] qwertoyo commented on #3893
Ooops, I opened the issue from the doc page and assumed it was automagically linked:
https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-tools?view=sql-server-ver15

[2020-01-06 15:12] tgilmour opened #3909 "Change 'he' pronoun to gender neutral"
In "If a user is a Windows domain user who has a login and password for Windows, he must still provide another (SQL Server) login"
Consider revising this to use a gender neutral pronoun.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9d17e2-3f3e-745c-058e-50ae13558b96
* Version Independent ID: c6d6b73a-96c0-10f3-0dd7

[2020-01-06 15:22] rothja commented on #3393
@gurvinderkandhola Thanks for the additional test. @MikeRayMSFT could you take a look at this one more time with the evaluation version of 2019 (or developer version) just to make sure that we can't reproduce this? I wonder if there are others reporting the problem on the forums too. I'm reopening so we can look one more time. If it is a per configuration problem, then support would still need to

[2020-01-06 16:25] adifranco1 opened #3910 "pip install "pymssql<3.0""
Running pip install "pymssql<3.0" throws errors.

  ERROR: Command errored out with exit status 1:
     command: 'c:\users\adifranco\appdata\local\programs\python\python38-32\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\adifranco\\AppData\\Local\\Temp\\pip-install-ei3t8mme\\pymssql\\setup.py'"'"'; __file__='"'"'C:\\Users\\adifranco\\AppData\\Local\\Temp\\pip-i

[2020-01-06 16:30] msebolt commented on #2918
@binki  Apologies for any confusion, it sounds like this issue is similar to https://github.com/MicrosoftDocs/sql-docs/issues/3823.

Unfortunately, if this is in regards to how the version selector works (such as lacking functionality for earliest supported version, version tables, etc.) it needs to be handled by the **Microsoft Docs** team [here](https://github.com/MicrosoftDocs/feedback/issues).

[2020-01-06 16:35] adifranco1 opened #3911 "pip install "pymssql<3.0""
pip install "pymssql<3.0" fails to install

  ERROR: Command errored out with exit status 1:
     command: 'c:\users\adifranco\appdata\local\programs\python\python38-32\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\adifranco\\AppData\\Local\\Temp\\pip-install-ei3t8mme\\pymssql\\setup.py'"'"'; __file__='"'"'C:\\Users\\adifranco\\AppData\\Local\\Temp\\pip-install

[2020-01-06 16:38] adifranco1 commented on #3782
Hi Gary,
I posted a new issue. Installing pymssql 3.0 fails to install. Any help is appreciated.

Anthony

________________________________
From: Gary Ericson <notifications@github.com>
Sent: Thursday, January 2, 2020 2:17 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: adifranco1 <anthony_difranco@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-d

[2020-01-06 17:36] gurvinderkandhola commented on #3393
@rothja I was able to make it work after
---ran the following command
EXEC sp_configure  'polybase enabled', 1
reconfigure
-----then ran the same command and it worked---

CREATE EXTERNAL FILE FORMAT TextFileFormat WITH (
      FORMAT_TYPE = DELIMITEDTEXT,
      FORMAT_OPTIONS (FIELD_TERMINATOR =',',USE_TYPE_DEFAULT = TRUE))

Although i had checked earlier that polybase was enabled, so just the EX

[2020-01-06 17:45] rothja commented on #3393
@gurvinderkandhola Thank you for the update! I think this might be the issue in other cases. I apologize the docs are not clear on this. @MikeRayMSFT Do you think that in this reference article we should point back to the PolyBase installation article, especially the section on [enabling it](https://docs.microsoft.com/en-us/sql/relational-databases/polybase/polybase-installation?view=sql-server-ve

[2020-01-06 18:29] kevinvngo commented on #3791
Hi, we recently added a FAQ to our documentation which should address many of these questions. Feel free to reach out to our distribution list if there are any additional questions: sqldwcopypreview@service.microsoft.com

[2020-01-06 18:29] kevinvngo commented on #3791
#please-close

[2020-01-06 18:30] rajmera3 commented on #3812
@shivsood Do you have any guidance here? Looks like @kenakamu is having issues because he has a $ in the password, while @cdotzenrod is having issues executing the SQL code

[2020-01-06 18:31] kevinvngo commented on #3840
Hi, is the SAS token at the container or blob level? Can you please send the details on the issue to the following distribution list and we will take a look: sqldwcopypreview@service.microsoft.com

[2020-01-06 18:31] kevinvngo commented on #3840
#please-close

[2020-01-06 18:31] #3840 closed

[2020-01-06 18:53] PigeonSQL opened #3912 "Using this operation in SHS mode is unsupported for this version of Windows."
Hi there, I got this error:

after this command:

`Set-HgsClientConfiguration -AttestationServerUrl http://WinSrv2019Std/Attestation -KeyProtectionServerUrl http://WinSrv2019Std/KeyProtection/`

Even though SQL Server is running on Windows Server 2019 Datacenter Evaluation
![Error](https://user-images.githubusercontent.com/45949610/71840550-d04ed180-30bd-11ea-9db2-8c2381491c9c.PNG)

I am installin

[2020-01-06 19:48] #3912 closed

[2020-01-06 19:49] PigeonSQL commented on #3912
I found the problem ;)

[2020-01-06 19:54] markingmyname commented on #3404
Due to no response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-01-06 19:54] #3404 closed

[2020-01-06 20:20] MashaMSFT commented on #3846
Hi @jamal27, my apologies, the image didn't come through, but I  believe it's showing that SQL 2019 is an acceptable subscriber for SQL 2008, is that correct?
![image](https://user-images.githubusercontent.com/32783170/71846022-6c58e880-307e-11ea-931b-c77c6e0a5905.png)

Thank  you so much for bringing this to our attention! This is actually an error with the documentation, and will be fixed later

[2020-01-06 20:22] MashaMSFT commented on #3904
Hi @mmmiller60 , thanks for contacting Microsoft! My apologies, I'm not sure I understand your question. Are you asking if the secondary has to be readable to configure backups?

Thanks!
Masha from the SQL Docs team

[2020-01-06 20:34] MashaMSFT commented on #3884
Hi @Tim-GOM , thanks again for letting us know of the broken link. I have merged a change that fixes the link and it will be live later today. I will proceed with closing out this Git Issue in the meantime, but please feel free to comment should you need anything further from us.

I hope that helps and thanks again for improving our documentation!  Hope you have a wonderful rest of your day :)
Mas

[2020-01-06 20:34] #3884 closed

[2020-01-06 20:47] mmmiller60 commented on #3904
Exactly.  There is a separate configuration to enable the secondary DB to be readable, is that configuration also needed to use the secondary for backups?

Sam

From: Masha at MSFT <notifications@github.com>
Sent: Monday, January 6, 2020 3:23 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Miller, Sam <smiller@ceiwc.com>; Mention <mention@noreply.github.com>
Subject: EXTERNAL: Re:

[2020-01-06 22:15] WilliamAntonRohm commented on #3897
@chanmmn -- thank you for your feedback.  Please provide a link to the article in question and we will look into it.

[2020-01-06 22:21] msebolt commented on #3910
@adifranco1 Thank you for the feedback, please refer to https://github.com/MicrosoftDocs/sql-docs/issues/3911.

[2020-01-06 22:21] #3910 closed

[2020-01-06 22:38] CraigHead commented on #3390
I can confirm at least on 2019 Sql Server. Only mount the data and log directories. The documentation should be updated to reflect this.

[2020-01-06 22:40] Matteo-T commented on #3882
Since it's a BSOD, the recommended way to proceed (from the Windows folks) is:
- Share (OneDrive, etc...) c:\windows\system32\memory.dmp
Also:
- File a feedback hub bug (Start -> feedback hub) and share the link to the feedback

Thanks,
-Matteo

[2020-01-06 22:44] WilliamAntonRohm commented on #3869
@MikeRayMSFT -- Mike, please review the above-mentioned PR 13404.

[2020-01-07 00:33] WilliamAntonRohm commented on #3894
@emad-almousa -- Emad, thank you for your feedback.  I am updating this document.

[2020-01-07 00:39] #3881 closed

[2020-01-07 00:40] WilliamAntonRohm commented on #3881
@jackapie -- Jacqueline, I have updated the documentation and it should be live by tomorrow.

[2020-01-07 01:11] breyed commented on #2991
The [doc page](https://docs.microsoft.com/en-us/sql/t-sql/functions/string-agg-transact-sql) would be clearer if this issue were open until it is resolved. I had the same question about which SQL Server version this applies to. In the absence of first-class documentation on the page, an open on the bottom page indicating that it's being worked on would have been helpful. Closed issues are less dis

[2020-01-07 02:01] WilliamAntonRohm commented on #3894
@stevestein -- Steve, please review the above-mentioned PR 13411.

[2020-01-07 02:06] kazshi commented on #3875
@WilliamAntonRohm Thanks for your comment. I checked the links and searched but unfortunately I couldn't find any related information to the question.

@stevestein I'd appreciate it if you could provide any information on the issue.

[2020-01-07 06:12] vijaysuram opened #3914 "varchar (max) is not supported in CCI"
This page says varchar(max) is only used in sql data warehouse but when I use max it throws me an error saying that CCI doesn;t support such data type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4775d99-7054-3a3f-98bb-815b65b67358
* Version Independent ID: 6f9ab4ec-3b8a-e2d6-3546-8179f36a0999
* Content: [CREATE TA

[2020-01-07 11:08] tgilmour opened #3915 "Typo"
I think "transaction logon disk" be "transaction log on disk"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f91f89b-5196-0ea5-28fc-79cf59ab327e
* Version Independent ID: 0f4f2d0d-0913-8b47-15ab-7300dc2aa1a3
* Content: [Overview and Usage Scenarios - SQL Server](https://docs.microsoft.com/en-us/sql/relational-database

[2020-01-07 11:58] Jamal27 commented on #3846
No problem, thank you very much for answering my questions.

Regards.
Reginaldo Silva.

On Mon, Jan 6, 2020 at 5:20 PM Masha at MSFT <notifications@github.com>
wrote:

[2020-01-07 13:24] VanMSFT commented on #3909
Thanks for the feedback @tgilmour! I've made the change to the doc and it should go live today.

[2020-01-07 13:30] #3909 closed

[2020-01-07 14:45] JohnTrombone opened #3916 "Not clear enough"
I still don't know, after reading this page, what "read-scale" means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d2fdfcd-bb40-75ae-21ba-f9019f816d5a
* Version Independent ID: cfecc4e2-f246-809e-6445-d96eb753e101
* Content: [Use read-scale with availability groups - SQL Server Always On](https://docs.microsoft.com/

[2020-01-07 15:09] rothja commented on #2414
@SeanFeldman @simonpinn @watfordgnf I reproduced the problems described here. When the data directory is mapped to, you can successfully map to a volume on your Windows machine. But the entire mssql directory results in a crashed container. However, it is possible to follow the tutorial when you use a data volume (named and not mapped to a local path). I know that is not what is wanted here and no

[2020-01-07 15:58] #2414 closed

[2020-01-07 15:59] VanMSFT commented on #3903
Hi @TomGroszko! We appreciate your question. Unfortunately, this forum is only for documentation issues, and not for product feature or related product questions. Please utilize the feedback for the product at the bottom of the page to submit your concerns.

![image](https://user-images.githubusercontent.com/40007119/71908814-8b5d8600-3123-11ea-8a7b-baa54b9e96a4.png)

Thanks!

[2020-01-07 15:59] #3903 closed

[2020-01-07 16:57] MashaMSFT commented on #3916
Hi @JohnTrombone , thanks for contacting Microsoft and bringing this to our attention! Let me see what we can do about adding more clarity to this doc.

Thanks!
Masha from the SQL Docs team

[2020-01-07 17:25] MightyPen commented on #2991
@breyed Thanks for the suggestion, about tagging with a Label instead of Closing.
The situation is more complicated than I can explain in here, but a reconsideration of our process is getting some attention.

[2020-01-07 17:30] MashaMSFT commented on #3916
Hi @JohnTrombone , I've added a sentence to add clarity to the definition:

![image](https://user-images.githubusercontent.com/32783170/71915274-3ffda480-3130-11ea-94e7-34c5452460b2.png)

This change will be live later today. I will close out this Git Issue in the meantime, but please feel free to comment should you need anything further.

Thanks for helping improve our documentation! Hope you hav

[2020-01-07 17:30] #3916 closed

[2020-01-07 18:28] WilliamAntonRohm commented on #3390
@VanMSFT, @vin-yu -- Van, Vin, please look into this issue and [PR 12703](https://github.com/MicrosoftDocs/sql-docs-pr/pull/12703).

[2020-01-07 18:35] WilliamAntonRohm commented on #3893
@qwertoyo -- thank you for the clarification.

@VanMSFT -- please look into this issue 3893.

[2020-01-07 18:44] SeanFeldman commented on #2414
Could you please provide a link to track that work?

[2020-01-07 19:26] VanMSFT commented on #3893
Hi @qwertoyo - Alpine Linux with SQL Server tools is not documented. Please submit your product questions here: https://feedback.azure.com/forums/908035-sql-server/

Thanks!
#please-close

[2020-01-07 19:26] #3893 closed

[2020-01-07 19:27] Guy--L commented on #3906
With direct execution of sqlpackage.exe, we found that this version requires .NET 4.6.

Our server can only run .NET 4.5.2.  Which version of sqlpackage.exe should we install?

[2020-01-07 19:28] JohnTrombone commented on #3916
Not much better. How about: “In the context of an availability group, “read scale” refers to one or more replicas whose purpose is to offload data for read-only access, as opposed to failover purposes.”

Sent from my iPhone

[2020-01-07 19:29] jensf opened #3917 "shared keyboard shortcuts"
Using mouse with left hand & copy/paste with right.
I can change the keyboard shortcut:
[code]
TO
[code]
But I can't have both like the command **editor.action.clipboardCopyAction** has.

This is useful when my colleagues use ctrl+c.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fe030aa-7a71-2d02-c26f-103cfe4687a8
*

[2020-01-07 19:33] MashaMSFT commented on #3916
Hi @JohnTrombone, yeah that's great! Did you want to make the change yourself so you can be listed as a contributor to the article?

Here are the steps, if you're interested:

1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil" icon on the right
4. Modify the text within the text box in markdown format - more info: https://github.com/

[2020-01-07 20:12] CraigHead commented on #3390
I opened PR 3913 to address this.
#3913

[2020-01-07 21:08] CeciAc opened #3918 "Doubt"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/sql-docs.pt-br/issues/35

The comments below were machine-translated
@carlosrodrigues78 commented 8 days ago — with docs.microsoft.com
Really after instance installation, can't rename it? Servername only?
..

My question is about renaming a SQL instance after it has been created.
Does Microsoft not have a solution if I have an insta

[2020-01-07 21:45] MashaMSFT commented on #3918
Hi @carlosrodrigues78 yes, that is correct. Once a SQL Server instance has been created, you are unable to change the name of the instance. There is a stored procedure to update the metadata for the hostname if that changes after SQL has been installed, but not for the instance name itself.

If this behavior is causing you a business issue and/or you feel that it should behave differently, please

[2020-01-07 21:49] rothja commented on #2414
Thanks, @SeanFeldman. I have updated the articles, which should publish soon. On the reporting side, I've spoken with the PM who owns Linux containers, and he is actively researching the issue to see what the solution should be. I don't have a link to share for that work though, sorry.

[2020-01-07 22:02] carlosrodrigues78 commented on #3918
Hi Masha.

Ok, thanks so much for the answer.

Have a Happy 2020!

Em ter., 7 de jan. de 2020 às 18:45, Masha at MSFT <notifications@github.com>
escreveu:

--

Atenciosamente;

[image: TOTVS] [image: TOTVS]

*CARLOS RODRIGUES / CLOUD BANCO DE DADOS*TOTVS Matriz Sêneca
+55 (11) 4003-0015 <1140030015>
carlos.rodrigues@totvs.com.br

*SIMPLIFICANDO O MUNDO DOS NEGÓCIOS*[image:
https://brasilquefaz.tot

[2020-01-07 22:51] MashaMSFT commented on #3918
Hi @carlosrodrigues78, glad I could help! Thanks for contacting Microsoft :) And a happy 2020 to you as well!

I'm going to close out this Issue but please feel free to comment should you need anything further.

Hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2020-01-07 22:51] #3918 closed

[2020-01-08 10:21] ctasantos opened #3923 "BIT storage optimization question"
Hello,

I was reading the following page regarding BIT datatype: https://docs.microsoft.com/en-us/sql/t-sql/data-types/bit-transact-sql?view=sql-server-ver15

I believe the statement below (from the Remarks section) only applies to BIT columns that are NOT NULL.

Could you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-01-08 15:57] DavidWhit opened #3925 "Describe how text works within pivots"
As little as I do pivots and always having to look up syntax. I feel like there should be a basic text pivot example. I know it would save me and others time if it was also explained here. That is naturally you would think to use string items 'abc' when in fact you would do [abc] in the pivot IN clause and select.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-01-08 16:18] KalleOlaviNiemitalo commented on #3895
I would try `CONNECTION_OPTIONS = 'Driver={KB_SQL ODBC 64-bit driver}'` with the braces. However, `CONNECTION_OPTIONS` is documented only for `CREATE EXTERNAL DATA SOURCE` and not for `ALTER EXTERNAL DATA SOURCE`. I don't know whether that is an omission in the documentation or a limitation of the software.

[2020-01-08 17:03] LonnyNiederstadt opened #3926 "max workers for 64 processors"
The following appears in the first table above.
64 processors
32 bit: 736
64 bit: 1472

These formulas appear in the following table.
&gt; 4 processors and &lt; 64 processors
32 bit: 256 + ((logical CPU's - 4) * 8)
64 bit: 512 + ((logical CPU's - 4) * 16)

&gt; 64 processors
32 bit: 256 + ((logical CPU's - 4) * 32)
64 bit: 512 + ((logical CPU's - 4) * 32)

In order to account for the table of form

[2020-01-08 17:13] MashaMSFT commented on #3846
Hi @jamal27, thanks again for improving our documentation! This change is now live :) I will close out this Git Issue but please feel free to reach out should you need anything further from us.

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2020-01-08 17:13] #3846 closed

[2020-01-08 17:33] WilliamAntonRohm commented on #3663
@leung85 -- here's the English version link.  I believe if you replace "en-us" in this URL with a different culture, you should see that language's version to download.

- https://docs.microsoft.com/en-us/sql/ssms/release-notes-ssms?view=sql-server-ver15#download-ssms-182

Apologies for the delay in responding.

[2020-01-08 17:50] WilliamAntonRohm commented on #3764
@thedanfields -- Dan, please provide a link to the topic in question so I can find the appropriate author.

@renatoalmeidamartins -- thank you for your feedback.

[2020-01-08 17:56] WilliamAntonRohm commented on #3784
@VanMSFT -- Van, please look into this potential documentation issue 3784.

[2020-01-08 18:01] DavidWhit commented on #3925
My own fault I could have used Identifiers I split between [] and "" for identifiers SQL and Oracle.

[2020-01-08 18:01] #3925 closed

[2020-01-08 18:57] VanMSFT commented on #3784
@WilliamAntonRohm - What are the documentation issues?

[2020-01-08 19:45] WilliamAntonRohm commented on #3784
@HansSchulze -- Hans, have you been able to make progress with this issue?  Your concern appears to be with the product rather than the documentation, if the simplest examples are not being accepted.

cc @VanMSFT

[2020-01-08 19:49] WilliamAntonRohm commented on #3898
@gregveres -- thank you for your feedback.

@stevestein -- please look into this issue 3898.

[2020-01-08 19:54] HansSchulze commented on #3784
I haven't easily found useful info.  Hence my complaint.  I haven't solved the technical issues either, despite three week's worth of trial and error, googling, etc.

[2020-01-08 19:54] WilliamAntonRohm commented on #3902
@mwdarab -- Mohammad, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue 3902.

[2020-01-08 19:55] WilliamAntonRohm commented on #3905
@StingyJack -- thank you for your feedback.

[2020-01-08 19:58] WilliamAntonRohm commented on #3906
@Guy--L -- Guy, thank you for your feedback.  Please provide a link to the documentation in question.

You may find information regarding your question here:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-01-08 19:59] WilliamAntonRohm commented on #3908
@hunterxtreme -- thank you for your feedback.  Please provide a link to the documentation in question so we can investigate.  Meanwhile, you may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-01-08 20:00] #3911 closed

[2020-01-08 20:02] WilliamAntonRohm commented on #3914
@vijaysuram -- thank you for your feedback.

@julieMSFT -- please look into this issue 3914.

[2020-01-08 20:03] WilliamAntonRohm commented on #3915
@tgilmour -- thank you for your feedback.  I am looking into this document.

[2020-01-08 20:04] WilliamAntonRohm commented on #3923
@ctasantos -- Carlos, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue 3923.

[2020-01-08 20:06] WilliamAntonRohm commented on #3926
@LonnyNiederstadt -- Lonny, thank you for your keen eye.  I am looking into this document.

[2020-01-08 20:10] WilliamAntonRohm commented on #3917
@jensf -- Jens, thank you for your feedback.  Please clarify the nature of your question -- is this a documentation issue or a product issue?  Meanwhile, you may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-01-08 20:52] Guy--L commented on #3906
Thank you for your response.  I believe you need a new page with a comprehensive list of the versions, the path under which they install and the .NET versions required to run sqlpackage.exe.

Indeed, is the source of sqlpackage on github anywhere?  Perhaps I can determine some of the contents of the proposed SqlPackage Verions and Dependencies page.

[2020-01-08 20:52] #3905 closed

[2020-01-08 21:22] #3926 closed

[2020-01-08 21:26] bush3102 opened #3928 "Powershell Script"
Is there a way to run the data classification process in an automated fashion with Powershell?  So you can programmatically run the data classification process for multiple databases on multiple servers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34863695-cd07-1260-4fea-66738c5fa80a
* Version Independent ID: 4c0101

[2020-01-08 22:12] DannyMeister opened #3930 "xp_sprintf not available on Azure SQL"
This article claims that the docs for xp_sprintf applies to Azure SQL Database.  However, none of our Azure SQL Server's contain this system extended stored procedure in the master database, leading to errors when our application runs in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fdda028-1f5e-2f89-3d6e-f3db

[2020-01-08 22:18] CarlRabeler commented on #3930
Thanks Danny,
This is an error in the docs. Extended procedures should not be marked as supported.
Carl

From: DannyMeister <notifications@github.com>
Sent: Thursday, January 9, 2020 6:12 AM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/sql-docs] xp_sprintf not available on Azure

[2020-01-08 22:35] gregveres commented on #3898
The one thing I learned recently for azure data studio is that azure sql server doesn’t have all the same support as sql server. I wonder if that is why smss doesn’t have this option for my databases, they are azure sql servers.

[2020-01-09 00:51] CarlRabeler commented on #3930
doc updated - live later today

[2020-01-09 00:51] #3930 closed

[2020-01-09 00:51] hunterxtreme commented on #3908
Sorry I might have created this in the wrong place. My issue was with the rpm file itself, not the documentation. Please close this, thanks.

[2020-01-09 03:25] jaalsuca opened #3932 "Replication of serveral Schemas"
Hi Team

I am trying to set up transactional replication but my database has several schemas and schema has same name table, here the SQL Server finds an exception because it detects the table name already has been created and an error pop-up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0086945e-a60b-31ed-9445-160fe

[2020-01-09 04:14] julieMSFT commented on #3914
@XiaoyuMSFT Please advise on this issue.

[2020-01-09 08:53] Peled-Zohar opened #3933 "Will DateTime be declared as deprecated on newer versions of SQL Server?"
I'm basing my question on the note at the top of the page that starts with "Use the time, date, datetime2 and datetimeoffset data types for new work."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1774f2f4-950d-03af-fc87-f75099f31835
* Version Independent ID: 76893d14-e1ed-0d4a-6092-15d25628ce14
* Content: [datetime (

[2020-01-09 10:45] IanKemp opened #3934 "sys.database_principals doesn't exist on SQL Azure"
All of the given queries that use `sys.database_principals` fail in SQL Azure, because that object doesn't exist.

@@version = Microsoft SQL Azure (RTM) - 12.0.2000.8   Dec  4 2019 21:24:18   Copyright (C) 2019 Microsoft Corporation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bd57f24-f012-e3b1-1d20-089e7445c87e
* V

[2020-01-09 11:57] dudu-markovitz opened #3936 ""Be made without using a security context""
The explanation attempt does not add any information to the description.
It is unclear how the connection is made.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac4dbeb2-b244-27af-7cfe-4f441ca26d2e
* Version Independent ID: ee282927-e7df-a8d9-da5c-755d0bc41b0f
* Content: [Create Linked Servers - SQL Server](https://do

[2020-01-09 11:59] dudu-markovitz opened #3937 "Azure SQL MI"
There is not reference to Azure SQL MI limitations.
It turns out a Linked Server to Azure SQL MI supports only SQL authentication on the Azure SQL MI side.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac4dbeb2-b244-27af-7cfe-4f441ca26d2e
* Version Independent ID: ee282927-e7df-a8d9-da5c-755d0bc41b0f
* Content: [Creat

[2020-01-09 17:31] #3915 closed

[2020-01-09 18:48] samrueby opened #3938 ""columnstore table does not allow a primary key constraint" is false?"
This documentation states "By design, a columnstore table does not allow a primary key constraint."

This doesn't appear to be true. See this example:

CREATE TABLE t_account (
    AccountKey int NOT NULL PRIMARY KEY NONCLUSTERED,
    AccountDescription nvarchar (50),
    AccountType nvarchar(50),
    UnitSold int
);

CREATE CLUSTERED COLUMNSTORE INDEX t_account_cci ON t_account ;

This executed f

[2020-01-09 19:57] VanMSFT commented on #3934
Hi @IanKemp - Thanks for your feedback. That object does exist:

![image](https://user-images.githubusercontent.com/40007119/72100256-2480ce00-32d7-11ea-9f81-fc85fa6735ff.png)

Since this is not a documentation issue, I will go ahead and close this request. If there are any concerns, please let us know. Thanks again!

[2020-01-09 19:57] #3934 closed

[2020-01-09 22:14] jensf commented on #3917
It's not a document issue (unless it's an undocumented feature).

Here's a screen shots to help:
![image](https://user-images.githubusercontent.com/1754057/72109259-8c4d0e00-3303-11ea-9a0e-95390903678d.png)

[2020-01-09 22:33] WilliamAntonRohm commented on #3928
@bush3102 -- thank you for your questions.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

Also, you're welcome to add this as a suggested feature:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me

[2020-01-09 22:33] #3928 closed

[2020-01-09 22:36] WilliamAntonRohm commented on #3933
@Peled-Zohar -- Zohar, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue 3933.

[2020-01-09 22:42] WilliamAntonRohm commented on #3936
@dudu-markovitz -- דודו, thank you for your feedback.  You may find some information here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@stevestein -- Steve, please look into this issue 3936.

[2020-01-09 22:43] WilliamAntonRohm commented on #3938
@samrueby -- Sam, thank you for your feedback and your researches.

@MikeRayMSFT -- please look into this issue 3938.

[2020-01-09 22:46] WilliamAntonRohm commented on #3937
@dudu-markovitz -- דודו, thank you for your feedback and for that information.

@stevestein -- Steve, please look into this issue 3937.

[2020-01-09 22:50] WilliamAntonRohm commented on #3932
@jaalsuca -- Jairo, thank you for your feedback.  You are welcome to note this behavior here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

@MashaMSFT -- Masha, please look into clarifying the documentation on this point.

[2020-01-10 02:31] julieMSFT commented on #3008
@Willem-J-an @shikharbsar Thank you for your question.  Azure Synapse Analytics (SQL DW) does not currently support escaping, including for wildcard characters. We will be updating the article to reflect this. You can request this feature enhancement at https://feedback.azure.com/forums/307516-azure-synapse-analytics.

[2020-01-10 02:53] MashaMSFT commented on #3932
Hi @jaalsuca , thanks for bringing this to our attention! Are you using the AdventureWorks database as the prerequisite states?

Thanks!
Masha from the SQL Docs team

[2020-01-10 05:39] msebolt commented on #3834
Closing the issue now, please comment below if there are any questions.

[2020-01-10 05:39] #3834 closed

[2020-01-10 14:34] JohannWeskandt opened #3939 "Are "extended properties" supported for in-memory OLTP objects?"
It looks like extended properties are not supported for in-memory OLTP objects.
e.g. SQL Management Studio shows the section "extended properties" in the property dialogue for a column in an OLTP table. But once I try to add an extended property (calling "sp_addextendedproperty" under the hood) SQL error 12320 "Operations that require a change to the schema version, for example renaming, are not s

[2020-01-10 15:06] Ken-DBA opened #3941 "Missing Error: 978, Severity: 14, State: 1."
My ErrorLog file contains the following:
&gt; Error: 978, Severity: 14, State: 1.
This error is missing from this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5973cd79-d024-6670-8b9f-d02d9824e8ec
* Version Independent ID: 9c7e4cd4-9bd7-16ad-83c0-9c114e5eec46
* Content: [Database engine events and errors - SQL S

[2020-01-10 15:09] Ken-DBA opened #3942 "Missing Error: 976, Severity: 14, State: 1."
My ErrorLog contains the following:
&gt; Error: 976, Severity: 14, State: 1.
This error is missing from the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5973cd79-d024-6670-8b9f-d02d9824e8ec
* Version Independent ID: 9c7e4cd4-9bd7-16ad-83c0-9c114e5eec46
* Content: [Database engine events and errors - SQL Server]

[2020-01-10 15:22] Dean-NC commented on #3882
@briannipper Installing a program in Safe Mode will not normally work, because in addition to drivers not loading, Windows also scales back some things needed for installs. However it can be done, and the trick has worked as far back as Win 7. See here for details: https://www.infopackets.com/news/10513/how-fix-install-software-safe-mode-windows-10
At least it would rule out a driver conflict. The

[2020-01-10 15:38] Dean-NC commented on #3882
Using the trick to install in Safe Mode is hit or miss, and doesn't work for some programs. I would 1st try booting without an Intel/NVidia/AMD display driver. If the link I posted about that doesn't work, I would:
1. Stop, and disable Windows Update service.
2. Uninstall Intel/NVidia/AMD display drivers.
3. Reboot, and in Device Manager make sure ALL video cards/display adapters are listed as "Ba

[2020-01-10 15:49] Dean-NC commented on #3882
@briannipper If you have a program called "Duet Display" installed, there have been cases where BSOD's happened related to ddkmd.sys, and you can remove that program.

[2020-01-10 18:21] WilliamAntonRohm commented on #3939
@JohannWeskandt -- Johann, thank you for your question and your researches.

@MightyPen -- Gene, please look into this issue #3939.

[2020-01-10 18:23] WilliamAntonRohm commented on #3941
@Ken-DBA -- thank you for bringing this lacuna to our attention.

@MashaMSFT -- please look into this issue 3941.

[2020-01-10 18:24] WilliamAntonRohm commented on #3942
@Ken-DBA -- thank you for bringing this lacuna to our attention.

@MashaMSFT -- please look into this issue 3942.

[2020-01-10 19:00] julieMSFT commented on #3914
@vijaysuram Hello, thank you for your question. For guidance on choosing the type of table to use, follow the link in the article to [Indexing tables in Azure SQL Data Warehouse](https://docs.microsoft.com/azure/sql-data-warehouse/sql-data-warehouse-tables-index.). This link explains the different considerations when choosing a table type. I am now closing this issue. The @ mechanism continues to

[2020-01-10 19:00] julieMSFT commented on #3914
#please-close

[2020-01-10 19:00] #3914 closed

[2020-01-10 19:52] WilliamAntonRohm commented on #3784
@HansSchulze -- please look at [this page](https://docs.microsoft.com/en-us/sql/t-sql/queries/select-into-clause-transact-sql?view=sql-server-ver15) and let me know if it helps with your situation.  This repo is only for documentation issues, with limited product support options.  Please see the following:
- [All the ways to get help](https://docs.microsoft.com/sql/sql-server/sql-server-get-help)

[2020-01-10 22:45] kalendelaney opened #3944 "Feature name"
In the list of features, I believe there is no feature call Data Tuning Advisor.  "Tuning Data" doesn't even mean anything.  DTA is either Database Tuning Advisor or Database Engine Tuning Advisor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbe4ef3a-6282-5c51-5810-c6d63f3a0e1b
* Version Independent ID: 6d655e24-fc8

[2020-01-10 22:59] julieMSFT commented on #3008
@Willem-J-an @shikharbsar The document has been updated to show that ESCAPE and STRING_ESCAPE are not supported in Azure SQL Data Warehouse or Parallel Data Warehouse. I will go ahead and close this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-01-10 23:00] julieMSFT commented on #3008
#please-close

[2020-01-10 23:00] #3008 closed

[2020-01-10 23:01] julieMSFT commented on #3008
#please-close

[2020-01-10 23:06] kalendelaney opened #3945 "Notebooks"
Notebooks are mentioned twice on this page. Once as a Query Editor feature and again as a Data Engineering feature. In the Data Engineering section, they are listed as in Preview. So are these two different kinds of Notebooks? Some clarification would be useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbe4ef3a-6

[2020-01-10 23:29] HansSchulze commented on #3784
This is much better, but a bit intense.
Can we connect these pages?  Documentation of a function should always have or point to examples.
Thank you very much.

[2020-01-10 23:46] HansSchulze commented on #3784
WAR:
The page you refered to has no complete pasteable try-it, modify it kind of examples.
There are no FROM statements anywhere.
The full examples I have found (see OP) don't work.
I continue my search on Google.

[2020-01-11 19:11] OskarWielanowski opened #3946 "Incorrect syntax: I. Using OUTPUT INTO with identity and computed columns"
I found an error in query - declaration of table variable  @MyTableVar doesn't match to INTO @MyTableVar
part.  I suppose it declaration should be like this:
 DECLARE @MyTableVar table(
  EmployeeID   int IDENTITY (1,5) NOT NULL,
  LastName     nvarchar(20) NOT NULL,
  FirstName    nvarchar(20) NOT NULL,
  CurrentSales money NOT NULL,
  ProjectedSales AS CurrentSales * 1.10
  );
or insert should b

[2020-01-13 12:37] iarovyi commented on #1828
Got the same error:
[code]

and than run container and execute following:
[code]

[2020-01-13 14:24] cdotzenrod commented on #3812
Any updates on this issue.  I was hoping to demo the Spark capability to my accounts but at this time am blocked.

[2020-01-13 16:56] labilbe opened #3948 "Error on https://docs.microsoft.com/en-us/sql/t-sql/statements/disable-trigger-transact-sql?view=sql-server-ver15#a-disabling-a-dml-trigger-on-a-table"
"The following example disables trigger uAddress that was created on table Address." should be "The following example disables trigger uAddress that was created on table Person"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 534dc20d-9c5a-0474-138a-84e3d5496b55
* Version Independent ID: cf9c2f45-051a-2601-c6bf-ed80e74c

[2020-01-13 17:14] markingmyname commented on #3945
@kalendelaney,

Thank you for bringing this to our attention.

I will look into this and let you know.

[2020-01-13 17:23] markingmyname commented on #3944
@kalendelaney,

Thank you for bringing this to our attention.

I will look into this and let you know.

[2020-01-13 18:52] grchristin opened #3949 "Error line"
How is the errorline number determined? The sample result lists 6 and I cannot figure out where it gets that number.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76fe2072-7b1f-c650-b519-f76808d5c070
* Version Independent ID: a3363342-9f9d-a2d9-7553-0d3a07712336
* Content: [ERROR_PROCEDURE (Transact-SQL) - SQL Server]

[2020-01-13 21:04] CarlRabeler commented on #3948
@labilbe Thanks -please click the Edit button in the upper right and submit this as a requested change.- if you do not, I can add this to my queue and get to it as soon as I can

[2020-01-13 21:46] jaalsuca commented on #3932
Good day MashaMSFT

Thanks for your feedback, I am always happy to help. No, I am not using the AdventureWorks database in my case, I am testing with SCOM database on a test environment, indeed the concept of replication works well, but multiple exceptions with tables with the same name but different schema. As soon as I can; will document this on my website.

Regards;
Jairo Suarez
Data Management

[2020-01-13 21:49] WilliamAntonRohm commented on #3946
@OskarWielanowski -- Oskar, thank you for your feedback and your suggested correction.

@VanMSFT -- Van, please look into this issue 3946.

[2020-01-14 00:31] WilliamAntonRohm commented on #3949
@grchristin -- thank you for your feedback.  There is a previous issue with this same topic: #3880.  I am closing this current issue (3949) and will add another note to #3880.  You are welcome to @ mention me for any followup.

[2020-01-14 00:31] #3949 closed

[2020-01-14 00:40] WilliamAntonRohm commented on #3880
@MikeRayMSFT -- Mike, please look into this issue 3880.  There is some confusion here with the line counting in these examples.  That is, [Example A](https://docs.microsoft.com/en-us/sql/t-sql/functions/error-line-transact-sql?view=sql-server-ver15#a-using-error_line-in-a-catch-block) indicates the error is on line 4, where it would seem to be line 3 (counting comment lines) or line 2 (not countin

[2020-01-14 00:42] MashaMSFT commented on #3932
Hi @jaalsuca , ahh, okay I see. Thanks for the additional context! Unfortunately, since the issue is not occurring with the database used in the tutorial, this type of question would be considered outside the scope of this forum - which focuses specifically on documentation.

To get further assistance with your issue, we'd recommend engaging the community, or opening a ticket with Microsoft Suppor

[2020-01-14 00:42] #3932 closed

[2020-01-14 03:00] jaalsuca commented on #3932
Hi Masha
Will be fine. Thanks so much for your time and dedication.

Regards;

Jairo Suarez

[2020-01-14 03:35] briannipper commented on #3882
Thank you for this suggestion... I did have Duet Display installed. So I uninstalled; however, it still BSOD after attempting to install SSMS... so I'll try some of the other suggestions.

[2020-01-14 03:37] julieMSFT commented on #3618
@gani746 Hello and thank you for your question. I have checked with the product team for Plan Guides. They are telling me that the example you describe should work. To get further help on this please submit a support ticket at https://support.microsoft.com/en-us/supportforbusiness/productselection, so that your issue can be reproduced. I will proceed with closing this issue. The @notification mech

[2020-01-14 03:38] julieMSFT commented on #3618
#please-close

[2020-01-14 03:38] #3618 closed

[2020-01-14 04:05] SurturZ opened #3952 "Is DBCC CHECKIDENT needed after using this?"
Do you need to perform a DBCC CHECKIDENT to set the seed after using this command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a803389f-08b7-7078-a104-707c612722b3
* Version Independent ID: 02f17dab-452a-7300-0bee-76b2a03e9517
* Content: [SET IDENTITY_INSERT (Transact-SQL) - SQL Server](https://docs.microsoft.com/en

[2020-01-14 05:17] CarlRabeler commented on #3952
If the value inserted is larger than the current identity value for the table, SQL Server automatically uses the new inserted value as the current identity value. Otherwise, the seed value does not change.

[2020-01-14 06:15] saumyasuhagiya opened #3953 "Alter role shows role does not exists"
alter role db_ddladmin add member sqlloginname gives Cannot alter the role 'db_ddladmin' because it does not exist or you do not have permission.

This statement I am executing in master db from Server admin login.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98d95c4e-dfbb-ec5a-7df9-8a8d33be5b83
* Version Independent

[2020-01-14 12:57] VanMSFT commented on #3953
Hi @saumyasuhagiya! Thanks for submitting this issue. Unfortunately, this forum is only for documentation issues, and meant for support of errors within the product. Please refer to the below links for various ways to get help. Thanks!

- [UserVoice: Have suggestions for improving SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Set up and upgrade: MSDN Forums](https://social.m

[2020-01-14 12:57] #3953 closed

[2020-01-14 13:28] VanMSFT commented on #3609
@ajs5710 - Thanks for reporting this failure in the script. We will look into this further.

[2020-01-14 13:48] VanMSFT commented on #3946
@OskarWielanowski - Thanks for informing us of this error, Oskar! We really appreciate it. I have fixed the sample, and it will go live later today. Thanks again!

[2020-01-14 13:53] #3946 closed

[2020-01-14 15:05] tgilmour opened #3954 "Typo in the "Title" meta tag"
The meta tag og:title is currently "Creat Server Audit & Server Audit Specification - SQL Server", and this appears in the browser tab name.
But think it should be "Create Server Audit & Server Audit Specification - SQL Server"
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 233cfefa-453a-5c85-a3f7-e1a6e9a31815
*

[2020-01-14 15:16] VanMSFT commented on #3954
@tgilmour - Thanks for catching this! We really appreciate it. I have edited the file, and it should go live later today.

[2020-01-14 15:26] #3954 closed

[2020-01-14 17:15] markingmyname commented on #3944
@kalendelaney

It should be a Database Engine Tuning Advisor.

Thank you for bringing this to our attention.

The update should be live by tomorrow.

[2020-01-14 17:15] markingmyname commented on #3944
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-01-14 17:15] #3944 closed

[2020-01-14 17:17] markingmyname commented on #3945
@kalendelaney

Thanks for bringing this to our attention.

The tables have been updated.

The changes should go live by tomorrow.

[2020-01-14 17:17] markingmyname commented on #3945
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-01-14 17:17] #3945 closed

[2020-01-14 20:49] kardianos opened #3955 "Lack of reference for creating CLR assemblies on non-windows platforms (is ".net core" not supported?)"
SQL Server on Linux supports loading .NET CLR assemblies. Also dotnet core also supports Linux for many CLR assemblies.

Would it be possible for this page to give the current state of writing CLR assemblies on non-windows platforms? If not possible, I would love for this to be explicitly stated.

As far as I can determine, compiling SQL Server CLR assemblies on non-windows platform is not support

[2020-01-15 00:02] allanford17 opened #3956 "SET ANSI_WARNINGS ON implicitly sets ARITHABORT to ON ... Checking what this means ?"
Dear Microsoft,

I don't understand what this sentence means :

"Setting ANSI_WARNINGS to ON implicitly sets ARITHABORT to ON when the database compatibility level is set to 90 or higher. If the database compatibility level is set to 80 or earlier, the ARITHABORT option must be explicitly set to ON."

Does this mean (?) the following:

So even if the ARITHABORT setting value is OFF and displaying

[2020-01-15 00:27] WilliamAntonRohm commented on #3812
@MikeRayMSFT, @rajmera3, @shivsood -- please look into this potential documentation issue.

[2020-01-15 00:39] cdotzenrod commented on #3812
I followed the workshop doc word for word and got jammed when I tried the spark material. Everything prior worked like a charm.

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: William Anton Rohm <notifications@github.com>
Sent: Tuesday, January 14, 2020 7:27:29 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.git

[2020-01-15 01:10] SurturZ commented on #3952
Thanks, that clears things up!

[2020-01-15 01:17] #3952 closed

[2020-01-15 01:19] WilliamAntonRohm commented on #3955
@kardianos -- Daniel, thank you for your feedback.

@rothja -- Jason, please look into this issue 3955.

[2020-01-15 01:32] #3908 closed

[2020-01-15 02:04] mrdenny opened #3957 "Example A is missing a single quote after the password"
Hense all the red text

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e450abc6-2dbd-8f6c-423c-52aca37a2b06
* Version Independent ID: 4aff678a-6db1-a438-9aca-bb4b4d49bc27
* Content: [CREATE EXTERNAL DATA SOURCE (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-data-source

[2020-01-15 02:05] mrdenny opened #3958 "BCP Examples and Syntax needs to be shown"
There needs to be an update with the information for BDC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7ac2fe2-31da-7db6-2d5f-5091022f41d2
* Version Independent ID: bbf07c2c-7006-7b94-f12f-800fa7bc67e4
* Content: [CREATE EXTERNAL TABLE (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/statement

[2020-01-15 04:49] mwc360 opened #3959 "Synapse - Insert Into Multiple Values"
Does Synapse not support regular Table Value Constructor syntax to Insert multiple rows in one transaction?

I.e. INSERT INTO VALUES (1), (2), (n)

I get syntax errors unless I only insert one record at a time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ee2212c-0554-137e-323a-3e1fdf963791
* Version Independent ID:

[2020-01-15 04:59] av1nash opened #3960 "No information on how to enable sql agent"
There is no information in the documentation on how to enable sql agent. When using image: mcr.microsoft.com/mssql/server:2017-latest along with environment variable MSSQL_AGENT_ENABLED = true, server still starts with agent disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04922c04-a2da-186c-5946-1cc4d9a7447b
*

[2020-01-15 07:06] kazshi commented on #3875
I learned it's a known bug in sp_spaceused (looks like it's not documented anywhere).

[2020-01-15 09:32] CarlRabeler commented on #3958
@mrdenny - can you provide some more assistance here? is this about a big data clusters?
@MikeRayMSFT Mike - if this is Big Data Clusters, adding you here to assist

[2020-01-15 09:33] CarlRabeler commented on #3957
@mrdenny - there is a little button called edit in the upper right so you can submit this change directly. That said, I will add this to my queue if you do not get to it before I do.
Thanks, Carl

[2020-01-15 09:36] CarlRabeler commented on #3956
@allanford17 good question. I would have to test. I will put this in my work queue. If you get a chance to test before I do, please let me know the results of your testing.
Thanks, Carl

[2020-01-15 10:19] suxstellino opened #3961 "Where to put my article on showing reporting services usage stats with Grafana?"
I'm trying to figure out where to put (propose) my article on showing reporting services usage stats with Grafana. I'm working on this path right now in order to make the PR:
![image](https://user-images.githubusercontent.com/2568107/72425707-99954d00-3788-11ea-9445-74084043d47f.png)
Should I create a folder under the `reporting-services` one or it is better to use one that already exists? Regardl

[2020-01-15 10:34] andowero opened #3962 "Text from previsous tab is visible when changing tabs"
When I change tabs, text doesn't change until I use scrollbar or resize window. This is especially frustrating when creating new tab (Ctrl+N), since it doesn't have scrollbar to move. Version 17.1 does this ocassionally. Version 18.4 does this always. I'm running Windows 10 build 17763.

[2020-01-15 11:28] mfsalomons commented on #3831
When importing panda you must us it as such:
import panda as <name>
see: https://stackoverflow.com/questions/35697404/why-its-a-convention-to-import-pandas-as-pd

[2020-01-15 15:15] dfuente opened #3963 "Create a New msdb Database"
It is necessary to 8. Re-apply any service packs or hotfix installed on the instance after creating a new MSDB?
Isn't that only necessary when re-creating the resource database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39e93d44-8942-2548-190e-616285b554c6
* Version Independent ID: 4a1e67f5-097c-f4c9-544f-fd75ce0c

[2020-01-15 17:02] WilliamAntonRohm commented on #3875
@kazshi -- Kazuto, thank you for your researches.

@stevestein -- Steve, please look into adding this information.

[2020-01-15 17:25] mrdenny commented on #3958
Yeah, this is about BDC.  If I knew all the various syntaxes I'd update it. :)

[2020-01-15 17:46] OLEWebAffairs opened #3965 "Wrong headline?"
Must the word "nonclustered" in the headline [here](https://docs.microsoft.com/en-us/sql/relational-databases/tables/create-primary-keys?view=sql-server-ver15#to-create-a-primary-key-with-nonclustered-index-in-a-new-table) not be "clustered "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e15a126f-ac3f-59aa-0b73-823e0f

[2020-01-15 19:14] stevestein commented on #3694
#please-close

[2020-01-15 19:14] #3694 closed

[2020-01-15 19:34] WilliamAntonRohm commented on #3917
@jensf -- Jens, thank you for clarifying.  You may want to file a product issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

@markingmyname -- Mark, please look into a possible clarification in the article.

[2020-01-15 19:41] WilliamAntonRohm commented on #3906
@Guy--L -- please share a page URL in the general vicinity of the information you'd like to have added.

@pensivebrian -- can you shed some light on the location of sqlpackage?

[2020-01-15 19:48] WilliamAntonRohm commented on #3962
@andowero -- thank you for your feedback.  You may want to log it here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

This repo is only for documentation issues, not product issues, and so I am closing this now.  You are welcome to @ mention me for any followup.

[2020-01-15 19:48] #3962 closed

[2020-01-15 19:51] WilliamAntonRohm commented on #3959
@mwc360 -- thank you for your question.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@CarlRabeler -- please look into this possible documentation issue 3959.

[2020-01-15 19:52] WilliamAntonRohm commented on #3960
@av1nash -- Avinash, thank you for your feedback.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@MikeRayMSFT -- Mike, please look into this potential documentation issue 3960.

[2020-01-15 19:56] WilliamAntonRohm commented on #3961
@suxstellino -- Alessandro, thank you for your proposed article.  Please provide some more context regarding the article's place in the docs.microsoft.com collection, so I can find an author or expert to help answer your questions.

[2020-01-15 19:58] WilliamAntonRohm commented on #3963
@dfuente -- David, that is a good question.

@stevestein -- Steve, please look into this issue 3963.

[2020-01-15 19:59] WilliamAntonRohm commented on #3965
@OLEWebAffairs -- thank you for catching that.  I am updating the document.

[2020-01-15 21:12] rothja commented on #3955
@kardianos Thanks for the detailed and clear question. I don't have an immediate answer, but I'll investigate further. Right now in the [release notes for linux](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-editions-and-components-2019?view=sql-server-ver15#Unsupported), the only unsupported thing we say with respect to CLR is "CLR assemblies with the EXTERNAL_ACCESS or UNSAFE permi

[2020-01-15 21:48] rajmera3 commented on #3812
@cdotzenrod Can you further explain your process and what you have done so far? I'm not sure why the Spark session is being invoked if you're still in the process of executing SQL

[2020-01-15 23:36] harlananelson opened #3967 "Harlan A Nelson"
If you put a high pass filter on the audio for the "Introduction to Azure Data Studio Notebooks" video, it will remove the all the low frequency hum currently in the audio.  You can set the filter to about 120 Hz.  Either that or use a sound treated room when recording the video.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-16 03:01] allanford17 commented on #3956
@CarlRabeler ... I find that if I use command SET ANSI_WARNINGS ON before running above Example script in this article then the examples under the SET ARITHABORT OFF;  command act as if SET ARITHABORT ON was still in effect.
I find that if I use command SET ANSI_WARNINGS OFF before running above Example script then the SET ARITHABORT ON statement has an effect on results.

*** SET ANSI_WARNINGS ON

[2020-01-16 06:08] suxstellino commented on #3961
The article will describe how to display in a dashboard (instead of just using SSMS) the usage stats of reports based on queries over the ReportServer database. The dashboard is useful when you would like to understand whether or not keep any report. Many of them could be overlapped, duplicated or even used only one time. The dashboard is made with Grafana via SQL Server connector.

I was wonderin

[2020-01-16 07:11] ferronsw opened #3968 "Docs for Entity Framework Core"
If I'm correct Always Encrypted should be supported in EF Core 3.*
I can't find any docs for how to configure this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf954767-86be-8831-d974-7a3ed7e738f2
* Version Independent ID: 1872e0ad-c841-7cea-0405-0975e9fba946
* Content: [Always Encrypted with .NET Framework Data Pro

[2020-01-16 07:56] av1nash commented on #3960
Hi @WilliamAntonRohm  Thanks for your reply and quick turnaround. While looking for answers, i found this thread (https://github.com/microsoft/mssql-docker/issues/503) which has some workarounds (haven't tried them yet). Last update there from Microsoft seems to be that the issue has been acknowledged and a solution is being worked upon.

[2020-01-16 12:32] nickstocker opened #3969 "The step 3 is failing with "Exclusive access could not be obtained because the database is in use""
The action was carried out through SSMS selecting "Transaction Log" and also selecting "backup the tail of the log" under Media Options which should leave the database in "restoring mode".
After the failure I attempted to put the database into single user mode first and also take it offline but both commands didn't work either.
I have repeated the action against a test database and that worked wit

[2020-01-16 12:36] nickstocker commented on #3762
That is right, the file is physically moved but the config looks at the old location still. I will check the link but the same procedure has been carried out fine for other master log files.

[2020-01-16 20:15] msebolt commented on #3967
@harlananelson Thank you for the feedback and for providing a solution.

Please note this is considered low priority if the sample still functions accordingly, but I will assign the author to make note of the enhancement.

[2020-01-16 20:58] gojanpaolo opened #3975 "Is there a way to enable INCLUDE_NULL_VALUES by default?"
Hello, Is there a way to enable INCLUDE_NULL_VALUES by default? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01011139-7618-e836-4018-f9b01dd23c51
* Version Independent ID: 236c3e9f-0ee1-50df-9a03-477f87dd0c0c
* Content: [Include Null Values in JSON - INCLUDE_NULL_VALUES Option - SQL Server](https://docs.micro

[2020-01-16 22:04] huyanh1511 opened #3976 "Package installation failed"
Hi. I am using Spyder to run the script to add the package to my Sql Server (2017) and getting this following error:

Incorrect syntax near 'Python'. Traceback (most recent call last):

File "", line 1, in runfile('C:/Users/.../Desktop/abc.py', wdir='C:/Users/.../Desktop')

File "C:\ProgramData\Anaconda3\lib\site-packages\spyder\utils\site\sitecustomize.py", line 705, in runfile execfile(filename,

[2020-01-16 22:41] msebolt commented on #3968
@ferronsw Thank you for the feedback, assigning this to the author for further review.

[2020-01-16 22:43] WilliamAntonRohm commented on #3969
@nickstocker -- thank you for your feedback and research.

@MashaMSFT -- please look into this issue 3969.

[2020-01-16 22:56] taroarai opened #3977 "Need more information about where the dump will be created"
Since it is possible to change original log folder location with SQL Server configuration manager, SQL CPE should explain "ErrorDumpDir" value to change the dump path.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6bc0b89-f177-7553-10cc-c39a47215951
* Version Independent ID: 2290089d-e56b-fdc7-ebc6-8988e5cc6392
* Con

[2020-01-16 23:01] taroarai commented on #3977
I find that the path was synchronized with dump directory in SQL Server configuration manager.

[2020-01-16 23:01] #3977 closed

[2020-01-17 00:41] CarlRabeler commented on #3958
Denny,
Are you saying that BCP is working differently with BDC?

This is what I have from the product team to date:

There is no difference in terms of using BCP against SQL Server Master instance. The bootstrap script uses bcp to extract data from files. If you are trying to ingest data from say the master pod then steps are bit different in terms of copying the files into the pod.

[2020-01-17 00:44] mrdenny commented on #3958
I might have clicked the wrong place. It should be on the CREATE EXTERNAL TABLE page, not the BCP page.

Thank You,
Denny Cherry
Owner & Principal Consultant
Denny Cherry & Associates Consulting, an Inc. 5000 company
denny@dcac.com<mailto:denny@dcac.com>
(o) +1 (323) 686-1478<tel:3236861478> | (d) +1 (213) 973-3669<tel:2139733669>
Online Calendar Bookings<https://calendly.com/mrdenny>
[cid:image00

[2020-01-17 00:51] #3958 closed

[2020-01-17 02:15] #3965 closed

[2020-01-17 04:00] techiebrijesh opened #3978 "While installing packages-microsoft-com-mssql-server-2017 got error during configuration"
[root@ptp2 yum.repos.d]# /opt/mssql/bin/mssql-conf setup
Choose an edition of SQL Server:
  1) Evaluation (free, no production use rights, 180-day limit)
  2) Developer (free, no production use rights)
  3) Express (free)
  4) Web (PAID)
  5) Standard (PAID)
  6) Enterprise (PAID)
  7) Enterprise Core (PAID)
  8) I bought a license through a retail sales channel and have a product key to

[2020-01-17 05:59] dcbrown16 opened #3979 "Support for SQL DWH"
Per the much more recent document below, SQL DWH supports unique constraints when NOT ENFORCED is used.
https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-table-constraints

Should the doc I am reporting this on be updated to indicate SQL DWH support? I'm not sure if you have an icon to indicate partial support in the "APPLIES TO:" bar.

---
#### Document Details

⚠ *Do n

[2020-01-17 07:05] simonzhaoms opened #3980 "The link to "Import and Export Bulk Data by Using the bcp Utility" is incorrect"
In [Import and export data from SQL Server and Azure SQL Database](https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/relational-databases/import-export/overview-import-export.md), the link to "Import and Export Bulk Data by Using the bcp Utility" is incorrect.

[2020-01-17 07:39] kazshi commented on #3875
@WilliamAntonRohm  Thank you for reopening the issue.

@stevestein It would be great if you could add the info since I couldn't find it in any documents.

[2020-01-17 15:02] Duncan-Howe opened #3981 "Missing information on page "Granting permissions on a native mode report server""
In the file
[docs/reporting-services/security/granting-permissions-on-a-native-mode-report-server.md](https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/reporting-services/security/granting-permissions-on-a-native-mode-report-server.md) under the heading "Who sets permissions", second paragraph, there is some information missing about the roles that a local administrator is assigned to

[2020-01-17 18:31] Typhoon87 opened #3982 "Missing state"
Running SQl 2016 13.0.5492.2 I am hitting this error with state 58, state 58 does not appear to exist in this document. Please update it to include additional currently undocumented states.

Error :18456, Severity 14, State 58

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a18d7d-9f42-c2b4-5338-dcf093d807de
* Version

[2020-01-17 19:11] #3878 closed

[2020-01-17 19:16] ColinPM opened #3983 "Missing word in sentence in binary style section"
If the style is set to 1, the must have 0x as the first two characters.

Should be

If the style is set to 1, the (value | expression) must have 0x as the first two characters.  (or whatever other word you prefer to use)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f56efc1-e90f-68dd-cb02-2f2ba21373fd
* Version Indep

[2020-01-17 20:29] #3957 closed

[2020-01-17 20:31] WilliamAntonRohm commented on #3957
@mrdenny -- thank you for bringing this to our attention.  I have updated the documentation and it should be live by tomorrow.

@CarlRabeler -- thank you for your offer; this one is off your plate.

[2020-01-17 22:04] WilliamAntonRohm commented on #3975
@gojanpaolo -- Jan, thank you for your question.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@jovanpop-msft -- Jovan, please look into this potential documentation issue 3975.

cc @MightyPen as a writer

[2020-01-17 22:57] MightyPen commented on #3975
@gojanpaolo Hello, I am somewhat confident the answer is - _"No, you cannot configure INCLUDE_NULL_VALUES as the default."_

But I will give @jovanpop-msft a few days to reply (confirm my answer, or give a better answer), before we close this Issue #3975.

cc: @WilliamAntonRohm

[2020-01-18 00:14] WilliamAntonRohm commented on #3976
@huyanh1511 -- Anh, thank you for your feedback.  You may find some help here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@garyericson -- Gary, please look into this issue 3976.

cc @MightyPen as a writer

[2020-01-18 00:16] WilliamAntonRohm commented on #3978
@techiebrijesh -- thank you for your feedback; we appreciate it. To make sure we have all the information needed to triage your issue, please let us know which topic you’re referencing, or provide more context around your general task.

[2020-01-18 00:19] WilliamAntonRohm commented on #3979
@dcbrown16 -- Dillon, thank you for your feedback.

@stevestein -- Steve, please look into this issue #3979.

[2020-01-18 00:26] WilliamAntonRohm commented on #3981
@Duncan-Howe -- thank you for letting us know about this missing information.

@maggiesMSFT -- please look into this issue #3981.

cc @MightyPen as a writer

[2020-01-18 00:28] WilliamAntonRohm commented on #3982
@Typhoon87 -- thank you for your feedback.

@MashaMSFT -- please look into this issue #3982.

[2020-01-18 04:21] techiebrijesh commented on #3978
@WilliamAntonRohm  -- Hi William, How are you?
I'm trying to install MSSQL on Redhat Linux 7
[root@ptp1 ~]# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.7 (Maipo)
[root@ptp1 ~]# uname -rm
3.8.13-35.3.1.el7uek.x86_64 x86_64

I'm following below link to perform this activity:
https://docs.microsoft.com/en-us/sql/linux/quickstart-install-connect-red-hat?view=sql-server-ver15

Get

[2020-01-18 11:40] EricVanAken opened #3985 "No Alerts in Agent tree in Azure SQL MI"
I dont have an Alerts folder in my Agent tree in my SQL MI server.

Where can i configure alerts in Azure SQL MI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4236b8ac-19b3-3eda-ea6d-0918d0acdf09
* Version Independent ID: 0b9bbe7a-ae79-04c6-c26f-64349c37e575
* Content: [Configure predefined Replication alerts (SSMS)

[2020-01-18 22:19] briannipper commented on #3882
### THIS WORKED!!!!
Thank you so much for this suggestion. I did as the steps outlined and was able to intsall SSMS 18.4 without any issue.

I hope others are able to find this beneficial.

[2020-01-18 22:19] #3882 closed

[2020-01-19 19:57] srutzky opened #3989 "Is `sp_changedbowner` deprecated or not?"
Hi there. Is this Security Stored Procedure deprecated or not? There is a deprecation notice at the top of this page, yet it is not noted as being deprecated on the main [Security Stored Procedures](https://docs.microsoft.com/en-us/SQL/relational-databases/system-stored-procedures/security-stored-procedures-transact-sql) page. I checked most of the other links on that page and they were mostly con

[2020-01-19 20:09] srutzky opened #3990 "Is `sp_change_users_login` deprecated?"
Hi there. Is this Security Stored Procedure deprecated or not? There is a partial deprecation notice at the top of this page (most of the top paragraph, but not the full, "Important" note in light blue that is on most/all other deprecated pages), yet it is _not_ noted as being deprecated on the main [Security Stored Procedures](https://docs.microsoft.com/en-us/SQL/relational-databases/system-store

[2020-01-19 20:26] srutzky opened #3991 "Should `sp_changedbowner` be replaced with `ALTER AUTHORIZATION`?"
In the [Remarks](https://docs.microsoft.com/en-us/SQL/t-sql/statements/create-database-transact-sql#remarks) section above, it states:

While the jury is still out on [whether or not `sp_changedbowner` is deprecated (&#35;3989)](https://github.com/MicrosoftDocs/sql-docs/issues/3989), at the very least it was superseded by [ALTER AUTHORIZATION](https://docs.microsoft.com/en-us/SQL/t-sql/statements/

[2020-01-19 20:59] srutzky commented on #3955
@kardianos Compiling the assembly on Windows works just fine. And yes, it would be convenient if SQL Server supported .NET Core, but I don't see how that would be possible without SQL Server being updated to include the .NET Core system libraries and this has not happened.

Of course, if you want to compile on Linux _and_ can deal with .NET Framework, you should be able to use [Mono](https://www.m

[2020-01-20 10:00] KalleOlaviNiemitalo commented on #3955
<https://github.com/microsoft/sql-server-language-extensions/issues/3> requests hosting .NET Core in [SQL Server Language Extensions](<https://docs.microsoft.com/sql/language-extensions/concepts/extensibility-framework?view=sql-server-ver15> "Extensibility architecture in SQL Server Language Extensions | Microsoft Docs"), like Java in SQL Server 2019. That would replace the deprecated Code Access

[2020-01-20 10:16] suxstellino commented on #3961
Hi there, do you need more info? May the article itself can help you?

[2020-01-20 15:04] jimp100 opened #3992 "Permissions incorrect (?)"
The article states a user needs "db_ddladmin and db_owner fixed database roles" in order to create indexes.  I don't believe this to be correct, a user can create indexes with just db_ddladmin database role.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13793c61-629f-f379-fcb7-e9178e4f5dce
* Version Independent ID: ce

[2020-01-20 17:21] kardianos commented on #3955
@KalleOlaviNiemitalo Yes, I'm specifically asking about compiling for .NET CLR as SQL Server 2008 to 2019 support today. I'm not asking about documentation regarding the new language extensions.

@srutzky I played around with mono a bit more.

In ubuntu eoan, it appears two packages need to be selected:
 * `mono-mcs`
 * `libmono-system-data4.0-cil`

Then to invoke the compiler:

`mcs -reference:Sy

[2020-01-20 18:09] WilliamAntonRohm commented on #3897
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-01-20 18:09] #3897 closed

[2020-01-20 22:50] blobbles78 opened #3993 "Loops cannot be inlined?"
Please update the documentation to indicate whether loop structures within UDFs will/will not result in inlining of the function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4e3344e-e4a8-4356-7036-729c77f6fbd1
* Version Independent ID: a57b3944-c108-081a-6308-a2fedec15de6
* Content: [Scalar UDF Inlining in Microsof

[2020-01-21 00:54] WilliamAntonRohm commented on #3985
@EricVanAken -- Eric, thank you for your question.  You may find answers here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@MashaMSFT -- Masha, please look into this issue #3985.

[2020-01-21 01:01] WilliamAntonRohm commented on #3989
@srutzky -- Solomon, thank you for your feedback.

@VanMSFT -- Van, please look into this issue #3989 and its related issues #3990 & #3991.

[2020-01-21 01:15] WilliamAntonRohm commented on #3990
@srutzky -- Solomon, thank you for your feedback.

@VanMSFT -- Van, please look into this issue #3990 and its related issues #3989 & #3991.

[2020-01-21 01:16] WilliamAntonRohm commented on #3991
@srutzky -- Solomon, thank you for your feedback.

@VanMSFT -- Van, please look into this issue #3991 and its related issues #3989 & #3990.

[2020-01-21 06:57] Edwardwsr commented on #2493
Thanks for sharing good information

[2020-01-21 12:00] MightyPen commented on #3933
@Peled-Zohar Hello,
The 'DateTime' data type has not been declared as Deprecated. There is nothing more to say about the continuing status of DateTime, nor about any other data type.

Thank you for inquiring. We hope to hear from you again.
I am now closing this Issue #3933 .

c: @MikeRayMSFT

[2020-01-21 12:00] #3933 closed

[2020-01-21 12:30] CarlRabeler commented on #3959
Please assign to @julieMSFT

[2020-01-21 12:32] DylDelport commented on #2377
@markingmyname I'm still unable to generate a script. It immediately fails without any error message

[2020-01-21 12:33] CarlRabeler commented on #3689
@brettshearer I can confirm that CPU time is in milliseconds. If you think additional language would add clarity, please suggest such language.
Thank you, Carl

[2020-01-21 12:34] CarlRabeler commented on #3895
@Avyncentia please try the suggestion from @KalleOlaviNiemitalo and let me know what you discover. Thank you.
Carl

[2020-01-21 12:37] CarlRabeler commented on #3956
@allanford17 based on your testing, what changes to the documentation would you propose?
Thank you,
Carl

[2020-01-21 12:37] CarlRabeler commented on #3783
still awaiting PM review of staged article

[2020-01-21 14:59] monrealis opened #3995 "missing space"
"sqlcmd-v X=Y" is missing a space. There's no command sqlcmd-v.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18f5f9d0-f5c3-a8c8-7800-823a95c1ea07
* Version Independent ID: 9b623a77-8813-88f4-e78f-e6a63dd87709
* Content: [Use sqlcmd with Scripting Variables - SQL Server Management Studio (SSMS)](https://docs.microsoft

[2020-01-21 16:34] rothja commented on #3955
@kardianos @srutzky I have confirmed that .NET Core is not supported at this time (as you both suspected). But that means that you have a great suggestion to explicitly document this and save others time (sorry for your lost time investigating). I am going to make that change to the documentation before closing this git issue. At this time, I don't think I have enough information to know whether M

[2020-01-21 16:54] WilliamAntonRohm commented on #3961
@suxstellino -- Alessandro, it would be very helpful to see your proposed article.  I am looking for an expert reviewer here.

[2020-01-21 16:57] suxstellino commented on #3961
Ok, I have a blog post (short version) or, in some weeks, a version of the definitive article out there :-)
Is the blog post ok for you? If so, here it is: https://alessandroalpi.blog/2020/01/15/show-reporting-services-usage-statistics-with-grafana/
many thanks, William!

[2020-01-21 17:00] WilliamAntonRohm commented on #3784
@HansSchulze -- thank you for your feedback and patience.

@VanMSFT -- please look into this potential documentation issue #3784.

[2020-01-21 17:02] WilliamAntonRohm commented on #3811
@stevestein -- Steve, please confirm the above-mentioned PR 13305.

[2020-01-21 17:03] WilliamAntonRohm commented on #3390
@CraigHead -- Craig, thank you for your contribution.

@VanMSFT, @vin-yu -- Van, Vin, please look into this issue and PRs 12703 & #3913.

[2020-01-21 17:04] msebolt commented on #3992
@jimp100 Thank you for the feedback, assigning this to the author for review.

[2020-01-21 17:06] wsuhoey opened #3996 "CREATE EXTERNAL TABLE examples does not include an ODBC example"
There needs to be an example that shows how to create an external table that uses an ODBC external data source, now that PolyBase in SQL Server 2019 allows ODBC.

[2020-01-21 17:06] VanMSFT commented on #3784
Hi @HansSchulze! Thanks for your inquiry on this page. I'm sorry you're having issues with using the INTO statement! Unfortunately, this is not a page to request support. Please see the links @WilliamAntonRohm provided, or refer to the following links for help on your query issues:

- [UserVoice: Have suggestions for improving SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Se

[2020-01-21 17:06] #3784 closed

[2020-01-21 17:17] kardianos commented on #3955
@rothja Thank you. I appreciate this.

[2020-01-21 17:31] HunedMSFT opened #3997 "Error Code 2058"
Error code 2058 and workaround/fix is missing from this list.

https://melodiouscode.net/sql-azure-key-vault/
https://www.visualstudiogeeks.com/devops/SqlServerKeyVaultConnectorProviderError2058RegistryConsultEKMProvider
https://sysadmin-monkey.net/2018/03/errors-with-february-2018-sql-connector-for-azure-key-vault/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-01-21 17:41] cbailiss opened #3998 "Run Time, Run Duration"
This page says:
&gt;&gt; run_time	int	Time the job or step started.
&gt;&gt; run_duration	int	Elapsed time in the execution of the job or step in HHMMSS format.
The format note here should also be describing the run_time field.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1188cb1-de0a-ce57-5baf-40ae903b41ef
* Versio

[2020-01-21 18:26] sbitaxi opened #3999 "Second SQL example for HAVING does not match the description"
https://docs.microsoft.com/en-us/sql/t-sql/queries/select-having-transact-sql?view=sql-server-ver15#examples--and-

The description for the example states "...when the OrderDateKey is in the year 2004 or later." However, the query is on the Sales Amount "HAVING SUM(SalesAmount) &gt; 80000". Without knowing what the OrderDateKey field holds, I'm not able to recommend a specific correction.

---
###

[2020-01-21 18:38] MashaMSFT commented on #3969
Hi @nickstocker , thanks for bringing this to our attention! This sounds like a support issue, and not an issue with the documentation, but just to clarify, would you please mind walking me through what steps you've already taken, and what step you're taking when the error occurs?

Have you already applied the transaction log backups in sequence to the secondary database? When you're backing up th

[2020-01-21 18:47] msebolt commented on #3993
@blobbles78 Thank you for feedback.

Assigning this to the author for further review.

[2020-01-21 18:54] VanMSFT commented on #3999
Hi @sbitaxi - Thanks for your feedback on this page! I have fixed the example text, and it should go live later today. We really appreciate your assistance on our documentation.

[2020-01-21 18:58] #3999 closed

[2020-01-21 19:33] #3410 closed

[2020-01-21 20:03] VanMSFT commented on #3522
Hi @halfkilo! Sorry for the delay. I investigated why FAILED_LOGIN_GROUP was removed, and have added it back into the doc. Thanks for bringing this issue to us! The document should update in the next few hours.

[2020-01-21 20:05] #3522 closed

[2020-01-21 20:27] VanMSFT commented on #3712
@HenrikStaunPoulsen - Hi! Thank you for submitting this issue. I apologize for the delay. I added a remark that you cannot EXECUTE AS a SYSTEM_USER. We appreciate your help in improving our documentation. The doc updates should go live today.

[2020-01-21 20:41] #3712 closed

[2020-01-21 21:07] VanMSFT commented on #3724
@arcus4 - Hi Jan! Thanks for these suggestions! We really appreciate your assistance with our documentation. There's no need to add the SQL Server Instance Name to the certificate Alternate Name. The Cluster Virtual Name as the CN should be enough. An additional requirement for cluster node instances is that the thumbprint of the certificate needs to match on each server. We are working on an arti

[2020-01-21 21:07] #3724 closed

[2020-01-21 21:31] VanMSFT commented on #3989
@srutzky - Hi Solomon, thanks for the inquiry! sp_changedbowner is still available in SQL Server 2019. It's not fully deprecated and removed as of yet, but the idea of that note is to steer customers away from using that Stored Proc. We will update the list when it is removed. Thanks! Please let us know if you have any questions.

[2020-01-21 22:02] srutzky commented on #3989
Hello @VanMSFT  Can you please re-open this as per my comments below? Thanks.

Deprecated and removed are two entirely separate things. By definition, "deprecated" means that it is still available, just not removed yet (there is a separate list for "discontinued" / "removed" functionality). In fact, all of the system stored procs on that main [Security Stored Procedures](https://docs.microsoft.com

[2020-01-21 22:25] VanMSFT commented on #3989
@srutzky - Hi Solomon, that SP is deprecated. I went ahead and made the changes to the referenced pages. They should update shortly. Thanks again for your help!

[2020-01-21 22:31] #3989 closed

[2020-01-21 22:46] allanford17 commented on #3956
Hi CarlRabeler,

Thankyou for your followup ..   I googled the dictionary meaning for the word "implicitly" ...

I would propose that this sentence :

Setting ANSI_WARNINGS to ON implicitly sets ARITHABORT to ON when the database compatibility level is set to 90 or higher.

Be replaced with this text:

When ANSI_WARNINGS has a value of ON and the database compatibility level is set to 90 or higher

[2020-01-21 22:56] sbitaxi commented on #3999
Wow, that was fast. Thank you for the update. Happy to help.

Steven

On Tue, Jan 21, 2020, 13:58 PRMerger20 <notifications@github.com> wrote:

[2020-01-21 23:11] VanMSFT commented on #3541
@srutzky - Hi again Solomon! Thanks for your input! I'll go ahead and link the Database-Level Roles page.

@AndreasWolter - Andreas, please let us know if you have any additional input based on Solomon's comments. Thanks!

[2020-01-21 23:29] hannahqin commented on #3711
Hi @kethahel99, are you still having issues installing the Schema Compare extension? And are you experiencing installation problems in-app or on this GitHub page? https://github.com/microsoft/azuredatastudio/wiki/List-of-Extensions

[2020-01-21 23:38] MashaMSFT commented on #3985
Hi @EricVanAken , thanks so much for reaching out! Unfortunately, alerts are not currently supported for the Azure SQL Database managed instance. You can see that documented [here](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-transact-sql-information#sql-server-agent):

![image](https://user-images.githubusercontent.com/32783170/72852529-a374ef80-3c63-11ea-9f5d

[2020-01-21 23:38] #3985 closed

[2020-01-22 01:55] pmasl commented on #3992
It's an OR permission, I'll correct the article asap.

[2020-01-22 01:59] MikeRayMSFT commented on #3765
Checking with engineering partners. Thank you for following up.

[2020-01-22 02:09] MikeRayMSFT commented on #3829
Checking with engineering partners

[2020-01-22 02:12] MikeRayMSFT commented on #3967
@harlananelson - thank you for the comment. I'm notifying the engineers who can help with this.

[2020-01-22 02:15] MikeRayMSFT commented on #3960
@vin-yu can you look at the request on how to enable agent for the tutorial?

[2020-01-22 02:17] MikeRayMSFT commented on #3938
@samrueby - thanks for the submission. Verifying.

[2020-01-22 03:50] AnyiYang opened #4002 "What's the meaning of user? Normal database user or DBA user?"
Hi team,
My customer has raised a question on the meaning of user mentioned in this document for the following two part:

16
Indicates general errors that can be corrected by the user.

17-19
Indicate software errors that cannot be corrected by the user. Inform your system administrator of the problem.

Does the user above mean the normal database user or DBA or end user for application? And what

[2020-01-22 03:54] julieMSFT commented on #3959
@mwc360 Hello, thank you for your question. Yes, Azure Synapse Analytics (SQL DW) does not support the regular Table Value Constructor syntax to Insert multiple rows in one transaction. I will proceed with closing this issue. The @ notification mechanism continues to work even after an item is Closed, in case further communication is needed. We hope to hear from you again.

[2020-01-22 03:54] julieMSFT commented on #3959
#please-close

[2020-01-22 03:56] CarlRabeler commented on #3956
That sounds good. Please submit that change and I will get it approved (click Edit and submit a publish pull request).
Thank you,
Carl

From: allanford17 <notifications@github.com>
Sent: Wednesday, January 22, 2020 5:46 AM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs

[2020-01-22 04:22] allanford17 commented on #3956
Thanks Carl,
Yes - I have tried to do this GitHub change ..
thanks, Allan

[2020-01-22 05:03] CarlRabeler commented on #3393
creating a PR with a note added re: install and enable PolyBase

[2020-01-22 05:30] CarlRabeler commented on #3979
Please assign to @julieMSFT

[2020-01-22 05:32] CarlRabeler commented on #3963
Service packs may have updated system databases as well as user databases

[2020-01-22 05:40] CarlRabeler commented on #3937
@dudu-markovitz Please clarify the change you wish to have made to this article. It is unclear to me.
Thank you, Carl

[2020-01-22 05:47] CarlRabeler commented on #3936
please assign to @VanMSFT

[2020-01-22 05:49] #3894 closed

[2020-01-22 05:57] CarlRabeler commented on #3898
to shrink an Azure SQL Database, use T-SQL. Not supported using SSMS
Article being updated now

[2020-01-22 05:59] #3852 closed

[2020-01-22 06:01] #3811 closed

[2020-01-22 06:11] msebolt commented on #3995
@monrealis Thank you for the feedback.

The documentation has been updated and is pending review.

Please consider [becoming a contributor](https://docs.microsoft.com/contribute)!

[2020-01-22 06:14] msebolt commented on #3996
@wsuhoey Thank you for the feedback.

Please refer to [Configure PolyBase to access external data](https://docs.microsoft.com/sql/relational-databases/polybase/polybase-configure-odbc-generic) and comment below on any information you find missing.

[2020-01-22 06:15] msebolt commented on #3997
@HunedMSFT Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-22 06:30] EricVanAken commented on #3985
Masha,

Thanks for you reply.
Make sure you remove the SQL MI tag in the applies to section.

Eric

[2020-01-22 06:58] dudu-markovitz commented on #3937
Hi Carl

A customer was struggling for a long time, attempting to create a linked server from SQL Server on-prem to Azure SQL MI, by mapping Windows/SQL Server users (on-prem) to AAD users (MI).
The customer has fail to do so and the error messages he got were unclear.

After we (CSU) were involved and reached out to PG, it was clarified that this scenario is not supported -
only a SQL Server user

[2020-01-22 07:04] dudu-markovitz commented on #3936
Hi Carl
I don't think I have the right privileges for that

[2020-01-22 07:25] goeasyflow opened #4004 "mssql-server service doesn't start after certificate installation"
The procedure explaining how to install is missing the fact that the /etc/ssl/private directory by default has root read-only permissions, so following the procedure as is ends up with the mssql-server service not starting.

Permission on that folder must be changed to read and execute.

[2020-01-22 10:12] CarlRabeler commented on #3937
Can you please help me with respect to what scenarios are supported and which are not? FYI – you should be able to just click Edit in the upper-right hand corner and modify the article – which will come back to me for review. Linked servers are definitely supported, but beyond that I do not have information. If you do not have that information, I will reach out to the product team for assistance.

[2020-01-22 14:05] devale opened #4005 "@@DBTS + 1"
"MIN_ACTIVE_ROWVERSION returns the same value as @@DBTS + 1"

should that not be @@DBTS - 1? (MINUS)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 932eac21-c321-d7fa-d6cf-cbad28039f2f
* Version Independent ID: 105972d3-7073-8377-6fc0-a268b5058b91
* Content: [MIN_ACTIVE_ROWVERSION (Transact-SQL) - SQL Server](https://d

[2020-01-22 14:07] #4005 closed

[2020-01-22 15:59] mjcarrabine opened #4006 "SQL Server 2017 Subscription "Run Now" Not Mentioned in Documentation"
SQL Server 2017 added a Run Now feature to Reporting Services, but it is missing from the **Working with subscriptions (web portal)** documentation at https://docs.microsoft.com/en-us/sql/reporting-services/working-with-subscriptions-web-portal?view=sql-server-2017

This is what I see
![image](https://user-images.githubusercontent.com/7231551/72910097-0ae37b80-3d06-11ea-92fd-8749c084747c.png)

[2020-01-22 16:42] msebolt commented on #3998
@cbailiss Thank you for the feedback.

The documentation has been updated and is pending review.

Please consider [becoming a contributor](https://docs.microsoft.com/contribute).

[2020-01-22 16:54] pmasl commented on #3938
Fixed by adding "clustered". Does not allow a clustered PK.

[2020-01-22 17:57] MashaMSFT commented on #3985
Hi @EricVanAken , this is great feedback, thank you for letting me know! I have submitted a change to update the AppliesTo and it will be live later today :)

Thanks for improving our documentation!
Masha from the SQL Docs team

[2020-01-22 19:08] VanMSFT commented on #3936
Hi @dudu-markovitz! Thanks for your feedback. I'm curious what's not clear in the description? `Specify that a connection will be made without using a security context` is exactly how the connection is being made.

[2020-01-22 19:24] venky085 opened #4007 "Incorrect error message while trying to truncate partition range"
![image](https://user-images.githubusercontent.com/6082222/72926601-b7335b00-3d22-11ea-8dae-290e83e2a224.png)

[2020-01-22 19:27] dudu-markovitz commented on #3936
Hi

Hi

What is “security context”?
What are the criteria for success connection?
Which user is being used for the login?
What would be the privileges/limitations for this connection?

David (דודו) Markovitz
Cloud Solution Architect, Data & AI      Mobile: +972-525-834-304
Microsoft Israel                                        Office: +972-747-119-274

[cid:image001.png@01D5D16A.BCC6C760]

From:

[2020-01-22 19:44] VanMSFT commented on #3936
Hi @dudu-markovitz, your questions are answered in the doc:

![image](https://user-images.githubusercontent.com/40007119/72928167-5a2caa80-3d0c-11ea-9177-91075cd40efe.png)

The `security context` represents the login for the Linked Server connection.

[2020-01-22 20:07] hillmarcus commented on #3570
Has there been any update on this? I'm trying to determine if this is a feature I can make use of in our Azure environment.

Thanks

[2020-01-22 20:39] MikeRayMSFT commented on #3967
Thanks for raising the issue, @harlananelson. I've notified the engineers to look at this. I don't hear the problem your describing, but we'll look into the audio quality per your recommendation.

Mike

[2020-01-22 20:39] #3967 closed

[2020-01-22 21:06] danvalero commented on #2644
Hi, you mention that CHECK_POLICY is not supported but I was able to execute:
create login daniel with password='12345', CHECK_EXPIRATION=OFF,CHECK_POLICY=OFF
and it worked and I was able to login with the new user
I used SQL Server 2019 on ubuntu

[2020-01-22 22:23] potato-enthusiast opened #4009 "Clarify Information"
The "Effective Values" section does not cover the behavior for when request_min_resource_grant_percent is less than the effective request_min_resource_grant_percent. Is it automatically increased to the effective request_min_resource_grant_percent? My sys.workload_management_workload_groups table contains request_min_resource_grant_percent values that are below their effective value. This applies

[2020-01-22 23:26] #3115 closed

[2020-01-22 23:30] garyericson commented on #3976
@huyanh1511 - Thank you for taking the time to report this issue. It turns out that this is a documentation error: The sqlmlutils tool for installing Python packages works on SQL 2019, but not on 2017. For 2017 you'll need to use `pip install` to install the package in the SQL instance.

I've corrected the documentation and it should be published sometime tomorrow (1/23/2020). When it is published

[2020-01-22 23:31] garyericson commented on #3976
#please-close

[2020-01-22 23:31] #3976 closed

[2020-01-22 23:31] MikeRayMSFT commented on #3923
Thanks @ctasantos  - I'm confirming with partners.

[2020-01-22 23:50] mihaelablendea commented on #3902
Please use one of the packaged installers to setup azdata. I.e. https://docs.microsoft.com/en-us/sql/big-data-cluster/deploy-install-azdata-linux-package?view=sql-server-ver15

If you use pip, you would need to manually install dependencies. I.e. https://docs.microsoft.com/en-us/sql/big-data-cluster/deploy-install-azdata-pip?view=sql-server-ver15#linux

[2020-01-22 23:56] MightyPen commented on #3976
PR was &nbsp; [htt ps://github.com/MicrosoftDocs/sql-docs-pr/pull/13545](https://github.com/MicrosoftDocs/sql-docs-pr/pull/13545)  .

[2020-01-23 00:58] MikeRayMSFT commented on #3880
@wwmbes - the article explains that

I see the inconsistencies noted by @WilliamAntonRohm and will connect with engineering to check.

[2020-01-23 01:14] axo959 commented on #3765
I followed the 'single node kubeadm script' I get an error the sa login is disabled during step #4 as well.  I also tried to login in remotely (but to port 31433) and from an interactive bash shell in my master container (had to install sqlcmd).  How'd you connect to the master instance if the sa account is disabled?  (what account/password?)

[2020-01-23 01:44] MashaMSFT commented on #3904
Hi @mmmiller60 , my apologies for the delay while I research this for you. Just to make sure I'm understanding your question correctly, you want to set the secondary as unreadable like so:

![image](https://user-images.githubusercontent.com/32783170/72949910-937e0e00-3d3e-11ea-8d2f-d2bf0047b87a.png)

And then you want to set the backup preference to be on the secondary replica, like so:
![image](h

[2020-01-23 01:50] mmmiller60 commented on #3904
My question is the 2nd question...

if it's required that the secondary replica is set to readable in the above option for the backup to succeed on the secondary replica?

I believe the answer is NO but this information should be clarified in the documentation because logically you would think the secondary would need to be readable if it is to be used for backups.

Thanks
Sam

-------- Original m

[2020-01-23 03:15] MashaMSFT commented on #4002
Hi @AnyiYang, thanks for contacting Microsoft!

In this context, by user we mean whomever is receiving the error. Severities 11-16 include things like objects that don’t exist, syntax errors, deadlocks, permission issues etc. Whether or not the person receiving the error can actually fix the underlying problem is going to depend on the environment, but these are generally related to the applicatio

[2020-01-23 03:45] msebolt commented on #4004
@goeasyflow  Thank you for the feedback.

Can you provide a reference to the article in question?

We can then assign this to an author for further review.

[2020-01-23 03:51] msebolt commented on #4006
@mjcarrabine Thank you for the feedback, assigning this to the author for further review.

[2020-01-23 09:55] dfuente commented on #3963
Thanks for the info. However, if for instance, my SQL Server version is SQL Server 2014 SP3-CU3 and I rebuild the system databases (master, msdb and model). Do I have to re-apply SP3 and CU3 afterwards? Isn't the rebuild process recreating them as "SQL 2014 SP3-CU3"? Cheers

[2020-01-23 16:23] mwc360 opened #4012 "Does 18.4.1 support ordered clustered columnstore indexes in Synapse"
Does 18.4.1 support ordered clustered columnstore indexes in Synapse? The installed DevOps agent version (18.3.1) doesn't support them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 121d051e-9962-0554-b11d-ba22c1802ff7
* Version Independent ID: 3fc25a21-a2b1-8d06-2ba2-373112e004ef
* Content: [DacFx and SqlPackage rele

[2020-01-23 18:01] axo959 commented on #3765
At some point they create an 'admin' user for sql auth.  The 'admin' user will have the "sa" password you set when running setup-dbc.sh on Linux. (coming from the AZDATA_PASSWORD env variable)

Following the docs from the 'single node kubeadmin script' to 'Tutorial: Load sample data into a SQL Server big data cluster', you dont really catch the need to login with a username admin instead of sa to

[2020-01-23 18:24] msebolt commented on #4007
@venky085  Thank you for the feedback.

Please note since this is a documentation forum, our support options are limited to specific article examples.

If this issue is product-related, please submit your bug [here](https://feedback.azure.com/forums/908035-sql-server) for feedback from the product team.

Or, for additional options, see:

- [SQL Server forums](https://social.msdn.microsoft.com/Foru

[2020-01-23 18:39] msebolt commented on #4009
@potato-enthusiast Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-23 18:43] julieMSFT commented on #4009
@ronortloff Please review.

[2020-01-23 19:28] sclover opened #4014 "Column name error"
pool_id should be external_pool_id

Looks like it _has_ been renamed :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8a97fb-6654-1717-a3c5-b884b3b7b168
* Version Independent ID: dfd5ced6-5321-b1d8-39af-2d5944e488a0
* Content: [sys.resource_governor_external_resource_pools (Transact-SQL) - SQL Server](https://docs.m

[2020-01-23 20:06] bderwart opened #4015 "Correction to the comment in Example I."
If you following the steps in Example I and are using the Progress DataDirect Oracle WP ODBC driver to create an external table to an Oracle table, then the LOCATION string cannot contain the database_name. This driver does not support catalogs, so creating an external table with this naming convention will result in an error when you try to SELECT from the external table.

Instead of using a thre

[2020-01-23 20:49] potato-enthusiast opened #4016 "Misleading statement"
The definition for owning_principal_id:
"ID of the principal that owns this principal. All principals except Database Roles must be owned by dbo."
On my ASDW instance, the value for "owning_principal_id" for all of my SQL_USER principals is NULL.
Is NULL equivalent to dbo? I expect the SQL_USER's owning_principal_id be that of dbo, which is 1.

---
#### Document Details

⚠ *Do not edit this sectio

[2020-01-23 20:57] VanMSFT commented on #4016
Hi @potato-enthusiast! Thanks for bringing this issue up. I'll check on this.

[2020-01-24 03:22] nruffilo opened #4017 "FORMATFILE_DATASOURCE needs to be FORMATFILE_DATA_SOURCE"
The docs reference:    [ [ , ] FORMATFILE_DATASOURCE = 'data_source_name' ] but sqlserver only allows FORMATFILE_DATA_SOURCE  It just needs the _ in it.

Have a great day

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc5106a6-4e54-2177-3e03-b2845f9587c5
* Version Independent ID: c3bc5aaa-0119-9c4d-3d7b-0ee218885361
*

[2020-01-24 08:28] PKBGitHub opened #4018 "Integrate Translator"
I need an enhancement! A computed column for translating the data from one language Unicode to another language Unicode. Like integrating Microsoft Language Translator right into the Microsoft SQL Server!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bda69849-66d9-0b69-1041-c526a406c04f
* Version Independent ID: 7a892

[2020-01-24 11:46] CarlRabeler commented on #3956
resolved with PR

[2020-01-24 11:46] #3956 closed

[2020-01-24 11:47] #3689 closed

[2020-01-24 11:47] #3393 closed

[2020-01-24 11:51] CarlRabeler commented on #3963
How did you do the rebuild? Unless you are doing the rebuild and pointing to installation media that has all of the, in your case, SP3-CU3 bits included, you need to re-apply. Typically, one would use the RTM / GA media which would not have the SP3-CU3 bits included.

[2020-01-24 11:58] CarlRabeler commented on #3937
PR submitted to address this specific scenario: https://github.com/MicrosoftDocs/sql-docs-pr/pull/13583

[2020-01-24 11:58] #3937 closed

[2020-01-24 12:52] sgiovinetti commented on #3023
Could you please give more details on Additional connection scenarios are supported with Multi-protocol access for Azure Data Lake Storage, which is currently available in public preview?

This is not in preview anymore but no documentation around for connecting SQL 2019 to ADLS Gen2 using polybase. Thanks.

You said "Connection to ADLS Gen 2 may be supported if the ADLS does not use a hierarchica

[2020-01-24 13:40] festerman opened #4019 "Document for the *pattern* format is missing"
.. and an example showing how to use this would be nice. https://stackoverflow.com/questions/3891331/find-non-ascii-characters-in-varchar-columns-using-sql-server has an example (but not as the selected answer ...)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ee250de-0d7b-7f3c-66a7-e47e9b96304c
* Version Independent

[2020-01-24 13:44] dfuente commented on #3963
Thanks for this. I'm using setup.exe from this path C:\Program Files\Microsoft SQL Server\120\Setup Bootstrap\SQLServer2014\ to rebuild system databases (msdb, master, model). So afterwards I run select @@version and shows Microsoft SQL Server 2014 (SP3-CU3) (KB4491539) - 12.0.6259.0 (X64). Or it is potentially showing the wrong version? Thanks.

[2020-01-24 14:12] dfhampshire opened #4020 "The Query for example 2 syntax is incorrect"
The 4th line reads
SET @jsonInfo=N'{"info":{"address":[{"town":"Paris"},{"town":"London"}]}';

it should read:
SET @jsonInfo=N'{"info":{"address":[{"town":"Paris"},{"town":"London"}]}}';

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28e8713d-8b6e-7e43-04cc-e2720891b56c
* Version Independent ID: d09b9ed6-4e55-7d18-b17f

[2020-01-24 14:47] cdotzenrod commented on #3812
Just to help clarify,  I've working through Buck Woody's SQL Big Data Cluster workshop.  I was able to go through the hands on materials for the SQL tasks without an issue until I got to the part of workshop where I needed to run Spark and use Azure Data Studio notebooks connected to my cluster.  Here are details on what I did and where I got stuck.

Workshop site:  https://github.com/microsoft/sq

[2020-01-24 15:52] #3955 closed

[2020-01-24 16:30] msebolt commented on #4012
@mwc360 Thank you for the question.

Unfortunately our support options are limited to documentation examples only.

For feature specific questions please start a thread [here](https://feedback.azure.com/forums/908035-sql-server) for feedback from the product team.

@pensivebrian

[2020-01-24 17:09] WilliamAntonRohm commented on #4007
I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-01-24 17:09] #4007 closed

[2020-01-24 17:12] WilliamAntonRohm commented on #4014
@sclover -- stephen, thank you for bringing this to our attention.  I am looking into this document.

[2020-01-24 17:14] WilliamAntonRohm commented on #4015
@bderwart -- thank you for your detailed feedback.

@CarlRabeler -- Carl, please look into this issue #4015.

[2020-01-24 17:15] WilliamAntonRohm commented on #4017
@nruffilo -- thank you for letting us know.  I am looking into the document.

[2020-01-24 17:18] WilliamAntonRohm commented on #4018
@PKBGitHub -- that is an intriguing idea.  Please file a request at:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

You may find some algorithm assistance here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

I am closing this issue now.  You are welcome to @ mention me for any follow

[2020-01-24 17:18] #4018 closed

[2020-01-24 17:20] WilliamAntonRohm commented on #4019
@festerman -- thank you for your feedback.

@MikeRayMSFT -- please look into this issue #4019.

[2020-01-24 17:21] WilliamAntonRohm commented on #4020
@dfhampshire -- thank you for your detailed feedback.  I am looking into the document.

[2020-01-24 17:39] WilliamAntonRohm commented on #3764
I am closing this issue now, as we have a two-week window.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2020-01-24 17:39] #3764 closed

[2020-01-24 18:35] WilliamAntonRohm commented on #3961
@suxstellino -- Alessandro, thank you for your kind offer.  I've asked our local experts, and it doesn't seem to fit into our documentation set at this time.  I'm closing this issue now, and we hope to hear from you again.

cc @markingmyname for awareness per Gene

[2020-01-24 18:35] #3961 closed

[2020-01-24 18:55] MikeRayMSFT commented on #4019
@festerman -- thank you for your feedback. Evaluating options.

[2020-01-24 19:22] suxstellino commented on #3961
Ok, thanks anyway. Just to understand, is there any information which shouldn't go into the docs? How can I improve it to make it better for the topics the doc should be provide? The blog post is not a detailed article (which will be different). Tips?

[2020-01-24 19:25] bluefooted commented on #4019
@festerman Thanks this is a great suggestion! We need to make a few different changes for this, I think it makes sense to add a link to the wildcard documentation here in addition to the example https://docs.microsoft.com/en-us/sql/t-sql/language-elements/wildcard-character-s-to-match-transact-sql?view=sql-server-ver15 I will take care of this in a separate pull request.

[2020-01-24 20:01] #3995 closed

[2020-01-24 21:02] potato-enthusiast opened #4022 "Tested classification parameter precedence does not match that of document, specifically for labels"
The statement "The higher precedence matching classifier is used first to assign a workload group and importance. The precedence goes as follows: [user, role, label, session, time]" does not agree with a test that I ran.

If I make a classifier:
CREATE WORKLOAD CLASSIFIER wc_staticrc30_nolabel WITH (
	WORKLOAD_GROUP = 'staticrc30'
	,MEMBERNAME     = 'mic_default'
)

And then I run:
select COUNT_BI

[2020-01-24 21:05] LonnyNiederstadt opened #4023 "Trace Flags 3604 & 3605 to redirect output"
Some trace flags in the list require trace flags 3604 or 3605 to redirect output.
For example, trace flag 8721 will produce output for auto-stats updates (both sync and async) but without accompanying trace flag 3605 to direct output to SQL Server error log, trace flag 8721 isn't very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-01-24 21:07] WilliamAntonRohm commented on #3978
@techiebrijesh -- I'm great, in Portland, Oregon.  Thank you for clarifying your issue.

@VanMSFT -- please look into this issue #3978.

[2020-01-24 21:21] VanMSFT commented on #4016
Hi @potato-enthusiast - We've confirmed that fixed database roles are owned by dbo, and not SQL_USER principals. I'm changing the doc, and it should be updated soon. Thanks again for bringing this to our attention!

[2020-01-24 21:24] #4016 closed

[2020-01-24 21:24] WilliamAntonRohm commented on #3978
@techiebrijesh -- it looks like you're having difficulties with the product rather than the documentation.  You may find some help here:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ men

[2020-01-24 21:24] #3978 closed

[2020-01-24 21:26] markingmyname commented on #3917
I apologize for the delayed response.

Researching.

[2020-01-24 21:30] #3980 closed

[2020-01-24 21:32] markingmyname commented on #3443
Thank you, @VerdonTrigance, for bringing this to our attention.  We are currently discussing how to present the different versions of SQL in a more streamlined manner. To avoid exact instances such as the confusion of what version you are currently viewing to see a feature.

@pensivebrian, Thank you for your reply.

[2020-01-24 21:32] markingmyname commented on #3443
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-01-24 21:32] #3443 closed

[2020-01-24 21:34] msebolt commented on #3996
Closing this now, please comment below if you'd like the issue re-visited.

[2020-01-24 21:34] #3996 closed

[2020-01-24 21:34] msebolt commented on #4004
Closing this now, please comment below if you'd like the issue re-visited.

[2020-01-24 21:34] #4004 closed

[2020-01-24 21:35] #3998 closed

[2020-01-24 21:36] pmasl commented on #4023
Thanks Lonny, I'll put it in the backlog to scrub which TFs need 3604 or 3605 and add that info. Those in turn are also not documented.

[2020-01-24 21:39] markingmyname commented on #3506
@msebolt,

@pensivebrian is out due to paternity leave.

Please assign all further Issues to @hannahqin in the meantime, please.

[2020-01-24 21:44] markingmyname commented on #3506
@IanKemp

So I understand clearly, are you suggesting we add "This option may be specified multiple times"  to the end of each paragraph the reference is made it can work with another specific feature witihn the description?

Good eye, @[Github user]! We’ve forwarded it to the writer, who should respond soon. Thanks!

Also, did you know: You can edit the doc! Click the little Edit pencil icon in t

[2020-01-24 21:51] #3983 closed

[2020-01-24 22:03] rajmera3 commented on #3812
@cdotzenrod Are you able to run any spark code in general? For example, can you open a new notebook, choose PySpark or Scala and run a hello world job?

Also, on the machine with the kube_config, can you run kubectl get all -n {name of bdc}?
Is there a spark pod listed there?

[2020-01-24 22:57] MikeRayMSFT commented on #3923
SQL Server takes the one byte of storage if up to 8 bit columns are defined for row. If all eight columns are nulll, it doesn't take any storage - other than what's taken for the null bitmap.  If one of the eight columns is not null, the entire byte is taken up if if the other seven are null.

[2020-01-24 22:57] #3923 closed

[2020-01-24 22:57] #3902 closed

[2020-01-24 23:01] MikeRayMSFT commented on #3876
@ckarras - thanks - checking.

[2020-01-24 23:59] #3876 closed

[2020-01-25 00:06] MikeRayMSFT commented on #3836
@mwdarab - thanks for the feedback. I reviewed this and updated the sql-server-samples article.

[2020-01-25 00:06] #3836 closed

[2020-01-27 00:41] mwdarab opened #4026 "BDC upgrade failed"
This actually failed for me on a single node kubeadm cluster on-prem.

( https://docs.microsoft.com/en-us/sql/big-data-cluster/release-notes-big-data-cluster?view=sql-server-ver15#upgrade-may-fail-due-to-timeout )

I increased the timeout to 60 mins, but still got the "Control plane upgrade failed. Failed to upgrade controller."

Can the upgrade even apply to a single node deployment? If so, what

[2020-01-27 00:55] mwdarab opened #4027 "Upgrade Failed"
I tried this but still got the error: "Control plane upgrade failed. Failed to upgrade controller."

I am running a Big Data Cluster on a single node kubeadm cluster (on-prem). I even increased the thresholds but still failed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8fc75e5-8fba-36bb-9339-c2887150cae1
* Version

[2020-01-27 09:45] brunomartinspro opened #4028 "Add Usage Examples for Operations"
Adding examples of how this tool can be used to perform operations is a major improvement to this document.
Example: generate differences between two databases, produce .dacpac files and generate a delta script - also including a user and password to authenticate to a SQL Server or Azure

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-01-27 10:45] brunomartinspro commented on #4028
Found examples on https://github.com/MicrosoftDocs/vsts-docs/blob/master/docs/pipelines/apps/cd/sql-server-actions.md

[2020-01-27 11:49] rsocol opened #4030 "Proxy configuration does not work with Shared Access Credentials"
The documentation should specify that the configuration of the proxy in the BackuptoURL.exe.config file works only when using page blobs (in other words, it works only when specifying the "WITH CREDENTIAL" clause in the "BACKUP" statement, not when using Shared Access Signatures).

I realized that BackupToUrl.exe is used only for the older backups (with page blobs) after reading this comment: http

[2020-01-27 13:24] LifeRyuto opened #4031 "Passwords should always be at least ten characters long, rather than eight characters long."
Hi,
When creating a login, passwords should be at least 10 characters long apparently.
When I specified 8 characters long password, "too short" error always occurred.
This is regarding SQL Database managed instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0f4b3be-5686-ac31-8c5d-676e08953d8f
* Version Independen

[2020-01-27 14:05] CarlRabeler commented on #4015
Thank you. PR to fix this example is pending.

[2020-01-27 14:05] #4015 closed

[2020-01-27 14:10] CarlRabeler commented on #3895
@Avyncentia Its been a while we heard from you.
We will proceed to close this issue now.
Please post this issue on StackOverflow (https://stackoverflow.com/questions/tagged/azure-sql-database?tab=Newest) or MSDN (https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=ssdsgetstarted) for better visibility

[2020-01-27 14:10] #3895 closed

[2020-01-27 14:41] MikeGriffinReborn opened #4032 "SUM supports the Windows Frame syntax"
You are not showing it here, you're documentation is pretty inconsistent in the syntax description for all functions supporting the OVER syntax.  For instance, FIRST_VALUE correctly shows this syntax:

OVER ( [ partition_by_clause ] order_by_clause [ rows_range_clause ] )

as it does support the WINDOW FRAME syntax, so does SUM and many of the other Aggregate functions, but it is now shown here, i

[2020-01-27 16:20] barryblessing opened #4033 "Please provide definitions"
This page provides adequate code examples of the uses of these join hints, but provides neither clarity to their hint definition or links to pages that establish their exact definition.  Either would be welcome to better understand their respective definition, function and use case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-01-27 17:09] AndreasWolter commented on #3541
Hello @srutzky You are right about the fact that one cannot directly use the role to check its permissions. Which is why I said "that's all we have"
On db_accessadmin: Although I have not been around when this decision was made, I can guess that sp_dropuser, sp_grantdbaccess, and sp_revokedbaccess have been left out of the image because they are deprecated. SO I will leave it as it is.
Yes, @VanMS

[2020-01-27 17:36] markingmyname commented on #3917
Hi, @jensf

This is currently not possible. This behavior comes from how VS Code captures shortcuts.

However, please add your experience in [UserVoice](https://feedback.azure.com/forums/908035-sql-server) to find if you see more people experience the same situation.

[2020-01-27 17:37] markingmyname commented on #3917
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-01-27 17:37] #3917 closed

[2020-01-27 18:57] msebolt commented on #4022
@potato-enthusiast Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-27 19:19] bluefooted commented on #4019
@festerman The documentation for PATINDEX has been updated, along with the documentation for [] and [^]. I've added new examples (not the same as the StackOverflow issue, but similar). Let me know if this clarifies the scenario.

[2020-01-27 21:28] KDNeufeld opened #4034 "Connect from outside via jdbc tcpip"
The "Connect from outside the container" is missing documentation on how to enable TCP/IP connections from a jdbc connection url.
The sqlcmd example has the host as "&lt;ip_address&gt;,1433"
But a jdbc connection url uses a colon, not a comma, to separate host and port so this doesn't work.
How do I enable TCP/IP connections to the container using docker?
Thanks!

---
#### Document Details

⚠ *Do

[2020-01-27 21:43] #4002 closed

[2020-01-27 21:45] MashaMSFT commented on #4002
Hi @AnyiYang , it's been some time since we've heard from you so we're going to assume your question has been addressed and close out this Git Issue. However, if you need more assistance, please feel free to comment.

Thanks and hope you have a wonderful rest of your day!
Masha from the SQL Docs team

[2020-01-27 23:22] msebolt commented on #4026
@mwdarab  Thank you for the question.

Unfortunately, the support options in the documentation forum are limited to examples only.

For product-related issues, you can solicit feedback from the product team using [SQL Server feedback](https://feedback.azure.com/forums/908035-sql-server).

Or, for additional support options, please try:

- [SQL Server forums](https://social.msdn.microsoft.com/Forum

[2020-01-27 23:24] msebolt commented on #4027
@mwdarab  Thank you for contacting Microsoft.

Please refer to issue https://github.com/MicrosoftDocs/sql-docs/issues/4026 for further details.

[2020-01-27 23:24] #4027 closed

[2020-01-27 23:46] ronortloff commented on #4022
Hello @potato-enthusiast,
Thanks for the question.  A doc update is coming that should help clarify.  There is a parameter weighting that takes effect when evaluating classifiers.  wc_staticrc10_label has a higher weight than wc_staticrc30_nolabel.  If you have any questions after the doc update, please let me know.

[2020-01-27 23:49] ronortloff commented on #4022
#please-close

[2020-01-27 23:49] #4022 closed

[2020-01-28 02:10] MikeRayMSFT commented on #3765
We do not recommend enabling the SA account.

If you want to use basic username/password as authentication mechanism then set AZDATA_USERNAME and AZDATA_PASSWORD environment variables before executing the script. Otherwise the script will use integrated authentication to connect to SQL Server Master instance and Knox gateway. Also, DNS name should be specified for the endpoints in order to use int

[2020-01-28 08:25] axo959 commented on #3765
Yeah, I wont be using kerberos at all.  This was just to spin up quickly and play with bid data cluster.  Ideally we like to use ServerSPN, but thats not supported by the ODBC driver and probably not ideal for containers anyways.  Looks like there are other requirements to use the integrated as well.  Thats just not a world I'm ever in, so first I've read on it.  Looking at integrated needing FQDN

[2020-01-28 11:31] festerman commented on #4019
@bluefooted neat! thx!

[2020-01-28 11:31] #4019 closed

[2020-01-28 15:17] torjo2k opened #4036 "Missing Errors: 4878, 4879, Severity: 16"
There's not a single reference to 4879 in all of the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5973cd79-d024-6670-8b9f-d02d9824e8ec
* Version Independent ID: 9c7e4cd4-9bd7-16ad-83c0-9c114e5eec46
* Content: [Database engine events and errors - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databa

[2020-01-28 15:25] MikeRayMSFT commented on #3765
@axo959 - thank you for the detailed feedback. I'm looping in the right colleagues.

I'm updating the note to remove the information about the `sa` account because it is disabled. The table under [Environment variables](https://docs.microsoft.com/sql/big-data-cluster/deployment-guidance?view=sql-server-ver15#env) explains this.

| Environment variable | Requirement |Description |
|---|---|---|
| `

[2020-01-28 15:25] #3765 closed

[2020-01-28 16:06] brunomartinspro opened #4037 "Create an Official Microsoft.SqlPackage NuGet Package"
This is a very useful tool when used correctly, to avoid unofficial versions of this tool to be publicly available i propose creating an official package for .Net Core and  .Net Framework.

Example of unofficial packages: https://www.nuget.org/packages/SqlPackage.CommandLine/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-01-28 16:34] msebolt commented on #4026
Closing this issue now.

[2020-01-28 16:34] #4026 closed

[2020-01-28 16:44] msebolt commented on #4028
@brunomartinspro Thank you for the feedback and for providing the necessary changes.

Assigning this to an author for further review.

[2020-01-28 17:09] msebolt commented on #4030
@rsocol Thank you for the feedback.

Assigning this to the author for further review.

For product-related and/or support issues beyond the scope of this article, please start a ticket with the product team [here](https://feedback.azure.com/forums/908035-sql-server).

Additional options as per [support policy](https://support.microsoft.com/help/4047326/support-policy-for-microsoft-sql-server), als

[2020-01-28 17:19] msebolt commented on #4031
@LifeRyuto Thank you for the feedback.

Can you please specify the details of your query and SQL version?

On my machine the following query generates a "too short" error,

[code]

...but this query works without error,

[code]
...using SQL Server 14.0.2027.2.

[2020-01-28 17:21] msebolt commented on #4032
@MikeGriffinReborn Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-28 17:23] msebolt commented on #4033
@barryblessing Thank you for the feedback.

Assigning this to the author for further review.

[2020-01-28 18:09] nickstocker commented on #3969
Hi @MashaMSFT the reason I suggested documentation is because it doesn't mention taking out of multi user mode.  The steps I took were simply (except for backups etc):
1. Created the share with the same name on the secondary server
2. Configured permissions on the local log-shipping backup folder
3. Checked log shipping status. The latest was only on the primary server. This wasn't sync'd because

[2020-01-28 18:13] dbamaster opened #4038 "The January release information is missing"
I was checking the last version and month for the last release, I cannot find the January 2020 information.

![image](https://user-images.githubusercontent.com/38668645/73292502-63f85700-41bf-11ea-834b-219a8660db4a.png)

I also compared to my local installation (macOS), the version match the last one on the Microsoft docs page - no updates are available
![image](https://user-images.githubuserconte

[2020-01-28 20:22] msebolt commented on #4034
@KDNeufeld Thank you for the question, we apologize for any issues you're experiencing.

Assigning this to the author for review.

[2020-01-28 23:42] MashaMSFT commented on #3969
Hi @nickstocker , thanks for the additional context! Let me look into this for you :)

Thanks!
Masha from the SQL Docs team

[2020-01-29 00:10] LifeRyuto commented on #4031
@msebolt Thank you for your reply.

Sorry, I talked about SQL Database managed instance.

The following query generated a "too short" error.

[code]

[code]

[2020-01-29 00:11] ananth3010 opened #4041 "XML Core support for Azure SQL DB"
Link here specifies that Azure SQL database supports XML: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-multi-model-features#xml-features

Where as this link states Azure SQL DB is not supported: https://docs.microsoft.com/en-us/sql/relational-databases/xml/xml-data-sql-server?view=sql-server-ver15

Could you please update the support matrix in the "Applies To" section with the

[2020-01-29 09:15] nickstocker commented on #3969
Thanks very much @MashaMSFT

[2020-01-29 12:14] MisterY opened #4042 "No sudo"
There is no sudo in the latest images. How is this supposed to work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c90871c9-0cc1-9630-e129-fb0a90201977
* Version Independent ID: 53421935-b14c-82ef-70e6-2d382fa8e7f8
* Content: [Troubleshoot SQL Server on Linux - SQL Server](https://docs.microsoft.com/en-us/sql/linux/sq

[2020-01-29 12:15] MisterY opened #4043 "No sudo available"
In the latest default images, there is no sudo available. How are we supposed to open the ports?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d88f222-c450-29e0-922c-b83228df4985
* Version Independent ID: 416d38e5-c07f-dd58-f59c-5045f68054b8
* Content: [How to configure MSDTC on Linux - SQL Server](https://docs.micro

[2020-01-29 18:01] jensf commented on #3917
Thanks Mark.  Already on uservoice - unfortunately no traction.

-----Original Message-----
From: "Mark Ghanayem" <notifications@github.com>
Sent: Monday, January 27, 2020 12:36pm
To: "MicrosoftDocs/sql-docs" <sql-docs@noreply.github.com>
Cc: "Jens Frandsen" <jens.frandsen@vibesmg.com>, "Mention" <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs] shared keyboard shortcuts (#3917)

[2020-01-29 18:49] viniciuskoberwc opened #4046 "SQL Log Shipping Windows -> Linux"
Hi, it's possible to configure log shipping in a scenario where the primary server is running SQL Server 2017 on an Windows Server 2016, and the secondary server is running an Linux distro?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3bc9b9-65f5-13bb-53c5-ed929a94b638
* Version Independent ID: eccef86a-10ea-2bbb-a

[2020-01-29 19:07] ErikEJ opened #4047 "Data migration Assistant missing"
Why is Data migration assistant not included??

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: 8af0672c-3e79-244d-4d09-5e7fb857345d
* Version Independent ID: f4b35a5c-1e55-d7e6-63be-b40dbc421039
* Content: [SQL tools overview - SQL Server](https://docs.microsoft.com/da-dk/sql/tools/overview-sql-tools?view=

[2020-01-29 19:58] gbjbaanb opened #4048 "glibc 2.18"
The page says "You must have a RHEL 7.3, 7.4, 7.5, 7.6, or 8 machine" (well, I have CentOS so no real difference) but the SQL Server installation requires glibc 2.18, and CentOS comes with 2.17 with no option to update it (as RHEL doesn't change glibc within major versions).

The SQL Server versions retrieved from the link was  mssql-server-15.0.4003.23-3.x86_64

The error reported is:

/opt/mssql

[2020-01-29 20:08] gbjbaanb commented on #4048
My fault - I grabbed the original repo using the curl link in the article to get the mssql repo, which was for rhel 8. Changing the 8 to 7 and re-installing works.

[2020-01-29 20:15] msebolt commented on #4037
@brunomartinspro Thank you for the feedback.

Assigning this to an author for further review.

We could make the download link more present, though any changes involving packages should be submitted to the product team [here](https://feedback.azure.com/forums/908035-sql-server).

[2020-01-29 20:19] msebolt commented on #4038
@dbamaster Thank you for the feedback.

Assigning this to the author of [Release Notes for Azure Data Studio](https://docs.microsoft.com/sql/azure-data-studio/release-notes-azure-data-studio) for further review.

[2020-01-29 20:39] msebolt commented on #4042
@MisterY Thank you for the feedback.

Please provide information on what image you're using and we will try to resolve this issue.

Note that tests on the latest Ubuntu 18.04 image does not experience this problem.

[2020-01-29 20:41] msebolt commented on #4043
@MisterY Thank you for the feedback.

This issue is currently active in https://github.com/MicrosoftDocs/sql-docs/issues/4042.

Please refer there for additional questions and/or concerns.

[2020-01-29 20:41] #4043 closed

[2020-01-29 20:41] MisterY commented on #4042
@msebolt, thanks for the feedback. I was using "latest" and later "2017-latest" but didn't manage with either. I guess that "latest" uses "2019-latest".

[2020-01-29 20:43] MisterY commented on #4042
Oh, that's interesting. According to the table at https://hub.docker.com/_/microsoft-mssql-server, both of the images I mentioned are using 16.04 and I've read elsewhere that su is disabled and sudo needs to be installed separately, which is not possible, unfortunately.
Which tags can I use to get 18.04?
Thanks

[2020-01-29 20:46] msebolt commented on #4041
@ananth3010 Thank you for the feedback.

Assigning this to the author of [XML data](https://docs.microsoft.com/sql/relational-databases/xml/xml-data-sql-server) to reconcile.

@jovanpop-msft

[2020-01-29 22:05] BrentOzar opened #4049 "Incorrect page link"
In the "SQL Server 2016 Database Engine" section on this page, the "See Database Engine" redirects back to this page itself: https://docs.microsoft.com/en-us/sql/database-engine/configure-windows/what-s-new-in-sql-server-2016-database-engine?view=sql-server-ver15

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92039d2f-

[2020-01-30 00:38] WilliamAntonRohm commented on #4048
@gbjbaanb -- Andy, thank you for your feedback, resolution, and avatar.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-01-30 00:38] #4048 closed

[2020-01-30 00:40] WilliamAntonRohm commented on #4049
@BrentOzar -- Brent, thank you for your keen eye.  I am looking into this document.

[2020-01-30 03:00] dnethi commented on #3328
That is correct Mark. We haven't changed anything in that area.

[2020-01-30 03:01] dnethi commented on #3328
@rsocol - The debugger functionality is available in SSDT.

[2020-01-30 05:14] mrdenny opened #4050 "There's no documentation about the <termination> flag"
The &lt;termination&gt; flag needs some documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e24f87c-7a50-8dbe-a818-c603c979c5e4
* Version Independent ID: 07401c95-1053-03ff-abc6-b6b18c5f3fef
* Content: [ALTER DATABASE (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-da