[2020-06-01 20:36] WilliamAntonRohm commented on #4895
@brettshearer -- Brett, thank you for your feedback.

@CarlRabeler -- Carl, please look into this issue.

[2020-06-01 20:39] WilliamAntonRohm commented on #4890
@DickBaker -- Dick, thank you for your feedback.

@MladjoA -- Mladen, please look into this issue.

[2020-06-01 21:04] CarlRabeler commented on #4895
#resassign: pmasl

[2020-06-01 22:45] markingmyname commented on #4419
@walteriousnut,

First, I apologize for the delay.

Second, good catch.

I will update the article.

[2020-06-01 22:56] markingmyname commented on #4419
PR - https://github.com/MicrosoftDocs/sql-docs-pr/pull/15218

[2020-06-01 22:57] markingmyname commented on #4419
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit Azure Data Studio repo(https://github.com/microsoft/azuredatastudio)

[2020-06-01 22:57] #4419 closed

[2020-06-01 23:09] markingmyname commented on #4724
@hkonomi1,

Are you still experiencing this issue?

@UnimplementedTrap,

Can I ask what error you are getting, please?

This is important if you can't download it.

[2020-06-02 00:11] markingmyname commented on #4736
@Firmbyte

Sorry for the delay.

we are investigating this.

Thank you.

[2020-06-02 00:19] markingmyname commented on #4757
@sdeshbhratar,

We apologize for the delay.

You can choose which way you would like to handle this going forward.

You can create a Support ticket with the info below...

Please visit one of the following pages depending on your product or service.

[On Prem users](https://support.microsoft.com/en-us/supportforbusiness/productselection)
[SQL on Azure](https://ms.portal.azure.com/#home)
[Services

[2020-06-02 00:19] markingmyname commented on #4757
Thanks for the feedback! However, this area is primarily for doc issues. To report product issues, the best way to reach out to the team is at [UserVoice](https://feedback.azure.com/forums/908035-sql-server).

[2020-06-02 00:19] #4757 closed

[2020-06-02 01:35] UnimplementedTrap commented on #4724
I have a different error than before.
From the SQL Server 2017 installer I clicked "Install SQL Server Management Tools"
IE-11 Opens up and gets the following error.

![image](https://user-images.githubusercontent.com/49542265/83469986-a8825080-a446-11ea-9ce3-4724e45c3c7a.png)

Chrome opens the page just fine.

As a test I added go.microsoft.com to the trusted sites under Internet Options -> Secur

[2020-06-02 01:40] julieMSFT commented on #4367
@gbritton Thank you for contacting Microsoft. I am sorry for the delay in addressing your concerns. I am verifying your comment with the product group.

[2020-06-02 01:47] markingmyname commented on #4724
@UnimplementedTrap

Can you verify on the server under IE Enhanced security is set to OFF?

![image](https://user-images.githubusercontent.com/22989000/83470973-129bf500-a449-11ea-9300-11aac484df24.png)

[2020-06-02 01:47] markingmyname commented on #4724
if that is not set you cannot download on a Windows Server via IE.

[2020-06-02 01:57] benjaminselby opened #4897 "What provider to use for accessing Excel files via automated processes?"
You state:

"The ACE provider (formerly the Jet provider) that connects to Excel data sources is intended for interactive client-side use. If you use the ACE provider on SQL Server, especially in automated processes or processes running in parallel, you may see unexpected results."

So, what provider SHOULD we use for automated processes then?

---
#### Document Details

⚠ *Do not edit this sectio

[2020-06-02 02:01] UnimplementedTrap commented on #4724
It is Off.
When I first commented https://github.com/MicrosoftDocs/sql-docs/issues/4724#issuecomment-635514876
Using IE-11, I could load the "Download SQL Server Management Studio (SSMS)" page, I just couldn't connect to https://aka.ms/ssmsfullsetup

Now I can't even load the "Download SQL Server Management Studio (SSMS)".

I have downloaded/installed everything I need, so I don't need any help.

[2020-06-02 02:08] julieMSFT commented on #4433
@KalleOlaviNiemitalo Hello and thank you for contacting Microsoft. I am sorry for the delay in our response. Your observation is correct. If the object_name is a fully qualified name  it can have four parts: the server name, the database name, the owner name, and the object name. Each of these parts is type sysname. So if all four are present, the object_name is not type sysname.  I will update th

[2020-06-02 10:20] ccparkhill commented on #4784
Date is 7th April 2020:
https://www.microsoft.com/en-us/download/details.aspx?id=56128

[2020-06-02 14:21] dgshaver commented on #3606
It doesn’t appear so. I think Mike discussed it with the developer that owns the feature, but I don’t recall what the outcome was.

Thanks,
Dan Shaver
Microsoft Big Data and Analytics Support
980 776 7817
Work schedule: M – F, 08:00 to 17:00 US Eastern Standard Time Zone

From: Christopher Sharkey <notifications@github.com>
Sent: Monday, June 1, 2020 1:31 PM
To: MicrosoftDocs/sql-docs <sql-docs@no

[2020-06-02 14:49] ev2900 commented on #3606
Ok should I reopen the issue then or do you feel that it isn't appropriate to include this information in the documentation?

[2020-06-02 14:53] markingmyname commented on #4724
@UnimplementedTrap,

Thank you for clarifying and bringing this to our attention.

We will continue to investigate this situation with SSMS being downloaded via IE 11 on WS 2019.

[2020-06-02 14:55] markingmyname commented on #4724
@hkonomi1,

Since I cannot repro the issue, please open a support ticket for further assistance.

Please visit one of the following pages depending on your product or service.

[On Prem users](https://support.microsoft.com/en-us/supportforbusiness/productselection)
[SQL on Azure](https://ms.portal.azure.com/#home)
[Services Hub (Unified/premier customers)](https://serviceshub.microsoft.com/support

[2020-06-02 14:55] #4724 closed

[2020-06-02 15:13] rothja commented on #4542
I'm fixing the screenshots in this article today to make them have a permanent white background. Thanks!

[2020-06-02 15:37] rothja commented on #4320
Fixing assignees for reporting: #reassign:jaszymas

[2020-06-02 15:37] rothja commented on #4320
#assign:VanMSFT

[2020-06-02 15:40] #4542 closed

[2020-06-02 15:41] rothja commented on #4113
@StingyJack Andrew, I apologize for the delayed response. Thanks for your suggestion on what content should appear in the target page. I am reaching out to the product team to confirm the changes and updates that are needed. I'll keep this open while I explore. Thank you!

[2020-06-02 15:49] Mnior commented on #4838
Hi, MashaMSFT. Thanks for reply. I will answer your questions.

I`m work from single workspace: Win10 & SSMS 17.9.1 - all are English native.

Many servers use different versions of OS & SQL Server and different localities.
Our solutions using user locality and also custom SQL messages.
In this case, I noticed that Russian version of OS are influence to the logic of the translations.
Our client wi

[2020-06-02 16:03] rothja commented on #4206
@BrilliantTechie Thanks for your patience. I took some time to look carefully at the sample, and I do think you're correct. It seems to be an extra step to join to the PurchaseOrderHeader table when the vendor ID is already in the inserted table. At the same time, I don't see any reason why joining hurts (except for the inefficiency). I don't have the time right now to thoroughly test our assumpti

[2020-06-02 16:03] #4206 closed

[2020-06-02 16:18] kidmusky opened #4898 "SMO Server Event Handling Issue"
There appear to be some security considerations for subscribing to SQL Server events not addressed by the article titled "Handling SMO Events". Using the sample code provided, I encounter an error that states: "Cannot start an event subscription" and "The RPC server is unavailable". I am an administrator on the target server and have successfully used SMO to perform many tasks using the DataTransf

[2020-06-02 16:51] #4611 closed

[2020-06-02 16:56] stevestein commented on #4103
@IanKemp - thanks for raising this issue.
@srutzky - thanks for responding and updating the related docs!

[2020-06-02 16:59] stevestein commented on #4103
PR #4747 should get merged and go live later today or tomorrow.
#please-close

[2020-06-02 16:59] #4103 closed

[2020-06-02 17:14] markingmyname commented on #4779
@mco100

Apologizes for the delay.

We are investigating this.

[2020-06-02 17:21] joesackmsft commented on #4896
Hi sql-deadwood,

DTU model still has schedulers allocated to it based on DTU model selected.  The higher the DTU level, the more processors behind the scenes available to the database.  You can confirm the actual allocated count by using sys.dm_os_schedulers (with status = VISIBLE ONLINE).

Best Regards,
Joe

[2020-06-02 17:27] markingmyname commented on #4793
Typo or minor correction:

Good eye, @rdouglas66. We’ve forwarded it to the writer, who should respond soon. Thanks!

Also, @[Github user], did you know: For minor things like typos, you can edit the doc! Click the little Edit pencil icon in the article, then click the little Edit pencil in GitHub, make your change, scroll to the bottom, and click the Propose file change. And voila! It's sent dire

[2020-06-02 17:51] markingmyname commented on #4793
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-06-02 17:51] #4793 closed

[2020-06-02 17:51] julieMSFT commented on #4879
@dcbrown16 Hello and thank you for contacting Microsoft. SQL Serve by default sends events to the Windows application log. If you would like to log SQL Server Agent jobs to the Windows application log see https://docs.microsoft.com/en-us/sql/ssms/agent/write-the-job-status-to-the-windows-application-log?view=sql-server-ver15. Please let me know if you have further questions.

[2020-06-02 18:02] markingmyname commented on #4779
The issue has been reassigned to get a further investigation.

[2020-06-02 19:38] rothja commented on #4519
@davidsk I'm going to be updating those images today. Your issue will close when the changes have been merged in. Thanks, again, for letting us know! #assign:rothja

[2020-06-02 20:21] stevestein commented on #4199
@jxfreeman - thanks for the feedback. Yeah, it's hard to address the many scenarios and potential caveats associated with each feature.

Thanks for the clarification. We're going to go ahead and close this one.

#please-close

[2020-06-02 20:21] #4199 closed

[2020-06-02 20:25] WilliamAntonRohm commented on #4891
@StingyJack -- thank you for your question.  We are investigating.

[2020-06-02 20:56] #4519 closed

[2020-06-02 20:57] WilliamAntonRohm commented on #4898
@kidmusky -- thank you for your question regarding this article:
https://docs.microsoft.com/en-us/sql/relational-databases/server-management-objects-smo/create-program/handling-smo-events

Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to ad

[2020-06-02 20:57] #4898 closed

[2020-06-02 20:59] #4803 closed

[2020-06-02 21:09] cosmoKenney opened #4901 "Where is the Test scripts folder?"
Can't find the test scripts folder mentioned in the documentation. And there is no Test.sql file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c697524f-08a8-b961-a673-d93a92e7a13a
* Version Independent ID: b16d93e1-709f-e7b5-2928-9e12d2756cf8
* Content: [Debugging CLR Database Objects - SQL Server](https://docs.micro

[2020-06-02 21:16] WilliamAntonRohm commented on #4885
@CarlRabeler -- Carl, please review [private PR 15237](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15237).

[2020-06-02 21:27] markingmyname commented on #4816
@Ash46,

SQLNCLI - from sqlncli.dll is deprecated, and SQL Native Client remains deprecated. However, sqlncli11.dll is still shipped with SQL Server 2019. I believe it's a different iteration sqlnclirda11.dll. SQL Native Client is no longer receiving updates, but there should be no issues with the provider working to connect to SQL Server 2019.

I will add this Note to the article as well.

The ar

[2020-06-02 21:35] David-Engel commented on #4889
@v-zhangw Can you take a look at this?

Thanks,
David

[2020-06-02 21:42] stevestein commented on #4060
@ESTOCKY - thanks for raising this issue.

The article has been updated and the applies to no longer applies to DW.

#please-close

[2020-06-02 21:42] #4060 closed

[2020-06-02 22:02] VanMSFT commented on #4897
Server side automation is not supported for Excel. Please see the following for some considerations: https://support.microsoft.com/en-us/help/257757/considerations-for-server-side-automation-of-office

You can still use the ACE Provider, but you might run into various issues stated above.

[2020-06-02 22:04] markingmyname commented on #4783
@DikAlex777,

We will update the article.

The update should be live by the end of the week.

Thank you.

[2020-06-02 22:04] markingmyname commented on #4783
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-06-02 22:17] MikeRayMSFT commented on #4891
Hi @StingyJack

The [Editions and supported features](https://docs.microsoft.com/sql/sql-server/editions-and-components-of-sql-server-version-15?view=sql-server-ver15) article doesn't apply to Azure SQL Database because SQL Database doesn't have different editions.

Online Index Operations is supported in Azure SQL DB and in SQL Server Enterprise Edition.

Thank you for submitting the comment.

[2020-06-02 22:17] #4891 closed

[2020-06-02 22:24] #4783 closed

[2020-06-02 22:35] julieMSFT commented on #4433
@KalleOlaviNiemitalo Hello, I have updated the article to reflect that the input parameter "object_name' can hold up to 512 bytes, 128 for each part of the 4 part name, server, database,schema,object. You should see the update soon.
I will proceed with closing out this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hop

[2020-06-02 22:35] markingmyname commented on #4816
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-06-02 22:35] #4816 closed

[2020-06-02 22:35] julieMSFT commented on #4433
#https://github.com/MicrosoftDocs/sql-docs-pr/pull/15228

[2020-06-02 22:36] julieMSFT commented on #4433
#please-close

[2020-06-02 22:36] #4433 closed

[2020-06-02 22:42] MikeRayMSFT commented on #4894
Hi @ev2900 thanks for pointing this out.

The samples are written to run in various terminals. In this case a bash shell uses single quotes while command prompt uses double quotes. I see a couple other problems though. I'm going to keep this item open for  a bit while we look into it.

Appreciate you mentioning it.

Mike

[2020-06-02 23:24] #4885 closed

[2020-06-02 23:57] pokorourk opened #4902 "Exclude Object Type: Always Encrypted Column Master Keys and Column Encryption Keys"
I'm not seeing an option to exclude these two object types. Is it possible to do so with sqlpackage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac30c0d5-990b-1114-cb66-d6bbb789b698
* Version Independent ID: 9432dace-7676-2a86-485a-dd5bc6568e86
* Content: [SqlPackage.exe - SQL Server](https://docs.microsoft.com/en-u

[2020-06-03 00:44] xhuyvn opened #4903 "python Package can not upgrade"
Hi

I'm trying to upgrade pandas from version 0.2.4 to newest 1.0.2, but it can not upgrade.
I'm using slqmultils with option upgrade=True and manual upgrade using pip on the server, but it can not, the code run well but nothing happen.
How can I upgrade the python package in SQL server ML services?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-06-03 05:21] KalleOlaviNiemitalo commented on #4433
@julieMSFT, I am not sure what you wrote in the article, because the change is not yet live and I am not authorized to access [MicrosoftDocs/sql-docs-pr#15228](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15228); but "512 bytes" is not enough because each of the four parts can have 128 UTF-16 code units rather than only 128 bytes. Even **nvarchar(512)** would not be enough because the separat

[2020-06-03 06:04] brettshearer opened #4904 "Usual versioning questions - page doesn't exist for SQL 2014 - does the feature exist?"
Hi - page doesn't exist for SQL 2014. Does the feature exist or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06c19e20-fa88-9a9f-6fcf-2fd79cc29379
* Version Independent ID: 6b6acaef-86eb-a7d4-4273-5914deb4647b
* Content: [NULLIF (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/language-elem

[2020-06-03 06:19] VanMSFT commented on #4698
Internal discussion going on

[2020-06-03 06:22] VanMSFT commented on #4499
Thank you everyone for the discussion. This is something I will review with the Product Team, and see if we can provide clearer documentation. We appreciate the input.

[2020-06-03 06:47] VanMSFT commented on #3997
We're working on getting the list updated, and the doc should be changed soon. We appreciate your patience, and thank you so much for bringing it to our attention!

[2020-06-03 06:52] VanMSFT commented on #3968
Hi @ferronsw! I apologize for the delay. The way to use AE with .NET Core is using the new Microsoft.Data.SqlClient provider: https://docs.microsoft.com/sql/connect/ado-net/sql/sqlclient-support-always-encrypted?view=sql-server-ver15

There are currently no plans to document EF with AE.

[2020-06-03 06:52] #3968 closed

[2020-06-03 06:58] VanMSFT commented on #4259
Hi @Tim-Bijnens! Sorry for the delay! I spoke with the Product Team, and although there will not be additional documentation written at this time on Always Encrypted with Azure Key Vault, we do discuss this topic extensively here: https://docs.microsoft.com/sql/connect/ado-net/sql/sqlclient-support-always-encrypted?view=sql-server-ver15

It's not a step by step tutorial, but I'm hoping this helps.

[2020-06-03 06:58] #4259 closed

[2020-06-03 07:07] VanMSFT commented on #4320
Hi @KrystinaWoelkers! Thank you for bringing this issue to our attention! I have fixed the typo with Add-AzKeyVaultKey.

Regarding the tutorial, we'll add that to our backlog, but you should be able to look at the [Windows Certificate Store with Role Separation (Example)](https://docs.microsoft.com/sql/relational-databases/security/encryption/configure-always-encrypted-keys-using-powershell?view=s

[2020-06-03 07:11] VanMSFT commented on #4337
Hi @mpMelnikov! Thanks for bringing this issue to our attention. Rich computation is no longer in preview status. We have fixed the doc. We really appreciate your assistance!

[2020-06-03 07:11] #4337 closed

[2020-06-03 07:12] #4320 closed

[2020-06-03 07:14] VanMSFT commented on #4171
@ahmedifhaam - We'll close this for now, but please follow-up if you have any concerns. Thanks!

[2020-06-03 07:14] #4171 closed

[2020-06-03 07:15] VanMSFT commented on #4172
Hi @ahmedifhaam - Ryan has updated the doc, and I hope that clears up this question for you. Please follow-up if there are any concerns. We appreciate your input.

[2020-06-03 07:15] #4172 closed

[2020-06-03 07:24] VanMSFT commented on #3805
Hi @JohnNelsonNmbr2! Sorry for the delay. For Truncate on RLS, this is not honored. Truncate requires alter table permission and simply deallocates the existing PAGES from the table. So it would have to be rewritten into a partial DELETE to be honored.  The document list what is supported:

RLS supports two types of security predicates.

- Filter predicates silently filter the rows available to re

[2020-06-03 07:24] #3805 closed

[2020-06-03 07:53] VanMSFT commented on #4464
Hello @shai-g! Thank you for bringing this issue to our attention. I have updated the doc, and it should go live later today.

[2020-06-03 08:24] VanMSFT commented on #4601
Pinging the Product Team.

[2020-06-03 08:25] #4689 closed

[2020-06-03 08:30] VanMSFT commented on #4695
Hi @julieMSFT - Do you mind taking a look at this? Thanks!

#reassign:julieMSFT

[2020-06-03 08:32] VanMSFT commented on #4733
Hi @julieMSFT - Can you please take a look at this? Thanks!

#reassign:julieMSFT

[2020-06-03 08:38] VanMSFT commented on #4764
Hello @HugoKornelis - Can you please clarify? We do list the ORDER BY clauses in the [ORDER BY](https://docs.microsoft.com/en-us/sql/t-sql/queries/select-order-by-clause-transact-sql?view=sql-server-ver15) page, which is linked from the SELECT article.

![image](https://user-images.githubusercontent.com/40007119/83615020-db0d7580-a53a-11ea-8eb7-7b976030b8e3.png)

[2020-06-03 08:43] VanMSFT commented on #4765
Hello @brettrowberry! Thanks for your patience! I have fixed the typo in the doc, and it should be updated later today. We appreciate you bringing this to our attention!

[2020-06-03 08:55] #4765 closed

[2020-06-03 10:16] James-DBA-Anderson commented on #4807
Python allows this type of syntax as it makes diffs easier to read and copy and paste tasks a little easier and less prone to mistakes.

See this [answer](https://stackoverflow.com/questions/11597901/why-are-trailing-commas-allowed-in-a-list) for examples and PEP8 for an official explanation of why it was added to Python.

I only mention this as readability is important in any langauge and Python

[2020-06-03 13:44] ryepup opened #4905 "Incorrect links for educational resources"
Most of the links in the "Additional Resources" section on https://docs.microsoft.com/en-us/sql/sql-server/educational-sql-resources do not point to the intended sites.

All 5 links point to either `/azure/sql-database/sql-database-managed-instance` or `/azure/sql-database/sql-database-single-database`, and I think they are intended to be links to other sites:

[code]

This block starts at https:/

[2020-06-03 15:05] Protiguous opened #4906 "Non-consistent blue SQL keywords. Extra fluff in results shown."
Under the section "Fractional seconds" in the SQL example, both "millisecond" and "nanosecond" should be blue to be consistent.

Under the section "Examples":
 In the 1st example SQL, there is an unneeded "*/".

 In the 4th example SQL, the "SELECT TOP(1) DATEPART (year,'12/20/1974') FROM dbo.DimCustomer;" can be rewritten as "SELECT DATEPART(year,'12/20/1974');" as there are no columns used in th

[2020-06-03 15:26] Protiguous opened #4907 "The SQL examples A and B are not color-coded."
The SQL examples A and B are not color-coded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 277a5d00-6fcf-a830-0451-f0667dd806e8
* Version Independent ID: ac998a63-0675-de0c-c528-4b355c1d9d5f
* Content: [EOMONTH (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/functions/eomonth-transact-sql?view

[2020-06-03 15:30] pabeilke opened #4908 "Typo in the Permissions section"
In the Permissions section it names the permission as "ALTER ANY DATABASE SCOPE CONFIGURATION" and it should be "ALTER ANY DATABASE SCOPED CONFIGURATION" - note the D after SCOPE.

In the Examples section in "A. Grant Permission" it is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40d08d20-a910-1226-c65d-4089

[2020-06-03 16:26] markingmyname commented on #4736
@Firmbyte

After looking at the PS script, it seems it is used to create a Full-Text Index.

We are working on a new example to better fit this article.

Thank you for bringing this to our attention.

[2020-06-03 16:28] markingmyname commented on #4819
@WHinDenver

Thank you for bringing this to our attention.

The article will be updated with the current Operating Systems by the end of the week.

[2020-06-03 16:29] markingmyname commented on #4819
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-06-03 16:29] #4819 closed

[2020-06-03 16:38] VanMSFT commented on #4601
Hi @vibeeshan025 - Thank you for your patience. I confirmed that there's currently no update on the Linux Container on Windows memory bug. I'll go ahead and close this for now, but please let us know if you have any concerns.

[2020-06-03 16:38] #4601 closed

[2020-06-03 16:44] julieMSFT commented on #4433
#please-open

[2020-06-03 16:45] julieMSFT commented on #4433
@KalleOlaviNiemitalo Thank you for the additional information. I am checking with the engineering team as to the exact specs.

[2020-06-03 16:47] pmasl commented on #4807
True, but in SQL, a trailing comma in this context is not a part of the language norm. See in this source that shows the SQL92: https://ronsavage.github.io/SQL/sql-92.bnf.html#table%20element%20list

[2020-06-03 17:12] WilliamAntonRohm commented on #4902
@pokorourk -- thank you for your question.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to add this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any fol

[2020-06-03 17:12] #4902 closed

[2020-06-03 17:13] WilliamAntonRohm commented on #4903
@xhuyvn -- Xhuyvn, thank you for your question.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to add this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for an

[2020-06-03 17:29] julieMSFT commented on #4433
@KalleOlaviNiemitalo Hello, the parameter will accept all four parts of the name with dots and or delimiters. The important thing functionality for this function is that each part of the name is less than 256 bytes. I have update the doc and you should see it later today. Again, thank you for your contribution to Microsoft Docs.

[2020-06-03 17:43] CarlRabeler commented on #4908
just fixed - will be live later today
thank you

[2020-06-03 17:47] julieMSFT commented on #4907
#assign:julieMSFT

[2020-06-03 17:48] julieMSFT commented on #4907
@Protiguous Hello and thank you for contacting Microsoft. I have updated the document and you should see it later today. I will proceed with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-06-03 17:49] julieMSFT commented on #4907
#https://github.com/MicrosoftDocs/sql-docs-pr/pull/15254

[2020-06-03 17:49] julieMSFT commented on #4907
#plese-close

[2020-06-03 18:13] #4907 closed

[2020-06-03 18:29] julieMSFT commented on #4838
@Mnior Thank you for the additional information. We were able to reproduce the issue. I will update the doc the reflect the current behavior. You can file a feedback item at https://aka.ms/sqlfeedback or we can file it for you. If you file it, you will receive notifications and  can vote and monitor the progress more closely. Please let us know what you prefer. If we don't hear back from you in th

[2020-06-03 19:12] julieMSFT commented on #4477
@eric-miller-cdfw Hello and thankyou for contacting Microsoft. I am reviewing your comments

[2020-06-03 19:31] julieMSFT commented on #4695
@bhuesemann Hello and thank you for contacting Microsoft. I am sorry for the delay. I am am looking into your issue.

[2020-06-03 19:33] julieMSFT commented on #4733
@toddkitta Hello and thank you for contacting Microsoft. I am sorry for the delay in response. I am looking into your issue.

[2020-06-03 20:43] julieMSFT commented on #4733
@toddkitta Hello and thank you for contacting Microsoft. You are correct and the document has been updated. Thank you for helping to improve the documentation. I will proceed with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-06-03 20:45] julieMSFT commented on #4733
#https://github.com/MicrosoftDocs/sql-docs/pull/4859

[2020-06-03 20:45] julieMSFT commented on #4733
#please-close

[2020-06-03 20:45] #4733 closed

[2020-06-03 21:27] bhuesemann commented on #4695
@julieMSFT Thanks for addressing the issue. Happy to help if needed. The documentation issue is one (minor) thing, but it would also be great to know if this is meant to be added. Although my example is of course synthetic, it is a common use case to query relational graphs or hierachies using Sql with this pattern.

[2020-06-03 21:27] bkline opened #4909 "Illustration missing"
The page ends "The next illustration ..." but that illustration is not provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8606c200-380e-6d26-379d-3d948f4a03b2
* Version Independent ID: db53b0b2-7ee0-6f5b-fb76-48521d9c66e1
* Content: [Dynamic SQL - SQL Server](https://docs.microsoft.com/en-us/sql/odbc/reference/dy

[2020-06-03 21:37] julieMSFT commented on #4695
@bhuesemann Hi, recursive CTEs are not supported and this is mentioned in the doc, https://docs.microsoft.com/en-us/sql/t-sql/queries/with-common-table-expression-transact-sql?view=azure-sqldw-latest#features-and-limitations-of-common-table-expressions-in--and-. If you would like to request an enhancement to the product you can do so at https://feedback.azure.com/forums/307516-azure-synapse-analyt

[2020-06-03 21:39] julieMSFT commented on #4695
#please-close

[2020-06-03 21:39] #4695 closed

[2020-06-03 22:26] bhuesemann commented on #4695
Alright, thanks for the clarification. I've not seen this limitation description and section later on the page. I will add a feature request or vote if I find an existing one. Thanks!

[2020-06-03 22:44] WilliamAntonRohm commented on #4905
@ryepup -- Ryan, thank you for catching these.

@MashaMSFT -- Masha, please look into this issue.  If you give me a list of the intended URLs, I will create a PR to update them.

[2020-06-03 22:45] WilliamAntonRohm commented on #4906
@Protiguous -- thank you for your keen eye.  I am looking into this article.

[2020-06-03 22:47] WilliamAntonRohm commented on #4909
@bkline -- Bob, thank you for bringing this to our attention.

@David-Engel -- David, please look into this issue.

[2020-06-03 22:56] WilliamAntonRohm commented on #4904
@brettshearer -- Brett, thank you for your question.  I am investigating.  Meanwhile, please consider these resources:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-06-03 23:04] WilliamAntonRohm commented on #4872
@pmasl -- Pedro, please look into this issue.  If the answer is negative, I will create a PR to update the applicability.

[2020-06-03 23:30] MashaMSFT commented on #4905
Hi @ryepup, thank you so much for bringing this to our attention! I just caught this recently myself and am currently working on a fix :) Sorry about that!

[2020-06-04 00:14] David-Engel commented on #4909
I searched as far back as I could but it appears there was never any illustration. So I removed the last sentence. The change should be visible in tomorrow morning's doc publish.

Thanks,
David

#please-close

[2020-06-04 00:14] #4909 closed

[2020-06-04 14:41] cranstol opened #4912 "Typos in Example D"
LEAD(Sale sAmountQuota,1,0)

Column SalesAmountQuote should not have a space in it.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da87abf6-d598-f63d-3337-c7423770235b
* Version Independent ID: c88e4e6e-982c-dc13-d9b8-b513deee6732
* Content: [LEAD (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/s

[2020-06-04 15:32] markingmyname commented on #4893
@mufukuha
Added a new considerations and limitations section in the BCP utility article.

Expect updates to show live by the end of the week.

[2020-06-04 15:33] markingmyname commented on #4736
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-06-04 15:33] markingmyname commented on #4893
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-06-04 16:05] #4607 closed

[2020-06-04 16:13] bkline opened #4913 "First sentence of Remarks block doesn't make sense"
This sentence needs to be rewritten so that it's clear what is being passed as count-of-characters. As it is written, it's saying that the functions are passed as count-of-characters, which is nonsense.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8021345e-7a84-e71d-2182-5cf67b924721
* Version Independent ID: bb8f3a6

[2020-06-04 16:31] Protiguous commented on #4906
You are welcome! I like to think that I'm helping.
Now.. How can I get paid to edit these pages myself? Haha! (hmm..)

If notifying your editors of these when I come across them is *not *annoying,
shall I keep sending in notifications?

On Wed, Jun 3, 2020 at 4:45 PM William Anton Rohm <notifications@github.com>
wrote:

[2020-06-04 16:53] stevestein commented on #4636
@NaomiN - thanks for raising this issue.  Doc update should go live today. I updated the description/link:

Enables or disables query optimization hotfixes on the primary regardless of the compatibility level of the database. This is equivalent to [Trace Flag 4199](https://docs.microsoft.com/sql/t-sql/database-console-commands/dbcc-traceon-trace-flags-transact-sql). For details, see [QUERY_OPTIMIZ

[2020-06-04 16:53] stevestein commented on #4636
#please-close

[2020-06-04 16:53] #4636 closed

[2020-06-04 17:03] bkline opened #4914 "Confusing requirement for output buffer"
[Input] Length of *CursorName, in characters. If the value in *CursorName is a Unicode string (when calling SQLGetCursorNameW), the BufferLength argument must be an even number.

Since, as is made clear elsewhere in the Microsoft ODBC documentation, the driver is required to append the null terminator character at the end of the returned string value, and since the values returned by `SQLGetInfo()

[2020-06-04 17:08] WilliamAntonRohm commented on #4912
@cranstol -- James, thank you for your feedback.  I am looking into this article.

[2020-06-04 17:10] WilliamAntonRohm commented on #4913
@bkline -- Bob, thank you for your feedback.  I am looking into this article.

[2020-06-04 17:12] WilliamAntonRohm commented on #4914
@bkline -- Bob, thank you for your feedback.

@David-Engel -- David, please look into this issue.

[2020-06-04 17:21] cosmoKenney commented on #4901
@WilliamAntonRohm I'm sorry, but the documentation says there are folders and files in a CLR stored procedure project that don't get created by Visual Sudio 2019's new item template. So this issue is not a coding issue for Stack Exchange/Overflow. I believe the documentation is wrong.

[2020-06-04 17:53] WilliamAntonRohm commented on #4901
@cosmoKenney -- Ken, thank you for clarifying.

@rothja -- Jason, please look into this issue.

[2020-06-04 18:53] mpolena opened #4915 "Figure on the page looks distorted"
Figure on the page, although it renders well here, looks distorted on both chrome and safari:
https://docs.microsoft.com/en-us/sql/relational-databases/import-export/use-a-format-file-to-skip-a-table-column-sql-server?view=sql-server-ver15

The text is unreadable.
[
![image](https://user-images.githubusercontent.com/3845622/83798866-81a46400-a66a-11ea-8542-d7217724e40e.png)
](url)

[2020-06-04 19:41] WilliamAntonRohm commented on #4915
@mpolena -- thank you for your feedback.  On my Windows 10 machine, the image appears fine in both Edge & Chrome.  Safari is no longer supported for Windows.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-06-04 19:41] #4915 closed

[2020-06-04 19:47] Firmbyte commented on #4736
Thank you!!!

Regards,
*Iain Barnetson*

On Thu, Jun 4, 2020 at 10:33 AM Mark Ghanayem <notifications@github.com>
wrote:

[2020-06-04 20:22] #4870 closed

[2020-06-04 21:06] #4736 closed

[2020-06-04 21:07] #4893 closed

[2020-06-04 21:26] ryanmar commented on #2652
I am also experiencing this problem.   The right-context menu does not work around the issue.   This is with SSMS version  xxx.   It reproduces when run under Administrator or restricted Windows permission, and connecting using Domain, Local System and SQL Server accounts.  (Yes, I went through the matrix).   I am willing to provide whatever debugging data or access anyone want to take a look at t

[2020-06-04 21:31] ryanmar commented on #2652
Nevermind.  Known issue.

[2020-06-04 23:46] #4912 closed

[2020-06-04 23:46] WilliamAntonRohm commented on #4912
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2020-06-05 04:13] srutzky opened #4916 "Is JSON a valid EXTERNAL FILE FORMAT?"
According to this documentation, either of the following statements should work in SQL Server 2019:

[code]

Yet both result in the following error:

[code]

I'm using SQL Server 2019, CU4. I originally tested while still at the GDR patch level and it behaved exactly the same way.

I am, however, able to execute the following two statements successfully:

[code]

Is it possible that the JSON optio

[2020-06-05 05:17] srutzky commented on #4840
Hi @openStove (and @MikeRayMSFT and @WilliamAntonRohm ): I believe this only works with SQL Server logins. Please see the following:

* [SQL Server 2019 Bug: PolyBase and Windows Authentication](https://36chambers.wordpress.com/2020/03/16/sql-server-2019-bug-polybase-and-windows-authentication/)
* [An example of Polybase for Oracle](https://techcommunity.microsoft.com/t5/sql-server-support/an-exam

[2020-06-05 07:43] srutzky commented on #4841
@OneLonelly (and @VanMSFT and @CarlRabeler ): I think there was a little misunderstanding of my StackOverflow answer noted by @OneLonelly . The "CLR strict security" server configuration option (new in SQL Server 2017), does require that all assemblies meet the same requirements that `UNSAFE` assemblies have. And yes, 1 of the 3 options is registering a hash of the assembly to make it a "trusted"

[2020-06-05 09:31] IanKemp opened #4917 "Explain why cast and convert don't support alias types"
In the description for the arguments, `data_type` states:

Why is this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f56efc1-e90f-68dd-cb02-2f2ba21373fd
* Version Independent ID: aa110136-4520-ed90-97fe-1fdedd1863ad
* Content: [CAST and CONVERT (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/

[2020-06-05 14:32] IanKemp opened #4919 "Where are we supposed to file bug reports related to DacFX?"
UserVoice is a black hole of "if it's not upvoted it's ignored".

https://github.com/microsoft/DACExtensions/issues has not received Microsoft employee feedback in over 3 years.

Where should these issues be directed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 121d051e-9962-0554-b11d-ba22c1802ff7
* Version Independ

[2020-06-05 15:13] mpolena commented on #4915
@WilliamAntonRohm thanks for the prompt response.  I failed to mention that I was viewing the page on a Mac.

[2020-06-05 20:26] shueybubbles opened #4920 "The docs for dbcc tracestatus (-1) seem inaccurate"
[code]
According to the doc, the tracestatus call should only return flags where Global = 1.
But it returns this:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c899fb63-ed2a-e421-e0b1-54185aeafe8d
* Version Independent ID: 4292074a-42c5-cd9c-147d-d12d050e3994
* Content: [DBCC TRACESTATUS (Transact-SQL) - SQL Ser

[2020-06-05 20:31] WilliamAntonRohm commented on #4916
@srutzky -- Solomon, thank you for your question.  Please see the following resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@CarlRabeler -- Carl, please look into this issue.

[2020-06-05 20:44] WilliamAntonRohm commented on #4919
@IanKemp -- Ian, thank you for your question.  Please consider adding your issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

cc @pensivebrian for awareness

[2020-06-05 20:44] #4919 closed

[2020-06-05 20:46] WilliamAntonRohm commented on #4920
@shueybubbles -- David, thank you for your feedback.

@pmasl -- Pedro, please look into this issue.

[2020-06-05 21:11] v-zhangw commented on #4889
Currently being addressed.

[2020-06-05 21:47] WilliamAntonRohm commented on #4917
@IanKemp -- Ian, thank you for your feedback.

@pmasl -- Pedro, please look into this issue.

[2020-06-05 22:02] WilliamAntonRohm commented on #4906
@Protiguous -- you are welcome to send in anything you find!

[2020-06-05 22:17] WilliamAntonRohm commented on #4913
@David-Engel -- David, please review [private PR 15313](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15313).

[2020-06-05 23:02] David-Engel commented on #4913
@WilliamAntonRohm Done. Looks good to me.

[2020-06-05 23:32] #4913 closed

[2020-06-05 23:33] WilliamAntonRohm commented on #4913
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2020-06-05 23:49] bkline commented on #4913
Super, thanks!

[2020-06-06 13:36] Protiguous opened #4921 "The SQL in Section C needs fixed."
The SQL in Section C, "Using FORMATMESSAGE with THROW" is not formatted correctly and not colored correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 525698d4-0465-5fe0-f09d-dfad8b8413e6
* Version Independent ID: 2ece841a-2d51-542e-6c2b-9d36ffe54202
* Content: [THROW (Transact-SQL) - SQL Server](https://docs.micr

[2020-06-07 03:58] StingyJack commented on #4891
@MikeRayMSFT  - Seeing as Azure SQL database is just an install of SQL Server (probably Enterprise) on a VM that I dont have to manage it seems to be splitting hairs a bit that its not one of the editions of SQL server, but thanks for the confirmation nonetheless.

[2020-06-07 10:58] openStove opened #4922 "Example needed here"
In the documentation for flattening, you are showing the source data, and describe what will be the output, but I'm missing an example form how the external tables are needed to be configured for that... Not only describe it, but providing a concrete example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abe9b545-6797

[2020-06-07 16:11] Protiguous opened #4923 "SQL in Sections A, B, and C are not colored."
The SQL in Sections A, B, and C are not colored.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a768b81-c094-3a48-a8d5-0697ce6b78d7
* Version Independent ID: 65ae8973-f433-a826-d779-4ac4feb54f1c
* Content: [FORMATMESSAGE (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/functions/formatmessage-tr

[2020-06-07 21:43] MaDnKount-r commented on #1657
Ok. So let me get this straight. Sure the user install is more efficient for the install and upgrades. But there's no guarantee I'd be the only user with access to the download. Where as the system install perhaps has some sort of parameters that I can set into place. Am I getting this right?

[2020-06-08 00:45] pmasl commented on #4917
Please provide an example of what you mean (alias type, CLR type, etc). UDTs are supported. See https://docs.microsoft.com/en-us/sql/t-sql/functions/cast-and-convert-transact-sql?view=sql-server-ver15#implicit-conversions for details of which conversions are possible.

[2020-06-08 04:29] #4717 closed

[2020-06-08 07:43] noontz opened #4924 "Please update the documentation to reflect that this feature currently is extremely error prone, upon opening existing diagrams"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8bc803d-3aee-0e1f-ab64-31c5af48e9f9
* Version Independent ID: 472fcb4b-39c3-72a3-d2af-4eba68b72f04
* Content: [Create a New Database Diagram - Visual Database Tools](https://docs.microsoft.com/en-us/sql/ssms/visual-db-tools/create-a-new-database-diag

[2020-06-08 11:57] SheepRock opened #4925 "Specify port syntax"
The page should present how to specify a port other than the default to connect.

It could, for example, in the "_Server name_" row of the table says something like "_Enter the name of the target Linux SQL Server machine or its IP address and port, in the format **IP,port**._"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-06-08 12:44] bestickley opened #4926 "FIELD ID property and COLUMN SOURCE property have to be number?"
All of the examples have the FIELD ID property being a number that increase for each FIELD tag. Example:
[code]

Is it ok if I use a string/text that better describes the column?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3d260a6-975c-b738-9907-7480f1a9f79e
* Version Independent ID: 28939f55-94c8-e305-95ff

[2020-06-08 16:35] julieMSFT commented on #4906
@Protiguous When you're suggesting a simple change to the documentation,  it may be faster for you to submit the edit yourself via a Pull Request (PR). You can do so by following these steps:
1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil" icon on the right
4. Modify the text within the text box in [markdown](https://github.com/ad

[2020-06-08 16:37] stevestein commented on #4333
@Trovalo - thanks for the feedback.

You are correct, the physical_database_name column is new for SQL 2019.

#please-close

[2020-06-08 16:37] #4333 closed

[2020-06-08 16:40] pensivebrian commented on #4919
@IanKemp - You can also use https://developercommunity.visualstudio.com and file the issue against SSDT. The DacFx team monitors this queue for issues that are DacFx specific.

[2020-06-08 16:41] rothja commented on #4901
@cosmoKenney I agree the documentation needs work here. Sorry for the confusion. I think it was written for previous versions of Visual Studio and no longer behaves the same in current versions. I will try to see what the new process should be. Thanks for your patience.

[2020-06-08 17:28] IanKemp commented on #4917
Yes, I am talking about alias types. I have updated the title to reflect this.

[code]

yields:

[code]

I don't understand why this can't work. Wouldn't it be as simple as looking up the underlying system type and using that?

It cannot be that alias types can be defined as `NOT NULL`, since some system types are defined as such and the conversion still works. For example `sysname`:

[code]

[2020-06-08 17:49] stevestein commented on #4395
@KevinPence - thanks for the feedback. Considering it's not technically wrong and has been this way for several versions we're going to leave it as is.

Thanks!

#please-close

[2020-06-08 17:49] #4395 closed

[2020-06-08 17:58] markprycemaher opened #4930 "result_cache_hit is returned as a decimal"
The value of result_cache_hit in the DMV is Decimal, but the value in the table is Hex.
It would be useful to have the decimal value in the table as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 073a14b1-1a4b-6da7-4c45-16bbdd0e7bf9
* Version Independent ID: d593d8af-ecd4-c2f7-b1ab-ce0e256bf82d
* Content: [sys.dm

[2020-06-08 18:14] julieMSFT commented on #4367
@gbritton1 Hello, I have researched when FORMATMESSAGE was introduced. While it may have been present in earlier versions, it was not publicly documented and not formally supported. FORMATMESSAGE was announced and is supported SQL Server 2016 (13.x) through the current version. The SQL 2012 content has been archived and is not being updated. I will proceed with closing this issue.

The @notificati

[2020-06-08 18:14] julieMSFT commented on #4367
#please-close

[2020-06-08 18:14] #4367 closed

[2020-06-08 18:17] CarlRabeler commented on #4841
#reassign: @VanMSFT

[2020-06-08 18:21] stevestein commented on #4253
@Bartolomeus-649 - thanks for the feedback.

There's some additional info in the [create function article](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-function-transact-sql?view=sql-server-ver15#computed-column-interoperability).

The precision and determinism properties of Transact-SQL functions are determined automatically by SQL Server. The data access and determinism propertie

[2020-06-08 19:01] bkline opened #4931 "TVP columns don't always need to be bound"
The sentence which begins the fourth paragraph of this page ...

...  is not true in every case. As I learned from a Microsoft contractor (see the discussions in [this GitHub ticket](https://github.com/mkleehammer/pyodbc/issues/772)) it is also possible to tell the driver to use the default value, which in the case of a TVP is an empty sequence. It would have saved a considerable amount of time an

[2020-06-08 19:02] Bartolomeus-649 commented on #4253
@stevestein, which part of my qurestion is this the answer to?

[2020-06-08 19:23] stevestein commented on #4253
@Bartolomeus-649 - re your examples, unless you're creating CLR functions, SQL automatically determines the values, but if you are creating CLR functions then you can set the values manually depending if they should or should not be used in computed columns that can be persisted or indexed.

So SQL Server doesn't literally care about the internal algorithm of a function because it automatically de

[2020-06-08 19:31] Bartolomeus-649 commented on #4253
@stevestein, still not answering any of my questions. And the way you you keep bring up if it regarding CLR functions make me doubt you even read my question, because there really should be no doubt wheter it is about CLR functions or not.

[2020-06-08 20:11] WilliamAntonRohm commented on #4921
@Protiguous -- thank you for catching that.  I am looking into this article.

[2020-06-08 20:14] WilliamAntonRohm commented on #4923
@Protiguous -- so noted!  I am looking into this article.

[2020-06-08 20:16] WilliamAntonRohm commented on #4925
@SheepRock -- thank you for your feedback.  I am looking into this article.

[2020-06-08 20:33] WilliamAntonRohm commented on #4930
@markprycemaher -- Mark, thank you for your feedback.  I am looking into this article.

[2020-06-08 20:34] WilliamAntonRohm commented on #4931
@bkline -- Bob, thank you for your feedback.

@markingmyname -- Mark, please look into this issue.

[2020-06-08 20:53] 0xbliang commented on #4523
See: https://docs.microsoft.com/en-us/sql/big-data-cluster/big-data-cluster-consume-apps?view=sql-server-ver15#generate-a-jwt-access-token
"The URL for the access token depends on the version of Big Data Cluster.
...
CU1 and later | https://[IP]:[PORT]/api/v1/swagger.json"

Paste the content of swagger.json into https://editor.swagger.io/, and it should show the correct route to call for acquiring

[2020-06-08 20:56] stevestein commented on #4253
@Bartolomeus-649, I was being a bit generic. If your functions are used by computed columns that are indexed, then it's up to you to set the properties depending on your implementation. By default, IsPrecise is set to false, so if your function returns precise values and is safe to use for computed columns you can manually set to true.

As far as how IsPrecise relates to IsDeterministic, precision

[2020-06-08 21:04] WilliamAntonRohm commented on #1657
@MaDnKount-r -- thank you for your question.

@stevestein -- please look into this issue.

[2020-06-08 23:08] KevinPence commented on #4395
@stevestein, From your response I'm not sure if you caught my entire question.  I should have been much more clear and direct instead of having fun with words.

I think your reply is to my observation that "unique" is redundantly applied to "primary key."  That is not the issue, per se.  It's just there to explain why I'm raising my real question.

I want clarity on whether sparse columns are not

[2020-06-09 00:46] WilliamAntonRohm commented on #1657
@MaDnKount-r -- we are following up on this in your new Visual Studio issue MicrosoftDocs/visualstudio-docs/issues/5443.

[2020-06-09 09:42] TiborKaraszi opened #4934 "SELECT INTO doesn't create a "copy" of a table"
ExampleF
The terminology "copy of a table" is dangerous. Less experienced users might not understand that SELECT INTO won't carry over things such as constraints, indexes etc. Please change to something like "Copying the data from one table to another and create the new table on a specified filegroup".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-06-09 11:15] Robert-Kostecki opened #4935 "Identity is not incremental in Synapse"
This bit of documentation does not seem to be correct for Synapse: "Is the incremental value that is added to the identity value of the previous row that was loaded."

The values generated for identity(1,1) are not incremental. The code to reproduce is:

[code]

The id values ordered by date_ were 16, 36, 52, 43, 6, 33, 57, 11, 34, 10

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-06-09 14:12] VanMSFT commented on #4841
If I'm reading this right, there's nothing wrong with the document. Please correct me if I have misunderstood.

[2020-06-09 14:17] VanMSFT commented on #4935
Thanks for letting us know, @Robert-Kostecki!

@julieMSFT - Do you mind checking on this issue? Thanks!

#assign:julieMSFT

[2020-06-09 15:44] #4836 closed

[2020-06-09 16:02] #3855 closed

[2020-06-09 16:10] wojaczek commented on #4102
Hey!
I'm facing same problem: bcp Version: 15.0.1300.359 gives message: Failed to authenticate the user '' in Active Directory, like it couldn't get proper authorization info from the system. If I use -U and put my id explicitly, it displays browser window with password prompt and lets me in.
SSMS works fine with Active Directory - Integrated. I can also create ODBC datasource with the driver 17 u

[2020-06-09 16:16] MikeRayMSFT commented on #4922
Thank you for the suggestion, @openStove
@uc-msft - can you help here?

[2020-06-09 16:18] MinionWare opened #4936 "When did Time enter the Product?"
The doc needs to state the version of SQL that had this feature to begin with.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ca577f7-34cc-52c9-a960-d81efdc9c46e
* Version Independent ID: eed233e6-4695-b583-2e95-12f77866ff6f
* Content: [time (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/data-

[2020-06-09 16:36] markingmyname commented on #4102
Reopening this issue to investigate further.

[2020-06-09 16:47] srutzky commented on #4841
Well, the example is currently the following:

[code]

That example is structurally accurate. However, that example is not:

* runnable. `0x4D5A900000000000` is not a valid assembly. But, that should be fine given that a) even a small assembly would be a little lengthy (though that might not matter), and b) there is a disclaimer just above the example, stating:

    Nothing here has changed, neith

[2020-06-09 16:50] MikeRayMSFT commented on #4922
@rajmera3 - would you have input for this?

[2020-06-09 16:54] WilliamAntonRohm commented on #4924
@noontz -- Steffen, thank you for your feedback.  Please add it here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-06-09 16:54] #4924 closed

[2020-06-09 17:17] julieMSFT commented on #4935
@Robert-Kostecki Hello Robert and thank you for contacting Microsoft. I have recreated what you are seeing. I am researching this and will get back to you soon.

[2020-06-09 17:28] WilliamAntonRohm commented on #4934
@TiborKaraszi -- Tibor, thank you for your feedback.

@VanMSFT -- Van, please look into this issue.

[2020-06-09 17:59] VanMSFT commented on #4812
Hi @AAATechGuy, thanks for submitting this issue. To connect to your local instance of SQL Server, there is no need to input `ipaddress\instancename,port`. For a default instance of SQL Server that uses the default port, using `ipaddress` or `servername` is enough. We default to connecting on port 1433. If connecting locally, `localhost` will also work.

When denoting the `\` in the connection, th

[2020-06-09 17:59] #4812 closed

[2020-06-09 18:02] VanMSFT commented on #3508
Following up

[2020-06-09 18:04] VanMSFT commented on #2932
Following up with Leo.

[2020-06-09 18:08] #4584 closed

[2020-06-09 18:45] sql-deadwood commented on #4550
I was also tripped up by the exact line of documentation that wsuhoey is referencing:

[2020-06-09 19:37] cloudmelon commented on #4523
I've created PR to update the documentation with examples

[2020-06-09 19:46] WilliamAntonRohm commented on #4926
@bestickley -- Ben, thank you for your question.  According to my research, string values are allowed for ID.  Please let me know if you find otherwise.

I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

cc @MashaMSFT for awareness

[2020-06-09 19:46] #4926 closed

[2020-06-09 19:48] WilliamAntonRohm commented on #4936
@MinionWare -- thank you for your question.

@MikeRayMSFT -- please look into this issue.

[2020-06-09 20:43] WilliamAntonRohm commented on #4904
Yes.

I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2020-06-09 20:43] #4904 closed

[2020-06-09 21:56] #4849 closed

[2020-06-09 22:26] julieMSFT commented on #4935
@Robert-Kostecki Thank you again for you question. You are correct and this statement has restrictions listed in the remarks section. The identity value is not guaranteed to provide consecutive values. This is more pronounced in Synapse SQL pool as stated [here](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-tables-identity#allocation-of-values). The

[2020-06-09 23:13] umjohndacosta opened #4937 "instruct"
Ran the instructionrs on this page, and got the following error:

linux$ lsb_release -a
No LSB modules are available.
Distributor ID:	elementary
Description:	elementary OS 5.1.5 Hera
Release:	5.1.5
Codename:	hera

Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situati

[2020-06-09 23:16] v-chojas commented on #4914
The second sentence should be removed, since this is referring to a function argument which is always a string, and the count is in characters.

See here for more information: https://docs.microsoft.com/en-us/sql/odbc/reference/develop-app/unicode-function-arguments?view=sql-server-ver15

[2020-06-10 06:51] HuubvdP commented on #4102
Microsoft has found the error and fixed this. It will be released in the next odbc version.
For more information you need to contact Microsoft.

[2020-06-10 07:00] wojaczek commented on #4102
Perfect, guys, thanks!

śr., 10 cze 2020, 08:51 użytkownik HuubvdP <notifications@github.com>
napisał:

[2020-06-10 09:42] RobAshton-IM opened #4939 "Columns added to sys.dm_os_memory_objects DMV in SQL Server 2016 release are not labelled as such"
The columns **partition_type**, **contention_factor**, **waiting_tasks_count**, and **exclusive_access_count** in the _sys.dm_os_memory_objects_ DMV were added in the SQL Server 2016 release (see the Bob SQL post [SQL 2016 - It Just Runs Faster: Dynamic Memory Object (CMemThread) Partitioning](https://docs.microsoft.com/en-us/archive/blogs/bobsql/sql-2016-it-just-runs-faster-dynamic-memory-object-

[2020-06-10 09:58] cumbrianblues opened #4940 "Build Number for 18.5.1 is wrong"
The Build number is listed as _Build number: 15.0.18330.0_  (this is for 18.5)

This should be Build number: 15.0.1833**3**.0

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Managem

[2020-06-10 11:37] Robert-Kostecki commented on #4935
Thanks for the information and reply Julie. I've raise issues with the wording of the other article you provided above - I think it is incorrect. I'm pretty sure IDENTITY in SQL Sever and Azure SQL DB is indeed ordered. (https://github.com/MicrosoftDocs/azure-docs/issues/56794).

I'd be keen to understand the IDENTITY generation mechanism and if it can provide the uniqueness in Synapse.

As for yo

[2020-06-10 16:24] MoisesGonzaga opened #4941 "The nvarchar data type not working for me."
Hello there, I was following the example to use the Decrypt function. But I was getting the result in a different language or at least with symbols and not with letters. I had to change the nvarchar data type to a varchar data type and it worked perfectly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc9c48d3-9c69-68

[2020-06-10 20:04] NaomiN opened #4948 "Typo in this page (I assume)"
Click a product!
In the following row, click whichever product name you are interested in. The **click** displays different content here on this webpage, appropriate for whichever product you click.

-----------------------------------------
I believe it is supposed to be 'The link displays'... instead

[2020-06-10 21:48] DatabaseAsAService opened #4950 "Page describes how to apply a DENY privilege. There is no mention of how to undo/remove that."
Page describes how to apply a DENY privilege. There is no mention of how to undo/remove that. Is it REVOKE DENY? Would be nice to have a mention on the page.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61813295-01ed-e551-f767-238eb89c99b0
* Version Independent ID: 3ed4d853-898b-39f3-8a16-d9694

[2020-06-10 23:48] #4939 closed

[2020-06-10 23:49] WilliamAntonRohm commented on #4939
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2020-06-10 23:56] WilliamAntonRohm commented on #4941
@MoisesGonzaga -- Moises, thank you for your feedback.  I am looking into this article.

[2020-06-10 23:59] WilliamAntonRohm commented on #4948
*@NaomiN -- Naomi, thank you for your feedback.  Please provide the URL of the article you're reading.  I will pass along your comment regarding the new-window behavior.

[2020-06-11 00:03] WilliamAntonRohm commented on #4950
@DatabaseAsAService -- thank you for your feedback.  Please see this section:
- [REVOKE](https://docs.microsoft.com/en-us/sql/t-sql/statements/revoke-transact-sql#remarks)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-06-11 00:03] #4950 closed

[2020-06-11 02:55] NaomiN commented on #4948
https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-data-source-transact-sql?view=sql-server-ver15

[2020-06-11 04:04] phaselden opened #4952 "Full text behavior"
The link to "Behavior Changes to Full-Text Search." goes to a page which does not discuss the changes in 2019 (or 2017 or 2014).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf05483b-cafa-542e-9c44-0f6f6ae19fb4
* Version Independent ID: 4eb0cc19-79cd-69db-de13-bb367941751a
* Content: [Change the Word Breaker Used for

[2020-06-11 07:42] kind03 opened #4953 "Keyword "FOR" or "AFTER" are same?"
I'm confused by this paragraph:

FOR or AFTER specifies that the DML trigger fires only when all operations specified in the triggering SQL statement have launched successfully. All referential cascade actions and constraint checks must also succeed before this trigger fires.
You can't define AFTER triggers on views.

So what is the difference between "For" and "After"? Looks like they are the sam

[2020-06-11 07:44] kind03 commented on #4413
Thanks a lot for everyone above!

[2020-06-11 13:12] balauppaloori opened #4954 "GET cmdlets for SQL availability groups"
There seems to be no 'GET' cmdlets for any of the sql availability groups, only SET or NEW. Any particular reason? No cmdlets mentioned here lets users GET the availability group info (if a server is secondary etc), Would be great to have something like that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a9b3a3a-1bc4

[2020-06-11 16:24] aaronfranke opened #4956 "Update SQL server ODBC documentation for Ubuntu 20.04"
https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-ver15

https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server.md

The documentation only includes Ubuntu 16.04, 18.04, and 19.10. The same instructions do not work on Ubuntu 20.04, so the instruc

[2020-06-11 17:11] pmasl commented on #4207
Take the example of a query (request) that only has a merge join between 2 indexes, and both the join and the index reads are all executed in parallel with a maxdop 32 limit on an 8 cpu box. Each index operation + the join will have a coordinating task and a max of 32 other tasks associated (hence the maxdop limit being per task, not per request). At any given time, this request has at least 99 ta

[2020-06-11 18:17] gbritton1 opened #4957 "FOR UPDATE explanation incorrect"
This page describes the FOR UPDATE option like this
UPDATE [OF column_name [,...n]]
Defines updatable columns within the cursor. If OF <column_name> [, <... n>] is specified, only the columns listed allow modifications. If UPDATE is specified without a column list, all columns can be updated.

However, this proof-of-concept shows that is not correct

[code]

This script runs successfully and produ

[2020-06-11 18:22] dinesh1440 commented on #4207
Thanks Pedro.

I thought It was per Processor. Anyway thanks for the clarification.

But I would like to understand, what is the need of having more tasks than
number of processors. Considering at a time only 8 tasks can be processed
in a 8 Logical CPUs box, how the tasks waiting in the queue on the same
processor for the same query help the parelleism!? Spanning 32 tasks means
4 tasks per Process

[2020-06-11 18:40] WilliamAntonRohm commented on #4948
@NaomiN -- Naomi, thank you for that information.  It looks like there are 14 sibling pages with the same typo; I am looking into them.

[2020-06-11 18:42] WilliamAntonRohm commented on #4952
@phaselden -- Phil, thank you for your feedback.

@pmasl -- Pedro, please look into this issue.

[2020-06-11 18:45] WilliamAntonRohm commented on #4956
@aaronfranke -- Aaron, thank you for your feedback.

@David-Engel -- David, please look into this issue.

[2020-06-11 18:48] WilliamAntonRohm commented on #4758
@MikeRayMSFT -- thank you for the documentation update.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-06-11 18:48] #4758 closed

[2020-06-11 18:50] David-Engel commented on #4956
@aaronfranke Ubuntu 20.04 is not yet supported by the ODBC driver. The instructions will be updated when support is added (coming within a couple months).

#please-close

[2020-06-11 18:50] #4956 closed

[2020-06-11 19:05] markingmyname commented on #4940
fixed.

changes are live.

[2020-06-11 19:05] #4940 closed

[2020-06-11 21:14] tmichael-ms commented on #4784
I fixed it.  SQL 17 CU20 release date updated to 4/7/2020…
https://github.com/MicrosoftDocs/sql-docs-pr/pull/15434

[2020-06-11 23:38] #4784 closed

[2020-06-11 23:44] WilliamAntonRohm commented on #4953
@kind03 -- thank you for your question.  Please see an answer here:
- https://stackoverflow.com/questions/5340638/difference-between-for-and-after-triggers

@CarlRabeler -- please look into this issue.

[2020-06-11 23:45] WilliamAntonRohm commented on #4954
@balauppaloori -- thank you for your feedback.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to add your request here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for a

[2020-06-11 23:45] #4954 closed

[2020-06-11 23:48] WilliamAntonRohm commented on #4957
@gbritton1 -- Gerald, thank you for your feedback.

@rothja -- Jason, please look into this issue.

[2020-06-11 23:49] #4865 closed

[2020-06-12 08:59] Rookian opened #4959 "SqlException (0x80131904): Principal 'xyz' could not be resolved: How can I add a Managed Identity to Azure Sql Server when running under a Service Principal?"
I want to add a Managed Identity (coming from an App Service) to Azure Sql Server.
I created an AAD group where a group of my team and the Service Principal is part of.

AzureSqlAdminGroup = TeamGroup + Service Principal

This AAD group is added as an Azure Sql admin during the provisioning of the Azure Sql Server.

When I run `CreateSqlUserFromManagedIdentity ` under my personal account everythin

[2020-06-12 14:34] stevestein commented on #4253
#please-close

[2020-06-12 14:34] #4253 closed

[2020-06-12 14:49] eugenevdm opened #4960 "Too much information"
[Enter feedback here]

Reading this document is like reading the dictionary. Way too much information!

A typical user wants to see a summary of commonly used commands, and then a reference. This is a reference. It should have a TL;DR section at the top.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8da1f57b-a8fd-cca7

[2020-06-12 15:12] rothja commented on #4957
@gbritton1 Thanks for the question. I did a little investigation into this issue online. It seems like maybe the UPDATE statement is not restricted *unless* you use the "Current of" clause in your UPDATE statement to refer to the current position of the cursor. Here is what the [UPDATE STATEMENT](https://docs.microsoft.com/en-us/sql/t-sql/queries/update-transact-sql?view=sql-server-ver15) says:

[

[2020-06-12 17:13] gbritton1 commented on #4957
My sample code uses current of.  Please check that

On Fri, Jun 12, 2020, 11:12 AM Jason Roth <notifications@github.com> wrote:

[2020-06-12 17:16] rothja commented on #4957
@gbritton1 My apologies. That was negligent of me not to check back in your sample again! I will investigate further. Thanks.

[2020-06-12 17:33] tmichael-ms commented on #4784
@ccparkhill -- Thank you for reporting this issue so we could take action to fix it.

[2020-06-12 17:54] WilliamAntonRohm commented on #4959
@Rookian -- Alex, thank you for your question.  Are you following a particular docs.microsoft.com article?  Meanwhile, please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-06-12 18:00] WilliamAntonRohm commented on #4960
@eugenevdm -- Eugene, thank you for your feedback.  You are welcome to add it here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

Please see also this article:
- [sqlcmd - Use the utility](https://docs.microsoft.com/sql/ssms/scripting/sqlcmd-use-the-utility)

[2020-06-12 18:00] #4960 closed

[2020-06-12 18:10] kasunsjc opened #4961 "apiVersion of the Azure SQL K8s Deployment"
[Enter feedback here]

**apiVersion** of the deployment has to be changed

In documentation - apps/v1beta1
with new Kubernetes - apps/v1

correct Yaml

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04922c04-a2da-186c-5946-1cc4d9a7447b
* Version Independent ID: 6e490885-cdd7-079a-0b3a-4688616b0954
* Content: [Dep

[2020-06-12 18:48] NaomiN opened #4962 "How exactly do I know my version of SSMS? Does the minor version update automatically?"
From the page about Download of SSMS I was redirected here when I wanted to add a comment / question (the original page closed?)

My question is - how exactly do I see my version of SSMS? The latest is supposed to be 18.5.1 When I check Help/About I see 18.5. If I go to Tools/Check for Updates it says I'm on the latest already and also my build number matches the built shown in that link. However,

[2020-06-12 18:59] shueybubbles opened #4963 "Check the accuracy of the list of permissions associated with each type"
It looks like "DELETE" isn't applicable to user defined data types.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c6141aa-bfd7-1ce4-aecd-820036f4a60e
* Version Independent ID: fd41bd15-b6f6-0a67-eee8-4bae68e9838e
* Content: [Permissions (Database Engine) - SQL Server](https://docs.microsoft.com/en-us/sql/rela

[2020-06-12 19:11] WilliamAntonRohm commented on #4961
@kasunsjc -- Kasun, thank you for your feedback.  I am looking into this article.

[2020-06-12 19:16] kasunsjc commented on #4961
sorry I forget to add another correction

with apps/v1 you need to add following to selector to the deployment to match the pods labels
[code]
Following is the complete YAML
[code]

[2020-06-12 20:44] WilliamAntonRohm commented on #4963
@shueybubbles -- David, thank you for your feedback.

@VanMSFT -- Van, please look into this issue.

[2020-06-12 20:46] shueybubbles commented on #4963
I think I was misled because there are 2 tables on the page. The bottom table has the right set associated with TYPE, but the top table says "all types except database scoped credential and SERVER" for "DELETE".  Does this page really need 2 separate tables?

[2020-06-12 20:58] WilliamAntonRohm commented on #4963
@shueybubbles -- David, thank you for the followup.  I am updating the first table's DELETE description.

[2020-06-12 21:43] WilliamAntonRohm commented on #4962
@NaomiN -- Naomi, thank you for your questions.  Is this the page you're referring to?
- https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms

@dzsquared -- Drew, please look into this issue.  Naomi's explanation of Tools/Check for Updates matches my experience on my local machine.

[2020-06-12 22:02] NaomiN commented on #4962
Yes, that was the page. I got re-directed as the first time (in my prev. issue). Using Google Chrome. My Help says 18.5 so I don't know if I'm using the latest or one minor version behind.

[2020-06-12 22:20] dzsquared commented on #4962
@NaomiN it looks like that dialog is incorrectly returning the most up to date version. You are 1 fix-version behind at the moment.  Early next week the in-application update check will return correctly, but in the meantime if you want to update you can grab the latest installed from https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms

SSMS will not install the upd

[2020-06-12 22:29] NaomiN commented on #4962
I think I may wait a bit :) Perhaps next week a new update will come out again :) I actually went through this check since I found this thread
https://social.msdn.microsoft.com/Forums/sqlserver/en-US/317686a0-58f0-417d-8c55-2eee80e6c767/importing-azure-database-to-local-on-prem-db-error-in-importing-db?forum=sqltools

[2020-06-12 23:19] WilliamAntonRohm commented on #4962
@dzsquared -- thank you for your detailed reply.

I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2020-06-12 23:19] #4962 closed

[2020-06-12 23:43] WilliamAntonRohm commented on #4925
@VanMSFT -- please review [private PR 15457](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15457).

[2020-06-12 23:56] WilliamAntonRohm commented on #4961
@kasunsjc -- Kasun, thank you for that additional information.

@MikeRayMSFT -- Mike, please review [private PR 15458](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15458).

[2020-06-13 00:13] WilliamAntonRohm commented on #4963
@VanMSFT -- Van, please review [private PR 15459](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15459).

[2020-06-13 03:22] jgmreyes opened #4965 "Please correct spelling of 'Identify'"
You had it spelled wrong. Quoting the whole paragraph for easy search.

"A credential can be created for an EKM provider and mapped to a login (both Windows and SQL Server accounts) to access an EKM module on per-login basis. The Identify field of the credential contains the username; the secret field contains a password to connect to an EKM module."

---
#### Document Details

⚠ *Do not edit this

[2020-06-13 06:20] olyoberdorf opened #4966 "Wrong env variable"
The docs say to use MSSQL_SA_PASSWORD but this is incorrect.  The real variable is SA_PASSWORD.  This is compounded by the container not providing any message about the password being unset.  Instead, you are unable to login as you would expect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dc2ec36-4915-f7ab-3104-282

[2020-06-13 21:09] bachphi opened #4967 "TRANSLATE is not avail to SQL EXPRESS 2017"
I am using SQL EXPRESS 2017 w/ latest update revision, and yet TRANSLATE is not avail.  The TRANSLATE document page said otherwise.
Do you know why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e60cc3d-fd45-2a73-aa40-536051e9f54d
* Version Independent ID: ddf2d9c5-6855-66e7-06c6-b4036dea1276
* Content: [TRANSLATE (T

[2020-06-14 13:07] jkshan opened #4968 "Needs update to the code samples"
The code samples are outdated and require updates.
Eg:
1. Pod definition is without limit for resources.
2. ApiVersion refers to beta
etc.,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04922c04-a2da-186c-5946-1cc4d9a7447b
* Version Independent ID: 6e490885-cdd7-079a-0b3a-4688616b0954
* Content: [Deploy a SQL Server c

[2020-06-14 18:05] BrentOzar opened #4969 "DBCC SHRINKDATABASE missing a few words in the explanations"
The Best Practices section reads:

I think there are words missing in this part: "most effective after an ____ operation."

I think what it meant to say was, "A shrink operation is most effective after an operation that creates unused space, such as a truncate table or a drop table operation."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-06-14 19:13] Elloudo opened #4970 "SHORTEN_PATH with different node (table) over the same edge (table)?"
Hello!

in all the provided example of SHORTEN_PATH usage, the same node_alias "Person" is always used.

I am not sure to understand the usage and limitation of SHORTEN_PATH with different Node (table) using the same edge (table).

e.g, following relationship using the same edge table "likes" but with different Node tables:
- Person (Node) -> likes (Edge) -> Influencer(Node)
- Influencer(Node) ->

[2020-06-14 20:28] Rookian commented on #4959
I follow this article: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi

But I use `Azure.Identity` instead and use `SqlConnection `(see my code) instead of `sqlcmd`.

[2020-06-14 20:48] DieselAnalytics opened #4971 "Specify package version with sql_install.packages()"
Can you specify the version of the package when using this function to install packages or is it handled underneath the hood based on the version that is most compatible with the version of R that SSMLS is using?

[2020-06-15 04:07] erinstellato opened #4972 "Incomplete list of columns"
The sys.stats documentations lists columns in the system view up to is_incremental, but in the latest 2019 CU (CU5 currently), there is also has_persisted_sample, stats_generation_method, and stats_generation_method_desc.

It would be nice to understand those last two :)

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-06-15 04:44] corriveaujp opened #4973 "Error : You must enable preview features in order to use backup"
Hello.

I followed the tutorial about Backup & Restore. It does not let me backup and says instead "You must enable preview features in order to use backup". How do I do that?

Jean

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44eeec53-091c-6666-1d84-dd900496d291
* Version Independent ID: 3fbbb1cc-ea77-4b3a-ad96-dd0d

[2020-06-15 06:56] HenrikStaunPoulsen opened #4974 "sys.system_internals_allocation_units"
sys.system_internals_allocation_units is not available on SQL Azure Database.
Documentation should reflect this, IMHO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b2881d6-51e3-3eee-a6df-911463517b54
* Version Independent ID: 9295888e-8884-7d3f-7bd4-2bdeccae6962
* Content: [Pages and Extents Architecture Guide - SQL

[2020-06-15 13:00] iantrudell opened #4975 "Update to RHEL 8"
Looking for a guide on how to install SSIS on RHEL 8 instead of RHEL 7

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41654ae8-cbd1-c5dd-f15a-69466a765fda
* Version Independent ID: 94311dce-80f0-b8ce-7296-b595ff50d640
* Content: [Install SQL Server Integration Services on Linux - SQL Server](https://docs.microsoft.com/

[2020-06-15 14:56] Rookian commented on #2323
Hi @VanMSFT we are also effected by this issue. Is there any news regarding this topic? Is there a schedule for beeing able to use `Service Principal` in order to create `Managed Identity` based SQL users?

[2020-06-15 16:09] Rookian commented on #2323
Did you use `Azure.Identity` or the old `Microsoft.Azure.Services.AppAuthentication`? I tried your solution (assigning Directory Readers) with `Azure.Identity` without success.

[2020-06-15 17:00] CarlRabeler commented on #4972
#reassign: @pmasl
Pedro - could you please look at this. If this is not in your area, please either reassign back to me and reassign to the appropriate individual

[2020-06-15 17:04] CarlRabeler commented on #4953
@kind03 they are the same

[2020-06-15 17:06] CarlRabeler commented on #4916
#reassign: @julieMSFT

Julie, could you please have an Azure Synapse individual look into this. Please reassign back to me if this is not a question that the Synapse folks can answer.

[2020-06-15 17:07] WilliamAntonRohm commented on #4953
@CarlRabeler -- thank you for clarifying.

[2020-06-15 17:07] #4953 closed

[2020-06-15 17:09] WilliamAntonRohm commented on #4965
@jgmreyes -- thank you for catching that.  I am looking into this article.

[2020-06-15 17:09] CarlRabeler commented on #4855
@arizonien please provide me with your example

[2020-06-15 17:10] CarlRabeler commented on #4772
#reassign: @pmasl
Pedro - could you please look at this. If this is not in your area, please either reassign back to me and reassign to the appropriate individual

[2020-06-15 17:10] #4728 closed

[2020-06-15 17:11] CarlRabeler commented on #4664
#reassign: @pmasl
Pedro - could you please look at this. If this is not in your area, please either reassign back to me and reassign to the appropriate individual

[2020-06-15 17:12] CarlRabeler commented on #4568
#reassign: @pmasl
Pedro - could you please look at this. If this is not in your area, please either reassign back to me and reassign to the appropriate individual

[2020-06-15 17:13] CarlRabeler commented on #4354
#reassign: @julieMSFT
Julie - could you please look at this. If this is not in your area, please either reassign back to me and reassign to the appropriate individual

[2020-06-15 17:13] #4222 closed

[2020-06-15 17:19] srutzky commented on #4916
@CarlRabeler (and @julieMSFT ): Actually, I think I figured this out. I re-read everything and noticed (in one spot only!) a note indicating for JSON:

I was about to submit a PR that makes this limitation much clearer (and fixes a few other minor things).

[2020-06-15 17:23] CarlRabeler commented on #4916
@srutzky Excellent - thank you.

[2020-06-15 17:59] bowermea opened #4976 "bpool_commited column has wrong name"
On a SQL Server instance of 2008 R2 (10.5 SP3), the bpool_commited column is not found on the dm_os_sys_info view because the actual column name was bpool_committed (with two 't's).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1073200-d5d6-a64e-d8d8-a4809873822b
* Version Independent ID: aab7789b-e333-2d9a-bfb9-5210

[2020-06-15 18:06] pmasl commented on #4664
Hi @CarlRabeler this is not my area. #please-assign:@CarlRabeler

[2020-06-15 18:11] julieMSFT commented on #4916
@srutzky @CarlRabeler Solomon you are correct. this only applies to Azure SQL Edge. I think this was updated last week. I agree it could be move visible.

[2020-06-15 18:11] terryclancy opened #4977 "268435456 = Log file will grow to a maximum size of 2 TB. Seems Wrong"
268435456 = Log file will grow to a maximum size of 2 TB. Seems Wrong
268435456 = 268,435,456 so even if units are KB that would be  268,435,456,000 bytes which is not close to
1,000,000,000,000  = 1TB ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae823efc-d65f-9f4a-9a62-faad1d047a76
* Version Independent ID: 16cbcb

[2020-06-15 18:38] shkale-msft commented on #4970
Hi @Elloudo,
To find all Person who like an Influencer who like Songs, you can write following MATCH query:

create table Person(id integer, name varchar(20)) as node;
create table Influencer(id integer, name varchar(20)) as node;
create table Song(id integer, title varchar(500)) as node;
create table likes as edge;

insert into Person values(1,'Bob'),(2,'Alice'), (3,'Mike');
insert into Influence

[2020-06-15 19:34] julieMSFT commented on #4838
@Mnior We have updated the FORMAT message article with the current behavior. I have submitted your suggestion. You can view and up vote it at https://feedback.azure.com/forums/908035-sql-server/suggestions/40672060-consistent-user-message-locale-behavior . I will proceed with closing this issue. Thank you for contributing to Microsoft Docs! The @ notification mechanism continues to work even after

[2020-06-15 19:34] julieMSFT commented on #4838
assign:MashaMSFT

[2020-06-15 19:37] julieMSFT commented on #4838
#please-close

[2020-06-15 19:37] #4838 closed

[2020-06-15 19:39] David-Engel commented on #4914
The page has been updated to simply say:

BufferLength
[Input] Length of *CursorName, in characters.

#please-close

[2020-06-15 19:39] #4914 closed

[2020-06-15 19:58] julieMSFT commented on #4477
@eric-miller-cdfw Hi, I am trying to recreate your issue. Can you share an example of where this causes a problem?

[2020-06-15 20:00] Elloudo commented on #4970
Hi Shreya,

thanks for your answer. Unfortunately this does not help, but because I have not formulated my example correctly, my mistake. Here a second try: I'd like to get the list of all songs liked by a person directely or indirectly: songs liked by a liked person, as well as the songs liked by a liked influencer. e.g:

create table Person(id integer, name varchar(20)) as node;
create table Inf

[2020-06-15 20:21] WilliamAntonRohm commented on #4966
@olyoberdorf -- Oliver, thank you for your feedback.  I am looking into this article.

[2020-06-15 20:30] WilliamAntonRohm commented on #4968
@jkshan -- Shanmugam, thank you for your feedback.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@MikeRayMSFT -- Mike, please look into this issue.

[2020-06-15 20:38] WilliamAntonRohm commented on #4969
@BrentOzar -- Brent, thank you for your feedback.  I am looking into this article.

[2020-06-15 20:41] kamattson opened #4978 "setMsiClientId is misspelled"
Code is misspelled:
 ds.setMsiClientId("...."); // Replace with Client ID of User-Assigned MSI to be used

Should be:
 ds.setMSIClientId("..."); // Replace with Client ID of User-Assigned MSI to be used

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8816308-e8ba-e813-6607-473bd3e9aeeb
* Version Independent ID: 7724b45

[2020-06-15 21:23] eric-miller-cdfw commented on #4477
I'll try to dig up an example. It involved SUM(), multiplication and subtraction and sub queries. Unfortunately, I can't access the computer I was using at the time. So, I don't have some of the views/queries I was working on.

[2020-06-15 21:30] WilliamAntonRohm commented on #4974
@HenrikStaunPoulsen -- thank you for your feedback.  I am looking into this article.

[2020-06-15 21:41] WilliamAntonRohm commented on #4971
@DieselAnalytics -- Ryan, thank you for your question.  Are you reading a particular docs.microsoft.com article?  Meanwhile, please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-06-15 21:43] WilliamAntonRohm commented on #4976
@bowermea -- thank you for catching that.  I am looking into this article.

[2020-06-15 21:46] WilliamAntonRohm commented on #4973
@corriveaujp -- thank you for your question.  Please see this article:
- [Enable preview features](https://docs.microsoft.com/en-us/azure/devops/project/navigation/preview-features)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-06-15 21:46] #4973 closed

[2020-06-15 21:48] WilliamAntonRohm commented on #4978
@kamattson -- Kris, thank you for your feedback.  I am looking into this article.

[2020-06-15 21:57] WilliamAntonRohm commented on #4977
@terryclancy -- Terry, thank you for your feedback.  The units for max_size are 8-KB pages, per that row's notes:

So 268,435,456 * 8 * 1,024 = 2,199,023,255,552 total bytes.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-06-15 21:57] #4977 closed

[2020-06-15 22:21] CarlRabeler commented on #4664
@JohannWeskandt updating the article now. This column indicates whether the SQL Server instance is enabled for stretch database.

[2020-06-15 22:21] #4664 closed

[2020-06-16 00:01] terryclancy commented on #4977
OK thanks – ( although weird unit to use 😊 )

From: William Anton Rohm <notifications@github.com>
Sent: Monday, June 15, 2020 2:58 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Terry Clancy <terryclancy@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs] 268435456 = Log file will grow to a maximum size of 2 TB. Seems Wrong (#4977)

@terryclancy<h

[2020-06-16 00:48] shkale-msft commented on #4970
Hi Ludo,

Thanks for clarification. Here is how you can implement that query:

select person.name, title
from
	person,
	song,
	likes
where match(person-(likes)->song)
UNION ALL
select person.name, title
from
	person,
	song,
	influencer,
	likes,
	likes l1
where match(person-(likes)->influencer-(l1)->song)

You can replace UNION ALL with UNION if you need unique records.

Shortest path can be used t

[2020-06-16 01:06] WilliamAntonRohm commented on #4967
@bachphi -- thank you for your question.  I am investigating.

[2020-06-16 06:48] dcarapic opened #4981 "Provide examples for insert of folders/files via T-SQL"
Please provide examples on how to craft T-SQL statements to create folders or insert files.
How can I insert a file using T-SQL into specific folder? There is no example on how this can be done.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23eebbdd-aa31-0716-094e-db743729d5ff
* Version Independent ID: 2dc6a267-25e4-4

[2020-06-16 14:06] marksweiss opened #4983 "en-us/sql/linux/sql-server-linux-security-get-started broken formatting"
The code blocks starting with `CREATE SECURITY POLICY SalesFilter` and below are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef0b65e5-3c2a-d6cf-f2d3-4ba2a9dc5451
* Version Independent ID: 85fa54ab-0067-6bfd-7aa4-95ca26763f3a
* Content: [Get started with SQL Server security on Linux - SQL Server](https://docs

[2020-06-16 14:54] #4725 closed

[2020-06-16 15:02] #4925 closed

[2020-06-16 15:04] #4787 closed

[2020-06-16 15:05] #4756 closed

[2020-06-16 15:08] #4795 closed

[2020-06-16 15:08] #4806 closed

[2020-06-16 15:08] #4961 closed

[2020-06-16 15:09] #4877 closed

[2020-06-16 15:12] #4963 closed

[2020-06-16 15:59] sonoftunk opened #4984 "Typo in Configure Backup Compression Documentation"
The line reads `use either WITH NO_COMPRESSION or WITH COMPRESSION in you BACKUP statement.` The word `your` should be used instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fac3bce-e592-f213-beb4-d414fa842f8c
* Version Independent ID: 43164541-9225-97f7-49e1-e888f02bcf9b
* Content: [Configure Backup Compression

[2020-06-16 16:50] WilliamAntonRohm commented on #4983
@marksweiss -- Mark, thank you for your feedback.  I am looking into this article.

[2020-06-16 16:51] WilliamAntonRohm commented on #4984
@sonoftunk -- thank you for your feedback. I am looking into this article.

[2020-06-16 16:54] marksweiss commented on #4983
Awesome. Thanks for the amazingly fast response!

[2020-06-16 17:52] CeciAc opened #4986 "LAST_NODE usage"
@Elloudo commented on [Sun Jun 14 2020](https://github.com/MicrosoftDocs/sql-docs.fr-fr/issues/124)

Hello!

I am not sure to understand the usage of LAST_NODE and I was not able to help myself with the documentation and did not found any example.

Can you please provide more explanation and example for LAST_NODE usage in:
- simple_match_pattern
- arbitrary_length_match_last_node_predicate
- arbit

[2020-06-16 17:59] WilliamAntonRohm commented on #4981
@dcarapic -- Dalibor, thank you for your feedback.  Please see this article:
- [Create, Alter, and Drop FileTables](https://docs.microsoft.com/en-us/sql/relational-databases/blob/create-alter-and-drop-filetables)

Please also consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-

[2020-06-16 18:09] dcarapic commented on #4981
If you do not want to provide examples then please just state it.
You have linked an article which does not help at all (question is INSERT,
not Create, Alter or Drop Filetables).
Here, at least have this link somewhere so that people searching for help
can find some additional information:

https://stackoverflow.com/questions/10485978/creating-sub-directory-via-sql-insert-using-filetable

Thanks.

[2020-06-16 18:11] WilliamAntonRohm commented on #4986
@CeciAc -- Cecilia, thank you for raising this.  Please convey the following to @Elloudo:

- Please see as well [Arbitrary Length Pattern](https://docs.microsoft.com/en-us/sql/relational-databases/graphs/sql-graph-shortest-path#arbitrary-length-pattern).

@shkale-msft -- Shreya, please look into this issue.

[2020-06-16 18:23] WilliamAntonRohm commented on #4981
@dcarapic -- Dalibor, thank you for your follow-up.

@MikeRayMSFT -- Mike, please look into this issue.

[2020-06-16 20:56] Elloudo commented on #4970
Hi Shreya,

thanks. One step further, but still not there yet because the "UNION ALL" solution implies to know the complete internal sequence of the graph.
Actually what I need, is a way to recursively go through the graph, independently of the node type ("Person" or "Influencer) using the "likes" edge, starting from a give node. That's why I thought first that "SHORTEST_PATH" would be appropriate

[2020-06-16 21:21] JeromeAtchison opened #4988 "Missing Figures"
In the [Circular Arc Segments section](https://docs.microsoft.com/en-us/sql/relational-databases/spatial/spatial-data-types-overview?view=sql-server-ver15#circular), there are references to figures "A", "B", "C", and "D", that are not on the page:
**Circular Arc Segments**
...
Figures A and B show typical circular arc segments. ...
Figures C and D show how a line ...

Please insert missing "figure

[2020-06-16 22:31] WilliamAntonRohm commented on #4988
@JeromeAtchison -- Jerome, thank you for your feedback.

@MladjoA -- Mladen, please look into this issue.

[2020-06-16 23:46] WilliamAntonRohm commented on #4959
@Rookian -- Alex, thank you for clarifying.  This repo is the place to create a documentation issue, and you're welcome to add your product feedback here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

@cephalin -- Cephas, please look into this issue.

[2020-06-17 00:11] WilliamAntonRohm commented on #4344
Regarding MSSQL_SA_PASSWORD, see also issue #4966.

[2020-06-17 00:14] WilliamAntonRohm commented on #4966
@vin-yu -- Vin, please review [private PR 15497](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15497).

[2020-06-17 00:17] #4965 closed

[2020-06-17 00:17] WilliamAntonRohm commented on #4965
Thank you for your feedback.  I have updated the documentation and it should be live by tomorrow.

[2020-06-17 00:23] WilliamAntonRohm commented on #4969
@pmasl -- Pedro, please review [private PR 15498](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15498).

[2020-06-17 00:36] WilliamAntonRohm commented on #4974
@rothja -- please review [private PR 15499](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15499).

[2020-06-17 01:34] MikeB2019x opened #4989 "MacOS installation - missing a last step"
Hi!  The macOS installation docs are great but missing a last important step.  When you run either of the two scripts indicated for ver 13 or 17, the drivers are installed in a directory called '\usr\local\etc'.  However 'odbcinst' the installer expects the files to be in '\etc'.  So when 'pyodbc' is used for a database connection, it throws a 'File not found' error.

The remedy is really simple.

[2020-06-17 01:42] #4969 closed

[2020-06-17 02:17] pmasl commented on #4969
@BrentOzar thanks for finding the typo.

[2020-06-17 02:20] BrentOzar commented on #4969
You bet! Have a good week.

[2020-06-17 08:48] MarkTimson-BIDev opened #4990 "Registered Server List Authentication to Cloud"
When attempting to connect to asset like MI in the cloud adding the Server to the list is fine, however when closing SSMS down and going to the server and double clicking to open the sever connect throws **"Windows Logins are not supported in this version of SQL Server"**.
You have to right click on the server properties and change the Authentication to **"Azure Active Directory - Integrated"** ev

[2020-06-17 10:16] alexmbaker commented on #4959
@Rookian - I think someone has already mentioned this however a a service principal cannot be added directly as a user of a Azure SQL Database.  You can however create a group in your Azure Active Directory and grant the group access to the SQL Database.  You can then add the service principal to the group.

[2020-06-17 14:27] craigg-msft commented on #3221
@markingmyname probably adding a link to VS code functionality is the best answer, say https://code.visualstudio.com/docs/editor/github but given the user account that filed this item is no longer valid #please-close

[2020-06-17 14:27] #3221 closed

[2020-06-17 14:47] iantrudell commented on #4975
The rhel/8 repo does not contain mssql-server-is
[code]

[2020-06-17 15:37] dphansen commented on #4692
@ryanwadebg I will close this GitHub issue as we haven't heard from you since it was opened. If you have tried @garyericson's suggestion above and still have an issue, please open a new GitHub issue. Thank you.

[2020-06-17 15:37] #4692 closed

[2020-06-17 16:15] Rookian commented on #4959
@alexmbaker that workaround works fine thank you. But unfortunately this is not something that works within my organisation where we (service principal account) don't have the permission to create AAD security groups or assign members to such a group.

[2020-06-17 16:18] CMoltedo opened #4991 "Suggested feedback: include note about spatial indexes on indexed views"
[Enter feedback here]
Please include a note about not being able to create spatial indexes on indexed views, similar to what's stated here: https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/bb964740(v=sql.105)?redirectedfrom=MSDN

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1982b813-5bcb-0733-

[2020-06-17 16:43] balintbako opened #4992 "Azure SQL Managed Instance"
Hi,

It is unclear if Azure SQL Managed Instance supports External Tables or not.
Does any of the "Products" apply to SQL MI?
If so, does it support Azure Data Lake Gen2 or Azure Blob Storage as External Data Source?

Regards,
 Balint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e450abc6-2dbd-8f6c-423c-52aca37a2b06
*

[2020-06-17 17:20] NaomiN commented on #4948
Same typo here as well https://docs.microsoft.com/en-us/sql/t-sql/statements/backup-transact-sql?view=sql-server-ver15

[2020-06-17 17:21] NaomiN commented on #4948
Also, that link doesn't display products it applies to at the top (I assume it applies to SQL Server and Azure Managed Instance)

[2020-06-17 17:32] WilliamAntonRohm commented on #4975
@iantrudell -- Ian, thank you for your follow-up.

@lrtoyou1223 -- Leo, please look into this issue.

[2020-06-17 17:36] WilliamAntonRohm commented on #4989
@MikeB2019x -- thank you for your detailed feedback.

@David-Engel -- please look into this issue.

[2020-06-17 17:41] WilliamAntonRohm commented on #4991
@CMoltedo -- Chase, thank you for your feedback.  I am looking into this article.

[2020-06-17 19:22] VanMSFT commented on #2323
Hi @alexmbaker and @Rookian - There will be a tutorial coming out on this in the next week or so. This is going in preview, but @alexmbaker had it right.

1. Assign a server identity to the Azure SQL logical server
   - `Set-AzSqlServer -ResourceGroupName <resource group> -ServerName <Server name> -AssignIdentity`
2. Grant the **Directory Readers** permissions to the server identity.

[2020-06-17 22:04] WilliamAntonRohm commented on #4990
@MarkTimson-BIDev -- Mark, thank you for your question.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to add this suggestion here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ ment

[2020-06-17 22:04] #4990 closed

[2020-06-17 22:08] WilliamAntonRohm commented on #4992
@balintbako -- Balint, thank you for your questions.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@CarlRabeler -- Carl, please look into this issue.

[2020-06-17 22:15] danvalero opened #4993 "STONITH on Azure Linux VMs"
Hi,

From the document I am not clear if implementing HA for SQL on Azure VMs is supported or not. In the RedHat section it seems that it is supported, for SUSE and Ubuntu it does not say anything.

Could you provide more clarity on this topic? Can I have SQL HA (FCI or AGs) con Linux VMs on Azure? Can you provide detail on how to set STONITH for RH, SUSE and Ubuntu on this environment (if support

[2020-06-17 22:38] WilliamAntonRohm commented on #4948
@NaomiN -- Naomi, thank you for clarifying.

[2020-06-17 22:40] jaldinger opened #4994 "Clarify compatibility with SLES 15"
SQL Server 2019 seems to be available por SLES 15, too, from this repo link: https://packages.microsoft.com/config/sles/15/prod.repo

However, that is not mentioned in the page, so if I assume correctly, that should be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 600e45dc-85ad-e487-9375-949af2530a83
* Version

[2020-06-17 22:46] ssubramanian84 opened #4995 "@freq_subday_type is marked as INT but does not accept INT"
When using this SP to add a job schedule to be Daily and **every minute,** I supply the @freq_subday_type parameter. The document says that it is an INT but the value table specifies a hexadecimal value of 0x4 which converts to 4 (decimal).

I am trying to call this through powershell but keep getting the following error message.

What should I be doing here?

[code]

---
#### Document Details

⚠

[2020-06-17 22:58] WilliamAntonRohm commented on #4994
@jaldinger -- Joerg, thank you for your feedback.

@VanMSFT -- Van, please look into this issue.

[2020-06-18 02:11] lrtoyou1223 commented on #4975
Currently SSIS Linux doesn't support RHEL8. The target ETA could be by the end of this year or early next year.

[2020-06-18 14:06] rothja commented on #4538
@yang-jiayi Thank you for the question and apologies for the delayed response. @giladmit Hello. As the article owner, you have been assigned this question on whether SQL Server 2019 is supported. Can you please take a look? Thank you!

[2020-06-18 14:19] rothja commented on #4540
@fatherjack Thank you for your question, and apologies for the delayed response! I'm not aware of all the commands that might relate to this (and it is possible that it should just say DBCC CHECKDB). In this case, I think the article still remains correct on the events themselves. I would suggest posing this question to the forums. If that research reveals that the documentation could be more clea

[2020-06-18 14:19] #4540 closed

[2020-06-18 14:23] rothja commented on #4640
@Mitch-Wheat Thank you for letting us know. We are looking into this, and apologies for the delayed response!

[2020-06-18 14:24] rothja commented on #4649
@PhilipKelley Thank you for letting us know, and apologies for the delayed response. We are confirming and will try to get back to you soon. Thanks for your patience!

[2020-06-18 14:29] rothja commented on #4798
@DanielSmon Thanks for your question, and apologies for the delayed response. This question might be better suited to the forums:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

Have you made any progress finding the answer since you posted this?

However, @vin-yu might know the answer her

[2020-06-18 15:00] jeffmoltenberry opened #4996 "External table script not working"
While following the steps in B. Scenarios for using Row Level Security on an Azure Synapse external table
The following query runs forever and then finally fails.
CREATE EXTERNAL TABLE Sales_ext WITH (LOCATION='RLSExtTabletest.tbl', DATA_SOURCE=ext_datasource_with_abfss, FILE_FORMAT=MSIFormat, REJECT_TYPE=Percentage, REJECT_SAMPLE_VALUE=100, REJECT_VALUE=100)
AS SELECT * FROM sales;

CREATE EXTERN

[2020-06-18 15:46] MikeRayMSFT commented on #2031
Our engineering team discussed this. I'm following up with them to answer.

[2020-06-18 15:52] MikeRayMSFT commented on #4981
@dcarapic - thank you for the submission. I'm reviewing this internally and we'll respond.

[2020-06-18 15:54] MikeRayMSFT commented on #4968
@vin-yu  would you mind looking into this issue?

[2020-06-18 15:56] WilliamAntonRohm commented on #4993
@danvalero -- thank you for your questions.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@MikeRayMSFT -- please look into this issue.

[2020-06-18 16:04] MikeRayMSFT commented on #4894
Hi @ev2900 - just FYI, I'm still trying to fix this at the root.

[2020-06-18 17:12] ev2900 commented on #4894
Ok @MikeRayMSFT

[2020-06-18 17:21] CarlRabeler commented on #4767
In SQL2019, the alias SQLNCLI maps to MSOLEDBSQL, so existing server connection strings using this should switch to MSOLEDBSQL transparently. (In older versions, SQLNCLI maps to SQLNCLI11; in 2019, you can still use SQLNCLI11 if you want to use the old provider).

[2020-06-18 17:25] MikeRayMSFT commented on #4993
The feature is supported. We have a tutorial that explains how to configure stonith: : https://docs.microsoft.com/azure/azure-sql/virtual-machines/linux/rhel-high-availability-stonith-tutorial

We're preparing updates tot the docs.

[2020-06-18 17:25] #4993 closed

[2020-06-18 17:38] vin-yu commented on #4344
+ @amvin87

[2020-06-18 17:38] vin-yu commented on #4344
Ack on this - Amit and I will take a look

[2020-06-18 17:53] VanMSFT commented on #4994
Hi @jaldinger! Thanks for the feedback. As you correctly stated, the repo files are there. However, we currently don't have full support for SLES 15, and so it isn't listed in our documentation. There's no ETA for support at the moment that I can provide, but our documentation will be updated as soon as it is officially supported. We appreciate you bringing up this issue.

[2020-06-18 17:53] #4994 closed

[2020-06-18 18:01] David-Engel commented on #4978
This has been fixed.

#please-close

[2020-06-18 18:32] michaelruss777 opened #4997 "Make more useful"
It would be very useful to add examples for each option of how it changes the scripting output. For example, for the "Include descriptive headers", True adds a comment like: /****** Object:  Table [dbo].[Customers]    Script Date: 7/16/2019 8:10:59 AM ******/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b12f56f-4709

[2020-06-18 19:52] MikeRayMSFT commented on #4400
@ashishsinghbhu - thank you for the submission. I don't see the text you're citing in the linked article. I do see it here:

[SQL Server Backup to URL](https://docs.microsoft.com/sql/relational-databases/backup-restore/sql-server-backup-to-url?view=sql-server-ver15#limitations)

The current documentation is correct. The MAXTRANSFERSIZE limit still applies to SQL Server so it does not use the incre

[2020-06-18 19:52] #4400 closed

[2020-06-18 20:18] MikeRayMSFT commented on #4790
Hi @NaomiN -thanks for the submission. We're updating the docs.

@bluefooted helped me clarify what's happening here:

Basically a “simple comparison operator” is one of the mathematical [comparison operators](https://docs.microsoft.com/sql/t-sql/language-elements/comparison-operators-transact-sql).

Under the covers, the database engine translates a LIKE or NOT LIKE into two clauses with an AND o

[2020-06-18 20:41] MikeRayMSFT commented on #4936
Just FYI, we're looking at a systemic doc update. For content that was updated in SQL Server 2008 it's in all supported editions.

At this time there is no planned doc update for this file.

[2020-06-18 21:04] WilliamAntonRohm commented on #4995
@ssubramanian84 -- thank you for your feedback and question.  The error message is regarding freq_subday_interval rather than freq_subday_type.  The document says:

Please also consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You're welcome to file this as a bug her

[2020-06-18 21:04] #4995 closed

[2020-06-18 21:10] robertplata opened #4998 "'View as Chart' hyperlink missing"
Hello< I am following the 'Tutorial: Build a custom insight widget' on this page:
https://docs.microsoft.com/en-us/sql/azure-data-studio/tutorial-build-custom-insight-sql-server?view=sql-server-ver15

I can't seem to find the link referred to in Step 6 of the 'Run your own query and view the result in a chart view' section.

I am following along with Azure Data Studio:
Version: 1.19.0 (user setup)

[2020-06-18 21:10] WilliamAntonRohm commented on #4997
@michaelruss777 -- Michael, thank you for your suggestion.

@markingmyname -- Mark, please look into this issue.

[2020-06-18 22:25] julieMSFT commented on #4824
@Nayyar Hello and thank you for contacting Microsoft. I am sorry for the delay in response.  You are correct, primary key and foreign key referential constraint is not supported by Azure Synapse Analytics.  To add this as native support in the product, we need to first support unique constraint enforcement.  You can submit your support for this feature at https://feedback.azure.com/forums/307516-a

[2020-06-18 22:26] pmasl commented on #4722
Apologies for this typo. I have corrected with the missing information and will be onliune in a few hours.

[2020-06-18 22:30] julieMSFT commented on #4824
@Nayyar0 Hello and thank you for contacting Microsoft. I am sorry for the delay in response. You are correct, primary key and foreign key referential constraint is not supported by Azure Synapse Analytics. To add this as native support in the product, we need to first support unique constraint enforcement. You can submit your support for this feature at https://feedback.azure.com/forums/307516-azu

[2020-06-18 23:26] WilliamAntonRohm commented on #4941
@MoisesGonzaga -- Moises, I was able to reproduce that behavior and have updated the article.

@VanMSFT -- Van, please review [private PR 15555](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15555).

[2020-06-18 23:42] srutzky commented on #4941
@MoisesGonzaga You didn't include the code you were testing with. That would be extremely helpful as it wouldn't require guesswork on anyone else's part to figure out exactly what you are doing.

I suspect that you encrypted a string in the form of `'string'` instead of `N'string'`. Without the `N` it is `VARCHAR`. With the `N` prefix it is `NVARCHAR`. This needs to be clarified on both this page

[2020-06-19 00:00] MikeRayMSFT commented on #4391
I am also not able to put the `-m"Microsoft SQL Server Management Studio - Query"` in the SQL Server Configuration startup parameters. I'm going to check a few things before I close the issue. Some configuration managers behave a little differently.

What you can do is start the command with `net start "SQL Server (MSSQLSERVER)" -m"Microsoft SQL Server Management Studio - Query"` to get the effect

[2020-06-19 00:36] VanMSFT commented on #4941
@srutzky - Hi Solomon! Thanks for the clarification. I believe the string being encrypted/decrypted in the example is this:

[code]

That's probably why @WilliamAntonRohm can reproduce the issue. I'll approve his PR, which the changes should take place tomorrow morning.

Please go ahead and submit your PR after tomorrow if you wish. We appreciate your assistance!

[2020-06-19 00:45] #4976 closed

[2020-06-19 01:01] #4984 closed

[2020-06-19 01:01] WilliamAntonRohm commented on #4984
I have updated the documentation and it should be live by tomorrow.

[2020-06-19 01:03] WilliamAntonRohm commented on #4996
@jeffmoltenberry -- Jeff, thank you for your question.  I am investigating.  Meanwhile, please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-06-19 01:05] WilliamAntonRohm commented on #4998
@robertplata -- thank you for your feedback & question.  I am looking into this article.

[2020-06-19 16:17] dadamssg opened #5001 "document how to "reload the driver""
In the [Linux and macOS](https://docs.microsoft.com/en-us/sql/connect/php/connection-pooling-microsoft-drivers-for-php-for-sql-server?view=sql-server-ver15#linux-and-macos) section it says:

What does that mean? Which driver exactly? How do you reload it?

If i'm using php-fpm, does that just mean restarting the php-fpm? Or does that mean restarting ODBC somehow? If so, how?

---
#### Document Det

[2020-06-19 16:20] jeffmoltenberry commented on #4996
Thanks. I'm not even sure what a .tbl file is. Seems like the instructions could be a little more clear that you need to 1) replace the ADLS storage path with your own and 2) create and upload your own file which matches the structure and values expected in the example

[2020-06-19 16:27] VanMSFT commented on #4996
@jeffmoltenberry - Thanks for bringing up this issue, Jeff! Yes, the example needs user input for their own external resources, as the ones provided are generic.

@julieMSFT - Hey Julie, do you mind looking at the Azure Synapse example to see if we can clarify that? Perhaps we can give examples of parameters that needs to change in the example, and point to this doc: https://docs.microsoft.com/azu

[2020-06-19 16:30] David-Engel commented on #5001
@dadamssg The ODBC driver. Since the application loads the PHP driver (which loads the ODBC driver), unless the application has specifically implemented a way to unload and reload the PHP driver (which would then unload the ODBC driver), this generally means restarting the application. In your case, that sounds like restarting php-fpm.

Regards,
David

[2020-06-19 16:33] dadamssg commented on #5001
@David-Engel thank you for the quick reply!

Is there a way to check that the changes have taken affect? Some way to read these settings in php? or from the command line?

[2020-06-19 16:39] #4941 closed

[2020-06-19 16:40] WilliamAntonRohm commented on #4941
@srutzky -- Solomon, my update should be live in a few hours, after which you are most welcome to touch it up.

[2020-06-19 16:45] David-Engel commented on #5001
@dadamssg I don't think there is a way to check it from PHP since it's the underlying behavior of the ODBC driver. The easiest way is probably to watch active connections in your database. Pooled connections will not disconnect immediately while non-pooled ones will. Otherwise, you can enable [Tracing with the ODBC Driver on Linux](https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/data-a

[2020-06-19 16:47] dadamssg commented on #5001
@David-Engel ok, that makes sense. thank you.

[2020-06-19 16:58] David-Engel commented on #5001
#please-close

I assume that answers all your questions. Feel free to reopen if not.

[2020-06-19 16:58] #5001 closed

[2020-06-19 18:29] m60freeman opened #5003 "Only msdb"
You might want to add that this function is only in msdb, or at least show the function prefixed by "msdb." in the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d62c49f-2d42-82e3-2925-67c3704f6e60
* Version Independent ID: 2304dbc6-fae0-736f-7489-6c444fe495cd
* Content: [managed_backup.fn_available_backups (

[2020-06-19 18:55] WilliamAntonRohm commented on #5003
@m60freeman -- Mark, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue.

[2020-06-19 21:43] CeciAc opened #5005 "independed DATEPART(WEEKDAY, ...)"
@samot1 commented on [Wed Jun 17 2020](https://github.com/MicrosoftDocs/sql-docs.de-de/issues/126)

If you need the WEEKDAY independend on the value set currently for DATEFIRST, you can use
`SELECT (DATEPART(WEEKDAY, GETDATE()) - 1 + @@DATEFIRST) % 7  AS weekday`

It will always return 1 for Monday, 2 for Tuesday ... 7 for Sunday, regardless to what DATEFIRST is set.

Maybe it could be added to th

[2020-06-19 22:18] awilbert opened #5007 "Security scenario"
I'm having trouble seeing how the security scenario presented on this page would actually work. In order to run "GRANT CONTROL SERVER TO JohnDoe;" the security context would first need to be set to the master database. However, you can't include a USE statement to switch contexts inside of a trigger. It seems like this trigger wouldn't actually elevate JohnDoe's permissions, it would fail with an

[2020-06-19 22:59] genifycom opened #5008 "The Keyword "Application Intent" is incorrect"
The Keyword "Application Intent" is incorrect. The correct Keyword is "ApplicationIntent" with NO space.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7197d3b-5829-e8f5-7245-e51869cc0836
* Version Independent ID: 40f0e4c5-95eb-24e0-6f0f-2776c8f89bb0
* Content: [Using Connection String Keywords - SQL Server Native Clie

[2020-06-20 07:36] breiter opened #5009 "Don't require Homebrew to install msodbcsql17"
Microsoft shouldn't be distributing Mac software only through Homebrew. Homebrew is not the  "official" package manager for macOS and it is not without problems -- for one thing it takes over `/usr/local/bin` and requires changing the permissions on `/usr/local/bin`.

If Microsoft can't provide a source tarball for msodbsql17 that can be arbitrarily compiled for unix and linux systems, then it sho

[2020-06-21 08:30] gani746 opened #5010 "Release of threads"
I want to highlight a correction  or clarification in this section:
https://docs.microsoft.com/en-us/sql/database-engine/availability-groups/windows/prereqs-restrictions-recommendations-always-on-availability?view=sql-server-ver15#ThreadUsage

In my lab tests when I tested how long it takes for the threads to be released back to the thread pool, it turned out that the parallel redo threads are not

[2020-06-21 15:14] rawatsudhir1 opened #5011 "Predict function is not working on Azure Managed Instance"
As per the article https://docs.microsoft.com/en-us/sql/t-sql/queries/predict-transact-sql?view=sql-server-ver15 Predict is supported in Azure SQL Managed Instance. However If i am trying to execute the Predict statement (https://docs.microsoft.com/en-us/azure/azure-sql-edge/deploy-onnx) against Azure SQL MI, it gives below error.

Msg 102, Level 15, State 40, Line 27
Incorrect syntax near '='.
 M

[2020-06-21 16:11] kevchant opened #5012 "Type of Columnstore index you can create"
Hi, from the testing I've done it looks like the version of Columnstore index you can create depends entirely on the SQL Server version regardless of the compatibility level of your database if you are using the on-premises version of SQL Server.

For example, I'm been testing and I am able to create clustered Columnstore indexes on databases that have SQL Server 2012 compat level.

If this is tru

[2020-06-21 16:21] kevchant opened #5013 "Long running query"
Can this page give a Tip about the fact that if a long running query is taking place the online index operation will not complete until the query has finished. Because I had to look into the cause of a long running index maintenance job a while back and this was the cause of it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-21 16:34] kevchant opened #5014 "Update the 'Detecting fragmentation of rowstore indexes'"
Hi, I'm sure there's been some discussions about this in the past. However, with the change of hardware and increasing databases could the recommendations given for fragmentation be given a review?

If not a review, then maybe a least some alternative recommendations based on various index/table sizes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-06-21 23:38] rawatsudhir1 commented on #5011
May be my subscription needs to be whitelisted to use PREDICT fucntion?

[2020-06-22 07:56] soumya-parida opened #5018 "No reference to Azure SQL"
The page is misleading, it "applies" to Azure SQL but does not provide any reference to importing or exporting data from Azure SQL. There are no reference to how to connect to Azure SQL from the SQL Server Import an d export Wizard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dba49af1-3e8f-3dd2-c979-b58df139e183
* V

[2020-06-22 09:02] lousaibiao opened #5019 "does"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 765ed641-4c8e-4239-cd41-c330e1bcf000
* Version Independent ID: 8f7f2d13-6098-41e0-7575-d50686ace082
* Content: [Create, Construct, and Query geometry Instances - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/spatial/create-cons

[2020-06-22 09:13] #5019 closed

[2020-06-22 09:17] lousaibiao opened #5020 "Does overlaps duplicated?"
I found two STOverlaps in https://docs.microsoft.com/en-us/sql/relational-databases/spatial/create-construct-and-query-geometry-instances?view=sql-server-ver15#rel

![pic](https://images.cnblogs.com/cnblogs_com/sheldon-lou/1623385/o_2006220915341.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 765ed641-4c8e-4239-cd

[2020-06-22 10:29] sidtandon2014 opened #5022 "Are there two tables (staging and 1 more) to store current data or just 1 staging table"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03cf2bdc-2759-b827-afd5-24adf5542e40
* Version Independent ID: 40aaf36a-b501-6f50-ff87-84a355ae8b71
* Content: [System-Versioned Temporal Tables with Memory-Optimized Tables - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/table

[2020-06-22 15:08] cnotin opened #5023 "Dangerous recommendation: run SQL Server as AD Domain Admin so it can register itself its SPN"
We can read the following in the documentation:

Even if it's suggested as last resort, running SQL Server as Active Directory "domain administrator" is highly discouraged for security reasons.
I suggest removing this recommendation, or at least adding a strong warning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16

[2020-06-22 15:39] garyericson commented on #5011
@rawatsudhir1 - You're correct about needing to be whitelisted. Machine Learning Services in Azure SQL Managed Instance is currently in preview. The sign up process is described here: https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/machine-learning-services-overview#signup. The sign-up process is being modified at the moment, so the specific steps described in the article are a l

[2020-06-22 15:39] garyericson commented on #5011
#please-close

[2020-06-22 15:39] #5011 closed

[2020-06-22 16:45] srutzky commented on #5007
@awilbert : True, the current code on this page will generate an error for anyone executing it _unless_ the trigger is on a table in the `master` DB. However, that does seem impractical as it is (or at least should be) rare for anyone to be creating a user table in `master`.

However, regarding not being able to change context via `USE` in a trigger: that _is_ possible, as long as it's done in dyn

[2020-06-22 16:55] PhilipKelley opened #5025 "Missing Version Number"
As of Jun 22, 2020, 11:50am CST, the "Note" in this entry reads as follows:

This is unclear. Presumably, a SQL edition (2012, 2016, etc.) should be listed here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dbdc572-f77b-c2d6-03c9-158cdbd4a3c1
* Version Independent ID: 99a53116-e283-282a-a900-6dbaa38cce43
* Content:

[2020-06-22 20:40] srutzky opened #5027 "Logon Triggers: this is not the triggers overview page you are looking for 🙃"
The title, content, and even filename for this page all specify "Logon Triggers". Yet, the left-nav believes this page is the general "Triggers" overview page. In fact, there is no general triggers overview page.

What should happen:
1. Find and link actual trigger overview page to "Triggers" in the left-nav. If no general triggers page exists, create it and change the "Triggers" link to reference

[2020-06-22 20:56] WilliamAntonRohm commented on #5005
@CeciAc -- Cecilia, thank you for raising this issue here.  Please convey the following to @samot1:
- @samot1, thank you for clever contribution.

@julieMSFT -- Julie, please look into this issue.

[2020-06-22 21:02] WilliamAntonRohm commented on #5007
@awilbert -- Adam, thank you for your feedback.

@srutzky -- Solomon, we appreciate your contributions here.

@rothja -- Jason, please look into this issue.

[2020-06-22 21:03] WilliamAntonRohm commented on #5008
@genifycom -- thank you for catching this.  I am looking into the article.

[2020-06-22 21:08] WilliamAntonRohm commented on #5009
@breiter -- Brian, thank you for your feedback.  It appears you have product suggestions rather than documentation issues.  Please raise your points here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

cc @David-Engel for awareness

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-06-22 21:08] #5009 closed

[2020-06-22 21:10] WilliamAntonRohm commented on #5010
@gani746 -- thank you for your thorough feedback.

@MashaMSFT -- please look into this issue.

[2020-06-22 21:12] WilliamAntonRohm commented on #5012
@kevchant -- thank you for your feedback and question.

@MikeRayMSFT -- please look into this issue.

[2020-06-22 21:14] WilliamAntonRohm commented on #5013
@kevchant -- thank you for your suggestion.

@MikeRayMSFT -- please look into this issue.

[2020-06-22 21:20] WilliamAntonRohm commented on #5020
@lousaibiao -- thank you for your question and your close reading.  Each of those duplicates clarifies a slightly different aspect of geometry, although logically they mean the same.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

cc @MladjoA for awareness

[2020-06-22 21:20] #5020 closed

[2020-06-22 21:23] WilliamAntonRohm commented on #5023
@cnotin -- Clément, thank you for your suggestion.

@markingmyname -- Mark, please look into this issue.

[2020-06-22 21:25] WilliamAntonRohm commented on #5025
@PhilipKelley -- Philip, thank you for your feedback.

@VanMSFT -- Van, please look into this issue.

[2020-06-22 21:48] WilliamAntonRohm commented on #5014
@kevchant -- thank you for your suggestion.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@MikeRayMSFT -- please look into this issue.

[2020-06-22 21:50] WilliamAntonRohm commented on #5018
@soumya-parida -- Soumya, thank you for your feedback.

@MashaMSFT -- Masha, please look into this issue.

[2020-06-23 12:27] Jbekker opened #5031 "Small spelling error in download-sql-server-management-studio-ssms.md"
Spelling mistake line ~119:
These components aren't **uninstall** because they can be shared with other products. If uninstalled, you may run the risk of disabling other products.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f3

[2020-06-23 13:02] dzsquared commented on #5031
Fixed in #5028

[2020-06-23 16:00] StingyJack opened #5032 "How to tell what version of sqlpackage.exe we have is?"
The only thing I can find is a copyright for 2016, and I think the MSI on this page is later than that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf3df6af-9ac8-bc57-93dc-29ff713c1d3b
* Version Independent ID: 7624e2cc-7aa9-40dd-4015-3371ea2ea0a2
* Content: [Download and install sqlpackage - SQL Server](https://doc

[2020-06-23 16:55] pensivebrian commented on #5032
Right now, the only way is to right click on the sqlpackage.exe file, select properties, and on the details tab, check the file version.

I'll add a /version parameter next release. I'll update the copyright and print the version in the header as well :)

Thanks for reporting.

[2020-06-23 18:26] rothja commented on #5007
@awilbert Thanks for posing the question, and thanks @srutzky for proposing a change to the article along with a lot of other fixes. Very helpful. It's in review.

[2020-06-23 18:33] rothja commented on #5027
@srutzky This does seem like a serious problem with the triggers documentation. I'll take a look and try to find the best solution. Thanks for raising this, Solomon. Your help with the documentation and customer issues is really apprecaited!

[2020-06-23 18:33] rothja commented on #5027
@WilliamAntonRohm Can you add the appropriate labels and assign this to me? Thank you!

[2020-06-23 21:26] WilliamAntonRohm commented on #5032
@StingyJack -- thank you for your question.

@pensivebrian -- thank you for answering!

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-06-23 21:26] #5032 closed

[2020-06-23 22:24] WilliamAntonRohm commented on #5022
@sidtandon2014 -- thank you for your question.  Please clarify your question regarding the second table.  Meanwhile, consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

cc @CarlRabeler for awareness

[2020-06-24 00:34] WilliamAntonRohm commented on #4991
@CarlRabeler -- Carl, please review [private PR 15628](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15628).

[2020-06-24 00:57] WilliamAntonRohm commented on #5008
@markingmyname -- Mark, please review [private PR 15631](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15631).

[2020-06-24 04:29] #4983 closed

[2020-06-24 09:05] Elloudo commented on #4970
Hey Shreya, any news on this topic ? Merci

[2020-06-24 12:47] kvrban opened #5036 "Install of ODBC driver for Debian 10 is currently (Jun 24 2020) not possibly. "unexpected size" issue"
Install of ODBC driver for Debian 10 is currently (Jun 24 2020) not possibly because of:

`Failed to fetch https://packages.microsoft.com/debian/10/prod/dists/buster/main/binary-amd64/Packages.bz2  File has unexpected size (43969 != 43653)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fc3da20-7ab2-d20f-4d29-4664d318

[2020-06-24 16:32] #4790 closed

[2020-06-24 16:33] mohammadrezalamei commented on #4258
Im sorry i was wrong but no need to change the platform.
It's enough to use docker in cases that the linux distro's dont not support.
Thank you all.
-------------------------------------------------------------------------------------------------------------------
I just didnt find out something:
What is the substantial difference of the linux distro's when just some of them are able to be support

[2020-06-24 16:43] harshavemuluru-gep opened #5037 "Latest package update is causing docker build failure"
After the update released on 24-Jun-2020 15:09. Docker builds command is failing after the URL is added to source list.

I have explained the problem here.
https://stackoverflow.com/questions/62559934/where-can-i-get-older-version-of-this-package-as-new-version-is-failing-my-docke

![image](https://user-images.githubusercontent.com/44601878/85596901-c0c14600-b667-11ea-8e8b-173ae54771ac.png)

---
#

[2020-06-24 17:26] WilliamAntonRohm commented on #4258
@mohammadrezalamei -- you're welcome!

[2020-06-24 18:14] warwickchapman opened #5038 "`mssql-tools` does not install on 20.04"
Attempted to install on 20.04 with:

[code]

Tried with the 18.04 repo as suggested in a couple of places:

[code]

[2020-06-24 18:35] WilliamAntonRohm commented on #5038
@warwickchapman -- Warwick, thank you for your feedback.  This repo is solely for documentation issues, with limited support options.  Are you following a particular docs.microsoft.com article?  Meanwhile, please consider these resources:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You

[2020-06-24 19:04] mpyusko opened #5040 "https://packages.microsoft.com/ubuntu/18.04/mssql-server-2019 bionic/main amd64 Packages File has unexpected size (9047 != 8153). Mirror sync in progress?"
I am trying to install mssql-server-2019 on Ubuntu 20.04 using the instructions detailed here...
[https://docs.microsoft.com/en-us/sql/linux/quickstart-install-connect-ubuntu?view=sql-server-ver15](url)

It is failing with the following error:

[code]
It appears the repository was incorrectly updated?  How can this be corrected?

[2020-06-24 19:07] WilliamAntonRohm commented on #4998
@robertplata -- after I run that query, a Results window appears below the query with three tabs (Results, Messages, Chart), and there are icons on the right side of its window including one that's a miniature vertical bar chart.

I am closing this issue now.  You are welcome to @ mention me for any followup.  We hope to hear from you again.

[2020-06-24 19:07] #4998 closed

[2020-06-24 19:10] WilliamAntonRohm commented on #5031
@dzsquared -- Drew, thank you for fixing this typo.

[2020-06-24 19:10] #5031 closed

[2020-06-24 21:28] #4991 closed

[2020-06-24 22:24] WilliamAntonRohm commented on #5036
@kvrban -- thank you for your feedback.  This issue has been resolved; please try again.

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-06-24 22:24] #5036 closed

[2020-06-24 22:26] WilliamAntonRohm commented on #5037
@harshavemuluru-gep -- Vemuluru, thank you for your feedback. This issue has been resolved; please try again.

I am closing this issue now. You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-06-24 22:26] #5037 closed

[2020-06-24 22:29] WilliamAntonRohm commented on #5040
@mpyusko -- thank you for your feedback. This issue should be resolved by now; please try again.

I am closing this issue now. You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-06-24 22:29] #5040 closed

[2020-06-24 23:21] #4906 closed

[2020-06-24 23:22] WilliamAntonRohm commented on #4906
@Protiguous -- I've tidied up the examples per your suggestions, except:
- For the blue inconsistency, you have uncovered a possible bug in the SQL code formatter.
- I think the 4th and 5th examples are designed to show more context.

Thank you for your feedback!

[2020-06-25 00:43] shkale-msft commented on #4970
Hi @Elloudo ,

Sorry for the late reply. Here is a shortest path query that you can use. There are few things to note here:

0. This query is failing on Azure due to a regression right now, will be fixed soon. You can try this on SQL Server 2019 RTM release. Let me know if you are running your application on Azure. We can enable the fix on your server, so that you can test it there.
1. The view de

[2020-06-25 11:18] mco100 opened #5041 "DMA tool"
DMA version : 5.2
DMA compatibility assessment for SQL upgrade 2014 to SQL 2016
Issue : SQL 2016  runs on windows systems only, but DMA compatibility assessment provides recommendations related to Linux systems

JSON Report extract 1
"Category": "FeatureParity",
"Severity": "Warning",
"FeatureParityCategory": "UnsupportedFeature",
"RuleId": "EBEA0692-166E-4BE1-BD2C-904E679F9D91",
"Title": "Extensi

[2020-06-25 15:55] MikeRayMSFT commented on #5014
@CarlRabeler - would you mind reviewing this issue?

Thanks

[2020-06-25 18:32] MikeRayMSFT commented on #5014
@kevchat - thanks for raising this issue. I'm forwarding the request over to the product group for evaluation.

[2020-06-25 18:32] #5014 closed

[2020-06-25 19:05] MikeRayMSFT commented on #5013
@kevchant for the suggestion. [Guidelines for online index operations - Performance considerations](https://docs.microsoft.com/sql/relational-databases/indexes/guidelines-for-online-index-operations) specifically says

It sounds like you're looking for a little more specific information on [How Online Index Operations Work - SQL Server](https://docs.microsoft.com/sql/relational-databases/indexes/h

[2020-06-25 19:11] MikeRayMSFT commented on #5012
@kevchant - compatibility level allows the database Transact-SQL and query processing behaviors to align with older versions of SQL Server. The instance of SQL Server still has all of the features available with its current version.  This doesn't seem to be a distinction specifically related to Columnstore Indexes.

If you'd like to submit a specific documentation update, go to the article, click

[2020-06-25 19:11] #5012 closed

[2020-06-25 19:25] Elloudo commented on #4970
Thank you very much. The proposed solution looks great. I am now clarifying with the admins of my company if they allow that you install the fix on our server. I'll go back to you soon.

Regards,
Ludo

[2020-06-25 19:27] MikeRayMSFT commented on #5003
@m60freeman Thanks for the submission. Submitting an update.

[2020-06-25 19:31] MikeRayMSFT commented on #5013
Accidentally closed. Reopened for customer to respond.

[2020-06-25 19:36] #4923 closed

[2020-06-25 19:37] WilliamAntonRohm commented on #4923
@Protiguous -- thank you.  They are now, and will be live shortly.

[2020-06-25 19:41] WilliamAntonRohm commented on #4598
This issue is superseded by #4921

[2020-06-25 19:41] #4598 closed

[2020-06-25 21:04] mmannion opened #5042 "Creating login with contained database user"
Under _Typical Scenario_ > _If the person connecting will be connecting to only one database_, the first step is to "Create a login...". The goal, however, appears to be to create a contained database user. Per prior information in this same page, and in the related doc on contained databases, I believe that a login is not required.

If my understanding is correct, it would help to either:

1. Rem

[2020-06-25 21:39] #4921 closed

[2020-06-25 21:40] VanMSFT commented on #5042
Hi @mmannion - Thanks for bringing up this issue.

@AndreasWolter - What are your thoughts on this? https://docs.microsoft.com/sql/relational-databases/security/authentication-access/getting-started-with-database-engine-permissions?view=sql-server-ver15#if-the-person-connecting-will-be-connecting-to-only-one-database

@mmannion is right that there is no need to create a login for the Windows group

[2020-06-25 21:45] WilliamAntonRohm commented on #4921
@Protiguous -- I fixed the indentation, and I believe the SQL itself is correct.  The coloring is still off and I am following up on that internally.

[2020-06-25 22:30] WilliamAntonRohm commented on #5041
@mco100 -- thank you for this information.  Please provide some context regarding your task, and if there is a particular docs.microsoft.com article you're following.

[2020-06-26 01:21] AndreasWolter commented on #5042
thanks for catching that. As its written that does not make sense.
Either one creates a user based on a Login, OR a contained user.
But contained users are only available if the database is set to Containment = Partial. That has a few more implications than just allowing contained users. So it is a conscious decision to take.
Many enterprises want to keep control of who can access which databases

[2020-06-26 03:23] #4930 closed

[2020-06-26 06:33] mco100 commented on #5041
Hi,
related document : https://docs.microsoft.com/en-us/sql/dma/dma-migrateonpremsql?view=sql-server-ver15
Context : DMA for SQL Server Upgrade from SQL 2014 to SQL 2016

[2020-06-26 13:51] pierrejeandev opened #5044 "Memory contention between sqlservr.exe and fdhost.exe. Is this still relevant ?"
Per the doc, since SQL Server 2008, the Full-Text Engine is part of the sqlservr.exe process.
Are the remarks on memory contention between sqlservr.exe and fdhost.exe still relevant ?
May be you should clarify this point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1557aca-6d60-4fc0-0d33-81b595435d98
* Version Inde

[2020-06-26 14:38] NaomiN commented on #4962
Hi William, I was trying to figure out how to ask a question  - did I somehow became an author of the documents or now everyone can edit? E.g. I went to this document https://docs.microsoft.com/en-us/sql/ssma/oracle/what-s-new-in-ssma-for-oracle-oracletosql?view=sql-server-ver15&source=docs and I wanted to actually ask a question related to this MSDN thread https://social.msdn.microsoft.com/Forums

[2020-06-26 16:10] nbarnwell opened #5046 "Possible incorrect logic description for to_lsn parameter?"
The document contains the text:

That sounds wrong, and I'm concerned it should be:

Which would then indicate that values between from_lsn and to_lsn, inclusive, are returned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec947a0e-704f-ae89-9141-1e11d23c9d14
* Version Independent ID: 9a5607af-a10e-cf21-e212-65da9f7a4

[2020-06-26 17:48] julieMSFT commented on #4477
@eric-miller-cdfw Hi Eric, I am going to close this issue for now. I would like to see your example so we can dig into this more. Once you find it, you can reply to this issue and we can continue to work on this as the @notification mechanism continues to work even after an item is closed. Thank you for contacting Microsoft and I hope to hear from you soon.

[2020-06-26 17:49] julieMSFT commented on #4477
#please-close

[2020-06-26 17:49] #4477 closed

[2020-06-26 18:14] julieMSFT commented on #4648
@Mitch-Wheat Hello and thank you for contacting Microsoft. I am sorry for the delayed response. Please see this link for a discussion of why FORMAT() is non-deterministic, https://dba.stackexchange.com/questions/174739/format-is-a-nondeterministic-built-in-string-function-right. FORMAT() is not always deterministic because it can be used on numeric data types. Please let me know if you have a furt

[2020-06-26 20:13] potato-enthusiast opened #5047 "Table "not supported" by SQL DW"
This table is available on my SQL DW instance. Should this page be updated to indicate that it applies to SQL DW?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf2a9f49-f432-6702-7987-854f00ceae93
* Version Independent ID: 1b80bc28-fe12-077a-4cd1-94eec13af354
* Content: [sys.pdw_table_mappings (Transact-SQL) - SQL Ser

[2020-06-26 20:28] EOM opened #5048 "Support Ubuntu 20.04 ..?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08eeeaa9-2a32-4a81-149c-4c118db93bc9
* Version Independent ID: fccc0d58-6b4f-1e7c-f451-31e4ad7c0b84
* Content: [Microsoft Drivers for PHP Support Matrix - SQL Server](https://docs.microsoft.com/en-us/sql/connect/php/microsoft-php-drivers-for-sql-serve

[2020-06-26 20:33] potato-enthusiast opened #5049 "Wrong Link"
In the description for <inherited columns>:

The link to sys.objects incorrectly links to sys.dm_pdw_request_steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c77bc02b-3f13-a20a-c166-7afff401ed43
* Version Independent ID: 172adabd-d817-09db-c3d3-972f436e28e7
* Content: [sys.pdw_nodes_tables (Transact-SQL) - SQL Ser

[2020-06-26 20:54] julieMSFT commented on #4762
@Alocyte Hello and thank you for contacting Microsoft. I see the differences in execution times in your example.
You said "Massive differences occur in performance using temporary tables' yet you use a table variable in your example not a [temporary table](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-table-transact-sql?view=sql-server-ver15#temporary-tables). Can you provide me mor

[2020-06-26 21:25] WilliamAntonRohm commented on #5046
@nbarnwell -- Neil, thank you for your question.  I am looking into this article.

[2020-06-26 21:26] WilliamAntonRohm commented on #5049
@potato-enthusiast -- thank you for finding that.  I am looking into the article.

[2020-06-26 22:17] julieMSFT commented on #4824
@Nayyar0 Hello, I have created a work item to track the work on updating this article. Thank you for bringing this to our attention. I will proceed with closing this issue and will update you once the article is complete. If further communication is needed, the @notification mechanism continues to work even after an item is closed. We hope to hear from you again.

[2020-06-26 22:17] julieMSFT commented on #4824
#please-close

[2020-06-26 22:17] #4824 closed

[2020-06-26 22:36] julieMSFT commented on #4861
@swanderz Hi Anders. Thank you for contacting Microsoft. I am looking into your comments.

[2020-06-26 22:39] julieMSFT commented on #4879
@dcbrown16 Hello, I will proceed with closing this issue. If further communication is needed, the @notification mechanism continues to work even after an item is closed. Thank you for your contribution to Microsoft docs! We hope to hear from you again.

[2020-06-26 22:44] swanderz commented on #4861
@julieMSFT I linked the wrong issue above. Here (https://github.com/MicrosoftDocs/azure-docs/issues/55713), I hint that `STRINGAGG()` is the answer.

[2020-06-26 22:46] julieMSFT commented on #4879
#please-close

[2020-06-26 22:46] #4879 closed

[2020-06-26 22:53] swanderz commented on #4861
my high level SQL doc feedback is that while I appreciate that you've consolidated the T-SQL function ref across products to avoid duplication, I don't think this works for the persona that is trying to translate between TSQL implementations. I also opened this issue on the same topic. https://github.com/MicrosoftDocs/azure-docs/issues/55713 @WilliamAntonRohm

I think using the analogy of offering

[2020-06-26 22:57] julieMSFT commented on #4916
@srutzky @CarlRabeler  I have submitted the PR to make this clearer. I will proceed with closing this issue. If further communication is needed, the @notification mechanism continues to work even after an item is closed. Thank you for your contribution to Microsoft docs! We hope to hear from you again.

[2020-06-26 22:57] julieMSFT commented on #4916
#please-close

[2020-06-26 22:57] #4916 closed

[2020-06-26 23:07] julieMSFT commented on #5005
@CeciAc Hi Cecilia, Thank you for this example. I am looking into adding it to the article.

[2020-06-27 17:22] chessmonster opened #5051 "curl command won't proceed for Ubuntu requirements installation"
From  this section: https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-ver15#ubuntu17, it says to run this command

`curl https://packages.microsoft.com/config/ubuntu/18.04/prod.list > /etc/apt/sources.list.d/mssql-release.list`

But when I run this, it does not do anything for some reason. I tried accessing this (https:/

[2020-06-27 17:23] chessmonster commented on #5051
I'm using ubuntu 18.04

[2020-06-27 23:47] nvdacsheets opened #5052 "No mention of required permissions"
It would be helpful to have this article include a note about what permissions are required in order to change the authentication mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e9b632d-7e6d-1434-cc6b-9aa77d37f41a
* Version Independent ID: 3689727c-e685-1503-fd9e-365aa15c33fa
* Content: [Change Server Authenticat

[2020-06-28 19:46] Alocyte commented on #4762
Hi JulieMSFT
I seem to have lost the context of the statement I made - this response comes on 26 June to WilliamAntonRohm's request on 13 May. This page,  https://github.com/MicrosoftDocs/sql-docs/issues/4762, is contextless.

I don't believe I understood your question correctly- it seems to state I misunderstood the nature of the temporary table within a multi-statement function? And from the lin

[2020-06-29 14:55] DatabaseAsAService opened #5055 "More info"
Please include a comment about conflicting parameters... are the parms ANDed or ORed? If I specify a NAME and a JOBID which jobs are cancelled.

Can this be used from within TSQL to cancel the current job?

[2020-06-29 15:04] mgkuhn opened #5056 "Mention Ubuntu 20.04 support"
Please add “Microsoft ODBC driver for SQL Server” installation instructions also for Ubuntu 20.04, the latest long-term support version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fc3da20-7ab2-d20f-4d29-4664d3183b57
* Version Independent ID: 986d25d9-5d2e-5154-39ea-3b683faf2264
* Content: [Install the Microsoft OD

[2020-06-29 15:07] mgkuhn commented on #5056
Duplicate of #4678

[2020-06-29 15:07] #5056 closed

[2020-06-29 17:21] #4974 closed

[2020-06-29 17:56] amthomas46 opened #5058 "sys.dm_os_sys_info listed as not supported for Azure SQL Database"
sys.dm_os_sys_info listed as not supported for Azure SQL Database, however, I am able to run it in the context of my database
![image](https://user-images.githubusercontent.com/28786161/86039273-134b8b00-b9f7-11ea-9bcb-009257e664cb.png) as well as in the context of master
![image](https://user-images.githubusercontent.com/28786161/86039343-23636a80-b9f7-11ea-8cd3-e88d7384c998.png)

Is it possible

[2020-06-29 18:44] amommy opened #5059 "Need Azure differences on ALL documentation"
There needs to be more info on all SQL doc pages for managed instances or make all new documentation for azure sql (database and managed) because the docs that are available lack vital information especially 'no longer applies'.
Updating security checks on managed instance and need to justify why audits set to maximum maxsize and max_rollover_files no where does it say why or that it just doesn't

[2020-06-29 19:13] julieMSFT commented on #4762
@Alocyte Hi, thank you for your response. I am confused by this submission. The title and the comments do not seem to match. the comment is  "Massive differences occur in performance using temporary tables" yet the example does not use a temporary table and the difference in performance seems to be from a table with a primary key vs a heap table. Can you restate your original concern to help me un

[2020-06-29 20:00] potato-enthusiast opened #5060 "Example query 1 is invalid."
This pertains to example query 1 whose description includes "calculated PercentFull column is an estimate of the efficiency of the row group".

1. The query does not output a "PercentFull" column.
2. Validating this query by filtering to a single table and taking the sum of "total_rows", the sum is over 10x larger than the actual row count of the table.

[code]

---
#### Document Details

⚠ *Do no

[2020-06-29 20:36] WilliamAntonRohm commented on #5048
@EOM -- Sergio, thank you for your question.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@David-Engel -- David, please look into this issue.

[2020-06-29 21:09] WilliamAntonRohm commented on #5051
@chessmonster -- thank you for your feedback.  That file (https://packages.microsoft.com/config/ubuntu/18.04/prod.list) is there when I just looked.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

cc @David-Engel for awareness

I am closing this issue now.

[2020-06-29 21:09] #5051 closed

[2020-06-29 21:20] chessmonster commented on #5051
hello, yes please do close. I checked a couple of hours ago and it worked fine then. thanks.

[2020-06-29 22:35] WilliamAntonRohm commented on #5055
@DatabaseAsAService -- thank you for your feedback.  Are you following a particular docs.microsoft.com article?  Please provide further context regarding your task.  Meanwhile, consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-06-29 22:36] WilliamAntonRohm commented on #5058
@amthomas46 -- Anna, thank you for your feedback.  I am looking into this article.

[2020-06-29 22:37] WilliamAntonRohm commented on #5047
@potato-enthusiast -- thank you for your feedback.  I am looking into this article.

[2020-06-29 22:47] WilliamAntonRohm commented on #4967
@bachphi -- my apologies for the delay in responding.

@julieMSFT -- please look into this issue.

[2020-06-29 22:47] #4971 closed

[2020-06-29 22:54] WilliamAntonRohm commented on #5041
@mco100 -- thank you for clarifying.  That log shows two unsupported features.  I am unsure of your request here.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

[2020-06-29 23:05] WilliamAntonRohm commented on #4962
@NaomiN -- Hi!  Everyone can edit a document and create a PR for their update.  Each PR is reviewed by our team and typically merged into the live site.  Here's how:
- Navigate to the page of interest
- Select the "Edit" button at the top right of the page
- Select the "Pencil" icon on the right
- Modify the text within the text box in markdown format
- Name your file change and copy the link to y

[2020-06-29 23:13] krishnamsft20 opened #5061 "Wrong version for Linux in download link"
[When we click tar.gz, it downloads 8.2.0.0 not 8.2.2.0]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cded3d0-9d0a-ce94-1c91-21de62e3ddaf
* Version Independent ID: c14c4066-056b-faea-0a28-5eba2c544a43
* Content: [Download Microsoft JDBC Driver for SQL Server - SQL Server](https://docs.microsoft.com/en-us/sql/connect

[2020-06-29 23:13] WilliamAntonRohm commented on #4962
@NaomiN -- as to why there is no Feedback button on that release note page, I'm not sure.  I'll ask on my end.

What is your question?

[2020-06-29 23:32] WilliamAntonRohm commented on #5052
@nvdacsheets -- Charley, thank you for your feedback.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@markingmyname -- Mark, please look into this issue.

[2020-06-30 00:51] NaomiN commented on #4962
To be honest, I already forgot. I was doing a research of someone's question in MSDN and I believe someone from the team (with Russian sound name) answered that person's question that the option is ON by default (the question was about filtered indexes in SSMA from Oracle to SQL Server)

[2020-06-30 06:01] Alocyte commented on #4762
HI @julieMSFT

Please provide a link to the original article my submission targeted.

Thanks

[2020-06-30 06:01] #4762 closed

[2020-06-30 06:21] mco100 commented on #5041
How do you explain that DMA assessment reports contain warnings related to Linux system when the target is SQL server 2016 ?
As far as I know, SQL 2016 cannot run on Linux system....

[2020-06-30 07:42] ite-klass opened #5064 "Inconsistent type casing (CAPS or smallcase)"
What is the intended convention for type name casing? The examples are mostly CAPS, but also sometimes smallcase.

I’ve seen it lowercase in other places (DECLARE) but here types seem to be CAPS for the most part, but not exclusively.

Create script in MSSQLSMS seems to create them in smallcase.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-06-30 12:21] rcaldwell-hiusa opened #5065 "Consistent use of semicolon in sql-docs"
This page shows semicolon use as a statement end indicator in the syntax block at the head, but then the examples below are inconsistent with the syntax block. This is confusing. And there is no mention of any requirement for explicit statement end indicator (;) use anywhere in the text.

Which is it — required for IF ELSE statements, or not? Or only required in certain statement configuration con

[2020-06-30 16:24] julieMSFT commented on #4762
@Alocyte Hi, this is the article this issue was attached to, https://docs.microsoft.com/en-us/sql/relational-databases/statistics/statistics?view=sql-server-ver15&source=docs.

[2020-06-30 18:49] stevestein commented on #4130
@GITAhmad123 - thanks for the feedback. Info was added to the detach article stating that you can't detach a database that is in an availability group.

Thanks!

#please-close

[2020-06-30 18:49] #4130 closed

[2020-06-30 18:53] rothja commented on #5027
@srutzky Solomon, I'm going to create a folder for Logon Triggers and put the two logon trigger articles in that folder. I'm going to move the trigger security article below these folders. There is no triggers overview although there is an overview for DDL and DML triggers in their respective folders. But I think this will help, and you definitely identified a confusion caused by the content archi

[2020-06-30 19:30] WilliamAntonRohm commented on #5060
@potato-enthusiast -- thank you for your feedback.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@ronortloff -- please look into this issue.

[2020-06-30 19:32] WilliamAntonRohm commented on #5061
@krishnamsft20 -- thank you for your feedback.

@David-Engel -- please look into this issue.

[2020-06-30 19:35] julieMSFT commented on #4648
@Mitch-Wheat Hi, I will proceed with closing this item. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-06-30 19:35] julieMSFT commented on #4648
#please-close

[2020-06-30 19:35] #4648 closed

[2020-06-30 20:01] #5027 closed

[2020-06-30 20:03] WilliamAntonRohm commented on #5059
@amommy -- thank you for your feedback.  We are in a continual process of updating the SQL Server Documentation to be more accurate with Azure SQL Database and Azure SQL Managed Instance. We're sorry the docs do not cover all scenarios yet in detail.

If you find something on a specific page, you are welcome to open a GitHub issue on that page to request that we make it more accurate, or you can e

[2020-06-30 20:03] #5059 closed

[2020-06-30 20:05] MashaMSFT commented on #4596
Hi @paulomorgado , thanks for your patience and my apologies for the delay :) this article has been significantly rewritten for clarity, and your issue should be addressed with the rewrite.

I hope that helps and please let us know if there's anything more we can assist you with? I'm going to close out this Git Issue but please comment should you need anything further.

Thanks again and hope you h

[2020-06-30 20:05] #4596 closed

[2020-06-30 20:06] rothja commented on #4957
@gbritton1 Thanks for your patience. After closely looking at this, I am wondering whether there is a problem in SQL Server where it is not honoring the restriction per the docs. I'm not positive, but I don't have a great answer for you on the difference here. I would suggest that you take a look at the forums:

- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [S

[2020-06-30 20:06] #4957 closed

[2020-06-30 20:16] #4897 closed

[2020-06-30 20:28] rothja commented on #4901
@cosmoKenney I'm still trying to find the correct steps for updating the doc. Were you able to find a way to accomplish this with community threads/blogs online? Are you still stuck trying to debug your object? Thanks!

[2020-06-30 20:37] MashaMSFT commented on #4801
Hi @me2unni, thanks for contacting Microsoft! My apologies, would you please mind clarifying what you mean by "Storage Account Excel"?  If possible, can you please provide screenshots of what actions you're taking to perform the bulk insert?

Thanks!
Masha from the SQL Docs team

[2020-06-30 20:44] cosmoKenney commented on #4901
@rothja
uh, i've gotten past this issue. But I don't recall exactly how. I think I changed a setting in the project that explicitly set the test sql script. Which enabled me to do normal F5 debugging.

[2020-06-30 20:52] rothja commented on #4113
You're right that we should be more clear on what is supported in Azure SQL on this page, and I'm trying to get the exact changes needed.

I found that the XEvent server-level views (e.g. sys.dm_xe_session_targets) are not visible on Azure SQL DB. They were replaced with database-level equivalent views (e.g. sys_dm_xe_session_targets became sys.dm_xe_database_session_targets). For Azure, we need t

[2020-06-30 20:52] #4113 closed

[2020-06-30 20:52] MashaMSFT commented on #5010
Hi @gani746 , thanks for providing this feedback! I have passed it along to the appropriate parties and we are investigating further. We will close out this Git Issue in the meantime but please feel free to comment should you need anything further.

Thanks!
Masha from the SQL Docs team

[2020-06-30 20:52] #5010 closed

[2020-06-30 20:52] CarlRabeler commented on #4992
@jrowlandjones

JRJ - please review the syntax for SQL Server and let me know what the syntax should be for Azure SQL Managed Instance.

[2020-06-30 20:58] CarlRabeler commented on #4748
#reassign:jrowlandjones
JRJ - please look at this issue.

[2020-06-30 21:05] #4855 closed

[2020-06-30 21:14] CarlRabeler commented on #4767
@MrBrianGale See update in these articles: https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/sys-servers-transact-sql?view=sql-server-ver15 and https://docs.microsoft.com/en-us/sql/relational-databases/linked-servers/linked-servers-database-engine?view=sql-server-ver15

In SQL2019, the alias SQLNCLI maps to MSOLEDBSQL, so existing server connection strings using this s

[2020-06-30 21:14] #4767 closed

[2020-06-30 21:19] CarlRabeler commented on #4631
1)	If standard (non-temporal) table has a view with schema binding then upgrading table to temporal will not cause any behavior changes. View cannot use temporal features so adding temporal feature will not break existing functionality.
2)	If temporal table has schema bound view this view can use some temporal functionalities and disabling temporal will break it if someone uses temporal functional

[2020-06-30 21:19] CarlRabeler commented on #4631
#reassign:jovanpop-msft

[2020-06-30 21:20] CarlRabeler commented on #4170
#resassign:uc-msft

[2020-06-30 21:22] CarlRabeler commented on #4992
#reassign:jrowlandjones

[2020-06-30 21:23] Elloudo commented on #4970
Hi Shreya,

Here the detail about the server version we are using:
Product Version: 12.0.2000.8
Product Level: RTM
Edition: SQL Azure
Engine Edition: 5
Major Version: 12
version: Microsoft SQL Azure (RTM) 12.0.2000.8 May 15...

Is it possible for you to contact my admin directly to discuss the details on how to patch the fix on our company server ?

Contact
Shahid Mukadam
Email: Shahid.Mukadam@har

[2020-06-30 21:25] NTDLS opened #5069 "DateTime comparisons broken for fn_xe_telemetry_blob_target_read_file"
Using SQL Azure: DateTime2 comparison on `timestamp_utc` for the `fn_xe_telemetry_blob_target_read_file` function does not seem to function correctly.

If I query for data in the current century, nothing is returned - I only get data when I ask for data in the distant past.

![image](https://user-images.githubusercontent.com/11428567/86178422-52143a80-baf6-11ea-81d1-77c7a1e3bcd0.png)

[2020-06-30 21:26] shkale-msft commented on #4970
Hi @Elloudo ,

I will reach out to Shahid over email and ask him to keep you in loop.

Thanks,
shreya

[2020-06-30 21:31] srutzky commented on #5027
@rothja Hi Jason. Sounds good, though shouldn't there still be a general "Triggers" overview page, even if it's fairly minimal? I'm pretty sure I've seen that in many other places, where it's mainly a list of links to the sub-pages, in this case:
* DML
* DLL
* Logon

There can even be a generic statement along the lines of:

"Triggers are procedural code that is executed upon one or more events oc

[2020-06-30 21:54] markingmyname commented on #4102
Currently, there is no specific release notes article for cmd line tools for SQL separately.

I will take this feedback to the parties involved.

Thank you.

[2020-06-30 21:54] #4102 closed

[2020-06-30 21:54] WilliamAntonRohm commented on #5069
@NTDLS -- Josh, thank you for your feedback.  Are you reading a particular docs.microsoft.com article?  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

You are welcome to add this issue here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

[2020-06-30 23:31] WilliamAntonRohm commented on #5065
@rcaldwell-hiusa -- thank you for your feedback.

@rothja -- please look into this issue.

[2020-06-30 23:33] NTDLS commented on #5069
I will submit instead to the feedback page. Thanks.

[2020-06-30 23:33] #5069 closed

[2020-07-01 01:03] WilliamAntonRohm commented on #5064
@ite-klass -- Jan, thank you for your feedback.  I am investigating.

[2020-07-01 01:26] MikeRayMSFT commented on #5013
@pmasl or @bluefooted do we have anything specific to add to the documentation?

[2020-07-01 01:35] NTDLS commented on #5069
https://feedback.azure.com/forums/908035-sql-server/suggestions/40795192-using-sql-azure-datetime2-comparison-on-timestamp

[2020-07-01 01:55] MikeRayMSFT commented on #4981
@dcarapic - I really appreciate your patience. I'm working on staging a comprehensive example. I don't want you to have to continue to wait though. While I'm creating and staging that, make sure you check out this helpful example: https://www.sqlshack.com/sql-server-filetable-the-next-generation-of-sql-filestream/

[2020-07-01 03:25] bluefooted commented on #5013
I'm not sure where to put this in the article, but I think @kevchant is talking about the very end of the operation when the index rebuild is trying to get a SCH-M lock. Any outstanding queries against the table will block this SCH-M lock, so it can take a long time before the rebuild operation can acquire the lock. While it's in the queue waiting for the lock, it may block other transactions as w

[2020-07-01 03:36] markingmyname commented on #4931
@bkline

Sorry for the delayed response.

Here is info that I hope will help you with your concern.

-If there are no rows, there are also no columns to bind.
-TVPs do not have a default value that can be set, because SQL_DEFAULT_PARAM indicates no rows.

Please let me know if you have any more questions.

Thank you.

[2020-07-01 06:10] Alocyte commented on #4762
Well, I too am confused. Statistics... huh.

My statement elaborated how creating a clustered index on a table variable,
made a disproportionately massive difference to the query's execution speed.
[ 1 sec vs 9 sec for 10000 rows self joining on an integer field]
That has nothing to do with statistics.

Ok then.

[2020-07-01 06:23] KennieNP opened #5073 "Not clear how to connect to Application Insights"
[Enter feedback here]
In the docs page it states that this is how you connect and authenticate:
%kql appinsights://appid='DEMO_APP';appkey='DEMO_KEY'

Not sure what appid and appkey are. Where do I get these from the Application Insights portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dff3a557-f65c-10e5-e9f9-0c8

[2020-07-01 06:31] kevchant commented on #5013
Really sorry for the delay, been busy with wife's birthday present.

Anyway, @bluefooted is right that is exactly what I am talking about.

I think the suggestion about adding the note there is perfect because I've had to go through this issue at a couple of places now.

[2020-07-01 06:51] dcarapic commented on #4981
Hi Mike,
I managed to solve my issue thanks to the link I've already provided in my comment (https://stackoverflow.com/questions/10485978/creating-sub-directory-via-sql-insert-using-filetable). I've already scoured the internet to find help and I've seen the link that you've provided. Unfortunately that link does not provide information that I need. The main problem I had is how to manipulate the

[2020-07-01 11:24] rothja commented on #5065
@rcaldwell-hiusa Thank you for the feedback, and apologies for the confusion on the use of the semi-colon. You're right that we should be more clear. In our [Transact-SQL syntax conventions](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/transact-sql-syntax-conventions-transact-sql?view=sql-server-ver15) we say the following:

[code]

But I believe that has been in the documentation

[2020-07-01 13:54] RobAshton-IM opened #5075 "Missing details of permissions and class for database-scoped credentials"
The documentation page for the sys.database_permissions view doesn't include any details for the "database scoped credential" object type introduced in SQL Server 2016/2017, [sys.database_scoped_credentials](https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/sys-database-scoped-credentials-transact-sql?view=sql-server-ver15)

Could these details be added please? I can s

[2020-07-01 16:21] happyphunn commented on #3484
I think what's missing here is the there's no system requirements listed for any previous version on ssms, only the current release. For example, I'd like to know the highest version of SSMS that's allowed to be installed on Windows 7. Windows 7 is not listed for the current release although I've got an older version installed on a windows 7 box that's prompting me to 'upgrade' and the version it'

[2020-07-01 16:40] MikeRayMSFT commented on #5013
Thanks both. We're submitting an update.

[2020-07-01 16:41] rjrjack opened #5077 "Sentence can be interpreted in two different ways..."
When I read the below sentence in Design Recommendatilons
        "Redesign nonclustered indexes with a large index key size so that only columns used for searching and lookups are key columns"
I read it to mean redesign the index so that it has a large index key size.

I think the sentence should say
       " Redesign nonclustered indexes that have a large index key size so that only columns used

[2020-07-01 17:27] #5013 closed

[2020-07-01 17:57] WilliamAntonRohm commented on #5069
@NTDLS -- thank you.

[2020-07-01 18:02] markingmyname commented on #4931
@bkline

The article will be updated by the end of the week with a Note describing this info.

Thank you for bringing this to our attention.

[2020-07-01 18:03] markingmyname commented on #4931
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue. To see what the community is wanting, please visit the [UserVoice](https://feedback.azure.com/forums/908035-sql-server) site.

[2020-07-01 18:08] #5008 closed

[2020-07-01 18:51] PrometheusRising1 opened #5078 "Confusing Text"
"This article is valid for SQL Server 2012, but not for SQL Server 2014 or later. For DAC articles about SQL 2012 and earlier, see the following links:"

The above is confusing, as there is no provided link for SQL Server 2014 or later.  Please provide a link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f0297c-1e1

[2020-07-01 18:52] KrystinaWoelkers opened #5079 "SYSADMIN and the sql agent login"
Hello, its quoted in the article
"
SQL Server Per-service SID Login and Privileges
The per-service SID of the SQL Server service is provisioned as a Database Engine login. The per-service SID login is a member of the sysadmin fixed server role.
"

But when I look in SSMS it does NOT appear that the agent account is a sysadmin. How do we know these permissions were properly assigned upon install?

[2020-07-01 19:27] #4931 closed

[2020-07-01 19:35] bkline commented on #4931
Thanks, @markingmyname .

[2020-07-01 20:53] phil-shin opened #5082 "CURRENT_TIMESTAMP and DATE() functions have same description"
CURRENT_TIMESTAMP and GETDATE() functions have same description

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 972a4352-4957-49fc-0c39-3e254d130fe7
* Version Independent ID: cc865d87-1527-9f72-3cbc-7b036f4503df
* Content: [Date and Time Data Types and Functions - SQL Server (Transact-SQL)](https://docs.microsoft.com/en

[2020-07-01 21:21] rothja commented on #5027
@srutzky It's a tough call. In the past in the SQL documentation, we had those types of index pages all over the place (and we still do). "The following section covers..." and it was a list of links. The current best practice is to make sure that any article is useful on its own, because people find the info through search. Ideally, we would have a more rich article on Triggers and the different t

[2020-07-01 21:42] rothja commented on #4901
@cosmoKenney Yes, sorry for the long delay and for having to find the answer yourself. I would still like to find a better update for the doc to avoid the confusion. I'll be looking into this more, but I'm glad you're not blocked. Thank you!

[2020-07-01 22:00] WilliamAntonRohm commented on #5075
@RobAshton-IM -- Rob, thank you for your feedback and question.

@VanMSFT -- Van, please look into this issue.

[2020-07-01 22:01] WilliamAntonRohm commented on #5077
@rjrjack -- thank you for your feedback.  I am looking into this wording.

[2020-07-01 22:06] VanMSFT commented on #5075
Hey @AndreasWolter - Can you please help with this?

[2020-07-01 22:10] WilliamAntonRohm commented on #5078
@PrometheusRising1 -- thank you for your feedback.  Please see [Previous versions of SQL Server documentation](https://docs.microsoft.com/en-us/sql/sql-server/previous-versions-sql-server?view=sql-server-ver15).

@stevestein -- please look into this issue.  If you provide me with the link, I'll create a PR to update this article.

[2020-07-01 22:12] WilliamAntonRohm commented on #5079
@KrystinaWoelkers -- Krystina, thank you for your feedback.  Please consider these resources:
- [DBA Stack Exchange](https://dba.stackexchange.com/questions/tagged/sql-server)
- [Stack Overflow](https://stackoverflow.com/questions/tagged/sql-server)

@markingmyname -- Mark, please look into this issue.

[2020-07-01 22:19] WilliamAntonRohm commented on #5082
@phil-shin -- Phil, thank you for your feedback.  My understanding is that CURRENT_TIMESTAMP and GETDATE return the same datetime for a given instant, and so those descriptions are equally correct.

cc @markingmyname for awareness

[2020-07-01 22:19] #5082 closed

[2020-07-01 22:31] WilliamAntonRohm commented on #5073
@KennieNP -- Kennie, thank you for your feedback.  Please consider these resources:
- [Create an Application Insights resource](https://docs.microsoft.com/en-us/azure/azure-monitor/app/create-new-resource)
- [Getting your API key and Application ID](https://dev.applicationinsights.io/documentation/Authorization/API-key-and-App-ID)
- [az monitor app-insights api-key](https://docs.microsoft.com/en-u

[2020-07-01 22:31] #5073 closed

[2020-07-01 22:41] KrystinaWoelkers commented on #5079
I've got some more fun findings...
I did find this article today
https://dba.stackexchange.com/questions/81913/sql-server-agent-is-part-of-the-sysadmin-role-even-tough-sql-server-says-its-no

and although its a bit out of date I think this is the closet article I found that matches my question.

If I run a select to show all sysadmins, the agent does not return
If I impersonate the agent account,

[2020-07-01 22:46] AndreasWolter commented on #5075
Hi @Steven<mailto:Steven.Gott@microsoft.com>

I think for Database Scoped Credential there is no dedicated permission
The Doc mentions “ALTER on the Credential”, but how could you have that?

For Create it is:

Requires CONTROL permission on the database.
I think the same applies to ALTER/DROP

And hence there is no special entry in permissions.
Is that right?

Thanks
Andreas
---------------------

[2020-07-01 22:46] data-architect-tampa opened #5090 "FORMAT letter options are not listed and F for Floating Point is not in example"
There is no list of all possible options for the 2nd argument.

Pn  - Percentage
Fn - Floating point
etc.

No example with F is included.
select format(1.222222222,'F2')   produces '1.22'

I was looking for this and had to guess myself what the answer was.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f019407-5787-6f

[2020-07-01 23:19] WilliamAntonRohm commented on #5090
@data-architect-tampa -- thank you for your feedback.  Please see this article:
- [Standard numeric format strings](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-numeric-format-strings)

[2020-07-01 23:19] #5090 closed

[2020-07-01 23:35] chrisspre opened #5091 "Vague description of return type and length in CONCAT."
The phrase "A string value whose length and type depend on the input." under return type is quite vague.

When writing recursive CTE it is useful to know what the type and length of the results to avoid the error "Types don't match between the anchor and the recursive part in column..." . This can be avoided by extensive casting which seems redundant and can be error prone.

---
#### Document Deta

[2020-07-01 23:58] data-architect-tampa commented on #5090
I thought the Format function was the landing page.   I don't see a
reference to the standard formatting strings from the landing page.

Use case: search for "sql server format function".   See if you can get the
link you gave me.  I have had this trouble before.

On Wed, Jul 1, 2020, 7:19 PM William Anton Rohm <notifications@github.com>
wrote:

[2020-07-02 09:48] Rookian commented on #2323
Hi @VanMSFT!
We have continued to research the topic and propose the following alternative solution.
We ask Microsoft kindly to verify the solution described below and to inform whether this is an approperiate solution.

**Proposed solution**
A service principal is configured to create various resources in a subscription.
This service principal has to be assigned to the `Directory Readers` role in

[2020-07-02 09:58] RobAshton-IM commented on #5075
Hi Andreas, while DSC permission inheritance worked the way you describe in SQL Server 2016 when they were first introduced, the latest version of the [SQL Server permissions poster](https://aka.ms/sql-permissions-poster) shows that ALTER, CONTROL, REFERENCES, TAKE OWNERSHIP, and VIEW DEFINITION permissions were added to database scoped credentials in SQL Server 2017 onwards and Azure SQL Database

[2020-07-02 10:31] RobAshton-IM commented on #5075
Also, while we're at it... :)

Could the same question be asked of Full Text Search Property Lists, or does that want raising as a separate issue?

Kind regards,
Rob Ashton

[2020-07-02 10:49] shahchi1 opened #5092 "Need update:"
"Encrypted data compresses significantly less than equivalent unencrypted data. If transparent data encryption is used to encrypt an entire database, compressing backups might not reduce their size by much, if at all."

The above is no longer correct staring with SQL 2016 as it supports compression of the TDE enabled databases.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-07-02 11:03] shahchi1 opened #5093 "Need Doc update"
this part of the documentation

"Encrypted data compresses significantly less than equivalent unencrypted data. If transparent data encryption is used to encrypt an entire database, compressing backups might not reduce their size by much, if at all."

should states that

"For TDE enabled databases in version of SQL Server prior to SQL Server 2016 - specifying WITH COMPRESSION had no effect on back

[2020-07-02 12:10] Rookian commented on #4959
@alexmbaker, @cephalin and @WilliamAntonRohm  we have a found a working solution: https://github.com/MicrosoftDocs/sql-docs/issues/2323#issuecomment-652907219

[2020-07-02 12:48] #5007 closed

[2020-07-02 12:49] rothja commented on #5007
@awilbert We have merged in Solomon's suggested changes to address the doc problems, and the issue closed automatically. Thanks, again to you both!

[2020-07-02 12:56] srutzky commented on #5007
@rothja (and @awilbert ): You're welcome 😺 .

[2020-07-02 13:24] LudoBoggioTotal opened #5094 "In the Portal english version of the document, the step to create the key in the Key Vault is missing. French Powershell version indicates it."
Creation of the Key in the newly created Key Vault is missing in the English Portal version. The French Powershell version indicates it (but it didn't say the "list" rights has to be given)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4997f245-c966-51a3-34c7-705c3cfbd4b0
* Version Independent ID: 129fbe40-3b02-f2c1-e

[2020-07-02 15:21] rcaldwell-hiusa commented on #5065
Jason –

I appreciate your timely response to my comment, and the information you provided.

I’d like to give you a bit more information in response to one point you made:  “there are some cases where T-SQL requires semicolons, but those cases are usually clearly called out in the docs”.

This is actually what prompted me to give feedback. I found in testing that the attached T-SQL query would ent

[2020-07-02 15:33] rothja commented on #5065
@rcaldwell-hiusa Thanks for the additional context, and you're right that this not being explained in the docs is clearly a problem. I'm going to look to update this one example. As for the overall solution or best practice in our docs on this, I'm consulting with others internally to see what can/should be done. I'm sorry for your frustration and lost time!

BTW, when you reply to a git issue ema

[2020-07-02 16:56] NaomiN opened #5098 "Don't get any results for the newly created database"
I tried different queries for the database I just created using the documented views, but they returned no results even though I can see that, say, Production.Products table depends on the Production.Categories table.

BTW, there is still the same problem - when I try to add a new comment under the article (in that particular case I was reading about sql_expression_dependencies view), the new tab

[2020-07-02 17:06] CarlRabeler commented on #5098
Run the following query and let me know what results are returned: SELECT * FROM Production.Categories

[2020-07-02 17:25] NaomiN commented on #5098
Eight rows returned:

categoryid	categoryname	description
1	Beverages	Soft drinks, coffees, teas, beers, and ales
2	Condiments	Sweet and savory sauces, relishes, spreads, and seasonings
3	Confections	Desserts, candies, and sweet breads
4	Dairy Products	Cheeses
5	Grains/Cereals	Breads, crackers, pasta, and cereal
6	Meat/Poultry	Prepared meats
7	Produce	Dried fruit and bean curd
8	Seafood	Seaweed an

[2020-07-02 18:15] julieMSFT commented on #4967
@bachphi Hello and thank you for contacting Microsoft. Can you provide the code you are trying to run and the error you are getting?

[2020-07-02 18:16] julieMSFT commented on #4996
@jeffmoltenberry Hi Jeff, I am looking into updating this article.

[2020-07-02 18:31] WilliamAntonRohm commented on #5091
@chrisspre -- Christof, thank you for your feedback.  Please see the CONCAT article referenced in this article's Remarks:
- https://docs.microsoft.com/en-us/sql/t-sql/functions/concat-transact-sql?view=sql-server-ver15#remarks

[2020-07-02 18:32] #5091 closed

[2020-07-02 18:33] WilliamAntonRohm commented on #5092
@shahchi1 -- Chirag, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue.

[2020-07-02 18:35] WilliamAntonRohm commented on #5092
Duplicate of #5093

[2020-07-02 18:35] #5092 closed

[2020-07-02 18:35] WilliamAntonRohm commented on #5093
@shahchi1 -- Chirag, thank you for your feedback.

@MikeRayMSFT -- Mike, please look into this issue.

[2020-07-02 18:37] WilliamAntonRohm commented on #5094
@LudoBoggioTotal -- Ludovic, thank you for your helpful feedback.

@VanMSFT -- Van, please look into this issue.

[2020-07-02 19:44] julieMSFT commented on #5005
@CeciAc Hi Cecilia, Thank you again for contacting Microsoft and for this example. When I run this example I find that Sunday always returns as 0 not 7. I think this could be useful in the right situation but I am not sure it has enough general value to add to the document. I will proceed with closing this issue. The @notification mechanism continues to work even after an item is closed, in case f

[2020-07-02 19:44] julieMSFT commented on #5005
#please-close

[2020-07-02 19:44] #5005 closed

[2020-07-02 21:56] rothja commented on #5065
@rcaldwell-hiusa After consulting internally, we are all agreed that it is a best practice to use semicolons as a delimiter (and newer functionality does use that) but there are no immediate plans to enforce it. With that said, we should fix T-SQL examples to use the semicolon at the end of statements when we go back to old articles. In this case, it doesn't even work without the semicolon, so it

[2020-07-02 22:29] WilliamAntonRohm commented on #4948
@MikeRayMSFT -- Mike, please review [private PR 15762](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15762).

[2020-07-02 22:32] WilliamAntonRohm commented on #5041
@mco100 -- thank you for your reply.  This repo is solely for documentation-related issues, and this issue is related to the product.  Please add your concern here:
- [SQL Server Feedback](https://aka.ms/sqlfeedback)

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.

[2020-07-02 22:32] #5041 closed

[2020-07-02 22:37] rcaldwell-hiusa commented on #5065
Many thanks and best wishes.

Rich

[2020-07-02 22:37] #5065 closed

[2020-07-02 22:40] WilliamAntonRohm commented on #5046
@rothja -- Jason, please review [private PR 15764](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15764).

[2020-07-02 22:49] WilliamAntonRohm commented on #5047
@ronortloff -- Ron, please review [private PR 15765](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15765).

[2020-07-02 23:06] #5049 closed

[2020-07-02 23:09] WilliamAntonRohm commented on #5058
@CarlRabeler -- Carl, please review [private PR 15768](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15768).

[2020-07-02 23:14] WilliamAntonRohm commented on #5077
@MikeRayMSFT -- Mike, please review [private PR 15769](https://github.com/MicrosoftDocs/sql-docs-pr/pull/15769).

[2020-07-02 23:24] NaomiN commented on #4948
I think I saw that exact same typo in other document I was reading recently too, but decided to not raise the issue again. Most likely that same typo is repeated in lots of the documents. Don't know if I should be fixing it manually next time I came across it or leave it.

[2020-07-02 23:25] NaomiN commented on #5098
More details (if needed) in this thread https://social.msdn.microsoft.com/Forums/sqlserver/en-US/319e5963-d28e-4b53-9fec-e2fe78259f33/how-to-rename-a-table-and-column-using-a-script-to-upgrade-database?forum=transactsql

[2020-07-03 00:48] cawrites commented on #4734
@sarajag thank you for contacting Microsoft. I am going to look a little further into this issue to hopefully provide a solution.  It appears from your original request you are looking for guidance in creating a connection string.

[2020-07-03 03:24] cawrites commented on #4734
@sarajag connection strings are very specific. Variations will generally result in a failed connection.  Please confirm your results after testing the following connection strings:

For CosmosDB

[2020-07-03 07:21] shkale-msft commented on #4970
Hi @Elloudo ,

I did reach out to Shahid over email, but have not heard back from them yet. If you share your emailID, I can forward the email to you.

thanks,
shreya

[2020-07-03 09:57] Elloudo commented on #4970
Thanks. Yes of course I forgot to add it: ludovic.weber@harman.com

[2020-07-03 17:37] cawrites commented on #4734
@sarajag connection strings are very specific. Variations will generally result in a failed connection.

Are you using this?

Can you try this specific setting:
**CREATE EXTERNAL DATA SOURCE <external_data_source_name>
WITH ( LOCATION = odbc://<ODBC server address>[:<port>],
CONNECTION_OPTIONS = 'Driver={<Name of Installed Driver>};
ServerNode = <name of server  address>:<Port>',
-- PUSHDOWN = [ON

[2020-07-03 18:43] ltlombardi opened #5120 "Misspell"
"Missing a updated row or seeing an updated row multiple times"
should be "Missing aN updated row or seeing an updated row multiple times"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae81d65-f7b9-7a97-7fe7-30775f815e5b
* Version Independent ID: d4d339e7-48d7-d159-eb59-13bdedc25b4c
* Content: [

[2020-07-04 13:12] AdamFinster opened #5123 "SSMS Startup Arguments"
Missing details for the -P parameter (The password associated with the login)

This parameter is displayed in the command-line display for "ssms -?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 179d9df0-cfc8-d9f2-babc-e9b7d0732d87
* Version Independent ID: c458bccb-8bba-f94c-658c-5d35eab7cdc7
* Content: [SSMS Utility

[2020-07-05 21:43] tedykhorst opened #5125 "The documentation details how to skip a column contained in a row of data. How do you skip the last column in the row?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b3384ba-bb57-c651-d1e7-ebcb608c3170
* Version Independent ID: 7e8b85c3-70b6-8f55-8090-78021387d324
* Content: [Map table columns to data-file fields with a format file - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/import-exp

[2020-07-06 07:57] Tim-Bijnens opened #5126 "Documentation outdated : AquireTokenAsync is obsolete"
This documentation seems to be outdated since authorizationcontext.AquireTokenAsync is obsolete and produces a warning in VS, please provide a solution that is free of this "obsolete" warning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01456910-0583-1787-b8a8-2aef66378eec
* Version Independent ID: b55ac9e0-bdd7-8e3

[2020-07-06 12:04] dirkslab commented on #4691
thanks @SeaDude !

[2020-07-06 16:40] WilliamAntonRohm commented on #5120
@ltlombardi -- thank you for catching that.  I am looking into this article.

[2020-07-06 17:15] scottsealanddesign opened #5130 "Link to a list of char codes"
[It would be nice to have a link to the list of char codes.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8cf272b-3e28-160e-7e32-cf824766f87a
* Version Independent ID: cb16a55b-c7c3-8e5a-7b1e-9fb8d16cedc2
* Content: [CHAR (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/functions/char-transact

[2020-07-06 17:45] David-Engel commented on #5048
@EOM Please see [github/microsoft/msphpsql #1110](https://github.com/microsoft/msphpsql/issues/1110#issuecomment-606799116)

Regards,
David

#please-close

[2020-07-06 17:45] #5048 closed

[2020-07-06 18:18] David-Engel commented on #5061
Fixed. Thanks!

#please-close

[2020-07-06 18:18] #5061 closed

[2020-07-06 20:21] CarlRabeler commented on #5098
I do not understand your question.
   1. When I run the examples in the referenced article against the AdventureWorks database - they all return the expected information.
   2. I do not see a table called Production.Categories in the Adventure Works database.

So, I do not understand what the documentation issue is with the referenced article.

Thank you.
Carl

[2020-07-06 20:29] #5058 closed

[2020-07-06 20:37] NaomiN commented on #5098
Hi Carl,

I was thinking (incorrectly) that the sys.dm_referencing_entities or sys.dm_referenced_entities views are supposed to give me dependencies such as Parent/Child tables. However, Erland Sommarskog already set me straight in the thread I referenced. The documentation was not very clear and I believe I originally got these views from another article I was reading (using sp_depends as a searc

[2020-07-06 20:38] rothja commented on #5046
@WilliamAntonRohm Thank you, I'll take a look!

[2020-07-06 20:50] WilliamAntonRohm commented on #5123
@AdamFinster -- thank you for your feedback.

@markingmyname -- please look into this issue.

[2020-07-06 20:52] WilliamAntonRohm commented on #5126
@Tim-Bijnens -- Tim, thank you for your feedback.

@karinazhou -- Karina, please look into this issue.

[2020-07-06 21:06] WilliamAntonRohm commented on #5130
@scottsealanddesign -- thank you for your suggestion.  Please see here for the complete list:
- https://en.wikipedia.org/wiki/ASCII

cc @markingmyname for awareness

I am closing this issue now.  You are welcome to @ mention me for any followup.
We hope to hear from you again.