[2019-04-02 16:35] Dylan-MSFT commented on #1850
Looking at it again, this happens several times throughout the keytab section

[2019-04-02 16:35] Dylan-MSFT opened #1851 "Extra additions of SPNs to keytab in MSA path"
When adding the MSA to the keytab, it states to add the SPNs to the keytab. This has already been done in the steps above (before the UPN section). Please remove the duplication. I do prefer the formatting of the SPN commands in the MSA section (saying to run two commands for all registered SPNs), so I would consider overwriting the commands above with these.

---
#### Document Details

⚠ *Do not

[2019-04-02 16:36] Dylan-MSFT opened #1852 "When creating AD logins, the formatting on the code boxes is wrong"
At least on my screen, the code boxes are not aligned. Please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd6e9f1-17ab-7aea-818e-d2ab416e3891
* Version Independent ID: 3b789cdc-ca6c-4aca-ae01-b094926dbd7c
* Content: [Tutorial: Use AD authentication for SQL Server on Linux - SQL Server](https://review.docs.micr

[2019-04-02 18:29] CBrauer opened #1853 "Python script crashes"
I'm trying to develop a machine language script using SQL Server 2017.
My code is:
[code]
If you uncomment the lines:
[code]
You will see that a crash occurs in the fit method.

To reproduce the problem you will need to download the "rocket.csv" file from my GitHUb account.
See line 12

I hope this helps.
Charles

[2019-04-02 18:58] MightyPen commented on #1845
Jason Roth and Dylan Gray - agreed to Close all of these 8 today from Dylan.  Will be handled another way.

Thanks. GeneMi.

[2019-04-02 18:58] #1845 closed

[2019-04-02 18:59] MightyPen commented on #1852
closing

[2019-04-02 18:59] #1852 closed

[2019-04-02 18:59] MightyPen commented on #1851
closing

[2019-04-02 18:59] #1851 closed

[2019-04-02 18:59] MightyPen commented on #1850
closing

[2019-04-02 18:59] #1850 closed

[2019-04-02 19:00] MightyPen commented on #1849
closing

[2019-04-02 19:00] #1849 closed

[2019-04-02 19:00] MightyPen commented on #1848
closing

[2019-04-02 19:00] #1848 closed

[2019-04-02 19:00] MightyPen commented on #1847
closing

[2019-04-02 19:00] #1847 closed

[2019-04-02 19:00] MightyPen commented on #1846
closing

[2019-04-02 19:00] #1846 closed

[2019-04-02 19:21] MightyPen commented on #1853
@CBrauer Hi Charles, Thank you for this inquiry.
This inquiry has been re-routed to here, new Issue 1853, where we handle **Documentation** errors / fixes / enhancements.
But this inquiry would be classified as a **Support** issue.

I will informally forward the content you put into this Issue 1853 to a couple people who might be able to help. If they do reply with helpful info, I will paste the i

[2019-04-02 19:21] #1853 closed

[2019-04-02 23:38] madmaxlax opened #1854 "External table docs should include info about First_row option for file format"
Regarding documentation article:

- [https://docs.microsoft.com/sql/t-sql/statements/create-external-file-format-transact-sql?view=sql-server-2017](https://docs.microsoft.com/sql/t-sql/statements/create-external-file-format-transact-sql?view=sql-server-2017)

The documentation article should include information, at least for SQL data warehouse, about the `FIRST_ROW` option in the file format, to s

[2019-04-03 07:29] vijayande commented on #1818
Hi @HeidiSteen , thank you so much. Now I am able to display the plots.

[2019-04-03 07:29] #1818 closed

[2019-04-03 09:29] MightyPen commented on #1854
@madmaxlax  Hello Max, I am unsure, but my glance at the article ('create-external-file-format-transact-sql.md') sees the FIRST_ROW plainly documented. So I am unsure what the precise concern is in the original post here in Issue 1854.

Can you please add another Comment box to clarify the precise concern.
I will keep this Issue 1854 open for a couple days to give enough time for a reply.

Thank y

[2019-04-03 12:28] madmaxlax commented on #1854
¯\_(ツ)_/¯
Weird i must've missed it or was mixed up with a different document link i landed on about external tables like https://docs.microsoft.com/en-us/azure/sql-data-warehouse/load-data-wideworldimportersdw

[2019-04-03 16:22] julieMSFT commented on #1854
@madmax Hi Max, I think it may be a good idea to add this to the tutorial documentation. I will work with the author to complete. Thank you for bringing this to our attention.

[2019-04-03 17:41] julieMSFT commented on #1854
@madmaxlax Hi Max, I think it may be a good idea to add this to the tutorial documentation. I have completed a new internal tracking number for this work [with](User Story 1496414: SQL DW | Update tutorial to showcase FIRST_ROW feature ). We are closing this issue and tracking this through the new item going forward. You will receive another notice after the internal item is complete.  Thank you f

[2019-04-03 17:43] #1854 closed

[2019-04-04 07:33] lzimmermann opened #1861 "The distribution database cannot be placed in an availability group."
This article states "The distribution database cannot be placed in an availability group." but in https://docs.microsoft.com/en-us/sql/relational-databases/replication/configure-distribution-availability-group?view=sql-server-2017#supported-scenarios the configuration of the distribution Database in an AOAG is explained.

[2019-04-04 17:28] MightyPen commented on #1861
@MikeRayMSFT Hi Mike, Can you please process this Issue 1861.  Thanks.

[2019-04-04 17:45] MightyPen commented on #1828
I have not seen the additional info from the original poster that we would need to proceed.
It is time for me to Close this Issue 1828.

[2019-04-04 17:45] #1828 closed

[2019-04-04 19:42] MashaMSFT commented on #1861
Hi @lzimmermann , thanks for bringing this to our attention! Let me look into this a bit further. Thanks!

[2019-04-05 16:21] julieMSFT commented on #1774
@TwoUnder Matt, please review this and let me know how you would like to proceed.

[2019-04-05 16:44] ant-222 commented on #1774
Hmmm. I don't understand why I am receiving notifications about this issue.

[2019-04-05 16:51] julieMSFT commented on #1774
@ant-222 I am not sure either. I do not see you mentioned in this issue. You can mute the thread.

[2019-04-05 23:08] nokura commented on #1834
Hello @tcna
Thank you for your feedback. We will publish the fixed topics next week. I appreciate your time and effort to improve our localized document.
Kind regards,
Microsoft DOCS International Team

[2019-04-05 23:09] nokura commented on #1834
Internal ticket: 80006

[2019-04-06 02:52] kenny-va opened #1874 "Is "commit" included"
Is a "commit" automatically included in the execution plan?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 960815fc-a05d-b887-e5a8-e4aef6761000
* Version Independent ID: 4af0d0ae-c858-9b92-3058-a2e43f60bd8d
* Content: [GO (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/lan

[2019-04-06 18:36] MightyPen commented on #1874
You can test this by starting with an explicit BEGIN TRANSACTION statement, then INSERT a row into a regular permanent table, followed by GO.
Then, on a second/different connection, try to SELECT the row.
The test result will show that you canNot SELECT the row, yet.
Next, on the original connection, you can issue a COMMIT TRANSACTION.
Finally, on the second connection, again try to SELECT the row

[2019-04-06 18:36] #1874 closed

[2019-04-06 18:37] MightyPen commented on #1874
@kenny-va Hi Kenny,
You can test this by starting with an explicit BEGIN TRANSACTION statement, then INSERT a row into a regular permanent table, followed by GO.
Then, on a second/different connection, try to SELECT the row.
The test result will show that you canNot SELECT the row, yet.
Next, on the original connection, you can issue a COMMIT TRANSACTION.
Finally, on the second connection, again t

[2019-04-06 18:46] MightyPen commented on #1834
@tcna
The fix for this Issue 1834 is only days away.  I will let internal ticket 80006 handle the final fix from here.
I am now Closing this Issue 1834 as Fixed.
Thank you for reporting this localization flaw to us.

[2019-04-06 18:46] #1834 closed

[2019-04-06 21:15] sqlsrvgeek opened #1875 "code incomplete"
For the following code, parenthesis and single quotes are missing:
CREATE EXTERNAL DATA SOURCE external_data_source_name
WITH (
LOCATION = oracle://&lt;server address&gt;[:&lt;port&gt;],
-- PUSHDOWN = ON | OFF,
 CREDENTIAL = credential_name

Should be:

CREATE EXTERNAL DATA SOURCE external_data_source_name
WITH (
LOCATION = 'oracle://&lt;server address&gt;[:&lt;port&gt;]',
-- PUSHDOWN = ON | OFF,

[2019-04-06 21:16] sqlsrvgeek opened #1876 "location issue"
Location needs to be updated in 3 parts:
/*  LOCATION: Oracle table/view in '&lt;database_name&gt;.&lt;schema_name&gt;.&lt;object_name&gt;' format
*  DATA_SOURCE: the external data source, created above.
*/
CREATE EXTERNAL TABLE customers(
[O_ORDERKEY] DECIMAL(38) NOT NULL,
[O_CUSTKEY] DECIMAL(38) NOT NULL,
[O_ORDERSTATUS] CHAR COLLATE Latin1_General_BIN NOT NULL,
[O_TOTALPRICE] DECIMAL(15,2) NOT

[2019-04-07 13:09] Protiguous opened #1877 "Example needs cleaned up."
The example fails in a case-sensitive database with the "ID" and "id" columns.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84c44dc1-637b-22b0-35db-0668d741818d
* Version Independent ID: 5425118c-d998-df3e-89ee-29656a8aa07c
* Content: [SQL Graph Database Sample - SQL Server](https://docs.microsoft.com/en-us/sql/relat

[2019-04-07 13:17] Protiguous commented on #1877
Also fails on the columns "friendOf" and "Person".

[2019-04-07 18:12] mrdenny opened #1879 "This page doesn't provide the information that it says it does."
The title of this page is "Change Server Authentication Mode" yet the example in T-SQL is how to enable the sa login for use. Which, while helpful isn't what the page say it is for.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e9b632d-7e6d-1434-cc6b-9aa77d37f41a
* Version Independent ID: 3689727c-e685-1503-fd9e-365a

[2019-04-07 22:32] mosharafMS opened #1880 "Integration Services extension in Visual Studio 2019 doesn't exist"
In the install SQL Server Data Tools doc, it mentions that starting in VS 2019, the  Integration Services is implemented as extension but when searching for this extension it doesn't exist as indicated by the doc.

[2019-04-08 00:13] billgraziano opened #1881 "The linked blog post has moved"
it should probably be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40178a54-5c50-6667-f605-f6c0d75f8741
* Version Independent ID: 9a0b755c-40a0-563a-b945-c0216ae71f7b
* Content: [Columnstore indexes - Data loading guidance - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/indexes/column

[2019-04-08 07:34] nattomi opened #1882 "unixodbc unsatisfied dependency on Debian 9.8"
Any workaround for Debian 9.8 yet? apt install unixodbc leads to "unsatisfied dependency: odbcinst1debian2 (&gt;= 2.3.7) but only 2.3.4-1 can be installed".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39bb4ba1-ae62-07a3-f79a-138f14cf2f10
* Version Independent ID: beaa4e7d-e771-cc96-0e59-34d9b1d5e8cc
* Content: [Inst

[2019-04-08 14:29] rothja commented on #1882
@nattomi Right now, we don't have explicit support or testing for Debian as a target for SQL Server on Linux, so it may be that there is no work around at the moment to get it working. I'm sorry for the answer, but I'll pass along your feedback requesting that we support Debian and remove any install blockers like this.

[2019-04-08 16:13] CodeTherapist opened #1883 "No information for SQL Server 2017/2019 Express LocalDB"
The information for 2017 and 2019 version is missing and could be confusing for the reader.
Otherwise I would suggest to remove the "2016" from the page, when the installation steps and features are version independent and still accurate.
In any case I would voluntary contribute the fix(es) for this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-04-08 17:15] julieMSFT commented on #1880
@mosharafMS  Hi, can you please provide the article where you see this reference?

[2019-04-08 17:38] awilbert opened #1884 "Depreciated Feature"
Per the release notes, Static Data Masking was removed in SSMS 18.0 RC1.
"Deprecated feature Details: Removed the Static Data Masking (preview) feature."

I hope it makes a comeback as it looked like it could have been a useful feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94aa1791-17e9-40de-eb28-4410e26fe24d

[2019-04-08 17:45] stevestein commented on #1803
@robinwilson16 - thanks!
Closing this because the issue is being tracked with the specific article in #1816

[2019-04-08 17:45] #1803 closed

[2019-04-08 18:14] Shahrukh-Shariar opened #1885 "Sql"
[.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL Server Management Studio (SSMS) - SQL Server](https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-serv

[2019-04-08 18:15] #1885 closed

[2019-04-08 19:24] nschonni opened #1886 "SSDT 2019 suggests using community edition but licensing doesn't allow that for enterprises"
On https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/ssdt/download-sql-server-data-tools-ssdt.md

Community Edition can't be used for enterprise users, so is there an enterprise option anymore without purchasing Visual Studio subscriptions just for SSDT?

[2019-04-08 19:32] cheenamalhotra opened #1887 "Catalog Views available in Azure Database and DW"
These catalog views seem to be available in Azure DB and DW. Product team should confirm if that's expected behavior and documentation should be updated accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e44d6f5-818c-fdf0-8169-d23d0b6a0b68
* Version Independent ID: af6b6d8b-d984-faba-ff8e-ddf7fe954f36
* Conte

[2019-04-08 19:32] rothja commented on #1875
@sqlsrvgeek Thank you. Sorry for this bad mistake.  I'll get a fix in and close this issue out when it merges. It might be another half-day after that before the change shows up. Thanks, again!

[2019-04-08 19:34] rothja commented on #1876
@sqlsrvgeek Thanks! I'll confirm and then make the change. Appreciate it.

[2019-04-08 19:49] stevestein commented on #1640
@jzabroski - This issue will be fixed in the documentation, although we cannot yet say when. We have created a new internal tracking number for this work item: 1504619. We are closing this Issue, and are letting the new item track this going forward. You will receive another notice after the internal item if completed. Thank you for submitting this Issue.

If you find any more info feel free to ad

[2019-04-08 19:49] #1640 closed

[2019-04-08 20:03] julieMSFT commented on #1884
@egranet Hi Estienne, please review and clarify what is meant by "Removed the Static Data Masking (preview) feature."? Thank you.

[2019-04-08 20:14] jzabroski commented on #1640
@stevestein Sounds great!  Thanks for the update, Steve!

[2019-04-08 21:19] rasane opened #1888 "Microsoft XML Core Services 4.0 Service Pack 3 is End of Life"
Your product lifecycle support shows this product is out of support -
https://support.microsoft.com/en-us/lifecycle/search?alpha=Microsoft%20XML%20Core%20Services.
Since SP3 is the only mentioned end of life on support page, it goes to reason that previous SPn are out of support as well. That page is dated 2014. Why then are you recommending use for SQL 2017? Did you wish to update the EOL on this

[2019-04-08 21:44] julieMSFT commented on #1877
@Protiguous Hello, I have update the code in the article. The PR number is 9775 at [https://github.com/MicrosoftDocs/sql-docs-pr/pull/9775](url) you for bringing this to our attention. I will proceed to close this issue.

[2019-04-08 21:45] #1877 closed

[2019-04-08 21:53] julieMSFT commented on #1879
@MikeRayMSFT Hi Mike, I belive adding the T-SQL to change the server authentication mode would resolve this issue.
CC:@mrdenny This Issue has been assigned to the article owner, who will triage this Issue. You will be notified again when the triage phase is completed.

[2019-04-08 21:55] stevestein commented on #1806
@PrometheusRising1  - Thanks for opening this issue/suggestion. This issue will be fixed in the documentation, although we cannot yet say when. We have created a new internal tracking number for this work item: 1504716. We are closing this Issue, and are letting the new item track this going forward. You will receive another notice after the internal item if completed. Thank you for submitting thi

[2019-04-08 21:55] #1806 closed

[2019-04-08 22:00] julieMSFT commented on #1886
@stevestein Hi Steve, please triage this issue.
CC: @nschonni This Issue has been assigned to the article owner, who will triage this Issue. You will be notified again when the triage phase is completed.

[2019-04-08 22:03] julieMSFT commented on #1887
@stevestein Hi Steve, please triage this article.
CC: @cheenamalhotra Hi Chenna, This Issue has been assigned to the article owner, who will triage this Issue. You will be notified again when the triage phase is completed.

[2019-04-08 22:08] julieMSFT commented on #1888
@MightyPen Hi Gene, Please triage this issue.
CC:@rasane This Issue has been assigned to the article owner, who will triage this Issue. You will be notified again when the triage phase is completed.

[2019-04-09 00:06] PrometheusRising1 opened #1889 "Graphic does not display properly in Dark Theme"
Not the largest issue in the world, but this may affect other pages as well.  If you switch the page to Dark Theme - which I now use by default since IPS panels on most screens have excessive glare/brightness -  the writing on the graphic shows up garbled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79a2eb85-039d-26

[2019-04-09 00:10] MashaMSFT commented on #1889
Hi @PrometheusRising1 , thanks for bringing this to our attention! Let me see what can be done about it... Thanks!

[2019-04-09 00:25] djharvey999 commented on #1880
https://docs.microsoft.com/en-us/sql/ssdt/download-sql-server-data-tools-ssdt?view=sql-server-2017

Microsoft Integration Services can't be found in the VS Marketplace.

[2019-04-09 01:47] MashaMSFT commented on #1861
Hi @lzimmermann , thanks again for notifying us of this! The discrepancy comes from differences in versions. Placing the distribution database is supported only for SQL Server 2016 and higher. I've added a note clarifying this to the document, and it should be live tomorrow morning. Please let me know if you need anything further, or if I can proceed with closing out this Git Issue. Thanks!

[2019-04-09 03:42] lzimmermann commented on #1861
Hi masha, thanks very mich for the Update!

Freundliche Grüße
Lars Zimmermann

Outlook for Android herunterladen

________________________________
From: Masha at MSFT <notifications@github.com>
Sent: Tuesday, April 9, 2019 3:47:26 AM
To: MicrosoftDocs/sql-docs
Cc: larsz; Mention
Subject: Re: [MicrosoftDocs/sql-docs] The distribution database cannot be placed in an availability group. (#1861)

Hi @

[2019-04-09 06:32] leonbravo opened #1890 "incorrect info ?"
Error Reporting section states  "a dump file (SQLDUMP*nnnn*.txt) is created in the SQL Server LOG directory"   instead the  Dump directory is used. For locating this  SQL Server Configuration Manager, Advanced options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2be5880-3a17-99a1-10b8-0c907f211667
* Version Indepen

[2019-04-09 08:24] SQLKiwi opened #1891 "Algorithm availability statement incorrect"
The Remarks section of this page says "The MD2, MD4, MD5, SHA, and SHA1 algorithms are not available under compatibility level 130 and above.", which is not true.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12c0b314-20ee-183a-295f-eb1b59fd4005
* Version Independent ID: ed13d463-36d1-570b-e72d-e5adbdc450c5
* Content:

[2019-04-09 08:49] vividt opened #1892 "estimated compression ratio"
any estimated compression ratio?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55ef9922-308b-0b7e-c29a-0df7b858efac
* Version Independent ID: aebe1d11-c356-f77f-4716-a7691fe0a147
* Content: [Tune compression for availability group - SQL Server Always On](https://docs.microsoft.com/en-us/sql/database-engine/availabilit

[2019-04-09 11:39] mco100 opened #1893 "mssql-conf setup and MSSQL_Collation change"
On Linux Redhat 7.5 and SQL Server 2017 (14.0.3076.1),

I want to avoid below interactive command (that works fine BTW) to change SQL Server engine collation.
_sudo /opt/mssql/bin/mssql-conf set-collation_

But mssql-conf setup command with env. variable "MSSQL_COLLATION", does not work.
By example, in below command, "MSSQL_COLLATION"argument is ignored (all other arguments are acknowledged).
_sud

[2019-04-09 15:57] MashaMSFT commented on #1861
Hi @lzimmermann , thanks for your feedback! I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-04-09 15:57] #1861 closed

[2019-04-09 15:59] MashaMSFT commented on #1891
Hi @SQLKiwi , thanks for bringing this to our attention! Let me do a little research. Thanks!

[2019-04-09 16:01] MashaMSFT commented on #1892
Hi @vividt , thanks for bringing this to our attention! Let me research a bit. Thanks!

[2019-04-09 17:11] julieMSFT commented on #1890
@pmasl Hi Pedro, You are the listed as the author of this article, so this issue has been assigned to you. Please triage this Issue.  Then update the label, and notify the customer.
CC: @leonbravo Hello, Thank you your submission. This issue has been assigned to the author to review.

[2019-04-09 17:17] julieMSFT commented on #1880
@djharvey999 Thank you for the details and the article link. This has been assigned to the author to review.
@stevestein Hi Steve, please triage this issue.

[2019-04-09 17:20] julieMSFT commented on #1893
@mco100 Thank you for bringing this to our attention. The author has been assigned to review this.
@rothja Please review this issue.

[2019-04-09 17:46] stevestein commented on #1842
@SqlSmash  - This issue will be fixed in the documentation, although most likely at the time Elastic Database Jobs goes GA. We have created a new internal tracking number for this work item: 1505325. We are closing this Issue, and are letting the new item track this going forward. You will receive another notice after the internal item if completed. Thank you for submitting this Issue.

Thanks!

[2019-04-09 17:46] #1842 closed

[2019-04-09 18:10] ecklesweb opened #1895 "semicolons"
There should not be a semicolon between the option clause and the rest of the select statement.  The option clause is a part of the select just like from or where.  Once we removed the semicolon before option, these examples started to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17d712c8-87f2-7203-6dd9-5f23a60

[2019-04-09 18:51] pmasl commented on #1890
It is not incorrect. In case of AV, dumps (SQLDumpXXXX.log, SQLDumpXXXX.txt, and SQLDumpXXXX.mdmp) are stored in the LOG folder, where the errorlog and default trace files reside.

[2019-04-09 19:02] MightyPen commented on #1882
Closing.

[2019-04-09 19:02] #1882 closed

[2019-04-09 19:47] rothja commented on #1807
@bradranks I apologize for the long delay in responding to you on this. I agree that the examples should just work and that we should provide some additional information for the connection. I'm going to walk through the steps and see if I can make this better. Thanks!

[2019-04-09 19:51] rothja commented on #1816
@robinwilson16 @zippyjason Thanks for the feedback, and I sincerely apologize for the delayed response. Your request for us to support more recent versions is completely understandable, and I can tell you that we are working on testing/support for more recent versions. I apologize it is taking a long time to get these versions tested and supported. I'll try to respond on this git issue when I have

[2019-04-09 19:51] #1816 closed

[2019-04-09 20:59] pmasl commented on #1891
I'm correcting this to remove the DB compat claim.

[2019-04-09 22:05] VanMSFT commented on #1891
@pmasl - Thank you so much, Pedro!

@SQLKiwi - Paul, thank you for bringing this up to our attention. We really appreciate your help on this. Since Pedro will be updating the doc, we will go ahead and close this GitHub Issue now. If you have any questions, please feel free to let us know. Thanks again!

[2019-04-09 22:06] #1891 closed

[2019-04-09 22:32] greglow opened #1896 "ssbdiagnose tool is documented but the tool is missing"
The page documenting ssbdiagnose is fine. The problem is that the tool used to be installed when SQL Server was installed. It's also not in the feature pack. Anyone know where the tool can now be downloaded/installed from? If it's from another location, that needs to be documented.

[2019-04-09 22:49] baodad opened #1897 "UPDATE() and COLUMNS_UPDATED() will be 1/TRUE for columns that are mentioned in UPDATE SET... ?"
I've been told that, even if a column value does not change as a result of the UPDATE or INSERT statement that led to the trigger, as long as the column was listed in the statement, it will cause UPDATE() and COLUMNS_UPDATED() to be set to TRUE or 1 for that column.

If this is true, then UPDATE() and COLUMNS_UPDATED() are not as helpful for determining if a value was actually changed by a SQL sta

[2019-04-09 23:03] MashaMSFT commented on #1897
Hi @baodad , thanks for bringing this to our attention! Let me do a little research and get back to you. Thanks!

[2019-04-10 00:30] turimbar1 opened #1898 "Link to "Allowing Partially Trusted Callers" article is incorrect"
The link to the article "Allowing Partially Trusted Callers" takes you to a Chinese language page about analysis services instead of "Allowing Partially Trusted Callers"

The page is https://docs.microsoft.com/zh-tw/sql/database-engine/query-options-pages-f1-help?view=sql-server-2014
with the heading "查詢選項頁面 F1 說明" or  "Query option page F1 Description"

---
#### Document Details

⚠ *Do not edit t

[2019-04-10 00:31] turimbar1 commented on #1898
I think this is the correct link https://docs.microsoft.com/en-us/sql/database-engine/dev-guide/allowing-partially-trusted-callers?view=sql-server-2014

[2019-04-10 00:35] mytinam commented on #1842
This person high tide in to my account and got everything all my
information credit card social security number I've had to put a stop on
everything he is getting my orders and all I cannot check my email I can
receive emails but I can't respond to him to get my tracking number when I
click on the link to find out where my this is what I get so what do I need
to do I need help bad

On Tue, Apr 9,

[2019-04-10 03:36] julieMSFT commented on #1895
@ecklesweb Thank you for bringing this to our attention. I have submitted a PR, #9796, to correct this. [https://github.com/MicrosoftDocs/sql-docs-pr/pull/9796](url). It should be live tomorrow morning. Please let me know if you need anything further, or if I can proceed with closing out this Git Issue. Thanks!

[2019-04-10 04:13] julieMSFT commented on #1898
@turimbar1 thanks for bringing this to our attention! I believe you are correct on the link. I have updated the document. You should see it tomorrow. Please let me know if you need anything further, or if I can proceed with closing out this Git Issue. Thanks!

[2019-04-10 04:15] julieMSFT commented on #1896
@greglow
thanks for bringing this to our attention! The author has been notified to take a look. Thanks!

[2019-04-10 04:27] julieMSFT commented on #1881
@billgraziano
thanks for bringing this to our attention! Let me look into this a bit further. Thanks!

[2019-04-10 04:30] julieMSFT commented on #1898
#9796

[2019-04-10 07:36] tbolon commented on #1884
@julieMSFT https://docs.microsoft.com/en-us/sql/ssms/release-notes-ssms?view=sql-server-2017#deprecated-features great job :D

[2019-04-10 10:37] marchelloUA opened #1901 "more examples in T-SQL needed with explanation"
How do I prepare T-SQL to schedule running stored procedure every 3 hours (every day, starting from now, no expiration date)?
Tried to follow example above, but it is rather not intuitive and each parameter is not explained in T-SQL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e755e952-4bd9-8547-d856-7b781c0e9594
*

[2019-04-10 11:49] gflores1023 commented on #1891
@pmasl Can you also correct this link which has the same erroneous statement?
[Deprecated in SQL Server 2017](https://docs.microsoft.com/en-us/sql/database-engine/deprecated-database-engine-features-in-sql-server-2017?view=sql-server-2017)

[2019-04-10 14:31] #1875 closed

[2019-04-10 15:56] rothja commented on #1807
@bradranks Thanks, again for the feedback. I realized that the example for connecting to sqlcmd was hidden when PowerShell was selected. I am fixing this. If you put the password in single quotes it works to connect, and the example will show this. Sorry. As for the NAT IP address recommendation, in the "Connect from outside the container" I say to using ipconfig to find the IP address and the exa

[2019-04-10 16:02] #1807 closed

[2019-04-10 16:03] rothja commented on #1807
@bradranks I merged in the change to fix the sqlcmd example and verified it worked. This closed this git issue automatically, but I would be happy to make more changes related to the IP address as we discuss it. Thank you!

[2019-04-10 16:05] rothja commented on #1893
@mco100 Thank you. I'm looking into this and speaking with others internally about whether there are any known issues here.

[2019-04-10 16:29] julieMSFT commented on #1901
@marchelloUA Hi, thank you for your question. You can schedule a job to run every three hours. You first need to set up running the stored procedure as a job. See this article, [https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-run-sql-server-agent-job?view=sql-server-2017#create-a-job-with-ssms](url) . The step command will be "EXEC schema.nameofstoredprocedure". Ensure you select the d

[2019-04-10 17:39] MightyPen commented on #1895
Thanks for this fix Julie (PR 9796).  We can now Close this Issue 1895.
@julieMSFT @ecklesweb

[2019-04-10 17:39] #1895 closed

[2019-04-10 17:42] julieMSFT commented on #1895
Hi Gene, I was waiting to see if the customer responded. I will close open issues after giving the customer some time to respond.

Thank you,

Julie

From: Gene Milener <notifications@github.com>
Sent: Wednesday, April 10, 2019 10:40 AM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Julie Rasnick <Julie.Rasnick@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micros

[2019-04-10 17:51] pmasl commented on #1891
@gflores1023 yes. Give it a few hours.

[2019-04-10 17:53] MightyPen commented on #1890
@leonbravo Hi Leon, Pedro has supplied an answer.
It might have been helpful to me if the original post, and the answer, had given an explicit example of their paths. But you two seem to know which exact paths, or final directory names you are talking about.

With Pedro's answer supplied, I am now closing this Issue 1890.
Thank you for inquiring.

CC: @pmasl

[2019-04-10 17:53] #1890 closed

[2019-04-10 18:09] asavioli opened #1905 "Error on Item D. Set PARAMETER_SNIFFING"
The second phrase would be on SECONDARY database, not PRIMARY
"
This example sets PARAMETER_SNIFFING to OFF for a SECONDARY database in a geo-replication scenario.

SQL

ALTER DATABASE SCOPED CONFIGURATION FOR SECONDARY SET PARAMETER_SNIFFING = OFF ;
"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40d08d20-a910-1226-c

[2019-04-10 18:17] wanqiaoyi opened #1906 "Step produce error"
The steps above state to be for "If an unrestored filegroup will never have to be restored, you can make the filegroup defunct by removing it from the database."

After successfully performing a FILEGROUP restore of PRIMARY,  the steps above were used to try to remove an OFFLINE, unneeded secondary data file.   The error "Cannot add, remove, or modify a file in filegroup 'SECONDARY_FILE' because t

[2019-04-10 18:19] MightyPen commented on #1897
@baodad Hello baodad, I believe you can test this by tweaking an example found in the article you cited.

https://docs.microsoft.com/en-us/sql/t-sql/functions/columns-updated-transact-sql?view=sql-server-2017#examples

Thank you inquiring.
I am closing this Issue 1897 now. However, the @ notification system continues to work even after an issue is closed, if necessary.

CC: @MashaMSFT @julieMSFT

[2019-04-10 18:19] #1897 closed

[2019-04-10 18:45] MightyPen commented on #1905
@asavioli Hello asavioli, Good catch. I have fixed this Issue 1905 by creating PR 1907.
https://github.com/MicrosoftDocs/sql-docs/pull/1907

In the future, when plausible, we encourage people to create the necessary PR directly, rather than creating an Issue. Simply click the "Edit" pencil icon at the top-right of the article, click the next pencil edit icon on the GitHub webpage, and type in the

[2019-04-10 18:45] #1905 closed

[2019-04-10 19:23] valcs007 opened #1908 "MDS Roadmap or Profisee?"
Hi,

For our enterprise level master data needs, we are seriously considering Microsoft MDS solution but we wanted to check if Microsoft has a strong road map for MDS before we get on board.

We are seeing articles floating around bout Microsoft push towards Profisee?

We really appreciate your thoughts.

Thanks,

[2019-04-10 21:35] julieMSFT commented on #1898
@turimbar1
Please let me know if you need anything further. I will proceed with closing out this Git Issue. Thanks!

[2019-04-10 21:35] #1898 closed

[2019-04-10 23:07] baodad commented on #1897
@MightyPen OK.  Seems like an important detail that is left out of the docs.  Just trying to suggest an improvement.

[2019-04-10 23:17] julieMSFT commented on #1908
Hi @valcs007, Thank you for your question. I am doing some research and will get back to you.

[2019-04-10 23:20] julieMSFT commented on #1906
HI @wanqiaoyi, thanks for contacting Microsoft! Unfortunately, your request is outside the scope of this communication channel, which is intended to focus on documentation assistance. The only thing I can suggest is possibly bringing your filegroup online, the following stackoverflow post may prove useful to you: [https://stackoverflow.com/questions/33245139/bringing-sql-server-filegroups-online](

[2019-04-10 23:22] #1906 closed

[2019-04-10 23:29] MashaMSFT commented on #1897
Hi @baodad, you can actually add the change yourself! You can find more information here at http://aka.ms/editsqldocs. Thanks for helping to improve our documentation :)

[2019-04-10 23:31] MightyPen commented on #1908
@lrtoyou1223 Hi Leo, Can you please enter a Comment here into this Issue 1908, about Master Data Services, for @valcs007.

CC: @julieMSFT

[2019-04-11 01:49] lrtoyou1223 commented on #1908
Hi @valcs007,
Thanks for reaching out. For the roadmap of MDS, we remove the Silverlight dependency in SQL vNext which means users can use other browsers than IE. But we don’t have any other features or Azure story planned after that right now.
Profisee is still Microsoft's partner in MDM area.
Hope this answers your questions.
Thanks.

[2019-04-11 02:39] valcs007 commented on #1908
Thanks everyone for getting me to the right person.

Leo,

Thanks for sharing about vNext. Can you please let me know the timeline?

Reg future of MDS, is this in Microsoft’s long term roadmap?

We don’t want to choose a platform that will be dying in few years since we are starting something new. Is Profisee a replacement?

Thanks,

[2019-04-11 02:51] MightyPen commented on #1908
Hi @valcs007 , Leo has given all the info there is to give.
I am going to Close this Issue 1908 now as answered.
The @ notification mechanism continues to work, even after an Issue is closed, should further communication be necessary.
Thank you for inquiring.

[2019-04-11 02:51] #1908 closed

[2019-04-11 03:12] MightyPen commented on #1906
@MikeRayMSFT FYI.

[2019-04-11 04:55] MightyPen commented on #1789
@jgmreyes Hi, Tracking of this work item has been shifted to our main internal work item database.
https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1506415

When the internal item is Fixed, I will report back here in Issue 1789 with another @ notification to you (likely in May 2019).

Thank you for bringing this concern to our attention.
This Issue 1789 is now being Closed.

[2019-04-11 06:05] MightyPen commented on #1774
@stevestein  @TwoUnder Hi Steve and Matt,  The "Query Store" feature in SQL Server on-premises: Is it now also GA for SQL Data Warehouse (Azure)?

If Yes, Steve probably needs to adjust the AppliesTo (Includes) and the Versioning (metadata monikerRange:) for the Query Store articles in repo 'sql-docs-pr'.
My search in 'sql-docs-pr' shows that Steve owns almost all the Query Store articles.
Matt is

[2019-04-11 06:29] MightyPen commented on #1881
I am fixing this for Mike, with my PR 9812.
https://github.com/MicrosoftDocs/sql-docs-pr/pull/9812

I was able to find the old blog post as it was migrated to techcommunity.microsoft.com .
I did a Bing search on the title-ish portion of the old MSDN https URL, to find the new address.
The link was and still is at the very bottom of the article.

Closing now this Issue 1881, as Fixed.

CC: @MikeRay

[2019-04-11 06:29] #1881 closed

[2019-04-11 06:31] MightyPen commented on #1881
@billgraziano Bill, Thank you for bringing this error to our attention.  The fix will be visible on live Docs on Thursday April/11 by EODay.

[2019-04-11 08:08] lrtoyou1223 commented on #1908
Hi @valcs007,
MDS will be released in SQL 2019, current is CTP 2.5. The probable GA date is by the end of this year.
We don't have any deprecation plan for MDS now and will continue supporting this product in future.
Thanks.

[2019-04-11 12:09] marchelloUA opened #1913 "T-SQL way to enable a database for replication?"
T-SQL way to enable a database for replication?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 456c5562-979c-cecd-e6b5-bf3e4ec6aaab
* Version Independent ID: 7b9bd83a-1d63-038a-3434-c5dd41188040
* Content: [Enable a Database for Replication (SQL Server Management Studio) - SQL Server](https://docs.microsoft.com/en-us/s

[2019-04-11 12:31] ecklesweb commented on #1895
Looks good to me.

From: julieMSFT <notifications@github.com>
Sent: Wednesday, April 10, 2019 1:42 PM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: ecklesweb <jay.e.eckles@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs] semicolons (#1895)

Hi Gene, I was waiting to see if the customer responded. I will close open issues after giving the custome

[2019-04-11 15:23] bradranks commented on #1807
awesome. I think that is probably pretty good!

Brad

*Brad Ranks *Solutions Architect

DIRECT: 480-577-2723 |

*Technically*, The Best!

On Wed, Apr 10, 2019 at 9:03 AM Jason Roth <notifications@github.com> wrote:

[2019-04-11 16:07] julieMSFT commented on #1901
Hi @marchelloUA Please let me know if you need anything further.  I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-04-11 16:09] #1901 closed

[2019-04-11 16:38] MashaMSFT commented on #1913
Hi @marchelloUA , thanks for contacting Microsoft! As long as distribution has been configured, you can enable a database for replication via:

[code]

To disable it, set the @value = 'false'.

I hope that helps and please let me know if I can be of further assistance. Thanks!

[2019-04-11 17:40] julieMSFT commented on #1884
@aliceku @vanmsft FYI..

[2019-04-11 17:44] MashaMSFT commented on #1913
Hi @marchelloUA , thanks for bringing this to our attention! I also updated the document to include the t-sql option as well. This change should be live later today. Hope that helps, and please let me know if there's  more I can do for you? Thanks!

[2019-04-11 17:45] MashaMSFT commented on #1889
Hi @PrometheusRising1 , thanks again for bringing this to our attention!  I have updated the graphic so that it renders correctly in dark mode. This change should be live later today :) Please let me know if we could of further assistance. Thanks!

[2019-04-11 18:20] aliceku commented on #1884
We do agree that this is a useful feature.  We have however decided that our current prototype does not meet our customer’s expectations. We will therefore not carry this capability forward. We will update you on our plans if we have a replacement candidate.

[2019-04-11 18:25] LuccaC opened #1918 "feedback"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96bf154-662d-369f-09e9-4a90d377a63f
* Version Independent ID: ae08216f-092c-b86e-ee0d-b0a8bb923465
* Content: [sys.database_mirroring_witnesses (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-view

[2019-04-11 18:26] julieMSFT commented on #1884
HI @wilbert thanks for asking this question. It has been answered by @aliceku. I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-04-11 18:26] MashaMSFT commented on #1918
Hi @LuccaC , thanks for contacting Microsoft! Sorry, it looks like your feedback is blank - did you need help with something?

[2019-04-11 18:27] #1884 closed

[2019-04-12 01:31] nokura commented on #1834
Hello @tcna
Just to follow up on this thread. The issue is solved in Asian languages /ja-jp/, /ko-kr/, /zh-cn/, and /zh-tw/.
https://docs.microsoft.com/ja-jp/sql/relational-databases/system-dynamic-management-views/always-on-availability-groups-dynamic-management-views-functions?view=sql-server-2017

Thank you again for your feedback.
FYI @MightyPen
Kind regards,
Microsoft DOCS International Team

[2019-04-12 05:27] SepehrCloud opened #1920 "Issue in "Create the SQL Server login and permissions for Pacemaker""
There is a syntax error in following page:

https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-create-availability-group?view=sql-server-2017

Under section of "Create the SQL Server login and permissions for Pacemaker", the code snippet is showing:

CREATE LOGIN PMLogin WITH PASSWORD '<StrongPassword>';

The above syntax is wrong and there should be a '=' after PASSWORD:

CREATE LOGIN PM

[2019-04-12 15:16] temalo opened #1922 "SQL Data Warehouse Does Not Support FORMAT Function"
The FORMAT Function (docs/t-sql/functions/format-transact-sql.md) is not currently supported by SQL Data Warehouse (neither Gen1 nor Gen2) so the "Applies To" section for this doc should be updated.
![FormatFunctionResultsDW](https://user-images.githubusercontent.com/10897895/56047881-407d2200-5cfb-11e9-8a93-065dd9a03105.GIF)

[2019-04-12 16:55] julieMSFT commented on #1920
Hi @SepehrCloud, thank you for bringing this to our attention,. I have made the edit to the typo. I have asked to author to review your coment about using the emacs editor but you can actually add the change yourself! You can find more information here at [http://aka.ms/editsqldocs.](url) Thanks for helping to improve our documentation :)

[2019-04-12 16:57] julieMSFT commented on #1922
Hi @temalo, thanks for bringing this to our attention! Let me look into this a bit further. Thanks!

[2019-04-12 17:10] julieMSFT commented on #1805
hi @chatelao, Thank you for you submission. This statement is correct. The information in the [ ] is optional information. the | within the brackets is an "or" statement. This can be written as DROP TABLE database.schema.tablename or DROP TABLE schema_name.tablename.

I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-04-12 17:11] #1805 closed

[2019-04-12 17:12] julieMSFT commented on #1918
Hi @zzLuccaC I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-04-12 17:12] julieMSFT commented on #1918
Hi @LuccaC I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-04-12 17:12] #1918 closed

[2019-04-12 17:35] julieMSFT commented on #1920
PR #9835

[2019-04-12 17:37] julieMSFT commented on #1922
@Anumjs @TwoUnder  Hi, please review this issue. I have validated that fromat errors on Gen1.

[2019-04-12 19:06] julieMSFT commented on #1774
Hi @eeiriksson thanks for bringing this to our attention!  We are updating the main Query Store topic,  [https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/query-store-catalog-views-transact-sql?view=sql-server-2017](url) and the other relevant Query Store topics to show they are supported for SQL DW. This change should be visible later today or tomorrow.

I will procee

[2019-04-12 19:06] julieMSFT commented on #1774
PR #9837

[2019-04-12 19:07] #1774 closed

[2019-04-12 19:23] julieMSFT commented on #1913
Hi @marchelloUA, I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-04-12 19:23] #1913 closed

[2019-04-12 19:27] julieMSFT commented on #1883
Hi @CodeTherapist,
thanks for bringing this to our attention! You can actually add the change yourself! You can find more information here at [http://aka.ms/editsqldocs](url). Thanks for helping to improve our documentation :)

[2019-04-12 19:29] julieMSFT commented on #1889
HI @PrometheusRising1, I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-04-12 19:29] #1889 closed

[2019-04-12 20:18] MightyPen commented on #1817
Fixed.
Fix should be on live Docs by or before afternoon of Monday April/15.
Private PR =
https://github.com/MicrosoftDocs/sql-docs-pr/pull/9838

@rrg92 Thanks again for your exceptionally good inputs on this problem.  :-)
I am now Closing this PR 1817.

[2019-04-12 20:18] #1817 closed

[2019-04-12 21:13] temalo commented on #1922
Just to let you know, it also errors on Gen2, the output that I posted was from my Gen2 instance of SQLDW..

[2019-04-12 21:50] MartinLBuchanan opened #1923 "Transaction participation not documented"
Saw no description of whether CREATE LOGIN participates in transactions. If executed within a transaction and the transaction is rolled back, is the new login creation rolled back as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0f4b3be-5686-ac31-8c5d-676e08953d8f
* Version Independent ID: 43881484-714e-d528-7a

[2019-04-12 22:51] SepehrCloud commented on #1920
Thanks Julie, didn't know I can directly contribute. Will do it going forward :)

[2019-04-12 23:14] julieMSFT commented on #1923
Hi @MartinLBuchanan, Thank you for your question. You can test this functinality for yourself by executing CREATE LOGIN in a transaction. Create Login will rollback if executed within a transaction and the transaction is rolled back.

Please let me know if you need anything further, or if I can proceed with closing out this Git Issue. Thanks!

[2019-04-12 23:42] MartinLBuchanan commented on #1923
Dear Julie:

Thanks for the quick response, which helps me with code I'm writing.

The issue should remain open until the documentation is fixed; just checked
the page and it still does not explain what you explained in your email.

(I was a senior technical writer for 15 years at Intel, so you may see more
documentation comments from me in the future.)

Sincerely,

Martin

On Fri, Apr 12, 2019 at

[2019-04-12 23:44] julieMSFT commented on #1923
Hi @MartinLBuchanan, your input would be appreciated. You can actually add the change yourself! You can find more information here at [http://aka.ms/editsqldocs](url). Thanks for helping to improve our documentation :)

[2019-04-13 21:23] gwalters69 opened #1926 "SSBDiagnose.exe not installing from DVD"
I cannot find SSBDiagnose.exe if I install SQL 2017 from a DVD mounted to a windows machine.  It exists on my Azure prebuilt SQL 2017 on Windows 2016 VM. Why is this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36bdcdc6-7a7e-ad82-66d4-61c78d06930a
* Version Independent ID: 5960e869-0a36-b277-4802-a86e4b02365f
* Cont

[2019-04-13 23:53] rrg92 commented on #1817
Nice @MightyPen !! I noted that page already updated!!

But, my profile do not appears on "contributors" section, like this article informs. Why?

![image](https://user-images.githubusercontent.com/16887793/56086443-fd6f9b80-5e2d-11e9-99ff-31ae24f24eeb.png)

[2019-04-14 00:21] MightyPen commented on #1817
@rrg92 The 'Contributors' photo circles are taken from Pull Requests that are created when the customer clicks the "Edit"-pencil icon at the top-right of the article - and then if the PR is accepted and merged.
These PRs are created in repo 'MicrosoftDocs/sql-docs'.

One hitch is that we often want to slightly modify the customer's PR before merging it.  Some Writers feel that modification activit

[2019-04-14 00:54] rrg92 commented on #1817
All right @MightyPen !!
I would like to get my profile appears on official docs!! =)

But, I perfectly understood all you say!
Thanks for explanation!

[2019-04-14 09:56] kind03 opened #1927 "Why the function part can use number?"
[Enter feedback here]
What does this mean
`SELECT ROUND(150.75, 0, 1);  `

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b61f3f8-eb79-944e-3241-e53dcaa294fa
* Version Independent ID: dd7552a3-5917-84e3-2746-cb3489fabaf5
* Content: [ROUND (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/functions

[2019-04-14 15:44] awilbert opened #1929 "typo in sidebar title"
The title of this page in the left sidebar has the word "Objects" capitalized as "OBjects.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fa0615c-d590-69b6-debb-817cd2cef3ac
* Version Independent ID: ecdbbeba-38e1-45af-917f-ae156cd65c1f
* Content: [BLOBs and OLE Objects - SQL Server](https://docs.microsoft.com/en-us/s

[2019-04-14 21:17] MightyPen commented on #1929
@awilbert Hi Adam, Thanks for bringing this problem to our attention.
Fixed it today (live late Monday). So now Closing this Issue 1929.
Correction, in 'docs/toc/toc.yml', now looks like the following, from private repo PR **9842**:

[code]

[2019-04-14 21:17] #1929 closed

[2019-04-14 21:32] MightyPen commented on #1927
@MashaMSFT Hi Masha, At a brief glance, all I can glean about the third parameters is that.....
_**the numeric value of 1 for the third parameter seems to mean "truncate", rather than "round"**.....
.....per example C.  So in example C, the ".75" portion is chopped off, leaving nothing to round up or down regarding the 1's place-value unit.
IF instead the Select statement had been.....
`SELECT ROU

[2019-04-14 21:48] MightyPen commented on #1927
@kind03 Oh now I see. The article Does explain "function" parameter. 0=Round, and any other value means =Truncate.  Example C shows the nonZero value of "1" performing truncation.

The answer is now complete.
So I will Close this Issue 1927 now, as Fixed (answered).
Thank you for inquiring.

CC: @MashaMSFT

[2019-04-14 21:48] #1927 closed

[2019-04-14 22:01] MightyPen commented on #1926
@stevestein Hi Steve, can you please process this Issue 1926, about 'SSBDiagnose.exe'.  Thanks.
CC: @gwalters69

[2019-04-15 00:10] krumpff opened #1930 "Applies To section incorrect"
This incorrectly states that Checkpoint does not apply to Azure SQL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c301c878-854d-e9e5-9efa-db78bc5b31d4
* Version Independent ID: bcf4f8cb-8351-7561-8170-22555109829e
* Content: [CHECKPOINT (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/language-

[2019-04-15 06:13] MightyPen commented on #1930
@julieMSFT Hi Julie, Can you please process this Issue 1930.

'AppliesTo' changes would likely also mean changes to metadata field 'monikerRange'.

Also, where Azure SQL Database should be added to AppliesTo (and thus probably also to monikerRange), the changes will often be needed for Azure SQL DB **MI**.  (Carl might have thoughts here.  Maybe we need to keep instances of each handier on a daily

[2019-04-15 09:44] CodeTherapist commented on #1883
Hi @julieMSFT,
Not sure I follow, but the link is not showing any results, or did I miss something?

[2019-04-15 11:37] pssoma76 opened #1932 "Alternative for -f option of SQLCMD in LINUX to support unicode characters insertion"
Hi,

My customer is looking for -f option to use in SQLCMD, to support insertion of Unicode characters. For example, customer is looking to insert Unicode values like N'¥' into a table. By using -f 65001 in windows environment, SQLCMD works fine to insert the row into a table with Unicode character. Whereas -f option is not available in LINUX environment, we are looking for an alternate solution f

[2019-04-15 15:29] dtcgrabar opened #1933 "Include BigInt"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21a99510-f01a-ee68-6890-4d8b6b25ee38
* Version Independent ID: db555cbb-e0fe-c7d8-eb0d-84b759ac141d
* Content: [binary and varbinary (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/data-types/binary-and-varbinary-transact-sql?view=sql-server-2017#fee

[2019-04-15 15:31] #1933 closed

[2019-04-15 15:33] dtcgrabar opened #1934 "Include BigInt"
Why is BigInt excluded from the list of valid bitwise operands? It appears to work...

DECLARE	@t BIGINT,
@f BIGINT

SELECT	@t = POWER(2.0, 40),
@f = POWER(2.0, 38) + POWER(2.0, 40)

SELECT	@t AS t,
@f AS f,
@t & @f AS [And],
@t | @f AS [Or],
@t ^ @f AS [Xor],
CAST(POWER(2.0, 38) AS BIGINT) AS [2^38]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-04-15 15:49] rothja commented on #1932
@pssoma76 Thank you for the question. Please let me contact the product team and investigate what options we might have here. I wonder if the [mssql-cli command line tool](https://docs.microsoft.com/en-us/sql/tools/mssql-cli?view=sql-server-2017) offers any support for unicode characters. Also, is this a GUI Linux environment, because Azure Data Studio is cross platform as is the mssql extension i

[2019-04-15 15:57] rothja commented on #1934
@dtcgrabar Thanks for this excellent question. After doing a little research, it looks like you are right and that BIGINT should be in the list of supported integer types that this works on. I will edit the article before closing this git issue. Thanks, again.

[2019-04-15 16:52] julieMSFT commented on #1930
Hi @ krumpff, thanks for bringing this to our attention! I have made the change to the document and you should see it soon. I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-04-15 18:56] craigg-msft commented on #1802
@mcowart123 apologies for the delay.  @rothja is following up.  Our understanding at this time is that the steps are more about "how" in the distro and we would not want to replicate the steps and that existing community information like the following is the best source of information.

Step by Step OpenLDAP Server Configuration on CentOS 7 / RHEL 7  https://www.itzgeek.com/how-tos/linux/centos-ho

[2019-04-15 19:14] MightyPen commented on #1926
(DevO= https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1512150.)

[2019-04-15 19:57] rothja commented on #1802
@mcowart123 I spoke with one of our Linux leads here, and he said that this feature was actually made available in a 2017 cumulative update as well as 2019 around the same time. So I'm sorry for the confusion that it looks like this is a 2019-only feature. Also, we recently completely redid the documentation surrounding AD support for Linux. I would suggest looking at those new docs and see if the

[2019-04-15 19:57] #1802 closed

[2019-04-15 21:57] julieMSFT commented on #1930
PR #9846

[2019-04-15 21:58] #1930 closed

[2019-04-15 23:37] valcs007 commented on #1908
Thanks Leo!

[2019-04-16 00:49] timchenyx commented on #1886
The EULA of VS 2019 community edition has a specific section that allows enterprise users to use it for the SSDT workload. See https://visualstudio.microsoft.com/license-terms/mlt031819/.

_Any number of your users may use the software only for Microsoft SQL Server development when using the SQL Server Data Tools or the extensions “Microsoft Analysis Services Projects”, “Microsoft Reporting Servic

[2019-04-16 01:12] fan130 commented on #1880
We have released SSIS design tools for VS2019 (preview) at: https://marketplace.visualstudio.com/items?itemName=SSIS.SqlServerIntegrationServicesProjects

[2019-04-16 03:00] SQLSourabh commented on #1892
Hi @vividt, we currently do not track metrics around the estimated or actual compression of the log blocks.

[2019-04-16 07:39] ghauan opened #1936 "Link failing"
The link behind "Server Configuration - Collation" does not lead to a valid page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ca70403-237f-0160-7d1f-5817e40b5d25
* Version Independent ID: 9993116a-bcec-e054-1cbe-82c3ad603ef6
* Content: [Set or Change the Server Collation - SQL Server](https://docs.microsoft.com/en-

[2019-04-16 12:45] rothja commented on #1936
@ghauan Thank you. I am fixing this link. That page no longer exists except in the 2014 documentation, but the link should really go to the [top-level collation article](https://docs.microsoft.com/en-us/sql/relational-databases/collations/collation-and-unicode-support?view=sql-server-2017). I'm making that change and will close this issue when it is merged in. Thanks!

[2019-04-16 12:56] #1936 closed

[2019-04-16 13:22] avinashre opened #1938 "Option 1 - You control output with FOR JSON PATH"
"Item.Price"  instead  "Item.UnitPrice" to match the json mentioned in the image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffb5c17b-c567-303f-00b8-0c8a0ad15fb5
* Version Independent ID: a4ccc766-4a61-5b7a-e5dd-692e3cebb503
* Content: [Format Query Results as JSON with FOR JSON (SQL Server) - SQL Server](https://d

[2019-04-16 14:10] #1920 closed

[2019-04-16 16:19] MightyPen commented on #1938
@avinashre Hello Avinash, Good catch. For this type of small very well defined and understood error, we encourage customers like yourself to please fix these.
Click the "Edit"-pencil icon at the top-right of the Docs article, and then in GitHub click its pencil icon.  Edit the correction, and then click to create a Pull Request (PR), mentioning "Issue 1938" in the PR description.
Once you know how

[2019-04-16 17:00] MightyPen commented on #1888
@rasane Hello, This is the best answer I can give you:

- "Using SQLXML with SQL Server 2016 and Windows 10"
  - [https://social.msdn.microsoft.com/Forums/sqlserver/en-US/7c87f107-707b-4236-903b-2a60f703d117/using-sqlxml-with-sql-server-2016-and-windows-10?forum=sqlxml](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/7c87f107-707b-4236-903b-2a60f703d117/using-sqlxml-with-sql-server-2016-a

[2019-04-16 17:00] #1888 closed

[2019-04-16 17:49] DoyleJOfTexas opened #1939 "Confusion over "same" in Partition related text"
[Enter feedback here]

"...columns in the tables are the same, because the partitions themselves can be joined"

I am unclear on what is meant by "same" ? Same in datatype? Same in Partition stored on?

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b7b22d6-0ccb-bda0-7ea6-dc4a7e4817c5
* Version Independent ID: 9039d0ef-883

[2019-04-16 22:03] jg11jg opened #1941 "Feels like this example would be clearer with a datetime argument instead of datetimeoffset"
DECLARE @dateTime datetimeoffset(7)= '2007-08-28 18:00:30';
SELECT TODATETIMEOFFSET (@dateTime, '+13:00');
-- RETURNS 2007-08-28 18:00:30.0000000 +13:00

--bit confusing - why declare @dateTime as datetimeoffset?  It will get implicitly cast to DateTime2 before being passed to DateTime offset and just specifying it as DateTime2 from the start saves reader having to do any reasoning or wondering ab

[2019-04-16 22:07] MashaMSFT commented on #1941
Hi @jg11jg , thanks for bringing this to our attention! Let me look into this and get back to you. Thanks!

[2019-04-16 22:11] julieMSFT commented on #1922
Hi @temalo, thank you again for bringing this to our attention! I have verified that FORMAT is not supported in SQL DW. I have updated the documents to reflect this. I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-04-16 22:11] julieMSFT commented on #1922
PR #9886

[2019-04-16 22:12] #1922 closed

[2019-04-16 22:31] julieMSFT commented on #1939
Hi @DoyleJOfTexas,
thanks for bringing this to our attention! Let me look into this a bit further. Thanks!

[2019-04-17 04:58] pssoma76 commented on #1932
@rothja Thank you Rothja for the quick response. Customer is having large set of .SQL files with insert statements. So, using SQLCMD utility, they want to execute these statements. And the insert statements have Unicode characters in it. Customer is trying to execute set of .SQL files using batch command.

[2019-04-17 07:38] vCillusion opened #1944 "Broken Links on the page"
Important section the link to Extended Protection for Authentication is broken. [https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/extended-protection-for-authentication-overview](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/extended-protection-for-authentication-overview)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-04-17 09:53] KennieNP opened #1945 "Missing documentation of column last_used_value"
In SQL Server 2017, a new column last_used_value was added to the view

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cbc8307-23ed-9ef7-eed9-b5fc63f95a86
* Version Independent ID: d6a2dfa9-349b-39fc-50a3-a49280c82c6c
* Content: [sys.sequences (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/relational

[2019-04-17 14:03] rothja commented on #1944
@vCillusion Thank you for this feedback. The author @MikeRayMSFT has been notified and will get back to you shortly. If you know the what the broken link should be, you can also edit the article directly with the Edit button. Let me know if you have any questions about that. Thank you!

[2019-04-17 14:04] rothja commented on #1945
@KennieNP Thank you for the feedback. The author, @stevestein, has been notified. You can also make the change directly if you wish by clicking the edit button on the article. If you have any questions, let me know. Thank you!

[2019-04-17 14:13] dphansen commented on #1824
@stevenluda My apologies for the delay in responding - I have been out of office. I am in the process of investigating and will get back to you.

[2019-04-17 17:41] CeciAc opened #1947 "statement_start_offset"
@uniqalex commented on [Wed Apr 17 2019](https://github.com/MicrosoftDocs/sql-docs.ru-ru/issues/47)

Hello.
I want to discuss  about statement_start_offset. Doc article says that it is number of characters, but in example D this parameter is devided by 2.
If we talking about "number of characters" - it does no matter how many bytes is used for storing 1 character, coz we set NUMBER OF CHARACTERS!

[2019-04-17 17:41] CeciAc commented on #1947
Hi team,
I'm moving this here because the user reports the explanation may be ambiguous
best regards

[2019-04-17 17:54] MikeRayMSFT commented on #1944
@vCillusion - thanks for pointing this out. I will replace the broken link with https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/extended-protection-for-authentication-overview

Let us know if that's not what you intended.
Thank you.

[2019-04-17 18:35] jimstjohn opened #1949 "RDBMS security section"
This page indicates that Transparent database encryption is not available for SQL Server 2017 standard.  I thought that TDE has been available in SQL Server Standard since SQL 2016 SP1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 453dc1e2-0c9c-fe95-c6fc-90be886432ad
* Version Independent ID: cd472bc0-26b9-a4a6-4089-

[2019-04-17 19:42] #1944 closed

[2019-04-17 19:47] rothja commented on #1947
@CeciAc Thanks for the question. I'm going to have the author @stevestein look into this.

[2019-04-17 19:48] rothja commented on #1949
@jimstjohn Thanks for the question. We'll want to fix the doc if the support statement is wrong. I've assigned this to @MikeRayMSFT, and he'll look into this further.

[2019-04-17 19:55] MikeRayMSFT commented on #1883
@CodeTherapist  - I updated the link in @julieMSFT 's comment. It should point to the correct place if you want to update the documentation yourself in the future.

For this issue, I'm updating it to remove the version (2016). I appreciate you pointing it out. Thanks!

[2019-04-17 23:29] rasane commented on #1888
Thank you.
You haven't said it explicitly, so can you confirm then that "SQLXML 4.0 SP1" is a **supported product** notwithstanding

 on: https://support.microsoft.com/en-us/lifecycle/search?alpha=Microsoft%20XML%20Core%20Services.

We share concerns of the [previous poster](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/7c87f107-707b-4236-903b-2a60f703d117/using-sqlxml-with-sql-server-2

[2019-04-18 00:47] raberana opened #1952 "New article not registered after adding it to the publication"
If sp_helpsubscription doesn't list down the newly added article, run sp_refreshsubscriptions '&lt;publication name&gt;' to update it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc92bf43-e386-8151-3fdd-179220b5e632
* Version Independent ID: 5d295335-ed3c-b316-4dee-503ee9a92372
* Content: [Add Articles to and Drop A

[2019-04-18 07:18] jonsparkes opened #1953 "Incorrect "TOPIC APPLIES TO""
The page header states that this management view only applies to SQL Server 2019, however I can confirm this is available in Azure SQL database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b62b4fea-b265-13d8-8e2c-1a6f63bd158d
* Version Independent ID: c7509d53-0d38-37b9-8239-53d09e70bdd1
* Content: [sys.dm_exec_quer

[2019-04-18 12:26] rothja commented on #1953
@jonsparkes Thank you for bringing this to our attention. I'm going to have one of our SQL Database content owners, @CarlRabeler, look into this.

[2019-04-18 12:29] rothja commented on #1952
@raberana Thank you for contacting us with this issue. Can you give me a few more details about the problem. Is the article inaccurate or are you not getting the results you expect? Thank you!

[2019-04-18 17:06] CarlRabeler commented on #1953
@MikeRayMSFT please look into this comment for your article

[2019-04-18 17:33] mco100 opened #1955 "/var/opt/mssql/log directory cannot be removed"
Hi,

I ran the command "sudo /opt/mssql/bin/mssql-conf set filelocation.errorlogfile" and all errorlog, xe and trace files were successfully moved to another directory.

**But** directory /var/opt/mssql/log is recreated automatically every time SQL Server service is restarted with 2 logs in it:
- sqlagent.out
- sqlagentstartup.log

How to move above two logs to the same directory as errorlog ?

--

[2019-04-18 17:40] MightyPen commented on #1938
I fixed this, with private repo PR 9922.
https://github.com/MicrosoftDocs/sql-docs-pr/pull/9922

Closing this now.
@avinashre Thank you for bring this error to our attention.  We hope to hear from you again.

[2019-04-18 17:40] #1938 closed

[2019-04-19 13:50] rothja commented on #1955
@mco100 I can see how that's not a comprehensive solution if it doesn't move all the SQL related logs. I have contacted the product team to see if this is intentional or if we need to consider a future change in behavior that takes the agent logs into account. Thank you!

[2019-04-19 15:30] Guillaume-Fourrat opened #1957 "AlwaysEncrypted CMK stores using SHA1 or SHA256 for signing ?"
Current content

RFC 8017 indeed has a _default_ of SHA-1, but it doesn't look like this is what we're using :

https://referencesource.microsoft.com/#System.Data/fx/src/data/System/Data/SqlClient/SqlColumnEncryptionCertificateStoreProvider.cs,62

`       /// <summary>
        /// Hashig algoirthm used for signing
        /// </summary>
        private const string _hashingAlgorithm = @"SHA256";`

[2019-04-19 16:38] rbtlong-pitzer opened #1959 "there's an error in the snippet"
this line is missing a beginning quote

 @command = C:\clickme_scripts\SQL11\PostBOLReorg GetHsX.exe',

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05af7104-7302-6a57-6db9-6ddcafd95c75
* Version Independent ID: 455567cb-eda3-3b19-5217-6e4479523a1c
* Content: [Create a CmdExec Job Step - SQL Server](https://docs.micro

[2019-04-19 19:01] aliceku commented on #1957
@Guillaume-Fourrat thank you for your feedback.  I am adding @Jaszymas who is the AE feature PM for comment.

[2019-04-19 19:47] vijaysuram opened #1960 "Error converting data type NVARCHAR to BIGINT during ETL Process using Polybase"
I am getting an error when I am trying to load data from Azure Blob Storage to Azure SQL Data warehouse.

I was able to create the EXTERNAL table successfully. Source and column mapping are fine but when I query SELECT * for the data, it throws me the below error.

Msg 107090, Level 16, State 1, Line 55
HdfsBridge::recordReaderFillBuffer - Unexpected error encountered filling record reader buffer:

[2019-04-19 19:53] #1883 closed

[2019-04-19 19:59] MikeRayMSFT commented on #1835
Thanks @emilyqiuyu for submitting the issues.
Fixed by @john-par on March 20. [See commit](https://github.com/MicrosoftDocs/sql-docs/commit/44dbe4f08c727371944c6e19b1d3b0ebc822da27#diff-5027f01da89688cde08148f2d24837b0).
Thanks @john-par

[2019-04-19 19:59] #1835 closed

[2019-04-19 20:13] MikeRayMSFT commented on #1841
@manchuwook
Thank you for submission.
I've created a work item to track this issue (internal tracking number 1515521).

I'm checking internally to see your best course of action to get some assistance.

[2019-04-19 20:18] rothja commented on #1959
@rbtlong-pitzer Thank you for the feedback. Would you be interested in editing the article directly and submitting the fix to get attribution on the article? There is an edit button on each article and you become a contributor. Let us know. Otherwise @stevestein should be able to get this fixed. Thank you!

[2019-04-19 20:21] rothja commented on #1960
@vijaysuram Thanks for the question. It is possible that this issue has to be investigated by Microsoft support and/or forums. But I want to make sure that the article is clear and that there isn't an issue with the instructions. I'm going to look into this to see if there is something wrong. I will be out of the office next week, so I apologize if there is a delay in my response.

[2019-04-19 21:30] dphansen commented on #1824
@stevenluda The [Data type mappings between R and SQL Server](https://docs.microsoft.com/en-us/sql/advanced-analytics/r/r-libraries-and-data-types?view=sql-server-2017) is only for when you are using [sp_execute_external_script](https://docs.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/sp-execute-external-script-transact-sql?view=sql-server-2017).

For `rxGetVarInfo` and `

[2019-04-19 21:31] #1824 closed

[2019-04-19 21:31] stevestein commented on #1812
@jclark0909 - Hi Jared, Apologies for the slow reply. I'm trying to find out if there is any plan for this but haven't been able to get a solid answer yet.
You might try posting the question at [UserVoice](https://feedback.azure.com/forums/908035-sql-server)

@yualan - Do you have any additional info or insight you can provide on this?

[2019-04-19 21:35] MikeRayMSFT commented on #1841
The error message reported indicates the exit reason as “Resource must be configured with notify=true”

We cannot tell for sure as to what command was used to create the resource. As per the command in the document, it seems like customer did not specify this

`sudo pcs resource create ag_cluster ocf:mssql:ag ag_name=ag1 meta failure-timeout=30s --master meta notify=true`

[2019-04-19 21:36] stevestein commented on #1880
@mosharafMS - Thanks for raising this issue. I'm going to close this issue. Let us know if you need any additional info.
@fan130 - Thanks for the reply and link.

[2019-04-19 21:36] #1880 closed

[2019-04-19 21:45] MikeRayMSFT commented on #1879
Thank you @mrdenny for pointing this out. We'll clean it up.

[2019-04-19 21:45] #1879 closed

[2019-04-19 22:05] MikeRayMSFT commented on #1949
@jimstjohn - thank you for the question. We're verifying.

[2019-04-19 22:10] pmasl commented on #1949
See https://docs.microsoft.com/en-us/sql/sql-server/editions-and-components-of-sql-server-2017?view=sql-server-2017

Only features that affect the programmability surface area were opened to Standard Edition in SQL Server 2016 SP1 and above. TDE is not a programmability feature.

What affects the programmability surface area? Think of it this way. Your application T-SQL code and application behavi

[2019-04-19 23:24] #1949 closed

[2019-04-19 23:56] MikeRayMSFT commented on #1953
@pmasl - can we verify this applies to both Azure SQL DB and Azure SQL DB Managed Instance?

[2019-04-20 07:26] BenBitDesign opened #1966 "Logical funcitons link redirecting to same page"
"The logical functions" link in the table on this page is redirecting to this page ("What are the SQL database functions?").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fccc2683-09df-68d6-1bd0-84ba07e23782
* Version Independent ID: f96ce66e-089b-d5d2-62a3-047463f55057
* Content: [What are the Microsoft SQL database

[2019-04-21 17:39] lpatalas opened #1967 "Incorrect values for sysdac_history_internal.action_status column"
Docs specify following values:

0 = pending
1 = success
2 = fail

On LocalDB 13.1.4001.0 I actually get:

1 = pending
2 = success

![action_status](https://user-images.githubusercontent.com/1406063/56473548-03d4c780-646d-11e9-8aec-5c0deab1a010.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5502f8dc-33e1-6ae4-096b-

[2019-04-21 23:14] MightyPen commented on #1967
@stevestein Hi Steve, Can you please process this Issue 1967.  Thanks.

CC: @lpatalas

[2019-04-21 23:48] rothja commented on #1966
@BenBitDesign Thanks for the feedback. I've assigned this to the author @MashaMSFT, and we will see if the link should be changed (and where). Thanks!

[2019-04-22 00:23] rothja commented on #1876
@sqlsrvgeek Thanks, again for this feedback. We're making some simplifications to this article soon where the syntax for create external table will not be shown here. We'll then improve the CREATE EXTERNAL TABLE docs and examples. So I'm closing this for now without changing this yet, but it will get addressed very soon. Thank you.

[2019-04-22 00:24] #1876 closed

[2019-04-22 14:20] nobieyi00 opened #1969 "Can't download SQL Server Management studio successfully"
Hi
When I download the software gets to 99% and an error occurs then I resume it and the error occurs again. I have tried several times across various laptops and internet browsers. Please look into it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909f

[2019-04-22 17:21] MashaMSFT commented on #1966
Hi @BenBitDesign , thanks for bringing this to our attention! I've fixed it temporarily by redirecting the link to the CHOOSE function but I have a work item to create a new article to improve this navigation.

[2019-04-22 17:28] MashaMSFT commented on #1969
Hi @nobieyi00 thank you for contacting Microsoft! I'm sorry to hear you're running into issues downloading SSMS. Would you mind clarifying which link you're selecting? Is it the current  17.9.1 new installation, the 17.9.1 upgrade, or something else? Thanks!

[2019-04-22 17:44] MashaMSFT commented on #1892
Hi @vividt , thanks for notifying of this gap! We will take this feedback to the product group to see if this is something implementable in the future. Since the question has been answered, I will proceed with closing out this Git Issue but please feel free to reply should you need anything further. Thanks!

[2019-04-22 17:44] #1892 closed

[2019-04-22 17:48] nobieyi00 commented on #1969
Hi it is the 17.9.1

[2019-04-22 19:06] MashaMSFT commented on #1969
Hi @nobieyi00 , I tried to download both the [new ](https://go.microsoft.com/fwlink/?linkid=2043154 )installation, and the [upgrade](https://go.microsoft.com/fwlink/?linkid=2043430), and both links succeeded for me:
![image](https://user-images.githubusercontent.com/32783170/56519431-e8160380-64f6-11e9-96b3-49b43dbeceb2.png)

Is it possible that there are some security settings on your end that ar

[2019-04-22 19:57] nobieyi00 commented on #1969
Hi I will try through a different network once I get home. However, I am currently still experiencing the same issue. It is actually running a loop. It gets to the end and restarts downloading. I have downloaded from other microsoft websites for example I downloaded visual studio few hours ago without any issue. Once I try through my home network I will update the ticket

[2019-04-22 20:51] abelykh0 opened #1971 "Is NaN value supported?"
The documentation page for float and real data types doesn't specify if NaN value is supported or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c2de23d-86a7-de68-8755-1811be30348f
* Version Independent ID: 4b3b64d3-9857-89e9-1128-5fa35caa686b
* Content: [float and real (Transact-SQL) - SQL Server](https://docs.m

[2019-04-23 01:05] MashaMSFT commented on #1897
Hi @baodad , thanks again for bringing this to our attention! I've added a note to both the UPDATED() and COLUMNS_UPDATED() documentation stating that this behavior is by-design:

If a trigger applies to a column, the COLUMNS_UPDATED returns as true or 1, even if the column value remains unchanged. This is by-design, and the trigger should implement business logic that determines if the insert/upd

[2019-04-23 01:06] MashaMSFT commented on #1941
Hi @jg11jg , thanks again for contacting Microsoft! I've updated the examples to eliminate the declaration all together. These changes should be live tomorrow. I hope that helps and please let me know if we could be of further assistance. Thanks!

[2019-04-23 01:22] MightyPen commented on #1957
@VanMSFT @jaszymas
Hi Van, Can you and Jakub Szymaszek please process this security Issue 1957, and eventually respond to @Guillaume-Fourrat .  Thanks a lot.

[2019-04-23 01:24] MightyPen commented on #1941
@MashaMSFT Hi Masha, I am now Closing this Fixed Issue 1941.  Thanks.

[2019-04-23 01:24] #1941 closed

[2019-04-23 01:30] MightyPen commented on #1842
@stevestein This Closed Issue 1842 label, I am updating the label from 20-Triage to 41-Tracking-Internally.
Thanks.

[2019-04-23 02:16] nobieyi00 commented on #1969
Hi I tried my local machine at home and it worked. Probably my work laptop has some network issue. I will close the issue. thanks

[2019-04-23 02:17] #1969 closed

[2019-04-23 03:38] baodad commented on #1897
@MashaMSFT I do not see the note you added in the document, but thanks for following up on this.

[2019-04-23 15:03] mprince-capax opened #1973 "An example showing how to configure Polybase using Azure Data Lake Gen2 is needed"
The example above is for ADLS Gen1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 140d7c84-acc3-f722-99af-867be1f8752a
* Version Independent ID: 6bb40855-9644-1b18-3c4f-cec734cdc169
* Content: [CREATE DATABASE SCOPED CREDENTIAL (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-d

[2019-04-23 15:57] VanMSFT commented on #1973
@rothja - Hey Jason, do you mind checking this out? Thanks!

[2019-04-23 22:33] simonsabin opened #1979 "Minimal logging requirements for CCI inserts"
There is nothing I can find that explicitly states that batch inserts > 102400 into a CCI is minimally logged irrespective of the recovery model of the database.

Can that be put in the docs somewhere

This doesn’t call it out either way
https://docs.microsoft.com/en-us/sql/relational-databases/indexes/columnstore-indexes-data-loading-guidance?view=sql-server-2017#plan-bulk-load-sizes-to-minimize-

[2019-04-23 22:42] MashaMSFT commented on #1979
Hi @simonsabin , thanks for contacting Microsoft! Let me do some research and get back to you. Thanks!

[2019-04-23 22:47] MashaMSFT commented on #1979
Hi @simonsabin , thanks again for reaching out! I found this paragraph in the second document you linked - is this what you're referring to?

If the table has a clustered index and is empty, both data and index pages are minimally logged. In contrast, if a table has a btree based clustered index and is non-empty, data pages and index pages are both fully logged regardless of the recovery model. **

[2019-04-23 23:23] simonsabin commented on #1979
Not really because the top of the page explicitly says

"For a database under the full recovery model, all row-insert operations that are performed by bulk import are fully logged in the transaction log. "

Historically all those requirements for minimal logging are in addition to the DB being in simple or bulk logged recovery.

Its just not explicit enough

[2019-04-24 05:43] JasonLoKiSmith opened #1980 "Limitations on Filegroups on SQL Express"
Can I kindly request that more information is added to this article with regards to the possible limitations there are when using SQL Express, specifically when it comes to the 10Gb limit. Do FILESTREAMS form part of the 10Gb data limit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bd7807f-5dde-795d-56b9-3d4b9c4187c

[2019-04-24 11:05] GilesDMiddleton opened #1982 "Limitations - are there more?"
I know from bitter experience that you can't have more than 128 deep nested levels of XML elements. Can this be added to the limitations. Are there more limitations that could be added to the limitation section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10b80f2a-c27b-b55e-1c72-2a976cd18bff
* Version Independent ID

[2019-04-24 11:10] mahidharguggilam opened #1983 "No Trusted connection tutorial in this"
How to use sqlcmd with trusted connection and when I use sqlcmd localhost -E -i xxxxx.sql file for running scripts, it is giving error:
Sqlcmd: Error: Microsoft ODBC Driver 17 for SQL Server : SSPI Provider: No Kerberos credentials available (default cache: KEYRING:persistent:0).
Sqlcmd: Error: Microsoft ODBC Driver 17 for SQL Server : Cannot generate SSPI context.

---
#### Document Details

⚠ *D

[2019-04-24 18:25] shudson302 opened #1986 "Array Example"
After doing exhaustive searching, there is a lot of confusion about querying for values in an array.   This page seems to indicate in Example 2 that you can query an array of address info objects by using the jason path '$.info.address.town'

But every other example I have seen of querying for arrays requires you to have an indexer [0] in order to extract a value.  Could you make this example more

[2019-04-24 19:12] bbakermmc opened #1987 "Blob Access using Key Vault"
Is there away to access the blob storage using creds from the key vault?  If the storage account is configured to auto regen keys using the key vault, we would need to change these creds every time, but if SQL can already see the key vault would make more sense, or can we set it to use an application registered identity/user configured managed identity?

---
#### Document Details

⚠ *Do not edit t

[2019-04-24 20:18] MashaMSFT commented on #1980
Hi @JasonLoKiSmith , thanks for bringing this to our attention! Let me do some research and get back to you. Thanks!

[2019-04-24 20:20] MashaMSFT commented on #1982
Hi @GilesDMiddleton , thanks for contacting Microsoft! I've assigned this issue to the author to research further. Thanks!

[2019-04-24 20:23] MashaMSFT commented on #1986
Hi @shudson302 , thanks for bringing this to our attention! Let me do a little research and get back to you. Thanks!

[2019-04-24 20:27] MashaMSFT commented on #1983
Hi @mahidharguggilam , thank you for contacting Microsoft! Unfortunately, it sounds like you're running into an issue with the product itself, and this is actually just meant to discuss issues with the documentation. As such, your request is outside the scope of this medium. I would recommend checking this page to see what other options you have for getting support, such as engaging the community,

[2019-04-24 20:34] MashaMSFT commented on #1987
Hi @bbakermmc , thanks for contacting Microsoft! Let me do a little research and get back to you :) thanks!

[2019-04-24 21:30] MashaMSFT commented on #1980
Hi @JasonLoKiSmith , thanks again for contacting Microsoft! It looks like the 10gb limitation does NOT include filestream: https://docs.microsoft.com/en-us/sql/relational-databases/blob/filestream-compatibility-with-other-sql-server-features?view=sql-server-2017#SQLServerExpress

I hope that helps and please let me know if we could be of further assistance. Thanks!

[2019-04-24 23:32] dhmorrison opened #1988 "Complete Code Samples Needed."
Hi all,

I am providing the following constructive criticism.  I hope you take it in the spirit intended and that you guys get better at this stuff.

The example is not sufficient for an implementer to fully understand how to specify the command.  You really really really really really, etc. need to get on the stick and provide complete code samples.  Or, in the alternative, give up and publish a

[2019-04-25 12:15] dalekerr opened #1989 "Supported Operating systems"
Regarding the required version of Windows 10 / Windows Server 2016, note that version 1607 is 10.0.14393 not 10.0.14939 as is stated on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45daf2f0-bb22-338f-062b-a9fabcb71a92
* Version Independent ID: b6e909fe-15d9-c1cf-c018-d4f6f36ff31f
* Content: [Download SQL S

[2019-04-25 13:01] dalekerr opened #1991 "Supported Operating systems #2"
The only supported client listed on this page is Windows 10 (64-bit). The 18.0 Release Notes however, state: "SSMS is not supported on Windows 8. Windows 10 and Windows Server 2016 require version 1607 (10.0.14393) or later. Due to the new dependency on NetFx 4.7.2, SSMS 18.0 does not install on Windows 8 and older versions of Windows 10 and Windows Server 2016. SSMS setup will block on those syst

[2019-04-25 14:16] dalekerr opened #1992 "Release Notes for SSMS 16 and SSMS 17"
Where are answers to these questions clearly specified:
- what versions of Windows does SSMS 16 support?
- what versions of SQL Server does SSMS 16 support?
- what versions of Windows does SSMS 17 support?
- what versions of SQL Server does SSMS 17 support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cac198c9-abf9-b

[2019-04-25 14:23] normanarmas opened #1995 "SSMS v18.0 Execution Plan (Incorrect %)"
![image](https://user-images.githubusercontent.com/17601197/56743220-2d7b4080-6744-11e9-9354-b1f5a7975b8a.png)

[2019-04-25 15:02] MasayukiOzawa opened #1996 "Notebook for MSSQL Spark Connector documentation does not exist."
https://docs.microsoft.com/en-us/sql/big-data-cluster/spark-mssql-connector?view=sqlallproducts-allversions#run-the-sample-notebook

Even if the URL of the contents of "Run the sample notebook" is accessed, it will be 404.
I can not access  https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/features/sql-big-data-cluster/spark/spark_to_sql/mssql_spark_connector.ipynb

[2019-04-25 16:27] MashaMSFT commented on #1988
Hi @dhmorrison , thank you for contacting Microsoft and your heartfelt feedback! I agree that this description is ambiguous, and I appreciate you bringing this to our attention. Let me see what I can do to resolve it :) Thanks!

[2019-04-25 16:29] MashaMSFT commented on #1989
Hi @dalekerr , thanks for contacting Microsoft and bringing this to our attention! @stevestein , would you mind looking into this further please? Thanks!

[2019-04-25 16:30] MashaMSFT commented on #1991
Hi @dalekerr , thanks for bringing this to our attention as well! @stevestein , would you mind looking into this also? Thanks!

[2019-04-25 16:32] MashaMSFT commented on #1992
Hi @dalekerr , thanks again for asking these clarifying questions! @stevestein , would you mind seeing if there's a way to update the SSMS documentation with more clarity revolving supportability? Thanks!

[2019-04-25 16:36] MashaMSFT commented on #1995
Hi @normanarmas , thank you for contacting Microsoft! Unfortunately, this seems to be an issue with the product, and this medium is intended for reporting issues with the documentation. As such, your request is outside the scope of this forum. If you're experiencing a bug, please submit it via UserVoice: https://feedback.azure.com/forums/908035-sql-server, engage the community, or contact Microsof

[2019-04-25 16:39] MashaMSFT commented on #1996
Hi @MasayukiOzawa , thanks for contacting Microsoft and bringing this to our attention! @rothja , would you mind looking into this further?  Thanks!

[2019-04-25 17:18] seanwhitepc opened #1997 "No Examples On How To Use All Values"
This documentation is next to useless for this stored procedure.  I've been trying to find a way to actually use all the values this procedure returns without any luck.  All this documentation provides is how to get the metadata from the procedure, not how to actually get and use the entire range of values it generates.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-04-25 17:56] MashaMSFT commented on #1997
Hi @seanwhitepc , thanks for bringing this to our attention! @stevestein , would you mind looking into this further? Thanks!

[2019-04-25 18:02] MashaMSFT commented on #1995
Hi @normanarmas , just for clarification - which part is incorrect? Thanks!

[2019-04-25 18:32] AAvella commented on #1991
SSMS 18 (all previews, RC1, and the GA) have all been running fine on Windows 7 Pro Build 7601.

[2019-04-25 18:49] normanarmas commented on #1995
The numbers in the percentage calculations are incorrect.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Masha at MSFT <notifications@github.com>
Sent: Thursday, April 25, 2019 2:02:52 PM
To: MicrosoftDocs/sql-docs
Cc: normanarmas; Mention
Subject: Re: [MicrosoftDocs/sql-docs] SSMS v18.0 Execution Plan (Incorrect %) (#1995)

H

[2019-04-25 19:45] MashaMSFT commented on #1995
Hi @normanarmas , sorry, which numbers? All of them? Or the 0%? Or the 233%? What gives you the indication that they're incorrect? Thanks!

[2019-04-25 19:52] normanarmas commented on #1995
The sum of the all numbers need to be 100

________________________________
From: Masha at MSFT <notifications@github.com>
Sent: Thursday, April 25, 2019 3:46:02 PM
To: MicrosoftDocs/sql-docs
Cc: normanarmas; Mention
Subject: Re: [MicrosoftDocs/sql-docs] SSMS v18.0 Execution Plan (Incorrect %) (#1995)

Hi @normanarmas<https://github.com/normanarmas> , sorry, which numbers? All of them? Or the 0%?

[2019-04-25 20:10] jovanpop-msft commented on #1986
@MashaMSFT the example is wrong. I corrected it here: https://github.com/MicrosoftDocs/sql-docs-pr/pull/10046. I think that we can close this issue once it is published.

[2019-04-25 22:43] MashaMSFT commented on #1995
Hi @normanarmas , would you mind clarifying further? I see 19+19+19+43 which sums up to 100. Which values are you referring to? Thanks!

[2019-04-26 00:23] MasayukiOzawa commented on #1996
@MashaMSFT @rothja Thank you for your reply.
As I checked today, I was able to access the content.
I will close this issue.

[2019-04-26 00:23] #1996 closed

[2019-04-26 01:01] MashaMSFT commented on #1996
Hi @MasayukiOzawa , awesome! Glad to hear it's working, and thanks for letting us know :) Thanks again for contacting Microsoft!

[2019-04-26 02:36] brettshearer opened #2005 "Missing description of 'awaiting command' status"
As noted by Bob Dorr a few years back at :https://blogs.msdn.microsoft.com/bobsql/2017/06/09/sql-server-mysteries-the-case-of-the-suspended-awaiting-command-and-blocked-session/
Not all statuses are documented. Please update the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 785e6be1-0c51-7690-1eb6-c4c98c

[2019-04-26 02:39] brettshearer opened #2006 "Performance counter described that does not seem to exist"
SQL Server:Availability Replica &gt; Bytes sent to transport\sec and SQL Server:Availability Replica &gt; Message Acknowledgement Time (ms)

When I follow the link to : [https://docs.microsoft.com/en-us/sql/relational-databases/performance-monitor/sql-server-availability-replica?view=sql-server-2017](This Page)

, the page does not describe this counter, nor is it available in the product.
How doe

[2019-04-26 02:47] brettshearer opened #2007 "Request_ID is always 0?"
I am trying to collect data over time using this DMV, however Request_ID is not unique per session, as described in the help.
Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 785e6be1-0c51-7690-1eb6-c4c98c7c1133
* Version Independent ID: 79592f3b-ccff-06bd-eed8-08ab1bf74205
* Content: [sys.dm_exec_requests

[2019-04-26 02:56] brettshearer opened #2008 "Session_ID returns null - not documented"
THREADPOOL waits are appearing on my production server with null SESSION_ID and null EXEC_CONTEXT_ID, but columns are not documented as such.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124c0a79-ddd4-7399-bfc5-ec2920931783
* Version Independent ID: 490a5d93-6b28-984c-6069-463a84ed3a8c
* Content: [sys.dm_os_waiting_t

[2019-04-26 03:49] tristanbarcelon opened #2012 "SSMS 18.0 Help About contains incorrect information about operating system"
I successfully uninstalled SSMS 17.9.1 and installed 18.0 via CLI successfully on Windows 10 1803 Enterprise. Upon clicking Help menu and select About item, it shows me 6.3.17134. 17134 is the correct build number but 6.3 is the major and minor for Windows 8.1/Server 2012 R2.

![image](https://user-images.githubusercontent.com/5810165/56782316-96020600-67b4-11e9-81a6-47b207cf9205.png)

[2019-04-26 09:03] dzmitry-palcheuski opened #2013 "DecryptByKey depends on database used for opening key"
You should explicitly set database before using DecryptByKey.
Next example demonstrates this problem when view returns required data and table returns NULL:

CREATE DATABASE __TestingDecryptByKey__
GO

CREATE TABLE __TestingDecryptByKey__.dbo.Test(val VARBINARY(8000) NOT NULL);
GO

USE __TestingDecryptByKey__;
GO

CREATE VIEW dbo.TestView AS SELECT CAST(DecryptByKey(val) AS VARCHAR(30)) AS Decrypt

[2019-04-26 10:50] JRobinsIken opened #2014 "Incorrect information"
Regarding this page:
https://docs.microsoft.com/en-us/sql/relational-databases/json/import-json-documents-into-sql-server?view=sql-server-2017#import-multiple-json-documents

The Code sample Under the 'import-multiple-json-documents' section shows that you are giving a variable @file to OPENROWSET, which does not work:

`SELECT @json = BulkColumn FROM OPENROWSET (BULK (@file), SINGLE_CLOB) AS j`

[2019-04-26 11:00] dphugo opened #2015 "Example 2 - Comments don't align with values"
I can see an issue was already raised for Example 2, but I think this is new after that fix.
The last 2 lines in Example 2 are:
SET @town=JSON_VALUE(@jsonInfo,'$.info.address[1].town'); -- Paris
SET @town=JSON_VALUE(@jsonInfo,'$.info.address[1].town'); -- London

Both however returns "London" as the index is 1 for both lines. I assume the intent is that the last 2 lines should be:
SET @town=JSON_V

[2019-04-26 13:54] pavlo94 opened #2016 "Wrong Link"
Hi,

First link (to "Using the instructions at this link") in "Create a Domain Independent Availability Group" section is incorrect.
Correct one is below:

https://techcommunity.microsoft.com/t5/Failover-Clustering/Workgroup-and-Multi-domain-clusters-in-Windows-Server-2016/ba-p/372059

Best regards,
Paweł

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-04-26 13:56] CeciAc opened #2017 "add with NFS mount"
@aversag commented on [Fri Apr 26 2019](https://github.com/MicrosoftDocs/sql-docs.fr-fr/issues/104)

bonjour,
cela serait intéressant d'avoir également cette partie. merci

_Translation, from French to English, is:_  "Hello
it would be interesting to have that part as well. Thank you" (meaning the "NFS mount" part, I presume)

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est o

[2019-04-26 16:15] stevestein commented on #1886
@timchenyx - Thanks for the clarification.
@nschonni - I'm going to close this one.

[2019-04-26 16:15] #1886 closed

[2019-04-26 17:35] MashaMSFT commented on #2005
Hi @brettshearer , thanks for bringing this to our attention! @stevestein , would you mind researching this further? Thanks!

[2019-04-26 17:36] MashaMSFT commented on #2006
Hi @brettshearer , thanks for bringing this to our attention! Let me do a little research and get back to you. Thanks!

[2019-04-26 17:38] MashaMSFT commented on #2007
Hi @brettshearer , thanks for bringing this to our attention! @stevestein , would you mind looking into this further? Thanks!

[2019-04-26 17:44] MashaMSFT commented on #2008
Hi @brettshearer , thanks for contacting Microsoft! Sorry, would you mind clarifying what you mean by 'they're not documented as such'? Do you mean that there is no explanation for when the values of session_id and exec_context_id are null? Or did you mean something else?

For what it's worth, threadpool waits are an indication that you're running out of worker threads. The most frequent cause of

[2019-04-26 17:48] MashaMSFT commented on #2012
Hi @tristanbarcelon , thanks for contacting Microsoft! Unfortunately, this medium is intended for assistance with the documentation, and the issue that you're seeing is outside the scope of that intent. As such, I would recommend using either User voice to submit this as a bug: https://feedback.azure.com/forums/908035-sql-server, contacting the community, or reaching out directly to Microsoft supp

[2019-04-26 17:49] MashaMSFT commented on #2013
Hi @dzmitry-palcheuski , thanks for bringing this to our attention! Let me do a little bit of research and get back to you. Thanks!

[2019-04-26 17:50] MashaMSFT commented on #2014
Hi @JRobinsIken , thanks for bringing this to our attention! @jovanpop-msft , would you mind looking into this? Thanks!

[2019-04-26 17:51] MashaMSFT commented on #2015
Hi @dphugo, thanks for bringing this to our attention! @jovanpop-msft , would you mind looking into this? Thanks!

[2019-04-26 17:52] MashaMSFT commented on #2016
Hi @pavlo94 , thanks for bringing this to our attention! Let me look into this :) Thanks!

[2019-04-26 17:53] MashaMSFT commented on #2017
Hi @CeciAc , thanks for bringing this to our attention! @meet-bhagdev , would you mind looking into this please? Thanks!

[2019-04-26 18:45] MikeRayMSFT commented on #1997
Hi @seanwhitepc, there are a few places where you can see examples of how to use stored procedure output. See [Returning Data Using an Output Parameter](http://docs.microsoft.com/sql/relational-databases/stored-procedures/return-data-from-a-stored-procedure?view=sql-server-2017#returning-data-using-an-output-parameter).

For an example with this specific procedure, see [raresql.com](https://raresq

[2019-04-26 18:56] #1997 closed

[2019-04-26 22:02] brettshearer commented on #2008
The question is purely about documentation. Apologies for creating the confusion.
I am asking about the null SESSION_ID and null EXEC_CONTEXT_ID.
Normally columns would be marked nullable if they are allowed to be null.

[2019-04-27 18:03] amitpatelupw opened #2022 "dasdsad"
dsadsads

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39949710-4382-6df8-9f49-91cc87e2f3e8
* Version Independent ID: a1ceff32-9f8e-5c16-0c6f-95ae1d1e634d
* Content: [SQL Server Documentation - SQL Server](https://docs.microsoft.com/en-us/sql/sql-server/sql-server-technical-documentation?toc=..%2Ftoc%2Ftoc.json&view=s

[2019-04-28 06:30] Munez-A commented on #1991
looks great

[2019-04-28 19:15] jstafford5380 opened #2024 "Volumes for persistent data"
It would be useful to document here which folders on the image I can mount to the host for persistent data, as other images have begun to do. for example `-v sql_data:/opt/sql/data`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b152444b-dfb8-5cbe-cf45-9830bd085a68
* Version Independent ID: 31719660-d4d0-7f63-efcc-846c

[2019-04-29 09:47] ElmarJ opened #2025 "No discussion of limitations to expression"
Under "limitations", I would also expect a brief discussion of which expressions are allowed, even if everything is possible, particularly since MySQL's "Generated Columns" (same syntax) do have specific limitations (e.g. only deterministic and no subqueries allowed - see https://dev.mysql.com/doc/refman/5.7/en/create-table-generated-columns.html).

---
#### Document Details

⚠ *Do not edit this s

[2019-04-29 10:50] Chris3y opened #2026 ""SSMS can only be upgraded by installing the package of the matching language""
The release notes appear to indicate this restriction has been specifically removed and yet I'm unable to install SSMS as a result.

New Windows 10 install. Just installed SQL Server Standard 2017 without any issues then followed the link from the installer to this  page and get the error:
"SSMS can only be upgraded by installing the package of the matching language..."

I'm on a UK operating syst

[2019-04-29 14:06] stevestein commented on #1887
@cheenamalhotra - This issue will be fixed in the documentation. We have created a new internal tracking number for this work item: 1518995. We are closing this Issue, and are letting the new item track this going forward. You will receive another notice after the internal item is completed. Thank you for submitting this Issue.

[2019-04-29 14:07] #1887 closed

[2019-04-29 15:09] smolens opened #2027 "Command typo for addent"
under "Add keytab entries for each SPN using the following commands:" "aes256-cts-hmac -sha1-96" should have no space after hmac

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd6e9f1-17ab-7aea-818e-d2ab416e3891
* Version Independent ID: 3b789cdc-ca6c-4aca-ae01-b094926dbd7c
* Content: [Tutorial: Use AD authentication

[2019-04-29 15:10] stuart-hagsw opened #2028 "Powershell 'cd' command confusion"
Forgive me if I'm just being ignorant, but this line in the Powershell script example doesn't make any sense to me:
CD SQLSERVER:\SQL\localhost\DEFAULT

I'm trying to get this working on Sql Express. Where would I need to CD to?

Thanks,
Stuart Neal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfdc07a0-b02e-f6c1-a4dc

[2019-04-29 15:59] magasvs opened #2029 "Documentation for "lob *" columns output"
The following output columns "lob logical reads", "lob physical reads", "lob read-ahead reads" will also have output for the columnstore indexes pages regardless of the data type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00651e98-1d8e-4c17-5f8f-ea50136128eb
* Version Independent ID: 158bf686-4304-aa99-c2d2-c7749f

[2019-04-29 17:27] ShaunJStu opened #2031 "Incorrect information regarding Change Tracking support"
This page states "Change tracking can be enabled on a database with In-Memory OLTP objects. However, changes in memory-optimized tables are not tracked." This is incorrect. Attempting to enable change tracking at the database level for a database with In-Memory objects results in the error "Change tracking is not supported for a database with memory optimized objects. Remove all memory optimized o

[2019-04-29 17:35] dnethi commented on #1991
+@Matteo Taveggia<mailto:matteot@microsoft.com>

Steve

We need to update the supported OS to include Windows 8.1.
Would you mind updating it please?

Thanks,
Dinakar

From: Masha at MSFT <notifications@github.com>
Sent: Thursday, April 25, 2019 9:30 AM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Dinakar Nethi <Dinakar.Nethi@microsoft.com>; Mention <mention@noreply.github.com>
Sub

[2019-04-29 18:38] MikeRayMSFT commented on #2022
@amitpatelupw - thanks for using the GitIssues feature of our documentation. We're happy to take a look at any specific issues you point out with our docs. For this issue, I'm going to go ahead and close.

[2019-04-29 18:38] #2022 closed

[2019-04-29 18:42] MikeRayMSFT commented on #2024
@jstafford5380 - thank you for the submission.

@rothja would you take a look at the recommendation?

[2019-04-29 19:06] MikeRayMSFT commented on #2025
@ElmarJ - thank you for your suggestion.
We'll take a look.

[2019-04-29 19:11] MikeRayMSFT commented on #2027
Thank you @smolens

Reviewing solution

[2019-04-29 19:56] MikeRayMSFT commented on #2028
@stuart-hagsw [Navigate SQL Server PowerShell Paths](http://docs.microsoft.com/sql/powershell/navigate-sql-server-powershell-paths) explains that an alias for `Set-Location` cmdlet is `cd`.

The example in the command changes the current node to the SQL Server default instance.

Probably:
`CD SQLSERVER:\SQL\localhost\SQLEXPRESS`

Thanks for the comment!

[2019-04-29 19:56] #2028 closed

[2019-04-29 20:07] MikeRayMSFT commented on #2029
@magasvs - thanks for the submission. I'm checking a few things out and will get back to you.

[2019-04-29 20:13] MikeRayMSFT commented on #2031
@ShaunJStu - thank you for this submission. We will investigate and get back to you.

[2019-04-29 20:16] MikeRayMSFT commented on #2026
@Chris3y - thank you for submitting this. We'll get back to you.

[2019-04-29 20:17] MikeRayMSFT commented on #2024
Assigning to @rothja -
@vin-yu would you be interested in taking a look?

[2019-04-29 21:20] luisgmsft opened #2034 "Ubuntu deployment experience with this guideline."
I'm deploying in 3 equally deployed off-the-shelf Ubuntu 16.04.

On [Create the Pacemaker Cluster -Step 2](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-deploy-pacemaker-cluster?view=sql-server-2017#create-the-pacemaker-cluster): had to add --force as suggested by the error I've got

In order to `sudo apt-get install mssql-server-ha` I had to add proper apt repo following these instr

[2019-04-30 03:22] Matteo-T commented on #2026
This is not an issue with the documentation. It could be an issue with the product itself. I am investigating. I may need to reach out to @Chris3y and ask for a .zip of the %TEMP%\SSMSSetup, if I cannot repro it myself.

-Matteo

[2019-04-30 06:08] nikunjratanpara commented on #2026
I am facing same issue I am using Windows 10 Enterprise 10.0.17134 with English (United States) Language.

[2019-04-30 06:13] Matteo-T commented on #2026
That does not look like the same issue: your machine is 100% EN-US and you are (most likely?) installing SSMS EN-US (right)? If that's the case, could you confirm you don't have any other version (Preview, RC) of SSMS 18.0 installed on the machine? What's the output of
  reg query "HKLM\SOFTWARE\WOW6432Node\Microsoft\Microsoft SQL Server Management Studio" /reg:32 /s

Thanks,
-Matteo

[2019-04-30 08:37] Matteo-T commented on #2012
@MashaMSFT is correct: this is not really an issue with the documentation. It is more a long outstanding issue in SSMS, which went unnoticed until now. And, yes, the proper way to surface product issues (or even suggestions) is the https://aka.ms/sqlfeedback (short for the ones given above).

Having said all that, I'll look into it :-)

Thanks for reporting it, @tristanbarcelon.

[2019-04-30 13:06] tristanbarcelon commented on #2012
@Matteo-T , thank you for responding. I'll close this issue and post it to [sqlfeedback](https://aka.ms/sqlfeedback) instead.

[2019-04-30 13:06] #2012 closed

[2019-04-30 13:17] bharathbkt commented on #2026
Hi @Matteco-T,
I am having a similar issue,
Below is the output fo the reg command.

HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\Microsoft SQL Server Management Studio\18
    SSMSInstallRoot    REG_SZ    C:\Program Files (x86)\Microsoft SQL Server Management Studio 18\

ref to to other threads..
https://social.msdn.microsoft.com/Forums/sharepoint/en-US/8b2ed013-66b7-44b9-b18e-6b42aa1b0930/ss

[2019-04-30 13:42] shudson302 commented on #1986
When I click on that link, it is a 404 error

[2019-04-30 14:41] fkconnors opened #2036 "Valid range of values is not given for the date data type"
Someone told me that the date data type in SQL DW does not support date values prior to 1950.  I find that hard to believe, but I cannot get that confirmed or refuted because this page does not state what the valid range of values for the date data type are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4775d99-7054-

[2019-04-30 15:20] jamesstead opened #2037 "Filtering widgets to dashboards for specific databases"
I'm curious about the "when" property I only want to show queries on databases with a specific name.  Any chance I can filter on that my attempts to add a filter for database have met with failure.  For example one pattern I tried was "when": "mssql:database=='HealthCheck'",

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-04-30 17:17] MashaMSFT commented on #1986
Hi @shudson302 , the change has gone live:

DECLARE @jsonInfo NVARCHAR(MAX)
DECLARE @town NVARCHAR(32)

SET @jsonInfo=N'{"info":{"address":[{"town":"Paris"},{"town":"London"}]}';

SET @town=JSON_VALUE(@jsonInfo,'$.info.address[1].town'); -- Paris
SET @town=JSON_VALUE(@jsonInfo,'$.info.address[1].town'); -- London

I hope that helps and please let us know if we could be of further assistance. If we

[2019-04-30 17:24] shudson302 commented on #1986
Ok, that example does make sense now.  Is there a way to query for all values of town?

Something like this where it will return all items that match?

SET @jsonInfo=N'{"info":{"address":[{"town":"Paris"},{"town":"London"}]}';

SET @Towns =JSON_VALUE(@jsonInfo,'$.info.address.town'); -- Paris

[2019-04-30 17:50] MashaMSFT commented on #1966
Hi @BenBitDesign , thanks again for bringing this to our attention! This issue has now been addressed. Please let us know if we can be of further assistance :) otherwise, we'll proceed with closing out this Git Issue in a few business days. Thanks!

[2019-04-30 17:55] MashaMSFT commented on #1980
Hi @JasonLoKiSmith , thanks again for reaching out! As it's been some time since we've heard from you, we'll assume the information provided was sufficient, and proceed with closing out this Git Issue. Please feel free to reply should you need anything further. Thanks!

[2019-04-30 17:55] #1980 closed

[2019-04-30 18:01] MashaMSFT commented on #1995
Hi @normanarmas , just wanted to follow up on this request. It looks like the summation of all the operators is hitting 100%, and the 233% is by-design to indicate cost of multiple executions. I hope this addresses your question! If not, please let us know how we can clarify further. Otherwise, we will proceed with closing out this Git Issue in a few business days. Thanks again for contacting Micr

[2019-04-30 18:05] MashaMSFT commented on #2006
Hi @brettshearer , thanks again for contacting Microsoft! Just to clarify, you're clicking this link: SQL Server:Availability Replica > Message Acknowledgement Time and it's not taking you to a page that discusses this counter. Nor are you able to find any documentation that does, or even how to enable it. Is that correct? Thanks!

[2019-04-30 18:08] JasonLoKiSmith commented on #1980
Hi guys,

Yes you can close this, thank you so much for your assistance!

Regards
Jason

On Tue, Apr 30, 2019 at 7:55 PM Masha at MSFT <notifications@github.com>
wrote:

[2019-04-30 22:53] brettshearer commented on #2006
Yes – this is correct.
The page exists, but there is no content to describe “Message Acknowledgement Time”

From: Masha at MSFT <notifications@github.com>
Sent: Wednesday, 1 May 2019 4:05 AM
To: MicrosoftDocs/sql-docs <sql-docs@noreply.github.com>
Cc: Brett Shearer <Brett.Shearer@wisetechglobal.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/sql-docs] Performance counter des

[2019-04-30 22:58] eliotg opened #2040 "Units???"
What are the units of the tolerance parameter?  Meters? Percentage? Light years? Inverse femptobarns?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fcd429a-d923-e11c-aba1-6209159b1352
* Version Independent ID: 33829564-2321-7057-a054-b2b289f93d85
* Content: [Reduce (geography Data Type ) - SQL Server](https://docs.mi

[2019-05-01 01:48] Matteo-T commented on #2026
Well, if you are positive that:
1) You uninstalled any previous version of SSMS 18.0 (RC, Preview, etc)
2) You deleted the whole "C:\Program Files (x86)\Microsoft SQL Server Management Studio 18\" folder
you can just go ahead and delete the entire registry key and reinstall.

I'll post the same thing on UserVoice to unblock users.

[2019-05-01 09:16] rothja commented on #1952
@raberana Thanks, again, for contacting us. I'm not sure I have enough information to work on this git issue. Can you provide a few more details? Thank you!

[2019-05-01 09:20] rothja commented on #1955
@mco100 I've reported this issue to the product team. At this time, I do not have any work around for you for moving the sql server agent logs. I am sorry for the experience, and I hope we can address this in the future. I am going to close the git issue, but feel free to respond at any time with more information or questions. Thank you!

[2019-05-01 09:20] #1955 closed

[2019-05-01 09:30] rothja commented on #1960
@vijaysuram Hello. I have done some research on this, and I'm not sure why you are getting this error. At this time, it is unclear whether this is a product bug or documentation problem. I would suggest reaching out to Microsoft support or the forums with this question to troubleshoot, as these doc feedback issues are only used for corrections rather than deeper investigation. I did find one stack

[2019-05-01 09:30] #1960 closed

[2019-05-01 09:32] rothja commented on #1973
@mprince-capax Thank you for this question. I apologize for the delay as I was out of the office last week. I will look into this further and get back to you. Thank you!

[2019-05-01 10:01] reader-man opened #2041 "Dark Theme in SSMS 16.0"
Hi,
 Thanks for the new powefull version of SSMS.
I would like to inform you, that the dark theme in SSMS 16.0 released version, is not available.
plus, this theme in SSMS 15.0 + 16 beta, was not applied to all windows and tools, e.g. Object Explorer + Results window.

Regards.

[2019-05-01 10:23] dkthedon commented on #2026
After deleting the mentioned registry key, I was able to install the SSMS successfully. But after installation, SSMS is not starting and logging the following error:
Activation context generation failed for "C:\Program Files (x86)\Microsoft SQL Server Management Studio 18\Common7\IDE\Ssms.exe". Dependent Assembly Automation,processorArchitecture="X86",type="win32",version="1.0.0.0" could not be fo

[2019-05-01 10:45] Matteo-T commented on #2026
@dkthedon: that's something I've never seen before - ugh! Any chance you can zip up the context of %APPDATA%\Microsoft\AppEnv\15.0 and share it with me? Likewise, %Temp%\SSMSSetup. You can e/mail me at matteot@microsoft.com. Thanks.

[2019-05-01 10:47] rothja commented on #1983
@mahidharguggilam Hello. As Masha said, this is probably best handled by support (from Microsoft or through forums). However, I would recommend that you look at this article: https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-active-directory-auth-overview?view=sql-server-2017. In order to do a trusted connection, you have to have fully setup active directory on linux. If you have already

[2019-05-01 10:47] #1983 closed

[2019-05-01 10:51] rothja commented on #2024
@jstafford5380 @vin-yu Thanks for the question about persistent volumes with the sql server container. It is my understanding that you can mount any directory to a persistent volume and that the underlying work is done by Docker (i.e. SQL Server wouldn't need to be aware). Let me know if that is not your understanding or whether you ran into any issues mounting volumes in the past because of inter

[2019-05-01 10:56] rothja commented on #1893
@mco100 I apologize for the delay. I'm still investigating this and will have an update as soon as possible. Thank you!

[2019-05-01 11:18] BenBitDesign commented on #1966
Thank you for the update!

Ben

On Tue, Apr 30, 2019, 20:50 Masha at MSFT <notifications@github.com> wrote:

[2019-05-01 11:44] dkthedon commented on #2026
@Matteo-T It seems that installation didn't happen correctly. I uninstalled the SSMS and then again installed it be deleting registry key. SSMS is working now after installation.

Thanks a lot for your support.

[2019-05-01 11:45] Matteo-T commented on #2026
Glad to hear SSMS is finally working! :)

[2019-05-01 15:55] jzabroski opened #2042 "[Question] Should code examples be self-contained?"
@MightyPen Wondering if there is any style guideline with regards to code examples in sql-docs?

For example, https://github.com/MicrosoftDocs/sql-docs/blob/live/docs/relational-databases/system-dynamic-management-views/sys-dm-sql-referenced-entities-transact-sql.md has an Example E that extends Example D.  Example E requires clicking the copy button for Example D, pasting it into SSMS, then click

[2019-05-01 18:02] MightyPen commented on #2042
@jzabroski Hi John, There is a perpetual debate about making small-to-medium size T-SQL examples dependent on AdventureWorks db (or dependent on WideWorldImporters db, etc). Certainly the majority of our SQL examples to Not rely on A.W. db, and that is very unlikely to change. As you implied, the use of A.W. db for routine SQL examples would present a barrier to quick testing by customers.

In the

[2019-05-01 18:02] #2042 closed

[2019-05-01 19:28] rothja commented on #1973
@mprince-capax I checked with the product team, and currently we do not support Azure Data Lake Gen2 with PolyBase. It is possible in SQL Server 2019 big data clusters to use HDFS tiering for this type of connection though. However, we probably need to put a statement in the article to this affect. I'm going to leave this open until I add this to the article. Thank you for the question and sorry t

[2019-05-01 22:36] MightyPen commented on #2042
https://github.com/MicrosoftDocs/sql-docs-pr/pull/10100

[2019-05-01 22:41] jzabroski commented on #2042
@MightyPen Thanks for fixing this and all the additional context.  [You're my docu-hero](https://teesgreat.site/-all-hail-the-technical-writer---unisex-t-shirt/).

My personal favorite is actually SqlBolt.  If you go to, https://sqlbolt.com/lesson/select_queries_introduction , at the bottom of the page there is a live example.  If you add a "WHERE Year = 1995", the data grid instantly refreshes.

[2019-05-01 23:26] MikeRayMSFT commented on #2041
@reader-man thank for this issue. Will forward this issue to the appropriate development resource.

[2019-05-01 23:26] #2041 closed

[2019-05-01 23:31] MikeRayMSFT commented on #2040
@eliotg thanks for the question - I'm going to get an answer - but it's probably not  Inverse femptobarns:)

[2019-05-01 23:35] MikeRayMSFT commented on #2040
Emailed spatial group

[2019-05-02 06:03] eliotg opened #2044 "STContains vs. STWithin vs. STIntersects?"
It would be nice if the documentation explicitly addressed why there are multiple ostensibly similar functions.  Since STIntersects' existence presumably rules out partial vs. strict subset, I can't think of any other English-based meaning difference between STWithin and STContains.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-05-02 08:08] pmalecka opened #2045 "SSDT for VS 2017: 15.9.1 Release Notes missing"
https://docs.microsoft.com/en-us/sql/ssdt/release-notes-ssdt?view=sql-server-2017

There's no Release Notes Published for the new version: 15.9.1

[2019-05-02 09:10] markgmarkg opened #2046 "Variables IN OPENQUERY"
Why OPENQUERY does not accept variables for its arguments?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f32624-aca6-d742-899b-c5b0a0c8cec7
* Version Independent ID: 6ce3fbec-8a04-289e-412f-23c4b4b4bcf2
* Content: [OPENQUERY (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/functions/openquery-

[2019-05-02 12:40] mxmage opened #2047 "error on web page"
the line reads:
NOTE: When a login connects to SQL Server the identify is validated

should be:
NOTE: When a login connects to SQL Server the **identity** is validated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e102e98e-7c04-4898-f351-f78ae895772e
* Version Independent ID: 8a1d99f2-9209-3e34-843c-a17b5a60aa75
* Con

[2019-05-02 15:08] rothja commented on #1893
@mco100 Thanks for your patience. Also, based on your help, we think we have identified a problem with using the environment variable to change the collation. We're still testing, so the documentation won't be updated immediately. Unfortunately, this means that the only way to change the collation is through mssql-conf set-collation. I apologize for this answer, as that is not what you were lookin

[2019-05-02 15:08] #1893 closed

[2019-05-02 16:08] MashaMSFT commented on #2046
Hi @markgmarkg , thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

Thanks again

[2019-05-02 17:29] MashaMSFT commented on #2046
Hi @markgmarkg , thanks again for submitting your question to Microsoft. The following blog explains why  OPENQUERY does not accept variables: https://blogs.msdn.microsoft.com/sqlsakthi/2011/05/08/best-performer-distributed-query-four-part-or-openquery-when-executing-linked-server-queries-in-sql-server/

OPENQUERY executes the specified pass-through query on the specified linked server. SQL Server

[2019-05-02 17:30] #1966 closed

[2019-05-02 21:21] jhirschdrg opened #2048 "ignoring fk constraint"
when have a FK on a column the bulk insert is ignoring it, looks to me like a bug in the bulk insert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc5106a6-4e54-2177-3e03-b2845f9587c5
* Version Independent ID: c3bc5aaa-0119-9c4d-3d7b-0ee218885361
* Content: [BULK INSERT (Transact-SQL) - SQL Server](https://docs.micros

[2019-05-02 22:20] Haiming247 opened #2049 "if partition_by_clause not specified"
If partition_by_clause not specified, the function treats all rows of the query result set as a single group. order_by_clause determines the logical order in which the operation is performed.

In the last example, STDEV(SalesAmountQuota) OVER (ORDER BY CalendarYear, CalendarQuarter) AS StdDeviation, no partition_by_clause is specified. All rows should be set as a single group. I'm wondering why th

[2019-05-03 00:13] MashaMSFT commented on #2049
Hi @Haiming247, thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

Thanks again f

[2019-05-03 13:47] legistek opened #2052 "Signing an Assembly = Signing with Strong Name Key"
It's not clear from the documentation what kind of assembly signing is required. Through trial and error I determined that the assembly needs to be signed with a strong name key. Signing with SIGNTOOL using a code-signing certificate doesn't seem to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bc10b70-11b5-a89

[2019-05-03 16:52] MikeRayMSFT commented on #2034
@luisgmsft - thank you for submitting this. I've asked @rothja to follow up.

[2019-05-03 16:55] MikeRayMSFT commented on #2036
@fkconnors - thank you for the question, I'll get back to you.

[2019-05-03 16:59] MikeRayMSFT commented on #2036
@julieMSFT would please investigate?

[2019-05-03 17:08] MikeRayMSFT commented on #2037
@jamesstead  - thank you for submitting. We'll take a look.

[2019-05-03 22:17] MikeRayMSFT commented on #2044
Thank you @eliotg - again - I'll find the answer.

[2019-05-03 22:27] MikeRayMSFT commented on #2047
Thank you @mxmage for pointing this out. We're going to fix it.

In the future you can contribute to our documentation by submitting the fix directly from the web page. Just click **Edit**. You'll need a GitHub account. Thanks again!

[2019-05-03 22:32] MikeRayMSFT commented on #2048
Thank you @jhirschdrg for the question.
By default `BULK INSERT` ignores check constraints and FK constrainsts.

See [Check constraints ](http://docs.microsoft.com/sql/t-sql/statements/bulk-insert-transact-sql?view=sql-server-2017#arguments).

[2019-05-03 22:32] #2048 closed

[2019-05-03 22:36] MikeRayMSFT commented on #2052
@legistek - thank you for noting this. We'll take a look and get back to you.

[2019-05-03 23:12] MightyPen commented on #2052
@MikeRayMSFT Yes Mike, I will take and fix this Issue 2052.

(https://docs.microsoft.com/en-us/dotnet/framework/app-domains/how-to-sign-an-assembly-with-a-strong-name)

[2019-05-04 10:58] robinwilson16 opened #2057 "Docs for SSDT 2019 Say To Install from VS Marketplace But Data Import Tools Are Missing"
In VS 2017 the docs correctly state that you need to install SSDT in order to get the SQL Server Data Import and Export Wizard:

[Import and Export Data with the SQL Server Import and Export Wizard](https://docs.microsoft.com/en-us/sql/integration-services/import-export-data/import-and-export-data-with-the-sql-server-import-and-export-wizard?view=sql-server-2017)

This is downloaded as a single pa

[2019-05-05 07:09] rlundy opened #2058 "Use double-quotes from the Windows command prompt"
I think a lot of people are discovering this page when trying to run SQL Server in a Linux container on Windows.  But the above directions don't work, because the -e commands need to be in double quotes on Windows.  (https://github.com/Microsoft/mssql-docker/issues/199)  Could a note be added to the bash/PowerShell section indicating what the corresponding command would be in the Windows command p

[2019-05-06 04:34] nielsberglund opened #2059 "AbstractSqlServerExtensionExecutor source code not correct"
The subheading AbstractSqlServerExtensionExecutor source code does not show the source for AbstractSqlServerExtensionExecutor but for AbstractSqlServerExtensionDataset.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cf79a33-34cc-b538-0d43-0855204e48a9
* Version Independent ID: b7a9dee6-9e40-8361-1db8-2784fb17229f
* Co

[2019-05-06 08:55] EmileTenhagen opened #2060 "Using AD groups for authentication"
When using AD-groups for authentication do not forget to change these to "Universal" instead of "Global" or "Local".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5785871a-0daf-16d7-6678-4285bbd28b6e
* Version Independent ID: c5587dc0-b731-67e1-0d2a-3225a10dd310
* Content: [Active Directory authentication for SQL Serv

[2019-05-06 12:30] legistek commented on #2052
Thanks both. I want to update this because it's more subtle than I thought.

It looks like generally speaking assemblies signed with code signing certificates (SIGNTOOL) do qualify for being eligible for UNSAFE.

Where I was hitting a snag was trying to create the asymmetric key using the assembly.

In that case `MyAssembly.dll` apparently has to be signed with a strong name key - signing using a

[2019-05-06 14:07] rothja commented on #2060
@EmileTenhagen Thank you for your feedback on this article. Just to understand better, did you find that it did not work to have "global" or "local" groups for authentication with Linux? Is this a Linux-only issue in your understanding? Thank you for the additional information!

[2019-05-06 14:17] EmileTenhagen commented on #2060
@rothja The problem that I had was that Domain Local groups cannot be used within Linux SQL as soon as I changed the AD group to "Global" or "Universal" it worked within SQL.
I could not find this information anywhere untill Puzzle_Chen mentioned this on the Microsoft MSDN Forum.
Perhaps this could be mentioned within the documentation of SQL on Linux as this is the information I used to set it up

[2019-05-06 14:23] Ry-the-Stunner opened #2061 "Management Studio Will Not Open"
Ever since upgrading to Management Studio 18.0 GA, the product has difficulty opening.  I have no issues upon first installation and am able to use it fine.  However, if I restart my computer and then try to launch Management Studio from my taskbar shortcut, I get a brief (maybe 1 second) flash of Management Studio splash screen and then it closes and the product does not launch.  The first time t

[2019-05-06 14:33] rothja commented on #2060
@EmileTenhagen Thanks for the additional information. I'll also run this by some of our Linux product team members before updating the docs. Thanks for pointing this out.

[2019-05-06 15:47] rothja commented on #2058
@rlundy We could consider adding a CMD to the list at the top for clarity? Did you see the choices at the top when you first tried the article? This was an experiment to see if that slicer would be helpful. I would be interested in your feedback. Thank you! @MightyPen FYI.

[2019-05-06 16:17] rothja commented on #2034
@luisgmsft Hello. Sorry you were having a problem. I'd like to make sure the article is right and clear. Before you followed the steps in this article, had you previously installed SQL Server 2017 with the quickstart steps: https://docs.microsoft.com/en-us/sql/linux/quickstart-install-connect-ubuntu?view=sql-server-2017. I believe that the instructions of this article register the correct reposito

[2019-05-06 16:21] rothja commented on #2060
@EmileTenhagen We are investigating why Local does not work, but I will document this in the article for now. Thank you for bringing this to our attention!

[2019-05-06 16:37] luisgmsft commented on #2034
@rothja you're right about me skipping the prereqs piece on SQL 2017. I manually run this at a latter stage on my testing setup with this script, which took care of it (https://docs.microsoft.com/en-us/sql/linux/sample-unattended-install-ubuntu?view=sql-server-2017).

Thanks for writing back. I'm working on automating the setup of a 3 node Linux SQL 2017 AG AO Cluster (for Full HA) based on this o

[2019-05-06 16:37] #2034 closed

[2019-05-06 17:42] RachelAmbler opened #2062 "tde-architecture.gif doesn't render well when in dark theme on page"
My account settings here use the Dark theme. As a result, the `tde-architecture.gif` image that shows the *Encryption Hierarchy* fails to render well as the text inside is in black and thus is almost impossible to read when using the dark theme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20953c9f-c769-7849-420a-dac

[2019-05-06 18:03] MikeRayMSFT commented on #2040
The unit is same as for the other unit aware operations such as STDistance – the one inherited from Srid.

Default Srid – 4326 -> meters

[2019-05-06 18:03] #2040 closed

[2019-05-06 22:58] mburbea opened #2063 "datetimeoffset is listed as an unsupported storage type for sql_variant"
The documentation list that datetimeoffset is unsupported, however this
`select sql_variant_property(sysdatetimeoffset(),'BaseType')`
runs successfully and returns datetimeoffset.

Tried with sql server 2016 (but I believe it worked on earlier revisions).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f737f42-fee4-dd5

[2019-05-06 23:28] mburbea opened #2065 "The json data type value of 2 is incorrectly stated to be an int, it should be float."
The json data type table says that 2 is an `int`. However, it should really be a float as json only has a single IEEE754 double precision floating point type defined.
`select type from openjson('[2.5,1]')`, both rows return 2.

---

`SELECT type from OpenJson('[2.5,1]');`

Two rows are returned. Both rows return type ID= '2', per the "Type" column in the documentation article.
Yet there is no way

[2019-05-06 23:34] mburbea opened #2066 "Is the [key] column only available in implicit schema mode?"
The documentation makes it a point to mention that the type column is only returned when you call `openjson` in implicit mode (e.g. without a schema). However, it appears that the [key] column is also only available when you call `openjson` without a schema.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e25eda30-d6e4-

[2019-05-06 23:39] foral66 opened #2067 "Is usage of the SSIS "Table lock" checkbox desirable or not? when creating a new "OLE DB destination" component in SSIS."
I am simply wondering: Is usage of the SSIS "Table lock" checkbox desirable or not?
This checkbox is checked .. by default .. when creating a new "OLE DB destination" component in SSIS.
We have several SSIS processes running.
At certain times of the day, trying to just refresh the list of tables in SSMS for a database gives me message "Lock request time out period exceeded. (Microsoft SQL Server,

[2019-05-07 01:15] foral66 opened #2068 "Schema owner"
I wondered whether to choose dbo or a personal type of account as the schema owner. I guess implications either way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48192dee-d644-b718-3b2f-aa04ca931d62
* Version Independent ID: e1605aee-622c-2d4d-b5c8-5e9d937558c6
* Content: [Create a Database Schema - SQL Server](https

[2019-05-07 09:13] rlundy commented on #2058
Hi, @rothja!  I saw the choices at the top, but I ignored them because neither one was relevant to me.  When I got to [Pull and run the container image, step 2](https://docs.microsoft.com/en-us/sql/linux/quickstart-install-connect-docker?view=sql-server-2017&pivots=cs1-powershell#pullandrun2017), the bash syntax was still there by default so I used it, and the EULA stuff didn't work.  I ended up s

[2019-05-07 09:25] Houuse commented on #1986
Hi @shudson302 to retrive an array you should use JSON_QUERY method as stated in the docs above

[2019-05-07 12:38] DylanCottell commented on #2026
I'm having a similar issue with installing. Initially when trying to install it got to "Installing SQL Server Management Studio 18" when the installer locked up my computer - couldn't lock my computer, open task manager, open any windows, or even shut down. Had to manually power down.

Afterwards I tried uninstalling when I got the error message "SSMS can only be upgraded by installing the package

[2019-05-07 12:54] dkthedon commented on #2026
@DylanCottell Please check the registry value at the following path
HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\Microsoft SQL Server Management Studio\18\SSMSInstallRoot.

If it doesn't exist, please create it manually with type REG_SZ and value "C:\Program Files (x86)\Microsoft SQL Server Management Studio 18\".

After this, try to run the installer again to uninstall the application. It sh

[2019-05-07 13:45] DylanCottell commented on #2026
Got it to install, although it required me to do another hard shut down. Thanks!

[2019-05-07 14:26] nunocenteno commented on #1231
It seems that this problem is happening again. I see the function as being supported in ADW which is not true (at least my ADW says so).

[2019-05-07 14:59] dkthedon commented on #2026
@DylanCottell, I am Glad to hear that.

[2019-05-07 17:54] cristian-ceniss opened #2077 "como documentar base de datos sql server de forma facil"
ayuda quien sabe como documento una base de datos sql server de forma facil

(_The above Spanish translates into English as:_ "help who knows how to document a sql server database in an easy way")

[2019-05-07 19:26] LuisGonzalezLT opened #2079 "sp_rename is not supported in Azure Data Warehouse"
nuf said

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e01ce5d-922b-f4ed-d24a-af0123ef26b5
* Version Independent ID: 22de7f7e-fef0-410f-618b-d76915bff1c0
* Content: [Rename Statistics - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/statistics/rename-statistics?view=sql-server-2017#feedback)
*

[2019-05-07 21:58] MashaMSFT commented on #2067
Hi @foral66 , thanks for contacting Microsoft! Let me see if I'm understanding your issue correctly -

1. You have a number of SSIS processes running, and you have the Allow Table Lock option enabled (since it's enabled by default).
2. During the day, you are using Object Explorer in SQL Server Management Studio, expanding Databases > Tables, and when you do so,  you're seeing the error "Lock requ

[2019-05-07 22:05] #1995 closed

[2019-05-07 22:05] #2046 closed

[2019-05-07 22:07] MashaMSFT commented on #2016
Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!

[2019-05-08 02:20] bdcoder2 opened #2082 "Setting a DEFAULT value for a DATE column in SMSS - How ???"
Using SQL Server 2016 - In SQL Management Studio, when selecting Table -> Design and then trying to enter a value as the default for a DATE column:

Tried various literals, functions, etc to no avail -- How do you set a default value for a DATE column?    (NOT a DATETIME column)-- all of the below fail:

GETDATE()
CAST( GETDATE() AS DATE)
'2019-05-16'
CAST( '2019-05-16' AS DATE)
DATEFROMPARTS( 201

[2019-05-08 06:16] gregorylyons opened #2083 "Mistake in example code"
Assuming its a typo from the previous section which displays

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6be5dfc7-5496-f8ec-072f-81132fe92054
* Version Independent ID: 634e3c60-d717-92ba-dd93-e3773edf2816
* Content: [CREATE TABLE (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/statements/crea

[2019-05-08 10:58] YanumVlad opened #2086 "Missing letters"
Always On availability groups relies on the Windows Server Failover Cluste(WSFC)

Cluster (WSFC)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6df874b-bf51-b8de-9b24-d9301469dfaf
* Version Independent ID: f013e112-bef0-a20b-add8-5ed39bb254ef
* Content: [Combine a failover cluster instance with availability groups - S

[2019-05-08 15:17] GitHubber17 commented on #2083
@gregorylyons - This request has 0 commits. Would you update the request to contain suggested changes? Otherwise, the request will be closed. Thank you

[2019-05-08 15:48] mburbea commented on #2082
How's about::
drop table if exists #t
create table #t
(

    date date constraint df_name default datefromparts(2019,05,16)
)

[2019-05-08 15:52] eiva opened #2088 "Information on how to get portable version"
Portable version "copy and run" is really nice for tests and development.
Especially in companies where developers unable to use containers...
Right now it is not "trivial" how to get a portable version for one of support os

[2019-05-08 16:02] bdcoder2 commented on #2082
Sorry - original post should have mentioned these do NOT work in SQL Management Studio when selecting  Table -> Design -- Try entering the DATEFROMPARTS( 2019, 05, 16 ) as the default value for a column and SMSS will display an error (I am using SQL Server 2016).

[2019-05-08 16:11] mburbea commented on #2082
Seems to work for me?
![image](https://user-images.githubusercontent.com/213233/57390460-6545a780-718a-11e9-94ed-b4a1cd99fe4d.png)

[2019-05-08 16:18] MashaMSFT commented on #2086
Hi @YanumVlad , thanks for contacting Microsoft! It may be faster for you to edit the content yourself via a Pull Request (PR). To do so, please do the following:

1. Navigate to the page of interest
2. Select the "Edit" button at the top right of the page
3. Select the "Pencil" icon on the right
4. Modify the text within the text box in markdown format - more info: https://github.com/adam-p/markd

[2019-05-08 16:55] julieMSFT commented on #2036
@fconnors, thanks for bringing this to our attention! I am researching the answer. Thanks!

[2019-05-08 16:59] mtcoope commented on #2037
@jamesstead Took me a bit to figure this out but here are the variables you can use.
https://docs.microsoft.com/en-us/sql/azure-data-studio/extensibility?view=sql-server-2017#dashboard

So in your case this should work.
[code]

[2019-05-08 18:26] bdcoder2 commented on #2082
Not this format: DATEFROMPARTS( 2019, 5, 16 ) -- why and where is it described you need () around each value??

[2019-05-08 18:28] mburbea commented on #2082
I entered it as datefromparts(2019,9,1), ssms put parens around everything.

On Wed, May 8, 2019, 2:26 PM bdcoder2 <notifications@github.com> wrote:

[2019-05-08 18:32] bdcoder2 commented on #2082
Weird -- mine does not (put parens around the values) -- again, may a version difference?  The other difference (maybe) I was UPDATING a previously created table, not creating a new one.  Will have to experiment further.  Thanks for the updates though !! ;)

[2019-05-08 18:43] thebruuu opened #2089 "Not working on MsSQL"
Hi,
I applied the instructions to my MsSql 2017 instance (standard edition), language 1033, and the result of sys.dm_fts_parser is unchanged... I expected to have just one Exact Match ... I get 5 Exact Match and 2 Noise Word

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9acba3d2-7e2d-4f02-9e6a-fc5cad0abcb7
* Version I

[2019-05-08 18:43] mburbea opened #2090 "Clarify that the table value constructor limit only applies to a direct insert statement"
The TVC limit of 1000 rows only applies to a direct insert statement. Wrapping the statement in  a select removes said limit. The documentation makes it sound like the limit is everywhere. I've seen even experts cite this as a potential error vector.
[code]
Yields an error on the first statement followed by 1001 rows affected.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-05-08 21:43] gregorylyons commented on #2083
Opened this via the website feedback functionality, and then decided to just PR a fix myself, so this can be closed =)

[2019-05-08 21:43] #2083 closed

[2019-05-08 22:10] bdcoder2 commented on #2082
OK - our system must have had a bug or something, because a quick re-boot and now I am able to set DATE defaults using the examples given -- my apologies for the rant -- however, I think examples for defaults within the docs would still be a good idea.

Thanks again to all who replied - very much appreciated.

[2019-05-08 22:10] #2082 closed

[2019-05-08 22:55] ByronBarton opened #2091 "Typo for Example B"
Should be:
SELECT SalesOrderID, OrderDate,
    OrderDate AT TIME ZONE 'Pacific Standard Time' AS OrderDate_TimeZonePST,
    OrderDate AT TIME ZONE 'Central European Standard Time' AS OrderDate_TimeZoneCET
FROM Sales.SalesOrderHeader;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc8b3b24-5a50-6b88-277a-e8ce528b49b2
*

[2019-05-08 22:58] robinwilson16 commented on #2057
Closing this as since the latest update the option now appears on the right-click menu of a database in SSMS.
After further analysis the SQL Server 2017 folder appears as a result of installing SSMS 17 and not SSDT. SSMS 18 does not create this folder and until the last update, the option to import data was not appearing for me.

[2019-05-08 22:58] #2057 closed

[2019-05-08 23:05] stevestein commented on #2059
@nielsberglund - thanks for the feedback! I've assigned this to the author @NelGson.  Thanks!

[2019-05-08 23:15] #1841 closed

[2019-05-08 23:18] #1953 closed

[2019-05-08 23:18] MikeRayMSFT commented on #1953
Fixed

[2019-05-08 23:18] VanMSFT commented on #2090
@mburbea - Thanks Michael! Let me verify this and make the changes if needed.

[2019-05-08 23:19] MikeRayMSFT commented on #1971
@pmasl - can you answer the question?

[2019-05-08 23:21] #2026 closed

[2019-05-08 23:24] stevestein commented on #2061
@Ry-the-Stunner - Thanks for the feedback! I've added a couple team members who might have some insight but this area is primarily for doc issues. To report product issues, the best way to reach out to the SSMS Team is at [UserVoice](https://aka.ms/sqlfeedback).

Thanks!

[2019-05-08 23:24] MikeRayMSFT commented on #2027
Fixed by @tejasaks MicrosoftDocs/sql-docs#2050

Thank you @smolens for raising the issue

[2019-05-08 23:24] #2027 closed

[2019-05-08 23:26] MikeRayMSFT commented on #2029
@bluefooted - would you mind looking into this issue. I can help update the docs.

[2019-05-08 23:28] stevestein commented on #2062
@RachelAmbler - Thanks for the feedback! I've assigned this to the author @aliceku

Thanks!

[2019-05-08 23:33] MikeRayMSFT commented on #2044
Still monitoring.

[2019-05-08 23:33] stevestein commented on #2063
@mburbea - thanks for the feedback! I've assigned this to the author @MikeRayMSFT .
Thanks!

[2019-05-08 23:34] stevestein commented on #2065
@mburbea - thanks for the feedback! I've assigned this to the author @jovanpop-msft
Thanks!

[2019-05-08 23:34] MikeRayMSFT commented on #2047
Fixed. Thanks again @mxmage

[2019-05-08 23:34] #2047 closed

[2019-05-08 23:34] chojrak11 opened #2092 "Some set_options are invalid for 2017"
It seems you have renamed some options in SQL Server 2019, e.g. DISABLE_INTERLEAVED_EXECUTION_TVF has become INTERLEAVED_EXECUTION_TVF. I'm viewing this page for SQL Server 2017 and I already see the set options for 2019. Trying to follow this page to change database scoped configurations gives me syntax errors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-05-08 23:57] stevestein commented on #2066
@mburbea - thanks for the feedback! I've assigned this to the author @jovanpop-msft

Thanks!

[2019-05-09 00:04] stevestein commented on #2068
@foral66  - thanks for the feedback! I've added a team member who might have some insight, but this area is primarily for doc issues. The best way to reach out to the team for product feedback or issues is at [UserVoice](https://aka.ms/sqlfeedback).

Thanks!

[2019-05-09 00:13] stevestein commented on #2079
@LuisGonzalezLT - thanks for the feedback! I've assigned this to the author @julieMSFT

Thanks!

[2019-05-09 00:18] stevestein commented on #2088
@eiva - thanks for the feedback!  This area is primarily for doc issues so I'm going to close this one.

The best way to reach out to the team with issues, feedback, or suggestions is at [UserVoice](https://aka.ms/sqlfeedback).

Thanks!

[2019-05-09 00:18] #2088 closed

[2019-05-09 00:20] stevestein commented on #2089
@thebruuu - thanks for the feedback! I've assigned this to the author @pmasl

Thanks!

[2019-05-09 00:21] stevestein commented on #2092
@chojrak11  - thanks for the feedback! I've assigned this to the author @CarlRabeler

Thanks!

[2019-05-09 00:22] stevestein commented on #2091
@ByronBarton - thanks for the feedback! I've assigned this to the author @VanMSFT

Thanks!

[2019-05-09 00:54] sqlchicken opened #2093 "Specify SSMS version required"
Please specify what version of SSMS this feature is supported in. Also it would be helpful to add a piece talking about where this metadata is stored. I assume it's stored in master database when you run it against the instance, since you use sys. procedure to query the data but would be nice to have it explicitly documented. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-05-09 01:32] NelGson commented on #2059
I have already submitted a PR for this. Not sure what the status of that is. Hoppfully merged since I submitted it Sunday evening.

________________________________
From: Steve Stein <notifications@github.com>
Sent: Wednesday, May 8, 2019 4:05:26 PM
To: MicrosoftDocs/sql-docs
Cc: Nellie Gustafsson; Mention
Subject: Re: [MicrosoftDocs/sql-docs] AbstractSqlServerExtensionExecutor source code not cor

[2019-05-09 04:46] craigg-msft commented on #2077
@nokura can you help us get started?

[2019-05-09 04:48] craigg-msft commented on #1896
@stevestein please review.

[2019-05-09 05:29] devrakeshkumar opened #2094 "Database Diagram Missing In ssms V18.0"
Any alternate solution to generate db diagram in ssms V18.0 as I see database diagram option is missing in this version .

[2019-05-09 14:06] stevestein commented on #2093
@sqlchicken  - thanks for the feedback! If you search through the SSMS release notes you can see when support was added.

I've assigned this to the author @giladmit for clarification.

Thanks!

[2019-05-09 14:16] stevestein commented on #2094
@devrakeshkumar - thanks for the feedback!

Adding @Matteo-T and @dnethi who might have some suggestions, but this area is primarily for specific doc issues so I'm going to close this one. The best way to reach out to the team with issues, feedback, or suggestions is at [UserVoice](https://aka.ms/sqlfeedback).

Thanks!

[2019-05-09 14:16] #2094 closed

[2019-05-09 15:19] rothja commented on #2058
@rlundy Thanks for the extra info. I'm looking into what might be the best option here to avoid confusion.

[2019-05-09 15:43] Phritzy opened #2104 "Images with Dark Mode aren't readable"
Can't read the images when using dark mode. The images are using a transparent background instead of white.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33e49268-9863-3be2-218c-c472fe6f3711
* Version Independent ID: b104aa79-5b21-cd77-f24e-71a9fd93cf36
* Content: [A Guide to Query Processing for Memory-Optimized Tabl

[2019-05-09 16:43] MikeRayMSFT commented on #2044
Here's the answer that I got back:)

[2019-05-09 16:43] #2044 closed

[2019-05-09 17:03] julieMSFT commented on #2079
@LuisGonzalezLT, thanks for bringing this to our attention! I have updated the document. You should see the change today. I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-05-09 17:03] julieMSFT commented on #2079
#10154

[2019-05-09 17:04] #2079 closed

[2019-05-09 17:12] NelGson commented on #2059
My changes are already merged. Issue resolved.

[2019-05-09 17:21] perennialmind opened #2105 "Lock conflicts table image is degraded"
The lock conflicts table image on this page appears to have been sized down from the image used on previous pages for SQL Server 2008, 2012, and 2014. The new, smaller image (512x408) is less legible than the previous image (646x524).

SQL Server 2017 locking page, "Lock Compatibility" section and image URLs
[code]
SQL Server 2014 locking page, "Lock Compatibility" section and image URLs
[code]
SQ

[2019-05-09 17:36] jstockley opened #2106 "That's great.. BUT......"
It doesn't make importing flat files into Existing tables any easier. Only works for new tables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d89ecc7f-4705-dabe-9f70-2070d4aa19c9
* Version Independent ID: 9c991bd5-535c-03b5-d810-c1b2ca7e7cb4
* Content: [Import Flat File to SQL - SQL Server](https://docs.microsoft.com

[2019-05-09 18:26] m1nkeh commented on #1231
annoying, do people still use ADW that much though? :)

[2019-05-09 19:14] stevestein commented on #1896
@greglow - Thanks for raising this issue. I'll hoping to have some info in the next few days as to what the details are for getting ssbdiagnose. I'll reply again shortly as well as update the [ssbdiagnose article](https://docs.microsoft.com/en-us/sql/tools/ssbdiagnose/ssbdiagnose-utility-service-broker?view=sqlallproducts-allversions).

Thanks again, and appreciate your patience.

[2019-05-09 19:36] stevestein commented on #1812
@jclark0909 - This area is primarily for specific documentation issues, and I haven't been able to get an official statement on this so I suggest either posting as an [Azure Data Studio issue](https://github.com/microsoft/azuredatastudio/issues), or posting on the [UserVoice ](https://feedback.azure.com/forums/908035-sql-server) site.

-Thanks

[2019-05-09 19:36] #1812 closed

[2019-05-09 19:42] stevestein commented on #1926
@gwalters69 - Thanks for raising this, the same issue is being tracked in [issue 1896](https://github.com/MicrosoftDocs/sql-docs/issues/1896) so I'm going to close this one.

We're working on getting the information to get the current version of ssbdiagnose and will update the article when the details are available.

Thanks

[2019-05-09 19:42] #1926 closed

[2019-05-09 19:52] aliceku commented on #2062
@VanMSFT do you have any idea what can be done here? This graphic is at least 5 years old and I don't know who created it...

[2019-05-09 20:57] srutzky commented on #2090
@VanMSFT Don't worry about this issue. I am in the process of updating that page. I just published the following with my test cases:

[Maximum Number of Rows for the Table Value Constructor](https://sqlquantumleap.com/2019/05/09/maximum-number-of-rows-for-the-table-value-constructor/)

@mburbea Thanks again for pointing this out.

[2019-05-09 21:03] stevestein commented on #1945
@KennieNP - Thanks for raising this issue. It'll be fixed soon in the documentation.

We have created a new internal tracking number for this work item: _1528619_. We are closing this Issue, and letting the new item track this going forward. You will receive another notice after the internal item is completed.

Thanks again for submitting this issue!

[2019-05-09 21:03] #1945 closed

[2019-05-09 21:10] Bartolomeus-649 opened #2107 "Azure SQL and DTC?"
Please confirm that **Azure SQL** Database supports Microsoft Distributed Transaction Coordinator (MS **DTC**).

**In this article** it also say Azure SQL supports DTC: [Supporting Distributed Transactions](https://docs.microsoft.com/en-us/sql/relational-databases/native-client-ole-db-transactions/supporting-distributed-transactions?view=sql-server-2017)

But here it say that Azure SQL does NOT su

[2019-05-09 21:50] srutzky commented on #1947
@CeciAc and @uniqalex  (and others): regarding

`statement_start_offset` and `statement_end_offset` are the 0-based array index values for the starting and ending characters, respectively. Characters are stored as UTF-16, which is 2 bytes per code unit, so you _should_ only ever see even numbers (hence the need to `+1` for use in `SUBSTRING()` since T-SQL uses 1-based positions) as those are the f

[2019-05-09 22:10] stevestein commented on #1959
@rbtlong-pitzer - Thanks for reporting this. Missing quote has been added in [PR 2108](https://github.com/MicrosoftDocs/sql-docs/pull/2108).

Thanks!

[2019-05-09 22:10] #1959 closed

[2019-05-09 22:18] MightyPen commented on #2107
@sarvesh-s Hi Sarvesh,  Please, can you tell us about how DTC is or is not supported on Azure SQL Database, DW, versus SQL Server on-premises?

CC: @MightyPen

[2019-05-09 22:23] stevestein commented on #1947
@srutzky - Thanks for providing an explanation. The example has been here for quite some time, and while I did verify that example D does still run successfully, I can't speak as to why the original approach was taken.

Thanks!

[2019-05-09 22:23] #1947 closed

[2019-05-09 22:25] stevestein commented on #1989
@dalekerr - thanks for raising this issue!

The article has been updated: [Download SSMS](https://docs.microsoft.com/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-2017#supported-operating-systems-ssms-180-ga)

[2019-05-09 22:25] #1989 closed

[2019-05-09 22:27] stevestein commented on #1991
@dalekerr - Thanks for raising this issue. The download page should now align with the release notes regarding Windows 8.1

Thanks!

[2019-05-09 22:27] #1991 closed

[2019-05-09 23:10] julieMSFT commented on #2036
@fkconnors, thank you for your question. The date ranges can be found [here](https://docs.microsoft.com/en-us/sql/t-sql/functions/date-and-time-data-types-and-functions-transact-sql). I am updating the original document with this link. I am also updating the linked document to show it supports Azure SQL DW. The changes will be visible soon. I will proceed with closing out this Git Issue, but pleas

[2019-05-09 23:11] julieMSFT commented on #2036
#10163

[2019-05-09 23:15] #2036 closed

[2019-05-09 23:19] VanMSFT commented on #2062
@RachelAmbler - Thanks for letting us know, Rachel! We really appreciate it. I'll go ahead and fix this. If you have any questions, please feel free to let us know.

@aliceku - It's how the image is rendering when using gif. I'm switching the images to png. Thanks!

https://github.com/MicrosoftDocs/sql-docs-pr/pull/10164

[2019-05-09 23:36] julieMSFT commented on #1923
Hi @MartinLBuchanan, thank you again for your input to our documentation. The vast majority of T-SQL commands are supported in transactions. The few that are not supported are documented in the individual T-SQL commands. We take the position that you should assume that it works within the scope of a transaction unless it is otherwise called out in the documentation. I will proceed with closing out

[2019-05-09 23:36] #1923 closed

[2019-05-09 23:38] srutzky commented on #2052
Hi @MightyPen . Please do not make any changes, or at least let me handle them.

@legistek : I am currently working on a post that will explain most of this, but I can add a little to explain all of it. The focus of the post/article is unsupported .NET Framework libraries, but the mechanisms are the same in all cases. Here are the basics:

1. A Strong Name Key is just a public/private key pair (i.

[2019-05-09 23:40] VanMSFT commented on #2104
@Phritzy - Thanks Mark! We appreciate you pointing this out. I'll go ahead and change the images.

@MightyPen - https://github.com/MicrosoftDocs/sql-docs-pr/pull/10164

[2019-05-09 23:52] VanMSFT commented on #2062
PR has been pushed through, and images are fixed. They will show on the live site tomorrow morning. Closing this Issue.

[2019-05-09 23:52] #2062 closed

[2019-05-09 23:54] VanMSFT commented on #2104
Changes are merge and will go live tomorrow. Go ahead and close when ready. Thanks!

[2019-05-09 23:55] MashaMSFT commented on #1986
Hi @shudson302 , please let us know if your question remains unanswered? Otherwise, we'll proceed with closing out this Git Issue in a few business days. Thanks again for contacting Microsoft!

[2019-05-09 23:55] #2016 closed

[2019-05-09 23:56] VanMSFT commented on #2090
Thanks @srutzky!

[2019-05-09 23:56] #2067 closed

[2019-05-10 00:10] VanMSFT commented on #2068
Hi @foral66! Thank you for your question. Unfortunately, we cannot help you decide schema owners as this is specific to any system. We appreciate you asking questions. As this forum is for documentation issues, please refer to the following links for help:

- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Setup and Upgrade -  MSDN Forum](htt

[2019-05-10 00:10] #2068 closed

[2019-05-10 00:27] MashaMSFT commented on #2006
Hi @brettshearer , you're right, this counter was not supposed to be added to the documentation and I've removed it :) Thanks for catching that! Please let us know if there is anything further we can assist you with? otherwise, we'll proceed with closing out this Git Issue in a few business days. Thanks!

[2019-05-10 00:54] brettshearer commented on #2006
No, all good. Shame the counter never existed...

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Masha at MSFT <notifications@github.com>
Sent: Friday, May 10, 2019 10:28 am
To: MicrosoftDocs/sql-docs
Cc: Brett Shearer; Mention
Subject: Re: [MicrosoftDocs/sql-docs] Performance counter described that does not seem to exist (#2006)

Hi @brettshearer<https://urldef

[2019-05-10 02:36] sarvesh-s commented on #2107
Azure SQL DB supports distributed transactions without using msdtc. Only .net surface area is supported using TransactionScope() from C# code. Native c++ odbc drivers or linked servers using t-sql or Jdbc drivers are not supported on Azure SQL DB service.

[2019-05-10 02:46] sarvesh-s commented on #2107
On premises SQL supports msdtc as-is.
DW does not support it.

[2019-05-10 03:14] Bartolomeus-649 commented on #2107
![image](https://user-images.githubusercontent.com/7513795/57500009-0004ca00-72e2-11e9-9c75-3206af406ada.png)
https://docs.microsoft.com/en-us/sql/relational-databases/native-client-ole-db-transactions/supporting-distributed-transactions?view=sql-server-2017

![image](https://user-images.githubusercontent.com/7513795/57500098-4d813700-72e2-11e9-8d72-f5ee98de3aae.png)
https://docs.microsoft.com/en-

[2019-05-10 04:50] IanKemp opened #2109 "sp_query_store_consistency_check doesn't exist in SQL 2016"
"Verify Query Store is collecting query data continuously" section suggests running the `sp_query_store_consistency_check` procedure if the query store gets corrupted, but this sproc does not exist in SQL 2016, only SQL 2017 and later.

See also: https://dba.stackexchange.com/questions/237521/trying-to-repair-query-store-but-sp-query-store-consistency-check-does-not-exis

---
#### Document Details

[2019-05-10 11:53] piratejon opened #2112 "textimage_on "0 is the default value""
I am not clear on "0 is the default value" in this paragraph from the "textimage_on" note:

Varchar(max), nvarchar(max), varbinary(max), xml and large UDT values are stored directly in the data row, up to a limit of 8,000 bytes and as long as the value can fit the record. If the value does not fit in the record, a pointer is sorted in-row and the rest is stored out of row in the LOB storage space.

[2019-05-10 12:12] brettshearer opened #2113 "sp_GetAppLock writes to the transaction log"
There is no logical reason I can think of that requires sp_GetAppLock to write to the transaction log. This causes multiple issues (and is not mentioned in the documentation).

1/ excessive logs if you use this function to gate access to other resources
2/ extreme slowdown on servers with Always On when locking on the primary database.

The following script executes all locks in about 3 seconds on

[2019-05-10 13:14] CotivitiSuresh opened #2114 "Format AM/PM"
It would be great, if you could include an example for specifying AM and PM for time data type

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f019407-5787-6f54-1027-084e817b6b8e
* Version Independent ID: a92541d0-b63a-9603-2a1f-18e210be89e4
* Content: [FORMAT (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-

[2019-05-10 13:24] fkconnors commented on #2036
Thank you, Julie.  For some reason, the first time I followed that link, it
showed that it applied to Azure SQL DW, but every time I have followed that
link since then, it shows it only applies to SQL Server, even after closing
and re-opening my browser.  I also see no link to page from the create
table page for which I posed my question (
https://docs.microsoft.com/en-us/sql/t-sql/statements/crea

[2019-05-10 16:23] srutzky commented on #2090
FYI: I have submitted PR #2115 with the changes requested here and a few other improvements.

[2019-05-10 16:56] MikeRayMSFT commented on #2063
@mburbea - thanks again for the feedback. I'm reviewing with engineering to verify.

[2019-05-10 17:08] stevestein commented on #2105
@perennialmind - Thanks for the feedback!

If you want to take a try at fixing the image, check out our info on [how to contribute to the SQL docs](https://docs.microsoft.com/sql/sql-server/sql-server-docs-contribute)!

I've assigned this to the author, @rothja.

Thanks!

[2019-05-10 17:46] MightyPen commented on #2052
@srutzky Thank you very much for your thoughtful and detailed response. I voted for your feature request.

[2019-05-10 19:37] MightyPen commented on #2104
@Phritzy Hi Mark,  The problem you are reporting on is a sudden problem that has arisen in numerous cases.  So we have a couple people who are figuring out what happened, and who should implement a broad fix.
Therefore, I am Closing this valid Issue 2104, as it has plenty of attention now.  :-)
Thank you.

[2019-05-10 19:37] #2104 closed

[2019-05-10 20:07] stevestein commented on #2105
@perennialmind, @rothja  -
The problem you are reporting on is a sudden problem that has arisen in numerous cases. We have a couple people who are figuring out what happened, and who should implement a broad fix.
Therefore, I am Closing this valid Issue 2105, as it has plenty of attention now. :-)
Thank you.

[2019-05-10 20:07] #2105 closed

[2019-05-10 20:11] julieMSFT commented on #2036
Hi Kevin, Sorry if my reply was confusing. The page you posted your question on now has a note and link to the article with all the data time values. It took a bit for the changes to get published but they are now visible. The date data type supports values _0001-01-01 through 9999-12-31_. You can find the range of values for the different date and time data types [here](https://docs.microsoft.com

[2019-05-10 21:03] alaajarrah commented on #1465
I got the following error when trying to connect to the sqlserver instance from external server:

 The login is from an untrusted domain and cannot be used with Integrated authentication.. Check if more detail is available for this error in the errorDetail field of the log.

Any advice please!

[2019-05-12 04:58] NileshGule opened #2117 "SQL Server 2019 Linux connection from Web API / Web app using service name deployed on Kubernetes"
I have been using SQL Server 2017 Linux image for quite some time. I am able to deploy this to AKS cluster with **Statefulset** and a **service name** exposed via a **Service** object. I can then connect to the SQL Server instance using the service name from web API or frontend application. The complete working example of this can be found in the repo
https://github.com/NileshGule/AKS-learning-ser

[2019-05-12 10:16] chojrak11 opened #2118 "TEMPORAL_HISTORY_RETENTION option is not documented"
ALTER DATABASE ... SET TEMPORAL_HISTORY_RETENTION ON|OFF;
Is it intentional?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d76ab6e-5a3d-94eb-26f9-b2805b35ea85
* Version Independent ID: 2ac43d27-c318-3e32-1e78-55229975eb4e
* Content: [ALTER DATABASE SET Options (Transact-SQL) - SQL Server](https://docs.microsoft.com/e

[2019-05-12 15:24] NileshGule opened #2119 "2019-CTP2.1-ubuntu tagged images not working with Kubernetes deployment"
I tried following the steps in the document to [deploy ](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-kubernetes-deploy?view=sql-server-ver15) **SQL Server 2019 CTP 2.1** image on AKS cluster. The operator and the SQL Server CRDs get deployed correctly. But the services are unable to communicate with one another. The tags used in the [sql-server-example ](https://github.com/microsof

[2019-05-12 17:32] mturzynskigoyello opened #2120 "Feature not available anymore"
That'd be nice to put some yellow background on the warning saying that the feature is not available anymore.. just lost half an hour to install management studio 18 just to find out it was rolled back

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94aa1791-17e9-40de-eb28-4410e26fe24d
* Version Independent ID: 4a9c6546

[2019-05-12 17:41] CarlRabeler commented on #2118
@chojrak11 please clarify your question

[2019-05-12 19:37] Brinsi opened #2121 "Deprecated"
I think the diagram is removed on your last version of SSMS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8bc803d-3aee-0e1f-ab64-31c5af48e9f9
* Version Independent ID: 472fcb4b-39c3-72a3-d2af-4eba68b72f04
* Content: [Create a New Database Diagram (Visual Database Tools) - SQL Server](https://docs.microsoft.com/en-us/

[2019-05-13 09:44] anon-acid opened #2122 "bcp language"
On what parameters does the language of bcp text depend on?

OS language of client machine?
OS language of SQL Server machine?
Language of SQL Server?
Language of Native client?
Language of MsSqlCmdUtils?

Tried several combinations, Unable to find the logic on this.

Example text :
10 rows copied.
10 lignes copi�es.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-05-13 11:38] liaqatg opened #2123 "Very helpful"
I was trying to backup all databases on my local SQL Server 2008 R2 server and was struggling to get the PS script working. The issue seemed to be the required libraries were not loaded. After a couple of unsuccessful searches, I found this article, ran the above script and then my backup script and voila!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-05-13 13:12] LarnuUK opened #2124 "Compatiblity 100 to 110 differences"
On [ALTER DATABASE (Transact-SQL) Compatibility Level](https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-database-transact-sql-compatibility-level?view=sql-server-2017), the difference between compatibility 100 and 110 is listed under the heading [Differences Between Lower Compatibility Levels and Levels 110 and 120](https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-database-tr

[2019-05-13 14:53] stevestein commented on #2109
- thanks for the feedback! I've assigned this to the author @julieMSFT
Thanks!

[2019-05-13 14:55] stevestein commented on #2112
@piratejon - thanks for the feedback! I've assigned this to the author @CarlRabeler

Thanks!

[2019-05-13 14:58] stevestein commented on #2114
@CotivitiSuresh  - thanks for the feedback! I've assigned this to the author @MashaMSFT

Thanks!

[2019-05-13 15:03] stevestein commented on #2113
@brettshearer - thanks for the feedback!  This area is primarily for doc issues so I'm closing this issue. The best way to reach out and report product issues and provide suggestions is at the [UserVoice ](https://feedback.azure.com/forums/908035-sql-server) site.

Thanks!

[2019-05-13 15:03] #2113 closed

[2019-05-13 15:18] stevestein commented on #2106
@jstockley - Thanks for the feedback! We'll add info to the top of the article clarifying it imports into new tables only. I created an internal item item to track: 1530084. I'm going to go ahead and close this issue.

Thanks!

[2019-05-13 15:18] #2106 closed

[2019-05-13 17:14] aldelar opened #2125 "Wrong TYPE for EXTERNAL DATA SOURCE"
CREATE EXTERNAL DATA SOURCE AzureStorage with (
        TYPE = HADOOP,
        LOCATION ='wasbs://&lt;blob_container_name&gt;@&lt;azure_storage_account_name&gt;.blob.core.windows.net',
        CREDENTIAL = AzureStorageCredential
);

==&gt; TYPE SHOULD BE 'BLOB_STORAGE'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 683

[2019-05-13 17:15] MashaMSFT commented on #2086
Thanks again for contacting Microsoft!  We've submitted a documentation change based on your suggestion, and it should be live at this point. Please let us know if there is anything more we can do for you? If not, we'll proceed with closing out this Git Issue in a few business days.

Thanks again and hope you have a wonderful rest of your day!

[2019-05-13 17:17] #2006 closed

[2019-05-13 17:18] #1986 closed

[2019-05-13 17:32] stevestein commented on #2037
@mtcoope - thanks for jumping in with a reply!
@jamesstead - Since this isn't an actual issue with the article I'm going to close this one. Thanks!

@markingmyname - FYI

[2019-05-13 17:32] #2037 closed

[2019-05-13 17:49] stevestein commented on #1967
@lpatalas - Thank you for bringing up this issue! We will evaluate adding gMSA documentation, and will track this in our ticketing system: User Story 1530185. Since we're now tracking this internally, I'll proceed with closing out this Issue. However, please feel free to contact us if you have any additional information. Thanks again!

[2019-05-13 17:49] #1967 closed

[2019-05-13 18:00] MashaMSFT commented on #2114
Hi @CotivitiSuresh ,

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. Depending on the complexity, the turnaround time for this may vary anywhere from a few business days to a few business weeks. We'll reply via comment should we need anything further in the meantime, and please feel free to do the same.

If you'r

[2019-05-13 18:02] jamesstead commented on #2037
Thanks so much this works great @mtcoope

[2019-05-13 18:04] stevestein commented on #1992
@dalekerr - Because older versions of SSMS are no longer supported, that info is not available. Check out the [SQL Server Management Studio (SSMS) Support Policy](https://docs.microsoft.com/sql/ssms/support-policy) page. The only supported version of SSMS is the current version (today that's 18.0):

- [Supported SQL offerings](https://docs.microsoft.com/sql/ssms/download-sql-server-management-stud

[2019-05-13 18:04] #1992 closed

[2019-05-13 19:19] stevestein commented on #2005
@brettshearer - Thank you for bringing up this issue! We opened an internal work item to update this article. To track this in our ticketing system we opened work item 1530308. Since we're now tracking this internally, I'll proceed with closing out this Issue. However, please feel free to contact us if you have any additional information. Thanks again!

[2019-05-13 19:19] #2005 closed

[2019-05-13 19:36] aliceku commented on #2120
Sorry about that, @mturzynskigoyello.  I added an "Important" box around the notice so it can be seen right away going forward.

[2019-05-13 19:42] sarafpradeep opened #2126 "index_name"
"index_name Is the name of the index. Index names must be unique within a table or view but do not have to be unique within a database. Index names must follow the rules of identifiers."

It would be nice to add - index_name is unique across schema. We cannot add same index name to two different tables under same schema.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-05-13 21:16] stevestein commented on #2008
@brettshearer - Thanks for the feedback. For articles like this that describe Views (returned data) we don't typically call out if the underlying data allows Null values when being updated. Because these are simply views returning information, the potential to return Null values exist in pretty much every column.

I'm going to go ahead and close this one.

Thanks!

[2019-05-13 21:16] #2008 closed

[2019-05-13 21:26] stevestein commented on #2007
@brettshearer - Thanks for the feedback!

The Request_Id is unique in the context of the session, so you need to filter on the request ids for a specific session:
![image](https://user-images.githubusercontent.com/9388190/57655118-b7236e80-758a-11e9-9a19-f996673169a8.png)

Hope that helps - I'm going to close this issue. For assistance in the future, you might try one of the links in the [Get Help

[2019-05-13 21:26] #2007 closed

[2019-05-13 21:45] joseplar opened #2129 "Cannot mix different value types when inserting multiple rows to a bit column."
[When inserting several values at once, all the values need to be of one single data type. If it's one INSERT per VALUE then the data type can be either varchar for adding 'TRUE' or 'True' or int for any number where anything except 0 will be converted to 1.

This will work:
[code]

But this won't:
`insert into boolTable
values
('TRUE','string','TRUE'),
('FALSE','string','FALSE'),
('True','string'

[2019-05-13 21:50] stevestein commented on #2025
@ElmarJ - Thank you for bringing up this issue! We opened an internal work item to review and update this article. To track this in our ticketing system we opened work item 1530457. Since we're now tracking this internally, I'll proceed with closing out this Issue. However, please feel free to contact us if you have any additional information. Thanks again!

[2019-05-13 21:50] #2025 closed

[2019-05-13 21:55] stevestein commented on #2123
@liaqatg - Thanks for the feedback! Glad the article assisted in accomplishing your task!

Thanks!

[2019-05-13 21:55] #2123 closed

[2019-05-13 22:58] mlongoria opened #2130 "Example query doesn't run on SQL DW in Azure Data Studio/SSMS 17.9.1 without putting brackets around [label]"
When I copy and paste the query listed under "A. Listing all classified columns and their corresponding classification" and execute it on an Azure SQL DW (Gen 2 or Gen 1), it throws an error: "Parse error at line: 3, column: 5: Incorrect syntax near 'Label'.". If I change Label to [Label] the query runs fine. Is label now a keyword? Do I need to update a driver or library somewhere? I consistently

[2019-05-14 00:04] brettshearer commented on #2007
I think the documentation should be updated to indicate how to get a non zero value. I tested this with Multiple Active Result sets enabled on the connection and managed to get it to be non-zero.

[2019-05-14 01:39] KrunchMuffin opened #2131 "missing ("
in the 5th code block on the page you have a line like this
skills nvarchar(max) '$.info.skills' as json) &lt;&lt;&lt;&lt;&lt;
but that ending ) has no beginning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 991167bc-4e0e-1fc8-d0bb-f282b51b3321
* Version Independent ID: 0b5cf834-d452-dd57-d51d-268083011e33
* Content:

[2019-05-14 08:14] MightyPen commented on #2107
@Bartolomeus-649 This Issue 2107 is now fixed by Pull Request 10195 (in our private repo).
In general, before the PR 10195, the article spoke misleadingly about the relationship between MSDTC and Azure SQL Database.  The article implied that MSDTC applied to Azure SQL DB.
The article as revised by PR 10195 clarifies that distributed transactions can apply to Az SQL DB, just not by using MSDTC.
Tha

[2019-05-14 08:14] #2107 closed

[2019-05-14 11:56] lukaseder opened #2133 "Wrong menu path for this page?"
Why is UPDATE in the Queries menu, whereas DELETE, INSERT, MERGE are in the Statements menu? Doesn't seem to make sense to me...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc5aa35c-e2c9-1cce-0026-6aae93b30504
* Version Independent ID: 85e9daaa-2af1-95c6-8795-75976c36ccba
* Content: [UPDATE (Transact-SQL) - SQL Serv

[2019-05-14 13:50] thebruuu commented on #2089
Any news on that, Stevestein?

[2019-05-14 14:03] vibs2006 opened #2134 "No where specified that a semi colon is mandatory before throw keyword"
I wasted quite a lot of time in identifying the cause of why my throw statement was not working. As usual with the help of StackOverflow, I discovered that whenever throw statement is called then the statement before that keyword should be terminated by a SEMICOLON. Can the author tell me where is this mentioned in this documentation page anywhere!?

---
#### Document Details

⚠ *Do not edit this

[2019-05-14 14:44] VanMSFT commented on #2117
Hello @NileshGule! Thank you for submitting this Issue. We appreciate you taking your time to go through our documentation and asking about managing SQL Server AG with AKS. Since this forum is specifically just for documentation issues, I suggest trying the following options to get your question answered:

- [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-s

[2019-05-14 14:46] VanMSFT commented on #2118
Hi @chojrak11! Thank you for bringing up this issue. I'm assigning this to @CarlRabeler to help investigate.

[2019-05-14 14:48] VanMSFT commented on #2119
Hi @NileshGule! Thanks for bringing this issue up. I'll assign this to @MikeRayMSFT to help verify the sample.

[2019-05-14 14:52] VanMSFT commented on #2120
Hi @mturzynskigoyello! Thanks for bringing this issue up. We appreciate your input. If you have any questions on Alice's changes, please let us know. We will go ahead and close this issue as changes are reflected in the documentation.

[2019-05-14 14:52] #2120 closed

[2019-05-14 14:54] VanMSFT commented on #2121
Hi @Brinsi! Thank you for bringing this issue up to us! We really appreciate it. I'm assigning my colleague, Mark to investigate.

cc: @markingmyname

[2019-05-14 14:58] VanMSFT commented on #2124
Hi @LarnuUK! Thank you for bringing this issue up. I'm assigning this issue to my colleague, Carl to see if clarification is needed.

cc: @CarlRabeler

[2019-05-14 15:03] VanMSFT commented on #2125
Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. I'm assigning my colleague, Jason to take a look further.

If you're suggesting a simple change to the documentation, it may be faster for you to submit the edit yourself via a Pull Request (PR). You can do so by following these steps:
1. Navigate to the page of inte

[2019-05-14 15:05] VanMSFT commented on #2126
Hello @sarafpradeep!

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. I'm assigning my colleague, Carl to take a look further.

If you're suggesting a simple change to the documentation, it may be faster for you to submit the edit yourself via a Pull Request (PR). You can do so by following these steps:
1. Navigat

[2019-05-14 15:07] VanMSFT commented on #2129
Hello @joseplar! Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. I'm assigning my colleague, Mike to take a look further.

[2019-05-14 15:09] VanMSFT commented on #2130
Hello @mlongoria! Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. I'm assigning my colleague, Julie to take a look.

[2019-05-14 15:18] VanMSFT commented on #2131
Hello @KrunchMuffin! Thank you so much for your help on this! I have gone ahead and added the missing parenthesis to the mentioned code block. Changes should take place this afternoon. If you have any questions, please feel free to let us know. We will go ahead and close this. Thank you again for helping us correct the documentation!

https://github.com/MicrosoftDocs/sql-docs-pr/pull/10204

[2019-05-14 15:21] #2131 closed

[2019-05-14 15:26] VanMSFT commented on #2133
Hi @lukaseder! Thank you for contacting Microsoft and providing your feedback to our documentation! I'm assigning my colleague, Gene to take a look at the table of contents to see if we can clarify DML operations locations.

cc: @MashaMSFT

[2019-05-14 15:35] vmvmpvm opened #2135 "User only install support for SSMS"
Can SSMS support user only install (i.e. without requiring Admin/Elevated Privileges)?

[2019-05-14 15:35] VanMSFT commented on #2134
Hello @vibs2006! Thank you for submitting this Issue. The answer you are looking for is in the Remarks section:

https://docs.microsoft.com/en-us/sql/t-sql/language-elements/throw-transact-sql

![image](https://user-images.githubusercontent.com/40007119/57711113-ff8e6b00-7622-11e9-9e83-bd6eac69dfa4.png)

[2019-05-14 15:36] #2134 closed

[2019-05-14 15:44] mturzynskigoyello commented on #2120
Thanks! it indeed looks better :)

[2019-05-14 15:48] VanMSFT commented on #2135
Hello @vmvmpvm! Thank you for submitting this question! I'm assigning this to my colleague, Mark who will help answer your SSMS installation question.

https://docs.microsoft.com/sql/ssms/sql-server-management-studio-ssms

@markingmyname - Please update the SSMS documentation with permission requirements
cc: @stevestein

[2019-05-14 15:49] aldelar commented on #2125
I see the page applies to SQL Server, which may be confusing to users, since PolyBase is also available on Azure SQ Datawarehouse and DB.

The syntax for creating an external source to Blob Storage is different for SQL DW and SQL DB:
- SQL DW: HADOOP
- SQL DB: BLOB_STORAGE

Did not try on SQL Server, so the doc may be correct here, but overall it is confusing functionality since the same outcome i

[2019-05-14 17:41] CarlRabeler commented on #2124
@LarnuUK fixing now - thanks.

[2019-05-14 17:45] CarlRabeler commented on #2118
@chojrak11 temporal history retention is a feature of Azure SQL Database and not SQL Server (unless something changed recently). Do you have information that this capability is supported in SQL Server?

[2019-05-14 18:22] LuisGonzalezLT opened #2137 ""To modify the properties of an index in Object Explorer" - Properties is not available in SSMS for Azure SQL Database"
Right-Clicking on an index within an Azure SQL Database does not provide a Properties selection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 123d4429-8bbe-c1d0-260e-359e0c032bdd
* Version Independent ID: 22a9b1a0-264b-afe6-405b-7d1ce31b45a6
* Content: [Set Index Options - SQL Server](https://docs.microsoft.com/en-us

[2019-05-14 18:30] pmasl commented on #2089
@thebruuu you mean you followed the instruction on the Sharepoint documentation link?

[2019-05-14 19:43] julieMSFT commented on #2130
Hi @mlongoria, Thank you for your question. Label is a key word for Azure SQL DW and it is documented [here](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/reserved-keywords-transact-sql?view=azure-sqldw-latest). I will update the example in sys.sensitivity_classifications (Transact-SQL) - SQL Server to reflect this. Thank you again for bringing this to our attention.

[2019-05-14 19:57] sarafpradeep commented on #2126
Same index name can be created on two different objects under same schema. thank you. I meant to address primary key.

[2019-05-14 19:57] #2126 closed

[2019-05-14 20:03] julieMSFT commented on #2130
#10209

[2019-05-14 20:07] julieMSFT commented on #2130
[PR](https://github.com/MicrosoftDocs/sql-docs-pr/pull/10209)

[2019-05-14 20:09] julieMSFT commented on #2130
Hi @mlongoria, the changes have been made to the documentation. You will be able to see the changes in the next 24 hours. I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-05-14 20:11] #2130 closed

[2019-05-14 22:22] julieMSFT commented on #1939
Hi @DoyleJOfTexas, Thank you for your question. "the same" is answered lower in the article in more detail.
"If you frequently run queries that involve an equi-join between two or more partitioned tables, their partitioning columns should be the same as the columns on which the tables are joined. Additionally, the tables, or their indexes, should be collocated. This means that they either use the

[2019-05-14 22:51] julieMSFT commented on #2109
Hi @IanKemp, Thank you for bringing this to our attention. I will be updating the documents to state that sp_query_store_consistency_check only works with SQL version 2017 and later. For a 2016 version that is in an error state the only possible mitigation would be to run the following which will clear out the data:
ALTER DATABASE [YourDatabaseName]
SET QUERY_STORE CLEAR ALL;

Please let me know i

[2019-05-15 11:50] traineedevops opened #2142 "Got "Setup Failed" during installation of Microsoft SQL Server Management Studio"
Got "Setup Failed"
"The certificate was explicitly marked as untrusted by the user (0x800B0111)"
during installation of Microsoft SQL Server Management Studio

I have to say, I didn't change any certificates before installation and follow all provided instructions...
After I got this issue, I tryed to solve this with provided documentation: I didn't find any installed files or folders in Registry

[2019-05-15 12:29] chojrak11 commented on #2118
I got it running on SQL Server 2017 14.0.3076.1, don't know about older versions. This syntax worked for me. INFINITY option doesn't work

[code]

[2019-05-15 12:54] tschleining opened #2143 "Block Blob limits"
The section #blockbloborpageblob state "When you backup to block blob, the maximum block size you can specify is 4MB. The maximum size of a single block blob file is 4MB * 50000 = 195GB. If your database is larger than 195GB, we recommend you:"  As per https://docs.microsoft.com/en-us/azure/storage/common/storage-scalability-targets#azure-blob-storage-scale-targets these maximums have been updated

[2019-05-15 13:42] rothja commented on #2125
@aldelar Thanks for contacting us on this. I'm going to take a look and see if I can update the page to make this correct / more clear.

[2019-05-15 13:49] rothja commented on #2060
@EmileTenhagen Thanks, again for bringing this to our attention. I have confirmed that this seems to be a bug or an unintentional behavior with AD groups. We have filed a work item to investigate, but for now we don't have a work around. If you can't use a non-local group, then you could consider opening up a support request with us to see if they can help figure out how to get this working. Other

[2019-05-15 13:49] #2060 closed

[2019-05-15 13:51] rothja commented on #2058
@rlundy Thanks, again, for letting us know your confusion on this article. I have updated the article to have a CMD option as well to avoid that confusion in the future. I have also made some other changes for clarity. I'm closing this Git issue now, but let me know if you have any other questions. Thanks!

[2019-05-15 13:51] #2058 closed

[2019-05-15 13:53] rothja commented on #2024
@jstafford5380 I verified with the product team that mapping any volume should work and the interaction is up to Docker rather than something specific about the container. I'm going to close this Git Issue now, but if you have any other questions or feedback on this, please reach out to me, and I'll reopen it. Thank you!!

[2019-05-15 13:53] #2024 closed

[2019-05-15 17:28] KalleOlaviNiemitalo opened #2144 "T-SQL reference moved within "Backup & restore" in TOC"
At [Transact-SQL Reference (Database Engine)](https://docs.microsoft.com/en-us/sql/t-sql/language-reference?view=sql-server-2017), the table of contents and the breadcrumb bar show "Docs / SQL / Business continuity / Backup & restore / How-to / Configuration / Manage suspect_pages table" as the selected article.

At [CREATE TABLE (Transact-SQL)](https://docs.microsoft.com/en-us/sql/t-sql/statement

[2019-05-15 19:30] julieMSFT commented on #2109
#10229

[2019-05-15 19:35] julieMSFT commented on #2109
Hi @IanKemp, I have updated the documents to reflect that `sp_query_store_consistency_check` only works for SQL 2017 and later. The updates will go live later today. I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-05-15 19:35] #2109 closed

[2019-05-15 19:37] julieMSFT commented on #1939
Hi @DoyleJOfTexas, I hope this answered your question. I will proceed with closing out this Git Issue, but please feel free to respond should you need anything further. Thanks!

[2019-05-15 19:53] julieMSFT commented on #1939
#10230

[2019-05-15 21:15] #1939 closed

[2019-05-15 21:17] KalleOlaviNiemitalo commented on #2144
Seems to be working now.

[2019-05-15 21:17] #2144 closed

[2019-05-15 21:29] langstonj opened #2145 "Minor point -- sys.server_triggers is not valid for Azure SQL Database"
sys.server_triggers is not valid for Azure SQL Database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6c6196a-41af-9c74-36ef-fcb6a4d28c27
* Version Independent ID: 72127529-08f8-5305-35d6-7ccd012a5862
* Content: [Manage Trigger Security - SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/triggers

[2019-05-15 22:55] VanMSFT commented on #2137
Hello @LuisGonzalezLT - Thanks for bringing this issue up! You're right. I'm assigning this to my colleague, Mike for any changes.

[2019-05-16 00:03] VanMSFT commented on #2142
Hello @traineedevops,

Thanks for contacting Microsoft!  From my understanding, the issue you're describing seems to be an issue with the product, is that correct? If so, unfortunately, this form of contact is intended explicitly for reporting issues with the documentation, and not for the product. To get further assistance with your issue, we'd recommend engaging the community, or opening a ticke

[2019-05-16 00:09] VanMSFT commented on #2143
Hi @tschleining! Thank you for bringing this to our attention. I'm assigning this issue to my colleague, Mike who will help clarify and update the documentation as needed.

[2019-05-16 00:10] VanMSFT commented on #2145
Hello @langstonj!

Thank you for contacting Microsoft and providing your feedback to our documentation! We'll need some time to look into this further. I'm assigning my colleague, Jason to take a look.

If you're suggesting a simple change to the documentation, it may be faster for you to submit the edit yourself via a Pull Request (PR). You can do so by following these steps:
1. Navigate to the p

[2019-05-16 00:16] MashaMSFT commented on #2144
Hi @KalleOlaviNiemitalo , thank you so much for bringing this to our attention! Yes, this was a bug that was inadvertently introduced into the TOC, and has since been fixed :) We apologize for the inconvenience, and appreciate you notifying us!

Hope you have a wonderful rest of your day :)

[2019-05-16 04:34] TrevorMullen commented on #2121
I'd just like to add my voice... removing one of the top 3 most valuable features from this product is probably going to hurt the product - quite a lot.
If the team can't make it work for Azure databases, we can live with it being grayed out for them, but for non-Azure databases, this feature is not optional.
Reverting to previous version now until you get this fixed.

[2019-05-16 07:20] alesucman commented on #2121
I Agree with @TrevorMullen. If this is a mistake you are forgiven. If this is intentionally hurting the product and removing a really nice feature I hope somone gets fired for a stupid decision like this.

[2019-05-16 08:01] Houuse opened #2146 "working with more complex Json (array of identical objects)"
[Enter feedback here]
how to query an array of identical json objects every object has a diffirent value ?

consider the following json
`{
 [
     {
	"info": {
		"type": 1,
		"address": {
			"town": "Bristol",
			"county": "Avon",
			"country": "England"
		},
		"tags": ["Sport", "Water polo"]
	},
	"type": "Basic"
    },
         {
	"info": {
		"type": 2,
		"address": {
			"town": "London",
			"cou

[2019-05-16 10:04] Phil-Factor opened #2147 "The 'Download PDF"
Clicking on the Download PDF tab downloads nothing, sadly, into Chrome's pdf viewer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7905a22-ac02-266e-ae4b-75e86d519cbe
* Version Independent ID: 3f56e8cf-abde-14fe-1b74-82e8a87df274
* Content: [sp_validname (Transact-SQL) - SQL Server](https://docs.microsoft.com/en-us/s